@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Order";
}

@await Html.PartialAsync("~/Views/VendorOrder/Menu.cshtml")


<div class="row panelBorder" ng-app="hcue" ng-controller="VendorOrderCreateCtrl" ng-cloak ng-init="init();">
    <input type="hidden" value="@ViewBag.customOrder" id="hdnCustomOrder" />
    <div ng-hide="IsOffline && !isOnlineEnabled">

        <div class="order-sublist">
            @if (User.HasPermission(UserAccess.AddNewProduct))
            {
                <a title="Add New Product" data-ng-click="PopupAddNewProduct()" class="btn btn-new pull-right ">Add New Product</a>
            }
            <ul class="clearfix">
                <li><button title="By Vendor" class="{{vendorclass}}" ng-click="showByVendor()">By Vendor</button></li>
                <li><button title="By Transaction" class="{{salesclass}}" ng-click="showBySales()">By Transaction</button></li>
                <li><button title="By Min & Max Reorder" class="{{minMaxReorderClass}}" ng-click="showByMinMaxReorder()">By Min & Max Reorder</button></li>
            </ul>
        </div>

        @*By Vendor Section*@

        <div ng-show="ByVendorSection">
            <ng-form id="vendorOrderItems" name="vendorOrderItems">
                <div class="order-section" style="height:auto">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-list">
                                <label>Vendor</label>
                                <select chosen
                                        id="vendor"
                                        title="Vendor Name"
                                        option="vendorList"
                                        data-placeholder="Select Vendor Name"
                                        ng-model="save.selectedVendor"
                                        ng-options="option.name for option in vendorList track by option.id"
                                        class="form-control"
                                        name="vendorName"
                                        required
                                        ng-change="changeVendorName(save.selectedVendor)">
                                    <option value=""></option>
                                </select>
                                <span ng-show="vendorOrderItems.vendorName.$error.required" class="error">Select Vendor</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-list purchase-product" id="divProduct">
                                <label class="required">Product</label>
                                <input type="text"
                                       ng-model="save.selectedProduct"
                                       typeahead-min-length="1"
                                       placeholder="Product"
                                       ng-enter="focusNextField(save.selectedProduct,'txtpackageSize')"
                                       id="drugName"
                                       required
                                       name="drugName"
                                       typeahead-on-select="onProductSelect(save.selectedProduct.name,save.selectedProduct.id)"
                                       typeahead-editable="false"
                                       uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                       class="form-control form-control-small"
                                       typeahead-template-url="itemTpl.html" />
                                <script asp-append-version="true" type="text/ng-template" id="itemTpl.html">

                                    <a tabindex="-1" class="productddl" ng-if="match.model.accountId==null">
                                        <span class='global'>G </span><span class="gap"> </span>
                                        <span ng-bind-template="{{match.model.name}}"></span>
                                    </a>
                                    <a tabindex="-1" class="productddl" ng-if="match.model.accountId!=null">
                                        <span class='global local'>L </span><span class="gap"> </span>
                                        <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
                                    </a>
                                </script>

                            </div>
                        </div>

                        <div class="col-md-2" style="width:12%; padding-right:0px;">
                            <div class="form-list">
                                <label>Strip Price</label>
                                <input type="text" name="purchaseprice" style="width:90px;" placeholder="Purchase Price" class="form-control" id="txtPurchasePrice"
                                       ng-model="save.purchasePrice"  />
                            </div>
                        </div>

                        @if (User.GSTEnabled() == "False")
                        {
                            <div class="col-md-1" style="width:12%; padding-right:0px;">
                                <div class="form-list">
                                    <label>Vat%</label>
                                    <input type="text" name="Vat" placeholder="Vat %" class="form-control" ng-model="save.vat" id="txtVat"  />
                                </div>
                            </div>
                        }
                        <div class="col-md-1" style="width:10%; padding-left:0px;">
                            <div class="form-list">
                                <label>GST%</label>
                                <input type="text" name="gstTotal" placeholder="GST %" class="form-control" ng-model="save.gstTotal" id="txtgstTotal"  />
                            </div>
                        </div>
                        <div class="col-md-1" style="width:11%;">
                            <div class="form-list">
                                <label>Units/strip</label>
                                <input type="text" name="packageSize" id="txtpackageSize" ng-enter="focusNextField(save.packageSize,'txtPackageQty')" placeholder="Units/strip" class="form-control" ng-model="save.packageSize" numbers-only valid-number maxlength="5" required />

                                <span class="error" ng-show="vendorOrderItems.packageSize.$touched && vendorOrderItems.packageSize.$invalid">Required</span>



                            </div>
                        </div>
                        <div class="col-md-2" style="width:12%; padding-right:0px;">
                            <div class="form-list">
                                <label>No.of Strips</label>
                                <input type="text" name="packageQty" id="txtPackageQty" style="width:90px;" ng-enter="focusNextField(save.packageQty,'txtFreeQty')" placeholder="No.of Strips" class="form-control" ng-model="save.packageQty" numbers-only valid-number maxlength="5" required />
                                <span class="error" ng-show="vendorOrderItems.packageQty.$touched && vendorOrderItems.packageQty.$invalid">Required</span>
                            </div>
                        </div>
                        <div class="col-md-1" style="padding-left:0px;">
                            <div class="form-list">
                                <label>Free Qty</label>
                                <input type="text" name="freeQty" id="txtFreeQty" ng-enter="focusNextField(save.packageQty,'btnAddOrder')" placeholder="Free Quantity" class="form-control" ng-model="freeQty" ng-disabled="save.selectedVendor.isHeadOfficeVendor==true" numbers-only valid-number maxlength="5" />
                                @*<span class="error" ng-show="vendorOrderItems.freeQty.$touched && vendorOrderItems.freeQty.$invalid">Required</span>*@
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-list">
                                <button title="Add" id="btnAddOrder" class="btn btn-small btn-style form-control" ng-disabled="vendorOrderItems.$invalid ||vendorOrderItems.packageSize.$modelValue==0 || vendorOrderItems.packageQty.$modelValue == 0" style="margin-top:20px;" ng-click="addOrder()">Add</button>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="padding-top:5px">
                        <div class="col-md-3">
                            <div class="form-list">
                                <label ng-show="save.selectedProduct"><b>Generic Name</b></label>
                                <div>
                                    <span>{{save.selectedProduct.genericName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-list">
                                <label ng-show="save.selectedProduct"><b>Manufacturer Name</b></label>
                                <div>
                                    <span>{{save.selectedProduct.manufacturer}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-form>


            <div class="panel panel-default" ng-hide="vendorOrder.length == 0" style="margin-top:25px;">
                <div class="col-sm-12" style="padding:0;">
                    <div class="panel">
                        <div class="panel-body orange-border-top list-wrapper sell-group-decor8">
                            <div class="row  ">
                                <div class="row tblHeader">
                                    <div class="col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
                                        <div class="col-lg-12 override_margin text-center">

                                            <span class="col-lg-1 col-md-1"></span>


                                            <span class="col-lg-10 col-md-10" style="padding:0px;text-align:center;">Vendor Name</span>
                                            <span class="col-lg-1 col-md-1"></span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-repeat="vendor in vendorOrder track by $index">
                                    <div class="chip-style sell-group-decor8">
                                        <div class="col-md-12 sell-group-decor9 col-lg-12">
                                            <div class="col-lg-1 col-md-1">
                                                <button class="chip-btn" title="+" data="{{$index}}" id="chip-btn{{$index}}" ng-click="toggleProductDetail($index)">+</button>
                                            </div>
                                            <div class="col-lg-10 col-md-10 text-center"><span class="sell-decor11" style="text-align:center"> {{vendor.selectedVendor.name}}</span></div>
                                            <div class="col-lg-1 col-md-1"><a class="btn btn-style pull-right" style="margin: 4px !important; font-size: 10px" title="Remove" ng-click="removeVendor($index)">Remove</a></div>





                                        </div>
                                    </div>
                                    <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                        <table class="table override_margin sell-group-decor10">
                                            <thead class="chips-header">
                                                <tr>
                                                    <th class="text-left">S.no</th>
                                                    <th class="text-left">Product</th>
                                                    <th class="text-center">Units/strip</th>
                                                    <th class="text-left">Manufacturer Name</th>
                                                    <th class="text-right">Strip Price</th>
                                                    @if (User.GSTEnabled() == "False")
                                                    {
                                                        <th class="text-center">Vat</th>
                                                    }
                                                    <th class="text-center">GST</th>
                                                    <th class="text-center">No.of Strips</th>
                                                    <th class="text-center">Free Qty</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-left" ng-repeat="orderitem in vendor.VendorOrderItem track by $index">
                                                    <td class="text-left">{{$index+1}}</td>
                                                    <td><a style="color:blue" ng-click="showStockBranchWise(orderitem.id, orderitem.name)" title="Previous Purchase Details" href="">{{orderitem.name}}</a></td>
                                                    <td class="text-center">
                                                        <span ng-hide="orderitem.isEdit">{{orderitem.packageSize}}</span>

                                                        <input ng-show="orderitem.isEdit" type="text" placeholder="Units/strip"
                                                               ng-model="orderitem.packageSize" ng-change="changeQuantity($parent.$index,$index,orderitem.packageSize,orderitem.packageQty)" valid-Number numbers-only />

                                                    </td>
                                                    <td class="text-left">{{orderitem.manufacturer}}</td>
                                                    <td class="text-right" style="padding-right:30px;">{{orderitem.purchasePrice | number:2}}</td>
                                                    @if (User.GSTEnabled() == "False")
                                                    {
                                                        <td class="text-center">{{orderitem.vat}}</td>
                                                    }
                                                    <td class="text-center">{{orderitem.gstTotal}}</td>

                                                    <td class="text-center">
                                                        <span ng-hide="orderitem.isEdit">{{orderitem.packageQty}}</span>
                                                        <input ng-show="orderitem.isEdit" type="text" placeholder="NO.of Strips"
                                                               ng-model="orderitem.packageQty" ng-change="changeQuantity($parent.$index,$index,orderitem.packageSize,orderitem.packageQty)" valid-Number numbers-only />

                                                    </td>
                                                    <td class="text-center">
                                                        <span ng-hide="orderitem.isEdit">{{orderitem.freeQty}}</span>
                                                        <input ng-show="orderitem.isEdit" type="text" placeholder="Free Qty"
                                                               ng-model="orderitem.freeQty" ng-change="changeQuantity($parent.$index,$index,orderitem.packageSize,orderitem.packageQty)" ng-disabled="save.selectedVendor.isHeadOfficeVendor==true" valid-Number numbers-only />
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="btn btn-style text-center" style="margin: 4px !important; font-size: 10px" title="Remove" ng-click="removeOrder($parent.$index,$index)">Remove</a>

                                                        <a class="btn btn-style text-center" ng-hide="orderitem.isEdit" style="margin: 4px !important; font-size: 10px" title="Edit" ng-click="editOrder($parent.$index,$index)">Edit</a>

                                                        <a class="btn btn-style text-center" ng-show="orderitem.isEdit" style="margin: 4px !important; font-size: 10px" title="Done" ng-disabled="orderitem.disableDone" ng-click="doneOrder($parent.$index,$index)">Done</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
                    </div>
                </div>
            </div>


            <div class="panel panel-default" ng-hide="vendorOrder.length == 0">
                <div class="panel-footer clearfix">
                    <div class="pull-left">
                        <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                    </div>
                    <div class="pull-right">
                        <button title="Order" class="btn btn-style" ng-disabled="(vendorOrder.length == 0 || isProcessing)" ng-click="saveOrder()">Order</button>
                    </div>
                </div>
            </div>
        </div>
        @*By Sales Section*@
        @*// Vendor name, Show zero stock & Pending po qty filter added by Settu *@
        <div ng-show="BySalesSection || ByMinMaxReorderSection">
            <div class="row panel panel-body" style="padding-bottom:15px!important;" ng-show="SalesVendorOrderFilter.length != 0 || BySalesSection">
                <div class="row" ng-show="BySalesSection">
                    <div class="col-lg-1 custom-margin">
                        <input ng-model="salesType" type="checkbox" id="bySales" /> By Sales
                    </div>
                    <div class="col-lg-1 custom-margin">
                        <input ng-model="transferType" type="checkbox" id="byTransfer" /> By Transfer
                    </div>
                    <div class="col-lg-1 custom-margin" ng-hide="true">
                        <input ng-model="byMissedOrder" type="checkbox" id="byMissedOrder" /> By Missed Sales
                    </div>
                    <div class="col-lg-1 custom-margin" ng-show="instance.isHeadOffice">
                        <input ng-model="byIndentOrder" type="checkbox" id="byIndentOrder" /> By Indent Qty
                    </div>
                    <div class="col-lg-1 custom-margin">
                        <input ng-model="loadAllProducts" type="checkbox" id="loadAllProducts" /> Show All Products
                    </div>
                </div>
                <div class="col-md-6 override_margin" style="margin-top:5px!important;" ng-hide="ByMinMaxReorderSection">
                    <ng-form id="SalesVendorOrderItems" name="SalesVendorOrderItems">
                        <div class="col-md-4 override_margin">
                            <div class="form-list">
                                <label>From Date</label>
                                <div class="input-group">
                                    <input type="text" title="From Date" id="txtFromdate" class="form-control" uib-datepicker-popup="dd/MM/yyyy" placeholder="From Date" ng-model="fromDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date="" required name="fromDate" ng-change="validatedate(fromDate,'fromdate')" readonly />
                                    <span class="input-group-btn wrapper-date">
                                        <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                                <span class="error" ng-show="SalesVendorOrderItems.fromDate.$touched && SalesVendorOrderItems.fromDate.$invalid">Required</span>
                                @*<span class="error" ng-show="fromDateError">Invalid Date</span>*@
                            </div>
                        </div>
                        <div class="col-md-4 override_margin">
                            <div class="form-list">
                                <label>To Date</label>
                                <div class="input-group">
                                    <input type="text" title="To Date" id="txtTodate" class="form-control" uib-datepicker-popup="dd/MM/yyyy" placeholder="To Date" ng-model="toDate" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date="" required name="toDate" ng-change="validatedate(toDate,'todate')" readonly />
                                    <span class="input-group-btn wrapper-date">
                                        <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                                <span class="error" ng-show="SalesVendorOrderItems.toDate.$touched && SalesVendorOrderItems.toDate.$invalid">Required</span>
                                @*<span class="error" ng-show="todateError">Invalid Date</span>*@
                            </div>
                        </div>

                        <div class="col-md-4 override_margin">
                            <div class="col-md-8 override_margin">
                                <div class="form-list">
                                    <label>Reorder Factor</label>
                                    <input type="text" title="Reorder Factor" min="1" placeholder="Reorder Factor" class="form-control" maxlength="5" ng-model="search.reOrderFactor" required name="reOrderFactor" ng-enter="focusBtnSearch()" valid-number />
                                </div>
                                <span class="error" ng-show="SalesVendorOrderItems.reOrderFactor.$touched && SalesVendorOrderItems.reOrderFactor.$invalid">Required</span>
                                <span class="error" style="margin-left:0px;" ng-show="(SalesVendorOrderItems.reOrderFactor.$viewValue < 0 || SalesVendorOrderItems.reOrderFactor.$viewValue == 0 || SalesVendorOrderItems.reOrderFactor.$viewValue >  99) && SalesVendorOrderItems.reOrderFactor.$valid">Between 0 and 99 Allowed</span>
                            </div>
                            <div class="col-md-4 override_margin" style="margin-top:20px!important;">
                                <div class="form-list">
                                    <button title="Search" class="btn btn-style" ng-disabled="SalesVendorOrderItems.$invalid || (SalesVendorOrderItems.reOrderFactor.$viewValue < 0 || SalesVendorOrderItems.reOrderFactor.$viewValue == 0|| SalesVendorOrderItems.reOrderFactor.$viewValue >  99)" ng-click="searchSales()">Search</button>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
                <div class="col-md-6 override_margin">
                    <div class="col-md-4 override_margin mar-left-10" ng-show="SalesVendorOrderFilter.length != 0">
                        <label>Select Vendor Name</label>
                        <select chosen
                                id="txtFilteredVendor"
                                title="Vendor Name"
                                option="vendorListFilter"
                                data-placeholder="Select Vendor Name"
                                ng-model="filteredVendor"
                                ng-options="option.name for option in vendorListFilter track by option.id"
                                class="form-control"
                                name="txtFilteredVendor"
                                required
                                ng-change="salesVendorOrderFilter(filteredVendor)">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="col-md-2 override_margin mar-left-10" ng-show="SalesVendorOrderFilter.length != 0">
                        <div class="col-md-2 override_margin" style="margin-top:25px!important;">
                            <div class="form-list">
                                <input type="checkbox" title="Show Zero Stock Rows" id="chkZeroRows" ng-model="showZeroRows" style="cursor:pointer;" ng-click="salesVendorOrderFilter(filteredVendor)">
                            </div>
                        </div>
                        <div class="col-md-10 override_margin" style="margin-top:20px!important;">
                            <label>Show Only Zero Stock</label>
                        </div>
                    </div>

                    <div class="col-md-3 override_margin" ng-show="SalesVendorOrderFilter.length != 0">
                        <div class="col-md-2 override_margin" style="margin-top:25px!important;">
                            <div class="form-list">
                                <input type="checkbox" title="Include PO Pending Items" id="chkShowAll" ng-model="showPOItems" style="cursor:pointer;" ng-click="salesVendorOrderFilter(filteredVendor)">
                            </div>
                        </div>
                        <div class="col-md-9 override_margin" style="margin-top:20px!important;">
                            <label>Include Pending PO Items</label>
                        </div>
                    </div>

                    <div class="col-md-2 override_margin" style="margin-top:20px!important;" ng-show="SalesVendorOrderFilter.length != 0 && !ByMinMaxReorderSection">
                        <div class="form-list">
                            <strong>Reorder Factor : {{filter.reorderfactor}} </strong>
                        </div>
                        <button class="fa fa-file-excel-o override-margin pull-right export" ng-disabled="customSalesVendorOrder.length == 0 && SalesVendorOrder.length == 0" title="Export To CSV"
                                ng-click="exportDataToCsv()"></button>
                    </div>
                </div>
                <div>
                    No of Days: {{orderSettings.noOfDaysFromDate}}
                </div>



            </div>

            <div ng-show="@ViewBag.customOrder == 1 && ByMinMaxReorderSection != true">
                @*<div class="row" ng-hide="customSalesVendorOrder.length == 0">
                        <div class="col-lg-4"><strong class="col-lg-6 text-right" style="padding-right:0px;">From Date :   </strong> 	<strong class="col-lg-6 text-left" style="padding-left:10px;">{{filter.fromdate | date:'dd/MM/yyyy'}}</strong></div>
                        <div class="col-lg-4"><strong class="col-lg-6 text-right" style="padding-right:0px;">To Date :</strong> <strong class="col-lg-6 text-left" style="padding-left:0px;">{{filter.todate  | date:'dd/MM/yyyy'}}</strong></div>
                        <div class="col-lg-4"><strong class="col-lg-6 text-right" style="padding-right:0px;">Re Order Factor :</strong> <strong class="col-lg-6 text-left" style="padding-left:0px;">{{filter.reorderfactor}}  </strong></div>
                    </div>*@
                <div class="panel panel-default" ng-show="customSalesVendorOrder.length != 0" style="margin-top:-15px;">
                    <div class="byorder-list byorder-listt">
                        <table>
                            <thead style="display: block;">
                                <tr>
                                    <th style="width: 5%;text-align: left;">S.no</th>
                                    <th style="width: 14%;text-align: center;">Vendor Name</th>
                                    <th class="text-left" style="width: 18%;">Product Name</th>
                                    @*<th style="width: 5%;text-align: right;">Last Month Tran Qty</th>*@
                                    <th style="width: 5%;text-align: left;">Prv. Month Tran Qty </th>
                                    <th style="width: 5%;text-align: left;">Req. Qty </th>
                                    <th style="width: 5%;text-align: left;">Stock</th>
                                    <th style="width: 8%;text-align: left;">Units/strip</th>                                    
                                    <th style="width: 5%;text-align: center;">Suggested Strip</th>
                                    <th style="width: 7%;text-align: left;">Ordered Strip</th>
                                    <th style="width: 8%;text-align: center;">Free Qty</th>
                                    <th style="width: 8%;text-align: left;">Strip Price</th>
                                    <th style="width: 7%;text-align: left;">Mrp/Strip</th>
                                    <th style="width: 7%;text-align: center;">Amount</th>
                                    @*<th style="width: 8%;text-align: left;">ExpDate</th>*@
                                    <th style="width: 5%;text-align: left;">Pending PO Strip</th>
                                    <th style="width: 5%;text-align: left;">
                                        Draft Save
                                        <input type="checkbox" title="Set all to draft" id="chkDraft" ng-model="draftAll" style="margin-left:10px;cursor:pointer;" ng-click="saveAlltoDraft(draftAll)">
                                    </th>
                                    <th style="width: 3%;text-align: center;"></th>
                                    <th style="width: 4%;text-align: center;"></th>
                                </tr>
                            </thead>
                            <tbody style="overflow-y: auto;height: 410px;display: block;overflow-x: hidden;">
                                <tr ng-repeat="item in customSalesVendorOrder track by $index" style="background-color:{{item.macthedPrevious==1 ? '#FFDAB9' : item.macthedPrevious==2 ? '#E0FFFF' : ''}}">
                                    <td class="text-center" style="width: 5%;">{{$index+1}}</td>
                                    <td class="tdSelect" align="right" style="width: 12%;">
                                        <input type="text"
                                               ng-model="item.selectedVendor"
                                               typeahead-min-length="1"
                                               placeholder="Vendor Name"
                                               id="txtCustomSalesVendor{{$index}}"
                                               typeahead-on-select="customOnSalesVendorSelect(item.selectedVendor,$index,0)"
                                               uib-typeahead="vendor as vendor.name for vendor in getVendors($viewValue)"
                                               ng-change="customOnSalesVendorSelect(item.selectedVendor,$index,0)"
                                               class="form-control form-control-small"
                                               ng-enter="focusCustomTxtpackageQty('txtCustomPackageSize',$index,0)" />
                                    </td>

                                    <td class="text-left" style="width: 12%;"><a style="color:blue" ng-click="showStockBranchWise(item.VendorOrderItem[0].productId, item.VendorOrderItem[0].productName)" title="Previous Purchase Details" href=""><span>{{item.VendorOrderItem[0].productName}}</span></a></td>

                                    @*<td class="text-center" style="width: 5%;"><span>{{item.VendorOrderItem[0].tranQty}}</span></td>*@

                                    <td class="text-right" style="width: 5%;"><span>{{item.VendorOrderItem[0].soldqty}}</span></td>

                                    <td class="text-right" style="width: 5%;"><span>{{item.VendorOrderItem[0].requiredQty}}</span></td>

                                    <td class="text-right" style="width: 5%;"><span>{{item.VendorOrderItem[0].stock}}</span></td>


                                    <td style="width: 8%" class="text-right">
                                        <input type="text" class="form-control" id="txtCustomPackageSize{{$index}}_0" placeholder="Units/Strip" ng-model="item.VendorOrderItem[0].packageSize" numbers-only valid-number ng-enter="focustxtCustomsellingPrice('txtCustomQuantity',$index,0)" ng-change="changeCustomVendorQuantity(item.VendorOrderItem[0].packageSize,item.VendorOrderItem[0].packageQty,$index,0)" min="0" maxlength="4" />

                                    </td>
                                    
                                    <td style="width: 7%;text-align: right;">
                                        <input type="text"  class="form-control" id="txtCustomQuantity{{$index}}_0" placeholder="Ordered Qty" ng-model="item.VendorOrderItem[0].suggQuantity" numbers-only valid-number ng-enter="focustxtCustomsellingPrice('txtCustomSellingPrice',$index,0)" ng-change="changeCustomVendorQuantity(item.VendorOrderItem[0].packageSize,item.VendorOrderItem[0].packageQty,$index,0)" min="=0" maxlength="6" />

                                    </td>
                                    <td style="width: 8%">
                                        <input type="text" class="form-control" id="txtCustomQuantity{{$index}}_0" placeholder="Ordered Qty" ng-model="item.VendorOrderItem[0].packageQty" numbers-only valid-number ng-enter="focustxtCustomsellingPrice('txtFreeQyantity',$index,0)" ng-change="changeCustomVendorQuantity(item.VendorOrderItem[0].packageSize,item.VendorOrderItem[0].packageQty,$index,0)" min="=0" maxlength="6" />


                                    </td>
                                    <td style="width: 8%" class="text-right">
                                        <input type="text" placeholder="Free Qty" class="form-control" id="txtFreeQyantity{{$index}}_0"
                                               ng-model="item.VendorOrderItem[0].freeQty" valid-Number ng-enter="focustxtCustomsellingPrice('txtCustomSellingPrice',$index,0)" ng-disabled="item.selectedVendor.id == headOfficeVendorId" numbers-only />
                                    </td>
                                    <td style="width: 6%;" class="text-right">
                                        <span>{{item.VendorOrderItem[0].purchasePrice | number:2}}</span>

                                    </td>
                                    <td style="width: 10%;text-align: right;">
                                        <input type="text" class="form-control" id="txtCustomSellingPrice{{$index}}_0" placeholder="Mrp/Strip" ng-model="item.VendorOrderItem[0].sellingPrice" ng-enter="focustxtCustomExpireDate('txtExpDate',$index,0)" ng-change="calculatePurchasePrice($index)" valid-number maxlength="7" />
                                    </td>
                                    @*<td style="width: 9%">
                                        <input type="text" title="Exp Date" id="txtExpDate{{$index}}_0" class="form-control" uib-datepicker-popup="MM/yy" placeholder="MM/YY" ng-model="item.VendorOrderItem[0].expireDate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date name="fromDate" ng-enter="OnExpDateSelect(item.VendorOrderItem[0].expireDate,$index,0)" ng-keyup="formateDate($index,0,$event,'txtExpDate')" ng-change="saveDraft()" />
                                    </td>*@
                                    <td style="width: 5%;text-align: right;">
                                    <span>{{item.VendorOrderItem[0].purchasePrice * item.VendorOrderItem[0].requiredQty |  number:2}}</span>
                                    </td>
                                    <td style="width: 5%;text-align: right;">
                                        <span>{{item.VendorOrderItem[0].pendingPOQty}}</span>
                                    </td>
                                    <td style="width: 5%;text-align: right;">
                                        <input type="checkbox" title="Set to draft" id="chkDraft{{$index}}" ng-model="item.draft" style="margin-left:20px;cursor:pointer;" ng-click="saveDraft()">
                                    </td>
                                    <td style="width: 1%">
                                        <span title="Delete" ng-click="deleteCustomSaleVendor($index)" style="color:red;cursor:pointer;" class="glyphicon glyphicon-remove"></span>
                                    </td>
                                    <td style="width: 1%">
                                        <button type="button" id="addButton" class="col-md-1 chip-btn" title="Duplicate" ng-click="addCustomSaleVendor($index)">+</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-show="customSalesVendorOrder.length == 0 && draftOrderCount == 0">
                    <div class="row">
                        <div class="right-table-body">
                            <div class="text-center mar-top-135" style="">
                                <img src="/assets/images/nodata.png" ng-show="message == 'No records found'">
                                <div class="msg">
                                    <p class="goback-text">{{message}}</p>
                                    <p ng-show="message == 'No records found'" class="goback-text-line2">{{Filtermessage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" ng-hide="customSalesVendorOrder.length == 0 && draftOrderCount == 0">
                    <div class="panel-footer clearfix">
                        <div class="col-md-6 override_margin">
                            <button title="Re-load draft" class="btn btn-style btn-cancel pull-left" style="margin-left:4px; background-color:#F57105;" ng-click="loadDraft(false)">Load Draft({{draftOrderCount}}) </button>
                        </div>
                        <div class="pull-right" style="margin-left:20px;" ng-hide="customSalesVendorOrder.length == 0">
                            <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancelCustomSalesVendor()">Cancel</button>
                        </div>
                        <div class="pull-right" ng-hide="customSalesVendorOrder.length == 0">
                            <button title="Order" class="btn btn-style" id="btnCustomSaveSalesOrder" ng-disabled="customSalesVendorOrder.length==0" ng-click="saveCustomSalesOrder()">Order</button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="@ViewBag.customOrder != 1 || ByMinMaxReorderSection == true">
                @*<div class="row" ng-hide="SalesVendorOrder.length == 0">
                        <div class="col-lg-4"><strong class="col-lg-6 text-right" style="padding-right:0px;">From Date :</strong> <strong class="col-lg-6 text-left" style="padding-left:6px;">{{filter.fromdate | date:'dd/MM/yyyy'}}</strong></div>
                        <div class="col-lg-4"><strong class="col-lg-6 text-right" style="padding-right:0px;">To Date :</strong> <strong class="col-lg-6 text-left" style="padding-left:6px;">{{filter.todate  | date:'dd/MM/yyyy'}}</strong></div>
                        <div class="col-lg-4"><strong class="col-lg-6 text-right" style="padding-right:0px;">Re Order Factor :</strong> <strong class="col-lg-6 text-left" style="padding-left:6px;">{{filter.reorderfactor}}  </strong></div>
                    </div>*@
                <div class="panel panel-default" ng-show="SalesVendorOrder.length != 0" style="margin-top:-15px;">
                    <div class="byorder-list">
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-left">S.no</th>
                                    <th>Vendor Name</th>
                                    <th>Product Name</th>

                                    <th ng-hide="ByMinMaxReorderSection">Transaction Qty </th>
                                    <th ng-hide="ByMinMaxReorderSection">Req Qty </th>
                                    <th ng-hide="ByMinMaxReorderSection">Stock</th>

                                    <th ng-show="ByMinMaxReorderSection">Min Reorder </th>
                                    <th ng-show="ByMinMaxReorderSection">Stock</th>
                                    <th ng-show="ByMinMaxReorderSection">Max Reorder </th>

                                    <th>Suggested Qty</th>

                                    <th style="padding-left: 0px;width: 6%;">Units/strip</th>
                                    <th style="padding-left: 0px;width: 6%;">Free Qty</th>
                                    <th style="padding-left: 0px;padding-right: 0px;width: 8%;">No Of Strips</th>
                                    <th style="padding-left:30px!important;">Purchase Price/Strip</th>
                                    <th style="padding-left:-5px!important;">MRP/Strip</th>
                                    <th style="padding-left:-5px!important;">Amount</th>
                                    @if (User.GSTEnabled() == "False")
                                    {
                                        <th>Vat%</th>
                                    }
                                    <th>GST%</th>
                                    <th>Pending PO Strip</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in SalesVendorOrderTemp track by $index">
                                    <td class="text-left">{{$index+1}}</td>
                                    <td class="tdSelect">
                                        <input type="text"
                                               ng-model="item.selectedVendor"
                                               typeahead-min-length="1"
                                               placeholder="Vendor Name"
                                               id="txtSalesVendor{{$index}}"
                                               typeahead-on-select="onSalesVendorSelect(item.selectedVendor,$index,0)"
                                               uib-typeahead="vendor as vendor.name for vendor in getVendors($viewValue)"
                                               class="form-control form-control-small"
                                               ng-change="onSalesVendorSelect(item.selectedVendor,$index,0)"
                                               ng-enter="focusTxtpackageQty('txtpackageSize',$index,0)" />
                                    </td>

                                    <td style="padding-left:10px;"> <a style="color:blue" ng-click="showStockBranchWise(item.VendorOrderItem[0].productId, item.VendorOrderItem[0].productName)" title="Previous Purchase Details" href=""><span>{{item.VendorOrderItem[0].productName}}</span></a></td>

                                    <td class="text-center" ng-hide="ByMinMaxReorderSection"><span>{{item.VendorOrderItem[0].soldqty}}</span></td>
                                    <td class="text-center" ng-hide="ByMinMaxReorderSection"><span>{{item.VendorOrderItem[0].requiredQty}}</span></td>
                                    <td class="text-center" ng-hide="ByMinMaxReorderSection"><span>{{item.VendorOrderItem[0].stock}}</span></td>

                                    <td class="text-center" ng-show="ByMinMaxReorderSection"><span>{{item.VendorOrderItem[0].soldqty}}</span></td>
                                    <td class="text-center" ng-show="ByMinMaxReorderSection"><span>{{item.VendorOrderItem[0].stock}}</span></td>
                                    <td class="text-center" ng-show="ByMinMaxReorderSection"><span>{{item.VendorOrderItem[0].requiredQty}}</span></td>

                                    <td class="text-center">

                                        <span>{{item.VendorOrderItem[0].suggQuantity >= 0 ? item.VendorOrderItem[0].suggQuantity : '-'}}</span>
                                    </td>
                                    <td class="text-center" style="padding-left: 0px;width: 6%;">

                                        <input type="text" class="form-control" id="txtpackageSize{{$index}}_0" placeholder="Units/Strip" ng-model="item.VendorOrderItem[0].packageSize" numbers-only valid-number maxlength="5" ng-enter="focusTxtpackageQty('txtpackageQty',$index,0)" ng-change="changeSalesVendorQuantity(item.VendorOrderItem[0].packageSize,item.VendorOrderItem[0].packageQty,$index,0)" />

                                    </td>
                                    <td class="text-center" style="padding-left: 0px;padding-right: 0px;width: 8%;">
                                        <input type="text" placeholder="Free Qty" class="form-control" id="txtFreeQyantity{{$index}}_0"
                                               ng-model="item.VendorOrderItem[0].freeQty" ng-disabled="item.selectedVendor.id == headOfficeVendorId" valid-Number numbers-only />
                                    </td>
                                    <td class="text-center" style="padding-left: 0px;padding-right: 0px;width: 8%;">

                                        <input type="text" class="form-control" id="txtpackageQty{{$index}}_0" placeholder="No Of Strips" ng-model="item.VendorOrderItem[0].packageQty" numbers-only valid-number ng-enter="focusNextVendor('txtSalesVendor',$index)" maxlength="5" ng-change="changeSalesVendorQuantity(item.VendorOrderItem[0].packageSize,item.VendorOrderItem[0].packageQty,$index,0)" />
                                    </td>
                                    
                                    <td class="text-center">
                                        <span>{{item.VendorOrderItem[0].purchasePrice | number:2}}</span>
                                    </td>
                                    <td class="text-center">
                                        <span>{{item.VendorOrderItem[0].sellingPrice | number:2}}</span>
                                    </td>
                                    <td class="text-center">{{item.VendorOrderItem[0].purchasePrice * item.VendorOrderItem[0].packageQty}}</td>
                                    @if (User.GSTEnabled() == "False")
                                    {
                                        <td class="text-center"><span>{{item.VendorOrderItem[0].vat}}</span></td>
                                    }
                                    <td class="text-center"><span>{{item.VendorOrderItem[0].gstTotal}}</span></td>
                                    <td class="text-center">
                                        <span>{{item.VendorOrderItem[0].pendingPOQty}}</span>
                                    </td>
                                    <td>
                                        <span title="Delete" ng-click="deleteSaleVendor($index)" style="color:red;cursor:pointer;" class="glyphicon glyphicon-remove"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    &nbsp;
                    @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
                </div>
                <div ng-show="SalesVendorOrder.length == 0 && !isLoading">
                    <div class="row">
                        <div class="right-table-body">
                            <div class="text-center mar-top-135" style="">
                                <img src="/assets/images/nodata.png" ng-show="message == 'No records found'">
                                <div class="msg">
                                    <p class="goback-text">{{message}}</p>
                                    <p ng-show="message == 'No records found'" class="goback-text-line2">{{Filtermessage}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" ng-hide="SalesVendorOrder.length == 0">
                    <div class="panel-footer clearfix">
                        <div class="pull-left">
                            <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancelSalesVendor()">Cancel</button>
                        </div>
                        <div class="pull-right">
                            <button title="Order" class="btn btn-style" id="btnSaveSalesOrder" ng-disabled="SalesVendorOrder.length==0" ng-click="saveSalesOrder()">Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{

            await Html.RenderPartialAsync("_productDetailsPopUp");
        }
        @{
            await Html.RenderPartialAsync("~/Views/VendorPurchase/_CreateProduct.cshtml");
        }
        @{
            await Html.RenderPartialAsync("_SalesStockBranchWise");
        }

    </div>

    <div ng-show="IsOffline && !isOnlineEnabled" class="offline-message">

        <p>This option is disabled for online.</p>
        <p class="offline-only">Please use only offline for this feature.</p>
    </div>
</div>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .tdSelect .dropdown-menu {
        height: 100px;
        overflow-y: scroll;
    }

    #divProduct .dropdown-menu {
        height: 200px;
        overflow-y: scroll;
    }

    .text-center {
        text-align: center !important;
    }

    .chips-wrapper span {
        margin-right: 0px !important;
    }


    /*order-list*/
    .order-sublist {
        margin: 15px 0;
    }

        .order-sublist ul {
            padding: 0;
        }

        .order-sublist li {
            list-style: none;
            display: inline-block;
        }

            .order-sublist li a {
                text-decoration: none;
                border: 2px solid #d8d8d8;
                border-radius: 50px;
                color: #969696;
                display: block;
                font-size: 16px;
                line-height: 16px;
                padding: 7px 20px;
                text-transform: capitalize;
                margin-right: 10px;
            }

                .order-sublist li a:hover {
                    border: 2px solid #a1a1a1;
                    background-color: #a1a1a1;
                    color: #fff;
                }

        .order-sublist .active {
            background-color: #a1a1a1;
            border: 2px solid #a1a1a1;
            color: #fff;
        }

    .order-section {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 15px 0;
        margin-bottom: 15px;
        height: 108px;
    }

    .form-list label {
        color: #333;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 6px;
    }

    .form-list .textbox {
        border: 1px solid #ccc;
        padding: 6px;
        height: 30px;
        width: 100%;
    }

    .button-add {
        border: none;
        background-color: #039394;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        padding: 8px 18px;
    }

    .byorder-list {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
    }

        .byorder-list table {
            width: 100%;
        }

        .byorder-list th {
            background-color: #d7d7d7;
            font-weight: 500;
            padding: 10px;
        }

        .byorder-list td {
            padding: 10px 2px;
        }

        .byorder-list tbody tr {
            border-bottom: 1px solid #f3f3f3;
        }

    .mar-top-135 {
        margin-top: 135px;
    }

    .mar-left-10 {
        margin-left: 15px !important;
    }


    .byorder-list tbody tr {
        border-bottom: 1px solid #f3f3f3;
    }

    .mar-top-135 {
        margin-top: 135px;
    }

    .mar-left-10 {
        margin-left: 15px !important;
    }

    .export {
        cursor: pointer;
        color: green;
        font-size: 24px;
        margin-top: -32px !important;
        margin-right: -8px;
        background-color: #fff;
        border: none;
    }

    .custom-margin {
        padding-left: 5px;
        margin-bottom: 10px;
        width: 13%;
    }
</style>
@section scripts
{

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/assets/js/angular.js"></script>


    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderappscript.js"></script>

    <script asp-append-version="true" src="~/appScript/product/productService.js"></script>
    <script asp-append-version="true" src="/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>

    <script asp-append-version="true" src="/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>

    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendorordercreatectrl.js"></script>

    <script asp-append-version="true" src="~/appScript/VendorPurchase/vendorPurchaseService.js"></script>

    <script asp-append-version="true" src="~/appscript/VendorOrder/productDetailPopUpCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockService.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/stockBranchWiseCtrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}
