@{
    ViewBag.Title = "Order List";
    ViewBag.Menu = "List";
}

@await Html.PartialAsync("~/Views/VendorOrder/Menu.cshtml")
<div class="row panelBorder" ng-app="hcue" ng-controller="vendorOrderListCtrl" ng-cloak>

    <input type="hidden" value="@ViewBag.customOrder" id="hdnCustomOrder" />
    <div class="panel panel-default">
        <div class="panel-heading">Order Search</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <select chosen
                                    title="Vendor Name"
                                    option="vendorList"
                                    data-placeholder="Select Vendor Name"
                                    ng-model="search.vendor"
                                    ng-options="option.name for option in vendorList track by option.id"
                                    class="search-query form-control"
                                    style="width:160px"
                                    autofocus>
                                <option value=""></option>
                            </select>

                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" ng-click="orderSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                            <input title="Mobile Number" type="text" placeholder="Mobile" class="search-query form-control" ng-enter="orderSearch()" ng-model="search.vendor.mobile">
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" ng-click="orderSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <img src="~/assets/images/number.png" />
                            </span>
                            <input title="Order Number" type="text" placeholder="Order No" class="search-query form-control" ng-enter="orderSearch()" ng-model="search.orderId">
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" ng-click="orderSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input title="Email Id" class="form-control required email" id="email" name="email" size="30" type="text" placeholder="Email ID" ng-enter="orderSearch()" ng-model="search.vendor.email" />
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" ng-click="orderSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" placeholder="From Date" ng-model="search.fromDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date="">
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" placeholder="To Date" ng-model="search.toDate" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date="">
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left" ng-if="list.length == 0">
                No Records found
            </div>
            <div class="pull-right">
                <button title="Search" class="btn btn-style" ng-click="orderSearch()">Search</button>
            </div>
        </div>
    </div>

    @if (ViewBag.customOrder == 1)
    {
        <div class="panel panel-default">
            <div class="col-sm-12" style="padding:0;">
                <div class="panel">
                    <div class="panel-body orange-border-top list-wrapper sell-group-decor8">
                        <div class="row  ">
                            <div class="row tblHeader">
                                <div class="col-lg-12 col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
                                    <div class="col-lg-1 col-md-1 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Order No</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Order Date</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Vendor Name</label>
                                    </div>


                                    <div class="col-lg-1 col-md-1 override_margin text-center" style="padding-right:0px;padding-left:0px;">
                                        <label style="padding:0px;font-size:medium;">Mobile</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 override_margin text-center">

                                        <label style="padding:0px;font-size:medium;">Email</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 override_margin text-center">

                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="vendorOrder in customOrderList">
                                <div class="col-lg-12 col-md-12 chip-style sell-group-decor8">
                                    <div class="col-lg-1 col-md-1 sell-group-decor9">
                                        <button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                   
                                        <span class="col-md-6 sell-decor11 ng-binding">{{vendorOrder.prefix+ vendorOrder.orderId}}</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 sell-group-decor9 text-center">
                                        <span class="orange-text sell-decor11 txtCaps">{{vendorOrder.orderDate | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                        <span class="sell-decor11">{{vendorOrder.vendor.name}}</span>
                                    </div>

                                    <div class="col-lg-1 col-md-1 sell-decor11 txtCaps text-center" style="padding-right:0px;padding-left:0px;">
                                        <span class="sell-decor11 txtCaps">{{vendorOrder.vendor.mobile}}</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                        <span class="sell-decor11">{{vendorOrder.vendor.email}}</span>
                                    </div>


                                    <div class="col-lg-2 col-md-2 text-center">
                                        
                                        <div class="col-lg-5 col-md-5 override-margin" style="padding-left:0px!important;padding-right:0px !important">

                                            <span class="glyphicon glyphicon-phone override-margin"
                                                  style="cursor: pointer; margin: 1px;"
                                                  title="Resend Sms"
                                                  ng-click="resendSms(vendorOrder)"
                                                  ng-if="(vendorOrder.vendor.mobile != '' && showSms == true)"></span>


                                            <span class="glyphicon glyphicon-envelope override-margin" title="Resend Mail"
                                                  style="cursor: pointer; margin: 1px;"
                                                  ng-click="resendMail(vendorOrder)"
                                                  ng-if="vendorOrder.vendor.email != ''"></span>

                                        </div>
                                      
                                        <div class="col-lg-7 col-md-7 override-margin">
                                            <a ng-click="orderEdit(vendorOrder)" title="Edit Order" >
                                                <span class="glyphicon glyphicon-edit override-margin" style="cursor: pointer; padding:3px;margin: 1px;color:red;"></span>
                                            </a>

                                            <span class="glyphicon glyphicon-print override-margin" title="Print Order" style="cursor: pointer; padding:3px;margin: 1px;" ng-click="printOrder(vendorOrder)"></span>
                                            <span class="fa fa-file-excel-o override-margin" title="Export To CSV" style="cursor: pointer; padding:3px;margin: 1px; color:green" ng-click="exportDataToCSV(vendorOrder)"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                    <table class="table override_margin sell-group-decor10">
                                        <thead class="chips-header">
                                            <tr>
                                                <th class="text-left">S.no</th>
                                                <th>Product</th>
                                                <th>Ordered Qty(Strips)</th>
                                                <th>Free Qty</th>
                                                <th>Mrp/Strip</th>
                                                <th>ExpiryDate</th>
                                                <th>GST %</th>
                                                <th>Strip Price</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-left" ng-repeat="orderItem in vendorOrder.vendorOrderItem">
                                                <td class="text-left">{{$index+1}}</td>
                                                <td class="txtUpper">{{orderItem.product.name}}</td>
                                                <td>{{orderItem.quantity}}</td>
                                                <td>{{orderItem.freeQty}}</td>
                                                <td>{{orderItem.sellingPrice}}</td>
                                                <td>{{orderItem.expireDate | date:'MM/yy'}}</td>
                                                <td>{{orderItem.gstTotal}}</td>
                                                <td>{{orderItem.purchasePrice | number:2}}</td>
                                                <td>{{(orderItem.purchasePrice+orderItem.gstTotal)*orderItem.quantity}}</td>
                                                <td>{{orderItem.isDeleted==true ? "Deleted" : (orderItem.vendorPurchaseId!="" && orderItem.vendorPurchaseId!=undefined || orderItem.stockTransferId!="" && orderItem.stockTransferId!=undefined) ? "Converted" : "Pending"}}</td>
                                            </tr>
                                            <tr class="text-left">
                                                <td colspan="6"></td>
                                                <td>Total</td>
                                                <td><i class="fa fa-rupee"></i>{{vendorOrderTotal(vendorOrder.vendorOrderItem)}}</td>
                                                <td>{{total}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    @{
                        await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml");
                    }

                </div>
            </div>
        </div>

                        }
                        else
                            {
                            <div class="panel panel-default">
                                <div class="col-sm-12" style="padding:0;">
                                    <div class="panel">
                                        <div class="panel-body orange-border-top list-wrapper sell-group-decor8">
                                            <div class="row  ">
                                                <div class="row tblHeader">
                                                    <div class="col-lg-12 col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
                                                        <div class="col-lg-1 col-md-1 override_margin text-center">
                                                            <label style="padding:0px;font-size:medium;">Order No</label>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 override_margin text-center">
                                                            <label style="padding:0px;font-size:medium;">Order Date</label>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 override_margin text-center">
                                                            <label style="padding:0px;font-size:medium;">Vendor Name</label>
                                                        </div>


                                                        <div class="col-lg-1 col-md-1 override_margin text-center" style="padding-right:0px;padding-left:0px;">
                                                            <label style="padding:0px;font-size:medium;">Mobile</label>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 override_margin text-center">

                                                            <label style="padding:0px;font-size:medium;">Email</label>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 override_margin text-center">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-repeat="vendorOrder in list">
                                                    <div class="col-lg-12 col-md-12 chip-style sell-group-decor8">
                                                        <div class="col-lg-1 col-md-1 sell-group-decor9">
                                                            <button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>

                                                            <span class="col-md-6 sell-decor11 ng-binding">{{vendorOrder.prefix+ vendorOrder.orderId}}</span>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 sell-group-decor9 text-center">
                                                            <span class="orange-text sell-decor11 txtCaps">{{vendorOrder.orderDate | date:'dd/MM/yyyy'}}</span>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                                            <span class="sell-decor11">{{vendorOrder.vendor.name}}</span>
                                                        </div>

                                                        <div class="col-lg-1 col-md-1 sell-decor11 txtCaps text-center" style="padding-right:0px;padding-left:0px;">
                                                            <span class="sell-decor11 txtCaps">{{vendorOrder.vendor.mobile}}</span>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                                            <span class="sell-decor11">{{vendorOrder.vendor.email}}</span>
                                                        </div>


                                                        <div class="col-lg-2 col-md-2 text-center">

                                                            <div class="col-lg-5 col-md-5 override-margin" style="padding-left:0px!important;padding-right:0px !important">

                                                                <span class="glyphicon glyphicon-phone override-margin"
                                                                      style="cursor: pointer; margin: 1px;"
                                                                      title="Resend Sms"
                                                                      ng-click="resendSms(vendorOrder)"
                                                                      ng-if="(vendorOrder.vendor.mobile != '' && showSms == true)"></span>


                                                                <span class="glyphicon glyphicon-envelope override-margin" title="Resend Mail"
                                                                      style="cursor: pointer; margin: 1px;"
                                                                      ng-click="resendMail(vendorOrder)"
                                                                      ng-if="vendorOrder.vendor.email != ''"></span>

                                                            </div>

                                                            <div class="col-lg-7 col-md-7 override-margin">
                                                                <a ng-click="orderEdit(vendorOrder)" title="Edit Order">
                                                                    <span class="glyphicon glyphicon-edit override-margin" style="cursor: pointer; padding:3px;margin: 1px;color:red;"></span>
                                                                </a>

                                                                <span class="glyphicon glyphicon-print override-margin" title="Print Order" style="cursor: pointer; padding:3px;margin: 1px;" ng-click="printOrder(vendorOrder)"></span>
                                                                <span class="fa fa-file-excel-o override-margin" title="Export To CSV" style="cursor: pointer; padding:3px;margin: 1px; color:green" ng-click="exportDataToCSV(vendorOrder)"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                                        <table class="table override_margin sell-group-decor10">
                                                            <thead class="chips-header">
                                                                <tr>
                                                                    <th class="text-left">S.no</th>
                                                                    <th>Product</th>
                                                                    <th>Ordered Qty(Strips)</th>
                                                                    <th>Free Qty</th>
                                                                    <th>Mrp/Strip</th>
                                                                    <th>GST %</th>
                                                                    <th>Strip Price</th>
                                                                    <th>Amount</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="text-left" ng-repeat="orderItem in vendorOrder.vendorOrderItem">
                                                                    <td class="text-left">{{$index+1}}</td>
                                                                    <td class="txtUpper">{{orderItem.product.name}}</td>
                                                                    <td>{{orderItem.quantity}}</td>
                                                                    <td>{{orderItem.freeQty}}</td>
                                                                    <td>{{orderItem.sellingPrice}}</td>
                                                                    <td>{{orderItem.gstTotal}}</td>
                                                                    <td>{{orderItem.purchasePrice | number:2}}</td>
                                                                    <td>{{(orderItem.purchasePrice+orderItem.gstTotal)*orderItem.quantity}}</td>
                                                                    <td>{{orderItem.isDeleted==true ? "Deleted" : (orderItem.vendorPurchaseId!="" && orderItem.vendorPurchaseId!=undefined || orderItem.stockTransferId!="" && orderItem.stockTransferId!=undefined) ? "Converted" : "Pending"}}</td>
                                                                </tr>
                                                                <tr class="text-left">
                                                                    <td colspan="6"></td>
                                                                    <td>Total</td>
                                                                    <td><i class="fa fa-rupee"></i>{{vendorOrderTotal(vendorOrder.vendorOrderItem)}}</td>
                                                                    <td>{{total}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @{
                                            await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml");
                                        }

                                    </div>
                                </div>
                            </div>

                                            }
                       


</div>
<style>
    .text-center {
        text-align: center !important;
    }
</style>

@section scripts
{
    <script asp-append-version="true" src="~/lib/angular/angular.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>


    <script asp-append-version="true" src="~/appScript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderappscriptlist.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="/appscript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderlistctrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}


