﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
<ul class="nav nav-tabs override_margin">
@if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
{
    <li class="@(ViewBag.Title == "Order" ? "active" : "")">
        <a asp-action="Index" asp-controller="VendorOrder">
            ORDER
        </a>
    </li>
}
    <li class="@(ViewBag.Menu == "List" ? "active" : "")">
        <a asp-action="List" asp-controller="VendorOrder">
            LIST
        </a>
    </li>
@*@if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
{
    @if (User.HasPermission(UserAccess.Admin))
    {
        <li class="@(ViewBag.Menu == "Pending Approval" ? "active" : "")">
            <a asp-action="PendingAuthorisationList" asp-controller="VendorOrder">
                PENDING APPROVAL
            </a>
        </li>
    }
}*@
    <li class="@(ViewBag.Title == "Missed Sales Order" ? "active" : "")">
        <a asp-action="MissedOrderList" asp-controller="VendorOrder">
            MISSED SALES ORDER
        </a>
    </li>
    @if (User.HasPermission(UserAccess.Settings))
    {
        <li class="@(ViewBag.Title == "OrderSettings" ? "active" : "")">
            <a asp-action="Settings" asp-controller="VendorOrder">
                SETTINGS
            </a>
        </li>
    }

    @*<li class="@(ViewBag.Title == "Order Based Sales" ? "active" : "")">
        <a asp-action="OrderBasedSales" asp-controller="VendorOrder">
            ORDER BASED ON SALES
        </a>
    </li>*@
</ul>
