@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Missed Sales Order";
    ViewBag.Menu = "Missed Sales Order";
}

@await Html.PartialAsync("~/Views/VendorOrder/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="missedOrderSearchCtrl" ng-cloak >

    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <div class='row override_margin'>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select Anyone</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="form-control" required>
                                <option value="">Please Select</option>
                                <option value="product">Product Name</option>                                
                                <option value="vendorName">Vendor Name</option>
                                <option value="patient">Patient Name</option>
                                <option value="orderDate">Ordered Date</option>                                                               
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin' ng-if="dateCondition==true">
                    <div class='form-group'>
                        <label>Select condition</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select1" class="form-control" required>
                                <option value="">Please Select</option>
                                <option value="equal">=</option>
                                <option value="greater">></option>
                                <option value="less"><</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 override_margin" ng-if="dateCondition==true">
                    <div class='form-group'>
                        <label>Select Date</label>
                        <div class="input-group col-md-12 override_margin">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Select Date" ng-model="search.values" is-open="popup.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin' ng-if="dateCondition==false">
                    <div class='form-group'>
                        <label>Enter Values</label>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Values" class="search-query form-control" id="Values" name="Values" size="30" type="text" placeholder="Enter Value" ng-enter="salesSearch()" ng-model="search.values" />
                        </div>                        
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>

                        <label>&nbsp;</label>
                        <div class="input-group col-md-12 override_margin">
                            <button title="Search" class="btn btn-style" ng-click="missedOrderSearch()">Search</button>
                            <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <div class="row tblHeader">
                        <div class="col-md-12 override_margin">      
                                <div class="col-md-1">Sr.no.</div>                                             
                                <div class="col-md-2">Product</div>
                                <div class="col-md-2">Vendor</div>
                                <div class="col-md-2">Patient</div>
                                <div class="col-md-1">Quantity</div>
                                <div class="col-md-1">Price</div>
                                <div class="col-md-2">Ordered Date</div>   
                                <div class="col-md-1"></div>                 
                        </div>
                    </div>

                    <div class='row'>
                        <div class="pull-left" ng-if="list.length == 0">
                            No Records found
                        </div>
                        <div ng-repeat="missedOrder in list">
                            <div class="chip-style">
                                <div class="col-md-12 override_margin">
                                        <div class="col-md-1">{{$index+1}}</div>                                                                        
                                        <div class="col-md-2 txtUpper">{{missedOrder.missedItem.productStock.product.name}}</div>
                                        <div class="col-md-2">{{missedOrder.missedItem.productStock.vendor.name}}</div>
                                        <div class="col-md-2">{{missedOrder.patientName}}</div>
                                        <div class="col-md-1">{{missedOrder.quantity}}</div>
                                        <div class="col-md-1">{{missedOrder.sellingPrice}}</div>
                                        <div class="col-md-2">{{missedOrder.createdAt | date:'dd/MM/yyyy'}}</div>
                                    <div class="col-md-1">
                                       @if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                                       { <button type="button" value="Cancel" id="cancel" name="cancel" ng-click="cancelOrder(missedOrder.id)" class="btn btn-style btn-cancel">Cancel</button>
                                       }
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
            </div>
        </div>
    </div>

</div>



@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
   
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/appscript/vendororder/missedOrderAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/missedordersearchctrl.js"></script>       
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}


