@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Order Based Sales";
    ViewBag.Menu = "Order Based Sales";
}

@await Html.PartialAsync("~/Views/VendorOrder/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="orderBasedSalesCtrl" ng-cloak >

    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <div class='row override_margin'>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <label style="font-size:16px;">Previous No.of Days Sales</label>
                            <input title="Values" class="search-query form-control" id="Values" name="Values" type="text" placeholder="Enter No.of days" ng-enter="orderSales()" ng-model="search" numbers-only autofocus/>
                        </div> 
                    </div>
                </div>
                
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>

                        <label>&nbsp;</label>
                        <div class="input-group col-md-12 override_margin">
                            <button title="Search" class="btn btn-style" ng-click="orderSales()">Search</button>
                            <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-show="list.length > 0">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <div class="row tblHeader">
                        <div class="col-md-12 override_margin">                                                        
                                <div class="col-md-2">Product</div>
                                <div ng-repeat="title in titles | limitTo:titleCount">
                                    <div class="col-sm-1" align="right">{{title | date:'dd/MM/yy'}}</div>
                                </div>
                                <div class="col-md-1" align="right">Current Stock</div>
                                <div class="col-md-1" align="right">Order Qty</div>
                                <div class="col-md-1">Vendor Name</div>                                
                        </div>
                    </div>

                    <div class='row'>
                        <div ng-repeat="item1 in list">
                            <div class="chip-style">
                                <div class="col-md-12 override_margin">                                                                        
                                        <div class="col-md-2 txtUpper">{{item1.product.name}}</div>
                                        <div ng-repeat="value in item1.quantityCount | limitTo:titleCount track by $index">
                                            <div class="col-md-1" align="right">{{value}}</div>
                                        </div>
                                        <div class="col-md-1" align="right">{{item1.stock}}</div>
                                        <div class="col-md-1" align="right"><input title="Order Qty" style="text-align:right;" class="search-query form-control" id="order{{$index}}" name="order {{$index}}" size="30" type="text" placeholder="Qty" ng-model="item1.orderedQty" numbers-only ng-change="validateQty(item1.orderedQty)" ng-disabled="item1.idLength <= 0"/></div>
                                        <div class="col-md-1">{{item1.vendor.name}}</div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div>
                        <div class="col-md-1 pull-right" style="margin-top:15px;margin-right:30px;"><button title="Convert" class="btn btn-style" ng-click="convertOrderToSales()">Convert To Order</button></div>
                        <div class="col-md-12"><span ng-show="showQtyError" class="error pull-right" style="font-size:14px;">Enter atleast one product Order Qty.</span></div><br />
                        <div class="col-md-12"><span ng-show="showVendorError" class="error pull-right" style="font-size:14px;">Order Qty entered for item without Vendor</span></div>
                    </div>
                    
                </div>  
            </div>
        </div>
    </div>

    <div class="panel panel-default pull-left" ng-if="list.length == 0">
        <div class="panel">
            No Records found
        </div>
    </div>

</div>



@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
   
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/appscript/vendororder/missedOrderAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/orderBasedSalesCtrl.js"></script>            

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}


