@{
    ViewBag.Title = "Pending Approval";
    ViewBag.Menu = "Pending Approval";
}

@await Html.PartialAsync("~/Views/VendorOrder/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="pendingAuthorisationListCtrl" ng-cloak>
    <div class="panel panel-default">
        <div class="panel panel-default">
            <div class="col-sm-12" style="padding:0;">
                <div class="panel">
                    <div class="panel-body orange-border-top list-wrapper">
                        <div class='row'>
                            <div class="pull-left" ng-if="list.length == 0">
                                No Records found
                            </div>
                            <div ng-repeat="order in list">
                                <div class="chip-style">
                                    <span class="col-sm-12">
                                        <span class="btn btn-style text-center" title="Authorise" ng-click="authoriseOrders(order)">Approve Order</span>
                                        <span class="quantity-rate address-details">
                                            <strong class="orange-text"># {{order.orderId}}</strong>
                                            <span><i class="fa fa-calendar" title="Order Date"></i> {{order.orderDate | date:'dd/MM/yyyy' }}</span> -
                                            <span><i class="fa fa-name" title="Name"></i> {{order.vendor.name}}</span> -
                                            <span><i class="fa fa-mobile" title="Mobile"></i> {{order.vendor.mobile}}</span> -
                                            <span ng-if="order.vendor.email != 'N/A'"><i ng-if="order.vendor.email != ''" class="fa fa-envelope-o" title="Email"></i> {{order.vendor.email}}</span>
                                            <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                        </span>
                                    </span>
                                </div>

                                <div class="chips-wrapper" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Drug Name</th>
                                                <th>Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-left" ng-repeat="vendorOrderItem in order.vendorOrderItem">
                                                <td>{{vendorOrderItem.product.name}}</td>
                                                <td>{{vendorOrderItem.quantity}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/vendororder/authorisationappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/pendingauthorisationlistctrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}


