@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "OrderSettings";
    ViewBag.Menu = "Order";
}

@await Html.PartialAsync("~/Views/VendorOrder/Menu.cshtml")
@if (!User.HasPermission(UserAccess.Settings))
{
    @await Html.PartialAsync("~/Views/Shared/_SettingsRights.cshtml");
}
<div class="row" ng-app="hcue" ng-controller="vendorOrderSettingsCtrl" ng-cloak>
    <div ng-hide="IsOffline">
        <div class="col-md-12 sell-decor1" style="margin-top:10px !important;">

            <div class="panel panel-default inputbdr" style="padding: 15px 0;">

                @*//Default option removed from Set Custom Days by Settu
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color: #039394;font-size:18px;font-weight: 500;margin: 0;margin-bottom: 10px;">Set Custom Days</h3>

                            <div class="row sell-group-decor5 radio">
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="DefaultDate" type="radio" value="1" ng-model="orderSettings.dateSettingType" name="Datetype" id="Default" />
                                    <label for="Default">Default</label>
                                </div>
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="CustomDate" type="radio" value="2" name="Custom" ng-model="orderSettings.dateSettingType" id="Custom" />
                                    <label for="Custom">Custom Days</label>
                                </div>

                                <div class="col-md-12 override_margin ">


                                    <button title="Save Date Type" id="NoOfDaysFromDate" class="btn btn-style pull-left" ng-click="saveDateSettings()">Save</button>
                                </div>
                            </div>
                        </div>

                    </div>*@

                <div class="row">
                    <div class="col-md-12" style="height:60px;">
                        <h3 style="color: #28465a;font-size:18px;font-weight: 500;margin: 5px;">Set Custom Days</h3>
                        <div class="col-md-4">
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <label class="required">Custom Days</label>
                                    <div class="input-group override_margin col-md-12">
                                        <input type="text" title="CustomDays" id="CustomDays" name="CustomDays" class="form-control" placeholder="Enter No.of Days" ng-model="orderSettings.noOfDaysFromDate" maxlength="3" numbers-Only />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2" style="margin-top:28px;">

                                <button title="Save Date Type" id="NoOfDaysFromDate" class="btn btn-style pull-left" ng-click="saveDateSettings()">Save</button>

                            </div>
                        </div>

                    </div>
                    <br />

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3 style="color: #28465a;font-size:18px;font-weight: 500;margin: 5px;">Set Head Office</h3>
                        <div>
                            <div class='col-md-2 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group override_margin col-md-12">
                                        <input type="checkbox" title="Head Office" ng-model="orderSettings.isHeadOfficeEnabled" ng-change="getAllInstances()" ng-disabled="isAlreadyHeadOfficeEnabled == true" />
                                        Enable Head Office
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" ng-show="isAlreadyHeadOfficeEnabled == true && $scope.selectedInstanceName != 'null' && $scope.selectedInstanceName != 'undefined'">
                                <h4>Head Office Branch: {{selectedInstanceName}}</h4>
                            </div>

                            <div class="col-md-2" ng-show="orderSettings.isHeadOfficeEnabled == true && instanceList.length > 1 && isAlreadyHeadOfficeEnabled == false" style="margin-top:-10px;">
                                <div class="form-list">
                                    <label class="required" style="font-size:medium;">Branch Name</label>
                                    <select id="instance"
                                            name="instance"
                                            chosen
                                            title="Branch Name"
                                            option="instanceList"
                                            data-placeholder="Select Branch" ng-model="selectedInstance"
                                            ng-options="option.name for option in instanceList track by option.id"
                                            class="form-control" ng-change="check()"
                                            required style="font-size:medium;">
                                        <option value=""></option>
                                    </select>                                    
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="orderSettings.isHeadOfficeEnabled == true && instanceList.length > 1 && isAlreadyHeadOfficeEnabled == false">
                                <button title="Save Head Office" id="HeadOffice" class="btn btn-style" ng-disabled="selectedInstance == null || selectedInstance == 'undefined'" ng-click="saveHeadOfficeSettings()">Save</button>
                            </div>

                        </div>
                        <br />

                    </div>

                </div>

            </div>

        </div>

    </div>
    <style>
        .inActivecolor {
            background-color: #82f7c5;
        }

        .Activecolor {
            background-color: #fcdf9a;
        }
    </style>

    @section scripts
{
        <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />

        <script asp-append-version="true" src="~/assets/js/angular.js"></script>
        <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

        <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
        <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
        <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

        <script asp-append-version="true" src="~/appscript/vendorpurchase/buyappscript.js"></script>
        <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>

        <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>

        <script asp-append-version="true" src="~/appscript/model.js"></script>
        <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
        <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
        <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
        <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
        <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>

        <script asp-append-version="true" src="~/appscript/productStock/productStockService.js"></script>
        <script asp-append-version="true" src="~/appscript/vendororder/vendorOrderSettingsCtrl.js"></script>
        <script asp-append-version="true" src="~/appscript/vendor/vendorService.js"></script>

        <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchasesettingsctrl.js"></script>
        <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>

        <script asp-append-version="true" src="~/appScript/vendorpurchase/tempPurchaseItemCtrl.js"></script>

        <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
        <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
        <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

        <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
        <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
        <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
        <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
        <link asp-append-version="true" href="~/assets/css/style.css" rel="stylesheet" />


    }
