@{
    ViewBag.Title = "Order";
}

@await Html.PartialAsync("~/Views/VendorOrder/Menu.cshtml")


<div class="row panelBorder" ng-app="hcue" ng-controller="UpdateVendorOrderCreateCtrl" ng-cloak ng-init="init('@ViewBag.vendorOrderId')">


    <div class="row tblHeader" style="margin-top:20px;">
        <div class="col-lg-12 col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
            <div class="col-lg-1 col-md-1 override_margin text-center">
                <label style="padding:0px;font-size:medium;">Order No</label>
            </div>
            <div class="col-lg-2 col-md-2 override_margin text-center">
                <label style="padding:0px;font-size:medium;">Order Date</label>
            </div>
            <div class="col-lg-4 col-md-4 override_margin text-center">
                <label style="padding:0px;font-size:medium;">Vendor Name</label>
            </div>
            <div class="col-lg-2 col-md-2 override_margin text-center">
                <label style="padding:0px;font-size:medium;">Mobile</label>
            </div>
            <div class="col-lg-3 col-md-3 override_margin text-center">
                <label style="padding:0px;font-size:medium;">Email</label>
            </div>
        </div>
    </div>
    <div>
        <div class="col-lg-12 col-md-12 chip-style sell-group-decor8">
            <div class="col-lg-1 col-md-1 sell-group-decor9">
                <span class="col-md-6 sell-decor11 ng-binding">{{list.prefix+list.orderId}}</span>
            </div>
            <div class="col-lg-2 col-md-2 sell-group-decor9 text-center">
                <span class="orange-text sell-decor11 txtCaps">{{list.orderDate | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="col-lg-4 col-md-4 sell-group-decor9 text-center">

                <span class="sell-decor11">{{list.vendor.name}}</span>
            </div>

            <div class="col-lg-2 col-md-2 sell-decor11 txtCaps text-center">
                <span class="sell-decor11 txtCaps">{{list.vendor.vendormobile}}</span>
            </div>
            <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                <span class="sell-decor11">{{list.vendor.email}}</span>
            </div>
        </div>
        <div class="chips-wrapper override_margin" style="overflow: hidden;">
            <table class="table override_margin sell-group-decor10">
                <thead class="chips-header">
                    <tr>
                        <th>Product</th>
                        <th>Ordered Qty(Strips)</th>
                        <th>Mrp/Strip</th>
                        <th>ExpDate</th>
                        <th>Status</th>
                        <th>
                            Delete
                            <input type="checkbox" title="Delete all" id="chkDeleteAll" ng-model="deleteAll" style="margin-left:5px;margin-top:15px;cursor:pointer;" ng-click="deleteAllClick(deleteAll)" ng-disabled="list.vendorOrderItem.length==0">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-left" ng-repeat="orderItem in list.vendorOrderItem">
                        <td class="txtUpper"><a style="color:blue" ng-click="showStockBranchWise(orderItem.product.id, orderItem.product.name)" title="Previous Purchase Details" href=""><span>{{orderItem.product.name}}</span></a></td>
                        <td>
                            <input type="text" class="form-control" id="txtCustomQuantity{{$index}}" placeholder="Ordered Qty" ng-model="orderItem.quantity" numbers-only valid-number ng-enter="focustxtCustomsellingPrice('txtCustomSellingPrice',$index)" ng-disabled="orderItem.isConverted || orderItem.isDeleted" />
                        </td>
                        <td>
                            <input type="text" class="form-control" id="txtCustomSellingPrice{{$index}}" placeholder="Mrp/Strip" ng-model="orderItem.sellingPrice" maxlength="8" valid-number ng-enter="focustxtCustomExpireDate('txtExpDate',$index)" ng-disabled="orderItem.isConverted || orderItem.isDeleted" />
                        </td>
                        <td>
                            <input type="text" title="Exp Date" id="txtExpDate{{$index}}" class="form-control" uib-datepicker-popup="MM/yy" placeholder="MM/YY" ng-model="orderItem.expireDate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date name="fromDate" ng-enter="OnExpDateSelect(orderItem.expireDate,$index,0)" ng-keyup="formateDate($index,$event,'txtExpDate')" ng-disabled="orderItem.isConverted || orderItem.isDeleted" />
                        </td>
                        <td>
                            <span class="sell-decor11">{{orderItem.isConverted ? "Converted" : "Pending"}}</span>
                        </td>
                        <td>
                            <input type="checkbox" title="Delete" ng-model="orderItem.isDeleted" style="margin-left:20px;margin-top:10px;" ng-click="deleteClick(orderItem,$index)" ng-disabled="orderItem.isConverted" />
                        </td>
                    </tr>
                    <tr data-ng-show="list.vendorOrderItem.length == 0">
                        <td>No Records Available</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>





    <div class="panel panel-default" ng-hide="list.length == 0">
        <div class="panel-footer clearfix">
            <div class="pull-left">
                <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancelCustomSalesVendor()">Cancel</button>
            </div>
            <div class="pull-right">
                <button title="Order" class="btn btn-style" id="btnCustomSaveSalesOrder" ng-disabled="list.length==0 || list.vendorOrderItem.length==0" ng-click="saveCustomSalesOrder()">Update Order</button>
            </div>
        </div>
    </div>

    @{
        await Html.RenderPartialAsync("_SalesStockBranchWise");
    }


</div>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .tdSelect .dropdown-menu {
        height: 100px;
        overflow-y: scroll;
    }

    #divProduct .dropdown-menu {
        height: 200px;
        overflow-y: scroll;
    }

    .text-center {
        text-align: center !important;
    }

    .chips-wrapper span {
        margin-right: 0px !important;
    }


    /*order-list*/
    .order-sublist {
        margin: 15px 0;
    }

        .order-sublist ul {
            padding: 0;
        }

        .order-sublist li {
            list-style: none;
            display: inline-block;
        }

            .order-sublist li a {
                text-decoration: none;
                border: 2px solid #d8d8d8;
                border-radius: 50px;
                color: #969696;
                display: block;
                font-size: 16px;
                line-height: 16px;
                padding: 7px 20px;
                text-transform: capitalize;
                margin-right: 10px;
            }

                .order-sublist li a:hover {
                    border: 2px solid #a1a1a1;
                    background-color: #a1a1a1;
                    color: #fff;
                }

        .order-sublist .active {
            background-color: #a1a1a1;
            border: 2px solid #a1a1a1;
            color: #fff;
        }

    .order-section {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 15px 0;
        margin-bottom: 15px;
        height: 108px;
    }

    .form-list label {
        color: #333;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 6px;
    }

    .form-list .textbox {
        border: 1px solid #ccc;
        padding: 6px;
        height: 30px;
        width: 100%;
    }

    .button-add {
        border: none;
        background-color: #039394;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        padding: 8px 18px;
    }

    .byorder-list {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
    }

        .byorder-list table {
            width: 100%;
        }

        .byorder-list th {
            background-color: #d7d7d7;
            font-weight: 500;
            padding: 10px;
        }

        .byorder-list td {
            padding: 10px 2px;
        }

        .byorder-list tbody tr {
            border-bottom: 1px solid #f3f3f3;
        }
</style>
@section scripts
{

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <script asp-append-version="true" src="/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/UpdateVendorModal.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/UpdateVendorOrderCreatectrl.js"></script>
    <script asp-append-version="true" src="~/appScript/product/productService.js"></script>
    <script asp-append-version="true" src="/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockService.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/stockBranchWiseCtrl.js"></script>


}

