.navbar{
    margin-bottom:0 !important;
}
ol, ul {
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
.navbar-brand{
    padding:0 !important;
}
.sell-add-section{
    position:relative;
}
.sell-default input{
    width: 100%;
    border: 1px solid #d7d7d7;
    height: 33px;
    padding: 6px;
}
.sell-default input:focus {
    border: 3px solid #f7941d;
}
.quantity-enter {
    /*-webkit-box-shadow: 0px 0px 8px 0px #f58220;
    -moz-box-shadow: 0px 0px 8px 0px #f58220;
    box-shadow: 0px 0px 8px 0px #f58220;
    position: absolute;
    border: 3px solid #f58220;
   background-color: #edf6ff;
    position: absolute;
    top: 0;
    z-index: 9999;
    left: 28%;
    width: 400px;
    top: 3px;*/
        /* -webkit-box-shadow: 0px 0px 8px 0px #f58220; */
    -moz-box-shadow: 0px 0px 8px 0px #f58220;
    /* box-shadow: 0px 0px 8px 0px #f58220; */
    position: absolute;
    /* border: 3px solid #f58220; */
    background-color: #edf6ff;
    position: absolute;
    top: 0;
    z-index: 9999;
    left: 33%;
    width: 400px;
    top: 25%;
}
.quantity-enter input{
    height:25px;
    padding:4px 6px;
    width:100%;
}
.quantity-enter th {
    color: #2d2d2d;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    background-color: #c5d3e2;
    padding: 8px 10px;
}
.quantity-enter td{
     padding: 8px 10px;
     height:
}
.sell-add-body input{
    width:100% !important;
}
.with-100{
    width:100% !important;
}
.h-30{
    height:30px;
}
.line-button{
    text-decoration:none !important;
}

