.margin-bottom-10{
    margin-bottom: 10px;
}
.form-row{
    position:relative;
}
.update-inventory{
    padding:0;
    margin:0;
}
.update-inventory li{
    list-style:none;
    float:left;
    margin-right:15px;
        font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}
.update-inventory li label{
    margin-bottom:0;
}
.button-top{
    margin-top:30px;
}
.inventer-table table{
    width:100%;
}
.inventer-table th{
    background-color:#D6D6D6;
    padding:5px;
}
.inventer-table tr{
    border-bottom:1px solid #ccc;
}
 /*.inventer-table tr:first-child{
    border-bottom:1px solid #ccc;
}*/
 .inventer-table tr:last-child{
    border-bottom:none;
}
.inventer-table td{
    padding:5px;
}
.inventer-table{
    background-color: #fff;
    padding: 5px;
    margin-bottom:10px;
}
.text-box {
    border:1px solid #ccc;
    border-radius:0;
    padding:5px;
    height:30px;
    width:100%;
}
.save-button{
    border:none;
    background-color: #039394;
    font-size: 14px;
    line-height:14px;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
}
.padding-10{
    padding:10px;
}
.inventer-table .error{
    position: absolute;
    width: 100%;
    background-color: #fff;
    display: block;
    text-align: left;
    padding: 5px;
    z-index:9;
}
.import-excel{
    margin-top:0;
    padding-left:0
}
.list-paging{
    margin-top:15px;
}

.nav-tabs > li > a span{
    font-size:12px;
    line-height:12px;

}


/* The myModal (background) */
.myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mb-0{
    margin-bottom:0 !important;
}
/*19-06-2017*/ 
.schedule-section{
    padding:0;
    margin:0;
}
.schedule-section li{
    float:left;
    list-style:none;
    padding:5px 10px;
    font-size:14px;
    line-height:14px;
}
.green-line-btn{
    border-radius:4px;
    border:1px solid #28465a;
    background-color:#fff;
    cursor:pointer;
    display:inline-block;
    color:#28465a;
    font-size:12px;
    font-family: GT Medium;
    line-height:12px;
    text-transform:uppercase;
    padding: 8px 12px;
    text-decoration:none;
    transition:all 0.4s ease-in-out;
    margin-bottom: 5px;
}
.green-line-btn:hover{
    background-color:#28465a;
    border:1px solid #28465a;
    color:#fff;
}
.gray-line-btn{
    border-radius:4px;
    border:1px solid #B3B3B3;
    background-color:#B3B3B3;
    cursor:pointer;
    display:inline-block;
    color:#fff;
    font-size:12px;
    font-family: GT Medium;
    line-height:12px;
    text-transform:uppercase;
    padding: 8px 12px;
    text-decoration:none;
    transition:all 0.4s ease-in-out;
}
.gray-line-btn:hover{
    background-color:#B3B3B3;
    border:1px solid #B3B3B3;
    color:#fff;
}
.orange-line-btn{
    border-radius:4px;
    border:1px solid #f58220;
    background-color:#f58220;
    cursor:pointer;
    display:inline-block;
    color:#fff;
    font-size:12px;
    font-family: GT Medium;
    line-height:12px;
    text-transform:uppercase;
    padding:8px 12px;
    text-decoration:none;
    transition:all 0.4s ease-in-out;
}
.orange-line-btn:hover{
    background-color:#f58220;
    border:1px solid #f58220;
    color:#fff;
}
.footer-sell{
    background-color:#fff;
    padding:5px;
    margin-top: 10px;
}
.clearfix:before, .clearfix:after {
 content: "";
 display: table;
}
.clearfix:after {
 clear: both;
}
.sell-select{
    padding: 1px 4px;
    border: 1px solid #ccc;
    height: 25px;
    font-size:14px;
}
.chips-header th{
    margin-bottom:none !important;
    border-bottom:none !important;
}
label {
    font-family: GT Medium;
}
.product-enter label{
    font-family: GT Medium;
    color:#333;
}
.form-control:focus{
    box-shadow:none !important;
}
.sell-right .table>tbody>tr>th, .sell-right .table>tbody>tr>td strong, .fkey{
    font-family: GT Medium !important;
}
.sell-right .table>tbody>tr>th, .sell-right .table>tbody>tr>td, .product-footer .table>tbody>tr>th, .product-footer .table>tbody>tr>td{
    padding:4px !important;
}
label{
    vertical-align:middle;
}
.mb-30{
    margin-bottom:20px !important;
        border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}
.billing-series{
    border:1px solid #ccc;
    font-size:14px;
        font-family: GT Medium !important;
    line-height:14px;
}
.billing-series th{
    border:1px solid #ccc;
    padding:8px 10px;

}
.billing-series td{
     padding:8px 10px;
     border:1px solid #ccc;
}
div.chip-style.product-add-list{
    color:#333; 
    font-family:GT bold !important;font-size: 14px;border: none;border-bottom: 1px solid #f1f1f1;padding-bottom: 5px;margin: 0;
}
.table.product-enter-list th, .table.product-enter-list td{
    padding:4px 8px;
}
.search-char a{
    margin-right: 4px !important;
    width: 22px !important;
    border: 2px solid #E0E0E0 !important;
    background: #fff !important;
    font-weight: bold !important;
    color: #222 !important;
    font-size: 12px !important;
    font-weight: bold !important;
    text-align: center !important;
    display: inline-block !important;
    padding: 2px !important;
}
.sell-group-decor.sell-batch .chosen-container-single .chosen-single span{
    font-family: GT Bold !important;
    color:#000 !important;
        margin-top: 3px;
}
.sell-product-drop .dropdown-menu{
    width:100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
}
.dropdown-menu > li > a{
    min-width:238px;
    font-family: GT Bold;
}
.footer-sell .fileupload{
    display:inline;
}
green-line-btn.tp-2{
    position:relative;
    top:-2px;
}
/*.chosen-container-single .chosen-single div b{
       background: url(chosen-sprite.png) no-repeat 0px 7px !important;
}*/