﻿apply {
	display: block;
}

.release-notes .popup-wrap {
    background-color: transparent;
    width: 750px;
    border-radius: 4px;
}
.popup-wrap {
    
   font-family: 'Source Sans Pro', sans-serif;
    background-color:transparent;
    margin: 0 auto;
    max-width: 725px;
    position: relative;
}


.release-notes{
	background-color: rgba(22, 54, 75, 0.85);
}
.middlealign {
	display: table;
	height: inherit;
	width: 100%;
}
.middlealign > div {
	display: table-cell;
	vertical-align: middle;
}
.popup-wrap1 {
	background-color: #fff;
	margin: 0 auto;
	max-width: 750px;
	position: relative;
}
.release-notes .popup-wrap {
	background-color: transparent;
	width: 750px;
	border-radius: 4px;
}
.notes-list {
	border-radius: 4px;
	border: 2px solid #f26c4f;
	background-color: #fff;
	padding: 16px;
	text-align: center;
	position: relative;
	margin-bottom: 10px;
	position: relative;
}
.notes-list:before{
		content: "";
	background-image: url("/assets/images/top-arroow.png");
	background-repeat: no-repeat;
	position: absolute;
	top: -23px;
	left: 50%;
	height: 23px;
	margin-left: -18px;
	width: 38px;

}
.notes-list .header {
	position: relative;
	margin-bottom: 20px;
}
.notes-list .header span {
	display: block;
	font-size: 14px;
	line-height: 14px;
}
.notes-list .header img {
	position: absolute;
	left: 0;
}
.notes-list h1 {
	background-color: #edeff1;
	display: inline-block;
	padding: 6px;
	font-weight:300;
	font-size: 18px;
	line-height: 18px;
    margin:0;
	margin-bottom: 12px;

}
.release-close {
	position: absolute;
	right: 10px;
	top: 0;
	padding: 10px;
	z-index: 99;
}
.notes-list .list-item {
	border: 1px solid #ffbfb1;
	padding: 6px 16px;
	text-align: left;
	margin-bottom: 20px;
}
.notes-list .list-item:last-child {
	margin-bottom: 0;
}
.list-item .notes-item h2 {
	color: #16364b;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin: 15px 0;
        text-transform:uppercase;
}
.list-item .notes-item h5 {
	color: #16364b;
	font-size: 15px;
	font-weight: 700;
	line-height: 15px;
	margin-bottom: 10px;
}
.notes-item ol {
	margin: 0;
	padding: 0;
        padding-left: 15px;
}
.notes-item ol li {
	color: #16364b;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	margin-bottom: 5px;
    text-align:justify;

}
.notes-item .col-md-9 {
	border-left: 1px solid #d0d7db;
}
.notes-item .col-md-3:before{
    content:"";
    background-color:#d0d7db;
    width:1px;
    height:100%;
    position:absolute;
    right:-1px;
    top:0;
}
.list-item-wrap {
	padding: 12px;
	height: 332px;
	overflow-y: scroll;
}
.list-item-wrap::-webkit-scrollbar {
	width: 4px;
	height: 10px;
}
.list-item-wrap::-webkit-scrollbar-corner {
	background-color: #e8e8e8;
}
.list-item-wrap::-webkit-scrollbar-thumb {
	background-color: #636363;
	border-radius: 50px;
	min-height: 20px;
}
.list-item-wrap::-webkit-scrollbar-track {
	background-color: #e8e8e8;
	border: none;
}
.list-item {
	position: relative;
}
.list-item span {
	background-color: #ffbfb1;
	color: #4e1f14;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	height: 24px;
	line-height: 24px;
	position: absolute;
	width: 24px;
	text-align: center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	border-radius: 100%;
	top: -6px;
	left: -12px;
}

/* common checkbox */
.release-checkbox input[type="checkbox"] {
	display: none;
}
.release-checkbox input[type="checkbox"] + label {
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	display: inline-block;
	line-height: 14px;
	font-weight: 400;
	margin-bottom: 0;
}
.release-checkbox input[type="checkbox"] + label:before {
	background-image: url("/assets/images/checkbox-release.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	content: " ";
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 8px;
	top: 2px;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.release-checkbox input[type="checkbox"]:checked + label:before {
	background-image: url("/assets/images/checkbox-release.png");
	background-repeat: no-repeat;
	background-position: 0 -13px;
	content: "";
	width: 13px;
	height: 13px
}
.release-checkbox {
	float: left;
}
.release-footer {
	background-color: #16364b;
	padding: 2px 10px;
	margin: 0 20px;
}
.release-footer p {
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	margin: 2px 0;
}
.release-bell {
	text-align: center;
	margin-bottom: 30px;
	position: relative;
    margin-top:10px;
}
.release-bell span {
	background-color: #f26c4f;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	height: 24px;
	line-height: 24px;
	position: absolute;
	width: 24px;
	text-align: center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	border-radius: 100%;
	top: -6px;
	left: 50%;
}