.common-dropdown {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #dcdcdc;
	background-image: url("../images/dropdown-arrow.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #fff;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	color: #000;
	display: inline-block;
	font-size: 14px;
	position: relative;
	height: 30px;
	line-height: 14px;
	margin: 0;
	margin-bottom: 11px;
	overflow: hidden;
	padding: 7px 26px 7px 8px;
	text-overflow: ellipsis;
	outline: none;
	vertical-align: middle;
	width: 100%;
	white-space: nowrap;
}
.primary-button {
    border:none;
	border-radius: 5px;
	background-color: #f57104;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	padding: 6px 15px;
	text-decoration: none;
	text-transform: capitalize;
}
.primary-button:hover, .primary-button:focus {
	color: #fff;
	text-decoration: none;
}
.secondary-button {
    border:none;
	border-radius: 5px;
	background-color: #afafaf;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	padding: 6px 15px;
	text-decoration: none;
	text-transform: capitalize;
	margin-right: 10px;
}
.secondary-button:hover, .primary-button:focus {
	color: #fff;
	text-decoration: none;
}
.personal-reminder .col-md-7 {
	padding: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.personal-reminder .col-md-5 {
	padding-right: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.personal-reminder-right {
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #fff;
	padding: 20px;
	width: 100%;
}
.reminder-dropdown {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 10px;
	font-size: 16px;
}
.reminder-dropdown select {
	border: none;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 0;
	line-height: 16px;
}
.reminder-table table {
	width: 100%;
}
.reminder-table table strong {
	color: #323232;
	font-size: 16px;
	font-weight: 600;
}
.reminder-table table span {
	color: #969696;
	font-size: 14px;
}
.reminder-table td {
	border-bottom: 1px solid #ededed;
	padding: 18px 10px;
}
.reminder-table input:focus {
	background-color: #fffef2;
}
.new-reminder input:focus {
	background-color: #fffef2;
}
.new-reminder input:focus::-webkit-input-placeholder {
	color: #000;
}
.remiber-images {
	margin: 0 10px;
    cursor: pointer
}
.reminder-table .edit-staging {
	background-color: #fff5ef;
}
.personal-reminder {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.personal-reminder-left {
	border: 1px solid #e1e1e1;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
}
.personal-reminder-left h3 {
	color: #323232;
	font-size: 16px;
	font-weight: normal;
	line-height: 16px;
	border-bottom: 1px solid #e1e1e1;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0 5px 20px 5px;
}
.new-reminder {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.calender-icon {
	position: relative;
	margin-right: 10px;
	margin-bottom: 20px
}
.calender-icon img {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
}
.form-data label {
	color: #323232;
	display: block;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
	margin-bottom: 8px;
}
.form-data input {
	border-radius: 5px;
	border: 1px solid #dedede;
	padding: 6px 15px;
	width: 100%;
	margin-bottom: 20px;
}
.form-data .task-name {
	width: 274px;
}
.three-column .form-data {
	float: left
}
.form-data .date {
	width: 130px;
	margin-bottom: 0;
}
.form-data .time {
	border-radius: 5px;
	border: 1px solid #dedede;
	padding: 6px 15px;
	width: 111px;
	margin-bottom: 20px;
	height: 35px;
	margin-right: 10px;
	line-height: 15px;
}
.form-data .repeat {
	border-radius: 5px;
	border: 1px solid #dedede;
	padding: 6px 15px;
	width: 111px;
	margin-bottom: 20px;
	height: 35px;
	margin-right: 0;
	line-height: 15px;
}
.form-data textarea {
	border-radius: 5px;
	border: 1px solid #dedede;
	padding: 16px;
	width: 100%;
}
.followup-list ul {
	padding: 0;
	margin: 0;
}
.followup-list li {
	list-style: none;
	display: inline-block;
	margin: 15px 0;
}
.followup-list li a {
	text-decoration: none;
	border: 2px solid #d8d8d8;
	border-radius: 50px;
	color: #969696;
	display: block;
	font-size: 16px;
	line-height: 16px;
	padding: 7px 20px;
	text-transform: capitalize;
	margin-right: 10px;
}
.followup-list li button {
	text-decoration: none;
	border: 2px solid #d8d8d8;
	border-radius: 50px;
	color: #969696;
	display: block;
	font-size: 16px;
	line-height: 16px;
	padding: 7px 20px;
	text-transform: capitalize;
	margin-right: 10px;
}
.followup-list li a:hover {
	color: #969696;
}
.followup-list .active {
	background-color: #a1a1a1;
	border: 2px solid #a1a1a1;
	color: #fff;
}
.followup-list .active:hover {
	color: #fff;
}
.customer-reminder-header {
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}
.customer-reminder-header .form-data {
	margin-right: 10px !important;
}
.customer-reminder-header .form-data input {
	margin-bottom: 0;
}
.search-button {
	border-radius: 5px;
	background-color: #28465a;
    border-color: #28465a;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	margin-top: 25px;
	display: inline-block;
	padding: 7px 15px;
	text-decoration: none;
	text-transform: capitalize;
}
.search-button:hover, .search-button:focus {
	color: #fff;
}
.search-reminder {
	float: left;
}
.reminder-button {
	border: none;
	border-radius: 5px;
	background-color: #f57104;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	margin-top: 25px;
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: capitalize;
}
.reminder-button:hover, .reminder-button:focus {
	color: #fff;
}
.reminder-list {
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 5px;	/* font-family: 'GT Medium',arial,sans-serif; */
	padding: 6px;
	margin-bottom: 30px;
}
.reminder-list .list-header {
	background-color: #dcdcdc;
	color: #505050;
	font-size: 16px;
	line-height: 16px;	/* padding: 10px 0; */
}
.list-header ul {
	margin: 0;
	padding: 0;
	margin-left: 52px;
}
.list-header li {
	list-style: none;
	float: left;
}
.list-header table {
	width: 100%;
}
.list-header th {
	padding: 10px 5px;
}
.reminder-accordion input {
	display: none;
}
.reminder-accordion input:checked + label {
	background: #fff5ef;
	margin: 1px 0;
}
.reminder-accordion label {
	color: #000;
	position: relative;
	display: block;
	line-height: 14px;
	font-size: 14px;
	background: #ffffff;
	cursor: pointer;
	border-bottom: 1px solid #e1ecea;
	margin: 0;
}
.reminder-accordion label:after {
	background-image: url("../images/accordion-inactive.png");
	background-repeat: no-repeat;
	content: '';
	position: absolute;
	width: 12px;
	height: 11px;
	top: 50%;
	left: 10px;
	margin-top: -5.5px;
	transition: .8s transform;
}
.reminder-accordion input:checked + label:after {
	background-image: url("../images/accordion-active.png");
	background-repeat: no-repeat;
	content: '';
	position: absolute;
	width: 12px;
	height: 3px;
	top: 50%;
	left: 10px;
	margin-top: -1.5px;
	transition: .8s transform;
}
.reminder-accordion label:last-child {
	margin-right: 0;
}
.reminder-accordion article {
	height: 0;
	overflow: hidden;
	position: relative;
	margin-bottom: 0;
	opacity: 0;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
	visibility: hidden;
	filter: alpha(opacity=0);
}
.reminder-accordion div > input:checked {
	padding-bottom: 15px;
}
.reminder-accordion div > input:checked ~ article {
	height: auto;
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	filter: alpha(opacity=100);
}
.customer-table {
	color: #000;
	width: 100%;
}
.customer-table thead {
	border-top: 1px solid #c2c2c2;
}
.customer-table th {
	background-color: #effefc;
	color: #000;
	padding: 10px 5px;
	font-weight: bold;
	font-size: 16px;
}
.customer-table td {
	background-color: #effefc;
	border-top: 1px solid #e1ecea;
	color: #505050;
	padding: 20px 5px;
}
.history-billing-notes {
	color: #777777;
	border-top: none !important;
	padding: 0 10px 10px 10px !important;
	width: 200px;
	font-size: 13px;
}
.history-billdate {
	font-family: 'proxima_novasemibold';
}
.reminder-table .amount-received {
	text-align: right;
	display: block;
	padding: 6px 0;
}
.email-button {
	border-radius: 5px;
	background-color: #3db29f;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: capitalize;
	margin-right: 10px;
}
.email-button:hover, .email-button:focus {
	color: #fff;
	text-decoration: none;
}
.sms-button {
	border-radius: 5px;
	background-color: #f57104;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: capitalize;
	margin-right: 10px;
}
.sms-button:hover, .sms-button:focus {
	color: #fff;
	text-decoration: none;
}
.dismiss-button {
	border-radius: 5px;
	background-color: #afafaf;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: capitalize;
	margin-right: 10px;
}
.dismiss-button:hover, .dismiss-button:focus {
	color: #fff;
	text-decoration: none;
}
.acc-label table {
	width: 100%;
}
.acc-label {
	display: block;
}
.acc-label th {
	color: #505050;
	padding: 10px 5px;
}
.history-bill .acc-label {
	color: #505050;
}
.acc-label .date {
	color: #505050;
	display: block;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 5px;
}
.acc-label .time {
	color: #969696;
	display: block;
	font-size: 13px;
	line-height: 13px;
}
.reminder-list-image {
	float: right;
	margin: 0 10px;
    cursor: pointer;
}
.popup-overlay {
	/*background-color: rgba(0, 0, 0, 0.7);*/
	height: 100%;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.middlealign {
	display: table;
	height: inherit;
	width: 100%;
}
.middlealign > div {
	display: table-cell;
	vertical-align: middle;
}
.popup-wrap {
	background-color: #fff;
	margin: 0 auto;
	max-width: 725px;
	position: relative;
}
.popup-close {
    color:#fff;
	cursor: pointer;
	padding: 10px 15px;
	position: absolute;
	right: 0;
	top: 0;
}

/* reminder-popup */
.form-data span {
	color: #ff2626;
}
.reminder-popup {
	/*border: 2px solid #28465a;*/
	border-top: none;
	border-radius: 5px;
}
.reminder-popup h3 {
	background-color: #28465a;
	color: #fff;
	font-family: 'GT Medium', arial, sans-serif;
	font-size: 19px;
	line-height: 19px;
	padding: 20px 0;
	text-align: center;
	margin: 0;
}
.reminder-popup-wrap {
	padding: 20px 30px;
}
.reminder-popup-wrap .popup-row {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
.reminder-popup-wrap .col-md-7 {
	padding-right: 20px;
	position: relative;
	padding-left: 0;
}
.reminder-popup-wrap .col-md-7:after {
	background-color: #e1e1e1;
	content: "";
	width: 1px;
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
}
.reminder-popup-right {
	position: relative;
	padding-right: 0
}
.reminder-popup-wrap .reminder-popup-right h4 {
	color: #000;
	font-size: 14px;
	line-height: 14px;
	margin: 0;
	margin-bottom: 30px;
}
.reminder-popup-right .col-md-7 {
	padding-right: 10px !important;
}
.reminder-popup-right .col-md-7:after {
	display: none;
	padding-right: 10px !important;
}
.reminder-popup-right .form-data label, .reminder-popup-left .form-data label {
	font-size: 14px;
	line-height: 14px;
}
.reminder-popup-left .form-data input {
	border: 1px solid #c5dad6;
	margin-bottom: 0;
}
.reminder-popup-left .form-data textarea {
	border: 1px solid #c5dad6;
}
.reminder-popup-left .form-data {
	margin-bottom: 20px;
}
.reminder-popup-left .add-medicine {
	color: #0c5592;
	display: block;
	font-size: 14px;
	line-height: 14px;
	margin-bottom:15px;
}
.search-icon {
	position: relative;
}
.search-icon:after {
	background-image: url("../images/search-icon.png");
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	width: 16px;
	height: 14px;
	right: 10px;
	top: 50%;
	margin-top: -7px;
}
.new-customer {
	color: #26a792;
	font-size: 15px;
	line-height: 15px;
	margin-top: 12px;
}
.add-medicine-section {
	margin-bottom: 10px;
}
.medicine-list {
	height: 70px;
	overflow-y: scroll;
}
.medicine-list::-webkit-scrollbar {
	width: 8px;
	height: 16px;
}
.medicine-list::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
.medicine-list::-webkit-scrollbar-corner {
	background-color: transparent;
}
.medicine-list::-webkit-scrollbar-thumb {
	background-color: #dcdcdc;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
.medicine-list ol {
	padding: 0;
	margin: 0;
	padding-left: 18px;
	margin-right: 10px;
}
.medicine-list li {
	line-height: 15px;
	font-size: 15px;
	margin-bottom: 8px;
}
.medicine-list a {
	color: #fe5252;
	font-size: 12px;
	line-height: 12px;
}
.calender-image {
	position: relative;
	margin-bottom: 20px;
}
.calender-image img {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
}
.calender-image input {
	margin-bottom: 0;
}
.select-customer {
	position: relative;
}
.select-customer h5 {
	color: #323232;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	margin: 0;
	margin-bottom: 8px;
}
.select-customer table {
	border-radius: 5px;
	background-color: #edf8f6;
	width: 100%;
	margin-bottom: 10px !important;
}
.select-customer th {
	color: #979e9d;
	font-size: 12px;
	line-height: 12px;
	padding: 8px;
}
.select-customer td {
	color: #000000;
	font-size: 15px;
	line-height: 15px;
	padding: 0px 8px 8px 8px;
}
.select-customer span {
	color: #ff2626;
}
.edit-customer-info {
	color: #d5dde7;
	font-size: 12px;
	float: right;
	line-height: 12px;
	text-decoration: underline;
	margin-bottom: 10px;
}
.edit-customer-info span {
	color: #0c5592;
	text-decoration: none;
}
.close-button {
	position: absolute;
	right: -7.5px;
	top: 12px;
}
.search-mobile-icon{
    position:relative;
}
.search-mobile{
    background-color:#ccc;
    color:#fff;
    position:absolute;
    right:0;
    top:0;
    padding:7px;
    border:0;
}