body {
    background-color: #edf6ff;
}

.scroll-hide {
    overflow-y: hidden;
}

header {
    background-color: #16364b;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(148, 154, 159, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(148, 154, 159, 1);
    box-shadow: 0px 0px 10px 0px rgba(148, 154, 159, 1);
    /*position: absolute;*/
    left: 0px;
    top: 0px;
    width: 100%;
}

    header .logo {
        display: inline-block;
        padding: 6.5px 12px;
        float: left;
    }

footer {
    background-color: #edf6ff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.sub-haeder {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 33px;
}

.shourtcut-key {
    position: relative;
    left: 0px;
    bottom: 0px; /*height: 30px;*/
    width: 100%;
    background: #161d2a;
    padding-left: 45px;
}

    .shourtcut-key:before {
        content: "";
        background-image: url(../images/shortkey.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 33px;
        height: 20px;
        left: 6px;
        top: 50%;
        margin-top: -10px;
    }
/* IE 6 */
* html footer {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight:document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px');
}

.page-tabs li {
    float: left;
}

    .page-tabs li a {
        color: #ffffff;
        font-size: 13px; /*font-weight: 300;*/
        line-height: 13px;
        padding: 13.5px 26px;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

        .page-tabs li a:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #56799e;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .page-tabs li a:hover:before, .page-tabs li a:focus:before, .page-tabs li a:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }

        .page-tabs li a.active {
            background-color: #56799e;
            font-weight: normal;
        }

.page-close {
    color: #ffffff;
    padding: 9.5px 20px;
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 18px;
}

    .page-close:hover {
        color: #ccc;
    }

    .page-close img {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -7px;
        margin-left: 10px;
        width: 14px;
        height: 14px;
    }

.sell-tabs {
    display: inline-block;
}

    .sell-tabs li {
        border-right: 1px solid #edf6ff;
        background-color: #bccad6;
        cursor: pointer;
        float: left;
        padding: 10.5px 70px 10.5px 14px;
        position: relative;
        margin: 0;
        font-size: 12px;
        font-weight: normal;
        line-height: 12px;
        color: #717980; /*display: inline-block;*/
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

        .sell-tabs li:last-child {
            border-right: none;
        }

        .sell-tabs li:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #16364b;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .sell-tabs li:hover:before, .sell-tabs li:focus:before, .sell-tabs li:active:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        .sell-tabs li:hover {
            color: #ffffff;
        }

            .sell-tabs li:hover a:after {
                background-image: url(../images/list-user-over.png) !important;
            }

        .sell-tabs li a:after {
            content: "";
            background-image: url(../images/list-user.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 10px;
            height: 10px;
            right: 6px;
            top: 50%;
            margin-top: -5px;
        }

        .sell-tabs li.active {
            background-color: #16364b;
            color: #ffffff;
        }

            .sell-tabs li.active a:after {
                background-image: url(../images/list-user-active.png);
                background-repeat: no-repeat;
                width: 14px;
                height: 14px;
                right: 6px;
                top: 50%;
                margin-top: -7px;
            }

.new-tabs {
    color: #000;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    float: right;
    font-size: 13px;
    line-height: 13px;
    font-weight: bold;
    font-family: 'Source Sans Pro';
}

    .new-tabs::before {
        content: "";
        background-image: url(../images/new-sales.png);
        position: absolute;
        width: 15px;
        height: 15px;
        left: 0px;
        top: 50%;
        margin-top: -7.5px;
    }

.shourtcut-list {
    padding: 0 20px;
    width: 100%;
}

.keys-list li {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
    padding: 10px 15px;
    letter-spacing: 1px;
}

.keys-list {
    display: none;
}

    .keys-list.slick-initialized {
        display: block;
        width: 100%;
    }

    .keys-list img {
        width: 100%;
    }
    /* slick slider arrow */
    .keys-list .slick-arrow {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        z-index: 2;
        overflow: hidden;
        height: 14px;
        width: 7px;
        margin-top: -7px;
    }

        .keys-list .slick-arrow.slick-prev {
            left: -20px;
            background: url(../images/shortkey-left.png) no-repeat;
        }

        .keys-list .slick-arrow.slick-next {
            right: -20px;
            background: url(../images/shortkey-right.png) no-repeat;
        }
/*.sell-add-section {
	margin-top: 73px;
}*/
.sell-add-header th {
    border-bottom: 3px solid #edf6ff;
    background-color: #56799e;
    color: #c4dbf2;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    padding: 12px 4px;
}
/*.sell-add-body {
    height: 470px !important;
    overflow: auto;
   overflow-x: hidden;
}*/
/*#tblProducts{
    height: 470px !important;
    overflow: auto;
}*/
/*#ddbottom{
     display: block;
  margin-top: 2000px;
}*/
/*.productup {
    top: 0px !important;
    bottom:100%
}*/
.productup {
    top: -115px !important;
}

.sell-add-body::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

.sell-add-body::-webkit-scrollbar-corner {
    background-color: #e8e8e8;
}

.sell-add-body::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 0;
}

.sell-add-body::-webkit-scrollbar-track {
    background-color: #e8e8e8;
    border-radius: 0;
    border: none;
}

.sell-add-body td {
    border-bottom: 3px solid #edf6ff;
    background-color: #fff;
    color: #000000;
    padding: 6px 4px;
    font-weight: bold;
}

.product-enter input {
    width: 100%;
    color: #000;
    border: 1px solid #d7d7d7;
    height: 33px;
    padding: 6px;
}

.batch-parent input {
    width: 10%;
    border: 1px solid #d7d7d7;
    height: 33px;
    padding: 6px;
}

    .product-enter input:focus, .batch-parent input:focus {
        border: 3px solid #f7941d;
    }

.sell-default td {
    padding: 6px 4px;
    position: relative;
}

.custom-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d7d7d7;
    background-image: url(../images/custom-arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #fff;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #9d9d9d;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    height: 30px;
    line-height: 13px;
    margin: 0;
    overflow: hidden;
    padding: 7px 26px 7px 8px;
    text-overflow: ellipsis;
    outline: none;
    vertical-align: middle;
    width: 100%;
    white-space: nowrap;
}

.sell-reminder {
    position: relative;
}

    .sell-reminder select {
        height: 30px;
        padding: 4px 10px;
    }

.row-cal {
    float: right;
    position: absolute;
    right: -24px;
    top: 50%;
    margin-top: -10.5px;
}

.contact-search, .customer-details {
    background-color: #fff;
    padding: 8px;
}

.complete-sale {
    background-color: #fff;
    padding: 6px 10px;
}

.line-button {
    background-color: #fff;
    border: 2px solid #28465a;
    border-radius: 5px;
    cursor: pointer;
    color: #1e3748;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    padding: 7.5px 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .line-button:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #28465a;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .line-button:hover:before, .line-button:focus:before, .line-button:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .line-button:hover, .line-button:focus, .line-button:active {
        color: #fff;
    }

.form-dada label {
    color: #000000;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
}

.form-dada input {
    border: 1px solid #d7d7d7;
    border-radius: 0;
    height: 30px;
    padding: 10px;
    text-align: left;
    padding: 10px; /*width: 100%;*/
    margin: 0;
    left: 0;
    position: relative;
}

    .form-dada input:focus {
        border: 3px solid #f7941d;
    }

.form-dada .customer-type {
    width: 150px;
}

.green-button {
    background-color: #00c853;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding: 8.5px 12px;
    transition: background-color 0.4s ease;
}
/*.green-button:hover {
        background-color: #43a047;
    }*/
.darkgray-button {
    background-color: #636363;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding: 8.5px 12px;
    transition: background-color 0.4s ease;
}

    .darkgray-button:hover {
        background-color: #7c7b7b;
    }

.total-amount {
    background-color: #d4e0ed;
    padding: 8px 14px;
    position: relative;
    margin-bottom: 4px;
}

    .total-amount.active {
        border: 3px solid #f7941d;
    }

.form-dada .total-text {
    width: 100px;
}

.cla-icon {
    background-image: url(../images/cal-icon.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
    cursor: pointer;
    padding-right: 35px !important;
}

.form-dada .bill-date {
    width: 145px;
}

.form-dada .width-total {
    width: 108px;
    text-align: right;
}

.net-value {
    background-color: #56799e;
    color: #fff;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    max-width: 300px;
    text-align: right;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    padding: 2px 16px;
}

    .net-value span {
        display: block;
        font-size: 11px;
        line-height: 11px;
    }

.customer-details {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 4px;
}

.width-customer {
    width: 130px;
}

.rupee {
    position: relative;
}

    .rupee:before {
        content: "\f156";
        color: #3c3c3c;
        position: absolute;
        font-size: 14px;
        font-weight: normal;
        font-family: "FontAwesome";
        line-height: 14px;
        left: 6px;
        top: 50%;
        margin-top: -7px;
        z-index: 99;
    }

.sell-product {
    position: relative;
}

    .sell-product .dropdown-menu {
        /*max-height: 115px;*/
        overflow-y: scroll;
        width: 100%;
    }
    /*.sell-product .dropdown-menu {
        -webkit-box-shadow: 0px 0px 8px 0px rgba(183, 190, 197, 1);
        -moz-box-shadow: 0px 0px 8px 0px rgba(183, 190, 197, 1);
        box-shadow: 0px 0px 8px 0px rgba(183, 190, 197, 1);
        border: 1px solid #d7d7d7;
        position: absolute;
        top:100% !important;
        background-color: #fff;
        width: 100%;
        overflow-y: scroll;
        z-index: 99;
        display: block;
        margin: 0;
        border-radius: 0;
        padding: 0;
        margin-top: 1px;
    }
        .sell-product .dropdown-menu::-webkit-scrollbar {
            display: none;
        }*/
    /*Durga style  code starts 22062017*/
    .sell-product .schedule {
        background-color: #82f7c5;
        width: 15px;
        text-align: center;
        padding: 3px;
        font-size: 11px;
        font-weight: 600;
        line-height: 11px;
        display: inline-block;
        /*position: absolute;*/
        left: 4px;
    }

    .sell-product a {
        cursor: pointer;
        color: #000;
        display: block;
        padding: 8px 30px 8px 24px;
        position: relative;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        padding-left: 10px !important;
    }

        .sell-product a:hover {
            background-image: url(../images/dropdown-right.png);
            background-repeat: no-repeat;
            background-position: right 6px top 50%;
            background-color: #28465a;
            color: #fff;
        }

    .sell-product .product-count {
        position: absolute;
        right: 30px;
        text-align: right;
    }

    .sell-product .orange {
        background-color: #fcdf9a;
        color: #000;
        padding-left: 2px;
    }

    .sell-product .pink {
        background-color: #fabce2;
        color: #000;
    }

    .sell-product a.active {
        background-color: #28465a;
        color: #fff;
        position: relative;
    }

        .sell-product a.active::after {
            content: "";
            background-image: url(../images/dropdown-right.png);
            background-repeat: no-repeat;
            width: 8px;
            height: 11px;
            right: 6px;
            top: 50%;
            margin-top: -5.5px;
            position: absolute;
        }

.sell-batch {
    /* -webkit-box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1); */
    -moz-box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1);
    /* box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1); */
    position: absolute;
    /* border: 1px solid #69808f; */
    top: 10%;
    bottom: 10%;
    left: 3%;
    right: 3%;
    z-index: 1;
    width: 94%;
}

.customer-popup {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(183, 190, 197, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(183, 190, 197, 1);
    box-shadow: 0px 0px 10px 0px rgba(183, 190, 197, 1);
    border: 1px solid #b7bec5;
    background-color: #fff;
    padding: 3px;
    margin: 0 60px auto;
    margin-bottom: 8px;
    position: absolute;
    left: 0;
    bottom: 182px;
    width: 1000px;
    z-index: 99;
}

    .customer-popup .customer-popup-header th {
        background-color: #ccd7e2;
        color: #2d2d2d;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
        padding: 6.5px 10px;
    }

.customer-popup-body tr.active {
    background-color: #28465a;
    color: #fff;
}

.customer-popup-body tr:hover {
    background-color: #28465a;
    color: #fff;
}

.customer-popup .customer-popup-body td {
    padding: 8px 10px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
}

.customer-popup-table {
    width: 992px;
    table-layout: fixed;
    border-collapse: collapse;
}

.customer-popup-header thead {
    background-color: #ccd7e2;
    color: #2d2d2d;
}

.customer-popup-body {
    overflow-y: auto;
    width: 100%;
    max-height: 246px;
}

    .customer-popup-body::-webkit-scrollbar {
        width: 4px;
        height: 10px;
    }

    .customer-popup-body::-webkit-scrollbar-corner {
        background-color: #e8e8e8;
    }

    .customer-popup-body::-webkit-scrollbar-thumb {
        background-color: #636363;
        border-radius: 50px;
    }

    .customer-popup-body::-webkit-scrollbar-track {
        background-color: #e8e8e8;
        border-radius: 50px;
        border: none;
        margin: 3px 0;
    }

#header-fixed {
    position: fixed;
    top: 0px;
    display: none;
    background-color: white;
}

.doctor-popup {
    -webkit-box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1);
    box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1);
    border: 1px solid #b7bec5;
    background-color: #fff;
    padding: 3px;
    margin-bottom: 8px;
    position: absolute;
    left: 50%;
    bottom: 182px;
    width: 400px;
    z-index: 9;
}

    .doctor-popup th {
        background-color: #ccd7e2;
        color: #2d2d2d;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        text-transform: uppercase;
        padding: 7px 10px;
    }

    .doctor-popup td {
        padding: 8px 10px;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
    }

    .doctor-popup tr:hover {
        background-color: #28465a;
        color: #fff;
    }

    .doctor-popup tr.active {
        background-color: #28465a;
        color: #fff;
        font-weight: bold;
    }

.doctor-popup-header {
    background-color: #ccd7e2;
    color: #2d2d2d;
}

    .doctor-popup-header th {
        padding: 8px 10px;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
    }

.doctor-popup-body th {
    padding: 8px 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
}

.doctor-popup-body {
    overflow: auto;
    width: 100%;
    max-height: 246px;
}

    .doctor-popup-body::-webkit-scrollbar {
        width: 4px;
        height: 10px;
    }

    .doctor-popup-body::-webkit-scrollbar-corner {
        background-color: #e8e8e8;
    }

    .doctor-popup-body::-webkit-scrollbar-thumb {
        background-color: #636363;
        border-radius: 50px;
    }

    .doctor-popup-body::-webkit-scrollbar-track {
        background-color: #e8e8e8;
        border-radius: 50px;
        border: none;
        margin: 3px 0;
    }

.payment-details {
    -webkit-box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1);
    box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1);
    border: 1px solid #b7bec5;
    background-color: #fff;
    color: #fff;
    padding: 3px;
    margin-bottom: 8px;
    position: absolute;
    right: 3%;
    /*bottom: 118px;*/
    z-index: 99;
    left:32.5%;
    right:32.5%;
}

    .payment-details h2 {
        background-color: #ccd7e2;
        color: #2d2d2d;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        margin-bottom: 3px;
        padding: 10px 20px;
    }

.payment-enter {
    background-color: #56799e;
}

.enter-field input {
    border: 1px solid #d7d7d7;
    height: 30px;
    width: 135px;
    text-align: right;
    padding: 6px;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.payment-enter thead {
    display: none;
}

.payment-enter td {
    font-weight: bold;
    padding: 6px 3px 6px 20px;
    letter-spacing: 1px;
}

.enter-field input.active {
    border: 3px solid #f7941d;
}

.balanace-amount {
    background-color: #1e3748;
}

.enter-field span {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}
/* payment radio button */
.payment-radio-button ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

    .payment-radio-button ul li {
        position: relative;
        float: left;
        margin-bottom: 0;
    }

        .payment-radio-button ul li input[type=radio] {
            /*position: absolute;
            visibility: hidden;*/
            margin-top: 0;
            width: 13px;
            height: 13px;
            float: left;
        }

.payment-radio-button label:after {
    display: none;
}

.payment-radio-button ul li label {
    background-color: transparent !important;
    cursor: pointer;
    color: #000000;
    display: block;
    position: relative;
    padding: 0 0 0 20px;
    margin: 0px auto;
    height: 13px;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    -webkit-transition: all 0.25s linear;
    z-index: 9;
}

.payment-radio-button ul li .check {
    background-color: #f3f3f3;
    display: block;
    position: absolute;
    border: 2px solid #b9b9b9;
    border-radius: 100%;
    height: 13px;
    width: 13px;
    top: 0;
    left: 0;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.payment-radio-button ul li:hover .check {
    border: 2px solid #b9b9b9;
}

.payment-radio-button ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 7px;
    width: 7px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.payment-radio-button input[type=radio]:checked ~ .check {
    border: 2px solid #1e3748;
    background-color: #fff;
}

    .payment-radio-button input[type=radio]:checked ~ .check::before {
        background: #1e3748;
    }
/* payment radio  button end*/
.select-type {
    padding: 10px 20px;
}

    .select-type thead {
        display: normal;
    }

    .select-type td {
        color: #28465a;
        font-size: 13px;
        line-height: 13px;
        font-weight: normal;
        padding: 10px 6px;
    }

    .select-type .invoice {
        color: #28465a;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
    }

.sticky-header-table-wrapper {
    position: relative;
    padding: 33px 0 0 0;
    background-color: #56799e;
    color: #c4dbf2;
}

.sticky-header-table-container {
    background-color: #edf6ff;
    margin: 0; /*height:360px;*/
    overflow-y: auto;
}

    .sticky-header-table-container::-webkit-scrollbar {
        width: 6px;
        height: 10px;
    }

    .sticky-header-table-container::-webkit-scrollbar-corner {
        background-color: #e8e8e8;
    }

    .sticky-header-table-container::-webkit-scrollbar-thumb {
        background-color: #636363;
        border-radius: 0;
    }

    .sticky-header-table-container::-webkit-scrollbar-track {
        background-color: #e8e8e8;
        border: none;
    }

    .sticky-header-table-container thead tr {
        height: 0;
    }

    .sticky-header-table-container th > span {
        display: block;
        position: absolute;
        top: 0;
        padding: 9px 4px;
        height: 33px;
        box-sizing: border-box;
        background-color: #56799e;
        color: #c4dbf2;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.popup-overlay {
    background-color: rgba(70, 99, 117, 0.85);
    height: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    overflow-y: scroll;
}
/*.popup-wrap {
background-color: #edf6ff;
margin: 0 auto;
max-width: 725px;
position: relative;
}*/
.middlealign {
    display: table;
    height: inherit;
    width: 100%;
}

    .middlealign > div {
        display: table-cell;
        vertical-align: middle;
    }

.sell-new-product {
    background-color: #edf6ff;
    padding: 4px;
    margin: 0 auto;
    max-width: 514px;
    position: relative;
}

    .sell-new-product h2 {
        background-color: #16364b;
        color: #fff;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: bold;
        line-height: 14px;
        text-align: center;
        padding: 12px;
        margin: 0;
    }

.new-product-enter {
    padding: 16px 50px 16px 30px;
}

    .new-product-enter table {
        margin-bottom: 20px;
    }

.pop-form input {
    padding: 11px;
    height: 36px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #cccccc;
}

.new-product-enter td {
    color: #16364b;
    font-size: 14px;
    font-family: 'Oxygen';
    font-weight: normal;
    padding: 10px 0;
}

.pop-select {
    border: 1px solid #cccccc;
    color: #a2afb7;
    height: 36px;
}

.sell-missed-order {
    background-color: #edf6ff;
    padding: 4px;
    margin: 0 auto;
    max-width: 834px;
    position: relative;
}

    .sell-missed-order h2 {
        background-color: #16364b;
        color: #fff;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: normal;
        line-height: 14px;
        text-align: center;
        padding: 12px;
        margin: 0;
    }

.missed-order-enter {
    padding: 20px 30px;
}

    .missed-order-enter td {
        padding: 5px;
    }

.sell-add-missed {
    border-bottom: 1px solid #16364b;
    color: #16364b;
    font-size: 15px;
    font-family: 'Oxygen';
    font-weight: bold;
    line-height: 15px;
}

.pop-form input:focus {
    /*border: 1.5px solid #00aeef;
    box-shadow: 0 0 8px rgba(81, 203, 238, 1);*/
    border: 3px solid #f7941d;
}

.sell-temporary-stock {
    background-color: #edf6ff;
    padding: 4px;
    margin: 0 auto;
    max-width: 516px;
    position: relative;
}

    .sell-temporary-stock h2 {
        background-color: #16364b;
        color: #fff;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: normal;
        line-height: 14px;
        text-align: center;
        padding: 12px;
        margin: 0;
    }

.temporary-stock-enter {
    padding: 16px 70px 16px 30px;
}

    .temporary-stock-enter table {
        margin-bottom: 20px;
    }

    .temporary-stock-enter td {
        color: #16364b;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: normal;
        padding: 10px 0;
    }

.line-button-green {
    background-color: #fff;
    border: 2px solid #00c853;
    border-radius: 5px;
    cursor: pointer;
    color: #00c853;
    font-size: 11px; /*	font-weight: 600;*/
    line-height: 11px;
    padding: 7.5px 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .line-button-green:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #00c853;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .line-button-green:hover:before, .line-button-green:focus:before, .line-button-green:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    .line-button-green:hover, .line-button-green:focus, .line-button-green:active {
        color: #fff;
    }

.temporary-stock-enter .expiry-date {
    width: 150px;
}

.sell-create-customer {
    background-color: #edf6ff;
    padding: 4px;
    margin: 0 auto;
    max-width: 516px;
    position: relative;
}

    .sell-create-customer h2 {
        background-color: #16364b;
        color: #fff;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: normal;
        line-height: 14px;
        text-align: center;
        padding: 12px;
        margin: 0;
        text-transform: uppercase;
    }

.create-customer-enter {
    padding: 0px 30px;
}
    /*.create-customer-enter table {
        margin-bottom: 20px;
    }*/
    .create-customer-enter td {
        color: #16364b;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: normal;
        padding: 5px 10px 5px 0px;
    }

    .create-customer-enter .dob-date {
        width: 150px;
    }
/* payment radio button */
.sell-radio-button ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

    .sell-radio-button ul li {
        position: relative;
        float: left;
        margin-bottom: 0;
    }

        .sell-radio-button ul li input[type=radio] {
            position: absolute;
            visibility: hidden;
            margin-top: 0;
            width: 13px;
            height: 13px;
        }

.sell-radio-button label:after {
    display: none;
}

.sell-radio-button ul li label {
    background-color: transparent !important;
    cursor: pointer;
    color: #000000;
    display: block;
    position: relative;
    padding: 0 40px 0 20px;
    margin: 0px auto;
    height: 13px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    -webkit-transition: all 0.25s linear;
    z-index: 9;
}

.sell-radio-button ul li .check {
    background-color: #f3f3f3;
    display: block;
    position: absolute;
    border: 2px solid #b9b9b9;
    border-radius: 100%;
    height: 13px;
    width: 13px;
    top: 0;
    left: 0;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.sell-radio-button ul li:hover .check {
    border: 2px solid #b9b9b9;
}

.sell-radio-button ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 7px;
    width: 7px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.sell-radio-button input[type=radio]:checked ~ .check {
    border: 2px solid #1e3748;
    background-color: #fff;
}

    .sell-radio-button input[type=radio]:checked ~ .check::before {
        background: #1e3748;
    }
/* payment radio  button end*/
.pop-form .custom-dropdown {
    color: #a2afb7;
    font-size: 14px;
    font-family: 'Oxygen';
    font-weight: normal;
    line-height: 14px;
    height: 36px;
}
/* common checkbox */
.popup-checkbox input[type="checkbox"] {
    display: none;
}

    .popup-checkbox input[type="checkbox"] + label {
        cursor: pointer;
        color: #16364b;
        font-size: 14px;
        font-family: 'Oxygen';
        display: inline-block;
        line-height: 14px;
        font-weight: normal;
        margin-bottom: 0;
    }

        .popup-checkbox input[type="checkbox"] + label:before {
            background-image: url("../images/popup-check.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            content: " ";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            top: 2px;
            position: relative;
            transition: all 0.3s ease-in-out;
        }

    .popup-checkbox input[type="checkbox"]:checked + label:before {
        background-image: url("../images/popup-check.png");
        background-repeat: no-repeat;
        background-position: 0 -16px;
        content: "";
        width: 16px;
        height: 16px;
    }
/*.popup-checkbox {
float: left;
}*/
.create-customer-enter .pop-form {
    position: relative;
}

    .create-customer-enter .pop-form .credit {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10.5px;
    }

    .create-customer-enter .pop-form .credit-enter {
        width: 120px;
        margin-left: 60px;
    }

.sell-product-alternate {
    background-color: #edf6ff;
    padding: 4px;
    margin: 0 auto;
    max-width: 830px;
    position: relative;
}

    .sell-product-alternate h2 {
        background-color: #16364b;
        color: #fff;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: normal;
        line-height: 14px;
        text-align: center;
        padding: 12px;
        margin: 0;
        text-transform: uppercase;
    }

.alternate-select {
    padding: 16px 30px;
}

    .alternate-select td {
        color: #16364b;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: normal;
        padding: 8px 0;
    }

.alternate-list {
    background-color: #fff;
    border: 1px solid #cccccc;
    padding: 20px 24px 0 24px;
    height: 196px;
    overflow-y: scroll;
}

    .alternate-list .sell-radio-button ul li {
        float: none;
        margin-bottom: 20px;
    }

        .alternate-list .sell-radio-button ul li label {
            text-transform: uppercase;
        }

    .alternate-list::-webkit-scrollbar {
        width: 4px;
        height: 10px;
    }

    .alternate-list::-webkit-scrollbar-corner {
        background-color: #e8e8e8;
    }

    .alternate-list::-webkit-scrollbar-thumb {
        background-color: #636363;
        border-radius: 0;
    }

    .alternate-list::-webkit-scrollbar-track {
        background-color: #e8e8e8;
        border: none;
    }

.alternate-select h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.alternate-select table {
    margin-top: 20px;
}

.alternate-select thead, .temporary-stock-enter .add-tmp-stock-thead {
    display: none;
}

.pop-form {
    position: relative;
}

    .pop-form .alternet-search {
        background-color: #fff;
        border: none;
        position: absolute;
        top: 50%;
        right: 1px;
        padding: 6px 10px;
        margin-top: -17px;
    }

    .pop-form .save-loader {
        position: absolute;
        right: -40px;
        top: 50%;
        text-align: center;
        margin-top: -17px;
    }

        .pop-form .save-loader img {
            margin-bottom: 5px;
        }

.save-loader span {
    display: block;
    color: #16364b;
    font-size: 10px;
    font-weight: normal;
    font-family: 'Oxygen';
    line-height: 10px;
}

.batch-header-table-wrapper {
    position: relative;
    padding: 26px 0 0 0;
    background-color: #c5d3e2;
    color: #c4dbf2;
    overflow: hidden;
}

.batch-header-table-container {
    background-color: #edf6ff;
    margin: 0;
    max-height: 218px;
    overflow-y: scroll;
}

    .batch-header-table-container thead tr {
        height: 0;
    }

    .batch-header-table-container th > span {
        display: block;
        position: absolute;
        top: 0;
        color: #2d2d2d;
        font-size: 11px;
        font-weight: bold;
        line-height: 11px;
        height: 26px;
        width: inherit;
        box-sizing: border-box;
        background-color: #c5d3e2;
        padding: 8px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .batch-header-table-container table {
        width: 100%;
    }

.sell-batch-header th {
    border-bottom: none;
}

.sell-batch .sell-batch-header th {
    color: #2d2d2d;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    background-color: #c5d3e2;
    padding: 8px 10px;
}

.sell-batch > .sell-batch-body tbody td {
    background-color: #f5faff;
    color: #2d2d2d;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    padding: 8px 10px;
    border: 0;
}

#detail tbody tr:hover td {
    background-color: #28465a;
    color: #fff;
}

#detail tbody tr.active td {
    background-color: #28465a;
    color: #fff;
}

.sell-default .sell-batch-body {
    /*background-color: #edf6ff;*/
    max-height: 218px;
    overflow-y: scroll;
}

.sell-batch-body::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

.sell-batch-body::-webkit-scrollbar-corner {
    background-color: #e8e8e8;
}

.sell-batch-body::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 0;
}

.sell-batch-body::-webkit-scrollbar-track {
    background-color: #e8e8e8;
    border: none;
}

.last-sell-details {
    border: 3px solid #69808f;
    background-color: #f5faff;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1);
    -moz-box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1);
    box-shadow: 0px 0px 24px 0px rgba(183, 190, 197, 1);
    color: #fff;
    margin-bottom: 8px;
    position: absolute;
    right: 10px;
    bottom: 176px;
    z-index: 99;
    width: 520px;
    max-height: 270px;
}

    .last-sell-details h5 {
        color: #000;
        font-size: 13px;
        font-weight: normal;
        line-height: 13px;
        text-align: right;
        padding: 10px;
        margin: 0;
    }

    .last-sell-details h3 {
        background-color: #c5d3e2;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .last-sell-details th {
        background-color: #e5edf5;
        color: #2d2d2d;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        padding: 10px;
    }

    .last-sell-details thead tr {
        border-bottom: 3px solid #edf6ff;
    }

    .last-sell-details tbody tr {
        background-color: #fff;
        border-bottom: 3px solid #edf6ff;
        color: #000;
    }

        .last-sell-details tbody tr:hover {
            background-color: #28465a;
            color: #fff;
        }

        .last-sell-details tbody tr:last-child {
            border-bottom: none;
        }

    .last-sell-details td {
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
        padding: 10px;
    }

.sell-sub-pages table {
    table-layout: fixed;
}

.left-side-section {
    background-color: #e0ebf4;
    padding: 6px;
}

.table-header-section thead th {
    background-color: #56799e;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 10px 5px;
}

.table-body-section {
    background-color: #e0ebf4;
    height: 380px;
    overflow-y: scroll;
}

    .table-body-section tbody tr {
        background-color: #fff;
        border-bottom: 3px solid #e0ebf4;
        color: #16364b;
    }

        .table-body-section tbody tr.active {
            background-color: #28465a;
            color: #fff;
        }

            .table-body-section tbody tr.active .right-arrow {
                background-color: #28465a;
                color: #fff;
                background-image: url(../images/dropdown-right.png);
                background-repeat: no-repeat;
                background-position: right 6px top 50%;
                padding-right: 20px !important;
            }

        .table-body-section tbody tr:hover {
            background-color: #28465a;
            color: #fff;
        }

        .table-body-section tbody tr.right-arrow:hover {
            background-image: url(../images/dropdown-right.png);
            background-repeat: no-repeat;
            background-position: right 6px top 50%;
            background-color: #28465a;
            color: #fff;
        }

    .table-body-section tbody td {
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
        padding: 15px 7px;
        word-break: break-all;
    }

    .table-body-section::-webkit-scrollbar {
        width: 4px;
        height: 10px;
    }

    .table-body-section::-webkit-scrollbar-corner {
        background-color: #e8e8e8;
    }

    .table-body-section::-webkit-scrollbar-thumb {
        background-color: #636363;
        border-radius: 50px;
    }

    .table-body-section::-webkit-scrollbar-track {
        background-color: #e8e8e8;
        border: none;
    }

.right-side-section {
    border: 3px solid #28465a;
    background-color: #e0ebf4;
    padding: 6px;
    margin-top: 16px;
}

    .right-side-section .right-table-header th {
        background-color: #bec9d5;
        color: #16364b;
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
        padding: 10px;
    }

    .right-side-section .right-table-body {
        background-color: #e0ebf4;
        height: 320px;
        overflow-y: scroll;
    }

.sell-history .right-side-section .right-table-body {
    height: 306px;
}

.right-side-section .right-table-body tbody td {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 15px 10px;
    word-break: break-all;
}

.right-side-section .right-table-body tbody tr {
    background-color: #f5faff;
    border-bottom: 3px solid #e0ebf4;
    color: #16364b;
}

    .right-side-section .right-table-body tbody tr:hover {
        background-color: #16364b;
        color: #fff;
    }

    .right-side-section .right-table-body tbody tr.active {
        background-color: #28465a;
        color: #fff;
    }

.right-table-body::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

.right-table-body::-webkit-scrollbar-corner {
    background-color: #e8e8e8;
}

.right-table-body::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 50px;
}

.right-table-body::-webkit-scrollbar-track {
    background-color: #e8e8e8;
    border: none;
}

.right-side-details {
    background-color: #56799e;
    color: #fff;
    padding: 6px 5px;
    position: relative;
}

    .right-side-details th {
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
        padding: 5px 10px;
    }

    .right-side-details td {
        font-size: 12px;
        font-weight: normal;
        line-height: 12px;
        padding: 5px 10px;
    }

.right-side-footer table {
    background-color: #28465a;
    max-width: 385px;
    float: right;
}

    .right-side-footer table th {
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        line-height: 14px;
        padding: 8px 10px;
    }

    .right-side-footer table td {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        padding: 8px 10px;
    }

.right-side__form input {
    border: 1px solid #b7b7b7;
    color: #000;
    height: 25px;
    padding: 6px;
    width: 100%;
}
/*.right-side__form input:focus{
border: 3px solid #f7941d;
}*/
.header-form {
    margin-top: 0;
}

.header-form {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

    .header-form .form-dada input:focus {
        border: 3px solid #f7941d;
        box-shadow: 0px 0px 4px #f7941d;
        -moz-box-shadow: 0px 0px 4px #f7941d;
        -webkit-box-shadow: 0px 0px 4px #f7941d;
    }

.cancel-bill {
    background-color: #fce4e3 !important;
    color: #ac0700 !important;
}

.bill-cancelled {
    background-color: #fce4e3;
    color: #ac0700;
    padding: 4px 8px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -30px;
    height: 58px;
}

    .bill-cancelled h5 {
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
        margin: 0;
        margin-bottom: 5px;
    }

    .bill-cancelled span {
        color: #000;
        display: block;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
    }

.edited-value {
    background-color: #f7941d;
    border-radius: 5px;
    color: #fff;
    padding: 5px 8px;
}

.sell-edit {
    background-color: #fde5da !important;
}

    .sell-edit:hover {
        color: #16364b !important;
    }

.sell-modified-date {
    background-color: #fde5da !important;
    border-bottom: none !important;
    color: #7f3f21 !important;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}

    .sell-modified-date td {
        padding: 5px 10px !important;
    }

.sell-sub-pages h6 {
    color: #16364b;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}

.form-dada .discount-type {
    width: 50px;
    padding-right: 20px;
}

.sell-total .rupee {
    background-color: rgb(235, 235, 228);
    border: 1px solid #d7d7d7;
    border-radius: 0;
    float: right;
    height: 30px;
    display: block;
    width: 108px;
    text-align: right;
    padding: 6px 8px 6px 14px;
}

.sell-total label {
    margin-top: 10px;
}

.net-value b {
    margin-left: 5px;
}

.net-value .fa {
    font-size: 30px;
    line-height: 30px;
}

.temp-stock-quantity {
    background-color: #edf6ff;
    padding: 4px;
    margin: 0 auto;
    max-width: 514px;
    position: relative;
}

    .temp-stock-quantity h2 {
        background-color: #16364b;
        color: #fff;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: bold;
        line-height: 14px;
        text-align: center;
        padding: 12px;
        margin-bottom: 10px;
    }

.stock-quantity-list {
    border: 3px solid #69808f;
    margin: 0 15px 15px 15px;
}

.temp-stock-quantity h5 {
    font-size: 16px;
    font-family: 'Oxygen';
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    margin-bottom: 15px;
}

.stock-quantity-list th {
    background-color: #c5d3e2;
    color: #2d2d2d;
    padding: 10px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}

.stock-quantity-list td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
}

.sell-add-body .reminder-date {
    width: 100%;
}

.sell-add-body .active td {
    /*background-color: #16364b;*/
    background-color: #9db3c1;
    color: #fff;
}

    .sell-add-body .active td input {
        color: #000 !important;
    }

.missed-order-list {
    margin-bottom: 15px;
    padding: 5px;
}

    .missed-order-list th {
        background-color: #56799e;
        color: #c4dbf2;
        padding: 6px 10px;
    }

    .missed-order-list td {
        border-bottom: 1px solid #ccc;
        padding: 6px 10px;
    }

.missed-order-section {
    padding: 20px;
}

.order-enter td {
    padding: 5px;
}

.order-enter th {
    padding: 5px;
}
/*Payment info css*/
/*Payment Details */
.disblock {
    display: block;
}

.wexdate {
    width: 94px;
}

.wtransid {
    width: 125px;
}

.no-pad {
    padding: 0px;
}

.disinlblk {
    display: inline-block;
}

.carddetailsonclk {
    background-color: #a1bedc;
    color: white;
}

.walletwid {
    width: 122px;
    margin: 0 5px;
}

.carddetailsonclk input {
    color: #000000;
}

.mar-sel-0 {
    margin: 0;
}
/*Popup design*/
.modal-overlay {
    z-index: 9;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 99;
}

.modal-common {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
}

.modal-common-dialog {
    background-color: #fff;
    width: 600px;
    margin: 70px auto 20px;
    position: relative;
    padding: 20px;
    border: none;
    border-radius: 5px;
}

.model-popup-header {
    margin: -20px -20px 0px;
}

.grouplist-popup {
    background: #fafafa;
    padding: 15px;
}

.model-popup-header h4 {
    background: #3a647f;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    margin-bottom: 0px;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.hide {
    display: none;
}

.mp-close {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.ag-action {
    width: 150px;
    margin: 15px auto 0;
}

a.button-bg, button.button-bg, input.button-bg {
    background: #00c853;
    padding: 5px 15px 4px;
    display: block;
    border: 1px solid #00c853;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    min-width: 100px;
}

.mar-btm-20 {
    margin-bottom: 20px;
}

.rem-med-list li {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.rem-med-list {
    height: 130px;
    overflow-y: scroll;
    overflow-x: auto;
}
/*End Popup design*/
/*End Payment info css*/
/*Added by arun given by hema*/
.Selldoclistul ul {
    max-height: 250px;
    overflow: auto;
}

.Sellcuslistul ul {
    max-height: 250px;
    overflow: auto;
}

.sell-popup-pos {
    position: absolute;
    top: 30px;
    right: 480px;
}

.source-sell {
    width: 120px !important;
    display: inline-block !important;
}

.cal-pop-sell ul {
    top: -159px !important;
}

.sell-select-mar {
    margin: 0 10px;
}

.hgt-scroll {
    height: 239px;
    overflow-y: scroll;
}
/*10-5-17*/
.alternet-search-btn {
    background-color: #fff;
    border: none;
    position: absolute;
    top: 53%;
    right: 3px;
    padding: 6px 10px;
    margin-top: -17px;
}
/*End 10-5-17*/
/*Delete popup*/
.del-fontsize {
    text-align: center;
    font-size: 16px;
}

.width-400 {
    width: 400px !important;
}
/*End Delete popup */
/*13-5-17 styles*/
.batch-hgt-auto {
    max-height: 400px;
    overflow-y: auto;
    display: block;
}

.no-pad-imp {
    padding: 0px !important;
}

.no-wrap {
    white-space: nowrap;
}

.paymentpopwidth915 {
    width: 915px;
}

.cal-pop-top ul {
    top: -275px !important;
    left: 101px;
}

.new-table th {
    color: #2d2d2d;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    background-color: #c5d3e2;
    text-align: center;
    padding: 8px 10px 4px 10px !important;
    border: 0px;
}
/*END 13-5-17 styles*/
/*16-5-17*/
.width-170 {
    width: 170px !important;
    display: inline-block !important;
}

.mar-85 {
    margin: 0 0 0 85px;
}
/*Keyboard shortcuts*/
div.wa {
    left: 10%;
    width: 80%;
    top: 21%;
    z-index: 10005;
    color: #fff;
    position: fixed;
    text-align: center;
    text-shadow: #000 1px 1px 7px;
    font-weight: bold;
    background: rgba(12, 36, 53, 0.95) none repeat scroll 0;
    overflow: hidden;
}

.wa {
    opacity: .85;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

div.wc {
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: inherit;
    overflow: auto;
    padding: 1em;
}

table.wf,
table.wd {
    width: 100%;
}

.cf {
    border-collapse: collapse;
}

.wk {
    font-size: 15px;
    white-space: nowrap;
    text-align: left;
}

.Dp {
    padding-bottom: .8ex;
}

.wj {
    color: #dd0;
    text-align: right;
}

.Dp {
    padding-bottom: .8ex;
}

.wi {
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    color: orange;
}

.wj {
    color: #dd0;
    text-align: right;
}

.Dn {
    vertical-align: top;
    padding-top: .15em;
}

.Do {
    color: #dd0;
    padding-top: 1em;
    text-align: left;
}

.txtalign-right {
    text-align: right;
}

.txtalign-left {
    text-align: right;
    color: orange;
    font-weight: 600;
    /*padding: 0 25px;*/
}

.shortcutGap {
    padding: 10px 10px;
}

.txtcolor-dd0 {
    color: #fff;
    width: 180px;
    text-align: left;
    font-weight: 500;
}

.mfs {
    border-bottom: 1px solid #dde4ec;
    margin: 10px 0px;
}
/*End Keyboard shortcuts*/
.mar-top-25 {
    margin: 25px 0;
}

.width-155 {
    width: 155px;
}

.wpinitial {
    white-space: initial;
}

.mar-top-100 {
    margin: 100px 0px;
}

.txt-red {
    color: red;
}

.Sellmobul ul {
    max-height: 250px;
    overflow: auto;
}

.ws-nowrap {
    white-space: nowrap;
}
/*End 16-5-17*/
.alttable-span.active {
    background-color: #28465a;
    color: #fff;
}

.alttable-span:hover {
    background-color: #28465a;
    color: #fff;
}

.pad-5px {
    padding: 5px !important;
}

.alttable-span > span {
    text-align: left;
    padding: 5px !important;
}

.alttable-hidden-input {
    color: transparent;
    text-shadow: 0 0 0 red;
    background: transparent;
    width: 1px;
    border: 0px none;
    display: none;
}

.z-index-8 {
    z-index: 8;
}

.new-btn-cal {
    padding: 4px 2px !important;
    border: 0px solid #fff !important;
    border-radius: 0px !important;
    position: relative !important;
    top: 1px;
}

    .new-btn-cal:hover {
        padding: 4px 2px !important;
        border: 0px solid #fff !important;
        border-radius: 0px !important;
        position: relative !important;
        top: 1px;
        background-color: #fff !important;
        border-color: #fff !important;
    }

.new-btn-cal-i {
    top: 0px;
    position: relative;
}

.close-btn-style {
    color: #fff !important;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    top: -3px;
    position: relative;
}

    .close-btn-style:hover {
        color: #fff !important;
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        top: -3px;
        position: relative;
    }

.close-batch-btn-style {
    color: #2d2d2d !important;
    position: absolute;
    top: 0;
    right: 7px;
    z-index: 8;
    color: #fff !important;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    top: -3px;
    position: relative;
}

    .close-batch-btn-style:hover {
        color: #2d2d2d !important;
        position: absolute;
        top: 0;
        right: 7px;
        z-index: 8;
        color: #fff !important;
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        top: -3px;
        position: relative;
    }

.source-sell-160 {
    width: 186px !important;
    display: inline-block !important;
}

.carddetailsonclkk input {
    color: #000000;
    color: #28465a;
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
    padding: 4px 6px;
}

.carddetailsonclkk {
    background-color: #a1bedc;
    color: white;
}

.dpad-5 {
    padding: 0px 5px;
}

.add-temp-stock-tbl {
    margin-bottom: 20px;
}

#pop-up-payment input:focus {
    border: 3px solid #f7941d;
}

#pop-up-payment button:focus {
    border: 3px solid #f7941d;
}

#qty-pop-Up input:focus {
    border: 3px solid #f7941d;
}

#divProducts input:focus {
    border: 3px solid #f7941d;
}

input[type="text"]:focus {
    border: 3px solid #f7941d;
}

.RC-pos {
    position: absolute;
    right: 3px;
    top: 56px;
}

.mr-0 {
    margin-right: 0px;
}

.manufact-css {
    display: block;
    padding: 5px 5px 5px 5px !important;
    font-size: 12px;
    color: #ccc;
}

select:focus {
    /* border: 3px solid #f7941d !important; */
}

#divDiscount > span {
    width: 100%;
    float: left;
}

.error {
    color: red;
}

.loadingoverlay {
    z-index: 10000;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute !important;
    right: 6px !important;
    top: 12px !important;
    color: black !important;
}

.glyphicon-refresh-animate {
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}
/*3-6-2017 styles */
.cursor-na {
    cursor: not-allowed !important;
}

.fs-20 {
    font-size: 20px;
}

.DiscountErrorMessage {
    width: 100%;
    float: left;
}

.no-pad {
    padding: 0px !important;
}

.custom-width {
    width: 23% !important;
}

.no-results-style {
    text-align: center;
    padding: 5px;
}

.sell-product-noresult a:hover {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #fff;
    color: #fff;
}

.bor-1-fff {
    border: 1px solid #f3f3f3;
}

#selldiscount {
    width: 60px !important;
    padding: 0px;
}

.err-invdate {
    text-align: center;
    position: relative;
    left: 256px;
}

.drpdwn-overlap-ns {
    position: absolute;
    display: block;
    width: 259px;
    z-index: 9;
}

.sell-batch-body-ns::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 0;
}

.ns-batch-style > th {
    color: #2d2d2d;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    background-color: #c5d3e2;
    text-align: center;
    padding: 8px 10px 4px 10px !important;
}

.ns-batch-td-style > td {
    background-color: #f5faff;
    color: #2d2d2d;
    font-size: 13px;
    font-weight: 600;
    line-height: 11px;
    padding: 8px 10px;
}

.ns-batch-td-style:hover td {
    background-color: #28465a;
    color: #fff;
}

.reminder-popup-wrap .popup-row {
    border-bottom: none !important;
}

#tdPendingAmount {
    background-color: #FFF1F1;
}

#spnPendingAmount {
    color: #FF1818;
}

#lblPendingAmount {
    color: #000000;
}

#emptytr {
    height: 12px;
    background-color: white;
}

#customerTable .enter-field {
    height: 33px;
}

#middlealign > div {
    margin-top: 10%;
}

.batch-popup {
    max-height: 500px;
    overflow: auto;
}

.gap {
    margin-left: 5px;
}

.productname {
    margin-left: 10px;
}

.dropdown-menu {
    z-index: 10000;
}

.btnDisabled {
    background-color: #90d8ae;
}

.btnEnabled {
    background-color: #43a047;
}

.txtDisabled {
    background-color: #eee !important;
}

label.required:after {
    content: " *";
    color: red;
}


/*Gstin Popup Styles*/
.sell-temporary-stock {
    background-color: #edf6ff;
    padding: 4px;
    margin: 0 auto;
    max-width: 516px;
    position: relative;
}

    .sell-temporary-stock h2 {
        background-color: #16364b;
        color: #fff;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: normal;
        line-height: 14px;
        text-align: center;
        padding: 12px;
        margin: 0;
    }

.close-btn-style {
    color: #fff !important;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    top: -3px;
    position: relative;
}

.temporary-stock-enter {
    padding: 16px 60px 16px 30px;
}

    .temporary-stock-enter .add-tmp-stock-thead {
        display: none;
    }

    .temporary-stock-enter td {
        color: #16364b;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: normal;
        padding: 10px 0;
    }

.error {
    color: red;
}

.position-relative {
    position: relative;
}

/*input, textarea, select {
    font-family: 'Oxygen';
    font-size: 12px;
    font-weight: bold;
    outline: none;
}*/

.pop-form input {
    padding: 11px;
    height: 12px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #cccccc;
}

.txt-desc {
    padding: 10px 0 0;
}

.mr-10 {
    margin-right: 10px;
}

.darkgray-button {
    background-color: #636363;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding: 8.5px 12px;
    transition: background-color 0.4s ease;
}

/*.green-button {
    background-color: #00c853;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding: 8.5px 12px;
    transition: background-color 0.4s ease;
}*/

/*Sales Return Popup Styles*/
.sell-temporary-stock {
    background-color: #edf6ff;
    padding: 4px;
    margin: 0 auto;
    position: relative;
}

    .sell-temporary-stock h2 {
        background-color: #16364b;
        color: #fff;
        font-size: 14px;
        font-family: 'Oxygen';
        font-weight: normal;
        line-height: 14px;
        text-align: center;
        padding: 12px;
        margin: 0;
    }

temporary-stock-enter table {
    margin-bottom: 20px;
}

.pop-form select {
    padding: 9px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #cccccc;
}

.dropdown-menu {
    z-index: 10000;
}

.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

.glyphicon:empty {
    width: 1em;
}

.line-button-green {
    background-color: #fff;
    border: 2px solid #00c853;
    border-radius: 5px;
    cursor: pointer;
    color: #00c853;
    font-size: 11px;
    line-height: 11px;
    padding: 7.5px 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .line-button-green:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #00c853;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

.btnDisabled {
    background-color: #90d8ae;
}

.fR {
    float: right;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        cursor: not-allowed;
        background-color: #eee;
    }

.input-field[disabled], .input-field[readonly], fieldset[disabled] .input-field {
    cursor: not-allowed;
    background-color: #eee;
}
