@font-face {
    font-family: GT Light;
    src: url('../fonts/GT-Walsheim-Light.ttf') format('opentype');
}
@font-face {
    font-family: GT Bold;
    src: url('../fonts/GT-Walsheim-Bold.ttf') format('truetype');
}
@font-face {
    font-family: GT Medium;
    src: url('../fonts/GT-Walsheim-Medium.ttf') format('truetype');
}

/* custom template */
html, body {
   height: 100%;
   font-family:'GT Light',arial,sans-serif;
   background-color:#ededed;
   overflow-y:auto;
   font-size:15px;
}
.nav#lg-menu  {
    font-family:'GT Light',arial,sans-serif;
}
.nav {
   font-family:'GT Bold',Arial,sans-serif;
   font-size:13px;
}

a {
  color:#222222;
}

a:hover {
  text-decoration:none;
}

hr {
  border-color:#dedede;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
   height: 100%;
    
    /*overflow: auto;*/
    *zoom:1;
}

.column .padding {
    padding: 10px 10px;
}

.full{
	padding-top:0;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
/*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

.divider {
	margin-top:32px;
}

.navbar-blue {
    border-width:0;
        background-color: #28465a;
	/*background:url('../images/header-bg.jpg') repeat-x top center transparent;*/
    color:#ffffff;
    font-family:'GT light',arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
	left:0;
	width:100%;
}

.navbar-blue li > a,.navbar-toggle  {
   color:#efefef;
   background-color:#333;
}

.navbar-blue .dropdown-menu li a {color:#2A4888;}
.navbar-blue .dropdown-menu li > a {padding-left:30px;background-color:#333;}

.navbar-blue li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open, 
.navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus {
   background-color:#28465a;
   color:#fff;
}

#main {
   background-color:#ededed;
   padding-left:5px;
   padding-right:0;
   top:33px;
   position:relative;
   bottom:0;
   height:auto;
   right:0;
   width:100% !important;
}
/* #main.fixed-main{
   top:192px;
}
.fixed-patient-info {
	margin-top:52px;
	padding-left:2px;
	padding-right:2px;
} */
#main .img-circle {
   margin-top:18px;
   height:70px;
   width:70px;
}

#sidebar {
    padding:0px;
	padding-top:15px;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color:#ffffff;
    background-color:#28465a;
    padding-left:5px;
	outline:none;
	border:0;
}
#lg-menu.panel{border:0 solid transparent !important;}

#sidebar a {
	/*height:50px;*/
	font-size:14px;
	padding:12px 5px;
	border-radius:0;
    border-bottom: 1px solid rgba(218, 218, 218, 0.2);
    display:inline-block;
    width:100%;
    text-decoration: none;
    text-align:center;
}
#sidebar a.pink-border {
	border-right:3px solid #ee1d85;
}
#sidebar a.red-border {
	border-right:3px solid #ff0000;
}
#sidebar a.mid-blue-border {
	border-right:3px solid #22A9E1;
}
#sidebar a.grey-border {
	border-right:3px solid #DFDFDF;
}


#sidebar a.green-border {
	border-right:3px solid #71c7ae;
}
#sidebar a.violet-border {
	border-right:3px solid #a479e2;
}
#sidebar a.yellow-border {
	border-right:3px solid #fedd2e;
}
#sidebar a.light-blue-border {
	border-right:3px solid #8de0e4;
}
#sidebar a.orange-border {
	border-right:3px solid #ff9000;
}
#sidebar a.light-green-border {
	border-right:3px solid #90ee90;
}
#sidebar a.light-brown-border {
	border-right:3px solid #f4a460;
}
#sidebar li {
	border-bottom:1px solid rgb(71, 98, 115);
	display: inline-block;
    width: 100%;
}
#sidebar {
	background-color:#28465a;
	padding:0;
	top:50px;
    width: 13% !important;

}
#sidebar .nav li>a:hover ,
#sidebar .nav li.active>a {
    background-color:#56799e;
}

#sidebar .nav li>a:hover {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
#sidebar .nav li>a{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
#sidebar .navbar-toggle {
	margin:0 auto;
	float:none;
	background:transparent;
}

.nav-image {
	position: relative;
    margin: 0 5px 0 0;
	width:20px;
}
.nav-image.width16{
width:16px;
}

.nav-lbl {
	/*float:left;*/
    font-family:GT light;
	margin-left:5px;
    display:none;
    position: relative;
    top: 3px;
}
.show-navlbl .logo-nav-sm img,
.logo-nav img{
    display:none;
}
.show-navlbl .logo-nav img,
.logo-nav-sm img{
    display:block;
}
.show-navlbl .nav-lbl{
    display:inline-block;
    width: calc(100% - 40px) !important;
}
#sidebar .show-navlbl a{
    text-align:left;
}
#sidebar .nav li.logo-li>a{
    padding:0px 8px;
    border:0;
}
.logo-nav-sm img{
    /*position:relative;
    top:5px;*/
}
.show-navlbl .logo-nav{
    margin-top:-15px;
}
#sidebar .nav li.logo-li{
    display:inline-grid;
}
.nav-lbl span{
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8.5px;
}
.nav-img-wrapper {
	/*float:left;*/
	text-align:center;
	width:30px;
}
.margin-top-5 {margin-top:5px;}
.margin-top-3 {margin-top:3px;}
.margin-top-2 {margin-top:2px;}
.margin-top-1 {margin-top:1px;}
.logo {
  display:block;
  padding:0;
  color:#3B5999;
  margin:0;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
  margin-left: 50px;
}
#sidebar-footer {
  background-color:#444;
  position:absolute;
  bottom:5px;
  padding:5px;
}
#footer {
  margin-bottom:20px;
}
a.logout-icon {
	float:right;
	padding:14px;
	background-color:#28465a;
        border-left: 1px solid #627e90;
}
a.logout-icon.setting-icon {
	margin-right:2px;
}
a:hover.logout-icon {
	background-color:#627e90;
}
.navbar-header {width:100%;border-bottom: 1px solid rgba(218, 218, 218, 0.2);}

.navbar-blue .logout-submenu .dropdown-menu li a {
	background-color:#fff;
	color:#333;
	padding:5px;
	text-decoration:none;
}
.navbar-blue .logout-submenu .dropdown-menu li a:hover {
background-color: #28465a;
color: #ffffff;
}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
}

.navbar-toggle, .close {
	outline:0;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color: #ADADAD;
    color: #fffffe;
    border: 1px solid #969494;
    margin-bottom: 6px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #28465a;
    border-color: #28465a;
}
.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
        border: none;
}
.form-control {
	
}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}
  
.badge{
   color:#3B5999;
   background-color:#fff;
}
.badge:hover, .badge-inverse{
   background-color:#3B5999;
   color:#fff;
}
    
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 0;
    padding-top: 0;
    border-top: 1px solid #eeeeee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-size: 22px;
}

.panel-default .panel-heading {
  background-color:#F3F3F3;
  color:#555555;
}
#patient .panel-default .panel-heading {
  background-color: #284659;
   color: #fff;
}
.right-arrow-big {
	background:url('../images/right-arrow-big.png') no-repeat center center transparent;
	width:15px;
	height:15px;
	float:right;
	margin-left:15px;
	margin-top:2px;
}
:hover {
	background-color:##e05b01;
}
.col-sm-9.full {
    width: 100%;
    padding:0;
}

.modal-header, .modal-footer {
	background-color:#f2f2f2;
    font-weight:800;
    font-size:12px;
}

.modal-footer i, .well i {
    font-size:20px;
    color:#c0c0c0;
}

.modal-body {
	padding:0px;
}

.modal-body textarea.form-control
{
   resize: none;
   border:0;
   box-shadow:0 0 0;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

.input-group-addon.front-addon  {
	border-radius:0;
	background-color:#28465a !important;
	color:#fff;
	border:1px solid #28465a !important; 
	width:50px;
}
.input-group-addon.front-addon.second {
	border-radius:0;
	background-color:transparent !important;
	color:#333;
	border:1px solid #ccc !important; 
	border-right:0 !important;
	border-left:0 !important;
}
.wrapper .form-group.margin-zero {margin-bottom:0;}
.table thead {
	background-color:#666;
	color:#FFF;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #E7E7E7;
	color:#333;
}
.rounded-image {
	width:35px;
	height:35px;
	line-height:35px;
	border-radius:50%;
	border:2px solid #FFF;
	margin-top:8px;
	margin-right:10px;
	float:left;
}
.welcome-user {color:#FFF;margin-top:5px;margin-right:50px;float:left}
.caret-submenu {margin-right:10px;margin-top:10px;float:right;}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full{
	padding-top:20px;
  }

  .navbar-blue {
	background-color:#424243;
    top:0;
    width:100%;
    position:fixed;
  }

}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}

small.gst-update {
    position: absolute;
    background: #f00;
    color: yellow;
    padding: 0px 2px;
    font-size: 9px;
    left: 79px;
    top: 3px;
    border-radius: 2px;
}
#tog-bar {
    transition: margin-left .5s;
    text-align: center;
    padding: 11px 0 13px;
}
#tog-bar span {
    cursor: pointer;
    color: #fff;
}
#lg_menu.sidenav.show-navlbl .cls-btn {
    display: block;
}
#lg_menu.sidenav .cls-btn {
    display: none;
}
#lg_menu.sidenav .closebtn {
    position: absolute;
    top: 51px;
    left: 250px;
    text-decoration: none;
    border-bottom: 0 !important;
    width: auto !important;
    line-height: 40px;
    padding: 2px 10px 7px !important;
    background: #265f84 !important;
    transition: 2s;
    border-color: rgb(71, 98, 115);
    border-style: solid;
    border-width: 0 1px 1px 1px !important;
}
.closebtn img, #tog-bar img {
    width: 20px;
}
#lg_menu.sidenav {
    height: 100%;
    width: 65px;
    position: fixed;
    z-index: 9999;
    top: 51px;
    left: 0;
    background-color: #28465a;
    /* overflow-x: hidden; */
    transition: 0.5s;
    /*border-top:solid 1px #28465a;*/
}
/*.show-navlbl #tog-bar {
    display: none;
}*/
#tog-bar {
    /*transition: margin-left .5s;
    text-align: center;
    padding: 11px 0 13px;*/
    position: absolute;
    top: -42px;
    z-index: 1;
    left: 15px;
    padding: 5px;
}
.rt-div {
    margin-left: 60px;
}
.show-navlbl .hide-bar {
    display: inline !important;
}
.hide-top #lg_menu.sidenav .closebtn{
    top:0;
}
#sidebar.hide-top .nav li.logo-li,
.hide-top .tp-title{
    display:none;
}
#lg_menu.sidenav.show-navlbl{
    width:182px;
}
.hide-top #lg_menu.sidenav{
    top:0px;
   /* background: transparent;*/
}
#sidebar li.hide-bar{
    display:inline;
}
#sidebar.hide-top li.hide-bar{
    display:inline-block !important;
    width:65px;
    border: 0px;
    background: #49708a;
}
.hide-top #tog-bar{
     position: relative;
    top: -0px;
    z-index: 1;
    left: 0px;
    padding: 5px;
    /*background: #28465a;*/
}