@charset "utf-8";

/* CSS Document 
font-family: 'Source Sans Pro', sans-serif;
*/

/*body{ 
  background-color:#edf6ff;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color:#16364b;
}
body,td,th {
  font-size: 13px;
}*/

.subheading {
  font-size: 13px;
  font-weight: 600;
}
.mainwrapper {
  width: 1220px;
  margin: 0px auto;
  margin-top: 150px;
}
.dataleft {
  background-color: #e0ebf4;
  padding: 4px;
  float: left;
}
.datarightbot {
  width: 430px;
  background-color: #28465a;
  float: right;
}
.buttons {
  height: 80px;    /*float: right;*/
  background-color: #edf6ff;    /*padding: 10px;*/
}
.btncustom {
  background: #ffffff;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #28465a;
  padding: 5px;
  border: solid #28465a 2px;
  text-decoration: none;
  font-size: 13px;
  width: auto;
}
.btncustom:hover {
  background: #56799e;
  text-decoration: none;
  color: #FFFFFF;
}
.bgwhite {
  background-color: #FFF;
  padding: 10px 8px 4px 15px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.padright30 {
  padding-right: 30px;
}
.padright10 {
  padding-right: 10px;
}
.dataright {
  background-color: #e0ebf4;
  border: 3px solid #28465a;
  padding: 4px;
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
.sell-sub-tab table {
  width: 100%;
  table-layout: fixed;
}
.tbl-headerLtop {
  background-color: #56799e;
  white-space: nowrap;
}
.tbl-contentLtop {
  height: 375px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.tbl-contentLtop table {
  margin: 0;
}
.tbl-headerLtop th {
  padding: 6px 15px 8px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  color: #FFF;
}
.tbl-contentLtop td {
  padding: 7px 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  color: #16364b;
  background-color: #FFF;
}
.tbl-headerRbot {
  background-color: #28465a;
}
.tbl-headerRbot th {
  padding: 5px 15px;    /*text-align: left;*/
  font-weight: normal;
  font-size: 14px;
  color: #FFF;
  white-space: nowrap;
}
.tbl-contentRbot td {
  padding: 5px 15px;    /*text-align: left;*/
  vertical-align: middle;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  background-color: #28465a;
  white-space: nowrap;
}
.tbl-headerRtop {
  background-color: #56799e;
}
.tbl-headerRtop th {
  padding: 5px 15px 2px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: #e1f0ff;
  white-space: nowrap;
}
.tbl-contentRtop {
  background-color: #56799e;
}
.tbl-contentRtop td {
  padding: 2px 15px 6px 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
  font-size: 14px;
  color: #e1f0ff;
  background-color: #56799e;
  white-space: nowrap;
}
.tbl-header {
  background-color: #bec9d5;
}
.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.tbl-content tr {
  background-color: #f5faff;
      border-bottom: solid 2px #e0ebf4;
}
.tbl-header th {
  padding: 3px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  color: #16364b;
}
.tbl-content td {
  padding: 5px 15px;
  /*text-align: left;*/
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  /*border-bottom: solid 2px #e0ebf4;    /*background-color: #f5faff;*/*/
  color: #16364b;
}
.righttxt {
  text-align: right;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 0px 6px rgba(99, 99, 99, 1);
  box-shadow: 0 0 10px #cdd7de inset;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0px 0px 0px 6px rgba(99, 99, 99, 1);
}
.history::-moz-placeholder {
  color: #16364b;
  opacity: 1;
  font-weight: 700;
}
.history:-ms-input-placeholder {
  color: #16364b;
  font-weight: 700;
}
.history::-webkit-input-placeholder {
  color: #16364b;
  font-weight: 700;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #16364b;
  color: #fff;
}
.table-hover tr.active td {
  background-color: #16364b;
  background-position: right 8px top 10px;
  background-repeat: no-repeat;
  z-index: 5;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
}
.billctxt {
  padding: 1px 4px 2px 4px;
  font-size: 24px;
  color: #ac0700;
  position: absolute;
  font-weight: bold;
  top: 10px;
  background-color: #fce4e3;
  right: 25px;
  width: auto;
}
.billctxt span {
  font-size: 14px;
  color: #16364b;
}
.select {
  color: #616263;
  overflow: hidden;
  position: relative;
  display: block;
  content: "";
}
.select:after {
  content: "▼";
  font: normal normal normal 12px/1 FontAwesome;
  right: 5px;
  top: 6px;
  height: 30px;
  padding: 8px 0px 0px 8px;
  position: absolute;
  pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;    /* Add some styling */
  display: block;
  width: 100%;
  float: right;
  margin: 5px 0px;
  padding: 0px 25px 0px 10px;
  line-height: 1.75;
  color: #333;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}

/*-------------DATA FADE------------------*/
.tabs-menu tr:hover {
  color: #FFF;
}
.tabs-menu td.current {
  position: relative;
  background-color: #28465a !important;    /*background-image:url(../images/arrow.png);*/
  background-position: right 10px top 12px;
  background-repeat: no-repeat;
  z-index: 5;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
}
.tabs-menu td {
  cursor: pointer;
}
.arrow {
  background-image: url(../images/arrow.png);
}
.current {
  position: relative;
  background-color: #28465a !important;
  z-index: 5;
  color: #fff !important;
  cursor: hand;
}
.tab {
  background-color: #fff;
  display: block;
}
.tab-content {
  display: none;
}
#tab-1 {
  display: block;
}
.sell-edit {
  background-color: #fde5da !important;
}
.edited-value {
  background-color: #f7941d;
  border-radius: 5px;
  color: #fff;
  padding: 5px 8px;
}
.sell-modified-date {
  background-color: #fde5da !important;
  border-bottom:none !important;
  color: #7f3f21;
  font-size:12px;
  font-weight: bold;
  line-height: 12px;
}

.width-115{
  width: 115px !important;
}