﻿@import url(https://fonts.googleapis.com/css?family=Roboto); /* FREE GOOGLE FONT */
* {
    outline: none;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 10px;
    min-height: 600px;
    padding-bottom: 60px;
}

.page-head-line {
    font-weight: 900;
    margin: 15px 0;
    border-bottom: 1px solid #424244;
    text-transform: uppercase;
    color: #424244;
    font-size: 17px;
    float: left;
    width: 100%;
}

    .page-head-line > span {
        background-color: #424244;
        color: #FFF;
        padding: 7px 15px;
        float: left;
    }

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.breadcrumb {
    background-color: #E0E0E0;
    border-radius: 0;
    margin-bottom: 0;
}

a {
    color: #424244;
    text-decoration: underline;
}
/* =============================================================
 HEADER SECTION STYLES
 ============================================================ */
header {
    background-color: #28465A;
    color: #fff;
    padding: 13px 10px 10px;
}

/* =============================================================
 LOGO SECTION STYLES
 ============================================================ */

/* MENU LINKS SECTION*/

.menu-section {
    background-color: #5D5D5E;
    border-top: 1px solid #7B7B7B;
    border-bottom: 1px solid #7B7B7B;
}

#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #424244;
}

.menu-section .nav > li > a:hover, .menu-section .nav > li > a:focus {
    background-color: #424244 !important;
}

.menu-section .dropdown-menu > li > a:hover, .menu-section .dropdown-menu > li > a:focus {
    background-color: #F0677C !important;
}

.navbar-inverse {
    background-color: #C36464;
    border-color: transparent;
}

.navbar-toggle {
    margin-top: 12px;
    margin-bottom: 0;
}

    .navbar-toggle span {
        background-color: #FFF;
    }

.navbar {
    margin-bottom: 0px;
}

/* Controls */

.form-control, .panel {
    border-radius: 0;
}

a.btn {
    text-decoration: none;
}

.input-group-btn > .btn {
    background-color: #FFF;
    color: #424244;
    border: 1px solid #ccc;
}

.panel-heading {
    font-size: 14px;
    text-transform: uppercase;
    /*border-top: 5px solid #039394 !important;*/
    border-radius: 0;
    font-family: 'GT Medium', Arial, sans-serif;
}

.panel-noborder {
    border-top: 0px !important;
}

.alterRow {
    background-color: #F3F3F3;
    border-top: 1px solid #D3D6DF;
    border-bottom: 1px solid #D3D6DF;
}

.glyphicon-minus-sign {
    font-size: 18px;
}

.dataTables_filter {
    margin-right: -15px !important;
}

div.dataTables_paginate {
    margin: 0;
    margin-right: -18px;
}

.dataTables_info {
    margin-left: -22px;
}

.panel-footer {
    float: left;
    width: 100%;
    color: #fff;
}

.panel.panel-default {
    display: inline-block;
    width: 100%;
}

.btn-style {
    background-color:#28465a;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'GT Medium', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    outline: 0;
}

.btn-style-invert {
    color: #039394;
    border: #039394;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'GT Medium', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    outline: 0;
}

button:hover.btn-style {
    background-color: #28465a;
    color: #FFF;
}

.btn-grey {
    background-color: lightgray;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'GT Medium', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    outline: 0;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #28465a !important;
    border: 1px solid #28465a;
}

.wrapper .input-group-btn > .btn {
    background-color: #666 !important;
    color: #FFF !important;
    border: 1px solid #666 !important;
}

.wrapper .input-group-btn > .btn1 {
    background-color: #28465a !important;
    color: #FFF !important;
    border: 1px solid #28465a !important;
}

.more-btn {
    background-color: #4c4c4d;
    border-radius: 50%;
    float: left;
    height: 55px;
    margin-top: 0;
    margin-bottom: 10px;
    width: 55px;
    padding: 18px 5px;
    color: #FFF;
    text-decoration: none;
    outline: none;
}

a:hover.more-btn, a.active.more-btn {
    background-color: #28465a;
    color: #FFF;
}

.toggle-lbl {
    height: 20px;
    float: left;
    width: 100%;
}

.btn-toggle .btn-primary {
    background-color: #28465a !important;
    border: 1px solid #28465a !important;
    text-shadow: none !important;
}

.or-lbl {
    background-color: #4c4c4d;
    border-radius: 50%;
    color: #fff;
    float: left;
    height: 35px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 8px 7px;
    width: 35px;
    margin-left: 15px;
}

.btn-style.dont-know-btn {
    font-size: 15px;
}

.purchase-history-body {
    padding: 15px 0 0;
}

.round-off-section {
    background-color: #F3F3F3;
    color: #28465a;
    font-size: 18px;
    text-align: center;
    font-family: 'GT medium', arial;
    padding-top: 60px;
}

    .round-off-section span {
        font-size: 18px;
        color: #333 !important;
    }

.top-border {
    border-top: 1px Dashed #28465a;
    margin: 10px 0 0;
}

.table-orange td {
    background-color: #28465a !important;
    color: #fff;
    border: 1px solid #28465a !important;
}

.pat-info-btn {
    background: #28465a;
    border: 0 none;
    border-radius: 15px;
    color: #FFF;
    height: 24px;
    line-height: 14px;
    padding: 0;
    width: 24px;
    font-size: 23px;
}

.orange-text {
    color: #333;
}

    .orange-text.product-name {
        margin-left: 10px;
        float: left;
        width: 300px;
        white-space: normal;
        line-height: normal;
        word-wrap: break-word;
        margin-top: 18px;
        margin-bottom: 18px;
    }

.quantity-rate {
    float: right;
    margin-right: 20px;
    margin-top: 6px;
}

.orange-text.return-product-name {
    margin-left: 10px;
    float: left;
    width: 150px;
    line-height: normal;
    margin-bottom: 5px;
}

.return-chip-qty {
    height: 24px;
    margin-right: 10px;
    width: 91px;
    padding: 0;
    line-height: normal;
}

.btn-cc-section {
    /*	background-color: #ffefdf;
	 border-radius: 25px;
	 border:1px solid #ddd; */
    display: inline-block;
    padding: 6px 0 6px 17px;
    margin-right: 5px;
}

    .btn-cc-section label.radio {
        margin-right: 10px !important;
    }

.no-border-bg {
    background-color: transparent !important;
    border: transparent !important;
}

.btn-cc-section .counter {
    margin: 0 !important;
}

.chips-wrapper {
    background-color: #e2f0ff;
    padding: 10px;
    margin: 0 30px;
    color: #000;
    border-radius: 0 0 0px 0px;
    text-align: center;
}

.chips-header {
    background-color: #f3f3f3 !important;
    color: black;
}

    .chips-header th {
        color: black !important;
    }

.chips-wrapper span {
    margin-right: 35px;
}

/* =============================================================
 LOGIN SECTION STYLES
 ============================================================ */
.login-wrapper {
    background: url('../images/pharma-bg.png') no-repeat top left transparent;
    background-size: 100%;
    background-color: #3EB19F;
}

#loginbox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    /* background-color: rgba(0,0,0,0.9); */
    background: #243971;
}

    #loginbox .panel-info {
        background-color: transparent;
        border-color: transparent;
        padding-top: 50%;
    }

.login-wrapper .input-group {
    margin-bottom: 25px;
}

#loginbox .panel-body {
    padding: 30px 15px 20px;
    border-bottom: 1px solid #4E4E4E;
    border-top: 1px solid #4E4E4E;
}

.log-logo {
    padding: 15px 0;
}

.forgot-password {
    color: #dadada;
    text-decoration: none;
}

a:hover.forgot-password, a:active.forgot-password, a:visited.forgot-password, a:focus .forgot-password {
    color: #FFF !important;
    text-decoration: underline;
}

.login-msg {
    color: #FFF;
}

.invoice-wrapper .invoice-header h2, .invoice-wrapper .invoice-header h3 {
    display: inline-block;
}

.invoice-wrapper .table > tbody > tr > .no-line {
    border-top: none;
}

.invoice-wrapper .table > thead > tr > .no-line {
    border-bottom: none;
}

.invoice-wrapper .table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.invoice-wrapper {
    background-color: #FFF;
    font-size: 15px;
}

.invoice-header img {
    width: 170px;
    padding-top: 25px;
}

.topbar-address {
    float: right;
    text-align: right;
    margin-bottom: 0;
}

    .topbar-address b {
        font-size: 18px;
    }

.clrboth {
    clear: both;
}

.invoice-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.invoice-wrapper hr {
    margin: 10px 0;
}

.bill-details .detail-lbl, .bill-details .detail-lbl-2 {
    width: 170px;
    float: left;
    font-weight: bold;
    line-height: 25px;
}

.bill-details .detail-lbl-2 {
    width: 90px;
}

    .bill-details .detail-lbl + span, .bill-details .detail-lbl-2 + span {
        line-height: 25px;
    }

.bill-details {
    margin: 20px 0;
}

.btn-toggle {
    margin-bottom: 15px;
}

.radio span:before {
    background-color: #8B8B8B;
    border-radius: 50%;
    color: #fff;
    float: left;
    font-family: FontAwesome;
    font-size: 20px;
    font-weight: normal;
    height: 40px;
    padding: 4px 10px;
    width: 40px;
    line-height: 29px;
}

.radio span.dollar:before {
    content: "\f156";
    padding: 5px 14px;
}

.radio span.card:before {
    content: "";
    padding-top: 7px;
}

.radio span.home:before {
    content: "\f015";
}

.radio span.counter:before {
    content: "\f0e4";
}

.radio span.print:before {
    content: "\f02f";
}

.radio span.email:before {
    content: "\f003";
}

.radio span.sms:before {
    content: "\f075";
}

.radio span {
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    line-height: 39px;
    font-size: 16px;
    margin-right: 0 !important;
}

.radio input[type="radio"]:checked + span:before, .radio input[type="checkbox"]:checked + span:before {
    /*background-color: #039394;*/
    background-color: #28465a;
}

.radio input[type="radio"], .radio input[type="checkbox"] {
    display: none;
}

/* */

.dialog-custom-modal .modal-header {
    background-color: #f3f3f3;
    color: #555555;
    border-top: 5px solid #28465a !important;
    font-family: "GT Medium", Arial, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
}

.dialog-custom-modal h4 {
    font-family: "GT Medium", Arial, sans-serif;
}

.dialog-custom-modal .modal-body {
    padding: 15px;
}

.orange-border-top {
    border-top: 0 solid #28465a !important;
}

.purchase-history-body .border-radius-img {
    height: 35px;
    line-height: 35px;
    margin-right: 14px;
    margin-top: -4px;
    width: 35px;
    border: 1px solid #333;
}

div.chip-style {
    border-radius: 0px;
    float: left;
    width: 100%;
    border: 1px solid #EBEAEA;
    background-color: #FFF;
    margin-top: 10px;
    color: black;
    padding: 3px;
}

.chip-btn {
    background: #28465a none repeat scroll 0 0;
    border: 0 none;
    border-radius: 15px;
    color: #FFF;
    font-size: 23px;
    height: 24px;
    line-height: 10px;
    padding: 0;
    width: 24px;
    float: left;
    margin-left: 10px;
}

.chip-qty {
    height: 24px;
    /* margin-top: 17px; */
    margin-right: 10px;
    width: 50px;
    padding: 0;
    float: left;
    line-height: normal;
}

.pagination-button {
    margin-right: 10px;
    border: 0;
    color: #333;
}

/*button:first-child.pagination-button, button:last-child.pagination-button {
    background-color: #039394;
    color: #fff;
}*/

button.pagination-button.active {
    background-color: #666;
    color: #fff;
}
/* File upload */

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: black;
    display: none;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

    .btn-file > input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate(-300px, 0) scale(4);
        font-size: 23px;
        direction: ltr;
        cursor: pointer;
    }

.fileupload {
    margin-bottom: 9px;
    color: #fff;
}

    .fileupload .uneditable-input {
        display: inline-block;
        margin-bottom: 0px;
        vertical-align: middle;
        cursor: text;
    }

    .fileupload .thumbnail {
        overflow: hidden;
        display: inline-block;
        margin-bottom: 5px;
        vertical-align: middle;
        text-align: center;
    }

        .fileupload .thumbnail > img {
            display: inline-block;
            vertical-align: middle;
            max-height: 100%;
        }

    .fileupload .btn {
        vertical-align: middle;
    }

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-inline .fileupload-controls {
    display: inline;
}

.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
    border: none;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}

.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
    color: #FFF !important;
}

.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}

.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}

.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}

.alert-text {
    margin-top: 5px;
    color: #ff0000;
}

.forgot-pwd-text {
    text-align: right;
    float: right;
    margin-top: 6px;
}

.cross-icon {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    color: #ff0000;
}
/* =============================================================
 FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    background-color: #fff;
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }

.inventory-wrapper .dataTables_filter {
    display: none;
}

.search-char {
    margin: 0 15px 10px;
    float: left;
}

    .search-char a {
        padding: 3px 8px;
        color: #FFF;
        background-color: #28465a;
        margin-top: 8px;
        float: left;
        text-decoration: none;
        margin-right: 8px;
        width: 30px;
        text-align: center;
        border-radius: 4px;
    }

        .search-char a:hover {
            background-color: #5BC6B6;
        }

.date-lbl {
    margin-top: 7px;
    font-weight: bold;
}

.total-leads-circle {
    background-color: #28465a !important;
    text-align: center;
    border-radius: 50%;
    padding: 16px 0;
    width: 90px;
    height: 90px;
    border: 1px solid #fff;
    color: #FFF;
    margin: 0 auto;
}

    .total-leads-circle span {
        font-size: 25px;
    }

.accept-reject-btn {
    margin-top: 20px;
}

    .accept-reject-btn input {
        margin-right: 10px;
    }

.leads-grid {
    border: 1px solid #ececec;
    margin: 15px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.92);
    color: #4e4d4d;
}

    .leads-grid .alter-row-collapse {
            background-color:#effdfd;
    color: #333;
    font-size: 14px;
    }

.reports-nav .nav-pills > li.active > a, .reports-nav .nav-pills > li.active > a:hover, .reports-nav .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #28465a;
}

.reports-nav .nav-pills > li > a {
    text-decoration: none;
    /*width:90px;*/
    text-align: center;
    margin-right: 20px;
}

/* Newly added */

.tab-list {
    float: left;
    width: 100%;
    list-style-type: none;
    margin: 0 0 15px;
    padding: 0;
}

    .tab-list li {
        float: left;
        margin-bottom: 8px;
    }

        .tab-list li a {
            float: left;
            padding: 10px 50px;
            margin-right: 20px;
            font-size: 15px;
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid #28465a;
            color: #039394;
            text-decoration: none;
            font-weight: bold;
        }

        .tab-list li.active a {
            background-color: #28465a;
            color: #FFF;
            border: 1px solid #28465a;
        }

.btn:hover, .btn:focus {
    color: #ffffff;
}

.full h4 {
    color:#28465a;
    font-size: 18px;
    font-weight: bold;
}

.graph-container {
    border: 1px solid #28465a;
    padding: 0;
    border-radius: 4px;
}

    .graph-container h5 {
        background-color: #28465a;
        font-weight: bold;
        color: #FFFFFF;
        margin: 0;
        padding: 3%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .graph-container .graph-area {
        min-height: 200px;
        margin: 10px 0px;
        padding: 0 10px;
    }

    .graph-container .header-padding {
        padding: 1.5%;
    }

/* Nikola */
.cbutton--effect-nikola::after {
    background: rgba(111,148,182,0.1);
}

.cbutton--effect-nikola.cbutton--click::after {
    -webkit-animation: anim-effect-nikola 0.5s forwards;
    animation: anim-effect-nikola 0.5s forwards;
}

@-webkit-keyframes anim-effect-nikola {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.2, 0.2, 1);
        transform: scale3d(0.2, 0.2, 1);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
}

@keyframes anim-effect-nikola {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.2, 0.2, 1);
        transform: scale3d(0.2, 0.2, 1);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
}

.address-details {
    color: #333;
    margin-top: 1px;
    margin-right: 20px;
}

.report-nav {
    list-style-type: none;
    padding-left: 0px;
}

    .report-nav li {
        display: inline-block;
    }

        .report-nav li a {
            padding: 10px 25px;
            color: #333;
            text-decoration: none;
            border-bottom: 4px solid transparent;
            font-weight: bold;
        }

            .report-nav li a:hover, .report-nav li a.active {
                border-bottom: 4px solid #28465a;
            }

/* Angular Style */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
    display: none !important;
}

.chosen-container-single .chosen-single {
    border-radius: 0 !important;
    padding: 3px 12px !important;
    font-size: 14px !important;
    line-height: 1.428571429 !important;
    color: #555 !important;
    vertical-align: middle !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    height: 35px !important;
}

input.form-control.form-edit {
    display: inline-block;
    width: 60%;
}

.accordion-group {
    margin-bottom: 10px;
}

.accordion-heading, .accordion-toggle:hover, .accordion-heading .accordion-toggle.active {
    background: none repeat scroll 0% 0% transparent;
}

.accordion-heading {
    font-size: 16px;
    border: 1px solid #EBEAEA;
    border-radius: 15px;
    padding: 0 12px;
}

    .accordion-heading .accordion-toggle {
        display: block;
        cursor: pointer;
        padding: 5px 0px !important;
        color: #222;
        outline: medium none !important;
        text-decoration: none;
    }

        .accordion-heading .accordion-toggle.active em {
            background-color: #28465a;
        }

        .accordion-heading .accordion-toggle > em {
            background-color: #28465a;
            border-radius: 100px;
            color: #FFF;
            font-size: 14px;
            height: 25px;
            line-height: 26px;
            margin-right: 0px;
            margin-top: -1px;
            text-align: center;
            width: 25px;
        }

.accordion-body {
    padding: 6px 13px;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    background-color: #454545;
    width: 95%;
    margin: 0 auto;
    border-bottom-right-radius: 15px;
}

.table, table {
    margin-bottom: 0px !important;
}

/**
 * 07-Jan-2016
 * CSS added
 *
 *  **/

/** Click Effect Start */

.cbutton {
    position: relative;
    display: inline-block;
    margin: 1em;
    padding: 0;
    border: none;
    background: none;
    color: #286aab;
    font-size: 1.4em;
    overflow: visible;
    -webkit-transition: color 0.7s;
    transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

    .cbutton.cbutton--click, .cbutton:focus {
        outline: none;
        color: #3c8ddc;
    }

.cbutton__icon {
    display: block;
}

.cbutton__text {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.cbutton::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}

.cbutton--box {
    width: 24px;
    height: 24px;
    border: 4px solid rgb(22, 35, 47);
}

.cbutton--box-color-1 {
    background: #ff8b00;
}

.cbutton--box-color-2 {
    background: #b61854;
}

.cbutton--box-color-3 {
    background: #1d5cab;
}

.cbutton--box-color-4 {
    background: #f2438c;
}

.cbutton--box-color-5 {
    background: #ff6414;
}

.cbutton--box-color-6 {
    background: #5ed500;
}

.cbutton--box-color-7 {
    background: #0077ff;
}

.cbutton--box-color-8 {
    background: #7bff00;
}

.cbutton--box-color-9 {
    background: #fff;
}

/* Effect Boris */
.cbutton--effect-boris::after {
    background: rgba(3, 147, 148, 0.52);
}

.cbutton--effect-boris.cbutton--click::after {
    -webkit-animation: anim-effect-boris 0.5s forwards;
    animation: anim-effect-boris 0.5s forwards;
}

@-webkit-keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }

    25%, 50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anim-effect-boris {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }

    25%, 50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

/** Click Effect End */

.fixed-height {
    display: block;
    border: 0;
    height: 233px;
    overflow-y: scroll;
    overflow-y: scroll;
}

.total-leads-circle-container {
    width: 322px;
    margin: 0 auto;
}

.total-leads-circle {
    background-color: #28465a !important;
    text-align: center;
    border-radius: 10px;
    padding: 0;
    width: 150px;
    float: left;
    height: 90px;
    border: 1px solid #fff;
    color: #FFF;
    line-height: 90px;
    margin-right: 10px;
}

/***
 *
 * 09-Jan-2016
 * CSS Added
 *
 *  **/

.error {
    display: block;
    color: red;
    font-size: 12px;
    margin-left: 52px;
}

.remainder-title {
    display: block;
    color: #333;
    font-size: 14px;
    margin: 0;
}

.mrg0 {
    margin: 0;
}

.btn-group > .btn {
    color: #fff;
    /*background-color: #adadad;
    margin: 10px 10px 0 10px;*/
}

    .btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
        background-color: #28465a;
        color: #fff;
    }

.btn-cancel {
    background-color: #B3B3B3;
}

    .btn-cancel:hover {
        background-color: #949393 !important;
    }

.btns {
    margin: 2% 0;
}

.view-all, .view-all:hover, .view-all:active, .view-all:focus {
    color: #FFFFFF;
    text-decoration: none;
}

    .view-all:hover, .view-all:active, .view-all:focus {
        text-decoration: underline;
    }


.divider-table {
    border-right: 1px solid #dadada;
    min-height: 200px;
}

.seperator {
    margin-bottom: 10px;
    border-bottom: 1px solid #dadada;
}

.brdbtm {
    border-bottom: 1px solid #dadada;
}

.checkbox-container {
    margin-left: 10px;
    margin-top: 10px;
}

.invoice-number {
    display: inline-block;
}

.invoice-details {
    display: inline-block;
    color: #333;
}

    .invoice-details span {
        margin: 0 6%;
    }

.trim-left {
    padding-left: 0px;
}
/*User Icon*/
.blue {
    color: #295afc;
}

.pink {
    color: #fb45c1;
}

.trimLR {
    padding-left: 0px;
    padding-right: 0px;
}

.expire-date {
    width: 100px;
    float: left;
}

.radio span.rupee:before {
    content: "\f156";
    padding: 5px 14px;
}

.radio span.cheque:before {
    content: "\f09d";
    padding: 5px 10px;
}

.main-table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

header.table-row {
    background-color: #666666;
    font-weight: 600;
    text-align: left;
}

.table-cell {
    display: table-cell;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

    .table-cell.wid14per {
        width: 14%;
    }

    .table-cell.wid15per {
        width: 15%;
    }

    .table-cell.wid4per {
        width: 3%;
    }

    .table-cell.wid40per {
        width: 40%;
    }

.border-zero {
    border-bottom: 0px solid #CCCCCC;
}

.border-top {
    border-top: 2px solid #333;
}

@media print {
    body {
        min-height: 100%;
        height: 100%;
        overflow: hidden !important;
    }
}

.invoice-date {
    width: 110px;
    float: left;
}

.payment-price {
    width: 75px;
    float: left;
}

.payment-balance {
    width: 70px;
    float: left;
}

.payment-color {
    color: #28465a;
}

.override_margin {
    padding: 1px !important;
    margin: 0px !important;
}

.panelBorder {
    border-top-color: #28465a;
    border-top-width: 2px;
    border-top-style: solid;
}

label {
    padding-left: 2px;
    font-size: small;
}

    label.required:after {
        content: " *";
        color: red;
    }

.nav-tabs > li > a {
    text-decoration: none;
    padding: 5px 15px;
    font-family: 'GT bold',arial,sans-serif;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: whitesmoke;
    cursor: pointer;
    background-color:  #28465a;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    text-decoration: none;
    padding: 5px 15px;
}

.table-header-decor {
    height: 24px !important;
    font-size: smaller !important;
    background-color: lightgrey !important;
    color: black !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: center;
}

.table-item-decor {
    height: 24px !important;
    font-size: smaller !important;
    color: black !important;
    margin: 0px !important;
    padding: 8px 0px 0px 0px !important;
    text-align: center;
    align-content: center;
}

.table-item-currency {
    text-align: right !important;
    padding: 8px 2px 0px 0px !important;
}

.table-decor {
    min-height: 80px !important;
}

.table-cal {
    font-size: small;
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.panel-bottom {
    background-color: #FFFAF7;
}

.text-normal {
    font-size: small !important;
}

.text-highlight {
    font-size: medium !important;
    font-weight: bold !important;
}

.right-align {
    text-align: right !important;
}

.cal_adjusted {
    position: relative;
}

    .cal_adjusted .dropdown-menu {
        left: -145px !important;
    }


.qty-input {
    width: 90px !important;
}

.text-large {
    font-size: 22px;
    color: #28465a;
    font-weight: bolder;
}

.text-large-black {
    font-size: 22px;
    font-weight: bolder;
}

.text-small-black {
    font-size: 14px;
    font-weight: bolder;
}

.text-small-decor1 {
    color: orangered;
    font-size: 12px;
    font-weight: normal;
    padding-left: 2px;
}

.text-small-gray {
    color: lightgray;
    font-size: 14px;
}

.sell-table-decor {
    border: hidden;
}

    .sell-table-decor td {
        border: hidden;
        font-size: small;
    }

    .sell-table-decor th {
        border: hidden;
        font-size: small;
    }

        .sell-table-decor th.special, td.special {
            border: thick;
            border-top: solid !important;
            border-top-color: red !important;
            color: #28465a;
            font-size: 18px;
        }

.sell-decor1 {
    margin: 0px !important;
    padding: 5px 0px 5px !important;
}

.sell-decor2 {
    padding-bottom: 20px !important;
}

.sell-decor3 {
    margin: 8px 5px 0px 0px !important;
}

.sell-decor4 {
    margin: 0px !important;
    padding: 5px 0px 5px !important;
}

.sell-decor5 {
    margin: 0px 0px 4px !important;
}

.sell-decor6 {
    background-color: whitesmoke;
    padding-left: 4px;
}

.sell-decor7 {
    font-size: 16px;
    text-shadow: 1px 1px 1px #F3F3F3;
}

.sell-decor8 {
    background-color: transparent;
    border: 0px solid;
    font-size: 14px;
    width: 100%;
}

.sell-decor9 {
    margin: 0px 0px 2px !important;
}

.sell-decor10 {
    margin: 0px 8px !important;
}

.sell-decor11 {
    margin: 0px !important;
    padding: 6px 6px 0px 6px !important;
}

.sell-decor12 {
    margin: 4px !important;
    padding: 2px !important;
    font-size: small;
}

.sell-decor14 {
    margin: 0px !important;
    padding: 0px 4px 0px 0px !important;
    float: right !important;
}

.sell-decor15 {
    margin: 0px !important;
    padding: 0px;
}


.sell-group-decor {
    padding: 4px !important;
    margin: 0px !important;
}

.sell-group-decor2 {
    padding: 5px 0px 0px 2px !important;
    margin: 0px !important;
}

.sell-group-decor3 {
    padding: 5px 1px 0px 2px !important;
    margin: 0px !important;
    width: 100% !important;
}

.sell-group-decor4 {
    padding: 0px 1px 0px 1px !important;
    margin: 0px !important;
    width: 100% !important;
}

.sell-group-decor5 {
    padding-left: 4px !important;
    margin: 4px !important;
}

.sell-group-decor6 {
    padding: 0px 0px 12px !important;
    margin: 4px !important;
}

.sell-group-decor7 {
    padding: 0px !important;
    margin: 5px 0px !important;
}

.sell-group-decor8 {
    padding: 0px 0px 4px 0px !important;
    margin: 2px 0px 2px 0px !important;
    font-size: 15px !important;
}

.sell-group-decor9 {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
}

.sell-group-decor10 {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
}


.pad10 {
    padding-right: 10px !important;
}

.circled {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 40px;
    height: 40px;
    padding: 3px 0px 0px 1px;
    background: #FF8D33;
    border: 0px solid #666;
    color: #FFF;
    text-align: center;
    box-shadow: 2px 2px 1px #888888;
    font: 32px Arial, sans-serif;
}

.modal-dialog {
    width: 400px !important;
    height: 600px !important;
}


.sell-decor1 .chosen-container-single .chosen-single {
    outline: 0px;
    border: none !important;
    box-shadow: none !important;
    margin: 0px !important;
    padding: 0px !important;
    font-size: 16px;
    font-weight: bold;
}

.sell-group-decor8 .chip-btn {
    background: #28465a none repeat scroll 0 0;
    border: 0 none;
    border-radius: 6px;
    color: #FFF;
    font-size: 23px;
    height: 24px;
    line-height: 15px;
    padding: 0px 0px 0px 0px;
    width: 24px;
    /* float: left; */
    margin: 2px 0px 0px 6px !important;
}

.top_margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.highlight {
    display: block;
    color: red;
}

.text-bold {
    font-weight: bold;
    font-size: 12px;
}

.field-primary {
    font-weight: bold;
    color: #fb8a00;
    font-size: 12px;
}

.field-highlight {
    font-weight: bold;
    color: #004fa4;
    font-size: 12px;
}

.field-report {
    font-size: 12px;
}

.file-selected {
    display: none !important;
}

.report-footer {
    float: right;
    font-size: 12px;
}

.page-template {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .page-template .header {
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        border-bottom: 1px solid #888;
        text-align: center;
        font-size: 18px;
    }

    .page-template .footer {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
    }

.tblHeader {
    background-color: #666;
    border: 1px solid #ddd;
    padding: 5px 4px;
    font-weight: bold;
}

    .tblHeader span, .tblHeader div {
        color: #FFF;
        font-size: 15px;
    }

.cellmargin {
    margin-right: 3px !important;
}


.k-input {
    height: 24px !important;
}

.box-container {
    height: 200px;
}

.box-item {
    width: 100%;
    z-index: 1000;
}

#builder .btn-success {
    background-color: #2c2e2d !important;
    border: none;
    border-radius: 5px;
}

    #builder .btn-success:hover {
        background-color: #039394 !important;
        border: none;
    }

#builder .btn-danger {
    background-color: darkred !important;
    border: none;
    border-radius: 5px;
}

    #builder .btn-danger:hover {
        background-color: #e11212 !important;
        border: none;
    }

#step-3 .reset {
    background-color: gray !important;
    height: 30px !important;
    padding: 4px !important;
    margin: 0px;
    width: 50px;
    font-size: 12px;
    color: white;
    border: none;
}

    #step-3 .reset:hover {
        background-color: #039394 !important;
        border: none;
    }

#step-3 .parse-sql {
    background-color: gray !important;
    height: 30px !important;
    padding: 4px !important;
    margin: 0px;
    font-size: 12px;
    color: white;
    border: none;
}

    #step-3 .parse-sql:hover {
        background-color: #039394 !important;
        border: none;
    }


.item {
}

    .item:hover {
        background-color: #ccc;
        cursor: pointer;
    }

#RptItem h4 {
    font: bolder 14px Verdana, Arial, Helvetica, sans-serif;
    color: dimgray;
}

#RptItem li {
    background-color: transparent;
    text-decoration: none;
    padding: 10px;
}

    #RptItem li:hover {
        background-color: #ccc;
        cursor: pointer;
    }

    #RptItem li:active {
        background-color: #89f5f6;
    }

#RptItem .active {
    background-color: #039394;
    color: #FFF;
}

    #RptItem .active h4 {
        color: #FFF;
    }

#rptlist li {
    background-color: transparent;
    text-decoration: none;
    padding: 2px;
}

    #rptlist li:hover {
        color: #F57105;
        cursor: pointer;
        font-weight: bold;
    }

.mini {
    width: 40px !important;
    height: 20px !important;
}

    .mini small {
        width: 20px !important;
        height: 20px !important;
    }

.rule-filter-container .bootstrap-select {
    max-width: 156px !important;
}

.rule-operator-container .bootstrap-select {
    max-width: 156px !important;
}

.seltable tr:hover {
    cursor: pointer;
}

.seltable td {
    border: 1px solid #ccc;
    height: 24px;
    padding: 4px;
}

.itemcol {
    padding: 2px;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFF;
}


.rcorners1 {
    border-radius: 25px;
    background: #FFF;
    box-shadow: 1px 1px 1px #888888;
    padding: 30px 0px 0px 6px;
    min-height: 450px;
}

.rcorners2 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #28465a;
    color: #FFF;
    font: bolder 12px Verdana, Arial, Helvetica, sans-serif;
    padding: 20px 0px 0px 20px;
    height: 50px;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
}

    [contenteditable="true"].single-line br {
        display: none;
    }

    [contenteditable="true"].single-line * {
        display: inline;
        white-space: nowrap;
    }


.tabSelected, .tabSelected:hover, .tabNormal:hover {
    background: #A1A1A1;
    border-radius: 20px;
    border: 2px solid #A1A1A1;
    font-size: 14px;
    line-height: 14px;
    padding: 7px 12px;
    text-transform: capitalize;
    margin-right: 10px;
    color: #fff;
}

.tabNormal {
    border-radius: 20px;
    border: 2px solid #A1A1A1;
    font-size: 14px;
    line-height: 14px;
    padding: 7px 12px;
    text-transform: capitalize;
    margin-right: 10px;
}

@media screen and (min-width: 1024px) and (max-width: 1320px) {
    .txtCenter {
        text-align: center;
    }
}
@media screen and (min-width: 1024px) {
    .tp-50 {
        position: relative;
        top: -50px;
    }
    .tp-15{
        position: relative;
        top: -15px;
    }
}

#grid .k-grid-content {
    height: 400px;
}

.expiry .error {
    margin-left: 0px;
}

#vendorPurchaseItems .form-group {
    margin-bottom: 9px;
}

.chip-style.returnlist {
    padding: 7px 3px;
}

.inventoryList .glyphicon-floppy-save {
    color: #039394 !important;
}

.pnlmargin {
    padding: 3px !important;
}

.editbtn .btn {
    padding: 3px 12px;
    font-size: 12px;
}

.nav-tabs {
    padding: 0px !important;
}

.txtUpper, .dropdown-menu > li > a, .input-group.txtUpper .form-control {
    text-transform: capitalize;
    text-decoration: none;
    padding: 6px;
    font-family: 'GT Light',arial,sans-serif;
    /*word-break: break-all !important;*/
    white-space: inherit;
}

.txtCaps, .input-group.txtCaps .form-control, .angucomplete-dropdown div {
    text-transform: capitalize;
}

.productSearch {
    margin-bottom: 0px;
}

    .productSearch .input-group {
        width: 100%;
    }

.ingrp {
    width: 100%;
}

.inventoryrdb div {
    display: inline-block;
}

.inventoryrdb label {
    font-size: 14px;
    cursor: pointer;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #E0E0E0;
    /* margin-right: 4px; */
    padding: 5px 8px;
    text-align: center;
    border-radius: 4px;
    background: #fff;
}

    .inventoryrdb label.active {
        font-size: 14px;
        cursor: pointer;
        background: #28465a !important;
        color: #fff;
        padding: 5px;
        border-radius: 4px;
        border: 2px solid #28465a !important;
    }

.inventoryList .reOrder .form-control {
    color: #ff0000 !important;
}

.return-qty-error {
    color: red;
    display: block;
}

.reportHeader {
    BORDER: 2PX SOLID #CCCCCC;
    PADDING: 3PX 5PX;
    BORDER-RADIUS: 4PX;
    display: inline-block;
}

.k-button {
    border-color: #039394 !important;
}

.lblvendor {
    width: auto;
    margin-bottom: 0px;
    line-height: 22px;
    font-size: 16px;
    color: #222;
}

.bulkReturn .panel {
    margin-bottom: 0px;
}

.bulkReturn .footer {
    margin-bottom: 20px;
}

.payment-tbl th, .payment-tbl thead {
    background: none !important;
    color: #000;
}

.payment-tbl td {
    text-align: left;
}

.txtcolor {
    color: #fff;
}

.panalign {
    padding: 5px 5px 5px 5px !important;
}
/*.k-grid-content table tr td{
        line-height: 0.7em !important;
}*/

@media(max-width:1400px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid #ddd;
    }
}

@media(min-width:1401px) {
    .productlist .table {
        table-layout: fixed;
        word-wrap: break-word;
    }
}

@media(min-width:1000px) {
    .schedulebg {
        padding: 0px 10px !important;
        width: 90px !important;
        text-align: center;
    }
}

@media(min-width:1000px) and (max-width:1600px) {
    .schedulebg {
        padding: 0px 10px !important;
        width: 90px !important;
        text-align: center;
    }

    .sellprice {
        width: 14.666666666666664% !important;
    }

    .sellDiscount {
        width: 10.333333333333332% !important;
    }
}

@media(min-width:1000px) and (max-width:1510px) {
    .receivedAmount {
        height: 35px;
    }
}

@media(min-width:1000px) and (max-width:1171px) {
    .lblSellDiscount {
        font-size: 12px !important;
    }

    .sellDiscount .override_margin {
        padding: 1px !important;
        margin: 0px !important;
    }

    .sellDiscount .form-group .sell-group-decor3 {
        padding: 5px 0px 0px 0px !important;
        width: 100% !important;
    }

    .ddlreminder {
        padding: 2px !important;
    }
}

.reminder-count {
    position: relative;
}

    .reminder-count span {
        background-color: #d9161c;
        color: #fff;
        display: inline-block;
        font-size: 9px;
        height: 17px;
        line-height: 17px;
        position: absolute;
        width: 17px;
        text-align: center;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%;
        top: -6px;
        right: -8px;
    }

.tblHeader, .tblHeader div {
    background-color: #D6D6D6;
    color: #333 !important;
    font-size: 16px;
}

    .tblHeader span {
        background-color: #D6D6D6;
        color: #333 !important;
        font-size: 16px;
        display: block;
        float: left;
        border: 0px solid #fff;
    }

/*.paymentList .form-control, .panel {
    border-radius: 4px;
}*/

.paymentList .chosen-container-single .chosen-single {
    height: 40px !important;
    padding: 7px 12px !important;
}

.paymentList .form-control {
    height: 40px;
}

.paymentList .btn {
    padding: 10px 12px;
}

.paymentList .input-group .form-control, .paymentList .input-group .form-control:last-child, .paymentList .chosen-container-single .chosen-single {
    border-radius: 3px !important;
}

    .paymentList .chosen-container-single .chosen-single div {
        top: 6px !important;
    }

.pdfHeader {
    border: 1px solid #959595;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    width: 96%;
    text-align: center;
}

.inventorySearch .form-control {
    height: 44px;
    border-radius: 4px !important;
}

.inputbdr .form-control {
    /*height: 44px; */
    border-radius: 4px !important;
}

.wrapper .input-group-btn > .btnSave {
    background-color: #F87122 !important;
    border: 1px solid #F87122 !important;
    margin-left: 4px;
    padding: 8px 12px;
}

.radio label {
    display: inline;
    cursor: pointer;
    position: relative;
    padding-left: 22px;
    margin-right: 15px;
    font-weight: bold;
}

.radio input[type=radio] {
    display: none;
}

.radio label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #eee;
    box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before {
    border-radius: 8px;
}

/*.radio input[type=radio]:checked + label:before {
    content: "\2022";
    color: #2FB3A0;
    font-size: 30px;
    text-align: center;
    line-height: 15px;
}*/

.radio input[type=radio]:checked + label:before {
    content: "\2022";
    color: #28465a;
    font-size: 29px;
    text-align: center;
    line-height: 11px;
    border: 2px solid #28465a;
    box-shadow: 0px 0px 0px #28465a;
}

.printSetup div {
    line-height: 27px;
}

.fkey {
    color: #FA585A;
}

.alternate .alternate-right .form-data input {
    width: auto;
}

.alternate-right .alproduct {
    padding: 0px 7px;
    font-size: 13px;
    font-weight: bold;
}

.txtUpper .dropdown-menu, .txtScroll .dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.angucomplete-dropdown {
    max-height: 500px;
    overflow-y: auto;
}

li.newfeature {
    background-color: #F57105;
    float: right !important;
    padding: 0px 1px;
    margin-right: 4px !important;
}

    li.newfeature a:hover {
        background-color: #F57105;
        float: right !important;
        margin-right: 4px !important;
        padding: 10px 15px;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
    }

.newfeatures {
    height: 100px !important;
    margin: auto;
    text-align: center;
}

    .newfeatures img {
        width: 125px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        margin: auto;
    }

/*  */

/*.offermodal {    
   left: 50%;

	border-radius: 2px;
	background-color: #333333;	
	border: 1px solid rgba(0, 0, 0, 0.0);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.0);
	width: 648px;
	margin-left: -350px;
	overflow: hidden;
    display: block;
    bottom: auto;
    
}
.offermodal .modal-body {
    position: relative;
    overflow-y: visible;
    max-height: 568px;
    padding: 0px;
}*/

.offermodal {
    left: 50%;
    border-radius: 2px;
    background-color: #333333;
    border: 1px solid rgba(0, 0, 0, 0.0);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.0);
    width: 800px;
    margin-left: -350px;
    /*overflow: hidden;*/
    display: block;
    bottom: auto;
}

    .offermodal .modal-body {
        position: relative;
        overflow-y: visible;
        max-height: 700px;
        padding: 0px;
    }

.checkOffer2 input[type="checkbox"] {
    position: relative;
    bottom: 0px;
    margin-left: 477px;
    padding: 14px;
    line-height: 0px;
    top: -105px;
}

.checkOffer .Offerpanel {
    position: relative;
    bottom: 0px;
    margin-left: 450px;
    padding: 14px;
    line-height: 0px;
    top: -88px;
}

.fade.offermodal.in {
    top: 8%;
}

.fade.offermodal {
    background: #fff;
}

.checkOffer img {
    max-width: 100%;
    margin-bottom: 80px;
}



.modal-backdrop {
    /*background-color: rgba(0, 0, 0, 0) !important;*/
}

    .modal-backdrop.in {
        /*opacity: 0 !important;
    filter: alpha(opacity=50); */
    }

    .modal-backdrop.fade.in {
        opacity: 0.5 !important;
        filter: alpha(opacity=50);
    }

#toast-container .toast {
    opacity: 1 !important;
}
/*Kendo Grid Alignment*/
.report-tables .k-grid-content tr td {
    border-style: solid;
    border-width: 0 0 1px 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
}

.report-tables .k-grid-header th.k-header > .k-link {
    color: #000;
    overflow: initial;
    text-overflow: inherit;
    font-family: 'GT Medium',arial,sans-serif;
    font-size: 12px;
    word-break: break-word;
    text-align: center;
}

.report-tables .k-grid-content table tr:first-child td, .report-tables .k-grid-content table tr:last-child td {
    border-bottom: 1px solid #e6e6e6;
}

.report-tables .k-grid-header th.k-header {
    padding: 4px 8px !important;
    border-bottom: 0;
    white-space: inherit;
    text-overflow: inherit;
}

.report-tables .k-grid td {
    padding: 4px 8px;
}

.report-tables .k-footer-template td {
    border-bottom: 0;
    vertical-align: middle;
    text-align: right;
    font-family: 'GT Medium',arial,sans-serif;
    font-size: 12px;
    background-color: #EDEDED;
}

.report-tables .k-grid-header th.k-header {
    vertical-align: top;
}
/*Kendo Grid Align End*/
/* Report */

.tblreportHeader th {
    color: #fff;
}
.report-tables .report-highlights
{
    background-color:#00FFE1/*#ededed*/;
    font-weight:700;
}
.rptMargin {
    padding: 0px !important;
    margin: 0px !important;
}

.tblReportLastTr {
    background-color: #FAEEF9;
    font-weight: bold;
}

.rptHeader {
    text-align: center;
    font-weight: bold;
    padding: 15px;
    font-size: 16px;
}

.cName {
    font-weight: bold;
    font-size: 14px;
    margin: 0 5px 5px;
    text-transform: capitalize;
}

.rptKendo .k-grid-footer-wrap table td {
    background-color: #FAEEF9;
    font-weight: bold;
}

.rptKendo .k-grid-header-wrap table th {
    font-weight: bold;
    background-color: #ededed !important;
}

    .rptKendo .k-grid-header-wrap table th a {
        font-weight: bold;
        color: #000 !important;
    }

    .rptKendo .k-grid-header-wrap table th:last-child, .rptKendo .k-grid-header-wrap table th:last-child a {
        background-color: #ededed !important;
    }

.rptKendo .k-grid-footer-wrap table td:last-child {
    background-color: #DCEEF9;
    font-weight: bold;
}

.rptKendo .k-alt {
    background-color: #EBEBEB !important;
}

.rptTitle .panel {
    border-radius: 0px 0px 4px 4px !important;
}

.rptTitle .nav-tabs {
    border-bottom: 2px solid #3DB29F;
}
/* End Report*/

.security-logo {
    position: absolute;
    bottom: 25px;
    right: 20px;
    z-index: 999;
}


/* Offline message */
.offline-message {
    text-align: center;
    padding: 15% 0;
    font-size: 24px;
    font-weight: bold;
}

    .offline-message .offline-only {
        font-size: 30px;
        color: #ff8100;
    }
/* End Offline message */


.rptDev .k-grid-header-wrap table th {
    font-weight: bold;
    /*background-color: #00CAAF !important;*/
    color: #fff !important;
}

    .rptDev .k-grid-header-wrap table th a {
        font-weight: bold;
        color: #000 !important;
    }

.rptDev .k-alt {
    background-color: #EBEBEB !important;
}
/* End Offline message */

/* PO BG color*/
.po-bg {
    background-color: #F16E40;
}

    .po-bg td, .po-bg tr, .po-bg .table-item-decor, .po-bg .text-small-decor1 {
        color: #fff !important;
    }

/*input,
textarea {
    color: darkred !important;
    -webkit-text-fill-color: #000;
}*/

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        text-shadow: none;
        -webkit-text-fill-color: initial;
    }

    input:focus {
        background-color: rgba(255, 234, 185, 1);
        border: 1px solid #CCC !important;
    }

    textarea:focus {
        background-color: rgba(255, 234, 185, 1);
    }

select:focus {
    border: 1px solid #CCC !important;
    background-color: rgba(255, 234, 185, 1) !important;
}

select option {
    background-color: rgba(255, 234, 185, 1) !important;
}

.panel-body {
    padding: 5px;
}

.k-grid-header .k-header {
    background-color: #ededed !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.btn-style-report {
    background-color: #039394;
    font-size: 13px;
    color: #FFF;
    text-transform: capitalize;
    font-family: 'GT Medium', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    outline: 0;
    border: none;
}

.h-30 {
    height: 30px !important;
}

.k-button {
    padding: 5.5px 14px !important;
}

.k-pager-info {
    padding: 2px !important;
    font-size: 12px;
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
    margin-top: -.45em;
    padding-top: .45em;
    min-width: 2.429em;
    font-size: 10px;
}

k-icon k-i-seek-e {
    font-size: 10px;
}

.k-pager-numbers .k-link {
    border-radius: 0;
    font-size: 10px !important;
}

.text-right {
    text-align: right !important;
}

/*12-5-17 order table */
.byorder-listt td {
    padding: 5px 2px !important;
}


.mb-5 {
    margin-bottom: 5px !important;
}

.btn-style-report {
    background-color: #28465a;
    font-size: 13px;
    color: #FFF;
    text-transform: capitalize;
    font-family: 'GT Medium', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    outline: 0;
    border: none;
}

.h-30 {
    height: 30px !important;
}

.k-button {
    padding: 5.5px 14px !important;
}

.k-pager-info {
    padding: 2px !important;
    font-size: 12px;
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
    margin-top: -.45em;
    padding-top: .45em;
    min-width: 2.429em;
    font-size: 10px;
}

k-icon k-i-seek-e {
    font-size: 10px;
}

.k-pager-numbers .k-link {
    border-radius: 0;
    font-size: 10px !important;
}

.sales-head-title {
    color: #f58220;
    font-family: 'GT Medium',arial,sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin: 2px 10px;
}

.no-pad{
    padding:0px;
}
.h-34 select{
    height:34px !important;
}
.width-154{
    width:154px;
}
.mar-5-0{
    margin:5px 0px;
}
.mar-btm-10 {
    margin-bottom: 10px !important;
}

.mar-btm-5 {
    margin-bottom: 5px !important;
}

.popup-checkbox input[type="checkbox"] {
    display: none;
}

    .popup-checkbox input[type="checkbox"] + label {
        cursor: pointer;
        color: #16364b;
        font-size: 14px;
        display: inline-block;
        line-height: 14px;
        font-weight: normal;
        margin-bottom: 0;
    }

        .popup-checkbox input[type="checkbox"] + label:before {
            background-image: url(../images/popup-check.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            content: " ";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            top: 2px;
            position: relative;
            transition: all 0.3s ease-in-out;
        }

        .popup-checkbox input[type="checkbox"] + label:before {
            background-image: url(../images/popup-check.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            content: " ";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            top: 2px;
            position: relative;
            transition: all 0.3s ease-in-out;
        }

    .popup-checkbox input[type="checkbox"]:checked + label:before {
        background-image: url(../images/popup-check.png);
        background-repeat: no-repeat;
        background-position: 0 -16px;
        content: "";
        width: 16px;
        height: 16px;
    }

.no-pad {
    padding: 0;
}

.txt-align-right {
    text-align: right;
}

.prod-width-inline {
    width: 185px !important;
    display: inline-block !important;
}

.no-pad-left {
    padding: 0 0 0 10px;
}

.mar-right-15 {
    margin-right: 15px;
}

.sales-mod-head-title {
    color: #f58220;
    font-family: 'GT Medium',arial,sans-serif;
    line-height: 24px;
    margin: 2px 10px;
    white-space: nowrap;
    font-size: 22px;
}

.ws-nowrap {
    white-space: nowrap;
}

.width-170 {
    width: 170px;
}

.mar-btm-20 {
    margin-bottom: 20px;
}

.mar-tb-10 {
    margin: 10px 0;
}

.mar-top-3 {
    margin-top: 3px;
}

.mar-tb-4 {
    margin: 4px 0;
}

.fontsize-22 {
    font-size: 22px;
}

.export-style {
    clear: both;
    width: 95px;
    float: right;
    position: absolute;
    right: 8px;
}

.suw-sel-width select {
    width: 160px !important;
}

.suw-sel-width {
    width: 160px;
}

/*4-5-17*/
.dis-inlnblk {
    display: inline-block;
}

.no-pad {
    padding: 0px;
}

.foot-note-set {
    color: #039394;
    font-size: 14px;
}

.width-200 {
    width: 200px;
}
/*4-5-17*/

.input-pos-abs {
    position: absolute;
    right: -56px;
}

.top_margin_PR {
    margin-top: 31px;
    margin-bottom: 10px;
}
/*15-5-17 style fixes*/
@media only screen and (-webkit-min-device-pixel-ratio:1.2),only screen and (min-device-pixel-ratio:1.2) {
    .k-callout, .k-column-menu .k-sprite, .k-drop-hint, .k-grouping-dropclue, .k-icon:not(.k-loading), .k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked, .k-state-active .k-tool-icon, .k-state-active.k-state-hover .k-tool-icon, .k-state-hover .k-tool-icon, .k-state-selected .k-tool-icon, .k-state-selected.k-state-hover .k-tool-icon, .k-tool-icon {
        background-image: url( ../images/sprite.png) !important;
        background-size: initial !important;
    }

    .k-grid-header .k-header-column-menu .k-i-arrowhead-s {
        background-position: -2px -34px !important;
    }

    .k-menu .k-item > .k-link {
        font-size: 12px;
    }

    .k-state-default .k-link input {
        margin: 0 5px;
        vertical-align: bottom;
    }

    .k-context-menu.k-menu-vertical > .k-item > .k-link, .k-menu .k-menu-group .k-item > .k-link {
        padding: 10px 20px 7px 5px !important;
    }

    .k-filter-help-text {
        font-size: 12px !important;
    }

    .report-table-height .k-grid-content {
        height: 68vh !important;
    }
}
/*END 15-5-17 Style fixes*/
/*18-5-17 style fixes */
.txt-align-right{
    text-align:right;
}

/*END 18-5-17 style fixes*/
/*start 23-5-17 style fixes*/
.SH-pos{
        position: relative;
    top: 6px;
}
.SH-pos-abs{
       position: absolute;
    top: 1px;
}
/*END 23-5-17 style fixes*/
    .reminder-popup-wrapper {
        padding: 5px;
    }
.custom-transform{
    text-transform: none !important;
}

.numRight{
    text-align:right;  
    /*padding-right:20px;*/ 
}
.rack-boxno {
    font-family: GT Light !important;
    color: #000 !important;
    font-size: 14px;
    margin: 5px 0;
    line-height: 14px;
}
    .rack-boxno span {
        font-family: GT Bold;
        font-size: 16px;
        line-height: 16px;
    }
.multi-select .btn{
    border:1px solid #ccc;
}
.multi-select .btn:hover,.multi-select .btn:focus{
    background:transparent;
}
.multi-select .btn{
    color:#333333;
}
.multi-select .btn:hover{
    color:#333333;
}

/* Added by Settu on 01/08/2017 for multi select branch */
multiselect {
    display:block;
}
multiselect .btn {
    width: 100%;
    background-color: #FFF;
}
multiselect .btn.error{
    border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
multiselect .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}
multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}
.mt-25 {
    margin-top: 25px !important;
}


.chosen-drop {
    width: auto !important;
}

.chosen-container .chosen-results {
     white-space: nowrap;
}

option {
    white-space: normal;
    min-height: 30px;
    height: auto;
}



/*/* Login info*/

.loginbody .login-container,
.loginbody .wrapper-1,
.loginbody .wrapper {
    height: 100%
}
.loginbody .webapp-login {
    position: relative;
}
.loginbody .webapp-login header {
    background: #28465A;
    height: 80px;
    padding: 15px 0;
}
.loginbody .support-no {
    color: #fff;
}
.loginbody .support-no h4 {
    margin: 5px 0 0;
    font-size: 21px;
    font-weight: 400;
}
.loginbody .login-section {
    padding: 60px 0;
}
.loginbody .login-rightside h2 {
    color: #2baa96;
    font-size: 20px;
    padding-bottom: 30px;
    margin: 0;
}
.loginbody .product-feature {
    padding-left: 70px;
    position: relative;
    margin-bottom: 30px;
}
.loginbody .product-feature .feature-icon {
    position: absolute;
    left: 0;
}
.loginbody .product-feature .product-details h3 {
    color: #646464;
    font-size: 18px;
}
.loginbody .product-feature .product-details span {
    color: #969696;
    font-size: 14px;
}
.loginbody .login-form {
    background: #fafafa;
    -webkit-box-shadow: 0 0 5px rgb(150, 144, 144);
    -moz-box-shadow: 0 0 5px rgb(150, 144, 144);
    box-shadow: 0 0 5px rgb(150, 144, 144);
    padding: 20px 0;
}
.loginbody .form-group {
    padding: 0 30px;
}
.loginbody .login-form .logo-header {
    color: #48b09e;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.loginbody .form-group.bottom-10 {
    padding-bottom: 10px;
}
.loginbody .form-group.bottom-20 {
    padding-bottom: 20px;
}
.loginbody .user-ctrl {
    position: relative;
}
.loginbody .login-form .form-control.ctrl {
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    color: #717171;
    background: #ffffff;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #d1d1d1;
    padding: 9px 30px 10px 12px;
}
.loginbody .user-ctrl:after {
    content: '';
    top: 50%;
    right: 10px;
    z-index: 1;
    position: absolute;
    background: url(../images/login-email.png) no-repeat 0px 1px;
    display: inline-block;
    width: 15px;
    height: 13px;
    border: 0px none;
    margin-top: -7px;
}
.loginbody .pswd-ctrl {
    position: relative;
}
.loginbody .pswd-ctrl:after {
    content: '';
    top: 50%;
    right: 10px;
    z-index: 1;
    position: absolute;
    background: url(../images/login-password.png) no-repeat 0px 1px;
    display: inline-block;
    width: 15px;
    height: 13px;
    border: 0px none;
    margin-top: -7px;
}
.loginbody .error-msg {
    color: #f00;
    margin-top: 6px;
    display: block;
}
.loginbody .login-form .btn.btn-primary {
    color: #FFF;
    border-radius: 2px !important;
    background: #00c853;
    border-color: #00c853;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
}
.loginbody .btn-primary:hover, 
.loginbody .btn-primary:focus,
.loginbody .btn-primary:active {
    color: #fff;
    background: #43a047 !important;
}
.loginbody .login-form .txt-ctrl {
    font-size: 14px;
    color: #838383;
    margin: 0;
    cursor: pointer;
    font-weight: 300
}
.loginbody .login-form a.green-font {
    color: #48b09e;
}
.loginbody input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    vertical-align: middle;
    height: 15px;
    width: 15px;
    margin: 0px;
}
.loginbody input[type="checkbox"]+.custom-checkbox {
    cursor: pointer;
    margin-left: -12px;
    clear: none;
    background: url(../img/icon-checkbox-login-inactive.png) no-repeat;
    padding: 0px 10px;
}
.loginbody input[type="checkbox"]:checked+.custom-checkbox {
    background: url(../img/icon-checkbox-login-active.png) no-repeat;
}
.loginbody .webapp-login footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -585px;
}
.loginbody .footer-section {
    border-top: 1px solid #e0e0e0;
    padding: 6px 0 1px;
}
.footer-copyrights {
    margin-bottom: 0px;
}
.footer-copyrights ul {
    padding: 0
}
.footer-copyrights li {
    color: #818181;
    float: left;
    position: relative;
    padding: 0 10px 0 0;
    list-style: none;
}
.footer-copyrights li a {
    color: #838383;
    font-size: 12px;
    text-transform: uppercase;
}
.footer-copyrights li:after {
    content: "|";
    margin-left: 15px;
}
.footer-copyrights li:last-child:after {
    content: "";
}
.loginbody .social-share {
    float: right;
}
.loginbody .social-share a {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}
.loginbody .internet-connection {
    float: Right;
	margin-left: 2.2em;
}

/*@media (min-width: 1200px) {
    .loginHeader {
        width: 90% !important;
    }
}*/

/*End of Login Page Alteration */



/* Sync Password*/


.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  //width: 48%;
  width: 500px;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay1 {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

.modal-box a.close {
  line-height: 0.8;
  font-size: 2.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #fff;
  border: 0px solid #fff;
}

.modal-box a.close:hover {
  color: #fff;
  border: 0px solid #f13737;
  background:#F36F21;
   opacity:1;
}

.modal-box .close{
    padding: 0px 5px 2px 6px;
    border-radius: 22px;
    border: 0px solid #fff;
    opacity:1;
}

.modal-box header h3{
    font-size:19px;
    font-weight:400;
}

#syncpwd{
        margin-bottom: 10px;
        -webkit-text-security:disc;
}
/* Sync End password*/

.popup-content-border {
    border-left:2px solid lightgray;
    border-right:2px solid lightgray;
    border-bottom:2px solid lightgray;
    border-top:2px solid lightgray;
}

.clsbtn
{
    opacity:1  !important;
}


.purchase-product .global {
        background-color: #39A5FF;
        width: 15px;
        text-align: center;
        padding: 3px;
        font-size: 11px;
        line-height: 11px;
        display: inline-block;
        color: #fff !important;
        left: 4px;
    }
.purchase-product .local{
        background-color: #284659 !important;
        color: #fff !important
    }

/* Sales User Start */
.salesperson h3 {    
    padding: 8px 0 !important;
}

/*Sales User end */


.sell-product .schedule {
        background-color: #82f7c5;
        width: 15px;
        text-align: center;
        padding: 3px;
        font-size: 11px;
        font-weight: 600;
        line-height: 11px;
        display: inline-block;
        /*position: absolute;*/
        left: 4px;
    }

    .sell-product a {
        cursor: pointer;
        color: #000;
        display: block;
        padding: 8px 30px 8px 24px;
        position: relative;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        padding-left: 10px !important;
    }

    .sell-product a:hover {
        background-image: url(../images/dropdown-right.png);
        background-repeat: no-repeat;
        background-position: right 6px top 50%;
        background-color: #28465a;
        color: #fff;
    }

    .sell-product .product-count {
        position: absolute;
        right: 30px;
        text-align: right;
    }

    .sell-product .orange {
        background-color: #fcdf9a;
        color: #000;
        padding-left: 2px;
    }

    .sell-product .pink {
        background-color: #fabce2;
        color: #000;
    }

    .sell-product a.active {
        background-color: #28465a;
        color: #fff;
        position: relative;
    }

.sell-product a.active::after {
    content: "";
    background-image: url(../images/dropdown-right.png);
    background-repeat: no-repeat;
    width: 8px;
    height: 11px;
    right: 6px;
    top: 50%;
    margin-top: -5.5px;
    position: absolute;
}

.no-pad-l{
    padding-left:0;
}
.no-pad-r{
    padding-right:0;
}


a.btn-new {
    background-color: #28465a;
    font-size: 13px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'GT Medium', Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    outline: 0;
    border: none
}

a.btn-new:hover {
    background: #28465a;
    border: none;
    color: #56799e
}
.dc-pop h5{
    display:inline-block; 
    margin:10px 15px 10px 0;
}
.dc-pop .sel-div{
    display:inline-block; 
    margin-bottom:15px;
}


/*jun23*/
.single-report .k-grid-content {
        height: 305px !important;
    }

    .single-report .k-grid {
        height: 505px !important;
    }
.top-form .override_margin{
    padding:0 15px 0 0 !important;
}
.top-form .btn-small{
    height:34px;
}
.center-div{
    margin:5px 0px; 
    text-align:center;
}
.tp-select select{
    padding: 3px 7px;
}






.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}








li.child-menu ul {
   display: none;
   list-style:none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 238px;
    width: 200px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    margin-top: -30px;
}
li.child-menu:hover > ul {
   display: block;
   position: absolute;
}
.child-menu li a,
.child-menu li a:hover{
    text-decoration:none;
}
.child-menu li a:hover{
    color: #262626;
}
.child-menu li:hover{
    color: #262626;
    background-color: #f5f5f5;
    cursor:pointer;
}
.child-menu ul li{
    padding:5px 10px;
}
.child-menu i{
    float: right;
    position: relative;
    top: 3px;
    right: 5px;
    font-size:18px;
}
.sale-print{
    padding:0 10px 0 3px;
    margin:0 0 3px;
}
.sale-print li{
    list-style:none;
    display:inline-block;
    padding-right:10px;
}
.sale-print li:last-child{
    float:right;
    padding-right:0px;
}
.sale-print .form-control{
    width:120px;
    display:inline-block;
}
.sale-print label{
    padding:10px 0 5px;
}
.nav-tabs.tp-menu > li > a {
    padding: 5px 10px;
}
.sales-list{
    /*min-height: 200px;*/
    max-height: 200px;
    overflow-y: auto;
}
.branch-list .w-14{
    width:14.2%;
    padding-right:10px;
}
.br-list-tbl thead th,
.br-list-tbl tbody td{
    overflow-wrap:break-word;
}
.br-list-tbl thead th:nth-child(1),
.br-list-tbl tbody td:nth-child(1){
    width:10%;
    max-width:100px;
}
.br-list-tbl thead th:nth-child(2),
.br-list-tbl tbody td:nth-child(2){
    width:10%;
    max-width:100px;
}
.br-list-tbl thead th:nth-child(3),
.br-list-tbl tbody td:nth-child(3){
    width:10%;
    max-width:100px;
}
.br-list-tbl thead th:nth-child(4),
.br-list-tbl tbody td:nth-child(4){
    width:10%;
    max-width:100px;
}
.br-list-tbl thead th:nth-child(5),
.br-list-tbl tbody td:nth-child(5){
    width:10%;
    max-width:100px;
}
.br-list-tbl thead th:nth-child(6),
.br-list-tbl tbody td:nth-child(6){
    width:10%;
    max-width:210px;
}
.br-list-tbl thead th:nth-child(7),
.br-list-tbl tbody td:nth-child(7){
    width:10%;
    max-width:100px;
}
.br-list-tbl thead th:nth-child(8),
.br-list-tbl tbody td:nth-child(8){
    width:10%;
    max-width:115px;
    min-width:115px;
}
.br-list-tbl thead th:nth-child(9),
.br-list-tbl tbody td:nth-child(9){
    width:10%;
    max-width:115px;
    min-width:115px;
}
.br-list-tbl thead th:nth-child(10),
.br-list-tbl tbody td:nth-child(10){
    width:10%;
    max-width:50px;
}
.w-170{
    width:170px;
}

.chosen-container{width:100% !important;}

@media (max-width: 768px) {
    .sidebar-offcanvas{display:none;}
    .padding.ft{position:absolute; top:90px;}
    .rt-div{margin-left:0 !important;}
    .sell-batch{position:inherit !important; padding:0 !important;width: 100% !important;}
    .chosen-container{width:100% !important;}
    a.logout-icon{padding:10px !important;}
    .welcome-user{margin-right:10px !important; margin-left:10px;}
   .product-add-list .chip-btn {
            font-size: 15px;
    height: 17px;
    padding: 0;
    width: 16px;
    float: left;
    margin-left: 0px;
    }
    .product-add-list, .chips-header  {
        font-size: 10px !important;
    }
    .chip-style.product-add-list{padding:0;}
    .footer-sell .special, .footer-sell .special>strong{font-size:12px !important;}

}

