@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Bill Cancel";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="billCancelReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <div class="pull-left">
                <input type="button" id="Today" ng-click="filter('Today')" class="btn btn-style" value="Today" />
                <input type="button" id="Week" ng-click="filter('Week')" class="btn btn-style" value="Week" />
                <input type="button" id="Month" ng-click="filter('Month')" class="btn btn-style" value="Month" />
            </div>
            <div class='col-sm-2'>
                @if (User.HasPermission(UserAccess.Admin))
                {
                    <div class="col-sm-2 override_margin">
                        <div class='form-group'>
                            @*<label>Branch</label>*@
                            @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                        </div>
                    </div>
                }
            </div>
            <div class='col-sm-2'>
                <div class='form-group'>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class='form-group'>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-dat e="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <button title="Search" class="btn btn-style" ng-click="billCancelReport()">Search</button>
            </div>               
            <br />
            <br />
            <div class="col-md-12 pull-left">
                <div class='row override_margin'>
                    <div class='col-sm-2 override_margin pull-left'>
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <select id="filter1" name="filter1" title="Options" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="form-control" required>
                                    <option value="">Please Select</option>
                                    <option value="CancelNo">Cancel No</option>
                                    <option value="Name">Customer Name</option>
                                    <option value="Mobile">Mobile</option>
                                    <option value="Product">Product Name</option>
                                    <option value="InvoiceNo">Invoice No</option>
                                    <option value="Batch">Batch No</option>
                                    <option value="Amount">Amount</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-1 override_margin' ng-if="totalCondition == true">
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <select id="filter2" name="filter2" title="select option" placeholder="Select" ng-model="search.select1" class="form-control" required>
                                    <option value="1">></option>
                                    <option value="2">=</option>
                                    <option value="3"><</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-if="productCondition==false && search.select!='Name'">
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <input title="Values" class="form-control required email" id="Values" name="Values" size="30" type="text" placeholder="Enter Value" ng-enter="billCancelReport()" ng-model="search.selectedValue" />

                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2 override_margin' ng-show="search.select=='Name'">
                        <div class='form-group'>
                            <input type="text"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Enter Customer Name"
                                   id="customerName" required
                                   name="customerName"
                                   title="Customer name"
                                   typeahead-on-select="onPatientSelect($item)"
                                   uib-typeahead="ps as ps.name for ps in getPatientName($viewValue)"
                                   class="form-control form-control-small"                                  
                                   ng-enter="billCancelReport()" ng-model="search.selectedValue" />
                        </div>
                    </div>

                    <div class='col-md-2 override_margin' ng-if="productCondition==true">
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <input title="Product Name" type="text" placeholder="Enter Product Name" id="drugName" name="drugName" class="search-query form-control" ng-enter="getProductId()" ng-model="search.drugName" typeahead-on-select="getProductId()" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)">
                            </div>
                        </div>
                    </div>


                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <button title="Search" class="btn btn-style" ng-click="billCancelReport()">Find</button>
                                <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>            
            <div class="pull-right">
                <button ng-hide="dateRangeExceeds" ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
            </div>                                  
        </div>
        <div align="center" style="margin:10px 0px 10px 0px !important;"><span class="reportHeader"><b>BILL CANCELLATION DETAILS</b></span></div>
    </div>
    
    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>

                </div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
            </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>


    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesReportService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/billCancelReportCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productService.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/AppScript/sales/salesService.js"></script>
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

<link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


    </script>
}
