
@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

@{

    ViewBag.Title = "Consolidated Sales Return Report";
    ViewBag.Menu = "Reports";
    Layout = "_LayoutReports";
}



<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>




<div ng-app="hcue" ng-controller="salesConsolidatedReturnVATCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <div class="row">
                <h5 class="pull-left sales-head-title">Consolidated Sales Return Report</h5>
            </div>
            <div class="row" style="margin:5px;">
                @if (User.HasPermission(UserAccess.Admin))
            {

                    <div class="col-sm-2">

                        @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                    </div>
                }

                <div class="pull-left">
                    <button title="Today" id="Today" ng-click="filter('TODAY')" class="btn btn-style-report">Today</button>
                    <button title="Week" id="Week" ng-click="filter('Week')" class="btn btn-style-report">Week</button>
                    <button title="Month" id="Month" ng-click="filter('Month')" class="btn btn-style-report">Month</button>
                </div>

                @*<div class='col-sm-1'>
                    <div class="input-group">

                        <div>
                            <select ng-model="search.select1" class="form-control" ng-enter="salesReport()">
                                <option value="">All</option>
                                <option ng-repeat="item in InvoiceSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>
                            </select>
                        </div>
                    </div>
                </div>*@
                <div class='col-sm-1' style="padding-right:0px;margin-right:0px;">
                    <div class="input-group">

                        <div class="override_margin">
                            <select ng-model="search.cashType" class="form-control override_margin" ng-enter="salesReport()" >
                                <option value="">All</option>
                                <option value="Full">Cash</option>
                                <option value="Credit">Credit</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2'>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Created Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />

                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>

                    </div>
                </div>
                <div class='col-sm-2'>
                   
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Created Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>

                        </div>
                  
                </div>

                <div class="pull-left">

                    <button title="Search" class="btn btn-style" ng-click="salesReport()">Search</button>

                </div>


                <div class="pull-right">
                    <button ng-disabled="data.length==0" ng-click="btnTXTExport()" class="btn btn-style k-button" id="btnTXTExport" title="Export to Txt">
                        <i class="fa fa-print" style="color:green" aria-hidden="true"></i>
                    </button>
                    <button ng-hide="dateRangeExceeds" ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
       
    </div>

    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>
            </div>
            <div id="basicDetails" style="display:none;"></div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>


    <script asp-append-version="true" src="/appscript/reports/vatreport/purchasereportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesReportService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/vatreport/salesConsolidatedReturnVATCtrl.js"></script>

    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <script>

        $("#btnPdfExport").kendoButton({
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton({
            click: function () {
                $("#instanceName").text("Elixir Softlab Solutions");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


    </script>

}
