@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

@{
    ViewBag.Title = "Customer Wise Sale";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="salesCustomerWiseReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">

        
        <div class="panel-body">
          
            <form name="Customerwise">


                <div class="col-lg-14" style="height:60px;">

                    @if (User.HasPermission(UserAccess.Admin))
                    {
                        <div class="col-sm-2 override_margin">
                            <div class='form-group'>
                                <label>Branch Name</label>
                                @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                            </div>
                        </div>
                    }                    
                    <div class='col-sm-2 override_margin txtUpper'>
                        <div class='form-group'>
                            <label>Select Anyone</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="form-control" required>
                                    <option value="" disabled>Please Select</option>
                                    <option value="Name">Customer Name</option>
                                    <option value="Id">Customer Id</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 input-group sell-group-decor txtCaps txtUpper">

                        @*<input placeholder="" id="customerName" maxlength="50" type="text" class="form-control" ng-keyup="keyEnter($event,'searchPatientMobile')" ng-model="customerHelper.data.patientSearchData.name">*@
                        <input ng-if="nameCondition==true" style="margin-top:23px;" type="text" ng-model="Customer.Name"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Enter Customer Name"
                               id="customerName" required
                               name="customerName"
                               title="Customer name"
                               typeahead-on-select="onPatientSelect($item)"
                               typeahead-editable="false"
                               uib-typeahead="ps as ps.name for ps in getPatientName($viewValue)"
                               class="form-control form-control-small"
                               typeahead-template-url="itemTpls.html" />


                        <script type="text/ng-template" id="itemTpls.html">

                            <a tabindex="-1" style="text-decoration:none">
                                <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                            </a>



                            <div style="color:#fbaf67"></div>

                        </script>

                        <input ng-if="nameCondition==false" style="margin-top:23px;" type="text" ng-model="Customer.Id"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Enter Customer Id"
                               id="customerName" required
                               name="customerName"
                               title="Customer name"
                               typeahead-on-select="onPatientSelect($item)"
                               typeahead-editable="false"
                               uib-typeahead="ps as ps.empID for ps in getPatientid($viewValue)"
                               class="form-control form-control-small"
                               typeahead-template-url="itemTpls1.html" />

                        <script type="text/ng-template" id="itemTpls1.html">

                            <a tabindex="-1" style="text-decoration:none">
                                <span ng-bind-template="{{match.model.name}} - ({{match.model.empID}})"></span>
                            </a>



                            <div style="color:#fbaf67"></div>

                        </script>
                        @*<input ng-if="nameCondition==false" placeholder="Enter Id"  class="form-control form-control-small" type="text" style="margin-top:23px;"  ng-model="Customer.id"/>*@
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group" style="margin-top:27px;">
                                <input type="text" class="form-control" id="fromDate" uib-datepicker-popup="{{format}}" required placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="checkFromDate()" ng-keyup="checkFromDate()" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group" style="margin-top:27px;">
                                <input type="text" class="form-control" id="toDate" uib-datepicker-popup="{{format}}" required placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" ng-change="checkToDate()" ng-keyup="checkToDate()" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>


                <br />

                <div class="col-lg-12" style="height:35px;">
                    <div class="col-sm-2">
                        <input type="checkbox" ng-model="CheckSummary" ng-checked="CheckSummary==true" ng-click="CheckWhichReport('1',CheckSummary)" /><label>Summary</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" ng-model="CheckInvoice" ng-checked="CheckInvoice==true" ng-click="CheckWhichReport('2',CheckInvoice)" /><label>Invoice</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" ng-model="CheckDetail" ng-checked="CheckDetail==true" ng-click="CheckWhichReport('3',CheckDetail)" /><label>Detail</label>
                    </div>
                    <div class="pull-left">
                      
                        <button title="Search" class="btn btn-style" ng-disabled="Customerwise.$invalid || Checked==''"  ng-click="salesReport()">Search</button>
                    </div>

                    <div class="pull-left">
                        <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                    </div>
                </div>

            </form>
            <br/>

            <div class="col-lg-12">
                <div class="" style="margin-left:40%">
                    <span class="reportHeader">
                        <b>Customer Wise Sales</b>
                    </span>
                </div>
                <div class="pull-right col-sm-2">
                    <button ng-hide="dateRangeExceeds" ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>

                @*<div class="pull-right col-sm-2" ng-show="data.length>0">
                    <a id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></a>
                    <button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>*@
            </div>
          
            <br />
           
        </div>
        
    </div>
    
    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>
            </div>


         
             
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
         

             

        </div>
    </div>
</div>

<style>
  
        .txtUpper .dropdown-menu, .txtScroll .dropdown-menu {
        max-height: 300px;
        overflow: auto;
            }
</style>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

<script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>
   
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesCustomerWiseCtrl.js"></script>
<script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
<script asp-append-version="true" src="~/appScript/sales/salesService.js"></script>
<script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
<script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

<link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

<script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


</script>

}
