@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

@{
    ViewBag.Title = "Doctorwise Report";
    ViewBag.Menu = "Reports";
    Layout = "_LayoutReports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>


<div ng-app="hcue" ng-controller="doctorwiseReportCtrl" data-ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin mar-btm-5">
        <div class="panel-body">
            <div class="row">
                <h5 class="pull-left sales-head-title">Doctor Wise Report </h5>
                @if (User.HasPermission(UserAccess.Admin))
            {

                    <div class="col-sm-2">
                        @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                    </div>
                }
                <div class="pull-left">
                    <button title="Today" id="Today" ng-click="filter('TODAY')" class="btn btn-style-report">Today</button>
                    <button title="Week" id="Week" ng-click="filter('Week')" class="btn btn-style-report">Week</button>
                    <button title="Month" id="Month" ng-click="filter('Month')" class="btn btn-style-report">Month</button>
                </div>


                <div class='col-sm-2 width-170'>
                    <div class=''>
                        <div class="input-group">
                            <input type="text" class="form-control h-30" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1 h-30" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 width-170'>
                    <div class=''>
                        <div class="input-group">
                            <input type="text" class="form-control h-30 " uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1 h-30" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="panel-body">
            <div class="col-sm-2">
                <div class=''>

                    <div>
                        <select id="FilterType" name="FilterType" title="Filter Type" placeholder="Select anyone" ng-model="filterType" class="form-control" ng-change="emptyGrid()">
                            <option value="" style="display:none;">Select Type</option>                            
                            <option value="1">Doctor Wise</option>
                            <option value="2">Product Wise</option>                                                    
                        </select>
                    </div>
                </div>
            </div>        
            
            <div class='col-sm-2' ng-show="filterType==1">
                <div class="input-group">

                    <div>
                        <input type="text"
                               data-ng-model="search.doctorName"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Doctor Name"
                               id="doctorName"
                               title="Doctor name"
                               typeahead-on-select="doctorNameSearch($item,$event)"
                               uib-typeahead="ps as ps.name for ps in DoctorsList($viewValue)"
                               class="form-control"
                               typeahead-template-url="itemTpls1.html" ng-enter="changeFocus('drugName')"/>

                        <script type="text/ng-template" id="itemTpls1.html">

                            <a tabindex="-1" style="text-decoration:none" data-ng-if="match.model.mobile!=null && match.model.mobile!=undefined ">
                                <span data-ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                            </a>
                            <a tabindex="-1" style="text-decoration:none" data-ng-if="match.model.mobile==null && match.model.mobile==undefined">
                                <span data-ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                            </a>

                            <div style="color:#fbaf67"></div>

                        </script>
                    </div>
                </div>
            </div>
            <div class='col-sm-2' ng-show="filterType==2">
                <div class="input-group">

                    <div>
                        <input type="text" ng-model="selectedProduct.name"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Enter Product"
                               id="drugName" required
                               name="drugName"
                               autofocus
                               title="Product Name"
                               typeahead-on-select="onProductSelect($item)"                               
                               uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                               class="form-control form-control-small " ng-enter="changeFocus('searchBtn')" />
                    </div>
                </div>
            </div>    
            
            <div class="pull-left">
                <button title="Search" id="searchBtn" class="btn btn-style-report" ng-click="doctorReport()" ng-enter="doctorReport()">Search</button>
                <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
            </div>
            <div class="pull-right">
                <button ng-hide="dateRangeExceeds" ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <script type="text/x-kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName">  </label>

                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>
            </div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

<script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    @*<script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@
    @*<script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>*@
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/doctorwiseReportCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesService.js"></script>
    <script asp-append-version="true" src="~/appscript/Doctor/doctorService.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockService.js"></script>
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
    <script>
        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
               
            }
        });
    
        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });



</script>
        <style>
        .pdfHeader{
            border:1px solid #959595;
            border-radius:3px;
            padding:5px;
            margin-bottom:10px;
            position:relative;
            width:96%;
            text-align:center;           
        }
    </style>
    
}


