@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

@{
    ViewBag.Title = "Sell Report";
    ViewBag.Menu = "Reports";
    Layout = "_LayoutReports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>


<div ng-app="hcue" ng-controller="salesHomeDeliveryCtrl" data-ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin mar-btm-5">
        <div class="panel-body">
            <div class="row">
                <h5 class="pull-left sales-head-title">Sales Transaction Wise </h5>
                @if (User.HasPermission(UserAccess.Admin))
            {

                    <div class="col-sm-2">
                        @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                    </div>
                }
                <div class="pull-left">
                    <button title="Today" id="Today" ng-click="filter('TODAY')" class="btn btn-style-report">Today</button>
                    <button title="Week" id="Week" ng-click="filter('Week')" class="btn btn-style-report">Week</button>
                    <button title="Month" id="Month" ng-click="filter('Month')" class="btn btn-style-report">Month</button>
                </div>


                <div class='col-sm-2 width-170'>
                    <div class=''>
                        <div class="input-group">
                            <input type="text" class="form-control h-30" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1 h-30" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 width-170'>
                    <div class=''>
                        <div class="input-group">
                            <input type="text" class="form-control h-30 " uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1 h-30" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="panel-body">
            <div class="col-sm-2">
                <div class=''>

                    <div>
                        <select id="InvoiceType" name="InvoiceType" title="Invoice Type" placeholder="Select anyone" ng-change="ChangeInvoiceSeriesDropdown(InvoiceSeriesType)" ng-model="InvoiceSeriesType" class="form-control" ng-enter="salesReport()" required>
                            <option>Select Invoice Type</option>
                            <option value="">All</option>
                            <option value="1">Default</option>
                            <option value="2">Custom</option>
                            <option value="3">Manual</option>
                            @*<option value="4">Credit Customer</option>*@
                        </select>
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class="">

                    <div>
                        <select ng-model="search.select1" class="form-control" ng-enter="salesReport()" ng-disabled="InvoiceSeriesType!=2">
                            <option>Select Series Type</option>
                            <option value="">All</option>
                            <option ng-repeat="item in InvoiceSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class="input-group">

                    <div>
                        <input title="From Invoice No" type="text" placeholder="From Invoice No" id="fromInvoice" name="fromInvoice" valid-number class="form-control" maxlength="10" ng-model="fromInvoice" ng-enter="salesReport()" />
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class="input-group">

                    <div>
                        <input title="To Invoice No" type="text" id="toInvoice" placeholder="To Invoice No" name="toInvoice" valid-number class="form-control" maxlength="10" ng-model="toInvoice" ng-enter="salesReport()" />
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <button title="Search" class="btn btn-style-report" ng-click="salesReport()">Search</button>
                <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
            </div>
            <div class="pull-right">
                <button ng-hide="dateRangeExceeds" type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data" csv-header="['Branch', 'Bill No.', 'Bill Date', 'Cash', 'Card','Credit','Cheque','eWallet','e-Provider','Net Value','Name','Mobile','Email','Delivery Type','Transaction By']"
                        csv-column-order="order"
                        filename="{{fileName}}.csv" ng-click="setFileName()">

                    <img src="~/assets/images/csv.png" />
                   
                </button>
                <button ng-hide="dateRangeExceeds" ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <script type="text/x-kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName">  </label>
                       
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>
                </div>

                
               
            <h5 class="pull-left sales-head-title mar-btm-20 mar-top-3">Returns </h5>
                <br />
            <div class="report-tables mar-tb-10">
                <div id="SalesReturnGrid"></div>
                </div>


                <div class="container-fluid" ng-show="netDisplay">
                    <div class="row">
                        <div class="col-lg-4 text-right" style="padding-right: 0px;">
                            <span><b>Net Amount</b></span>
                        </div>
                        <div class="col-lg-6 text-left">
                            <span>=</span>
                            <span style="padding-left: 10px; padding-right: 10px;"><b>Total Sales - Total Returns</b></span>
                            <span style="padding-left: 10px;">
                                <span>=</span>
                                <b><span style="padding-left: 10px;" ng-bind-template="{{netamount |INR}}"></span></b>
</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 text-right" style="padding-right: 0px;">
                            <span><b>Note: </b></span>
                        </div>
                        <div class="col-lg-6 text-left">
                            <span>Download on Excel available only for data less than 2 months</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

<script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>
<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<script asp-append-version="true" src="~/appScript/Reports/sales/salesReportAppScript.js"></script>

    @*<script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@
    @*<script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>*@
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/saleshomedeliveryctrl.js"></script>
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />


@*<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
<script asp-append-version="true" src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
<script asp-append-version="true" src="~/AppScript/common/showConfirmMsgCtrl.js"></script>
<script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
<link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />*@

@*<script asp-append-version="true" src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>*@
    <script>
        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
               
            }
        });
    
        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });



</script>
        <style>
        .pdfHeader{
            border:1px solid #959595;
            border-radius:3px;
            padding:5px;
            margin-bottom:10px;
            position:relative;
            width:96%;
            text-align:center;           
        }
    </style>
    
}


