@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Product Wise Sale";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="salesProductWiseReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">

        
        <div class="panel-body">
          
            <form name="Productwise">
                <div class="col-lg-12" style="height:60px;">

                    @if (User.HasPermission(UserAccess.Admin))
                    {
                        <div class="col-sm-2">
                            <div class='form-group'>
                                <label>Branch Name</label>
                                @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                            </div>
                        </div>
                    }

                    <div class="col-sm-2 input-group sell-group-decor txtCaps">
                        <label>Product</label>
                        <input type="text" ng-model="selectedProduct.name"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Enter Product"
                               id="drugName" required
                               name="drugName"
                               autofocus
                               title="Product Name"
                               typeahead-on-select="onProductSelect($item)"
                               typeahead-editable="false"
                               uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                               class="form-control form-control-small " />
                    </div>
                    <div class="col-sm-2 input-group sell-group-decor txtCaps">
                        <label>Customer Name (Optional)</label>
                        @*<input placeholder="" id="customerName" maxlength="50" type="text" class="form-control" ng-keyup="keyEnter($event,'searchPatientMobile')" ng-model="customerHelper.data.patientSearchData.name">*@
                        <input type="text" ng-model="Customer.Name"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Enter Customer Name"
                               id="customerName" 
                               name="customerName"
                               title="Customer name"
                               typeahead-on-select="onPatientSelect($item)"
                               typeahead-editable="false"
                               ng-blur="OnPatientNameblur()"
                               uib-typeahead="ps as ps.name for ps in getPatientName($viewValue)"
                               class="form-control form-control-small"
                               typeahead-template-url="itemTpls.html" />


                        <script type="text/ng-template" id="itemTpls.html">

                            <a tabindex="-1" style="text-decoration:none">
                                <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                            </a>



                            <div style="color:#fbaf67"></div>

                        </script>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group" style="margin-top:29px;">
                                <input type="text" class="form-control" id="fromDate" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="checkFromDate()" ng-keyup="checkFromDate()" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group toDate1" style="margin-top:29px;">
                                <input type="text" class="form-control" id="toDate1" uib-datepicker-popup="{{format}}" placeholder="To Date1" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" ng-change="checkToDate()" ng-keyup="checkToDate()" ng-required="true" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                        <span class="error" ng-show="!validToDate">Enter correct format date</span>
                    </div>
                    <div class="col-sm-2">
                      
                        <button title="Search" class="btn btn-style" ng-disabled="Productwise.$invalid" ng-click="salesReport()" style="margin-top:29px;">Search</button>
                        <button title="Cancel" style="margin-left:3px;margin-top:29px;" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                    </div>

                    @*<div class="col-sm-2">

                    </div>*@
                </div>
            </form>
            
            
            <br/>

            <div class="col-lg-12">
                <div class="col-sm-2" style="margin-left:40%">
                    <span class="reportHeader">
                        <b>Product Wise Sales</b>
                    </span>
                </div>
                <div class="pull-right col-sm-2">
                    <button ng-hide="dateRangeExceeds" ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>

                @*<div class="pull-right col-sm-2" ng-show="data.length>0">
                    <a id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></a>
                    <button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>*@
            </div>
          
            <br />
           
        </div>
        
    </div>
    
    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>
            </div>


         
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
        
         

             

        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

<script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>
   
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesProductWiseCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productstockservice.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesService.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

<link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

<script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


</script>

}
