@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Sales User Wise";
    ViewBag.Menu = "Reports";
    ViewBag.DataCount = "";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="salesUserListReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <form name="SalesUserList">


                <div class="col-lg-12" style="height:60px;">

                    @if (User.HasPermission(UserAccess.Admin))
                    {

                        <div class="col-sm-2 override_margin">
                            <label>Select Branch Type</label>
                            @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                        </div>
                    }
                    <div>
                        <div class='col-sm-2 override_margin'>
                            <div class='form-group'>
                                <label>Select From Date</label>
                                <div class="input-group col-md-12 override_margin">
                                    <input type="text" class="form-control" id="fromDate" uib-datepicker-popup="{{format}}" required placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="checkFromDate()" ng-keyup="checkFromDate()" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                    <span class="input-group-btn wrapper-date">
                                        <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                        </div>
                        <div class='col-sm-2 override_margin'>
                            <div class='form-group'>
                                <label>Select To Date</label>
                                <div class="input-group col-md-12 override_margin">
                                    <input type="text" class="form-control" id="toDate" uib-datepicker-popup="{{format}}" required placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-change="checkToDate()" ng-keyup="checkToDate()" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                    <span class="input-group-btn wrapper-date">
                                        <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                            <span class="error" ng-show="!validToDate">Enter correct format date</span>
                        </div>                        
                    </div>
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <label>Select Anyone</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="user" name="vendor" title="User Name" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="form-control">
                                    <option value="" >All</option>
                                    <option value="userName">User Name</option>
                                    <option value="userId">User Id</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 input-group sell-group-decor txtCaps">
                       
                        <input ng-if="nameCondition==true" style="margin-top:23px;" type="text" ng-model="Customer.Name"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Enter User Name"
                               id="userName"
                               name="userName"
                               title="User name"
                               ng-enter="salesReport()" 
                               typeahead-on-select="onCustomerSelect($item)"
                               typeahead-editable="false"
                               uib-typeahead="ps as ps.name for ps in getUserName($viewValue)"
                               class="form-control form-control-small"
                               typeahead-template-url="itemTpls.html" />


                        <script type="text/ng-template" id="itemTpls.html">

                            <a tabindex="-1" style="text-decoration:none">
                                <span ng-show="match.model.mobile!=''" ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                                <span ng-show="!match.model.mobile" ng-bind-template="{{match.model.name}}"></span>
                            </a>



                            <div style="color:#fbaf67"></div>

                        </script>
                       
                        <input ng-if="nameCondition==false" style="margin-top:23px;" type="text" ng-model="Customer.Id"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Enter User Id"
                               id="userName"
                               name="userId"
                               title="User Id"
                               ng-enter="salesReport()" 
                               typeahead-on-select="onCustomerSelectUserId($item)"
                               typeahead-editable="false"
                               uib-typeahead="ps as ps.userId for ps in getUserId($viewValue)"
                               class="form-control form-control-small"
                               typeahead-template-url="itemTpls1.html" />

                        <script type="text/ng-template" id="itemTpls1.html">

                            <a tabindex="-1" style="text-decoration:none">
                                <span ng-bind-template="{{match.model.userId}} - ({{match.model.mobile}})"></span>
                            </a>



                            <div style="color:#fbaf67"></div>

                        </script>
                    </div>
                   

                </div>


                <br />

                <div class="col-lg-12" style="height:35px;">
                    <div class="col-sm-2">
                        <input type="checkbox" ng-model="CheckSummary" ng-checked="CheckSummary==true" ng-enter="salesReport()"  ng-click="CheckWhichReport('1',CheckSummary)" /><label>Summary</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" ng-model="CheckInvoice" ng-checked="CheckInvoice==true" ng-enter="salesReport()"  ng-click="CheckWhichReport('2',CheckInvoice)" /><label>Invoice</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" ng-model="CheckDetail" ng-checked="CheckDetail==true" ng-enter="salesReport()"  ng-click="CheckWhichReport('3',CheckDetail)" /><label>Detail</label>
                    </div>
                    <div class="pull-left">

                        <button title="Search" class="btn btn-style" ng-disabled="Customerwise.$invalid || Checked==''" ng-click="salesReport()">Search</button>
                    </div>

                    <div class="pull-left">
                        <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel"  ng-click="clearSearch()">Clear</button>
                    </div>
                </div>

            </form>

           
            </div>
            </div>

            <div class="panel panel-default override_margin">
                <div class="panel-body">

                    <div class='row col-sm-12'>
                        <div class='col-sm-10' style="text-align:center"><span class="reportHeader"><b>SALES USER WISE</b></span></div>
                        <div class="col-sm-2 pull-right" style="text-align:right">
                            <button ng-hide="dateRangeExceeds" ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                            <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                        </div>
                        @*<div class="col-sm-2 pull-right" style="text-align:right" ng-show="data.length>0">
                            <a id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></a>
                            <button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                        </div>*@
                    </div>

                    <script type="x/kendo-template" id="page-template">
                        <div class="page-template">
                            <div class="header">
                                <label id="instanceName"> Company Name </label>
                            </div>
                            <div class="footer">
                                <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                            </div>
                        </div>
                    </script>
                   
                    <div class="report-tables">
                        <div id="grid" class='rptKendo'></div>
                    </div>
                    <div ng-show="data.length > 0" class="row">
                        <div class="col-lg-4 text-right" style="padding-right: 0px;">
                            <span><b>Note: </b></span>
                        </div>
                        <div class="col-lg-6 text-left">
                            <span>Download on Excel available only for data less than 2 months</span>
                        </div>
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>

        @section scripts
{
            <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
            <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
            <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
            <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
            <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

            <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
            <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
            <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

            @*<script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
            @*<script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@
            @*<script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
                <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
                <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>*@
            <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
            <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

<script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
<script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
<link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
<link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesuserlistctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesService.js"></script>

           <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
            <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
            <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

            <script>

                $("#btnPdfExport").kendoButton(
                {
                    click: function () {
                        $("#grid").data("kendoGrid").saveAsPDF();
                    }
                });


                $("#btnXLSExport").kendoButton(
                {
                    click: function () {
                        $("#instanceName").text("Qbitz Tech");
                        $("#grid").data("kendoGrid").saveAsExcel();
                    }
                });


            </script>

        }




