@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Sales Summary Report";
    ViewBag.Menu = "Reports";
    Layout = "_LayoutReports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="salesSummaryReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
     
        <div class="panel-body">
            <h5 class="pull-left" style="color: #f58220;font-family:'GT Medium',arial,sans-serif;font-size:24px;line-height:24px;margin: 2px 10px;">Sales Summary</h5>
            
            @if (User.HasPermission(UserAccess.Admin))
            {

                <div class="col-sm-2">
                    @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                </div>
            }
            <div class="pull-left">
         
                <button title="Today" id="Today" ng-click="filter('TODAY')" class="btn btn-style-report">Today</button>
                <button title="Week" id="Week" ng-click="filter('Week')" class="btn btn-style-report">Week</button>
                <button title="Month" id="Month" ng-click="filter('Month')" class="btn btn-style-report" >Month</button>
            </div>
            

                <div class='col-sm-2' style="width: 170px;">

                    <div class=''>

                        <div class="input-group">
                            <input type="text" class="form-control h-30" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1 h-30" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2' style="width: 170px;">
                    <div class=''>
                        <div class="input-group">
                            <input type="text" class="form-control h-30" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1 h-30" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                @*<div class="pull-left">
                    <button title="Search" class="btn btn-style-report h-30" ng-click="SummarysalesReport()">Search</button>
                </div>*@
                        
                @*<div class="pull-right" ng-show="data.length>0">
                    <a id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></a>
                    <button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>*@
                @*<div class="pull-right">
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>*@
                @*<div><span class="reportHeader"><b>SALES SUMMARY LIST</b></span></div>*@
            </div>
    
        <div class="panel-body">
            <div class="col-sm-2">
                <div class=''>
                    <div>
                        <select id="InvoiceType" name="InvoiceType" title="Invoice Type" placeholder="Select anyone" ng-change="ChangeInvoiceSeriesDropdown(InvoiceSeriesType)" ng-model="InvoiceSeriesType" class="form-control" ng-enter="SummarysalesReport()" required>
                            <option>Select Invoice Type</option>
                            <option value="">All</option>
                            <option value="1">Default</option>
                            <option value="2">Custom</option>
                            <option value="3">Manual</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class="">
                    <div>
                        <select ng-model="search.select1" class="form-control" ng-enter="SummarysalesReport()" ng-disabled="InvoiceSeriesType!=2">
                            <option>Select Series Type</option>
                            <option value="">All</option>
                            <option ng-repeat="item in InvoiceSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class="input-group">
                    <div>
                        <input title="From Invoice No" type="text" placeholder="From Invoice No" id="fromInvoice" name="fromInvoice" valid-number class="form-control" maxlength="10" 
                               ng-model="fromInvoice" ng-enter="SummarysalesReport()" />
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class="input-group">
                    <div>
                        <input title="To Invoice No" type="text" id="toInvoice" placeholder="To Invoice No" name="toInvoice" valid-number class="form-control" maxlength="10" 
                               ng-model="toInvoice" ng-enter="SummarysalesReport()" />
                    </div>
                </div>
            </div>
            <div class='col-sm-2' ng-hide="true">
                <div class="input-group">
                    <div>
                        <select id="PaymentType" name="PaymentType" title="Payment Type" placeholder="Select anyone" ng-model="paymentType"
                                class="form-control" ng-enter="SummarysalesReport()" required>
                            <option value="" selected ng-disabled="paymentType==undefined || paymentType==''">Select Payment Type</option>
                            <option value="5">All</option>
                            <option value="1">Cash</option>
                            <option value="2">Card</option>
                            <option value="3">Cheque</option>
                            <option value="4">Credit</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <button title="Search" class="btn btn-style-report" ng-click="salesReport()">Search</button>
                <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
            </div>
            <div class="pull-right">
                <button ng-hide="dateRangeExceeds" type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data" csv-header="['Branch', 'Date', 'No. of Bills', 'Cash', 'Card', 'Cheque', 'Outstanding','eWallet', 'Cost Price', 'Sale Value','Cost Price (Return)','Return Value','Net Value','Sale Profit','Sale Profit %']"
                        csv-column-order="order"
                        filename="{{fileName}}.csv" onclick="setfileName()">

                    <img src="~/assets/images/csv.png" />

                </button>
                <button ng-hide="dateRangeExceeds" ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
 
        <div class="panel panel-default override_margin single-report" ng-hide="data.length == 0">
            <div class="panel-body">
                @*<div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pagination class="grid"></div>*@

                <script type="x/kendo-template" id="page-template">
                    <div class="page-template">
                        <div class="header">
                            <label id="instanceName"> Company Name </label>
                        </div>
                        <div class="footer">
                            <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                        </div>
                    </div>
                </script>
                <div class="report-tables report-table-height">
                    <div id="grid"></div>
                </div>

            @*<button id="export" class="k-button"><span class="k-icon k-i-excel"></span>Export to Excel</button>*@
        </div>
        <div ng-show="data.length > 0" class="row">
            <div class="col-lg-4 text-right" style="padding-right: 0px;">
                <span><b>Note: </b></span>
            </div>
            <div class="col-lg-6 text-left">
                <span>Download on Excel available only for data less than 2 months</span>
            </div>
        </div>
    </div>


    @*<div class="panel panel-default override_margin">
            <div class="panel-body">

                <script type="x/kendo-template" id="page-template">
                    <div class="page-template">
                        <div class="header">
                            <label id="instanceName"> Company Name </label>
                        </div>
                        <div class="footer">
                            <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                        </div>
                    </div>
                </script>
                <div id="gridR"></div>
                <br /><br />
            </div>
        </div>*@

    
    @*<div class="container-fluid">
            <div class="row">

                <div class="col-lg-4 text-right" style="padding-right: 0px;">

                </div>
                <div class="col-lg-7 text-right">
                    <label>Net Amount</label> <span>=</span>
                    <span style="padding-left: 10px; padding-right: 10px;">Total Sales Profit - Total Returns Profit</span>
                    <span style="padding-left: 10px;">
                        <span>=</span>
                        <span style="padding-left: 10px;" ng-bind-template="{{(SalesProfit - SalesReturnProfit) | number:2}}"></span>
                    </span>



                </div>
            </div>
        </div>*@

</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>


    @*
        <script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*
        <script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@
    @*<script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
        <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
        <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>*@
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
    @*<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>

<script asp-append-version="true" src="~/appScript/Reports/sales/salesReportAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

    <script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesSummaryctrl.js"></script>

<link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
<link asp-append-version="true" href="~/assets/plugins/kendo/kendo.material.min.css" rel="stylesheet" />
@*<script asp-append-version="true" src="~/AppScript/common/showConfirmMsgCtrl.js"></script>
<script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
<link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />*@





    <script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


    </script>



}


