﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

@{
    ViewBag.Title = "Journal Report Tally";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

@*<link asp-append-version="true" rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />*@

<div ng-app="hcue" ng-controller="journalReportTallyCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 override_margin">
                    <select id="paymentType" name="paymentType" placeholder="Select Type" ng-model="typeFilter" ng-change="ChangeFilter(typeFilter)" class="form-control">
                        <option value="CustomerReceipts">Customer Receipts</option>
                        <option value="VendorPayment">Vendor Payment</option>
                    </select>

                </div>
                @if (User.HasPermission(UserAccess.Admin))
            {
                    <div class="col-sm-2  override_margin">
                        @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                    </div>
                 }
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group">
                            @*<span class="">
                        <input type="text" class="form-control" placeholder="Enter Month" style="width:60px;" ng-model="stockMonth" valid-number />
                    </span>*@
                            <span class="">
                                <button title="Search" class="btn btn-small btn-style" type="button" ng-click="journalReport()">
                                    Search
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="center-div">
                    <span class="reportHeader"><b>Journal Report</b></span>
                    <span class="pull-right mb-5">
                        <button class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                        <button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default override_margin">
    <div class="panel-body">


        <script type="x/kendo-template" id="page-template">
            <div class="page-template">
                <div class="header">
                    <label id="instanceName"> Company Name </label>
                </div>
                <div class="footer">
                    <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                </div>
            </div>
        </script>
        <div class="report-tables">
            <div id="grid"></div>
        </div>
        <div ng-show="data.length > 0" class="row">
            <div class="col-lg-4 text-right" style="padding-right: 0px;">
                <span><b>Note: </b></span>
            </div>
            <div class="col-lg-6 text-left">
                <span>Download on Excel available only for data less than 2 months</span>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>



    <script asp-append-version="true" src="~/appscript/reports/gstReport/gstreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/tallyReport/tallyreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/tallyReport/journalReportTallyCtrl.js"></script>

    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>*@
    <script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Elixir Softlab Solutions");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });
    </script>

}
