﻿<script type="text/ng-template" id="hCueSupportLoginTemplate">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <div id="hCueSupportLogin" class="popup-wrap reminder-popup alternate" style="border-color:#3DB29F;" modal="shouldBeOpen">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3 style="background-color:#28465a;">hCue Support Login</h3>
                    <ng-form id="hCueSupportLoginForm" name="hCueSupportLoginForm">
                        <div class="row popup-row form-data">
                            <div class="panel panel-default" style="margin-bottom:0px;">
                                <div class="panel-body p-12">
                                    <div class="form-group">
                                        <div class="user-ctrl">
                                            <input title="Email Id" ng-model="email" type="text" class="form-control ctrl" email required placeholder="Email ID" autofocus>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="pswd-ctrl">
                                            <input title="Password" placeholder="Password" ng-model="password" id="login-password" type="password" class="form-control ctrl" name="password" required>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <div class="list list-inset">
                                            <span class="list list-inset error-msg ng-binding ng-hide"></span>
                                        </div>
                                        <center><i class="ion-loading-c" ng-show="showloading" style="font-size:40px"></i></center>
                                        <input title="Login" ng-click="submit()" type="submit" id="btn-login" class="btn btn-primary pull-right" value="Login" style="background-color: #00c853;max-width:120px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>
<style>
    #hCueSupportLogin {
        max-width: 400px !important;
    }

    .p-12 {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 15px;
        padding-bottom: 0px;
    }
</style>