@model HQue.Contract.Infrastructure.Setup.Instance
@{
    ViewBag.Title = "Register Branch";
    ViewBag.Menu = "Pharmacy";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/InstanceSetup/Menu.cshtml")

@if (ViewBag.InstanceCount > 0)
{
    <div class="row panelBorder" ng-app="hcue" ng-controller="instanceSetupCreateCtrl" ng-cloak>
        <!-- Account Create Section - start -->
        <ng-form id="instanceUser" name="instanceUser">
            <div class="panel panel-default">

                @*<div class="panel-heading">Branch Information</div>*@
                <div class="panel-body" ng-if="instanceCount!=0">
                    <div class='row'>
                        <div class='col-sm-2 '>
                            <div class='form-group'>
                                <div class="input-group  col-sm-12">
                                    <label>Branch Name*</label>
                                    @*<span class="input-group-addon front-addon">
                                        <img src="~/assets/images/branch.png" />
                                    </span>*@
                                    <input title="Branch Name" id="branchName" name="branchName" type="text" placeholder="Branch Name" class="search-query form-control" maxlength="150" required ng-model="instance.name" autofocus>
                                </div>
                                <span class="error" ng-show="instanceUser.branchName.$dirty && instanceUser.branchName.$error.required">
                                    Required!
                                </span>
                            </div>
                        </div>

                        <div class='col-sm-2 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 override_margin">
                                    <label>Registration Date*</label>
                                    <input type="text" id="registrationDate" name="registrationDate" required class="form-control" uib-datepicker-popup="{{format}}" placeholder="Registration Date" ng-model="instance.registrationDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                    <span class="input-group-btn wrapper-date">
                                        <button type="button" class="btn btn-default btn1 size" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                                <span class="error" ng-show="instanceUser.registrationDate.$dirty && instanceUser.registrationDate.$error.required">
                                    Required!
                                </span>
                            </div>
                        </div>

                        <div class='col-sm-2'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    <label>Mobile*</label>
                                    @*<span class="input-group-addon front-addon">
                                        <span class="glyphicon glyphicon-phone"></span>
                                    </span>*@
                                    <input title="Mobile Number" id="phone" name="phone" type="text" placeholder="Mobile" maxlength="15" class="search-query form-control" required ng-model="instance.phone" valid-number>
                                </div>
                                <span class="error" ng-show="instanceUser.phone.$dirty && instanceUser.phone.$error.required">
                                    Required!
                                </span>
                            </div>
                        </div>

                        <div class='col-sm-2'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    <label>Drug License No.</label>
                                    @*<span class="input-group-addon front-addon">
                                        <img src="~/assets/images/number.png" />
                                    </span>*@
                                    <input title="Drug License No" id="DrugLicenseNo" name="DrugLicenseNo" type="text" placeholder="Drug License No" class="search-query form-control" ng-model="instance.drugLicenseNo">
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-2'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    <label>TIN No.</label>
                                    @*<span class="input-group-addon front-addon">
                        <img src="~/assets/images/number.png" />
                    </span>*@
                                    <input title="Tin No" id="TinNo" name="TinNo" type="text" placeholder="Tin No" class="search-query form-control" ng-model="instance.tinNo">
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-2'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    @*<span class="input-group-addon front-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>*@
                                    <label>Contact Name</label>
                                    <input title="Contact Name" id="ContactName" name="ContactName" type="text" placeholder="Contact Name" class="search-query form-control" ng-model="instance.contactName">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class='col-sm-2'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    @*<span class="input-group-addon front-addon">
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                    </span>*@
                                    <label>Address</label>
                                    <input title="Address" id="address" name="address" placeholder="Address" class="form-control" ng-model="instance.address" />
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-2'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    @*<span class="input-group-addon front-addon">
                                        <span class="glyphicon glyphicon-map-marker"></span>
                                    </span>*@
                                    <label>Area</label>
                                    <input title="Area" id="Area" name="Area" type="text" placeholder="Area" class="search-query form-control" ng-model="instance.area">
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-2'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    @*<span class="input-group-addon front-addon">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </span>*@
                                    <label>Landmark</label>
                                    <input title="Landmark" id="Landmark" name="Landmark" type="text" placeholder="Landmark" class="search-query form-control" ng-model="instance.Landmark">
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-2'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    @*<span class="input-group-addon front-addon">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </span>*@
                                    <label>City</label>
                                    <input title="City" id="City" name="City" type="text" placeholder="City" class="search-query form-control" ng-model="instance.city">
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-2'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    @*<span class="input-group-addon front-addon">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </span>*@
                                    <label>State</label>
                                    <input title="State" id="State" name="State" type="text" placeholder="State" class="search-query form-control" ng-model="instance.state">
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-2'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    @*<span class="input-group-addon front-addon">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </span>*@
                                    <label>Pin Code</label>
                                    <input title="Pincode" id="Pincode" name="Pincode" type="text" placeholder="Pincode" class="search-query form-control" ng-model="instance.pincode">
                                </div>
                            </div>
                        </div>
                    </div>

                   

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Branch User Information</div>
                <div class="panel-body">
                    <div class='row'>
                        <div class='col-sm-4'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    @*<span class="input-group-addon front-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>*@
                                    <input title="User Name" type="text" id="userName" name="userName" placeholder="Name" class="search-query form-control" ng-model="user.name">
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    @*<span class="input-group-addon front-addon">
                                        <span class="glyphicon glyphicon-phone"></span>
                                    </span>*@
                                    <input type="text" id="mobile" name="mobile" title="Mobile Number" maxlength="15" class="search-query form-control" placeholder="Mobile" ng-model="user.mobile" valid-number>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12">
                                    @*<span class="input-group-addon front-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>*@
                                    <input title="Email Id" type="text" id="email" name="email" placeholder="Email" class="search-query form-control" ng-model="user.userId">
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-1 pull-left'>
                            <div class='form-group'>
                                <button title="Add" class="btn btn-small btn-style form-control" ng-click="addUser()">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th><span class="glyphicon glyphicon-minus-sign"></span></th>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody style="background-color:#ffffff">
                                <tr ng-repeat="user in instance.userList">
                                    <td>
                                        <span style="cursor: pointer" title="Delete" class="glyphicon glyphicon-minus-sign" ng-click="removeUser(user)"></span>
                                    </td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.mobile}}</td>
                                    <td>{{user.userId}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button title="Create" class="btn btn-style" ng-disabled="instanceUser.$invalid" ng-click="instanceCreate()">Create</button>
                </div>
            </div>
        </ng-form>
    </div>

}
else {
    <!-- Account Create Section - End -->

    <div class="row marginLR-zero">
        <p>You have reached the limit of your licence, contact hcue admin for further information.</p>
    </div>
}
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscriptdatepicker.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/instancesetup/instancesetupservice.js"></script>
    <script asp-append-version="true" src="~/appscript/instancesetup/instancesetupcreatectrl.js"></script>

    <style>
        .size{
                margin-bottom: -22px !important;
        }
    </style>
}
