@{
    ViewBag.Title = "Pharmacy List";
}

@await Html.PartialAsync("~/Views/InstanceSetup/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="instanceSetupSearchCtrl" ng-cloak>
    <div class="panel panel-default">
        @*<div class="panel-heading">Branch Search</div>*@
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <div class="input-group">
                            <label>Branch Name</label>
                            <input title="Pharmacy Name" type="text" placeholder="Branch Name" class="search-query form-control" ng-enter="pharmacySearch()" ng-model="search.name" autofocus>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <div class="input-group">
                            <label>Mobile No.</label>
                            @*<input title="Phone Number" type="text" placeholder="Phone" class="search-query form-control" ng-enter="pharmacySearch()" ng-model="search.phone">*@
                            <input title="Mobile Number" type="text" placeholder="Mobile" class="search-query form-control" ng-enter="pharmacySearch()" ng-model="search.mobile">
                        </div>
                    </div>
                </div>

                <div class='col-sm-1'>
                    <div class='form-group'>
                        <div class="input-group">
                            <label class='col-md-12'>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <button title="Search" class="btn btn-style" ng-click="pharmacySearch()">Search</button>

                        </div>
                    </div>
                </div>
                <div class='col-sm-2 pull-right'>
                    <div class='form-group'>
                        <div class="input-group">
                            <label class='col-md-12'>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <strong>No. of Licenses: @ViewBag.TotalInstanceCount</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @*<div class="panel-footer clearfix">
                <div class="pull-left" ng-if="list.length == 0">
                    No Records found
                </div>

            </div>*@
    </div>
    @if (ViewBag.InstanceCount > 0)
    {
        @if (!ViewBag.Config.AppConfig.OfflineMode)
        {
            <a ng-href="/Registration/Branch" onclick="window.open(this.href); return false;" class="btn  btn-style text-center" title="Buy">Add New Branch</a>
            <br />
            <br />
        }
    }
    else
    {
        <div class="row marginLR-zero">
            <p>You have reached the limit of your licence, contact hcue admin for further information.</p>
        </div>
    }
    <div class="panel panel-default">
        @*<div class="panel-heading">Sales List</div>*@
        <div class="panel-body">
            <div class='row  marginLR-zero'>
                @*{{list}}*@
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Branch Code</th>
                            <th>Branch Name</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>GSTIN No</th>
                            <th>Registered Date</th>
                            @*<th>Action</th>*@

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pharmacy in list | orderBy: 'code' track by $index">
                            @if (!ViewBag.Config.AppConfig.OfflineMode)
                            {
                                <td>
                                    <span>
                                        @*<a ng-href="/InstanceSetup/update?id={{pharmacy.id}}" class="btn  btn-style text-center" title="Buy">Edit</a>*@
                                        <a ng-href="/Registration/Branch?InstanceId={{pharmacy.id}}" onclick="window.open(this.href); return false;" class="btn  btn-style text-center" title="Buy">Edit</a>
                                    </span>
                                </td>
                            }
                            @if (ViewBag.Config.AppConfig.OfflineMode)
                            {
                                <td>
                                    <span>
                                        <a ng-click="openBranchForUpdate(pharmacy.id)" class="btn btn-style text-center" title="Buy">Edit</a>
                                    </span>
                                </td>
                            }
                            <td>{{pharmacy.code}}</td>
                            <td>{{pharmacy.name}} <span style="color:#039394;font-weight:bold;" ng-if="pharmacy.isHeadOffice==1"> (Head office)</span></td>
                            <td>{{pharmacy.mobile}}</td>
                            <td>{{pharmacy.fullAddress}}</td>
                            <td>{{pharmacy.gsTinNo}}</td>
                            <td>{{pharmacy.registrationDate | date:'dd/MM/yyyy' }}</td>
                            @*<td>View</td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_hCueSupportLogin.cshtml");
    }
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    <script asp-append-version="true" src="~/appscript/appScriptVendor.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/instancesetup/instancesetupservice.js"></script>
    <script asp-append-version="true" src="~/appscript/instancesetup/instancesetupsearchctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/instancesetup/hCueSupportLoginCtrl.js"></script>
}