﻿<ul class="nav nav-tabs override_margin">
    @*<li class="@(ViewBag.Menu == "Pharmacy" ? "active" : "")">
        <a asp-action="Index" asp-controller="InstanceSetup">
            BRANCH
        </a>
    </li>*@
    <li class="@(ViewBag.Title == "Pharmacy List" ? "active" : "")">
        <a asp-action="List" asp-controller="InstanceSetup">
            LIST
        </a>
    </li>
</ul>