@using Utilities.Helpers
@using Newtonsoft.Json
@model HQue.Contract.Infrastructure.Inventory.ReturnInvoice
@{
    ViewBag.Title = "Invoice";
    Layout = null;
    decimal? price = 0.00M;
    decimal? netamount = 0.00M;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Invoice</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css" media="all" title="no title" charset="utf-8" />

    <style>
        body {
            font-size: 12px;
        }

        .invoice-container {
            border: 1px solid #333333;
            max-width: 700px;
            min-width: 700px;
        }

        .invoice-header {
            min-height: 80px;
            padding-right: 0;
            padding-left: 0;
            border-bottom: 1px solid #333333;
        }

            .invoice-header h4 {
                margin: 10px 0px 5px 0px;
            }

        .invoice-details {
            min-height: 80px;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0px;
            border-bottom: 1px solid #333333;
        }

        .table-contanier {
            min-height: 245px;
            padding-right: 0px !important;
            padding-left: 0px !important;
            border-bottom: 0px solid #333333;
        }

        table {
            min-height: 245px;
            margin-bottom: 0px !important;
        }

        th {
            text-align: center;
        }

        th, td {
            font-size: 11px;
            text-transform: capitalize;
            padding: 0px !important;
            vertical-align: middle;
            line-height: 25px !important;
            border: 0px none !important;
            text-align: center;
        }

        .details-1 {
            display: block;
            float: left;
            width: 83px;
        }

        .details-2 {
            display: inline-block;
            width: 43px;
        }

        .list-group {
            margin-bottom: 0px;
            font-size: 12px;
        }

        .list-group-item {
            background-color: transparent;
            border: 0;
            padding: 0 0 8px 0;
        }

            .list-group-item:first-child {
                padding: 4px 5px 4px 0;
            }

        .sep {
            display: block;
            float: left;
            width: 4px;
            padding: 0 12px 5px 2px;
        }

        .wrap-text {
            display: block;
            float: left;
            width: 300px;
            word-wrap: break-word;
            padding-bottom: 5px;
        }

        .address-wrap-text {
            display: block;
            float: left;
            width: 435px;
            word-wrap: break-word;
            padding-bottom: 5px;
            margin-bottom: 0px;
        }

        .tleft {
            text-align: left;
        }

        .tright {
            text-align: right;
        }

        .bfont {
            font-weight: bold;
        }

        .medicine-table tr {
            height: 20px !important;
        }

            .medicine-table tr:last-child {
                height: auto !important;
            }

        .invoice-header p {
            margin: 0 0 4px;
        }
    </style>
</head>



<body style="background-color:#e8e8e8">

    <script>
        var json = @Html.Raw(Json.Serialize(Model));
        console.log(JSON.stringify(json));
    </script>



    <div class="container invoice-container">
        <div class="row">
            <div ng-init="init('@ViewBag.Id')"></div>
            <div class="col-sm-12 invoice-header" style="width: 100%">

                <div class="col-sm-12 text-center">
                    <h4>@Model.returnInvoiceList.First().instanceInvoice.Name.ToUpper()</h4>
                    <p>
                        @Model.returnInvoiceList.First().instanceInvoice.Address
                    </p>
                    <p>
                        PH: @Model.returnInvoiceList.First().instanceInvoice.Phone
                    </p>
                    <p>
                        <span>DL No.</span> : <span>@Model.returnInvoiceList.First().instanceInvoice.DrugLicenseNo</span> &nbsp;&nbsp; <span>TIN</span> : <span>@Model.returnInvoiceList.First().instanceInvoice.TinNo</span> &nbsp;&nbsp; <span class="details-2">CST</span> : <span></span>
                    </p>
                </div>
                <div class="col-sm-4">
                    <ul class="list-group"></ul>
                </div>
            </div>
            <div class="col-lg-12 pull-left invoice-details">

                <div class="col-lg-12 text-center">
                    <h5>Return Invoice</h5>
                </div>
                <div class="col-lg-8 pull-left">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="col-md-12 pull-left">
                                <span class="details-1">Doctor Name</span><span class="sep">:</span><span class="wrap-text">@(Model.returnInvoiceList.First().salesInvoice.DoctorName != "null" ? Model.returnInvoiceList.First().salesInvoice.DoctorName : "")</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 pull-left">
                                <span class="details-1">Patient Name</span><span class="sep">:</span><span class="wrap-text">@Model.returnInvoiceList.First().salesInvoice.Name.ToUpper()</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 pull-left">
                                <span class="details-1">Address</span>
                                <span class="sep">:</span>
                                <span class="wrap-text">

                                    @if (Model.patientDetails.Address != "null")
                                    {

                                        @Model.patientDetails.Address;
                                    }




                                    @*<span>
                                        ,
                                        @if (Model.returnInvoiceList.First().salesInvoice.Pincode != "null")
                                        {

                                            @Model.returnInvoiceList.First().salesInvoice.Pincode;
                                        }



                                    </span>*@
                                </span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 pull-left">
                                <span class="details-1">City</span><span class="sep">:</span><span class="wrap-text">@Model.patientDetails.City</span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-md-12 pull-left">
                                <span class="details-1">Pincode</span><span class="sep">:</span><span class="wrap-text">@Model.patientDetails.Pincode</span>
                            </div>
                        </li>
                      
                    </ul>
                </div>
                <div class="col-lg-4 pull-left">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="details-2" style="float:left;width:30%;">Return No</span> : <span>@Model.returnInvoiceList.First().salesReturnInvoice.ReturnNo</span>
                        </li>
                        <li class="list-group-item">
                            <span class="details-2" style="float:left;width:37%;">Return Date</span> : @*<span>@String.Format("{0:dd/MM/yyyy}", Model.returnInvoiceList.First().salesReturnInvoice.ReturnDate)</span>*@
                            <span>@Model.returnInvoiceList.First().salesReturnInvoice.ReturnDate.Value.ToString("dd/MM/yyyy hh:mm tt")</span>
                        </li>
                        <li class="list-group-item">
                            <span class="details-2">Bill No.</span> : <span>@Model.returnInvoiceList.First().salesInvoice.InvoiceSeries@Model.returnInvoiceList.First().salesInvoice.InvoiceNo</span>
                        </li>
                        <li class="list-group-item">
                            @*<span class="details-2">B Date</span> : <span>@String.Format("{0:dd/MM/yyyy}", Model.returnInvoiceList.First().salesInvoice.InvoiceDate)</span>*@

                            <span class="details-2">B Date</span> : <span>@Model.returnInvoiceList.First().salesInvoice.InvoiceDate.Value.ToString("dd/MM/yyyy") @Model.returnInvoiceList.First().salesInvoice.CreatedAt.Value.ToString("hh:mm tt")</span>
                        </li>
                        <li class="list-group-item">
                            <span class="details-2">B Type</span> : <span>@Model.returnInvoiceList.First().salesInvoice.PaymentType</span>
                        </li>
                        @*Added Gavaskar 13-02-2017 Start*@
                       
                        <li class="list-group-item">
                            <span class="details-2">ID No.</span> : <span>@Model.patientDetails.EmpId</span>
                        </li>
                        @*Added Gavaskar 13-02-2017 End*@

                    </ul>
                </div>
            </div>




            <div class="col-lg-12 pull-left table-contanier" style="width: 100%">
                <table class="table table-bordered table-responsive medicine-table">
                    <thead>
                        <tr>
                            <th width="245px">Particulars</th>
                            <th width="75px">MFR</th>
                            <th width="86px">Batch</th>
                            <th width="94px">Exp. Dates</th>
                            <th width="37px">Qty</th>
                            <th width="68px">Price</th>

                            <th width="75px">Amount</th>
                        </tr>
                    </thead>

                    <tbody>


                        @foreach (var item in Model.returnInvoiceList)
                        {

                            @if (!(item.salesReturnItemInvoice.MrpSellingPrice > 0) || !(item.salesInvoice.Discount > 0))

                            {
                                price = item.salesReturnItemInvoice.MrpSellingPrice > 0 ? item.salesReturnItemInvoice.MrpSellingPrice * item.salesReturnItemInvoice.Quantity : (item.productStockInvoice.SellingPrice * item.salesReturnItemInvoice.Quantity);
                            }

                            @if (item.salesReturnItemInvoice.MrpSellingPrice > 0 && item.salesInvoice.Discount > 0)
                            {
                                price = item.salesReturnItemInvoice.MrpSellingPrice * item.salesReturnItemInvoice.Quantity;
                            }

                            <tr>
                                <td class="tleft">@item.productInvoice.Name.ToUpper()</td>
                                <td>@item.productInvoice.Manufacturer.Split(' ')[0]</td>
                                <td>@item.productStockInvoice.BatchNo</td>
                                <td>@item.productStockInvoice.ExpireDate.ToFormatExp()</td>
                                <td>@String.Format("{0:0}", item.salesReturnItemInvoice.Quantity)</td>

                                @if (item.salesReturnItemInvoice.MrpSellingPrice > 0)
                                {
                                    <td style="text-align:right;padding-right:22px !important;">
                                        @String.Format("{0:0.00}", item.salesReturnItemInvoice.MrpSellingPrice)
                                    </td>
                                }

                                @if (!(item.salesReturnItemInvoice.MrpSellingPrice > 0))
                                {
                                    <td style="text-align:right;padding-right:22px !important;">
                                        @String.Format("{0:0.00}", item.productStockInvoice.SellingPrice)
                                    </td>
                                }
                                <td style="text-align:right;padding-right:18px !important;">@String.Format("{0:0.00}", price.GetValueOrDefault())</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="bfont">
                            <td class="tleft" colspan="1">Total: @String.Format("{0:0.00}", Model.total)</td>
                            <td colspan="2">Discount (Rs): @String.Format("{0:0.00}", Model.discount)</td>
                            <td colspan="2">RoundOff(Rs): @String.Format("{0:0.00}", Model.roundOff)</td>
                            <td class="" colspan="2">Net Amount:<span style="margin-left:5px;">@String.Format("{0:0.00}", Model.netAmount)</span></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-lg-12 pull-left">
                <p style="font-size:10px;text-align:left">Powered by hCue</p>
            </div>
        </div>
    </div>
</body>
</html>
