@using Utilities.Helpers
@model HQue.WebCore.ViewModel.InvoiceVM
@{
    ViewBag.Title = "Invoice";
    Layout = null;

    decimal? totalAmount = 0;
    decimal? totReturnDiscount = 0;
    decimal? returnTotalAmount = 0;
    decimal? _CSGSTTotalValue = 0;
    decimal? rtnGSTTotalValue = 0; 
    decimal? itemGSTTotalValue = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Invoice</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css" media="all" title="no title" charset="utf-8" />
    <style>
        body {
            font-size: 12px;
        }

        .invoice-container {
            border: 1px solid #333333;
            max-width: 700px;
            min-width: 700px;
        }

        .invoice-header {
            min-height: 80px;
            padding-right: 0;
            padding-left: 0;
            border-bottom: 1px solid #333333;
        }

            .invoice-header h4 {
                margin: 10px 0px 5px 0px;
            }

        .invoice-details {
            min-height: 80px;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0px;
            border-bottom: 1px solid #333333;
        }

        .table-contanier {
            min-height: 245px;
            padding-right: 0px !important;
            padding-left: 0px !important;
            border-bottom: 0px solid #333333;
        }

        table {
            min-height: 245px;
            margin-bottom: 0px !important;
        }

        th {
            text-align: center;
            /*background-color: #333333;*/
        }

        th, td {
            font-size: 11px;
            text-transform: capitalize;
            padding: 0px !important;
            vertical-align: middle;
            line-height: 25px !important;
            border: 0px none !important;
            text-align: center;
        }

        .details-1 {
            display: block;
            float: left;
            width: 83px;
        }

        .details-2 {
            display: inline-block;
            width: 43px;
        }

        .list-group {
            margin-bottom: 0px;
            font-size: 12px;
        }

        .list-group-item {
            background-color: transparent;
            border: 0;
            padding: 0 0 8px 0;
        }

            .list-group-item:first-child {
                /*padding-top: 8px;*/
                padding: 4px 5px 4px 0;
            }

        .sep {
            display: block;
            float: left;
            width: 4px;
            padding: 0 12px 5px 2px;
        }

        .wrap-text {
            display: block;
            float: left;
            width: 300px;
            word-wrap: break-word;
            padding-bottom: 5px;
        }

        .address-wrap-text {
            display: block;
            float: left;
            width: 435px;
            word-wrap: break-word;
            padding-bottom: 5px;
            margin-bottom: 0px;
        }

        .tleft {
            text-align: left;
        }

        .tright {
            text-align: right;
        }

        .bfont {
            font-weight: bold;
        }

        .medicine-table tr {
            height: 20px !important;
        }

            .medicine-table tr:last-child {
                height: auto !important;
            }

        .invoice-header p {
            margin: 0 0 4px;
        }
    </style>
</head>

<body style="background-color:#e8e8e8">
    @if (Model.Sales != null)
    {
        <div class="container invoice-container">
            <div class="row">
                <div ng-init="init('@ViewBag.Id')"></div>
                <div class="col-sm-12 invoice-header" style="width: 100%">

                    <div class="col-sm-12 text-center">
                        @if (User.InstanceId() == "ce834029-e550-4615-9147-f8dcd654ee5e")
                        {
                            <img style="width:400px;height:80px;margin-top:2px;" src="~/assets/images/ZedPharmacyLogo.jpg" />
                        }
                        else
                        {
                            <h4>@Model.Sales.Instance.Name</h4>
                        }
                        <p>
                            @Model.Sales.Instance.FullAddress
                        </p>
                        <p>
                            PH: @Model.Sales.Instance.Phone
                        </p>
                        <p>
                            <span>DL No.</span> : <span>@Model.Sales.Instance.DrugLicenseNo</span> &nbsp;&nbsp; 
                            @if (Model.Sales.TaxRefNo == 1) {
                                <span>GSTIN</span>
                            }
                            else { 
                                <span> TIN </span> 
                            } : 
                            @if (Model.Sales.TaxRefNo == 1) {
                                <span>@Model.Sales.Instance.GsTinNo</span>
                            }
                            else {
                                < span > @Model.Sales.Instance.TinNo </ span >
                            }
                            @*&nbsp;&nbsp; <span class="details-2">CST</span> : <span></span>*@
                        </p>
                        @if (Model.Sales.Instance.Gstselect == true)
                        {
                            <p>Bill of Supply</p>
                        }
                    </div>
                    <div class="col-sm-4">
                        <ul class="list-group"></ul>
                    </div>
                </div>
                <div class="col-lg-12 pull-left invoice-details" style="width: 100%">
                    <div class="col-lg-8 pull-left">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="col-md-12 pull-left">
                                    <span class="details-1">Doctor Name</span><span class="sep">:</span><span class="wrap-text">@(Model.Sales.DoctorName != "null" ? Model.Sales.DoctorName.ToUpper() : "")</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-md-12 pull-left">
                                    <span class="details-1">Patient Name</span><span class="sep">:</span><span class="wrap-text">@Model.Sales.Name.ToUpper()</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-md-12 pull-left">
                                    <span class="details-1">Address</span><span class="sep">:</span><span class="wrap-text">@Model.Sales.Address<span ng-hide="{{Model.sales.Pincode}}">, @Model.Sales.Pincode</span></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-md-12 pull-left">
                                    <span class="details-1">City</span><span class="sep">:</span><span class="wrap-text">@Model.Sales.Patient.City</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-md-12 pull-left">
                                    <span class="details-1">Pincode</span><span class="sep">:</span><span class="wrap-text">@Model.Sales.Patient.Pincode</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 pull-left">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="details-2">Bill No.</span> :<span><span>@Model.Sales.InvoiceSeries</span>@Model.Sales.InvoiceNo</span>
                            </li>
                            <li class="list-group-item">
                                @*<span class="details-2">B Date</span> : <span>@String.Format("{0:dd/MM/yyyy}", Model.Sales.InvoiceDate)</span>*@
                                <span class="details-2">B Date</span> : <span>@Model.Sales.InvoiceDate.Value.ToString("dd/MM/yyyy")</span>
                            </li>
                            <li class="list-group-item">
                                <span class="details-2">Time</span> : <span>@Model.Sales.SalesCreatedAt.Value.ToString("hh:mm tt")</span>
                            </li>
                            <li class="list-group-item">
                                <span class="details-2">B Type</span> : <span>@Model.Sales.PaymentType</span>
                            </li>
                            <li class="list-group-item">
                                <span class="details-2">ID No.</span> : <span>
                                    @if (Model.Sales.Patient != null && Model.Sales.Patient.EmpID != null)
                                    {
                                        @Model.Sales.Patient.EmpID
                                    }
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-12 pull-left table-contanier" style="width: 100%">    
                    @if (Model.Sales.InvoiceItems.Count() > 0)
                    {
                    <table class="table table-bordered table-responsive medicine-table">
                        <thead>
                            <tr>
                                <th width="245px">Particulars</th>
                                <th width="75px">MFR</th>
                                <th width="86px">Batch</th>
                                <th width="94px">Exp. Dates</th>
                                <th width="37px">Qty</th>
                                <th width="68px">Price</th>                                
                                @if (Model.Sales.TaxRefNo == 1 && Model.Sales.Instance.Gstselect == false)
                                {
                                    <th width="56px">GST</th>
                                }
                                else if ( Model.Sales.Instance.Gstselect == false)
                                {
                                    <th width="56px">VAT</th>
                                }
                                else
                                {
                                    <th></th>
                                }
                                <th width="75px">Amount</th>
                            </tr>
                        </thead>
                        <tbody>    
                            
                            @foreach (var items in Model.Sales.InvoiceItems)
                            {
                                if (items.Quantity <= 0)
                                {
                                    break;
                                }
                                <tr>
                                    <td class="tleft">@items.ProductStock.Product.Name.ToUpper()</td>
                                    <td>@items.ProductStock.Product.Manufacturer.Split(' ')[0]</td>
                                    <td>@items.ProductStock.BatchNo</td>
                                   
                                    <td>@items.ProductStock.ExpireDate.ToFormatExp()</td>
                                    <td>@String.Format("{0:0}", items.Quantity)</td>

                                    @if (items.SellingPrice > 0)
                                    {
                                        decimal? vatPrice = 0;

                                        decimal? getGstPercent = items.GstTotal + 100;
                                        decimal? SalesItemDiscount = ((items.Discount / 100) * items.Total);

                                        if (Model.Sales.TaxRefNo == 1)
                                        {
                                            vatPrice = ((items.SellingPrice * 100) / (getGstPercent));
                                        }
                                        else
                                        {
                                            vatPrice = ((items.SellingPrice * 100) / (items.ProductStock.VAT + 100));
                                        }
                                        <td>                                           
                                            @String.Format("{0:0.00}", items.SellingPrice) @*//vatPrice*@
                                        </td>
                                        if (Model.Sales.TaxRefNo == 1 && Model.Sales.Instance.Gstselect == false)
                                        {
                                            <td>@String.Format("{0:0.00}", items.SellingPrice - vatPrice) </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        var ActualValue = (items.Total - SalesItemDiscount);
                                        itemGSTTotalValue += ActualValue - ((ActualValue * 100) / getGstPercent);

                                    }
                                    else
                                    {
                                        @*decimal? vatPrice = items.Quantity * (items.ProductStock.SellingPrice - items.ProductStock.GSTInPrice);
                                        <td>
                                            @String.Format("{0:0.00}", items.ProductStock.GSTInPrice)
                                        </td>
                                        <td>@String.Format("{0:0.00}", vatPrice) </td>
                                        itemGSTTotalValue = itemGSTTotalValue + vatPrice;*@
                                    }


                                    <td>@String.Format("{0:0.00}", items.Total)</td>
                                </tr>
                            }

                        </tbody>


                        <tfoot>
                            @if (Model.Sales.TaxRefNo == 1 && Model.Sales.SalesReturnItem.Count==0 && Model.Sales.Instance.Gstselect == false)
                            {
                                <tr class="bfont">
                                    <td class="tleft" colspan="1">
                                        CGST: @String.Format("{0:0.00}", (itemGSTTotalValue) / 2) &nbsp;&nbsp;
                                        @(Model.Sales.Instance.isUnionTerritory == true ? "UTGST" : "SGST"): @String.Format("{0:0.00}", (itemGSTTotalValue) / 2)
                                    </td>
                                </tr>
                            }
                            <tr class="bfont">
                                <td class="tleft" colspan="1">Total: @String.Format("{0:0.00}", Model.Sales.PurchasedTotal)</td>
                                <td colspan="2">Discount: @String.Format("{0:0.00}", Model.Sales.DiscountInValue)</td>
                                @if (Model.Sales.SalesReturnItem.Count == 0)
                                {
                                    <td colspan="2">RoundOff: @String.Format("{0:0.00}", Model.Sales.RoundoffNetAmount)</td>
                                    <td class="tright" colspan="2">Net Amount:</td>
                                    <td>@String.Format("{0:0.00}", Model.Sales.NetAmount)</td>
                                }
                                else
                                {
                                    <td colspan="2"></td>
                                    <td class="tright" colspan="2">Net Amount:</td>
                                    <td>@String.Format("{0:0.00}", Model.Sales.Net)</td>
                                }
                            </tr>
                        </tfoot>
                    </table>
                  }
                @if (Model.Sales.SalesReturnItem.Count > 0)
                {
                    <div style="margin-top:10px;">
                        <table class="table table-bordered table-responsive medicine-table">
                            <thead>
                                <b>RETURNS</b>
                                <tr>
                                    <th width="245px">Particulars</th>
                                    <th width="75px">MFR</th>
                                    <th width="86px">Batch</th>
                                    <th width="94px">Exp. Dates</th>
                                    <th width="37px">Qty</th>
                                    <th width="68px">Price</th>                                    
                                    @if (Model.Sales.TaxRefNo == 1 && Model.Sales.Instance.Gstselect == false)
                                    {
                                        <th width="56px">GST</th>
                                    }
                                    else if( Model.Sales.Instance.Gstselect == false)
                                    {
                                        <th width="56px">VAT</th>
                                    } else
                                    {
                                        <th width="56px"></th>

                                    }
                                    <th width="75px">Amount</th>
                                </tr>
                            </thead>                            
                            <tbody>
                                @foreach (var items in Model.Sales.SalesReturnItem)
                                {
                                    if (items.ReturnedQuantity > 0)
                                    {
                                    <tr>
                                        <td class="tleft">@items.ProductStock.Product.Name.ToUpper()</td>
                                        <td>@items.ProductStock.Product.Manufacturer.Split(' ')[0]</td>
                                        <td>@items.ProductStock.BatchNo</td>                                        
                                        <td>@items.ProductStock.ExpireDate.ToFormatExp()</td>
                                        <td>@String.Format("{0:0}", items.ReturnedQuantity)</td>

                                        @if (items.SellingPrice > 0)
                                        {
                                            decimal? vatPrice = 0;
                                            decimal? getGstPercent = items.GstTotal + 100;
                                            decimal? SalesItemDiscount = ((items.Discount / 100) * items.Total);

                                            if (Model.Sales.TaxRefNo == 1)
                                            {
                                                vatPrice = (((items.SellingPrice) * 100) / (getGstPercent));
                                            }
                                            else
                                            {
                                                vatPrice = ((items.SellingPrice * 100) / (items.VAT + 100));
                                            }
                                            <td>
                                                @String.Format("{0:0.00}", items.SellingPrice)
                                            </td>
                                            if (Model.Sales.Instance.Gstselect == false)
                                            {
                                                <td>@String.Format("{0:0.00}", items.SellingPrice - vatPrice) </td>

                                            }else
                                            {
                                                 <td></td>
                                            }
                                            var ActualValue = (items.Total - SalesItemDiscount);
                                            rtnGSTTotalValue += ActualValue - ((ActualValue * 100) / getGstPercent);
                                        }
                                        else
                                        {
                                            
                                        }
                                        <td>@String.Format("{0:0.00}", (items.SellingPrice == null ? items.ProductStock.SellingPrice : items.SellingPrice) * (items.ReturnedQuantity))</td>
                                    </tr>
                                        totalAmount += ((items.SellingPrice == null ? items.ProductStock.SellingPrice : items.SellingPrice) * (items.ReturnedQuantity));
                                        returnTotalAmount += (items.SellingPrice == null ? items.ProductStock.SellingPrice : items.SellingPrice) * (items.ReturnedQuantity);
                                        totReturnDiscount = totReturnDiscount + ((items.Discount / 100) * items.OnlyReturnAmount);
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr class="bfont">
                                    <td class="tleft" colspan="1">Total: @String.Format("{0:0.00}", returnTotalAmount)</td> 
                                    <td colspan="2">Discount: @String.Format("{0:0.00}", totReturnDiscount)</td>
                                    <td colspan="2"></td>

                                    <td class="tright" colspan="2">RETURN AMT:</td>
                                    @if (totalAmount != 0)
                                    {
                                        <td>@String.Format("{0:0.00}", totalAmount - totReturnDiscount)</td>
                                    }
                                    else
                                    {
                                        <td>@String.Format("{0:0.00}", totalAmount) </td>
                                    }
                                </tr>
                                @if (Model.Sales.InvoiceItems.Count() > 0)
                                {
                                    <tr class="bfont">
                                    @{

                                        decimal? Retval = Math.Round((decimal)Model.Sales.Net - (decimal)(totalAmount - totReturnDiscount), MidpointRounding.AwayFromZero);
                                        decimal? RetroundOff = Model.Sales.Net - (totalAmount - totReturnDiscount);
                                        decimal val1 = (decimal)Model.Sales.Net;
                                        decimal val2 = (decimal)(totalAmount - totReturnDiscount);

                                            @*CGST: @String.Format("{0:0.00}", ((itemGSTTotalValue - rtnGSTTotalValue) / 2) == null ? 0 : (itemGSTTotalValue - rtnGSTTotalValue) / 2) &nbsp;&nbsp;
                                            SGST: @String.Format("{0:0.00}", ((itemGSTTotalValue - rtnGSTTotalValue) / 2) == null ? 0 : (itemGSTTotalValue - rtnGSTTotalValue) / 2)*@
                                    if (Model.Sales.Instance.Gstselect == false)
                                    {
                                        <td class="tleft" colspan="1"> CGST: @String.Format("{0:0.00}", ((itemGSTTotalValue / 2) - (rtnGSTTotalValue / 2))) &nbsp; &nbsp;
                                        @(Model.Sales.Instance.isUnionTerritory == true ? "UTGST" : "SGST"): @String.Format("{0:0.00}", ((itemGSTTotalValue / 2) - (rtnGSTTotalValue / 2)))
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="tleft" colspan="1"></td>
                                    }
                                        @*<td colspan="2">RoundOff: @String.Format("{0:0.00}", (decimal)(Retval - RetroundOff))</td>*@
                                        <td colspan="2">RoundOff: @String.Format("{0:0.00}", Math.Round(Model.Sales.RoundoffNetAmount as decimal? ?? 0, 2, MidpointRounding.AwayFromZero))</td>
                                        <td colspan="2"></td>

                                        <td class="tright" colspan="2">PAYABLE AMOUNT:</td>
                                        @if (totalAmount != 0)
                                        {
                                            @*<td>@String.Format("{0:0.00}", Math.Round(val1 - val2 + (decimal)(Retval - RetroundOff)))</td>*@
                                            <td>@String.Format("{0:0.00}", Math.Round(Model.Sales.NetAmount as decimal? ?? 0, 2, MidpointRounding.AwayFromZero))</td>
                                        }

                                    }
                                    </tr>
                                }
                                            else
                                            {
                                <tr class="bfont">
                                    @{
                                        decimal? Retval = Math.Round((decimal)Model.Sales.Net - (decimal)(totalAmount - totReturnDiscount) * (-1), MidpointRounding.AwayFromZero);
                                        decimal? RetroundOff = Model.Sales.Net - (totalAmount - totReturnDiscount);
                                        decimal val1 = (decimal)Model.Sales.Net;
                                        decimal val2 = (decimal)(totalAmount - totReturnDiscount);
                                        if (Model.Sales.SalesReturn.ReturnCharges > 0 && Model.Sales.SalesReturn.ReturnCharges != null)
                                        {
                                            <td class="tleft" colspan="1">Ret. Charges: @String.Format("{0:0.00}", Model.Sales.SalesReturn.ReturnCharges)</td>
                                            @*<td colspan="2">RoundOff: @String.Format("{0:0.00}", (decimal)(Retval + RetroundOff))</td>*@
                                            <td colspan="2">RoundOff: @String.Format("{0:0.00}", Math.Round(Model.Sales.RoundoffNetAmount as decimal? ?? 0, 2, MidpointRounding.AwayFromZero))</td>
                                            <td colspan="1"></td>
                                        }
                                        else
                                        {
                                            <td class="tleft" colspan="1"></td>
                                            @*<td colspan="2">RoundOff: @String.Format("{0:0.00}", (decimal)(Retval + RetroundOff))</td>*@
                                            <td colspan="2">RoundOff: @String.Format("{0:0.00}", Math.Round(Model.Sales.RoundoffNetAmount as decimal? ?? 0, 2, MidpointRounding.AwayFromZero))</td>
                                            <td colspan="2"></td>
                                        }

                                        if (Model.Sales.SalesReturn.ReturnCharges > 0 && Model.Sales.SalesReturn.ReturnCharges != null)
                                        {
                                            <td class="tright" colspan="3">PAYABLE AMOUNT:</td>
                                        }
                                        else
                                        {
                                            <td class="tright" colspan="2">PAYABLE AMOUNT:</td>
                                        }
                                    @if (totalAmount != 0 && Model.Sales.SalesReturn.ReturnCharges > 0)
                                    {
                                        @*<td>@String.Format("{0:0.00}", Math.Round(val1 - val2 + (decimal)(Retval - RetroundOff - Model.Sales.SalesReturn.ReturnCharges)))</td>*@
                                        <td>@String.Format("{0:0.00}", Math.Round(Model.Sales.NetAmount as decimal? ?? 0 - Model.Sales.SalesReturn.ReturnCharges as decimal? ?? 0, 2, MidpointRounding.AwayFromZero))</td>
                                    }
                                    else
                                    {
                                        @*<td>@String.Format("{0:0.00}", Math.Round(val1 - val2 + (decimal)(Retval - RetroundOff)))</td>*@
                                        <td>@String.Format("{0:0.00}", Math.Round(Model.Sales.NetAmount as decimal? ?? 0, 2, MidpointRounding.AwayFromZero))</td>
                                    }

                                    }
                                </tr>
                                }
                            </tfoot>
                        </table>
                    </div>
                                        }
                </div>
                @if (!String.IsNullOrEmpty(Model.Sales.PrintFooterNote) && Model.Sales.PrintFooterNote != "undefined")
                {
                    <br />
                    <div class="col-lg-12">
                        <p style="font-size:10px;text-align:center"><b>@Model.Sales.PrintFooterNote</b></p>
                    </div>
                }
                @if (Model.Sales.Instance.Gstselect == true)
                {
                    <div class="col-lg-12 pull-left">
                        <p> Composite tax payer not eligible to collect taxes    </p>
                    </div>
                }
                <div class="col-lg-12 pull-left">
                    <p style="font-size:10px;text-align:left">Powered by hCue</p>
                </div>
            </div>
        </div>

        @*@{ 
            private decimal RoundOffCalculation(decimal? Net, decimal? totReturnAmount)
            {
                decimal? Retval = Math.Round((decimal)Net - (decimal)totReturnAmount, MidpointRounding.AwayFromZero);
                decimal? RetroundOff = Net - totReturnAmount;

                return (decimal)(Retval - RetroundOff);
            }
        }*@
            }

    @*<style>

        .medicine-table tr:last-child {
            height: 1px !important;
        }
        th, td {            
            line-height: 20px !important;
            
        }
       tr, td {            
            line-height: 20px !important;
            padding:0px !important;
            margin:0px !important;
            
        }
    </style>*@
</body>
</html>
