<script type="text/ng-template" id="alternatePackageSize">

    <div class="popup-overlay form-popup">

        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:60%;">

                    <div class="popup-close" data-ng-click="close('Cancel')">
                        <i class="fa fa-times"></i>
                    </div>
                    <h3>
                        PRODUCT & PACKAGE SIZE MAPPING
                    </h3>
                    <br />
                    <div class="row margin-bottom-12">
                        <div class='col-md-2'><label class="required">Vendor Name</label></div>
                        <div class='col-md-10 override_margin'>
                            <div class=''>
                                <div class="input-group">
                                    <div class="override_margin" style="float:left;">
                                        <select id="vendor"
                                                name="vendor"
                                                chosen
                                                width="450"
                                                title="Vendor Name"
                                                option="vendorList"
                                                data-placeholder="Select Vendor Name"
                                                ng-model="selectedVendor"
                                                ng-options="option.name for option in vendorList track by option.id"
                                                class="form-control"
                                                ng-disabled="selectedVendorDisable"
                                                ng-change="checkProductList()"
                                                required>
                                            <option value=""></option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 salesperson">
                        <div class="col-md-12 input-group sell-group-decor tblHeader txtCaps">

                            <div class="col-md-12">
                                <div class="col-md-1 no-pad">Add as New &nbsp;&nbsp;<input id="selectedProductNameAll" name="selectedProductNameAll" type="checkbox" ng-click="selectAll()" ng-model="isAllSelected" /></div>
                                <div class="col-md-3 no-pad">Product Name</div>
                                <div class="col-md-3 no-pad-l">Alternate Product Name</div>
                                <div class="col-md-2 no-pad">Package Size</div>
                                <div class="col-md-3 no-pad"><label class="required" style="color:#333 !important; font-size:16px; font-family:'Source Sans Pro', sans-serif; font-weight: bold;">Alternate Package Size</label></div>
                            </div>
                        </div>
                        <div class="col-md-12 override_margin usersList">
                            <div data-ng-repeat="list in data">
                                <div class="col-md-12 input-group sell-group-decor">

                                    <div class="col-md-12">
                                        <div class="col-md-1 no-pad">
                                            <input id="selectedProductName" name="selectedProductName" type="checkbox" ng-model="list.isAddNewProduct" ng-change="particularProductSelect(list.isAddNewProduct, $index, list)" ng-disabled="list.productId != undefined" />
                                        </div>
                                        <div class="col-md-3 no-pad">
                                            <span data-ng-bind="list.alternateProductName" ng-model="list.name"></span>
                                        </div>
                                        <div class="col-md-3 no-pad-l txtUpper1">
                                            <input type="text" ng-disabled="list.productId != undefined|| list.isAddNewProduct" data-ng-model="list.selectedProduct" uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                                   typeahead-template-url="/itemTp5.html"
                                                   ng-enter="getProduct($event)" focus-me="shouldBeOpen" typeahead-on-select="onProductSelect($event,selectedProduct,$index)" style="width:100%;" />
                                        </div>
                                        <div class="col-md-2 no-pad">
                                            <span data-ng-bind="list.alternatePackageSize" ng-model="list.alternatePackageSize"></span>
                                        </div>
                                        <div class="col-md-3 no-pad">
                                            <input id="AlternatePackagecount{{$index}}" type="text" ng-disabled="(list.productId == undefined && (list.alternatePackageSize == undefined))" ng-model="list.updatedPackageSize"  numbers-only
                                                   maxlength="6"
                                                   ng-change="enableUpdate(list.updatedPackageSize,$index)"
                                                   style="width:100%;" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12 no-pad text-center">
                                <button id="updatePackageSize"
                                        ng-disabled="selectedVendor.id == null || selectedVendor.id == undefined || updateEnable == false"
                                        name="updatePackageSize" class="btn primary-button" ng-click="updatePackageSize()">
                                    Update All
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .primary-button, .secondary-button {
        padding: 9px 20px !important;
    }

    .secondary-button {
        margin-left: 10px !important;
    }

    .usersList {
        overflow-y: auto;
        height: 300px;
    }

    .form-data label {
        font-size: 14px !important;
    }

    .productddl span {
        color: #333 !important;
    }

        .form-data .productddl:hover span, .productddl span:hover {
            color: #fff !important;
        }

    .reminder-popup-wrap {
        padding: 10px 10px !important;
    }

    .globalcs {
        background-color: #39A5FF;
        width: 15px;
        text-align: center;
        padding: 3px;
        font-size: 11px;
        line-height: 11px;
        display: inline-block;
        color: #fff !important;
        left: 4px;
    }

    .localcs {
        background-color: #284659 !important;
        color: #fff !important;
    }

    .txtUpper1 .dropdown-menu {
    max-height: 200px;
    overflow: auto;
}
</style>
<script type="text/ng-template" id="/itemTp5.html">

    <a tabindex="-1"  data-ng-if="match.model.accountId==null">
        <span class='globalcs'>G </span><span class="gap"> </span>
        <span data-ng-bind-template="{{match.model.name}}"></span>
    </a>
    <a tabindex="-1"  data-ng-if="match.model.accountId!=null">
        <span class='globalcs localcs'>L </span><span class="gap"> </span>
        <span data-ng-bind-template="{{match.model.name}}"></span><span data-ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>
@section scripts
{
    <link asp-append-version="true" rel="stylesheet" href="/assets/js/jquery-confirm-3.0.3.min.css">
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/ETL/alternatePackageSizeCtrl.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>
    <script asp-append-version="true" src="/assets/js/jquery-confirm-2.0.3.min.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockService.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/ShortCutHelper.js"></script>
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/style.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>

}
