@model HQue.Contract.Infrastructure.Inventory.VendorPurchase

@{
    ViewBag.Title = "Buy - Purchase";
    ViewBag.Menu = "Buy";
}

@await Html.PartialAsync("~/Views/VendorPurchase/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="buyImportCtrl" ng-cloak>
    <!-- Point of Sales Section - start -->
    <ng-form id="vendorPurchaseItems" name="vendorPurchaseItems">
        <div ng-init="init('@ViewBag.Id')"></div>

        <div class="panel panel-default override_margin">
            <div class="panel-body override_margin">
                <div class='row' ng-form="buyForm">
                    <div class="col-md-6 override_margin">
                        <div class='col-sm-5 override_margin'>
                            <div class='form-group'>
                                <label class="required">Vendor Name</label>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <select id="vendor"
                                            name="vendor"
                                            chosen
                                            title="Vendor Name"
                                            option="vendorList"
                                            data-placeholder="Select Vendor Name"
                                            ng-change="updateUI()"
                                            ng-model="vendorPurchase.selectedVendor"
                                            ng-options="option.name for option in vendorList track by option.id"
                                            class="form-control"
                                            onselect="onVendorSelect()"
                                            required>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <span class="error" ng-show="buyForm.vendor.$dirty && buyForm.vendor.$error.required">Select vendor name</span>
                            </div>
                        </div>
                        <div class='col-sm-3 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 override_margin">
                                    <label class="required">Invoice Number</label>
                                    <input title="Invoice Number" id="invoiceNo" name="invoiceNo" type="text" required placeholder="Invoice No" maxlength="10" class="form-control" ng-model="vendorPurchase.invoiceNo" ng-keyup="keyEnter($event,'invoiceDate')" valid-number>
                                    <span class="error" ng-show="buyForm.invoiceNo.$dirty && buyForm.invoiceNo.$error.required">Required</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4 override_margin'>
                            <div class='form-group'>
                                <label class="required">Invoice Date</label>
                                <div class="input-group override_margin">

                                    <input type="text" title="Invoice date" id="invoiceDate" name="invoiceDate" required class="form-control" uib-datepicker-popup="{{format}}" placeholder="Registration Date" ng-keyup="keyEnter($event,'drugName')" ng-model="vendorPurchase.invoiceDate" is-open="popup1.opened" max-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                    <span class="input-group-btn wrapper-date">
                                        <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                                <span class="error" ng-show="buyForm.invoiceDate.$dirty && buyForm.invoiceDate.$error.required">Required</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 override_margin">

                        <div class='col-sm-5 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <label class="required">Product Name</label>
                                    <input type="text" ng-model="selectedProduct" typeahead-focus-on-select="false" typeahead-min-length="3" placeholder="Product" id="drugName" ng-keyup="keyEnter($event,'batchNo')" required name="drugName" uib-typeahead="product as product.name for product in getProducts($viewValue)" class="form-control form-control-small" />
                                </div>
                                <span class="error" ng-show="vendorPurchaseItems.drugName.$dirty && vendorPurchaseItems.drugName.$error.required">Required</span>
                            </div>
                        </div>

                        <div class='col-sm-3 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <label>Batch Number</label>
                                    <input title="Batch Number" id="batchNo" name="batchNo" required type="text" placeholder="Batch No" ng-keyup="keyEnter($event,'expDate')" maxlength="10" class="form-control" ng-model="vendorPurchaseItem.productStock.batchNo" valid-number>
                                </div>
                                <span class="error" ng-show="vendorPurchaseItems.batchNo.$dirty && vendorPurchaseItems.batchNo.$error.required">Required</span>
                            </div>
                        </div>

                        <div class='col-sm-4 override_margin'>
                            <div class='form-group'>
                                <label>Expire Date</label>
                                <div class="input-group col-sm-11 trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control {{highlight}}" id="expDate" name="expDate" ng-keyup="keyEnter($event,'vat')" required uib-datepicker-popup="dd/MM/yy" placeholder="Expiry Date" ng-model="vendorPurchaseItem.productStock.expireDate" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date ng-change="dayDiff(vendorPurchaseItem.productStock.expireDate)" datepicker1 />
                                    <span class="input-group-btn wrapper-date">
                                        <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                                <span class="error" ng-show="vendorPurchaseItems.expDate.$dirty && vendorPurchaseItems.expDate.$error.required">Required</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class='row'>

                    <div class="col-md-10 override_margin">
                        <div class="col-md-4 override_margin">
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group '>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label class="required">VAT %</label>
                                        <input title="VAT in %" id="vat" name="vat" type="number" min="0" max="100" placeholder="0" ng-keyup="keyEnter($event,'packageSize')" class="form-control" maxlength="6" ng-model="vendorPurchaseItem.productStock.vat">
                                    </div>
                                    <span class="error" ng-show="vendorPurchaseItems.vat.$dirty && vendorPurchaseItems.vat.$error.required">Required</span>
                                </div>
                            </div>
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label class="required">Units/Strip</label>
                                        <input id="packageSize" title="Units/Strip" name="packageSize" required type="number" min="0" placeholder="0" maxlength="4" class="form-control" ng-keyup="keyEnter($event,'packageQuantity')" ng-model="vendorPurchaseItem.packageSize">
                                    </div>
                                    <span class="error" ng-show="vendorPurchaseItems.packageSize.$dirty && vendorPurchaseItems.packageSize.$error.required">Required</span>
                                </div>
                            </div>
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label class="required">No. of Strips</label>
                                        <input title="No of Strips" id="packageQuantity" name="packageQuantity" required type="number" min="0" placeholder="0" maxlength="4" class="form-control" ng-keyup="keyEnter($event,'purchasePrice')" ng-model="vendorPurchaseItem.packageQty">
                                    </div>
                                    <span class="error" ng-show="vendorPurchaseItems.packageQuantity.$dirty && vendorPurchaseItems.packageQuantity.$error.required">Required</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 override_margin">
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR">
                                        <label class="required">Price/Strip</label>
                                        <input title="Price/Strip" id="purchasePrice" name="purchasePrice" required type="number" min="0" placeholder="0" maxlength="6" class="form-control" ng-keyup="keyEnter($event,'sellingPrice')" ng-model="vendorPurchaseItem.packagePurchasePrice">
                                    </div>
                                    <span class="error" ng-show="vendorPurchaseItems.purchasePrice.$dirty && vendorPurchaseItems.purchasePrice.$error.required">Required</span>
                                </div>
                            </div>
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label class="required">MRP/Strip</label>
                                        <input title="MRP/Strip" id="sellingPrice" name="sellingPrice" required type="number" placeholder="0.00" maxlength="6" class="form-control" ng-keyup="keyEnter($event,'freeQty')" ng-model="vendorPurchaseItem.packageSellingPrice">
                                    </div>
                                    <span class="error" ng-show="vendorPurchaseItems.sellingPrice.$dirty && vendorPurchaseItems.sellingPrice.$error.required">Required</span>

                                    <span class="error" ng-if="vendorPurchaseItem.packagePurchasePrice+(vendorPurchaseItem.packagePurchasePrice*vendorPurchaseItem.productStock.vat/100) > vendorPurchaseItem.packageSellingPrice" ng-message="required">MRP price must be greater then Price</span>

                                </div>
                            </div>
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label>Free Qty</label>
                                        <input title="FreeQty" id="freeQty" name="freeQty" type="number" min="0" placeholder="0" maxlength="12" class="form-control" ng-keyup="keyEnter($event,'discount')" ng-model="vendorPurchaseItem.freeQty">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 override_margin">
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR">
                                        <label>Discount %</label>
                                        <input title="Discount" id="discount" name="discount" type="number" min="0" max="100" placeholder="0" maxlength="6" class="form-control" ng-keyup="keyEnter($event,'cST')" ng-model="vendorPurchaseItem.discount">
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR">
                                        <label>CST %</label>
                                        <input title="CST" id="cST" name="cST" type="number" min="0" max="100" placeholder="0" maxlength="6" class="form-control" ng-keyup="keyEnter($event,'barCode')" ng-model="vendorPurchaseItem.productStock.cST">
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label>Barcode</label>
                                        <input title="Barcode" id="barCode" name="barCode" type="text" placeholder="0" maxlength="12" class="form-control" ng-keyup="keyEnter($event,'addStock')" ng-model="vendorPurchaseItem.productStock.purchaseBarcode">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-2 override_margin">
                        <div class='col-sm-6 override_margin'>
                            <div class='form-group'>
                                <label>&nbsp;</label>
                                <button title="Add Stock" id="addStock" class="btn btn-small btn-style form-control" ng-disabled="(!vendorPurchaseItems.$valid || vendorPurchase.selectedVendor.id == null)" ng-click="addStock()">{{EditMode?"Update":"Add"}}</button>
                            </div>
                        </div>
                        <div class='col-sm-6 override_margin'>
                            <div class='form-group'>
                                <label>&nbsp;</label>
                                <button title="Reset" class="btn btn-grey form-control" ng-click="cancelUpdate()">{{EditMode?"Cancel":"Reset"}}</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="panel panel-default override_margin">
            <div class="row">
                <div class="table-decor">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="table-header-decor">Product Name</th>
                                <th class="table-header-decor">Batch No</th>
                                <th class="table-header-decor">Expiry Date</th>
                                <th class="table-header-decor"><span>{{vendorPurchase.TaxationType}} %</span></th>
                                <th class="table-header-decor">Units/Strip</th>
                                <th class="table-header-decor">Total Units</th>
                                <th class="table-header-decor">Price/Strip</th>
                                <th class="table-header-decor">MRP/Strip</th>
                                <th class="table-header-decor">Discount</th>
                                <th class="table-header-decor">In Tax (Rs.)</th>
                                <th class="table-header-decor">Total Price</th>
                                <th class="table-header-decor"><span class="glyphicon glyphicon-minus-sign"></span></th>
                            </tr>
                        </thead>
                        <tbody class="table-decor">
                            <tr ng-repeat="vendorPurchaseItem in vendorPurchase.vendorPurchaseItem" ng-form="editPurchaseItems">
                                <td class="table-item-decor">
                                    <span>{{vendorPurchaseItem.productStock.product.name}}</span>
                                </td>
                                <td class="table-item-decor">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.productStock.batchNo}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" id="batchNumber" name="batchNumber" style="width:90px" type="text" placeholder="Batch No" required ng-model="vendorPurchaseItem.productStock.batchNo">
                                    <span class="error" ng-show="editPurchaseItems.batchNumber.$dirty && editPurchaseItems.batchNumber.$error.required">Required</span>
                                </td>
                                <td class="table-item-decor">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.productStock.expireDate | date:'MM/yy'}}</span>
                                    <span ng-if="vendorPurchaseItem.isEdit == true">
                                        <input ng-show="vendorPurchaseItem.isEdit" type="text" class="form-control expire-date" id="expire" name="expire" required uib-datepicker-popup="MM/yy" placeholder="Expiry Date" ng-model="vendorPurchaseItem.productStock.expireDate" is-open="vendorPurchaseItem.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                        <span class="input-group-btn wrapper-date" style="width:0px">
                                            <button type="button" class="btn btn-default btn1" ng-click="open3(vendorPurchaseItem)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        <span class="error" ng-show="editPurchaseItems.expire.$dirty && editPurchaseItems.expire.$error.required">Required</span>
                                    </span>
                                </td>
                                <td class="table-item-decor">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.productStock.tax}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" type="text" id="vatEdit" style="width:40px" name="vatEdit" placeholder="VAT" maxlength="6" ng-model="vendorPurchaseItem.productStock.tax" valid-number>
                                    <span class="error" ng-show="editPurchaseItems.vatEdit.$dirty && editPurchaseItems.vatEdit.$error.required">Required</span>
                                </td>
                                <td class="table-item-decor">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.packageSize}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" name="unitsStrip" id="unitsStrip" style="width:75px" type="text" required placeholder="Units/Strip" ng-model="vendorPurchaseItem.packageSize" valid-number>
                                    <span class="error" ng-show="editPurchaseItems.unitsStrip.$dirty && editPurchaseItems.unitsStrip.$error.required">Required</span>
                                </td>
                                <td class="table-item-decor">
                                    <span class="text-small-decor1 pull-left">({{vendorPurchaseItem.orderedQty}}&nbsp;<span ng-show="vendorPurchaseItem.freeQty">+&nbsp;{{vendorPurchaseItem.freeQty}}</span>)</span><span class="pull-right">&nbsp;{{(vendorPurchaseItem.packageSize * vendorPurchaseItem.packageQty)}}&nbsp;</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" type="text" id="pkgQty" name="pkgQty" style="width:65px" required placeholder="Qty" ng-model="vendorPurchaseItem.packageQty" valid-number>
                                    <span class="error" ng-show="editPurchaseItems.pkgQty.$dirty && editPurchaseItems.pkgQty.$error.required">Required</span>
                                </td>
                                <td class="table-item-decor table-item-currency">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{currency( vendorPurchaseItem.packagePurchasePrice )}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" type="text" id="pakgPrice" name="pakgPrice" style="width:75px" required placeholder="Price/Strip" ng-model="vendorPurchaseItem.packagePurchasePrice" valid-number>
                                    <span class="error" ng-show="editPurchaseItems.pakgPrice.$dirty && editPurchaseItems.pakgPrice.$error.required">Required</span>
                                </td>
                                <td class="table-item-decor table-item-currency">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{currency( vendorPurchaseItem.packageSellingPrice )}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" type="text" id="pkgSell" name="pkgSell" style="width:75px" required placeholder="MRP/Strip" ng-model="vendorPurchaseItem.packageSellingPrice" valid-number>
                                    <span class="error" ng-show="editPurchaseItems.pkgSell.$dirty && editPurchaseItems.pkgSell.$error.required">Required</span>
                                </td>
                                <td class="table-item-decor table-item-currency"><span class="text-small-decor1 pull-left" ng-show="vendorPurchaseItem.discount">({{vendorPurchaseItem.discount}}&#37;)</span> {{currency( vendorPurchaseItem.discountVal )}}</td>
                                <td class="table-item-decor table-item-currency">{{currency( vendorPurchaseItem.tax )}}</td>
                                <td class="table-item-decor table-item-currency text-small-black" style="min-width:80px"> {{ currency( vendorPurchaseItem.total )}}</td>
                                <td class="table-item-decor">
                                    @*<a href="" class="btn btn-style text-center" style="cursor:pointer" title="Delete" ng-click="removeStock(vendorPurchaseItem)">Delete</a>*@
                                    <span class="glyphicon glyphicon-minus-sign" style="cursor:pointer" title="Delete" ng-click="removeStock(vendorPurchaseItem)"></span>
                                    <span ng-hide="vendorPurchaseItem.isEdit" style="cursor: pointer;" title="Edit" ng-click="editPurchase(vendorPurchaseItem)" class="edit-done-btn"><img src="~/assets/images/edit-patient.png" style="width: 19px;margin-top:-9px" /></span>
                                    <span ng-show="vendorPurchaseItem.isEdit" style="cursor: pointer;" title="Done" ng-click="doneEditPurchase(vendorPurchaseItem, editPurchaseItems.$invalid)" class="edit-done-btn"><img src="~/assets/images/done.png" style="width: 19px;margin-top:-9px" /></span>
                                </td>

                            </tr>
                    </table>

                </div>
            </div>

        </div>

        <div class="panel panel-default panelBorder override_margin panel-bottom">
            <div class="panel-body override_margin">
                <div class='row'>

                    <div class='col-md-4 override_margin'>
                        @*<div class='row override_margin'>
                                <div class='col-sm-12 form-group'>
                                    <div class="input-group col-sm-6 trimLR override_margin">
                                        <label>Goods Recivable No.</label>
                                        <input title="GR No." id="grno" name="grno" type="text" placeholder="0" maxlength="12" class="form-control" ng-model="vendorPurchase.goodsRcvNo">
                                    </div>
                                </div>

                            </div>*@
                        <div class='row override_margin'>

                            <div class='col-sm-12 form-group'>
                                <div class="input-group col-sm-10 trimLR override_margin">
                                    <label>Comments</label><br />
                                    <textarea title="comments" id="comments" name="comments" rows="5" cols="30" ng-model="vendorPurchase.comments"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="pull-left">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                <span class="fileupload-preview" style="color: black"></span>
                                <span class="btn btn-style btn-file">
                                    <span class="fileupload-new">Attach file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                </span>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4 override_margin">

                        <div class="form-inline rbcash">
                            <div class="btn-cc-section">
                                <label class="radio">
                                    <input title="Cash" type="radio" value="Cash" name="paymentType_{{$index}}" ng-click="editCheque(vendorPurchase, false)" ng-model="vendorPurchase.paymentType" />
                                    <span for="cash" class="dollar" title="Cash"></span> Cash &nbsp;
                                </label>

                                <label class="radio">
                                    <input title="Credit" type="radio" value="Credit" name="paymentType_{{$index}}" ng-click="editCheque(vendorPurchase, false)" ng-model="vendorPurchase.paymentType" />
                                    <span for="credit" class="card" title="Credit"></span> Credit &nbsp;
                                </label>
                                <label class="radio">
                                    <input title="Cheque" type="radio" value="Cheque" ng-click="editCheque(vendorPurchase, true)" name="paymentType_{{$index}}" ng-model="vendorPurchase.paymentType" />
                                    <span for="cheque" class="dollar cheque" title="Cheque"></span> Cheque &nbsp;
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 pull-left override_margin">
                            <div class="col-sm-6 pull-left override_margin">
                                <input id="chequeNo" class="form-control " ng-show="vendorPurchase.isChequeEdit" name="chequeNo" type="text" placeholder="Cheque No" ng-model="vendorPurchase.chequeNo">
                            </div>
                            <div class="input-group col-sm-6 pull-left override_margin">
                                <input id="chequeDate" class="form-control col-sm-5 pull-left" ng-show="vendorPurchase.isChequeEdit" name="chequeDate" type="text" placeholder="Cheque Date" ng-model="vendorPurchase.chequeDate" uib-datepicker-popup="{{format}}" is-open="popup4.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date" ng-show="vendorPurchase.isChequeEdit">
                                    <button type="button" class="btn btn-default btn1" ng-click="open4()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        @*<div class="col-md-12" style="margin-top:10px !important; padding-top:10px;">
                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " style="height: 80px;">
                                    <tbody>
                                        <tr class="round-off-section"><td colspan="7"><br />Round Off : <span>{{ Math.ceil((vendorPurchase.total + vendorPurchase.vat) - ((vendorPurchase.discount / 100) * (vendorPurchase.total + vendorPurchase.vat))) }}</span></td></tr>
                                    </tbody>
                                </table>
                            </div>*@

                    </div>
                    <div class='col-md-4 override_margin'>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered ">
                            <tbody class="table-cal">
                                <tr><td><strong>Total</strong> </td><td><strong>{{vendorPurchase.total | number:2}}</strong></td></tr>
                                <tr><td><strong>Discount %</strong></td><td><input type="text" placeholder="Discount" ng-change="calDiscountOnBill()" ng-model="vendorPurchase.discount" class="qty-input right-align" maxlength="3" valid-number></td></tr>
                                <tr><td><strong>Discounted Value</strong></td><td><strong ng-model="vendorPurchase.discountOnBill">{{currency(vendorPurchase.discountOnBill)}}</strong></td></tr>
                                <tr><td><strong>VAT/CST</strong></td><td><strong>{{currency(vendorPurchase.tax)}}</strong></td></tr>
                                <tr><td class="text-large-black"><strong>Net Value</strong></td><td class="text-large"><strong ng-model="vendorPurchase.netValue">{{currency(vendorPurchase.total + vendorPurchase.tax)}}</strong></td></tr>
                                <tr>
                                    <td><strong>Amount Paid</strong></td>
                                    <td>
                                        <input type="text" placeholder="Amount Paid" ng-model="vendorPurchase.credit" class="qty-input right-align" valid-number>
                                        <span style="color: red" ng-if="vendorPurchase.credit > Math.ceil((vendorPurchase.total + vendorPurchase.vat) - ((vendorPurchase.discount / 100) * (vendorPurchase.total + vendorPurchase.vat)))" ng-message="required">Amount is exceeded</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-footer clearfix">
                <div class="row">
                    <div class="col-md-6 override_margin">
                        <button title="Save as draft" class="btn btn-style btn-cancel pull-left" ng-click="saveDraft()">Save Draft</button>
                        <button title="Re-load draft" class="btn btn-style btn-cancel pull-left" style="margin-left:4px;" ng-click="loadDraft()">Load Draft</button>
                    </div>

                    <div class="col-md-6 override_margin">
                        <button title="Add Stock" class="btn btn-style pull-right" ng-disabled="vendorPurchase.vendorPurchaseItem == 0 ||  editItems > 0 || vendorPurchase.credit > Math.ceil(vendorPurchase.total - ((vendorPurchase.discount / 100) * vendorPurchase.total))" ng-click="save()">Update Stock</button>
                        <button title="Cancel" class="btn btn-style btn-cancel pull-right" style="margin-right:4px;" ng-click="cancel()">Cancel</button>
                    </div>
                </div>

                <!--<div class="pull-left">
                    <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                </div>
                <div class="pull-right">
                    <button title="Add Stock" class="btn btn-style" ng-disabled="vendorPurchase.vendorPurchaseItem == 0 ||  editItems > 0 || vendorPurchase.credit > Math.ceil(vendorPurchase.total - ((vendorPurchase.discount / 100) * vendorPurchase.total))" ng-click="save()">Update Stock</button>
                </div> -->
            </div>
        </div>

    </ng-form>

    <!-- The actual modal template for Product -->
    <script type="text/ng-template" id="createProduct">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content override_margin">

                    <div class="modal-body override_margin">
                        <ng-form id="productForm" name="productForm">
                            <div class="panel panel-default override_margin">
                                <div class="panel-heading panel-noborder">
                                    New Product
                                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="panel-body override_margin">
                                    <div class='row'>

                                        <div class='col-md-12'>
                                            <div class='form-group'>

                                                <div class="input-group sell-group-decor4">
                                                    <label class="required">Name of drug</label>
                                                    <input title="Name of drug" type="text" placeholder="Name of drug" id="drugName" name="drugName" required ng-model="product.name" class="search-query form-control">
                                                    <span class="error" ng-show="product.name.$dirty && product.drugName.$error.required">Required!</span>
                                                </div>

                                                <div class="input-group sell-group-decor4">
                                                    <label class="required">Generic Name</label>
                                                    <input title="Generic Name" type="text" placeholder="Generic Name" id="genericName" name="genericName" required ng-model="product.genericName" class="search-query form-control">
                                                    <span class="error" ng-show="product.genericName.$dirty && product.genericName.$error.required">Required!</span>
                                                </div>

                                                <div class="input-group sell-group-decor4">
                                                    <label class="required">Manufacturer</label>
                                                    <input title="Manufacturer" type="text" placeholder="Manufacturer" id="manufacturer" name="manufacturer" required ng-model="product.manufacturer" class="search-query form-control">
                                                    <span class="error" ng-show="product.manufacturer.$dirty && product.manufacturer.$error.required">Required!</span>
                                                </div>

                                                <div class="input-group sell-group-decor4">
                                                    <label>Scheduled Category</label>
                                                    <input title="Scheduled Category" type="text" placeholder="Scheduled Category" id="scheduledCategory" name="scheduledCategory" ng-model="product.scheduled" class="search-query form-control">
                                                </div>

                                                <div class="input-group sell-group-decor4">
                                                    <label>Type</label>
                                                    <input title="Type" type="text" placeholder="Type" id="type" name="type" ng-model="product.type" class="search-query form-control">
                                                </div>

                                                <div class="input-group sell-group-decor4">
                                                    <label>Category</label>
                                                    <input title="Category" type="text" placeholder="Category" id="category" name="category" ng-model="product.category" class="search-query form-control">
                                                </div>

                                                <div class="input-group sell-group-decor4">
                                                    <label>Commodity Code</label>
                                                    <input title="Commodity Code" type="text" placeholder="Commodity Code" id="commodityCode" name="commodityCode" ng-model="product.commodityCode" class="search-query form-control">
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="panel-footer clearfix">
                                    <button title="Create" class="btn btn-style pull-right" ng-disabled="product.$valid" ng-click="productCreate()">
                                        <span class="pull-left">Save</span>
                                    </button>
                                    <button type="button" class="btn btn-style btn-cancel pull-right sell-decor10" ng-click="close('No')" data-dismiss="modal">Cancel</button>

                                </div>
                            </div>
                        </ng-form>
                    </div>


                </div>
            </div>
        </div>
    </script>



</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
<script asp-append-version="true" src="~/assets/js/file-upload.js"></script>

    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>

    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchasecreatectrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>


    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />


}
<!-- Point of Sales Section - End -->