<style>

</style>
@model HQue.Contract.Infrastructure.Inventory.VendorPurchase
@{
    ViewBag.Title = "Purchase Import";
    ViewBag.Menu = "Buy";
}
@await Html.PartialAsync("~/Views/VendorPurchase/Menu.cshtml")
<div class="col-md-12 panelBorder override_margin">
    @if (ViewBag.Success == true)
    {
        <p style="color:forestgreen;font:bold">Purchase Imported Successfully</p>
    }
    @if (ViewBag.Success == false)
    {
        <p style="color:red;font:bold">Purchase Imported Failed</p>
        <br />
        <p style="color:red;font:bold">@ViewBag.Message</p>
    }
    <div class="row" ng-app="hcue" ng-controller="buyImportCtrl" ng-cloak>
        <div ng-hide="IsOffline && !isOnlineEnabled">
            <div class='row over' ng-hide="showPanel">
                <div class="col-md-6 override_margin">
                    <div class="panel panel-default" style="padding-bottom:8px;">
                        <form action="" method="post">
                            <div class="row"><div class="col-md-8 col-md-offset-2" style="margin-top:14px;"><center><p>Download our excel template to enter your data in a required format.</p></center></div></div>
                            <div class="row">
                                <center>
                                    <div class='form-group'>
                                        <button class="btn btn-style" type="submit" formmethod="get" formaction="Download" formtarget="_blank">Download Template</button>
                                    </div>
                                </center>
                            </div>
                            <div class="row"></div>
                            <br />
                            <div class="row margin-bottom-10">
                            </div>
                        </form>
                    </div>
                </div>
                <div class='col-md-6 override_margin'>
                    <div class="panel panel-default">
                        <form action="" name="importForm" method="post" enctype="multipart/form-data" novalidate>
                            <div class="row">
                                <div class="col-md-8" style="margin-top:14px;">
                                    <p>Import data from excel .csv formatted file</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class='col-md-3'><label>Template Type</label></div>
                                <div class='col-md-9'>
                                    <div class=''>
                                        <div class="row sell-group radio import-excel">
                                            <div class="input-group override_margin" style="float:left;">
                                                <input title="Default" type="radio" value="Default" ng-change="templateTypeSelection()" ng-model="templateType" name="defaultType" id="defaultType" />
                                                <label for="defaultType">hCue Template</label>
                                            </div>
                                            <div class="input-group override_margin" style="float:left;">
                                                <input title="Custom" type="radio" value="Custom" ng-change="templateTypeSelection()" ng-model="templateType" name="customType" id="customType" />
                                                <label for="customType">Custom Template</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-10" ng-if="templateType =='Custom'">
                                <div class='col-md-3'>
                                    <label>Vendor Name</label>
                                </div>
                                <div class='col-md-6'>
                                    <div class=''>
                                        <div class="input-group">
                                            <select id="vendor2"
                                                    name="vendor2"
                                                    chosen
                                                    width="450"
                                                    title="Vendor Name"
                                                    option="vendorList"
                                                    data-placeholder="Select Vendor Name"
                                                    ng-change="updateUI()"
                                                    ng-model="vendorPurchase.selectedVendor"
                                                    ng-options="option.name for option in vendorList track by option.id"
                                                    class="form-control"
                                                    required>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <span class="error" ng-show="importForm.vendor2.$dirty && importForm.vendor2.$error.required">Select vendor name</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class='col-md-8'>
                                    <div class="input-group">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                            <span class="fileupload-preview" style="color: black"></span>
                                            <span class="btn btn-style btn-file">
                                                <span class="fileupload-new">Select file</span>
                                                <span class="fileupload-exists">Change</span>
                                                @*Added by Annadurai*@
                                                <input type="file" name="file" class="btn btn-style" onchange="angular.element(this).scope().selectFileforUpload(this)" required />
                                            </span>
                                            <input type="button" id="btnUpLoad" ng-click="uploadFile()" value="Upload" ng-model="upload" class="btn btn-style" />
                                            @*<button type="submit" id="btnUpLoad" ng-model="upload" class="btn btn-style ng-pristine ng-untouched ng-valid" disabled="">Upload</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <ng-form id="vendorPurchaseItems" name="vendorPurchaseItems">
                @*<div ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model, new Newtonsoft.Json.JsonSerializerSettings()
    {
        ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver(),
        NullValueHandling = Newtonsoft.Json.NullValueHandling.Ignore
    }))">
        </div>
                *@
                <div ng-show="showPanel">

                    <ng-form novalidate id="vendorPurchaseItems" name="vendorPurchaseItems">

                        <div class="panel panel-default override_margin">
                            <div class="panel-body override_margin">
                                <div class="row">
                                    <div class='col-md-2 override_margin'>
                                        @*<div class='row override_margin'>*@
                                        @*<div class='col-sm-4 override_margin'>*@
                                        <div class='form-group'>
                                            <label>Invoice Value</label>
                                            <div class="input-group override_margin col-sm-12">
                                                <input title="Invoice Value" id="initialValue" autofocus name="initialValue" type="text" placeholder="00000.00" maxlength="12" class="form-control" ng-change="initialValue()" ng-model="vendorPurchase.initialValue" ng-keyup="keyEnter($event,'vendor')" valid-number>                                               
                                                <span style="color: red" ng-if="vendorPurchase.initialValue > (Math.round(vendorPurchase.total + vendorPurchase.tax))" ng-message="required">Amount is exceeded</span>
                                              
                                            </div>
                                        </div>
                                        @*</div>*@

                                        @*</div>*@
                                    </div>


                                    <div class='col-sm-5 override_margin'>
                                        <div class='form-group'>
                                            <label class="required">Vendor Name</label>
                                            <div class="input-group col-sm-12 trimLR override_margin">
                                                <select id="vendor"
                                                        name="vendor"
                                                        chosen
                                                        title="Vendor Name"
                                                        option="vendorList"
                                                        data-placeholder="Select Vendor Name"
                                                        ng-change="updateUI()"
                                                        ng-model="vendorPurchase.selectedVendor"
                                                        ng-options="option.name for option in vendorList track by option.id"
                                                        class="form-control"
                                                        onselect="onVendorSelect()"
                                                        required>
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <span class="error" ng-show="vendorPurchaseItems.vendor.$dirty && vendorPurchaseItems.vendor.$error.required">Select vendor name</span>
                                        </div>
                                    </div>
                                    <div class='col-sm-2 override_margin'>
                                        <div class='form-group'>
                                            <div class="input-group col-sm-12 override_margin">
                                                <label class="required">Invoice Number</label>
                                                <input title="Invoice Number" id="invoiceNo" name="invoiceNo" type="text" required placeholder="Invoice No" maxlength="10" class="form-control" ng-model="vendorPurchase.invoiceNo" ng-keyup="keyEnter($event,'invoiceDate')" 
                                                       ng-enter="checkInvoiceNo(vendorPurchase.invoiceNo)" />
                                                <span class="error" ng-show="vendorPurchaseItems.invoiceNo.$dirty && vendorPurchaseItems.invoiceNo.$error.required">Required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-2 override_margin'>
                                        <div class='form-group'>
                                            <label class="required">Invoice Date</label>
                                            <div class="input-group override_margin">
                                                <input type="text" title="Invoice date" id="invoiceDate" name="invoiceDate" required class="form-control" uib-datepicker-popup="{{format}}" placeholder="Registration Date" ng-keyup="keyEnter($event,'drugName')" ng-model="vendorPurchase.invoiceDate" ng-change="validateInvoiceDate()" is-open="popup1.opened" max-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" d my-date />
                                                <span class="input-group-btn wrapper-date">
                                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <span class="error" ng-show="vendorPurchaseItems.invoiceDate.$dirty && vendorPurchaseItems.invoiceDate.$error.required">Required</span>
                                            <span class="error" ng-show="vendorPurchaseItems.invoiceDate.$error.InValidInvoiceDate" style="min-width:300px;">Invoice date can not be greater than today</span>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default override_margin">
                            <div class="panel-body override_margin">
                                @*<div class='row' ng-form="buyForm">*@

                                <div class="row">
                                    <div class="col-md-6 override_margin">
                                        <div class='col-sm-5 override_margin'>
                                            <div class='form-group'>
                                                <div class="input-group col-sm-12 trimLR override_margin txtUpper">
                                                    <label class="required">Product</label>
                                                    <input type="text"
                                                           ng-model="selectedProduct"
                                                           typeahead-focus-on-select="false"
                                                           typeahead-no-results="noResults"
                                                           typeahead-min-length="1"
                                                           placeholder="Product"
                                                           id="drugName"
                                                           required
                                                           name="drugName"
                                                           uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                                           class="form-control form-control-small"
                                                           ng-keyup="keyEnter($event,'batchNo')"
                                                           typeahead-template-url="itemTpl.html" />
                                                    <script type="text/ng-template" id="itemTpl.html">
                                                        <a tabindex="-1" class="inActivecolor" ng-if="match.model.accountId==null">
                                                            <span ng-bind-template="{{match.model.name}}"></span>
                                                        </a>
                                                        <a tabindex="-1" class="Activecolor" ng-if="match.model.accountId!=null">
                                                            <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
                                                        </a>
                                                    </script>
                                                </div>
                                                <span class="error" ng-show="vendorPurchaseItems.drugName.$dirty && vendorPurchaseItems.drugName.$error.required">Required</span>
                                                <div ng-if="noResults">
                                                    <div ng-if="selectedProduct!=null && selectedProduct.length>3">
                                                        <span class="error"> No Results Found! Please Add new Product</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-3 override_margin'>
                                            <div class='form-group'>
                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                    <label class="required">Batch Number</label>
                                                    <input title="Batch Number" id="batchNo" name="batchNo" required type="text" placeholder="Batch No" ng-keyup="keyEnter($event,'expDate')" maxlength="10" class="form-control" ng-model="vendorPurchaseItem.productStock.batchNo">
                                                </div>
                                                <span class="error" ng-show="vendorPurchaseItems.batchNo.$dirty && vendorPurchaseItems.batchNo.$error.required">Required</span>
                                            </div>
                                        </div>
                                        <div class='col-sm-4 override_margin'>
                                            <div class='form-group'>
                                                <label>Expire Date</label>
                                                <div class="input-group col-sm-11 trimLR override_margin cal_adjusted">
                                                    <input type="text" class="form-control {{highlight}}" id="expDate" name="expDate" required uib-datepicker-popup="MM/yy" placeholder="Expiry Date" ng-model="vendorPurchaseItem.productStock.expireDate" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" focus-box="" nextid="Rackno" my-date ng-change="dayDiff(vendorPurchaseItem.productStock.expireDate)" ng-keyup="checkAllPurchasefields($event,'RackNo',6)" />
                                                    <span class="input-group-btn wrapper-date">
                                                        <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                <span class="error" style="margin-left:10px;" ng-show="vendorPurchaseItems.expDate.$error.InValidexpDate">Expire Date must be more than 30 days.</span>
                                                <span class="error" ng-show="vendorPurchaseItems.expDate.$dirty && vendorPurchaseItems.expDate.$error.required">Required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 override_margin">
                                        <div class='col-sm-2 override_margin'>
                                            <div class='form-group '>
                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                    <label>Rack</label>
                                                    <input title="RackNo" id="RackNo" name="RackNo" min="0" max="100" placeholder="0" ng-keyup="keyEnter($event,'boxNo')" class="form-control" maxlength="5" ng-model="vendorPurchaseItem.rackNo">
                                                </div>
                                            </div>
                                        </div>

                                        <div class='col-sm-2 override_margin'>
                                            <div class='form-group '>
                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                    <label>Box No</label>
                                                    <input type="text" title="Box No" id="boxNo" name="boxNo" placeholder="Box No" ng-keyup="keyEnter($event,'gstTotal')" class="form-control" maxlength="5" ng-model="vendorPurchaseItem.productStock.product.boxNo">
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class='col-sm-2 override_margin'>
                                            <div class='form-group '>
                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                    <label class="required">VAT %</label>
                                                    <input title="VAT in %" id="vat" name="vat" type="number" min="0" max="100" placeholder="0" ng-keyup="keyEnter($event,'packageSize')" class="form-control" maxlength="6" ng-model="vendorPurchaseItem.productStock.vat">
                                                </div>
                                                <span class="error" ng-show="vendorPurchaseItems.vat.$dirty && vendorPurchaseItems.vat.$error.required">Required</span>
                                            </div>
                                        </div>*@

                                        <div class='col-sm-2 override_margin'>
                                            <div class='form-group '>
                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                    <label class="required">GST %</label>
                                                    <input title="GST in %" id="gstTotal" name="gstTotal" required type="number" min="0" max="100" placeholder="0" ng-keyup="keyEnter($event,'packageSize')" class="form-control" maxlength="6" ng-model="vendorPurchaseItem.productStock.gstTotal">
                                                </div>
                                                <span class="error" ng-show="vendorPurchaseItems.gstTotal.$dirty && vendorPurchaseItems.gstTotal.$error.required">Required</span>
                                            </div>
                                        </div>
                                         
                                        <div class='col-sm-3 override_margin'>
                                            <div class='form-group'>
                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                    <label class="required">Units/Strip</label>
                                                    <input id="packageSize" title="Units/Strip" name="packageSize" required type="text" min="0" placeholder="0" maxlength="4" class="form-control" ng-keyup="keyEnter($event,'packageQuantity')" ng-model="vendorPurchaseItem.packageSize" numbers-only valid-number>
                                                </div>
                                                <span class="error" ng-show="vendorPurchaseItems.packageSize.$dirty && vendorPurchaseItems.packageSize.$error.required">Required</span>
                                            </div>
                                        </div>
                                        <div class='col-sm-3 override_margin'>
                                            <div class='form-group'>
                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                    <label class="required">No. of Strips</label>
                                                    <input title="No of Strips" id="packageQuantity" name="packageQuantity" required type="text" min="0" placeholder="0" maxlength="10" valid-number class="form-control" ng-keyup="keyEnter($event,'purchasePrice')" ng-model="vendorPurchaseItem.packageQty" ng-change="validateFreeQty()">
                                                </div>
                                                <span class="error" ng-show="vendorPurchaseItems.packageQuantity.$dirty && vendorPurchaseItems.packageQuantity.$error.required">Required</span>
                                                <span class="error" ng-show="vendorPurchaseItems.packageQuantity.$error.InValidRoundQty" style="min-width:300px; margin:0px;">Decimal values are not allowed</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             
                                <div class="clearfix"></div>

                                @*</div>*@
                                <div class="row">
                             
                                    <div class="col-md-2 override_margin">
                                        <div class='col-sm-6 override_margin'>
                                            <div class='form-group'>
                                                <div class="input-group col-sm-12 trimLR">
                                                    <label class="required">Price/Strip</label>
                                                    <input title="Price/Strip" id="purchasePrice" name="purchasePrice" required type="number" min="0" placeholder="0" maxlength="6" class="form-control" ng-keyup="keyEnter($event,'sellingPrice')" ng-model="vendorPurchaseItem.packagePurchasePrice">
                                                </div>
                                                <span class="error" ng-show="vendorPurchaseItems.purchasePrice.$dirty && vendorPurchaseItems.purchasePrice.$error.required">Required</span>
                                            </div>
                                        </div>
                                        <div class='col-sm-6 override_margin'>
                                            <div class='form-group'>
                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                    <label class="required">MRP/Strip</label>
                                                    <input title="MRP/Strip" id="sellingPrice" name="sellingPrice" required type="number" placeholder="0.00" maxlength="6" class="form-control" ng-keyup="keyEnter($event,'freeQty')" ng-model="vendorPurchaseItem.packageSellingPrice" ng-change="checkSellingMrp()">
                                                </div>
                                                <span class="error" ng-show="vendorPurchaseItems.sellingPrice.$dirty && vendorPurchaseItems.sellingPrice.$error.required">Required</span>
                                                <span class="error err-mar-left" ng-if="vendorPurchaseItem.packagePurchasePrice+(vendorPurchaseItem.packagePurchasePrice*vendorPurchaseItem.productStock.gstTotal/100) > vendorPurchaseItem.packageSellingPrice" ng-message="required">MRP price must be greater then Cost Price + GST</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 override_margin">
                                        <div class='col-sm-2 override_margin'>
                                            <div class='form-group'>
                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                    <label>Free Qty</label>
                                                    <input title="FreeQty" id="freeQty" name="freeQty" type="number" min="0" placeholder="0" maxlength="12" class="form-control" ng-keyup="keyEnter($event,'discount')" ng-model="vendorPurchaseItem.freeQty" ng-change="validateFreeQty()">
                                                </div>
                                                <span class="error" ng-show="vendorPurchaseItems.freeQty.$error.InValidRoundQty" style="min-width:300px; margin:0px;">Decimal values are not allowed</span>
                                                <span class="error" ng-show="vendorPurchaseItems.freeQty.$error.InvalidSumQty" style="min-width:180px; margin:0px;">Decimal value must be equal to {{(1 - (vendorPurchaseItem.packageQty % 1)) | number : 2}}</span>
                                            </div>
                                        </div>
                                        <div class='col-sm-2 override_margin'>
                                            <div class='form-group'>
                                                <div class="input-group col-sm-12 trimLR">
                                                    <label>Discount %</label>
                                                    <input title="Discount" id="discount" name="discount" type="text" min="0" max="100" placeholder="0" maxlength="5" class="form-control" valid-number ng-keyup="keyEnter($event,'addStock') || keyEnter($event,'cst')" ng-model="vendorPurchaseItem.discount">
                                                </div>
                                            </div>

                                            <span style="margin-left:0px;" class="error" ng-show="vendorPurchaseItem.discount > 99.99">Should be Lessthan 100</span>


                                        </div>
                                        @*<div class='col-sm-2 override_margin'>
                                            <div class='form-group'>
                                                <div class="input-group col-sm-12 trimLR">
                                                    <label>CST %</label>
                                                    <input title="CST" id="cst" name="cst" type="number" min="0" max="100" placeholder="0" maxlength="6" class="form-control" ng-keyup="keyEnter($event,'addStock')" ng-model="vendorPurchaseItem.productStock.cst">
                                                </div>
                                            </div>
                                        </div>*@
                                        <div class='col-sm-2 override_margin'>
                                            <div class='form-group '>
                                                <div class="input-group col-sm-12 trimLR">
                                                    <label>HSN Code</label>
                                                    <input title="hsnCode" id="hsnCode" name="hsnCode" type="text" ng-keyup="keyEnter($event,'barCode')" class="form-control" maxlength="10" ng-model="vendorPurchaseItem.productStock.hsnCode">
                                                </div>                                  
                                            </div>
                                        </div>

                                        <div class='col-sm-2 override_margin'>
                                            <div class='form-group'>
                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                    <label>Barcode</label>
                                                    <input title="Barcode" id="barCode" name="barCode" type="text" placeholder="0" maxlength="12" class="form-control" ng-keyup="keyEnter($event,'addStock')" ng-model="vendorPurchaseItem.productStock.purchaseBarcode">
                                                </div>
                                            </div>
                                        </div>
                     
                                        @*<div class="col-md-4 override_margin ">
                                       
                                        </div>*@
                                    </div>

                                    <div class="col-md-3 col-md-offset-1">
                                        <div class='col-sm-6 override_margin'>
                                            <div class='form-group'>
                                                <label>&nbsp;</label>
                                                <button title="Add Stock" id="addStock" class="btn btn-small btn-style form-control" ng-disabled="(!vendorPurchaseItems.$valid || !vendorPurchaseItems.$valid  || vendorPurchase.selectedVendor.id == null) || vendorPurchaseItem.discount > 99.99 ||vendorPurchaseItem.packagePurchasePrice+(vendorPurchaseItem.packagePurchasePrice*vendorPurchaseItem.productStock.gstTotal/100) > vendorPurchaseItem.packageSellingPrice" ng-click="addStock()">{{EditMode?"Update":"Add"}}</button>
                                            </div>
                                        </div>
                                        <div class='col-sm-6 override_margin'>
                                            <div class='form-group'>
                                                <label>&nbsp;</label>
                                                <button title="Reset" class="btn btn-grey form-control" ng-click="cancelUpdate()">{{EditMode?"Cancel":"Reset"}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class="col-md-12 override_margin">


                                    </div>

                                </div>
                            </div>
                        </div>

                    </ng-form>




                    <div class="panel panel-default override_margin">
                        <div class="row">
                            <div class="table-decor">
                                <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="table-header-decor">Product </th>
                                            <th class="table-header-decor">Batch</th>
                                            <th class="table-header-decor">Expiry</th>
                                            <th class="table-header-decor">GST %</th>
                                           <th class="table-header-decor">HSN Code</th>
                                            <th class="table-header-decor">Units/Strip</th>
                                            <th class="table-header-decor">Total Units</th>
                                            <th class="table-header-decor">Price/Strip</th>
                                            <th class="table-header-decor">MRP/Strip</th>
                                            <th class="table-header-decor">Discount</th>
                                            <th class="table-header-decor">In Tax (Rs.)</th>
                                            <th class="table-header-decor">Total Price</th>
                                            <th class="table-header-decor"><span class="glyphicon glyphicon-minus-sign"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-decor">
                                        <tr ng-repeat="vendorPurchaseItem in vendorPurchase.vendorPurchaseItem" ng-form="editPurchaseItems">
                                            <td class="table-item-decor" ng-show="vendorPurchaseItem.productStock.productId!=null">
                                                <span>{{vendorPurchaseItem.productStock.product.name}}</span>
                                            </td>

                                            <td class="table-item-decor" ng-show="vendorPurchaseItem.productStock.productId==null" style="background-color:lightsteelblue;">
                                                <span style="color:red;">{{vendorPurchaseItem.productStock.product.name}}</span>
                                            </td>

                                            <td class="table-item-decor">
                                                <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.productStock.batchNo}}</span>
                                                <input ng-show="vendorPurchaseItem.isEdit" id="batchNumber" name="batchNumber" style="width:90px" type="text" placeholder="Batch No" required ng-model="vendorPurchaseItem.productStock.batchNo">
                                                <span class="error" ng-show="editPurchaseItems.batchNumber.$dirty && editPurchaseItems.batchNumber.$error.required">Required</span>
                                            </td>

                                            <td class="table-item-decor">
                                                <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.productStock.expireDate | date:'MM/yy'}}</span>
                                                <span ng-if="vendorPurchaseItem.isEdit == true">
                                                    <input ng-show="vendorPurchaseItem.isEdit" type="text" class="form-control expire-date" id="expire" name="expire" required uib-datepicker-popup="MM/yy" placeholder="Expiry Date" ng-model="vendorPurchaseItem.productStock.expireDate" is-open="vendorPurchaseItem.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                                    <span class="input-group-btn wrapper-date" style="width:0px">
                                                        <button type="button" class="btn btn-default btn1" ng-click="open3(vendorPurchaseItem)">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                    <span class="error" ng-show="editPurchaseItems.expire.$dirty && editPurchaseItems.expire.$error.required">Required</span>
                                                </span>
                                            </td>

                                            <td class="table-item-decor">
                                                <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.productStock.gstTotal}}</span>
                                                <input ng-show="vendorPurchaseItem.isEdit" type="number" id="gstTotal" style="width:40px" name="gstTotal" required placeholder="gstTotal"  ng-model="vendorPurchaseItem.productStock.gstTotal" valid-number>
                                               <span class="error" ng-show="editPurchaseItems.gstTotal.$dirty && editPurchaseItems.gstTotal.$error.required">Required</span>
                                            </td>
                                            <td class="table-item-decor">
                                                <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.productStock.hsnCode}}</span>
                                                <input ng-show="vendorPurchaseItem.isEdit" name="hsnCode" id="hsnCode" style="width:75px" type="text" required placeholder="hsnCode" ng-model="vendorPurchaseItem.productStock.hsnCode" valid-number>
                                               
                                            </td>
                                            <td class="table-item-decor">
                                                <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.packageSize}}</span>
                                                <input ng-show="vendorPurchaseItem.isEdit" name="unitsStrip" id="unitsStrip" style="width:75px" type="text" required placeholder="Units/Strip" ng-model="vendorPurchaseItem.packageSize" valid-number>
                                                <span class="error" ng-show="editPurchaseItems.unitsStrip.$dirty && editPurchaseItems.unitsStrip.$error.required">Required</span>
                                            </td>



                                            <td class="table-item-decor">
                                                <span class="text-small-decor1 pull-left">({{vendorPurchaseItem.packageQty}}&nbsp;<span ng-show="vendorPurchaseItem.freeQty">+&nbsp;{{vendorPurchaseItem.freeQty}}</span>)</span>
                                                <span class="pull-right">&nbsp;{{(vendorPurchaseItem.packageSize * vendorPurchaseItem.orderedQty) | number:2}}&nbsp;</span>


                                                <input ng-show="vendorPurchaseItem.isEdit" type="text" id="pkgQty" name="pkgQty" style="width:65px" required placeholder="Qty" ng-model="vendorPurchaseItem.packageQty" valid-number>
                                                <span class="error" ng-show="editPurchaseItems.pkgQty.$dirty && editPurchaseItems.pkgQty.$error.required">Required</span>
                                            </td>




                                            <td class="table-item-decor table-item-currency">
                                                <span ng-hide="vendorPurchaseItem.isEdit">{{currency( vendorPurchaseItem.packagePurchasePrice )}}</span>
                                                <input ng-show="vendorPurchaseItem.isEdit" type="text" id="pakgPrice" name="pakgPrice" style="width:75px" required placeholder="Price/Strip" ng-model="vendorPurchaseItem.packagePurchasePrice" valid-number>
                                                <span class="error" ng-show="editPurchaseItems.pakgPrice.$dirty && editPurchaseItems.pakgPrice.$error.required">Required</span>
                                            </td>
                                            <td class="table-item-decor table-item-currency">
                                                <span ng-hide="vendorPurchaseItem.isEdit">{{currency( vendorPurchaseItem.packageSellingPrice )}}</span>
                                                <input ng-show="vendorPurchaseItem.isEdit" type="text" id="pkgSell" name="pkgSell" style="width:75px" required placeholder="MRP/Strip" ng-model="vendorPurchaseItem.packageSellingPrice" valid-number>
                                                <span class="error" ng-show="editPurchaseItems.pkgSell.$dirty && editPurchaseItems.pkgSell.$error.required">Required</span>
                                            </td>
                                            <td class="table-item-decor table-item-currency">
                                                <span class="text-small-decor1 pull-left" ng-show="vendorPurchaseItem.discount">({{vendorPurchaseItem.discount | number:2}}&#37;)</span> {{currency( vendorPurchaseItem.discountVal )}}
                                            </td>
                                            <td class="table-item-decor table-item-currency">{{currency( vendorPurchaseItem.tax )}}</td>
                                            <td class="table-item-decor table-item-currency text-small-black" style="min-width:80px"> {{ currency( vendorPurchaseItem.total )}}</td>
                                            <td class="table-item-decor">
                                                <span class="glyphicon glyphicon-minus-sign" style="cursor:pointer" title="Delete" ng-click="removeStock(vendorPurchaseItem)"></span>
                                                <span ng-hide="vendorPurchaseItem.isEdit" style="cursor: pointer;" title="Edit" ng-click="editPurchase(vendorPurchaseItem,$index)" class="edit-done-btn"><img src="~/assets/images/edit-patient.png" style="width: 19px;margin-top:-9px" /></span>
                                                <span ng-show="vendorPurchaseItem.isEdit" style="cursor: pointer;" title="Done" ng-click="doneEditPurchase(vendorPurchaseItem, editPurchaseItems.$invalid)" class="edit-done-btn"><img src="~/assets/images/done.png" style="width: 19px;margin-top:-9px" /></span>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panelBorder override_margin panel-bottom">
                        <div class="panel-body override_margin">
                            <div class='row'>
                                <div class='col-md-4 override_margin'>
                                    <div class='row override_margin'>
                                        <div class='col-sm-12 form-group'>
                                            <div class="input-group col-sm-10 trimLR override_margin">
                                                <label>Comments</label><br />
                                                <textarea title="comments" id="comments" name="comments" rows="5" cols="30" ng-model="vendorPurchase.comments"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">&nbsp;</div>
                                    <div class="pull-left" style="visibility:hidden">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                            <span class="fileupload-preview" style="color: black"></span>
                                            <span class="btn btn-style btn-file">
                                                <span class="fileupload-new">Attach file</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 override_margin">
                                    <div class="form-inline rbcash">
                                        <div class="btn-cc-section">
                                            <label class="radio">
                                                <input title="Cash" type="radio" value="Cash" name="paymentType_{{$index}}" ng-click="editCheque(vendorPurchase, false,false)" ng-model="vendorPurchase.paymentType" />
                                                <span for="cash" class="dollar" title="Cash"></span> Cash &nbsp;
                                            </label>
                                            <label class="radio">
                                                <input title="Credit" type="radio" id="rdCredit" value="Credit" name="paymentType_{{$index}}" ng-click="editCheque(vendorPurchase, false,true)" ng-model="vendorPurchase.paymentType" />
                                                <span for="credit" class="card" title="Credit"></span> Credit [CTRL+R]&nbsp;
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 pull-left override_margin">
                                        <div class="col-sm-6 pull-left override_margin">
                                            <input id="creditNoOfDays" class="form-control " ng-show="vendorPurchase.isCreditEdit" name="creditNoOfDays" type="text" placeholder="No Of Days" ng-model="vendorPurchase.creditNoOfDays">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 pull-left override_margin">
                                        <div class="col-sm-6 pull-left override_margin">
                                            <input id="chequeNo" class="form-control " ng-show="vendorPurchase.isChequeEdit" name="chequeNo" type="text" placeholder="Cheque No" ng-model="vendorPurchase.chequeNo">
                                        </div>
                                        <div class="input-group col-sm-6 pull-left override_margin">
                                            <input id="chequeDate" class="form-control col-sm-5 pull-left" ng-show="vendorPurchase.isChequeEdit" name="chequeDate" type="text" placeholder="Cheque Date" ng-model="vendorPurchase.chequeDate" uib-datepicker-popup="{{format}}" is-open="popup4.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                            <span class="input-group-btn wrapper-date" ng-show="vendorPurchase.isChequeEdit">
                                                <button type="button" class="btn btn-default btn1" ng-click="open4()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-4 override_margin'>
                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered ">
                                        <tbody class="table-cal">
                                            <tr>
                                                <td>
                                                    <strong>Total</strong>
                                                </td>
                                                <td>
                                                    <strong>{{vendorPurchase.total | number:2}}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Discount %</strong>
                                                </td>
                                                <td>
                                                    <input type="text" placeholder="Discount" ng-change="calDiscountOnBill(vendorPurchase.discount)" ng-model="vendorPurchase.discount" class="qty-input right-align" maxlength="5" valid-number />

                                                    <span class="error" ng-show="discountError">Enter Correct %</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Discounted Value</strong>
                                                </td>
                                                <td>
                                                    <strong ng-model="vendorPurchase.discountOnBill">{{currency(vendorPurchase.discountOnBill)}}</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong  >Total Tax (GST)</strong>
                                                </td>
                                                <td>
                                                    <strong  >{{currency(vendorPurchase.tax)}}</strong>
                                                </td>
                                            </tr>
                                           
                                            <tr>
                                                <td><strong>Round Off</strong></td>
                                                <td><strong>{{(Math.round(vendorPurchase.total + vendorPurchase.tax)-(vendorPurchase.total + vendorPurchase.tax))| number:2}}</strong></td>
                                            </tr>
                                            <tr>
                                                <td class="text-large-black"><strong>Net Value</strong></td>
                                                <td class="text-large"><strong ng-model="vendorPurchase.netValue" class="{{netHighlight}}">{{Math.round(vendorPurchase.total + vendorPurchase.tax)| number:2}}</strong></td>
                                            </tr>
                                            <tr style="display:none">
                                                <td><strong>Amount Paid</strong></td>
                                                <td>
                                                    <input type="text" placeholder="Amount Paid" ng-model="vendorPurchase.credit" class="qty-input right-align" valid-number>
                                                    <span style="color: red" ng-if="vendorPurchase.credit > (vendorPurchase.total + vendorPurchase.tax)" ng-message="required">Amount is exceeded</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-footer clearfix">
                            <div class="row">
                                <div class="col-md-6 override_margin">
                                </div>
                                <div class="col-md-6 override_margin">
                                    <button title="Add Stock" class="btn btn-style pull-right" id="subAddStock" ng-disabled="vendorPurchase.vendorPurchaseItem == 0 ||  editItems > 0 || !isFormValid || vendorPurchase.initialValue > (Math.round(vendorPurchase.total + vendorPurchase.tax)) || vendorPurchase.discount > 99.99 || discountError || vendorPurchase.selectedVendor.id == null||vendorPurchase.invoiceNo == null " ng-click="save()">Update Stock [<span>{{completePurchaseKeyType}}</span>]</button>
                                    <button title="Cancel" class="btn btn-style btn-cancel pull-right" style="margin-right:4px;" ng-click="cancel()">Cancel [<span>CTRL+C</span>]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-form>

            @{
                await Html.RenderPartialAsync("_AlternatepackagesizePopup.cshtml");
            }
        </div>
        <div ng-show="IsOffline && !isOnlineEnabled" class="offline-message">
            <p>This option is disabled for online.</p>
            <p class="offline-only">Please use only offline for this feature.</p>
        </div>
    </div>
</div>
<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }
</style>
@section scripts
{
    <link asp-append-version="true" rel="stylesheet" href="/assets/js/jquery-confirm-3.0.3.min.css">
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appScript/ETL/appScript.js"></script>
    <script asp-append-version="true" src="~/appscript/ETL/importCtrl.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>
    <script asp-append-version="true" src="/assets/js/jquery-confirm-2.0.3.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ETL/buyImportCtrl.js"></script>
<script asp-append-version="true" src="~/appscript/ETL/alternatePackageSizeCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <link asp-append-version="true" href="~/assets/css/developer.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
    <link asp-append-version="true" href="/assets/css/reminder-extended.css" rel="stylesheet">
}
