<style>
    .Purchase_import .col-md-6 {
        padding-left: 0;
    }

    .fileupload-section {
        margin-top: 10px;
    }

    .fixed_headers {
        width: 750px;
        table-layout: fixed;
        border-collapse: collapse;
    }

        .fixed_headers th {
            text-decoration: underline;
        }

        .fixed_headers th,
        .fixed_headers td {
            padding: 5px;
            text-align: left;
        }

            .fixed_headers td:nth-child(1),
            .fixed_headers th:nth-child(1) {
                min-width: 200px;
            }

            .fixed_headers td:nth-child(2),
            .fixed_headers th:nth-child(2) {
                min-width: 200px;
            }

            .fixed_headers td:nth-child(3),
            .fixed_headers th:nth-child(3) {
                width: 350px;
            }

        .fixed_headers thead {
            background-color: #333;
            color: #FDFDFD;
        }

            .fixed_headers thead tr {
                display: block;
                position: relative;
            }

        .fixed_headers tbody {
            display: block;
            overflow: auto;
            width: 100%;
            height: 300px;
        }

            .fixed_headers tbody tr:nth-child(even) {
                background-color: #DDD;
            }

    .old_ie_wrapper {
        height: 300px;
        width: 750px;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .old_ie_wrapper tbody {
            height: auto;
        }

    .import-setting {
        height: 500px;
        overflow-y: scroll;
    }

        .import-setting::-webkit-scrollbar {
            width: 1em;
        }

        .import-setting::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        .import-setting::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

    .chosen-container-single .chosen-single span {
        margin-right: 20px !important;
    }

    .chosen-container-single .chosen-single {
        padding: 3px 6px !important;
        width: 280px;
    }
</style>
@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@model HQue.Contract.Infrastructure.Inventory.VendorPurchase
@{
    ViewBag.Title = "Purchase Import Setting";
    ViewBag.Menu = "Buy";
}

@await Html.PartialAsync("~/Views/VendorPurchase/Menu.cshtml")
@if (!User.HasPermission(UserAccess.Settings))
{
    @await Html.PartialAsync("~/Views/Shared/_SettingsRights.cshtml"); 
}

<div class="panelBorder override_margin">

    <div class="" ng-app="hcue" ng-controller="buyImportSettingCtrl" ng-cloak>
        @**@
        <br />

        @ViewBag.ImportValues
        @*<div class='row over' ng-hide="showPanel">*@
        <div ng-hide="IsOffline && !isOnlineEnabled">

        <div class="row Purchase_import">
            <div class='col-md-6 '>
                <div class="panel panel-default" style="padding:10px;">
                    <form action="" name="importForm" method="post" enctype="multipart/form-data" novalidate>

                        <div class="row margin-bottom-10">
                            <div class='col-md-4'><label class="required">Header Option</label></div>
                            <div class="col-md-6">
                                <div class="sell-group-decor6 radio">
                                    <div class="override_margin" style="float:left;">
                                        <input title="headerYes" type="radio" value="Yes" ng-model="headerOption" ng-change="headerMultiple()" name="headerYes" id="headerYes" />
                                        <label for="headerYes">Yes</label>
                                    </div>
                                    <div class="override_margin" style="float:left;">
                                        <input title="headerNo" type="radio" value="No" ng-change="headerMultiple()" ng-model="headerOption" name="headerNo" id="headerNo" />
                                        <label for="headerNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-bottom-10">
                            <div class='col-md-4'><label class="required">Vendor Header Row</label></div>
                            <div class="col-md-6">
                                <div class="">
                                    <div class="override_margin" ng-class="{ 'has-error' : importForm.vendorRowPos.$invalid  &&importForm.vendorRowPos.$dirty}" style="float:left;">
                                        <input title="vendorRowPos" required height="25" width="350" type="text" id="vendorRowPos" name="vendorRowPos" class="form-control" maxlength="3" ng-model="vendorRowPos" valid-number />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-bottom-10" ng-if="headerOption =='Yes'">

                            <div class='col-md-4'><label class="required">Product Header Row</label></div>
                            <div class="col-md-6">
                                <div class="">

                                    <div class="override_margin" ng-class="{ 'has-error' : importForm.productRowPos.$invalid  && importForm.productRowPos.$dirty}" style="float:left;">

                                        <input title="productRowPos" height="25" width="350" type="text" id="productRowPos" name="productRowPos" maxlength="3" class="form-control" ng-model="productRowPos" valid-number required />
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="row margin-bottom-10">
                            <div class='col-md-4'><label class="required">Date Format</label></div>
                            <div class="col-md-6">
                                <div class="">
                                    <div class="override_margin" style="width:160px;">
                                        <div class="override_margin" ng-class="{ 'has-error' : importForm.dateFormat.$invalid  && importForm.dateFormat.$dirty}" style="float:left;">
                                            <select name="dateFormat" height="25" width="350" class="form-control" ng-model="dateFormat" value="dateFormat" required>
                                                <option value="">-- SELECT --</option>
                                                <option value="dd-MM-yyyy">dd-MM-yyyy</option>
                                                <option value="dd-MMM-yyyy">dd-MMM-yyyy</option>
                                                <option value="dd/MM/yyyy">dd/MM/yyyy</option>
                                                <option value="dd/MMM/yyyy">dd/MMM/yyyy</option>
                                                <option value="dd-MM-yy">dd-MM-yy</option>
                                                <option value="dd-MMM-yy">dd-MMM-yy</option>
                                                <option value="dd/MM/yy">dd/MM/yy</option>
                                                <option value="MM-dd-yy">MM-dd-yy</option>
                                                <option value="MM/dd/yy">MM/dd/yy</option>
                                                <option value="MM-dd-yyyy">MM-dd-yyyy</option>
                                                <option value="MM/dd/yyyy">MM/dd/yyyy</option>
                                                <option value="yyyy-MM-dd">yyyy-MM-dd</option>
                                                <option value="yyyy/MM/dd">yyyy/MM/dd</option>
                                                <option value="MM-yy">MM-yy</option>
                                                <option value="MM/yy">MM/yy</option>
                                                <option value="MM-yyyy">MM-yyyy</option>
                                                <option value="MM/yyyy">MM/yyyy</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-bottom-10">
                            <div class='col-md-4'><label class="required">Vendor Name</label></div>
                            <div class='col-md-6 override_margin'>
                                <div class=''>
                                    <div class="input-group">
                                        <div class="override_margin" ng-class="{ 'has-error' : importForm.vendor.$invalid  && importForm.vendor.$dirty}" style="float:left;">
                                            <select id="vendor"
                                                    name="vendor"
                                                    chosen
                                                    width="450"
                                                    title="Vendor Name"
                                                    option="vendorList"
                                                    onchange="getBuyTemplate()"
                                                    data-placeholder="Select Vendor Name"
                                                    ng-model="vendorPurchase.selectedVendor"
                                                    ng-options="option.name for option in vendorList track by option.id"
                                                    class="form-control"
                                                    required>
                                                <option value=""></option>
                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row fileupload-section">
                            <div class="col-md-12">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                    <span class="fileupload-preview" style="color: black"></span>
                                    <span class="btn btn-style btn-file">
                                        <span class="fileupload-new">Select file</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="file" ng-model="SelectedFileForUpload" onchange="angular.element(this).scope().changeFile(this.files)" />

                                    </span>

                                    <button type="button" ng-model="next" ng-click="mapping()" class="btn btn-style" ng-disabled="importForm.$invalid || SelectedFileForUpload.name == ''">Next</button>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-8" style="margin-top:10px;color:red;">
                                <b>*</b> Import data from excel .csv formatted file
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6 over" ng-hide="showPanel">
                <form name="mappingForm">
                    <div class="row">
                        <div class="import-setting">
                            
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;width:80px;">Data Fields</th>
                                        <th style="text-align:center;width:300px;">Mapped Fields</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr ng-repeat="dataItem in templatePurchaseMaster">
                                        <td align="left" valign="middle">
                                            {{dataItem.vendorHeaderName}}
                                             
                                            <span ng-show="dataItem.isMandatory" style="color:red;">*</span>

                                        </td>
                                        <td>
                                            <div class="override_margin" ng-class="{ 'has-error' : mappingForm.selectedField_{{$index}}.$invalid  && mappingForm.selectedField_{{$index}}.$dirty}" style="float:left;">
                                                <select name="selectedField_{{$index}}"
                                                        height="25"
                                                        width="350"
                                                        class="form-control"
                                                        ng-model="dataItem.vendorData"
                                                        ng-options="idx as selectedName for (idx, selectedName) in vendorData"
                                                        ng-required="dataItem.isMandatory">
                                                    <option value="">-- SELECT --</option>
                                                </select>
                                            </div>

                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <button type="button" ng-model="save" ng-disabled="mappingForm.$invalid" ng-click="saveBuyTemplateSetting()" class="btn btn-style">
                                                Save
                                            </button>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>


            </div>

            <div class="col-md-6 over" ng-hide="showDetails">
                <form action="" method="post">
                    <div class="row">
                        <div class="import-setting">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;width:300px;">Data Fields</th>
                                        <th style="text-align:center;width:300px;">Mapped Fields</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dataItem in data.templatePurchaseChildMaster">
                                        <td align="left">{{dataItem.vendorHeaderName}}</td>
                                        <td align="left">{{dataItem.headerName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>


            </div>
        </div>

        </div>
        <div ng-show="IsOffline && !isOnlineEnabled" class="offline-message">
            <p>This option is disabled for online.</p>
            <p class="offline-only">Please use only offline for this feature.</p>
        </div>

    </div>

</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appScript/ETL/appScript.js"></script>
    <script asp-append-version="true" src="~/appscript/ETL/importCtrl.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>

    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>

    <script asp-append-version="true" src="~/appscript/ETL/buyImportSettingCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>

    <link asp-append-version="true" href="~/assets/css/developer.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}