@{
    ViewBag.Title = "Custom Reports";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div class="row panelBorder" ng-app="hcue" ng-controller="customReportsListSearchCtrl" ng-cloak>
    <div class="col-md-12 override_margin">
        <div class="col-md-6">
            <h4>Custom Reports</h4>
        </div>
        <div class="col-md-6">
            <button title="Create New Report" style="background-color:#F57105; margin:6px;" class="btn btn-style pull-right" onclick="window.location='indexNew'">Create new report</button>
        </div>
    </div>

    <br />
    <div class="row" ng-init="init()">
        <div class="col-md-4">
            <div class="panel rcorners1 col-md-12">
                <div class="col-md-12 rcorners2" style="position:absolute; top:0px; left: 0px;">Common related reports</div>
                <div ng-if="checkReportTypeExists(1)" style="margin: 0; color: lightgray; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">
                    <div style="margin:30px;">
                        <i class="col-md-3 fa fa-info-circle" style="font-size:48px" aria-hidden="true"></i>
                        <p class="col-md-9">Sales related custom reports not found!</p>
                    </div>
                </div>
                <ul id="rptlist" style="margin-top:34px;">
                    <li ng-repeat="x in customReportsNew"><a href="RenderDevReport/?id={{x.id}}">{{x.reportName}}</a>&nbsp;&nbsp;<a href="UpdateReport/?id={{x.id}}">Edit</a></li>
                   
                </ul>
            </div>
        </div>
      
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sortable-view.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>


    <script asp-append-version="true" src="~/appscript/appScript.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customReports/customReportsService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customReports/customReportsListSearchCtrl.js"></script>

}
