@{
    ViewBag.Title = "Custom Reports";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div class="row panelBorder">
    <div class="col-md-12 override_margin">
        <div class="col-md-6">
            <h4>Update Report</h4>
        </div>
    </div>
</div>

<div id="wizard" class="swMain" style="height:500px; width:100%" ng-app="hcue" ng-controller="customReportsQryCtrl" ng-cloak>
   
    <div id="step-4" style="height:420px; width:100%">
        <div class="row" style="height:100px;">
            <div class="col-md-10 input-group sell-group-decor">
                <label>Report Name</label><br />
                <input id="reportName" type="text" class="form-control" placeholder="Report Name"  maxlength="50" ng-model="reportName">
            </div>
        </div>
        <div class="row" style="height:220px;">
            <div class="col-md-10 input-group sell-group-decor">
                <p>Results:</p>                
                <textarea title="reportInput" name="reportInput" id="reportInput"  ng-model="reportQry" style="height:220px" placeholder="Query" class="search-query form-control" ></textarea>
            </div>
        </div>
        <br/>
        <div class="row col-md-10">
            <button title="Save" style="background-color:#F57105; margin:6px;" class="btn btn-style pull-right" ng-click="save()">Save</button>
        </div>
        {{resultFilter}}
         @*{{resultFilter | splitString:' '}}*@

    </div>
   
</div>

@section scripts
{
    <link asp-append-version="true" href="~/assets/css/smart_wizard_vertical.css" rel="stylesheet" type="text/css">
    <script asp-append-version="true" type="text/javascript" src="~/assets/js/jquery.smartWizard.js"></script>

    <style>
        .flag {
            display: inline-block;
        }
    </style>


    <link asp-append-version="true" rel="stylesheet" href="/assets/plugins/bootstrap-select/css/bootstrap-select.min.css">
    <link asp-append-version="true" rel="stylesheet" href="/assets/plugins/query-builder/css/query-builder.default.css" id="qb-theme">
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet">
    <link asp-append-version="true" href="~/lib/angular-ui-switch/angular-ui-switch.css" rel="stylesheet">

    <script asp-append-version="true" src="/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script asp-append-version="true" src="/assets/plugins/bootbox/bootbox.js"></script>
    <script asp-append-version="true" src="/assets/js/jQuery.extendext.min.js"></script>
    <script asp-append-version="true" src="/assets/plugins/query-builder/js/query-builder.standalone.js"></script>

    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-ui-switch/angular-ui-switch.js"></script>

    <script asp-append-version="true" src="~/assets/js/angular-sortable-view.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/reports/customReports/customReportsAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customReports/customReportsService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customReports/customReportsQryCtrl.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();


            $("#RptItem li").click(function () {
                $("li").removeClass("active");
                $(this).addClass("active");
            });

            $(".table1 td").click(function (e) {
                e.preventDefault();
            });

        });
    </script>
}


