@{
    ViewBag.Title = "Custom Reports";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div class="row panelBorder">
    <div class="col-md-12 override_margin">
        <div class="col-md-6">
            <h4>Create New Report</h4>
        </div>
    </div>
</div>

<div id="wizard" class="swMain" style="height:800px; width:1020px;" ng-app="hcue" ng-controller="customReportsCtrl" ng-cloak>
    <ul>
        <li>
            <a href="#step-1">
                <label class="stepNumber">1</label>
                <span class="stepDesc" style="padding: 6px 0px 0px 20px !important; width: 80%;">
                    Step 1<br />
                    <small>Choose report type</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2">
                <label class="stepNumber">2</label>
                <span class="stepDesc" style="padding: 6px 0px 0px 20px !important; width: 80%;">
                    Step 2<br />
                    <small>Choose colums &amp; Groups</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3">
                <label class="stepNumber">3</label>
                <span class="stepDesc" style="padding: 6px 0px 0px 20px !important; width: 80%;">
                    Step 3<br />
                    <small>Add data filter</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-4">
                <label class="stepNumber">4</label>
                <span class="stepDesc" style="padding: 6px 0px 0px 20px !important; width: 80%;">
                    Step 4<br />
                    <small>Save &amp; Finish</small>
                </span>
            </a>
        </li>
    </ul>

    <div id="step-1" style="height:420px; width:100%">
        <h2 class="StepTitle">Choose Report Type</h2>
        <br />
        <div class="col-md-10">
            <ul id="RptItem">
                <li ng-click="setReportType(1)">
                    <h4>Sales related report</h4>
                    <p>For generating report on point of sale, customer details, invoice details, product information or anything related to sales.</p>
                </li>
                <li ng-click="setReportType(2)">
                    <h4>Purchase related report</h4>
                    <p>For generating report on purchase order, vendor details, purchase returns, product information or anything related to purchases.</p>
                </li>
                <li ng-click="setReportType(3)">
                    <h4>Inventory related report</h4>
                    <p>For generating report on inventory information, purchase details, vendor details, product information or anything related to inventory.</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="step-2" style="height:420px; width:100%; overflow-y:hidden" ng-init="init()">
        <h2 class="StepTitle">Choose Columns and Groups</h2>
        <br />
        <div class="col-md-12 override_margin">
            <div class="col-md-4 list-group override_margin">
                <span class="list-group-item active">Sales data items</span>
                <div class="col-md-12 override_margin" style="overflow-y:scroll; height:320px;">
                    <div ng-repeat="x in reportFields" class="col-md-12 list-group-item item" ng-click="onItemSelected($index)">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp; {{x.label}}
                        <span ng-show="x.selected"><i class="fa fa-check pull-right" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 override_margin" style="overflow-y:scroll; height:340px;">
                <span class="list-group list-group-item active">Selected columns in report</span>
                <div class="col-md-12 override_margin">
                    <table border="0" class="col-md-12">
                        <tr style="color: dimgrey; font: bolder 11px Verdana, Arial, Helvetica, sans-serif;">
                            <th style="width:200px; padding-left:10px;">Column Name</th>
                            <th style="width:70px; padding-left:6px;">Show Total</th>
                            <th style="width:60px; padding-left:6px;">Group By</th>
                            <th style="width:50px; padding-left:10px;">Aggregate</th>
                        </tr>
                    </table>
                </div>
                <div sv-root sv-part="selectedFields" class="col-md-12 override_margin">
                    <div ng-repeat="x in selectedFields" class="col-md-12 override_margin" sv-element>
                        <div draggable="false" class="col-md-12 override_margin" style="background-color: #FFF">
                            <table border="1" id="table1" class="col-md-12 override_margin seltable">
                                <tr>
                                    <td style="width:180px">{{x.label}}</td>
                                    <td style="width:60px"><switch class="mini" ng-if="x.type=='double'" ng-mousedown="hideme($event)" ng-model="x.isGrandTotal" ng-change="changeCallback"></switch></td>
                                    <td style="width:50px"><switch class="mini" ng-model="x.isGrouped" ng-mousedown="hideme($event)" ng-change="changeCallback"></switch></td>
                                    <td style="width:70px">
                                        <select ng-show="x.isGrouped && x.type=='double'" ng-model="x.aggregate" ng-mousedown="hideme($event)" class="override_margin" style="width:60px;">
                                            <option value="">----</option>
                                            <option value="sum">Sum</option>
                                            <option value="count">Count</option>
                                            <option value="min">Min</option>
                                            <option value="max">Max</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="step-3" style="height:420px; width:100%">
        <h2 class="StepTitle">Add Data Filters</h2>
        <div class="col-md-12">
            <div id="builder"></div>
            <div class="btn-group">
                <button class="btn btn-danger reset">Reset</button>
            </div>
            <div class="btn-group">
                <button class="btn parse-sql" data-stmt="false">Validate Filter</button>
            </div>
            <div id="result" class="hide">
                <h5>Query filter</h5>
                <pre></pre>
            </div>
        </div>
    </div>
    <div id="step-4" style="height:420px; width:100%">
        <h2 class="StepTitle">Save and Finish</h2>
        <br />
        <div class="row" style="height:100px;">
            <div class="col-md-10 input-group sell-group-decor">
                <label>Report Name</label><br />
                <input id="reportName" type="text" class="form-control" maxlength="50" ng-model="reportName">
            </div>
        </div>
        <div class="row" style="height:200px;">
            <div class="col-md-10 input-group sell-group-decor">
                <p>Results:</p>
                <div ng-bind="result">{{result}}</div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <link asp-append-version="true" href="~/assets/css/smart_wizard_vertical.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/assets/js/jquery.smartWizard.js"></script>

    <style>
        .flag {
            display: inline-block;
        }
    </style>


    <link asp-append-version="true" rel="stylesheet" href="/assets/plugins/bootstrap-select/css/bootstrap-select.min.css">
    <link asp-append-version="true" rel="stylesheet" href="/assets/plugins/query-builder/css/query-builder.default.css" id="qb-theme">
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet">
    <link asp-append-version="true" href="~/lib/angular-ui-switch/angular-ui-switch.css" rel="stylesheet">

    <script asp-append-version="true" src="/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script asp-append-version="true" src="/assets/plugins/bootbox/bootbox.js"></script>
    <script asp-append-version="true" src="/assets/js/jQuery.extendext.min.js"></script>
    <script asp-append-version="true" src="/assets/plugins/query-builder/js/query-builder.standalone.js"></script>

    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-ui-switch/angular-ui-switch.js"></script>

    <script asp-append-version="true" src="~/assets/js/angular-sortable-view.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/reports/customReports/customReportsAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customReports/customReportsService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customReports/customReportsCtrl.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();


            $("#RptItem li").click(function () {
                $("li").removeClass("active");
                $(this).addClass("active");
            });

            $(".table1 td").click(function (e) {
                e.preventDefault();
            });

        });
    </script>
}


