@{
    ViewBag.Title = "Render Reports";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="renderReportCtrl" ng-init="init()" ng-cloak>
    <div class="row panelBorder">
        <div class="col-md-12 override_margin">
            <div class="col-md-6">
                <h4>{{reportName}}</h4>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></a>
                    <button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            @*<div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pagination class="grid"></div>*@

            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div id="grid"></div>


            <br /><br />
        </div>
    </div>
</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>

    @*
        <script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*
        <script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@
    @*<script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
        <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
        <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>*@
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesReportService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customReports/customReportsService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customReports/renderReportCtrl.js"></script>


    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <script>

        $(document).ready(function () {

            $("#grid").kendoGrid().addClass("field-report");

            $("#btnPdfExport").kendoButton(
            {
                click: function () {
                    $("#grid").data("kendoGrid").saveAsPDF();
                }
            });


            $("#btnXLSExport").kendoButton(
            {
                click: function () {
                    $("#instanceName").text("Qbitz Tech");
                    $("#grid").data("kendoGrid").saveAsExcel();
                }
            });
        });

    </script>




}


