@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

@{
    if (ViewBag.Id == "3e0ab8b2-a360-42f2-a390-7cc0db375209")
    {
        ViewBag.Title = "Sales Modify";
    }
    else if (ViewBag.Id == "cc06d5d4-3c67-4cdd-82c6-d89dd770e275")
    {
        ViewBag.Title = "Inventory Data Update";
    }
    else if (ViewBag.Id == "7045324a-baa2-4ea8-89c6-f1a561545b0c")
    {
        ViewBag.Title = "Purchase Free and Discount";
    }
    else { }
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="renderDevReportCtrl" ng-init="init('@ViewBag.Id')" ng-cloak>

    <ng-form novalidate id="vendorPurchaseItems" name="vendorPurchaseItems">
        <div class="panel panel-default override_margin panelBorder">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12 override_margin">
                        <div class="col-md-12">
                            <div style="text-align: center;"><span class="reportHeader"><b>{{reportName}}</b></span></div>
                        </div>
                        <div class="col-md-12 override_margin" style="border:0px solid red;">
                            @if (User.HasPermission(UserAccess.Admin))
                            {
                                <div class="col-sm-2 override_margin">
                                    <div class='form-group'>
                                        <label>Branch</label>
                                        @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                                    </div>
                                </div>
                            }
                            <div ng-repeat="filters in getFilter">
                                <div class='col-md-2 override_margin' ng-if="filters.FID=='#select@Product#'">
                                    <div class='form-group'>
                                        <label>Select {{filters.search}}</label>
                                        <div class="txtCaps">
                                            <input type="text" ng-model="getFilter.product"
                                                   typeahead-focus-on-select="false"
                                                   typeahead-min-length="1"
                                                   placeholder="Enter Product"
                                                   id="drugName" required
                                                   name="drugName"
                                                   autofocus
                                                   title="Product Name"
                                                   typeahead-on-select="onProductSelect($item)"
                                                   typeahead-editable="false"
                                                   uib-typeahead="ps as ps.name for ps in getProducts($viewValue)"
                                                   class="form-control form-control-small " />
                                        </div>
                                    </div>
                                </div>


                                <div class='col-md-2 override_margin' ng-if="filters.FID=='#select@Vendor#'">
                                    <div class='form-group'>
                                        <label>Select {{filters.search}}</label>
                                        <input type="text" ng-model="getFilter.supplier"
                                               typeahead-focus-on-select="false"
                                               typeahead-min-length="1"
                                               placeholder="Enter Supplier"
                                               id="supplierName" required
                                               name="supplierName"
                                               title="Supplier name"
                                               typeahead-on-select="onSupplierSelect($item)"
                                               typeahead-editable="false"
                                               uib-typeahead="ps as ps.name for ps in getSupplierName($viewValue)"
                                               class="form-control form-control-small"
                                               typeahead-template-url="itemTpls.html" autofocus />

                                        <script type="text/ng-template" id="itemTpls.html">

                                            <a tabindex="-1" style="text-decoration:none">
                                                <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                                            </a>
                                            <div style="color:#fbaf67"></div>

                                        </script>
                                    </div>
                                </div>

                                <div class='col-md-2 override_margin' ng-if="filters.FID=='#dt@From#'">
                                    <div class='form-group'>
                                        <label>{{filters.search}} Date</label>
                                        <div class="input-group">
                                            <input type="text" id="fromDate" class="form-control" uib-datepicker-popup="{{format}}" placeholder="DD/MM/YYYY" ng-model="getFilter.from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="checkFromDate()" ng-keyup="checkFromDate()" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn wrapper-date">
                                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                                </div>
                                <div class='col-md-2 override_margin' ng-if="filters.FID=='#dt@To#'">
                                    <div class='form-group'>
                                        <label>{{filters.search}} Date</label>
                                        <div class="input-group">
                                            <input type="text" id="toDate" class="form-control" uib-datepicker-popup="{{format}}" placeholder="DD/MM/YYYY" ng-model="getFilter.to" is-open="popup2.opened" min-date="minDate" max-dat e="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-change="checkToDate()" ng-keyup="checkToDate()" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn wrapper-date">
                                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                                    <span class="error" ng-show="!validToDate">Enter correct format date</span>
                                </div>

                                <div class='col-md-2 override_margin' ng-if="filters.type=='string' || filters.type=='int'">
                                    <div class='form-group'>
                                        <label>{{filters.search}}</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="search.grn" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class='col-md-2 override_margin'>
                            <div class='form-group'>
                                <label>&nbsp;</label>
                                <div class="">
                                    <button title="Search" class="btn btn-style" ng-click="searchReport(getFilter)">Search</button>
                                    <button title="Cancel" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 override_margin pull-right">
                        <label>&nbsp;</label>
                        <div class="pull-right">
                          @*<button type="submit" title="Export to CSV" ng-disabled="dataLen.data.length == 0" ng-csv="dataLen.data"
                                    csv-header="['ProductName', 'BatchNoOld', 'BatchNoNew', 'ExpireDateOld', 'ExpireDateNew', 'VATOld', 'VATNew', 'GSTOld', 'GSTNew', 'PackageSizeOld', 'PackageSizeNew', 'PackagePurchasePriceOld', 'PackagePurchasePriceNew', 'SellingPriceOld', 'SellingPriceNew']"
                                    csv-column-order="order"
                                    filename="{{fileNameNew}}.csv" onclick="setFileName()">

                                <img src="~/assets/images/csv.png" />

                            </button>*@
                            <button ng-disabled="dataLen.data.length == 0" ng-hide="check > 60"class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                            <button ng-disabled="dataLen.data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </ng-form>
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            @*<div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pagination class="grid"></div>*@

            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>

            </script>
            <div class="report-tables">
                <div id="grid" class='rptDev'></div>
            </div>
            <div ng-show="dataLen.data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>

            <br /><br />
        </div>
    </div>
</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<script asp-append-version="true" src="~/appscript/appNewReportScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

    <script asp-append-version="true" src="~/appscript/reports/sales/salesReportService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customReports/customReportsService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customReports/renderDevReportCtrl.js"></script>


    @*<link asp-append-version="true" rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.2.714/styles/kendo.common-material.min.css" />*@
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <style type="text/css">
        .check-isInvoiceWise {
            width: 25px;
            height: 20px;
        }
    </style>
    <script>

        $(document).ready(function () {

            $("#grid").kendoGrid().addClass("field-report");

            $("#btnPdfExport").kendoButton(
            {
                click: function () {
                    $("#grid").data("kendoGrid").saveAsPDF();
                }
            });


            $("#btnXLSExport").kendoButton(
            {
                click: function () {
                    $("#instanceName").text("Qbitz Tech");
                    $("#grid").data("kendoGrid").saveAsExcel();
                }
            });
        });

    </script>




}


