@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@{
    ViewBag.Title = "Settings";
    ViewBag.Menu = "ReportSettings";
}

@await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")

@if (!User.HasPermission(UserAccess.Settings))
{
    @await Html.PartialAsync("~/Views/Shared/_SettingsRights.cshtml");
}

<div class="row panelBorder override_margin" ng-app="hcue" ng-controller="reportSettingsCtrl" ng-init="getSettings()" ng-cloak>

    <div class="col-md-12 sell-decor1" style="margin-top:10px !important;">
        <span style="cursor: pointer;" title="Settings" ng-click="printSettings()" class="btn text-center {{generaltab}}">Print Setting</span>

        <br />
        <br />
        <div class="panel panel-default inputbdr" ng-hide="settingsPanel">
            <div class="row">

                <div class="col-md-6 radio printSetup">
                    <p class="col-md-12"><b>Schedule Register Print Format.</b></p>
                    <div><input type="radio" name="pageBreak" id="pageBreakContinuous" ng-model="pageBreakSettings" value="1" /> <label for="pageBreakContinuous" class="col-md-12 col-md-offset-1">Continuous print</label></div>
                    <div><input type="radio" name="pageBreak" id="pageBreakDateWise" ng-model="pageBreakSettings" value="2" /> <label for="pageBreakDateWise" class="col-md-12 col-md-offset-1">Date wise break</label></div>

                </div>

                <br />
                <br />
            </div>
            <div class="row">
                <div class="col-md-2 pull-right">
                    <button type="button" title="Apply" class="btn btn-small btn-style form-control" ng-click="saveSettings()">Apply</button>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
        </div>

    </div>
</div>


@section scripts
{
    <script asp-append-version="true" src="~/lib/angular/angular.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    <script asp-append-version="true" src="~/appscript/appreportsettingsscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/appscript/reports/sales/reportsettingsctrl.js"></script>

}
