﻿<script type="text/ng-template" id="confirmPrint">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:300px;max-height:250px;border-color:#3DB29F;">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3 style="background-color:#3DB29F;"></h3>
                    <ng-form id="confirmPrint" name="confirmPrint">
                        <div class="reminder-popup-wrap">
                            
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin sell-group-decor12">
                                        <div class="col-md-12 override_margin">
                                            <p style="text-align:center;font-size:large;">Print the Invoice ? </p>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="panel panel-default override_margin">
                                    <div class="panel-footer clearfix col-md-12">                                          
                                        <div class="col-md-6"> <button id="yesButton" ng-class="{highlight2: (0 == selectedItem)}" name="yesButton" style="margin-left:35px;" value="Yes" focus-med="shouldBeOpen" ng-click="close('Yes')" ng-keydown="keyPress($event)" data-dismiss="modal">YES</button></div>
                                        <div class="col-md-6"> <button id="noButton" ng-class="{highlight2: (1 == selectedItem)}" name="noButton" value="No" ng-click="close('No')" ng-keydown="keyPress($event)" data-dismiss="modal">NO</button></div>
                                    </div>
                                </div>                            
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .highlight2 {
        background-color: #f57104;
        color: white;        
    }       
</style>

 






