﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
    <script type="text/ng-template" id="missedOrders">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:1000px;">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Missed Orders</h3>
                    <ng-form id="missedOrder" name="missedOrder">
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row form-data">
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin sell-group-decor12">
                                        <div class="col-md-12 override_margin">
                                            <div class="col-sm-4 input-group trimLR sell-group-decor purchase-product txtUpper">
                                                <label>Product<span class="required">*</span></label>
                                                <input missedorder-focus="focusInput" title="Product Name"
                                                       type="text"
                                                       placeholder="Product"
                                                       id="drugName1"
                                                       name="drugName1"
                                                       class="form-control form-control-small"
                                                       ng-model="selectedProduct"
                                                       autofocus
                                                       typeahead-focus-on-select="false"
                                                       typeahead-min-length="1"
                                                       typeahead-no-results="noResults"
                                                       uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                                       required
                                                       typeahead-on-select="onProductSelect($event,selectedProduct)"
                                                       typeahead-template-url="/misseditemTpl.html" />

                                            </div>
                                            <div class="col-sm-3 input-group sell-group-decor">
                                                <label>Quantity <span class="required">*</span></label>
                                                <input type="text" title="Quantity" placeholder="Qty" id="OrderQuantity" name="quantity1" ng-model="selectedProduct.quantity" ng-change="changeQuantity(selectedProduct.quantity)" valid-number numbers-only required class="form-control form-control-small" ng-keyup="keyEnter($event,'price')" />
                                            </div>
                                            <div class="col-sm-3 input-group sell-group-decor">
                                                <label>Unit/MRP</label>
                                                <input type="text" title="Price" placeholder="Price" id="price" name="price" ng-model="selectedProduct.sellingPrice" valid-number class="form-control form-control-small" ng-keyup="keyEnter($event,'btnAdd')" />
                                                @*<span style="color:#ff2626;font-size:12px" ng-show="selectedProduct.sellingPrice==0">* Price should be greater than Zero </span>*@
                                            </div>
                                            <div class="col-md-2 input-group sell-group-decor" style="top:24px;">
                                                <button type="button" id="btnAdd" name="btnAdd" title="Add" class="btn btn-style" ng-disabled="selectedProduct.id==null || selectedProduct.quantity=='' ||selectedProduct.quantity==0|| selectedProduct.quantity==undefined" ng-click="addProduct()">ADD</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 sell-group-decor3 override_margin" ng-if="missedOrder.missedOrderItem != 0">
                                    <div class="panel panel-default override_margin" style="max-height:300px; overflow-y:auto;">
                                        <div class="panel-body orange-border-top">
                                            <div class='row override_margin'>
                                                <div class="col-md-10">
                                                    <label class="col-md-5 override_margin">Product</label>
                                                    <label class="col-md-2">Quantity</label>
                                                    <label class="col-md-2">Unit/MRP</label>
                                                    <label class="col-md-2">Total Price</label>
                                                </div>
                                                <div class="col-md-1">&nbsp;</div>
                                            </div>
                                            <div class='row'>
                                                <div ng-repeat="saleItem in missedOrder.missedOrderItem">
                                                    <div class="chip-style">
                                                        <span class="col-sm-12">
                                                            <div class="col-md-10">
                                                                <strong class="col-md-5 orange-text">{{saleItem.name | uppercase}}</strong>
                                                                <span class="col-md-2" ng-hide="saleItem.IsEdit">{{saleItem.quantity}}</span>
                                                                <input class="col-md-2 sell-decor12" ng-show="saleItem.IsEdit" type="text" id="productQuantity" name="productQuantity" placeholder="Quantity" ng-model="saleItem.quantity" style="max-width:100px;" valid-number numbers-only ng-disabled="true" />
                                                                <span class="col-md-2" ng-hide="saleItem.IsEdit">{{saleItem.sellingPrice | number:2}}</span>
                                                                <input class="col-md-2 sell-decor12" ng-show="saleItem.IsEdit" type="text" id="productPrice" name="productPrice" placeholder="productPrice" ng-model="saleItem.sellingPrice" style="max-width:120px;" valid-number />


                                                                <span class="col-md-2">{{ saleItem.quantity * saleItem.sellingPrice | number:2 }}</span>
                                                            </div>
                                                            <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;" title="Delete" ng-click="removeProduct(saleItem)"></span>&nbsp;
                                                            <span class="glyphicon glyphicon-edit" ng-hide="saleItem.IsEdit" style="cursor: pointer; padding:4px; margin: 2px;" ng-click="editProduct(saleItem)"></span>
                                                            <span class="glyphicon glyphicon-floppy-save" ng-show="saleItem.IsEdit" style="cursor: pointer; padding:4px; margin: 2px;" ng-click="saveProduct(saleItem)"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default override_margin">
                                    <div class="panel-footer clearfix">
                                        @*<input class="pull-left" type="checkbox" id="reminder" name="reminder" ng-model="reminder" style="width:unset;"/>
                                            <label class="pull-left" style="margin-left:5px;">Save in Reminder</label>*@
                                        @if (User.HasPermission(UserAccess.AddNewProduct))
                                        {
                                            <a title="Add New Product" data-ng-click="PopupAddNewProduct()" class="btn btn-style pull-left">Add New Product</a>
                                        }
                                        <button class="btn primary-button pull-right" ng-disabled="missedOrder.missedOrderItem == 0 || isAdd" ng-click="addOrder()">Add Order</button>
                                        <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="/misseditemTpl.html">

    <a tabindex="-1" class="productddl" ng-if="match.model.accountId==null">
        <span class='global'>G </span><span class="gap"> </span>
        <span ng-bind-template="{{match.model.name}}"></span>
    </a>
    <a tabindex="-1" class="productddl" ng-if="match.model.accountId!=null">
        <span class='global local'>L </span><span class="gap"> </span>
        <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>

<style>
    .form-data label {
        font-size: 14px !important;
    }

    .productddl span {
        color: #333 !important;
    }

    .form-data .productddl:hover span, .productddl span:hover {
        color: #fff !important;
    }
</style>






