﻿<script type="text/ng-template" id="searchProduct">
    <div class="popup-overlay form-popup">
        <shortcut></shortcut>
        <div class="middlealign">
            <div>
                <div class="sell-product-alternate">
                    <h2>
                        PRODUCT ALTERNATE SELECTION
                        <a class="close-btn-style" aria-hidden="true" data-dismiss="modal" data-ng-click="close('Cancel')">×</a>
                    </h2>
                    <div class="alternate-select">
                        <div class="row mb-15">
                            <div class="col-md-7">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div style="float: left;width: 70%;">Product<span class="error">*</span></div>
                                                <div style="float: left;width: 10%;"><span>[Ctrl+p]</span></div>
                                            </td>
                                            <td>
                                                <div class="input-group add-on col-md-12 override_margin pop-form position-relative">
                                                    <input title="Product Name"
                                                           type="text"
                                                           id="txtProduct"
                                                           name="drugName1"
                                                           focus-me="focusProduct"
                                                           placeholder="Enter Product"
                                                           typeahead-on-select="getProductDetails()"
                                                           data-ng-model="search.drugName"
                                                           typeahead-focus-on-select="false"
                                                           typeahead-min-length="1"
                                                           uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                                           data-ng-disabled="searchInValid"
                                                           popup-focus="focustxtProduct"
                                                           typeahead-loading="loadingLocations"
                                                           typeahead-no-results="noResults"
                                                           class="form-control" />
                                                    @*<div class="input-group-btn">
                                                            <button type="submit" class="alternet-search-btn">
                                                                <img src="/assets/images/alternet-search.png">
                                                            </button>
                                                        </div>*@
                                                    <span data-ng-if="noResults" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
                                                        <ul class="uib-dropdown-menu">
                                                            <li class="no-results-style" style="background-color:#fff;">
                                                                <a style="color:#000;text-decoration:none;">No results found</a>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                    <span data-ng-show="loadingLocations" class="glyphicon glyphicon-refresh glyphicon-refresh-animate position-absolute"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="float: left;width: 70%;">Generic Name</div>
                                                <div style="float: left;width: 10%;"><span>[Ctrl+g]</span></div>
                                            </td>
                                            <td>
                                                <div class="input-group add-on col-md-12 override_margin pop-form position-relative">
                                                    <input type="text"
                                                           data-ng-model="selectedGeneric"
                                                           focus-me="focusGenericName"
                                                           typeahead-on-select="searchGenericProducts(selectedGeneric)"
                                                           typeahead-min-length="1"
                                                           placeholder="Generic Name"
                                                           name="genericName"
                                                           title="Generic Name"
                                                           uib-typeahead="product as product.genericName for product in getGeneric($viewValue)"
                                                           class="form-control"
                                                           typeahead-loading="loadingGenerics"
                                                           typeahead-no-results="noGenerics"
                                                             />
                                                    <span data-ng-if="noGenerics" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
                                                        <ul class="uib-dropdown-menu">
                                                            <li class="no-results-style" style="background-color:#fff;">
                                                                <a style="color:#000;text-decoration:none;">No results found</a>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                    <span data-ng-show="loadingGenerics" class="glyphicon glyphicon-refresh glyphicon-refresh-animate position-absolute"></span>
                                                    @*<div class="input-group-btn z-index-8">
                                                            <button type="submit" class="alternet-search-btn">
                                                                <img src="/assets/images/alternet-search.png">
                                                            </button>
                                                        </div>*@
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Type</td>
                                            <td>
                                                <div class="pop-form">
                                                    <input type="text" disabled  class="cursor-na form-control" popup-focus="focustxttype" data-ng-model="search.type" placeholder="Type">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Schedule</td>
                                            <td>
                                                <div class="pop-form">
                                                    <input type="text" class="cursor-na form-control" disabled data-ng-model="search.schedule" placeholder="Schedule">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-5">
                                <h3>ALTERNATES</h3>
                                <div class="alternate-list pad-5px" id="historydata">
                                    <div class="sell-radio-button">
                                        <div class="product-batch">
                                            <div class="product-batch-body">
                                                <div class="row" data-ng-show="search.productStock.length != 0">
                                                    <div class="col-lg-12">
                                                        <div tabindex="0" data-ng-keydown="ProductRowChange($event)" id="div">
                                                            <input type="text" focus-me="focusFirstRow" style="text-align:center;border:none;" readonly />
                                                            <div class="input-group trimLR sell-group-decor txtUpper alttable-span" data-ng-class="{active: $index === isSelectedItem}" data-ng-click="selectRow($index)" style="width:100%;font-size:13px;" data-ng-repeat="item in search.productStock track by $index">
                                                                <span>
                                                                    <span data-ng-bind="item.product.name"></span> (<span data-ng-bind="item.stock"></span>)
                                                                    <span style="display:block;padding: 5px 5px 5px 15px !important;" data-ng-bind="item.product.manufacturer" class="manufact-css" data-ng-show="x.product.manufacturer != '.' && x.product.manufacturer != ''"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-ng-show="search.productStock.length == 0">
                                            <span style="color:black;">No Results Found</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-ng-show="isFormInvalid && search.productStock.length !=0 ">
                            <div class="col-lg-12">
                                <span class="messege error">* Stock Not Available</span>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button class="green-button pl-20 pr-20 fR"  
                                    data-ng-class="isFormInvalid ? 'btnDisabled' :'btnEnabled'" 
                                    data-ng-disabled="isFormInvalid" 
                                    data-ng-click="addProduct()">ADD</button>
                            <button class="darkgray-button mr-10  fR" data-ng-click="close('No')" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
