﻿<script type="text/ng-template" id="missedOrders">
    <div class="popup-overlay form-popup">
        <div id="middlealign">
            <div>
                <ng-form id="missedOrder" name="missedOrder">
                    <div class="sell-missed-order">
                        <h2>
                            MISSED ORDERS
                            <a class="close-btn-style" aria-hidden="true" data-dismiss="modal" data-ng-click="close('Cancel')">×</a>
                        </h2>
                        <div class="missed-order-section">
                            <div class="order-enter">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="text-left">PRODUCT<span class="error">*</span></th>
                                            <th class="text-left">QUANTITY<span class="error">*</span></th>
                                            <th class="text-left">MRP/UNIT</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="pop-form position-relative">
                                                    <input popup-focus="focusProductName"
                                                           title="Product Name"
                                                           type="text"
                                                           placeholder="Enter Product"
                                                           id="txtProduct"
                                                           name="drugName1"
                                                           class="form-control form-control-small"
                                                           data-ng-model="selectedMissedProduct"
                                                           typeahead-focus-on-select="false"
                                                           typeahead-min-length="1"
                                                           typeahead-no-results="noProducts"
                                                           uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                                           required
                                                           typeahead-on-select="onProductSelect(selectedMissedProduct)"
                                                           typeahead-template-url="/itemTpl.html"
                                                           typeahead-loading="loadingProducts" />


                                                    <span data-ng-if="noProducts" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
                                                        <ul class="uib-dropdown-menu">
                                                            <li class="no-results-style" style="background-color:#fff;">
                                                                <a style="color:#000;text-decoration:none;">No results found</a>
                                                            </li>
                                                        </ul>
                                                    </span>

                                                    <span data-ng-show="loadingProducts" class="glyphicon glyphicon-refresh glyphicon-refresh-animate position-absolute"></span>

                                                    @*focus-me="focusProductName"*@
                                                </div>
                                            </td>
                                            <td>
                                                <div class="pop-form">
                                                    <input type="text"
                                                           title="Quantity"
                                                           placeholder="Qty"
                                                           id="txtOrderQuantity"
                                                           name="quantity1"
                                                           data-ng-model="selectedMissedProduct.quantity"
                                                           data-ng-change="changeQuantity(selectedMissedProduct.quantity)"
                                                           valid-number
                                                           numbers-only
                                                           required
                                                           class="form-control form-control-small"
                                                           data-ng-keypress="keyEnter($event,'txtOrderQuantity','price',selectedMissedProduct.quantity)"
                                                           data-ng-disabled="selectedMissedProduct == null" />


                                                    @*focus-me="focusQuantity"*@
                                                </div>
                                            </td>
                                            <td>
                                                <div class="pop-form">
                                                    <input type="text"
                                                           title="Price"
                                                           placeholder="Price"
                                                           id="price"
                                                           name="price"
                                                           data-ng-model="selectedMissedProduct.sellingPrice"
                                                           valid-number
                                                           class="form-control form-control-small"
                                                           data-ng-keypress="keyEnter($event,'price','btnAdd',selectedMissedProduct.sellingPrice)"
                                                           data-ng-disabled="selectedMissedProduct == null" />


                                                    @*<span style="color:#ff2626;font-size:12px" data-ng-show="selectedMissedProduct.sellingPrice==0">* Price should be greater than Zero </span>*@

                                                </div>
                                            </td>
                                            <td>
                                                <button
                                                        id="btnAdd"
                                                        name="btnAdd"
                                                        title="Add"
                                                        class="green-button fR fs-20"
                                                        data-ng-disabled="selectedMissedProduct.id == null || selectedMissedProduct.quantity == ''||selectedMissedProduct.quantity == 0"
                                                         data-ng-class="(selectedMissedProduct.id == null || selectedMissedProduct.quantity == ''||selectedMissedProduct.quantity == 0) ? 'btnDisabled' :'btnEnabled'" 
                                                        data-ng-click="addProduct()">
                                                    <span>+</span>
                                                </button>


                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="missed-order-list" data-ng-if="missedOrder.missedOrderItem != 0">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>MRP/Unit</th>
                                            <th>Total Price</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="saleItem in missedOrder.missedOrderItem track by $index">
                                            <td>  <strong>{{saleItem.name | uppercase}}</strong></td>
                                            <td>
                                                <span data-ng-hide="saleItem.IsEdit">{{saleItem.quantity}}</span>
                                                <input class="col-md-2 sell-decor12 cursor-na" data-ng-show="saleItem.IsEdit" type="text" id="productQuantity" name="productQuantity" placeholder="Quantity" data-ng-model="saleItem.quantity" style="padding:0px;" valid-number numbers-only data-ng-disabled="true" />
                                            </td>
                                            <td class="pop-form">
                                                <span data-ng-hide="saleItem.IsEdit">{{saleItem.sellingPrice | number:2}}</span>

                                                <input class="col-md-2 sell-decor12" focus-me="saleItem.focusSellingPrice" data-ng-show="saleItem.IsEdit" type="text" id="productPrice" name="productPrice" placeholder="productPrice" data-ng-model="saleItem.sellingPrice" style="width:50%;padding-left:0px;" />

                                            </td>
                                            <td>{{ saleItem.quantity * saleItem.sellingPrice | number:2 }}</td>


                                            <td class="text-center" style="cursor:pointer;">
                                                <i data-ng-hide="saleItem.IsEdit" class="fa fa-pencil" aria-hidden="true" data-ng-click="editProduct(saleItem)"></i>

                                                <span class="glyphicon glyphicon-floppy-save" data-ng-show="saleItem.IsEdit" style="cursor: pointer; padding:4px; margin: 2px;" data-ng-click="saveProduct(saleItem)"></span>
                                            </td>


                                            <td class="text-center">
                                                <i class="fa fa-trash-o" style="cursor:pointer;" data-ng-click="removeProduct(saleItem)" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix">
                                <button class="green-button fR" 
                                        data-ng-disabled="missedOrder.missedOrderItem == 0 || isAdd" 
                                        data-ng-click="addOrder()"
                                        data-ng-class="(missedOrder.missedOrderItem == 0 || isAdd) ? 'btnDisabled' :'btnEnabled'">ADD ORDER</button>
                                <button data-ng-click="close('No')" data-dismiss="modal" class="darkgray-button mr-10  fR">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="/itemTpl.html">

    <a tabindex="-1" class="inActivecolor" data-ng-if="match.model.accountId==null">
        <span data-ng-bind-template="{{match.model.name}}"></span>
    </a>
    <a tabindex="-1" class="Activecolor" data-ng-if="match.model.accountId!=null">
        <span data-ng-bind-template="{{match.model.name}}"></span><span data-ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }
</style>






