﻿<script type="text/ng-template" id="createPatient">
    <div class="popup-overlay form-popup">
        <ng-form id="patient" name="patient">
            <div class="middlealign">
                <div>
                    <div class="sell-create-customer sell-popup-pos">
                        <shortcut></shortcut>
                        <div class="sell-temporary-stock" data-ng-if="isCustomerOrDept=='0'">
                            <h2>
                                {{mode}} Customer
                                <a class="close-btn-style" aria-hidden="true" data-dismiss="modal" data-ng-click="close('Cancel')">×</a>
                            </h2>
                        </div>
                        <div class="panel-heading panel-noborder sell-radio-button" style="height:40px;" data-if="isCustomerOrDept=='1'">
                            <ul class="clearfix">
                                <li class="mar-85 no-pad">
                                    <input type="radio" title="Customer" data-ng-disabled="mode=='Edit'" name="creatingorUpdating" value="1" data-ng-model="savePatient.patientType" data-ng-change="patientTypeChange()" id="iscustomerId" />
                                    <label for="iscustomerId" style="font-size:11px;">{{mode}} Customer</label>
                                    <div class="check"></div>
                                </li>
                                <li class="no-pad">
                                    <input type="radio" title="Department" data-ng-change="patientTypeChange()" name="creatingorUpdating" data-ng-disabled="mode=='Edit'" value="2" data-ng-model="savePatient.patientType" id="isDepartmentId" />
                                    <label for="isDepartmentId" style="font-size:11px;">{{depMode}} Department</label>
                                    <div class="check"></div>
                                </li>
                                <li class="pull-right no-pad">
                                    <button type="button" class="close" data-ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </li>
                            </ul>
                        </div>
                        <div class="create-customer-enter">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Name<span class="error">*</span></td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="Patient Name"
                                                       type="text"
                                                       placeholder="Enter Customer full name"
                                                       id="patientName"
                                                       popup-focus="focusInput"
                                                       name="patientName"
                                                       required
                                                       data-ng-model="savePatient.name"
                                                       ng-enter="focusNextField('shortName')"
                                                       no-special-char />
                                                <span class="error" data-ng-show="patient.patientName.$dirty && patient.patientName.$error.required">
                                                    Required!
                                                </span>
                                            </div>
                                        </td>
                                        <td ng-hide="disableShortName && savePatient.patientType=='2'">
                                            <div class="pop-form">
                                                <input title="Short Name"
                                                       placeholder="Short Name"
                                                       type="text"
                                                       id="shortName"
                                                       name="shortName"
                                                       class="search-query"
                                                       data-ng-model="savePatient.shortName"
                                                       maxlength="5"
                                                       data-ng-keyup="checkAllPurchasefields(2)"
                                                       data-ng-click="checkAllPurchasefields(2)"
                                                       data-ng-disabled="disableShortName"
                                                       idShortNameValid
                                                       ng-enter="focusNextField('customerDob')" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-hide="disableMale && savePatient.patientType=='2'">
                                        <td>Date of Birth</td>
                                        <td>
                                            <div class="pop-form">
                                                <div class='form-group'>
                                                    <input type="text"
                                                           id="customerDob"
                                                           name="dob"
                                                           uib-datepicker-popup="dd/MM/yyyy"
                                                           placeholder="DD/MM/YYYY"
                                                           data-ng-model="savePatient.dob"
                                                           is-open="popup1.opened"
                                                           datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)"
                                                           close-text="Close"
                                                           max-date="maxDate"
                                                           maxlength="10"
                                                           ng-enter="focusNextField('phone')"
                                                           my-date
                                                           data-ng-keyup="checkDateformate()" />
                                                    <span class="input-group-btn wrapper-date">
                                                        <button data-ng-disabled="Editsale" type="button" class="btn btn-default btn1 new-btn-cal" data-ng-click="open1()" style="position: absolute !important;top: -33px;left: 167px;">
                                                            <i class="cla-icon new-btn-cal-i" style="padding-bottom: 1px;"></i>
                                                        </button>
                                                    </span>
                                                    <span class="error" style="margin-left:10px;" data-ng-bind="DobError"></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-hide="disableMale && savePatient.patientType=='2'">
                                        <td>Gender</td>
                                        <td>
                                            <div class="pop-form">
                                                <div class="sell-radio-button">
                                                    <ul class="clearfix">
                                                        <li>
                                                            <input type="radio" id="male" data-ng-model="savePatient.gender" value="M"
                                                                   data-ng-keyup="checkAllPurchasefields(3)" checked data-ng-click="checkAllPurchasefields(4)" name="paymentType">
                                                            <label for="male">Male</label>
                                                            <div class="check"></div>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="female" name="paymentType" value="F" data-ng-model="savePatient.gender">
                                                            <label for="female">Female</label>
                                                            <div class="check"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-hide="disableMobile && savePatient.patientType=='2' ">
                                        <td>Mobile<span class="error">*</span></td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="Phone Number"
                                                       placeholder="Enter Mobile Number"
                                                       id="phone"
                                                       name="phone"
                                                       ng-enter="focusNextField('idNumer')"
                                                       required
                                                       data-ng-keyup="checkAllPurchasefields(4)"
                                                       data-ng-click="checkAllPurchasefields(4)"
                                                       data-ng-model="savePatient.mobile"
                                                       maxlength="10"
                                                       class="sell-decor9"
                                                       data-ng-disabled="disableMobile"
                                                       valid-Number />
                                                <span class="error" data-ng-show="patient.phone.$dirty && patient.phone.$error.required">
                                                    Required!
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-hide="disableMobile && savePatient.patientType=='2' ">
                                        <td>ID Number</td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="ID Number"
                                                       placeholder="Enter ID Number"
                                                       no-special-char
                                                       id="idNumer"
                                                       name="idNumer"
                                                       class="sell-decor9"
                                                       data-ng-keyup="checkAllPurchasefields(5)"
                                                       data-ng-click="checkAllPurchasefields(5)"
                                                       ng-enter="focusNextField('address')"
                                                       data-ng-model="savePatient.empID"
                                                       data-ng-change="idNumberChange()"
                                                       maxlength="15"
                                                       data-ng-disabled="disableIdNumber" />
                                                <div>
                                                    <span class="error" data-ng-show="IDNumberError==true">ID Number Already Exists</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="Address"
                                                       placeholder="Street Name"
                                                       id="address"
                                                       ng-enter="focusNextField('city')"
                                                       data-ng-keyup="checkAllPurchasefields(6)"
                                                       class="sell-decor9"
                                                       data-ng-click="checkAllPurchasefields(6)"
                                                       name="Address"
                                                       size="33"
                                                       type="text"
                                                       data-ng-model="savePatient.address" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="City"
                                                       placeholder="City"
                                                       class="sell-decor9"
                                                       id="city"
                                                       name="city"
                                                       ng-enter="focusNextField('pincode')"
                                                       data-ng-keyup="checkAllPurchasefields(7)"
                                                       data-ng-click="checkAllPurchasefields(7)"
                                                       size="33"
                                                       type="text"
                                                       data-ng-model="savePatient.city" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="Pincode"
                                                       class="sell-decor9"
                                                       id="pincode"
                                                       name="pincode"
                                                       data-ng-keyup="checkAllPurchasefields(8)"
                                                       data-ng-click="checkAllPurchasefields(8)"
                                                       ng-enter="focusNextField('email')"
                                                       size="33"
                                                       type="text"
                                                       placeholder="Pincode"
                                                       data-ng-model="savePatient.pincode"
                                                       valid-number
                                                       maxlength="8"
                                                       no-special-char />
                                            </div>
                                        </td>
                                    </tr>


                                    <tr ng-hide="disableEmail">
                                        <td>Email</td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="Email Id"
                                                       type="email"
                                                       id="email"
                                                       name="email"
                                                       data-ng-keyup="checkAllPurchasefields(9)"
                                                       class="sell-decor9"
                                                       data-ng-click="checkAllPurchasefields(9)"
                                                       ng-enter="focusNextField('txtGstin')"
                                                       data-ng-model="savePatient.email"
                                                       size="30"
                                                       placeholder="Email ID"
                                                       data-ng-disabled="disableEmail" />
                                            </div>
                                        </td>
                                    </tr>




                                    <tr>
                                        <td>GSTIN No</td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="GSTIN No."
                                                       type="text"
                                                       class="form-control email"
                                                       id="txtGstin"
                                                       name="GSTinNo"
                                                       ng-enter="focusNextField('txtPan')"
                                                       data-ng-model="savePatient.gsTin"
                                                       placeholder="GSTIN No."
                                                       alpha-numeric
                                                       maxlength="15" />
                                            </div>
                                        </td>
                                    </tr>





                                    <tr>
                                        <td>PAN No</td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="PanNo"
                                                       type="text"
                                                       class="form-control email"
                                                       id="txtPan"
                                                       name="PanNo"
                                                       ng-enter="focusNextField('ddlLocationType')"
                                                       data-ng-model="savePatient.pan"
                                                       placeholder="Pan"
                                                       alpha-numeric
                                                       maxlength="10" />
                                            </div>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>Location Type</td>
                                        <td>
                                            <div class="pop-form">
                                                <select id="ddlLocationType"
                                                        class="form-control"
                                                        ng-enter="focusNextField('Discount')"
                                                        data-ng-model="savePatient.locationTypeName"
                                                        data-ng-options="item as item for item in LocationTypeList"
                                                        title="Location Type"></select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Discount%</td>
                                        <td>
                                            <div class="pop-form">
                                                <input max="5"
                                                       maxlength="5"
                                                       title="Discount"
                                                       data-ng-change="customerDiscount(savePatient.discount)"
                                                       class="sell-decor9"
                                                       data-ng-keyup="checkAllPurchasefields(10)"
                                                       ng-enter="focusNextField('saveCustomer')"
                                                       data-ng-click="checkAllPurchasefields(10)"
                                                       id="Discount"
                                                       name="Discount"
                                                       data-ng-model="savePatient.discount"
                                                       size="2"
                                                       placeholder="Discount"
                                                       valid-number
                                                       data-ng-disabled="disableDiscount"
                                                       data-ng-class="savePatient.discount>100 || savePatient.discount == '.' ? 'highlight' :''" />
                                                <span style="float:left;width:100%;" data-ng-if="savePatient.discount > 100 || (savePatient.discount == '.')" class="error">*Must be less than 100%</span>
                                                <span style="float:left;width:100%;" data-ng-show="maxDiscountExceeds" class="error">* Maximum Discount exceeds</span>
                                            </div>
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td>Type</td>
                                            <td>
                                                <div class="pop-form">
                                                    <select name="" id="custtype" class="custom-dropdown" data-ng-enter="focusNextField('saveCustomer')">
                                                        <option value="">Select</option>
                                                        <option value="">walk IN </option>
                                                        <option value="">Direct</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>*@
                                    <tr>
                                        <td>Credit</td>
                                        <td>
                                            <div class="pop-form">
                                                <div class="popup-checkbox credit">
                                                    <input type="checkbox"
                                                           name="custom_checkbox11"
                                                           id="custom_checkbox11"
                                                           data-ng-model="paymentType"
                                                           data-ng-disabled="disableCredit"
                                                           data-ng-change="changePaymentType(paymentType)"
                                                           value="Credit">
                                                    <label for="custom_checkbox11">Yes</label>
                                                </div>
                                                @*<input type="text" name="" value="" data-ng-disabled="disableCredit" data-ng-model="savePatient.creditamt" numbers-only aw-limit-length="4" placeholder="Enter Amount" class="credit-enter"/>*@
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix">
                                <button title="Create"
                                        id="saveCustomer"
                                        name="saveCustomer"
                                        data-ng-click="create()"
                                        class="green-button mr-15 pl-20 pr-20 fR"
                                        data-ng-class="patient.$invalid || savePatient.discount >100 || savePatient.discount == '.' || maxDiscountExceeds ? 'btnDisabled' :'btnEnabled'"
                                        data-ng-disabled="patient.$invalid || savePatient.discount >100 || savePatient.discount == '.' || maxDiscountExceeds">
                                    Save
                                </button>
                                <button type="button" class="darkgray-button mr-10 pull-right" data-ng-click="close('No')" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</script>