﻿<script type="text/ng-template" id="tempStock">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <ng-form id="frmTempStock" name="frmTempStock">
                    <div class="sell-temporary-stock">
                        <h2>
                            ADD TEMPORARY STOCK
                            <a class="close-btn-style" aria-hidden="true" data-dismiss="modal" data-ng-click="close('Cancel')">×</a>
                        </h2>
                        <div class="temporary-stock-enter">
                            <table class="add-temp-stock-tbl">
                                <thead class="add-tmp-stock-thead">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Product Name<span class="error">*</span></td>
                                        <td>
                                            <div class="pop-form position-relative">
                                                <input title="Product Name"
                                                       type="text"
                                                       placeholder="Enter Product Name"
                                                       id="tempDrugName"
                                                       name="drugName"
                                                       data-ng-model="tempProduct"
                                                       typeahead-focus-on-select="false"
                                                       typeahead-min-length="1"
                                                       uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                                       product-focus="focusInput"
                                                       data-ng-keyup="keyEnter($event,'batchNo')"
                                                       typeahead-no-results="noTempProducts"
                                                       typeahead-loading="loadingTempProducts"
                                                       typeahead-template-url="/itemTpl.html" />
                                                <span ng-if="noTempProducts" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
                                                    <ul class="uib-dropdown-menu">
                                                        <li class="no-results-style" style="background-color:#fff;">
                                                            <a style="color:#000;text-decoration:none;">No results found</a>
                                                        </li>
                                                    </ul>
                                                </span>
                                                <span data-ng-show="loadingTempProducts" class="glyphicon glyphicon-refresh glyphicon-refresh-animate position-absolute"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Batch No.<span class="error">*</span></td>
                                        <td>
                                            <div class="pop-form">
                                                <input type="text"
                                                       id="batchNo"
                                                       name="batchNo"
                                                       placeholder="Enter Batch No."
                                                       data-ng-model="temp.productStock.batchNo"
                                                       maxlength="10"
                                                       data-ng-keyup="keyEnter($event,'expDate')"
                                                       required />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Expiry Date<span class="error">*</span></td>
                                        <td>
                                            @*<div class="pop-form">
                                                    <input type="text"
                                                           class="form-control form-control-small expiry-date cla-icon"
                                                           id="expDate"
                                                           name="expDate"
                                                           required
                                                           uib-datepicker-popup="MM/yyyy"
                                                           placeholder="MM/YYYY"
                                                           ng-model="temp.productStock.expireDate"
                                                           is-open="popup2.opened"
                                                           min-date="minDate"
                                                           max-date="maxDate"
                                                           datepicker-options="dateOptions"
                                                           close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           my-date
                                                           ng-keyup="keyUp($event)"
                                                           ng-change="dayDiff(temp.productStock.expireDate)"
                                                           ng-click="open2()" />
                                                </div>
                                                <span class="error" style="margin-left:10px;" ng-show="frmTempStock.expDate.$error.InValidexpDate">Expire Date must be more than 30 days.</span>*@
                                            <div class="input-group trimLR override_margin cal_adjusted exp-date pop-form">
                                                <input type="text"
                                                       class="form-control form-control-small "
                                                       id="expDate"
                                                       name="expDate"
                                                       required
                                                       uib-datepicker-popup="MM/yy"
                                                       placeholder="MM/YY"
                                                       data-ng-model="temp.productStock.expireDate"
                                                       is-open="popup2.opened"
                                                       min-date="minDate"
                                                       max-date="maxDate"
                                                       datepicker-options="dateOptions"
                                                       close-text="Close"
                                                       alt-input-formats="altInputFormats"
                                                       my-date
                                                       maxlength="5"
                                                       data-ng-keyup="keyUp($event,'hsnCode1','expDate',temp.productStock.expireDate)"
                                                       data-ng-change="dayDiff(temp.productStock.expireDate)" />
                                                <span class="input-group-btn wrapper-date">
                                                    <button type="button" class="btn btn-default btn1" data-ng-click="open2()" style="padding: 4px;margin-left: 1px;border-radius: 0px;">
                                                        @*<i class="glyphicon glyphicon-calendar"></i>*@
                                                        <i class="cla-icon new-btn-cal-i" style="padding-bottom: 1px;"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <span class="error" style="margin-left:10px;" data-ng-show="frmTempStock.expDate.$error.InValidexpDate">Expire Date must be more than 30 days.</span>
                                        </td>
                                    </tr>
                                    @*<tr>
                                        <td>VAT<span class="error">*</span></td>
                                        <td>
                                            <div class="pop-form">
                                                <input type="text"
                                                       id="vat1"
                                                       name="vat"
                                                       maxlength="5"
                                                       min="0"
                                                       max="100"
                                                       valid-number
                                                       placeholder="Enter VAT"
                                                       data-ng-model="temp.productStock.vAT"
                                                       data-ng-change="checkMrp(temp.packagePurchasePrice,temp.packageSellingPrice,temp.productStock.vAT)"
                                                       data-ng-keyup="keyEnter($event,'packageSize',temp.productStock.vAT)"
                                                       required />
                                            </div>
                                        </td>
                                    </tr>*@

                                    <tr>
                                        <td>HSN Code</td>
                                        <td>
                                            <div class="pop-form">
                                                <input type="text"
                                                       id="hsnCode1"
                                                       name="hsnCode"
                                                       onfocus="this.select();"
                                                       placeholder="HSN Code"
                                                       maxlength="10"
                                                       data-ng-model="temp.productStock.hsnCode"
                                                       data-ng-keyup="keyEnter($event,'gstTotal1','hsnCode1',temp.productStock.hsnCode)"
                                                       data-ng-disabled="!GSTEnabled"
                                                       alpha-numeric />
                                            </div>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td><label class="required">GST Total %</label></td>
                                        <td>
                                            <div class="pop-form">
                                                <input type="text"
                                                       id="gstTotal1"
                                                       name="gstTotal"
                                                       maxlength="5"
                                                       min="0"
                                                       max="100"
                                                       placeholder="0.00"
                                                       onfocus="this.select();"
                                                       data-ng-model="temp.productStock.gstTotal"
                                                       data-ng-keyup="keyEnter($event,'packageSize','gstTotal1',temp.productStock.gstTotal)"
                                                       check-percent
                                                       data-ng-change="changeGST(temp.productStock.gstTotal)" />
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td><label class="required">IGST %</label></td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="IGST"
                                                       id="igst"
                                                       name="igst"
                                                       type="text"
                                                       valid-number
                                                       placeholder="0.00"
                                                       maxlength="5"
                                                       class="form-control"
                                                       data-ng-model="temp.productStock.igst"
                                                       data-ng-disabled="true" />
                                            </div>
                                        </td>
                                    </tr>




                                    <tr>
                                        <td><label class="required">CGST %</label></td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="CGST"
                                                       id="cgst"
                                                       name="cgst"
                                                       type="text"
                                                       valid-number
                                                       placeholder="0.00"
                                                       maxlength="5"
                                                       class="form-control"
                                                       data-ng-model="temp.productStock.cgst"
                                                       data-ng-disabled="true" />
                                            </div>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td><label class="required">SGST / UTGST %</label></td>
                                        <td>
                                            <div class="pop-form">
                                                <input title="SGST"
                                                       id="sgst"
                                                       name="sgst"
                                                       type="text"
                                                       valid-number
                                                       placeholder="0.00"
                                                       maxlength="5"
                                                       class="form-control"
                                                       data-ng-model="temp.productStock.sgst"
                                                       data-ng-disabled="true" />
                                            </div>
                                        </td>
                                    </tr>



                                    <tr>
                                        <td>Units/Strips<span class="error">*</span></td>
                                        <td>
                                            <div class="pop-form">

                                                <input type="text"
                                                       name="packageSize"
                                                       id="packageSize"
                                                       min="0"
                                                       placeholder="Enter Units/Strips"
                                                       maxlength="4"
                                                       data-ng-model="temp.packageSize"
                                                       pattern="\d+"
                                                       data-ng-keyup="keyEnter($event,'packageQty',temp.packageSize)"
                                                       required
                                                       valid-number
                                                       numbers-only />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>No. of Strip<span class="error">*</span></td>
                                        <td>
                                            <div class="pop-form">

                                                <input type="text"
                                                       min="0"
                                                       placeholder="Enter No. of Strip"
                                                       maxlength="4"
                                                       id="packageQty"
                                                       data-ng-model="temp.packageQty"
                                                       pattern="\d+"
                                                       data-ng-keyup="keyEnter($event,'packageSellingPrice',temp.packageQty)"
                                                       required
                                                       valid-number
                                                       numbers-only />


                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>MRP/Strip<span class="error">*</span></td>
                                        <td>
                                            <div class="pop-form">

                                                <input class="form-control form-control-small"
                                                       type="text"
                                                       id="packageSellingPrice"
                                                       name="packageSellingPrice"
                                                       data-ng-change="checkMrp(temp.packagePurchasePrice,temp.packageSellingPrice,temp.productStock.gstTotal)"
                                                       placeholder="Enter MRP/Strip"
                                                       min="0"
                                                       maxlength="6"
                                                       data-ng-model="temp.packageSellingPrice"
                                                       data-ng-keyup="keyEnter($event,'btnSubmit',temp.packageSellingPrice)"
                                                       required
                                                       valid-number />


                                                <span class="error" data-ng-show="frmTempStock.packageSellingPrice.$error.checkMrpError" style="margin:0px;">MRP must be greater than Cost + GST</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix">
                                <button data-ng-click="PopupAddNewProduct()" class="line-button-green">ADD NEW PRODUCT</button>

                                @*<button id="btnSubmit" name="btnSubmit" class="green-button fR pl-20 pr-20" data-ng-click="addStock()">ADD</button>*@

                                <button id="btnSubmit"
                                        name="btnSubmit"
                                        data-ng-disabled="!frmTempStock.$valid || tempProduct.id==null"
                                        class="green-button fR pl-20 pr-20"
                                        data-ng-click="addStock()"
                                        data-ng-class="!frmTempStock.$valid || tempProduct.id==null ? 'btnDisabled' :'btnEnabled'">
                                    ADD
                                </button>


                                <button data-ng-click="close('No')" data-dismiss="modal" class="darkgray-button mr-10  fR">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="/itemTpl.html">
    <a tabindex="-1" class="inActivecolor" data-ng-if="match.model.accountId==null">
        <span data-ng-bind-template="{{match.model.name}}"></span>
    </a>
    <a tabindex="-1" class="Activecolor" ng-if="match.model.accountId!=null">
        <span data-ng-bind-template="{{match.model.name}}"></span>
        <span data-ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>


<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .cal_adjusted {
        position: relative;
    }

    .override_margin {
        padding: 1px !important;
        margin: 0px !important;
    }

    .trimLR {
        padding-left: 0px;
        padding-right: 0px;
    }

    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
    }

    .exp-date .btn-default {
        border: none !important;
    }

    .exp-date td {
        padding: 0px !important;
    }
</style>




