﻿<script type="text/ng-template" id="NewproductReturn">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <div class="sell-temporary-stock" style="padding-bottom:0;">
                    <h2>PRODUCT RETURN<a class="close-btn-style" aria-hidden="true" data-dismiss="modal" data-ng-click="close('Cancel')">×</a></h2>
                    <ng-form id="productReturn" name="productReturn">
                        <div class="form-container">
                            <table class="add-temp-stock-tbl" style="width:100%; margin-bottom:0;">
                                <tbody>
                                    <tr>
                                        <td>Product</td>
                                        <td>Quantity</td>
                                        <td>Batch</td>
                                        <td>DISC %</td>
                                        <td>Expriry</td>
                                        <td>GST %</td>
                                        <td>MRP</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!--<input title="Product Name" style="width:120px;" type="text" placeholder="Enter Number Here" id="returnProductName" name="productName" class="input-field">-->
                                            <input missedorder-focus="focusInput"
                                                   title="Product Name"
                                                   type="text"
                                                   style="width:220px;"
                                                   placeholder="Product"
                                                   id="drugName1"
                                                   name="drugName1"
                                                   class="input-field"
                                                   ng-model="selectedProduct_1"
                                                   typeahead-focus-on-select="false"
                                                   typeahead-min-length="1"
                                                   typeahead-no-results="noResults"
                                                   uib-typeahead="product as product.name for product in getProducts11($viewValue)"
                                                   ng-keyup="CheckName1()"
                                                   required
                                                   typeahead-on-select="onProductSelect1()"
                                                   typeahead-template-url="/itemTpl1.html"
                                                   popup-focus="focustxtProduct1" />
                                            <span class="error" ng-show="productReturn.drugName1.$dirty && productReturn.drugName1.$error.required">Select drug name</span>
                                            <span class="highlight">{{eancodeAlert1}}</span>
                                        </td>
                                        <td>
                                            <!--<input type="text" id="quantity" class="input-field" name="quantity" placeholder="Enter Quantity" style="width:80px;">-->
                                            <input type="text" title="Quantity" placeholder="Qty" id="ReturnQuantity" name="ReturnQuantity" ng-model="selectedBatch1.quantity" style="width:70px;" maxlength="7" ng-change="validateQuantity(selectedBatch1.quantity)" valid-number numbers-only required class="input-field" ng-enter="focusNext('ReturnQuantity','batch1')" />
                                            <span class="error" ng-show="productReturn.ReturnQuantity.$dirty && productReturn.ReturnQuantity.$error.required">Required</span>
                                        </td>
                                        <td>
                                            <!--<select name="" class="input-field" style="width:110px;">
                                                <option value="1">Select</option>
                                            </select>-->
                                            <select title="Batch Number"
                                                    id="batch1"
                                                    name="batch1"
                                                    class="input-field"
                                                    style="width:150px;"
                                                    option="batchList1"
                                                    data-placeholder="Select Batch Number"
                                                    ng-disabled="selectedBatch1.editId != null"
                                                    ng-model="selectedBatch1"
                                                    ng-options="key as (item.batchNo + '   ('+ item.availableQty + ')') for (key, item) in                             batchList1 track by item.productStockId"
                                                    ng-change="batchSelected1(selectedBatch1)"
                                                    ng-enter="focusNext('batch1','discount1')"></select>
                                        </td>
                                        <td>
                                            <!--<input type="text" id="disc" name="disk" style="width:80px;" placeholder="DISC" class="input-field">-->
                                            <input type="text" title="Discount" id="discount1" style="width:80px;" name="discount1" class="input-field"
                                                   ng-change="changediscountsale1(selectedBatch1.discount,true)" placeholder="Disc"
                                                   ng-model="selectedBatch1.discount" data-ng-class="selectedBatch1.discount>100?                                     'highlight' :''"
                                                   valid-number ng-enter="assignfocus('discount1')" ng-disabled="patientType == 2" />
                                            <span data-ng-if="selectedBatch1.discount=='.'" class="highlight">Must be valid no. </span>
                                            <span data-ng-if="selectedBatch1.discount>100" class="highlight">Must be less than 100% </span>
                                        </td>
                                        <td>
                                            <!--<input type="text" id="expriry" name="expriry" disabled="disabled" class="input-field" style="width:80px;">-->
                                            <input title="Expire Date" type="text" id="expireDate1" style="width:80px;" name="expireDate1" class="input-field" value="{{selectedBatch1.expireDate | date:'MM/yy'}}" disabled />
                                            <span class="error" ng-if="highlight1 == 'Expiry'">{{selectedBatch1.expireDate | date:'MMM yy'}}  {{highlight1}}</span>
                                        </td>
                                        <td>
                                            <!--<input title="GST" id="igst" name="gst" type="text" placeholder="GST" class="input-field" disabled="disabled" style="width:80px;">-->
                                            <input ng-show="gstEnable==true" title="GST" type="text" id="gstTotal1" name="gstTotal1" class="input-field" maxlength="4" ng-model="selectedBatch1.gstTotal" valid-number ng-enter="focusNext('gstTotal1','sellingPrice1')"
                                                   placeholder="GST" ng-disabled="!selectedBatch1.canEnableTaxEdit" style="width:80px;" />
                                            <span ng-show="gstEnable==true" data-ng-if="selectedBatch1.gstTotal>100" class="highlight">Must be less than 100% </span>
                                        </td>
                                        <td>
                                            <!--<input title="MRP" id="mrp" name="MRP" type="text" placeholder="" class="input-field" style="width:80px;">-->
                                            <input title="Selling Price" type="text" id="sellingPrice1" name="sellingPrice1" class="input-field" style="width:80px;" maxlength="9" ng-model="selectedBatch1.sellingPrice" valid-decimal-number ng-change="validateSellingPrice1(selectedBatch1,true)" required ng-enter="focusNext('sellingPrice1','btnReturn')" ng-disabled="patientType == 2" />
                                            <span class="error" style="margin-left:0px;" ng-if="(selectedProduct_1.product.name==''  && selectedBatch1.purchasePrice=='') || (selectedBatch1.purchasePrice > selectedBatch1.sellingPrice ||selectedBatch1.sellingPrice =='.' )" data-ng-message="required">Price must be greater than Purchase Price</span>
                                            <span class="error" ng-show="sellingPrice1.$dirty && sellingPrice1.$error.required">Required</span>
                                        </td>
                                        <td style="text-align:right;">
                                            <!--<button class="green-button pl-20 pr-20 btnDisabled">RETURN</button>
                                            <button id="btnClear" name="btnClear" class="darkgray-button mr-10 btn Disabled" disabled="disabled">CLEAR</button>-->
                                            <button type="button"
                                                    id="btnReturn"
                                                    name="btnReturn"
                                                    title="Return"
                                                    class="green-button pl-20 pr-20"
                                                    ng-click="addReturn()"
                                                    style="padding-right:10px !important;"
                                                    ng-disabled="(selectedBatch1.sellingPrice < selectedBatch1.purchasePrice || selectedBatch1.discount > 100 || batchList1.length == 0 || !quantityValid ||selectedProduct_1.product.name=='' || selectedProduct_1.product.name== undefined || selectedBatch1.sellingPrice == '' || selectedBatch1.sellingPrice == null || gstvalidate()==false)"
                                                    ng-enter="addReturn()"
                                                    data-ng-class="(selectedBatch1.sellingPrice < selectedBatch1.purchasePrice || selectedBatch1.discount > 100 || batchList1.length == 0 || !quantityValid ||selectedProduct_1.product.name=='' || selectedProduct_1.product.name== undefined || selectedBatch1.sellingPrice == '' || selectedBatch1.sellingPrice == null || gstvalidate()==false) ? 'btnDisabled' :'btnEnabled'">
                                                RETURN
                                            </button>
                                            <button class="darkgray-button mr-10 btn"
                                                    title="clear"
                                                    id="resetReturn"
                                                    name="resetReturn"
                                                    ng-click="clearReturn()">
                                                CLEAR
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><div class="txt-desc">Total Quantity:</div></td>
                                        <td colspan="5"></td>
                                        <td><div class="txt-desc">Purchase Price:</div></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-container">
                            <!--<table class="add-temp-stock-tbl table-border" style="width:100%; border-collapse: collapse; margin-bottom:0; border:solid 1px #cccccc; padding:8px; text-align:left;">
                                <thead style="background:#bec9d5;">
                                    <tr>
                                        <th style="width:120px;"></th>
                                        <th style="width:80px;">S.No.</th>
                                        <th style="width:450px;">Product</th>
                                        <th>Quantity</th>
                                        <th>DISC %</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="salesItem in tempReturnItem">
                                    <tr>
                                        <td><span class="add-btn" id="chip-btn1{{$index}}" data="{{$index}}" ng-click="toggleProductDetail1($event)">+</span></td>
                                        <td><strong class="orange-text ng-binding">{{$index+1}}</strong></td>
                                        <td><strong class="orange-text ng-binding">{{salesItem.product.name | uppercase}}</strong></td>
                                        <td><span>{{salesItem.quantity * (-1)}}</span></td>
                                        <td><span>{{salesItem.discount}}</span></td>
                                        <td><span> {{salesItem.sellingPrice * salesItem.quantity * (-1) | number:2}}</span></td>
                                    </tr>
                                    <tr style="overflow: hidden; display: none;" id="chip-wrapper1{{$index}}">
                                        <td>
                                            <table class="table">
                                                <thead class="chips-header">
                                                    <tr>
                                                        <th>Batch No</th>
                                                        <th>Expired Date</th>
                                                        <th ng-hide="gstEnable==true">VAT</th>
                                                        <th ng-show="gstEnable==true">GST</th>
                                                        <th>Barcode</th>
                                                        <th ng-show="enableSelling">Selling</th>
                                                        <th>MRP</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-left">
                                                        <td>{{salesItem.batchNo}}</td>
                                                        <td>{{salesItem.expireDate | date:'MM/yy'}}</td>
                                                        <td ng-hide="gstEnable==true">{{salesItem.vat}}</td>
                                                        <td ng-show="gstEnable==true">{{salesItem.gstTotal}}</td>
                                                        <td>{{salesItem.purchaseBarcode}}</td>
                                                        <td>{{salesItem.sellingPrice}}</td>
                                                        <td ng-show="enableSelling">{{salesItem.mrp}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>-->
                            <div class="col-md-12 sell-group-decor3 override_margin" ng-if="tempReturnItem.length != 0">
                                <div class="panel panel-default override_margin" style="max-height:300px; overflow-y:auto;">
                                    <div class="panel-body orange-border-top">
                                        <div class='row override_margin'>
                                            <div class="col-md-1">&nbsp;</div>
                                            <div class="col-md-11">
                                                <label class="col-md-1">S. No.</label>
                                                <label class="col-md-5">Product</label>
                                                <label class="col-md-1">Quantity</label>
                                                <label class="col-md-1">Disc %</label>
                                                <label class="col-md-2">Amount</label>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div ng-repeat="salesItem in tempReturnItem">
                                                <div class="chip-style col-sm-12" style="height:34px;">
                                                    <div class="col-md-1">
                                                        <span class="add-btn" id="chip-btn1{{$index}}" data="{{$index}}" ng-click="toggleProductDetail1($event)">+</span>
                                                    </div>
                                                    <div class="col-md-11 override_margin">
                                                        <div class="col-md-1">{{$index+1}}</div>
                                                        <div class="col-md-5">
                                                            <strong class="orange-text">{{salesItem.product.name | uppercase}}</strong>
                                                            <span ng-show="salesItem.availablestock >= 0" style="color:red;">[Avail.Qty : {{salesItem.availablestock}}]</span>
                                                        </div>
                                                        <div class="col-md-1"><span>{{salesItem.quantity * (-1)}}</span></div>
                                                        <div class="col-md-1"><span>{{salesItem.discount}}</span></div>
                                                        <div class="col-md-2"><span>{{salesItem.sellingPrice * salesItem.quantity * (-1) | number:2}}</span></div>
                                                    </div>
                                                </div>
                                                <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper1{{$index}}">
                                                    <table class="table">
                                                        <thead class="chips-header">
                                                            <tr>
                                                                <th>Batch No</th>
                                                                <th>Expired Date</th>
                                                                <th ng-hide="gstEnable==true">VAT</th>
                                                                <th ng-show="gstEnable==true">GST</th>
                                                                <th>Barcode</th>
                                                                <th ng-show="enableSelling">Selling</th>
                                                                <th>MRP</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="text-left">
                                                                <td>{{salesItem.batchNo}}</td>
                                                                <td>{{salesItem.expireDate | date:'MM/yy'}}</td>
                                                                <td ng-hide="gstEnable==true">{{salesItem.vat}}</td>
                                                                <td ng-show="gstEnable==true">{{salesItem.gstTotal}}</td>
                                                                <td>{{salesItem.purchaseBarcode}}</td>
                                                                <td>{{salesItem.sellingPrice}}</td>
                                                                <td ng-show="enableSelling">{{salesItem.mrp}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="add-temp-stock-tbl" style="width:100%; margin-bottom:0; margin-top:15px;">
                                <tbody>
                                    <tr>
                                        <td style="text-align:right;">
                                            <button class="green-button fR pl-20 pr-20" data-ng-class="tempReturnItem.length == 0 ? 'btnDisabled' :'btnEnabled'" ng-disabled="tempReturnItem.length == 0" style="padding-right:10px !important;" ng-click="addReturnToSales()">Return Items</button>
                                            <button class="darkgray-button mr-10" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="/itemTpl1.html">

        <a tabindex="-1" class="inActivecolor" ng-if="match.model.accountId==null">
            <span ng-bind-template="{{match.model.name}}"></span>
        </a>
        <a tabindex="-1" class="Activecolor" ng-if="match.model.accountId!=null">
            <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
        </a>
    </script>

    <style>
        .sell-temporary-stock {
            max-width: 1200px !important;
            padding: 10px !important;
            overflow: hidden !important;
        }

        .pop-form input {
            padding: 11px;
            height: 12px;
            background-color: #fff;
            border: 1px solid #cccccc;
        }

        .add-temp-stock-tbl td {
            padding-right: 10px;
        }

        .form-container {
            border: solid 1px #cccccc;
            border-radius: 5px;
            padding: 15px;
            margin: 10px 0;
            margin-bottom: 15px;
        }

        .input-field {
            display: block;
            padding: 8px;
            line-height: 1.428571429;
            color: #555;
            vertical-align: middle;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

            .input-field[disabled], .input-field[readonly], fieldset[disabled] .input-field {
                cursor: not-allowed;
                background-color: #eee;
            }

        .txt-desc {
            padding: 0;
            font-weight: bold;
        }

        .add-btn {
            background: #00c853;
            padding: 7px 11px;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            width: 3%;
        }

        .table-border th {
            padding: 12px;
        }

        .table-border td {
            padding: 12px;
        }

        .table-border tr:nth-child(even) {
            background-color: #fff;
        }
    </style>
</script>