﻿<script type="text/ng-template" id="NewupdateGSTINPopup">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <div class="sell-temporary-stock">
                    <h2>
                        UPDATE GSTIN NUMBER
                        <a class="close-btn-style" aria-hidden="true" data-dismiss="modal" data-ng-click="close('Cancel')">×</a>
                    </h2>
                    <div class="temporary-stock-enter">
                        <table class="add-temp-stock-tbl" style="width:100%; margin-bottom:0;">
                            <thead class="add-tmp-stock-thead">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="130px;">GSTIN Number <span class="error">*</span></td>
                                    <td>
                                        <div class="pop-form position-relative">
                                            <input title="GSTIN Number" 
                                                   popup-focus 
                                                   type="text" 
                                                   alpha-numeric 
                                                   data-ng-model="gsTinNo" 
                                                   maxlength="15" 
                                                   placeholder="Enter GSTIN Number" 
                                                   id="gstinno" 
                                                   name="GSTIN Number"/>
                                        
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="txt-desc">
                                        <input title="Print" 
                                               name="chkPrint" 
                                               data-ng-model="isEmail" 
                                               data-ng-disabled="originalGsTinNo == gsaTinNo || gsTinNo == ''" 
                                               type="checkbox" 
                                               style="margin-right:10px; float:left;">Share your GSTIN Number with your suppliers through Email</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align:center; position:relative; right:-25px; top:8px;">
                                        <button id="btnSubmit" 
                                                name="btnSubmit" 
                                                class="darkgray-button mr-10" 
                                                data-ng-click="close('No')">UPDATE LATER</button>
                                        <button class="green-button pl-20 pr-20" 
                                                data-ng-click="update()" 
                                                data-ng-disabled="originalGsTinNo == gsTinNo || gsTinNo == ''" 
                                                data-ng-class="originalGsTinNo == gsTinNo || gsTinNo == '' ? 'btnDisabled' :'btnEnabled'">UPDATE</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


