﻿<script type="text/ng-template" id="productReturn">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:1200px;">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Product Return</h3>
                    <ng-form id="productReturn" name="productReturn">
                        <div class="reminder-popup-wrapper">
                            <div class="row popup-row">
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin sell-group-decor12">
                                        <div class="row">
                                            <div class="col-sm-2 input-group trimLR sell-product sell-group-decor txtUpper">
                                                <div>
                                                    <label>Product</label>
                                                    <input missedorder-focus="focusInput"
                                                           title="Product Name"
                                                           type="text"
                                                           placeholder="Product"
                                                           id="drugName1"
                                                           name="drugName1"
                                                           class="form-control form-control-small"
                                                           ng-model="selectedProduct_1"
                                                           typeahead-focus-on-select="false"
                                                           typeahead-min-length="1"
                                                           typeahead-no-results="noResults"
                                                           uib-typeahead="product as product.name for product in getProducts11($viewValue)"
                                                           ng-keyup="CheckName1()"
                                                           required
                                                           typeahead-on-select="onProductSelect1()"
                                                           typeahead-template-url="/itemTpl1.html"
                                                           popup-focus="focustxtProduct1" />


                                                </div>
                                                <span class="error" ng-show="productReturn.drugName1.$dirty && productReturn.drugName1.$error.required">Select drug name</span>
                                                <span class="highlight">{{eancodeAlert1}}</span>
                                            </div>

                                            <div class="col-sm-1 input-group sell-group-decor">
                                                <div>
                                                    <label>Quantity</label>
                                                    <input type="text" title="Quantity" placeholder="Qty" id="ReturnQuantity" name="ReturnQuantity" ng-model="selectedBatch1.quantity" maxlength="7" ng-change="validateQuantity(selectedBatch1.quantity)" valid-number numbers-only required class="form-control form-control-small" ng-enter="focusNext('ReturnQuantity','batch1')" />
                                                </div>
                                                <span class="error" ng-show="productReturn.ReturnQuantity.$dirty && productReturn.ReturnQuantity.$error.required">Required</span>


                                            </div>

                                            <div class='col-md-2 override_margin'>
                                                <div class="input-group sell-group-decor col-md-12">
                                                    <label>Batch</label>
                                                    <select title="Batch Number" id="batch1" name="batch1"
                                                            option="batchList1"
                                                            data-placeholder="Select Batch Number"
                                                            ng-disabled="selectedBatch1.editId != null"
                                                            ng-model="selectedBatch1"
                                                            ng-options="key as (item.batchNo + '   ('+ item.availableQty + ')') for (key, item) in                             batchList1 track by item.productStockId"
                                                            class="form-control override_margin small"
                                                            ng-change="batchSelected1(selectedBatch1)"
                                                            ng-enter="focusNext('batch1','discount1')"></select>
                                                </div>
                                            </div>

                                            <div class="col-md-1 sellDiscount override_margin" style="padding-right:1px;">
                                                <div class="input-group sell-group-decor3">
                                                    <label class="lblSellDiscount">Disc %</label>

                                                    <input type="text" title="Discount" id="discount1" name="discount1" class="form-control"
                                                           ng-change="changediscountsale1(selectedBatch1.discount,true)" placeholder="Disc"
                                                           ng-model="selectedBatch1.discount" data-ng-class="selectedBatch1.discount>100?                                     'highlight' :''"
                                                           valid-number ng-enter="assignfocus('discount1')" ng-disabled="patientType == 2" />
                                                    <span data-ng-if="selectedBatch1.discount=='.'" class="highlight">Must be valid no. </span>
                                                    <span data-ng-if="selectedBatch1.discount>100" class="highlight">Must be less than 100% </span>
                                                </div>
                                            </div>

                                            <div class='col-md-1 override_margin'>
                                                <div class="input-group sell-group-decor3 expiry">
                                                    <label>Expiry</label>
                                                    <input title="Expire Date" type="text" id="expireDate1" name="expireDate1" class="form-control" value="{{selectedBatch1.expireDate | date:'MM/yy'}}" disabled />
                                                    <span class="error" ng-if="highlight1 == 'Expiry'">{{selectedBatch1.expireDate | date:'MMM yy'}}  {{highlight1}}</span>
                                                </div>
                                            </div>

                                            <div class='col-md-1 override_margin' style="text-align: center;" ng-hide="isComposite">
                                                <div class="input-group sell-group-decor3">
                                                    <label ng-hide="gstEnable==true">VAT %</label>
                                                    <input ng-hide="gstEnable==true" title="vat" type="text" id="vat1" name="vat1" class="form-control" maxlength="4" ng-model="selectedBatch1.vat" disabled />
                                                    <label ng-show="gstEnable==true">GST %</label>
                                                    @*<input ng-show="gstEnable==true" title="GST" type="text" id="gstTotal1" name="gstTotal1" class="form-control" maxlength="4" ng-model="selectedBatch1.gstTotal" valid-number ng-enter="assignfocusNext('gstTotal1')"
                                                           placeholder="GST" ng-disabled="!selectedBatch1.canEnableTaxEdit" />*@
                                                    <select id="gstTotal1" name="gstTotal1" class="form-control" title="GST Total" ng-show="gstEnable==true"
                                                            required ng-model="selectedBatch1.gstTotal" ng-enter="assignfocusNext('gstTotal1')"  ng-disabled="!selectedBatch1.canEnableTaxEdit && (taxValuesList | filter: { tax: selectedBatch1.gstTotal } : true).length != 0 && selectedBatch.gstTotal != 0  || gstReturnMode == true"
                                                            check-percent>                                                        
                                                        <option ng-repeat="tax in taxValuesList" value="{{tax.tax}}" ng-selected="selectedBatch1.gstTotal=={{tax.tax}}">{{tax.tax}}</option>
                                                    </select>
                                                    <span ng-show="gstEnable==true" data-ng-if="selectedBatch1.gstTotal>=100" class="highlight">Must be less than 100% </span>
                                                    <span class="error" style="margin-left:0px;" ng-show="gstReturnMode==true">Invalid GST {{selectedBatch1.gstTotal}}% Please update in Inventory Data Update</span>
                                                    
                                                </div>
                                            </div>

                                            <div class='col-md-1 override_margin' ng-show="salesPriceSetting == 3">
                                                <div class="input-group sell-group-decor3">
                                                    <label>P.Price</label>
                                                    <input title="P.Price" type="text" id="PPrice1" name="PPrice1" class="form-control" maxlength="9" ng-model="selectedBatch1.purchasePriceWithoutTax" valid-decimal-number required ng-enter="focusNext('PPrice1','sellingPrice1')" ng-disabled="patientType == 2" ng-change="calculateMrp(selectedBatch1)" />
                                                    <span class="error" ng-show="productReturn.PPrice1.$dirty && productReturn.PPrice1.$error.required">Required</span>
                                                </div>
                                            </div>

                                            <div class='col-md-1 override_margin'>
                                                <div class="input-group sell-group-decor3">
                                                    <label>MRP</label>
                                                    <input title="Selling Price" type="text" id="sellingPrice1" name="sellingPrice1" class="form-control" maxlength="9" ng-model="selectedBatch1.sellingPrice" valid-decimal-number ng-change="calculatePrice(selectedBatch1)" required ng-enter="focusNext('sellingPrice1','btnReturn')" ng-disabled="patientType == 2" />

                                                    <span class="error" style="margin-left:0px;" ng-if="(selectedProduct_1.product.name==''  && selectedBatch1.purchasePrice=='') || (selectedBatch1.purchasePrice > selectedBatch1.sellingPrice ||selectedBatch1.sellingPrice =='.' )" data-ng-message="required">Price must be greater than Purchase Price</span>

                                                    <span class="error" ng-show="productReturn.sellingPrice1.$dirty && productReturn.sellingPrice1.$error.required">Required</span>
                                                </div>
                                            </div>                                            

                                            <div class="col-md-2" style="margin-top:32px; width: 14%;">
                                                <button type="button" id="btnReturn" name="btnReturn" title="Return" class="btn btn-style" ng-click="addReturn()" ng-disabled="((selectedBatch1.sellingPrice < selectedBatch1.purchasePrice && salesPriceSetting != 3) || selectedBatch1.discount > 100 || batchList1.length == 0 || !quantityValid ||selectedProduct_1.product.name=='' || selectedProduct_1.product.name== undefined || selectedBatch1.sellingPrice == '' || selectedBatch1.sellingPrice == null || gstvalidate()==false) || (selectedBatch1.gstTotal >= 100 || ((selectedBatch1.purchasePriceWithoutTax =='' || selectedBatch1.purchasePriceWithoutTax ==null || selectedBatch1.purchasePriceWithoutTax == undefined) && salesPriceSetting == 3)) || gstReturnMode == true" ng-enter="addReturn()">RETURN</button>
                                                <button class="btn btn-style btn-cancel" title="clear" id="resetReturn" name="resetReturn" ng-click="clearReturn()">CLEAR</button>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-sm-2 col-lg-2">
                                                <label style="color:#3DB29F">Total Quantity : {{selectedBatch1.totalQuantity}}</label>
                                            </div>
                                            <div class="col-sm-2 col-lg-2">
                                                @*<label style="color:#3DB29F">Rack Number : {{selectedBatch1.rackNo}}</label>*@

                                            </div>
                                            <div class="col-sm-4 "></div>

                                            <div class="col-sm-2 col-lg-2 ">
                                                <label style="float:left;" ng-show="salesPriceSetting != 3">Purchase Price:</label>
                                                <label style="float:left;" ng-hide="salesPriceSetting != 3">Cost Price:</label>
                                                <label style="float:left;">{{selectedBatch1.purchasePrice | number:2}}</label>
                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 sell-group-decor3 override_margin" ng-if="tempReturnItem.length != 0">
                                    <div class="panel panel-default override_margin" style="max-height:300px; overflow-y:auto;">
                                        <div class="panel-body orange-border-top">
                                            <div class='row override_margin'>
                                                <div class="col-md-1">&nbsp;</div>
                                                <div class="col-md-10">
                                                    <label class="col-md-1 override_margin">S. No.</label>
                                                    <label class="col-md-5 override_margin">Product</label>
                                                    <label class="col-md-1" style="margin-left:40px;">Quantity</label>
                                                    <label class="col-md-1" style="margin-left:40px;">Disc %</label>
                                                    <label class="col-md-2" style="margin-left:70px;">Amount</label>
                                                </div>
                                                <div class="col-md-1">&nbsp;</div>
                                            </div>
                                            <div class='row'>
                                                <div ng-repeat="salesItem in tempReturnItem">
                                                    <div class="chip-style">
                                                        <span class="col-sm-12">
                                                            <button type="button" title="+" class="col-md-1 chip-btn" id="chip-btn1{{$index}}" data="{{$index}}" ng-click="toggleProductDetail1($event)">+</button>
                                                            <div class="col-md-10">
                                                                <div class="col-md-1 text-right" style="text-align:right;">{{$index+1}}</div>
                                                                <div class="col-md-6">
                                                                    <strong class="orange-text ng-binding">{{salesItem.product.name | uppercase}}</strong>
                                                                    <span ng-show="salesItem.availablestock >= 0" style="color:red;">[Avail.Qty : {{salesItem.availablestock}}]</span>
                                                                </div>
                                                               
                                                                <div class="col-md-1" style="margin-left:14px;text-align:right;"><span>{{salesItem.quantity * (-1)}}</span></div>
                                                                <div class="col-md-1" style="margin-left:14px;text-align:right;"><span>{{salesItem.discount}}</span></div>
                                                                <div class="col-md-2" style="text-align:right;"><span> {{salesItem.sellingPrice * salesItem.quantity * (-1) | number:2}}</span></div>
                                                            </div>
                                                        </span>
                                                    </div>

                                                    <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper1{{$index}}">
                                                        <table class="table">
                                                            <thead class="chips-header">
                                                                <tr>
                                                                    <th>Batch No</th>
                                                                    <th>Expired Date</th>
                                                                    <th ng-hide="gstEnable==true">VAT</th>
                                                                    <th ng-show="gstEnable==true" ng-hide="isComposite">GST</th>
                                                                    <th>Barcode</th>
                                                                    <th ng-show="enableSelling">Selling</th>
                                                                    <th>MRP</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="text-left">
                                                                    <td>{{salesItem.batchNo}}</td>
                                                                    <td>{{salesItem.expireDate | date:'MM/yy'}}</td>
                                                                    <td ng-hide="gstEnable==true">{{salesItem.vat}}</td>
                                                                    <td ng-show="gstEnable==true">{{salesItem.gstTotal}}</td>
                                                                    <td>{{salesItem.purchaseBarcode}}</td>
                                                                    <td>{{salesItem.sellingPrice}}</td>
                                                                    <td ng-show="enableSelling">{{salesItem.mrp}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default override_margin">
                                    <div class="panel-footer clearfix">
                                        <button class="btn primary-button pull-right" ng-disabled="tempReturnItem.length == 0" ng-click="addReturnToSales()">Return Items</button>
                                        <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="/itemTpl1.html">
  
    <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H'">
        <span class='schedule'>H </span><span class="gap"> </span>
        @*<span ng-bind-template="{{match.model.product.name}}" ng-if="match.model.accountId==null"></span>*@
        <span ng-bind-template="{{match.model.product.name}} ({{match.model.stock}})" ></span>
    </a>
    <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H1'">
        <span class='schedule orange'>H1 </span><span class="gap"> </span>        
        <span ng-bind-template="{{match.model.product.name}} ({{match.model.stock}})"></span>
    </a>
    <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'X'">
        <span class='schedule pink'>X </span><span class="gap"> </span>
        <span ng-bind-template="{{match.model.product.name}} ({{match.model.stock}})" ></span>
    </a>
    <a tabindex="-1" ng-if="match.model.product.schedule != 'H' && match.model.product.schedule != 'H1' && match.model.product.schedule != 'X'">
        <span class=''>&nbsp;&nbsp;&nbsp;&nbsp;<span class="gap"></span></span>
        <span ng-bind-template="{{match.model.product.name}} ({{match.model.stock}})"></span>
    </a>

</script>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }
</style>






