﻿<script type="text/ng-template" id="paymentPopup">
    <div class="popup-overlay form-popup in">
        <div class="middlealign">
            <div class="payment-details clearfix paymentpopwidth1280px">
                <div class="row-fluid">

                    <div class="col-md-12 no-pad-imp">
                        <h2 class="mar-sel-0 text-center">
                            PAYMENT DETAILS
                            <a class="close-btn-style" aria-hidden="true" data-ng-click="close('No')" style="color: #2d2d2d !important;">×</a>
                        </h2>
                    </div>
                </div>

                <ng-form id="paymentDetails" name="paymentDetails" novalidate>
                    <div id="pop-up-payment">

                        <div class="col-md-6 brd-right-1" style="width:100%">
                            <div>
                                <table class="payment-enter" width="100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="tdPendingAmount">
                                            <td>
                                                <span id="lblPendingAmount">NET AMOUNT:</span>
                                                <span id="spnPendingAmount">₹ {{ pendingAmount | number : 2}}</span>
                                            </td>
                                            <td class="text-right" style="padding-right:10px;"></td>
                                        </tr>
                                        <tr id="emptytr"><td></td><td></td></tr>
                                        <tr>
                                            <td>CASH</td>
                                            <td align="right">
                                                <div class="enter-field">
                                                    <input type="text"
                                                           name="cashpay"
                                                           id="cashpay"
                                                           product-focus="focusInput1"
                                                           data-ng-model="sales1.cashPayment.amount"
                                                           valid-number
                                                           maxlength="10"
                                                           placeholder="0"
                                                           class="enter-field"
                                                           data-ng-change="calculatePaymentDetails()" focus-box1 nextid="cardpay"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CARD</td>
                                            <td align="right">
                                                <div class="enter-field">
                                                    <input type="text" name="cardpay" id="cardpay" valid-number maxlength="10" data-ng-model="sales1.cardPayment.amount" placeholder="0" class="enter-field" data-ng-change="calculatePaymentDetails()" focus-box1 nextid="last4digitpay">
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Card Details -->
                                        <tr data-ng-hide="!showCard">
                                            <td colspan="3" class="carddetailsonclkk">
                                                <div class="">
                                                    <div class="disinlblk dpad-5">
                                                        <label class="disblock mar-0">Card Number</label>

                                                        <div class="">
                                                            <input type="text" name="last4digitpay" numbers-only id="last4digitpay" placeholder="Last 4 Digits" class="clsCardpayment"
                                                                   data-ng-model="sales1.cardPayment.cardNo" focus-box1
                                                                   maxlength="4" style="width:95px;" nextid="expiryDatepay">
                                                        </div>

                                                    </div>
                                                    <div class="disinlblk dpad-5">
                                                        <label class="disblock mar-0">Expiry Date</label>

                                                        <input type="text"
                                                               class="wexdate"
                                                               id="expiryDatepay"
                                                               name="expiryDatepay"
                                                               uib-datepicker-popup="MM/yy"
                                                               placeholder="MM/YY"
                                                               data-ng-model="sales1.cardPayment.cardDate"
                                                               datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)"
                                                               close-text="Close"
                                                               maxlength="5"
                                                               alt-input-formats="altInputFormats"
                                                               my-date
                                                               data-ng-change="checkExpiryDate(sales1.cardPayment.cardDate)"
                                                               data-ng-keyup="keyUp($event)"
                                                               focus-box1 nextid="cardTransIdpay" />
                                                    </div>
                                                    <div class="disinlblk dpad-5">
                                                        <label class="disblock mar-0">Transaction ID</label>
                                                        <input type="text" name="cardTransIdpay" id="cardTransIdpay" placeholder="" alpha-numeric class="" data-ng-model="sales1.cardPayment.cardTransId" style="width:95px;" focus-box1 nextid="chequepay" maxlength="20">
                                                    </div>
                                                    <div class="error">
                                                        <div class="col-md-4"> </div>
                                                        <div>
                                                            <span data-ng-show="sales1.cardDateError || sales1.cardDateFormatError">Expiry Date is invalid[MM/YY]</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- End Card Details -->
                                        <tr>
                                            <td>CHEQUE</td>
                                            <td align="right">
                                                <div class="enter-field">
                                                    <input type="text" name="chequepay" id="chequepay" valid-number maxlength="10" placeholder="0" data-ng-model="sales1.chequePayment.amount" class="enter-field" data-ng-change="calculatePaymentDetails()" focus-box1 nextid="chequeNumberpay">
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Cheque Details -->
                                        <tr data-ng-hide="!showCheque">
                                            <td colspan="3" class="carddetailsonclkk">
                                                <div class="disinlblk dpad-5">
                                                    <label class="disblock mar-0">Cheque No.</label>
                                                    <input type="text" name="chequeNumberpay" id="chequeNumberpay" placeholder="" class="" maxlength="16" data-ng-model="sales1.chequePayment.chequeNo" numbers-only style="width: 95px;" focus-box1 nextid="chequeDatepay">
                                                </div>
                                                <div class="disinlblk dpad-5">
                                                    <label class="disblock mar-0">Date</label>

                                                    <input type="text"
                                                           class="wexdate"
                                                           id="chequeDatepay"
                                                           name="chequeDatepay"
                                                           uib-datepicker-popup="dd/MM/yy"
                                                           placeholder="DD/MM/YY"
                                                           data-ng-model="sales1.chequePayment.chequeDate"
                                                           datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)"
                                                           close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           my-date
                                                           ng-keyup="checkChequeDate($event)" focus-box1 nextid="walletpay" />
                                                </div>
                                                @*<div class="disinlblk dpad-5">
                                                    <label class="disblock mar-0">Bank </label>
                                                    <input type="text" name="bankpay" id="bankpay" placeholder="Bank Name" focus-box1 class="" data-ng-model="sales1.chequePayment.bankName" style="width: 141px;" nextid="walletpay">
                                                </div>*@
                                                <div>
                                                    <div class="col-md-4"> </div>
                                                    <div>
                                                        <span class="error" data-ng-show="sales1.chequeDateError || sales1.chequeDateFormatError ">Cheque Date is invalid [DD/MM/YY]</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- End Cheque Details -->
                                        <tr>
                                            <td>
                                                E-WALLET
                                                <select name="walletpay" id="walletpay" class="custom-dropdown customer-type walletwid" focus-box1 nextid="walletAmtpay" ng-model="sales1.walletPayment.subPaymentInd">
                                                    <option value="" style="display:none;" disabled>Select Wallet</option>                                                    
                                                    <option ng-selected="sales1.walletPayment.subPaymentInd == x.domainValue" ng-repeat="x in eWalletOptions" value="{{x.domainValue}}">{{x.displayText}}</option>
                                                </select>
                                            </td>
                                            <td align="right">
                                                <div class="enter-field">
                                                    <input type="text" name="walletAmtpay" valid-number maxlength="10" id="walletAmtpay" data-ng-model="sales1.walletPayment.amount" placeholder="0" class="enter-field" data-ng-change="calculatePaymentDetails()" focus-box1 nextid="walletTransIdpay">
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Transaction ID -->
                                        <tr data-ng-hide="!showWallet">
                                            <td colspan="3" class="carddetailsonclkk">
                                                <div class="" style="display: inline-block;">
                                                    <label class="disinlblk mar-0">Transaction ID</label>
                                                    <input type="text" name="walletTransIdpay" id="walletTransIdpay" alpha-numeric value="" placeholder="" class="disinlblk" maxlength="20" data-ng-model="sales1.walletPayment.walletTransId" focus-box1 nextid="creditpay">
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Transaction ID -->
                                        <tr>
                                            <td>CREDIT</td>
                                            <td align="right">
                                                <div class="enter-field">
                                                    <input type="text"
                                                           name="creditpay"
                                                           id="creditpay"
                                                           valid-number
                                                           maxlength="10"
                                                           placeholder=""
                                                           data-ng-model="sales1.creditamout"
                                                           class="enter-field"
                                                           data-ng-change="calculatePaymentDetails()"
                                                           data-ng-disabled="hasCustomerData()"
                                                           focus-box1 nextid="btnCancelPayment1" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="balanace-amount">
                                            <td>PENDING AMOUNT</td>
                                            <td align="right">
                                                <div class="enter-field">
                                                    <span>{{sales1.credit | number : 2}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="balanace-amount">
                                            <td>TENDER CHANGE</td>
                                            <td align="right">
                                                <div class="enter-field">
                                                    <span>{{balanceAmount | number : 2}}</span>
                                                </div>
                                            </td>
                                        </tr>   
                                        <tr>
                                            <td>
                                                <button type="submit" id="btnCancelPayment" class="orange-line-btn" ng-click="close('No')">CANCEL</button>
                                                <button type="submit" id="btnCancelPayment1" ng-class="applyClass" ng-click="savePayment()" ng-disabled="!allowComplete">PAY</button>
                                                <button type="submit" id="btnCancelPayment2" ng-class="applyClass" ng-click="savePaymentPrint()" ng-disabled="!allowComplete">PAY & PRINT</button>
                                                </td>
                                            <td align="right">
                                                <button type="submit" id="btnClearPayment" class="orange-line-btn pull-right" ng-click="clear()">CLEAR</button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </ng-form>

            </div>
        </div>

    </div>

</script>











