﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
<script type="text/ng-template" id="tempStock">

    <div class="popup-overlay form-popup">

        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:95%;height:95%">

                    <div class="popup-close" data-ng-click="close('No')">
                        <i class="fa fa-times"></i>
                    </div>
                    <h3>
                        Add Temporary Stock
                    </h3>

                    <ng-form id="frmTempStock" name="frmTempStock" novalidate>
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row form-data">
                                <div class="reminder-popup-left">
                                    <div class="col-md-2 input-group sell-group-decor purchase-product txtUpper">
                                        <label>Product Name <span class="required">*</span></label>
                                        <input title="Product Name"
                                               type="text"
                                               placeholder="Product"
                                               id="tempDrugName"
                                               name="drugName"
                                               data-ng-model="tempProduct"
                                               typeahead-focus-on-select="false"
                                               typeahead-min-length="1"
                                               uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                               typeahead-on-select="onTempProductSelect()"
                                               data-ng-keyup="keyEnter($event,'batchNo','tempDrugName',tempProduct)"
                                               product-focus="focusInput" ng-disabled="EditMode"                                              
                                               typeahead-template-url="/tempitemTpl.html">
                                    </div>
                                    <div class="col-md-2 input-group sell-group-decor">
                                        <label>Batch No. <span class="required">*</span></label>
                                        <input type="text"
                                               id="batchNo"
                                               name="batchNo"
                                               data-ng-model="temp.productStock.batchNo"
                                               maxlength="10"
                                               data-ng-keydown="keyEnter($event,'expDate','batchNo',temp.productStock.batchNo)"
                                               ng-disabled="EditMode && (temp.isItemSaled || temp.isItemPurchase)"  
                                               ng-change="chkBatchNo()"                                            
                                               required />
                                        <span class="error" data-ng-show="frmTempStock.batchNo.$error.checkBatchNoError" style="margin-left:5px;">* required</span>
                                    </div>
                                    <div class="col-md-2 input-group sell-group-decor">
                                        <label>Expiry Date (mm/yy)<span class="required">*</span></label>

                                        <div class="input-group trimLR override_margin cal_adjusted">
                                            @*<input type="text"
                                                   class="form-control form-control-small"
                                                   id="expDate"
                                                   name="expDate"
                                                   required
                                                   uib-datepicker-popup="MM/yy"
                                                   placeholder="MM/YY"
                                                   data-ng-model="temp.productStock.expireDate"
                                                   is-open="popup2.opened"
                                                   min-date="minDate"
                                                   max-date="maxDate"
                                                   datepicker-options="dateOptions"
                                                   close-text="Close"
                                                   alt-input-formats="altInputFormats"
                                                   my-date
                                                   data-ng-keydown="keyUp($event,'hsnCode1','expDate',temp.productStock.expireDate)"
                                                   data-ng-change="dayDiff(temp.productStock.expireDate)" 
                                                   ng-disabled="EditMode"*@ 
                                            <input type="text"
                                                   class="form-control {{highlight}}"
                                                   id="expDate"
                                                   name="expDate"
                                                   required
                                                   uib-datepicker-popup="MM/yy"
                                                   placeholder="Expiry Date"
                                                   ng-model="temp.productStock.expireDate"
                                                   is-open="popup2.opened"
                                                   min-date="minDate"
                                                   max-date="maxDate"
                                                   datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)"
                                                   close-text="Close"
                                                   alt-input-formats="altInputFormats"
                                                   my-date maxlength="5"
                                                   title="Expiry Date"
                                                   ng-change="dayDiff(temp.productStock.expireDate)"                                                   
                                                   focus-box
                                                   data-ng-keydown="keyUp($event,'hsnCode1','expDate',temp.productStock.expireDate)"
                                                   ng-disabled="EditMode && (temp.isItemSaled || temp.isItemPurchase)" 
                                                   />

                                            <span class="input-group-btn wrapper-date">
                                                <button type="button" class="btn btn-default btn1" data-ng-click="open2()"  ng-disabled="EditMode && (temp.isItemSaled || temp.isItemPurchase)" >
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>

                                        @*<span class="error" style="margin-left:10px;" data-ng-show="frmTempStock.expDate.$error.InValidexpDate">Expire Date must be more than 30 days.</span>*@
                                        <span class="error" style="margin-left:10px;" data-ng-show="frmTempStock.expDate.$error.InValidexpDate">Expire Date must be more than 30 days.</span>
                                    </div>

                                    <div class="col-md-2 input-group sell-group-decor">
                                        <label>HSN Code</label>
                                        <input type="text"
                                               id="hsnCode1"
                                               name="hsnCode"
                                               onfocus="this.select();"
                                               placeholder="HSN Code"
                                               maxlength="10"
                                               data-ng-model="temp.productStock.hsnCode"
                                               data-ng-keydown="keyEnter($event,'packageSize','hsnCode1',temp.productStock.product.hsnCode)"
                                               data-ng-disabled="!GSTEnabled || (EditMode && (temp.isItemSaled || temp.isItemPurchase))"
                                               alpha-numeric                                               
                                                />
                                    </div>
                                    <div class="col-md-2 input-group sell-group-decor">
                                        <label>Units/Strips <span class="required">*</span></label>
                                        <input type="text"
                                               name="packageSize"
                                               id="packageSize"
                                               min="0"
                                               placeholder="0"
                                               onfocus="this.select();"
                                               maxlength="4"
                                               data-ng-model="temp.packageSize"
                                               pattern="\d+"
                                               data-ng-keydown="keyEnter($event,'packageQty','packageSize',temp.packageSize)"
                                               required ng-disabled="EditMode && (temp.isItemSaled || temp.isItemPurchase)"
                                               ng-change="checkPackageSize(temp.packageSize)"
                                               numbers-only valid-number />
                                        <span class="error" data-ng-show="frmTempStock.packageSize.$error.checkPackageSizeError" style="margin-left:0px;">Should be greater than 0.</span>
                                    </div>

                                    <div class="col-md-2 input-group sell-group-decor">
                                        <label>No. of Strip <span class="required">*</span></label>
                                        <input type="text"
                                               min="0"
                                               placeholder="0"
                                               maxlength="10"
                                               id="packageQty"
                                               name="packageQty"
                                               onfocus="this.select();"
                                               data-ng-model="temp.packageQty"
                                               pattern="\d+"
                                               data-ng-keydown="keyEnter($event,'packagePurchasePrice','packageQty',temp.packageQty)"
                                               required
                                               ng-change="validateFreeQty()"
                                               valid-number />
                                        <span class="error" data-ng-show="frmTempStock.packageQty.$error.checkNoofStripError" style="margin-left:0px;">Must be Greater than of {{HoldQty}}</span>
                                    </div>
                                   

                                    <div class="col-md-1 input-group sell-group-decor" data-ng-show="!GSTEnabled">
                                        <label>VAT <span class="required">*</span></label>
                                        <input type="text"
                                               id="vat1"
                                               name="vat"
                                               maxlength="5"
                                               min="0"
                                               max="100"
                                               placeholder="0"
                                               data-ng-model="temp.productStock.vAT"
                                               data-ng-change="checkMrp(temp.packagePurchasePrice,temp.packageSellingPrice,temp.productStock.vAT)"
                                               data-ng-keydown="keyEnter($event,'packageSize','vat1',temp.productStock.vAT)"
                                               required
                                               valid-number />
                                        <span class="error" data-ng-show="temp.productStock.vAT > 100" style="margin:0px;">
                                            Must be less than or equal to 100
                                        </span>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="{{enableSelling ? 'col-md-12' : 'col-md-12'}} input-group sell-group-decor">



                                        @*<div class="col-md-2 input-group sell-group-decor">
                                            <label>HSN Code</label>
                                            <input type="text"
                                                   id="hsnCode1"
                                                   name="hsnCode"
                                                   onfocus="this.select();"
                                                   placeholder="HSN Code"
                                                   maxlength="10"
                                                   data-ng-model="temp.productStock.hsnCode"
                                                   data-ng-keydown="keyEnter($event,'gstTotal1','hsnCode1',temp.productStock.product.hsnCode)"
                                                   data-ng-disabled="!GSTEnabled"
                                                   alpha-numeric />
                                        </div>*@


                                        @*<div class="col-md-2 input-group sell-group-decor">
                                            <label class="required">GST Total %</label>
                                            <input type="text"
                                                   id="gstTotal1"
                                                   name="gstTotal"
                                                   maxlength="5"
                                                   min="0"
                                                   max="100"
                                                   placeholder="0.00"
                                                   onfocus="this.select();"
                                                   data-ng-model="temp.productStock.gstTotal"
                                                   data-ng-keydown="keyEnter($event,'packageSize','gstTotal1',temp.productStock.gstTotal)"
                                                   valid-number
                                                   check-percent
                                                   data-ng-change="changeGST(temp.productStock.gstTotal)" />
                                            <span class="error" data-ng-show="temp.productStock.gstTotal > 100" style="min-width:100px; margin:0px;">
                                                Must be less than or equal to 100
                                            </span>
                                        </div>*@


                                        @*<div class='col-md-2 input-group sell-group-decor'>
                                           
                                                <div class="input-group col-sm-12 trimLR short-input">
                                                    <label class="required">IGST %</label>
                                                    <input title="IGST"
                                                           id="igst"
                                                           name="igst"
                                                           type="text"
                                                           valid-number
                                                           placeholder="0.00"
                                                           maxlength="5"
                                                           class="form-control"
                                                           data-ng-model="temp.productStock.igst"
                                                           data-ng-disabled="true"
                                                           data-ng-keydown="keyEnter($event,'cgst','igst',temp.productStock.igst)" />
                                               
                                            </div>
                                        </div>*@

                                        <div class="col-md-2 input-group sell-group-decor">
                                            <label>Price/Strip<span class="required">*</span></label>
                                            <input type="text"
                                                   id="packagePurchasePrice"
                                                   name="packagePurchasePrice"
                                                   placeholder="0.00"
                                                   min="0"
                                                   maxlength="10"
                                                   onfocus="this.select();"
                                                   data-ng-model="temp.packagePurchasePrice"
                                                   data-ng-keydown="keyEnter($event,'packageSellingPrice','packagePurchasePrice',temp.packagePurchasePrice)"
                                                   ng-change="checkMrp(temp.packagePurchasePrice,temp.packageSellingPrice,temp.productStock.gst)"
                                                   required
                                                   valid-number ng-disabled="EditMode && (temp.isItemSaled || temp.isItemPurchase)" />
                                        </div>
                                        <div class="col-md-2 input-group sell-group-decor">
                                            <label>{{enableSelling ? 'Selling/Strip' : 'MRP/Strip'}}<span class="required">*</span></label>
                                            <input type="text"
                                                   id="packageSellingPrice"
                                                   name="packageSellingPrice"
                                                   data-ng-change="checkMrp(temp.packagePurchasePrice,temp.packageSellingPrice,temp.productStock.gstTotal)"
                                                   placeholder="0.00"
                                                   min="0"
                                                   maxlength="10"
                                                   onfocus="this.select();"
                                                   data-ng-model="temp.packageSellingPrice"
                                                   data-ng-keydown="keyEnter($event,enableSelling ? 'packageMRP' :'gstTotal1','packageSellingPrice',temp.packageSellingPrice)"
                                                   required
                                                   valid-number ng-disabled="EditMode && (temp.isItemSaled || temp.isItemPurchase)" />
                                            <span class="error" data-ng-show="frmTempStock.packageSellingPrice.$error.checkMrpError" style="margin:0px;">{{enableSelling ? 'Selling' : 'MRP'}} must be greater than Cost + GST</span>
                                        </div>
                                        <div class="col-md-2 input-group sell-group-decor" data-ng-show="enableSelling">
                                            <label>MRP/Strip<span class="required">*</span></label>
                                            <input type="text"
                                                   id="packageMRP"
                                                   name="packageMRP"
                                                   data-ng-change="checkSellingMrp(temp.packageSellingPrice,temp.packageMRP)"
                                                   placeholder="0.00"
                                                   min="0"
                                                   maxlength="10"
                                                   onfocus="this.select();"
                                                   data-ng-model="temp.packageMRP"
                                                   data-ng-keydown="keyEnter($event,'gstTotal1','packageMRP',temp.packageMRP)"
                                                   required
                                                   valid-number ng-disabled="EditMode && (temp.isItemSaled || temp.isItemPurchase)" />
                                            <span class="error" data-ng-show="frmTempStock.packageMRP.$error.checkMrpError" style="margin:0px;">MRP must be greater than or equal to Selling Price</span>
                                        </div>

                                        <div class="col-md-2 input-group sell-group-decor">
                                            <label class="required">GST Total %</label>
                                            <input type="text"
                                                   id="gstTotal1"
                                                   name="gstTotal"
                                                   maxlength="5"
                                                   min="0"
                                                   max="100"
                                                   placeholder="0.00"
                                                   onfocus="this.select();"
                                                   data-ng-model="temp.productStock.gstTotal"
                                                   data-ng-keydown="keyEnter($event,'btnAddStock','gstTotal1',temp.productStock.gstTotal)"
                                                   valid-number
                                                   check-percent
                                                   required
                                                   data-ng-change="changeGST(temp.productStock.gstTotal)" ng-disabled="EditMode && (temp.isItemSaled || temp.isItemPurchase)" ng-if="taxValuesList.length<=0" />

                                            <select id="gstTotal1" name="gstTotal" class="form-control" title="GST Total"  onfocus="this.select();" data-ng-model="temp.productStock.gstTotal"
                                                   data-ng-keydown="keyEnter($event,'btnAddStock','gstTotal1',temp.productStock.gstTotal)"
                                                   valid-number
                                                   check-percent
                                                    required
                                                   data-ng-change="changeGST(temp.productStock.gstTotal)" ng-disabled="EditMode && (temp.isItemSaled || temp.isItemPurchase)" ng-if="taxValuesList.length>0">
                                                <option ng-repeat="tax in taxValuesList" value="{{tax.tax}}" ng-selected="temp.productStock.gstTotal=={{tax.tax}}">{{tax.tax}}</option>
                                            </select>
                                            <span class="error" data-ng-show="temp.productStock.gstTotal > 100" style="min-width:100px; margin:0px;">
                                                Must be less than or equal to 100
                                            </span>
                                        </div>

                                        <div class='col-md-2 input-group sell-group-decor'>

                                            <div class="input-group col-sm-12 trimLR short-input">
                                                <label class="required">IGST %</label>
                                                <input title="IGST"
                                                       id="igst"
                                                       name="igst"
                                                       type="text"
                                                       valid-number
                                                       placeholder="0.00"
                                                       maxlength="5"
                                                       class="form-control"
                                                       data-ng-model="temp.productStock.igst"
                                                       data-ng-disabled="true"
                                                       data-ng-keydown="keyEnter($event,'cgst','igst',temp.productStock.igst)" />

                                            </div>
                                        </div>
                                        <div class='col-md-2 input-group sell-group-decor'>
                                           
                                                <div class="input-group col-sm-12 trimLR short-input">
                                                    <label class="required">CGST %</label>
                                                    <input title="CGST"
                                                           id="cgst"
                                                           name="cgst"
                                                           type="text"
                                                           valid-number
                                                           placeholder="0.00"
                                                           maxlength="5"
                                                           class="form-control"
                                                           data-ng-model="temp.productStock.cgst"
                                                           data-ng-disabled="true"
                                                           data-ng-keydown="keyEnter($event,'sgst','cgst',temp.productStock.cgst)" />
                                              
                                            </div>
                                        </div>
                                        <div class='col-md-2 input-group sell-group-decor'>
                                                <div class="input-group col-sm-12 trimLR short-input">
                                                    <label class="required">SGST / UTGST %</label>
                                                    <input title="SGST"
                                                           id="sgst"
                                                           name="sgst"
                                                           type="text"
                                                           valid-number
                                                           placeholder="0.00"
                                                           maxlength="5"
                                                           class="form-control"
                                                           data-ng-model="temp.productStock.sgst"
                                                           data-ng-disabled="true"
                                                           data-ng-keydown="keyEnter($event,'packageSize','sgst',temp.productStock.sgst)" />
                                               
                                            </div>
                                        </div>
                                        
                                       
                                        @*<div class="col-md-2 input-group sell-group-decor">
                                                <label>Price/Strip <span class="required">*</span></label>
                                                <input id="packagePurchasePrice" type="number" min="0" placeholder="0.0" maxlength="6" data-ng-model="temp.packagePurchasePrice" data-ng-keyup="keyEnter($event,'packageSellingPrice')" data-ng-change="checkMrp(temp.packagePurchasePrice,temp.packageSellingPrice,temp.productStock.vAT)" required />
                                            </div>*@
                                    </div>
                                    <div class="clearfix">
                                        <button id="btnUpdateStock" name="btnUpdateStock" class="btn primary-button pull-right" data-ng-disabled="!EditMode || tempProduct.id==null || temp.packageQty == 0 || !IsSaveTempStock" ng-click="UpdateTempStock()" ng-show="EditMode">Update</button>
                                        <button id="btnAddStock" name="btnAddStockName" class="btn primary-button pull-right"   ng-click="AddTempStock()" ng-show="!EditMode" ng-disabled="frmTempStock.expDate.$error.InValidexpDate || frmTempStock.packageMRP.$error.checkMrpError || frmTempStock.packageSize.$error.checkPackageSizeError || (temp.productStock.gstTotal > 100) || frmTempStock.packageSellingPrice.$error.checkMrpError" >Add</button> @*ng-disabled="!frmTempStock.$valid"*@
                                        <button id="btnResetStock" name="btnResetStockName" class="secondary-button pull-right" ng-click="ResetTempStock()">Reset</button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-2 input-group sell-group-decor">
                                                @*<div class="col-md-12 input-group sell-group-decor">*@
                                                    @*<label>No. of Strip <span class="required">*</span></label>
                                                    <input type="text"
                                                           min="0"
                                                           placeholder="0"
                                                           maxlength="10"
                                                           id="packageQty"
                                                           name="packageQty"
                                                           onfocus="this.select();"
                                                           data-ng-model="temp.packageQty"
                                                           pattern="\d+"
                                                           data-ng-keydown="keyEnter($event,'packageSellingPrice','packageQty',temp.packageQty)"
                                                           required
                                                           valid-number />*@
                                                @*</div>*@
                                            </div>
                                            <div class="col-md-2 input-group sell-group-decor">
                                                @*<label>{{enableSelling ? 'Selling/Strip' : 'MRP/Strip'}}<span class="required">*</span></label>
                                                <input type="text"
                                                       id="packageSellingPrice"
                                                       name="packageSellingPrice"
                                                       data-ng-change="checkMrp(temp.packagePurchasePrice,temp.packageSellingPrice,temp.productStock.vAT)"
                                                       placeholder="0.00"
                                                       min="0"
                                                       maxlength="10"
                                                       onfocus="this.select();"
                                                       data-ng-model="temp.packageSellingPrice"
                                                       data-ng-keydown="keyEnter($event,enableSelling ? 'packageMRP' :'btnSubmit','packageSellingPrice',temp.packageSellingPrice)"
                                                       required
                                                       valid-number />
                                                <span class="error" data-ng-show="frmTempStock.packageSellingPrice.$error.checkMrpError" style="margin:0px;">{{enableSelling ? 'Selling' : 'MRP'}} must be greater than Cost + VAT</span>*@
                                            </div>
                                            <div class="col-sm-2 input-group sell-group-decor" data-ng-show="enableSelling">
                                                @*<label>MRP/Strip<span class="required">*</span></label>
                                                <input type="text"
                                                       id="packageMRP"
                                                       name="packageMRP"
                                                       data-ng-change="checkSellingMrp(temp.packageSellingPrice,temp.packageMRP)"
                                                       placeholder="0.00"
                                                       min="0"
                                                       maxlength="10"
                                                       onfocus="this.select();"
                                                       data-ng-model="temp.packageMRP"
                                                       data-ng-keydown="keyEnter($event,'btnSubmit','packageMRP',temp.packageMRP)"
                                                       required
                                                       valid-number />
                                                <span class="error" data-ng-show="frmTempStock.packageMRP.$error.checkMrpError" style="margin:0px;">MRP must be greater than or equal to Selling Price</span>*@
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12 reminder-popup-left" ng-show="tempItems.length > 0">
                                <div class="col-md-12 input-group sell-group-decor txtCaps">
                                    <h3>Temporary Stock Item List</h3>
                                    <div class="col-md-6">                                        
                                        <div class="col-md-4 no-pad">Product</div>
                                        <div class="col-md-2 no-pad">Batch</div>
                                        <div class="col-md-2 no-pad text-center">Expiry</div>
                                        <div class="col-md-2 no-pad text-center" data-ng-if="!GSTEnabled">VAT</div>
                                        <div class="col-md-2 no-pad text-center" data-ng-if="GSTEnabled">GST %</div>
                                        <div class="col-md-2 no-pad text-center">Units /Strips</div>

                                    </div>

                                    <div class="col-md-6">

                                        <div class="col-md-2 no-pad text-center">No. of Strip</div>
                                        <div class="col-md-2 no-pad text-center">Price /Strip</div>
                                        <div class="col-md-2 no-pad text-center" data-ng-show="enableSelling">Selling /Strip</div>
                                        <div class="col-md-2 no-pad text-center">MRP /Strip</div>
                                        <div class="col-md-2 no-pad text-center">Created Date</div>
                                        <div class="col-md-2 no-pad text-center">Action</div>

                                    </div>


                                </div>
                                <div class="col-md-12 input-group sell-group-decor txtCaps" data-ng-repeat="temp in tempItems track by $index">
                                    <div ng-if="!temp.isDeleted">
                                        <div class="col-md-6">
                                            <div class="col-md-4 no-pad" data-ng-bind="temp.productStock.product.name"></div>
                                            <div class="col-md-2 no-pad" data-ng-bind="temp.productStock.batchNo"></div>
                                            <div class="col-md-2 no-pad text-center" data-ng-bind="temp.productStock.expireDate | date:'MM/yy'"></div>
                                            <div class="col-md-2 no-pad text-center" data-ng-bind="temp.productStock.vAT" data-ng-if="!GSTEnabled"></div>
                                            @*<div class="col-md-1" data-ng-if="GSTEnabled"></div>*@
                                            <div class="col-md-2 no-pad text-center" data-ng-bind="temp.productStock.gstTotal"></div>
                                            <div class="col-md-2 no-pad text-center" data-ng-bind="temp.packageSize"></div>


                                        </div>
                                        <div class="col-md-6">

                                            <div class="col-md-2 no-pad text-center" data-ng-bind="temp.packageQty"></div>
                                            <div class="col-md-2 no-pad text-center" data-ng-bind="temp.packagePurchasePrice"></div>
                                            <div class="col-md-2 no-pad text-center" data-ng-bind="temp.packageSellingPrice"></div>
                                            <div class="col-md-2 no-pad text-center" data-ng-bind="temp.packageMRP" data-ng-show="enableSelling"></div>
                                            <div class="col-md-2 no-pad text-center" data-ng-bind="temp.createdAt | date:'dd/MM/yy'"></div>
                                            <div class="col-md-1 no-pad text-center">
                                                <span class="col-md-1 glyphicon glyphicon-edit cross-icon pull-right" style="cursor: pointer;" title="Edit" ng-click="editTempStock(temp,$index)"></span>
                                            </div>
                                            <div class="col-md-1 no-pad text-center">
                                                <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" ng-show="!temp.disableDelete " id="tempDelete" style="cursor: pointer;" title="Delete" ng-click="removeTempStock(temp,$index)"></span>
                                            </div>
                                          
                                            </div>
                                    </div>

                                </div>
                            </div>
                           
                            <div class="clearfix">
                                @if (User.HasPermission(UserAccess.AddNewProduct))
                                {
                                    <a title="Add New Product" data-ng-click="PopupAddNewProduct()" class="btn btn-style pull-left">Add New Product</a>
                                }
                                <button id="btnSubmit" name="btnSubmit" class="btn primary-button pull-right" data-ng-click="addStock()" ng-disabled="tempItems.length == 0" ng-show="tempItems.length > 0">Add Temporary Stock</button>                               
                                <button class="secondary-button pull-right" data-ng-click="close('No')" data-dismiss="modal" ng-show="tempItems.length > 0">Cancel</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="/tempitemTpl.html">
    <a tabindex="-1" class="productddl" data-ng-if="match.model.accountId==null">
        <span class='global'>G </span><span class="gap"> </span>
        <span data-ng-bind-template="{{match.model.name}}"></span>
    </a>
    <a tabindex="-1" class="productddl" data-ng-if="match.model.accountId!=null">
        <span class='global local'>L </span><span class="gap"> </span>
        <span data-ng-bind-template="{{match.model.name}}"></span><span data-ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>

<style>
    .form-data label {
        font-size: 14px !important;
    }

    .productddl span {
        color: #333 !important;
    }

        .form-data .productddl:hover span, .productddl span:hover {
            color: #fff !important;
        }
</style>



