﻿<script type="text/ng-template" id="productDetails">
    <div class="popup-overlay form-popup large-Modal">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:1200px;border-color:#3DB29F;" modal="shouldBeOpen">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3 >Select Batch - &nbsp; &uarr; or &darr; </h3>
                    <ng-form id="productDetails" name="productDetails">
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row form-data">
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin sell-group-decor12">
                                        <input type="text" popup-focus="shouldBeOpen" ng-keydown="keyPress($event)" style="text-align:center;border:none" readonly ng-model="selectedProductName" />
                                        <div style="max-height: 440px;overflow-y: auto;">
                                            <table rules="cols" class="col-md-12 override_margin" id="detail" style="font-size:small;">
                                                <thead>
                                                    <tr style="background-color:#e6e2e2;">

                                                        <th ng-hide="BatchPopUpSettings.quantity" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Avail.Qty</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.batch" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Batch</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.expiry" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Expiry</label>
                                                        </th>
                                                        @*<th ng-hide="BatchPopUpSettings.vat" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                <label style="font-size:small;" align="center">VAT%</label>
            </th>*@
                                                        <th ng-hide="BatchPopUpSettings.gst" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">GST%</label>  @*BatchPopUpSettings.gstTotal*@
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.hsnCode" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">HSN Code</label>
                                                        </th>
                                                        <th ng-show="enableSelling" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Each {{BatchPopUpSettings.stripMrp ? 'MRP' : 'Selling'}}</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.unitMrp" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Each MRP</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.purchasePrice" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Each Cost</label>
                                                        </th>
                                                        <th ng-show="salesPriceSetting == 3" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Each Purchase Price</label>
                                                        </th>
                                                        <th ng-show="enableSelling" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">{{BatchPopUpSettings.stripMrp ? 'MRP' : 'Selling'}}</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.stripMrp" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">MRP</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.unitsPerStrip" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Units/Strip (Packing)</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.profit" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Profit % On {{enableSelling ? 'Selling' : 'MRP'}}</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.rackNo" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Rack/Box No</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.generic" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Generic</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.mfg" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">MFG</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.category" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Category</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.age" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Age(Days)</label>
                                                        </th>
                                                        <th ng-hide="BatchPopUpSettings.supplier" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Supplier</label>
                                                        </th>
                                                        <th ng-hide="scanBarcodeOption.scanBarcode!='1'" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">UPC/EAN Code</label>
                                                        </th>
                                                        <th ng-hide="scanBarcodeOption.scanBarcode!='1'" class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Barcode</label>
                                                        </th>
                                                    </tr>
                                            </thead>
                                            <tbody tabindex="0" ng-keydown="keyPress($event)">

                                                <tr ng-repeat="list1 in batchList1 track by $index" ng-click="selectRow(($index+1))" ng-class="{highlight1: ($index+1) === isSelectedItem}">

                                                    <td ng-hide="BatchPopUpSettings.quantity" class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="right">
                                                        {{list1.availableQty}}
                                                    </td>

                                                    <td title="{{list1.batchNo}}" ng-hide="BatchPopUpSettings.batch" class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="left">
                                                        @*{{list1.batchNo}}*@
                                                        {{list1.batchNo| limitTo:8}}{{(list1.batchNo.length > 8? '...': '') }}
                                                    </td>


                                                    <td ng-hide="BatchPopUpSettings.expiry" class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="left">
                                                        {{list1.expireDate | date:'MM/yy' }}
                                                    </td>
                                                    @*<td ng-hide="BatchPopUpSettings.vat" class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="right">
                                                        {{list1.vat}}
                                                    </td>*@
                                                    <td ng-hide="BatchPopUpSettings.gst" class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="right">
                                                        {{list1.gstTotal}}  @*BatchPopUpSettings.gstTotal*@
                                                    </td>
                                                    <td ng-hide="BatchPopUpSettings.hsnCode" class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="right">
                                                        {{list1.hsnCode}}
                                                    </td>
                                                    <td ng-hide="BatchPopUpSettings.unitMrp" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{list1.sellingPrice | number:2 }}
                                                    </td>
                                                    <td ng-show="enableSelling" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{list1.mrp | number:2 }}
                                                    </td>                                                    
                                                    <td ng-hide="BatchPopUpSettings.purchasePrice" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{list1.purchasePrice | number:2 }}
                                                    </td>
                                                    <td ng-show="salesPriceSetting == 3" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{list1.purchasePriceWithoutTax | number:2 }}
                                                    </td>
                                                    <td ng-hide="BatchPopUpSettings.stripMrp" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{list1.sellingPrice * list1.packageSize | number:2}}
                                                    </td>
                                                    <td ng-show="enableSelling" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{list1.mrp * list1.packageSize | number:2}}
                                                    </td>
                                                    <td title="{{list1.packageSize}}" ng-hide="BatchPopUpSettings.unitsPerStrip" class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="right">
                                                        @*{{list1.packageSize}}*@
                                                        {{list1.packageSize| limitTo:5}}{{(list1.packageSize.length > 5? '...': '') }}
                                                    </td>
                                                    <td ng-hide="BatchPopUpSettings.profit" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{((list1.sellingPrice-list1.purchasePrice) * 100)/ list1.sellingPrice | number:2 }}
                                                    </td>
                                                    <td ng-hide="BatchPopUpSettings.rackNo" class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="left">
                                                        {{list1.product.boxNo!=undefined && list1.product.boxNo!="" && list1.product.rackNo!=undefined && list1.product.rackNo!="" ? list1.product.rackNo +"/"+ list1.product.boxNo : list1.product.rackNo+list1.product.boxNo}}
                                                    </td>
                                                    <td title="{{list1.product.genericName}}" ng-hide="BatchPopUpSettings.generic" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                        {{list1.product.genericName| limitTo:6}}{{(list1.product.genericName.length > 6? '...': '') }}
                                                    <td title="{{list1.product.manufacturer}}" ng-hide="BatchPopUpSettings.mfg" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                        {{list1.product.manufacturer| limitTo:6}}{{(list1.product.manufacturer.length > 6? '...': '') }}
                                                    </td>
                                                    <td title="{{list1.product.category}}" ng-hide="BatchPopUpSettings.category" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                        {{list1.product.category| limitTo:5}}{{(list1.product.category.length > 5? '...': '') }}
                                                    </td>
                                                    <td title="{{list1.age}}" ng-hide="BatchPopUpSettings.age" class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="left">
                                                        @*{{list1.age}}*@
                                                        {{list1.age| limitTo:3}}{{(list1.age.length > 3? '...': '') }}
                                                    </td>
                                                    <td title="{{list1.vendor.name}}" ng-hide="BatchPopUpSettings.supplier" class="col-md-1 override_margin input-group trimLR sell-group-decor txtUpper text-left" align="left">
                                                        {{list1.vendor.name | limitTo:10}}{{(list1.vendor.name.length > 10? '...': '') }} 
                                                    </td>
                                                    <td title="{{list1.eancode}}" ng-hide="scanBarcodeOption.scanBarcode!='1'" class="col-md-1 override_margin input-group trimLR sell-group-decor txtUpper text-left" align="left">
                                                        @*{{list1.eancode}}*@
                                                        {{list1.eancode| limitTo:10}}{{(list1.eancode.length > 10? '...': '') }}
                                                    </td>
                                                    <td title="{{list1.purchaseBarcode}}" ng-hide="scanBarcodeOption.scanBarcode!='1'" class="col-md-1 override_margin input-group trimLR sell-group-decor txtUpper text-left" align="left">
                                                        {{list1.purchaseBarcode| limitTo:10}}{{(list1.purchaseBarcode.length > 10? '...': '') }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <button class="btn primary-button pull-right" ng-disabled="isSelectedItem==null" ng-click="addDetail(isSelectedItem)">Add</button>
                                <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .highlight1 {
        background-color: #28465a !important;
        color: white;
    }

    #detail tbody tr td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>







