﻿<script type="text/ng-template" id="createPatient">
    <div class="modal fade createPatient">
        <div class="modal-dialog">
            <div class="modal-content override_margin">
                <div class="modal-body override_margin">
                    <ng-form id="patient" name="patient">
                        <div class="panel panel-default override_margin">
                            <div class="panel-heading panel-noborder" ng-if="isCustomerOrDept=='0'">
                                {{mode}} Customer
                                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="panel-heading panel-noborder" style="height:40px;" ng-if="isCustomerOrDept=='1'">

                                <div class="col-md-5" style="padding:0px;">
                                    <input type="radio" title="Customer" ng-disabled="mode=='Edit'" name="creatingorUpdating" value="1" ng-model="savePatient.patientType" ng-change="patientTypeChange()" id="iscustomerId" />
                                    <label for="iscustomerId" style="font-size:11px;">{{mode}} Customer</label>
                                </div>
                                <div class="col-md-5" style="padding:0px;">
                                    <input type="radio" title="Department" ng-change="patientTypeChange()" name="creatingorUpdating" ng-disabled="mode=='Edit'" value="2" ng-model="savePatient.patientType" id="isDepartmentId" />
                                    <label for="isDepartmentId" style="font-size:11px;">{{depMode}} Department</label>
                                </div>
                                <div class="col-md-2" style="padding:0px;">
                                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>


                            </div>

                            <div class="panel-body override_margin">
                                <div class='row'>
                                    <div class='col-md-6'>
                                        <div class='col-md-12 override_margin'>
                                            <div class='form-group override_margin'>
                                                <div class="col-md-12 override_margin">
                                                    <label ng-class="savePatient.patientType =='1' ? '' :'required' ">Name</label>
                                                    <input title="Patient Name" popup-focus="focusInput" type="text" placeholder="Customer Name" id="patientName" name="patientName" ng-model="savePatient.name" class="search-query form-control" ng-enter="focusNextField('shortName')" no-special-char ng-change="isenableSavebtn()" ng-hide="savePatient.patientType=='2'" maxlength="50"/>
                                                    <input title="Patient Name" popup-focus="focusInput" type="text" placeholder="Department Name" id="patientName" name="patientName" ng-model="savePatient.name" class="search-query form-control" ng-enter="focusNextField('shortName')" no-special-char ng-change="isenableSavebtn()" ng-show="savePatient.patientType=='2'" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class='col-md-12 override_margin' ng-hide="disableShortName && savePatient.patientType=='2'">
                                            <div class='form-group override_margin'>
                                                <label>Short Name</label>
                                                <input title="Short Name" type="text" id="shortName" name="shortName" placeholder="Short Name" class="search-query form-control" ng-model="savePatient.shortName" maxlength="5" ng-enter="focusNextField('customerDob')" @*ng-keyup="checkAllPurchasefields(1)" ng-click="checkAllPurchasefields(1)"*@ />

                                            </div>
                                        </div>

                                        <div ng-hide="disableMale && savePatient.patientType=='2'">
                                            <div class='col-md-12 override_margin'>
                                                <label class="col-md-12 override_margin">Date of Birth</label>
                                                <div class='form-group override_margin'>
                                                    <div class="input-group">
                                                        <input type="text"
                                                               id="customerDob"
                                                               name="dob"
                                                               class="form-control"
                                                               uib-datepicker-popup="dd/MM/yyyy"
                                                               placeholder="DD/MM/YYYY"
                                                               ng-model="savePatient.dob"
                                                               is-open="popup1.opened"
                                                               datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)"
                                                               close-text="Close"
                                                               max-date="maxDate"
                                                               maxlength="10"
                                                               ng-enter="focusNextField('phone')"
                                                               @*numbers-only valid-number*@
                                                               my-date
                                                               ng-keyup="checkDateformate()" />
                                                        <span class="input-group-btn wrapper-date">
                                                            <button type="button"
                                                                    name="dobDate"
                                                                    id="dobDate"
                                                                    class="btn btn-default btn1"
                                                                    ng-click="open1()"
                                                                    ng-disabled="disableDOB">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <span class="error" style="margin-left:10px;" ng-show="DobError"> * Invalid Date</span>
                                                </div>
                                            </div>
                                            <div class='col-md-12 override_margin'>
                                                <div class='form-group '>
                                                    <label class="col-md-12 override_margin">Gender</label>
                                                    <div class="col-md-6 input-group" style="line-height: 33px;">
                                                        <input title="Male" type="radio" value="M" name="paymentType" id="genderMale" ng-disabled="disableMale" ng-model="savePatient.gender" ng-keyup="checkAllPurchasefields(3)" ng-click="checkAllPurchasefields(3)" />
                                                        <label>Male</label>
                                                    </div>
                                                    <div class="col-md-6 input-group"  style="line-height: 33px;">
                                                        <input title="Female" type="radio" value="F" name="paymentType" id="genderFemale" ng-disabled="disableFemale" ng-model="savePatient.gender" />
                                                        <label>Female</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-hide="disableMobile && savePatient.patientType=='2' ">
                                            <div class='col-md-12 override_margin'>

                                                <div class='form-group override_margin' ng-if="savePatient.patientType=='1'">
                                                    <label>Mobile</label>
                                                    <input title="Phone Number" placeholder="Mobile" id="phone" name="phone" ng-enter="focusNextField('idNumer')" class="form-control" ng-model="savePatient.mobile" maxlength="10" valid-Number ng-change="isenableSavebtn()" />

                                                </div>

                                                <div class='form-group override_margin' ng-if="savePatient.patientType=='2'">
                                                    <label>Mobile</label>
                                                    <input title="Phone Number" placeholder="Mobile" id="phone" name="phone" class="form-control"
                                                           ng-model="savePatient.mobile" maxlength="15" valid-Number />

                                                </div>

                                            </div>
                                            <div class='col-md-12 override_margin'>
                                                <div class='form-group override_margin'>
                                                    <label>ID Number</label>
                                                    <input title="ID Number" no-special-char id="idNumer" name="idNumer" class="form-control" placeholder="ID Number"
                                                           ng-enter="focusNextField('address')" ng-model="savePatient.empID" ng-change="idNumberChange()" maxlength="15" ng-disabled="isdisableID"/>
                                                    <div>
                                                        <span class="error" style="margin-left:0px !important" ng-show="IDNumberError==true">ID Number Already Exists</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class='col-md-12 override_margin'>
                                            <div class='form-group override_margin' ng-if="savePatient.patientType=='2'">
                                                <div class="sell-group-decor4">
                                                    <label for="fullAddress">Customer Name</label>
                                                    <input title="Customer Name" class="form-control sell-decor9" id="address" ng-enter="focusNextField('txtGstin')" name="address" size="33" type="text" placeholder="Customer Name" ng-model="savePatient.address" ng-keyup="checkAllPurchasefields(2)" ng-click="checkAllPurchasefields(2)" />

                                                </div>
                                            </div>
                                            <div class='form-group override_margin' ng-if="savePatient.patientType!='2'">
                                                <div class="sell-group-decor4">
                                                    <label for="fullAddress">Address</label>
                                                    <input title="Address" class="form-control sell-decor9" id="address" ng-enter="focusNextField('city')" name="Address" size="33" type="text" placeholder="Street Name - (Schedule Print)" ng-model="savePatient.address" ng-keyup="checkAllPurchasefields(2)" ng-click="checkAllPurchasefields(2)" />

                                                    <input title="City" id="city" class="form-control sell-decor9"
                                                           name="city" ng-enter="focusNextField('pincode')" ng-keyup="checkAllPurchasefields(2)" ng-click="checkAllPurchasefields(2)" size="33" type="text" placeholder="City" ng-model="savePatient.city" />

                                                    <input title="Pincode" class="form-control sell-decor9" id="pincode" name="pincode" ng-enter="focusNextField('txtemail')" size="33" type="text" placeholder="Pincode" ng-model="savePatient.pincode" valid-number maxlength="6" no-special-char ng-keyup="checkAllPurchasefields(2)" ng-click="checkAllPurchasefields(2)" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class='col-md-12 override_margin' ng-hide="disableEmail">
                                            <div class='form-group override_margin'>
                                                <div class="sell-group-decor4">
                                                    <label>Email</label>
                                                    <input title="Email Id" type="email" class="form-control email" id="txtemail" name="email" ng-disabled="disableEmail"
                                                           ng-enter="focusNextField('txtGstin')" ng-model="savePatient.email" size="30" placeholder="Email ID" maxlength="100" />              <span class="error" ng-show="patient.email.$dirty && patient.email.$invalid" />
                                                    <span ng-show="patient.email.$error.email" class="ng-hide">Invalid email address.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class='col-md-6 '>
                                        <div class="col-md-12 override_margin">
                                            <div class='form-group override_margin'>
                                                <div class="sell-group-decor4">
                                                    <label>GSTIN No</label>
                                                    <input title="GSTIN No."
                                                           type="text"
                                                           class="form-control email"
                                                           id="txtGstin"
                                                           name="GSTinNo"
                                                           ng-enter="focusNextField('txtPan')"
                                                           data-ng-model="savePatient.gsTin"
                                                           placeholder="GSTIN No."
                                                           alpha-numeric
                                                           maxlength="15" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 override_margin">
                                            <div class='form-group override_margin'>
                                                <div class="sell-group-decor4">
                                                    <label>PAN No</label>
                                                    <input title="PanNo"
                                                           type="text"
                                                           class="form-control email"
                                                           id="txtPan"
                                                           name="PanNo"
                                                           ng-enter="focusNextField('drugNo')"
                                                           data-ng-model="savePatient.pan"
                                                           placeholder="PAN NO"
                                                           alpha-numeric
                                                           maxlength="10" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 override_margin" ng-if="savePatient.patientType!='2'">
                                            <div class='form-group override_margin'>
                                                <div class="sell-group-decor4">
                                                    <label>Drug License No</label>
                                                    <input title="drugNo"
                                                           type="text"
                                                           class="form-control email"
                                                           id="drugNo"
                                                           name="drugNo"
                                                           drug-special-char
                                                           ng-enter="focusNextField('BalAmt')"
                                                           data-ng-model="savePatient.drugLicenseNo"
                                                           placeholder="Drug License No"
                                                           maxlength="50" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 override_margin" ng-if="savePatient.patientType!='2'">
                                            <div class='form-group override_margin'>
                                                <div class="sell-group-decor4">
                                                    <label>Opening Balance</label>
                                                    <input title="BalAmt"
                                                           type="text"
                                                           class="form-control email"
                                                           id="BalAmt"
                                                           name="PanNo"
                                                           ng-enter="focusNextField('ddlLocationType')"
                                                           data-ng-model="savePatient.balanceAmount"
                                                           placeholder="Enter Balance"
                                                           numbers-only
                                                           maxlength="7" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 override_margin">
                                            <label>Location Type</label>
                                            <select id="ddlLocationType" ng-disabled="(isComposite == true)"
                                                    class="form-control"
                                                    ng-enter="focusNextField('ddlStatus1')"
                                                    data-ng-model="savePatient.locationTypeName"
                                                    data-ng-options="item as item for item in LocationTypeList"
                                                    title="Location Type"></select>
                                        </div>

                                        <div class="col-md-12 override_margin" ng-show="mode=='Create'">
                                            <div class='form-group override_margin'>
                                                <label>Status</label>
                                                <select id="ddlStatus1"
                                                        class="form-control"
                                                        ng-enter="focusNextField('Discount')"
                                                        ng-change="CheckOpeningBal()"
                                                        data-ng-model="savePatient.status"
                                                        title="Customer Status">
                                                    <option value="1" selected>Active</option>
                                                    <option value="2">In Active</option>
                                                    <option value="3">Hide</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12 override_margin" ng-show="mode=='Edit'">
                                            <div class='form-group override_margin'>
                                                <label>Status</label>
                                                <select id="ddlStatus2"
                                                        class="form-control"
                                                        ng-enter="focusNextField('Discount')"
                                                        ng-change="CustPaymentStatus(savePatient.status)"
                                                        data-ng-model="savePatient.status"
                                                        title="Customer Status">
                                                    <option value="1" selected>Active</option>
                                                    <option value="2">In Active</option>
                                                    <option value="3">Hide</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class='col-md-12 override_margin'>
                                            <div class='form-group'>
                                                <label class="col-md-12 override_margin">Customer Cash / Credit </label>
                                                <div class="col-md-6 input-group"   style="line-height: 25px;">

                                                    <label><input title="Cash" type="radio" ng-disabled="disableCash" value="Cash" name="customerPaymentType" ng-model="savePatient.customerPaymentType" /> Cash</label>
                                                </div>
                                                <div class="col-md-6 input-group"   style="line-height: 25px;">

                                                    <label><input title="Credit" type="radio" value="Credit" ng-disabled="disableCredit" name="customerPaymentType" ng-model="savePatient.customerPaymentType" /> Credit</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class='col-md-12 override_margin'>
                                            <div class='form-group override_margin'>
                                                <div class="sell-group-decor4">
                                                    <label>Discount %</label>
                                                    <input max="5"
                                                           maxlength="5"
                                                           title="Discount"
                                                           ng-change="customerDiscount(savePatient.discount)"
                                                           ng-enter="focusNextField('saveCustomer')"
                                                           class="form-control email"
                                                           id="Discount"
                                                           ng-disabled="disableDiscount"
                                                           name="Discount"
                                                           ng-model="savePatient.discount"
                                                           size="5"
                                                           placeholder="Discount"
                                                           valid-number
                                                           ng-keyup="checkAllPurchasefields(2)" ng-click="checkAllPurchasefields(2)"
                                                           data-ng-class="(savePatient.discount>100) || (savePatient.discount == '.')? 'highlight' :''" />
                                                    <span data-ng-if="savePatient.discount>100 || (savePatient.discount == '.')" class="highlight">Must be less than 100% and valid number</span>
                                                    <span ng-show="maxDiscountExceeds" class="highlight">* Maximum Discount exceeds</span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-12 override_margin' ng-hide="disableLoyalty">
                                            <label>Loyalty Points : {{savePatient.loyaltyPoint | number : 2}} </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer clearfix">
                                <button title="Create" class="btn btn-style pull-right" ng-disabled="!patient.$valid || savePatient.discount >100 || (savePatient.discount == '.') || maxDiscountExceeds || !enableSavebtn || DobError" id="saveCustomer" name="saveCustomer" ng-click="create()">
                                    <span class="pull-left">Save</span>
                                </button>
                                <button type="button" class="btn btn-style btn-cancel pull-right sell-decor10" ng-click="close('No')" data-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>
<style>
    .createPatient .modal-dialog {
        width: 550px !important;
    }
</style>
