﻿<script type="text/ng-template" id="SalesUserValidate">

    <div class="popup-overlay form-popup">

        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:450px;">

                    <div class="popup-close" data-ng-click="close(false)">
                        <i class="fa fa-times"></i>
                    </div>
                    <h3>
                        Enter Password
                    </h3>
                    <ng-form id="salesUserValidate" name="salesUserValidate" novalidate>
                        <div class="reminder-popup-wrap">
                            <div class="row  form-data">
                                <div class="reminder-popup-left col-md-12">
                                  <div ng-show="invalidErrorMsg==true" style="color: #ff2626;" >Invalid User or Password</div>
                                    <div class="col-md-6 input-group sell-group-decor salesUserPwd">
                                       
                                        <input type="text"
                                               name="userPwd"
                                               id="userPwd"                                               
                                               placeholder="Password"
                                               maxlength="100"
                                               autocomplete = "off"
                                               popup-focus="true"
                                               ng-model="user.password" ng-enter="keyEnterSale('btnCompleteSale')"
                                               ng-keydown="keyDownEvent($event)"
                                               required/>
                                             <span class="error" ng-show="salesUserValidate.userPwd.$dirty && salesUserValidate.userPwd.$error.required">
                                            Required
                                        </span>
                                    </div>

                                    <div class="col-md-6 input-group sell-group-decor">
                                        <div class="clearfix" style="float:left;">
                                            @*<label>&nbsp;</label>*@
                                            <button id="btnCompleteSale" name="btnCompleteSale" class="btn primary-button pull-right" ng-click="completeSale()" ng-disabled="!salesUserValidate.$valid">Complete Sale</button>
                                           
                                        </div>
                                    </div>
                                </div>

                            </div>
                           
                        </div>
                    </ng-form>
                                
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .salesUserPwd input {
        -webkit-text-security: disc;
         text-security:disc;
        -mox-text-security:disc;
    }
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .primary-button,.secondary-button {
    padding: 9px 20px !important;
}
.secondary-button {
    margin-left: 10px !important;
}
.usersList{
        overflow-y: auto;
    height: 300px;

}
</style>



