﻿<script type="text/ng-template" id="TempProductDetails">
    <div class="popup-overlay form-popup large-Modal">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate"  style="max-width:600px;border-color:#28465a;"  modal="shouldBeOpen">
                    <div class="popup-close" ng-click="close('Cancel')" data-dismiss="modal"><i class="fa fa-times"></i></div>
                    <h3 style="background-color:#28465a;">Select Product - &nbsp; &uarr; or &darr; </h3>
                    @*<input type="text" focus-me="shouldBeOpen" ng-keydown="keyPress($event)" style="text-align:center;border:none" readonly ng-model="RequiredProduct" />*@
                 
               

                    <ng-form >
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row form-data">
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin sell-group-decor12">  
                                        <input type="text" focus-me="shouldBeOpen" ng-keydown="keyPress($event)" style="text-align:center;border:none;width:60%" readonly ng-model="RequiredProduct"/> <label style="display:inline">Qty. {{Requiredquantity}}</label>
                                            <table rules="cols" class="col-md-12" id="detail" style="font-size:small;">
                                                <thead>
                                                    <tr style="background-color:#e6e2e2;">
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;"  align="center">Product Name</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Available Qty</label>
                                                        </th>
                                                       
                                                    </tr>
                                                </thead>                                                
                                               <tbody tabindex="0" ng-keydown="keyPress($event)" >
                                                   <tr ng-repeat="list1 in RelatesProductsList" ng-click="selectRow(($index+1))" ng-class="{highlight1: ($index+1) === isSelectedItem}">                                                       
                                                       <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                           {{list1.name}}
                                                       </td>
                                                       <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                           {{list1.totalStock}}
                                                       </td>
                                                     
                                                      
                                                   </tr>
                                               </tbody>                                            
                                        </table>                                    
                                        
                                    </div>
                                </div>                                                                                         
                            </div>
                            <div  class="panel">
                                <button class="btn primary-button pull-right" ng-disabled="isSelectedItem==null" ng-click="addDetail(isSelectedItem)">Add</button>
                                <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                            </div>                            
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .highlight1 {
    background-color:#039394;
    color:white;
}
    
    #detail tbody tr td {    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}    
</style>














