﻿<script type="text/ng-template" id="searchProduct">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Product Alternate Selection</h3>
                    <div class="reminder-popup-wrap">
                        <div class="row popup-row">
                            <div class="col-md-6 reminder-popup-left">
                                <div class="form-data">
                                    <label>Product<span class="required">*</span></label>
                                    <div class="input-group add-on col-md-12 override_margin">
                                        <input title="Product Name"
                                               type="text"
                                               placeholder="Product"
                                               id="drugName1"
                                               name="drugName1"
                                               class="search-query form-control"
                                               ng-enter="getProductDetails()"
                                               ng-model="search.drugName"
                                               typeahead-focus-on-select="false"
                                               typeahead-min-length="1"
                                               uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                               ng-disabled="searchInValid" popup-focus="focustxtProduct" />
                                        <div class="input-group-btn" ng-if="searchValid">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search" ng-click="getProductDetails()"></i></button>
                                        </div>
                                    </div>
                                    <label>Generic Name</label>
                                    <div class="input-group add-on col-md-12 override_margin">
                                        <input title="Generic Name"
                                               type="text"
                                               typeahead-focus-on-select="false"
                                               typeahead-min-length="1"
                                               placeholder="Generic Name"
                                               id="genericName"
                                               class="search-query form-control"
                                               name="genericName" required
                                               ng-enter="getGenericDetails()"
                                               ng-model="products.genericName"
                                               uib-typeahead="product as product.genericName for product in getGeneric($viewValue)"
                                               typeahead-on-select="false"
                                               ng-disabled="searchInValid"/>

                                        <div class="input-group-btn" ng-if="searchValid">
                                            <button class="btn btn-default" type="submit">
                                                <i class="glyphicon glyphicon-search"
                                                   ng-click="getGenericDetails()"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <label>Type</label>
                                    <input type="text" ng-model="search.type" />
                                    <label>Schedule</label>
                                    <input type="text" ng-model="search.schedule" />
                                    <label>Manufacturer</label>
                                    <input type="text" ng-model="search.manufacturer" />
                                </div>
                            </div>
                            <div class="col-md-6 alternate-right" style="padding-right:0px;">
                                <div class="form-data">
                                    <label>Alternates</label>
                                    <div style="overflow-y: auto; max-height: 200px;" class="panel panel-default">
                                        <div class="alproduct" ng-repeat="x in search.productStock track by $index" ng-show="search.productStock.length != 0">
                                            <div>
                                                <input id="selectedAlternate" name="selectedAlternate" type="radio" style="margin-bottom: 10px;"
                                                       ng-model="search.selectedAlternate" value="{{x.product.id}}" ng-click="setFormValid(x.stock)" />
                                                {{x.product.name}} ({{x.stock}})
                                            </div>
                                            <div>
                                                <span style="margin-left: 35px;" ng-show="x.product.manufacturer != '.' && x.product.manufacturer != ''">({{x.product.manufacturer}})</span>
                                            </div>
                                        </div>

                                        <div ng-show="search.productStock.length == 0"><span style="color:black;">No Results Found</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button class="btn primary-button pull-right" ng-disabled="isFormInvalid" ng-click="addProduct()">Add</button>
                            <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>




