﻿<div ng-hide="!customerHelper.data.isCustomerSelected">


    <div class="">
        <div class="col-lg-4">
            <label>Customer Name:</label> {{customerHelper.data.selectedCustomer.name}}&nbsp;&nbsp;
            <label>Mobile No: </label> {{customerHelper.data.selectedCustomer.mobile}}&nbsp;
            <label>ID No: </label> 12345
        </div>

        <div class="col-lg-2 no-pad-imp">
            <button type="submit" id="btneditcust" class="line-button mr-10 fL" ng-click="customerHelper.EditCustomer(maxDiscountFixed,maxDisountValue,isDepartmentsave)">EDIT  [<span class="fkey">F8</span>]</button>
            <button type="submit" class="line-button mr-10 fL" id="btnreset" style="cursor: pointer; padding-left: 10px; font-size: smaller" ng-click="customerHelper.ResetCustomer()"> Reset [<span class="fkey">F 10</span>]</button>

        </div>
    </div>





</div>


<section ng-hide="customerHelper.data.isCustomerSelected">


    <div class="form-dada fL mr-10 Sellmobul">
        <label>Mobile No.</label> [<span class="fkey">F1</span>]
        <input placeholder="Mobile" id="searchPatientMobile" maxlength="15" type="text" class="width-customer"
               ng-model="customerHelper.data.patientSearchData.mobile" ng-disabled="customerHelper.data.isCustomerSelected"
               ng-change="changeCustomerMobile()" valid-number
               typeahead-focus-on-select="false"
               typeahead-min-length="1"
               name="customerName"
               title="Customer name"
               typeahead-on-select="onPatientSelect($item,$event)"
               typeahead-editable="false"
               ng-blur="changeCustomerMobile()"
               ng-keyup="keyEnter($event,'searchPatientMobile')"
               uib-typeahead="ps as ps.mobile for ps in getPatientMobile($viewValue)" typeahead-template-url="itemTplsMobile.html" />

        <script type="text/ng-template" id="itemTplsMobile.html">

            <a tabindex="-1" style="text-decoration:none">

                <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
            </a>


            <div style="color:#fbaf67"></div>

        </script>

    </div> 


    <div class="form-dada fL mr-10 Sellcuslistul">
        <label>Customer </label> 

        @*@if (ViewBag.shortCustomerName == true)
            {*@

        @*<input type="hidden" id="shortNameCtrl"  value="@(ViewBag.shortCustomerName)" />*@

        @if (ViewBag.shortCustomerName == true)
            {
            <input type="hidden" id="shortNameCtrl" value="true" />
        }

        <input type="text" ng-show="isShortCustomerName" ng-model="customerHelper.data.patientSearchData.shortName"
               typeahead-focus-on-select="false"
               typeahead-min-length="1"
               placeholder="Short Customer Name"
               id="shortCustomerName" required
               name="shortCustomerName"
               title="Short Customer name"
               typeahead-on-select="onPatientShortSelect($item,$event)"
               typeahead-editable="false"
               ng-change="changeShortCustomerName()"
               ng-blur="blurShortCustname()"
               ng-keyup="keyEnter($event,'searchPatientMobile')"
               uib-typeahead="ps1 as ps1.name for ps1 in getShortPatient($viewValue)"
               class="width-customer"
               typeahead-template-url="itemTpls1.html" maxlength="5" />

        <script type="text/ng-template" id="itemTpls1.html">

            <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">
                <span ng-bind-template="{{match.model.name}} ({{match.model.mobile}})  {{match.model.address}}"></span>
            </a>
            <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">
                <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>  @*shortName*@
            </a>

            <div style="color:#fbaf67"></div>

        </script>
        @*}
            else
            {*@
        <input type="text" ng-hide="isShortCustomerName" ng-model="customerHelper.data.patientSearchData.name"
               typeahead-focus-on-select="false"
               typeahead-min-length="1"
               placeholder="Customer name"
               id="customerName" required
               name="customerName"
               title="Customer name"
               ng-enter="onPatientSelect($item,$event)"
               typeahead-on-select="onPatientSelect($item,$event)"
               typeahead-editable="false"
               ng-change="changeCustomerName()"
               ng-blur="blurCustname()"
               ng-keyup="keyEnter($event,'searchPatientMobile')"
               uib-typeahead="ps as ps.name for ps in getPatient($viewValue)"
               class="width-customer"
               ng-disabled="customerHelper.data.isCustomerSelected"
               typeahead-template-url="itemTpls.html" />

        <script type="text/ng-template" id="itemTpls.html">

            <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">



                <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
            </a>
            <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">

                <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
            </a>

            <div style="color:#fbaf67"></div>

        </script>
        @*}*@


        <span class="error" style="margin-left:10px;" ng-show="iscustomerNameMandatory">* Select customer name</span>
    </div>
       @*ng-enter="customerHelper.search(false,PatientNameSearch,maxDiscountFixed,maxDisountValue)"      ng-enter="onPatientSelect($item,$event)" *@

    <div class="form-dada fL mr-10">
        <label>ID Number</label>
        <input placeholder="" id="customerID" maxlength="15" type="text" class="width-customer" ng-disabled="customerHelper.data.isCustomerSelected"
               ng-model="customerHelper.data.patientSearchData.empID" ng-enter="customerHelper.search(false,PatientNameSearch,maxDiscountFixed,maxDisountValue)">
    </div>
    <div>
        <button type="submit" id="btnAddcust" class="line-button fL mr-10" ng-click="customerHelper.PopupAddNew(maxDiscountFixed,maxDisountValue,isDepartmentsave)">
        CREATE CUSTOMER [<span class="fkey">F9</span>]</button>
    </div>
    @*<div ng-show="customerHelper.data.isCustomerSelected">
            <div class="col-md-2 override_margin">
                <button type="submit" class="line-button mr-10 fL" ng-click="customerHelper.EditCustomer(maxDiscountFixed,maxDisountValue,isDepartmentsave)">EDIT CUSTOMER</button>
                <span class="col-md-12" style="cursor: pointer; padding-left: 10px; font-size: smaller" ng-click="customerHelper.ResetCustomer()"> <a>Reset</a></span>
            </div>
        </div>*@
</section>