﻿<script type="text/ng-template" id="createProduct">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content override_margin">

                <div class="modal-body override_margin">
                    <ng-form id="productForm" name="productForm">
                        <div class="panel panel-default override_margin">
                            <div class="panel-heading panel-noborder">
                                New Product
                                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="panel-body override_margin">
                                <div class='row'>

                                    <div class='col-md-12'>
                                        <div class='form-group'>

                                            <div class="input-group sell-group-decor4">
                                                <label class="required">Name of drug</label>
                                                <input title="Name of drug" type="text" placeholder="Name of drug" id="productName" name="productName" required ng-model="products.name" class="search-query form-control" typeahead-focus-on-select="false" typeahead-min-length="3" uib-typeahead="product as product.name for product in getProduct($viewValue)">
                                                <span class="error" ng-show="productForm.productName.$dirty && productForm.productName.$error.required">Required!</span>
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label class="required">Generic Name</label>
                                                <input title="Generic Name" type="text" typeahead-focus-on-select="false" typeahead-min-length="0" placeholder="Generic Name" id="genericName" name="genericName" required ng-model="products.genericName" uib-typeahead="product as product.genericName for product in getGeneric($viewValue)" class="search-query form-control">
                                                <span class="error" ng-show="productForm.genericName.$dirty && productForm.genericName.$error.required">Required!</span>
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label class="required">Manufacturer</label>
                                                <input title="Manufacturer" type="text" placeholder="Manufacturer" id="manufacturer" name="manufacturer" required ng-model="products.manufacturer" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.manufacturer for product in getManufacturer($viewValue)" class="search-query form-control">
                                                <span class="error" ng-show="productForm.manufacturer.$dirty && productForm.manufacturer.$error.required">Required!</span>
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label>Scheduled Category</label>
                                                <input title="Scheduled Category" type="text" placeholder="Scheduled Category" id="scheduledCategory" name="scheduledCategory" ng-model="products.schedule" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.schedule for product in getSchedule($viewValue)" class="search-query form-control">
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label>Type</label>
                                                <input title="Type" type="text" placeholder="Type" id="type" name="type" ng-model="products.type" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.type for product in getType($viewValue)" class="search-query form-control">
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label>Category</label>
                                                <input title="Category" type="text" placeholder="Category" id="category" name="category" ng-model="products.category" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.category for product in getCategory($viewValue)" class="search-query form-control">
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label>Commodity Code</label>
                                                <input title="Commodity Code" type="text" placeholder="Commodity Code" id="commodityCode" name="commodityCode" ng-model="products.commodityCode" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.commodityCode for product in getCommodity($viewValue)" class="search-query form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer clearfix">
                                <button title="Create" class="btn btn-style pull-right" ng-disabled="!productForm.$valid" ng-click="productsCreate()">
                                    <span class="pull-left">Save</span>
                                </button>
                                <button type="button" class="btn btn-style btn-cancel pull-right sell-decor10" ng-click="close('No')" data-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>