﻿<div class="col-md-8 override_margin" ng-hide="!customerHelper.data.isCustomerSelected">
    <div class="panel panel-default" style="margin-bottom:0 !important;">
        <div class="panel-body">
            <div class='row'>
                <div class='container-fluid'>
                    <div class="col-md-1 override_margin">
                        <label class="circled">{{customerHelper.data.selectedCustomer.nameIndex}}</label>
                    </div>

                    <div class="col-md-3 override_margin">
                        <div class="col-md-12 override_margin" ng-hide="customerHelper.data.selectedCustomer.name==''">
                            <select id="patientList"
                                    name="patientList"
                                    chosen
                                    title="Patient Name"
                                    option="list"
                                    data-placeholder="Select a patient"
                                    ng-model="customerHelper.data.selectedCustomer"
                                    ng-change="getCustomerBalance()"
                                    ng-options="option.name for option in customerHelper.data.customerList track by option.id"
                                    class="form-control cfmobileform override_margin"
                                    search-enabled="false">
                                <option value=""></option>
                            </select>
                        </div>
                        @*<div class="col-md-12 override_margin" style="">
                            <label ng-hide="customerHelper.data.selectedCustomer.age=='0'">{{customerHelper.data.selectedCustomer.age}}&nbsp;Yrs</label>
                            <label ng-hide="customerHelper.data.selectedCustomer.age=='0' || (customerHelper.data.selectedCustomer.gender =='' || customerHelper.data.selectedCustomer.gender == null)">/</label>
                            <label ng-hide="customerHelper.data.selectedCustomer.patientType=='2'">{{customerHelper.data.selectedCustomer.gender}}</label>
                            <label style="background-color:red;color:white;font-size:16px;" ng-show="customerHelper.data.selectedCustomer.patientType=='2'"><b>DEPARTMENT SALES</b></label>
                        </div>*@
                    </div>

                    <div class="col-md-4" ng-if="customerHelper.data.selectedCustomer.patientType=='2'">
                        <div class="input-group col-md-12 override_margin">
                            <input title="Values" class="form-control ng-pristine ng-valid ng-touched" id="customerName" name="customerName" type="text" maxlength="30" placeholder="Enter Customer Name"
                                   ng-model="customerHelper.data.selectedCustomer.address">
                        </div>
                    </div>

                    <div class="col-md-2" ng-hide="customerHelper.data.selectedCustomer.patientType=='2'">
                        <label>{{customerHelper.data.selectedCustomer.mobile == 'NA' ? '' : customerHelper.data.selectedCustomer.mobile }}</label>
                    </div>

                    <div class="col-md-2" ng-hide="customerHelper.data.selectedCustomer.patientType=='2'">
                        <input class="sell-decor8" placeholder="ID Number" ng-disabled="true" ng-model="customerHelper.data.selectedCustomer.empID" />
                    </div>


                    @*<div class="col-md-2">
                    <label>{{customerHelper.data.selectedCustomer.mobile == 'NA' ? '' : customerHelper.data.selectedCustomer.mobile }}</label>
                </div>
                <div class="col-md-2">
                    <input class="sell-decor8" placeholder="ID Number" ng-disabled="true" ng-model="customerHelper.data.selectedCustomer.empID" />
                </div>*@
                    <div class="col-md-4 override_margin">
                        <div class="col-md-10 override_margin">
                            <input class="sell-decor8" placeholder="email" ng-disabled="true" ng-model="customerHelper.data.selectedCustomer.email" />
                        </div>
                        <div class="col-md-2 override_margin">
                            <span class="glyphicon glyphicon-pencil pull-right" style="cursor: pointer;" ng-click="customerHelper.EditCustomer(maxDiscountFixed,maxDisountValue,isDepartmentsave)"></span><br />
                            <span class="col-md-12" style="cursor: pointer; padding-left: 10px; font-size: smaller" ng-click="customerHelper.ResetCustomer()"> <a>Reset</a></span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1 override_margin">
                    <label class=""></label>
                </div>
                <div class="col-md-2 override_margin" style="">
                <label ng-hide="customerHelper.data.selectedCustomer.age=='0'">{{customerHelper.data.selectedCustomer.age}}&nbsp;Yrs</label>
                <label ng-hide="customerHelper.data.selectedCustomer.age=='0' || (customerHelper.data.selectedCustomer.gender =='' || customerHelper.data.selectedCustomer.gender == null)">/</label>
                <label ng-hide="customerHelper.data.selectedCustomer.patientType=='2'">{{customerHelper.data.selectedCustomer.gender}}</label>
                <label style="background-color:red;color:white;font-size:16px;" ng-show="customerHelper.data.selectedCustomer.patientType=='2'"><b>DEPARTMENT SALES</b></label>
                </div>

                <div class="col-md-3" style="" ng-hide="customerHelper.data.selectedCustomer.loyaltyPoint=='' || 
                     !loyaltyPointSettings.loyaltyOption">
                    <label>Loyalty Points : {{customerHelper.data.selectedCustomer.loyaltyPoint | number : 2}}</label>
                </div>
                <div class="col-md-4 override_margin" style="display:none;" ng-hide="customerHelper.data.selectedCustomer.loyaltyPoint=='' || customerHelper.data.selectedCustomer.loyaltyPoint==0">
                    <label>
                        <input type="checkbox" id="redeemEnable" name="redeemEnable" ng-model="redeemEnable" ng-change="customerHelper.RedeemPointsEnable()" />
                        Redeem
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-md-8  override_margin" ng-hide="customerHelper.data.isCustomerSelected">
    <div class="panel panel-default override_margin">
        <div class="panel-body override_margin ">
            <div class='row override_margin'>
                <div class='col-md-9 override_margin'>
                    <div class='row form-group override_margin'>
                        <div class="col-md-5 input-group sell-group-decor txtCaps txtUpper">
                            <label>Customer Name [<span class="fkey">F1</span>] </label> @*[<span class="fkey">CTRL+S</span>]*@

                            @*@if (ViewBag.shortCustomerName == true)
                                {*@

                            @*<input type="hidden" id="shortNameCtrl"  value="@(ViewBag.shortCustomerName)" />*@

                            @if (ViewBag.shortCustomerName == true)
                            {
                                <input type="hidden" id="shortNameCtrl" value="true" />
                            }
                            @*<pre>{{customerHelper.data.patientSearchData.shortName}}</pre>
                                <pre>  {{Namecookie}}</pre>*@

                            <input type="text" ng-show="isShortCustomerName" ng-model="customerHelper.data.patientSearchData.shortName"
                                   typeahead-focus-on-select="false"
                                   typeahead-focus-first="false"
                                   typeahead-min-length="1"
                                   placeholder="Short Customer Name"
                                   id="shortCustomerName" required
                                   name="shortCustomerName"
                                   title="Short Customer name"
                                   typeahead-on-select="onPatientShortSelect($item,$event)"
                                   typeahead-editable="false"
                                   ng-change="changeShortCustomerName()"
                                   ng-blur="blurShortCustname()"
                                   ng-keyup="keyEnter($event,'searchPatientMobile')"
                                   uib-typeahead="ps1 as ps1.name for ps1 in getShortPatient($viewValue)"
                                   class="form-control form-control-small"
                                   typeahead-template-url="itemTpls1.html"
                                   onkeypress="return blockSpecialChar(event)"
                                   maxlength="5" />

                            <script type="text/ng-template" id="itemTpls1.html">

                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">
                                    <span ng-bind-template="{{match.model.name}} ({{match.model.mobile}})  {{match.model.address}}"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">
                                    <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>  @*shortName*@
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>
                            @*}
                                else
                                {*@
                            <input type="text" ng-hide="isShortCustomerName" ng-model="customerHelper.data.patientSearchData.name"
                                   typeahead-focus-on-select="false"
                                   typeahead-focus-first="false"
                                   typeahead-min-length="1"
                                   placeholder="Customer name"
                                   id="customerName" required
                                   name="customerName"
                                   title="Customer name"
                                   typeahead-on-select="onPatientSelect($item,$event)"
                                   typeahead-editable="false"
                                   popup-focus="focusCustomerName"
                                   ng-change="changeCustomerName()"
                                   ng-blur="blurCustname()"
                                   ng-keyup="keyEnter($event,'searchPatientMobile')"
                                   uib-typeahead="ps as ps.name for ps in getPatient($viewValue)"
                                   class="form-control form-control-small"
                                   typeahead-template-url="itemTpls.html"
                                   onkeypress="return blockSpecialChar(event)"
                                   maxlength="50" />

                            <script type="text/ng-template" id="itemTpls.html">

                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">
                                    <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">
                                    <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>
                            @*}*@


                            <span class="error" style="margin-left:10px;" ng-show="iscustomerNameMandatory">* Select/Enter a customer</span>
                        </div>
                        <div class="col-md-4 input-group sell-group-decor">
                            <label>Mobile No.</label>
                            @*ng-keyup="keyEnter($event,'drugName')"*@
                            @*added mobile argument by Annadurai for mobile based search*@
                            <input placeholder="Mobile" id="searchPatientMobile" maxlength="10" type="text" class="search-query form-control"
                                   ng-model="customerHelper.data.patientSearchData.mobile"
                                   ng-enter="customerHelper.search(false,PatientNameSearch,maxDiscountFixed,maxDisountValue,isDepartmentsave,'mobile')" ng-change="changeMobilerNumber()" valid-number>
                            <span class="error" style="margin-left:10px;" ng-show="iscustomerMobileMandatory">* Enter a valid Mobile Number</span>
                        </div>
                        <div class="col-md-3 input-group sell-group-decor">
                            <label>ID Number</label>
                            @*added empid argument by Annadurai for Id number based search on enter*@
                            <input placeholder="" id="customerID" maxlength="15" type="text" class="form-control" ng-model="customerHelper.data.patientSearchData.empID" ng-enter="customerHelper.search(false,PatientNameSearch,maxDiscountFixed,maxDisountValue,isDepartmentsave,'EmpId')">
                        </div>
                    </div>
                </div>

                <div class='col-md-3 override_margin'>
                    <div class="col-md-4 override_margin">
                        <br />
                        <span class="input-group-btn override_margin">
                            @*added empid argument by Annadurai for Id number based search on click*@
                            <button title="Search" class="btn btn-style sell-decor3" type="button" ng-click="customerHelper.search(false,PatientNameSearch,maxDiscountFixed,maxDisountValue,isDepartmentsave,'EmpId')">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div class="col-md-8 override_margin">
                        <br />
                        @*<a title="Add New" href="#/patientcreate" class="btn btn-style sell-decor3">Add New</a>*@
                        <a title="Add New" ng-click="customerHelper.PopupAddNew(maxDiscountFixed,maxDisountValue,isDepartmentsave)" class="btn btn-style sell-decor3">Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popover-content" class="hide">

</div>
<style>
    .prev-sales-header table {
        width: 100%;
        font-size: 12px;
        font-family: GT Medium;
        line-height: 12px;
    }

    .prev-sales-header th {
        background-color: #fcdf9a;
        padding: 3px 4px;
        color: #333333;
    }

    .prev-sales-body table {
        width: 100%;
        font-size: 12px;
        font-family: GT Medium;
        line-height: 12px;
    }

    .prev-sales-body {
        max-height: 60px;
        overflow-y: scroll;
    }

        .prev-sales-body::-webkit-scrollbar {
            width: 8px;
        }

        .prev-sales-body::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        .prev-sales-body b {
            font-family: GT Bold;
        }

        .prev-sales-body::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

        .prev-sales-body td {
            border-bottom: 1px solid #ccc;
            padding: 4px 7px;
        }
</style>

<script>
    $("[data-toggle=popover]").popover({
        html: true,
        content: function () {
            return $('#popover-content').html();
        }
    });

    $("#popsaleshistory").popover("show");
    function blockSpecialChar(e) {
        var k = e.keyCode;
        console.log('code',k)
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57) || (k >=44 && k<= 47) || (k== 37 || k == 32) || (k >= 40 && k <= 41) );
    }

</script>