﻿<div class="col-md-4 override_margin override_margin">
    <div class="panel panel-default override_margin">
        <div class="panel-body orange-border-top override_margin" style="padding: 5px !important;">
            <div class='row override_margin'>
                <div class='col-sm-7 override_margin'>
                    <div class='form-group override_margin'>
                        <div class="input-group txtCaps txtScroll">
                            <label>Doctor Name [<span class="fkey">F2</span>] </label> @*[<span class="fkey">CTRL+S</span>]*@
                            @*<angucomplete id="doctorName"
                                placeholder="[Optional]"
                                pause="400"
                                selectedobject="selectedDoctor"
                                url="/doctor/DoctorList?doctorName="
                                titleField="name"
                                inputclass="form-control form-control-small"
                                event="doctorSelected" ng-keyup="keyEnter($event,'doctorMobile')" />*@

                            @*ng-show="isShortDoctorName"*@
                            @*ng-hide="isShortDoctorName"*@

                            @if (ViewBag.shortDoctorName == true)
                            {
                                <input type="hidden" id="shortDoctorNameCtrl" value="true" />
                            }


                            <input type="text" ng-show="isShortDoctorName" *
                                   ng-model="shortDoctorname"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Short Doctor Name"
                                   id="shortDoctorname"
                                   title="Short Doctor Name"
                                   typeahead-on-select="onDoctorSelect($item,$event)"
                                   uib-typeahead="ps as ps.name for ps in ShortDoctorsList($viewValue)"
                                   class="form-control"
                                   ng-change="changeShortDoctorname(shortDoctorname)"
                                   typeahead-template-url="itemTpls1.html" ng-enter="doctorShortNamekeyEnter('doctorMobile')"
                                   no-special-char
                                   maxlength="5" />

                            <script type="text/ng-template" id="itemTpls1.html">

                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!=null && match.model.mobile!=undefined ">
                                    <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile==null && match.model.mobile==undefined">
                                    <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>

                            <input type="text" ng-hide="isShortDoctorName"
                                   ng-model="doctorname"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Doctor Name"
                                   id="doctorName"
                                   title="Doctor name"
                                   typeahead-on-select="onDoctorSelect($item,$event)"
                                   uib-typeahead="ps as ps.name for ps in DoctorsList($viewValue)"
                                   class="form-control"
                                   ng-change="changedoctorname(doctorname)"
                                   typeahead-template-url="itemTpls.html" ng-enter="doctorNamekeyEnter('doctorMobile')"
                                   no-special-char
                                   maxlength="50" />

                            <script type="text/ng-template" id="itemTpls.html">

                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!=null && match.model.mobile!=undefined ">
                                    <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile==null && match.model.mobile==undefined">
                                    <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>





                        </div>
                        <span class="error" style="margin-left:10px;" ng-show="salesItems.doctorName.$dirty && salesItems.doctorName.$error.required || isdoctornameMandatory">* Select doctor name</span>
                    </div>
                </div>
                <div class='col-sm-5 override_margin'>
                    <div class='form-group override_margin'>
                        <div class="input-group">
                            <label>Doctor Mobile</label>
                            <input title="Doctor Mobile/Phone Number" id="doctorMobile" name="doctorMobile" type="text" placeholder="Mobile" maxlength="10" class="form-control" ng-model="sales.doctorMobile" ng-enter="doctorMobilekeyEnter('drugName')" valid-number numbers-only>
                            <span class="error" ng-show="salesItems.doctorMobile.$dirty && salesItems.doctorMobile.$error.required">Required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input type="text" id="doctorAddress" name="doctorAddress" ng-model="sales.doctorAddress" placeholder="Address" maxlength="50"
                       class="form-control" ng-show="showAddress" ng-enter="doctorAddresskeyEnter('drugName')" />
            </div>
            @*<div class='col-md-12 override_margin' ng-show="showAddress">
                    <div class='form-group override_margin'>
                        <div class="input-group sell-decor4">
                            <label>Doctor Address</label>
                            <input type="text" id="doctorAddress" name="doctorAddress" ng-model="sales.doctorAddress" placeholder="Address" maxlength="50"
                                   class="form-control" ng-show="showAddress" ng-keyup="keyEnter($event,'drugName')" />
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>