﻿<div class="">
    <div class="">
        <div class="">
            <div class=''>
                <div class=''>
                    <div class=''>
                        <div class="form-dada fL mr-10 Selldoclistul">
                            <label>Doctor Name [<span class="fkey">F2</span>] </label> @*[<span class="fkey">CTRL+S</span>]*@
                       

                                        @if (ViewBag.shortDoctorName == true)
                                        {
                                            <input type="hidden" id="shortDoctorNameCtrl" value="true" />
                                        }

                                   
                                        <input type="text" ng-show="isShortDoctorName"*
                                               ng-model="shortDoctorname"
                                               typeahead-focus-on-select="false"
                                               typeahead-min-length="1"
                                               placeholder="Short Doctor Name"
                                               id="shortDoctorname"
                                               title="Short Doctor Name"
                                               typeahead-on-select="onDoctorSelect($item,$event)"
                                               uib-typeahead="ps as ps.name for ps in ShortDoctorsList($viewValue)"
                                               class="width-customer"
                                               ng-change="changeShortDoctorname(shortDoctorname)"
                                               typeahead-template-url="itemTpls1.html" ng-enter="doctorShortNamekeyEnter('doctorMobile')" /> 

                                            <script type="text/ng-template" id="itemTpls1.html">

                                            <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!=null && match.model.mobile!=undefined ">
                                                <div class="right-side-section">

                                                    <div class="right-table-header">
                                                        <table>
                                                            <thead>
                                                                <tr>

                                                                    <th class="w-10" style="">CONTACT NUMBER</th>
                                                                    <th class="w-10">CUSTOMER NAME</th>
                                                                    <th class="text-center w-6">IDENTITY NUMBER</th>
                                                                    <th class="text-center w-6">DISCOUNT</th>
                                                                    <th class="text-center w-12">ADDRESS</th>



                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                    <div class="right-table-body">
                                                        <table>
                                                            <thead>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="w-10" style="">
                                                                        {{match.model.mobile}}
                                                                    </td>
                                                                    <td class="w-10">{{match.model.name}}</td>
                                                                    <td class="text-center w-6" style="">
                                                                        123456789
                                                                    </td>
                                                                    <td class="text-center w-6">5%</td>
                                                                    <td class="text-center w-12">{{match.model.address == '' || match.model.address == undefined ? 'N/A' : match.model.address}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </a>
                                            <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile==null && match.model.mobile==undefined">
                                                <div class="right-side-section">

                                                    <div class="right-table-header">
                                                        <table>
                                                            <thead>
                                                                <tr>

                                                                    <th class="w-10" style="">CONTACT NUMBER</th>
                                                                    <th class="w-10">DOCTOR NAME</th>
                                                                    <th class="text-center w-6">IDENTITY NUMBER</th>
                                                                    <th class="text-center w-6">DISCOUNT</th>
                                                                    <th class="text-center w-12">ADDRESS</th>



                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                    <div class="right-table-body">
                                                        <table>
                                                            <thead>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="w-10" style="">
                                                                        {{match.model.mobile}}
                                                                    </td>
                                                                    <td class="w-10">{{match.model.name}}</td>
                                                                    <td class="text-center w-6" style="">
                                                                        123456789
                                                                    </td>
                                                                    <td class="text-center w-6">5%</td>
                                                                    <td class="text-center w-12">{{match.model.address == '' || match.model.address == undefined ? 'N/A' : match.model.address}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </a>

                                            <div style="color:#fbaf67"></div>

                                            </script>
                                    
                                        <input type="text" ng-hide="isShortDoctorName"
                                               ng-model="doctorname"
                                               typeahead-focus-on-select="false"
                                               typeahead-min-length="1"
                                               placeholder="Doctor Name"
                                               id="doctorName"
                                               title="Doctor name"
                                               typeahead-on-select="onDoctorSelect($item,$event)"
                                               uib-typeahead="ps as ps.name for ps in DoctorsList($viewValue)"
                                               class="width-customer"
                                               ng-change="changedoctorname(doctorname)"
                                               typeahead-template-url="itemTplsdoc.html" ng-enter="doctorNamekeyEnter('doctorMobile')" />

                                           
                                    

                            <script type="text/ng-template" id="itemTplsdoc.html">

                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!=null && match.model.mobile!=undefined ">
                                    <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile==null && match.model.mobile==undefined">
                                    <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>
                            

                            

                        </div>
                        <span class="error" style="margin-left:10px;"  ng-show="salesItems.doctorName.$dirty && salesItems.doctorName.$error.required || isdoctornameMandatory">* Select doctor name</span>
                    </div>
                </div>
                <div class='form-dada fL'>
                    <div class=''>
                        <div class="">
                            <label>Doctor Mobile</label>
                            <input title="Doctor Mobile/Phone Number" id="doctorMobile" name="doctorMobile" type="text" placeholder="Mobile" maxlength="10" class="width-customer" ng-model="sales.doctorMobile" ng-enter="doctorMobilekeyEnter('drugName')" valid-number numbers-only>
                            <span class="error" ng-show="salesItems.doctorMobile.$dirty && salesItems.doctorMobile.$error.required">Required</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input type="text" id="doctorAddress" name="doctorAddress" ng-model="sales.doctorAddress" placeholder="Address" maxlength="50"
                       class="form-control" ng-show="showAddress" ng-enter="doctorAddresskeyEnter('drugName')" />
            </div>
            @*<div class='col-md-12 override_margin' ng-show="showAddress">
                <div class='form-group override_margin'>
                    <div class="input-group sell-decor4">
                        <label>Doctor Address</label>
                        <input type="text" id="doctorAddress" name="doctorAddress" ng-model="sales.doctorAddress" placeholder="Address" maxlength="50"
                               class="form-control" ng-show="showAddress" ng-keyup="keyEnter($event,'drugName')" />
                    </div>
                </div>
            </div>*@            
        </div>
    </div>
</div>