﻿<script type="text/ng-template" id="salesCompleteVerify">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Mobile Verification</h3>
                    <div class="reminder-popup-wrap" style="padding:15px 0;">
                        <div class="row popup-row">
                            <div class="col-xs-9 col-sm-6 reminder-popup-left">
                                <div class="form-data">
                                    <label>Enter Mobile Number<span class="required">*</span></label>
                                    <div class="input-group add-on col-md-12 override_margin">
                                        <input type="text" id="mobile" name="mobile" title="Mobile No." ng-model="mobileNo" popup-focus="focustxtProduct" maxlength="15"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 reminder-popup-left" style="margin-top: 30px;">
                                <div class="form-data">
                                    <button class="btn primary-button pull-right" ng-disabled="mobileNo == null || mobileNo == ''" ng-click="sendOTP()">Send OTP</button>
                                </div>
                            </div>
                        </div>

                        <div class="row popup-row" ng-show="showOtp">
                            <div class="col-xs-7 col-sm-6 reminder-popup-left">
                                <div class="form-data">
                                    <label>Enter OTP<span class="required">*</span></label>
                                    <div class="input-group add-on col-md-12 override_margin">
                                        <input type="text" id="otp" name="otp" title="OTP" ng-model="otp" maxlength="15" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-3 reminder-popup-left" style="margin-top: 30px;">
                                <div class="form-data">
                                    <button class="btn primary-button pull-right" ng-disabled="otp == null || otp == ''" ng-click="validateOTP()">Validate OTP</button>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">                            
                            <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>




