﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<script type="text/ng-template" id="partialOrder">

    <div class="popup-overlay form-popup">

        <div class="middlealign">
            <div>
               
                <div class="popup-wrap reminder-popup alternate pop-width-1015px">
                    @*<div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>*@
                    <h3>Products already sold from another Node / Session</h3>
                    <h4 class="col-md-12 text-danger text-center" style="color:red;"  ng-show="sales.isCreated==true">Sale completed partially</h4>
                    <h4 class="col-md-12 text-danger text-center" style="color:red;" ng-show="sales.isCreated==false">Sale not completed</h4>
                        <div class="reminder-popup-wrappers">
                            <div>
                                <div class="panel-body orange-border-top">
                                    <div class='row override_margin'>
                                        <div class="col-sm-12">
                                            <div class="col-md-1">&nbsp;</div>
                                            <div class="col-md-11">

                                                <label class="col-md-1 override_margin text-right">S. No.</label>
                                                <label class="col-md-3 ">Product</label>
                                                <label class="col-md-2 ">Batch</label>
                                                <label class="col-md-1 ">Expiry</label>
                                                @*<label class="col-md-1 text-right" style="">Rack/Box</label>*@
                                                <label class="col-md-2" style="text-align:right;">Quantity</label>
                                                <label class="col-md-1 override_margin " style="text-align:right;">Discount</label>
                                                <label class="col-md-2 override_margin " style="text-align:right;">Price </label>
                                            </div>
                                        </div>
                                        </div>
                                    <div class='row'>
                                        <div ng-repeat="salesItem in sales.salesItem">
                                            <div ng-if="!salesItem.salesReturn && salesItem.isCreated==false">
                                                @*<div ng-if="!salesItem.salesReturn">*@
                                                    <div class="chip-style product-add-list" style="color:red">
                                                        @*<pre>{{salesItem}}</pre>*@
                                                        <div class="col-sm-12">
                                                            <div class="col-md-1">&nbsp;</div>
                                                            <div class="col-md-11">
                                                                @*<strong class="col-md-7 orange-text">{{salesItem.saleProductName | uppercase}}</strong>*@
                                                                <div class="col-md-1 text-right override_margin">{{$index+1}}</div>
                                                                <div class="col-md-3">
                                                                    <strong>{{salesItem.productName | uppercase}}</strong>
                                                                    <span ng-show="salesItem.availablestock >= 0" style="color:red;">[Avail.Qty : {{salesItem.availablestock}}]</span>
                                                                </div>
                                                                <div class="col-md-2">{{salesItem.batchNo}}</div>
                                                                <div class="col-md-1">{{salesItem.expireDate | date:'MM/yy'}}</div>
                                                                @*<div class="col-md-1" style="padding: 0;">
                                                                    <span>
                                                                        {{(salesItem.product.boxNo!=undefined || salesItem.product.boxNo!=""||salesItem.product.boxNo!='-') && (salesItem.rackNo!=undefined ||salesItem.rackNo!="" ||salesItem.product.rackNo!='-')? salesItem.rackNo +"/"+ salesItem.product.boxNo : salesItem.rackNo+salesItem.product.boxNo}}
                                                                    </span>
                                                                </div>*@
                                                                <div class="col-md-2"  style="text-align:right;"><span>{{salesItem.quantity}}</span></div>
                                                                <div class="col-md-1 override_margin "  style="text-align:right;"><span>{{salesItem.discount}}</span></div>
                                                                <div class="col-md-2 override_margin "  style="text-align:right;"><span> {{salesItem.sellingPrice * salesItem.quantity | number : 2}}</span></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix">
                                <button class="primary-button pull-right" ng-click="close()" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>

    </div>

</script>


<script type="text/ng-template" id="/itemTpl.html">

    @*<a tabindex="-1" class="productddl" ng-if="match.model.accountId==null">
        <span class='global'>G </span><span class="gap"> </span>
        <span ng-bind-template="{{match.model.name}}"></span>
    </a>*@
    <a tabindex="-1" class="productddl">
        <span class='global local'>L </span><span class="gap"> </span>
        <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .pop-width-1015px {
        max-width: 1100px !important;
    }

    .mar-14 {
        margin: 14px 0;
    }

    .reminder-popup-wrappers {
        padding: 10px 30px;
    }

    .border-1px-ccc th {
        border-right: 1px solid #757575;
    }

    .tbody-innerscroll {
        overflow-y: auto;
        height: 130px;
        display: block;
        overflow-x: hidden;
    }

    .brder-none th {
        border: none;
    }

    .brder-none td {
        border: none;
    }

    .btn-clear-align {
        margin: 7px 0 0 8px;
        top: -6px;
        position: absolute;
    }

    .font-size-13 td {
        font-size: 13px;
    }

    .mar-top-12 {
        margin-top: 12px !important;
    }

    .headre-orange-txt {
        color: #f58220;
        font-family: 'GT Medium',arial,sans-serif;
        font-size: 24px;
        line-height: 24px;
        margin: 10px 10px;
        text-align: center;
        padding:6px 3px !important;
    }
    .pre-pur-details-tbl th{
        width:10%;
    }
       .pre-pur-details-tbl td{
        width:10%;
    }
</style>
