﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<script type="text/ng-template" id="salesTemplates">

    <div class="popup-overlay form-popup">

        <div class="middlealign">
            <div>
               
                <div class="popup-wrap reminder-popup alternate " style="max-width:60%;">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Template Selection</h3>
                    <ng-form id="frmTempStock" name="frmTempStock">
                        <div class="reminder-popup-wrappers">
                            <div class="row ">
                                <div class="reminder-popup-left">
                                    <div class="col-md-3 no-pad">
                                        <label class="mar-14">Template Selection <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-5 input-group sell-group-decor txtUpper">
                                        <select chosen
                                                id="tempName"
                                                title="Select Template"
                                                option="templateNameList"
                                                data-placeholder="Select Template"
                                                ng-model="selectedTemplateName"
                                                ng-options="option.templateName for option in templateNameList track by option.id"
                                                class="form-control"
                                                name="tempName"
                                                autofocus
                                                popup-focus="focustemplate"
                                                ng-change="selectedSalesTemplateName(selectedTemplateName)"
                                                >
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin: 8px 0;">
                                    <button ng-show="SelectedTemplateNameList.length>0" ng-click="selectedSalesTemplate(selectedTemplateName)" class="btn primary-button pull-">Template to Sales</button>
                                </div>
                            </div>

                            <div class="col-md-12 sell-group-decor3 override_margin" ng-if="salesTemplate.salesTemplateItem != 0">
                                <div class="panel panel-default override_margin" style="max-height:250px; overflow-y:auto;">
                                    <div class="panel-body orange-border-top">
                                        <div class='row override_margin'>
                                            <div class="col-md-10">
                                                <label class="col-md-7 override_margin">Product</label>
                                                <label class="col-md-3">Quantity</label>
                                            </div>
                                            <div class="col-md-1">&nbsp;</div>
                                        </div>
                                        <div class='row'>
                                            <div ng-repeat="saleTemp in salesTemplate.salesTemplateItem">
                                                <div ng-if="!saleTemp.isDeleted" class="chip-style">
                                                    <span class="col-sm-12">
                                                        <div class="col-md-10">
                                                            <strong class="col-md-7 orange-text">{{saleTemp.name | uppercase}}</strong>
                                                            <span class="col-md-3" ng-hide="saleTemp.IsEdit">{{saleTemp.quantity}}</span>
                                                        </div>
                                                       
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </ng-form>
                </div>
            </div>
        </div>

    </div>

</script>


