﻿<script type="text/ng-template" id="tempStockAlert">
    <div class="popup-overlay form-popup large-Modal">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate"  style="border-color:#3DB29F;"  modal="shouldBeOpen">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3 style="background-color:#28465a;">Temp Stock Quantity</h3>
                    <ng-form id="productDetails" name="productDetails">
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row form-data">
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin sell-group-decor12">  
                                        <input type="text" focus-me="shouldBeOpen1" ng-keydown="keyPress($event)" style="text-align:center;border:none" readonly ng-model="productName"/>
                                            <table rules="cols" class="col-md-12" id="detail" style="font-size:small;">
                                                <thead>
                                                    <tr style="background-color:#e6e2e2;">
                                                        <th class="col-md-3 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:medium;"  align="center">Batch</label>
                                                        </th>
                                                        <th class="col-md-2 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:medium;" align="center">Available Qty</label>
                                                        </th>
                                                        <th class="col-md-2 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:medium;" align="center">Temp Stock Qty</label>
                                                        </th>                                                        
                                                    </tr>
                                                </thead>                                                
                                               <tbody>
                                                   <tr ng-repeat="list1 in batchList1">
                                                       <td class="col-md-3 input-group trimLR sell-group-decor txtUpper" style="font-size:medium;" align="left">
                                                           {{list1.batchNo}}
                                                       </td>  
                                                       <td class="col-md-2 input-group trimLR sell-group-decor txtUpper" style="font-size:medium;"  align="right">
                                                           {{list1.availableQty}}
                                                       </td>                                                      
                                                       <td class="col-md-2 input-group trimLR sell-group-decor txtUpper" style="font-size:medium;"  align="right">
                                                           {{list1.tempStock.quantity}}
                                                       </td>                                            
                                                   </tr>
                                               </tbody>                                            
                                        </table>                                    
                                        
                                    </div>
                                </div>                                                                                         
                            </div>
                            <div  class="panel">                                
                                <button class="secondary-button pull-right" ng-click="closeTempPopUp('No')" data-dismiss="modal">OK</button>
                            </div>                            
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>

<style>       
    #detail tbody tr td {    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}    
</style>














