﻿<script type="text/ng-template" id="showSalesOrderEstimate">

    <div class="popup-overlay form-popup" style="background-color: rgba(0, 0, 0, 0.7);">

        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width: 75%; height: 600px;">
                    <div class="popup-close" data-ng-click="close('No')"><i class="fa fa-times"></i></div>
                    @*<h3>Select {{(dcVendorPurchaseItem.length > 0? 'DC' : '' )}}  {{((dcVendorPurchaseItem.length > 0 && poVendorPurchaseItem.length > 0) ? ' & ' : '' )}} {{(poVendorPurchaseItem.length > 0? 'PO' : '' )}} Items</h3>*@
                    <h3>Select Sales Order / Estimate</h3>
                    <ng-form id="showSalesOrderEstimate" name="showSalesOrderEstimate">
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row" style="margin-top: -20px;">
                                <div data-ng-show="isOrder==1">
                                    <h5><b>Sales Order Items</b></h5>
                                  
                                    <div class="row tblHeader">
                                        <div class="col-lg-12 col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
                                            <div class="col-lg-1 col-md-1 override_margin text-center">
                                                <label style="padding:0px;font-size:medium;">Order No</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 override_margin text-center">
                                                <label style="padding:0px;font-size:medium;">Order Date</label>
                                            </div>
                                            <div class="col-lg-3 col-md-3 override_margin text-center">
                                                <label style="padding:0px;font-size:medium;">Customer Name</label>
                                            </div>

                                            <div class="col-lg-1 col-md-1 override_margin text-center" style="padding-right:0px;padding-left:0px;">
                                                <label style="padding:0px;font-size:medium;">Mobile</label>
                                            </div>
                                            <div class="col-lg-3 col-md-3 override_margin text-center">

                                                <label style="padding:0px;font-size:medium;">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="overflow-y: scroll; height: 175px;">
                                        <div ng-repeat="salesOrderEstimate in dcVendorPurchaseItem">
                                            <div class="col-lg-12 col-md-12 chip-style sell-group-decor8" ng-show="salesOrderEstimate.salesOrderEstimateType=='1'">
                                                <div class="col-lg-1 col-md-1 sell-group-decor9">
                                                    <button class="col-md-2 chip-btn" title="+" id="chip-btn1{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>

                                                    <span class="col-md-6 sell-decor11 ng-binding">{{salesOrderEstimate.prefix+ salesOrderEstimate.orderEstimateId}}</span>
                                                </div>
                                                <div class="col-lg-2 col-md-2 sell-group-decor9 text-center">
                                                    <span class="orange-text sell-decor11 txtCaps">{{salesOrderEstimate.orderEstimateDate | date:'dd/MM/yyyy'}}</span>
                                                </div>
                                                <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                                    <span class="sell-decor11">{{salesOrderEstimate.patient.name}}</span>
                                                </div>

                                                <div class="col-lg-1 col-md-1 sell-decor11 txtCaps text-center" style="padding-right:0px;padding-left:0px;">
                                                    <span class="sell-decor11 txtCaps">{{salesOrderEstimate.patient.mobile}}</span>
                                                </div>
                                                <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                                    <span class="sell-decor11">{{salesOrderEstimate.patient.email}}</span>
                                                </div>
                                            </div>

                                            <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper1{{$index}}">
                                                <div class='col-sm-12'>
                                                    <div class='form-group'>
                                                        <table style="width:90%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Product Name</th>
                                                                    <th>Quantity</th>
                                                                    <th>Pending Qty</th>
                                                                    <th>Dis %</th>
                                                                    <th>Mrp</th>
                                                                    <th>Total Price</th>
                                                                    <th ng-show="salesOrderEstimate.salesOrderEstimateType=='1'">Order Value</th>
                                                                    <th ng-hide="salesOrderEstimate.salesOrderEstimateType=='1'">Estimate Value</th>
                                                                    <th>Status</th>
                                                                    <th>Converted / Pending</th>
                                                                    <th>Product Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="text-left" ng-repeat="salesOrderItem in salesOrderEstimate.salesOrderEstimateItem">
                                                                    <td class="txtUpper">{{salesOrderItem.product.name}}</td>
                                                                    <td>{{salesOrderItem.quantity}}</td>
                                                                    <td>{{salesOrderItem.quantity - salesOrderItem.receivedQty}}</td>
                                                                    <td>{{salesOrderItem.discount}}</td>
                                                                    <td>{{salesOrderItem.sellingPrice | number:2}}</td>
                                                                    <td>{{salesOrderItem.quantity * salesOrderItem.sellingPrice | number:2}}</td>
                                                                    <td>{{(salesOrderItem.quantity * salesOrderItem.sellingPrice) - (salesOrderItem.quantity * salesOrderItem.sellingPrice * salesOrderItem.discount / 100) | number:2}}</td>
                                                                    <td ng-show="salesOrderItem.isDeleted==1">Deleted</td>
                                                                    <td ng-show="salesOrderItem.isDeleted==0">-</td>
                                                                    <td ng-show="salesOrderItem.isOrder==1">Converted</td>
                                                                    <td ng-show="salesOrderItem.isOrder=='' || salesOrderItem.isOrder==null">Pending</td>
                                                                    <td ng-show="salesOrderItem.isOrder==2">Deleted</td>
                                                                    <td ng-show="salesOrderItem.product.status!=2">Active</td>
                                                                    <td ng-show="salesOrderItem.product.status==2">InActive</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="text-right">
                                                        <button type="submit" class="btn  btn-style" style="margin-bottom:15px;margin-right:10px;" ng-disabled="salesOrderEstimate.isEstimateActive==1" ng-click="EstimateConvertTosale($index,salesOrderEstimate)">
                                                            <span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;&nbsp;Order to Sale
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div data-ng-show="isEstimate==2">
                                    <h5><b>Sales Estimate items</b></h5>

                                    <div class="row tblHeader">
                                        <div class="col-lg-12 col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
                                            <div class="col-lg-1 col-md-1 override_margin text-center">
                                                <label style="padding:0px;font-size:medium;">Estimate No</label>
                                            </div>
                                            <div class="col-lg-2 col-md-2 override_margin text-center">
                                                <label style="padding:0px;font-size:medium;">Estimate Date</label>
                                            </div>
                                            <div class="col-lg-3 col-md-3 override_margin text-center">
                                                <label style="padding:0px;font-size:medium;">Customer Name</label>
                                            </div>

                                            <div class="col-lg-1 col-md-1 override_margin text-center" style="padding-right:0px;padding-left:0px;">
                                                <label style="padding:0px;font-size:medium;">Mobile</label>
                                            </div>
                                            <div class="col-lg-3 col-md-3 override_margin text-center">

                                                <label style="padding:0px;font-size:medium;">Email</label>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div style="overflow-y: auto; height: 175px;">
                                        <div ng-repeat="salesOrderEstimate in dcVendorPurchaseItem">
                                            <div class="col-lg-12 col-md-12 chip-style sell-group-decor8" ng-show="salesOrderEstimate.salesOrderEstimateType=='2'">
                                                <div class="col-lg-1 col-md-1 sell-group-decor9">
                                                    <button class="col-md-2 chip-btn" title="+" id="chip-btn2{{$index}}" data="{{$index}}" ng-click="toggleProductEstimateDetail($event)">+</button>

                                                    <span class="col-md-6 sell-decor11 ng-binding">{{salesOrderEstimate.prefix+ salesOrderEstimate.orderEstimateId}}</span>
                                                </div>
                                                <div class="col-lg-2 col-md-2 sell-group-decor9 text-center">
                                                    <span class="orange-text sell-decor11 txtCaps">{{salesOrderEstimate.orderEstimateDate | date:'dd/MM/yyyy'}}</span>
                                                </div>
                                                <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                                    <span class="sell-decor11">{{salesOrderEstimate.patient.name}}</span>
                                                </div>

                                                <div class="col-lg-1 col-md-1 sell-decor11 txtCaps text-center" style="padding-right:0px;padding-left:0px;">
                                                    <span class="sell-decor11 txtCaps">{{salesOrderEstimate.patient.mobile}}</span>
                                                </div>
                                                <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                                    <span class="sell-decor11">{{salesOrderEstimate.patient.email}}</span>
                                                </div>
                                            </div>

                                            <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper2{{$index}}">
                                                <div class='col-sm-12'>
                                                    <div class='form-group'>
                                                        <table style="width:90%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Product Name</th>
                                                                    <th>Quantity</th>
                                                                    <th>Dis %</th>
                                                                    <th>BatchNo</th>
                                                                    <th>Expiry</th>
                                                                    <th>Mrp</th>
                                                                    <th>Total Price</th>
                                                                    <th>Status</th>
                                                                    <th>Converted / Pending</th>
                                                                    <th>Product Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="text-left" ng-repeat="salesOrderItem in salesOrderEstimate.salesOrderEstimateItem">
                                                                    <td class="txtUpper">{{salesOrderItem.product.name}}</td>
                                                                    <td>{{salesOrderItem.quantity}}</td>
                                                                    <td>{{salesOrderItem.discount}}</td>
                                                                    <td>{{salesOrderItem.batchNo}}</td>
                                                                    <td>{{salesOrderItem.expireDate | date:'MM/yy'}}</td>
                                                                    <td>{{salesOrderItem.sellingPrice | number:2}}</td>
                                                                    <td>{{salesOrderItem.quantity * salesOrderItem.sellingPrice | number:2}}</td>
                                                                    <td ng-show="salesOrderItem.isDeleted==1">Deleted</td>
                                                                    <td ng-show="salesOrderItem.isDeleted==0">-</td>
                                                                    <td ng-show="salesOrderItem.isOrder==1">Converted</td>
                                                                    <td ng-show="salesOrderItem.isOrder=='' || salesOrderItem.isOrder==null">Pending</td>
                                                                    <td ng-show="salesOrderItem.isOrder==2">Deleted</td>
                                                                    <td ng-show="salesOrderItem.product.status!=2">Active</td>
                                                                    <td ng-show="salesOrderItem.product.status==2">InActive</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="text-right">
                                                        <button type="submit" class="btn  btn-style" style="margin-bottom:15px;margin-right:10px;" ng-disabled="salesOrderEstimate.isEstimateActive==1" ng-click="EstimateConvertTosale($index,salesOrderEstimate)">
                                                            <span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;&nbsp;Estimate to Sale
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" style="display:none;">
                                <button id="btnSubmit" name="btnSubmit" class="btn primary-button pull-right" data-ng-disabled="count <= 0" data-ng-click="addItems()">Add</button>
                                <button class="secondary-button pull-right" data-ng-click="close('No')" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>

</script>




<script type="text/ng-template" id="/itemTpl.html">

    <a tabindex="-1" class="inActivecolor" data-ng-if="match.model.totalstock < 0">
        <span data-ng-bind-template="{{match.model.name}}"></span>
    </a>
    <a tabindex="-1" class="Activecolor" data-ng-if="match.model.totalstock >= 0">
        <span data-ng-bind-template="{{match.model.name}}"></span><span data-ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .dc-popup-list label {
        font-size: 14px;
        line-height: 14px;
        padding: 0;
        margin: 0;
    }

        .dc-popup-list label input {
            margin: 0;
            margin-right: 5px;
        }

    .dc-popup-list table {
        width: 100%;
    }

    .dc-popup-list {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
        max-height: 100px;
        overflow-y: scroll;
    }

        .dc-popup-list th {
            background-color: #d7d7d7;
            font-weight: 700;
            padding: 10px;
        }

        .dc-popup-list td {
            padding: 5px 10px;
        }

        .dc-popup-list tbody tr {
            border-bottom: 1px solid #f3f3f3;
        }

    .reminder-popup-wrap {
        padding: 10px;
    }
</style>
