﻿<script type="text/ng-template" id="updateGSTINPopup">

    <div class="popup-overlay form-popup">

        <div class="middlealign">
            <div>               
                <div class="popup-wrap reminder-popup alternate">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Update GSTIN No.</h3>
                    <ng-form id="frmTempStock" name="frmTempStock">
                        <div class="reminder-popup-wrappers"> 
                            <div class="row  form-data">
                                <div class="reminder-popup-left">
                                    <div class="col-md-4 no-pad">
                                        <label class="mar-14">GSTIN No <span class="required">*</span>:</label>
                                    </div>
                                    <div class="col-md-8">
                                         <div class="input-group sell-group-decor txtUpper">
                                            <input type="text" popup-focus="focusgst" id="gstNo" name="gstIn" ng-model="gsTinNo" alpha-numeric maxlength="15" />
                                          </div>


                                        <div class="input-group override_margin">
                                            <input id="chkPrint" title="Print" type="checkbox" name="chkPrint" ng-model="isEmail" ng-disabled="originalGsTinNo == gsTinNo || gsTinNo == ''" style="width: auto; margin-right: 10px; float: left" />
                                            <label>Share your GSTIN No with your suppliers through Email</label>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>

                            <div>


                            </div>
                            <div class="clearfix" ng-hide="true">
                                <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                        <div class="reminder-popup-wrappers">
                            <div class="row  form-data">
                                <div class="reminder-popup-left">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <button class="btn primary-button pull-left" ng-click="update()" ng-disabled="originalGsTinNo == gsTinNo || gsTinNo == ''">Update</button>
                                        <button class="secondary-button btn btn-clear-align" style="margin: 7px 0 0 8px;
                                                top: -6px;
                                                position: absolute; " ng-click="close('No')">
                                            Update Later
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-form>
                </div>
            </div>
        </div>

    </div>

</script>


<style>
    .pop-width-1015px {
        max-width: 1015px !important;
    }

    .mar-14 {
        margin: 14px 0;
    }

    .reminder-popup-wrappers {
        padding: 10px 30px;
    }

    .border-1px-ccc th {
        border-right: 1px solid #757575;
    }

    .tbody-innerscroll {
        overflow-y: auto;
        height: 130px;
        display: block;
        overflow-x: hidden;
    }

    .brder-none th {
        border: none;
    }

    .brder-none td {
        border: none;
    }

    .btn-clear-align {
        margin: 7px 0 0 8px;
        top: -6px;
        position: absolute;
    }

    .font-size-13 td {
        font-size: 13px;
    }

    .mar-top-12 {
        margin-top: 12px !important;
    }

    .headre-orange-txt {
        color: #f58220;
        font-family: 'GT Medium',arial,sans-serif;
        font-size: 24px;
        line-height: 24px;
        margin: 10px 10px;
        text-align: center;
        padding:6px 3px !important;
    }
    .pre-pur-details-tbl th{
        width:10%;
    }
       .pre-pur-details-tbl td{
        width:10%;
    }
</style>


