@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@model HQue.Contract.Infrastructure.Master.Patient
@{
    ViewBag.Title = "Sell";
    ViewBag.Menu = "Sell";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<div class="row" ng-app="hcue" ng-cloak>
    <input type="hidden" id="salesEditId" value="@ViewBag.Id" />
    <input type="hidden" id="accountId" value="@User.AccountId()" />
    <ng-view></ng-view>
</div>
@section scripts
{
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/developer.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>


    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angular-filter.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/routescript.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>

    <link asp-append-version="true" rel="stylesheet" href="~/assets/js/jquery-confirm-3.0.3.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/sell.css" />
    <script asp-append-version="true" src="~/assets/js/jquery-confirm-2.0.3.min.js"></script>

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productstockservice.js"></script>
    <script asp-append-version="true" src="~/AppScript/VendorPurchase/vendorPurchaseService.js"></script>
    <script asp-append-version="true" src="~/appscript/Accounts/CustomerReceipt/customerReceiptService.js"></script>
    <script asp-append-version="true" src="~/appscript/doctor/doctorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/shortcutHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/helpers/customerHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/helpers/salesEditHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salescreatectrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/alternateProductSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempStockCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesPaymentCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempProductsCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempStockAlertCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/stockBranchWiseCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script> @*Added by Gavaskar 11-10-2017 Sales Order , Estimate and Template convert to Sales*@
    <script asp-append-version="true" src="~/appScript/sales/salesTemplateWiseCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/showSalesOrderEstimateCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/partialOrderCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesUserValidateCtrl.js"></script>

@*<script data-require="angular.js@1.0.x"
     
        @*<script asp-append-version="true" src="~/appScript/sales/confirmPrintCreateCtrl.js"></script>*@
    <script asp-append-version="true" src="~/appscript/sales/missedOrderCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/productReturnCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/productDetailSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/updateGSTINPopupCtrl.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/AppScript/productStock/validateStockCtrl.js"></script>


}

@section reloadwarning
{
    <script language="JavaScript">
        //window.onbeforeunload = confirmExit;
        function confirmExit() {
            return "You have attempted to leave this page.  If you have made any changes to the fields without clicking the Save button, your changes will be lost.  Are you sure you want to exit this page?";
        }
    </script>
}

