@using System.Threading.Tasks
@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@{
    ViewBag.Title = "Sell List";
    ViewBag.Menu = "List";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<style>
    .offline-grey-button {
        background-color: #B3B3B3;
    }
</style>

<div class="row panelBorder" ng-app="hcue" ng-controller="salesSearchCtrl" ng-init="init('@ViewBag.Accountid')" ng-cloak>
    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <form name="SalesHistoryList">
                <div class='row override_margin'>
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <label>Select Anyone</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="form-control">
                                    @*<option value="" disabled="" selected="" style="display:none">Please Select</option>*@
                                    <option value="">All</option>
                                    <option value="batchNo">Batch</option>
                                    <option value="quantity">Quantity</option>
                                    <option value="mrp">{{enableSelling ? 'Selling' : 'MRP'}}</option>
                                    <option value="invValue">Bill Value</option>
                                    <option value="billNo">Bill No.</option>
                                    <option value="billDate">Bill Date</option>
                                    <option value="customerName">Customer Name</option>
                                    <option value="customerMobile">Customer Mobile</option>
                                    <option value="doctorName">Doctor Name</option>
                                    @*<option value="doctorMobile">Doctor Mobile</option>*@
                                    <option value="discount">Discount %</option>
                                    <option value="discountValue">Discount Amount</option>
                                    <option value="product">Product Name</option>
                                    @*<option value="vat">VAT</option>*@
                                    <option value="expiry">Expiry Date</option>

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-if="salesCondition==true">
                        <div class='form-group'>
                            <label>Select condition</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select1" class="form-control" required>
                                    <option value="" disabled="" selected="" style="display:none">Please Select</option>
                                    <option value="equal">=</option>
                                    <option value="greater">></option>
                                    <option value="less"><</option>
                                </select>
                            </div>
                        </div>
                    </div>



                    <div class='col-sm-2 override_margin' ng-if="InvoiceSeriesCondition==true">
                        <div class='form-group'>
                            <label>Select Invoice Type</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="InvoiceType" name="InvoiceType" title="Invoice Type" placeholder="Select anyone" ng-change="ChangeInvoiceSeriesDropdown(InvoiceSeriesType)" ng-model="InvoiceSeriesType" class="form-control" required>

                                    <option value="Default">Default Series</option>
                                    <option value="Custom">Custom Series</option>
                                    <option value="Manual">Manual Series</option>
                                    @*<option value="CustomerCredit">Credit Customer Series</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-if="InvoiceSeriesType=='Custom'">
                        <div class='form-group'>
                            <label>Select Custom Series</label>
                            <div class="input-group col-md-12 override_margin">

                                <select ng-model="search.select1" class="form-control" id="ddlSelect" ng-init="search.select1='All'" required>
                                    <option value="All" selected="selected">All</option>
                                    <option ng-repeat="item in InvoiceSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2 override_margin" ng-if="dateCondition==true">
                        <div class='form-group'>
                            <label>Select From Date</label>
                            <div class="input-group col-md-12 override_margin">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" required placeholder="Select Date" ng-model="search.values" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 override_margin" ng-if="dateCondition==true">
                        <div class='form-group'>
                            <label>Select To Date</label>
                            <div class="input-group col-md-12 override_margin">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" required placeholder="Select Date" ng-model="search.selectValue" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-if="EnterCondition==true && search.select!='doctorName'">
                        <div class='form-group'>
                            <label>Enter Values</label>
                            <div class="input-group col-md-12 override_margin">


                                <input title="Values" class="form-control required email"
                                       id="Values" name="Values" size="30" type="text" required placeholder="Enter Value" ng-enter="salesSearch()" ng-model="search.values" />

                            </div>

                        </div>
                    </div>
                    @*// Exact Search on the Doctor name*@
                    <div class='col-sm-2 override_margin' ng-if="EnterCondition==true && search.select=='doctorName'">
                        <div class='form-group'>
                            <label>Enter Doctor Name</label>
                            <div class="input-group col-md-12 override_margin">

                                <input title="Values" class="form-control required email"
                                       id="Values" name="Values" size="30" type="text" required placeholder="Enter Doctor Name" ng-enter="salesSearch()"
                                       uib-typeahead="ps as ps.name for ps in doctNameSearch($viewValue)" typeahead-on-select="onDoctorSelection($item)"
                                       ng-change="doctorSelectionChange($item)" ng-model="search.values" />

                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2 override_margin' ng-if="invoicenumberCondition==true && search.select!='doctorName'">
                        <div class='form-group'>
                            <label>Enter Values</label>
                            <div class="input-group col-md-12 override_margin" ng-if="InvoiceSeriesType=='Custom'">

                                <input title="Values" class="form-control"
                                       id="Values" name="Values" size="30" type="text" placeholder="Enter Value" ng-disabled="search.select1=='All'" ng-enter="salesSearch()"
                                       ng-model="search.values" />
                            </div>
                            <div class="input-group col-md-12 override_margin" ng-if="InvoiceSeriesType!='Custom'">

                                <input title="Values" class="form-control"
                                       id="Values" name="Values" size="30" type="text" placeholder="Enter Value" ng-enter="salesSearch()" ng-model="search.values" />

                            </div>

                        </div>
                    </div>
                    <div class='col-md-2 override_margin' ng-if="productCondition==true">
                        <div class='form-group'>
                            <label>Enter Product Name</label>
                            <div class="input-group col-md-12 override_margin">
                                <input title="Product Name" type="text" placeholder="Product" required id="drugName" name="drugName" class="search-query form-control" ng-enter="salesSearch()" ng-model="search.drugName" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)" typeahead-on-select="onProductSelection($item)" ng-change="productSelectiontChange($item)">
                            </div>
                        </div>
                    </div>

                    <div class='col-md-2 override_margin txtUpper' ng-if="CustomerCondition==true">
                        <div class='form-group'>
                            <label>Customer Name [<span class="fkey">F1</span>]</label>
                            <input type="text" ng-model="customerHelper.data.patientSearchData.name"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Customer name"
                                   id="customerName" required
                                   name="customerName"
                                   title="Customer name"
                                   typeahead-on-select="onPatientSelect($item,$event)"
                                   ng-enter="onPatientSelect($item,$event)"
                                   typeahead-editable="false"
                                   ng-change="changeCustomerName()"
                                   ng-blur="blurCustname()"
                                   ng-keyup="keyEnter($event,'Search')"
                                   uib-typeahead="ps as ps.name for ps in getPatient($viewValue)"
                                   class="form-control form-control-small"
                                   typeahead-template-url="itemTpls.html" />
                            <script type="text/ng-template" id="itemTpls.html">

                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">
                                    <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">
                                    <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>


                            <span class="error" style="margin-left:10px;" ng-show="iscustomerNameMandatory">* Select customer name</span>

                        </div>
                    </div>

                    @*<div class='col-md-2 override_margin' ng-if="DoctorCondition==true">
                            <div class='form-group'>
                                <label>Doctor Name [<span class="fkey">F1</span>]</label>
                                <input type="text" ng-model="customerHelper.data.patientSearchData.name"
                                       typeahead-focus-on-select="false"
                                       typeahead-min-length="1"
                                       placeholder="Doctor name"
                                       id="doctorName" required
                                       name="doctorName"
                                       title="Doctor name"
                                       typeahead-on-select="onPatientSelect($item,$event)"
                                       ng-enter="onPatientSelect($item,$event)"
                                       typeahead-editable="false"
                                       ng-change="changeDoctorName()"
                                       ng-blur="blurCustname()"
                                       ng-keyup="keyEnter($event,'Search')"
                                       uib-typeahead="ps as ps.name for ps in getPatient($viewValue)"
                                       class="form-control form-control-small"
                                       typeahead-template-url="itemTpls.html" />
                                <script type="text/ng-template" id="itemTpls.html">

                                    <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">
                                        <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                                    </a>
                                    <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">
                                        <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                    </a>

                                    <div style="color:#fbaf67"></div>

                                </script>

                                <span class="error" style="margin-left:10px;" ng-show="iscustomerNameMandatory">* Select customer name</span>

                                <span class="error" style="margin-left:10px;" ng-show="isDoctorNameMandatory">* Select Doctor name</span>

                            </div>
                        </div>*@

                    <div class='col-sm-4 override_margin'>
                        <div class='form-group'>

                            <label>&nbsp;</label>
                            <div class="input-group col-md-12 override_margin">
                                <button title="Search" id="Search" class="btn btn-style" ng-disabled="SalesHistoryList.$invalid || productSelect || doctorSelect"
                                        ng-click="salesSearch()">
                                    Search
                                </button>
                                <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>

                                <label ng-show="showIstenRecords" style="padding-left:15px;color:#3DB29F">Last 10 Sales Details Displayed</label>
                            </div>


                        </div>
                    </div>


                </div>
            </form>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div align="right">
                    @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
                </div>
                <div class="panel-body orange-border-top list-wrapper">
                    <div class='row  '>
                        <div class="row tblHeader">
                            <div class="col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
                                <div class="col-md-3 override_margin">
                                    <span class="col-md-5 col-md-offset-1" >Bill No.</span>
                                    <span class="col-md-4">Bill Date</span>
                                    @*<span class="col-md-2">File</span>*@
                                </div>
                                <div class="col-md-2 override_margin" >
                                    <span class="col-md-7 override_margin">Customer</span>
                                    <span class="col-md-5 override_margin">Customer Mobile</span>
                                </div>
                                <div class="col-md-2 override_margin">
                                    <span class="col-md-5 override_margin">Doctor</span>
                                    @*<span class="col-md-5 override_margin">Doctor Mobile</span>*@

                                    <span class="col-md-5 override_margin">Delivery Status</span>
                                    <span class="col-md-2 override_margin">Disc.</span>
                                    @*<span class="col-md-2 override_margin pull-right">Credit</span>*@
                                </div>
                                <div class="col-md-5 override_margin">
                                    <span class="col-md-3"><span class="pull-right">Price</span></span>
                                    <span class="col-md-6">&nbsp;</span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div ng-repeat="sales in list">
                                <div class="chip-style">
                                    <div class="col-sm-12 override_margin">
                                        <div class="col-md-3 sell-group-decor9">
                                            <button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event,sales)">+</button>
                                            <span class="col-md-5 sell-decor11"> <span>{{sales.invoiceSeries}} </span>{{sales.invoiceNo}}</span>

                                            <span class="col-md-3 sell-decor11" style="text-align:center">{{sales.invoiceDate | date:'dd/MM/yyyy' }}</span>
                                            <span class="col-md-2 sell-decor11" ng-if="sales.fileName != null && sales.fileName != ''">
                                                    <a ng-href="/uploads/sales/{{sales.fileName}}" target="_blank" class="text-center"><img src="/assets/images/Rx.png" class="nav-image" title="Download" /></a>
                                                </span>
                                        </div>
                                        <div class="col-md-2 sell-group-decor9">
                                            <div class="col-md-7 override_margin">
                                                <strong class="orange-text sell-decor11 txtCaps SH-pos-abs" style="word-break: break-all;">{{sales.name}}</strong>
                                                @*<input class="sell-decor12" ng-show="sales.IsEdit" type="text" id="name" name="name" placeholder="Customer Name" maxlength="30" style="width:90%;" ng-model="sales.name">*@
                                            </div>
                                            <div class="col-md-5 override_margin">
                                                <span class="sell-decor11 SH-pos-abs">{{sales.mobile}}</span>
                                                @*<input class="sell-decor12" ng-show="sales.IsEdit" type="text" id="mobile" name="mobile" placeholder="Mobile No." maxlength="30" ng-model="sales.mobile" style="margin-left:2px;width:90%;" valid-number>*@
                                                @*<span class="col-md-2 sell-decor11" ng-if="sales.fileName != null">
                                                        <a ng-href="/sales/Download?fileName={{sales.fileName}}" target="_blank" class="text-center"><img src="/assets/images/Rx.png" class="nav-image margin-top-3" title="Download" /></a>
                                                    </span>*@
                                            </div>
                                        </div>
                                        <div class="col-md-2 sell-group-decor9">
                                            <span class="col-md-5 sell-decor11 txtCaps " style="word-break: break-all;" ng-hide="sales.IsEdit">{{sales.doctorName}}</span>
                                            <input class="col-md-5 sell-decor12" ng-show="sales.IsEdit" type="text" id="doctorName" name="doctorName" placeholder="Doctor Name" maxlength="50" style="width:43%;" ng-model="sales.doctorName">
                                            <span class="sell-decor11 override_margin vendor-name-fs SH-pos-abs" ng-hide="sales.IsEdit" ng-show="sales.deliveryType == 'Home Delivery'">{{sales.doorDeliveryStatus}}</span>
                                            @*<span class="sell-decor11 override_margin vendor-name-fs SH-pos-abs" ng-show="sales.deliveryType == 'Home Delivery' && (sales.doorDeliveryStatus == null || sales.doorDeliveryStatus == undefined)">Pending</span>*@
                                            <select id="doorDeliveryStatus" name="doorDelivery" class="sell-decor12 ng-valid ng-dirty ng-valid-parse ng-touched" ng-model="sales.doorDeliveryStatus" ng-show="sales.IsEdit && sales.deliveryType == 'Home Delivery'" style="width:79px;display: inline-block;">
                                                <option value=""></option>
                                                <option value="Received">Received</option>
                                                <option value="Pending">Pending</option>
                                            </select>
                                            <span class="pull-right SH-pos" ng-hide="sales.IsEdit" ng-if="((sales.discount>0 && sales.discountType == '1') || (sales.discount==0 && sales.discountValue==0))">{{(sales.discount>0)?sales.discount +'%':''}}</span>
                                            <span class="pull-right" ng-hide="sales.IsEdit" ng-if="(sales.discountValue>0 && sales.discountType == '2')"><i class="fa fa-rupee" title="Total"></i> {{(sales.discountValue>0)?sales.discountValue:''}}</span>

                                        </div>
                                        <div class="col-md-5 sell-group-decor9">
                                            <div class="col-md-3 sell-decor11" style="word-break: break-all;"><span class="pull-right"><i class="fa fa-rupee" title="Total"></i> {{sales.netAmount | number:2}}</span></div>

                                            @*<div class="col-md-3 sell-decor11"><span class="pull-right"><i class="fa fa-rupee" title="Total"></i> {{sales.roundOff-sales.returnAmount | number:2}}</span></div>*@
                                            @*<div class="col-md-3 sell-decor11"><span class="pull-right"><i class="fa fa-rupee" title="Total"></i> {{sales.Net-sales.discountValue | number:2}}</span></div>*@
                                            <div class="col-md-2 override_margin">
                                                <span class="glyphicon glyphicon-print" title="Print" style="cursor: pointer; padding:4px; margin: 1px;" ng-click="printBill(sales)" ng-hide="sales.cancelstatus==1"></span>
                                                <span class="glyphicon glyphicon-edit" ng-hide="sales.IsEdit || sales.cancelstatus==1 || sales.paymentType=='Credit' || sales.paymentTypeOrig == 'Cheque'" style="cursor: pointer; padding:4px; margin: 1px;" ng-click="editSales(sales)"></span>
                                                <span class="glyphicon glyphicon-floppy-save" ng-show="sales.IsEdit" style="cursor: pointer; padding:4px; margin: 2px;" ng-click="saveSales(sales)"></span>
                                                <span class="glyphicon glyphicon-fullscreen" title="View bill" style="cursor: pointer; padding:4px; margin:1px;" ng-click="viewBill(sales) " ng-hide="sales.cancelstatus==1"></span>
                                                <span class="fa fa-file-excel-o" title="Export to CSV" style="cursor: pointer; padding:4px; margin:1px;" ng-click="exportToCsv(sales) " ng-hide="sales.cancelstatus==1 ||csvSettings.saleBillToCSV !=true"></span>
                                                @*<span class="glyphicon glyphicon-fullscreen" style="padding:4px; margin:1px;" ng-hide="sales.cancelstatus==1"></span>*@
                                            </div>

                                            @if (User.HasPermission(UserAccess.SalesEdit))
                                            {

                                                <a class="col-md-2 btn btn-style text-center" ng-if="sales.cashType == 'Credit' && sales.credit == '0' || IsOffline" ng-class="offlineGreyButton" onClick="dispCashType()" style="margin: 4px !important; font-size: 10px" title="Edit" ng-hide="sales.cancelstatus==1" ng-disabled="sales.isChequeRecieved">Edit</a>

                                                <a class="col-md-2 btn btn-style text-center" ng-if="!(sales.cashType == 'Credit' && sales.credit == '0') && !IsOffline" style="margin: 4px !important; font-size: 10px" title="Edit" ng-hide="sales.cancelstatus==1" ng-disabled="sales.isChequeRecieved || sales.isReturnCreditAdjusted" ng-click="salesEditDetails(sales.id)">Edit</a> @*ng-href="/sales/index?id={{sales.id}}"*@
                                            }

                                            <a class="col-md-2 btn btn-style text-center" ng-if="IsOffline" ng-class="offlineGreyButton" onClick="dispCashType()" style="margin:4px !important; font-size:10px" title="Return" ng-hide="sales.cancelstatus==1">Return</a>
                                            <a class="col-md-2 btn btn-style text-center" ng-if="!IsOffline" style="margin:4px !important; font-size:10px" title="Return" ng-hide="sales.cancelstatus==1" ng-click="salesReturnDetails(sales.id)" ng-disabled="checkquantity==0 || sales.isReturnCreditAdjusted">Return</a>
                                            @*ng-href="/salesReturn/index?id={{sales.id}}"*@

                                            @if (User.HasPermission(UserAccess.SalesCancel))
                                            {
                                                <a class="col-md-2 btn btn-style text-center" ng-if="CancelBillDays > sales.totalNoOfDays" style="margin:4px !important; font-size:10px" title="Cancel" ng-class="offlineGreyButton" ng-click="CancelItem(sales.id)" ng-hide="sales.cancelstatus==1" ng-disabled="sales.isChequeRecieved  || sales.isReturnCreditAdjusted">Cancel</a>
                                            }

                                            <button class="col-md-5 btn btn-style text-center" disabled style="margin:4px !important; font-size:16px;background-color:orangered" title="Cancelled" ng-show="sales.cancelstatus==1">Cancelled Bill</button>
                                        </div>

                                    </div>
                                </div>

                                <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                    <table class="table override_margin sell-group-decor10">
                                        <thead class="chips-header">
                                            <tr>

                                                <th style="width:5%">S. No.</th>
                                                <th style="width:145px; ">Product</th>
                                                <th>Batch</th>
                                                <th>Expiry</th>
                                                <th ng-show="sales.taxRefNo != 1">VAT (%)</th>
                                                <th ng-show="sales.taxRefNo == 1 && isComposite == false">GST (%)</th>
                                                <th>Discount</th>
                                                <th>Quantity</th>
                                                <th ng-show="enableSelling">Selling</th>
                                                <th>MRP</th>
                                                <th>Price</th>
                                                @*<th>Total : &nbsp;&nbsp;<i class="fa fa-rupee" title="Total"></i> {{sales.listTotal | number:2}}</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-left" ng-repeat="salesItem in sales.salesItem">
                                                <td style="width:5%">{{$index+1}}</td>
                                                <td class="txtUpper" style="width:145px;white-space:nowrap;">{{salesItem.productStock.product.name}}</td>
                                                <td>{{salesItem.productStock.batchNo}}</td>
                                                <td>{{salesItem.productStock.expireDate | date:'MM/yy'}}</td>
                                                <td ng-show="sales.taxRefNo != 1">{{salesItem.productStock.vat}}</td>
                                                <td ng-show="sales.taxRefNo == 1 && isComposite == false">{{salesItem.productStock.gstTotal}}</td>
                                                <td>{{salesItem.discount}}</td>
                                                <td>{{salesItem.quantity}}</td>
                                                <td>{{salesItem.sellingPrice>0?salesItem.sellingPrice:salesItem.productStock.sellingPrice | number:2}}</td>
                                                <td ng-show="enableSelling">{{salesItem.mrp>0?salesItem.mrp:salesItem.productStock.mrp | number:2}}</td>
                                                <td>
                                                    @*{{salesItem.sellingPrice>0?(salesItem.sellingPrice * salesItem.quantity):(salesItem.productStock.sellingPrice * salesItem.quantity) | number:2}}*@
                                                    {{salesItem.total | number:2}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" align="left"><b>Created Time:</b> {{sales.createdAt | date:'dd/MM/yyyy hh:mm a' }}</td>
                                                <td colspan="8" align="right"><b>Created By  </b> {{sales.userName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="col-md-12 override_margin" ng-show="sales.salesItemAudit.length>0">
                                        <div class="col-md-12 override_margin" ng-repeat="salesAuditItem in sales.salesItemAudit">

                                            <div class="row override_margin" style="color:#17875e;" ng-class="{'Insert' : salesAuditItem.action=='I', 'Edit' : (salesAuditItem.action != 'I' && salesAuditItem.action != 'D'),'Delete':salesAuditItem.action=='D'}">
                                                <div class="col-md-6 override_margin">
                                                    <label class="pull-left" style="color:#ff6a00" ng-if="salesAuditItem.action == 'I'">Data Added on {{salesAuditItem.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</label>
                                                    <label class="pull-left" style="color:#17875e" ng-if="salesAuditItem.action != 'I' && salesAuditItem.action != 'D'">Data Edited on {{salesAuditItem.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</label>
                                                    <label class="pull-left" style="color:#6c9056" ng-if="salesAuditItem.action == 'D'">Data Deleted on {{salesAuditItem.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</label>
                                                </div>
                                                <div class="col-md-6 override_margin">
                                                    <label class="pull-right" style="color:#ff6a00" ng-if="salesAuditItem.action == 'I'">Added by {{salesAuditItem.updatedByUser}}</label>
                                                    <label class="pull-right" style="color:#17875e" ng-if="salesAuditItem.action != 'I' && salesAuditItem.action != 'D'">Edited by {{salesAuditItem.updatedByUser}}</label>
                                                    <label class="pull-right" style="color:#6c9056" ng-if="salesAuditItem.action == 'D'">Deleted by {{salesAuditItem.updatedByUser}}</label>

                                                </div>
                                            </div>
                                            <table class="table sell-group-decor10" ng-class="{'Insert' : salesAuditItem.action=='I', 'Edit' : (salesAuditItem.action != 'I' && salesAuditItem.action != 'D'),'Delete':salesAuditItem.action=='D'}">
                                                <thead style="color:#000000;" ng-class="{'Insert' : salesAuditItem.action=='I', 'Edit' : (salesAuditItem.action != 'I' && salesAuditItem.action != 'D'),'Delete':salesAuditItem.action=='D'}">
                                                    <tr>
                                                        <th style="width:5%">S. No.</th>
                                                        <th style="width:145px; ">Product</th>
                                                        <th>Batch</th>
                                                        <th>Expiry</th>
                                                        <th ng-show="sales.taxRefNo != 1">VAT (%)</th>
                                                        <th ng-show="sales.taxRefNo == 1 && isComposite == false">GST (%)</th>
                                                        <th>Discount</th>
                                                        <th>Quantity</th>
                                                        <th ng-show="enableSelling">Selling</th>
                                                        <th>MRP</th>
                                                        <th>Price</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-left">
                                                        <td style="width:5%">{{$index+1}}</td>
                                                        <td class="txtUpper" style="width:145px;white-space:nowrap;">{{salesAuditItem.productStock.product.name}}</td>
                                                        <td>{{salesAuditItem.productStock.batchNo}}</td>
                                                        <td>{{salesAuditItem.productStock.expireDate | date:'MM/yy' }}</td>

                                                        <td ng-show="sales.taxRefNo != 1">{{salesAuditItem.productStock.vat}}</td>
                                                        <td ng-show="sales.taxRefNo == 1 && isComposite == false">{{salesAuditItem.productStock.gstTotal}}</td>
                                                        <td>{{salesAuditItem.discount}}</td>
                                                        <td>{{salesAuditItem.quantity}}</td>

                                                        <td>{{salesAuditItem.sellingPrice>0? salesAuditItem.sellingPrice :salesAuditItem.productStock.sellingPrice | number:2}}</td>
                                                        <td ng-show="enableSelling">{{salesAuditItem.mrp>0? salesAuditItem.mrp :salesAuditItem.productStock.mrp | number:2}}</td>
                                                        <td>{{salesAuditItem.sellingPrice>0? salesAuditItem.sellingPrice*salesAuditItem.quantity : salesAuditItem.productStock.sellingPrice*salesAuditItem.quantity  | number:2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>


                                    <div class="col-md-12 override_margin" ng-show="sales.salesReturnItem.length>0">
                                        <div class="row override_margin" style="background-color:#F9CAED; color:#17875e">
                                            <div class="col-md-6 override_margin"> <label class="pull-left" style="color:#B01D8B">Sales Return </label></div>
                                            <div class="col-md-6 override_margin"> <label class="pull-right" style="color:#B01D8B"> </label></div>
                                        </div>
                                        <div class="col-md-12 override_margin">

                                            <table class="table sell-group-decor10" style="background-color:#F9CAED">
                                                <thead style="background-color:#F9CAED; color:#000000">
                                                    <tr>
                                                        <th style="width:5%">S. No.</th>
                                                        <th style="width:145px; ">Product</th>
                                                        <th>Batch</th>
                                                        <th>Expiry</th>
                                                        <th ng-show="sales.taxRefNo != 1">VAT (%)</th>
                                                        <th ng-show="sales.taxRefNo == 1 && isComposite == false">GST (%)</th>

                                                        <th>Discount</th>
                                                        <th>Quantity</th>
                                                        <th>{{enableSelling ? 'Selling' : 'MRP'}}</th>
                                                        <th>Price</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-left" ng-repeat="salesReturnItem in sales.salesReturnItem">
                                                        <td style="width:5%">{{$index+1}}</td>
                                                        <td class="txtUpper" style="width:145px;white-space:nowrap;">{{salesReturnItem.productStock.product.name}}</td>
                                                        <td>{{salesReturnItem.productStock.batchNo}}</td>
                                                        <td>{{salesReturnItem.productStock.expireDate | date:'MM/yy' }}</td>
                                                        <td ng-show="sales.taxRefNo != 1">{{salesReturnItem.productStock.vat}}</td>
                                                        <td ng-show="sales.taxRefNo == 1 && isComposite == false">{{salesReturnItem.productStock.gstTotal}}</td>

                                                        <td>{{salesReturnItem.discount}}</td>
                                                        <td>{{salesReturnItem.quantity}}</td>

                                                        <td>{{salesReturnItem.sellingPrice>0? salesReturnItem.sellingPrice :salesReturnItem.productStock.sellingPrice | number:2}}</td>
                                                        <td>{{salesReturnItem.sellingPrice>0? salesReturnItem.sellingPrice*salesReturnItem.quantity : salesReturnItem.productStock.sellingPrice*salesReturnItem.quantity  | number:2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="col-md-12 override_margin" ng-show="sales.salesReturnItemHistory.length>0">
                                        <div class="col-md-12 override_margin" ng-repeat="salesAuditItem in sales.salesReturnItemHistory">

                                            <div class="row override_margin" style="background-color:#F9CAED; color:#17875e;">
                                                <div class="col-md-6 override_margin">
                                                    <label class="pull-left" style="color:#B01D8B;">Data Returned on {{salesAuditItem.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</label>
                                                </div>
                                                <div class="col-md-6 override_margin">
                                                    <label class="pull-right" style="color:#B01D8B;">Returned by {{salesAuditItem.createdBy}}</label>
                                                </div>
                                            </div>
                                            <table class="table sell-group-decor10" style="background-color:#F9CAED;">
                                                <thead style="color:#000000;background-color:#F9CAED;">
                                                    <tr>
                                                        <th style="width:5%">S. No.</th>
                                                        <th  style="width:145px; ">Product</th>
                                                        <th>Batch</th>
                                                        <th>Expiry</th>
                                                        <th ng-show="sales.taxRefNo != 1">VAT (%)</th>
                                                        <th ng-show="sales.taxRefNo == 1 && isComposite == false">GST (%)</th>
                                                        <th>Discount</th>
                                                        <th>Quantity</th>
                                                        <th ng-show="enableSelling">Selling</th>
                                                        <th>MRP</th>
                                                        <th>Price</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-left">
                                                        <td style="width:5%">{{$index+1}}</td>
                                                        <td class="txtUpper" style="width:145px;white-space:nowrap;">{{salesAuditItem.productStock.product.name}}</td>
                                                        <td>{{salesAuditItem.productStock.batchNo}}</td>
                                                        <td>{{salesAuditItem.productStock.expireDate | date:'MM/yy' }}</td>
                                                        <td ng-show="sales.taxRefNo != 1">{{salesAuditItem.productStock.vat}}</td>
                                                        <td ng-show="sales.taxRefNo == 1 && isComposite == false">{{salesAuditItem.productStock.gstTotal}}</td>

                                                        <td>{{salesAuditItem.discount}}</td>
                                                        <td>{{salesAuditItem.quantity}}</td>

                                                        <td>{{salesAuditItem.sellingPrice>0? salesAuditItem.sellingPrice :salesAuditItem.productStock.sellingPrice | number:2}}</td>
                                                        <td ng-show="enableSelling">{{salesAuditItem.mrp>0? salesAuditItem.mrp :salesAuditItem.productStock.mrp | number:2}}</td>
                                                        <td>{{salesAuditItem.sellingPrice>0? salesAuditItem.sellingPrice*salesAuditItem.quantity : salesAuditItem.productStock.sellingPrice*salesAuditItem.quantity  | number:2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="pull-left" ng-show="list.length == 0">
                        No Records found
                    </div>
                </div>
                @*@{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }*@
            </div>

        </div>
    </div>
</div>
<style>
    .Insert {
        background-color: #a3dff1 !important;
    }

    .Edit {
        background-color: #B2E9DE !important;
    }

    .Delete {
        background-color: #efa74f !important;
    }
</style>
@section scripts
{
    <script>
        $(document).ready(function () {
            //var getval = $(".ddlSelect option").val('? string:equal ?');
            //$('#ddlSelect option:eq(-1)').remove();
            //var xyz = $('.ddlSelect option[value="? string:equal ?"]');
            //xyz.remove();
            //$('.ddlSelect option[value="? string:equal ?"]');
        });

    </script>

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderappscriptlist.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angular-filter.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesappscript.js"></script>
    <link asp-append-version="true" rel="stylesheet" href="~/assets/js/jquery-confirm-3.0.3.min.css">
    <script asp-append-version="true" src="~/assets/js/jquery-confirm-2.0.3.min.js"></script>

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/toolService.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}
