@using System.Threading.Tasks
@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@{
    ViewBag.Title = "A4 Print Template";
    ViewBag.Menu = "Department";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<style>
    .offline-grey-button {
        background-color: #B3B3B3;
    }
</style>

<div class="row panelBorder" ng-app="hcue" ng-controller="salesSearchCtrl" ng-cloak>  @* ng-init="init(false)" '@ViewBag.Accountid'*@    
    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <form name="SalesHistoryList">
                <div class='row override_margin'>

                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <label>Select Anyone</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="BillNo" name="BillNo" title="Bill No." placeholder="Select anyone" ng-model="search.select" ng-init="departmentChangefilters(search.select)" ng-change="departmentChangefilters(search.select)" class="form-control">
                                    <option value="billNo" selected="selected">Bill No.</option>
                                    <option value="returnNo" selected="selected">Return No.</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 override_margin ng-scope">
                        <div class="form-group">
                            <label>Select Invoice Type</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="InvoiceType" name="InvoiceType" title="Invoice Type" placeholder="Select anyone" ng-change="ChangeInvoiceSeriesDropdown(InvoiceSeriesType)" ng-model="InvoiceSeriesType" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" required="">
                                    <option value="Custom" selected="selected">Custom Series</option>
                                    <option value="Default">Default Series</option>                                    
                                    <option value="Manual">Manual Series</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 override_margin ng-scope" ng-if="(InvoiceSeriesType=='Custom')">
                        <div class="form-group">
                            <label>Select Custom Series</label>
                            <div class="input-group col-md-12 override_margin">
                                <select ng-model="search.select1" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="ddlSelect" required="">
                                    <option ng-repeat="item in InvoiceSeriesItems" value="{{item.seriesName}}" class="ng-binding ng-scope">{{item.seriesName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 override_margin ng-scope" ng-if="invoicenumberCondition==true && InvoiceSeriesCondition==true">
                        <div class="form-group">
                            <label>Enter Values</label>@*ng-enter="printBillNew(InvoiceSeriesType,search.select1,search.values, 17)"*@
                            <div class="input-group col-md-12 override_margin ng-scope">
                                <input title="Values" class="form-control ng-pristine ng-valid ng-touched" id="InvoiceValues" name="Values" size="30" type="number" placeholder="Enter Invoice No"
                                         ng-enter="printBillNew(InvoiceSeriesType,search.select1,search.values, 17,false)" ng-model="search.values" ng-keyup="checkInvoiceNumber()" >
                                <span class="error" data-ng-show="isValidInvoiceNo">Enter Invoice Number</span>
                            </div>
                        </div>
                    </div>
                    @*Added for Only return print*@ 
                    <div class="col-sm-2 override_margin ng-scope" ng-if="InvoiceSeriesCondition==false">
                        <div class="form-group">
                            <label>Enter Values</label>
                            <div class="input-group col-md-12 override_margin ng-scope">
                                <input title="Values" class="form-control ng-pristine ng-valid ng-touched" id="ReturnValues" name="Values" size="30" type="number" placeholder="Enter Return No"
                                       ng-enter="printBillNew(0,'',search.values, 17, true)" ng-model="search.values" 
                                       ng-keyup="checkInvoiceNumber()">
                                <span class="error" data-ng-show="isValidInvoiceNo">Enter Return Number</span>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-sm-2 override_margin ng-scope" ng-if="invoicenumberCondition==true && InvoiceSeriesCondition!=false">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <div class="input-group col-md-12 override_margin ng-scope">
                                <input title="Values" class="form-control ng-pristine ng-valid ng-touched" id="customerName" name="customerName" type="text" maxlength="30"  placeholder="Enter Customer Name"
                                       ng-enter="printBillNew(InvoiceSeriesType,search.select1,search.values, 17, false)" ng-model="search.address"
                                       ng-keyup="checkInvoiceNumber()">                               
                            </div>
                        </div>
                    </div>*@
                    <div class="col-sm-2 override_margin" ng-if="InvoiceSeriesCondition==true">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="input-group col-md-12 override_margin">
                                <button title="Search" id="Search" class="btn btn-style" ng-disabled="SalesHistoryList.$invalid || isValidInvoiceNo" 
                                        ng-click="printBillNew(InvoiceSeriesType,search.select1,search.values, 17, false)">Print</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 override_margin" ng-if="InvoiceSeriesCondition==false">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="input-group col-md-12 override_margin">
                                <button title="Search" id="Search" class="btn btn-style" ng-disabled="SalesHistoryList.$invalid || isValidInvoiceNo"
                                        ng-click="printBillNew(InvoiceSeriesType,search.select1,search.values, 17, true)">Print</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<style>
    .Insert {
        background-color: #a3dff1 !important;
    }

    .Edit {
        background-color: #B2E9DE !important;
    }

    .Delete {
        background-color: #efa74f !important;
    }
</style>
@section scripts
{
    <script></script>

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderappscriptlist.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angular-filter.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesappscript.js"></script>
    <link asp-append-version="true" rel="stylesheet" href="~/assets/js/jquery-confirm-3.0.3.min.css">
    <script asp-append-version="true" src="~/assets/js/jquery-confirm-2.0.3.min.js"></script>

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
<script asp-append-version="true" src="~/appscript/settings/toolService.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}