@{
    ViewBag.Title = "Sell List";
    ViewBag.Menu = "List";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="salesSearchCtrl" ng-cloak>
    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>Customer Name</label>
                        <div class="input-group sell-decor8">
                            <input title="Customer Name" type="text" placeholder="Enter name" class="search-query form-control" ng-enter="salesSearch()" ng-model="search.name" autofocus>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <label>Mobile</label>
                        <div class="input-group">
                            <input title="Phone Number" type="text" placeholder="" class="search-query form-control" ng-enter="salesSearch()" ng-model="search.mobile">
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <label>Invoice No.</label>
                        <div class="input-group">
                            <input title="Invoice Number" type="text" placeholder="Invoice No" class="search-query form-control" ng-enter="salesSearch()" ng-model="search.invoiceNo">
                        </div>
                    </div>
                </div>

                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>Email ID</label>
                        <div class="input-group sell-decor8">
                            <input title="Email Id" class="form-control required email" id="email" name="email" size="30" type="text" placeholder="Email ID" ng-enter="salesSearch()" ng-model="search.email" />
                        </div>
                    </div>
                </div>

                <div class="pull-right pad10">
                    <br />
                    <button title="Search" class="btn btn-style" ng-click="salesSearch()">Search</button>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <div class='row'>
                        <div class="pull-left" ng-if="list.length == 0">
                            No Records found
                        </div>
                        <div ng-repeat="sales in list">
                            <div class="chip-style">
                                <span class="col-sm-12">
                                    @if (ViewBag.Config.AppConfig.IsSqlServer)
                                    {
                                        <a ng-href="/salesReturn/index?id={{sales.id}}" class="btn  btn-style text-center" title="Return">Return</a>

                                        @*<span ng-if="!sales.hasReturn">
                                            <a ng-href="/salesReturn/index?id={{sales.id}}" class="btn  btn-style text-center" title="Return">Return</a>
                                        </span>
                                        <span ng-if="sales.hasReturn">
                                            <a ng-href="" class="btn  btn-style text-center btn-cancel" ng-disabled="true" title="Returned">Returned</a>
                                        </span>*@
                                    }
                                    &nbsp;
                                    <strong class="orange-text">{{sales.name}}</strong>
                                    <span class="quantity-rate address-details">
                                        <span># {{sales.invoiceNo}}</span> -
                                        <span><i class="fa fa-calendar" title="Invoice Date"></i> {{sales.invoiceDate | date:'dd/MM/yyyy' }}</span> -
                                        <span><i class="fa fa-mobile" title="Mobile"></i> {{sales.mobile}}</span> -
                                        <span ng-if="sales.email != 'N/A'"><i ng-if="sales.email != ''" class="fa fa-envelope-o" title="Email"></i> {{sales.email}}</span>
                                        <span ng-if="sales.fileName != null">
                                            <a ng-href="/sales/Download?fileName={{sales.fileName}}" target="_blank" class="text-center"><img src="/assets/images/Rx.png" class="nav-image margin-top-3" title="Download" /></a>
                                        </span>
                                        <span>Total : &nbsp;&nbsp;<i class="fa fa-rupee" title="Total"></i> {{sales.listTotal | number:2}}</span>
                                        <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                    </span>
                                </span>
                            </div>

                            <div class="chips-wrapper" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Drug Name</th>
                                            <th>MRP</th>
                                            <th>Quantity</th>
                                            <th>VAT (%)</th>
                                            <th>Price</th>
                                            @*<th>Total : &nbsp;&nbsp;<i class="fa fa-rupee" title="Total"></i> {{sales.listTotal | number:2}}</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left" ng-repeat="salesItem in sales.salesItem">
                                            <td>{{salesItem.productStock.product.name}}</td>
                                            <td>{{salesItem.productStock.sellingPrice | number:2}}</td>
                                            <td>{{salesItem.quantity}}</td>
                                            <td>{{salesItem.productStock.vat}}</td>
                                            <td>{{(salesItem.productStock.sellingPrice * salesItem.quantity) | number:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/appscriptlist.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesSearchCtrl.js"></script>
}