@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
<ul class="nav nav-tabs override_margin tp-menu">
    <li class="@(ViewBag.Menu == "Sell" ? "active" : "")">
        <a asp-action="Index" asp-controller="Sales">
            Sale <span>(Alt+S)</span>
        </a>
    </li>
    <li class="@(ViewBag.Menu == "List" ? "active" : "")">
        <a asp-action="List" asp-controller="Sales">
             History <span>(Alt+1)</span>
        </a>
    </li>
    @if (ViewBag.Config.AppConfig.IsSqlServer)
    {
        <li class="@(ViewBag.Menu == "Sell Return List" ? "active" : "")">
            <a asp-action="List" asp-controller="SalesReturn">
                Return List <span>(Alt+2)</span>
            </a>
        </li>
    }
    @if (ViewBag.Config.AppConfig.IsSqlServer)
    {
        <li class="@(ViewBag.Menu == "Sell Cancel List" ? "active" : "")">
            <a asp-action="CancelList" asp-controller="SalesReturn">
                Cancellation <span>(Alt+3)</span>
            </a>
        </li>
    }
    @if (User.HasPermission(UserAccess.Settings))
    {
        <li class="@(ViewBag.Menu == "Settings" ? "active" : "")">
            <a asp-action="Settings" asp-controller="Sales">
                Settings <span>(Alt+4)</span>
            </a>
        </li>
    }
    <li class="@(ViewBag.Menu == "PrintTemplate" ? "active" : "")">
        <a asp-action="PrintTemplate" asp-controller="Sales">
            Print Template <span>(Alt+5)</span>
        </a>
    </li>
   
    @*@if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
    {
    <li class="@(ViewBag.Menu == "Order" ? "active" : "" )">
        <a asp-action="SalesOrder" asp-controller="Sales">
            Order <span>(Alt+6)</span>
        </a>
    </li>
    }
    <li class="@(ViewBag.Menu == "Order History" ? "active" : "" )">
        <a asp-action="SalesOrderHistory" asp-controller="Sales">
            Order History <span>(Alt+7)</span>
        </a>
    </li>*@
    <li class="dropdown @(ViewBag.Title == "Sales Order"
                            || ViewBag.Title == "Order History"
                            ? "active" : "")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Order <span>(Alt+6)</span>&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            @if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
            {
                <li class="@(ViewBag.Menu == "Order" ? "active" : "" )">
                    <a asp-action="SalesOrder" asp-controller="Sales">
                        Order / Estimate / Template
                    </a>
                </li>
            }
            <li class="@(ViewBag.Menu == "Order History" ? "active" : "" )">
                <a asp-action="SalesOrderHistory" asp-controller="Sales">
                     History
                </a>
            </li>
        </ul>
    </li>

    @if (User.AccountId() == "852eaefa-f670-4a6a-a0e7-db3fa252d576" || User.AccountId() == "63ED272D-1122-4E04-AFE8-C5A0F13B4F0E" || User.AccountId() == "c503ca6e-f418-4807-a847-b6886378cf0b")
    {
        <li class="@(ViewBag.Menu == "Department" ? "active" : "")">
            <a asp-action="ListNew" asp-controller="Sales">
                Department <span>(Alt+7)</span>
            </a>
        </li>
    }
    <a type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2" style="float:right;color: #f58220;"><img src="~/assets/images/youtube-logo.png" style="width: 21px; margin-right: 3px; margin-top: -10px;"/>Help Videos</a>

    @*<a href="/Sales/OtherSales" class="blink_me" title="other sales screen" style="color:#039394;font-size:15px;float:right;margin-right:25px;text-decoration:none;">* Try Other Sales Screen</a>*@

    @*<a href="/Sales/Download" class="blink_me" title="new sales screen" style="color:#28465a;font-size:15px;float:right;margin-right:25px;text-decoration:none;" formmethod="get" formaction="Download" formtarget="_blank">* HSN Code Reference</a>*@

    @*<a href="/Sales/NewIndex" class="blink_me" title="new sales screen" style="color:#039394;font-size:15px;float:right;margin-right:25px;text-decoration:none;">* Try New Sales Screen</a>*@

    @*<button type="button" id="saleComplete" class="orange-line-btn"  ng-click="showTempStockScreen()" style=" cursor: pointer;   float: right;
    margin-top: -4px;">GST IN</button>*@



</ul>
<div>
    <!-- Modal Side Menu -->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document" style="height: 100% !important;margin-top: -30px;">
            <div class="modal-content" style="min-height: 110%;background-color: #efefef;float:right;">

                <div class="modal-header" style="background-color:#284659 !important">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div style="margin-top: -25px;">
                        <img src="~/assets/images/youtube-logo.png" style="position: relative; top: 19px;width: 23px;" /><h4 class="modal-title" id="myModalLabel2" style="font-size: 16px; margin-left: 30px; color: #f58220">Help Videos</h4>
                    </div>
                </div>

                <div class="modal-body helpvideos">
                    <div>   
                        <label style="font-size:22px;color:#f58220">Sales</label>
                        <div style="font-size:14px;">Got stucked !!! Search here with appropriate keyword to watch  help videos.</div>
                        <br/>
                        <input type="text" id="inpSearch" class="form-control" placeholder="Enter Keywords here" style="background-color: #fff; padding-left: 5px;">
                    </div>
                    <div id="content" style="margin-top: 20px; margin-left: -20px;">
                        <ul>
                            <li><a href="https://www.youtube.com/watch?v=XR7WD27Ltls&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to make credit sales for Customers?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=C-csa7Bfn0Q&index=2&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to add bill wise discount in Sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=tNUDMwZwhTo&index=3&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to add product wise discount in sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=BmFqZrHD1o8&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c&index=4" target="_blank">How to record missed sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=Tsl2bo5tCnQ&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c&index=5" target="_blank">How to add temporary stocks?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=GCOD1c-7RNc&index=6&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to add a new customer?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=5ebxABQ2MXg&index=7&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to add remainders for items during sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=WxzqOTWwP6U&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c&index=8" target="_blank">How to search alternate medicines in sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=_yq-3sBy_WE&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c&index=9" target="_blank">How to search an item by generic name?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=OshRPg_Dlmc&index=10&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to send SMS/email during sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=xpLXNQ-oT4c&index=11&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to modify customer details?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=E7qr3t9N1So&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c&index=12" target="_blank">How to preview the bill in sales history?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=i3CeANM7D_o&index=13&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to reprint sales return bill from sales return list?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=g06wXPuNRbY&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c&index=14" target="_blank">How to Cancel a Bill?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=XXOo38v4VTU&index=15&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to select payment mode during Sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=cF6KN3tSoIs&index=16&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to create custom series sales bill?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=Hwi5HYQtHrs&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c&index=17" target="_blank">How to create a door delivery bill?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=4-BciVOyuas&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c&index=18" target="_blank">How to enable bar code option in sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=lWuCjd3TU2o&index=24&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to create customer types in settings?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=sU9YnCV079Q&index=25&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to edit sales bill?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=Fef8-bG1eW8&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c&index=26" target="_blank">How to search cancelled bills from sales cancel list using customer name?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=XF30IplCOvc&index=28&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to create return without bill number?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=9xa674-QzCs&index=30&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to Enable Print Yes/No Option While Completing Sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=Va-dPpm3YOE&index=31&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to enable department option for sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=Rh-7Fq0Z42c&index=32&list=PL9Y4YLv5urEJOUSS16Ptt_khXrFo7Qq9c" target="_blank">How to create a department in sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=rzoQFjFiVrw&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to search for a return billing using customer name?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=5akzjEYzc6U&index=2&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to search for a return bill from sales return using bill number?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=iOrXolJs4eU&index=3&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to return items against bill?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=SeXPgCWITzI&index=4&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to get a quick reprint during sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=RR4G7hnjYa4&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy&index=5" target="_blank">How to Solve Print Issue?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=XxB0Ho4ZYLg&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy&index=6" target="_blank">How to modify price during sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=0ngxCGBIXic&index=7&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to search a particular bill from sales history using Bill number?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=N0QCkXMcVDw&index=8&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to search a particular bill from sales list using Bill Value?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=VlLEPCA_FCs&index=9&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to search a bill from sales list using Customer Name?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=e2m0oFJZxFU&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy&index=10" target="_blank">How to enable sales cancel option in settings?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=cYGbeI-C4vA&index=11&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to set customer name as mandatory?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=32LpkoGxhrU&index=15&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to enable shortcut keys for menu?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=9hbenS4mShM&index=16&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to add bill narration message for default profiles?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=GVhliw7VHLQ&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy&index=19" target="_blank">How to enable custom series for sales?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=6G02gHzB8i0&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy&index=20" target="_blank">How to search customer using short name?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=cbaVF4fUv4g&index=21&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to add reminder for items during sale?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=gX0-nq1qQ4o&index=24&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy" target="_blank">How to Hide/Show Fields in Batch Popup Window?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=LzIP6yZtbro&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy&index=25" target="_blank">How to add SMS footer message for customers?</a></li>
                            <li><a href="https://www.youtube.com/watch?v=sL1OZiyvw80&list=PL9Y4YLv5urELyifUGLc0-K322xB1Rv7hy&index=26" target="_blank">how to create manual series sales bill?</a></li>

                        </ul>
                       

                    </div>

                    <div class="norecordsfound">No Records Found</div>

                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
</div>



<style>
    .helpvideos ul li
    {
        line-height:28px;      
    }
    .helpvideos 
    {
       background-image: url('/assets/images/HelpBg.jpg');
       background-repeat: repeat-y;
       min-height:100%;
    }

    .helpvideos ul li:before
     {
    position: absolute;
    display: block;
    content: '\2022'; /* bullet point, for screen readers */
    text-indent: -999999px; /* move the bullet point out of sight */
    left: -.75em;
    width: .4em; /* desired width of the image */
    height: 1em; /* unrelated to image height; this is so it gets snipped */
    background-repeat: no-repeat;
    background-image: url('/assets/images/youtube-logo.png');
    background-size: .4em .7em;
    background-position: 0 .3em;
}
    	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	    }

        .modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #d4d4d4;
        background-color: rgb(20, 35, 45);
	    }

    .modal-title {
        font-size: 15px;
        font-weight: 500;
        font-family: 'GT Light',arial,sans-serif;

    }

    /* ----- v CAN BE DELETED v ----- */
   
    .demo {
	    padding-top: 60px;
	    padding-bottom: 110px;
    }

    .btn-demo {
        margin: 0px;
        padding: 5px 9px;
        border-radius: 0;
        font-size: 13px;
    }

    .btn:hover, .btn:focus {
        color: #56799e;
}

    .btn-demo:focus {
	    outline: 0;
    }

    .demo-footer {
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	    padding: 15px;
	    background-color: #212121;
	    text-align: center;
    }

    .demo-footer > a {
	    text-decoration: none;
	    font-weight: bold;
	    font-size: 16px;
	    color: #fff;
    }

    .btn-srch {
        margin-left: 11px;
        font-size: 12px;
        padding: 4px 10px;  
        margin-top: -2px;
    }

    .nav-tabs > li > a {
       padding: 5px 13px; 
    }

    .close {
        color: #fff !important;
        opacity: 1;
    }

    .modal-header .close {
          margin-top: -5px;
    }


</style>

<!--  By San - 23-10-2017-->
<script asp-append-version="true" src="~/assets/js/jquery.js"></script>
<script asp-append-version="true" src="~/assets/js/helpvideos.js"></script>
<script>
    function blinker() {
        $('.blink_me').fadeOut(1000);
        $('.blink_me').fadeIn(1000);
    }
    setInterval(blinker, 2000);
</script>
