@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@model HQue.Contract.Infrastructure.Master.Patient
@{
    ViewBag.Title = "NewSell";
    ViewBag.Menu = "NewSell";
    Layout = "_LayoutSale";
}
@*@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")*@
<div class="" ng-app="hcue" ng-cloak>
    <input type="hidden" id="salesEditId" value="@ViewBag.Id" />
    <input type="hidden" id="accountId" value="@User.AccountId()" />
    <ng-view></ng-view>
</div>
@section scripts
{
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/common.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/custom.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/sell.css" rel="stylesheet" />
    @*<link asp-append-version="true" href="~/assets/css/bootstrap.css" rel="stylesheet" />*@
    <link asp-append-version="true" href="~/assets/css/slick.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    @* add this line*@
    <link asp-append-version="true" href="~/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/assets/js/jquery.freezeheader.js"></script>
    <script asp-append-version="true" src="~/assets/js/slick.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/newsalesappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/newrouteScript.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>
    <link asp-append-version="true" rel="stylesheet" href="~/assets/js/jquery-confirm-3.0.3.min.css">
    <script asp-append-version="true" src="~/assets/js/jquery-confirm-2.0.3.min.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/newsalesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productstockservice.js"></script>
    <script asp-append-version="true" src="~/AppScript/VendorPurchase/vendorPurchaseService.js"></script>
    <script asp-append-version="true" src="~/appscript/Accounts/CustomerReceipt/customerReceiptService.js"></script>
    <script asp-append-version="true" src="~/appscript/doctor/doctorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/shortcutHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/helpers/newcustomerHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/helpers/newsalesEditHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/newsalescreatectrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/newalternateProductSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempStockCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempProductsCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempStockAlertCtrl.js"></script>
    @*<script asp-append-version="true" src="~/appScript/sales/confirmPrintCreateCtrl.js"></script>*@
    <script asp-append-version="true" src="~/appscript/sales/newmissedOrderCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/productDetailSearchCtrl.js"></script>
    <script asp-append-version="true" src="/appscript/sales/productReturnCtrl.js"></script>
    <script asp-append-version="true" src="/appscript/sales/updateGSTINPopupCtrl.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}
@section reloadwarning
{
    <script>
        //window.onbeforeunload = confirmExit;
        function confirmExit() {
            return "You have attempted to leave this page.  If you have made any changes to the fields without clicking the Save button, your changes will be lost.  Are you sure you want to exit this page?";
        }
    </script>
}

