@using System.Threading.Tasks
@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@{
    ViewBag.Title = "NewSell List";
    ViewBag.Menu = "NewList";
     Layout = "_LayoutSale";
}



<style>
    .offline-grey-button {
        background-color: #B3B3B3;
    }
</style>

<div class="panelBorder" ng-app="hcue" ng-controller="newsalesSearchCtrl" >

    <section class="header-form clearfix">
        <div class="form-dada fL mr-10" >
            <label>Search by </label>
            <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="custom-dropdown customer-type" required>
                <option value="" disabled="" selected="" style="display:none">Please Select</option>
                <option value="batchNo">Batch</option>
                <option value="quantity">Quantity</option>
                <option value="mrp">MRP</option>
                <option value="invValue">Bill Value</option>
                <option value="billNo">Bill No.</option>
                <option value="billDate">Bill Date</option>
                <option value="customerName">Customer Name</option>
                <option value="customerMobile">Customer Mobile</option>
                <option value="doctorName">Doctor Name</option>
                @*<option value="doctorMobile">Doctor Mobile</option>*@
                <option value="discount">Discount %</option>
                <option value="discountValue">Discount Amount</option>
                <option value="product">Product Name</option>
                <option value="vat">VAT</option>
                <option value="expiry">Expiry Date</option>
            </select>
        </div>
        <div class="form-dada fL mr-10" ng-if="salesCondition==true">
            <label>Select Condition </label>
            <select class="custom-dropdown customer-type" select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select1" required>
                <option value="" disabled="" selected="" style="display:none">Please Select</option>
                <option value="equal">=</option>
                <option value="greater">></option>
                <option value="less"><</option>
            </select>
        </div>
        <div class="form-dada fL mr-10" ng-if="InvoiceSeriesCondition==true">
            <label>Select Invoice Type</label>
            <select id="InvoiceType" name="InvoiceType" title="Invoice Type" placeholder="Select anyone" ng-change="ChangeInvoiceSeriesDropdown(InvoiceSeriesType)" ng-model="InvoiceSeriesType"
                    class="custom-dropdown customer-type" required>

                <option value="Default">Default</option>
                <option value="Custom">Custom</option>
                <option value="Manual">Manual</option>
            </select>

        </div>
        <div class="form-dada fL mr-10" ng-if="InvoiceSeriesType=='Custom'">
            <label>Select Custom Series</label>
            <select ng-model="search.select1" class="form-dada fL mr-10">
                <option ng-repeat="item in InvoiceSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>
            </select>

        </div>
       
            <div class="form-dada fL mr-10 cal-pop-top" ng-if="dateCondition==true">
                <label>Select From Date</label>

                <input type="text" uib-datepicker-popup="{{format}}" placeholder="Select Date"
                       ng-model="search.values" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date class="bill-date cla-icon" />
                @*<span class="input-group-btn wrapper-date">
                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>*@

            </div>

            <div class="form-dada fL mr-10 cal-pop-top" ng-if="dateCondition==true">
                <label>Select To Date</label>

                <input type="text" uib-datepicker-popup="{{format}}" placeholder="Select Date" ng-model="search.selectValue"
                       is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                       ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date class="bill-date cla-icon" />
                @*<span class="input-group-btn wrapper-date">
                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>*@


            </div>
       
        

        <div class="form-dada fL mr-10" ng-if="dateCondition==false && productCondition==false && CustomerCondition ==false">
            <label>Enter Values</label>
            <input title="Values" class="" id="Values" name="Values" size="30" type="text" placeholder="Enter Value" ng-enter="salesSearch()" ng-model="search.values" />
        </div>

        <div class="form-dada fL mr-10 " ng-if="productCondition==true">

            <label>Enter Product Name</label>

            <input title="Product Name" type="text" placeholder="Product" id="drugName" name="drugName"
                   class="search-query form-control width-170 " ng-enter="salesSearch()" ng-model="search.drugName" typeahead-focus-on-select="false"
                   typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)">


        </div>

        <div class="form-dada fL mr-10" ng-if="CustomerCondition==true">

            <label>Customer Name [<span class="fkey">F1</span>]</label>
            <input type="text" ng-model="customerHelper.data.patientSearchData.name"
                   typeahead-focus-on-select="false"
                   typeahead-min-length="1"
                   placeholder="Customer name"
                   id="customerName" required
                   name="customerName"
                   title="Customer name"
                   typeahead-on-select="onPatientSelect($item,$event)"
                   ng-enter="onPatientSelect($item,$event)"
                   typeahead-editable="false"
                   ng-change="changeCustomerName()"
                   ng-blur="blurCustname()"
                   ng-keyup="keyEnter($event,'Search')"
                   uib-typeahead="ps as ps.name for ps in getPatient($viewValue)"
                   class="form-control form-control-small width-170"
                   typeahead-template-url="itemTpls.html" />
            <script type="text/ng-template" id="itemTpls.html">

                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">
                    <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                </a>
                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">
                    <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                </a>

                <div style="color:#fbaf67"></div>

            </script>


            <span class="error" style="margin-left:10px;" ng-show="iscustomerNameMandatory">* Select customer name</span>


        </div>
        <button type="submit" class="green-button" ng-click="salesSearch()">SEARCH</button>
        <button type="submit" class="darkgray-button mr-10" ng-click="clearSearch()">RESET</button>
    </section>



    <div class="container-fluid sell-sub-pages sell-history" ng-cloak ng-show="list.length > 0">
        <div class="row">
            <div class="col-md-3 pr-0">
                <h6>Last 10 Sales Details Displayed</h6>
                <div class="left-side-section">
                    <div class="table-header-section">
                        <table>
                            <thead>
                                <tr>
                                    <th width="28%">Bill No</th>
                                    <th width="35%">Bill Date</th>
                                    <th width="37%">Customer Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div id="historydata" class="table-body-section">
                        <table class="content">
                            <tbody id="productbatchList" popup-focus="focusInputsalehistory" tabindex="0" ng-keydown="keyPressGDmain($event,$index)">
                                <tr ng-repeat="sales in list" ng-class="{active: ($index+1) === isSelectedItemMain}" ng-click="buildselectedSales(sales,$index)">
                                    <td width="28%"> <span ng-bind="sales.invoiceNo"></span></td>
                                    <td width="35%"><span ng-bind="sales.invoiceDate | date:'dd/MM/yyyy'"></span></td>
                                    <td width="37%" class="right-arrow"><span ng-bind="sales.name"></span></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div align="left">
                    @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
                </div>
            </div>
            <div class="col-md-9">
                <div class="right-side-section">
                    <div class="">
                        <div class="">
                            <div class="right-side-details">
                                <table>
                                    <thead>
                                        <tr>
                                            <th width="30%">Customer Name</th>
                                            <th width="20%">Mobile</th>
                                            <th width="20%">Doctor</th>
                                            <th width="30%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td width="30%">
                                                <div class="right-side__form">
                                                    <input type="text" name="" value="Balasubramaniya Durga Reddy" placeholder="" ng-model="selectedlist.name" maxlength="30">
                                                </div>
                                            </td>
                                            <td width="20%">
                                                <div class="right-side__form">
                                                    <input type="text" id="mobile" name="mobile" placeholder="Mobile No." maxlength="30" ng-model="selectedlist.mobile" valid-number>
                                                </div>
                                            </td>
                                            <td width="20%">
                                                <div class="right-side__form">
                                                    <input type="text" id="doctorName" name="doctorName" placeholder="Doctor Name" maxlength="30" style="width:75%;" ng-model="selectedlist.doctorName">
                                                </div>
                                            </td>
                                            <td width="30%">
                                                <div class="col-md-2 override_margin">
                                                    @*<span class="glyphicon glyphicon-print" style="cursor: pointer; padding:4px; margin: 1px;" ng-click="printBill(sales)" ng-hide="sales.cancelstatus==1"></span>*@
                                                    @*<span class="glyphicon glyphicon-edit" ng-hide="sales.IsEdit || sales.cancelstatus==1 || sales.paymentType=='Credit' || sales.paymentTypeOrig == 'Cheque'" style="cursor: pointer; padding:4px; margin: 1px;" ng-click="editSales(sales)"></span>*@
                                                    <span class="glyphicon glyphicon-floppy-save" ng-hide="sales.cancelstatus==1 || sales.paymentType=='Credit' || sales.paymentTypeOrig=='Cheque' "
                                                          style="cursor: pointer; padding:4px; margin: 2px;" ng-click="saveSales(selectedSale)"></span>
                                                    <span class="glyphicon glyphicon-fullscreen" style="cursor: pointer; padding:4px; margin:1px;" ng-click="viewBill(selectedSale) " ng-hide="sales.cancelstatus==1"></span>

                                                </div>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                                <div class="bill-cancelled" ng-show="selectedSale.cancelstatus==1" >  @*ng-show="selectedSale.cancelstatus==1"*@
                                    <h5>BILL CANCELLED</h5>
                                   
                                </div>
                            </div>
                            <div class="right-table-header">
                                <table>
                                    <thead ng-show="selectedSale.salesItem.length > 0">
                                        <tr>
                                            <th width="6%" class="text-center">S. No</th>
                                            <th width="20%">Product</th>
                                            <th width="16%">Batch No</th>
                                            <th width="12%" class="text-center">Expiry Date</th>
                                            <th width="6%" class="text-center">VAT%</th>
                                            <th width="12%" class="text-center">Product Discount</th>
                                            <th width="10%" class="text-center">Quantity</th>
                                            <th width="6%" class="text-center">MRP</th>
                                            <th width="12%" class="text-right">Price</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="right-table-body" ng-show="selectedSale.salesItem.length > 0">
                                <table>

                                    <tbody ng-show="selectedSale.salesItem.length > 0">
                                        <tr ng-repeat="salesItem in selectedSale.salesItem">
                                            <td width="6%" class="text-center">{{$index+1}}</td>
                                            <td width="20%">{{salesItem.productStock.product.name}}</td>
                                            <td width="16%">{{salesItem.productStock.batchNo}}</td>
                                            <td width="12%" class="text-center">{{salesItem.productStock.expireDate | date:'MM/yy'}}</td>
                                            <td width="6%" class="text-center">{{salesItem.productStock.vat}}</td>
                                            <td width="12%" class="text-center">{{salesItem.discount}}</td>
                                            <td width="10%" class="text-center">{{salesItem.quantity}}</td>
                                            <td width="6%" class="text-center">{{salesItem.sellingPrice>0?salesItem.sellingPrice:salesItem.productStock.sellingPrice | number:2}}</td>
                                            <td width="12%" class="text-right">{{salesItem.total | number:2}}</td>
                                        </tr>

                                        <tr class="sell-modified-date">
                                            <td colspan="5">
                                                <b>Created Time:</b> {{selectedSale.createdAt | date:'dd/MM/yyyy hh:mm a' }}
                                            </td>
                                            @*<td colspan="4" class="text-right">
                                                    Edited by hCue Pharmacy 2
                                                </td>*@
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                            <div class="right-table-body" ng-show="selectedSale.salesItem.length == 0">
                                <div class="text-center mar-top-25" style="">
                                    <img src="/assets/images/nodata.png">
                                    <div class="msg">
                                        <p class="goback-text">No product found</p>
                                        <p class="goback-text-line2">Try using a different criteria to view better results.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 override_margin" ng-show="selectedSale.salesItemAudit.length>0">
                                <div ng-repeat="salesAuditItem in selectedSale.salesItemAudit">
                                    <div class="right-table-header">
                                        <div class="row override_margin" style="background-color:#B2E9DE; color:#17875e">
                                            <div class="col-md-6 override_margin"> <label class="pull-left" style="color:#ff6a00">Data Edited on {{salesAuditItem.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</label></div>
                                            <div class="col-md-6 override_margin"> <label class="pull-right" style="color:#ff6a00">Edited by {{salesAuditItem.updatedByUser}}</label></div>
                                        </div>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th width="6%" class="text-center">S. No</th>
                                                    <th width="20%">Product</th>
                                                    <th width="16%">Batch No</th>
                                                    <th width="12%" class="text-center">Expiry Date</th>
                                                    <th width="6%" class="text-center">VAT%</th>
                                                    <th width="12%" class="text-center">Product Discount</th>
                                                    <th width="10%" class="text-center">Quantity</th>
                                                    <th width="6%" class="text-center">MRP</th>
                                                    <th width="12%" class="text-right">Price</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="right-table-body">
                                        <table>
                                            <thead>
                                            <tbody>
                                                <tr>
                                                    <td width="6%" class="text-center">{{$index+1}}</td>
                                                    <td width="20%">{{salesAuditItem.productStock.product.name}}</td>
                                                    <td width="16%">{{salesAuditItem.productStock.batchNo}}</td>
                                                    <td width="12%" class="text-center">{{salesAuditItem.productStock.expireDate | date:'MM/yy'}}</td>
                                                    <td width="6%" class="text-center">{{salesAuditItem.productStock.vat}}</td>
                                                    <td width="12%" class="text-center">{{salesAuditItem.discount}}</td>
                                                    <td width="10%" class="text-center">{{salesAuditItem.quantity}}</td>
                                                    <td width="6%" class="text-center">{{salesAuditItem.sellingPrice>0?salesAuditItem.sellingPrice:salesAuditItem.productStock.sellingPrice | number:2}}</td>
                                                    <td width="12%" class="text-right">{{salesAuditItem.total | number:2}}</td>
                                                </tr>

                                                <tr class="sell-modified-date">
                                                    <td colspan="5">
                                                        <b>Created Time:</b> {{salesAuditItem.createdAt | date:'dd/MM/yyyy hh:mm a' }}
                                                    </td>
                                                    @*<td colspan="4" class="text-right">
                                                            Edited by hCue Pharmacy 2
                                                        </td>*@
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-side-footer clearfix">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-right">Discount</th>
                                <th class="text-right">Total amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class="text-right">
                                    <span ng-bind="selectedSale.discount">
                                    </span>
                                </td>
                                <td class="text-right">{{amt}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <button class="line-button mr-10 mt-15 fR" ng-if="IsOffline" ng-class="offlineGreyButton" onClick="dispCashType()" title="Return" ng-hide="selectedSale.cancelstatus==1">Return</button>
                    <a class="line-button mr-10 mt-15 fR" ng-if="!IsOffline" ng-href="/salesReturn/index?id={{selectedSale.id}}"
                       title="Return" ng-hide="selectedSale.cancelstatus==1" href="/salesReturn/index?id={{selectedSale.id}}">Return</a>


                    @if (User.HasPermission(UserAccess.SalesEdit))
                    {

                        <button class="line-button mr-10 mt-15 fR" ng-if="selectedSale.cashType == 'Credit' && selectedSale.credit == '0' || IsOffline" ng-class="offlineGreyButton" onClick="dispCashType()" style="margin: 4px !important; font-size: 10px" title="Edit" ng-hide="selectedSale.cancelstatus==1" ng-disabled="selectedSale.isChequeRecieved">EDIT</button>

                        <a class="line-button mr-10 mt-15 fR" ng-if="!(selectedSale.cashType == 'Credit' && selectedSale.credit == '0') && !IsOffline"
                           title="Edit"
                           ng-hide="selectedSale.cancelstatus==1" ng-disabled="selectedSale.isChequeRecieved" href="/sales/newindex?id={{selectedSale.id}}">EDIT</a>
                    }
                    @if (User.HasPermission(UserAccess.SalesCancel))
                    {
                        <button class="line-button mr-10 mt-15 fR" ng-if="CancelBillDays > selectedSale.totalNoOfDays" title="Cancel" ng-class="offlineGreyButton" ng-click="CancelItem(selectedSale.id)" ng-hide="selectedSale.cancelstatus==1" ng-disabled="selectedSale.isChequeRecieved">CANCEL BILL</button>
                    }

                    @*<button class="line-button mr-10 mt-15 fR" disabled style="margin:4px !important; font-size:16px;background-color:orangered" title="Cancelled" ng-show="sales.cancelstatus==1">Cancelled Bill</button>*@

                    <button type="submit" class="line-button mr-10 mt-15 fR" ng-click="printBill(selectedSale)" ng-hide="selectedSale.cancelstatus==1">PRINT [Alt+P]</button>
                </div>
            </div>
        </div>
    </div>


    

        <div class="right-table-body" ng-show="list.length == 0">
            <div class="text-center mar-top-25" style="">
                <img src="/assets/images/nodata.png">
                <div class="msg">
                    <p class="goback-text">No search results found</p>
                    <p class="goback-text-line2">Try using a different criteria to view better results.</p>

                </div>
            </div>
        </div>




</div>

@section scripts
{
    <link asp-append-version="true" href="~/assets/css/common.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/custom.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/sell.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/slick.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderappscriptlist.js"></script>

    <script asp-append-version="true" src="~/appscript/sales/newsalesappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/newsalesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerServcieforsales.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/newsalesSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}
