﻿@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@{
    ViewBag.Title = "Sell";
    ViewBag.Menu = "Sell";
    Layout = "_LayoutBlankForOtherSales";
}


<div class="row override_margin" ng-app="hcue" ng-controller="otherSalesCreateCtrl" ng-init="getInvoiceNo()" ng-cloak>
    <ng-form novalidate id="salesItems" name="salesItems">
        <div class="row clearfix">
            <div class="col-sm-10">
                <label style="margin-top: 4px" class="pull-left">Invoice No: <span style="font-family: GT Light;font-size: 12px;">{{dispInvoiceNo}}</span></label>

                <label style="margin-top: 4px" class="pull-right">Invoice Date: <span style="font-family: GT Light; font-size: 12px;">{{selectedBillDate | date:'dd/MM/yy'}}</span></label>
            </div>

            @*<div class="col-md-1">                
                <a asp-action="LogOut" title="Logout" asp-controller="User" class="logout-icon">
                    <img src="/assets/images/logout.png" alt="Logout" />
                </a>

            </div>*@

            @*@if (ViewBag.IsMobileDevice == true)
            {
                <div class="col-md-2">                    
                    <a asp-action="LogOut" title="Logout" asp-controller="User" class="logout-icon">
                        <img src="/assets/images/logout.png" alt="Logout" />
                    </a>

                </div>
            }*@
        </div>

        <div>
            <div class="col-md-10 override_margin">
                <div class="panel panel-default override_margin product-enter">
                    <div class="panel-body orange-border-top override_margin">
                        <div class='row override_margin'>
                            <div class='col-sm-4 override_margin sell-product-drop'>
                                <div class='form-group override_margin' style="font-size:12px;">
                                    <div class="input-group sell-product sell-group-decor3 txtUpper">
                                        <label>Product</label>
                                        <input type="text" ng-model="selectedProduct" style="font-family: GT Bold;color:#000;"
                                               typeahead-focus-on-select="false"
                                               typeahead-min-length="1"
                                               placeholder="Product"
                                               id="drugName" required
                                               name="drugName"
                                               title="Product Name"
                                               typeahead-on-select="onProductSelect()"
                                               typeahead-editable="false"
                                               ng-keyup="CheckName()"
                                               popup-focus="focusProductSearch"
                                               uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                                               class="form-control form-control-small "
                                               typeahead-template-url="itemTpl.html"
                                               ng-enter="getProduct()" />
                                        <script type="text/ng-template" id="itemTpl.html">
                                            <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H'">
                                                <span class='schedule'>H </span><span class="gap"> </span>
                                                <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                                            </a>
                                            <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H1'">
                                                <span class='schedule orange'>H1 </span><span class="gap"> </span>
                                                <span ng-bind-template="{{match.model.product.code}} {{match.model.product.name}} ({{match.model.stock}})"></span>
                                            </a>
                                            <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'X'">
                                                <span class='schedule pink'>X </span><span class="gap"> </span>
                                                <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                                            </a>
                                            <a tabindex="-1" ng-if="match.model.product.schedule != 'H' && match.model.product.schedule != 'H1' && match.model.product.schedule != 'X'">
                                                <span class=''>&nbsp;&nbsp;&nbsp;&nbsp;<span class="gap"></span></span>
                                                <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                                            </a>
                                        </script>
                                    </div>
                                    <span class="error" ng-show="salesItems.productName.$dirty && salesItems.productName.$error.required" style="margin-left:0px">Select drug name</span>
                                    <span class="error" ng-show="zeroBatch" style="margin-left:0px">Total quantity already selected</span>

                                    <span class="highlight" style="margin-left:0px">{{eancodeAlert}}</span>
                                </div>
                            </div>
                            <div class='col-sm-1 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group sell-group-decor3">
                                        <label>Quantity</label>
                                        <input title="Quantity" type="text" id="quantity" name="quantity" class="form-control" required placeholder="Qty" maxlength="7"
                                               ng-change="validateQty(true)" !ng-disabled="selectedProduct.product.name=='' || selectedProduct.product.name== undefined"
                                               ng-model="selectedBatch.quantity" ng-enter="addSales()" numbers-only valid-number style="font-family: GT Bold;color:#000;" />
                                    </div>
                                    <span class="error" ng-show="salesItems.quantity.$dirty && salesItems.quantity.$error.required">Required</span>
                                    <div ng-messages="salesItems.quantity.$error" role="alert">
                                        <span class="error override_margin" ng-if="selectedBatch.quantity > selectedBatch.totalQuantity && selectedBatch.editId == null && !selectedBatch.salesReturn" ng-message="required">Stock available is {{selectedBatch.totalQuantity}}</span>
                                        <span class="error override_margin" ng-if="selectedBatch.quantity > selectedBatch.availableQty && selectedBatch.editId != null && !selectedBatch.salesReturn" ng-message="required">Stock available is {{selectedBatch.availableQty}}</span>
                                    </div>
                                    <span id="spnquantity" data-quantityId="{{selectedBatch.quantity}}" data-price="{{selectedBatch.sellingPrice}}" data-discount="{{selectedBatch.discount}}"></span>
                                </div>
                            </div>
                            <div class='col-sm-3 override_margin'>
                                <div class="form-group override_margin">
                                    <div class="input-group sell-group-decor sell-batch col-md-12">
                                        <label>Batch</label>
                                        <select chosen
                                                style="font-family: GT Bold;color:#000;"
                                                title="Batch Number"
                                                option="batchList"
                                                data-placeholder="Select Batch Number"
                                                ng-disabled="selectedBatch.editId != null"
                                                ng-model="selectedBatch"
                                                ng-options="key as (item.batchNo + '   ('+ item.availableQty + ')') for (key, item) in batchList track by item.productStockId"
                                                class="form-control override_margin small"
                                                ng-change="batchSelected(selectedBatch)">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            @*<div class='col-sm-1 override_margin'>
                                    <div class="form-group override_margin">
                                        <div class="input-group sell-group-decor3 expiry">
                                            <label>Expiry</label>
                                            <input title="Expire Date" type="text" id="expireDate" name="expireDate" class="form-control" value="{{selectedBatch.expireDate | date:'MM/yy'}}" disabled style="font-family: GT Bold;color:#000;" />
                                            <span class="error" ng-if="highlight == 'Expiry'">{{selectedBatch.expireDate | date:'MMM yy'}}  {{highlight}}</span>

                                        </div>
                                    </div>
                                </div>*@

                            <div class='col-sm-1 override_margin'>
                                <div class='form-group override_margin'>
                                    <div class="input-group sell-group-decor3">
                                        <label>Price</label>
                                        <input title="Selling Price" type="text" id="sellingPrice" name="sellingPrice" class="form-control" maxlength="9"
                                               ng-model="selectedBatch.sellingPrice" disabled style="font-family: GT Bold;color:#000;" />
                                    </div>
                                </div>
                            </div>


                            <input type="hidden" id="isGstEnabled" name="isGstEnabled" value="@User.GSTEnabled()" ng-init="getIsGstEnabled()" />

                            <div>
                                <button type="button"
                                        id="btnSave"
                                        title="Add"
                                        class="btn btn-style"
                                        style="width:100px;margin-top:30px;"
                                        ng-disabled="(!salesItems.$valid && Quantityexceeds==0) || selectedBatch.sellingPrice =='.' || selectedBatch.sellingPrice =='' || !Enablesalesbtn || addbtnenable " ng-click="addSales()">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="override_margin sales-list" ng-if="sales.salesItem != 0">
                    <div class="panel panel-default override_margin">
                        <div class="panel-body orange-border-top">
                            @*<div class='row override_margin'>
                                    <div class="col-md-1">&nbsp;</div>
                                    <div class="col-md-10 override_margin">
                                        <label class="col-md-1 override_margin">S. No.</label>
                                        <label class="col-md-4 override_margin">Product</label>
                                        <label class="col-md-1" style="text-align:right;">Quantity</label>
                                        <label class="col-md-2">Price </label>
                                    </div>
                                    <div class="col-md-1">&nbsp;</div>
                                </div>*@
                            <div class='row'>

                                <div ng-repeat="salesItem in sales.salesItem">
                                    <div>
                                        <div class="chip-style product-add-list">
                                            <div class="table table-responsive">
                                                <table style="width:100%;">
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th>S. No</th>
                                                        <th>Product</th>
                                                        <th>Quantity</th>
                                                        <th>Price</th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button type="button" title="+" class="col-md-1 chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                                        </td>
                                                        <td>{{$index+1}}</td>
                                                        <td>
                                                            <strong class="orange-text ng-binding">{{salesItem.name | uppercase}}</strong>
                                                            <span ng-show="salesItem.availablestock >= 0" style="color:red;">[Avail.Qty : {{salesItem.availablestock}}]</span>
                                                        </td>
                                                        <td>
                                                            {{salesItem.quantity}}
                                                        </td>
                                                        <td>{{salesItem.sellingPrice * salesItem.quantity | number : 2}}                                        </td>
                                                        <td>
                                                            <span class="col-xs-2 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;" title="Delete" ng-click="removeSales(salesItem)"></span>&nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                            <table class="table product-enter-list">
                                                <thead class="chips-header ">
                                                    <tr>
                                                        <th>Batch</th>
                                                        <th>Expiry</th>
                                                        <th ng-hide="isGstEnabled == true">VAT</th>
                                                        <th ng-show="isGstEnabled == true"><span ng-hide="(isComposite == true)">GST Total </span></th>
                                                        <th>Barcode</th>
                                                        <th ng-show="enableSelling">Selling</th>
                                                        <th>MRP</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-left">
                                                        <td>{{salesItem.batchNo}}</td>
                                                        <td>{{salesItem.expireDate | date:'MM/yy'}}</td>
                                                        <td ng-hide="isGstEnabled == true">{{salesItem.vat}}</td>
                                                        <td ng-show="isGstEnabled == true"><span ng-hide="(isComposite == true)">{{salesItem.gstTotal}}</span></td>
                                                        <td>{{salesItem.purchaseBarcode}}</td>
                                                        <td>{{salesItem.sellingPrice}}</td>
                                                        <td ng-show="enableSelling">{{salesItem.mrp}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-sell">
                    <div class="clearfix">
                        <div class="no-pad col-sm-3">
                            <div class="special" style="color:#28465a;text-transform:uppercase;font-size:20px;font-family: GT Bold !important;">
                                Net Value :
                                <strong style="font-size:20px;font-family: GT Bold !important;">{{ FinalNetAmount  | number:2}}</strong>
                            </div>
                        </div>
                        <div class="no-pad col-sm-5">
                            <a type="button" class="gray-line-btn" ng-click="cancel()">Clear</a>
                            <input type="hidden" id="saveType" value='@ViewBag.CompleteSaleType' />
                            <button type="button" id="saleComplete" ng-disabled="!isSaveValid() || FinalNetAmount < 0" class="orange-line-btn btn-pri" ng-click="save()">Complete Sale </button>
                        </div>
                        @if (ViewBag.IsMobileDevice == false)
                        {
                            <div class="pull-right">
                                <a type="button" class="gray-line-btn" ng-click="backButton()">Back</a>
                            </div>

                        }

                    </div>


                </div>
            </div>
        </div>
    </ng-form>

    @{
        await Html.RenderPartialAsync("_SalesCompleteMobileVerification");
    }
</div>


@section scripts
{
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/developer.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>


    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angular-filter.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/routescript.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>

    <link asp-append-version="true" rel="stylesheet" href="~/assets/js/jquery-confirm-3.0.3.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/sell.css" />
    <script asp-append-version="true" src="~/assets/js/jquery-confirm-2.0.3.min.js"></script>

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productstockservice.js"></script>
    <script asp-append-version="true" src="~/AppScript/VendorPurchase/vendorPurchaseService.js"></script>
    <script asp-append-version="true" src="~/appscript/Accounts/CustomerReceipt/customerReceiptService.js"></script>
    <script asp-append-version="true" src="~/appscript/doctor/doctorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/shortcutHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/helpers/customerHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/helpers/salesEditHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salescreatectrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/alternateProductSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempStockCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesPaymentCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempProductsCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempStockAlertCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/stockBranchWiseCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesTemplateWiseCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/showSalesOrderEstimateCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/partialOrderCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesUserValidateCtrl.js"></script>

    <script asp-append-version="true" src="~/appScript/sales/salesCompleteMobileVerifyCtrl.js"></script>

    <script asp-append-version="true" src="~/appscript/sales/missedOrderCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/productReturnCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/productDetailSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/updateGSTINPopupCtrl.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/AppScript/productStock/validateStockCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/otherSalesCreateCtrl.js"></script>


}


