@{
    ViewBag.Title = "Sell List";
    ViewBag.Menu = "PrintTemplate";

}
@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")


    <ng-form novalidate id="templateData" name="templateData">
        <div id="wrapper">
            <div class="panel panel-default" style="background-color:azure;" ng-app="hcue" ng-controller="printtemplateCreateCtrl" ng-cloak>
                <div class="row panelBorder override_margin">

                    <div class="col-md-9" id="container2" style="background-color:dimgray;height:700px;overflow: scroll;">
                        <div align="center" style="padding:10px; min-height:600px;">
                            <canvas id="canvas2" ng-if="templateData.paperType=='A4'" height="600" width="680" style="background-color:white" ng-init="init()">
                                This text is displayed if your browser does not support HTML5 Canvas.
                            </canvas>
                            <canvas id="canvas2" ng-if="templateData.paperType=='A5'" height="600" width="560" style="background-color:white" ng-init="init()">
                                This text is displayed if your browser does not support HTML5 Canvas.
                            </canvas>
                            <canvas id="canvas2" ng-if="templateData.paperType=='4INCH'" height="600" width="510" style="background-color:white" ng-init="init()">
                                This text is displayed if your browser does not support HTML5 Canvas.
                            </canvas>
                            <canvas id="canvas2" ng-if="templateData.paperType=='DotMatrixA5'" height="700" width="680" style="background-color:white" ng-init="init()">
                                This text is displayed if your browser does not support HTML5 Canvas.
                            </canvas>
                            <canvas id="canvas2" ng-if="templateData.paperType=='DotMatrixRoll'" height="600" width="850" style="background-color:white" ng-init="init()">
                                This text is displayed if your browser does not support HTML5 Canvas.
                            </canvas>
                            <canvas id="canvas2" ng-if="templateData.paperType=='CUSTOM'" height="1000" width="850" style="background-color:white" ng-init="init()">
                                This text is displayed if your browser does not support HTML5 Canvas.
                            </canvas>

                        </div>
                        <div style="clear:both;"></div>
                    </div>

                    <div class="col-md-3" style="margin:0px !important; padding:0px !important; display:inline-block">

                        <div class="row override_margin" id="propTemplate">
                            <!--Template details-->
                            <div class="col-md-12 override_margin">
                                <label class="col-md-12 override_margin" style="background-color:lightslategray; color:whitesmoke; font-size:14px; font-weight:700; padding-left:16px !important">Template Details</label>
                                <div class="col-md-10 override_margin" style="margin-left:24px !important;">
                                    <div class="form-group override_margin">
                                        <label for="templatepName">Template Name:</label>
                                        <input type="text" class="form-control" id="templatepName" ng-model="templateData.templateName">
                                    </div>
                                </div>
                                <label class="col-md-12 override_margin" style="padding-left:24px !important;">Paper Type:</label>
                                <div class="col-md-10 override_margin" style="margin-left:24px !important;">
                                    <select class="input-large form-control" ng-model="templateData.paperType">
                                        <option value="">Select a paper type</option>
                                        <option value="A4" selected="selected">A4</option>
                                        <option value="A5">A5</option>
                                        <option value="4INCH">4 Inch roll</option>
                                        <option value="DotMatrixA5">Dot Matrix A5</option>
                                        <option value="DotMatrixRoll">Custom Dot Matrix Roll</option>
                                        <option value="CUSTOM">Pre-printed stationary</option>
                                    </select>

                                    <button title="Save" id="save" class="btn btn-style pull-right" style="margin:10px 0px 6px 0px !important; padding:2px 16px 2px 16px !important" ng-click="save()">
                                        <span class="pull-right">Save</span>
                                    </button>

                                    <button title="Load" class="btn btn-style pull-right" style="margin:10px 2px 6px 0px !important; padding:2px 16px 2px 16px !important" ng-click="loadTemplate()">
                                        <span class="pull-right">Load</span>
                                    </button>

                                    <button title="Clear" class="btn btn-style pull-left" style="margin:10px 0px 6px 0px !important; padding:2px 16px 2px 16px !important" ng-click="clear()">
                                        <span class="pull-right">Clear</span>
                                    </button>

                                </div>

                            </div>
                        </div>

                        <div id="propwindow" class="row override_margin" style="display:none;visibility:visible">
                            <label class="col-md-12 override_margin" style="background-color:lightslategray; color:whitesmoke; font-size:14px; font-weight:700; padding-left:16px !important">Properties</label>
                            <div id="propLabel" class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <td style="width:40%">Text</td>
                                        <td width="50" style="background-color:white"><input class="col-md-9" type="text" id="textProp"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:40%">Section</td>
                                        <td width="50" style="background-color:white">
                                            <select class="input-large form-control" id="section" ng-model="selectedField.alignment">
                                                <option value="0" selected="selected">HEADER</option>
                                                <option value="1">FOOTER</option>
                                            </select>
                                        </td>
                                    </tr>


                                </table>
                            </div>
                        </div>

                        <div ng-if="templateData.paperType=='CUSTOM' || templateData.paperType=='DotMatrixRoll'" id="propCanvas" class="row override_margin" style="display:block;visibility:visible">
                            <label class="col-md-12 override_margin" style="background-color:lightslategray; color:whitesmoke; font-size:14px; font-weight:700; padding-left:16px !important">Properties</label>
                            <table class="table">
                                <tr>
                                    <td style="width:40%">Height (cm)</td>
                                    <td contenteditable="true" class="single-line" ng-model="templateData.height" width="50" style="background-color:white" onblur="window.setResolution(this.innerText, NaN)">{{templateData.height}}</td>
                                </tr>
                                <tr>
                                    <td style="width:40%">Width (cm)</td>
                                    <td contenteditable="true" class="single-line" ng-model="templateData.width" width="50" style="background-color:white" onblur="window.setResolution(NaN, this.innerText)">{{templateData.width}}</td>
                                </tr>
                                <tr>
                                    <td style="width:40%">Font Size</td>
                                    <td contenteditable="true" class="single-line" ng-model="templateData.fontSize" width="50" style="background-color:white" onblur="window.setFontsize(this.innerText)">{{templateData.fontSize}}</td>
                                </tr>
                                <tr>
                                    <td style="width:40%">Top Margin</td>
                                    <td contenteditable="true" class="single-line" ng-model="templateData.topMargin" width="50" style="background-color:white" onblur="window.setTopMargin(this.innerText)">{{templateData.topMargin}}</td>
                                </tr>
                                <tr>
                                    <td style="width:40%">Left Margin</td>
                                    <td contenteditable="true" class="single-line" ng-model="templateData.leftMargin" width="50" style="background-color:white" onblur="window.setLeftMargin(this.innerText)">{{templateData.leftMargin}}</td>
                                </tr>
                                <tr>
                                    <td style="width:40%">Right Margin</td>
                                    <td contenteditable="true" class="single-line" ng-model="templateData.rightMargin" width="50" style="background-color:white" onblur="window.setRightMargin(this.innerText)">{{templateData.rightMargin}}</td>
                                </tr>
                            </table>
                        </div>

                        <div id="propDataitem" class="row override_margin" style="display:none;visibility:visible">
                            <label class="col-md-12 override_margin" style="background-color:lightslategray; color:whitesmoke; font-size:14px; font-weight:700; padding-left:16px !important">Properties</label>
                            <table class="table">
                                <tr>
                                    <td style="width:40%">Alignment</td>
                                    <td width="50" style="background-color:white">
                                        <select class="input-large form-control" id="dataitem-align">
                                            <option value="1" selected="selected">Left</option>
                                            <option value="0">Center</option>
                                            <option value="2">Right</option>
                                        </select>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td style="width:40%">FontSize</td>
                                    <td width="50" style="background-color:white">
                                        <select class="input-large form-control" id="dataitem-itemfontsize">               
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11" selected="selected">11</option>
                                            <option value="12">12</option>
                                            <option value="14">14</option>
                                            <option value="16">16</option>
                                            <option value="18">18</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:40%">Font Weight</td>
                                    <td width="50" style="background-color:white">
                                        <select class="input-large form-control" id="dataitem-fontweight">
                                            <option value="0" selected="selected">Normal</option>
                                            <option value="1">Bold</option>
                                        </select>
                                    </td>
                                </tr>*@
                            </table>
                        </div>
                        @*<div id="propFontSettings" class="row override_margin" style="display:none;visibility:visible">
                            <table class="table">
                                <tr>
                                    <td style="width:40%">FontSize</td>
                                    <td width="50" style="background-color:white">
                                        <select class="input-large form-control" id="dataitem-itemfontsize" ng-model="selectedField.itemfontsize">
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11" selected="selected">11</option>
                                            <option value="12">12</option>
                                            <option value="14">14</option>
                                            <option value="16">16</option>
                                            <option value="18">18</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:40%">Font Weight</td>
                                    <td width="50" style="background-color:white">
                                        <select class="input-large form-control" id="dataitem-fontweight">
                                            <option value="0" selected="selected">Normal</option>
                                            <option value="1">Bold</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>*@

                        <div id="uploadwindow" class="row override_margin" style="display:block; height:100px;visibility:visible;" ng-show="templateData.paperType=='CUSTOM'">
                            <label class="col-md-12 override_margin" style="background-color:lightslategray; color:whitesmoke; font-size:14px; font-weight:700; padding-left:16px !important">Upload Stationary</label>

                            <div class="fileupload fileupload-new" data-provides="fileupload" style="margin:24px !important;">
                                <span class="fileupload-preview" style="color: black"></span>
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                <span class="btn btn-style btn-file fileupload-new">
                                    <span class="fileupload-new">Select stationary</span>
                                    <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                </span>
                                <div class="col-md-12 override_margin fileupload-exists">
                                    <button title="Upload" class="btn btn-style pull-left" style="margin:6px !important; padding:2px 16px 2px 16px !important" ng-click="uploadFile()">
                                        <span class="pull-right">Upload</span>
                                    </button>
                                </div>
                            </div>

                        </div>

                        <!--Sales data items tree-->
                        <div class="row override_margin" id="dataPallet" style="position:relative; width:100%; background-color:azure; top:0px;">
                            <label class="col-md-12 override_margin" style="background-color:lightslategray; color:whitesmoke; font-size:14px; font-weight:700; padding-left:16px !important">Data Fields <i id="panel_dataitems" class="fa fa-caret-up pull-right" style="margin:2px 6px 0px 0px;cursor:pointer;"></i></label>
                            <div class="row override_margin">
                              
                                <div class="col-md-12 override_margin" style="height:440px; overflow:scroll;">
                                    <ul id="tree1" class="tree">
                                        <li>
                                            <a href="#">Header</a>
                                            <ul>
                                                <li class="dragitem" draggable="true">Pharmacy Name</li>
                                                <li class="dragitem" draggable="true">Address</li>
                                                <li class="dragitem" draggable="true">Building Name</li>
                                                <li class="dragitem" draggable="true">Street Name</li>
                                                <li class="dragitem" draggable="true">Area</li>
                                                <li class="dragitem" draggable="true">Pharmacy Mobile</li>
                                                <li class="dragitem" draggable="true">Landline Number</li>
                                                <li class="dragitem" draggable="true">City</li>
                                                <li class="dragitem" draggable="true">Drug license number</li>
                                                <li class="dragitem" draggable="true">Tin number</li>
                                                <li class="dragitem" draggable="true">CST number</li>
                                                <li class="dragitem" draggable="true">GSTIN</li>
                                                <li class="dragitem" draggable="true">Doctor name</li>
                                                <li class="dragitem" draggable="true">Doctor Mobile</li>
                                                <li class="dragitem" draggable="true">Doctor Address</li>
                                                <li class="dragitem" draggable="true">Patient name</li>
                                                <li class="dragitem" draggable="true">Patient Mobile</li>
                                                <li class="dragitem" draggable="true">Patient Address</li>
                                                <li class="dragitem" draggable="true">Patient GSTin</li>
                                                <li class="dragitem" draggable="true">Patient Pan</li>
                                                <li class="dragitem" draggable="true">Patient DrugLicenseNo</li>
                                                <li class="dragitem" draggable="true">Patient ShortName</li>                                                
                                                <li class="dragitem" draggable="true">Patient City</li>
                                                <li class="dragitem" draggable="true">Patient Pincode</li>
                                                <li class="dragitem" draggable="true">Bill Number</li>
                                                <li class="dragitem" draggable="true">Bill Time</li>
                                                <li class="dragitem" draggable="true">PaymentType</li>
                                                <li class="dragitem" draggable="true">Cheque</li>
                                                <li class="dragitem" draggable="true">Cheque Date</li>
                                                <li class="dragitem" draggable="true">Card Number</li>
                                                <li class="dragitem" draggable="true">Card Date</li>
                                                <li class="dragitem" draggable="true">UserName</li>
                                                <li class="dragitem" draggable="true">Transaction Date</li>
                                                <li class="dragitem" draggable="true">ID number</li>                                                
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Sale Details</a>
                                            <ul>
                                                <li class="dragitem" draggable="true">SNo</li>
                                                <li class="dragitem" draggable="true">Product Name</li>
                                                <li class="dragitem" draggable="true">Manufacturer</li>
                                                <li class="dragitem" draggable="true">RackNo</li>
                                                <li class="dragitem" draggable="true">BoxNo</li>
                                                <li class="dragitem" draggable="true">Batch No</li>
                                                <li class="dragitem" draggable="true">Expire Date</li>
                                                <li class="dragitem" draggable="true">Quantity</li>
                                                <li class="dragitem" draggable="true">Purchase Price</li>
                                                <li class="dragitem" draggable="true">Price</li>
                                                <li class="dragitem" draggable="true">Price/unit WOT</li>
                                                <li class="dragitem" draggable="true">Mrp/Unit</li>
                                                <li class="dragitem" draggable="true">Selling Price/Unit</li>
                                                <li class="dragitem" draggable="true">Mrp/Strip</li>
                                                <li class="dragitem" draggable="true">Selling/Strip</li>
                                                <li class="dragitem" draggable="true">MRP after Discount</li>
                                                <li class="dragitem" draggable="true">Selling Price after Discount</li>
                                                <li class="dragitem" draggable="true">MRP Value after Discount</li>
                                                <li class="dragitem" draggable="true">Selling Price Value after Discount</li>
                                                <li class="dragitem" draggable="true">HsnCode</li>
                                                <li class="dragitem" draggable="true">IGST%</li>
                                                <li class="dragitem" draggable="true">IGSTValue</li>
                                                <li class="dragitem" draggable="true">CGST%</li>
                                                <li class="dragitem" draggable="true">CGSTValue</li>
                                                <li class="dragitem" draggable="true">SGST%</li>
                                                <li class="dragitem" draggable="true">SGSTValue</li>
                                                <li class="dragitem" draggable="true">GSTTotal</li> 
                                                <li class="dragitem" draggable="true">Discount %</li>
                                                <li class="dragitem" draggable="true">Discount Amount</li>
                                                <li class="dragitem" draggable="true">VAT %</li>
                                                <li class="dragitem" draggable="true">Vat Amount</li>
                                                <li class="dragitem" draggable="true">Unit/Strip</li>
                                                <li class="dragitem" draggable="true">GSTAmount</li>
                                                <li class="dragitem" draggable="true">Amount</li>
                                                <li class="dragitem" draggable="true">Amount Without GST</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Footer</a>
                                            <ul>                                             
                                                <li class="dragitem" draggable="true">Gross Total</li>
                                                <li class="dragitem" draggable="true">Gross Value</li>
                                                <li class="dragitem" draggable="true">Discount</li>
                                                <li class="dragitem" draggable="true">Total Tax Amt</li>
                                                <li class="dragitem" draggable="true">Round Off</li>
                                                <li class="dragitem" draggable="true">Net Amount</li>
                                                <li class="dragitem" draggable="true">Net Amt WO Discount</li>
                                                <li class="dragitem" draggable="true">MRP Total</li>
                                                <li class="dragitem" draggable="true">Savings Amount</li>
                                                <li class="dragitem" draggable="true">Amount in Words</li>
                                                <li class="dragitem" draggable="true">Payment Type</li>
                                                <li class="dragitem" draggable="true">Total Items</li>
                                                <li class="dragitem" draggable="true">Total Quantity</li>
                                                <li class="dragitem" draggable="true">Cheque No</li>
                                                <li class="dragitem" draggable="true">ChequeDate</li>
                                                <li class="dragitem" draggable="true">CardNumber</li>
                                                <li class="dragitem" draggable="true">CardDate</li>
                                                <li class="dragitem" draggable="true">Return Disc</li>
                                                <li class="dragitem" draggable="true">Return Charges</li>
                                                <li class="dragitem" draggable="true">Return Amount</li> 
                                                <li class="dragitem" draggable="true">Payable Amount</li>
                                                <li class="dragitem" draggable="true">GSTTotal Amount</li>
                                                <li class="dragitem" draggable="true">GST Total%</li> 
                                                <li class="dragitem" draggable="true">IGST Total</li>
                                                <li class="dragitem" draggable="true">CGST Total</li>
                                                <li class="dragitem" draggable="true">SGST Total</li>
                                                <li class="dragitem" draggable="true">User Name</li>
                                                <li class="dragitem" draggable="true">Cess Amount</li>
                                                <li class="dragitem" draggable="true">Net Amount with Cess</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">General</a>
                                            <ul>
                                                <li class="dragitem" draggable="true">Label</li>
                                                <li class="dragitem" draggable="true">Line</li>
                                                <li class="dragitem" draggable="true">Thumbnail</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </ng-form>


<br />
@*<div style="border:2px solid red;width:auto;">
        <div id="wrapper"></div>
    </div>*@

@section scripts
{
    <style type="text/css">
        #container2 {
            position: relative;
        }

        #canvas2 {
            border: 1px solid #000;
        }

        /*#wrapper {
            margin-top: 20px;
            height: 800px;
            width: auto;
            border: 1px solid green;
            position: relative;
        }*/

        
    </style>

    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/tree.css" />
    <script asp-append-version="true" src="~/assets/js/print/draw.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/js/print/boxes2.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/js/print/tree.js"></script>

    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appScript/printing/appScript.js"></script>


    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>

    <script asp-append-version="true" src="~/appscript/printing/printingService.js"></script>
    <script asp-append-version="true" src="~/appscript/printing/printtemplateCreateCtrl.js"></script>

    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />


    <!--For Ruler-->
    @*<link asp-append-version="true" href="~/assets/js/print/ruler/ruler.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/print/ruler/ruler.js"></script>
    <script asp-append-version="true" src="~/assets/js/print/ruler/utils.js"></script>
    <script asp-append-version="true" src="~/assets/js/print/ruler/rulerGuideLine.js"></script>
    <script asp-append-version="true" src="~/assets/js/print/ruler/rulerConstructor.js"></script>
    <script asp-append-version="true" src="~/assets/js/print/ruler/demo.js"></script>*@

}
