@using HQue.Contract.Infrastructure.Master
@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Sell";
    ViewBag.Menu = "Sell";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<div class="row" ng-app="hcue" ng-cloak>   
    <ng-form novalidate id="salesItems" name="salesItems"  data-ng-init="init()">
        <shortcut></shortcut>
        <div class="row panelBorder override_margin">
            <div class="col-md-8 sell-decor1" ng-hide="!customerSelected">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class='container-fluid'>
                            <div class="col-md-1 override_margin">
                                <label class="circled">{{sales.patient.nameIndex}}</label>
                            </div>
                            <div class="col-md-3 override_margin">
                                <div class="col-md-12 override_margin">
                                    <select id="patientList"
                                            name="patientList"
                                            chosen
                                            title="Patient Name"
                                            option="list"
                                            data-placeholder="Select a patient"
                                            ng-model="sales.patient"
                                            ng-options="option.name for option in list track by option.id"
                                            class="form-control cfmobileform override_margin"
                                            search-enabled="false">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-md-12 override_margin" style="">
                                    <label>{{sales.patient.age}}&nbsp;Yrs</label>
                                    <label>/&nbsp{{sales.patient.gender}}</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>{{sales.patient.mobile}}</label>
                            </div>
                            <div class="col-md-2">
                                <input class="sell-decor8" placeholder="ID Number" ng-model="sales.patient.empID" />
                            </div>
                            <div class="col-md-4 override_margin">
                                <div class="col-md-10 override_margin">
                                    <input class="sell-decor8" placeholder="email" ng-model="sales.patient.email" />
                                </div>
                                <div class="col-md-2 override_margin">
                                    <span class="glyphicon glyphicon-pencil pull-right" style="cursor: pointer;" ng-click="EditCustomer()"></span><br />
                                    <span class="col-md-12" style="cursor: pointer; padding-left: 10px; font-size:smaller" ng-click="ResetCustomer()"> <a>Reset</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 sell-decor1 override_margin" ng-hide="customerSelected">
                <div class="panel panel-default override_margin">
                    <div class="panel-body override_margin sell-decor12">
                        <div class='row override_margin'>
                            <div class='col-md-9 override_margin'>
                                <div class='col-md-12 form-group override_margin'>
                                    <div class="col-md-5 input-group sell-group-decor txtCaps">
                                        <label>Customer Name [<span class="fkey">F1</span>]</label>
                                        <input placeholder="" id="customerName" maxlength="50" type="text" class="form-control" ng-keyup="keyEnter($event,'searchPatientMobile')" ng-model="patientSearchData.name" ng-change="cashCreditType()">
                                    </div>
                                    <div class="col-md-4 input-group sell-group-decor">
                                        <label>Mobile No.</label>
                                        <input placeholder="Mobile" id="searchPatientMobile" maxlength="15" type="text" class="search-query form-control" ng-keyup="keyEnter($event,'drugName')" ng-model="patientSearchData.mobile" ng-change="cashCreditType()" ng-enter="search()" valid-number>
                                    </div>
                                    <div class="col-md-3 input-group sell-group-decor">
                                        <label>ID Number</label>
                                        <input placeholder="" id="customerID" maxlength="15" type="text" class="form-control" ng-model="patientSearchData.empID" ng-enter="search()">
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-3 override_margin'>
                                <div class="col-md-4 override_margin">
                                    <br />
                                    <span class="input-group-btn override_margin">
                                        <button title="Search" class="btn btn-style sell-decor3" type="button" ng-click="search()">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                                <div class="col-md-8 override_margin">
                                    <br />
                                    @*<a title="Add New" href="#/patientcreate" class="btn btn-style sell-decor3">Add New</a>*@
                                    <a title="Add New" ng-click="PopupAddNew()" class="btn btn-style sell-decor3">Add New</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 sell-decor11 override_margin override_margin">
                <div class="panel panel-default override_margin">
                    <div class="panel-body orange-border-top override_margin sell-decor5">
                        <div class='row override_margin'>
                            <div class='col-sm-7 override_margin'>
                                <div class='form-group override_margin'>
                                    <div class="input-group sell-group-decor3 txtCaps">
                                        <label>Doctor Name [<span class="fkey">F2</span>]</label>
                                        <angucomplete id="doctorName"
                                                      placeholder="[Optional]"
                                                      pause="400"
                                                      selectedobject="selectedDoctor"
                                                      url="/doctor/DoctorList?doctorName="
                                                      titleField="name"
                                                      inputclass="form-control form-control-small"
                                                      event="doctorSelected" ng-keyup="keyEnter($event,'doctorMobile')" />
                                    </div>
                                    <span class="error" ng-show="salesItems.doctorName.$dirty && salesItems.doctorName.$error.required">Select doctor name</span>
                                </div>
                            </div>
                            <div class='col-sm-5 override_margin'>
                                <div class='form-group override_margin'>
                                    <div class="input-group sell-decor4">
                                        <label>Doctor Mobile No.</label>
                                        <input title="Doctor Mobile/Phone Number" id="doctorMobile" name="doctorMobile" type="text" placeholder="[Optional]" maxlength="10" class="form-control" ng-model="sales.doctorMobile" ng-keyup="keyEnter($event,'drugName')" valid-number>
                                        <span class="error" ng-show="salesItems.doctorMobile.$dirty && salesItems.doctorMobile.$error.required">Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 override_margin">
            <div class="panel panel-default override_margin">
                <div class="panel-body orange-border-top override_margin sell-decor12">
                    <div class='row override_margin'>
                        <div class='col-md-4 override_margin'>
                            <div class='form-group override_margin'>
                                <div class="input-group sell-group-decor3 txtUpper">
                                    <label>Product [<span class="fkey">ctrl+a</span>]</label>
                                    <input type="text" ng-model="selectedProduct"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Product"
                                           id="drugName" required
                                           name="drugName"
                                           autofocus
                                           title="Product Name"
                                           typeahead-on-select="onProductSelect()"
                                           typeahead-editable="false"
                                           uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                                           class="form-control form-control-small " />
                                </div>
                                <span class="error" ng-show="salesItems.productName.$dirty && salesItems.productName.$error.required">Select drug name</span>
                            </div>
                        </div>
                        <div class='col-md-1 override_margin'>
                            <div class='form-group'>
                                <div class="input-group sell-group-decor3">
                                    <label>Quantity</label>
                                    <input title="Quantity" type="text" id="quantity" name="quantity" class="form-control" required placeholder="Qty" maxlength="7" ng-blur="validateQty()" ng-change="validateQty()" ng-model="selectedBatch.quantity" ng-enter="addSales()" numbers-only valid-number />
                                </div>
                                <span class="error" ng-show="salesItems.quantity.$dirty && salesItems.quantity.$error.required">Required</span>
                                <div ng-messages="salesItems.quantity.$error" role="alert">
                                    <span class="error override_margin" ng-if="selectedBatch.quantity > selectedBatch.stock" ng-message="required">Stock available is {{selectedBatch.stock}}</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 override_margin'>
                            <div class="form-group override_margin">
                                <div class="input-group sell-group-decor col-md-12">
                                    <label>Batch</label>
                                    <select chosen
                                            title="Batch Number"
                                            option="batchList"
                                            data-placeholder="Select Batch Number"
                                            ng-model="selectedBatch"
                                            ng-options="key as (item.batchNo + '   ('+ item.stock + ')') for (key, item) in batchList track by item.id"
                                            class="form-control override_margin small"
                                            ng-change="batchSelected(selectedBatch)">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-1 override_margin'>
                            <div class="form-group override_margin">
                                <div class="input-group sell-group-decor3 expiry">
                                    <label>Expiry</label>
                                    <input title="Expire Date" type="text" id="expireDate" name="expireDate" class="form-control" value="{{selectedBatch.expireDate | date:'MM/yy'}}" disabled />
                                    <span class="error" ng-if="highlight == 'Expiry'">{{selectedBatch.expireDate | date:'MMM yy'}}  {{highlight}}</span>
                                    @*<span class="error">{{selectedBatch.expireDate | date:'MMM yy'}}{{highlight}}</span>*@
                                </div>
                            </div>
                        </div>
                        <div class='col-md-1 override_margin' style="text-align: center;">
                            <div class='form-group override_margin'>
                                <div class="input-group sell-group-decor3">
                                    <label>VAT %</label>
                                    <input title="vat" type="text" id="quantity" name="vat" class="form-control" maxlength="4" ng-model="selectedBatch.vat" disabled />
                                </div>
                            </div>
                        </div>
                        <div class='col-md-2 override_margin'>
                            <div class='form-group override_margin'>
                                <div class="input-group sell-group-decor3">
                                    <label>Price</label>
                                    @if (User.HasPermission(UserAccess.EditMrp) || User.HasPermission(UserAccess.Admin))
                                    {
                                        <input title="Selling Price" type="text" id="sellingPrice" name="sellingPrice" class="form-control" maxlength="9" ng-model="selectedBatch.sellingPrice" valid-number ng-change="validateSellingPrice(selectedBatch)" required />
                                        <span class="error override_margin">{{valPurchasePrice}}</span>
                                        <span class="error" ng-show="sellingPrice.$dirty && sellingPrice.$error.required">Required</span>
                                    }
                                    else
                                    {
                                        <input title="Selling Price" type="text" id="sellingPrice" name="sellingPrice" class="form-control" maxlength="9" ng-model="selectedBatch.sellingPrice" disabled />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-4 pull-left sell-group-decor5'>
                            <div style="float:left;margin-right:20px;">
                                <label style="color:#3DB29F">Total Quantity : {{selectedBatch.totalQuantity}}</label>
                            </div>
                            <div style="float:left;">
                                <label style="color:#3DB29F">Rack Number : {{selectedBatch.rackNo}}</label>

                            </div>
                        </div><div class='col-sm-1 pull-left sell-group-decor5' style="margin-right:0px !important"><label>Reminder</label></div>
                        <div class='col-sm-3 pull-left'>
                            <div class='form-group override_margin'>
                                <div class="input-group sell-group-decor4">
                                    <select ng-model="selectedBatch.reminderFrequency" class="form-control">
                                        <option value="0" selected>None</option>
                                        <option value="2">Weekly</option>
                                        <option value="4">Monthly</option>
                                        <option value="8">Yearly</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class='form-group'>
                                <div class="input-group pull-right">
                                    <button type="button" title="Add" class="btn btn-small btn-style form-control" ng-disabled="!salesItems.$valid" ng-click="addSales()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  sell-group-decor3 override_margin" ng-if="sales.salesItem != 0">
                <div class="panel panel-default override_margin">
                    <div class="panel-body orange-border-top">
                        <div class='row override_margin'>
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-10">
                                <label class="col-md-7 override_margin">Product</label>
                                <label class="col-md-2">Quantity</label>
                                <label class="col-md-2" style="text-align:right;">Price</label>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class='row'>
                            <div ng-repeat="salesItem in sales.salesItem">
                                <div class="chip-style">
                                    <span class="col-sm-12">
                                        <button type="button" title="+" class="col-md-1 chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                        <div class="col-md-10">
                                            <strong class="col-md-8 orange-text">{{salesItem.product.name | uppercase}}</strong>
                                            <div class="col-md-2 "><span>{{salesItem.quantity}}</span></div>
                                            <div class="col-md-2 " style="text-align:right"><span> {{salesItem.sellingPrice * salesItem.quantity | number:2}}</span></div>
                                        </div>
                                        <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;" title="Delete" ng-click="removeSales(salesItem)"></span>&nbsp;
                                    </span>

                                </div>
                                <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                    <table class="table">
                                        <thead class="chips-header">
                                            <tr>
                                                <th>Batch No</th>
                                                <th>Expired Date</th>
                                                <th>VAT</th>
                                                <th>Barcode</th>
                                                <th>MRP</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-left">
                                                <td>{{salesItem.batchNo}}</td>
                                                <td>{{salesItem.expireDate | date:'MM/yy'}}</td>
                                                <td>{{salesItem.vat}}</td>
                                                <td>{{salesItem.purchaseBarcode}}</td>
                                                <td>{{salesItem.sellingPrice}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default override_margin">
                <div class="panel-footer clearfix">

                    <div class="pull-left">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                            <span class="fileupload-preview" style="color: black"></span>
                            <span class="btn btn-style btn-file">
                                <span class="fileupload-new">Attach file</span>
                                <span class="fileupload-exists">Change</span>
                                <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                            </span>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                        <button type="button" id="saleComplete" ng-disabled="(sales.salesItem == 0 || isProcessing || IsFormInvalid || sales.discount>100 || cashCredit==true || doorDelry==true)" class="btn btn-style" ng-click="save()">Complete Sale</button>
                        <span style="color: #000;font-size: 10px;">[<span class="fkey">ESC</span>]</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 override_margin">

            <div class="panel override_margin">
                <div class="panel-body orange-border-top override_margin">
                    <div class='row'>
                        <div class='col-md-12 sell-group-decor4'>
                            <table cellpadding="0" cellspacing="0" border="0" class="table sell-table-decor">
                                <tbody>
                                    <tr><th>Total</th><td class="text-small-gray">|</td><td class="text-right"><strong>{{(sales.total - sales.vat) | number:2}}</strong></td></tr>
                                    <tr><th>VAT</th><td class="text-small-gray">|</td><td class="text-right"><strong>{{sales.vat | number:2}}</strong></td></tr>
                                    <tr>
                                        <th>Discount % [<span class="fkey">F3</span>]</th>
                                        <td class="text-small-gray">|</td>
                                        <td class="text-right">
                                            <input type="text" id="txtDiscount" data-ng-change="changeDiscount(sales.changeDiscount)" placeholder="0" min="0" max="100" data-ng-model="sales.changeDiscount" class="qty-input text-right " style="display:inline-block;" maxlength="3" data-ng-class="sales.discount>100? 'highlight' :''" valid-number />
                                            <span data-ng-if="sales.discount>100" class="highlight">Must be less than 100% </span>

                                        </td>
                                    </tr>
                                    <tr><th>Discounted Value</th><td class="text-small-gray">|</td><td class="text-right"><strong>{{((sales.discount / 100) * sales.total) | number:2}}</strong></td></tr>
                                    <tr><th>RoundOff Value</th><td class="text-small-gray">|</td><td class="text-right"><strong>{{ Math.round((sales.total - ((sales.discount / 100) * sales.total)))-(sales.total - ((sales.discount / 100) * sales.total)) | number:2}}</strong></td></tr>
                                    <tr><th class="special">Net Value</th><td class="text-small-gray special">|</td><td class="text-right special"><strong>{{ Math.round((sales.total - ((sales.discount / 100) * sales.total))) | number:2 }}</strong></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row sell-group-decor5">
                    <div class="col-md-6 input-group override_margin">
                        <label style="font-size:12px;">Amount Received  [<span class="fkey">F4</span>]</label>
                        <input id="receivedAmount" class="form-control" name="creditAmount" type="text" placeholder="Received Amount" ng-change="receivedAmount1(receivedAmount2)" ng-model="receivedAmount2" valid-number>

                    </div>
                    <div class="col-md-6 input-group override_margin">
                        <label>Balance</label>
                        <input id="balanceAmount" class="form-control " name="creditAmount" type="text" placeholder="Balance Amount" ng-model="balanceAmount | number:2" valid-number>

                    </div>
                </div>
            </div>

            <div class="panel">

                <div class="row sell-decor6">Payment Type</div>


                <div class="row sell-group-decor5">
                    <div class="col-md-4 input-group override_margin">
                        <input title="Full" type="radio" value="Full" ng-click="creditType(sales,false)" name="caseType" ng-model="sales.cashType" />
                        <label>Full</label>
                    </div>
                    <div class="col-md-3 input-group override_margin">
                        <input title="Credit" id="caseType" type="radio" value="Credit" ng-click="creditType(sales,true)" name="caseType" ng-model="sales.cashType" />
                        <label>Credit</label>
                    </div>
                    <div class="col-sm-5 pull-left override_margin">
                        <input id="creditAmount" focus-me="focusCreditTextBox" class="form-control " ng-show="sales.isCreditEdit" name="creditAmount" type="text" placeholder="Payable Amount" ng-model="sales.credit" valid-number>
                        <span class="error" style="margin-left:10px;" ng-if="cashCredit==true">Must be enter a Customer Name.</span>
                    </div>
                </div>

                <div>
                    <label class="special" style="color:#039394;font-size:18px;margin-left:8PX;">Previous Balance : {{totalBalanceAmount}}</label>
                </div>

                <div class="row sell-decor6">Payment Mode</div>
                <div class="row sell-group-decor5">
                    <div class="col-md-5 input-group override_margin">
                        <input title="Cash" type="radio" value="Cash" name="paymentType_{{$index}}" ng-model="sales.paymentType" ng-click="editCheque(sales, false)" />
                        <label>Cash</label>
                    </div>
                    <div class="col-md-7 input-group override_margin">
                        <input title="Card" type="radio" value="Card" name="paymentType_{{$index}}" ng-model="sales.paymentType" ng-click="editCheque(sales, true)" />
                        <label>Card</label>
                    </div>

                    <div class="col-sm-12 pull-left override_margin">
                        <div class="col-sm-6 pull-left override_margin">
                            <input id="cardNo" class="form-control" focus-me="focusCardTextbox" data-ng-show="sales.isChequeEdit" name="cardNo" type="text" placeholder="Card No" data-ng-model="sales.cardNo">
                        </div>
                        <div class="input-group col-sm-6 pull-left override_margin">
                            <input id="cardDate" class="form-control col-sm-5 pull-left" ng-show="sales.isChequeEdit" name="cardDate" type="text" placeholder="Card Date" ng-model="sales.cardDate" uib-datepicker-popup="{{format}}" is-open="popup4.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date" d ng-show="sales.isChequeEdit">
                                <button type="button" class="btn btn-default btn1" ng-click="open4()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row sell-decor6">Sale Type</div>
                <div class="row sell-group-decor5">
                    <div class="col-md-5 input-group override_margin">
                        <input title="Counter" type="radio" value="Counter" name="deliveryType" ng-click="saleType(false)" ng-model="sales.deliveryType" />
                        <label>Counter</label>
                    </div>
                    <div class="col-md-7 input-group override_margin">
                        <input title="Home Delivery" type="radio" value="Home Delivery" name="deliveryType" ng-click="saleType(true)" ng-model="sales.deliveryType" />
                        <label>Door delivery</label>
                    </div>
                </div>
                <span class="error" style="margin-left:10px;" ng-if="doorDelry==true">Must be enter a Customer details.</span>

                <div class="row sell-decor6">Receipt Mode</div>
                <div class="row sell-group-decor5">
                    <div class="col-md-4 input-group override_margin">
                        <input title="Print" type="checkbox" value="1" name="cash" ng-model="sales.billSalesInvoice" />
                        <label>Print</label>
                    </div>
                    <div class="col-md-4 input-group override_margin">
                        <input title="Email" type="checkbox" value="2" name="cash" ng-model="sales.sendEmail" />
                        <label>Email</label>
                    </div>
                    <div class="col-md-4 input-group override_margin">
                        <input title="SMS" type="checkbox" value="2" name="cash" ng-model="sales.sendSms" />
                        <label>SMS</label>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>

    @{
        await Html.RenderPartialAsync("_SalesCreateCustomer");
    }



</div>
@section scripts
{
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    @*<script asp-append-version="true" src="~/assets/js/jquery.maskedinput.min.js"></script>*@
    <script asp-append-version="true" src="~/appscript/sales/salesappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/routescript.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productstockservice.js"></script>
    <script asp-append-version="true" src="~/appscript/Accounts/CustomerReceipt/customerReceiptService.js"></script>
    <script asp-append-version="true" src="~/appscript/doctor/doctorservice.js"></script>

    <script asp-append-version="true" src="~/appscript/patient/patientSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salescreatectrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

    
}

@section reloadwarning
{
    <script language="JavaScript">
        //window.onbeforeunload = confirmExit;
        function confirmExit() {
            return "You have attempted to leave this page.  If you have made any changes to the fields without clicking the Save button, your changes will be lost.  Are you sure you want to exit this page?";
        }
    </script>
}

