﻿<!DOCTYPE html>
<html lang="en"><head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Daily Reports</title>
      <style type="text/css">
         html,  body {
         margin: 0;
         padding: 0;
         height: 100% !important;
         width: 100% !important;
         }
         * {
         -ms-text-size-adjust: 100%;
         -webkit-text-size-adjust: 100%;
         }
         .ExternalClass {
         width: 100%;
         }
         table {
         border-spacing: 0 !important;
         border-collapse: collapse;
         margin: 0 auto;
         }
         .ExternalClass,  .ExternalClass * {
         line-height: 100%;
         }
         img {
         -ms-interpolation-mode: bicubic;
         -webkit-interpolation-mode: bicubic;
         -moz-interpolation-mode: bicubic;
         border: 0 !important;
         outline: none !important;
         text-decoration: none !important;
         }
         /* What it does: Apple Mail doesn't support max-width, so a media query constrains the email container width. */
         @media only screen and (max-device-width: 600px) {
         .email-container {
         width: 640px !important;
         }
         }
         /* What it does: Apple Mail doesn't support max-width, so a media query constrains the email container width. */
         @media only screen and (max-device-width: 600px) {
         .email-container {
         width: 100% !important;
         max-width: none !important;
         }
         }
      </style>
   </head>
   <body style="background: #ffffff;font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;margin:0px !important;" > <!--ng-app="app" ng-cloak-->
      <div style="margin:0;padding: 0 0 2% 0; background: #f3f3f4 repeat 0 0 #48b09e; width: 100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif">
         <table border="0" width="100%" style="border-collapse:collapse;">
            <tbody>
               <tr>
                  <td>
                     <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="max-width:600px; margin:auto;" class="email-container">
                        <tbody>
                           <tr>
                              <td>
                                 <!-- Logo + Links : BEGIN -->
                                 <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                       <tr>
                                          <td valign="top" style="padding:20px 3%; text-align:left;" width="150">
                                          </td>
                                          <td valign="middle" style="padding: 10px 0%;text-align:right;line-height:1.1;font-size: 13px;color:#000000;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;">
                                             <!--{{PHARMACY_DATE}}-->
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <!-- Logo + Links : END --> 
                                 <!-- Main Email Body : BEGIN -->
                                 <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#fafafa" style="border: 1px solid #e6e6e6;">
                                    <tbody>
                                       <tr>
                                          <td>
                                             <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="" align="center" style="background: #2E3C54;
                                                border: 1px solid #2e3c54;">
                                                <tbody>
                                                   <tr>
                                                      <td valign="middle" style="padding: 20px 3% 20px 4%;text-align: left;line-height:1.1;color: #fff;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 16px;border: 1px solid #2e3c54;border-collapse: collapse;">
                                                          <span style="color: #63c29d;
                                                         font-size: 16px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;"> <!--{{PHARMACY_NAME}}-->
                                                         </span>
                                                          <!--<span style="display: -webkit-box;
                                                            font-size: 14px;
                                                            color: #cfc9c9;
                                                            font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                            white-space: nowrap;">Pharmacy Performance Details for Yesterday
                                                         </span>-->
                                                      </td>
                                                      <td valign="top" style="padding:20px 3%;text-align:left;border: 1px solid #2e3c54;border-collapse: collapse;" width="150">
                                                         <img src="https://s3.amazonaws.com/hcuetemplates/testing/Images/headerlogo.png" alt="alt text" border="0" align="right">
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr style="">
                                          <td style="padding: 2% 4%;">
                                             <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                   <tr>
                                                      <td align="left" valign="top" style="font-size: 14px;color:#000000;">
                                                         <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                            font-size: 14px;
                                                            color: #000000; ">
                                                            Dear <b style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                               font-size: 14px;
                                                               color: #000000;"> {{P_NAME}},</b> 
                                                         </p>
                                                         <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                            font-size: 14px;
                                                            color: #000000;">Thank you for visiting {{INSTANCE_NAME}}.
                                                         </p>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>

                                        <tr style="border-bottom: 1px solid #ccc;">
                                            <td style="padding: 1% 3%;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 13px;line-height: 22px;color:#585858;">

                                                <table style="margin: 0;padding:5px;border-collapse:collapse!important;width: 100%;">
                                                    <tbody>
                                                        <tr style="text-align:left;color:#000000;">
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: bold;width: 20%;">Doctor Name:</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;width: 50%;">{{DOCTOR_NAME}}</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: bold;width: 15%;">Return No:</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;width: 30%;">{{BILL_NO}}</td>
                                                        </tr>
                                                        <tr style="text-align:left;color:#000000;">
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: bold;">Patient Name:</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;">{{PATIENT_NAME}}</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: bold;">R Date:</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;">{{B_DATE}}</td>
                                                        </tr>
                                                        <tr style="text-align:left;color:#000000;">
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: bold;">Address:</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;">{{ADDRESS}}</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: bold;">B Type:</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;">{{B_TYPE}}</td>
                                                        </tr>
                                                        <tr style="text-align:left;color:#000000;">
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: bold;">Phone Number:</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;">{{PH_NO}}</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: bold;">ID No:</td>
                                                            <td style="padding:5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;">{{ID_NO}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                       
                                        
                                        <tr>
                                            <td style="font-weight: bold;padding: 2% 2% 0% 2%;">
                                                <span style="margin: 0px 5px;
                                                      padding: 5px;
                                                      font-size: 14px;
                                                      font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                      font-weight: 600;
                                                      color: #000000;">Return Details</span><span style="padding: 5px 15px;
                                                      font-size: 14px;
                                                      font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                      float: right;
                                                      color: #c5baba;
                                                      font-weight: normal;"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0% 4%;">
                                                <table style="margin: 5px 0px 15px 0px;
                                                       padding: 5px;
                                                       border-collapse: collapse !important;
                                                       width: 100%;
                                                       background-color: #fff;">
                                                    <tbody>
                                                        <tr style="text-align: center;color: #000000;background: #fbad80;">
                                                            <td style="text-align: left;
                                                                padding: 5px;
                                                                line-height: 15px;
                                                                font-size: 14px;
                                                                font-family: 'Trebuchet MS' ;
                                                                color: #ffffff;">
                                                                Particulars
                                                            </td>
                                                            <td style="padding: 5px;
                                                                line-height: 15px;
                                                                font-size: 14px;
                                                                font-family: 'Trebuchet MS' ;
                                                                color: #ffffff;
                                                                text-align: center;">
                                                                MFR
                                                            </td>
                                                            <td style="padding: 5px;
                                                                line-height: 15px;
                                                                font-size: 14px;
                                                                font-family: 'Trebuchet MS' ;
                                                                color: #ffffff;
                                                                text-align: center;">
                                                                Batch
                                                            </td>
                                                            <td style="padding: 5px;
                                                                line-height: 15px;
                                                                font-size: 14px;
                                                                font-family: 'Trebuchet MS' ;
                                                                color: #ffffff;
                                                                text-align: center;">
                                                                Expiry
                                                            </td>
                                                            <td style="padding: 5px;
                                                                line-height: 15px;
                                                                font-size: 14px;
                                                                font-family: 'Trebuchet MS' ;
                                                                color: #ffffff;
                                                                text-align: center;">
                                                                Qty
                                                            </td>
                                                            <td style="padding: 5px;
                                                                line-height: 15px;
                                                                font-size: 14px;
                                                                font-family: 'Trebuchet MS' ;
                                                                color: #ffffff;
                                                                text-align: center;">
                                                                Price
                                                            </td>
                                                            <td style="padding: 5px;
                                                                line-height: 15px;
                                                                font-size: 14px;
                                                                font-family: 'Trebuchet MS' ;
                                                                color: #ffffff;
                                                                text-align: center;">
                                                                {{TAX_TYPE}}
                                                            </td>   <!--Added by Sarubala to include GST 06-07-2017-->
                                                            <td style="padding: 5px;
                                                                line-height: 15px;
                                                                font-size: 14px;
                                                                font-family: 'Trebuchet MS' ;
                                                                color: #ffffff;
                                                                text-align: center;">
                                                                Amount
                                                            </td>
                                                        </tr>
                                                        {{INVOICE_RETURN_DETAILS}}


                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                                                                
                                        <tr>
                                            <td style="padding: 0% 4%;">
                                                <table style="margin: 5px 0px 15px 0px;
                                                       padding: 5px;
                                                       border-collapse: collapse !important;
                                                       width: 100%;
                                                       background-color: #fff;">
                                                    <tbody>
                                                        <tr style="color:#000000;background: #ffffff;">
                                                            <td style="padding: 5px 5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: normal;"><b>CGST:</b> {{RETURN_CGST}} &nbsp; <b>SGST:</b>{{RETURN_SGST}}</td>
                                                        </tr>

                                                        <tr style="color:#000000;background: #ffffff;">
                                                            <td style="padding: 15px 5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: normal;"><b>Total:</b> {{RETURN_TOT}}</td>
                                                            <td style="padding: 15px 5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: normal;text-align: right;"><b>Discount:</b> {{RETURN_DISC}}</td>
                                                            <td style="padding: 15px 5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: normal;text-align: right;"><b>Round Off:</b> {{ROFF}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="padding: 0% 4%;">
                                                <table style="margin: 5px 0px 15px 0px;
                                                       padding: 5px;
                                                       border-collapse: collapse !important;
                                                       width: 100%;
                                                       background-color: #fff;">
                                                    <tbody>
                                                        <tr style="color:#000000;background: #ffffff;">
                                                            <td style="padding: 15px 5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: normal;white-space: nowrap;"></td>
                                                            <td style="padding: 15px 5px;line-height:15px;font-size:13px;font-family:'Trebuchet MS';color:#000000;font-weight: normal;text-align: right;"><b>Return Amount:</b> {{PAY_NET_AMT}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                      
                                       <tr style="">
                                          <td style="padding: 2% 4%;/* border: 1px solid #e6e6e6; *//* border-top: none; */">
                                             <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                   <tr>
                                                      <td align="left" valign="top" style="font-size: 12px;color: #000000;">
                                                         <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                            font-size: 14px;
                                                            color: #000000;
                                                            text-align: left;
                                                            margin: 10px 0;">
                                                            Team hCue
                                                         </p>
                                                         <a href="#" target="_blank" style="color: #337ab7;
                                                            text-decoration: none;
                                                            font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                            text-align: left;
                                                            font-size: 14px;">support@hcue.co</a>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                       <tr>
                                          <td>
                                             <div style="text-align: center;">
                                                <a href="https://www.hcue.in/" target="_blank" style="color: #337ab7;
                                                   display: block;
                                                   padding: 5px;
                                                   font-size: 14px;
                                                   text-decoration: none;
                                                   font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;"> www.hcue.in</a>    
                                             </div>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>

</body>
</html>


