@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Sales Order";
    ViewBag.Menu = "Order";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="salesOrderCreateCtrl" ng-cloak ng-init="init();">
    <div ng-hide="IsOffline">
        <div class="order-sublist">
            @if (User.HasPermission(UserAccess.AddNewProduct))
            {
                <a title="Add New Product" data-ng-click="PopupAddNewProduct()" class="btn btn-style pull-right">Add New Product</a>
            }
            <ul class="clearfix">
                <li><button title="Sales Order" class="{{salesOrderclass}}" ng-click="showSalesOrder()">Order</button></li>
                <li><button title="Sales Estimate" class="{{salesEstimateclass}}" ng-click="showSalesEstimate()">Estimate</button></li>
                @if (ViewBag.IsSalesTemplateEnabled == true)
                {
                    <li><button title="Sales Template" class="{{salesTemplateClass}}" ng-click="showSalesTemplate()">Templates</button></li>
                }
            </ul>
        </div>
    </div>

    @*Sales Order Section*@
    <div ng-show="BySalesOrderSection">

        <ng-form id="salesOrderItems" name="salesOrderItems">
            <div class="order-section" style="height:auto">
                <div class="row">
                    <div class="col-md-3 override_margin">
                        <div class="form-list">
                            <label class="required">Customer Name</label>
                            <input type="text" ng-model="salesOrderCustomerName"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Enter Customer Name"
                                   id="customerName"
                                   name="customerName"
                                   title="Customer name"
                                   autofocus
                                   popup-focus="focusCustomerName"
                                   typeahead-on-select="onPatientSelect($item)"
                                   typeahead-editable="false"
                                   ng-keyup="keyEnter($event,'drugName1')"
                                   uib-typeahead="ps as ps.name for ps in getPatient($viewValue)"
                                   class="form-control form-control-small"
                                   typeahead-template-url="itemTpls.html" />

                            <script type="text/ng-template" id="itemTpls.html">
                                <a tabindex="-1" style="text-decoration:none">
                                    <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                                </a>
                                <div style="color:#fbaf67"></div>
                            </script>
                        </div>
                    </div>
                    <div class="col-md-3 override_margin">
                        <div class="form-list purchase-product" id="divProduct">
                            <label class="required">Product</label>
                            <input missedorder-focus="focusInput" title="Product Name"
                                   type="text"
                                   placeholder="Product"
                                   id="drugName1"
                                   name="drugName1"
                                   class="form-control form-control-small"
                                   ng-model="selectedSalesOrder"
                                   autofocus
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   typeahead-no-results="noResults"
                                   uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                   required
                                   focus-box nextid="OrderQuantity"
                                   ng-click="checkAllSalesOrderfields(1)"
                                   ng-keyup="checkAllSalesOrderfields(1)"
                                   typeahead-on-select="onProductSelect($event,selectedSalesOrder)"
                                   typeahead-template-url="/salesOrderitemTpl.html" />
                            @*<script type="text/ng-template" id="/itemTpl.html">

                                    <a tabindex="-1" class="inActivecolor" ng-if="match.model.accountId==null">
                                        <span ng-bind-template="{{match.model.name}}"></span>
                                    </a>
                                    <a tabindex="-1" class="Activecolor" ng-if="match.model.accountId!=null">
                                        <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
                                    </a>
                                </script>*@
                            <script type="text/ng-template" id="/salesOrderitemTpl.html">

                                <a tabindex="-1" class="productddl" ng-if="match.model.accountId==null">
                                    <span class='global'>G </span><span class="gap"> </span>
                                    <span ng-bind-template="{{match.model.name}}"></span>
                                </a>
                                <a tabindex="-1" class="productddl" ng-if="match.model.accountId!=null">
                                    <span class='global local'>L </span><span class="gap"> </span>
                                    <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
                                </a>
                            </script>

                            <span class="error" ng-show="vendorOrderItems.drugName.$touched && vendorOrderItems.drugName.$invalid">Required</span>
                        </div>
                    </div>

                    <div class="col-md-1 override_margin">
                        <div class="form-list">
                            <label class="required">Qty</label>
                            <input onfocus="this.select();" type="text" title="Quantity" placeholder="Qty" id="OrderQuantity" name="OrderQuantity" maxlength="7" ng-model="selectedSalesOrder.quantity" ng-change="changeQuantity(selectedSalesOrder.quantity)" valid-number numbers-only class="form-control" required focus-box nextid="orderdiscount" ng-click="checkAllSalesOrderfields(2)" ng-keyup="checkAllSalesOrderfields(2)" /> @*ng-keyup="keyEnter($event,'orderdiscount')"*@
                        </div>
                    </div>
                    <div class="col-md-1 override_margin">
                        @*<div class="input-group">*@
                        <div class="form-list">
                            <label>Dis %</label>
                            <input onfocus="this.select();" type="text" title="Discount" id="orderdiscount" name="orderdiscount" maxlength="6" class="form-control"
                                   placeholder="Disc" focus-box nextid="btnAdd"
                                   ng-model="selectedSalesOrder.discount" data-ng-class="selectedSalesOrder.discount>100? 'highlight' :''"
                                   ng-click="checkAllSalesOrderfields(3)" ng-keyup="checkAllSalesOrderfields(3)"
                                   data-ng-change="changeDiscount(selectedSalesOrder.discount)"
                                   valid-number />
                            <span data-ng-if="selectedSalesOrder.discount=='.'" class="highlight">Must be valid no. </span>
                            <span data-ng-if="selectedSalesOrder.discount>=100" style="background-color:#fff;" class="highlight">Must be less than or equal 100% </span>
                            <span ng-show="maxDiscountExceeded" class="highlight">Discount should be less than Max discount</span>
                        </div>
                        @*</div>*@
                    </div>
                    <div class="col-md-1 override_margin">
                        <div class="form-list">
                            <label>MRP</label>
                            <input type="text" title="Price" placeholder="0" id="price" name="price" ng-model="selectedSalesOrder.sellingPrice" valid-number class="form-control form-control-small" ng-keyup="keyEnter($event,'btnAdd')" ng-disabled="!selectedSalesOrder.isEditMrp" />
                        </div>
                    </div>

                    <div class="col-md-1" style="top:20px;">
                        <div class="form-list">
                            @*<button title="Reset" id="btnReset" class="btn btn-small btn-style form-control" ng-click="addOrder()">Reset</button>*@
                            <button type="button" id="btnAdd" name="btnAdd" title="Add" class="btn btn-style" ng-disabled="selectedSalesOrder.id==null || selectedSalesOrder.quantity=='' || selectedSalesOrder.quantity==null || selectedSalesOrder.quantity==0 || maxDiscountExceeded || selectedSalesOrder.discount>=100" ng-click="addSalesOrderProduct()">ADD</button>
                        </div>
                    </div>
                    <div class="col-md-1" style="top:20px; margin-left: -30px;">
                        <div class="form-list">
                            <button title="Reset" id="btnReset" class="btn btn-small btn-style" ng-click="resetSalesOrder()">Reset</button>
                        </div>
                    </div>

                </div>

            </div>

        </ng-form>

        <ng-form id="salesOrderList" name="salesOrderList">
            <div class="col-md-12 sell-group-decor3 override_margin" ng-if="salesOrderEstimate.salesOrderEstimateItem != 0">
                <div class="panel panel-default override_margin" style="max-height:275px; overflow-y:auto;">
                    <div class="panel-body orange-border-top">
                        <div class='row' style="background-color: #D6D6D6; height: 35px; padding-top: 9px;">
                            <label class="col-md-2" style="font-size: 16px;">Product</label>
                            <label class="col-md-2" style="font-size: 16px;">Quantity</label>
                            <label class="col-md-2" style="font-size: 16px;">Dis %</label>
                            <label class="col-md-2" style="font-size: 16px;">MRP</label>
                            <label class="col-md-1" style="font-size: 16px;">Total Price</label>                           
                            <label class="col-md-1" style="font-size: 16px;">Order Value</label>
                            <label class="col-md-2" style="font-size: 16px; padding-left: 7pc;">Action</label>
                        </div>
                        <div class='row'>
                            <div ng-repeat="saleOrderItem in salesOrderEstimate.salesOrderEstimateItem">
                                <div ng-if="!saleOrderItem.isDeleted" class="chip-style">
                                    <div class="col-md-12">
                                        <strong class="col-md-2 orange-text">{{saleOrderItem.name | uppercase}}</strong>
                                        @*<strong class="col-md-2 orange-text" ng-if="EditSalesOrderEstimate && (saleOrderItem.product.name!=null)">{{saleOrderItem.product.name | uppercase}}</strong>
                                            <strong class="col-md-2 orange-text" ng-if="EditSalesOrderEstimate">{{saleOrderItem.productMaster.name | uppercase}}</strong>
                                            <strong class="col-md-2 orange-text" ng-if="!EditSalesOrderEstimate">{{saleOrderItem.name | uppercase}}</strong>*@
                                        <span class="col-md-2" ng-hide="saleOrderItem.IsEdit">{{saleOrderItem.quantity}}</span>
                                        <input class="col-md-2 sell-decor12" ng-show="saleOrderItem.IsEdit" type="text" id="productQuantity" name="productQuantity" placeholder="Quantity" maxlength="7" ng-model="saleOrderItem.quantity" autofocus valid-number numbers-only />

                                        <div class="col-md-2">
                                            <span class="col-md-12" ng-hide="saleOrderItem.IsEdit">{{saleOrderItem.discount}}</span>
                                            <input class="col-md-12 sell-decor12" maxlength="6" ng-show="saleOrderItem.IsEdit" type="text" id="productDiscount" name="productDiscount" placeholder="Disc" ng-model="saleOrderItem.discount" ng-change="changeEstimateEditDiscount(saleOrderItem.discount,saleOrderItem)" autofocus valid-number />
                                            @*<span data-ng-if="saleOrderItem.discount=='.'" class="highlight">Must be valid no. </span>*@
                                            <span data-ng-if="saleOrderItem.discount>=100" style="background-color:#fff;" class="highlight">Must be less than or equal 100% </span>
                                            <span ng-show="(maxDiscountFixed == 'Yes') && (saleOrderItem.discount > maxDisountValue)" class="highlight">Discount should be less than Max discount</span>
                                        </div>

                                                                 
                                        <div class="col-md-2">                       
                                            <span class="col-md-12" ng-hide="saleOrderItem.isEditMrp && saleOrderItem.IsEdit">{{saleOrderItem.sellingPrice | number:2}}</span>  
                                            <input type="text" title="Price" placeholder="0" id="price" name="price" ng-model="saleOrderItem.sellingPrice" valid-number class="col-md-12 sell-decor12" ng-show="saleOrderItem.isEditMrp && saleOrderItem.IsEdit" />
                                        </div>            

                                        <span class="col-md-1">{{ saleOrderItem.quantity * saleOrderItem.sellingPrice | number:2 }}</span>
                                        <span class="col-md-1">{{ (saleOrderItem.quantity * saleOrderItem.sellingPrice) - (saleOrderItem.quantity * saleOrderItem.sellingPrice * saleOrderItem.discount / 100) | number:2 }}</span>                                        
                                    </div>
                                    <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;" title="Delete" ng-click="removeProduct(saleOrderItem)"></span>
                                    <span class="col-md-1 glyphicon glyphicon-edit" ng-hide="saleOrderItem.IsEdit" style="cursor: pointer; padding:0px; margin: 2px; float: right" ng-click="editProduct(saleOrderItem)"></span>
                                    <span class="col-md-1 glyphicon glyphicon-floppy-save" ng-show="saleOrderItem.IsEdit && !((maxDiscountFixed == 'Yes') && (saleOrderItem.discount > maxDisountValue))" style="cursor: pointer; padding:0px; margin: 2px; float: right;" ng-click="saveProduct(saleOrderItem)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-if="salesOrderEstimate.salesOrderEstimateItem != 0">
                <div class="panel-footer clearfix">
                    @*<div class="pull-left">
                            <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                        </div>*@
                    <div class="pull-right">
                        <button title="Order" class="btn btn-style" ng-disabled="(salesOrderEstimateItem.length == 0) || maxEditDiscountExceeded || !(salesOrderList.$valid)" ng-click="saveSalesOrder()">Order</button>
                    </div>
                </div>
            </div>
        </ng-form>


    </div>

    @*Sales Estimate Section*@
    <div ng-show="BySalesEstimateSection">

        <ng-form id="salesEstimateItems" name="salesEstimateItems">
            <div class="order-section" style="height:auto">
                <div class="row">
                    <div class="col-md-2 override_margin">
                        <div class="form-list">
                            <label class="required">Customer Name</label>
                            <input type="text" ng-model="salesEstimateCustomerName"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Enter Customer Name"
                                   id="estimateCustomerName" required
                                   name="estimateCustomerName"
                                   title="Customer name"
                                   autofocus
                                   popup-focus="focusestimateCustomerName"
                                   typeahead-on-select="onPatientSelect($item)"
                                   typeahead-editable="false"
                                   ng-keyup="keyEnter($event,'estimateDrugName')"
                                   uib-typeahead="ps as ps.name for ps in getPatient($viewValue)"
                                   class="form-control form-control-small"
                                   typeahead-template-url="itemTpls.html" />

                            <script type="text/ng-template" id="itemTpls.html">
                                <a tabindex="-1" style="text-decoration:none">
                                    <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                                </a>
                                <div style="color:#fbaf67"></div>
                            </script>
                        </div>
                    </div>
                    <div class="col-md-3 override_margin sell-product-drop">
                        <div class="form-list sell-product" id="divProduct">
                            <label class="required">Product</label>
                            <input missedorder-focus="focusInput" title="Product Name"
                                   type="text"
                                   placeholder="Product"
                                   id="estimateDrugName"
                                   name="estimateDrugName"
                                   class="form-control form-control-small "
                                   ng-model="selectedSalesEstimate"
                                   autofocus
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   uib-typeahead="ps as ps.name for ps in getEstimateProducts($viewValue)"
                                   required
                                   typeahead-on-select="onProductSelectEstimate()"
                                   typeahead-template-url="/itemTpl10.html" />

                            <script type="text/ng-template" id="/itemTpl10.html">
                                <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H'">
                                    <span class='schedule'>H </span><span class="gap"> </span>
                                    <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                                </a>
                                <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H1'">
                                    <span class='schedule orange'>H1 </span><span class="gap"> </span>
                                    <span ng-bind-template="{{match.model.product.code}} {{match.model.product.name}} ({{match.model.stock}})"></span>
                                </a>
                                <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'X'">
                                    <span class='schedule pink'>X </span><span class="gap"> </span>
                                    <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                                </a>
                                <a tabindex="-1" ng-if="match.model.product.schedule != 'H' && match.model.product.schedule != 'H1' && match.model.product.schedule != 'X'">
                                    <span class=''>&nbsp;&nbsp;&nbsp;&nbsp;<span class="gap"></span></span>
                                    <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                                </a>
                            </script>
                        </div>
                        <span class="error" ng-show="zeroBatch" style="margin-left:0px">Total quantity already selected</span>
                    </div>

                    <div class="col-md-1 override_margin">
                        <div class="form-list">
                            <label class="required">Qty</label>
                            <input type="text" title="Quantity" placeholder="Qty" id="estimateQuantity" name="estimateQuantity" ng-model="selectedBatch.quantity" ng-change="validateQty(true)" valid-number numbers-only required class="form-control" maxlength="7" ng-keyup="keyEnter($event,'btnAddEstimate')" />
                            <span class="error override_margin" ng-if="selectedBatch.quantity > selectedBatch.totalQuantity && selectedBatch.editId == null" ng-message="required">Stock available is {{selectedBatch.totalQuantity}}</span>
                            <span class="error override_margin" ng-if="selectedBatch.quantity > selectedBatch.availableQty && selectedBatch.editId != null" ng-message="required">Stock available is {{selectedBatch.availableQty}}</span>

                            <span id="spnquantity" data-quantityId="{{selectedBatch.quantity}}" data-price="{{selectedBatch.sellingPrice}}" data-discount="{{selectedBatch.discount}}"></span>
                        </div>
                    </div>
                    <div class='col-md-1 override_margin'>
                        <div class="form-list">
                            <label class="required">Batch</label>
                            <select chosen title="Batch Number" id="estimateBatchNo" name="estimateBatchNo" option="batchList" data-placeholder="Select Batch Number" ng-model="selectedBatch" ng-options="key as (item.batchNo + '   ('+ item.availableQty + ')') for (key, item) in batchList track by item.productStockId" class="form-control override_margin small" ng-change="batchSelected(selectedBatch)" ng-keyup="keyEnter($event,'estimatediscount')">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1 override_margin">
                        <div class="form-list">
                            <label>Dis %</label>
                            <input type="text" title="Discount" id="estimateDiscount" maxlength="6" name="estimatediscount" class="form-control"
                                   placeholder="Disc"
                                   ng-model="selectedBatch.discount" data-ng-class="selectedBatch.discount>100? 'highlight' :''"
                                   ng-keyup="keyEnter($event,'btnAddEstimate')"
                                   data-ng-change="changeDiscount(selectedBatch.discount)"
                                   valid-number />
                            <span data-ng-if="selectedBatch.discount=='.'" class="highlight">Must be valid no. </span>
                            <span data-ng-if="selectedBatch.discount>=100" style="background-color:#fff;" class="highlight">Must be less than or equal 100% </span>
                            <span ng-show="maxDiscountExceeded" class="highlight">Discount should be less than Max discount</span>

                        </div>
                    </div>

                    <div class='col-md-1 override_margin'>
                        <div class="form-list">
                            <label>Expiry</label>
                            <input title="Expire Date" type="text" id="estimateExpireDate" name="estimateExpireDate" class="form-control" value="{{selectedBatch.expireDate | date:'MM/yy'}}" disabled />
                            <span class="error" ng-if="highlight1 == 'Expiry'">{{selectedBatch.expireDate | date:'MMM yy'}}  {{highlight1}}</span>
                        </div>
                    </div>

                    <div class="col-md-1 override_margin">
                        <div class="form-list">
                            <label>MRP</label>
                            <input type="text" title="Price" placeholder="0" id="estimatePrice" name="estimatePrice" ng-model="selectedBatch.sellingPrice" valid-number class="form-control form-control-small" ng-keyup="keyEnter($event,'btnAddEstimate')" disabled />
                        </div>
                    </div>

                    <div class="col-md-1" style="top:20px;">
                        <div class="form-list">
                            <button type="button" id="btnAddEstimate" name="btnAddEstimate" title="Add" class="btn btn-style" ng-disabled="selectedBatch.quantity=='' || selectedBatch.quantity==null || selectedBatch.quantity==0 || !Enablesalesbtn || maxDiscountExceeded || (selectedBatch.quantity > selectedBatch.totalQuantity)|| (selectedBatch.discount>=100)" ng-click="addSalesEstimateProduct()">ADD</button>
                            @*|| !salesEstimateItems.$valid*@
                        </div>

                    </div>
                    <div class="col-md-1 " style="top:20px; margin-left: -40px;">
                        <div class="form-list">
                            <button title="Reset" id="btnEstimateReset" class="btn btn-small btn-style" ng-click="resetSalesEstimate()">Reset</button>
                        </div>
                    </div>

                </div>

            </div>

        </ng-form>

        <ng-form id="salesEstimateList" name="salesEstimateList">
            <div class="col-md-12 sell-group-decor3 override_margin" ng-if="salesOrderEstimate.salesEstimateItem != 0">
                <div class="panel panel-default override_margin" style="max-height:275px; overflow-y:auto;">
                    <div class="panel-body orange-border-top">
                        <div class='row' style="background-color: #D6D6D6; height: 35px; padding-top: 9px;">
                            <div class="col-md-12">
                                <label class="col-md-2" style="font-size: 16px;">Product</label>
                                <label class="col-md-1" style="font-size: 16px;">Quantity</label>
                                <label class="col-md-1" style="font-size: 16px;">Dis %</label>
                                <label class="col-md-2" style="font-size: 16px;">BatchNo</label>
                                <label class="col-md-1" style="font-size: 16px;">Expiry</label>
                                <label class="col-md-1" style="font-size: 16px;">MRP</label>
                                <label class="col-md-1" style="font-size: 16px;">Total Price</label>
                                <label class="col-md-1" style="font-size: 16px;">Estimate Value</label>
                                <label class="col-md-2" style="font-size: 16px; padding-left: 100px;">Action</label>
                            </div>
                        </div>
                        <div class='row'>
                            <div ng-repeat="saleEstimate in salesOrderEstimate.salesEstimateItem">
                                <div ng-if="!saleEstimate.isDeleted" class="chip-style">
                                    <div class="col-md-12">

                                        <strong class="col-md-2 orange-text">{{saleEstimate.name | uppercase}}</strong>
                                        @*<strong class="col-md-2 orange-text" ng-if="EditSalesOrderEstimate && (saleEstimate.product.name!=null)">{{saleEstimate.product.name | uppercase}}</strong>
                                            <strong class="col-md-2 orange-text" ng-if="EditSalesOrderEstimate">{{saleEstimate.productMaster.name | uppercase}}</strong>
                                            <strong class="col-md-2 orange-text" ng-if="!EditSalesOrderEstimate">{{saleEstimate.name | uppercase}}</strong>*@
                                        <div class="col-md-1">
                                            <span class="col-md-12" ng-hide="saleEstimate.IsEdit">{{saleEstimate.quantity}}</span>
                                            <input class="col-md-12 sell-decor12" ng-show="saleEstimate.IsEdit" type="text" id="productEstimateQuantity" name="productEstimateQuantity" placeholder="Quantity" maxlength="7" ng-model="saleEstimate.quantity" autofocus valid-number numbers-only ng-change="validateEditQty(saleEstimate)" />
                                            <span ng-show="saleEstimate.quantity > saleEstimate.stock" class="highlight">Stock available is {{saleEstimate.stock}}</span>
                                        </div>

                                        <div class="col-md-1">
                                            <span class="col-md-12" ng-hide="saleEstimate.IsEdit">{{saleEstimate.discount}}</span>
                                            <input class="col-md-12 sell-decor12" maxlength="6" ng-show="saleEstimate.IsEdit" type="text" id="productEstimateDisc" name="productEstimateDisc" placeholder="Disc" ng-model="saleEstimate.discount" ng-change="changeEstimateEditDiscount(saleEstimate.discount,saleEstimate)" autofocus valid-number required />
                                            <span data-ng-if="saleEstimate.discount=='.'" class="highlight">Must be valid no. </span>
                                            <span data-ng-if="saleEstimate.discount>=100" style="background-color:#fff;" class="highlight">Must be less than or equal 100% </span>
                                            <span ng-show="(maxDiscountFixed == 'Yes') && (saleEstimate.discount > maxDisountValue)" class="highlight">Discount should be less than Max discount</span>
                                        </div>

                                        <span class="col-md-2">{{saleEstimate.batchNo}}</span>
                                        <span class="col-md-1">{{saleEstimate.expireDate | date:'MM/yy'}}</span>
                                        <span class="col-md-1">{{saleEstimate.sellingPrice | number:2}}</span>
                                        <span class="col-md-1">{{ saleEstimate.quantity * saleEstimate.sellingPrice | number:2 }}</span>
                                        <span class="col-md-1">{{ (saleEstimate.quantity * saleEstimate.sellingPrice) - (saleEstimate.quantity * saleEstimate.sellingPrice * saleEstimate.discount / 100) | number:2 }}</span>
                                    </div>
                                    <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer; margin-right: 40px;" title="Delete" ng-click="removeEstimateProduct(saleEstimate)"></span>
                                    <span class="col-md-1 glyphicon glyphicon-edit" ng-hide="saleEstimate.IsEdit " style="cursor: pointer; padding:0px; margin: 2px; float: right;" ng-click="editEstimateProduct(saleEstimate)"></span>

                                    <span class="col-md-1 glyphicon glyphicon-floppy-save" ng-show="saleEstimate.IsEdit && !((maxDiscountFixed == 'Yes') && (saleEstimate.discount > maxDisountValue)) && !(saleEstimate.quantity > saleEstimate.stock)" style="cursor: pointer; padding:0px; margin: 2px; float: right;" ng-click="saveEstimateProduct(saleEstimate)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-if="salesOrderEstimate.salesEstimateItem != 0">
                <div class="panel-footer clearfix">
                    @*<div class="pull-left">
                            <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                        </div>*@
                    <div class="pull-right">
                        <button title="Sales Estimate" class="btn btn-style" ng-disabled="(salesEstimateItem.length == 0) || maxEditDiscountExceeded || maxEditqtyExceeded || !(salesEstimateList.$valid)" ng-click="saveSalesOrder()">Estimate</button>
                    </div>
                </div>
            </div>
        </ng-form>



    </div>

    @*Sales Template Section*@
    <div ng-show="BySalesTemplateSection">

        <ng-form id="salesTemplateItems" name="salesTemplateItems">
            <div class="order-section" style="height:auto; width: 52%">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-list">
                            <label>Template Selection</label>
                            <select chosen style="width: 96%"
                                    id="tempName"
                                    title="Select Template"
                                    option="templateNameList"
                                    data-placeholder="Select Template"
                                    ng-model="selectedTemplateName"
                                    ng-options="option.templateName for option in templateNameList track by option.id"
                                    class="form-control"
                                    name="tempName"
                                    autofocus
                                    ng-change="selectedSalesTemplateName(selectedTemplateName)">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-right:20px;margin-top: 15px;">

                    <div class="col-md-6">
                        <div class="form-list purchase-product" id="divProduct">
                            <label class="required">Product</label>
                            <input missedorder-focus="focusInput" title="Product Name"
                                   type="text"
                                   placeholder="Product"
                                   id="templateDrugName"
                                   name="templateDrugName"
                                   class="form-control form-control-small"
                                   ng-model="selectedSalesTemplate"
                                   autofocus
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   typeahead-no-results="noResults"
                                   popup-focus="focustemplateProductName"
                                   uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                   required focus-box nextid="OrderQuantity"
                                   ng-click="checkAllSalesOrderfields(1)"
                                   ng-keyup="checkAllSalesOrderfields(1)"
                                   typeahead-on-select="onProductSelect($event,selectedSalesTemplate)"
                                   typeahead-template-url="/salesTemplateitemTpl.html" />
                            <script type="text/ng-template" id="/salesTemplateitemTpl.html">

                                <a tabindex="-1" class="productddl1" ng-if="match.model.accountId==null">
                                    <span class='global'>G </span><span class="gap"> </span>
                                    <span ng-bind-template="{{match.model.name}}"></span>
                                </a>
                                <a tabindex="-1" class="productddl1" ng-if="match.model.accountId!=null">
                                    <span class='global local'>L </span><span class="gap"> </span>
                                    <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
                                </a>
                            </script>

                            <span class="error" ng-show="vendorOrderItems.drugName.$touched && vendorOrderItems.drugName.$invalid">Required</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-list">
                            <label class="required">Qty</label>
                            <input type="text" title="Quantity" placeholder="Qty" id="templateQty" name="templateQty" ng-model="selectedSalesTemplate.quantity" ng- valid-number numbers-only class="form-control" maxlength="7" focus-box nextid="btnAddTemplate" ng-click="checkAllSalesOrderfields(2)" ng-keyup="checkAllSalesOrderfields(2)" required />
                        </div>
                    </div>
                    <div class="col-md-2" style="top:20px;">
                        <div class="form-list">
                            @*<button title="Reset" id="btnReset" class="btn btn-small btn-style form-control" ng-click="addOrder()">Reset</button>*@
                            <button type="button" id="btnAddTemplate" name="btnAddTemplate" title="Add New" class="btn btn-style" ng-disabled="selectedSalesTemplate.id==null || selectedSalesTemplate.quantity==null || selectedSalesTemplate.quantity=='' ||selectedSalesTemplate.quantity==0" ng-click="addSalesTemplateProduct()">ADD NEW</button>
                        </div>
                    </div>

                </div>
            </div>

        </ng-form>

        <div class="col-md-12 sell-group-decor3 override_margin" ng-if="salesTemplate.salesTemplateItem != 0">
            <div class="panel panel-default override_margin" style="max-height:230px; overflow-y:auto; width: 52%">
                <div class="panel-body orange-border-top">
                    <div class='row' style="background-color: #D6D6D6; height: 35px; padding-top: 9px;">
                        <div class="col-md-12">
                            <label class="col-md-6" style="font-size: 16px">Product</label>
                            <label class="col-md-4" style="font-size: 16px">Quantity</label>
                            <label class="col-md-2" style="font-size: 16px">Action</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div ng-repeat="saleTemp in salesTemplate.salesTemplateItem">
                            <div ng-if="!saleTemp.isDeleted" class="chip-style">
                                <div class="col-md-12">
                                    <strong class="col-md-6 orange-text">{{saleTemp.name | uppercase}}</strong>
                                    <span class="col-md-4" ng-hide="saleTemp.IsEdit">{{saleTemp.quantity}}</span>
                                    <input class="col-md-2 sell-decor12" ng-show="saleTemp.IsEdit" type="text" id="productQuantity" name="productQuantity" placeholder="Quantity" ng-model="saleTemp.quantity" maxlength="7" autofocus style="max-width:100px;" valid-number numbers-only /> @*ng-disabled="true"*@

                                    <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;" title="Delete" ng-click="removeTemplateProduct(saleTemp)"></span>&nbsp;
                                    <span class="col-md-1 glyphicon glyphicon-edit" ng-hide="saleTemp.IsEdit" style="cursor: pointer; padding:0px; margin: 2px; float: right;" ng-click="editTemplateProduct(saleTemp)"></span>
                                    <span class="glyphicon glyphicon-floppy-save" ng-show="saleTemp.IsEdit" style="cursor: pointer; padding:0px; margin: 2px; float: right;" ng-click="saveTemplateProduct(saleTemp)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="width: 52%" ng-if="salesTemplate.salesTemplateItem != 0">
            <div class="panel-footer clearfix">
                @*<div class="pull-left">
                        <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                    </div>*@

                <div class="pull-right">
                    <button title="Save as new Template" class="btn btn-style" ng-disabled="(salesTemplate.salesTemplateItem.length == 0) || disableDeleted || (salesTemplateCount==0)" ng-click="saveNewTemopen()">Save as new Template</button>
                    <button title="Update Template" id="btnupdate" name="btnupdate" class="btn btn-style" ng-show="selectedTemplateName!=null" ng-disabled="(addTemplateEnable) || disableDeleted || (salesTemplateCount==0)" ng-click="updateTemplate()">Update Template</button>
                </div>
            </div>
        </div>

    </div>

    <script type="text/ng-template" id="saveSalesTemplate">
        <div class="popup-overlay form-popup">
            <div class="middlealign">
                <div>
                    <div class="popup-wrap reminder-popup alternate" style="max-width:50%">
                        <div class="popup-close" data-ng-click="close('No')" data-dismiss="modal"><i class="fa fa-times"></i></div>
                        <h3>Create Template</h3>
                        <ng-form id="frmTempStock" name="frmTempStock">
                            <div class="reminder-popup-wrap">
                                <div class="row popup-row form-data">
                                    <div class="col-md-12 reminder-popup-left">
                                        <div class="col-md-12 input-group sell-group-decor txtCaps">
                                            <div class="col-md-12">
                                                <div class="form-list">
                                                    <label>Create Template</label>
                                                    <input type="text" ng-model="salesTempNewName" aw-limit-length="100 " class="form-control" placeholder="Enter template" popup-focus="focustemplate" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <button class="btn primary-button pull-right" data-ng-disabled="!frmTempStock.$valid" data-ng-click="includeTempItem()">Save</button>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="tempStockAlert">
        <div class="popup-overlay form-popup large-Modal">
            <div class="middlealign">
                <div>
                    <div class="popup-wrap reminder-popup alternate" style="border-color:#3DB29F;" modal="shouldBeOpen">
                        <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                        <h3 style="background-color:#28465a;">Temp Stock Quantity</h3>
                        <ng-form id="productDetails" name="productDetails">
                            <div class="reminder-popup-wrap">
                                <div class="row popup-row form-data">
                                    <div class="panel panel-default override_margin">
                                        <div class="panel-body override_margin sell-group-decor12">
                                            <input type="text" focus-me="shouldBeOpen1" ng-keydown="keyPress($event)" style="text-align:center;border:none" readonly ng-model="productName" />
                                            <table rules="cols" class="col-md-12" id="detail" style="font-size:small;">
                                                <thead>
                                                    <tr style="background-color:#e6e2e2;">
                                                        <th class="col-md-3 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:medium;" align="center">Batch</label>
                                                        </th>
                                                        <th class="col-md-2 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:medium;" align="center">Available Qty</label>
                                                        </th>
                                                        <th class="col-md-2 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:medium;" align="center">Temp Stock Qty</label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="list1 in batchList1">
                                                        <td class="col-md-3 input-group trimLR sell-group-decor txtUpper" style="font-size:medium;" align="left">
                                                            {{list1.batchNo}}
                                                        </td>
                                                        <td class="col-md-2 input-group trimLR sell-group-decor txtUpper" style="font-size:medium;" align="right">
                                                            {{list1.availableQty}}
                                                        </td>
                                                        <td class="col-md-2 input-group trimLR sell-group-decor txtUpper" style="font-size:medium;" align="right">
                                                            {{list1.tempStock.quantity}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <button class="secondary-button pull-right" ng-click="closeTempPopUp('No')" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
        </div>
    </script>
    @{
        await Html.RenderPartialAsync("~/Views/VendorPurchase/_CreateProduct.cshtml");
    }

    @*<div ng-show="IsOffline" class="offline-message">
            <p>This option is disabled for online.</p>
            <p class="offline-only">Please use only offline for this feature.</p>
        </div>*@
</div>



<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .tdSelect .dropdown-menu {
        height: 100px;
        overflow-y: scroll;
    }

    #divProduct .dropdown-menu {
        height: auto;
        max-height: 200px;
        overflow-y: scroll;
    }

    .text-center {
        text-align: center !important;
    }

    .chips-wrapper span {
        margin-right: 0px !important;
    }

    .chosen-drop {
        width: 100% !important;
    }


    /*order-list*/
    .order-sublist {
        margin: 15px 0;
    }

        .order-sublist ul {
            padding: 0;
        }

        .order-sublist li {
            list-style: none;
            display: inline-block;
        }

            .order-sublist li a {
                text-decoration: none;
                border: 2px solid #d8d8d8;
                border-radius: 50px;
                color: #969696;
                display: block;
                font-size: 16px;
                line-height: 16px;
                padding: 7px 20px;
                text-transform: capitalize;
                margin-right: 10px;
            }

                .order-sublist li a:hover {
                    border: 2px solid #a1a1a1;
                    background-color: #a1a1a1;
                    color: #fff;
                }

        .order-sublist .active {
            background-color: #a1a1a1;
            border: 2px solid #a1a1a1;
            color: #fff;
        }

    .order-section {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 15px 0;
        margin-bottom: 15px;
        height: 108px;
    }

    .form-list label {
        color: #333;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 6px;
    }

    .form-list .textbox {
        border: 1px solid #ccc;
        padding: 6px;
        height: 30px;
        width: 100%;
    }

    .button-add {
        border: none;
        background-color: #039394;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        padding: 8px 18px;
    }

    .byorder-list {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
    }

        .byorder-list table {
            width: 100%;
        }

        .byorder-list th {
            background-color: #d7d7d7;
            font-weight: 500;
            padding: 10px;
        }

        .byorder-list td {
            padding: 10px 2px;
        }

        .byorder-list tbody tr {
            border-bottom: 1px solid #f3f3f3;
        }

    .mar-top-135 {
        margin-top: 135px;
    }

    .mar-left-10 {
        margin-left: 15px !important;
    }


    .byorder-list tbody tr {
        border-bottom: 1px solid #f3f3f3;
    }

    .mar-top-135 {
        margin-top: 135px;
    }

    .mar-left-10 {
        margin-left: 15px !important;
    }

    .export {
        cursor: pointer;
        color: green;
        font-size: 24px;
        margin-top: -32px !important;
        margin-right: -8px;
        background-color: #fff;
        border: none;
    }

    .custom-margin {
        padding-left: 5px;
        margin-bottom: 10px;
        width: 13%;
    }
</style>
<style>
    #detail tbody tr td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<style>
    .form-data label {
        font-size: 14px !important;
    }

    .productddl span {
        color: #333 !important;
    }

        .form-data .productddl:hover span, .productddl span:hover {
            color: #fff !important;
        }

    .productddl1 span {
        color: #333 !important;
    }

        .form-data .productddl1:hover span, .productddl1 span:hover {
            color: #fff !important;
        }

    .Hcolor {
        background-color: #82f7c5;
    }

    .H1color {
        background-color: #fcdf9a;
    }

    .Xcolor {
        background-color: #fabce2;
    }
</style>


@*@{
        await Html.RenderPartialAsync("_ShowTempStockAlert");
    }*@

@section scripts
{
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderappscript.js"></script>
    <script asp-append-version="true" src="~/appScript/product/productService.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productstockservice.js"></script>
    <script asp-append-version="true" src="/appscript/sales/salesservice.js"></script>
    <link asp-append-version="true" rel="stylesheet" href="~/assets/js/jquery-confirm-3.0.3.min.css">
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/sell.css" />
    <script asp-append-version="true" src="~/assets/js/jquery-confirm-2.0.3.min.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angular-filter.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesOrderCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesTemplateCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempStockCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempStockAlertCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/VendorPurchase/vendorPurchaseService.js"></script>
    <script asp-append-version="true" src="~/appscript/VendorOrder/productDetailPopUpCtrl.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}
