﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@model string
@{
    Layout = null;
}
@if (User.HasPermission(UserAccess.EditMrp) || User.HasPermission(UserAccess.Admin))
{
}
<style>
    .jconfirm.jconfirm-light .jconfirm-box {
        margin-top: 210px;
        margin-bottom: 50px;
        transition-duration: unset !important;
        transition-timing-function: unset !important;
        transition-property: all, margin;
    }

    .print-sale {
        /*position: absolute;
        right: 15px;*/
    }
</style>

<div data-ng-hide="IsOffline && !isOnlineEnabled">
    <ng-form novalidate id="salesItems" name="salesItems" data-ng-init="init('@User.GSTEnabled()')">
        <input type="hidden" id="accountId" name="accountId" value="@User.AccountId()" />
        <shortcut></shortcut>
        <div class="row panelBorder override_margin">
            @{
                await Html.RenderPartialAsync("_SalesCustomerSelection");
            }
            @{
                await Html.RenderPartialAsync("_SalesDoctorSelection");
            }
        </div>
        <div class="col-md-12" data-ng-hide="leadsProductArray.length==0">
            <div class="panel panel-default override_margin">
                <div class="panel-body orange-border-top override_margin">
                    <label>Prescribed Medicines From Leads</label>
                    <div class='row override_margin'>
                        @*<button typeahead-watch-changes ng-model="selectedProduct" ng-click="AddItemtoSave('cro')">crocin</button>*@
                        <ul ng-repeat="leadsproduct in leadsProductArray" style="float:left;margin-right:40px;">
                            <li typeahead-watch-changes style="background:#a4a4a4;padding: 5px 15px;border-radius: 5px;cursor:pointer;list-style:none;" ng-click="AddItemtoSave(leadsproduct,$index)">
                                <span>{{leadsproduct.name}} - {{leadsproduct.Totaltablets}} <img src="~/assets/images/circle.png" class="img-repsonsive" ng-show="showproductSelected[$index]"></span>
                                @*ng-show="showproductSelected[index]"*@
                            </li>
                        </ul>
                        @*<table style="width:60%">
                                <thead>
                                    <tr>
                                        <th>Drug Name</th>
                                        <th>Quantity</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="leadsproduct in leadsProductArray">
                                        <td>{{leadsproduct.name}}</td>
                                        <td>{{leadsproduct.Totaltablets}}</td>
                                        <td><button ng-click="AddItemtoSave(leadsproduct)">Add</button></td>
                                    </tr>
                                </tbody>
                            </table>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding: 0px" data-ng-hide="salesTemplateProductArray.length==0">
            <div class="panel panel-default override_margin">
                <div class="panel-body orange-border-top override_margin">
                    <label>Stock not available/partially available items in Sales Template</label>
                    <div class='row override_margin'>
                        <ul ng-repeat="salesTemplateProduct in salesTemplateProductArray" style="float:left; margin-left: -35px;">
                            <li typeahead-watch-changes style="background:#a4a4a4;padding: 5px 15px;border-radius: 5px;cursor:pointer;list-style:none;" ng-click="AddItemSalesTemplatetoSave(salesTemplateProduct,$index)">
                                @*<span>{{salesTemplateProduct.product.name}} - {{salesTemplateProduct.quantity}} <img src="~/assets/images/circle.png" class="img-repsonsive" ng-show="showproductSelected[$index]"></span>*@
                                <span>{{salesTemplateProduct.name}} - {{salesTemplateProduct.pendingTemplateQty}} </span> @*<img src="~/assets/images/circle.png" class="img-repsonsive" ng-show="showproductSelected[$index]">*@
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding: 0px" data-ng-hide="salesEstimateProductArray.length==0">
            <div class="panel panel-default override_margin">
                <div class="panel-body orange-border-top override_margin">
                    <label>Stock not available/partially available items in Sales Order/Estimate</label>
                    <div class='row override_margin'>
                        <ul ng-repeat="salesTemplateProduct in salesEstimateProductArray" style="float:left; margin-left: -35px;">
                            <li typeahead-watch-changes style="background:#a4a4a4;padding: 5px 15px;border-radius: 5px;cursor:pointer;list-style:none;" ng-click="AddItemSalesTemplatetoSave(salesTemplateProduct,$index)">
                                @*<span>{{salesTemplateProduct.product.name}} - {{salesTemplateProduct.quantity}} <img src="~/assets/images/circle.png" class="img-repsonsive" ng-show="showproductSelected[$index]"></span>*@
                                <span>{{salesTemplateProduct.name}} - {{salesTemplateProduct.pendingTemplateQty}} </span> @*<img src="~/assets/images/circle.png" class="img-repsonsive" ng-show="showproductSelected[$index]">*@
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 override_margin" ng-hide="selectedBatch.name == '' || selectedBatch.name == undefined || previousdetails.length == 0" style="position: absolute;
             background-color: #fff;
             -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
             -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
             box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
             top: 32px;
             z-index: 99;
             left: 0;
             max-height: 80px;">
            <div class="prev-sales-header">
                <table>
                    <thead>
                    <th width="10%">Bill No</th>
                    <th width="10%">Bill Date</th>
                    <th width="20%">Customer</th>
                    <th width="10%">Batch No</th>
                    <th width="10%">Expiry</th>
                    <th width="10%">Qty</th>
                    <th width="10%">Disc %</th>
                    <th width="10%" ng-show="enableSelling">MRP</th>
                    <th width="10%" class="text-center">S.Price</th>
                    @*<th>Manufacturer</th>*@
                    </thead>
                </table>
            </div>
            <div class="prev-sales-body">
                <table>
                    <tbody>
                        <tr ng-repeat="item in previousdetails">
                            <td width="10%">{{item.sales.invoiceSeries + item.sales.invoiceNo}}</td>
                            <td width="10%">{{item.sales.invoiceDate | date: "dd/MM/yyyy"}}</td>
                            <td width="20%">{{item.sales.name}}</td>
                            <td width="10%">{{item.productStock.batchNo}}</td>
                            <td width="10%">{{item.productStock.expireDate | date:'MM/yy'}}</td>
                            <td width="10%">{{item.quantity}}</td>
                            <td width="10%">{{item.discount}}</td>
                            <td width="10%" ng-show="enableSelling">{{item.sales.finalValue | number : 2}}</td>
                            <td width="10%" align="right"><b>{{item.sellingPrice | currency : "₹" : 2}}</b></td>
                            @*<td>{{item.productStock.product.manufacturer}}</td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row clearfix" style="display:none;">
            <div class="col-md-1 override_margin">
                <ul class="schedule-section clearfix">
                    <li class="Hcolor">H</li>
                    <li class="H1color">H1</li>
                    <li class="Xcolor">X</li>
                </ul>
            </div>
            @*<div class="col-md-1 Hcolor schedulebg"><label claCurrency Received ss="txtUpper" style="font-size:10px;"><span style="font-size:small">H</span> </label></div>
                <div class="col-md-1 H1color schedulebg"><label class="txtUpper" style="font-size:9px;"><span style="font-size:small">H1</span> </label></div>
                <div class="col-md-1 Xcolor schedulebg"><label class="txtUpper" style="font-size:10px;"><span style="font-size:small">X</span>  </label></div>*@
            <div class="col-md-2" style="width: 140px;" ng-if="Editsale==false && InvoiceSeriestype != 3" ng-hide="Editsale==true">
                <label style="margin-top: 4px">Invoice No: <span style="font-family: GT Light;">{{dispInvoiceNo}}</span></label>
            </div>
            <div class="col-md-3" style="width: 230px;" ng-show="InvoiceSeriestype == 2" ng-if="Editsale==false">
                <label>Select Custom Series *</label>
                <select class="sell-select" ng-model="selectedSeriesItem" ng-change="ValidateCustomSeries(selectedSeriesItem)" id="ddlCustomSeries" ng-enter="CustomSeriesOnEnter(selectedSeriesItem)">
                    <option ng-repeat="item in InvoiceSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>
                </select>
            </div>
            <div class="col-md-3" style="width: 260px;" ng-show="InvoiceSeriestype == 3" ng-if="Editsale==false">
                <label>Enter Manual Series *</label>
                <input title="Manual Series" id="ManualSeries" style="width:100px;display:inline;height:27px;padding: 5px" name="manualSeries" type="text" placeholder="Number" maxlength="10" class="form-control" ng-change="manualSeriesChange(manualSeries)" ng-model="manualSeries" numbers-only valid-number>  @*ng-blur="ValidateManualSeries(manualSeries);trackInvoiceNo()" -- Comment by arun confirmed with manivanan on 18.04.2017*@
            </div>
            <div class="">
                <div class="form-group override_margin">
                    <div class="col-md-2 override_margin" style="width: 130px;">
                        <label style="margin-left:10px;margin-bottom:0;">Customer Type[<span class="fkey">F11</span>]</label>
                        <span class="error" style="margin-left:10px;" ng-show="isSalesTypeMandatory && sales.salesType==''">* Select sale type</span>
                    </div>
                    <div class="col-md-2 override_margin">
                        <select id="saleType" class="sell-select" ng-model="sales.salesType" ng-change="saletypeDropdownchnage(sales.salesType)">
                            <option value="" disabled>Select</option>
                            <option class="txtUpper" ng-repeat="item in sales.saleType.salesTypeList" value="{{item.id}}">{{item.name}}</option>
                        </select>

                    </div>

                </div>
            </div>


            @*<div class="col-md-3" ng-show="InvoiceSeriestype == 4" ng-if="Editsale==false">
                    <label>Select Customer Credit Series *</label>
                    <select ng-model="selectedCreditSeriesItem" ng-change="ValidateCustomCreditSeries(selectedCreditSeriesItem)">
                        <option ng-repeat="item in InvoiceCreditSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>
                    </select>
                </div>*@
            <div class="print-sale">
                <button class="orange-line-btn" ng-show="gstIn == null || gstIn == '' || gstIn == undefined" ng-click="getGSTIN()">Update your GSTIN</button>
                <label>Last Sale Print [<span class="fkey">CTRL+B</span>]</label>
                <span class="glyphicon glyphicon-print" style="cursor: pointer; padding:4px; margin: 1px;" ng-click="printBill()"></span>
            </div>
        </div>
        <div class="row clearfix">
            @*<div class="col-md-1 override_margin">
                    <ul class="schedule-section clearfix">
                        <li class="Hcolor">H</li>
                        <li class="H1color">H1</li>
                        <li class="Xcolor">X</li>
                    </ul>
                </div>*@
            @*<div class="col-md-1 Hcolor schedulebg"><label claCurrency Received ss="txtUpper" style="font-size:10px;"><span style="font-size:small">H</span> </label></div>
                <div class="col-md-1 H1color schedulebg"><label class="txtUpper" style="font-size:9px;"><span style="font-size:small">H1</span> </label></div>
                <div class="col-md-1 Xcolor schedulebg"><label class="txtUpper" style="font-size:10px;"><span style="font-size:small">X</span>  </label></div>*@

            <ul class="sale-print">
                <li ng-if="Editsale==false && InvoiceSeriestype != 3" ng-hide="Editsale==true">
                    <label>Invoice No: <span style="font-family: GT Light;">{{dispInvoiceNo}}</span></label>
                </li>
                <li ng-show="InvoiceSeriestype == 2" ng-if="Editsale==false">
                    <label>Select Custom Series *</label>
                    <select class="sell-select form-control" ng-model="selectedSeriesItem" ng-change="ValidateCustomSeries(selectedSeriesItem)" id="ddlCustomSeries" ng-enter="CustomSeriesOnEnter(selectedSeriesItem)">
                        <option ng-repeat="item in InvoiceSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>
                    </select>
                </li>
                <li ng-show="InvoiceSeriestype == 3" ng-if="Editsale==false">
                    <label>Enter Manual Series *</label>
                    <input title="Manual Series" id="ManualSeries" name="manualSeries" type="text" placeholder="Number" maxlength="10" class="form-control" ng-change="manualSeriesChange(manualSeries)" ng-model="manualSeries" numbers-only valid-number>  @*ng-blur="ValidateManualSeries(manualSeries);trackInvoiceNo()" -- Comment by arun confirmed with manivanan on 18.04.2017*@
                </li>
                <li>
                    <label>Customer Type[<span class="fkey">F11</span>]</label>
                    <select id="saleType" class="sell-select form-control" ng-model="sales.salesType" ng-change="saletypeDropdownchnage(sales.salesType)">
                        <option value="" disabled>Select</option>
                        <option class="txtUpper" ng-repeat="item in sales.saleType.salesTypeList" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <span class="error" ng-show="isSalesTypeMandatory && sales.salesType==''">* Select sale type</span>
                </li>
                <li>
                    <div class="print-sale">
                        <button class="orange-line-btn" ng-show="gstIn == null || gstIn == '' || gstIn == undefined" ng-click="getGSTIN()">Update your GSTIN</button>
                        <label>Last Sale Print [<span class="fkey">CTRL+B</span>]</label>
                        <span class="glyphicon glyphicon-print" ng-click="printBill()"></span>
                    </div>
                </li>
            </ul>


        @*<div class="col-md-3" ng-show="InvoiceSeriestype == 4" ng-if="Editsale==false">
                <label>Select Customer Credit Series *</label>
                <select ng-model="selectedCreditSeriesItem" ng-change="ValidateCustomCreditSeries(selectedCreditSeriesItem)">
                    <option ng-repeat="item in InvoiceCreditSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>
                </select>
            </div>*@
</div>
        <div class="col-md-9 override_margin">
            <div class="panel panel-default override_margin product-enter">
                <div class="panel-body orange-border-top override_margin">
                    @*<div class="col-md-12 row override_margin">
                            <div class="col-md-3 input-group"><input type="checkbox" id="Return" name="Return" title="Return" ng-model="selectedBatch.salesReturn" ng-change="changeTransactionType()"/>
                            <label class="txtUpper">Return</label></div>
                        </div>*@
                    <div class='row override_margin'>
                        <div class='col-md-4 override_margin sell-product-drop'>
                            <div class='form-group override_margin' style="font-size:12px;">
                                <div class="input-group sell-product sell-group-decor3 txtUpper">
                                    <label>Product [<span class="fkey">ctrl+a</span>]</label>
                                    <input type="text" ng-show="isProductGenericSearch" ng-model="selectedProduct" style="font-family: GT Bold;color:#000;"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Product"
                                           id="drugName" required
                                           name="drugName"
                                           title="Product Name"
                                           typeahead-on-select="onProductSelect()"
                                           typeahead-editable="false"
                                           ng-keyup="CheckName()"
                                           popup-focus="focusProductSearch"
                                           uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                                           class="form-control form-control-small "
                                           typeahead-template-url="itemTpl.html"
                                           ng-enter="getProduct()" />
                                    <script type="text/ng-template" id="itemTpl.html">
                                        <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H'">
                                            <span class='schedule'>H </span><span class="gap"> </span>
                                            <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                                        </a>
                                        <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H1'">
                                            <span class='schedule orange'>H1 </span><span class="gap"> </span>
                                            <span ng-bind-template="{{match.model.product.code}} {{match.model.product.name}} ({{match.model.stock}})"></span>
                                        </a>
                                        <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'X'">
                                            <span class='schedule pink'>X </span><span class="gap"> </span>
                                            <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                                        </a>
                                        <a tabindex="-1" ng-if="match.model.product.schedule != 'H' && match.model.product.schedule != 'H1' && match.model.product.schedule != 'X'">
                                            <span class=''>&nbsp;&nbsp;&nbsp;&nbsp;<span class="gap"></span></span>
                                            <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                                        </a>
                                    </script>
                                    <input type="text" ng-hide="isProductGenericSearch" ng-model="selectedProduct" style="font-family: GT Bold;color:#000;"
                                           typeahead-focus-on-select="false" autofocus
                                           typeahead-min-length="1"
                                           placeholder="Generic Name"
                                           id="genericName" required
                                           name="genericName"
                                           title="Generic Name"
                                           typeahead-on-select="showAlternatesFromProduct()"
                                           typeahead-editable="false"
                                           ng-keyup="CheckGenericName()"
                                           popup-focus="focusGenericSearch"
                                           uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                                           class="form-control form-control-small "
                                           typeahead-template-url="itemGenericTpl.html" />
                                    <script type="text/ng-template" id="itemGenericTpl.html">
                                        <a tabindex="-1">
                                            <span ng-bind-template="{{match.model.product.name}} ({{match.model.stock}})"></span>
                                        </a>
                                    </script>
                                </div>
                                <i class="fa fa-info-circle mar-tb-10" aria-hidden="true"></i>To search by Generic Name press [<span class="fkey">Ctrl+G</span>]
                                <span class="error" ng-show="salesItems.productName.$dirty && salesItems.productName.$error.required" style="margin-left:0px">Select drug name</span>
                                <span class="error" ng-show="zeroBatch" style="margin-left:0px">Total quantity already selected</span>
                                @*<span class="error" ng-show="zeroQty" style="margin-left:0px">Stock not available for the selected item</span>*@
                                <span class="highlight" style="margin-left:0px">{{eancodeAlert}}</span>
                            </div>
                        </div>
                        <div class='col-md-1 override_margin'>
                            <div class='form-group'>
                                <div class="input-group sell-group-decor3">
                                    <label>Quantity</label>
                                    <input title="Quantity" type="text" id="quantity" name="quantity" class="form-control" required placeholder="Qty" maxlength="7"
                                           ng-change="validateQty(true)" !ng-disabled="selectedProduct.product.name=='' || selectedProduct.product.name== undefined"
                                           ng-model="selectedBatch.quantity" ng-enter="addSales()" numbers-only valid-number style="font-family: GT Bold;color:#000;" />
                                </div>
                                <span class="error" ng-show="salesItems.quantity.$dirty && salesItems.quantity.$error.required">Required</span>
                                <div ng-messages="salesItems.quantity.$error" role="alert">
                                    <span class="error override_margin" ng-if="selectedBatch.quantity > selectedBatch.totalQuantity && selectedBatch.editId == null && !selectedBatch.salesReturn" ng-message="required">Stock available is {{selectedBatch.totalQuantity}}</span>
                                    <span class="error override_margin" ng-if="selectedBatch.quantity > selectedBatch.availableQty && selectedBatch.editId != null && !selectedBatch.salesReturn" ng-message="required">Stock available is {{selectedBatch.availableQty}}</span>
                                    <span class="error override_margin" ng-if="selectedBatch.quantity < salesReturnedQuantity && salesReturnedQuantity!=0" ng-message="required">Must be Greater than or equal to Ret.Qty : {{salesReturnedQuantity}}</span>
                                </div>
                                <span id="spnquantity" data-quantityId="{{selectedBatch.quantity}}" data-price="{{selectedBatch.sellingPrice}}" data-discount="{{selectedBatch.discount}}"></span>
                            </div>
                        </div>
                        <div class='col-md-2 override_margin'>
                            <div class="form-group override_margin">
                                <div class="input-group sell-group-decor sell-batch col-md-12">
                                    <label>Batch</label>
                                    <select chosen
                                            style="font-family: GT Bold;color:#000;"
                                            title="Batch Number"
                                            option="batchList"
                                            data-placeholder="Select Batch Number"
                                            ng-disabled="selectedBatch.editId != null"
                                            ng-model="selectedBatch"
                                            ng-options="key as (item.batchNo + '   ('+ item.availableQty + ')') for (key, item) in batchList track by item.productStockId"
                                            class="form-control override_margin small"
                                            ng-change="batchSelected(selectedBatch)">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            @*<div ng-hide="(selectedBatch.product.boxNo==undefined || selectedBatch.product.boxNo==''||selectedBatch.product.boxNo=='-') || (selectedBatch.rackNo==undefined ||selectedBatch.rackNo==''||selectedBatch.rackNo=='-')" class="rack-boxno">Rack/Box No - <span >{{selectedBatch.product.boxNo!=undefined && selectedBatch.product.boxNo!="" && selectedBatch.rackNo!=undefined && selectedBatch.rackNo!="" ? selectedBatch.rackNo +"/"+ selectedBatch.product.boxNo : selectedBatch.rackNo+selectedBatch.product.boxNo}}</span></div>*@
                        </div>
                        <div class="col-md-1  override_margin" style="padding-right:1px;">
                            @*sellDiscount*@
                            <div class="form-group override_margin">
                                <div class="input-group sell-group-decor3">
                                    <label class="lblSellDiscount">Dis % [<span class="fkey">F8</span>]</label>
                                    <input type="text" title="Discount" id="discount" name="discount" class="form-control"
                                           ng-change="changediscountsale(selectedBatch.discount,true)" placeholder="Disc"
                                           ng-model="selectedBatch.discount" data-ng-class="selectedBatch.discount>100? 'highlight' :''"
                                           ng-keyup="keyEnter($event,'gstTotal')"
                                           valid-number style="font-family: GT Bold;color:#000;" />
                                    <span data-ng-if="selectedBatch.discount=='.'" class="highlight">Must be valid no. </span>
                                    <span data-ng-if="selectedBatch.discount>100" style="background-color:#fff;" class="highlight">Must be less than 100% </span>
                                    <span ng-show="maxDiscountExceeds" class="highlight">Discount should be less than Max discount</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-1 override_margin'>
                            <div class="form-group override_margin">
                                <div class="input-group sell-group-decor3 expiry">
                                    <label>Expiry</label>
                                    <input title="Expire Date" type="text" id="expireDate" name="expireDate" class="form-control" value="{{selectedBatch.expireDate | date:'MM/yy'}}" disabled style="font-family: GT Bold;color:#000;" />
                                    <span class="error" ng-if="highlight == 'Expiry'">{{selectedBatch.expireDate | date:'MMM yy'}}  {{highlight}}</span>
                                    @*<span class="error">{{selectedBatch.expireDate | date:'MMM yy'}}{{highlight}}</span>*@
                                </div>
                            </div>
                        </div>
                        <div class='col-md-1 override_margin' style="text-align: center;" ng-hide="isGstEnabled">
                            <div class='form-group override_margin'>
                                <div class="input-group sell-group-decor3">
                                    <label>VAT %</label>
                                    <input title="vat" type="text" id="vat" name="vat" class="form-control" maxlength="4" ng-model="selectedBatch.vat" disabled style="font-family: GT Bold;color:#000;" />
                                </div>
                            </div>
                        </div>
                        <div class='col-md-1 override_margin' style="text-align: center;" ng-show="isGstEnabled" ng-hide="(isComposite == true)">
                            <div class='form-group override_margin'>
                                <div class="input-group sell-group-decor3">
                                    <label class="required">GST %</label>
                                    <input title="gstTotal" type="text" id="gstTotal" name="gstTotal" class="form-control" maxlength="4"
                                           ng-model="selectedBatch.gstTotal"
                                           ng-disabled="!selectedBatch.canEnableTaxEdit"
                                           ng-keyup="keyEnter($event,'sellingPrice')"
                                           style="font-family: GT Bold;color:#000;"
                                           ng-change="validateGst()"
                                           ng-if="taxValuesList.length<=0" />

                                    <select id="gstTotal" name="gstTotal" class="form-control" title="GST Total"
                                            data-ng-model="selectedBatch.gstTotal"
                                            ng-disabled="(taxValuesList | filter: { tax: selectedBatch.gstTotal } : true).length != 0 && selectedBatch.gstTotal != 0 || gstMode==true"
                                            ng-keydown="keyEnter($event,'sellingPrice')"
                                            style="font-family: GT Bold;color:#000;"
                                            ng-change="validateGst()"
                                            ng-if="taxValuesList.length>0">
                                        <option ng-repeat="tax in taxValuesList" value="{{tax.tax}}" ng-selected="selectedBatch.gstTotal=={{tax.tax}}">{{tax.tax}}</option>
                                    </select>
                                    <span class="error" style="margin-left:0px;" ng-show="gstMode==true">Invalid GST {{getGstvalue}}% Please update in Inventory Data Update</span>
                                    <span class="error" style="margin-left:0px;" ng-show="selectedBatch.gstTotal == '' && selectedBatch.gstTotal != 0">Enter value</span>
                                    <span class="error" style="margin-left:0px;" ng-show="selectedBatch.gstTotal >= 100">Must be less than 100</span>
                                </div>
                            </div>
                        </div>

                        <div class='col-md-1 override_margin' ng-show="salesPriceSettings == 3">
                            <div class='form-group override_margin'>
                                <div class="input-group sell-group-decor3">
                                    <label>P.Price</label>
                                    <input title="PPrice" type="text" id="PPrice" name="PPrice" class="form-control" maxlength="9"
                                           ng-model="selectedBatch.purchasePriceWithoutTax" valid-decimal-number
                                           required ng-keyup="keyEnter($event,'sellingPrice')" style="font-family: GT Bold;color:#000;" ng-change="calculateSellingPrice(selectedBatch)" />
                                    <span class="error" ng-show="salesItems.PPrice.$dirty && salesItems.PPrice.$error.required" style="margin-left:0px;">Required</span>
                                </div>
                            </div>
                        </div>


                        <div class='col-md-1 override_margin '>
                            @*sellDiscount*@
                            <div class='form-group override_margin'>
                                <div class="input-group sell-group-decor3">
                                    <label>Price [<span class="fkey">F9</span>]</label>
                                    @if (User.HasPermission(UserAccess.EditMrp))
                                    {
                                        <input title="Selling Price" type="text" id="sellingPrice" name="sellingPrice" class="form-control" maxlength="9"
                                               ng-model="selectedBatch.sellingPrice" valid-decimal-number ng-change="validateSellingPrice(selectedBatch,true)"
                                               required ng-keydown="keyEnter($event,'btnSave')" style="font-family: GT Bold;color:#000;" />
                                        //Comment Gavaskar 01-12-2016 Start
                                        @*<span class="error override_margin">{{valPurchasePrice}}</span>*@
                                        //Comment Gavaskar 01-12-2016 End
                                        //Added Gavaskar 01-12-2016 Start
                                        <span class="error" style="margin-left:0px;" ng-if="(selectedProduct.name==''  && selectedBatch.purchasePrice=='') || (selectedBatch.purchasePrice > selectedBatch.sellingPrice ||selectedBatch.sellingPrice =='.' )" data-ng-message="required">Price must be greater than Purchase Price</span>
                                        //Added Gavaskar 01-12-2016 End
                                        <span class="error" ng-show="salesItems.sellingPrice.$dirty && salesItems.sellingPrice.$error.required" style="margin-left:0px;">Required</span>
                                    }
                                    else
                                    {
                                        <input title="Selling Price" type="text" id="sellingPrice" name="sellingPrice" class="form-control" maxlength="9"
                                               ng-model="selectedBatch.sellingPrice" disabled style="font-family: GT Bold;color:#000;" />
                                    }
                                </div>
                            </div>
                        </div>


                    </div>
                    @*<div class='row'>
                            <div class='col-sm-4 pull-left sell-group-decor5 col-lg-5'>
                                <div style="float:left;margin-right:20px;">
                                    <label style="color:#3DB29F">Total Quantity : {{selectedBatch.totalQuantity}}</label>
                                </div>
                                <div style="float:left;">
                                    <label style="color:#3DB29F">
                                        Rack/Box No :
                                        {{selectedBatch.product.boxNo!=undefined && selectedBatch.product.boxNo!="" && selectedBatch.rackNo!=undefined && selectedBatch.rackNo!="" ? selectedBatch.rackNo +"/"+ selectedBatch.product.boxNo : selectedBatch.rackNo+selectedBatch.product.boxNo}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class='col-sm-2 col-lg-2'>
                                <div>
                                    <div>
                                        <button type="button"
                                                id="btnSave"
                                                title="Add"
                                                class="btn btn-style"
                                                style="width:100%;"
                                                ng-disabled="(!salesItems.$valid && Quantityexceeds==0) || selectedBatch.sellingPrice =='.' || selectedBatch.sellingPrice ==''|| (selectedBatch.purchasePrice > selectedBatch.sellingPrice) || !Enablesalesbtn || addbtnenable"
                                                ng-click="addSales()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-lg-2 pull-right" style="margin-top: 8px;padding:0px;">
                                <div>
                                    <label style="float:left;">Purchase Price:</label>
                                    <label style="float:left;">{{selectedBatch.purchasePrice | number:2}}</label>
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class='pull-left'>
                            <div class='form-group override_margin'>
                                <div class="input-group sell-group-decor4">
                                    @*<label>Reminder [<span class="fkey">F10</span>]</label>*@
                                    <div class='row pull-left override_margin'>
                                        <div class='col-sm-5 pull-left override_margin'>
                                            <select ng-model="selectedBatch.reminderFrequency" class="form-control ddlreminder" id="reminder">
                                                <option value="0" selected>Reminder [F10]</option>
                                                <option value="16">Once</option>
                                                <option value="2">Weekly</option>
                                                <option value="4">Monthly</option>
                                                <option value="8">Yearly</option>
                                            </select>
                                        </div>
                                        <div class='col-sm-4 pull-left override_margin'>
                                            <input id="reminderDate" class="form-control col-sm-5 pull-left" name="reminderDate" type="text" placeholder="Date" ng-model="selectedBatch.reminderDate" uib-datepicker-popup="{{format}}" is-open="reminderPopup.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date readonly />
                                        </div>
                                        <div class="col-sm-2 pull-left override_margin input-group-btn wrapper-date" d>
                                            <button type="button" class="btn btn-default btn1" ng-click="remiderOpen()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                        <div class='override_margin'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <input type="hidden" id="isGstEnabled" name="isGstEnabled" value="@User.GSTEnabled()" ng-init="getIsGstEnabled()" />
                        <div class="pull-left">
                            <div ng-hide="(selectedBatch.product.boxNo==undefined || selectedBatch.product.boxNo==''||selectedBatch.product.boxNo=='-')&&(selectedBatch.rackNo==undefined ||selectedBatch.rackNo==''||selectedBatch.rackNo=='-')" class="rack-boxno">Rack/Box No : <span>{{selectedBatch.product.boxNo!=undefined && selectedBatch.product.boxNo!="" && selectedBatch.rackNo!=undefined && selectedBatch.rackNo!="" ? selectedBatch.rackNo +"/"+ selectedBatch.product.boxNo : selectedBatch.rackNo+selectedBatch.product.boxNo}}</span></div>
                        </div>
                        <div class="pull-right">
                            <button type="button"
                                    id="btnSave"
                                    title="Add"
                                    class="btn btn-style"
                                    style="width:100px;margin-top:6px;"
                                    ng-disabled="(!salesItems.$valid && Quantityexceeds==0) || selectedBatch.sellingPrice =='.' || selectedBatch.sellingPrice ==''|| ((selectedBatch.purchasePrice > selectedBatch.sellingPrice) && salesPriceSettings != 3) || !Enablesalesbtn || addbtnenable || (selectedBatch.quantity < salesReturnedQuantity && salesReturnedQuantity!=0 || ((selectedBatch.purchasePriceWithoutTax =='' || selectedBatch.purchasePriceWithoutTax ==null || selectedBatch.purchasePriceWithoutTax == undefined) && salesPriceSettings == 3))" ng-click="addSales()">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="override_margin sales-list" ng-if="sales.salesItem != 0">
                <div class="panel panel-default override_margin">
                    <div class="panel-body orange-border-top">
                        <div class='row override_margin'>
                            <div class="col-md-1">&nbsp;</div>
                            <div class="col-md-10 override_margin">
                                <label class="col-md-1 override_margin">S. No.</label>
                                <label class="col-md-4 override_margin">Product</label>
                                <label class="col-md-1" style="">Rack/Box</label>
                                <label class="col-md-1" style="text-align:right;margin-left: 53px;">Quantity</label>
                                <label class="col-md-1" style="text-align:right;margin-left:15px;">Discount</label>
                                <label class="col-md-2" style="margin-left:40px;">Price </label>
                            </div>
                            <div class="col-md-1">&nbsp;</div>
                        </div>
                        <div class='row'>

                            <div ng-repeat="salesItem in sales.salesItem">
                                <div ng-if="!salesItem.salesReturn">
                                    <div class="chip-style product-add-list">
                                        <span class="col-sm-12">
                                            <button type="button" title="+" class="col-md-1 chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                            <div class="col-md-10">
                                                @*<strong class="col-md-7 orange-text">{{salesItem.product.name | uppercase}}</strong>*@
                                                <div class="col-md-1 text-right">{{$index+1}}</div>
                                                <div class="col-md-5">
                                                    @*{{salesItem.product.name}} changed to {{salesItem.name}} by arun based om the response *@
                                                    <strong class="orange-text ng-binding">{{salesItem.name | uppercase}}</strong>
                                                    <span ng-show="salesItem.availablestock >= 0" style="color:red;">[Avail.Qty : {{salesItem.availablestock}}]</span>
                                                </div>
                                                <div class="col-md-1" style="padding: 0;">
                                                    <span>
                                                        {{(salesItem.product.boxNo!=undefined || salesItem.product.boxNo!=""||salesItem.product.boxNo!='-') && (salesItem.rackNo!=undefined ||salesItem.rackNo!="" ||salesItem.product.rackNo!='-')? salesItem.rackNo +"/"+ salesItem.product.boxNo : salesItem.rackNo+salesItem.product.boxNo}}
                                                    </span>
                                                </div>
                                                <div class="col-md-1" style="margin-left:38px;"><span>{{salesItem.quantity}}</span></div>
                                                <div class="col-md-1" style="margin-left:14px;"><span>{{salesItem.discount}}</span></div>
                                                <div class="col-md-2" style="text-align:right"><span> {{salesItem.sellingPrice * salesItem.quantity | number : 2}}</span></div>
                                            </div>
                                            <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;" title="Delete" ng-click="removeSales(salesItem)" ng-hide="Editsale == true && salesCount == 1 && salesReturnCount >= 1"></span>&nbsp;
                                            <span class="col-md-1 glyphicon glyphicon-edit cross-icon pull-right" style="cursor: pointer;" title="Edit" ng-click="editSales(salesItem)" ng-hide="salesItem.availablestock == 0"></span>&nbsp;
                                        </span>
                                    </div>
                                    <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                        <table class="table product-enter-list">
                                            <thead class="chips-header ">
                                                <tr>
                                                    <th>Batch</th>
                                                    <th>Expiry</th>
                                                    <th ng-hide="isGstEnabled == true">VAT</th>
                                                    <th ng-show="isGstEnabled == true"><p ng-hide="(isComposite == true)">GST Total </p></th>
                                                    <th>Barcode</th>
                                                    <th ng-show="enableSelling">Selling</th>
                                                    <th>MRP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-left">
                                                    <td>{{salesItem.batchNo}}</td>
                                                    <td>{{salesItem.expireDate | date:'MM/yy'}}</td>
                                                    <td ng-hide="isGstEnabled == true">{{salesItem.vat}}</td>
                                                    <td ng-show="isGstEnabled == true"><p ng-hide="(isComposite == true)">{{salesItem.gstTotal}}</p></td>
                                                    <td>{{salesItem.purchaseBarcode}}</td>
                                                    <td>{{salesItem.sellingPrice}}</td>
                                                    <td ng-show="enableSelling">{{salesItem.mrp}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel " ng-show="returnDiscountInValid" style="margin-bottom: 10px;border-bottom: none;box-shadow: none;">
                        <label style="color:red;font-size:medium;padding-left:20px;">Return</label>
                        <div class='row'>
                            <div ng-repeat="salesItem in sales.salesItem">
                                <div ng-if="salesItem.salesReturn">
                                    <div class="chip-style product-add-list">
                                        <span class="col-sm-12" style="color:red;">
                                            <button type="button" title="+" class="col-md-1 chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                            <div class="col-md-10">
                                                @*<strong class="col-md-7 orange-text">{{salesItem.product.name | uppercase}}</strong>*@
                                                <div class="col-md-1 text-right">{{$index+1}}</div>
                                                <div class="col-md-6">
                                                    <strong class="orange-text ng-binding" style="color:red;">{{salesItem.product.name | uppercase}}</strong>
                                                    <span ng-show="salesItem.availablestock >= 0" style="color:red;">[Avail.Qty : {{salesItem.availablestock}}]</span>
                                                </div>
                                                <div class="col-md-1" style="margin-left:40px;"><span>{{salesItem.quantity * (-1)}}</span></div>
                                                <div class="col-md-1" style="margin-left:12px;"><span>{{salesItem.discount}}</span></div>
                                                <div class="col-md-2 " style="text-align:right;"><span> {{salesItem.sellingPrice * salesItem.quantity * (-1) | number:2}}</span></div>
                                            </div>
                                            <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;" title="Delete" ng-click="removeSales(salesItem)"></span>&nbsp;
                                            <span class="col-md-1 glyphicon glyphicon-edit cross-icon pull-right" style="cursor: pointer;" title="Edit" ng-click="editSales(salesItem)" ng-hide="salesItem.availablestock == 0"></span>&nbsp;
                                        </span>
                                    </div>
                                    <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                        <table class="table">
                                            <thead class="chips-header">
                                                <tr>
                                                    <th>Batch No</th>
                                                    <th>Expired Date</th>
                                                    <th ng-hide="isGstEnabled == true">VAT</th>
                                                    <th ng-show="isGstEnabled == true"><p ng-hide="(isComposite == true)">GST Total</p></th>
                                                    <th>Barcode</th>
                                                    <th>MRP</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-left">
                                                    <td>{{salesItem.batchNo}}</td>
                                                    <td>{{salesItem.expireDate | date:'MM/yy'}}</td>
                                                    <td ng-hide="isGstEnabled == true">{{salesItem.vat}}</td>
                                                    <td ng-show="isGstEnabled == true"><p ng-hide="(isComposite == true)">{{salesItem.gstTotal}}</p></td>
                                                    <td>{{salesItem.purchaseBarcode}}</td>
                                                    <td>{{salesItem.sellingPrice}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-sell">
                <div class="clearfix">
                    <div class="pull-left no-pad col-sm-7">
                        <a title="Alternates" ng-click="PopupAlternates()" class="green-line-btn">Alternates</a>
                        <a title="MissedOrder" ng-click="MissedOrder()" class="green-line-btn">Missed Orders</a>
                        @if (User.AccountId() != "67067991-0e68-4779-825e-8e1d724cd68b")
                        {
                            <a title="Return" ng-click="ReturnProduct()" class="green-line-btn">Return</a>
                        }
                        @if (User.HasPermission(UserAccess.SalesTempStock))
                        {
                            <a type="button" class="green-line-btn" ng-click="showTempStockScreen()">Add Temp Stock</a>
                        }
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                <span class="fileupload-preview" style="color: black"></span>
                                <span class="btn btn-style btn-file green-line-btn">
                                    <span class="fileupload-new ">Attach Prescription</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                </span>
                         </div>
                        <a title="Templates" ng-click="showTemplates()" ng-show="isSalesTemplateEnabled==true" class="green-line-btn tp-2">Templates</a>
                    </div>
                    <div class="pull-right no-pad col-sm-5">
                        @if (@ViewBag.InstanceCount > 1)
                        {
                            <button type="button" title="Ctrl+Y" class="green-line-btn" ng-click="showStockBranchWise()">Branch Stock</button>
                        }
                        @*<button type="button" class="green-line-btn" ng-click="showNonSoldItems(sales)">No Stock products</button>*@
                        <a type="button" class="gray-line-btn" ng-click="cancel()">Cancel</a>
                        @*<button type="button" id="saleComplete" ng-disabled="!isSaveValid() || IsSelectedInvoiceSeries" class="btn btn-style" ng-click="save()">Complete Sale</button>*@
                        <input type="hidden" id="saveType" value='@ViewBag.CompleteSaleType' />
                        @if (ViewBag.CompleteSaleType == "2")
                        {
                            <button type="button" id="saleComplete"
                                    ng-disabled="!isSaveValid() || ((Iscredit || (sales.cashType == 'Credit' && (sales.credit == '' || sales.credit == undefined || sales.credit == 0))) && !(FinalNetAmount < 0)) || maxDiscountExceeded || ((salesAmount == 0 && returnAmount > 0) && (customerHelper.data.selectedCustomer.id == null || customerHelper.data.selectedCustomer.id == undefined || customerHelper.data.selectedCustomer.id == '')) || chequeCustomerRequired || redeemError || loyaltyError || netAmtError || returnRedeemError" class="orange-line-btn"
                                    ng-click="save()">
                                Complete Sale [<span>END</span>]
                            </button>
                        }
                        @*Added by Annadurai IsCheckNoEntered*@
                        else
                        {
                            <button type="button" id="saleComplete" ng-disabled="!isSaveValid() || ((Iscredit || (sales.cashType == 'Credit' && (sales.credit == '' || sales.credit == undefined || sales.credit == 0))) && !(FinalNetAmount < 0)) || maxDiscountExceeded || isCardDateValid || isChequeDateValid || errLast4digit || ((salesAmount == 0 && returnAmount > 0) && (customerHelper.data.selectedCustomer.id == null || customerHelper.data.selectedCustomer.id == undefined || customerHelper.data.selectedCustomer.id == '')) || chequeCustomerRequired || redeemError || loyaltyError || netAmtError || returnRedeemError" class="orange-line-btn" ng-click="save()">Complete Sale [<span>ESC</span>]</button>
                        }
                    </div>
                </div>
                @*<div class="fileupload fileupload-new" data-provides="fileupload" style="margin-bottom:0; margin-top:5px;">
                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                        <span class="fileupload-preview" style="color: black"></span>
                        <span class="btn btn-style btn-file">
                            <span class="fileupload-new">Attach file</span>
                            <span class="fileupload-exists">Change</span>
                            <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                        </span>
                    </div>*@
                @*<div class="pull-right" ng-show="sales.id !=='' && sales.id !== undefined ">
                        <button type="button" class="btn btn-style" ng-click="showTempStockScreen()">Add Temp Stock</button>
                        <button type="button" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                        <input type="hidden" id="saveType" value='@ViewBag.CompleteSaleType' />
                        @if (ViewBag.CompleteSaleType == "2")
                        {
                            <button type="button" id="saleComplete"
                                    ng-disabled="Enablesalesbtn == false" class="btn btn-style"
                                    ng-click="save()">
                                Complete Sale [<span>END</span>]
                            </button>
                        }
                        else
                        {
                            <button type="button" id="saleComplete" ng-disabled="!isSaveValid() || Iscredit || maxDiscountExceeded || (salesAmount < returnAmount)" class="btn btn-style" ng-click="save()">Complete Sale [<span>ESC</span>]</button>
                        }
                    </div>*@
            </div>
            @*<div class="row">
                    <div class="form-group override_margin">
                        <div class="col-md-2 override_margin"><label style="color:black;margin-left:10px;margin-top:10px;">Customer Type[<span class="fkey">F11</span>]</label></div>
                        <div class="col-md-3 override_margin">
                            <select id="saleType" class="form-control" ng-model="sales.salesType" ng-change="saletypeDropdownchnage(sales.salesType)">
                                <option value="" disabled>-Select-</option>
                                <option class="txtUpper" ng-repeat="item in sales.saleType.salesTypeList" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <span class="error" style="margin-left:10px;" ng-show="isSalesTypeMandatory && sales.salesType==''">* Select sale type</span>
                        </div>
                    </div>
                </div>*@
        </div>

        <div class="col-md-3 override_margin">
            <div class="panel override_margin sell-right">
                <div class="panel-body orange-border-top override_margin">
                    <div class='row'>
                        <div class='col-md-12 sell-group-decor4'>
                            @if (User.HasPermission(UserAccess.BillDateEdit))
                            {
                                <div class="override_margin">
                                    <div class='form-group' style="margin-bottom:0;">
                                        <label style="font-size: 12px;margin-bottom: 0;line-height: 12px;">Select Bill Date</label>
                                        <div class="input-group col-md-12 override_margin">
                                            @*<input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Select Date" ng-model="selectedBillDate" is-open="popup2.opened" max-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date readonly/>*@
                                            <input type="text" id="txtBillDate" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Select Date" ng-model="selectedBillDate" ng-change="validatedate()" is-open="popup2.opened" max-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date maxlength="10" />
                                            <span class="input-group-btn wrapper-date">
                                                <button ng-disabled="Editsale" type="button" class="btn btn-default btn1" ng-click="open2()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <span class="error" style="margin-left:10px;" ng-show="isInvoicedatevalid"> * Invalid Date</span>
                                    </div>
                                </div>
                            }
                            <table cellpadding="0" cellspacing="0" border="0" class="table sell-table-decor">
                                <tbody>
                                    <tr><th>Total</th><td class="text-small-gray">|</td><td class="text-right"><strong>{{totalAmountwithoutVat | number : 2}}</strong></td></tr>
                                    <tr ng-hide="(isComposite == true)"><th ng-show="isGstEnabled == true"><p ng-hide="(isComposite == true)">GST Total</p></th> <th ng-hide="isGstEnabled == true">VAT</th> <td class="text-small-gray">|</td><td class="text-right" ng-hide="(isComposite == true)"><strong>{{vatAmount | number : 2}}</strong></td></tr>
                                    @*<tr ng-show="false">
                                            <th>Discount Type [<span class="fkey">CTRL+</span>]</th>
                                            <td class="text-small-gray">|</td>
                                            <td class="text-right">
                                                <input title="Full" type="radio" value="1" id="discountType" name="discountType" ng-model="sales.discountType" ng-change="discountTypeChanged()" ng-disabled="discountInValid" />
                                                <label>%</label>&nbsp;&nbsp;
                                                <input title="Full" type="radio" value="2" id="discountType" name="discountType" ng-model="sales.discountType" ng-change="discountTypeChanged()" ng-disabled="discountInValid" />
                                                <label>Rs</label>
                                            </td>
                                        </tr>*@
                                    <tr>
                                        @*<th>Discount % [<span class="fkey">F3</span>]</th>*@
                                        <th>
                                            <div style="float:left;width:60%;margin-top: 4px;">
                                                Discount [<span class="fkey">F3</span>]
                                            </div>
                                            <div style="float:left;width:40%;">
                                                <select name="discountType" style="color:#333;font-family: GT Medium;" id="discountType" title="Select DiscountType" ng-model="sales.discountType" ng-change="callDiscount()">
                                                    <option value="1">%</option>
                                                    <option value="2">Rs</option>
                                                </select>
                                            </div>
                                        </th>
                                        @*<tr ng-show="sales.discountType=='1'">
                                            <th>Discount % [<span class="fkey">F3</span>]</th>*@
                                        <td class="text-small-gray">|</td>
                                        <td class="text-right" ng-show="sales.discountType=='1'">
                                            <input type="text"
                                                   id="txtDiscount"
                                                   name="txtDiscount"
                                                   ng-enter="focusOnProduct()"
                                                   data-ng-change="changeDiscount(sales.discount)"
                                                   placeholder="%"
                                                   ng-focus="discountFocus(sales.discount)"
                                                   data-ng-model="sales.discount"
                                                   class="qty-input text-right "
                                                   style="display:inline-block;padding: 0 2px;" maxlength="5"
                                                   data-ng-class="sales.discount>100? 'highlight' :''"
                                                   valid-number
                                                   ng-disabled="discountInValid || returnDiscountInValid"
                                                   numberfilter />
                                            <span data-ng-if="sales.discount>100" class="highlight">Must be less than 100% </span>
                                            <span ng-show="maxDiscountExceeded && sales.discount > 0" class="highlight">Discount should be less than Max discount</span>
                                        </td>
                                        @*</tr>
                                            <tr ng-show="sales.discountType=='2'">
                                                <th>Discount Amt [<span class="fkey">F3</span>]</th>*@
                                        @*<td class="text-small-gray">|</td>*@
                                        <td class="text-right" ng-show="sales.discountType=='2'">

                                            <input type="text"
                                                   id="txtDiscountValue"
                                                   data-ng-change="changeDiscountValue(sales.discountValue)"
                                                   placeholder="Rs"
                                                   data-ng-model="sales.discountValue"
                                                   class="qty-input text-right"
                                                   style="display:inline-block;padding: 0 2px;"
                                                   data-ng-class="(sales.discountValue>=finalNetVAL && finalNetVAL>0)? 'highlight' :''"
                                                   valid-number
                                                   ng-disabled="discountInValid || returnDiscountInValid"
                                                   numberfilter />
                                            <span data-ng-if="(sales.discountValue>=finalNetVAL && finalNetVAL>0)" class="highlight">Must be less than the Net amount </span>
                                            <span ng-show="maxDiscountExceeded && sales.discountValue > 0" class="highlight">Discount should be less than Max discount</span>
                                        </td>
                                        @*</tr>*@
                                    </tr>
                                    <tr>
                                        <th>Discounted Value (<span style="color:red;font-family: GT Medium;">-</span>)</th>
                                        <td class="text-small-gray">|</td>
                                        <td class="text-right">
                                            <strong>{{discountedTotalNetValue | number : 2}}</strong>
                                        </td>
                                    </tr>
                                    <tr ng-hide="customerHelper.data.isCustomerSelected == false || customerHelper.data.selectedCustomer.loyaltyPoint=='' || customerHelper.data.selectedCustomer.loyaltyPoint<=0">
                                        <th ng-show="loyaltyPointSettings.loyaltyOption">
                                            <div style="float:left; width:50%;margin-top:4px;">
                                                Redeem Points
                                            </div>
                                            <div style="float:left; width:50%;" >
                                                <input type="text" id="redeemPts" name="redeemPts" data-ng-model="sales.redeemPts" class="qty-input text-right " style="display:inline-block;" maxlength="5" data-ng-change="changeRedeemValue(sales.redeemPts)" popup-focus="focusRedeemPts" valid-number />
                                                <span ng-show="loyaltyError && !salesEditId" class="highlight">Must be less than available  Pts</span>
                                                <span ng-show="loyaltyError && salesEditId" class="highlight">Must not be greater than previous Pts {{oldRedeemPoint | number : 2}}</span>
                                                <span ng-show="redeemError" class="highlight">Must not be greater than maximum Redeem Pts {{loyaltyPointSettings.maximumRedeemPoint | number : 2}}</span>
                                                <span ng-show="netAmtError" class="highlight">Net Amount is less than 0.Adjust Redeem Pts</span>
                                                <span ng-show="FinalNetAmount > 0 && returnRedeemError" class="highlight"> {{avilableRedeemPt | number : 2}} Redeem pts only available after Return</span>
                                            </div>
                                        </th>
                                        <td ng-show="loyaltyPointSettings.loyaltyOption" class="text-small-gray">|</td>
                                        <td ng-show="loyaltyPointSettings.loyaltyOption" class="text-right">{{sales.redeemAmt | number : 2}}</td>
                                    </tr>
                                    <tr><th>RoundOff Value</th><td class="text-small-gray">|</td><td class="text-right"><strong>{{ roundoffNetAmount | number : 2}}</strong></td></tr>
                                    <tr ng-show="returnAmount > 0"><th>Sales Amount</th><td class="text-small-gray">|</td><td class="text-right"><strong>{{ salesAmount | number : 2}}</strong></td></tr>
                                    <tr ng-show="returnAmount > 0">
                                        <th>
                                            Return Amount (<span style="color:red;font-size:medium;">
                                                -
                                            </span>)
                                        </th>
                                        <td class="text-small-gray">|</td>
                                        <td class="text-right"><strong>{{ returnAmount | number : 2}}</strong></td>
                                    </tr>
                                    <tr style="background-color:#28465a;">
                                        <th class="special" style="color:#fff;text-transform:uppercase;font-size:20px;font-family: GT Bold !important;">Net Value</th>
                                        <td class="text-small-gray special" style="color:#fff;font-size:20px;font-family: GT Bold !important;">|</td>
                                        <td class="text-right special" style="color:#fff;font-size:20px;font-family: GT Bold !important;">
                                            <strong style="font-size:20px;font-family: GT Bold !important;">{{ FinalNetAmount  | number:2}}</strong>
                                        </td>
                                    </tr>
                                    <tr ng-show="salesAmount < returnAmount" style="background-color:#f58220;border-top-color:#f58220 !important;">
                                        <th class="special" style="color:white;border-top-color:#f58220 !important;">Return</th>
                                        <td class="text-small-gray special" style="color:white;border-top-color:#f58220 !important;">|</td>
                                        <td class="text-right special" style="color:white;border-top-color:#f58220 !important;">
                                            <strong>{{ FinalNetAmount * (-1)  | number:2}}</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row sell-group-decor5" ng-show="salesAmount >= returnAmount">
                    <div class="col-md-6 input-group override_margin">
                        <label class="receivedAmount" style="font-size:12px;height:18px;">Amount Received  [<span class="fkey">F4</span>]</label>
                        <input style="height: 25px; padding: 5px;font-size: 14px;line-height: 14px;" id="receivedAmount" class="form-control" name="receivedAmount" type="text" placeholder="Received Amount" ng-change="receivedAmount(receivedAmount2)" ng-model="receivedAmount2" ng-enter="focusToDurgName()" valid-number ng-disabled="sales.cashType == 'MultiplePayment'">
                    </div>
                    <div class="col-md-6 input-group override_margin">
                        <label class="receivedAmount" style="font-size:12px;height:18px;">To be Returned</label>
                        <input style="height: 25px; padding: 5px;font-size: 14px;line-height: 14px;" id="balanceAmount" class="form-control " name="balanceAmount" type="text" placeholder="Balance Amount" disabled ng-model="balanceAmount" valid-number numberfilter>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="row sell-decor6" style="font-family: GT Medium;font-size: small;padding: 5px;line-height: 14px;color: #333;">Payment Type</div>
                <div class="row sell-group-decor5">
                    <div class="col-md-3 input-group override_margin" id="payTypeFull" ng-show="sales.cashType != 'Full'">
                        <input title="Full" id="full" type="radio" value="Full" name="caseType" ng-model="sales.cashType" ng-change="changeCashType()" />
                        <label for="full">Full</label>
                    </div>
                    <div class="col-md-3 input-group override_margin" id="payTypeCredit">
                        <input title="Credit" id="caseType" type="radio" value="Credit" name="caseType" ng-model="sales.cashType" ng-change="changeCashType()" />
                        <label for="caseType">Credit[<span class="fkey">F5</span>]</label>
                    </div>
                    <div class="col-md-6 input-group override_margin" id="payTypeMultiple">
                        <input title="MultiplePayment" id="MultiplePayment" type="radio" value="MultiplePayment" name="caseType" ng-model="sales.cashType" ng-change="changeCashType()" />
                        <label for="MultiplePayment">Multiple [<span class="fkey">Ctrl+M</span>]</label>
                    </div>
                    <div class="col-sm-5 pull-left override_margin">
                        <input id="creditAmount" ng-disabled="FinalNetAmount < 0" focus-me="focusCreditTextBox" class="form-control " ng-show="sales.cashType == 'Credit'" name="creditAmount" type="number" placeholder="Payable Amount" ng-model="sales.credit" ng-change="receivedAmount1(receivedAmount2)" />
                        <span class="error" style="margin-left:10px;" ng-show="iscashtypevalid">* Enter Customer Details</span>
                        <span class="error" style="margin-left:10px;" ng-if="sales.credit > (FinalNetAmount) && !(FinalNetAmount < 0)">Enter Correct Amount</span>  @*Math.round(netTotal())*@
                    </div>
                </div>
                <div>
                    <label class="special" style="color:#039394;font-size:18px;margin-left:8PX;" ng-hide="customerHelper.data.customerBalance==0|| customerHelper.data.customerBalance==undefined">Previous Balance : {{customerHelper.data.customerBalance | number:2}}</label>
                </div>
                <div class="row sell-decor6" style="font-family: GT Medium;font-size: small;padding: 5px;line-height: 14px;color: #333;">Payment Mode</div>
                <div class="row sell-group-decor5">
                    <div class="col-md-4 input-group override_margin" style="width:50px !important;">
                        <input title="Cash" id="PayModeCash" type="radio" value="Cash" name="paymentType1" ng-model="sales.paymentType" ng-change="collectCardInfo()" />
                        <label for="PayModeCash">Cash</label>
                    </div>
                    <div class="col-md-4 input-group override_margin" style="width:72px !important;margin-left:0px !important">
                        <input title="Card" id="PayModeCard" ng-disabled="FinalNetAmount < 0" type="radio" value="Card" name="paymentType1" ng-model="sales.paymentType" ng-change="collectCardInfo()" ng-click="clkCollectCardInfo()" />
                        <label for="PayModeCard">Card[<span class="fkey">F6</span>]</label>
                    </div>
                    <div class="col-md-4 input-group override_margin" style="width:128px !important; margin-left:0px !important">
                        <input title="Cheque" id="PayModeCheque" ng-disabled="FinalNetAmount < 0" type="radio" value="Cheque" name="paymentType1" ng-model="sales.paymentType" ng-change="collectCardInfo()" ng-click="clkPayModeCheque()" />
                        <label for="PayModeCheque">Cheque[<span class="fkey">F7</span>]</label>
                    </div>
                    <div class="col-sm-12 pull-left override_margin" data-ng-show="sales.paymentType == 'Cheque'">
                        <div class="col-sm-6 pull-left override_margin">
                            <input id="chequeNo" class="form-control" focus-me="focusCardTextbox" name="chequeNo" type="text" placeholder="Cheque No" data-ng-model="sales.chequeNo" ng-enter="focusToChequeDate()" numbers-only valid-number maxlength="10" ng-change="chkCustomerEntered()" />
                        </div>
                        <div class="input-group col-sm-6 pull-left override_margin">
                            <input id="chequeDate" class="form-control col-sm-5 pull-left" name="chequeDate" type="text" placeholder="dd/MM/yyyy" ng-model="sales.chequeDate" ng-enter="focusToCompleteSale()" uib-datepicker-popup="{{format}}" is-open="popup.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date maxlength="10" />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <span class="error" style="margin-left:10px;" ng-show="isChequeDateValid"> * Invalid Date</span>
                    </div>
                    <div ng-show="chequeCustomerRequired"><span class="error">* Enter Customer Details </span></div>
                    <input type="hidden" id="CardType" name="CardType" value="@ViewBag.CardType" />
                    @if (ViewBag.CardType != "Last4Digits")
                    {
                        <div class="col-sm-12 pull-left override_margin" data-ng-show="sales.paymentType == 'Card'">
                            <div class="col-sm-6 pull-left override_margin">
                                <input id="cardNo" class="form-control" focus-me="focusCardTextbox" name="cardNo" type="text" placeholder="Card No" data-ng-model="sales.cardNo" ng-enter="focusToCardDate()" ng-click="" numbers-only valid-number maxlength="16" />
                            </div>
                            <div class="input-group col-sm-6 pull-left override_margin">
                                <input id="cardDate" class="form-control col-sm-5 pull-left" name="cardDate" type="text" placeholder="dd/MM/yyyy" ng-model="sales.cardDate" uib-datepicker-popup="{{format}}" is-open="popup.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" ng-enter="focusToCompleteSale()" my-date maxlength="10" />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="error" style="margin-left:20px;" ng-show="isCardDateValid"> * Invalid Date</span>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12 pull-left override_margin" data-ng-show="sales.paymentType == 'Card'">
                            <div class="col-sm-6 pull-left override_margin">
                                <input id="last4digit" class="form-control" focus-me="focusCardTextbox" name="last4digit" type="text" maxlength="4" numbers-only valid-number placeholder="Last 4 Digits" data-ng-model="sales.cardDigits" ng-enter="focusToCardName()">
                                <span class="error" style="margin-left:10px;" ng-show="errLast4digit">* Card No must be 4 Characters</span>
                            </div>
                            <div class="col-sm-6 pull-left override_margin">
                                <input id="cardName" class="form-control" name="cardName" type="text" placeholder="Card Name" data-ng-model="sales.cardName" ng-enter="focusToCompleteSale()">
                            </div>
                        </div>
                    }
                </div>
                <div class="row sell-decor6" style="font-family: GT Medium;font-size: small;padding: 5px;line-height: 14px;color: #333;">Sale Type</div>
                <div class="row sell-group-decor5">
                    <div class="col-md-5 input-group override_margin">
                        <input id="counter" title="Counter" type="radio" value="Counter" name="deliveryType" ng-model="sales.deliveryType" ng-change="changedeliveryType()" />
                        <label for="counter">Counter</label>
                    </div>
                    <div class="col-md-7 input-group override_margin">
                        <input title="Home Delivery" id="homeDelivery" type="radio" value="Home Delivery" name="deliveryType" ng-model="sales.deliveryType" ng-change="changedeliveryType()" />
                        <label for="homeDelivery" style="margin-left:-2px !important;">Door delivery[<span class="fkey">Ctrl+D</span>]</label>
                    </div>
                </div>
                <span class="error" style="margin-left:10px;" ng-show="isdeliverytypevalid">* Enter Customer Details</span>
                <div class="row sell-decor6" style="font-family: GT Medium;font-size: small;padding: 5px;line-height: 14px;color: #333;">Receipt Mode</div>
                <div class="row sell-group-decor5">
                    <div class="col-md-4 input-group override_margin">
                        <input id="chkPrint" title="Print" type="checkbox" name="chkPrint" ng-click="chkPrint()" ng-model="chkPrintValue" />
                        <label>Print</label>
                    </div>
                    <div class="col-md-4 input-group override_margin">
                        <input title="Email" type="checkbox" value="2" name="cash" ng-model="sales.sendEmail" />
                        <label>Email</label>
                    </div>
                    <div class="col-md-4 input-group override_margin" ng-show="showSms==true">
                        <input title="SMS" type="checkbox" value="2" name="cash" ng-model="sales.sendSms" />
                        <label>SMS</label>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <img src="~/assets/images/security-logo.png" alt="secured by Azure" />
            </div>
        </div>
    </ng-form>
</div>
<div ng-show="IsOffline && !isOnlineEnabled" class="offline-message">
    <p>This option is disabled for online.</p>
    <p class="offline-only">Please use only offline for this feature.</p>
</div>
<style>
    .Hcolor {
        background-color: #82f7c5;
    }

    .H1color {
        background-color: #fcdf9a;
    }

    .Xcolor {
        background-color: #fabce2;
    }

    #payTypeFull {
        width: 50px !important;
    }

    #payTypeCredit {
        width: 0px !important;
    }
</style>
@{
    await Html.RenderPartialAsync("_SalesCreateCustomer");
}
@{
    await Html.RenderPartialAsync("_SalesProductSearch");
}
@{
    await Html.RenderPartialAsync("_SalesTempStock");
}
@*@{
    await Html.RenderPartialAsync("_SalesProductCreate");
    }*@
@{
    await Html.RenderPartialAsync("~/Views/VendorPurchase/_CreateProduct.cshtml");
}
@{
    await Html.RenderPartialAsync("_MissedOrderCreate");
}
@{
    await Html.RenderPartialAsync("_SalesProductDetails");
}
@{
    await Html.RenderPartialAsync("_ShowTempStockAlert");
}
@{
    await Html.RenderPartialAsync("_SalesTempProducts");
}
@{
    await Html.RenderPartialAsync("_ConfirmPrint");
}
@{
    await Html.RenderPartialAsync("_ProductReturnWithSales");
}
@{
    await Html.RenderPartialAsync("_SalesStockBranchWise");
}
@{
    await Html.RenderPartialAsync("_SalesPartialOrder.cshtml");
}
@{
    await Html.RenderPartialAsync("_UpdateGSTIN.cshtml");
}
@{
    await Html.RenderPartialAsync("_SalesPaymentPopup.cshtml");
}
@{
    await Html.RenderPartialAsync("_ShowSalesTemplates.cshtml");
}
@{
    await Html.RenderPartialAsync("_ShowSalesOrderEstimate.cshtml");
}
@{
    await Html.RenderPartialAsync("_SalesUserValidate.cshtml");
}
@{
    await Html.RenderPartialAsync("_validateStockPopup");
}
<script type="text/javascript" charset="utf-8" async defer>
    $('.overlayClick').on('click', function () {
        var post_id = $(this).attr('data-post-id');
        $('#form_post_id').val(post_id);
        $('.form-popup').fadeIn();
        return false;
    });
    $('.popup-close').on('click', function () {
        $(this).closest('.popup-overlay').fadeOut();
        return false;
    });
</script>
