@{
    ViewBag.Title = "Order History";
    ViewBag.Menu = "Order History";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="salesOrderEstimateTemplateListCtrl" ng-cloak>

    <div ng-hide="IsOffline">
        <div class="order-sublist">
            <ul class="clearfix">
                <li><button title="Sales Order" class="{{salesOrderclass}}" ng-click="showSalesOrder()">Order</button></li>
                <li><button title="Sales Estimate" class="{{salesEstimateclass}}" ng-click="showSalesEstimate()">Estimate</button></li>
                @if (ViewBag.IsSalesTemplateEnabled == true)
                {
                    <li><button title="Sales Template" class="{{salesTemplateClass}}" ng-click="showSalesTemplate()">Templates</button></li>
                }
            </ul>
        </div>
    </div>

    <div ng-show="BySalesOrderSection">

        <div class="panel panel-default">
            <div class="col-sm-12" style="padding:0;">
                <div class="panel">
                    <div class="panel-body orange-border-top list-wrapper sell-group-decor8">
                        <div class="row " >
                            <div class="row tblHeader">
                                <div class="col-lg-12 col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
                                    <div class="col-lg-1 col-md-1 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Order No</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Order Date</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Customer Name</label>
                                    </div>

                                    <div class="col-lg-1 col-md-1 override_margin text-center" style="padding-right:0px;padding-left:0px;">
                                        <label style="padding:0px;font-size:medium;">Mobile</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 override_margin text-center">

                                        <label style="padding:0px;font-size:medium;">Email</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Action</label>
                                    </div>
                                    @*<div class="col-lg-2 col-md-2 override_margin text-center">

                                    </div>*@
                                </div>
                            </div>
                            <div ng-repeat="salesOrderEstimate in customOrderList">
                                <div class="col-lg-12 col-md-12 chip-style sell-group-decor8" ng-show="salesOrderEstimate.salesOrderEstimateType=='1'">
                                    <div class="col-lg-1 col-md-1 sell-group-decor9">
                                        <button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>

                                        <span class="col-md-6 sell-decor11 ng-binding">{{salesOrderEstimate.prefix+ salesOrderEstimate.orderEstimateId}}</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 sell-group-decor9 text-center">
                                        <span class="orange-text sell-decor11 txtCaps">{{salesOrderEstimate.orderEstimateDate | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                        <span class="sell-decor11">{{salesOrderEstimate.patient.name}}</span>
                                    </div>

                                    <div class="col-lg-1 col-md-1 sell-decor11 txtCaps text-center" style="padding-right:0px;padding-left:0px;">
                                        <span class="sell-decor11 txtCaps">{{salesOrderEstimate.patient.mobile}}</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                        <span class="sell-decor11">{{salesOrderEstimate.patient.email}}</span>
                                    </div>


                                    <div class="col-lg-2 col-md-2 text-center">
                                            <span class="glyphicon glyphicon-phone override-margin"
                                                  style="cursor: pointer; margin-right: 5px;"
                                                  title="Resend Sms"
                                                  ng-click="resendSms(salesOrderEstimate)"
                                                  ng-if="salesOrderEstimate.patient.mobile != '' && smsSettings.isSalesOrderSms == true"></span>


                                            <span class="glyphicon glyphicon-envelope override-margin" title="Resend Mail"
                                                  style="cursor: pointer; margin-right: 5px;"
                                                  ng-click="resendMail(salesOrderEstimate)"
                                                  ng-if="salesOrderEstimate.patient.email != ''"></span>

                                            <a ng-click="saleOrderEdit(salesOrderEstimate)" title="Edit Order">
                                                <span class="glyphicon glyphicon-edit override-margin" style="cursor: pointer; padding:3px; margin-right: 5px; color:red;"></span>
                                            </a>

                                            <span class="glyphicon glyphicon-print override-margin" title="Print Order" style="cursor: pointer; padding:3px; margin-right: 5px;" ng-click="printOrder(salesOrderEstimate)"></span>
                                        </div>
                                </div>

                                <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                    <div class='col-sm-12'>
                                        <div class='form-group'>
                                            <table style="width:90%">
                                                <thead>
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <th>Quantity</th>
                                                        <th>Pending Qty</th>
                                                        <th>Dis %</th>
                                                        <th>Mrp</th>
                                                        <th>Total Price</th>
                                                        <th>Order Value</th>
                                                        <th>Status</th>
                                                        <th>Converted / Pending</th>
                                                        <th>Product Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-left" ng-repeat="salesOrderItem in salesOrderEstimate.salesOrderEstimateItem">
                                                        <td class="txtUpper">{{salesOrderItem.product.name}}</td>
                                                        <td>{{salesOrderItem.quantity}}</td>
                                                        <td>{{salesOrderItem.quantity - salesOrderItem.receivedQty}}</td>
                                                        <td>{{salesOrderItem.discount}}</td>
                                                        <td>{{salesOrderItem.sellingPrice | number:2}}</td>
                                                        <td>{{salesOrderItem.quantity * salesOrderItem.sellingPrice | number:2}}</td>
                                                        <td>{{(salesOrderItem.quantity * salesOrderItem.sellingPrice) - (salesOrderItem.quantity * salesOrderItem.sellingPrice * salesOrderItem.discount / 100) | number:2}}</td>
                                                        <td ng-show="salesOrderItem.isDeleted==1">Deleted</td>
                                                        <td ng-show="salesOrderItem.isDeleted==0">-</td>
                                                        <td ng-show="salesOrderItem.isOrder==1">Converted</td>
                                                        <td ng-show="salesOrderItem.isOrder=='' || salesOrderItem.isOrder==null">Pending</td>
                                                        <td ng-show="salesOrderItem.isOrder==2">Deleted</td>
                                                        <td ng-show="salesOrderItem.product.status!=2">Active</td>
                                                        <td ng-show="salesOrderItem.product.status==2">InActive</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="text-right" >
                                            <button type="submit" class="btn  btn-style" style="margin-bottom:15px;margin-right:10px;" ng-show="salesOrderEstimate.isEstimateActive!=1"  ng-click="EstimateConvertTosale($index,salesOrderEstimate)"> 
                                                <span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;&nbsp;Order to Sale
                                            </button>
                                            <button type="submit" class="btn  btn-style" style="margin-bottom:15px;margin-right:10px;background-color:orangered;" disabled ng-show="salesOrderEstimate.isEstimateActive==1">
                                                <span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;&nbsp;Order Converted/Deleted
                                            </button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div style="margin: 5px 0 0 10px;">
                        @{
                            await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml");
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-show="BySalesEstimateSection">

        <div class="panel panel-default">
            <div class="col-sm-12" style="padding:0;">
                <div class="panel">
                    <div class="panel-body orange-border-top list-wrapper sell-group-decor8">
                        <div class="row " >
                            <div class="row tblHeader">
                                <div class="col-lg-12 col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
                                    <div class="col-lg-1 col-md-1 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Estimate No</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Estimate Date</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Customer Name</label>
                                    </div>

                                    <div class="col-lg-1 col-md-1 override_margin text-center" style="padding-right:0px;padding-left:0px;">
                                        <label style="padding:0px;font-size:medium;">Mobile</label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 override_margin text-center">

                                        <label style="padding:0px;font-size:medium;">Email</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Action</label>
                                    </div>
                                    @*<div class="col-lg-2 col-md-2 override_margin text-center">

                    </div>*@
                                </div>
                            </div>
                            <div ng-repeat="salesOrderEstimate in customOrderList">
                                <div class="col-lg-12 col-md-12 chip-style sell-group-decor8" ng-show="salesOrderEstimate.salesOrderEstimateType=='2'">
                                    <div class="col-lg-1 col-md-1 sell-group-decor9">
                                        <button class="col-md-2 chip-btn" title="+" id="chip-btn_E{{$index}}" data="_E{{$index}}" ng-click="toggleProductDetail($event)">+</button>

                                        <span class="col-md-6 sell-decor11 ng-binding">{{salesOrderEstimate.prefix+ salesOrderEstimate.orderEstimateId}}</span>
                                    </div>
                                    <div class="col-lg-2 col-md-2 sell-group-decor9 text-center">
                                        <span class="orange-text sell-decor11 txtCaps">{{salesOrderEstimate.orderEstimateDate | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                        <span class="sell-decor11">{{salesOrderEstimate.patient.name}}</span>
                                    </div>

                                    <div class="col-lg-1 col-md-1 sell-decor11 txtCaps text-center" style="padding-right:0px;padding-left:0px;">
                                        <span class="sell-decor11 txtCaps">{{salesOrderEstimate.patient.mobile}}</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                                        <span class="sell-decor11">{{salesOrderEstimate.patient.email}}</span>
                                    </div>


                                    <div class="col-lg-2 col-md-2 text-center">


                                        <span class="glyphicon glyphicon-phone override-margin"
                                              style="cursor: pointer; margin-right: 5px;"
                                              title="Resend Sms"
                                              ng-click="resendSms(salesOrderEstimate)"
                                              ng-if="salesOrderEstimate.patient.mobile != '' && smsSettings.isSalesEstimateSms == true"></span>


                                        <span class="glyphicon glyphicon-envelope override-margin" title="Resend Mail"
                                              style="cursor: pointer; margin-right: 5px;"
                                              ng-click="resendMail(salesOrderEstimate)"
                                              ng-if="salesOrderEstimate.patient.email != ''"></span>
                                        <a ng-click="saleOrderEdit(salesOrderEstimate)" title="Edit Order">
                                            <span class="glyphicon glyphicon-edit override-margin" style="cursor: pointer; padding:3px; margin-right: 5px;color:red;"></span>
                                        </a>

                                        <span class="glyphicon glyphicon-print override-margin" title="Print Order" style="cursor: pointer; padding:3px; margin-right: 5px;" ng-click="printOrder(salesOrderEstimate)"></span>
                                    </div>
                                </div>

                                <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper_E{{$index}}">
                                    <div class='col-sm-12'>
                                        <div class='form-group'>
                                            <table style="width:90%">
                                                <thead>
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <th>Quantity</th>
                                                        <th>Dis %</th>
                                                        <th>BatchNo</th>
                                                        <th>Expiry</th>
                                                        <th>Mrp</th>
                                                        <th>Total Price</th>
                                                        <th>Estimate Value</th>
                                                        <th>Status</th>
                                                        <th>Converted / Pending</th>
                                                        <th>Product Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-left" ng-repeat="salesOrderItem in salesOrderEstimate.salesOrderEstimateItem">
                                                        <td class="txtUpper">{{salesOrderItem.product.name}}</td>
                                                        <td>{{salesOrderItem.quantity}}</td>
                                                        <td>{{salesOrderItem.discount}}</td>
                                                        <td>{{salesOrderItem.batchNo}}</td>
                                                        <td>{{salesOrderItem.expireDate | date:'MM/yy'}}</td>
                                                        <td>{{salesOrderItem.sellingPrice | number:2}}</td>
                                                        <td>{{salesOrderItem.quantity * salesOrderItem.sellingPrice | number:2}}</td>
                                                        <td>{{(salesOrderItem.quantity * salesOrderItem.sellingPrice) - (salesOrderItem.quantity * salesOrderItem.sellingPrice * salesOrderItem.discount / 100) | number:2}}</td>
                                                        <td ng-show="salesOrderItem.isDeleted==1">Deleted</td>
                                                        <td ng-show="salesOrderItem.isDeleted==0">-</td>
                                                        <td ng-show="salesOrderItem.isOrder==1">Converted</td>
                                                        <td ng-show="salesOrderItem.isOrder=='' || salesOrderItem.isOrder==null">Pending</td>
                                                        <td ng-show="salesOrderItem.isOrder==2">Deleted</td>
                                                        <td ng-show="salesOrderItem.product.status!=2">Active</td>
                                                        <td ng-show="salesOrderItem.product.status==2">InActive</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="text-right">
                                            <button type="submit" class="btn  btn-style" style="margin-bottom:15px;margin-right:10px;" ng-show="salesOrderEstimate.isEstimateActive!=1" ng-click="EstimateConvertTosale($index,salesOrderEstimate)">
                                                <span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;&nbsp;Estimate to Sale
                                            </button>
                                            <button type="submit" class="btn  btn-style" style="margin-bottom:15px;margin-right:10px;background-color:orangered;" disabled ng-show="salesOrderEstimate.isEstimateActive==1">
                                                <span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;&nbsp;Estimate Converted/Deleted
                                            </button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    @{
                        await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml");
                    }

                </div>
            </div>
        </div>

    </div>

    <div ng-show="BySalesTemplateSection">

        <div class="panel panel-default">
            <div class="col-sm-12" style="padding:0;">
                <div class="panel">
                    <div class="panel-body orange-border-top list-wrapper sell-group-decor8">
                        <div class="row  ">
                            <div class="row tblHeader" style="font-weight:bold; margin: -1px 0px 1px;">
                                <div class="col-lg-12 col-md-12 small override_margin">
                                    <div class="col-md-1 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Template No</label>
                                    </div>
                                    <div class="col-md-3 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Template Date</label>
                                    </div>
                                    <div class="col-md-4 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Template Name</label>
                                    </div>
                                    <div class="col-md-2 override_margin text-center">
                                        <label style="padding:0px;font-size:medium;">Active Status</label>
                                    </div>
                                    <div class="col-md-2 override_margin text-center" style="display:none;">
                                        <label style="padding:0px;font-size:medium;">Action</label>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="salesTemplate in templateList">
                                <div class="col-lg-12 col-md-12 chip-style sell-group-decor8">
                                    <div class="col-md-1 sell-group-decor9">
                                        <button class="col-md-2 chip-btn" title="+" id="chip-btn_T{{$index}}" data="_T{{$index}}" ng-click="toggleProductDetail($event)">+</button>

                                        <span class="col-md-6 sell-decor11 ng-binding">{{salesTemplate.prefix+ salesTemplate.templateNo}}</span>
                                    </div>
                                    <div class="col-md-3 sell-group-decor9 text-center">
                                        <span class="orange-text sell-decor11 txtCaps">{{salesTemplate.templateDate | date:'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div class="col-md-4 sell-group-decor9 text-center">
                                        <span class="sell-decor11">{{salesTemplate.templateName}}</span>
                                    </div>
                                    <div class="col-md-2 sell-group-decor9 text-center">
                                        @*<span class="sell-decor11 override_margin vendor-name-fs" ng-show="!salesTemplate.isEdit && salesTemplate.isActive==0">Active</span>
                                        <span class="sell-decor11 override_margin vendor-name-fs" ng-show="!salesTemplate.isEdit && salesTemplate.isActive==1">InActive</span>*@

                                        @*<select id="isActive" name="isActive" title="Status" ng-model="salesTemplate.isActive"  class="form-control" style="height: 30px; padding-top: 3px; width: 100px;">
                                            <option value="0">Active</option>
                                            <option value="1">InActive</option>
                                        </select>*@
                                        <select id="isActive" name="isActive" title="Status" data-ng-model="salesTemplate.isActive" data-ng-options="v as k for (k, v) in options" class="form-control" style="height: 30px; padding-top: 3px; width: 100px;"></select>

                                        <span class="glyphicon glyphicon-floppy-save" style="cursor: pointer; position: absolute; top: 10px; right: 65px;" ng-click="updateSalesTemplateStatus(salesTemplate)"></span>
                                    </div>
                                    <div class="col-md-2 sell-group-decor9 text-center" style="display:none;">
                                        <span class="glyphicon glyphicon-edit" ng-hide="salesTemplate.isEdit" style="cursor: pointer; padding:4px; margin-left: -5px;" ng-click="editSalesTemplateStatus(salesTemplate)"></span>
                                       
                                    </div>
                                    </div>
                                <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper_T{{$index}}">
                                    <div class='col-sm-12'>
                                        <div class='form-group'>
                                            <table style="width:60%">
                                                <thead>
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <th>Quantity</th>
                                                        <th>Status</th>
                                                        <th>Product Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-left" ng-repeat="salesTemplateItem in salesTemplate.salesTemplateItem">
                                                        <td class="txtUpper">{{salesTemplateItem.product.name}}</td>
                                                        <td>{{salesTemplateItem.quantity}}</td>
                                                        @*<td ng-show="salesTemplateItem.isDeleted==true">Deleted</td>*@
                                                        <td ng-show="salesTemplateItem.isDeleted==1">Deleted</td>
                                                        <td ng-show="salesTemplateItem.isDeleted==0">-</td>
                                                        <td ng-show="salesTemplateItem.product.status!=2">Active</td>
                                                        <td ng-show="salesTemplateItem.product.status==2">InActive</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="text-right">
                                            <button type="submit" ng-disabled="salesTemplate.isActive==1" class="btn  btn-style" style="margin-bottom:15px;margin-right:10px;" ng-click="TemplateConvertTosale($index,salesTemplate)">
                                                @*ng-click="ConvertTosale($index,leads)"*@
                                                <span class="glyphicon glyphicon-thumbs-up pull-left" ></span>&nbsp;&nbsp;Template to Sale
                                            </button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div style="margin: 5px 0 0 10px;">
                        @{
                            await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml");
                        }
                    </div>

                </div>
            </div>
        </div>

    </div>

    </div>

<style>
    .text-center {
        text-align: center !important;
    }
</style>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .tdSelect .dropdown-menu {
        height: 100px;
        overflow-y: scroll;
    }

    #divProduct .dropdown-menu {
        height: 200px;
        overflow-y: scroll;
    }

    .text-center {
        text-align: center !important;
    }

    .chips-wrapper span {
        margin-right: 0px !important;
    }


    /*order-list*/
    .order-sublist {
        margin: 15px 0;
    }

        .order-sublist ul {
            padding: 0;
        }

        .order-sublist li {
            list-style: none;
            display: inline-block;
        }

            .order-sublist li a {
                text-decoration: none;
                border: 2px solid #d8d8d8;
                border-radius: 50px;
                color: #969696;
                display: block;
                font-size: 16px;
                line-height: 16px;
                padding: 7px 20px;
                text-transform: capitalize;
                margin-right: 10px;
            }

                .order-sublist li a:hover {
                    border: 2px solid #a1a1a1;
                    background-color: #a1a1a1;
                    color: #fff;
                }

        .order-sublist .active {
            background-color: #a1a1a1;
            border: 2px solid #a1a1a1;
            color: #fff;
        }

    .order-section {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 15px 0;
        margin-bottom: 15px;
        height: 108px;
    }

    .form-list label {
        color: #333;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 6px;
    }

    .form-list .textbox {
        border: 1px solid #ccc;
        padding: 6px;
        height: 30px;
        width: 100%;
    }

    .button-add {
        border: none;
        background-color: #039394;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        padding: 8px 18px;
    }

    .byorder-list {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
    }

        .byorder-list table {
            width: 100%;
        }

        .byorder-list th {
            background-color: #d7d7d7;
            font-weight: 500;
            padding: 10px;
        }

        .byorder-list td {
            padding: 10px 2px;
        }

        .byorder-list tbody tr {
            border-bottom: 1px solid #f3f3f3;
        }

    .mar-top-135 {
        margin-top: 135px;
    }

    .mar-left-10 {
        margin-left: 15px !important;
    }


    .byorder-list tbody tr {
        border-bottom: 1px solid #f3f3f3;
    }

    .mar-top-135 {
        margin-top: 135px;
    }

    .mar-left-10 {
        margin-left: 15px !important;
    }

    .export {
        cursor: pointer;
        color: green;
        font-size: 24px;
        margin-top: -32px !important;
        margin-right: -8px;
        background-color: #fff;
        border: none;
    }

    .custom-margin {
        padding-left: 5px;
        margin-bottom: 10px;
        width: 13%;
    }
</style>

    @section scripts
{

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <script asp-append-version="true" src="/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderappscript.js"></script>
    <script asp-append-version="true" src="~/appScript/product/productService.js"></script>
    <script asp-append-version="true" src="/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
<script asp-append-version="true" src="/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="/appscript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesOrderEstimateTemplateListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/VendorOrder/productDetailPopUpCtrl.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
    }
