@{
    ViewBag.Title = "Sales Order";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")


<div class="row panelBorder" ng-app="hcue" ng-controller="UpdateSalesOrderCreatectrl" ng-cloak ng-init="init('@ViewBag.salesOrderEstimateId')">
    <div class="row tblHeader" style="margin-top:20px;">
        <div class="col-lg-12 col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
            <div class="col-lg-2 col-md-2 override_margin text-center">
                <label style="padding:0px;font-size:medium;" ng-show="list.salesOrderEstimateType=='1'">Sales Order No</label>
                <label style="padding:0px;font-size:medium;" ng-show="list.salesOrderEstimateType=='2'">Sales Estimate No</label>
            </div>
            <div class="col-lg-2 col-md-2 override_margin text-center">
                <label style="padding:0px;font-size:medium;" ng-show="list.salesOrderEstimateType=='1'">Sales Order Date</label>
                <label style="padding:0px;font-size:medium;" ng-show="list.salesOrderEstimateType=='2'">Sales Estimate Date</label>
            </div>
            <div class="col-lg-3 col-md-3 override_margin text-center">
                <label style="padding:0px;font-size:medium;">Customer Name</label>
            </div>
            <div class="col-lg-2 col-md-2 override_margin text-center">
                <label style="padding:0px;font-size:medium;">Mobile</label>
            </div>
            <div class="col-lg-3 col-md-3 override_margin text-center">
                <label style="padding:0px;font-size:medium;">Email</label>
            </div>
        </div>
    </div>
    
    <div>
        <div class="col-lg-12 col-md-12 chip-style sell-group-decor8 text-left">
            <div class="col-lg-2 col-md-2 sell-group-decor9 text-center">
                <span class="col-md-6 sell-decor11 ng-binding">{{list.prefix+list.orderEstimateId}}</span>
            </div>
            <div class="col-lg-2 col-md-2 sell-group-decor9 text-center">
                <span class="orange-text sell-decor11 txtCaps">{{list.orderEstimateDate | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                <span class="sell-decor11">{{list.patient.name}}</span>
            </div>

            <div class="col-lg-2 col-md-2 sell-decor11 txtCaps text-center">
                <span class="sell-decor11 txtCaps">{{list.patient.mobile}}</span>
            </div>
            <div class="col-lg-3 col-md-3 sell-group-decor9 text-center">

                <span class="sell-decor11">{{list.patient.email}}</span>
            </div>
        </div>

        <div ng-show="list.salesOrderEstimateType=='1'">
            <ng-form id="salesOrderItems" name="salesOrderItems">
                <div class="order-section" style="height:auto">
                    <div class="row">
                        <div class="col-md-3 override_margin">
                            <div class="form-list purchase-product" id="divProduct">
                                <label class="required">Product</label>
                                <input missedorder-focus="focusInput" title="Product Name"
                                       type="text"
                                       placeholder="Product"
                                       id="drugName1"
                                       name="drugName1"
                                       class="form-control form-control-small"
                                       ng-model="selectedSalesOrder"
                                       autofocus
                                       typeahead-focus-on-select="false"
                                       typeahead-min-length="1"
                                       typeahead-no-results="noResults"
                                       uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                       required  focus-box nextid="OrderQuantity"
                                       ng-click="checkAllSalesOrderfields(1)"
                                       ng-keyup="checkAllSalesOrderfields(1)"
                                       typeahead-on-select="onProductSelect($event,selectedSalesOrder)"
                                       typeahead-template-url="/salesTemplateitemTpl.html" />
                                <script type="text/ng-template" id="/salesTemplateitemTpl.html">

                                    <a tabindex="-1" class="productddl1" ng-if="match.model.accountId==null">
                                        <span class='global'>G </span><span class="gap"> </span>
                                        <span ng-bind-template="{{match.model.name}}"></span>
                                    </a>
                                    <a tabindex="-1" class="productddl1" ng-if="match.model.accountId!=null">
                                        <span class='global local'>L </span><span class="gap"> </span>
                                        <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
                                    </a>
                                </script>

                                <span class="error" ng-show="vendorOrderItems.drugName.$touched && vendorOrderItems.drugName.$invalid">Required</span>
                            </div>
                        </div>

                        <div class="col-md-2 override_margin">
                            <div class="form-list">
                                <label class="required">Qty</label>
                                <input type="text" title="Quantity" placeholder="Qty" id="OrderQuantity" name="OrderQuantity" maxlength="7" ng-model="selectedSalesOrder.quantity" ng-change="changeQuantity(selectedSalesOrder.quantity)" valid-number numbers-only required class="form-control" focus-box nextid="orderdiscount" ng-click="checkAllSalesOrderfields(2)"  ng-keyup="checkAllSalesOrderfields(2)" />
                            </div>
                        </div>
                        <div class="col-md-2 override_margin">
                            <div class="form-list">
                                <label>Dis %</label>
                                <input type="text" title="Discount" id="orderdiscount" name="orderdiscount" class="form-control"
                                       placeholder="Disc"
                                       ng-model="selectedSalesOrder.discount" data-ng-class="selectedSalesOrder.discount>100? 'highlight' :''"
                                       focus-box nextid="btnAdd" 
                                       data-ng-change="changeDiscount(selectedSalesOrder.discount)"
                                       valid-number  ng-click="checkAllSalesOrderfields(3)"  ng-keyup="checkAllSalesOrderfields(3)"/>
                                <span data-ng-if="selectedSalesOrder.discount=='.'" class="highlight">Must be valid no. </span>
                                <span data-ng-if="selectedSalesOrder.discount>=100" style="background-color:#fff;" class="highlight">Must be less than or equal 100% </span>
                                <span ng-show="selectedSalesOrder.discount > maxDisountValue" class="highlight">Discount should be less than Max discount</span>
                            </div>
                        </div>

                        <div class="col-md-2 override_margin">
                            <div class="form-list">
                                <label>MRP</label>
                                <input type="text" title="Price" placeholder="0" id="price" name="price" ng-model="selectedSalesOrder.sellingPrice" valid-number class="form-control form-control-small" ng-keyup="keyEnter($event,'btnAdd')" ng-disabled="!selectedSalesOrder.isEditMrp" />
                            </div>
                        </div>

                        <div class="col-md-2" style="top:20px;">
                            <div class="form-list">
                                <button type="button" id="btnAdd" name="btnAdd" title="Add" class="btn btn-style" ng-disabled="selectedSalesOrder.id==null || selectedSalesOrder.quantity=='' || selectedSalesOrder.quantity==null || selectedSalesOrder.quantity==0 || maxDiscountExceeded || (selectedSalesOrder.discount>=100)" ng-click="addSalesOrderProduct()">ADD</button>
                            </div>
                        </div>
                        @*<div class="col-md-1" style="top:20px; margin-left: -30px;">
                            <div class="form-list">
                                <button title="Reset" id="btnReset" class="btn btn-small btn-style" ng-click="resetSalesOrder()">Reset</button>
                            </div>
                        </div>*@

                    </div>

                </div>

            </ng-form>
        </div>

        <ng-form id="salesOrderEstimateList" name="salesOrderEstimateList">
            <div class="chips-wrapper override_margin" style="overflow: hidden;">
                <table class="table override_margin sell-group-decor10">
                    <thead class="chips-header">
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Dis %</th>
                            <th ng-show="list.salesOrderEstimateType=='2'">Batch No</th>
                            <th ng-show="list.salesOrderEstimateType=='2'">Expiry</th>
                            <th>Mrp</th>
                            <th>Total Price</th>
                            <th ng-show="list.salesOrderEstimateType=='1'">Order Value</th>
                            <th ng-show="list.salesOrderEstimateType=='2'">Estimate Value</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-left" ng-repeat="orderItem in list.salesOrderEstimateItem">
                            <td class="txtUpper" ng-if="orderItem.salesOrderEstimateId!=null && orderItem.product.name!=null"> {{orderItem.product.name}}</td>
                            <td class="txtUpper" ng-if="orderItem.salesOrderEstimateId!=null && orderItem.product.name==null">{{orderItem.productMaster.name}}</td>
                            <td class="txtUpper" ng-if="orderItem.salesOrderEstimateId==null || orderItem.salesOrderEstimateId==''">{{orderItem.productName}}</td>
                            <td class="col-md-2">
                                <input type="text" class="form-control" id="txtCustomQuantity{{$index}}" placeholder="Ordered Qty" maxlength="7" ng-model="orderItem.quantity" numbers-only valid-number ng-enter="focustxtCustomsellingPrice('txtCustomSellingPrice',$index)" ng-disabled="orderItem.isDeleted" ng-change="validateEditQty(orderItem,list.salesOrderEstimateType)" />
                                <span ng-show="list.salesOrderEstimateType=='2' && (orderItem.quantity > orderItem.productStock.stock)" class="highlight">Stock available is {{orderItem.productStock.stock}}</span>
                                <span ng-show="list.salesOrderEstimateType=='1' && (orderItem.receivedQty > orderItem.quantity )" class="highlight">Qty should not be lesser than sold qty {{orderItem.receivedQty}}</span>
                            </td>

                            <td class="col-md-1">
                                <input type="text" class="form-control" id="txtCustomSellingPrice{{$index}}" placeholder="Dis %" ng-model="orderItem.discount" maxlength="5" valid-number ng-enter="focustxtCustomExpireDate('txtExpDate',$index)" data-ng-class="orderItem.discount>100? 'highlight' :''" ng-disabled="orderItem.isDeleted" ng-change="changeOrderEditDiscount(orderItem.discount,orderItem)" />
                                <span data-ng-if="orderItem.discount=='.'" class="highlight">Must be valid no. </span>
                                <span ng-show="maxDiscount" style="background-color:#fff;" class="highlight">Must be less than or equal 100% </span>
                                <span ng-show="(maxDiscountFixed == 'Yes') && (orderItem.discount > maxDisountValue)" class="highlight">Discount should be less than Max discount</span>
                            </td>
                            <td ng-show="list.salesOrderEstimateType=='2'">{{orderItem.batchNo}}</td>
                            <td ng-show="list.salesOrderEstimateType=='2'">{{orderItem.expireDate | date:'MM/yy'}}</td>
                            <td ng-show="list.salesOrderEstimateType=='2'">
                                {{orderItem.sellingPrice | number:2}}
                            </td>
                            <td ng-hide="list.salesOrderEstimateType=='2'" class="col-md-2">
                                <span ng-hide="orderItem.isEditMrp">{{orderItem.sellingPrice | number:2}}</span>
                                                                
                                <input type="text" class="form-control" valid-number ng-show="orderItem.isEditMrp" ng-model="orderItem.sellingPrice" />
                                
                            </td>
                            <td>
                                {{ orderItem.quantity * orderItem.sellingPrice | number:2 }}
                            </td>
                            <td>
                                {{ (orderItem.quantity * orderItem.sellingPrice) - (orderItem.quantity * orderItem.sellingPrice * orderItem.discount / 100) | number:2 }}
                            </td>
                            <td>
                                <input type="checkbox" title="Delete" ng-model="orderItem.isDeleted" style="margin-left:20px;margin-top:10px;" ng-click="deleteClick(orderItem)" ng-disabled="orderItem.isConverted" />
                            </td>
                        </tr>
                        <tr data-ng-show="list.salesOrderEstimateItem.length == 0">
                            <td>No Records Available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-form>
           

</div>

    <div class="panel panel-default" ng-hide="list.length == 0">
        <div class="panel-footer clearfix">
            <div class="pull-left">
                <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancelCustomSalesVendor()">Cancel</button>
            </div>
            <div class="pull-right">
                <button title="Order" class="btn btn-style" id="btnCustomSaveSalesOrder" ng-disabled="list.length==0 || list.salesOrderEstimateItem.length==0 || maxDiscount || maxEditqtyExceeded || maxEditOrderQtySold || maxEditDiscountExceeded || !(salesOrderEstimateList.$valid)" ng-click="saveCustomSalesOrder()">Update</button>
            </div>
        </div>
    </div>




</div>
<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .tdSelect .dropdown-menu {
        height: 100px;
        overflow-y: scroll;
    }

    #divProduct .dropdown-menu {
        height: auto;
        max-height: 200px;
        overflow-y: scroll;
    }

    .text-center {
        text-align: center !important;
    }

    .chips-wrapper span {
        margin-right: 0px !important;
    }


    /*order-list*/
    .order-sublist {
        margin: 15px 0;
    }

        .order-sublist ul {
            padding: 0;
        }

        .order-sublist li {
            list-style: none;
            display: inline-block;
        }

            .order-sublist li a {
                text-decoration: none;
                border: 2px solid #d8d8d8;
                border-radius: 50px;
                color: #969696;
                display: block;
                font-size: 16px;
                line-height: 16px;
                padding: 7px 20px;
                text-transform: capitalize;
                margin-right: 10px;
            }

                .order-sublist li a:hover {
                    border: 2px solid #a1a1a1;
                    background-color: #a1a1a1;
                    color: #fff;
                }

        .order-sublist .active {
            background-color: #a1a1a1;
            border: 2px solid #a1a1a1;
            color: #fff;
        }

    .order-section {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 15px 0;
        margin-bottom: 15px;
        height: 108px;
    }

    .form-list label {
        color: #333;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 6px;
    }

    .form-list .textbox {
        border: 1px solid #ccc;
        padding: 6px;
        height: 30px;
        width: 100%;
    }

    .button-add {
        border: none;
        background-color: #039394;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        padding: 8px 18px;
    }

    .byorder-list {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
    }

        .byorder-list table {
            width: 100%;
        }

        .byorder-list th {
            background-color: #d7d7d7;
            font-weight: 500;
            padding: 10px;
        }

        .byorder-list td {
            padding: 10px 2px;
        }

        .byorder-list tbody tr {
            border-bottom: 1px solid #f3f3f3;
        }
</style>

<style>
    .form-data label {
        font-size: 14px !important;
    }

    .productddl span {
        color: #333 !important;
    }

        .form-data .productddl:hover span, .productddl span:hover {
            color: #fff !important;
        }

    .productddl1 span {
        color: #333 !important;
    }

        .form-data .productddl1:hover span, .productddl1 span:hover {
            color: #fff !important;
        }

    .Hcolor {
        background-color: #82f7c5;
    }

    .H1color {
        background-color: #fcdf9a;
    }

    .Xcolor {
        background-color: #fabce2;
    }
</style>
@section scripts
{

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <script asp-append-version="true" src="/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/UpdateVendorOrderAppscript.js"></script>
<script asp-append-version="true" src="~/appScript/product/productService.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
<script asp-append-version="true" src="/appscript/sales/salesservice.js"></script>

    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/UpdateSalesOrderCreatectrl.js"></script>
<script asp-append-version="true" src="~/appScript/VendorPurchase/vendorPurchaseService.js"></script>
}

