@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Hierarchy Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="hierarchyReportCtrl" ng-init="init()" ng-cloak>

    @*@if (User.HasPermission(UserAccess.Admin))
    {*@
        <div class="panel panel-default override_margin">
            <div class="panel-body">
                <div class='row'>
                    <div class='col-sm-2'>
                        <div class='form-group'>
                            @*<div class="input-group">
                                <select chosen
                                        title="Branch Name"
                                        option="instanceList"
                                        data-placeholder="Select Branch"
                                        ng-model="selectedInstance"
                                        ng-options="option.name for option in instanceList track by option.id"
                                        class="form-control small"
                                        style="width:160px;height:50px;"
                                        autofocus ng-change="changeInstance()">
                                    <option value=""></option>
                                </select>
                                <span class="input-group-btn">
                                    <button title="Search" class="btn" type="button" ng-click="lowProductStock()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>*@
                        </div>
                    </div>
                    <br />
                    <div class="pull-right">
                        <button title="Order Products" ng-click="Order()" id="btnOrder" class="btn btn-style" style="padding: 9px 12px;">Order Products</button>
                        <button type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data"
                                csv-header="['Product','Batch No','Stock']"
                                csv-column-order="order"
                                filename="LOW PRODUCT STOCK.csv">

                            <img src="~/assets/images/csv.png" />

                        </button>
                        <button ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                        <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                    </div>
                    <div><center><span class="reportHeader"><b>LOW PRODUCT STOCK</b></span></center></div>
                    <br />
                </div>

            </div>

        </div>
        @*//}*@

    <div class="panel panel-default override_margin">
        <div class="panel-body">

            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div id="grid"></div>


            <br /><br />
        </div>
    </div>
</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/hierarchy/appreportscript.js"></script>

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/hierarchy/hierarchyservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/hierarchy/hierarchycontroller.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <script>
        $("#btnPdfExport").kendoButton({
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });
        $("#btnXLSExport").kendoButton({
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });
    </script>
}
