@{
    ViewBag.Title = "Settings";
    ViewBag.Menu = "Accounts";
}

@await Html.PartialAsync("~/Views/Payment/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="accountSettingsCtrl" ng-cloak>
    <div class="panel panel-default">
        <div class="panel-heading">Account Settings</div>
    </div>
    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <ng-form id="pettyCashSettingsForm" name="pettyCashSettingsForm">
                        <div class='row'>
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group'>
                                    <label>Create Head</label>
                                    <div class="input-group col-md-12 override_margin">
                                        <input title="Values" class="form-control required email" id="Values" name="Values" size="30" type="text" placeholder="Head Value" ng-model="pettyCashSetting.createHead" />

                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group'>
                                    <label>Opening Balance Entry</label>
                                    <div class="input-group col-md-12 override_margin">
                                        <input title="Values" class="form-control required email" id="Values" name="Values" size="30" type="text" placeholder="Open Balance" ng-model="pettyCashSetting.openingBalance" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 override_margin">
                                <label></label>
                                <div class="input-group col-md-12 override_margin">
                                    <input title="Credit" id="credit" type="radio" value="Credit" ng-click="isCredit" name="caseType" ng-model="pettyCashSetting.creditOrDebit" />
                                    <label>Credit</label>
                                </div>
                            </div>
                            <div class="col-md-1 override_margin">
                                <label></label>
                                <div class="input-group col-md-12 override_margin">
                                    <input title="Credit" id="debit" type="radio" value="Debit" ng-click="isCredit" name="caseType" ng-model="pettyCashSetting.creditOrDebit" />
                                    <label>Debit</label>
                                </div>
                            </div>
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group'>
                                    <label>Credit/Debit Amount</label>
                                    <div class="input-group col-md-12 override_margin">
                                        <input title="Values" class="form-control required email" id="Values" name="Values" size="30" type="text" placeholder="Enter Amount" ng-model="pettyCashSetting.amount" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 override_margin">
                                <label></label><br />
                                <button title="Search" class="btn btn-style" ng-click="inventorySettingUpdate()">Save</button>
                                <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                            </div>

                        </div>
                    </ng-form>
</div>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/pettycashservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/accountsettingctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}
