﻿<ul class="nav nav-tabs override_margin">
    <li class="@(ViewBag.Title == "Petty Cash" ? "active" : "")">
        <a asp-action="Index" asp-controller="PettyCash">
            Petty Cash
        </a>
    </li>
    <li class="@(ViewBag.Title == "Customer Receipts" ? "active" : "")">
        <a asp-action="Index" asp-controller="CustomerReceipt">
            Customer Receipts
        </a>
    </li>
    <li class="@(ViewBag.Title == "Payment" ? "active" : "")">
        <a asp-action="Index" asp-controller="Payment">
            Vendor Payments
        </a>
    </li>
    @*<li class="@(ViewBag.Title == "Settings" ? "active" : "")">
        <a asp-action="Index" asp-controller="PettyCashSettings">
            Settings
        </a>
    </li>*@
</ul>
