﻿<div class="dropdown">
    <button class="btn selected" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
        <span style="overflow: hidden;width: 93%;" title="{{header}}" class="pull-left">{{header}}</span>
        <span class="caret pull-right"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <input class="input-block-level" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Search..." />
        </li>
        <li ng-show="multiple" class="bs-actionsbox multi-select">
            <div class="btn-group btn-group-sm btn-block">
                <button class="actions-btn bs-select-all btn btn-default" ng-click="checkAll()"><i class="icon-ok"></i> Select all</button>
                <button class="actions-btn bs-deselect-all btn btn-default" ng-click="uncheckAll()"><i class="icon-remove"></i> Deselect all</button>
            </div>
        </li>
        <li ng-repeat="i in items | filter:searchText">
            <a ng-click="select(i); focus()">
                {{i.label}}
                <span ng-class="{'fa fa-check check-mark': i.checked, 'check-mark1': !i.checked}"></span>
            </a>
        </li>
    </ul>
</div>

