@{
    ViewBag.Title = "Expense";
    ViewBag.Menu = "Accounts";
}
@*@await Html.PartialAsync("~/Views/PettyCash/Menu.cshtml")*@
@await Html.PartialAsync("~/Views/Payment/Menu.cshtml")
<div class="panel-body">
    <div class="pull-left">
        <a asp-action="Index" asp-controller="PettyCashDtl" class="btn btn-style">Expense</a>
        <a asp-action="List" asp-controller="PettyCash" class="green-line-btn">Expense List</a>
        <a asp-action="Index" asp-controller="PettyCash" class="green-line-btn">Expense Heads</a>
        <a asp-action="Index" asp-controller="PettyCashHdr" class="green-line-btn">Till</a>
    </div>
</div>
<div ng-app="hcue" ng-controller="pettyCashDtlCreateCtrl" ng-cloak> 
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Add Expenses</div>
        <div class="panel-body">
            <ng-form id="pettyCashForm" name="pettyCashForm">
                <div class="row">
                    <div class="col-md-3" style="margin-left: -5px;">
                        <div class="input-group">
                            <input type="text" style=" float: left" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date"
                                   ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                                   close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" style="float: left" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <button type="button" id="btnSave1" title="Add" class="btn btn-style" style="width:100px;margin-top:1px;"
                            ng-click="populateData()">
                        Edit
                    </button>
                    <button type="button" id="btndel1" title="Clear" class="btn btn-style" style="width:100px;margin-top:1px;"
                            ng-click="clearData()">
                        Clear
                    </button>

                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group" style="margin-left:-20px; margin-top: 10px;">
                                    <label>Last Updated Date and Time: {{ vdate.viewDate }}</label>
                                </div>
                            </div>

                           
                            @*<div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12" style="margin-top: 18px;">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-tag"></span>
                            </span>
                            <input title="Counter" id="counter" name="counter" required type="text" placeholder="Counter" maxlength="6" class="form-control">
                        </div>
                    </div>
                </div>*@
                        </div>
                    </div>
                </div>
        </div>
  
        <div class='row'  style ="margin-top: 10px;" ng-repeat="item in insertList track by $index">
            <div class='col-sm-3'>
          
                <div class='form-group' >
                    <div class="input-group col-sm-12 no-pad">
                        <!--<span class="input-group-addon front-addon">
                            <span class="glyphicon glyphicon-list"></span>
                        </span>-->
                        <label>Enter Description</label>
                         <span >
                            <input type="text" ng-model="item.description"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Enter Description"
                                   id="drugName_{{$index}}" required
                                   name="drugName"
                                   autofocus
                                   focus-items tabindex="{{$index}}"
                                   typeahead-on-select="onDescriptionSelect(item,$item)"
                                   maxlength="25"
                                   typeahead-editable="false"
                                   uib-typeahead="item1 as item1.description for item1 in descriptionlist | filter:{description:$viewValue}:startsWith"
                                   class="form-control form-control-small"
                                   ng-disabled="(item.disableDesc === true)"
                                   ng-enter="checkEnteredDesc(item,$index)" />
                        </span>
                    </div>
                    <span class="error" ng-show="item.description.$dirty && item.description.$error.required">Required</span>
                </div>
            </div>
            <div class='col-sm-3' id="descItems" >
                <div class='form-group'>
                    <div class="input-group col-sm-12 no-pad" >
                        <!--<span class="input-group-addon front-addon">
                            <span class="glyphicon glyphicon-tag"></span>
                        </span>-->
                        <label>Enter Amount</label>
                        <input title="Amount" valid-number  id="amount_{{$index}}" name="amount"
                                required type="text" placeholder="Amount" maxlength="6" class="form-control"
                                ng-model="item.amount"  ng-enter="moveNext('amount_'+{{$index}},'btnadd_'+{{$index}})" ng-change="changeAmount()" >
                    </div>
                    <span class="error" ng-show="item.amount.$dirty && item.amount.$error.required">Required</span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pull-left">
                   
                     <button title="Update" class="btn btn-style" style="margin: 23px 10px 0 0; background: #21b784;" ng-show="(mode === 'EDIT' && item.id !== undefined)" ng-click="update(item)">Update</button>
                </div> 
                <div class="pull-left">
                    <button title="Delete" class="btn btn-style" style="margin: 23px 10px 0 0; background: #f00;"  ng-show="(mode === 'EDIT' && item.id !== undefined)" ng-click="delete(item)">Delete</button>
                </div>
                <button type="button" id="btnSave" title="Save" class="btn btn-style" style="background: #13e437;margin-top:23px;"
                        ng-click="saveWhileUpdate(item)" ng-show="(showSaveBtn == true && item.id === undefined)" ng-enter="moveNext('btnSave','btndel')">
                    Save
                </button>
                <button type="button" id="btnadd_{{$index}}" title="Add"  class="btn btn-style" style="margin-top:23px;"
                         ng-click="addNewRow(item, $index)" ng-show="$last" ng-enter="addNewRow(item, $index)">
                    Add
                </button>
                <button type="button" id="btndel" title="Clear" ng-show="(item.id === '' ||  item.id === undefined)" class="btn btn-style" style="background: #f59f56;margin-top:23px;"
                         ng-click="clearRow(item, $index)"  ng-enter="moveNext('btndel','drugName')">
                    Clear
                </button>
            </div>
        </div>
        </ng-form>
    </div>
</div>

<div class='col-sm-3'>
    <div class='form-group'>
        
    </div>
</div>

<div class='col-sm-3'>
    <div class='form-group'>
        <label>Total Amount</label>
        <div class="input-group col-sm-12 no-pad">            
            <span class="input-group-addon front-addon">
                <span class="glyphicon glyphicon-tag"></span>
            </span>
            <input title="total" id="total" disabled ng-model="totalAmount" name="total" required type="text" placeholder="total" maxlength="6" class="form-control">
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-footer clearfix">
        <div class="pull-left">
            <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancel()" ng-hide="(true)">Cancel</button>
        </div>
        <div class="pull-right">
            <button title="Save" class="btn btn-style" id="idsubmit" ng-hide="(mode === 'EDIT')" ng-disabled="(totalAmount <= 0)"  ng-click="SaveRows()">Save</button>
        </div>
    </div>
</div>
</div>
</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

   
    <script asp-append-version="true" src="~/appscript/appscriptdatepicker.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/pettycashservice.js"></script>
<script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/pettycashdtlcreatectrl.js"></script>
}
