﻿<script type="text/ng-template" id="addReminder">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Add New Reminder</h3>
                    <div class="reminder-popup-wrap">
                        <div class="row popup-row">
                            <div class="col-md-7 reminder-popup-left">
                                <div class="form-data" ng-if="selectedCustomer == null">
                                    <label>Customer Mobile No.<span>*</span></label>
                                    <div class="search-mobile-icon">
                                        <input type="text" name="" class="" placeholder="Enter Customer mobile no." ng-model="patientSearchData.mobile" ng-enter="search()" valid-number numbers-only>

                                        <button class="search-mobile" ng-click="search()">search</button>
                                    </div>
                                </div>
                                <div ng-if="selectedCustomer != null">
                                    <div class="select-customer clearfix">
                                        <h5>Selected Customer<span>*</span></h5>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Customer name</th>
                                                    <th>Age</th>
                                                    <th>Mobile</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{selectedCustomer.name}}</td>
                                                    <td>{{selectedCustomer.age}}</td>
                                                    <td>{{selectedCustomer.mobile}}</td>
                                                </tr>
                                            </tbody>
                                            <a href="#" title="" class="close-button"><img src="/assets/images/close-button.png" alt="" title="close" ng-click="resetCustomer()"></a>
                                        </table>
                                        @*<a href="#" title="" class="edit-customer-info"><span>Edit customer info</span></a>*@
                                    </div>

                                    <div class="form-data add-medicine-section purchase-product">
                                        <label>Add Medicine<span>*</span></label>
                                        <div class="search-icon">
                                            <input type="text" ng-model="selectedProduct.product" typeahead-on-select="onProductSelect($lable)" 
                                                   typeahead-focus-on-select="false" typeahead-no-results="noResults" 
                                                   typeahead-min-length="1" placeholder="Product" id="drugName" 
                                                   name="drugName" uib-typeahead="product as product.name for product in getProducts($viewValue)" typeahead-template-url="/itemTpl.html">
                                        </div>
                                    </div>
                                    <div class="form-data add-medicine-section">
                                        <label>Quantity<span>*</span></label>
                                        <div>
                                            <input type="text" ng-model="selectedProduct.qty" placeholder="Qty" id="qty" name="qty" numbers-only valid-number>
                                        </div>
                                    </div>
                                    <a href="#" title="Add Medicine" class="add-medicine" ng-click="addProduct()">Add Medicine</a>
                                    <div class="medicine-list">
                                        <ol>
                                            <li ng-repeat="product in addedProduct">
                                                {{product.name}}
                                                <a href="#" title="" class="pull-right" ng-click="removeProduct(product)">Remove</a>
                                            </li>
                                        </ol>
                                    </div>

                                    <div class="form-data override_margin">
                                        <label>Comments</label>
                                        <textarea placeholder="Enter comments" ng-model="model.remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                            <ng-form role="form" id="addReminderForm" name="addReminderForm" autocomplete="off">
                                <div class="col-md-5 reminder-popup-right" ng-if="selectedCustomer != null">
                                    <h4>Remind Me</h4>
                                    <div class="row">
                                        <div class="col-md-7 override_margin">
                                            <div class="form-data">
                                                <label>Date<span>*</span></label>
                                                <div class="calender-image">
                                                    <input title="reminderDate" id="reminderDate" name="reminderDate" type="text" placeholder="Date" class="form-control" ng-model="model.startDate" uib-datepicker-popup="{{format}}" is-open="popup1.opened" my-date min-date="minDate" />
                                                    <img src="/assets/images/cal-icon.png" alt="" ng-click="open1()">
                                                </div>
                                                <span class="required" ng-if="model.startDate == null && addReminderForm.reminderDate.$dirty">required</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 override_margin">
                                            <div class="form-data">
                                                <label>Time</label>
                                                <select ng-model="model.reminderTime" class="time common-dropdown">
                                                    <option value="1" selected>01:00</option>
                                                    <option value="2">02:00</option>
                                                    <option value="3">03:00</option>
                                                    <option value="4">04:00</option>
                                                    <option value="5">05:00</option>
                                                    <option value="6">06:00</option>
                                                    <option value="7">07:00</option>
                                                    <option value="8">08:00</option>
                                                    <option value="9">09:00</option>
                                                    <option value="10">10:00</option>
                                                    <option value="11">11:00</option>
                                                    <option value="12">12:00</option>
                                                    <option value="13">13:00</option>
                                                    <option value="14">14:00</option>
                                                    <option value="15">15:00</option>
                                                    <option value="16">16:00</option>
                                                    <option value="17">17:00</option>
                                                    <option value="18">18:00</option>
                                                    <option value="19">19:00</option>
                                                    <option value="20">20:00</option>
                                                    <option value="21">21:00</option>
                                                    <option value="22">22:00</option>
                                                    <option value="23">23:00</option>
                                                    <option value="24">24:00</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 override_margin">
                                            <div class="form-data">
                                                <label>Repeat</label>
                                                <select ng-model="model.reminderFrequency" class="repeat common-dropdowl">
                                                    <option value="16">Once</option>
                                                    <option value="2">Weekly</option>
                                                    <option value="4">Monthly</option>
                                                    <option value="8">Yearly</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                        <div class="clearfix">
                            <a href="@Url.Action("PatientList","PatientHistory")" title="" target="_blank" class="pull-left new-customer">+ Add New Customer</a>
                            <button class="primary-button pull-right" ng-disabled="addedProduct.length == 0 || model.startDate == null" ng-click="addReminder()">Add</button>
                            <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/itemTpl.html">

    @*<a tabindex="-1" class="productddl" ng-if="match.model.accountId==null">
            <span class='global'>G </span><span class="gap"> </span>
            <span ng-bind-template="{{match.model.name}}"></span>
        </a>*@
    <a tabindex="-1" class="productddl">
        <span class='global local'>L </span><span class="gap"> </span>
        <span ng-bind-template="{{match.model.name}}"></span>
    </a>
</script>
<style>
    .productddl span
    {
        color: #333 !important;
    }
    .form-data .productddl:hover span,.productddl span:hover
    {
        color: #fff !important;
    }
    </style>