﻿@{
    Layout = null;
}

<div ng-controller="customerReminderCtrl">
    <div class="followup-list">
        <ul class="clearfix">
            <li>
                <button id="customerUpcomingReminder" class="active" title="Upcoming Follow ups" ng-click="getReminder(true)">Upcoming Follow ups</button>
            </li>
            <li>
                <button id="customerMissedReminder" title="Missed Follow ups" ng-click="getReminder(false)">Missed Follow ups</button>
            </li>
            <li>
                <button id="customerAllReminder" title="All Reminders" ng-click="getReminder(null)">All Reminders</button>
            </li>
        </ul>
    </div>
    <div class="customer-reminder-header row">
        <div class="form-data col-md-3 override_margin">
            <label>Customer Name</label>
            <input title="Customer Name" id="customerName" name="customerName" type="text" placeholder="Customer Name" class="form-control" ng-model="search.customerName" />
        </div>
        <div class="form-data col-md-2 override_margin">
            <label>Mobile No.</label>
            <input title="Mobile No." id="mobileNo" name="mobileNo" type="text" placeholder="Mobile No." class="form-control" ng-model="search.reminderPhone" />
        </div>
        <div class="form-data col-md-3 override_margin">
            <label>Doctor Name</label>
            <input title="Doctor" id="doctor" name="doctor" type="text" placeholder="Doctor" class="form-control" ng-model="search.doctorName" />
        </div>

        <div class="search-reminder">
            <button title="Search" class="search-button" ng-click="customerReminder()">Search</button>
        </div>
        <div class="add-reminder">
            <button title="Search" class="reminder-button pull-right overlayClick" ng-click="PopupAddNew()">Add New Reminder</button>
        </div>
    </div>

    <div class="reminder-list">
        <div class="list-header">
            <table>
                <thead>
                    <tr>
                        <th width="5%"></th>
                        <th width="15%">Date / Time</th>
                        <th width="15%">Patient Name / Age</th>
                        <th width="15%">Patient Mobile No.</th>
                        <th width="20%">Doctor Name / Specialty</th>
                        <th width="10%" ng-if="list[0].missedType==1 || list[0].missedType==2">Type</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="reminder-accordion">
            <div ng-repeat="reminder in list">
                <input type="radio" name="size" id="{{reminder.id}}" value="small" />
                <label for="{{reminder.id}}" class="acc-label">
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="15%">
                                    <span class="date">{{reminder.reminderDate | date:'dd/MM/yyyy'}}</span>
                                    <span class="time">{{reminder.reminderTimeFormat}}</span>
                                </th>
                                <th width="15%">
                                    <span class="date">{{reminder.customerName}}</span>
                                    <span class="time">{{reminder.customerAge}} {{(reminder.customerAge!="")?"/":""}} {{reminder.customerGender}}</span>
                                </th>
                                <th width="15%" valign="top">{{reminder.reminderPhone}}</th>
                                <th width="20%">
                                    <span class="date">{{reminder.doctorName}}</span>
                                    <span class="time"></span>
                                </th>
                                <th width="10%" align="center" ng-if="reminder.missedType==1 || reminder.missedType==2">{{(reminder.missedType==1)?"Missed Follow up":"Missed Order"}}</th>
                                <th width="10%" align="right" ng-show="reminder.missedType!=2">
                                    <img src="/assets/images/common-delete.png" alt="delete" title="Delete" class="reminder-list-image" ng-click="deleteReminder(reminder.id)" />
                                    <img ng-if="reminderFilter != null" src="/assets/images/tick-image.png" alt="dismiss" title="Dismiss" class="reminder-list-image" ng-click="dismissReminder(reminder.id,reminder.reminderDate)">
                                </th>
                                <th width="10%" ng-show="reminder.missedType==2">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                </label>
                <article>
                    <table class="customer-table">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="15%">Product Name</th>
                                <th width="15%">Quantity</th>
                                <th width="15%">Repeat</th>
                                <th width="20%"></th>
                                <th width="25%">
                                    @*<a href="#" title="" class="sms-button pull-right">SMS</a>
                                        <a href="#" title="" class="email-button pull-right">Email</a>
                                        <a href="#" title="" class="dismiss-button pull-right">Dismiss</a>*@
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reminderProduct in reminder.reminderProduct">
                                <td></td>
                                <td>{{reminderProduct.productName}}</td>
                                <td>{{reminderProduct.quantity}}</td>
                                <td>{{reminderProduct.reminderName}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_CustomerAddReminder");
}
@{
     await Html.RenderPartialAsync("~/Views/Sales/_SalesCreateCustomer.cshtml");
}

<script type="text/javascript" charset="utf-8" async defer>
    $('.overlayClick').on('click', function () {
        var post_id = $(this).attr('data-post-id');
        $('#form_post_id').val(post_id);
        $('.form-popup').fadeIn();
        return false;
    });

    $('.popup-close').on('click', function () {
        $(this).closest('.popup-overlay').fadeOut();
        return false;
    });
</script>