@{
    ViewBag.Title = "Reminder";
    ViewBag.Menu = "Reminder";
    Layout = "_Layout";
}

<div ng-app="hcue" ng-cloak>
    <ul class="nav nav-tabs override_margin">
        <li id="menuPersonalReminder">
            <a ng-href="#/personalReminder">
                Personal Reminder
            </a>
        </li>
        <li id="menuCustomerReminder">
            <a ng-href="#/customerReminder">
                Customer Reminder
            </a>
        </li>
    </ul>
    <ng-view></ng-view>
</div>



@section scripts{
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>

    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    <script asp-append-version="true" src="~/appScript/reminder/reminderAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>

    <script asp-append-version="true" src="~/appScript/product/productService.js"></script>
    <script asp-append-version="true" src="~/appScript/patient/patientService.js"></script>
    <script asp-append-version="true" src="~/appScript/patient/patientCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/reminder/reminderService.js"></script>
    <script asp-append-version="true" src="~/appScript/reminder/addReminderCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/reminder/customerReminderCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/reminder/personalReminderCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/reminder/addPersonalReminderCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/reminder/routeScript.js"></script>


}
