﻿@{
    Layout = null;
}

<div>
    <div class="row personal-reminder sell-decor1">
        <div class="col-md-7">
            <div class="personal-reminder-right" ng-controller="personalReminderCtrl">
                <div class="followup-list">
                    <ul class="clearfix">
                        <li>
                            <button id="personalUpcomingReminder" class="active" title="Upcoming Follow ups" ng-click="getReminder(true)">Upcoming Follow ups</button>
                        </li>
                        <li>
                            <button id="personalMissedReminder" title="Missed Follow ups" ng-click="getReminder(false)">Missed Follow ups</button>
                        </li>
                        <li>
                            <button id="personalAllReminder" title="All Reminders" ng-click="getReminder(null)">All Reminders</button>
                        </li>
                    </ul>
                </div>
                <div class="reminder-table">
                    <table>
                        <tr ng-if="list.length == 0">
                            <td>
                                No personal reminders set
                            </td>
                        </tr>
                        <tr class="edit-staging" ng-repeat="reminder in list">
                            <td>
                                <strong>{{reminder.reminderDate | date:'dd/MM/yyyy'}}</strong><br/>
                                <span>{{reminder.reminderTimeFormat}}</span>
                            </td>
                            <td>
                                <strong>{{reminder.description}}</strong><br/>
                                <span>{{reminder.remarks}}</span>
                            </td>
                            <td align="right">
                                <img ng-if="reminderFilter != null" src="/assets/images/reminder-bill.png" alt="dismiss" title="Disminss" class="remiber-images" ng-click="dismissReminder(reminder.id,reminder.reminderDate)">
                                <img src="/assets/images/common-delete.png" alt="delete" title="Delete" class="remiber-images" ng-click="deleteReminder(reminder.id)">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5" ng-controller="addPersonalReminderCtrl" ng-init="init(2)">
            <ng-form role="form" id="addReminderForm" name="addReminderForm" autocomplete="off">
                <div class="personal-reminder-left">
                    <h3>Add New Reminder</h3>
                    <div class="new-reminder">
                        <div class="form-data">
                            <label>Task Name<span>*</span></label>
                            <input type="text" class="task-name" placeholder="Enter Task Name" id="description" name="description" ng-model="model.description">
                            <span class="required" ng-if="model.description == '' && addReminderForm.description.$dirty">required</span>
                        </div>
                        <div class="three-column clearfix">
                            <div class="form-data">
                                <label>Date<span>*</span></label>
                                <div class="calender-image">
                                    <input title="reminderDate" id="reminderDate" name="reminderDate" type="text" placeholder="Date" class="form-control" ng-model="model.startDate" uib-datepicker-popup="{{format}}" is-open="popup1.opened" my-date min-date="minDate"/>
                                    <img src="/assets/images/cal-icon.png" alt="" ng-click="open1()">
                                </div>
                                <span class="required" ng-if="model.startDate == null && addReminderForm.reminderDate.$dirty">required</span>
                            </div>
                            <div class="form-data">
                                <label>Time<span>*</span></label>
                                <select ng-model="model.reminderTime" class="time common-dropdown">
                                    <option value="1" selected>01:00</option>
                                    <option value="2">02:00</option>
                                    <option value="3">03:00</option>
                                    <option value="4">04:00</option>
                                    <option value="5">05:00</option>
                                    <option value="6">06:00</option>
                                    <option value="7">07:00</option>
                                    <option value="8">08:00</option>
                                    <option value="9">09:00</option>
                                    <option value="10">10:00</option>
                                    <option value="11">11:00</option>
                                    <option value="12">12:00</option>
                                    <option value="13">13:00</option>
                                    <option value="14">14:00</option>
                                    <option value="15">15:00</option>
                                    <option value="16">16:00</option>
                                    <option value="17">17:00</option>
                                    <option value="18">18:00</option>
                                    <option value="19">19:00</option>
                                    <option value="20">20:00</option>
                                    <option value="21">21:00</option>
                                    <option value="22">22:00</option>
                                    <option value="23">23:00</option>
                                    <option value="24">24:00</option>
                                </select>
                            </div>
                            <div class="form-data">
                                <label>Repeat<span>*</span></label>
                                <select ng-model="model.reminderFrequency" class="repeat common-dropdowl">
                                    <option value="16" selected>Once</option>
                                    <option value="2">Weekly</option>
                                    <option value="4">Monthly</option>
                                    <option value="8">Yearly</option>
                                </select>
                            </div>
                            <div class="form-data col-md-8 override_margin">
                                <label>Remarks</label>
                                <textarea placeholder="Enter Remarks" ng-model="model.remarks"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button title="Create" class="primary-button pull-right" ng-disabled="model.description == '' || model.startDate == null" ng-click="addReminder()">Add Reminder</button>
                        <button type="button" class="secondary-button pull-right" ng-click="clear()" data-dismiss="modal">Clear All</button>
                    </div>
                </div>
            </ng-form>
        </div>
    </div>
</div>