@import 'common-faq.css';
@import 'pre-loader.css';

.faq-page-fixed {
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 999;
	display: block;
}
header {
	background-color: #fff;
	padding: 6px 0;
}
.page-heading {
	background-color: #fff;
}
.page-heading h1 {
	color: #3db29f;
	font-size: 34px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 5px;
}
.page-heading h1 span {
	color: #f37224;
	font-weight: 400;
	line-height: 40px;
}
.search-box {
	padding: 7px;
}
.search-box input {
	border: 1px solid #dbdbdb;
	border-radius: 50px;
	background-image: url(../images/faq/search-icon.png);
	background-repeat: no-repeat;
	background-position: 14px 8px;
	cursor: pointer;
	padding: 6px 15px 6px 40px;
	width: 300px;
}
.header-menu-section {
	box-shadow: 0 3px 5px #e8efee;    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eafffb+0,f5fffd+100 */
	background: #eafffb;    /* Old browsers */
	background: -moz-linear-gradient(top, #eafffb 0%, #f5fffd 100%);    /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eafffb 0%, #f5fffd 100%);    /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eafffb 0%, #f5fffd 100%);    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eafffb', endColorstr='#f5fffd', GradientType=0);    /* IE6-9 */
	padding-top: 15px;
}
.page-item-list li a {

	/*border-bottom: 4px solid transparent;*/
	color: #798a9a;
	float: left;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	margin: 0 20px;
	padding-bottom: 10px;
}
.page-item-list li a.active {
	color: #3a4e62;
}
.page-item-list li a.active:after {
	content: "";
	background-color: #fd7b85;
	height: 4px;
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
}
.page-item-list li a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
}
.page-item-list li a:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #fd7b85;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.page-item-list li a:hover:before, .page-item-list li a:focus:before, .page-item-list li a:active:before {
	left: 0;
	right: 0;
}
.page-item-list li a.active-02:before, .page-item-list li a.active-02:after {
	background-color: #cecf58 !important;
}
.page-item-list li a.active-03:before, .page-item-list li a.active-03:after {
	background-color: #5fbd67 !important;
}
.page-item-list li a.active-04:before, .page-item-list li a.active-04:after {
	background-color: #c96355 !important;
}
.page-item-list li a.active-05:before, .page-item-list li a.active-05:after {
	background-color: #f5795d !important;
}
.page-item-list li a.active-06:before, .page-item-list li a.active-06:after {
	background-color: #edb24e !important;
}
.page-item-list li a.active-07:before, .page-item-list li a.active-07:after {
	background-color: #acc87b !important;
}
.page-item-list li a.active-08:before, .page-item-list li a.active-08:after {
	background-color: #3ab960 !important;
}
.page-item-list li a.active-09:before, .page-item-list li a.active-09:after {
	background-color: #5fa1d1 !important;
}
.page-item-list li a.active-10:before, .page-item-list li a.active-10:after {
	background-color: #869cb3 !important;
}
.page-item-list li a.active-11:before, .page-item-list li a.active-11:after {
	background-color: #e6638f !important;
}
.page-item-list li a.active-12:before, .page-item-list li a.active-12:after {
	background-color: #4b9ad2 !important;
}
.page-item-list li a.general:before, .page-item-list li a.general:after {
	background-color: #5db3f5 !important;
}
.page-item-list li:first-child {
	padding-left: 0;
}
.page-item-list li:last-child {
	padding-right: 0;
}
.page-item-list li img {
	display: block;
	margin: 0 auto;
	margin-bottom: 6px;
}
.question-left-section h2 {
	color: #3c3c3c;
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 15px;
	margin-top: 20px;
}
.question-left-section li {
	color: #646666;
	display: block;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 15px;
	transition: all 0.3s ease-in-out;
}
.question-left-section li.active {
	color: #646666;
	font-weight: 700;
}
.faq-question-section {

	/*padding-top: 68px;*/
}
.faq-question-inner {

	/*background-color: #f7fffd;*/
	padding: 15px 0;
}
.question-right-section {
	background-color: #fff;
	padding: 30px 20px;
}
.question-right-section h3 {
	color: #3c3c3c;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
}
.questions-list li {
	color: #3ab960;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 20px;
}
.questions-list li a {
	color: #3ab960;
}
.screenshot-section {
	border: 1px solid #f1f1f1;
	margin-bottom: 15px;
}
.screenshot-section img {
	width: 100%;
}
.screenshot-section h4 {
	color: #3a4e62;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;
}
.screenshot-section .screenshot-points {
	background-color: #f8f8f8;
	padding: 30px;
}
.screenshot-section .screenshot-points ol {
	margin-left: 20px;
}
.screenshot-section .screenshot-points ol li {
	color: #576675;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	position: relative;
	margin-left: 20px;
	list-style: none;
	counter-increment: a;
	margin-top: 10px;
	margin-bottom: 25px;
}
.screenshot-section .screenshot-points ol li:before {
	-webkit-box-shadow: 0px 0px 12px 0.5px rgba(255, 145, 79, 1);
	-moz-box-shadow: 0px 0px 12px 0.5px rgba(255, 145, 79, 1);
	box-shadow: 0px 0px 12px 0.5px rgba(255, 145, 79, 1);
	position: absolute;
	color: #fff;
	background: #ff914f;
	border-radius: 50px;
	width: 26px;
	height: 26px;
	line-height: 25px;
	font-size: 15px;
	display: block;
	content: counter(a);
	left: -40px;
	top: -2px;
	text-align: center;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: .02em;
}
.scroll-to-top {
	text-decoration: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none;
	z-index: 2000;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
}
.scroll-to-top:focus {
	outline: none;
}
footer {
	background-color: #293141;
	padding: 20px 0;
}
footer li a {
	color: #808ba0;
	font-weight: 500;
	font-size: 16px;
	float: left;
	line-height: 16px;
	padding: 17px 20px;
}
footer li a:hover {
	color: #fff;
}
.sticky {
	position: fixed;
	width: 100%;
	z-index: 2;
}
.header-banner {
	background: #eafffb;    /* Old browsers */
	background: -moz-linear-gradient(top, #eafffb 0%, #f5fffd 100%);    /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eafffb 0%, #f5fffd 100%);    /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eafffb 0%, #f5fffd 100%);    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eafffb', endColorstr='#f5fffd', GradientType=0);    /* IE6-9 */
	padding-top: 60px;
}
.secondary-banner {
	position: relative;
	text-align: right;
	height: 360px;
}
.cover-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.image-hide {
	display: none;
}
.banner-decs-text {
	left: 0;
	position: absolute;
	width: 100%;
	top: 50%;
}
.banner-decs-text .banner-title {
	border-right: 3px solid #c3f0e4;
	padding-right: 10px;
	color: #333;
	width: 470px;
	text-align: right;
}
.banner-title h2 {
	color: #646666;
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	text-decoration: uppercase;
}
.banner-title h1 {
	color: #f37224;
	font-weight: 500;
	font-size: 52px;
	line-height: 52px;
	margin-bottom: 14px;
}
.banner-title h1 span {
	color: #21b685;
}
.banner-title p {
	color: #646666;
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	padding: 0;
	margin: 0;
}
.delay-100 {
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	animation-delay: .1s
}
.delay-150 {
	-webkit-animation-delay: .15s;
	-moz-animation-delay: .15s;
	-o-animation-delay: .15s;
	animation-delay: .15s
}
.delay-200 {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s
}
.delay-250 {
	-webkit-animation-delay: .25s;
	-moz-animation-delay: .25s;
	-o-animation-delay: .25s;
	animation-delay: .25s
}
.delay-300 {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s
}
.delay-350 {
	-webkit-animation-delay: .35s;
	-moz-animation-delay: .35s;
	-o-animation-delay: .35s;
	animation-delay: .35s
}
.delay-400 {
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s
}
.delay-450 {
	-webkit-animation-delay: .45s;
	-moz-animation-delay: .45s;
	-o-animation-delay: .45s;
	animation-delay: .45s
}
.delay-500 {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s
}
.delay-550 {
	-webkit-animation-delay: .55s;
	-moz-animation-delay: .55s;
	-o-animation-delay: .55s;
	animation-delay: .55s
}
.delay-600 {
	-webkit-animation-delay: .6s;
	-moz-animation-delay: .6s;
	-o-animation-delay: .6s;
	animation-delay: .6s
}
.delay-650 {
	-webkit-animation-delay: .65s;
	-moz-animation-delay: .65s;
	-o-animation-delay: .65s;
	animation-delay: .65s
}
.delay-700 {
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s
}
.delay-750 {
	-webkit-animation-delay: .75s;
	-moz-animation-delay: .75s;
	-o-animation-delay: .75s;
	animation-delay: .75s
}
.question-right-section p {
	color: #333;
	font-size: 16px;
	line-height: 20px;
	padding: 0;
	margin-bottom: 10px;
}
.faq-list li {
	padding-left: 20px;
	position: relative;
	padding-right: 20px;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
}
.faq-list li:before {
	content: "\f101";
	color: #fd7b85;
	font-family: 'FontAwesome';
	left: 0px;
	position: absolute;
}

/*.searchtrigger, .search-block {
display: none;
}*/
.search-block.open {
	visibility: visible;
	opacity: 1;
	width: 100%;
}
.search-block {
	background: #f0f0f0;
	cursor: pointer;
	width: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	visibility: hidden;
	opacity: 0;
}
.search-block input[type="text"] {
	border: none;
	background-color: #f8f8f8 !important;
	height: 60px;
	padding: 15px;
	width: 100%;
}
.search-close {
	-webkit-background-size: 25%;
	-moz-background-size: 25%;
	background-size: 25%;
	background-repeat: no-repeat;
	background-image: url(../images/faq/close-btn-2.png);
	background-position: center;
	border: none;
	height: 60px;
	width: 60px;
	position: absolute;
	right: 0;
	top: 0;
}
.question-right-section .link-underline{
	color: #333;
	display: inline-block;
    vertical-align: bottom;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.link-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #fd7b85;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.link-underline:hover{
	color: #fd7b85;
}
.link-underline:hover:before, .link-underline:focus:before, .link-underline:active:before {
    right: 0;
}
.fa-angle-double-right{
	    color: #fd7b85;
	    margin:3px;
}
@media (max-width:1100px) {
	.page-item-list li a {
		margin: 0 16px;
	}
}
@media (max-width:1024px) {
	.page-item-list li a {
		margin: 0 20px;
	}
	.header-menu-section {
		width: 1070px;
		overflow-x: scroll;
	}
	.page-item-list {
		width: 1450px;
	}
}
@media (max-width:960px) {
	.search-box input {
		width: inherit;
	}

	/*	.header-menu-section.sticky {
		position: static;
	}*/
	.banner-decs-text .banner-title {
		width: 100%
	}
	.cover-image {
		background-image: none !important;
	}
	.questions-list li {
		margin-bottom: 10px;
	}
	.screenshot-section .screenshot-points {
		padding: 15px;
	}
	.question-right-section {
		padding: 15px 20px 20px 20px;
	}
}
@media (max-width:640px) {
	.header-menu-section {
		width: 640px;
		overflow-x: scroll;
	}
	.page-item-list {
		width: 1350px;
	}
	.question-left-section li, .questions-list li {
		font-size: 14px;
		line-height: 18px;
	}
	.question-left-section h2 {
		font-size: 20px;
		line-height: 24px;
		margin-top: 0;
	}
	.scroll-to-top {
		bottom: 15px;
		right: 15px;
	}
	footer li a {
		float: none;
		display: block;
		line-height: 16px;
		padding: 15px;
		border-bottom: 1px solid #808ba0;
		margin-left: -15px;
		margin-right: -15px;
	}
	.search-box {
		display: none;
	}
	.searchtrigger {
		-webkit-background-size: 25%;
		-moz-background-size: 25%;
		background-size: 25%;
		background-repeat: no-repeat;
		background-image: url(../images/faq/search-icon.png);
		background-position: center;
		border: none;
		height: 60px;
		width: 60px;
		position: absolute;
		right: 0;
		top: 0;
	}
}
@media (max-width:480px) {
	.banner-title h2 {
		font-size: 30px;
		line-height: 30px;
	}
	.banner-title p {
		font-size: 20px;
		line-height: 20px;
	}
	.secondary-banner {
		display: none;
		height: 200px;
	}
	.banner-decs-text {
		top: 65%;
	}
}
@media (max-width:320px) {
	.page-item-list {
		width: 1410px;
	}
}