#preloader_container {
    transition: 0.7s;
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    /*background-color: rgba(37, 152, 152, 0.98);*/
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}
.loader {
    margin: 100px auto;
    width: 50px;
    height: 50px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: rotation 4s infinite linear;
    -moz-animation: rotation 4s infinite linear;
    animation: rotation 4s infinite linear;
}
.cercle1, .cercle2, .cercle3, .cercle4 {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.cercle1, .cercle3 {
    background-color: #f36f21;
}
.cercle2, .cercle4 {
    background-color: #21b784;
}
.cercle1 {
    bottom: 0px;
    right: 0px;
    -webkit-animation: hautGauche 1s infinite ease-in-out;
    -moz-animation: hautGauche 1s infinite ease-in-out;
    animation: hautGauche 1s infinite ease-in-out;
}
.cercle2 {
    bottom: 0px;
    left: 0px;
    -webkit-animation: hautDroite 1s infinite ease-in-out;
    -moz-animation: hautDroite 1s infinite ease-in-out;
    animation: hautDroite 1s infinite ease-in-out;
}
.cercle3 {
    top: 0px;
    left: 0px;
    -webkit-animation: basDroite 1s infinite ease-in-out;
    -moz-animation: basDroite 1s infinite ease-in-out;
    animation: basDroite 1s infinite ease-in-out;
}
.cercle4 {
    top: 0px;
    right: 0px;
    -webkit-animation: basGauche 1s infinite ease-in-out;
    -moz-animation: basGauche 1s infinite ease-in-out;
    animation: basGauche 1s infinite ease-in-out;
}
@-webkit-keyframes rotation {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotation {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes hautGauche {
    0%, 100% {
        -webkit-transform: scale(0.55);
    }
    50% {
        -webkit-transform: scale(0.9);
        -webkit-border-radius: 0 0 50% 0;
    }
}
@-moz-keyframes hautGauche {
    0%, 100% {
        -moz-transform: scale(0.55);
    }
    50% {
        -moz-transform: scale(0.9);
        -moz-border-radius: 0 0 50% 0;
    }
}
@keyframes hautGauche {
    0%, 100% {
        transform: scale(0.55);
    }
    50% {
        transform: scale(0.9);
        border-radius: 0 0 50% 0;
    }
}
@-webkit-keyframes hautDroite {
    0%, 100% {
        -webkit-transform: scale(0.55);
    }
    50% {
        -webkit-transform: scale(0.9);
        -webkit-border-radius: 0 0 0 50%;
    }
}
@-moz-keyframes hautDroite {
    0%, 100% {
        -moz-transform: scale(0.55);
    }
    50% {
        -moz-transform: scale(0.9);
        -moz-border-radius: 0 0 0 50%;
    }
}
@keyframes hautDroite {
    0%, 100% {
        transform: scale(0.55);
    }
    50% {
        transform: scale(0.9);
        border-radius: 0 0 0 50%;
    }
}
@-webkit-keyframes basDroite {
    0%, 100% {
        -webkit-transform: scale(0.55);
    }
    50% {
        -webkit-transform: scale(0.9);
        -webkit-border-radius: 50% 0 0 0;
    }
}
@-moz-keyframes basDroite {
    0%, 100% {
        -moz-transform: scale(0.55);
    }
    50% {
        -moz-transform: scale(0.9);
        -moz-border-radius: 50% 0 0 0;
    }
}
@keyframes basDroite {
    0%, 100% {
        transform: scale(0.55);
    }
    50% {
        transform: scale(0.9);
        border-radius: 50% 0 0 0;
    }
}
@-webkit-keyframes basGauche {
    0%, 100% {
        -webkit-transform: scale(0.55);
    }
    50% {
        -webkit-transform: scale(0.9);
        -webkit-border-radius: 0 50% 0 0;
    }
}
@-moz-keyframes basGauche {
    0%, 100% {
        -moz-transform: scale(0.55);
    }
    50% {
        -moz-transform: scale(0.9);
        -moz-border-radius: 0 50% 0 0;
    }
}
@keyframes basGauche {
    0%, 100% {
        transform: scale(0.55);
    }
    50% {
        transform: scale(0.9);
        border-radius: 0 50% 0 0;
    }
}