.button-additional {
    background-color: #f37224;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 6.5px 15px 8.5px 15px;
    line-height: 15px;
    margin-left: 10px;
}
.button-additional:hover, .button-additional:focus{
    color:#fff;
}