html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-corner {
	background-color: inherit;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	min-height: 28px;
}
::-webkit-scrollbar-track {
	background-color: inherit;
	border: none;
}
input[type="text"i]:disabled {
	background-color: #f0f0f0;
}
input, textarea {
	width: 100%;
	transition: all 0.3s ease;
}
input:hover, textarea:hover {
	border-color: #c7c7c7 !important;
}
input:focus, textarea:focus {
	box-shadow: 0 0 8px #dcdcdc;
	background-color: #f7f7f7;
	border-color: #afaeae !important;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
	background-color: transparent !important;
}
.common-dropdown option:first-child {
	display: none;
}
.col-10 {
	width: 10% !important;
}
.col-15 {
	width: 15% !important;
}
.col-18 {
	width: 18% !important;
}
.col-20 {
	width: 20% !important;
}
.col-25 {
	width: 25% !important;
}
.col-30 {
	width: 30% !important;
}
.col-50 {
	width: 50% !important;
}
.width-100 {
	width: 100px;
}
.width-150 {
	width: 150px;
}

/* Place Holder CSS */
::-webkit-input-placeholder {
	color: #505050;
	font-weight: 400;
	opacity: 0.5;
	-webkit-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
	color: #505050;
	font-weight: 400;
	opacity: 0.5;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
	color: #505050;
	font-weight: 400;
	opacity: 0.5;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {
	color: #505050;
	font-weight: 400;
	opacity: 0.5;
	-ms-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
	opacity: 0.75;
	-webkit-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
	opacity: 0.75;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
	opacity: 0.75;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {
	opacity: 0.75;
	-ms-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
	opacity: 0;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
	opacity: 0;
	-moz-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {
	opacity: 0;
	-ms-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

/* ripple effect */
[material] {
	position: relative;
	overflow: hidden;
}
[material][raised][colored] {
	color: #fff;
	background: #4285f4;
}
[material]:focus {
	outline: none;
}
.ripple {
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, .3);    /* background: rgba(0, 0, 0, .1); */
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
}

/*animation effect*/
.ripple.animate {
	-webkit-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear;
}
@-webkit-keyframes ripple {
	100% {
		opacity: 0;
		-webkit-transform: scale(2.5);
		transform: scale(2.5);
	}
}
@keyframes ripple {
	100% {
		opacity: 0;
		-webkit-transform: scale(2.5);
		transform: scale(2.5);
	}
}
.override-margin {
	padding: 0;
	margin: 0;
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
table {
	width: 100%;
}
.fade-in {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 0.8s;
	-moz-animation-duration: 0.8s;
	animation-duration: 0.8s;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.padding-left-0 {
	padding-left: 0px !important;
}
.padding-top-0 {
	padding-left: 0px !important;
}
.padding-bottom-0 {
	padding-left: 0px !important;
}
.padding-right-0 {
	padding-left: 0px !important;
}
.padding-left-10 {
	padding-left: 10px !important;
}
.padding-right-10 {
	padding-right: 10px !important;
}
.padding-left-15 {
	padding-left: 15px !important;
}
.padding-right-15 {
	padding-right: 15px !important;
}
.sime-bold {
	font-weight: 600 !important;
}
.section-50 {
	padding: 50px 0 !important;
}
.align-left {
	text-align: left !important;
}
.align-center {
	text-align: center !important;
}
.align-right {
	text-align: right !important;
}
.margin-bottom-0 {
	margin-bottom: 0px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}
.margin-bottom-30 {
	margin-bottom: 30px !important;
}
.margin-bottom-40 {
	margin-bottom: 40px !important;
}
.margin-bottom-50 {
	margin-bottom: 50px !important;
}
.font-bold {
	font-weight: 700 !important;
}
.font-semibold {
	font-weight: 600 !important;
}
.font-regular {
	font-weight: 400 !important;
}
.button-delete {
	background-color: #fe5252;
	border: none;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	padding: 6.5px 15px 8.5px 15px;
	line-height: 15px;
	margin-left: 10px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.button-delete:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.button-delete:hover:before, .button-delete:focus:before, .button-delete:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.button-delete:hover, .button-delete:focus, .button-delete:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.button-primary {
	background-color: #f37224;
	border: none;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	padding: 6.5px 15px 8.5px 15px;
	line-height: 15px;
	margin-left: 10px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.button-primary:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.button-primary:hover:before, .button-primary:focus:before, .button-primary:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.button-primary:hover, .button-primary:focus, .button-primary:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.button-secondary {
	background-color: #a1a1a1;
	border: none;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	padding: 6.5px 15px 8.5px 15px;
	line-height: 15px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.button-secondary:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.button-secondary:hover:before, .button-secondary:focus:before, .button-secondary:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.button-secondary:hover, .button-secondary:focus, .button-secondary:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.button-green {
	background-color: #3db29f;
	border: none;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	padding: 6.5px 15px 8.5px 15px;
	line-height: 15px;
	margin-left: 10px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.button-green:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.button-green:hover:before, .button-green:focus:before, .button-green:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.button-green:hover, .button-green:focus, .button-green:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

/* common input */
.common-input {
	background-color: transparent;
	border: 1px solid #dcdcdc;
	color: #000;
	font-size: 13px;
	line-height: normal;
	padding: 10px;
	height: 30px;
	width: 100%;
}

/* common dropdown end */
.common-textarea textarea {
	border: 1px solid #d1d1d1;
	width: 100%;
	padding: 10px;
}

/* common radio button */
.common-radio-button ul {
	list-style: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.common-radio-button ul li {
	position: relative;
	float: left;
	margin-bottom: 20px;
}
.common-radio-button ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
	margin-top: 0;
	width: 21px;
	height: 21px;
}
.common-radio-button label:after {
	display: none;
}
.common-radio-button ul li label {
	background-color: transparent !important;
	cursor: pointer;
	color: #9d9d9d;
	display: block;
	position: relative;
	padding: 0 20px 0 31px;
	margin: 0px auto;
	height: 21px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	-webkit-transition: all 0.25s linear;
	z-index: 9;
}
.common-radio-button ul li .check {
	background-color: #fff;
	display: block;
	position: absolute;
	border: 2px solid #b7b7b7;
	border-radius: 100%;
	height: 21px;
	width: 21px;
	top: 0;
	left: 0;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
.common-radio-button ul li:hover .check {
	border: 2px solid #d3d3d2;
}
.common-radio-button ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 9px;
	width: 9px;
	top: 4px;
	left: 4px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear
}
.common-radio-button input[type=radio]:checked ~ .check {
	border: 2px solid #22ae81;
	background-color: #fff;
}
.common-radio-button input[type=radio]:checked ~ .check::before {
	background: #22ae81;
}

/* common radio  button end*/

/* common dropdown start */

.common-dropdown {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #dcdcdc;
	background-image: url("../images/dropdown-arrow.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #fff;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	color: #bbbbbb;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	height: 35px;
	line-height: 14px;
	margin: 0;
	overflow: hidden;
	padding: 7px 26px 7px 8px;
	text-overflow: ellipsis;
	outline: none;
	vertical-align: middle;
	width: 100%;
	white-space: nowrap;
	border-radius: 2px;
}

/* common checkbox */
.common-checkbox input[type="checkbox"] {
	display: none;
}
.common-checkbox input[type="checkbox"] + label {
	cursor: pointer;
	color: #7f7d7d;
	font-size: 15px;
	display: inline-block;
	line-height: 15px;
	font-weight: 400;
	margin-bottom: 0;
}
.common-checkbox input[type="checkbox"] + label:before {
	background-image: url("../images/check-sprit.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	content: " ";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	top: 4px;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.common-checkbox input[type="checkbox"]:checked + label:before {
	background-image: url("../images/check-sprit.png");
	background-repeat: no-repeat;
	background-position: 0 -16px;
	content: "";
	width: 16px;
	height: 16px
}
.common-heading h3 {
	border-bottom: 1px solid #d6d6d6;
	color: #323232;
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 18px;
	margin-bottom: 20px !important;
}

/* custom row  */
.custom-row [class*="col-md"]:first-child {
	padding-left: 15px;
}
.custom-row [class*="col-md"] {
	padding-left: 5px;
	padding-right: 5px;
}

/* common section */
.common-section {
	border: 1px solid #e1e1e1;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}
.table-section {
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	padding: 6px;
	margin-bottom: 20px;
}

/* common tab */
.common-tab {
	border-bottom: 2px solid #3db29f;
	margin-bottom: 20px;
}
.common-tab li {
	background: none;
	color: #969696;
	font-size: 16px;
	line-height: 16px;
	display: inline-flex;
	padding: 11px 20px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.common-tab li.current {
	background: #3db29f;
	color: #fff;
}
.tab-content {
	display: none;
}
.tab-content.current {
	display: inherit;
}
.add-tabs {
	background-color: #3db29f;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	line-height: 14px;
	padding: 11px 20px;
	margin-left: -3px;
}
.add-tabs.disabled {
	background-color: #e3e3e3;
	position: relative;
}
.disabled-button {
	background-color: #c6c6c6;
	color: #636363;
	cursor: default;
}
.disabled-button:before {
	display: none;
}
.disabled-button:hover, .disabled-button:focus, .disabled-button:active {
	color: #636363;
	transform: none;
}
.add-tabs.disabled:after {
	content: "";
	background-color: #3db29f;
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	bottom: 0;
}
.add-tabs:hover, .add-tabs:focus {
	color: #fff;
}
.form-row {
	padding-bottom: 15px;
}
.form-inner-field {
	position: relative;
}
.form-inner-field textarea {
	border-radius: 2px;
	border: 1px solid #dedede;
	padding: 10px;
	width: 100%;
}
.form-inner-field label {
	color: #000000;
	display: block;
	font-weight: 400;
	margin-bottom: 9px;
	line-height: 16px;
	font-size: 16px;
	word-break: break-all;
}
.form-inner-field label span {
	color: #ff0000;
}
.form-inner-field .text-box {
	padding: 6px 10px;
	border: 1px solid #dedede;
	border-radius: 2px;
	height: 35px;
	width: 100%;
}
.add-green {
	background-color: #3db29f;
	border-radius: 2px;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 15px;
	text-transform: uppercase;
	margin: 25px 5px 0 5px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.add-green:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.add-green:hover:before, .add-green:focus:before, .add-green:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.add-green:hover, .add-green:focus, .add-green:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.add-gray {
	background-color: #afafaf;
	border-radius: 2px;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 15px;
	text-transform: uppercase;
	margin: 25px 5px 0 5px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.add-gray:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.add-gray:hover:before, .add-gray:focus:before, .add-gray:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.add-gray:hover, .add-gray:focus, .add-gray:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.add-orange {
	background-color: #f57104;
	border-radius: 2px;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 15px;
	text-transform: uppercase;
	margin: 25px 5px 0 5px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.add-orange:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.add-orange:hover:before, .add-orange:focus:before, .add-orange:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.add-orange:hover, .add-orange:focus, .add-orange:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

/* add new button */
.add-new {
	background-color: #f57104;
	border-radius: 2px;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 15px;
	float: right;
	margin-top: 25px;
	margin-right: 15px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.add-new:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.add-new:hover:before, .add-new:focus:before, .add-new:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.add-new:hover, .add-new:focus, .add-new:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.common-table th {
	background-color: #dcdcdc;
	color: #505050;
	padding: 9px 20px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 600;
}
.common-table td {
	color: #505050;
	padding: 15px 20px;
	font-size: 16px;
	line-height: 16px;
}
.common-table tr {
	border-bottom: 1px solid #ededed;
}
.common-table tr:last-child {
	border-bottom: none;
}
.common-table .table-action a img {
	margin-right: 10px;
}

/* .common-table .table-action a img:last-child{
	margin-right: 0;
} */
.accordion-section {
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	padding: 6px;
	margin-bottom: 20px;
}

/* Accordion Css Here */
.accordion-header th {
	background-color: #dcdcdc;
	color: #505050;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 0;
	word-break: break-all;
}
.accordionouter {
	width: 100%;
	float: left;
	position: relative;
}
.accordionbody ul {
	margin: 0;
	padding: 0;
}
.accordionbody li {
	list-style: none;
	padding: 0 9px;
	margin: 0;
}
.accordionbody .accordiontitle {
	border-top: 1px solid #e1ecea;
	color: #505050;
	font-size: 16px;
	line-height: 16px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	cursor: pointer;
	position: relative;
	z-index: 0;
	background-color: #ffffff;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
}
.accordionbody .accordiontitle:hover, .accordionbody .accordiontitle.active {
	background: #f9f9f9;
	transition: all 0.5s ease-in-out;
	color: #444;
}
.accordionbody .accordiontitle.active {
	background-color: #fff5ef;
	border-bottom: 0;
}
.accordiontitle .arrowaccordion {
	background-image: url("../images/accordion-inactive.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 9px;
	height: 11px;
	right: 10px;
	margin-top: -5.5px;
	width: 12px;
}
.accordiontitle.active .arrowaccordion {
	background-image: url("../images/accordion-active.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 9px;
	height: 3px;
	right: 10px;
	margin-top: -1.5px;
	width: 12px;
}
.accordioncontent-table {
	background-color: #effefc;
}
.accordion-header-table th {
	font-weight: 600;
	padding: 15px 0;
	word-break: break-all;
}
.accordioncontent-table th {
	color: #000;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 0;
	border-bottom: 1px solid #e1ecea;
}
.accordioncontent-table tr {
	border-bottom: 1px solid #e1ecea;
}
.accordioncontent-table tr:last-child {
	border-bottom: none;
}
.accordioncontent-table td {
	padding: 10px 0;
	word-break: break-all;
}
.calender-icon .text-box {
	cursor: pointer;
	padding-right: 30px;
}
.calender-icon {
	position: relative;
}
.calender-icon:after {
	content: "";
	background-image: url("../images/cal-icon.png");
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	right: 10px;
	height: 18px;
	margin-top: -9px;
	width: 18px;
}
.calender-icon img {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
}
.buttons-left .button-primary {
	margin-right: 10px;
	margin-left: 0;
}
.error {
	box-shadow: 1px 1px 5px #dedede;
	bottom: -45px;
	border-radius: 5px;
	color: #fff;
	background-color: #f57104;
	position: absolute;
	left: 0;
	font-size: 14px;
	font-weight: 400;
	padding: 10px;
	line-height: 14px;
	min-width: 150px;
	text-align: left;
	z-index: 1;
}
.error:after, .error:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.error:before {
	border-bottom-color: #f57104;
	border-width: 8px;
	margin-left: 8px;
	left: 5px;
}
.key-action, .important {
	color: #ff0000;
}
.search-section {
	position: relative;
}
.search-section .search-img {
	position: absolute;
	right: 0;
	top: 50%;
	background: transparent;
	border: none;
	margin-top: -18px;
	width: 35px;
	height: 35px;
}
.plain-heading {
	color: #000;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 20px;
}
.form-row h5 {
	color: #000000;
	display: block;
	font-weight: 400;
	margin-bottom: 9px;
	line-height: 16px;
	font-size: 16px;
	word-break: break-all;
}
.form-inner-field h5 {
	color: #000000;
	display: block;
	font-weight: 400;
	margin-bottom: 9px;
	line-height: 16px;
	font-size: 16px;
	word-break: break-all;
}
.form-inner-field h5 span, .form-row h5 span {
	color: #ff0000;
}
.error-message .text-box {
	border: 1px solid #ff5151 !important;
	background-color: #fef3f3;
	color: #ff5151;
}
.otp-error {
	padding: 5px 10px;
	background-color: #f44336;
	display: block;
	border-radius: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	color: #fff;
}
.otp-success {
	padding: 5px 10px;
	background-color: #66BB6A;
	display: block;
	border-radius: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	color: #fff;
}
.bg-none {
	background-color: transparent !important;
}
.errorMessage{
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #fe5252;
	padding: 3px 6px;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
}