.login-wrap-background {
	background: url("../images/crossword.png") repeat;	/*background-color: #f5f5f6;*/
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.login-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.login-blur {
	-webkit-filter: blur(10px);
	filter: blur(10px);
	overflow: hidden;
}
.login-size {
	max-height: 360px;
	max-width: 830px;
	height: 360px;
	width: 100%;
}
.login__inner {
	box-shadow: 0 0 1em 0 rgba(48, 46, 44, 0.15);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
}
.login__sidebar {
	background-color: rgba(40, 70, 90, 0.8);
	background-size: cover;
	-webkit-box-flex: 50%;
	-webkit-flex: 50%;
	-ms-flex: 50%;
	flex: 50%;
	height: 100%;
}
.login__sidebar h1 {
	font-size: 36px;
	font-weight: 200;
	line-height: 36px;
	color: #fff;
	margin: 0;
	margin-bottom: 25px;
	padding: 50px 60px 0;
}
.login__sidebar p {
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 20px;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 0;
}
.login__sidebar p:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
.learn-section {
	padding: 0 60px 50px;
}
.learn-more {
	border: 2px solid #3db5a1;
	border-radius: 50px;
	color: #3db5a1;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 20px;
	display: inline-block;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.learn-more:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #3db5a1;
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.learn-more:hover:before, .learn-more:focus:before, .learn-more:active:before {
	-webkit-transform: scale(2);
	transform: scale(2);
}
.learn-more:hover, .learn-more:focus, .learn-more:active {
	color: #fff;
}
.login__form {
	background-color: #fff;
	-webkit-box-flex: 40%;
	-webkit-flex: 40%;
	-ms-flex: 40%;
	flex: 40%;
	padding: 60px 40px;
}
.login__form h2 {
	color: #28465a;
	display: block;
	font-size: 36px;
	font-weight: 300;
	line-height: 36px;
	text-align: center;
	margin-bottom: 20px;
}
.group {
	position: relative;
	margin-bottom: 30px;
}
.login-form input {
	font-size: 15px;
	padding: 10px 0;
	-webkit-appearance: none;
	display: block;
	color: #28465a;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #e5e5e5;
}
.login-form input:focus {
	box-shadow: none;
	background-color: transparent;
	outline: none;
}

/* Label */
.login-form label {
	color: #28465a;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: all 0.2s ease;
}

/* active */
.login-form input:focus ~ label, input.used ~ label {
	top: -20px;
	transform: scale(.75);
	left: -5px;	/* font-size: 14px; */
	color: #28465a;
}

/* Underline */
.bar {
	position: relative;
	display: block;
	width: 100%;
}
.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #28465a;
	transition: all 0.2s ease;
}
.bar:before {
	left: 50%;
}
.bar:after {
	right: 50%;
}

/* active */
.login-form input:focus ~ .bar:before, input:focus ~ .bar:after {
	width: 50%;
}

/* Highlight */
.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active */
.forget-form input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}
.forget-form input:hover {
	box-shadow: none;
	background-color: transparent;
	border-bottom: 1px solid #e5e5e5;
}
.forget-form input {
	font-size: 15px;
	padding: 10px 0;
	-webkit-appearance: none;
	display: block;
	color: #28465a;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #e5e5e5;
}
.forget-form input:focus {
	box-shadow: none;
	background-color: transparent;
	outline: none;
}

/* Label */
.forget-form label {
	color: #28465a;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: all 0.2s ease;
}

/* active */
.forget-form input:focus ~ label, input.used ~ label {
	top: -20px;
	transform: scale(.75);
	left: -5px;	/* font-size: 14px; */
	color: #28465a;
}

/* Underline */
.bar {
	position: relative;
	display: block;
	width: 100%;
}
.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #28465a;
	transition: all 0.2s ease;
}
.bar:before {
	left: 50%;
}
.bar:after {
	right: 50%;
}

/* active */
.forget-form input:focus ~ .bar:before, input:focus ~ .bar:after {
	width: 50%;
}

/* Highlight */
.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active */
.forget-form input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}
.forget-form input:hover {
	box-shadow: none;
	background-color: transparent;
	border-bottom: 1px solid #e5e5e5;
}

/* Animations */
@keyframes inputHighlighter {
	from {
		background: #28465a;
	}
	to {
		width: 0;
		background: transparent;
	}
}
.forgot-password {
	color: #969696;
	margin-left: 10px;
}
.login-button {
	background-color: #f37224;
	border: 2px solid #f37224;
	border-radius: 50px;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	padding: 10px 20px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.login-button:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.login-button:hover, .login-button:focus, .login-button:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.login-button:hover:before, .login-button:focus:before, .login-button:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.choose-section {
	display: none;
}
.choose-list .left-side {
	margin-right: 15px;
	float: left;
}
.choose-list .right-side {
	display: table-cell;
	vertical-align: middle;
}
.choose-list:last-child {
	margin-bottom: 0;
}
.choose-list {
	color: #000;
	background-color: #f5f5f6;
	cursor: pointer;
	padding: 20px 15px;
	position: relative;
	margin-bottom: 10px;
	display: block;
	float: left;
	transition: none;
}
.right-side h3 {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	position: relative;
	margin-bottom: 5px !important;
}
.right-side span {
	color: #787878;
	display: block;
	font-size: 14px;
	line-height: 14px;
}
.choose-list:hover {
	background-color: #f37224;
	color: #fff;
}
.choose-list:hover .right-side span {
	color: #fff;
}
.choose-list:hover .left-side {
	content: url('../images/choose-img1-over.png');
}
.choose-list:hover .list-2 {
	content: url('../images/choose-img2-over.png');
}
/*.forget-form {
	display: none;
}*/
