/* common radio button */
.radio-button ul {
	list-style: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.radio-button ul li {
	position: relative;
	float: left;
	margin-bottom: 20px;
}
.radio-button ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
	margin-top: 0;
	width: 13px;
	height: 13px;
}
.radio-button label:after {
	display: none;
}
.radio-button ul li label {
	background-color: transparent !important;
	cursor: pointer;
	color: #3c3c3c;
	display: block;
	position: relative;
	padding: 0 20px 0 19px;
	margin: 0px auto;
	height: 13px;
	font-size: 14px;
	font-weight: 600;
	line-height: 13px;
	-webkit-transition: all 0.25s linear;
	z-index: 9;
}
.radio-button ul li .check {
	background-color: #f3f3f3;
	display: block;
	position: absolute;
	border: 2px solid #b7b7b7;
	border-radius: 100%;
	height: 13px;
	width: 13px;
	top: 0;
	left: 0;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
.radio-button ul li:hover .check {
	border: 2px solid #b7b7b7;
}
.radio-button ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 5px;
	width: 5px;
	top: 2px;
	left: 2px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear
}
.radio-button input[type=radio]:checked ~ .check {
	border: 2px solid #22ae81;
	background-color: #fff;
}
.radio-button input[type=radio]:checked ~ .check::before {
	background: #22ae81;
}
.inline-dropdown {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #dcdcdc;
	background-image: url(../images/inline-dropdown.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #fff;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	color: #bbbbbb;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	height: 30px;
	line-height: 14px;
	margin: 0;
	overflow: hidden;
	padding: 7px 26px 7px 8px;
	text-overflow: ellipsis;
	outline: none;
	vertical-align: middle;
	white-space: nowrap;
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

/*calendar icon*/
.icon-calendar {
	background-image: url(../images/cal-icon.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 10px);
	cursor: pointer;
	padding-right: 35px !important;
}
.sub-dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 38px;
	z-index: 999;
}
.sub-dropdown li {
	background-color: #3db29f;
	color: #fff;
	display: block;
	padding: 0;
	width: 200px;
}
.sub-dropdown li a {
	background-color: #3db29f;
	color: #fff;
	display: block;
	font-size: 16px;
	line-height: 16px;
	padding: 11px 20px;
	cursor: pointer;
}
.sub-dropdown li a:hover {
	background-color: #fff;
	color: #3db29f;
}
.common-tab li:hover > ul {
	display: block
}
.common-tab li:hover.tab-arrow:after {
	transform: rotate(180deg);
}
.tab-arrow {
	padding-right: 60px !important;
}
.current.tab-arrow:before {
	background-color: #fff;
	opacity: 1;
}
.current.tab-arrow:after {
	color: #fff;
}
.tab-arrow:before {
	background-color: #3db29f;
	content: "";
	position: absolute;
	width: 1px;
	height: 30px;
	right: 37px;
	top: 50%;
	margin-top: -14px;
	opacity: 0;
}
.tab-arrow:after {
	content: "\f107";
	color: #3db29f;
	position: absolute;
	font-size: 20px;
	font-family: 'FontAwesome';
	right: 14px;
	top: 50%;
	margin-top: -7px;
	transition: all 0.3s ease-in-out;
}
.new-report-header {
	background-color: #fff;
	padding: 5px 20px;
	margin-bottom: 5px;
}
.new-report-header  .radio-button ul li {
	margin-bottom: 0;
}
.new-report-header .common-radio-button {
	float: left;
	margin: 7px 0;
}
.new-report-header .common-radio-button ul li {
	margin-bottom: 0;
}
.radio-button ul li label:last-child {
	padding-right: 0 !important;
}
.width-230 {
	width: 230px;
}
.formrow-inline label {
	color: #000;
	display: inline-block;
	max-width: 100%;
	margin-right: 5px;
	font-weight: 500;
}
.formrow-inline p {
	color: #000;
	font-weight: 500;
	font-size: 14px;
	float: right;
	line-height: 21px;
}
.formrow-inline .text-box {
	padding: 6px 10px;
	border: 1px solid #d7d7d7;
	height: 30px;
	width: 100%;
	display: inline-block;
}
.formrow-inline .text-box {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
.new-report-header > div {
	display: inline-block;
	margin-right: 30px;
}
.width-150 {
	width: 150px !important;
}
.width-200 {
	width: 200px !important;
}
.no-reports-section {
	color: #dcdcdc;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	padding: 15% 0;
}
.no-reports-section img {
	display: block;
	margin: 0 auto;
	margin-bottom: 8px;
}
.report-table-section {

	/*background-color: #fefefe;*/

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1efef+100&1+0,0.98+100 */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 239, 239, 0.98) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 239, 239, 0.98) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 239, 239, 0.98) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#faf1efef', GradientType=0); /* IE6-9 */
	padding: 6px;
	margin-bottom: 20px;
}
.day-report-table th {
	background-color: #2ac9ad;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	padding: 15px;
}
.day-report-table td {
	color: #3c3c3c;
	padding: 6px 15px;
}
.day-report-table thead tr {
	border-bottom: 3px solid #f8f8f9;
}
.day-report-table tbody tr {
	border-bottom: 2px solid #f8f8f9;
}
.day-report-table tr:nth-child(odd) {
	background-color: #fff;
}
.day-report-table tr:nth-child(even) {
	background-color: #fafafa;
}
.brown {
	background-color: #bc9761 !important;
}
.blue {
	background-color: #83a7bd !important;
}
.previous-sales-header {
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}
.previous-sales {
	border-left: 2px solid #f8f8f9;
	border-right: 2px solid #f8f8f9;
}

/*month report*/
.month-report-header th {
	background-color: #2ac9ad;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	padding: 15px 6px;
}
.month-report-header td {
	color: #3c3c3c;
	padding: 6px 15px;
}
.month-report-header thead tr {
	border-bottom: 3px solid #f8f8f9;
}
.reports-accordion {
	transform: translateZ(0);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background: #fff;
}
.reports-accordion > .reports-accordion-toggle {
	position: absolute;
	opacity: 0;
	display: none;
}
.reports-accordion > label {
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
	background: #d0f4ee;
	cursor: pointer;
	color: #3c3c3c;
	margin-bottom: 2px;
}
.reports-accordion > label:last-child {
	margin-bottom: 0;
}
.reports-accordion > label:after {
	content: "\f107";
	color: #2fcaaf;
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -7px;
	font-family: fontawesome;/*	transform: rotate(90deg);*/
	transition: .3s transform;
}
.reports-accordion > section {
	height: 0;
	transition: height .35s;
	transition-timing-function: ease-in-out;
	overflow: hidden;
	opacity: 0;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	visibility: hidden;
	filter: alpha(opacity=0);
}
.reports-accordion > .reports-accordion-toggle:checked ~ label:after {
	transform: rotate(180deg);
}

/*.accordion > label:after {
background-image: url(../images/report-plus.png);
background-repeat: no-repeat;
content: '';
position: absolute;
top: 50%;
left: 10px;
margin-top: -8px;
width: 16px;
height: 16px;
}
.accordion > section {
height: 0;
overflow: hidden;
opacity: 0;
-webkit-transform: scaleY(0);
transform: scaleY(0);
-webkit-transform-origin: 50% 0;
transform-origin: 50% 0;
-webkit-transition: all .6s ease-in-out;
-moz-transition: all .6s ease-in-out;
-ms-transition: all .6s ease-in-out;
-o-transition: all .6s ease-in-out;
transition: all .6s ease-in-out;
visibility: hidden;
filter: alpha(opacity=0);
}
.accordion > .accordion-toggle:checked ~ label:after {
background-image: url(../images/report-minus.png);
margin-top: -1px;
}*/
.reports-accordion > .reports-accordion-toggle:checked ~ section {
	height: auto;
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	filter: alpha(opacity=100);
}
.month-all-list thead {
	display: none;
}
.month-all-list tr:nth-child(odd) {
	background-color: #fff;
}
.month-all-list tr:nth-child(even) {
	background-color: #fafafa;
}
.month-all-list td {
	padding: 6px;
}
.month-all-list thead tr {
	border-bottom: 3px solid #f8f8f9;
}
.month-all-list tbody tr {
	border-bottom: 2px solid #f8f8f9;
}
.report-accordion-header th {
	padding: 9px 6px;
}
.report-table-heading h2 {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
	margin: 15px 0;
}
.report-download h5 {
	color: #000;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 13px;
}
.report-download li {
	float: left;
	margin: 0 5px;
}
.report-download li:first-child {
	margin-left: 0;
}
.report-download li:last-child {
	margin-right: 0;
}
.report-graph {
	border: none;
	background-color: #00c853;
	border-radius: 0;
	display: inline-block;
	padding: 8px;
	margin-top: 5px;
	margin-right: 10px;
}
.report-export {
	margin-bottom: 6px;
}
.report-popup {
	background-color: rgba(255, 255, 255, 0.9);
	height: 100%;	/*display: none;  */

	/*display: block;*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.middlealign {
	display: table;
	height: inherit;
	width: 100%;
}
.middlealign > div {
	display: table-cell;
	vertical-align: middle;
}
.report-graph-section {
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 0 auto;
	max-width: 725px;
	position: relative;
}
.not-active {
	pointer-events: none;
	cursor: default;
}
.content-area {
	position: relative;
}
#vn-click {
	cursor: pointer;
	display: inline-block
}
#vn-info {
	display: none;
	text-align: center;
	background: #16a085;
	color: #fff;
	padding: 30px 20px;
	position:absolute;
	top: 4px;
	width: 250px;
	right: 0;
	z-index: 9;
}


.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-container, .instructions {
  width: 200px;
  margin: 20px auto 0;
  font-size: 14px;
  font-family: sans-serif;
}

.instructions {
  width: 100%;
  text-align: center;
}

.dropdown-button {
  float: left;
  width: 100%;
  background: whitesmoke;
  padding: 10px 12px;
  cursor: pointer;
  border: 1px solid lightgray;
  box-sizing: border-box;
}
.dropdown-button .dropdown-label, .dropdown-button .dropdown-quantity {
  float: left;
}
.dropdown-button .dropdown-quantity {
  margin-left: 4px;
}
.dropdown-button .fa-filter {
  float: right;
}

.dropdown-list {
  float: left;
  width: 100%;
  border: 1px solid lightgray;
  border-top: none;
  box-sizing: border-box;
  padding: 10px 12px;
}
.dropdown-list input[type="search"] {
  padding: 5px 0;
}
.dropdown-list ul {
  margin: 10px 0;
  max-height: 200px;
  overflow-y: auto;
}
.dropdown-list ul input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.multiselect-container input{
        width: inherit;
}
.reports-pages-section .dropdown-menu>.active>a, .reports-pages-section .dropdown-menu>.active>a, .reports-pages-section .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus{
	background-color: #ccc;
}
.reports-pages-section .multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}
.reports-pages-section .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #d7d7d7;
    border-radius: 0;
    height: 30px;
    padding: 2px 12px;
}
.reports-pages-section .btn .caret {
    margin-left: 10px;
}
.ui-datepicker-calendar {
    display: none;
    }