/* ==========================================================================
   Author's custom styles
   Author Name : Selvaraj U
   Project Name : Pharmacy Web App
   ========================================================================== */

/*External Css*/

/* @import 'selva1.css'; */
@import 'common.css';
@import 'login.css';
@import 'global.css';
@import 'media.css';

header {
	background-color: #fff;
	border-bottom: 1px solid #d8d8d8;
	position: fixed;
	top: 0;
	right: 0;
	display: block;
	width: 100%;
	z-index: 9999;
}
.logo {
	display: inline-block;
}
.logo a {
	background-color: #fbfbfb;
	border-right: 1px solid #d8d8d8;
	display: block;
	padding: 10px 30px 10px 10px;
}
.header-menu {
	cursor: pointer;
	border-left: 1px solid #d8d8d8;
	padding: 10px 20px 10px 10px;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.header-menu:hover {
	background-color: #f7f7f7;
}
.header-menu .header-right {
	min-height: 35px;
	height: 1px;
	display: table;
	padding-left: 45px;
	position: relative;
	width: 160px;
}
.header-menu .first-letter {
	background-color: #ff914f;
	border-radius: 100%;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	width: 35px;
	height: 35px;
	text-transform: capitalize;
	text-align: center;
	display: table;
	margin-right: 10px;
	left: 0;
	position: absolute;
	top: 0;
}
.first-letter span {
	display: table-cell;
	vertical-align: middle;
}
.header-menu .user-name {
	color: #000;
	line-height: 14px;
	display: table-cell;
	vertical-align: middle;
}
.header-menu .user-name {
	color: #000;
}
.header-menu .user-name h3 {

	/*margin: 0;
		font-size: 14px;
		font-weight: 600;
		line-height: 14px;
		position: relative;
		margin-right: 15px !important;
		margin-bottom: 3px !important;*/
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	margin-right: 15px !important;
	margin-bottom: 3px !important;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.header-menu .header-arrow {
	position: relative;
}
.header-menu .user-name .header-arrow:after {
	background-image: url('../images/header-arrow.png');
	background-repeat: no-repeat;
	content: "";
	width: 9px;
	height: 6px;
	position: absolute;
	right: -15px;
	top: 50%;
	margin-top: -3px;
}
.header-menu .user-name span {
	display: block;
	font-size: 12px;
	line-height: 12px;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.header-menu .user-image {
	display: table;
	margin-right: 10px;
	left: 0;
	position: absolute;
	top: 0;
	border-radius: 50px;
}
.header-menu .user-image img {
	width: 35px;
	height: 35px;
	border-radius: 50px;
}
.header-menu .menu-dropdown {
	top: 66px;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	display: none;
	text-align: left;
	background: #fff;
	color: #323232;
	padding: 7px;
	position: absolute;
	right: 2px;
	width: 100%;
	z-index: 1;
}
.dropdown-arrow {
	position: relative;
}
.menu-dropdown li {
	padding: 8px 10px;
	line-height: 14px;
}
.menu-dropdown li strong {
	color: #000;
}
.menu-dropdown li.bottom-border {
	border-bottom: 1px solid #e0e0e0;
}
.dropdown-arrow:after {
	content: '';
	display: block;
	position: absolute;
	right: 15px;
	top: -13px;
	margin-left: -5px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	-moz-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
}
.content-area {
	padding: 20px;
	margin-top: 56px;
}
.dashboard-section {
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	margin-bottom: 20px;
}
.dashboard-section h4 {
	background-color: #effefc;
	color: #323232;
	font-size: 17px;
	line-height: 17px;
	padding: 18px;
}
.dashboard-section h4 a {
	color: #0172ac;
	font-size: 14px;
	line-height: 14px;
	border-bottom: 1px solid #c7e0ea;
	text-transform: uppercase;
}
.dashboard-table table {
	width: 100%;
}
.dashboard-table th {
	background-color: #fafafa;
	color: #5a5a5a;
	font-size: 15px;
	font-weight: 600;
	line-height: 15px;
	text-transform: uppercase;
	padding: 13px 15px;
}
.dashboard-table {
	background-color: #fff;
	padding: 3px;
}
.dashboard-table td {
	padding: 10px 15px;
	font-size: 15px;
	line-height: 15px;
}
.dashboard-table tr:first-child, .dashboard-table tr:last-child {
	border-bottom: none;
}
.dashboard-table tr {
	border-bottom: 1px solid #f3f3f3;
}
.dashboard-table tr:last-child {
	border-bottom: none;
}
.dashboard-table .active {
	color: #ff6464;
}
.trending-sales {
	text-transform: uppercase;
}
.expire-products {
	text-transform: uppercase;
}
.dashboard-section .add-reminder {
	border-bottom: 1px solid #d4e1ec;
	color: #0172ac;
	font-size: 13px;
	line-height: 13px;
	margin-top: 10px;
	margin-left: 15px;
	display: inline-block;
}
.header-logo {
	background-color: #fbfbfb !important;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8 !important;
	padding: 10px !important;
	position: relative;
}
#sidebar .menu-action {
	position: absolute;
	padding: 10px;
	padding: 6px 11px;
	background-color: #e6e6e6;
	right: -28px;
	top: 10px;
	text-align: center;
	border-bottom: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: 999;
}
.header-logo .menu-action:hover {
	background-color: #e6e6e6;
}
.left-nav li.header-logo .logo {
	background-color: #fbfbfb !important;
	padding: 0;
	border-bottom: none;
}
.left-nav li a {
	background-color: #3c3c3c;
	border-bottom: 1px solid #505050;
	color: #c8c8c8;
	display: block;
	position: relative;
	padding: 5px 10px;
	max-width: 190px;
}
.left-nav li a:hover {
	background-color: #2d2d2d;
}

/* .left-nav ul{
overflow-y: scroll;
} */
.left-nav li a.active:after {
	content: '';
	display: block;
	position: absolute;
	right: -5px;
	top: 50%;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	background: #f5f5f5;
	border-right: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
	-moz-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
}
.left-nav li a.active {
	background-color: #2d2d2d !important;
	position: relative;
}
.menu-list {
	min-height: 35px;
	height: 1px;
	display: table;
	padding-left: 40px;
	position: relative;
}
.left-nav li .lisi-img {
	height: 35px;
	left: 0;
	position: absolute;
	top: 0;
}
.left-nav li span {
	color: #c8c8c8;
	line-height: 14px;
	display: table-cell;
	vertical-align: middle;
	transition: all 0.3s ease-in-out;
}
#sidebar {
	width: 190px;
	height: 100%;
	padding: 0;
	position: fixed;
	z-index: 9;
	background-color: #3c3c3c;
	transition: all 0.3s linear;
}
.left-nav {
	width: 100%;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
}
#content {
	float: left;
	min-height: 100%;
	width: 100%;
	position: absolute;
	z-index: 8;    /*overflow: hidden;*/
}
#content .content-section {
	margin-left: 191px !important;
	transition: all 0.3s linear;
}
.hide-menu #sidebar {
	width: 60px;
}
.hide-menu #content .content-section {
	margin-left: 60px !important;
}
.hide-menu .left-nav li span {
	display: none;
	opacity: 0;
	visibility: hidden;
}
.menu-action img {
	transition: all 0.3s ease-in-out;
}
.hide-menu .menu-action img {
	transform: rotate(180deg);
}
.header-reminder {
	padding: 17px;
	border-left: 1px solid #d8d8d8;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.header-reminder:hover {
	background-color: #f7f7f7;
}
.header-reminder.active:after {
	content: '';
	display: block;
	position: absolute;
	right: 50%;
	bottom: -6px;
	margin-right: -5px;
	width: 10px;
	height: 10px;
	background: #f5f5f5;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	-moz-transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
}
.reminder-count {
	position: relative;
}
.reminder-count span {
	background-color: #fe5252;
	color: #fff;
	display: inline-block;
	font-size: 9px;
	font-weight: 600;
	height: 17px;
	line-height: 17px;
	position: absolute;
	width: 17px;
	text-align: center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	border-radius: 100%;
	top: -6px;
	right: -8px;
}
.lead-count {
	background-color: #f37224;
	color: #fff !important;
	font-size: 11px;
	font-weight: 600;
	line-height: 11px !important;
	padding: 2px 8px;
	position: absolute;
	top: 50%;
	margin-top: -8.5px;
	margin-left: 15px;
	border-radius: 10px;
}

/* order page  */
.order-history-page .order-history-table td {
	padding: 8px 20px !important;
}
.customer-page .customer-table td {
	padding: 8px 20px !important;
}
.add-vender-page h3 {
	color: #000;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 20px;
}
.add-vender-page {
	display: none;
}
.accept-button {
	background-color: #3db29f;
	border-radius: 2px;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
	padding: 10px 15px;
	margin-right: 10px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.accept-button:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.accept-button:hover:before, .accept-button:focus:before, .accept-button:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.accept-button:hover, .accept-button:focus, .accept-button:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.reject-button {
	background-color: #afafaf;
	border-radius: 2px;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
	padding: 10px 15px;
	margin-right: 10px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.reject-button:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.reject-button:hover:before, .reject-button:focus:before, .reject-button:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.reject-button:hover, .reject-button:focus, .reject-button:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.sale-button {
	background-color: #f57104;
	border-radius: 2px;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
	padding: 10px 15px;
	margin-right: 10px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.sale-button:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.sale-button:hover:before, .sale-button:focus:before, .sale-button:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.sale-button:hover, .sale-button:focus, .sale-button:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.accordiontitle .date {
	color: #505050;
	display: block;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	margin-bottom: 5px;
}
.accordiontitle .time {
	color: #969696;
	display: block;
	font-size: 13px;
	line-height: 13px;
	font-weight: 400;
}
.personal-reminder-right {
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #fff;
	padding: 20px;
	width: 100%;
}
.reminder-dropdown label {
	font-weight: 600;
}
.reminder-dropdown {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 10px;
	font-size: 16px;
}
.reminder-dropdown select {
	border: none;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 0;
	line-height: 16px;
}
.reminder-table {
	height: 312px;
	overflow-y: scroll;
}
.reminder-table::-webkit-scrollbar {
	width: 6px;
	height: 16px;
}
.reminder-table::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
.reminder-table::-webkit-scrollbar-corner {
	background-color: transparent;
}
.reminder-table::-webkit-scrollbar-thumb {
	background-color: #dcdcdc;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
.reminder-table table strong {
	color: #323232;
	font-size: 16px;
	font-weight: 600;
}
.reminder-table table span {
	color: #969696;
	font-size: 14px;
}
.reminder-table td {
	border-bottom: 1px solid #ededed;
	padding: 18px 10px;
}
.reminder-table input:focus {
	background-color: #fffef2;
}
.new-reminder input:focus {
	background-color: #fffef2;
}
.new-reminder input:focus::-webkit-input-placeholder {
	color: #000;
}
.remiber-images {
	margin: 0 10px;
}
.reminder-table .edit-staging {
	background-color: #fff5ef;
}
.personal-reminder .col-xs-7 {
	padding-right: 0;
}
.personal-reminder {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.personal-reminder-left {
	border: 1px solid #e1e1e1;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
}
.personal-reminder-left h3 {
	color: #323232;
	font-size: 16px;
	font-weight: normal;
	line-height: 16px;
	border-bottom: 1px solid #e1e1e1;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0 5px 20px 5px;
}
.new-reminder {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.followup-list ul {
	padding: 0;
	margin: 0;
}
.followup-list li {
	list-style: none;
	display: inline-block;
	margin-bottom: 15px;
}
.followup-list li a {
	text-decoration: none;
	border: 2px solid #d8d8d8;
	border-radius: 50px;
	color: #969696;
	display: block;
	font-size: 16px;
	line-height: 16px;
	padding: 7px 20px;
	text-transform: capitalize;
	margin-right: 10px;
}
.followup-list li a:hover {
	color: #969696;
}
.followup-list .active {
	background-color: #a1a1a1;
	border: 2px solid #a1a1a1;
	color: #fff;
}
.followup-list .active:hover {
	color: #fff;
}
.customer-reminder-header {
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}
.customer-reminder-header .form-data {
	margin-right: 10px !important;
}
.customer-reminder-header .form-data input {
	margin-bottom: 0;
}
.search-button {
	border-radius: 5px;
	background-color: #3db29f;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	margin-top: 25px;
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: capitalize;
}
.search-button:hover, .search-button:focus {
	color: #fff;
}
.search-reminder {
	float: left;
}
.reminder-button {
	border: none;
	border-radius: 5px;
	background-color: #f57104;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	margin-top: 25px;
	display: inline-block;
	padding: 10px 15px;
	text-decoration: none;
	text-transform: capitalize;
}
.reminder-button:hover, .reminder-button:focus {
	color: #fff;
}
.reminder-list {
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 5px;    /* font-family: 'GT Medium',arial,sans-serif; */
	padding: 6px;
	margin-bottom: 30px;
}
.reminder-list .list-header {
	background-color: #dcdcdc;
	color: #505050;
	font-size: 16px;
	line-height: 16px;    /* padding: 10px 0; */
}
.list-header ul {
	margin: 0;
	padding: 0;
	margin-left: 52px;
}
.list-header li {
	list-style: none;
	float: left;
}
.list-header table {
	width: 100%;
}
.list-header th {
	padding: 10px 5px;
}
.history-billing-notes {
	color: #777777;
	border-top: none !important;
	padding: 0 10px 10px 10px !important;
	width: 200px;
	font-size: 13px;
}
.history-billdate {
	font-family: 'proxima_novasemibold';
}
.reminder-table .amount-received {
	text-align: right;
	display: block;
	padding: 6px 0;
}
.acc-label table {
	width: 100%;
}
.acc-label {
	display: block;
}
.acc-label th {
	color: #505050;
	padding: 10px 5px;
}
.history-bill .acc-label {
	color: #505050;
}
.acc-label .date {
	color: #505050;
	display: block;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 5px;
}
.acc-label .time {
	color: #969696;
	display: block;
	font-size: 13px;
	line-height: 13px;
}
.reminder-list-image {
	float: right;
	margin: 0 10px;
}
.popup-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.middlealign {
	display: table;
	height: inherit;
	width: 100%;
}
.middlealign > div {
	display: table-cell;
	vertical-align: middle;
}
.popup-wrap {
	background-color: #fff;
	margin: 0 auto;
	max-width: 725px;
	position: relative;
}
.popup-close {
	color: #fff;
	cursor: pointer;
	padding: 19px 15px;
	position: absolute;
	right: 0;
	top: 0;
}

/* reminder-popup */
.form-data span {
	color: #ff2626;
}
.popup-wrap h3 {
	background-color: #3db29f;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	padding: 20px 0;
	text-align: center;
	margin: 0;
}
.reminder-popup-wrap {
	padding: 20px 30px;
}
.reminder-popup-wrap .popup-row {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
.reminder-popup-wrap .col-md-7 {
	padding-right: 20px;
	position: relative;
	padding-left: 0;
}
.reminder-popup-wrap .col-md-7:after {
	background-color: #e1e1e1;
	content: "";
	width: 1px;
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
}
.reminder-popup-right {
	position: relative;
}
.reminder-popup-wrap .reminder-popup-right h4 {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	margin: 0;
	margin-bottom: 30px;
}
.reminder-popup-right .col-md-7 {
	padding-right: 10px !important;
}
.reminder-popup-right .col-md-7:after {
	display: none;
	padding-right: 10px !important;
}
.reminder-popup-right .form-data label, .reminder-popup-left .form-data label {
	font-size: 14px;
	line-height: 14px;
}
.reminder-popup-left .form-data input {
	border: 1px solid #c5dad6;
	margin-bottom: 0;
}
.reminder-popup-left .form-data textarea {
	border: 1px solid #c5dad6;
}
.reminder-popup-left .form-data {
	margin-bottom: 20px;
}
.reminder-popup-left .add-medicine {
	border-bottom: 1px solid #d5dde7;
	color: #0c5592;
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 15px;
}
.search-icon {
	position: relative;
}
.search-icon:after {
	background-image: url("../images/search-icon.png");
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	width: 16px;
	height: 14px;
	right: 10px;
	top: 50%;
	margin-top: -7px;
}
.new-customer {
	border-bottom: 1px solid #d7ebe7;
	color: #26a792;
	font-size: 15px;
	line-height: 15px;
	margin: 6px 0;
}
.add-medicine-section {
	margin-bottom: 10px;
}
.medicine-list {
	height: 70px;
	overflow-y: scroll;
	margin-bottom: 15px;
}
.medicine-list::-webkit-scrollbar {
	width: 6px;
	height: 16px;
}
.medicine-list::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}
.medicine-list::-webkit-scrollbar-corner {
	background-color: transparent;
}
.medicine-list::-webkit-scrollbar-thumb {
	background-color: #dcdcdc;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
.medicine-list ol {
	padding: 0;
	margin: 0;
	padding-left: 18px;
	margin-right: 10px;
	list-style: decimal;
}
.medicine-list li:last-child {
	margin-bottom: 0
}
.medicine-list li {
	color: #000;
	line-height: 15px;
	font-size: 15px;
	margin-bottom: 8px;
}
.medicine-list a {
	border-bottom: 1px solid #ffdcdc;
	color: #fe5252;
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
}
.calender-image {
	position: relative;
	margin-bottom: 20px;
}
.calender-image img {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
}
.calender-image input {
	margin-bottom: 0;
}
.select-customer {
	position: relative;
}
.select-customer h5 {
	color: #323232;
	display: block;
	font-weight: 700;
	margin: 0;
	margin-bottom: 8px;
	line-height: 14px;
	font-size: 14px;
}
.select-customer table {
	border-radius: 5px;
	background-color: #edf8f6;
	margin-bottom: 10px !important;
}
.select-customer th {
	color: #979e9d;
	font-size: 12px;
	font-weight: 600;
	line-height: 12px;
	padding: 8px;
}
.select-customer td {
	color: #000000;
	font-size: 15px;
	line-height: 15px;
	padding: 0px 8px 8px 8px;
}
.select-customer span {
	color: #ff2626;
}
.edit-customer-info {
	border-bottom: 1px solid #d5dde7;
	color: #0c5592;
	font-size: 12px;
	float: right;
	line-height: 12px;
	margin-bottom: 10px;
}
.edit-customer-info span {
	color: #0c5592;
	text-decoration: none;
}
.close-button {
	position: absolute;
	right: -7.5px;
	top: 12px;
}
.add-branch-page {
	display: none;
}
.add-branch-page h3 {
	color: #000;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 20px;
}
.add-branch-section, .add-vender-section {
	padding-left: 15px;
	padding-right: 15px;
}
.add-branch-section .col-md-4, .add-vender-section .col-md-4 {
	padding-right: 5px;
	padding-left: 5px;
}
.alphabet-list a {
	-moz-box-shadow: 0.5px 0.5px 1px 0.5px #dedede;
	-webkit-box-shadow: 0.5px 0.5px 1px 0.5px #dedede;
	box-shadow: 0.5px 0.5px 1px 0.5px #dedede;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dedede;
	color: #000;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 7px;
	line-height: 16px;
	width: 27px;
	margin-right: 1px;
	height: 27px;
	text-transform: uppercase;
	text-align: center;
}
.alphabet-list a:hover {
	box-shadow: none;
	background-color: #dedede;
	color: #9e9e9e;
}
.alphabet-list .active {
	box-shadow: none;
	background-color: #3db29f;
	border: 1px solid #3db29f;
	color: #fff;
}
.show-all {
	border-bottom: 1px solid #d4e1ec;
	color: #0172ac;
	font-size: 14px;
	line-height: 14px;
	text-transform: capitalize;
}
.show-all:hover {
	color: #0172ac;
}
.inventory-header .product-name .col-xs-7 {
	padding-right: 0;
}
.inventory-header .product-name .col-xs-5 {
	padding-right: 0;
	padding-left: 0;
}
.inventory-header .add-green {
	margin-right: 0;
}
.inventory-header .col-md-9 {
	padding-left: 0;
}
.inventory-available {
	margin-bottom: 10px;
}
.export-files {
	display: inline-block;
	float: right;
	padding: 4px 0;
	margin-right: 10px;
	position: relative;
}
.export-files:after {
	content: "";
	background-image: url("../images/export-arrow.png");
	background-repeat: no-repeat;
	position: absolute;
	width: 5px;
	height: 3px;
	right: 15px;
	top: 50%;
	margin-top: -1.5px;
}
.export-files a {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #dedede;
	color: #646464;
	position: relative;
	padding: 5px 35px 5px 35px;
}
.export-files a:hover, .export-files a:focus {
	color: #646464;
}
.export-files a img {
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -6px;
}
.export-files .export-dropdown {
	top: 29px;
	border-radius: 3px;
	border: 1px solid #dedede;
	display: none;
	text-align: left;
	background: #fff;
	color: #323232;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 1;
}
.export-dropdown li a {
	border: 0;
	display: block;
	border-radius: 0;
	font-size: 16px;
	line-height: 16px;
	padding: 8px;
	font-size: 15px;
	line-height: 15px;
}
.export-dropdown li a:hover {
	background-color: #f7f7f7;
}
.available-list li {
	color: #323232;
	display: inline-block;
	float: left;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	margin: 6px 25px;
}
.available-list li:first-child {
	margin-left: 0;
}
.available-list li:last-child {
	margin-right: 0;
}
.inventory-accordion {
	color: #323232;
}
.inventory-accordion .accordion-header th {
	padding: 10px 5px;
}
.inventory-accordion .accordion-header-table th {
	padding: 10px 5px;
}
.inventory-accordion .accordioncontent-table th, .inventory-accordion .accordioncontent-table td {
	padding: 10px 5px;
}
.inventory-accordion .accordioncontent-table thead {
	display: none;
}
.accordioncontent-table.active {
	background-color: #ffdddd !important;
}
.inventory-accordion .accordioncontent-table td {
	color: #000000;
	font-size: 16px;
	line-height: 16px;
}
.inventory-accordion .text-box {
	text-align: center;
	border: 1px solid #d7d7d7;
}
.inventory-accordion .common-dropdown {
	color: #505050;
	font-size: 16px;
	line-height: 16px;
}
.inventory-accordion .text-box:hover {

	/* border: 0; */
}
.unit-cost {
	line-height: 16px;
	display: block;
}
.ex-vat {
	color: #505050;
	display: block;
	font-size: 10px;
	line-height: 10px;
}
.inventory-setting-row {
	border-bottom: 1px solid #ededed;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.inventory-setting-row:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.inventory-setting-header h4 {
	color: #505050;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 15px;
}
.inventory-setting-header .button-primary {
	padding-top: 10px;
	padding-bottom: 10px;
}
.user-management-accordion .accordion-header th, .user-management-accordion .accordioncontent-table th {
	padding-left: 10px;
	padding-right: 10px;
}
.user-management-accordion .accordion-header-table th {
	font-weight: 400;
	padding: 8px 10px;
}
.common-accordion .table-action a img {
	margin-right: 10px;
}
.user-management-accordion .accordioncontent-table td {
	color: #505050;
	padding-left: 10px;
	padding-right: 10px;
}
.user-management-accordion .common-dropdown {
	color: #000;
}
.user-management-popup {
	max-width: 570px;
}
.user-management-popupwrap {
	margin: 0 50px auto;
	padding: 20px 0;
}
.add-branchs {
	border-bottom: 1px solid #b2c0d3;
	color: #0c5592;
	font-size: 15px;
	line-height: 15px;
	margin: 6px 0;
}
.access-rights {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 5px;
}
.access-rights a {
	-moz-box-shadow: 0.5px 0.5px 1px 0.5px #dedede;
	-webkit-box-shadow: 0.5px 0.5px 1px 0.5px #dedede;
	box-shadow: 0.5px 0.5px 1px 0.5px #dedede;
	border-radius: 3px;
	border: 1px solid #dedede;
	color: #505050;
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 5px;
}
.access-rights a:hover, .access-rights a:focus {
	box-shadow: none;
	background-color: #dedede;
	color: #9e9e9e;
}
.access-rights .active {
	box-shadow: none;
	background-color: #3db29f;
	border: 1px solid #3db29f;
	color: #fff;
}
.multiple-textbox a img {
	position: absolute;
	width: 17px;
	height: 17px;
	right: -6.5px;
	top: -8.5px;
}
.presentage {
	float: left;
	position: relative;
	padding-right: 40px;
}
.presentage:after {
	color: #646464;
	content: "%";
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -9px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
}
.presentage .text-box {
	width: 90px;
}
.billbased-discount-section, .slab-discount-section {
	display: none;
}
.petty-cash-header .common-radio-button {
	float: left;
	margin: 15px 0;
}
.petty-cash-with {
	width: 137px;
}
.petty-cash-header .common-radio-button ul li {
	margin-bottom: 0;
}
.petty-cash-header h4 {
	color: #000000;
	display: block;
	font-weight: 400;
	line-height: 16px;
	font-size: 16px;
}
.petty-cash-header .add-new {
	margin-top: 9px;
	margin-right: 0;
}
.petty-cash-header .add-green {
	margin-top: 9px;
}
.customer-receipts-page .customer-details {
	border-top: 1px solid #e1e1e1;
	padding: 20px 0;
}
.customer-receipts-page .customer-details li {
	color: #727070;
	display: inline-block;
	float: left;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	margin-right: 50px;
}
.customer-receipts-page .customer-details li span {
	color: #000;
	font-weight: 600;
	margin-left: 5px;
}
.customer-receipts-header .receipts-header-left {
	float: left;
}
.customer-receipts-header .receipts-header-right {
	border-left: 1px solid #ededed;
	float: left;
}
.customer-receipts-header .receipts-header-right .payment-type {
	width: 120px;
}
.vendor-payments-page .customer-details {
	border-top: 1px solid #e1e1e1;
	padding: 20px 0;
}
.vendor-payments-page .customer-details li {
	color: #727070;
	display: inline-block;
	float: left;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	margin-right: 50px;
}
.vendor-payments-page .customer-details li span {
	color: #000;
	font-weight: 600;
	margin-left: 5px;
}
.vendor-payments-header .vendor-header-left {
	float: left;
}
.vendor-payments-header .vendor-header-right {
	border-left: 1px solid #ededed;
	float: left;
}
.vendor-payments-header .vendor-header-right .payment-type {
	width: 120px;
}
.vendor-payments-accordion .common-checkbox input[type="checkbox"] + label:before {
	margin-right: 0;
}
.product-enter {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ededed;
}
.form-reset {
	background-color: #fff;
	color: #969696;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	float: left;
	padding-top: 33px;
	width: inherit;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 0;
	padding-right: 0;
	margin: 0 20px;
}
.form-reset:hover, .form-reset:focus {
	background-color: transparent;
	box-shadow: none;
}
.purchase-subheader hr {
	margin: 10px 0;
}
.purchase-subheader .add-green {
	float: left;
}
.purchase-table th, .purchase-table td {
	padding-right: 5px;
	padding-left: 5px;
}
.purchase-table td {
	word-break: break-all;
}
.purchase-table .product-name {
	color: #000;
}
.purchase-table .price {
	color: #000;
	font-weight: 600;
}
.purchase-total-section {
	background-color: #fffaf7;
	padding: 20px;
	margin-top: 1px;
}
.purchase-table tr:last-child {
	border-bottom: 1px solid #ededed;
}
.file-upload {
	position: relative;
	float: left;
	padding-left: 28px;
	width: 100%;
}
.file-upload:after {
	content: "";
	background-image: url("../images/attachment-image.png");
	background-repeat: no-repeat;
	width: 18px;
	height: 16px;
	top: 50%;
	left: 0;
	position: absolute;
	margin-top: -8px;
}
.upload-file-name:after {
	content: "";
	background-image: url("../images/attachment-image.png");
	background-repeat: no-repeat;
	width: 18px;
	height: 16px;
	top: 50%;
	left: 0;
	position: absolute;
	margin-top: -8px;
}
.file-upload-label {
	border-bottom: 1px solid #dfe4ea;
	cursor: pointer;
	color: #0172ac;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
	float: left;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	margin-bottom: 0;
}
.file-upload-label:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f37224;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.file-upload-input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: 1px;
	width: 0;
	height: 100%;
	opacity: 0;
}
.upload-file-name {
	color: #0172ac;
	position: relative;
	float: left;
	font-weight: 400;
	padding: 8px 10px 8px 28px;
	line-height: 14px;
}
.upload-file-name img {
	position: absolute;
	right: -15px;
	top: 50%;
	margin-top: -8.5px;
}
.purchase-total th {
	display: none;
}
.purchase-total tr, .purchase-total tr:last-child {
	border-bottom: none;
}
.purchase-total .text-box {
	text-align: right;
	width: 80px;
	height: 25px;
	padding-right: 0;
}
.purchase-total td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.purchase-total .net-value {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.purchase-total .net-amount {
	color: #3db29f;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.net-section {
	border-top: 1px solid #e0dedc;
	border-bottom: 1px solid #e0dedc !important;
}
.purchase-total-section .common-radio-button ul li .check {
	background-color: #fffaf7;
}
.purchase-total-section .form-inner-field label {
	color: #646464;
	font-weight: 600;
	font-size: 15px;
	line-height: 15px;
}
.purchase-returnhistory-accordion .accordion-header th, .purchase-returnhistory-accordion .accordion-header-table th {
	padding-left: 5px;
	padding-right: 5px;
}
.purchase-download {
	text-align: center;
}
.purchase-download p {
	font-size: 16px;
	line-height: 20px;
	max-width: 250px;
	margin: 0 auto;
}
.download-template {
	background-color: #3db29f;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
	padding: 14px 20px;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.download-template:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.download-template:hover:before, .download-template:focus:before, .download-template:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.download-template:hover, .download-template:focus, .download-template:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.upload-section {
	text-align: center;
}
.upload-section p {
	font-size: 16px;
	line-height: 20px;
	max-width: 250px;
	margin: 0 auto;
}
.purchase-download a img {
	margin-right: 10px;
}
.purchase-upload-label img {
	margin-right: 10px;
}
.purchase-upload-label {
	background-color: #3db29f;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
	padding: 14px 20px;
	margin: 0;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.purchase-upload-label:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.purchase-upload-label:hover:before, .purchase-upload-label:focus:before, .purchase-upload-label:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
.purchase-upload-label:hover, .purchase-upload-label:focus, .purchase-upload-label:active {
	color: #fff;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.purchase-upload-input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: 1px;
	width: 0;
	height: 100%;
	opacity: 0;
}
.purchase-file-name {
	color: #0172ac;
	position: relative;
	float: left;
	padding: 8px 10px 8px 0;
	line-height: 14px;
}
.purchase-file-name img {
	position: absolute;
	right: -15px;
	top: 50%;
	margin-top: -8.5px;
}
.purchase-history-accordion .accordion-header th {
	padding-left: 5px;
	padding-right: 5px;
}
.purchase-history-accordion .accordion-header-table th {
	padding: 8px 5px;
}
.purchase-history-accordion .history-list tr:last-child {
	border-bottom: 1px solid #e1ecea;
}
.history-comments {
	background-color: #effefc;
}
.purchase-page .fa-inr, .purchase-history-page .fa-inr, .purchase-returnhistory-page .fa-inr {
	font-size: 14px;
	margin-right: 2px;
}
.purchase-page .purchase-history-page .button-primary {
	margin-left: 0
}
.history-edit {
	border-bottom: 1px solid #d4e1ec;
	color: #0172ac;
	font-size: 14px;
	line-height: 14px;
}
.history-list th, .history-list td {
	padding-left: 5px;
	padding-right: 5px;
}
.history-comments {
	border-bottom: 1px solid #e1ecea;
}
.history-comments th {
	color: #000;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 5px 0 5px;
}
.history-comments td {
	padding: 10px 5px;
}
.history-document {
	background-color: #effefc;
	margin-bottom: 5px;
}
.history-document th {
	padding: 20px 5px;
}
.attachment-document {
	position: relative;
	padding-left: 28px;
}
.attachment-document a {
	border-bottom: 1px solid #d1e8ee;
	color: #0172ac;
	font-size: 15px;
	font-weight: 400;
	line-height: 15px;
}
.attachment-document:before {
	content: "";
	background-image: url("../images/attachment-image.png");
	background-repeat: no-repeat;
	width: 18px;
	height: 16px;
	top: 50%;
	left: 0;
	position: absolute;
	margin-top: -8px;
}
.history-edided-section {
	background-color: #d9fcf7;
	margin-bottom: 5px;
}
.history-edided-section tr {
	border-bottom: 1px solid #d2eae7;
}
.history-edided-section th {
	border-bottom: 1px solid #d2eae7;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 5px;
}
.history-edided-section td {
	padding: 10px 5px;
}
.history-print {
	padding: 15px 5px;
}
.history-edided-header th {
	color: #3fae9c;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	padding: 15px 5px;
	border-bottom: none;
}
.history-edided-header tr {
	border-bottom: none;
}
.history-returned-section {
	background-color: #fef3f3;
}
.history-returned-section tr {
	border-bottom: 1px solid #ece4e4;
}
.history-returned-section tr:last-child {
	border-bottom: none;
}
.history-returned-section th {
	border-bottom: 1px solid #ece4e4;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 5px;
}
.history-returned-section td {
	padding: 10px 5px;
}
.history-print {
	padding: 15px 5px;
}
.history-returned-header th {
	color: #ff5151;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	padding: 15px 5px;
	border-bottom: none;
}
.history-returned-header tr {
	border-bottom: none;
}
.grid-with .col-md-4 {
	width: 50%;
}
.purchase-blukreturn-page .button-secondary {
	margin-left: 10px;
}
.purchase-blukreturn-page .accordion-header-table th {
	padding: 8px 5px;
}
.purchase-blukreturn-accordion .accordion-header th {
	padding: 8px 5px;
}
.purchase-blukreturn-page .accordioncontent-table th, .purchase-blukreturn-page .accordioncontent-table td {
	padding-left: 5px;
	padding-right: 5px;
}
.purchase-blukreturn-accordion .text-box {
	padding-top: 4px;
	padding-bottom: 5px;
	height: 25px;
	text-align: center;
}
.purchase-blukreturn-accordion .common-dropdown {
	height: 25px;
	padding-top: 4px;
	padding-bottom: 5px;
}
.purchase-blukreturn-accordion .accordioncontent-table tr:last-child {
	border-bottom: 1px solid #e1ecea;
}
.purchase-import-table th, .purchase-import-table td {
	padding-right: 5px;
	padding-left: 5px;
}
.purchase-import-table td {
	word-break: break-all;
}
.purchase-import-table .product-name {
	color: #000;
}
.purchase-import-table .price {
	color: #000;
	font-weight: 600;
}
.purchase-import-table tr:last-child {
	border-bottom: 1px solid #ededed;
}
.purchase-import-table .text-box {
	padding: 0 3px 3px 3px;
	height: 25px;
}
.purchase-import-table .calender-icon img {
	margin-top: -6px;
}
textarea::-webkit-scrollbar {
	width: 6px;
}
.error-product .text-box {
	border: 1px solid #ff5151 !important;
	background-color: #fef3f3;
	color: #ff5151;
	padding-right: 25px;
}
.error-product {
	position: relative;
}
.error-product:after {
	background-image: url("../images/search-small.png");
	background-repeat: no-repeat;
	content: "";
	width: 12px;
	height: 12px;
	top: 50%;
	right: 10px;
	position: absolute;
	margin-top: -6px;
}
.fa-inr {
	font-size: 14px;
	margin-right: 2px;
}
.previous-table {
	background-color: #effefc;
}
.previous-purchased h3 {
	color: #505050;
	font-weight: 400;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 12px;
}
.previous-purchased .common-radio-button ul li {
	margin-bottom: 0;
}
.previous-purchased .common-radio-button ul li label {
	padding-left: 0;
}
.previous-purchased th, .previous-purchased td {
	padding-right: 10px;
	padding-left: 10px;
}
.order-table .text-box {
	height: 25px;
}
.vender-table .common-dropdown {
	color: #000;
}
.vender-inactive td {
	padding-bottom: 8px;
	padding-top: 8px;
}
.vender-inactive td, .vender-inactive .common-dropdown {
	color: #b2b2b2;
}
.transfer-subheader hr {
	margin: 10px 0;
}
.transfer-subheader .add-green {
	float: left;
}
.transfer-table th, .transfer-table td {
	padding-right: 5px;
	padding-left: 5px;
}
.transfer-table td {
	word-break: break-all;
}
.transfer-table .product-name {
	color: #000;
}
.transfer-table .price {
	color: #000;
	font-weight: 600;
}
.transfer-total-section {
	background-color: #fffaf7;
	padding: 20px;
	margin-top: 1px;
}
.transfer-table tr:last-child {
	border-bottom: 1px solid #ededed;
}
.transfer-history-accordion .transfer-list tr:last-child {
	border-bottom: 1px solid #e1ecea;
}
.transfer-table .net-value {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.transfer-table .net-amount {
	color: #3db29f;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.transfer-table .net-total {
	background-color: #fffaf7;
}
.transfer-table .text-box, .vender-table .text-box, .branch-table .text-box {
	height: 25px;
}
.branch-table .calender-icon img {
	margin-top: -6px;
}
.sale-header .col-md-7 {
	padding-right: 0;
}
.sale-header .col-md-5 {
	padding-left: 10px;
}
.sale-search {
	background-color: #afafaf;
	border-radius: 2px;
	border: none;
	padding: 6px 9px;
	margin-top: 25px;
	display: inline-block;
	float: left;
	height: 35px;
	width: 35px;
}
.net-value {
	color: #646464;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
}
.net-amount {
	color: #3db29f;
	font-size: 24px !important;
	font-weight: 700 !important;
	line-height: 24px !important;
}
.sale-total th {
	display: none;
}
.sale-total td {
	padding: 12px 15px;
	line-height: 15px;
	font-size: 15px;
}
.sale-total .text-box {
	text-align: right;
	width: 80px;
	height: 25px;
	padding-right: 0;
}
.sale-total .net-section {
	border-top: 1px solid #f3f3f3;
	border-bottom: none !important;
}
.sale-total-section {
	padding: 7px 5px 20px 5px;
}
.sale-total-section h3 {
	background-color: #fafafa;
	color: #646464;
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 15px;
	padding: 15px;
}
.common-radio-button ul li {
	margin-left: 15px;
}
.sale-total-section .common-checkbox {
	float: left;
	margin-left: 15px;
}
.sale-total-section .common-checkbox input[type="checkbox"] + label:before {
	top: 2px;
}
.sale-total-section .common-checkbox input[type="checkbox"] + label, .sale-total-section .common-radio-button ul li label {
	color: #646464;
}
.sale-accordion .product-name {
	display: block;
	margin-bottom: 5px;
}
.sale-accordion .company-name {
	color: #afafaf;
	display: block;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
}
.sale-accordion .text-box {
	height: 25px;
}
.sale-attached th {
	padding: 15px 0;
}
.sale-accordion .sale-attached {
	border-top: 1px solid #ededed;
}
.sale-adduser-popup {
	max-width: 575px;
}
.sale-adduser-popup .common-radio-button ul li {
	margin-left: 0;
	margin-top: 7px;
	margin-bottom: 7px;
}
.pervious-balance {
	color: #fd795d;
}
.card-details .form-inner-field, .amount-details .form-inner-field, .door-delivery .form-inner-field {
	margin: 0 15px;
}
.amount-details {
	width: 50%;
}
.amount-details, .card-details {
	display: none;
}
.door-delivery {
	display: none;
}
.door-delivery .text-box {
	height: 25px;
}
.door-delivery .col-md-6 {
	padding-right: 5px;
}
.door-delivery .button-primary {
	padding: 3.5px 15px 6.5px 15px;
	margin-left: 0;
}
.sale-warrper .col-md-8 {
	padding-right: 0;
}
.sale-product th {
	color: #000;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	padding: 5px;
}
.sale-product td {
	padding: 5px;
}
.sale-product .common-checkbox input[type="checkbox"] + label:before {
	margin-right: 0;
}
.sale-product-footer {
	border-top: 1px solid #ededed;
	padding-top: 20px;
	margin-top: 15px;
}
.reminder-order {
	margin: 5px 0;
	padding: 0;
}
.reminder-order label {
	color: #000;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	float: left;
	margin: 4px 5px 4px 0;
}
.reminder-order .form-inner-field {
	float: left;
}
.reminder-order .common-dropdown {
	color: #000;
	height: 25px;
	padding: 2px 26px 2px 8px;
	width: 100px;
}
.sale-product .add-green, .sale-product .add-gray {
	margin-top: 0;
}
.alternats-tablets-popup {
	max-width: 725px;
}
.product-alternate-popupwrap {
	margin: 0 30px auto;
	padding: 20px 0;
}
.product-alternate-popupwrap .col-md-7 {
	border-right: 1px solid #e1e1e1;
}
.alternats-tablet-list h4 {
	color: #000;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 10px;
}
.alternats-tablet-list .common-radio-button ul li label {
	color: #000;
}
.alternats-tablet-list .common-radio-button ul li {
	display: block;
	margin-left: 0;
}
.alternats-tablet-list .common-radio-button ul li:last-child {
	margin-bottom: 0;
}
.alternats-tablet-list .common-radio-button {
	padding: 20px;
	border: 1px solid #dedede;
	border-radius: 3px;
	height: 263px;
	overflow-y: auto;
}
.alternats-tablet-list .common-radio-button::-webkit-scrollbar-thumb {
	background-color: #3db29f;
}
.alternats-tablet-list .common-radio-button::-webkit-scrollbar {
	width: 6px;
}
.product-alternate-popupwrap hr {
	border-top: 1px solid #e1e1e1;
}
.product-balance {
	color: #ff0000;
	font-size: 14px;
	line-height: 14px;
}
.sale-returnlist-accordion th, .sale-returnlist-accordion td, .sale-history-accordion th, .sale-history-accordion td, .sale-estimate-accordion th, .sale-estimate-accordion td {
	padding-right: 3px;
	padding-left: 3px;
}
.sale-history-accordion .button-primary {
	margin-left: 0;
}
.sale-history-accordion .text-box {
	height: 25px;
}
.sale-history-accordion .history-document {
	margin-bottom: 1px
}
.sale-history-accordion .history-list tr:last-child {
	border-bottom: 1px solid #e1ecea;
}
.add-drug-section .col-md-3 {
	padding-right: 5px;
	padding-left: 5px;
}
.add-drug-table table {
	width: 140%
}
.add-drug-table::-webkit-scrollbar {
	height: 6px;
	cursor: pointer;
}
.add-drug-table th, .add-drug-table td {
	padding-right: 5px;
	padding-left: 5px;
}
.drug-alphabet-search {
	margin-bottom: 10px;
}
.drug-alphabet-search .export-files {
	margin-right: 0;
	margin-top: 30px;
}
.drug-alphabet-search .form-inner-field {
	float: left;
}
.drug-database-popupwrap .drug-table table {
	border: 1px solid #ededed;
}
.drug-database-popupwrap .drug-table th {
	display: none;
}
.drug-database-popupwrap .drug-table td {
	padding-top: 5px;
	padding-bottom: 5px;
	border-right: 1px solid #ededed;
}
.drug-database-popup {
	max-width: 500px;
}
.chain-pharmacy .common-radio-button ul li {
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 8px;
}
.address-field .col-md-6 {
	padding-left: 0;
	padding-right: 10px;
}
.map-section iframe {
	border: 1px solid #dedede;
	width: 100%;
	height: 330px;
}
.weekDays-selector input {
	display: none !important;
}
.weekDays-selector input[type=checkbox] + label {
	display: inline-block;
	border-radius: 6px;
	background-color: #e3e3e3;
	color: #646464;
	font-size: 16px;
	padding: 5px 8px;
	margin-right: 5px;
	line-height: 16px;
	text-align: center;
	width: 50px;
	cursor: pointer;
	margin-bottom: 0;
	transition: all 0.5s ease-in-out;
}
.weekDays-selector input[type=checkbox]:checked + label {
	background: #22ae81;
	color: #ffffff;
}
.timing-slot .button-primary {
	margin-left: 0;
	margin-right: 10px;
}
.timing-slot .common-radio-button ul li {
	margin-left: 0;
	margin-bottom: 10px;
}
.ampm-section {
	float: left;
}
.ampm-switch {
	z-index: 1;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	margin: 0;
	cursor: pointer;
	background-color: #22ae81;
	transition: all 0.5s ease-in-out;
}
.ampm-switch:before, .ampm-switch:after {
	box-sizing: border-box;
	display: block;
	width: 40px;
	height: 20px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 20px;
	color: white;
}
.ampm-switch:before {
	content: "AM";
}
.ampm-switch:after {
	content: "PM";
}
.ampm-switch input {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: 0;
	padding: 0;
	border: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.1);
	filter: alpha(opacity=0.1);
	opacity: .001;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.ampm-switch .toggle-button {
	z-index: 2;
	display: inline-block;
	font-weight: 400;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
	width: 40px;
	height: 20px;
	background: transparent;
	box-sizing: border-box;
	background-clip: padding-box;
	white-space: nowrap;
	border: 1px solid #dee1e8;
	color: #454545;
	background-color: #dee1e8;    /*-webkit-transition: top .05s ease-in-out;
			-moz-transition: top .05s ease-in-out;
			-o-transition: top .05s ease-in-out;
			-ms-transition: top .05s ease-in-out;
			transition: top .05s ease-in-out;*/
	transition: all 0.5s ease-in-out;
	background: #fbfcfd
}
.ampm-switch input:checked + .toggle-button {
	top: 20px;
}
.ampm-switch .toggle-button:before {
	box-sizing: border-box;
	display: block;
	width: 40px;
	height: 20px;
	font-size: 12px;    /* font-weight: bold; */
	text-align: center;
	line-height: 20px;
	color: #ced1f5;
}
.ampm-switch .toggle-button:before {
	content: "AM";
}
.ampm-switch input:checked + .toggle-button:before {
	content: "PM";
}
.start-time {
	width: 60%;
	float: left;
}
.start-time .text-box {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
	height: 40px;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
}
.time-select .col-md-5 {
	padding-right: 0;
}
.time-select input:focus, textarea:focus {
	box-shadow: none;
	background-color: transparent;
	border-color: none;
}
.pharmacy-timing-list {
	border-left: 1px solid #e9e9e9;
	padding-left: 20px;
}
.pharmacy-timing-list th {
	display: none;
}
.pharmacy-timing-list tr:last-child {
	border-bottom: none;
}
.pharmacy-timing-list tr {
	border-bottom: 1px solid #e9e9e9;
}
.pharmacy-timing-list td {
	padding: 10px;
}
.pharmacy-timing-list .font-semibold {
	color: #000;
	padding-left: 0;
}
.admin-sitting-section .button-primary {
	margin-left: 0;
}
.license-section .common-radio-button ul li {
	margin-top: 0;
}
.license-section .common-radio-button ul li label {
	padding-top: 8px;
}
.license-section .common-radio-button ul li .check {
	margin-top: 8px;
}
.number-licenses .text-box {
	float: left;
}
.number-licenses .button-primary {
	padding: 9px 15px 10px 15px;
}
.upload-image {
}
.upload-image:last-child {
	margin-right: 0;
}
.upload-image .middlealign {
}
.imagePreview1, .imagePreview2, .imagePreview3, .imagePreview4, .imagePreview5 {
	border: 2px dashed #ccc;
	width: 140px;
	height: 140px;
	background-position: center center;
	background-size: cover;
	display: inline-block;
	float: left;
	cursor: pointer;
	margin-right: 20px;
	text-align: center;
	color: #636363;
	font-size: 15px;
	line-height: 15px
}
.imagePreview1 img, .imagePreview2 img, .imagePreview3 img, .imagePreview4 img, .imagePreview5 img {
	width: 100%;
}
.upload-image-section input[type="file"] {
	display: none;
}
.imagePreview1.current .middlealign, .imagePreview2.current .middlealign, .imagePreview3.current .middlealign, .imagePreview4.current .middlealign, .imagePreview4.current .middlealign {
	display: none;
}
.imagePreview1.current, .imagePreview2.current, .imagePreview3.current, .imagePreview4.current, .imagePreview5.current {
	border: none;
	border: 1px solid #000;
}
.payment-discount {
	float: left;
	width: 60px;
}
.payment-discount .text-box {
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.amount-section {
	float: left;
}
.amount-switch {
	z-index: 1;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	overflow: hidden;
	width: 60px;
	height: 35px;
	margin: 0;
	cursor: pointer;
	background-color: #22ae81;
	transition: all 0.5s ease-in-out;
}
.amount-switch:before, .amount-switch:after {
	box-sizing: border-box;
	display: block;
	width: 60px;
	height: 17.5px;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	line-height: 18px;
	color: white;
}
.amount-switch:before {
	content: "Amount";
}
.amount-switch:after {
	content: "Precent";
}
.amount-switch input {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: 0;
	padding: 0;
	border: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0.1);
	filter: alpha(opacity=0.1);
	opacity: .001;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.amount-switch .toggle-button {
	z-index: 2;
	display: inline-block;
	font-weight: 400;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
	width: 60px;
	height: 17.5px;
	background: transparent;
	box-sizing: border-box;
	background-clip: padding-box;
	white-space: nowrap;
	border: 1px solid #dee1e8;
	color: #454545;
	background-color: #dee1e8;
	transition: all 0.5s ease-in-out;
	background: #fbfcfd
}
.amount-switch input:checked + .toggle-button {
	top: 17.5px;
}
.amount-switch .toggle-button:before {
	box-sizing: border-box;
	display: block;
	width: 60px;
	height: 17.5px;
	font-size: 12px;
	text-align: center;
	line-height: 13px;
	color: #ced1f5;
}
.amount-switch .toggle-button:before {
	content: "Amount";
}
.amount-switch input:checked + .toggle-button:before {
	content: "Precent";
}
.payment-table th {
	padding-right: 5px;
	padding-left: 5px;
}
.payment-table td {
	padding: 10px 5px;
}
.otp-popupwrap {
	margin: 0 30px auto;
	padding: 20px 0;
}
.otp-popup {
	max-width: 400px !important;
}
.otp-popupwrap .button-green {
	margin-left: 0;
}
.payment-table .button-delete {
	padding-top: 9px;
	padding-bottom: 11px;
	margin-left: 0;
}
.sales-reports-header .common-radio-button {
	float: left;
	margin: 7px 0;
}
.sales-reports-with {
	width: 137px;
}
.sales-reports-header .common-radio-button ul li {
	margin-bottom: 0;
}
.sales-reports-header h4 {
	color: #000000;
	display: block;
	font-weight: 400;
	line-height: 16px;
	font-size: 16px;
}
.sales-reports-header .add-green {
	margin-top: 0;
}
.sales-reports-header .report-type .form-inner-field {
	float: left;
	margin-right: 15px;
}
.filter-list li:first-child {
	margin-left: 0;
}
.filter-list li {
	color: #505050;
	display: inline-block;
	float: left;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	margin: 6px 0px 6px 10px;
	position: relative;
	padding-right: 10px;
}
.filter-list li a {
	color: #505050;
}
.filter-list li:after {
	background-color: #505050;
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	right: 0;
	top: 0;
}
.filter-list li:last-child:after {
	display: none;
}
.filter-list .font-semibold {
	color: #000;
}
.sales-reports-table .common-checkbox input[type="checkbox"] + label:before {
	margin-right: 0;
}
.reports-tables tr:last-child {
	border-bottom: 1px solid #ededed !important;
}
.sales-reports-table .reports-tables th {
	border-right: 1px solid #cecece;
	padding: 9px 15px;
}
.sales-reports-table .reports-tables th:last-child {
	border-right: none;
}
.sales-reports-table .reports-tables td {
	border-right: 1px solid #ededed;
	padding: 9px 15px;
}
.sales-reports-table .reports-tables td:last-child {
	border-right: none;
}
.sales-reports-table .reports-tables .text-box {
	border: 1px solid #b7b7b7;
	border-radius: 0;
	height: 25px;
}
.sales-reports-table .sales-reports-footer th {
	border: none;
	background-color: #f7f7f7;
	padding: 9px 15px;
}
.sales-reports-footer {
	margin-top: 1px;
}
.sales-reports-footer .font-semibold {
	color: #000;
}
.show-per-page > div, .per-page-count > div {
	color: #505050;
	float: left;
	margin-right: 5px;
}
.show-per-page .common-dropdown {
	height: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.per-page-count .count-previous {
	border-radius: 4px;
	border: 1px solid #dedede;
	display: inline-block;
	padding: 2px 7.5px;
}
.per-page-count .count-next {
	border-radius: 4px;
	border: 1px solid #dedede;
	display: inline-block;
	padding: 2px 8.5px;
}
.per-page-count i {
	color: #000;
}
.per-page-count i.inactive {
	color: #dedede;
}
.reports-tables .sorting {
	background-image: url(../images/sorting.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.reports-tables .sorting-asc {
	background-image: url(../images/sorting-asc.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.reports-tables .sorting-desc {
	background-image: url(../images/sorting-desc.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.reports-tables .table-filter {
	background-color: #dcdcdc;
}
.reports-tables tr:first-child {
	border-top: none;
}
.reports-tables thead tr:last-child {
	border-bottom: none !important;
}
.reports-tables .table-filter td {
	border-right: 1px solid #cecece;
}
.manage-columns {
	display: inline-block;
	float: right;
	padding: 4px 0;
	position: relative;
}
.manage-columns a {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #dedede;
	color: #646464;
	position: relative;
	padding: 5px 35px 5px 35px;
}
.manage-columns .columns-dropdown {
	top: 29px;
	border-radius: 3px;
	border: 1px solid #dedede;
	display: none;
	text-align: left;
	background: #fff;
	color: #323232;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 1;
}
.manage-columns:after {
	content: "";
	background-image: url(../images/export-arrow.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 5px;
	height: 3px;
	right: 15px;
	top: 50%;
	margin-top: -1.5px;
}
.columns-dropdown li a {
	border: 0;
	display: block;
	border-radius: 0;
	font-size: 16px;
	line-height: 16px;
	padding: 8px;
	font-size: 15px;
	line-height: 15px;
}
.manage-columns a {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #dedede;
	color: #646464;
	position: relative;
	padding: 5px 35px 5px 35px;
}
.manage-columns a img {
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -6px;
}

/*sales page edit customer details*/
.customer-edit {
	position: relative;
}
.customer-edit .header-right {
	min-height: 35px;
	height: 1px;
	display: table;
	padding-left: 45px;
	position: relative;
	width: 160px;
}
.customer-edit .first-letter {
	background-color: #ff914f;
	border-radius: 100%;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	width: 35px;
	height: 35px;
	text-transform: capitalize;
	text-align: center;
	display: table;
	margin-right: 10px;
	left: 0;
	position: absolute;
	top: 0;
}
.customer-edit span {
	display: table-cell;
	vertical-align: middle;
}
.customer-edit .customer-name {
	color: #000;
	line-height: 14px;
	display: table-cell;
	vertical-align: middle;
}
.customer-edit .customer-name {
	position: relative;
}
.customer-edit .customer-name h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	margin-right: 15px !important;
	margin-bottom: 3px !important;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.customer-edit .customer-name .customer-age {
	color: #646464;
	display: block;
	font-size: 15px;
	line-height: 15px;
}
.customer-email, .customer-id, .customer-mobile {
	word-break: break-all;
}
.customer-edit .customer-image {
	display: table;
	margin-right: 10px;
	left: 0;
	position: absolute;
	top: 0;
	border-radius: 50px;
}
.customer-edit .customer-image img {
	width: 35px;
	height: 35px;
	border-radius: 50px;
}
.sale-header-right .customer-edit-setion {
	padding-bottom: 10px;
	padding-top: 10px;
}
.customer-email {
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.add-stock-popup {
	max-width: 600px;
}
.add-stock-popupwrap {
	margin: 0 30px auto;
	padding: 20px 0;
}
#myMap {
	border: 1px solid #dedede;
	width: 100%;
	height: 330px;
}
.product-list-dropdown {
	-moz-box-shadow: 0em 0.06em 0.36em 0.06em rgba(50, 50, 50, 0.12);
	-webkit-box-shadow: 0em 0.06em 0.36em 0.06em rgba(50, 50, 50, 0.12);
	box-shadow: 0em 0.06em 0.36em 0.06em rgba(50, 50, 50, 0.12);
	background-color: #fff;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 99;
}
.product-list-dropdown ul::-webkit-scrollbar {
	width: 0;
	height: 10px;
}
.product-list-dropdown ul::-webkit-scrollbar-corner {
	background-color: inherit;
}
.product-list-dropdown ul::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	min-height: 28px;
}
.product-list-dropdown ul::-webkit-scrollbar-track {
	background-color: inherit;
	border: none;
}
.product-list-dropdown ul {
	border: 1px solid #eaeaea;
	height: 250px;
	overflow-y: auto;
}
.product-list-dropdown li {
	border-bottom: 1px solid #eaeaea;
}
.product-list-dropdown li:last-child {
	border-bottom: none;
}
.product-list-dropdown li a {
	display: block;
	padding: 7px 10px;
}
.product-list-dropdown li h3 {
	color: #323232;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}
.product-list-dropdown li span {
	color: #969696;
	font-size: 12px;
	line-height: 14px;
	display: block;
}
.product-list-dropdown li:nth-child(1) {
	background-color: #fff;
}
.product-list-dropdown li:nth-child(2) {
	background-color: #d9f3fd;
}
.product-list-dropdown li:nth-child(3) {
	background-color: #fdf5d9;
}
.product-list-dropdown li:nth-child(4) {
	background-color: #fcd9ee;
}
.success-popup {
	max-width: 350px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #adaba5;
}
.success-popupwrap {
	padding: 70px 40px 25px 40px;
	position: relative;
}
.success-popupwrap h2 {
	color: #505050;
	font-size: 54px;
	line-height: 54px;
	font-weight: 400;
	margin-bottom: 15px;
}
.success-tick {
	border-radius: 50px;
	background-color: #71c341;
	color: #fff;
	position: absolute;
	top: -50px;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}
.success-tick i {
	color: #fff;
	font-size: 40px;
}
.success-ok {
	background-color: #71c341;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	padding: 10px;
	display: block;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.success-popupwrap p {
	padding: 0;
	margin-bottom: 20px;
}
.success-ok:hover, .success-ok:focus, .success-ok:active {
	color: #fff;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.global-search .form-inner-field {
	margin: 10px 15px;
}
.global-search .form-inner-field .text-box {
	padding-right: 48px;
	width: 450px;
}
.search-action {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	background-color: #969696;
	bottom: 0;
	position: absolute;
	right: 0;
	border: none;
	padding: 7px 11px;
	height: 35px;
	width: 35px;
}
.global-search-list {
	-moz-box-shadow: 0em 0.06em 0.36em 0.06em rgba(50, 50, 50, 0.12);
	-webkit-box-shadow: 0em 0.06em 0.36em 0.06em rgba(50, 50, 50, 0.12);
	box-shadow: 0em 0.06em 0.36em 0.06em rgba(50, 50, 50, 0.12);
	border: 1px solid #eaeaea;
	border-top: none;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 99;
	padding: 10px;
}
.global-search-list ul {
	height: 226px;
	overflow-y: auto;
}
.global-search-list ul::-webkit-scrollbar {
	width: 0;
	height: 10px;
}
.global-search-list ul::-webkit-scrollbar-corner {
	background-color: inherit;
}
.global-search-list ul::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	min-height: 28px;
}
.global-search-list ul::-webkit-scrollbar-track {
	background-color: inherit;
	border: none;
}
.global-search-list li {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 10px;
}
.global-search-list li a{
	display: block;
}
.global-search-list li a:hover{
	background-color: #ccc;
}
.global-search-list li:last-child {
	margin-bottom: 0;
}
.global-search-list .first-row {
	margin-bottom: 10px;
}
.global-search-list .first-row h3 {
	color: #646464;
	font-size: 14px;
	line-height: 14px;
}
.global-search-list .first-row span {
	color: #afafaf;
	font-size: 12px;
	line-height: 12px;
}
.global-search-list .second-row {
	color: #afafaf;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 12px;
}