﻿@{
    Layout = null;
}

<ng-form id="patient" name="patient">
    <div class="panel panel-default">
        <div class="panel-heading">Create Customer</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                            <input title="Phone Number" placeholder="Phone" id="phone" name="phone" required class="search-query form-control" ng-model="savePatient.mobile" maxlength="15" autofocus valid-Number>
                        </div>
                        <span class="error" ng-show="patient.phone.$dirty && patient.phone.$error.required">
                            Required!
                        </span>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input title="Patient Name" type="text" placeholder="Name" id="patientName" name="patientName" required ng-model="savePatient.name" class="search-query form-control">
                            <span class="error" ng-show="patient.patientName.$dirty && patient.patientName.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-4'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12">
                            <input type="text" id="dob" name="dob" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Date of Birth" ng-model="savePatient.dOB" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        @*<span class="error" ng-show="patient.dob.$dirty && patient.dob.$error.required">
                                Required!
                            </span>*@
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-4'>
                    <div class="btn-group btn-toggle" style="width: 100%">
                        <button title="Male" class="btn btn-primary active" style="width: 33%; text-align: left;" value="male" ng-click="savePatient.gender = 'M'" ng-init="savePatient.gender = 'M'"><span class="glyphicon glyphicon-user"></span>&nbsp;Male</button>
                        <button title="Female" class="btn btn-default" style="width: 33%; text-align: left;" value="Female" ng-click="savePatient.gender = 'F'"><span class="glyphicon glyphicon-user"></span>&nbsp;Female</button>
                    </div>
                </div>

                <div class='col-sm-4'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input title="Email Id" type="email" class="form-control required email" id="email" name="email" ng-model="savePatient.email" size="30" placeholder="Email ID" />                            
                            <span class="error" ng-show="savePatient.email.$dirty && savePatient.emaill.$invalid">
                                <span ng-show="savePatient.email.$error.email">Invalid email address.</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </span>
                            <input title="Address" class="form-control" id="Address" name="Address" size="33" type="text" placeholder="Address" ng-model="savePatient.address" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <button title="Create" class="btn btn-style pull-right" ng-disabled="!patient.$valid" ng-click="create()">
                <span class="pull-left">Create</span>
            </button>
        </div>
    </div>
</ng-form>

<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-toggle').click(function () {
            $(this).find('.btn').toggleClass('active');

            if ($(this).find('.btn-primary').size() > 0) {
                $(this).find('.btn').toggleClass('btn-primary');
            }
            if ($(this).find('.btn-danger').size() > 0) {
                $(this).find('.btn').toggleClass('btn-danger');
            }
            if ($(this).find('.btn-success').size() > 0) {
                $(this).find('.btn').toggleClass('btn-success');
            }
            if ($(this).find('.btn-info').size() > 0) {
                $(this).find('.btn').toggleClass('btn-info');
            }

            $(this).find('.btn').toggleClass('btn-default');

        });
    });
</script>
