﻿@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-body purchase-history-body">
        <div class='row'>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <p class="form-control-static font-bold">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        <strong ng-hide="patient.isEditPatient">{{patient.name}}</strong>
                        <input ng-show="patient.isEditPatient" type="text" title="Name" placeholder="Customer Name" name="name" class="form-control form-edit" required ng-model="patient.name" />
                    </p>
                </div>
            </div>
            <div class='col-sm-3'>
                <div class='form-group'>
                    <p class="form-control-static">
                        <span class="glyphicon glyphicon-phone"></span>&nbsp;
                        <strong ng-hide="patient.isEditPatient">{{patient.mobile}}</strong>
                        <input ng-show="patient.isEditPatient" type="text" title="Mobile" placeholder="Mobile" name="mobile" class="form-control form-edit" required ng-model="patient.mobile" />
                    </p>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <p class="form-control-static">
                        <span class="glyphicon glyphicon-user blue" ng-if="patient.gender == 'M'"></span>
                        <span class="glyphicon glyphicon-user pink" ng-if="patient.gender == 'F'"></span>&nbsp;
                        <strong ng-hide="patient.isEditPatient">{{patient.gender}}</strong>
                        <input ng-show="patient.isEditPatient" type="text" placeholder="Gender" title="Gender" name="gender" class="form-control form-edit" required ng-model="patient.gender" />

                        <button title="+" class="pull-right pat-info-btn" ng-click="togglePatientDetail()">+</button>
                        
                        <span ng-hide="patient.isEditPatient" style="cursor: pointer;float:right" ng-click="editPatient(patient)" class="edit-done-btn" title="Edit"><img src="~/assets/images/edit-patient.png" style="width: 73%;" /></span>
                        <span ng-show="patient.isEditPatient" style="cursor: pointer;float:right" ng-click="doneEditPatient(patient)" class="edit-done-btn" title="Done"><img src="~/assets/images/done.png" style="width: 73%;" /></span>
                    </p>
                </div>
            </div>
        </div>
        <div class='row alterRow alter-row-collapse' style="padding-top:15px">
            <div class='col-sm-4'>
                <div class='form-group'>
                    <p class="form-control-static">
                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;<strong ng-hide="patient.isEditPatient">{{patient.email}}</strong>
                        <input ng-show="patient.isEditPatient" type="text" title="Email" placeholder="Email" title="Email" name="email" class="form-control form-edit" required ng-model="patient.email" />
                    </p>
                </div>
            </div>
                  
            <div class='col-sm-3'>
                <div class='input-group  form-group'>
                    <p class="form-control-static"  ng-hide="patient.isEditPatient">
                        @*<span style="font-weight:bold;">#</span>*@<img src="~/assets/images/age.png" />&nbsp;<strong>{{patient.age}}</strong>
                        @*<input ng-show="patient.isEditPatient" type="text" placeholder="Age" name="age" class="form-control form-edit" maxlength="3" required ng-model="patient.age" valid-Number/>*@
                    </p>
                    <input ng-show="patient.isEditPatient" type="text" title="Date Of Birth" id="dob" name="dob" required class="form-control" uib-datepicker-popup="{{format}}" placeholder="Date of Birth" ng-model="patient.dob" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                    <span ng-show="patient.isEditPatient" class="input-group-btn wrapper-date">
                        <button type="button" class="btn btn-default btn1" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class='col-sm-4'>
                <div class='form-group'>
                    <p class="form-control-static"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;<strong ng-hide="patient.isEditPatient">{{patient.address}}</strong>
                        <input ng-show="patient.isEditPatient" type="text" title="Address" placeholder="Address" name="address" class="form-control form-edit" required ng-model="patient.address" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="panel-footer clearfix">
            <div class="pull-right">
                <a href="#" class="btn btn-primary">Patient History</a>
            </div>
        </div>*@
</div>
