﻿@{
    ViewBag.Title = "title";
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">CUSTOMER SEARCH</div>
    <div class="panel-body">
        <div class='row'>
            <div class='col-sm-10 col-xs-10 col-lg-4'>
                <div class='form-group'>
                    <div class="input-group">
                        <span class="input-group-addon front-addon">
                            <span class="glyphicon glyphicon-phone"></span>
                        </span>
                        <input placeholder="Mobile" id="searchPatientMobile" maxlength="15" type="text" class="search-query form-control" ng-model="patientSearchData.mobile" ng-enter="search()" autofocus valid-number>
                        <span class="input-group-btn">
                            <button title="Search" class="btn" type="button" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <a title="Create Customer" href="#/patientcreate" class="btn btn-style pull-right">
                    Create Customer
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Patient Search Section - End -->
<!-- Patient Search Result Section - start -->

<div class="panel panel-default" ng-if="list.length > 0">
    <div class="panel-body">
        <div class='row  marginLR-zero'>
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="patient in list" style="cursor:pointer;" title="Select Patient" ng-click="patientSelect(patient)">
                        <td>{{patient.name}}</td>
                        <td>{{patient.mobile}}</td>
                        <td>{{patient.email}}</td>
                        <td>{{patient.gender}}</td>
                        <td>{{patient.age}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Patient Search Result Section - End -->
<!-- Patient Information Section - start -->
