
@{
    ViewBag.Title = "Expense List";
    Layout = "_Layout";
    ViewBag.Menu = "Accounts";
}

@await Html.PartialAsync("~/Views/Payment/Menu.cshtml")

<div class="panel-body">
    <div class="pull-left">
        <a asp-action="Index" asp-controller="PettyCashDtl" class="green-line-btn">Expense</a>
        <a asp-action="List" asp-controller="PettyCash" class="btn btn-style">Expense List</a>
        <a asp-action="Index" asp-controller="PettyCash" class="green-line-btn">Expense Heads</a>
        <a asp-action="Index" asp-controller="PettyCashHdr" class="green-line-btn">Till</a>
    </div>
</div>

<div class="row" ng-app="hcue" ng-controller="pettyCashExpenseListCtrl" ng-cloak>
    <div class="panel panel-default">
        <div class="panel-heading">Expense List</div>
            <div class="panel-body">
                <div class='row'>
                    <div class="pull-left">
                        <input type="button" id="Today" ng-click="Datetype('TODAY')" class="btn btn-style" value="Today" title="Today" />
                        <input type="button" id="Week" ng-click="Datetype('Week')" class="btn btn-style" value="Week" title="This Week" />
                        <input type="button" id="Month" ng-click="Datetype('Month')" class="btn btn-style" value="Month" title="This Month" />
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date"
                                       ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate"
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                                       close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="panel-footer clearfix">
            <div class="pull-left" style="color:black;" ng-if="list.length == 0">
                No Records found
            </div>
            <div class="pull-right">
                <button title="Search" class="btn btn-style" ng-click="pettyCashSearch('ALL')">Search</button>
            </div>
        </div>
    </div>

    <!-- Vendor Search Section - End -->
    <!-- Vendor Search Result Section - start -->

    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row  marginLR-zero'>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Transaction Date</th>
                            <th>Created By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in list">
                            <td>{{item.description}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.transactionDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.hQueUser.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @*@{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }*@
        </div>
    </div>
    <!-- Vendor Search Result Section - End -->
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/appscript/appscriptdatepicker.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/pettycashservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/PettyCashExpenceListCtrl.js"></script>
}
