﻿<ul class="nav nav-tabs override_margin">
    <li class="@(ViewBag.Title == "Petty Cash" ? "active" : "")">
        <a asp-action="Index" asp-controller="PettyCash">
            Cash Management
        </a>
    </li>
    <li class="@(ViewBag.Title == "Customer Receipts" ? "active" : "")">
        <a asp-action="Index" asp-controller="CustomerReceipt">
            Customer Receipts
        </a>
    </li>
    <li class="@(ViewBag.Title == "List" ? "active" : "")">
        <a asp-action="Index" asp-controller="Payment">
            Vendor Payments
        </a>
    </li>
    <li class="@(ViewBag.Title == "History" ? "active" : "")">
        <a asp-action="History" asp-controller="Payment">
            Vendor Payment History
        </a>
    </li> 
    @*<li class="@(ViewBag.Title == "List" ? "active" : "")">
        <a asp-action="Index" asp-controller="PettyCashSettings">
            Settings
        </a>
    </li>*@
</ul>