@{
    ViewBag.Title = "Import Offline Product";
    ViewBag.Menu = "ImportOfflineProduct";
}

<form action="" method="post" enctype="multipart/form-data">

    <div class="panel panel-default">
     <div class="panel-heading">Export Data </div> 
        <input type="hidden" id="exporttype" name="exporttype" value="product" />
        <div class="panel-body">
            <div style="padding:6px 15px;"><b>Do you want to sync products to online?</b></div>
            <div style="margin: 0px 10px;padding:6px 15px;background-color:lightgray;max-width:650px;min-height:40px;font-size:12px;">
                <b>Note:</b> Before sync data, Vefiy the network connectivity.

            </div>
            <br />
            <div class='row'>
                <div class="input-group">
                    <button type="submit" class="btn btn-style">Sync</button>
                </div>
            </div>
        </div>

        @if (ViewBag.success == true && ViewBag.ExportType == "product")
            {
            <p style="color:forestgreen;font:bold;padding:0px 15px;">Product Successfully Synced to Online</p>
        }
        @if (ViewBag.success == false && ViewBag.ExportType == "product")
        {
            <p style="color:red;font:bold;padding:0px 15px;">@ViewBag.Message</p>
        }
    </div>

 
</form>


@*<form action="" method="post" enctype="multipart/form-data">

    <div class="panel panel-default">
        <input type="hidden" id="exporttype" name="exporttype" value="sales" />
        <div class="panel-body">
            <div style="padding:6px 15px;"><b>Do you want to sync missed sales item details to online?</b></div>
            <div style="margin: 0px 10px;padding:6px 15px;background-color:lightgray;max-width:650px;min-height:40px;font-size:12px;">
                <b>Note:</b> Before sync data, Vefiy the network connectivity.

            </div>
            <br />
            <div class='row'>
                <div class="input-group">
                    <button type="submit" class="btn btn-style">Sync</button>
                </div>
            </div>
        </div>
    
        @if (ViewBag.success == true && ViewBag.exportType == "sales")
        {
            <p style="color:forestgreen;font:bold;padding:0px 15px;">Sales Item Successfully Synced to Online</p>
        }
        @if (ViewBag.success == false && ViewBag.ExportType == "sales")
        {
            <p style="color:red;font:bold;padding:0px 15px;">@ViewBag.Message</p>
        }
    </div>





</form>


 <form action="" method="post" enctype="multipart/form-data">

    <div class="panel panel-default">
        <input type="hidden" id="exporttype" name="exporttype" value="purchase" />
        <div class="panel-body">
            <div style="padding:6px 15px;"><b>Do you want to sync missed purchase item details to online?</b></div>
            <div style="margin: 0px 10px;padding:6px 15px;background-color:lightgray;max-width:650px;min-height:40px;font-size:12px;">
                <b>Note:</b> Before sync data, Vefiy the network connectivity.

            </div>
            <br />
            <div class='row'>
                <div class="input-group">
                    <button type="submit" class="btn btn-style">Sync</button>
                </div>
            </div>
        </div>

        @if (ViewBag.success == true && ViewBag.ExportType == "purchase")
        {
            <p style="color:forestgreen;font:bold;padding:0px 15px;">Purchase Item Successfully Synced to Online</p>
        }
        @if (ViewBag.success == false && ViewBag.ExportType == "purchase")
        {
            <p style="color:red;font:bold;padding:0px 15px;">@ViewBag.Message</p>
        }
    </div>





</form>*@ 


@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    @*<script asp-append-version="true" src="~/appScript/ETL/appScript.js"></script>*@
    @*<script asp-append-version="true" src="~/appScript/ETL/importCtrl.js"></script>*@
    @*<script asp-append-version="true" src="~/assets/js/file-upload.js"></script>*@
}