﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
<script type="text/ng-template" id="salesUser">

    <div class="popup-overlay form-popup">

        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:50%;">

                    <div class="popup-close" data-ng-click="close('No')">
                        <i class="fa fa-times"></i>
                    </div>
                    <h3>
                        Add Sales User
                    </h3>
                    <ng-form id="salesUser" name="salesUser" novalidate>
                        <div class="reminder-popup-wrap">
                            <div class="row  form-data">
                                <div class="reminder-popup-left col-md-12 override_margin">
                                  
                                    <div class="col-md-3 input-group sell-group-decor">
                                        <label>UserName <span class="required">*</span></label>
                                        <input type="text"
                                               id="usersName"
                                               name="usersName"
                                               ng-model="user.name"
                                               maxlength="100"
                                               placeholder="User Name" ng-enter="keyEnter('password')"                                         
                                               required />
                                            <span class="error" ng-show="salesUser.usersName.$dirty && salesUser.usersName.$error.required">
                                                Required
                                            </span>
                                    </div>
                                    <div class="col-md-3 input-group sell-group-decor">
                                        <label>Password <span class="required">*</span></label>
                                       
                                            <input   maxlength="10" placeholder="Password" name="password" ng-model="user.password" ng-pattern="/^[1-9a-zA-Z][0-9a-zA-Z]*$/" required />
                                       
                                            <span ng-show="salesUser.password.$error.pattern">Zero cannot be used as first character and special characters are not allowed</span>
                                       
                                        @*<input type="text"
                                               name="password"
                                               id="password"   
                                               placeholder="Password"
                                               maxlength="10"
                                               ng-model="user.password" ng-enter="keyEnter('btnAddSalesUser')" required/>*@
                                             @*<span class="error" ng-show="salesUser.password.$dirty && salesUser.password.$error.required">
                                            Required
                                        </span>*@
                                    </div>

                                    <div class="col-md-5 input-group sell-group-decor">
                                        <div class="clearfix" style="float:left;">
                                            <label>&nbsp;</label>
                                            <button id="btnResetSalesUser" name="btnResetSalesUser" class="secondary-button pull-right" ng-click="resetSalesUser()">Reset</button>
                                            <button id="btnSalesUser" name="btnUpdateSalesUser" class="btn primary-button pull-right" ng-click="addSalesPerson('Update')" ng-show="editMode">Update</button>
                                            <button id="btnAddSalesUser" name="btnAddStockName" class="btn primary-button pull-right" ng-click="addSalesPerson('Add')" ng-show="!editMode" ng-disabled="!salesUser.$valid">Add</button>
                                           
                                        </div>
                                    </div>

                                    
                                </div>
                                
                            </div>
                            <div class="row override_margin">
                                <div class="col-md-12 override_margin">
                                    <div style=""  ng-show="salesUserList.length>0">
                                        <label class="override_margin" style="float:left;font-size:14px;max-width:350px">
                                            Ask for Sales User Password When Completing Sales
                                        </label>
                                        <span style="line-height: 25px;">
                                            <input type="checkbox" title="Enable Sales User" style="width:20px;" class="override_margin" id="isEnableSalesUser" name="isEnableSalesUser" value="isEnableSalesUser" ng-change="enableSalesUser(isEnableSalesUser)" ng-model="isEnableSalesUser" />
                                        </span>
                                    
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </ng-form>
                
                
                    <div class="col-md-12 salesperson" ng-show="salesUserList.length > 0">
                        <div class="col-md-12 input-group sell-group-decor tblHeader txtCaps">
                            @*<h3>Sales Person List</h3>*@
                            <div class="col-md-12">
                                <div class="col-md-3 no-pad">User Name</div>
                                <div class="col-md-3 no-pad">Password</div>
                                <div class="col-md-2 no-pad text-center">Status</div>
                                <div class="col-md-3 no-pad text-right">Action</div>

                            </div>
                        </div>
                        <div class="col-md-12 override_margin usersList">
                        <div class="col-md-12 input-group sell-group-decor" data-ng-repeat="list in salesUserList track by $index">
                            <div>
                                <div class="col-md-12">
                                    <div class="col-md-3 no-pad" data-ng-bind="list.name"></div>
                                    <div class="col-md-3 no-pad" data-ng-bind="list.password"></div>
                                    @*<div class="col-md-2 no-pad text-center" ng-bind="list.status==0?'Active':'InActive'"></div>*@
                                <div>
                                <select class="col-md-2 no-pad text-center"  id="isActive" name="isActive" title="Status" data-ng-model="list.status" ng-change="updateUserValuesStatus(list)" data-ng-options="v as k for (k, v) in options"  >
                                </select>
                                </div>            
                                <div class="col-md-3 no-pad text-center">
                                              <span class="col-md-1 glyphicon glyphicon-edit cross-icon pull-right" style="cursor: pointer;" title="Edit" ng-click="editSalesPerson(list,$index)">
                                              </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .primary-button,.secondary-button {
    padding: 9px 20px !important;
}
.secondary-button {
    margin-left: 10px !important;
}
.usersList{
        overflow-y: auto;
    height: 300px;

}
</style>



