@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "User Management";
}

<div class="row" ng-app="hcue" ng-controller="userManagementCreateCtrl" ng-cloak>

    <div class="panel panel-default">
        <div class="panel-heading">Add User</div>
        <div class="panel-body">
            <ng-form id="accessItems" name="accessItems">
                <div class='row'>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input title="User Name" type="text" id="userName" name="userName" placeholder="Name" class="search-query form-control" required ng-model="user.name">
                            </div>
                            <span class="error" ng-show="accessItems.userName.$dirty && accessItems.userName.$error.required">
                                Required
                            </span>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-phone"></span>
                                </span>
                                <input type="text" id="mobile" name="mobile" title="Mobile Number" maxlength="15" class="search-query form-control" placeholder="Mobile" required ng-model="user.mobile" valid-number>
                            </div>
                            <span class="error" ng-show="accessItems.mobile.$dirty && accessItems.mobile.$error.required">
                                Required
                            </span>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input title="Email Id" type="email" id="emailId" name="emailId" placeholder="Email" class="search-query form-control" required ng-model="user.userId">
                            </div>
                            <span class="error" ng-show="accessItems.emailId.$dirty && accessItems.emailId.$error.required">
                                Required
                            </span>
                            <span class="error" ng-show="accessItems.emailId.$error.email">Invalid email address.</span>
                        </div>
                    </div>

                    <div class='col-sm-12 pull-left'>
                        <div class='form-group'>
                            <label style="display:block;">Set Access Permission</label>
                            <div class="btn-group">
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Admin)" ng-model="checkAccessModel.Admin" uib-btn-checkbox=""><span class="glyphicon glyphicon-user"></span> Admin</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Sell)" ng-model="checkAccessModel.Sell" uib-btn-checkbox=""><img src="/assets/images/sell.png" class="nav-image width16"> Sell</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.SellEdit)" ng-model="checkAccessModel.SellEdit" uib-btn-checkbox=""><img src="/assets/images/sell.png" class="nav-image width16"> Sell Edit</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.SellCancel)" ng-model="checkAccessModel.SellCancel" uib-btn-checkbox=""><img src="/assets/images/sell.png" class="nav-image width16"> Sell Cancel</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Estimate)" ng-model="checkAccessModel.Estimate" uib-btn-checkbox=""><img src="/assets/images/sell.png" class="nav-image width16"> Estimate</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.EstimateEdit)" ng-model="checkAccessModel.EstimateEdit" uib-btn-checkbox=""><img src="/assets/images/sell.png" class="nav-image width16"> Estimate Edit</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Buy)" ng-model="checkAccessModel.Buy" uib-btn-checkbox=""><img src="/assets/images/buy.png" class="nav-image width16"> Buy</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Leads)" ng-model="checkAccessModel.Leads" uib-btn-checkbox=""><img src="/assets/images/leads.png" class="nav-image width16"> Leads</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Order)" ng-model="checkAccessModel.Order" uib-btn-checkbox=""><img src="/assets/images/order.png" class="nav-image width16"> Order</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Profile)" ng-model="checkAccessModel.Profile" uib-btn-checkbox=""><img src="/assets/images/profile-icon.png" class="nav-image width16"> Profile</label>                                
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Inventory)" ng-model="checkAccessModel.Inventory" uib-btn-checkbox=""><img src="/assets/images/inventory-icon.png" class="nav-image width16"> Inventory</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Reports)" ng-model="checkAccessModel.Reports" uib-btn-checkbox=""><img src="/assets/images/reports.png" class="nav-image width16"> Reports</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Branch)" ng-model="checkAccessModel.Branch" uib-btn-checkbox=""><img src="/assets/images/branch.png" class="nav-image width16"> Branch</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Accounts)" ng-model="checkAccessModel.Accounts" uib-btn-checkbox=""><img src="~/assets/images/petty-cash.png" class="nav-image width16"> Accounts</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.UserManagement)" ng-model="checkAccessModel.UserManagement" uib-btn-checkbox=""><img src="~/assets/images/user-management.png" class="nav-image width16"> User Management</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.EditMrp)" ng-model="checkAccessModel.EditMrp" uib-btn-checkbox=""><img src="~/assets/images/user-management.png" class="nav-image width16"> Edit MRP</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.PurchaseEdit)" ng-model="checkAccessModel.PurchaseEdit" uib-btn-checkbox=""><img src="~/assets/images/user-management.png" class="nav-image width16"> Purchase Edit</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.PurchaseCancel)" ng-model="checkAccessModel.PurchaseCancel" uib-btn-checkbox=""><img src="~/assets/images/user-management.png" class="nav-image width16"> Purchase Cancel</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.StockTransfer)" ng-model="checkAccessModel.StockTransfer" uib-btn-checkbox=""><img src="~/assets/images/Transfer_icon.png" class="nav-image width16"> Transfer</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.BillDateEdit)" ng-model="checkAccessModel.BillDateEdit" uib-btn-checkbox=""> Edit Sale Billdate</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Dashboard)" ng-model="checkAccessModel.Dashboard" uib-btn-checkbox=""> Dashboard </label>
				                <label class="btn btn-primary access-checkbox" ng-model="checkAccessModel.addNewProduct" uib-btn-checkbox="">Add New Product</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.SalesTempStock)" ng-model="checkAccessModel.SalesTempStock" uib-btn-checkbox="">Temp Stock</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.StockAdjustMent)" ng-model="checkAccessModel.StockAdjustMent" uib-btn-checkbox="">Stock AdjustMent</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.VendorProfile)" ng-model="checkAccessModel.VendorProfile" uib-btn-checkbox="">Vendor</label>
                                <label class="btn btn-primary access-checkbox" ng-click="updateAccess(checkAccessModel.Settings)" ng-model="checkAccessModel.Settings" uib-btn-checkbox="">
                                All Settings</label> 
                            </div>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>
        <div class="panel-footer clearfix">
          @if (User.HasPermission(UserAccess.Admin) && (ViewBag.Config.AppConfig.OfflineMode || User.OfflineInstalled() == "False"))
          {
            <div class="pull-left">
                
                <button type="button" class="green-line-btn" ng-click="showSalesUserPopup()"> Add Sales User</button>
            </div>
          }
            <div class="pull-right">
                <button title="Create" class="btn btn-style" ng-disabled="!accessItems.$valid || validAccess <= 0" ng-click="create()">Create</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            User List
                <span style="margin-left:30px;">Total Users: {{userList.length}}</span>
                <div style="font-weight:bold;margin-right:5px;" class="pull-right">To reflect the changes please Logout and Login</div>

</div>
        <div class="panel-body">            
            <div class="row">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center"><span class="glyphicon glyphicon-minus-sign"></span></th>
                            <th class="text-center">User Name</th>
                            <th class="text-center">Mobile</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Access Rights</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in userList" ng-form="editPurchaseItems">
                            <td class="text-center">
                                <span style="cursor: pointer;" title="Update Access Permission" ng-click="update(user)" class="edit-done-btn"><img src="~/assets/images/done.png" style="width: 100%;" /></span>
                            </td>
                            <td class="text-center">
                                <span ng-model="user.id">{{user.name}}</span>
                                &nbsp;
                                <span ng-if="user.instanceId == null" style="font-weight:bold;font-size:large;text-transform:uppercase;">Admin</span>
                            </td>
                            <td class="text-center">
                                <span>{{user.mobile}}</span>
                            </td>
                            <td class="text-center">
                                <span>{{user.userId}}</span>
                            </td>
                            <td class="text-center" width="150px">
                                <select class="form-control" ng-model="user.status" convert-to-number>
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                </select>
                            </td>
                            <td class="text-left">
                                <label class="btn btn-primary" ng-model="user.Admin" uib-btn-checkbox ng-show="user.instanceId == null"><span class="glyphicon glyphicon-user"></span> Admin</label>
                                <label class="btn btn-primary" ng-model="user.Sell" uib-btn-checkbox><img src="/assets/images/sell.png" class="nav-image">Sell</label>
                                <label class="btn btn-primary" ng-model="user.SellEdit" uib-btn-checkbox><img src="/assets/images/sell.png" class="nav-image">Sell Edit</label>
                                <label class="btn btn-primary" ng-model="user.SellCancel" uib-btn-checkbox><img src="/assets/images/sell.png" class="nav-image">Sell Cancel</label>
                                <label class="btn btn-primary" ng-model="user.Estimate" uib-btn-checkbox=""><img src="/assets/images/sell.png" class="nav-image width16"> Estimate</label>
                                <label class="btn btn-primary" ng-model="user.EstimateEdit" uib-btn-checkbox=""><img src="/assets/images/sell.png" class="nav-image width16"> Estimate Edit</label>
                                <label class="btn btn-primary" ng-model="user.Buy" uib-btn-checkbox><img src="/assets/images/buy.png" class="nav-image">Buy</label>
                                <label class="btn btn-primary" ng-model="user.Leads" uib-btn-checkbox><img src="/assets/images/leads.png" class="nav-image">Leads</label>
                                <label class="btn btn-primary" ng-model="user.Order" uib-btn-checkbox><img src="/assets/images/order.png" class="nav-image">Order</label>
                                <label class="btn btn-primary" ng-model="user.Profile" uib-btn-checkbox><img src="/assets/images/profile-icon.png" class="nav-image">Profile</label>                                
                                <label class="btn btn-primary" ng-model="user.Inventory" uib-btn-checkbox><img src="/assets/images/inventory-icon.png" class="nav-image">Inventory</label>
                                <label class="btn btn-primary" ng-model="user.Reports" uib-btn-checkbox><img src="/assets/images/reports.png" class="nav-image">Reports</label>
                                <label class="btn btn-primary" ng-model="user.Branch" uib-btn-checkbox><img src="/assets/images/branch.png" class="nav-image">Branch</label>
                                <label class="btn btn-primary" ng-model="user.Accounts" uib-btn-checkbox><img src="~/assets/images/petty-cash.png" class="nav-image">Accounts</label>
                                <label class="btn btn-primary" ng-model="user.UserManagement" uib-btn-checkbox><img src="~/assets/images/user-management.png" class="nav-image">User Management</label>
                                <label class="btn btn-primary" ng-model="user.EditMrp" uib-btn-checkbox><img src="~/assets/images/user-management.png" class="nav-image">Edit MRP</label>
                                <label class="btn btn-primary" ng-model="user.PurchaseEdit" uib-btn-checkbox><img src="~/assets/images/user-management.png" class="nav-image">Purchase Edit</label>
                                <label class="btn btn-primary" ng-model="user.PurchaseCancel" uib-btn-checkbox><img src="~/assets/images/user-management.png" class="nav-image">Purchase Cancel</label>
                                <label class="btn btn-primary" ng-model="user.StockTransfer" uib-btn-checkbox><img src="~/assets/images/Transfer_icon.png" class="nav-image">Transfer</label>
                                <label class="btn btn-primary" ng-model="user.BillDateEdit" uib-btn-checkbox>Edit Sale Billdate</label>
                                
                                <label class="btn btn-primary" ng-model="user.Dashboard" uib-btn-checkbox>Dashboard</label>
                    			<label class="btn btn-primary" ng-model="user.addNewProduct" uib-btn-checkbox>Add New Product</label>
                                <label class="btn btn-primary" ng-model="user.SalesTempStock" uib-btn-checkbox>Temp Stock</label>
                                <label class="btn btn-primary" ng-model="user.StockAdjustMent" uib-btn-checkbox>StockAdjustMent</label> 
                                <label class="btn btn-primary" ng-model="user.VendorProfile" uib-btn-checkbox>Vendor</label>
                                <label class="btn btn-primary" ng-model="user.Settings" uib-btn-checkbox>All Settings</label>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>

    @{
        await Html.RenderPartialAsync("_SalesUsers");
    }
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    @*<script asp-append-version="true" src="~/lib/angular-animate/angular-animate.min.js"></script>*@
    @*<script asp-append-version="true" src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>*@

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/usermanagement/usermanagementappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/usermanagement/usermanagementservice.js"></script>
    <script asp-append-version="true" src="~/appscript/usermanagement/usermanagementcreatectrl.js"></script>
    <script asp-append-version="true" src="~/appscript/usermanagement/salesUserCtrl.js"></script>

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />

}
