@{
    ViewBag.Title = "Customer Receipts";
    ViewBag.Menu = "Accounts";
}

@await Html.PartialAsync("~/Views/Payment/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="customerReceiptSearchCtrl " ng-cloak>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-12 pull-left trim-left'>
                    <div class='form-group col-sm-12'>
                        <div class="input-group col-sm-2 pull-left trim-left">
                            <label>Customer Name</label>
                            <select chosen
                                    title="Vendor Name"
                                    option="vendorList"
                                    data-placeholder="Select Vendor"
                                    ng-model="selectedVendor"
                                    ng-options="option.name for option in vendorList track by option.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2 input-group sell-group-decor">
                            <label>Mobile No.</label>
                            <input placeholder="Mobile" id="searchPatientMobile" maxlength="15" type="text" class="search-query form-control" ng-keyup="keyEnter($event,'drugName')" ng-model="patientSearchData.mobile" ng-change="cashCreditType()" ng-enter="search()" valid-number>
                        </div>
                        <div class='col-md-1 input-group sell-group-decor'>
                            <label class='col-md-12'>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <button title="Search" class="btn btn-style" type="button" ng-click="vendorSearch()">
                                SEARCH
                            </button>
                        </div>
                        <div class="col-md-2 input-group sell-group-decor txtCaps">
                            <label>Amount Received</label>
                            <input placeholder="Enter Amount" id="enterAmount" maxlength="50" type="text" class="form-control" ng-keyup="keyEnter($event,'searchPatientMobile')" ng-model="patientSearchData.name" ng-change="cashCreditType()">
                        </div>
                        <div class="col-md-2 input-group sell-group-decor">
                            <label>Payment Type</label>
                            <select id="paymentType" name="paymentType" chosen title="Payment Type" placeholder="Payment Type" ng-model="search.select" ng-change="changefilters()" class="form-control" required>
                                <option value="">Please Select</option>
                                <option value="cheque">Cheque</option>
                                <option value="credit">Credit</option>
                                <option value="debit">Cash</option>
                            </select>
                        </div>
                        <div class="col-md-2 input-group sell-group-decor">
                            <label>Remarks</label>
                            <input placeholder="Enter Remarks" id="searchPatientMobile" maxlength="15" type="text" class="search-query form-control" ng-keyup="keyEnter($event,'drugName')" ng-model="patientSearchData.mobile" ng-change="cashCreditType()" ng-enter="search()" valid-number>
                        </div>
                        <div class='col-md-1 input-group sell-group-decor'>
                            <label class='col-md-12'>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <button title="Search" style="background-color:#F57105" class="btn btn-style" type="button" ng-click="search()">
                                SUBMIT
                            </button>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <div class='row'>
                        @*<div class="pull-left" ng-if="list.length == 0">
                                No Records found
                            </div>*@
                        <div class="chip-style">
                            <span class="col-sm-12 pull-left">
                                <span class="col-sm-1 pull-left">
                                    <strong class="orange-text payment-color" title="Invoice No"></strong>
                                </span>
                                <span class="col-sm-3 pull-left invoice-number">
                                    <strong class="orange-text payment-color" title="Invoice No">Name</strong>
                                </span>
                                <span class="col-sm-3 pull-left invoice-details">
                                    <span title="Invoice Date" class="invoice-date payment-color"><strong>Mobile</strong></span>
                                </span>
                                    <span class="col-sm-3 pull-left invoice-details">
                                        <span title="Total" class="payment-price payment-color"><strong>Balance</strong></span>
                                    </span>
                                <span class="col-sm-2 pull-left invoice-details">
                                    <span title="Total" class="payment-price payment-color"><strong></strong></span>
                                </span>
                            </span>
                        </div>
                        <div ng-repeat="sales in list">
                            <div class="chip-style">
                                <span class="col-sm-12 pull-left">
                                    <span class="col-sm-1 pull-left">
                                        <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                    </span>
                                    <span class="col-sm-3 pull-left invoice-number">
                                        <strong class="orange-text" title="Invoice No"> {{sales.name}}</strong>
                                    </span>
                                    <span class="col-sm-3 pull-left invoice-details">
                                        <span title="Invoice Date" class="invoice-date">{{sales.mobile }}</span>
                                    </span>
                                        <span class="col-sm-3 pull-left invoice-details">
                                            <span title="Total" class="payment-price"><i class="fa fa-rupee" title="Total"></i> {{sales.credit - sales.debit}}</span>
                                        </span>
                                    <span class="col-sm-2 pull-left invoice-details">
                                        <button class="btn btn-default btn1">View Details</button>
                                    </span>

                                </span>
                            </div>

                            <div class="chips-wrapper" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Amount</th>
                                            <th>Payment Type</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left" ng-form="paymentValid">
                                            <td>
                                                <input id="amount" name="amount" type="text" placeholder="Amount" required ng-model="paymentData.payment.debit" valid-number>
                                                <span class="error" ng-show="paymentValid.amount.$dirty && paymentValid.amount.$error.required">Required</span>
                                                <span class="error" ng-if="paymentData.payment.debit > (paymentData.credit - paymentData.debit)" ng-message="required">Balance is exceeded</span>
                                            </td>
                                            <td width="400px">
                                                <div class="col-sm-12 pull-left trim-left">
                                                    <label class="radio pull-left trim-left" style="margin-top: 0px;">
                                                        <input title="Cash" type="radio" value="Cash" name="paymentType_{{$index}}" ng-click="editPayment(paymentData.payment, false)" ng-model="paymentData.payment.paymentType" />
                                                        <span for="cash" class="dollar rupee" title="Cash"></span> &nbsp;Cash
                                                    </label>
                                                    <label></label>
                                                    <label class="radio pull-left" style="margin-top: 0px;">
                                                        <input title="Cheque" type="radio" value="Cheque" ng-click="editPayment(paymentData.payment, true)" name="paymentType_{{$index}}" ng-model="paymentData.payment.paymentType" />
                                                        <span for="cheque" class="dollar cheque" title="Cheque"></span> &nbsp;Cheque
                                                    </label>
                                                </div>
                                                <div class="col-sm-12 pull-left">
                                                    <div class="col-sm-5 pull-left">
                                                        <input id="chequeNo" class="form-control " ng-show="paymentData.payment.isEdit" name="chequeNo" type="text" placeholder="Cheque No" ng-model="paymentData.payment.chequeNo">
                                                    </div>
                                                    <div class="input-group col-sm-5 pull-left">
                                                        <input id="chequeDate" class="form-control col-sm-5 pull-left" ng-show="paymentData.payment.isEdit" name="chequeDate" type="text" placeholder="Cheque Date" ng-model="paymentData.payment.chequeDate" uib-datepicker-popup="{{format}}" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                                        <span class="input-group-btn wrapper-date" ng-show="paymentData.payment.isEdit">
                                                            <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <textarea id="remarks" name="remarks" type="text" placeholder="Remarks" required ng-model="paymentData.payment.remarks"></textarea>
                                                @*<input id="remarks" name="remarks" type="text" placeholder="Remarks" required ng-model="paymentData.payment.remarks">*@
                                                <span class="error" ng-show="paymentValid.remarks.$dirty && paymentValid.remarks.$error.required">Required</span>
                                            </td>
                                            <td><button title="Save" class="btn btn-style" ng-disabled="!paymentValid.$valid || paymentData.payment.debit > (paymentData.credit - paymentData.debit)" ng-click="savePayment(paymentData.payment)">Save</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>   
   
<script asp-append-version="true" src="~/appScript/accounts/customerreceipt/customerreceiptservice.js"></script>
<script asp-append-version="true" src="~/appscript/accounts/customerreceipt/customerreceiptsearchctrl.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}

