@{
    ViewBag.Title = "Customer Receipts";
    ViewBag.Menu = "Accounts";
}

@await Html.PartialAsync("~/Views/Payment/Menu.cshtml")

<div class="row panelBorder paymentList" ng-app="hcue" ng-controller="customerDetailsReceiptCtrl" ng-cloak>
    <div ng-init="init('@ViewBag.PatientId')"></div>
    <div class="panel panel-default" style="margin-top: 15px;border-radius: 4px;">
        <div class="panel-body" style="padding: 7px 10px 12px;">
            <div class='row'>
                <div class='col-sm-12 pull-left trim-left override_margin'>
                    <div class='form-group col-sm-12 override_margin'>


                        <div class="col-md-2 input-group sell-group-decor txtCaps">
                            <label>Amount Received</label>
                            <input placeholder="Enter Amount" name="AmtRecieved" id="enterAmount" maxlength="10" type="text" class="form-control" ng-keyup="keyEnter($event,'searchPatientMobile')" ng-enter="focusNextField('paymentType')" ng-model="paymentData.amount" ng-change="amountReceived(paymentData.amount)" valid-number required ng-disabled="list.customerPayments.length==0"/>

                            <span class="error" ng-show="customerPaymentform.AmtRecieved.$touched && customerPaymentform.AmtRecieved.$invalid">Required</span>
                            <span class="error override_margin" ng-show="getTotalDue() > unHoldTotalDue">amount should be less than total due {{(unHoldTotalDue-returnTotalAmt) | number:2}}</span>
                            <span class="override_margin font-size-small" ng-hide="getTotalDue() > unHoldTotalDue">Max </span>
                            <span class="fa fa-rupee override_margin font-size-small" ng-hide="getTotalDue() > unHoldTotalDue">{{(unHoldTotalDue-returnTotalAmt) | number:2}} can be entered</span>
                        
                        </div>

                        <form name="customerPaymentform" id="customerPaymentform" novalidate>               
                            <div class="col-md-2 input-group sell-group-decor" ng-init="paymentData.paymentType ='Cash'">
                                <label>Payment Type</label>
                                <select id="paymentType" name="paymentType" placeholder="Payment Type" ng-model="paymentData.paymentType" ng-change="changefilters()" class="form-control" required ng-disabled="paymentData.amount == '' || paymentData.amount == null || paymentData.amount == undefined">
                                    <option value="Cheque">Cheque</option>
                                    <option value="Card">Card</option>
                                    <option value="Cash">Cash</option>
                                </select>
                            </div>
                            <div class="col-md-2 input-group sell-group-decor" ng-if="paymentData.paymentType =='Cheque'">
                                <label>Cheque No</label>

                                <input placeholder="Cheque Number" ng-enter="focusNextField('chequedate')" name="chequenumber" maxlength="10" type="text" class="search-query form-control" ng-model="paymentData.chequeNo" numbers-only valid-number required />

                                <span class="error" ng-show="customerPaymentform.chequenumber.$error.required">Required</span>
                              


                            </div>
                            <div class="col-md-2 input-group sell-group-decor" ng-if="paymentData.paymentType =='Cheque'">
                                <label>Cheque Date</label>
                                <div class="form-group">
                                    <div class="input-group">

                                        <input type="text" name="chequedate" id="chequedate" class="form-control" uib-datepicker-popup="dd/MM/yyyy" placeholder="Cheque Date" ng-model="paymentData.chequeDate" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" my-date="" required readonly ng-enter="focusNextField('remarks')" />


                                        <span class="input-group-btn wrapper-date">
                                            <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="error" ng-show="customerPaymentform.chequedate.$touched && customerPaymentform.chequedate.$invalid">Required</span>
                                </div>
                            </div>

                            <div class="col-md-2 input-group sell-group-decor" ng-if="paymentData.paymentType =='Card'">
                                <label>Card No</label>


                                <input placeholder="Card Number" type="text" ng-enter="focusNextField('cardDate')" name="cardnno" class="search-query form-control" ng-model="paymentData.cardNo" maxlength="19" numbers-only valid-number required />


                                <span class="error" ng-show="customerPaymentform.cardnno.$error.required">Required</span>
                   



                            </div>
                            <div class="col-md-2 input-group sell-group-decor" ng-if="paymentData.paymentType =='Card'">
                                <label>Card Date</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="cardDate" name="carddate" uib-datepicker-popup="MM/yy" placeholder="MM/YY" ng-model="paymentData.cardDate" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" my-date="" required min-date="minDate" readonly ng-enter="focusNextField('remarks')" />

                                        <span class="input-group-btn wrapper-date">
                                            <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>


                                    <span class="error" ng-show="customerPaymentform.carddate.$touched && customerPaymentform.carddate.$invalid">Required</span>


                                </div>
                            </div>

                            <div class="col-md-2 input-group sell-group-decor">
                                <label>Remarks</label>
                                <input placeholder="Enter Remarks" name="remarks" id="remarks" ng-enter="focusNextField('btnSubmit')" maxlength="15" type="text" class="search-query form-control" ng-keyup="keyEnter($event,'drugName')" ng-model="paymentData.remarks" ng-change="cashCreditType()" />
                            </div>
                            <div class='col-md-1 input-group sell-group-decor'>
                                <label class='col-md-12'>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <button title="Search" style="background-color:#F57105" id="btnSubmit" ng-disabled="(customerPaymentform.$invalid || getTotalDue() > unHoldTotalDue || Disablesubmit) && !settleAdjustment" class="btn btn-style" type="button" ng-click="savePayments(list.customerPayments)">
                                    SUBMIT
                                </button>
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div>
        <span class="col-sm-12  override_margin pull-left">
            <span class="col-sm-4 override_margin">

                <strong>
                    <span style="color:#6E6E6E">
                        Customer Name :
                    </span> <span class="txtUpper">
                        {{name}}
                    </span>
                </strong>
            </span>
            <span class="col-sm-4 override_margin">

                <strong>
                    <span style="color:#6E6E6E">
                        Mobile No:
                    </span>
                    <span ng-hide="mobile == ''">
                        +91 {{mobile}}
                    </span>
                </strong>

            </span>
            <span class="col-sm-4 override_margin">

                <strong>
                    <span style="color:#6E6E6E">
                        Total Due:
                    </span><i class="fa fa-rupee" title="Total"></i><span style="font-size:18px;">{{totalDue | number:2}}</span> 
                </strong>

            </span>
        </span>
    </div>
    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper" style="padding: 4px;">
                    <div class='row'>

                        <div class="row tblHeader">
                            <span class="col-sm-12 pull-left">

                                <span class="col-sm-1 col-sm-offset-1 pull-left invoice-number">
                                    <span class="orange-text payment-color" title="Invoice No"><strong>Bill No.</strong></span>
                                </span>
                                <span class="col-sm-1 pull-left invoice-details">
                                    <span title="Invoice Date" class="invoice-date payment-color"><strong>Bill Date</strong></span>
                                </span>
                                <span class="col-sm-2 invoice-details text-center">
                                    <span style="width:100%;margin-left:26%;"><strong>Bill Amount</strong></span>
                                </span>

                                <span class="col-sm-2 pull-left invoice-details">
                                    <span class="payment-price payment-color text-right" style="width:100%;"><strong>TotalPaid</strong></span>
                                </span>

                                <span class="col-sm-2 pull-left invoice-details">
                                    <span class="payment-price payment-color text-right" style="width:100%;"> <strong>Due</strong></span>
                                </span>


                                <span class="col-sm-2 pull-left invoice-details">
                                    <span class="payment-price payment-color text-left" style="width:100%;"><strong>Paying Amt</strong></span>
                                </span>
                                <span class="col-sm-1 pull-left invoice-details" style="padding-left:0px;">
                                    <span title="Total" class="payment-price payment-color"><strong>Hold</strong></span>

                                </span>
                            </span>

                        </div>

                        <div ng-repeat="customerPayment in list.customerPayments">
                            <div class="chip-style">
                                <span class="col-sm-12 pull-left">
                                    <span class="col-sm-1 pull-left">
                                        <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                    </span>
                                    <span class="col-sm-1 pull-left invoice-number">
                                        <strong class="orange-text" title="Invoice Series">{{customerPayment.invoiceSeries}} </strong>   <strong class="orange-text" title="Invoice No"> {{customerPayment.invoiceNo}}</strong>
                                    </span>
                                    <span class="col-sm-1 pull-left invoice-details">
                                        <span title="Invoice Date" class="invoice-date">{{customerPayment.invoiceDate | date:'dd/MM/yyyy'  }}</span>
                                    </span>
                                    <span class="col-sm-2 pull-left invoice-details">
                                        <span class="invoice-date text-right" style="width:100%;"><i class="fa fa-rupee" title="Total"></i> {{customerPayment.invoiceAmount |number:2 }}</span>
                                    </span>


                                    <span class="col-sm-2 pull-left invoice-details">
                                        <span class="payment-price text-right" style="width:100%;"><i class="fa fa-rupee" title="Total"></i> {{(customerPayment.invoiceAmount) - (customerPayment.credit-customerPayment.debit) | number:2}}</span>
                                    </span>

                                    <span class="col-sm-2 pull-left invoice-details">
                                        <span class="payment-price text-right" style="width:100%;"><i class="fa fa-rupee" title="Total"></i> {{(customerPayment.credit-customerPayment.debit)  | number:2}}</span>
                                    </span>



                                    <span class="col-sm-2">
                                        <input id="amount" name="amount" type="text" placeholder="Amount" ng-model="customerPayment.paymentAmount | number:2" valid-number disabled style="width:60%;" class="text-right" />
                                        <span ng-show="showError[$index]" style="color:red;">Amount Exceed</span>
                                    </span>

                                    <span class="col-sm-1">
                                        <input type="checkbox" ng-model="customerPayment.hold" ng-change="recalculateDue()">

                                    </span>

                                </span>
                            </div>

                            <div class="chips-wrapper" style="overflow: hidden; display: none;" ng-hide="(customerPayment.invoiceAmount) == (customerPayment.credit-customerPayment.debit)" id="chip-wrapper{{$index}}">
                                <table class="table payment-tbl">
                                    <thead>
                                        <tr class="col-md-12">
                                            <th></th>
                                            <th class="col-md-3">Payment Date</th>
                                            <th class="col-md-3">Amount Paid</th>
                                            <th class="col-md-3">Payment Type</th>
                                            <th class="col-md-3">Cheque Number</th>
                                            <th class="col-md-3">Cheque Date</th>



                                            <th class="col-md-3">Card Number</th>
                                            <th class="col-md-3">Card Date</th>



                                            <th class="col-md-3">Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="col-md-12" ng-repeat="item in customerPayment.customerPaymentList"
                                            ng-hide="(customerPayment.invoiceAmount) == (customerPayment.credit - item.debit)">

                                            <td>
                                                <span style="cursor: pointer;" title="Update" class="edit-done-btn" ng-click="updateCustomerPayment(item)"><img src="~/assets/images/done.png" width="25px;" /></span>
                                            </td>

                                            <td class="col-md-3">{{item.createdAt | date:'dd/MM/yyyy'}}</td>

                                            <td class="col-md-3" ng-if="$index!=0">
                                                <input placeholder="Enter Amount" ng-model="item.debitNew" maxlength="10" ng-change="validateUpdatePayment(item)" type="text" class="form-control" valid-number required />
                                            </td>

                                            <td class="col-md-3" ng-if="$index==0">{{ (customerPayment.invoiceAmount) - (customerPayment.credit - item.debit) | number:2}}</td>



                                            <td class="col-md-3" ng-if="item.paymentType == ''">cash</td>
                                            <td class="col-md-3" ng-if="item.paymentType != ''">{{item.paymentType}}</td>


                                            <td class="col-md-3"> <span ng-hide="item.chequeNo == ''">{{item.chequeNo}}</span></td>
                                            <td class="col-md-3"> <span ng-hide="item.chequeNo == ''">{{item.chequeDate | date:'dd/MM/yyyy'}}</span> </td>



                                            <td class="col-md-3"> <span ng-hide="item.cardNo == ''">{{item.cardNo}}</span></td>
                                            <td class="col-md-3"> <span ng-hide="item.cardNo == ''">{{item.cardDate | date:'MM/yyyy'}}</span> </td>


                                            <td class="col-md-3">{{item.remarks}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class='row'> 
                <div class="col-md-6 text-right">
                    <h4>Return Details</h4>
                </div>               
                <div class="col-md-5 total-margin text-center">
                    <strong>
                        <span style="color:#6E6E6E">
                            Total Balance:
                        </span><i class="fa fa-rupee" title="Total"></i><span style="font-size:18px;">{{getTotalBalance() | number:2}}</span>
                    </strong>
                </div>
                
            </div>
                <div class="panel">
                    <div class="panel-body orange-border-top list-wrapper" style="padding: 4px;">
                        <div class='row'>

                            <div class="row tblHeader">
                                <span class="col-sm-12 pull-left">

                                    <span class="col-sm-2 col-sm-offset-1 pull-left invoice-number">
                                        <span class="orange-text payment-color" title="Return No"><strong>Return No</strong></span>
                                    </span>
                                    <span class="col-sm-2 pull-left invoice-details override_margin">
                                        <span title="Return Date" class="invoice-date payment-color"><strong>Return Date</strong></span>
                                    </span>
                                    <span class="col-sm-2 invoice-details text-center override_margin">
                                        <span title="Return Amount"><strong>Return Amount</strong></span>
                                    </span>
                                    <span class="col-sm-2 invoice-details text-center override_margin">
                                        <span title="Adjusted Amount"><strong>Adjusted Amount</strong></span>
                                    </span>
                                    <span class="col-sm-2 invoice-details text-center override_margin">
                                        <span title="Balance Amount"><strong>Balance Amount</strong></span>
                                    </span>
                                    @*<span class="col-sm-1 pull-left invoice-details override_margin text-center" ng-hide="list.customerPayments.length==0">
                                        <span title="Adjust" class="payment-price payment-color"><strong>Adjust</strong></span>
                                    </span>
                                    <span class="col-sm-1 pull-left invoice-details override_margin text-center" ng-show="list.customerPayments.length==0">
                                        <span title="Settle" class="payment-price payment-color"><strong>Settle</strong></span>
                                    </span>*@
                                    <span class="col-sm-1 pull-left invoice-details override_margin text-center">
                                        <span title="Adjust" class="payment-price payment-color"><strong>Adjust</strong></span>
                                    </span>
                                </span>

                            </div>

                            <div ng-repeat="voucher in list.voucherList">
                                <div class="chip-style">
                                    <span class="col-sm-12 pull-left">

                                        <span class="col-sm-2 col-sm-offset-1 pull-left invoice-number">
                                            <strong class="orange-text" title="Invoice Series">{{voucher.invoiceSeries}}</strong> <strong class="orange-text" title="Return No">{{voucher.returnNo}}</strong>
                                        </span>
                                        <span class="col-sm-2 pull-left invoice-details override_margin">
                                            <span title="Invoice Date" class="invoice-date">{{voucher.returnDate | date:'dd/MM/yyyy'  }}</span>
                                        </span>
                                        <span class="col-sm-2 pull-left invoice-details override_margin">
                                            <span class="invoice-date text-right"><i class="fa fa-rupee" title="Total"></i> {{voucher.originalAmount | number:2 }}</span>
                                        </span>
                                        <span class="col-sm-2 pull-left invoice-details override_margin">
                                            <span class="invoice-date text-right"><i class="fa fa-rupee" title="Total"></i> {{voucher.originalAmount - voucher.amount | number:2 }}</span>
                                        </span>
                                        <span class="col-sm-2 pull-left invoice-details override_margin">
                                            <span class="invoice-date text-right"><i class="fa fa-rupee" title="Total"></i> {{voucher.amount | number:2 }}</span>
                                        </span>
                                        @*<span class="col-sm-1 pull-left invoice-details override_margin text-center" ng-hide="list.customerPayments.length==0">
                                            <input type="checkbox" ng-model="voucher.adjust" ng-change="CheckDueToAdjust($index)">
                                        </span>
                                        <span class="col-sm-1 pull-left invoice-details override_margin text-center" ng-show="list.customerPayments.length==0">
                                            <input type="checkbox" ng-model="voucher.settle" ng-change="settleBalanceAmount()">
                                        </span>*@
                                        <span class="col-sm-1 pull-left invoice-details override_margin text-center">
                                            <input type="checkbox" ng-model="voucher.adjust" ng-change="CheckDueToAdjust($index)">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


</div>


<style>
    .font-size-small{
        font-size:small;
    }
    .total-margin{
        margin-top:8px;
        margin-left:20px !important;
    }
    div.chip-style {
        border-top: 0px solid #EBEAEA;
        border-left: 0px solid #EBEAEA;
        border-right: 0px solid #EBEAEA;
        border-bottom: 1px solid #EBEAEA;
        background-color: #FFF;
        margin-top: 0px;
        padding: 9px 3px;
    }

    .chosen-container {
        width: 100% !important;
    }
</style>
@section scripts
{


    <script asp-append-version="true" src="~/lib/angular/angular.js"></script>

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appScript/accounts/customerreceipt/customerreceiptservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/customerreceipt/customerdetailsreceiptctrl.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}

