@{
    ViewBag.Title = "Customer Receipts";
    ViewBag.Menu = "Accounts";
}

@await Html.PartialAsync("~/Views/Payment/Menu.cshtml")

<div class="row panelBorder paymentList" ng-app="hcue" ng-controller="customerReceiptSearchCtrl " ng-cloak>
    <div class="panel panel-default" style="margin-top: 15px;border-radius: 4px;">
        <div class="panel-body" style="padding: 7px 10px 12px;">
            <div class='row'>
                <div class='col-sm-12 pull-left trim-left override_margin'>
                    <div class='form-group col-sm-12 override_margin'>
                        <div class="input-group col-sm-2 pull-left sell-group-decor override_margin">
                            <label>Customer Name</label>
                            <select chosen
                                    title="Customer Name"
                                    option="vendorList"
                                    data-placeholder="Select Customer"
                                    ng-model="selectedCustomer"
                                    ng-options="option.customerName for option in Filterlist track by option.customerName"
                                    ng-change="changeCustomerName(selectedCustomer)"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-sm-2 input-group sell-group-decor">
                            <label>Mobile No.</label>
                            <input placeholder="Mobile" id="searchPatientMobile" maxlength="15" type="text" class="search-query form-control" ng-keyup="keyEnter($event,'drugName')" ng-model="patientSearchData.mobile" ng-change="changeMobileNumber(patientSearchData.mobile)" ng-enter="changeMobileNumber(patientSearchData.mobile)" valid-number ng-disabled="disableCustomerMobile" />

                            <span class="error" style="margin-left:0px;" ng-bind="showCustomerWarn"></span>


                        </div>
                        <div class='col-sm-1 input-group sell-group-decor'>
                            <label class='col-md-12'>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <button title="Search" class="btn btn-style" type="button" ng-click="Filterdata(patientSearchData.mobile)">
                                SEARCH
                            </button>
                        </div>
                       
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div>
        <span class="col-sm-12  override_margin pull-left">

            <span class="col-sm-12 override_margin">

                <strong>
                    <span style="color:#6E6E6E">
                        Total Due:
                    </span> <span style="font-size:18px;">{{(totalDue | number:2)}}</span>
                </strong>

            </span>
        </span>
    </div>
    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper" style="padding: 4px;">
                    <div class='row'>
                        <div class="row tblHeader">
                            <span class="col-sm-12 pull-left">

                                <span class="col-sm-3 pull-left invoice-number">
                                    <span class="orange-text payment-color" title="Invoice No"><strong>Customer Name</strong></span>
                                </span>
                                <span class="col-sm-3 pull-left invoice-details">
                                    <span title="Invoice Date" class="invoice-date payment-color"><strong>Mobile No</strong></span>
                                </span>
                                <span class="col-sm-2 pull-left invoice-details">
                                    <span title="Total" class="payment-price payment-color"><strong>Due</strong></span>
                                </span>
                                <span class="col-sm-2 pull-left invoice-details">
                                    <span title="Total" class="payment-price payment-color"><strong>Balance</strong></span>
                                </span>
                                <span class="col-sm-2 pull-left invoice-details">
                                    <span title="Total" class="payment-price payment-color"><strong></strong></span>
                                </span>
                            </span>
                        </div>
                        <div ng-repeat="sales in list">
                            <div class="chip-style">
                                <span class="col-sm-12 pull-left">
                                    <span class="col-sm-3 pull-left invoice-number">
                                        <strong class="orange-text txtUpper" title="Invoice No"> {{sales.customerName}}</strong>
                                    </span>
                                    <span class="col-sm-3 pull-left invoice-details">
                                        <span title="Invoice Date" class="invoice-date">{{sales.customerMobile }}</span>
                                    </span>
                                    <span class="col-sm-2 pull-left invoice-details">
                                        <span title="Total" class="payment-price"><i class="fa fa-rupee" title="Total"></i>{{(sales.customerCredit -sales.customerDebit)  | number:2}}</span>
                                    </span>
                                    <span class="col-sm-2 pull-left invoice-details">
                                        <span title="Total" class="payment-price"><i class="fa fa-rupee" title="Total"></i>{{(sales.balanceAmount)  | number:2}}</span>
                                    </span>
                                    <span class="col-sm-2 pull-left invoice-details">
                                        <a class="col-md-12 text-center" ng-href="/customerReceipt/customerDetails?PatientId={{sales.sales.patientId}}" style="" title="Return">View Details</a>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    div.chip-style {
        border-top: 0px solid #EBEAEA;
        border-left: 0px solid #EBEAEA;
        border-right: 0px solid #EBEAEA;
        border-bottom: 1px solid #EBEAEA;
        background-color: #FFF;
        margin-top: 0px;
        padding: 9px 3px;
    }

    .chosen-container {
        width: 100% !important;
    }
</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/customerreceipt/customerreceiptservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/customerreceipt/customerreceiptsearchctrl.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}
