@using Utilities.Helpers
@model HQue.Web.ViewModel.InvoiceVM
@{
    ViewBag.Title = "Invoice";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Invoice</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css" media="all" title="no title" charset="utf-8" />
    <style>
        body {
            font-size: 12px;
        }

        .invoice-container {
            border: 1px solid #333333;
            max-width: 700px;
            min-width: 700px;
        }

        .invoice-header {
            min-height: 80px;
            padding-right: 0;
            padding-left: 0;
            border-bottom: 1px solid #333333;
        }

            .invoice-header h4 {
                margin: 10px 0px 5px 0px;
            }

        .invoice-details {
            min-height: 80px;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0px;
            border-bottom: 1px solid #333333;
        }

        .table-contanier {
            min-height: 245px;
            padding-right: 0px !important;
            padding-left: 0px !important;
            border-bottom: 0px solid #333333;
        }

        table {
            min-height: 245px;
            margin-bottom: 0px !important;
        }

        th {
            text-align: center;
            /*background-color: #333333;*/
        }

        th, td {
            font-size: 11px;
            text-transform: capitalize;
            padding: 0px !important;
            vertical-align: middle;
            line-height: 25px !important;
            border: 0px none !important;
            text-align: center;
        }

        .details-1 {
            display: block;
            float: left;
            width: 83px;
        }

        .details-2 {
            display: inline-block;
            width: 43px;
        }

        .list-group {
            margin-bottom: 0px;
            font-size: 12px;
        }

        .list-group-item {
            background-color: transparent;
            border: 0;
            padding: 0 0 8px 0;
        }

            .list-group-item:first-child {
                /*padding-top: 8px;*/
                padding: 4px 5px 4px 0;
            }

        .sep {
            display: block;
            float: left;
            width: 4px;
            padding: 0 12px 5px 2px;
        }

        .wrap-text {
            display: block;
            float: left;
            width: 300px;
            word-wrap: break-word;
            padding-bottom: 5px;
        }

        .address-wrap-text {
            display: block;
            float: left;
            width: 435px;
            word-wrap: break-word;
            padding-bottom: 5px;
            margin-bottom: 0px;
        }

        .tleft {
            text-align: left;
        }

        .tright {
            text-align: right;
        }

        .bfont {
            font-weight: bold;
        }

        .medicine-table tr {
            height: 20px !important;
        }

            .medicine-table tr:last-child {
                height: auto !important;
            }
    </style>
</head>

<body style="background-color:#e8e8e8">
    @if (Model.vendorPurchase != null)
    {
        <div class="container invoice-container">
            <div class="row">
                <div ng-init="init('@ViewBag.Id')"></div>
                <div class="col-sm-12 invoice-header" style="width: 100%">

                    <div class="col-sm-12">
                        <h4 style="text-align:center">@Model.vendorPurchase.Instance.Name</h4>
                        <p class="" style="text-align:center">
                            @Model.vendorPurchase.Instance.FullAddress
                        </p>
                        <p class="" style="text-align:center">
                            DL No.: @Model.vendorPurchase.Instance.DrugLicenseNo / TIN: @Model.vendorPurchase.Instance.TinNo
                        </p>
                    </div>
                    @*<div class="col-sm-4 pull-right">
                    <ul class="list-group">
                        <li class="list-group-item" style="">
                            <span class="details-2">DL No.</span> : <span>@Model.vendorPurchase.Instance.DrugLicenseNo</span>
                        </li>
                        <li class="list-group-item">
                            <span class="details-2">TIN</span> : <span>@Model.vendorPurchase.Instance.TinNo</span>
                        </li>
                        <li class="list-group-item">
                            <span class="details-2">CST</span> : <span></span>
                        </li>
                    </ul>
                </div>*@
                </div>
                <div class="col-lg-12 invoice-details" style="width: 100%">
                    <div class="col-lg-12 pull-left">
                        <ul class="list-group">
                            <li class="list-group-item">
                                
                                    <span class="details-1">Vendor Name</span><span class="sep">:</span><span class="wrap-text">@(Model.vendorPurchase.Vendor.Name), @Model.vendorPurchase.Vendor.Address,@Model.vendorPurchase.Vendor.Area,@Model.vendorPurchase.Vendor.City - @Model.vendorPurchase.Vendor.Pincode</span>
                                
                            </li>
                            <li class="list-group-item pull-left">
                                
                                    <span class="details-1">DL No: </span><span class="sep">:</span><span class="wrap-text">@Model.vendorPurchase.Instance.DrugLicenseNo</span>
                                
                            </li>
                            <li class="list-group-item pull-left">
                                
                                    <span class="details-1">TIN No: </span><span class="sep">:</span><span class="wrap-text">@Model.vendorPurchase.Instance.TinNo</span>
                                
                            </li>
                            <li class="list-group-item">
                                <span class="details-1">CST: </span><span class="sep">:</span>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="col-sm-12 pull-left invoice-header" style="width: 100%;min-height:20px;">
                    <div class="col-lg-8">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="details-2">Bill No.</span> : <span>@Model.vendorPurchase.InvoiceNo</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-group">
                            <li class="list-group-item  pull-right">
                                <span class="details-2">Date</span> : <span>@String.Format("{0:dd/MM/yyyy}", Model.vendorPurchase.InvoiceDate)</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-12 invoice-header" style="width: 100%">
                    <div class="col-sm-7 pull-left">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="details-2">GR No.</span> : <span>@Model.vendorPurchase.BillSeries + @Model.vendorPurchase.GoodsRcvNo</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-5 ">
                        <ul class="list-group  pull-right">
                            <li class="list-group-item">
                                <span class="">GRN Date:</span> <span>@String.Format("{0:dd/MM/yyyy}", Model.vendorPurchase.InvoiceDate)</span>
                            </li>
                        </ul>
                    </div>
                </div>
                    <div class="col-lg-12 pull-left table-contanier" style="width: 100%">
                        <table class="table table-bordered table-responsive medicine-table">
                            <thead>
                                <tr>
                                    <th width="245px">Particulars</th>
                                    <th width="75px">MFR</th>
                                    <th width="86px">Batch</th>
                                    <th width="94px">Exp. Dates</th>
                                    <th width="37px">Qty</th>
                                    <th width="68px">Price</th>
                                    <th width="56px">VAT</th>
                                    <th width="75px">Amount</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <!--<tr style="display:none">
                        <td align="right" colspan="7">Subtotal</td>
                        <td>2.75</td>
                    </tr>
                    <tr style="display:none">
                        <td align="right" colspan="7">VAT</td>
                        <td>0.15</td>
                    </tr>-->
                               
                                <tr class="bfont ">
                                    <td class="tright" colspan="8">Total:&nbsp; &nbsp;&nbsp; &nbsp; @String.Format("{0:0.00}", Model.vendorPurchase.TotalOnly) &nbsp; &nbsp;</td>
                                </tr>
                                <tr class="bfont">
                                    <td class="tright" colspan="8">Discount Amount:&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; @String.Format("{0:0.00}", Model.vendorPurchase.TotalDisount)&nbsp; &nbsp;</td>
                                </tr>
                                <tr class="bfont">
                                    <td class="tright" colspan="8">Vat Amount:&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; @String.Format("{0:0.00}", Model.vendorPurchase.Vat) &nbsp; &nbsp;</td>
                                </tr>
                                <tr class="bfont">
                                    <td class="tright" colspan="8">
                                        Net Amount:&nbsp; &nbsp;&nbsp;
                                        @String.Format("{0:0.00}", Model.vendorPurchase.NetTotalWithVat)
                                        &nbsp; &nbsp;</td>
                                </tr>
                                
                                <!--<tr style="display:none">
                        <td align="left" colspan="5">In words: Three </td>
                        <td align="right" colspan="2">Round off</td>
                        <td>String.Format("{0:0.00}", Model.sales.RoundOff)</td>
                    </tr>-->
                            </tfoot>
                            <tbody >
                                @foreach (var items in Model.vendorPurchase.VendorPurchaseItem)
                                {
                                    <tr>
                                        <td class="pull-left">&nbsp;&nbsp;&nbsp;&nbsp;@items.ProductStock.Product.Name</td>
                                        <td>@items.ProductStock.Product.Manufacturer</td>
                                        <td>@items.ProductStock.BatchNo</td>
                                        <td>@items.ProductStock.ExpireDate.ToFormat()</td>
                                        <td>@String.Format("{0:0}", items.Quantity)</td>
                                        <td>@String.Format("{0:0.00}", items.ProductStock.VatInPrice)</td>
                                        <td>@String.Format("{0:0.00}", (items.ProductStock.SellingPrice - items.ProductStock.VatInPrice)) @*@@@String.Format("{0:0.0}", items.ProductStock.VAT)%*@</td>
                                        <td>@String.Format("{0:0.00}", items.TotalWithDiscount)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12 pull-left">
                        <p style="font-size:10px;text-align:left">Powered by hCue</p>
                    </div>
                </div>
        </div>
    }
</body>
</html>
