@font-face {
    font-family: GT Light;
    src: url('../fonts/GT-Walsheim-Light.ttf') format('opentype');
}
@font-face {
    font-family: GT Bold;
    src: url('../fonts/GT-Walsheim-Bold.ttf') format('truetype');
}
@font-face {
    font-family: GT Medium;
    src: url('../fonts/GT-Walsheim-Medium.ttf') format('truetype');
}

/* custom template */
html, body {
   height: 100%;
   font-family:'GT Light',arial,sans-serif;
   background-color:#ffefdf;
   overflow-y:hidden;
}

.nav {
   font-family:'GT Bold',Arial,sans-serif;
   font-size:13px;
}

a {
  color:#222222;
}

a:hover {
  text-decoration:none;
}

hr {
  border-color:#dedede;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px 10px;
}

.full{
	padding-top:0;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
/*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

.divider {
	margin-top:32px;
}

.navbar-blue {
    border-width:0;
	background-color:#424243;
    color:#ffffff;
    font-family:'GT light',arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
	left:0;
	width:100%;
}

.navbar-blue li > a,.navbar-toggle  {
   color:#efefef;
   background-color:#333;
}

.navbar-blue .dropdown-menu li a {color:#2A4888;}
.navbar-blue .dropdown-menu li > a {padding-left:30px;background-color:#333;}

.navbar-blue li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open, 
.navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus {
   background-color:#FF9024;
   color:#fff;
}

#main {
   background-color:#ffefdf;
   padding-left:0;
   padding-right:0;
   top:50px;
   position:absolute;
   bottom:0;
   height:auto;
   right:0;
}
/* #main.fixed-main{
   top:192px;
}
.fixed-patient-info {
	margin-top:52px;
	padding-left:2px;
	padding-right:2px;
} */
#main .img-circle {
   margin-top:18px;
   height:70px;
   width:70px;
}

#sidebar {
    padding:0px;
	padding-top:15px;
}

#sidebar, #sidebar a, #sidebar-footer a {
    color:#ffffff;
    background-color:#ff9024;
    padding-left:5px;
	outline:none;
}
#sidebar a {
	height:50px;
	font-size:16px;
	padding:7px 5px;
}
#sidebar li {
	border-bottom:1px solid #fff;
}
#sidebar {
	background:url('../images/sidebar-bg.png') no-repeat bottom left #333;
	padding:0;
	top:50px;
}
#sidebar .nav li>a:hover ,
#sidebar .nav li.active>a {
    background:url('../images/sb-active.png') repeat-x top left #e05b01;
}

#sidebar .navbar-toggle {
	margin:0 auto;
	float:none;
	background:transparent;
}

.nav-image {
	position: relative;
    margin: 0 5px 0 0;
	width:30px;
}
.nav-lbl {
	float:left;
	margin-left:5px;
	margin-top:7px;
}
.nav-img-wrapper {
	float:left;
	text-align:center;
	width:55px;
}
.margin-top-5 {margin-top:5px;}
.margin-top-3 {margin-top:3px;}
.margin-top-2 {margin-top:2px;}
.margin-top-1 {margin-top:1px;}
.logo {
  display:block;
  padding:3px;
  color:#3B5999;
  margin:2px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}
#sidebar-footer {
  background-color:#444;
  position:absolute;
  bottom:5px;
  padding:5px;
}
#footer {
  margin-bottom:20px;
}
a.logout-icon {
	float:right;
	padding:14px;
	background-color:#333;
}
a:hover.logout-icon {
	background-color:#ff9024;
}
.navbar-header {width:100%;}

/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
}

.navbar-toggle, .close {
	outline:0;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:#3B5999;
    color:#fffffe;
}
.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}
.form-control {
	
}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}
  
.badge{
   color:#3B5999;
   background-color:#fff;
}
.badge:hover, .badge-inverse{
   background-color:#3B5999;
   color:#fff;
}
    
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 0;
    padding-top: 0;
    border-top: 1px solid #eeeeee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-size: 22px;
}

.panel-default .panel-heading {
  background-color:#F3F3F3;
  color:#555555;
}
.right-arrow-big {
	background:url('../images/right-arrow-big.png') no-repeat center center transparent;
	width:15px;
	height:15px;
	float:right;
	margin-left:15px;
	margin-top:2px;
}
:hover {
	background-color:##e05b01;
}
.col-sm-9.full {
    width: 100%;
}

.modal-header, .modal-footer {
	background-color:#f2f2f2;
    font-weight:800;
    font-size:12px;
}

.modal-footer i, .well i {
    font-size:20px;
    color:#c0c0c0;
}

.modal-body {
	padding:0px;
}

.modal-body textarea.form-control
{
   resize: none;
   border:0;
   box-shadow:0 0 0;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

.input-group-addon.front-addon  {
	border-radius:0;
	background-color:#ff9024 !important;
	color:#fff;
	border:1px solid #ff9024 !important; 
	width:50px;
}
.input-group-addon.front-addon.second {
	border-radius:0;
	background-color:transparent !important;
	color:#333;
	border:1px solid #ccc !important; 
	border-right:0 !important;
	border-left:0 !important;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

  .column .padding {
    padding: 7px;
  }

  .full{
	padding-top:20px;
  }

  .navbar-blue {
	background-color:#424243;
    top:0;
    width:100%;
    position:fixed;
  }

}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}