@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Stock Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="stockReportCtrl" ng-init="init()" ng-cloak>

    @*@if (User.HasPermission(UserAccess.Admin))
        {*@
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <div class='row'>
                <div class='col-md-12 override_margin'>
                    <div class=''>
                        @* Stock type options added by POongodi on 13/03/2017 *@
                        <div class="">
                            <h5 class="pull-left sales-head-title">Stock List</h5>
                            @if (User.HasPermission(UserAccess.Admin))
                            {

                                <div class="col-md-2 h-34">
                                    @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                                </div>
                            }
                            <div class="col-md-2 no-pad">
                                <select class="form-control" ng-model="stockType">
                                    <option value="nonzero">Available </option>
                                    <option value="all">All</option>
                                    <option value="expiry">Expired Stock</option>
                                    <option value="zero">Zero Stock</option>
                                </select>
                            </div>
                            <div class="col-sm-2 ">
                                <div class="">
                                    <div class="input-group col-md-12 override_margin">
                                        <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="categorytype" ng-change="changefilters()" class="form-control ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched">
                                            <option value="" disabled="" selected="" style="display:none">Please Select</option>
                                            <option value="Category">Category</option>
                                            <option value="Date">Expiry Date</option>
                                            <option value="Manufacturer">Manufacturer</option>
                                            <option value="rackno">Rack No</option>
                                            <option value="boxno">Box No</option>
                                            <option value="Alphabet">Alphabet</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-md-2 no-pad" ng-show="Pcategory==true">
                                <div class="">

                                    <input type="text" ng-model="categoryName"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Enter Category"
                                           id="_category" ng-required="true"
                                           name="Category"
                                           title="Category Name"
                                           ng-enter="stockReport()"
                                           typeahead-on-select="onCategorySelect($item)"
                                           typeahead-editable="false"
                                           uib-typeahead="prd as prd.product.category for prd in getCategory($viewValue)"
                                           class="form-control form-control-small" typeahead-template-url="itemTpls.html" autofocus />
                                    <script type="text/ng-template" id="itemTpls.html">
                                        <a tabindex="-1" style="text-decoration:none">
                                            <span ng-bind-template="{{match.model.product.category}}"></span>
                                        </a>
                                        <div style="color:#fbaf67"></div>
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 no-pad" ng-show="Manufacturer==true">
                                <div class="">
                                    <input type="text" ng-model="manufacturerName"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Enter Manufacturer"
                                           ng-required="true"
                                           name="Manufacturer"
                                           title="Manufacturer Name"
                                           ng-enter="stockReport()"
                                           typeahead-on-select="onManufacturerSelect($item)"
                                           typeahead-editable="false"
                                           uib-typeahead="prd as prd.product.manufacturer for prd in getManufacturer($viewValue)"
                                           class="form-control form-control-small" typeahead-template-url="itemTpls1.html" autofocus />
                                    <script type="text/ng-template" id="itemTpls1.html">
                                        <a tabindex="-1" style="text-decoration:none">
                                            <span ng-bind-template="{{match.model.product.manufacturer}}"></span>
                                        </a>
                                        <div style="color:#fbaf67"></div>
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 no-pad" ng-show="boxNo==true">
                                <div class="">
                                    <input type="text" ng-model="boxNoname"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Enter Box No"
                                           ng-required="true"
                                           name="boxNO"
                                           title="Box No"
                                           ng-enter="stockReport()"
                                           typeahead-on-select="onBoxNoSelect($item)"
                                           typeahead-editable="false"
                                           uib-typeahead="prd as prd.product.boxno for prd in getboxno($viewValue)"
                                           class="form-control form-control-small" typeahead-template-url="itemTpls2.html" autofocus />
                                    <script type="text/ng-template" id="itemTpls2.html">
                                        <a tabindex="-1" style="text-decoration:none">
                                            <span ng-bind-template="{{match.model.product.boxNo}}"></span>
                                        </a>
                                        <div style="color:#fbaf67"></div>
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 no-pad" ng-show="rackNo==true">
                                <div class="">
                                    <input type="text" ng-model="rackNoname"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Enter Rack No"
                                           ng-required="true"
                                           name="RackNO"
                                           title="Rack No"
                                           ng-enter="stockReport()"
                                           typeahead-on-select="onRackNoSelect($item)"
                                           typeahead-editable="false"
                                           uib-typeahead="prd as prd.product.rackno for prd in getrackno($viewValue)"
                                           class="form-control form-control-small" typeahead-template-url="itemTpls3.html" autofocus />
                                    <script type="text/ng-template" id="itemTpls3.html">
                                        <a tabindex="-1" style="text-decoration:none">
                                            <span ng-bind-template="{{match.model.product.rackNo}}"></span>
                                        </a>
                                        <div style="color:#fbaf67"></div>
                                    </script>
                                </div>
                            </div>

                            <div class="col-md-2 override_margin width-154" ng-show="DateCondition==true">
                                <div class='form-group'>

                                    <div class="input-group override_margin col-sm-12">
                                        <input type="text"
                                               title="From date"
                                               id="fromDate"
                                               name="fromDate"
                                               required class="form-control"
                                               uib-datepicker-popup="{{format}}"
                                               placeholder="DD/MM/YYYY"
                                               ng-model="fromDate"
                                               is-open="popup1.opened"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)"
                                               ng-required="true"
                                               close-text="Close"
                                               alt-input-formats="altInputFormats"
                                               d my-date nextid="toDate" focus-box ng-change="checkFromDate()" ng-keyup="checkFromDate()" />
                                        <span class="input-group-btn wrapper-date">
                                            <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                                </div>
                            </div>

                            <div class="col-md-2 override_margin width-154" ng-show="DateCondition==true">
                                <div class='form-group'>

                                    <div class="input-group override_margin col-sm-12">
                                        <input type="text"
                                               title="To date"
                                               id="toDate"
                                               name="toDate"
                                               required class="form-control"
                                               uib-datepicker-popup="{{format}}"
                                               placeholder="DD/MM/YYYY"
                                               ng-model="toDate"
                                               is-open="popup2.opened"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)"
                                               ng-required="true"
                                               close-text="Close"
                                               alt-input-formats="altInputFormats"
                                               d my-date ng-keyup="checkToDate()" ng-change="checkToDate()" />
                                        <span class="input-group-btn wrapper-date">
                                            <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                                    <span class="error" ng-show="!validToDate">Enter correct format date</span>
                                </div>
                            </div>                            
                            <div class="col-md-2 override_margin">
                                <div class="col-md-2 override_margin" ng-show="isAlphabet==true">
                                    <div class='form-group'>
                                        <div class="input-group override_margin col-sm-2">
                                            <input type="text" ng-model="Alphabet1" name="Alphabet1" title="AToZ" id="Alphabet1" required class="form-control alphbet"
                                                   placeholder="AtoZ" ng-required="true" maxlength="1" ng-change="checkAlphabet(Alphabet1,'')" />
                                        </div>
                                    </div>
                                </div>                                
                                <div class="col-md-2 override_margin alphbet_align" ng-show="isAlphabet==true">
                                    <div class='form-group'>
                                        <div class="input-group override_margin col-sm-2">
                                            <input type="text" ng-model="Alphabet2" name="Alphabet2" title="AToZ" id="Alphabet2" required class="form-control alphbet" 
                                                   placeholder="AtoZ" ng-required="true" maxlength="1" ng-change="checkAlphabet('',Alphabet2)"/>
                                        </div>
                                    </div>
                                </div>      
                                <span class="error isAlphabetError" ng-show="isAlphabet==true && (Alphabet1.charCodeAt(0) > Alphabet2.charCodeAt(0))">Enter correct Alphabet</span>
                            </div>                            
                            <div class="col-sm-1 override_margin" style="min-width: 110px !important;">
                                <div class="">
                                    <div class="input-group col-md-12 override_margin" style="font-size: 14px;">
                                        <div style="float:left;margin-right:3px;padding: 4px 0 0 0;">
                                            <input type="checkbox" ng-model="productWise" class="checkboxOne" />
                                        </div>
                                        <div style="line-height:29px;">Product Wise</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 ">
                                <div class=''>

                                    <div class="">
                                        <button title="Search" class="btn btn-style" type="button" ng-click="stockReport()" ng-disabled="flagSearch">
                                            Search
                                        </button>
                                        <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel"
                                                ng-click="clearSearch()">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 pull-right no-pad mar-5-0">                                
                                <button ng-disabled="data.length==0" ng-click="btnTXTExport()" class="btn btn-style k-button" id="btnTXTExport" title="Export to Txt">
                                <i class="fa fa-print" style="color:darkred" aria-hidden="true"></i></button>
                                <button type="submit" title="Export to CSV1" ng-hide="productWise==false ||check > 60" ng-disabled="data.length==0" ng-csv="data"
                                        csv-header="['Product','Vendor','Category','Manufacturer','Schedule','Type','Stock','MRP','Generic Name','Rack No','Box No']"
                                        csv-column-order="order" filename="{{fileNameNew}}.csv" onclick="setFileName()"><img src="~/assets/images/csv.png" />
                                </button>
                                <button type="submit" title="Export to CSV2" ng-hide="productWise==true || check > 60" ng-disabled="data.length==0" ng-csv="data"
                                        csv-header="['Product', 'Batch', 'Expiry', 'Vendor', 'Category', 'Manufacturer', 'Schedule', 'Type', 'Stock', 'Rack No', 'Box No', 'VAT %','GST %', 'Total Cost Price Value(VAT)', 'Total Cost Price Value(GST)', 'Total MRP Value', 'Generic Name', 'Status']"
                                        csv-column-order="orderNew" filename="{{fileNameNew}}.csv" onclick="setFileName()"><img src="~/assets/images/csv.png" />
                                </button>
                                <button ng-disabled="data.length==0" ng-hide="check > 60"class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                                <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    @*}*@

    <div class="panel panel-default single-report" ng-hide="data.length == 0">
        <div class="panel-body">

            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>

            <div class="report-tables">
                <div id="grid"></div>
            </div>

        </div>
    </div>
</div>
<style>
    .checkboxOne {
        width: 14px;
        height: 15px;
        background: #555;
    }
    .alphbet {
        width: 60px !important;
    }
    .isAlphabetError {
        margin-top: 35px !important;
    }
    .alphbet_align {
        padding-left: 20px !important;
    }
</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<script asp-append-version="true" src="~/appscript/appNewReportScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productstock/stockreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productstock/stockreportctrl.js"></script>


    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


    </script>

}


