@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Physical Stock Verification History";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="physicalStockHistoryReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <div class="row">
                <div class="pull-left">
                    <input type="button" id="Today" ng-click="filter('Today')" class="btn btn-style" value="Today" />
                    <input type="button" id="Week" ng-click="filter('Week')" class="btn btn-style" value="Week" />
                    <input type="button" id="Month" ng-click="filter('Month')" class="btn btn-style" value="Month" />
                </div>

                <div class='col-sm-2'>
                    @if (User.HasPermission(UserAccess.Admin))
                    {
                        <div class="col-sm-2 override_margin">
                            <div class='form-group'>
                                @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                            </div>
                        </div>
                    }
                </div>

                <div class='col-sm-2'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" id="fromDate" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="checkFromDate()" ng-keyup="checkFromDate()" close-text="Close" alt-input-formats="altInputFormats" my-date ng-enter="focusNextId('toDate')"/>
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                </div>
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" id="toDate" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" ng-change="checkToDate()" ng-keyup="checkToDate()" my-date ng-enter="focusNextId('drugName')"/>
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                    <span class="error" ng-show="!validToDate">Enter correct format date</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 form-group">
                    <label>Product</label>
                    <input type="text" ng-model="selectedProduct"
                           typeahead-focus-on-select="false"
                           typeahead-min-length="1"
                           placeholder="Enter Product"
                           id="drugName" required
                           name="drugName"
                           title="Product Name"
                           typeahead-on-select="onProductSelect($item)"
                           uib-typeahead="p as p.name for p in getProducts($viewValue)"
                           class="form-control form-control-small"
                           ng-enter="focusNextId('user')"/>
                </div>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select Anyone</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="user" name="user" title="User Name/Id" placeholder="Select anyone" ng-model="userSearch" ng-enter="focusNextId(userSearch)" class="form-control">
                                <option value="search">All</option>
                                <option value="userName">User Name</option>
                                <option value="userId">User Id</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 input-group sell-group-decor txtCaps">

                    <input ng-if="userSearch=='userName'" style="margin-top:21px;" type="text" ng-model="husername"
                           typeahead-focus-on-select="false"
                           typeahead-min-length="1"
                           placeholder="Enter User Name"
                           id="userName" required
                           name="userName"
                           title="User name"
                           ng-enter="focusNextId('search')"
                           typeahead-on-select="onUserSelect($item)"
                           uib-typeahead="ps as ps.name for ps in getUserName($viewValue)"
                           class="form-control form-control-small"
                           typeahead-template-url="itemTpls.html" ng-change="onUserChange()" />

                    <script type="text/ng-template" id="itemTpls.html">

                        <a tabindex="-1" style="text-decoration:none">
                            <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                        </a>
                        <div style="color:#fbaf67"></div>

                    </script>

                    <input ng-if="userSearch=='userId'" style="margin-top:21px;" type="text" ng-model="huserid"
                           typeahead-focus-on-select="false"
                           typeahead-min-length="1"
                           placeholder="Enter User Id"
                           id="userId" required
                           name="userId"
                           title="User Id"
                           ng-enter="focusNextId('search')"
                           typeahead-on-select="onUserSelect($item)"
                           uib-typeahead="ps as ps.userId for ps in getUserId($viewValue)"
                           class="form-control form-control-small"
                           typeahead-template-url="itemTpls1.html" ng-change="onUserChange()" />

                    <script type="text/ng-template" id="itemTpls1.html">

                        <a tabindex="-1" style="text-decoration:none">
                            <span ng-bind-template="{{match.model.userId}} - ({{match.model.mobile}})"></span>
                        </a>
                        <div style="color:#fbaf67"></div>

                    </script>
                </div>

                <div style="padding-top:25px;">                    
                    <button title="Search" id="search" class="btn btn-style" ng-click="physicalStockHistoryReport()" ng-enter="physicalStockHistoryReport()" ng-disabled="!validToDate || !validFromDate || !validDate">Search</button>
                    <button title="Clear" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-10" style="text-align:center"><span class="reportHeader"><b>PHYSICAL STOCK VERIFICATION HISTORY</b></span></div>

                <div class="pull-right">
                    <button type="submit" title="Export to CSV" ng-disabled="data.length == 0" ng-csv="data" ng-hide="check > 60"
                            csv-header="['Product', 'Physical Stock', 'System Stock', 'Difference', 'Date', 'Opened At', 'Closed At', 'User']"
                            csv-column-order="order"
                            filename="{{fileNameNew}}.csv" onclick="setFileName()">

                        <img src="~/assets/images/csv.png" />

                    </button>
                    <button ng-disabled="data.length==0" ng-hide="check > 60"class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

    </div>
    
    <div class="panel panel-default override_margin" ng-show="data.length>0">
        <div class="panel-body">

            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"></label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div id="grid"></div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
            <br /><br />
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>
    
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<script asp-append-version="true" src="~/appscript/appNewReportScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appReportScript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/AppScript/product/productService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productstock/stockreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productstock/physicalStockHistoryReportCtrl.js"></script>

    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

<script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });

</script>

}