@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Product List";
    ViewBag.Menu = "Reports";
}
<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="productListReportCtrl" ng-init="init()" ng-cloak>
    
    <input type="hidden" id="hdnInstancename" value="@ViewBag.InstanceName" />
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <h5 class="pull-left sales-head-title">Product List</h5>
            <div class="col-md-2 no-pad">
                <select id="InstanceType" name="InstanceType" title="Instance Type" ng-change="ChangeInstancewiseTypeDropdown(InstanceWiseType)"  class="form-control" ng-model="InstanceWiseType"required> 
                    <option value="All">All Branch</option>
                    <option value="Instance">{{InstanceName}}</option>                 
                                             
                    </select>
            </div>
            @*<div class="pull-left">
                <input type="button" id="Today" ng-click="filter('Today')" class="btn btn-style" value="Today" />
                <input type="button" id="Week" ng-click="filter('Week')" class="btn btn-style" value="Week" />
                <input type="button" id="Month" ng-click="filter('Month')" class="btn btn-style" value="Month" />
            </div>

            @if (User.HasPermission(UserAccess.Admin))
            {

                <div class="col-sm-2 branch">
                    @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                </div>
            }*@
            @*<div class="col-sm-2 input-group txtCaps">
               <input type="text" ng-model="selectedProduct.name"
                       typeahead-focus-on-select="false"
                       typeahead-min-length="1"
                       placeholder="Enter Product"
                       id="drugName" required
                       name="drugName"
                       autofocus
                       title="Product Name"
                       typeahead-on-select="onProductSelect($item)"
                       typeahead-editable="false"
                       uib-typeahead="ps as ps.name for ps in getProducts($viewValue)"
                       class="form-control form-control-small " />
            </div>*@
            @*<div class='col-sm-2'>
        <div class='form-group'>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                <span class="input-group-btn wrapper-date">
                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class='col-sm-2'>
        <div class='form-group'>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                <span class="input-group-btn wrapper-date">
                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div><br />*@
            @*<div class="pull-left "style="padding-left:10px">
                <button title="Search" class="btn btn-style" ng-click="init()">Search</button>
            </div>*@
            
            <div class="pull-right" style="margin-top:5px;">
                <button type="submit" title="Export to CSV" ng-disabled="data.length == 0" ng-csv="data"
                        csv-header="['Product Name','Manufacturer','GenericName','Category','PackageSize']"
                        csv-column-order="order"
                        filename="Product List.csv" onclick="setFileName()">

                    <img src="~/assets/images/csv.png" />

                </button>
                <button ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
            </div>
           
        </div>

    </div>

    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>

            </div>

        </div>
    </div>
</div>
<style>
    .branch #branch
    {
        width:100% !important;
    }
</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>
<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/appNewReportScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/reports/appreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/AppScript/common/branchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productstock/stockreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productstock/productListReportCtrl.js"></script>    

   <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <script>
        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });

        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });
    </script>
}