@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Stock Transfer Details";
    ViewBag.Menu = "Reports";
    Layout = "_LayoutReports";
}
<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="transferDetailReportCtrl" ng-init="init()" ng-cloak
    <div class="panel panel-default override_margin">
     
        <div class="panel-body">
            <h5 class="pull-left" style="color: #f58220;font-family:'GT Medium',arial,sans-serif;font-size:24px;line-height:24px;margin: 2px 10px;">Transfer Detail </h5>
            
            @if (User.HasPermission(UserAccess.Admin))
            {

                <div class="col-sm-2">
                    @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                </div>
            }
            <div class="pull-left">
         
                <button title="Today" id="Today" ng-click="filter('TODAY')" class="btn btn-style-report">Today</button>
                <button title="Week" id="Week" ng-click="filter('Week')" class="btn btn-style-report">Week</button>
                <button title="Month" id="Month" ng-click="filter('Month')" class="btn btn-style-report" >Month</button>
            </div>
            

                <div class='col-sm-2' style="width: 170px;">

                    <div class=''>

                        <div class="input-group">
                            <input type="text" class="form-control h-30" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1 h-30" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2' style="width: 170px;">
                    <div class=''>
                        <div class="input-group">
                            <input type="text" class="form-control h-30" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1 h-30" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            <div>
                <div>
                        <div class="col-sm-2">
                            <select id="selctopt" name="selectopt" title="Report Type" placeholder="Select anyone" ng-model="select1" class="form-control" required>
                            <option value="summary">Summary</option>
                            <option value="invoice">Invoice</option>
                            <option value="detail">Detail</option>
                                </select>
                       
                    </div>
                </div>
            </div>
                <div class="pull-left">
                    <button title="Search" class="btn btn-style-report h-30" ng-click="TransferReport()">Search</button>
                </div>

                <div class="pull-right">
                    <button type="submit" title="Export to CSV" ng-disabled="data.length == 0" ng-csv="data" ng-show="select1 == 'summary'&& check < 60"
                            csv-header="['Transfer Date','Transfered Value (Rs.)','Accepted Value','Accepted Pending Value','Rejected Value']"
                            csv-column-order="order"
                            filename="{{fileNameNew}}.csv" onclick="setFileName()">

                        <img src="~/assets/images/csv.png" />

                    </button>
                    <button type="submit" title="Export to CSV1" ng-disabled="data.length == 0" ng-csv="data" ng-show="select1 == 'invoice'&& check < 60"
                            csv-header="['Transfer Date','Transfer No','Transfer From','Transfer To','Transfer By','Amount (Rs.)','Transfer Status']"
                            csv-column-order="orderInvoice"
                            filename="{{fileNameNew}}.csv" onclick="setFileName()">

                        <img src="~/assets/images/csv.png" />

                    </button>

                    <button type="submit" title="Export to CSV2" ng-disabled="data.length == 0" ng-csv="data" ng-show="select1 == 'detail' &&check < 60"
                            csv-header="['Transfer Date','Transfer No','Transfer From','Transfer To','Transfer By','Product Name','Transfer Qty','Accepted Qty','Batch No','Expiry Date','Price','MRP','Item Value','Transfer Status']"
                            csv-column-order="orderDetail"
                            filename="{{fileNameNew}}.csv" onclick="setFileName()">

                        <img src="~/assets/images/csv.png" />

                    </button>
                    <button ng-disabled="data.length==0" ng-hide="check > 60"class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                   
                </div>
               
            </div>
    </div>

    <div class="panel panel-default override_margin single-report" ng-hide="data.length == 0">
        <div class="panel-body">
            
           
            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables report-table-height">
                <div id="grid"></div>
            </div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
            @*<button id="export" class="k-button"><span class="k-icon k-i-excel"></span>Export to Excel</button>*@
        </div>
    </div>

  

</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>


    @*
        <script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*
        <script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@
    @*<script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
        <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
        <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>*@
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<script asp-append-version="true" src="~/appscript/appNewReportScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

  <script asp-append-version="true" src="~/appscript/reports/productstock/stockreportservice.js"></script>
<script asp-append-version="true" src="~/appscript/reports/productstock/transferDetailReportCtrl.js"></script>

<link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
<link asp-append-version="true" href="~/assets/plugins/kendo/kendo.material.min.css" rel="stylesheet" />

    <script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


    </script>



}


