@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

@{
    ViewBag.Title = "Stock Adjustment Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="stockAdjustReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <div class="pull-left">
                <input type="button" id="Today" ng-click="filter('Today')" class="btn btn-style" value="Today" />
                <input type="button" id="Week" ng-click="filter('Week')" class="btn btn-style" value="Week" />
                <input type="button" id="Month" ng-click="filter('Month')" class="btn btn-style" value="Month" />
            </div>
            @if (User.HasPermission(UserAccess.Admin))
            {
                <div class="col-sm-2 branch">
                    @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                </div>
            }
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <div class="input-group">
                        <input type="text" class="form-control" id="fromDate" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-keyup="checkFromDate()" ng-change="checkFromDate()" my-date />
                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <span class="error" ng-show="!validFromDate">Enter correct format date</span>
            </div>
            <div class='col-sm-2'>
                <div class='form-group'>
                    <div class="input-group">
                        <input type="text" class="form-control" id="toDate" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" ng-keyup="checkToDate()" ng-change="checkToDate()" ng-required="true" my-date />
                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                <span class="error" ng-show="!validToDate">Enter correct format date</span>
            </div>
            <div class="pull-left">
                <button title="Search" class="btn btn-style" ng-click="stockAdjustReport()">Search</button>
            </div>               
            <br />
            <br />
            <div class="col-md-12 pull-left">
                <div class='row override_margin'>
                    <div class='col-sm-2 override_margin pull-left'>
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <select id="filter1" name="filter1" title="Options" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="form-control" required>
                                    <option value="">Please Select</option>                                    
                                    <option value="Product">Product Name</option>                                    
                                    <option value="Batch">Batch No</option>
                                    <option value="Adjuststock">Adjusted Stock</option>
                                    <option value="Stock">Updated Stock</option>
                                    <option value="Price">Price</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-1 override_margin' ng-if="totalCondition == true">
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <select id="filter2" name="filter2" title="select option" placeholder="Select" ng-model="search.select1" class="form-control" required>                                    
                                    <option value=">">></option>
                                    <option value="=">=</option>
                                    <option value="<"><</option>
                                </select>
                            </div>
                        </div>
                    </div>                   

                    <div class='col-sm-2 override_margin' ng-if="productCondition==false">
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <input title="Values" class="form-control required email" id="Values" name="Values" size="30" type="text" placeholder="Enter Value" ng-enter="stockAdjustReport()" ng-model="search.selectedValue" />

                            </div>
                        </div>
                    </div>

                    <div class='col-md-2 override_margin' ng-if="productCondition==true">
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <input title="Product Name" type="text" placeholder="Enter Product Name" id="drugName" name="drugName" class="search-query form-control" ng-enter="getProductId()" ng-model="search.drugName" typeahead-on-select="getProductId()" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)">
                            </div>
                        </div>
                    </div>


                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <button title="Search" class="btn btn-style" ng-click="stockAdjustReport()">Find</button>
                                <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="pull-right">
                <button type="submit" title="Export to CSV"  ng-disabled="data.length==0" ng-csv="data"ng-hide="check > 60"
                        csv-header="['Product','Batch','Expire Date','VAT/GST %','Stock','Change','Updated Stock','Price','Adjusted Date','Adjusted By']"
                        csv-column-order="order"
                        filename="{{fileNameNew}}.csv" onclick="setFileName()">

                    <img src="~/assets/images/csv.png" />

                </button>
                <button ng-disabled="data.length==0" ng-hide="check > 60"class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
            </div>
            <div class="reportHeader-align"><span class="reportHeader"><b>STOCK ADJUSTMENT DETAILS</b></span></div>    @*align="center"*@
            @*<div align="center"><span class="reportHeader"><b>STOCK ADJUSTMENT DETAILS</b></span></div>*@            
        </div>

    </div>

    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>

                </div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
            </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<script asp-append-version="true" src="~/appscript/appNewReportScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesReportService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productStock/stockAdjustReportCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productStock/stockReportService.js"></script>

    @*<script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />


    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <style type="text/css">
        .reportHeader-align {
            float: left;
            margin-left: 650px !important;
        }
    </style>

    <script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


    </script>
}
