@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Stock Ledger";
    ViewBag.Menu = "Reports";
}
<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>
<div class="row" ng-app="hcue" ng-controller="stockLedgerCtrl" ng-cloak>
    <ng-form novalidate id="vendorPurchaseItems" name="vendorPurchaseItems">
        <div class="panel panel-default  override_margin">
            <div class="panel-body override_margin">
                <div class="row">
                    <div class='col-md-12 override_margin'>
                        <div class='row override_margin'>
                            @*@if (User.HasPermission(UserAccess.Admin))
                                {
                                    <div class="col-sm-2 override_margin">
                                        <label>Select Branch</label>
                                        @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                                    </div>
                                }*@
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group'>
                                    <label>From Date</label>
                                    <div class="input-group override_margin col-sm-12">
                                        <input type="text"
                                               title="From date"
                                               id="fromDate1"
                                               name="fromDate"
                                               required class="form-control"
                                               uib-datepicker-popup="{{format}}"
                                               placeholder="DD/MM/YYYY"
                                               ng-model="fromDate"
                                               is-open="popup1.opened"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)"
                                               ng-required="true"
                                               close-text="Close"
                                               alt-input-formats="altInputFormats"
                                               d my-date nextid="toDate" focus-box ng-keyup="checkFromDate()" ng-change="checkFromDate()" autofocus />
                                        <span class="input-group-btn wrapper-date">
                                            <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                            </div>
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group'>
                                    <label>To Date</label>
                                    <div class="input-group override_margin col-sm-12">
                                        <input type="text"
                                               title="To date"
                                               id="toDate1"
                                               name="toDate"
                                               required class="form-control"
                                               uib-datepicker-popup="{{format}}"
                                               placeholder="DD/MM/YYYY"
                                               ng-model="toDate"
                                               is-open="popup2.opened"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)"
                                               ng-required="true"
                                               close-text="Close"
                                               alt-input-formats="altInputFormats"
                                               my-date ng-keyup="checkToDate()" ng-change="checkToDate()"
                                               previousid="fromDate"
                                               nextid="drugName" focus-box />
                                        <span class="input-group-btn wrapper-date">
                                            <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                                <span class="error" ng-show="!validToDate">Enter correct format date</span>
                            </div>
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group'>
                                    <label>Product</label>
                                    <div class="input-group override_margin col-sm-12 txtUpper">
                                        <input type="text"
                                               ng-model="selectedProduct"
                                               typeahead-focus-on-select="false"
                                               typeahead-no-results="noResults"
                                               typeahead-min-length="1"
                                               placeholder="Product"
                                               id="drugName"
                                               ng-required="true"
                                               name="drugName"
                                               uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                               class="form-control form-control-small"
                                               typeahead-on-select="onProductSelect($event,selectedProduct)"
                                               typeahead-template-url="itemTpl.html" previousid="toDate" nextid="search" focus-box />
                                        <script type="text/ng-template" id="itemTpl.html">
                                            <a tabindex="-1" class="inActivecolor" ng-if="match.model.totalstock < 0">
                                                <span ng-bind-template="{{match.model.name}}"></span>
                                            </a>
                                            <a tabindex="-1" class="Activecolor" ng-if="match.model.totalstock >= 0">
                                                <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
                                            </a>
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group' style="margin-top:25px;">
                                    <div class="input-group override_margin col-sm-12">
                                        <button title="Search" name="search" id="search" class="btn btn-style" ng-click="search()" ng-disabled="selectedProduct.id==null || !validDate || !validFromDate || !validToDate" ng-enter="search()">Search</button>
                                        <button title="Cancel" class="btn btn-style btn-cancel" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                                       <label>   Opening Stock -- </label><span ng-bind-template="{{stockLedger.OpeningStock1}}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>


    <div ng-show="stockLedger.length > 0">
        <div class="panel panel-default  override_margin">
            <div class="panel-body override_margin">
                <table class="table override_margin">
                    <thead class="chips-header">
                        <tr>
                            <th rowspan="2" style="vertical-align:top;">Transaction Date</th>
                            <th rowspan="2" style="vertical-align:top;">Transaction Type</th>
                            <th rowspan="2" style="vertical-align:top;">Transaction Name</th>
                            <th rowspan="2" style="vertical-align:top;">BatchNo</th>
                            <th rowspan="2" style="vertical-align:top;">ExpireDate</th>
                            <th rowspan="2" style="vertical-align:top;">Transaction No</th> 
                            <th colspan="2" style="vertical-align:top;text-align:center;">Quantity</th>
                        </tr>
                        <tr>
                            <th style="text-align:center;">In</th>
                            <th style="text-align:center;">Out</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr class="text-left ng-scope" data-ng-repeat="item in stockLedger" ng-show="item.transactionType <= 13|| item.transactionType == 16 || item.transactionType == 17">*@
                        <tr class="text-left ng-scope" data-ng-repeat="item in stockLedger" ng-show="item.transactionType <= 13|| item.transactionType >= 16 && item.transactionType != 20">
                            <td>{{item.transactionDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.transactionTypeName}}</td>
                            <td ng-show="item.transactionType != 4 && item.transactionType != 5 && item.transactionType != 17">{{item.customerName}}</td>
                            <td ng-show="item.transactionType == 4 || item.transactionType == 5 || item.transactionType == 17">{{item.customerName}} &nbsp; &nbsp;  - &nbsp;{{item.billSeries + item.goodsRcvNo}}</td>
                            <td>{{item.batchNo}}</td>
                            <td>{{item.expireDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.transactionNo}}</td>
                          
                            <td ng-show="item.stockType == 2" style="text-align:right;">{{item.quantity}}</td>
                            <td ng-show="item.stockType == 2"></td>
                            <td ng-show="item.stockType == 1"></td>
                            <td ng-show="item.stockType == 1" style="text-align:right;">{{item.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div ng-show="stockLedger.length > 0" >
        <div class="panel panel-default override_margin">
            <div class="panel-body override_margin">               
                <div class="row" style="background-color:#fff4ee !important;" > 
                    <div class="col-lg-2 col-md-2 text-left" style="padding-right:0px;" ng-show="item.transactionType==20" data-ng-repeat="item in stockLedger">
                        Current Stock :&nbsp;&nbsp;{{item.stock}}               
                    </div>
                    <div class="col-lg-2 col-md-2 col-lg-offset-6 col-md-offset-6 text-right">Total</div>
                    <div class="col-lg-2 col-md-2" style="padding-right:0px;">
                        <div class="col-lg-7 col-md-7 text-right" style="padding-right:0px;">{{totalQuantityIn}}</div>
                        <div class="col-lg-5 col-md-5 text-right" style="padding-right:8px;padding-left: 0px;">{{totalQuantityOut}}</div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default override_margin" ng-show="transferMiddle.length > 0">
        <div class="panel-body override_margin">
            <span style="font-size:medium;">Transfer Stock in pending state</span><br /><br />
            <div class="col-md-12">
                <label class="col-sm-1" style="font-size:medium;">Trans. Date</label>
                <label class="col-sm-2" style="font-size:medium;">Transaction Type</label>
                <label class="col-sm-2" style="font-size:medium;">From</label>
                <label class="col-sm-2" style="font-size:medium;">To</label>
                <label class="col-sm-1" style="font-size:medium;">BatchNo</label>
                <label class="col-sm-2" style="font-size:medium;">ExpireDate</label>
                <label class="col-sm-1" style="font-size:medium;">Trans. No</label>
                <label class="col-sm-1" style="font-size:medium;">Quantity</label>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12" ng-repeat="transfer in transferMiddle">
                <span class="col-sm-1">{{transfer.transactionDate | date:'dd/MM/yyyy'}}</span>
                <span class="col-sm-2">{{transfer.transactionTypeName}}</span>
                <span class="col-sm-2">{{transfer.customerName}}</span>
                <span class="col-sm-2">{{transfer.toInstance}}</span>
                <span class="col-sm-1">{{transfer.batchNo}}</span>
                <span class="col-sm-2">{{transfer.expireDate | date:'dd/MM/yyyy'}}</span>
                <span class="col-sm-1" style="text-align:center;">{{transfer.transactionNo}}</span>
                <span class="col-sm-1" style="text-align:center;">{{transfer.quantity}}</span>
            </div>
        </div>
    </div>
</div>
<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }
</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/VendorPurchase/buyAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productstock/stockreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productstock/stockLedgerCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productStockService.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productService.js"></script>
}


