@{
    ViewBag.Title = "Stock Value Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="stockValueReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            @*<div class="pull-left">
        <input type="button" id="Today" ng-click="filter('Today')" class="btn btn-style" value="Today" />
        <input type="button" id="Week" ng-click="filter('Week')" class="btn btn-style" value="Week" />
        <input type="button" id="Month" ng-click="filter('Month')" class="btn btn-style" value="Month" />
    </div>
    <div class='col-sm-2'>
        <div class='form-group'>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                <span class="input-group-btn wrapper-date">
                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class='col-sm-2'>
        <div class='form-group'>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-dat e="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                <span class="input-group-btn wrapper-date">
                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="pull-left">
        <button title="Search" class="btn btn-style" ng-click="stockAdjustReport()">Search</button>
    </div>
    <br />
    <br />*@
           
            
            <div class="pull-right">
                <button type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data"
                        csv-header="['Category','No.of Products','Vat 0 % Cost Price','Vat 5 % Cost Price','Vat 14.5 % Cost Price','Vat(Other %) Cost Price','Gst 0 % Cost Price','Gst 5 % Cost Price','Gst 12 % Cost Price','Gst 18 % Cost Price','Gst 28 % Cost Price','Gst(Other %) Cost Price','Total Cost Price(GST)','Total MRP','Profit %']"
                        csv-column-order="order"
                        filename="STOCK VALUE DETAILS.csv" >

                    <img src="~/assets/images/csv.png" />

                </button>
                <button ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
            </div>
            
            <div align="center"><span class="reportHeader"><b>STOCK VALUE DETAILS</b></span></div>            
        </div>

    </div>

    <div class="panel panel-default override_margin single-report">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>

                </div>
                
            </div>
        <button class="btn btn-style pull-right" style="margin-right:10px;" id="save" title="save" ng-disabled="!enableSave" ng-click="save()">Save</button>
    </div>
        
    <div class="panel panel-default" ng-show="list.length > 0">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <div class="row tblHeader">
                        <div class="col-md-12 override_margin">

                            <div class="col-md-2">
                                <span class="col-md-12 col-md-offset-1" style="padding:0px;">Report No</span>
                            </div>
                            <div class="col-md-10">
                                <div class="col-md-3">Created Date</div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>                        
                        <div ng-repeat="stockValue in list">
                            <div class="chip-style">
                                <div class="col-sm-12 override_margin">

                                    <div class="col-md-2 sell-group-decor9">
                                        <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event,stockValue.reportNo)">+</button>
                                        &nbsp; <strong class="orange-text"> #{{stockValue.reportNo}}</strong>
                                    </div>
                                    <div class="col-md-10">                                        
                                        <div class="col-md-3">
                                            <span><i class="fa fa-calendar" title="Created Date"></i> {{stockValue.createdAt | date:'dd/MM/yyyy' }}</span>
                                        </div>                                        
                                        <div class="col-md-1">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <table class="table override_margin sell-group-decor10">
                                    <thead class="chips-header">
                                        <tr>
                                            <th>Category</th>
                                            <th>No.of Products</th>
                                            <th>VAT 0 %</th>
                                            <th>VAT 5 %</th>
                                            <th>VAT 14.5 %</th>
                                            <th>VAT(Other %)</th>
                                            <th>GST 0 %</th>  
                                            <th>GST 5 %</th> 
                                            <th>GST 12 %</th> 
                                            <th>GST 18 %</th> 
                                            <th>GST 28 %</th> 
                                            <th>GST(Other %)</th>  
                                            <th>Total Cost Price</th>
                                            <th>Total Mrp</th>
                                            <th>Profit %</th>    
                                                                                                                   
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left" ng-repeat="item1 in listItems">
                                            <td class="txtUpper">{{item1.category}}</td>
                                            <td>{{item1.productCount}}</td>
                                            <td align="right">{{item1.vat0PurchasePrice}}</td>
                                            <td align="right">{{item1.vat5PurchasePrice}}</td>
                                            <td align="right">{{item1.vat145PurchasePrice}}</td>
                                            <td align="right">{{item1.vatOtherPurchasePrice}}</td>
                                            <td align="right">{{item1.gst0PurchasePrice}}</td>
                                            <td align="right">{{item1.gst5PurchasePrice}}</td>
                                            <td align="right">{{item1.gst12PurchasePrice}}</td>
                                            <td align="right">{{item1.gst18PurchasePrice}}</td>
                                            <td align="right">{{item1.gst28PurchasePrice}}</td>
                                            <td align="right">{{item1.gstOtherPurchasePrice}}</td>
                                            <td align="right">{{item1.totalPurchasePrice}}</td>
                                            <td align="right">{{item1.totalMrp}}</td>
                                            <td align="right">{{item1.profit}}</td>                                          
                                        </tr>                                        
                                    </tbody>
                                    <tfoot>
                                        <tr class="chips-header">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>   
                                            <td></td>           
                                            <td></td>           
                                            <td></td>           
                                            <td></td>           
                                            <td></td>           
                                            <td></td>                                                                                                
                                            <td></td>
                                            <td class="txtUpper" align="right" style="font-weight:bold;">Total</td>
                                            <td align="right" style="font-weight:bold;">{{overallPurchaseTotal | number : 2}}</td>
                                            <td align="right" style="font-weight:bold;">{{overallMrpTotal | number : 2}}</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<script asp-append-version="true" src="~/appScript/reports/expireProduct/expireReportAppscript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
    @*<script asp-append-version="true" src="~/appScript/reports/expireProduct/expireAppscript.js"></script>*@

    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesReportService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productStock/stockValueReportCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productService.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/productStock/stockReportService.js"></script>

    @*<script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />


    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


    </script>
}
