@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Doctor";
    Layout = "_Layout";
    ViewBag.Menu = "Profile";
}

@await Html.PartialAsync("~/Views/Vendor/Menu.cshtml")


<div class="row" data-ng-app="hcue" data-ng-controller="doctorSearchCtrl" data-ng-init="init('@ViewBag.Id')" data-ng-cloak>
   
    <div class="panel panel-default panel-heading">
        <div class="panel-body">
            <div class='row override_margin'>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select Anyone</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" data-ng-model="search.select" data-ng-change="changefilters()" class="form-control" required>
                                <option value="">Please Select</option>
                                <option value="name">Doctor Name</option>
                                <option value="mobile">Doctor Mobile</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-md-2 override_margin' data-ng-if="nameCondition==true">
                    <div class='form-group'>
                        <label>Enter Doctor Name</label>
                        <div class="input-group col-md-12 override_margin">
                            <input type="text"
                                   data-ng-model="search.doctorName"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Doctor Name"
                                   id="doctorName"
                                   title="Doctor name"
                                   typeahead-on-select="doctorNameSearch($item,$event)"
                                   uib-typeahead="ps as ps.name for ps in DoctorsList($viewValue)"
                                   class="form-control"
                                   typeahead-template-url="itemTpls1.html"/>

                            <script type="text/ng-template" id="itemTpls1.html">

                                <a tabindex="-1" style="text-decoration:none" data-ng-if="match.model.mobile!=null && match.model.mobile!=undefined ">
                                    <span data-ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" data-ng-if="match.model.mobile==null && match.model.mobile==undefined">
                                    <span data-ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin' data-ng-if="nameCondition==false">
                    <div class='form-group'>
                        <label>Enter Doctor Mobile</label>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Values" class="form-control required email" id="Values" name="Values" size="30" type="text" placeholder="Enter mobile number" ng-enter="doctorSearch()" data-ng-model="search.values" />

                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>

                        <label>&nbsp;</label>
                        <div class="input-group col-md-12 override_margin">
                            <button title="Search" class="btn btn-style" data-ng-click="doctorSearch()">Search</button>
                            <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" data-ng-click="clearSearch()">Clear</button>
                        </div>


                    </div>
                </div>

                <div class='col-md-2 override_margin'>
                    <div class='form-group'>
                        <label>Set Default Doctor</label>
                        <div class="input-group col-md-12 override_margin">
                            <input type="text"
                                   data-ng-model="search.defaultDoctorName"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Enter Doctor Name"
                                   id="defaultDoctorName"
                                   title="Doctor name"
                                   uib-typeahead="ps as ps.name for ps in DoctorsList($viewValue)"
                                   class="form-control"
                                   typeahead-template-url="itemTpls2.html" ng-enter="defaultDoctorNameSearch(search.defaultDoctorName)"/>

                            <script type="text/ng-template" id="itemTpls2.html">

                                <a tabindex="-1" style="text-decoration:none" data-ng-if="match.model.mobile!=null && match.model.mobile!=undefined ">
                                    <span data-ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" data-ng-if="match.model.mobile==null && match.model.mobile==undefined">
                                    <span data-ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3 override_margin'>
                    <div class='form-group'>
                        <label>&nbsp;</label>
                        <div class="input-group col-md-12 override_margin">
                            <button title="Set Default Doctor" class="btn btn-style"
			     data-ng-disabled="search.defaultDoctorName.id == null" data-ng-click="saveDefaultDoctor(search.defaultDoctorName)">Set</button>
                            <button title="Reset" style="margin-left:3px" class="btn btn-style" data-ng-click="resetDefaultDoctor()">Reset Default Doctor</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left" data-ng-if="list.length == 0">
                No Records found
            </div>
                        
            <div class="pull-right">
                <button title="Search" class="btn btn-style" data-ng-click="addDoctor()" data-ng-disabled="!enableAddDoctor">Add New Doctor</button>
            </div>           

        </div>
    </div>

    <!-- Doctor Search Section - End -->    
    <div class="panel panel-default" data-ng-show="showAddDoctor" >
        <ng-form id="doctorForm" name="doctorForm">
            <div class="panel-heading">Add New Doctor</div>
            <div class="panel-body">
                <div class="row">
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <b>Doctor Name<span style="color:red;">*</span></b>
                            </div>
                            <div class="input-group col-sm-12">
                                <input title="Doctor Name" name="name" id="txt_name"  placeholder="Enter Name" class="search-query form-control" required data-ng-model="search.name" focus-me="shouldBeOpen" maxlength="50" type="text" no-special-char />
                            </div>
                            <span class="error" data-ng-show="doctorForm.name.$dirty && doctorForm.name.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <b>Short Name</b>
                            </div>
                            <div class="input-group col-sm-12">
                                <input title="Short Name" type="text" placeholder="Enter Short Name" id="shortName" name="shortName" class="search-query form-control" data-ng-model="search.shortName" maxlength="5" data-ng-disabled="isEdit" />
                            </div>
                            @*<span class="error" ng-show="doctorForm.shortName.$dirty && doctorForm.shortName.$error.required">
                                Required!
                            </span>*@
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <b>Mobile No.</b>
                            </div>
                            <div class="input-group col-sm-12">                                
                                <input title="Mobile Number" type="text" id="mobile" maxlength="15" name="phone" placeholder="Mobile No" class="search-query form-control" data-ng-model="search.mobile" valid-number/>
                            </div>                            
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <b>Doctor Commission</b>
                            </div>
                            <div class="input-group col-sm-12">
                                <input title="Doctor Commission" type="text" id="commission" name="commission" placeholder="Commission %" class="search-query form-control" data-ng-model="search.commission"  valid-number/>
                            </div>
                            <span class="error" data-ng-show="doctorForm.commission.$dirty && doctorForm.commission.$error.max">
                                Must be less than or equal to 100
                            </span>
                        </div>
                    </div>                    

                </div>

                <div class="row">
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <b>Address</b>
                            </div>
                            <div class="input-group col-sm-12">
                                <input title="Address" name="area" id="area" placeholder="Enter Area - (Schedule Print)" class="search-query form-control" data-ng-model="search.area"/>
                            </div>
                        </div>
                    </div>      
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <b>City</b>
                            </div>
                            <div class="input-group col-sm-12">
                                <input title="City" name="city" id="city" placeholder="Enter City" class="search-query form-control" data-ng-model="search.city" maxlength="50"/>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <b>State</b>
                            </div>
                            <div class="input-group col-sm-12">
                                <input title="State" name="state" id="state" placeholder="Enter State" class="search-query form-control" data-ng-model="search.state" maxlength="45"/>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <b>PinCode</b>
                            </div>
                            <div class="input-group col-sm-12">
                                <input title="PinCode" name="pincode" id="pincode" placeholder="Enter Pincode" class="search-query form-control" data-ng-model="search.pincode" valid-number maxlength="10"/>
                            </div>
                        </div>
                    </div>



                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <b>GSTIN No.</b>
                            </div>
                            <div class="input-group col-sm-12">
                                <input title="GSTin No." name="Gstin" id="txtGstin" placeholder="GSTIN No." class="search-query form-control" data-ng-model="search.gsTin" alpha-numeric maxlength="15"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <button title="clear" class="btn btn-style btn-cancel" data-ng-click="clear()">Clear</button>
                    <button title="Add Doctor" style="background-color:#F57105" class="btn btn-style" data-ng-disabled="doctorForm.$invalid" data-ng-show="!editDoctor1" data-ng-click="doctorCreate()">Add Doctor</button>
                    <button title="Update" style="background-color:#F57105" class="btn btn-style" data-ng-disabled="doctorForm.$invalid" data-ng-hide="!editDoctor1" data-ng-click="updateDoctor()">Update</button>
                </div>

            </div>        
        </ng-form>

</div>

    <!-- Doctor Search Result Section - start -->
    <h4>Default Doctor : 
    <span data-ng-show="defaultDoctor.id != null && defaultDoctor.id != undefined">{{defaultDoctor.name}} &nbsp; &nbsp; Mobile No: {{defaultDoctor.mobile}}</span> 
        <span data-ng-hide="defaultDoctor.id != null && defaultDoctor.id != undefined"> Not selected</span> 
    </h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <div align="right">
                @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
            </div>
            <div class='row  marginLR-zero'>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>Action</th>
                            @*<th>Default Doctor</th>*@
                            <th>S.No</th>
                            <th>Doctor Name</th>
                            <th>Short Name</th>
                            <th>Mobile/Phone No</th>
                            <th>Address</th>                            
                            <th>Doctor Commission %</th>
                            <th>GSTIN No</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody data-ng-repeat="doctor in list track by $index">
                        <tr>
                            <td>
                                @if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                            {
                                <a data-ng-click="editDoctor(doctor.id)" class="btn  btn-style text-center" title="Edit">Edit</a>
                            }
                        </td>
                        @*<td><input type="checkbox" data-ng-model="doctor.defaultDoctor" data-ng-click="updateSelection($index, list)" />
    <a title="Save Default Doctor" data-ng-show="doctor.enableSave" data-ng-click="saveDefaultDoctor(doctor)" class="btn  btn-style text-center pull-right">Save</a>
    </td>*@                            
                        <td>{{((search.page.pageNo - 1) * search.page.pageSize)+ ($index + 1) }}</td>
                        <td>{{doctor.name}}</td>
                        <td>{{doctor.shortName}}</td>
                        <td>{{doctor.mobile}}</td>
                        <td>{{doctor.address}} {{doctor.pincode}}</td>
                        <td>{{doctor.commission}}</td>
                        <td>{{doctor.gsTin}}</td>
                        <td>
                            <a data-ng-href="/Doctor/GetDoctorSalesList?doctorId={{doctor.id}}" class="btn  btn-style text-center" title="Edit">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @*@{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }*@
    </div>
</div>

</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>

    <script asp-append-version="true" src="~/appscript/vendororder/vendorOrderAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/doctor/doctorService.js"></script>
    <script asp-append-version="true" src="~/appscript/doctor/doctorSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesService.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
}
