@{
    ViewBag.Title = "Vendor Order List";
    ViewBag.Menu = "Profile";
}

<div ng-app="hcue" ng-controller="doctorSalesListCtrl" ng-init="init('@ViewBag.DoctorId')" ng-cloak>
    <div class="panel panel-default override_margin">
       <p style="text-align:center;font-size:18px">Doctor Sales Item Details</p>
    </div>
    
    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div id="grid"></div>


            <br /><br />
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

<script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
       
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/doctor/doctorService.js"></script>
    <script asp-append-version="true" src="~/appscript/doctor/doctorSalesListCtrl.js"></script>

<link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

<script>
        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });

        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });

</script>
}
