@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@model HQue.Contract.Infrastructure.Setup.Registration
@{
    ViewBag.Title = "Sales Summary Branch wise";
    ViewBag.Menu = "Multi Branch Reports";
    Layout = "_LayoutReport";
}


<div class="content-area" ng-app="hcue" ng-controller="multiInstanceReportsSearchCtrl" ng-cloak>
    <div class="registered-list-page" ng-init="init('@ViewBag.Type')">
        <h3 class="plain-heading text-uppercase">Registration List</h3>
        <div class="common-section">
            @*<h4>Registration Type</h4>*@
            <div class="common-radio-button">
                <ul class="clearfix">
                    <li>
                        <input type="radio" id="Web-Only" name="registerType" ng-model="registration.search" value="1" ng-change="AccountSearchList()">
                        <label for="Web-Only">Prospects</label>
                        <div class="check"></div>
                    </li>
                    <li>
                        <input type="radio" id="Paid" name="registerType" ng-model="registration.search" value="2" ng-change="AccountSearchList()">
                        <label for="Paid">Live</label>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="Trial" name="registerType" ng-model="registration.search" value="4" ng-change="AccountSearchList()">
                        <label for="Trial">Trial</label>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="Old" name="registerType" ng-model="registration.search" value="" ng-change="AccountSearchList()">
                        <label for="Old">Old Data</label>
                        <div class="check">
                            <div class="inside"></div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="common-table table-section registered-list-table">
            <table>
                <thead>
                    <tr ng-if="list.length!=0">
                        <th>Date<br />Branch Name</th>
                        <th>No. of Bills</th>
                        <th>Cash Sales</th>
                        <th>Credit Card Sales</th>
                        <th>Credit Sales</th>
                        <th>Total Sales</th>
                        <th>Previous Month<br />Same Day Sales</th>
                        <th>Average Sales</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-if="list.length>0" ng-repeat="item in list track by $index">
                        <td>{{item.instanceName}}</td>
                        <td>{{item.salesDate}}</td>
                        <td>{{item.totalBills}}</td>
                        <td>{{item.totalCash}}</td>
                        <td>{{item.totalCC}}</td>
                        <td>{{item.totalCredit}}</td>
                        <td>{{item.totalSales}}</td>
                        <td>{{item.prevMonthDt}}</td>
                        <td>{{item.prevMonthSales}}</td>
                        <td>{{item.avgSales}}</td>
                    </tr>

                    <tr class="no-record-img" ng-if="list.length==0">
                        <td align="center">
                            <img src="/assets/edge/images/no-record.png" alt="">
                        </td>
                    </tr>
                    <tr ng-if="list.length==0">
                        <td class="no-record">No Records Found</td>
                    </tr>


                </tbody>
            </table>
        </div>

        <div>

            <div>
                <div class="reports-pages-section">
                    <div class="common-tab">
                        <ul class="clearfix">
                            <li class="tab-link current tab-arrow" data-tab="tab-1" material raised>
                                <ul class="sub-dropdown fade-in">
                                    <li><a href="#">Menu Item</a></li>
                                    <li><a href="#">Menu</a></li>
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="#">Search</a></li>
                                </ul>
                                Daily Sales Report
                            </li>
                            <li class="tab-link" data-tab="tab-2" material raised>Closing Stock Report</li>
                        </ul>
                    </div>
                    <div id="tab-1" class="tab-content fade-in  current">
                        <div class="new-report-header">
                            <div>
                                <div class="radio-button">
                                    <ul class="clearfix">
                                        <li>
                                            <input type="radio" id="radio-button1" name="discount-setting" checked="">
                                            <label for="radio-button1">Day</label>
                                            <div class="check"></div>
                                        </li>
                                        <li>
                                            <input type="radio" id="radio-button2" name="discount-setting">
                                            <label for="radio-button2">Month</label>
                                            <div class="check">
                                                <div class="inside"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="formrow-inline">
                                    <label for="startDate">From:</label>
                                    <input type="text" name="startDate" id="startDate" value="" placeholder="" class="text-box icon-calendar width-150 date-picker">
                                </div>
                            </div>
                            <div>
                                <div class="formrow-inline">
                                    <label>To:</label>
                                    <input type="text" name="" value="" placeholder="" class="text-box icon-calendar width-150">
                                </div>
                            </div>
                            <div>
                                <div class="formrow-inline">
                                    <label>Branch:</label>
                                    <!-- <p>Rajeshwaree Clinic</p> -->
                                    <!--  <select class="inline-dropdown width-150">
                                        <option></option>
                                        <option></option>
                                        <option></option>
                                        <option></option>
                                    </select> -->
                                    <select id="example-getting-started" multiple="multiple">
                                        <option value="cheese">Cheese</option>
                                        <option value="tomatoes">Tomatoes</option>
                                        <option value="mozarella">Mozzarella</option>
                                        <option value="mushrooms">Mushrooms</option>
                                        <option value="pepperoni">Pepperoni</option>
                                        <option value="onions">Onions</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="report-table-section">
                            <div class="report-table-heading">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h2>Pharmacy Sale Report</h2>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="report-export clearfix">
                                            <div class="report-download pull-right">
                                                <h5>Download:</h5>
                                                <ul class="clearfix">
                                                    <li>
                                                        <a href="#" title="PDF">
                                                            <img src="/assets/images/report-pdf.png" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="CSV">
                                                            <img src="/assets/images/report-csv.png" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Email">
                                                            <img src="/assets/images/report-email.png" alt="">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <button class="report-graph pull-right" ng-click="test()">
                                                <img src="/assets/images/report-graph.png" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="day-report-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>No of Bills</th>
                                            <th class="text-right">Cash Sales</th>
                                            <th class="text-right">Credit Card Sales</th>
                                            <th class="text-right">Credit Sales</th>
                                            <th class="text-right">Total Sales</th>
                                            <th class="brown text-right previous-sales-header">Previous Month Same Day Sales</th>
                                            <th class="blue text-right">Average Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>01 - Jan - 2017</td>
                                            <td>1001</td>
                                            <td align="right">10052.00</td>
                                            <td align="right">9703.00</td>
                                            <td align="right">525.00</td>
                                            <td align="right">20408.00</td>
                                            <td align="right" class="previous-sales">78923.30</td>
                                            <td align="right">158543.00</td>
                                        </tr>
                                        <tr>
                                            <td>02 - Jan - 2017</td>
                                            <td>1001</td>
                                            <td align="right">10052.00</td>
                                            <td align="right">9703.00</td>
                                            <td align="right">525.00</td>
                                            <td align="right">20408.00</td>
                                            <td align="right" class="previous-sales">78923.30</td>
                                            <td align="right">158543.00</td>
                                        </tr>
                                        <tr>
                                            <td>03 - Jan - 2017</td>
                                            <td>1001</td>
                                            <td align="right">10052.00</td>
                                            <td align="right">9703.00</td>
                                            <td align="right">525.00</td>
                                            <td align="right">20408.00</td>
                                            <td align="right" class="previous-sales">78923.30</td>
                                            <td align="right">158543.00</td>
                                        </tr>
                                        <tr>
                                            <td>04 - Jan - 2017</td>
                                            <td>1001</td>
                                            <td align="right">10052.00</td>
                                            <td align="right">9703.00</td>
                                            <td align="right">525.00</td>
                                            <td align="right">20408.00</td>
                                            <td align="right" class="previous-sales">78923.30</td>
                                            <td align="right">158543.00</td>
                                        </tr>
                                        <tr>
                                            <td>05 - Jan - 2017</td>
                                            <td>1001</td>
                                            <td align="right">10052.00</td>
                                            <td align="right">9703.00</td>
                                            <td align="right">525.00</td>
                                            <td align="right">20408.00</td>
                                            <td align="right" class="previous-sales">78923.30</td>
                                            <td align="right">158543.00</td>
                                        </tr>
                                        <tr>
                                            <td>06 - Jan - 2017</td>
                                            <td>1001</td>
                                            <td align="right">10052.00</td>
                                            <td align="right">9703.00</td>
                                            <td align="right">525.00</td>
                                            <td align="right">20408.00</td>
                                            <td align="right" class="previous-sales">78923.30</td>
                                            <td align="right">158543.00</td>
                                        </tr>
                                        <tr>
                                            <td>07 - Jan - 2017</td>
                                            <td>1001</td>
                                            <td align="right">10052.00</td>
                                            <td align="right">9703.00</td>
                                            <td align="right">525.00</td>
                                            <td align="right">20408.00</td>
                                            <td align="right" class="previous-sales">78923.30</td>
                                            <td align="right">158543.00</td>
                                        </tr>
                                        <tr>
                                            <td>08 - Jan - 2017</td>
                                            <td>1001</td>
                                            <td align="right">10052.00</td>
                                            <td align="right">9703.00</td>
                                            <td align="right">525.00</td>
                                            <td align="right">20408.00</td>
                                            <td align="right" class="previous-sales">78923.30</td>
                                            <td align="right">158543.00</td>
                                        </tr>
                                        <tr>
                                            <td>09 - Jan - 2017</td>
                                            <td>1001</td>
                                            <td align="right">10052.00</td>
                                            <td align="right">9703.00</td>
                                            <td align="right">525.00</td>
                                            <td align="right">20408.00</td>
                                            <td align="right" class="previous-sales">78923.30</td>
                                            <td align="right">158543.00</td>
                                        </tr>
                                        <tr>
                                            <td>10 - Jan - 2017</td>
                                            <td>1001</td>
                                            <td align="right">10052.00</td>
                                            <td align="right">9703.00</td>
                                            <td align="right">525.00</td>
                                            <td align="right">20408.00</td>
                                            <td align="right" class="previous-sales">78923.30</td>
                                            <td align="right">158543.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix margin-bottom-15">
                            <div class="pull-left show-per-page ">
                                <div>Show:</div>
                                <div>
                                    <div class="form-inner-field">
                                        <select name="" class="common-dropdown" placeholder="">
                                            <option value="">10</option>
                                            <option value="">15</option>
                                            <option value="">25</option>
                                            <option value="">50</option>
                                            <option value="">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div>items per page</div>
                            </div>
                            <div class="pull-right per-page-count">
                                <div>
                                    Showing: <span>1</span> - <span>8</span> of <span>8</span> items
                                </div>
                                <div>
                                    <a href="#" title="" class="count-previous">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" title="" class="count-next not-active">
                                        <i class="fa fa-angle-right inactive" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="report-table-section">
                            <div class="report-table-heading">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h2>Pharmacy Sale Report</h2>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="report-export clearfix">
                                            <div class="report-download pull-right">
                                                <h5>Download:</h5>
                                                <ul class="clearfix">
                                                    <li>
                                                        <a href="#" title="PDF">
                                                            <img src="/assets/images/report-pdf.png" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="CSV">
                                                            <img src="/assets/images/report-csv.png" alt="">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Email">
                                                            <img src="/assets/images/report-email.png" alt="">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <button class="report-graph pull-right">
                                                <img src="/assets/images/report-graph.png" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="month-report-table">
                                <div class="month-report-header">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th width="3%"></th>
                                                <th width="10%">Month & Year</th>
                                                <th width="10%">No of Bills</th>
                                                <th width="10%" class="text-right">Cash Sales</th>
                                                <th width="13%" class="text-right">Credit Card Sales</th>
                                                <th width="10%" class="text-right">Credit Sales</th>
                                                <th width="10%" class="text-right">Total Sales</th>
                                                <th width="20%" class="brown text-right previous-sales-header">Previous Month Same Day Sales</th>
                                                <th width="10%" class="text-right blue">Average Sales</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="month-report-body">
                                    <div class="reports-accordion">
                                        <input id="toggle1" type="radio" class="reports-accordion-toggle" name="toggle" />
                                        <label for="toggle1">
                                            <div class="report-accordion-header">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th width="3%"></th>
                                                            <th width="10%">January 2016</th>
                                                            <th width="10%">300154</th>
                                                            <th width="10%" class="text-right">254789.00</th>
                                                            <th width="13%" class="text-right">124578.00</th>
                                                            <th width="10%" class="text-right">64795.00</th>
                                                            <th width="10%" class="text-right">6587451.00</th>
                                                            <th width="20%" class="text-right previous-sales">78923.30</th>
                                                            <th width="10%" class="text-right">158543.00</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </label>
                                        <section>
                                            <div class="month-all-list ">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">1052.00</td>
                                                            <td width="13%" align="right">96403.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="reports-accordion">
                                        <input id="toggle2" type="radio" class="reports-accordion-toggle" name="toggle" />
                                        <label for="toggle2">
                                            <div class="report-accordion-header">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th width="3%"></th>
                                                            <th width="10%">January 2016</th>
                                                            <th width="10%">300154</th>
                                                            <th width="10%" class="text-right">254789.00</th>
                                                            <th width="13%" class="text-right">124578.00</th>
                                                            <th width="10%" class="text-right">64795.00</th>
                                                            <th width="10%" class="text-right">6587451.00</th>
                                                            <th width="20%" class="text-right previous-sales">78923.30</th>
                                                            <th width="10%" class="text-right">158543.00</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </label>
                                        <section>
                                            <div class="month-all-list ">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="reports-accordion">
                                        <input id="toggle3" type="radio" class="reports-accordion-toggle" name="toggle" />
                                        <label for="toggle3">
                                            <div class="report-accordion-header">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th width="3%"></th>
                                                            <th width="10%">January 2016</th>
                                                            <th width="10%">300154</th>
                                                            <th width="10%" class="text-right">254789.00</th>
                                                            <th width="13%" class="text-right">124578.00</th>
                                                            <th width="10%" class="text-right">64795.00</th>
                                                            <th width="10%" class="text-right">6587451.00</th>
                                                            <th width="20%" class="text-right previous-sales">78923.30</th>
                                                            <th width="10%" class="text-right">158543.00</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </label>
                                        <section>
                                            <div class="month-all-list ">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="reports-accordion">
                                        <input id="toggle4" type="radio" class="reports-accordion-toggle" name="toggle" />
                                        <label for="toggle4">
                                            <div class="report-accordion-header">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th width="3%"></th>
                                                            <th width="10%">January 2016</th>
                                                            <th width="10%">300154</th>
                                                            <th width="10%" class="text-right">254789.00</th>
                                                            <th width="13%" class="text-right">124578.00</th>
                                                            <th width="10%" class="text-right">64795.00</th>
                                                            <th width="10%" class="text-right">6587451.00</th>
                                                            <th width="20%" class="text-right previous-sales">78923.30</th>
                                                            <th width="10%" class="text-right">158543.00</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </label>
                                        <section>
                                            <div class="month-all-list ">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="10%">01 - Jan - 2016</td>
                                                            <td width="10%">1001</td>
                                                            <td width="10%" align="right">10052.00</td>
                                                            <td width="13%" align="right">9703.00</td>
                                                            <td width="10%" align="right">525.00</td>
                                                            <td width="10%" align="right">20408.00</td>
                                                            <td width="20%" align="right" class="previous-sales">78923.30</td>
                                                            <td width="10%" align="right">158543.00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- no reports data section -->
                        <!-- <div class="no-reports-section">
                            <img src="/assets/images/no-reports.png" alt="">
                            No Reports Selected
                        </div> -->
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-content ">
            </div>
        </div>

    </div>


</div>
<style>

</style>


@section scripts
{

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script asp-append-version="true" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAPgBj6XItClh1BVE_QFV51Xl_ZtPT3OIs"></script>

    <script asp-append-version="true" src="~/appscript/assets/js/bootstrap-multiselect.js"></script>
    <script asp-append-version="true" src="~/appscript/registrationAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/appscript/multiInstanceReports/multiInstanceReportsService.js"></script>
    <script asp-append-version="true" src="~/appscript/multiInstanceReports/multiInstanceReportsSearchCtrl.js"></script>

    <script>
        $(document).ready(function () {
            $('#example-getting-started').multiselect({
                includeSelectAllOption: true,
                maxHeight: 150
            });
        });
    </script>

}
