﻿<script type="text/ng-template" id="minMaxReorderBulkUpdate">

    <div class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" style="width:600px !important;">
            <div class="modal-content override_margin">
                <div class="modal-body override_margin">
                    <ng-form id="minMaxReorderUpdate" name="minMaxReorderUpdate">
                        <div class="panel panel-default override_margin">
                            <div class="panel-heading panel-noborder">
                                <label>Min & Max Reorder Bulk Update</label> 
                                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true" ng-disabled="isSaveProcessing">&times;</button>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class='col-sm-6'>
                                        <label>Sales From Date [DD/MM/YYYY]</label>
                                        <div class='form-group'>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="fromDate" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="checkFromDate()" ng-keyup="checkFromDate()" ng-keypress="checkDateChar($event)" number close-text="Close" alt-input-formats="altInputFormats" my-date ng-enter="focusToNextCtrl('fromDate','toDate')" popup-focus="focusInput" maxlength="10" />
                                                <span class="input-group-btn wrapper-date">
                                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <span class="error" ng-show="!validFromDate">Invalid Date</span>
                                    </div>
                                    <div class='col-sm-6'>
                                        <label>Sales To Date [DD/MM/YYYY]</label>
                                        <div class='form-group'>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="toDate" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" ng-change="checkToDate()" ng-keyup="checkToDate()" ng-keypress="checkDateChar($event)" my-date ng-enter="focusToNextCtrl('toDate','minReorderFactor')" maxlength="10" />
                                                <span class="input-group-btn wrapper-date">
                                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                                        <span class="error" ng-show="!validToDate">Invalid Date</span>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class='col-sm-6'>
                                        <div class='form-group'>
                                            <div class="input-group">
                                                <label>Min Reorder Factor</label>
                                                <input type="text" class="form-control" id="minReorderFactor" valid-number maxlength="5" placeholder="Min Factor" ng-model="minReorderFactor" title="Min Reorder Factor" ng-enter="focusToNextCtrl('minReorderFactor','maxReorderFactor')" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class='col-sm-6'>
                                        <div class='form-group'>
                                            <div class="input-group">
                                                <label>Max Reorder Factor</label>
                                                <input type="text" class="form-control" id="maxReorderFactor" valid-number maxlength="5" placeholder="Max Factor" ng-model="maxReorderFactor" title="Max Reorder Factor" ng-enter="focusToNextCtrl('maxReorderFactor','updateMinMaxReorder')" />
                                            </div>
                                        </div>
                                        <span class="error" style="margin-left:0px;" ng-show="!validateMinMax() && minReorderFactor!=null && maxReorderFactor!=null">Max Reorder Factor must be greater than Min Reorder Factor</span>
                                    </div>

                                </div>                                

                                <div class="panel-body" style="margin-left:12px;margin-right:12px;border-style:ridge" ng-show="showFormulaInfo">
                                    <div class="row" style="margin-top:10px;">
                                        <div class='col-sm-12'>
                                            <label>Example for a Product : </label>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:10px;">
                                        <div class='col-sm-3'>
                                            <label>Sales From Date </label>
                                        </div>
                                        <div class='col-sm-3'>
                                            <label>: 02/06/2017 </label>
                                        </div>
                                        <div class='col-sm-3'>
                                            <label>Sales To Date </label>
                                        </div>
                                        <div class='col-sm-3'>
                                            <label>: 06/06/2017 </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-3'>
                                            <label>No Of Days </label>
                                        </div>
                                        <div class='col-sm-3'>
                                            <label>: 5 </label>
                                        </div>
                                        <div class='col-sm-3'>
                                            <label>Total Sales Qty </label>
                                        </div>
                                        <div class='col-sm-3'>
                                            <label>: 50 </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-3'>
                                            <label>Avg Sales Qty </label>
                                        </div>
                                        <div class='col-sm-9'>
                                            <label>: Total Sales Qty / No Of Days </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-sm-3'>
                                        </div>
                                        <div class='col-sm-3'>
                                            <label>: 50 / 5 = 10 </label>
                                        </div>
                                    </div>

                                    <br/>

                                    <div class="row">
                                        <div class='col-sm-6'>
                                            <label>Min Reorder Factor&nbsp;&nbsp;: 2</label>
                                        </div>
                                        <div class='col-sm-6'>
                                            <label>Max Reorder Factor : 5 </label>
                                        </div>
                                    </div>                                 
                                    
                                    <div class="row">
                                        <div class='col-sm-3'>
                                            <label>Reorder Level </label>
                                        </div>
                                        <div class='col-sm-3 override_margin'>
                                            <label>: Avg S.Qty*Min Fact </label>
                                        </div>
                                        <div class='col-sm-3'>
                                            <label>Reorder Qty </label>
                                        </div>
                                        <div class='col-sm-3 override_margin'>
                                            <label>: Avg S.Qty*Max Fact </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class='col-sm-3'>
                                        </div>
                                        <div class='col-sm-3 override_margin'>
                                            <label>: 10 * 2 = 20 </label>
                                        </div>
                                        <div class='col-sm-3'>
                                        </div>
                                        <div class='col-sm-3 override_margin'>
                                            <label>: 10 * 5 = 50 </label>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:10px;">
                                        <div class='col-sm-12'>
                                            <label>Reorder Level & Reorder Qty will be updated to corresponding product.</label>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding:15px;">
                                    <i class="fa fa-info-circle mar-tb-10 pull-left" title="Show/Hide" aria-hidden="true" style="cursor:pointer;" ng-click="showHideFormula()" ng-enter="showHideFormula()"> Example Calculation</i> 
                                    <button title="Update" style="margin-left:5px" id="updateMinMaxReorder" class="btn btn-style pull-right" ng-click="reorderMinMaxBulkUpdate()" ng-enter="reorderMinMaxBulkUpdate()" ng-disabled="!validToDate || !validFromDate || !validDate || !validateMinMax() || minReorderFactor==null || maxReorderFactor==null || isSaveProcessing  || minReorderFactor == '' || maxReorderFactor == '' || from == '' || to == '' || from == undefined || from == null || to == undefined || to == null">Update</button>
                                    <button title="Cancel" class="btn btn-style btn-cancel pull-right" ng-click="close('No')" ng-enter="close('No')" data-dismiss="modal" ng-disabled="isSaveProcessing">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>
