﻿<script type="text/ng-template" id="updateProductDetails">
    <div class="popup-overlay form-popup large-Modal">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate"  style="max-width:1200px;border-color:#28465a;"  modal="shouldBeOpen">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3 style="background-color:#28465a;">Select Batch - &nbsp; &uarr; or &darr; </h3>
                    <ng-form id="productDetails" name="productDetails">
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row form-data">
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin sell-group-decor12">  
                                        <input  id="SampleID"  type="text" focus-me="shouldBeOpen" ng-keydown="keyPress($event)" style="text-align:center;border:none" readonly ng-model="selectedProductName"/>

                                        <div class="batch1" style="max-height:450px;overflow-y:auto;">
                                            <table rules="cols" class="col-md-12" id="detail" style="font-size:small;">
                                                <thead>
                                                    <tr style="background-color:#e6e2e2;">
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Qty</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Batch</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Expiry</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">VAT%</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">HSN Code</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">GST%</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">{{enableSelling ? 'Each Selling' : 'Each MRP'}}</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">{{enableSelling ? 'Selling' : 'MRP'}}</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper" ng-show="enableSelling">
                                                            <label style="font-size:small;" align="center">Each MRP</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper" ng-show="enableSelling">
                                                            <label style="font-size:small;" align="center">MRP</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Units/Strip</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Profit % On {{enableSelling ? 'Selling' : 'MRP'}}</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Rack No.</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Generic</label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Category</label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody tabindex="0" ng-keydown="keyPress($event)">
                                                    <tr ng-repeat="list1 in batchList1" ng-click="selectRow(($index+1))" ng-class="{highlight1: ($index+1) === isSelectedItem}">
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                            {{list1.stock}}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                            {{list1.batchNo}}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                            {{list1.expireDate | date:'MM/yy' }}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                            {{list1.vat}}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                            {{list1.product.hsnCode}}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                            {{list1.gstTotal}}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                            {{list1.sellingPrice | number:2 }}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                            {{list1.sellingPrice * list1.packageSize | number:2}}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right" ng-show="enableSelling">
                                                            {{list1.mrp | number:2 }}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right" ng-show="enableSelling">
                                                            {{list1.mrp * list1.packageSize | number:2}}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                            {{list1.packageSize}}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                            {{((list1.sellingPrice-list1.purchasePrice) * 100)/ list1.sellingPrice | number:2 }}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                            {{list1.product.rackNo}}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                            {{list1.product.genericName}}
                                                        </td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                            {{list1.product.category}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table> 

                                        </div>
                                                                              
                                        
                                    </div>
                                </div>                                                                                         
                            </div>
                            <div  class="panel">
                                <button class="btn primary-button pull-right" ng-disabled="isSelectedItem==null" ng-click="addDetail(isSelectedItem)">Add</button>
                                <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                            </div>                            
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .highlight1 {
    background-color:#28465a;
    color:white;
}
    
    #detail tbody tr td {    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}    
</style>














