@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Barcode Profile";
    Layout = "_Layout";
}
@await Html.PartialAsync("~/Views/ProductStock/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="barcodeProfileCtrl" ng-cloak>
    <div class="row">
        <h4 class="margin">Barcode Profile Creation</h4>
    </div>
    <div class="panel panel-default">
        <div class="panel-body override_margin">
            <div class="row margin-top-10">
                <div class="col-md-2 margin-top-10">
                    <label>Barcode Profile Name</label>
                </div>
                <div class="col-md-3 input-group override_margin">
                    <input type="text"
                           title="Enter Barcode Profile Name"
                           placeholder="Enter Barcode Profile Name"
                           class="form-control"
                           id="barcodeProfileName"
                           ng-enter="setFocus('defaultProfile')"
                           ng-model="profile.profileName"
                           typeahead-focus-on-select="false"
                           typeahead-min-length="1"
                           required
                           typeahead-on-select="onSelect(profile.profileName)"
                           uib-typeahead="profile as profile.profileName for profile in getProfileList($viewValue)" />
                </div>
                <div class="col-md-5 form-group">
                    <input type="checkbox" id="defaultProfile" ng-model="profile.isDefaultProfile" ng-enter="setFocus('setYesNo0')" class="pull-left margin-top-10" title="Default Profile will be selected automatically in Barcode Generation & Printing screen" />
                    <h5 class="margif-left-5">Set as Default Profile</h5>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-8 override_margin">
                    <table class="table table-bordered override_margin">
                        <thead>
                            <tr>
                                <th class="text-center">S. No</th>
                                <th class="text-center">Settings</th>
                                <th class="text-center">Set[Y/N]</th>
                                <th class="text-center">Order</th>
                                <th class="text-center">Max Length</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in profile.profileJson track by $index">
                                <td>{{data.seqId}}</td>
                                <td>{{data.field}}</td>
                                <td class="col-md-2 override_margin">
                                    <input ng-disabled="profile.isTransactedProfile" type="text" ng-model="data.setYesNo" id="setYesNo{{$index}}" ng-enter="setFocus('order'+$index)" ng-change="setYesNo(data)" maxlength="1" class="form-control txtUpper" />
                                </td>
                                <td class="col-md-2 override_margin">
                                    <input ng-disabled="profile.isTransactedProfile" type="text" id="order{{$index}}" numbers-only valid-number maxlength="2" ng-enter="setFocus('maxLength'+$index)" ng-model="data.order" ng-change="setOrder(data)" class="form-control" />
                                </td>
                                <td class="col-md-2 override_margin">
                                    <input ng-disabled="profile.isTransactedProfile" type="text" id="maxLength{{$index}}" numbers-only valid-number maxlength="2" ng-enter="setFocus((($index+1)==profile.profileJson.length ? 'save' : 'setYesNo'+($index+1)))" ng-model="data.maxLength" ng-change="setMaxLength(data)" class="form-control" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <label>Note:</label>
                    <ul>
                        <li>0/1 will be added as first character in barcode. 0 as Online & 1 as Offline. It will not be added in product wise barcode generation</li>
                        <li>Sequence number will be added as last character in barcode.</li>
                        <li>Sequence number will not be added for product wise barcode generation.</li>
                        <li>Branch code will be added before sequence number in barcode.</li>
                    </ul>
                </div>
            </div>
            <div class="row margin">
                <div class="col-md-8 override_margin">
                    <div class="col-md-6 pull-left margin-top-10">
                        <ul>
                            <li>
                                <label style="color:red">Total maximum length should be less than or equal to {{totalMaxLength}}.</label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 pull-right override_margin">
                        <button title="To {{mode=='NEW' ? 'Save' : 'Update'}} Profile" id="save" class="btn btn-small btn-style form-control" ng-click="saveProfile()">
                            {{mode=='NEW' ? 'Save' : 'Update'}}
                        </button>
                    </div>
                    <div class="col-md-2 pull-right override_margin">
                        <button title="Clear" class="btn btn-style btn-cancel form-control" ng-click="setData()">Clear</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Example Barcode for [Default Profile]: 0 00001 1234 1220 1 1</label>
                    <ul>
                        <li>0 is Online.</li>
                        <li>00001 is product code</li>
                        <li>1234 is last four characters of batch no</li>
                        <li>1220 is expiry date</li>
                        <li>1 is branch code</li>
                        <li>Last 1 is sequence number</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_showConfirmMsg");
    }
</div>

<style>
    .margin-top-10 {
        margin-top: 10px !important;
    }

    .margin {
        margin: 10px 0px 10px 5px;
    }

    .margif-left-5 {
        margin-left: 16px !important;
    }
</style>

@section scripts
{

    <script asp-append-version="true" src="/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/AppScript/Barcode/barcodeAppScript.js"></script>
    <script asp-append-version="true" src="~/AppScript/Barcode/barcodeProfileCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockservice.js"></script>

    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/showConfirmMsgCtrl.js"></script>
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />

}
