@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Barcode Generation & Printing";
    Layout = "_Layout";
}
@await Html.PartialAsync("~/Views/ProductStock/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="barcodeGenerationCtrl" ng-cloak>
    <div class="row">
        <h4 class="margin">Barcode Generation & Printing</h4>
    </div>
    <div class="panel panel-default">
        <div class="panel-body override_margin">
            <div class="row margin">
                <div class="col-md-4 override_margin">
                    <div class="col-md-4 override_margin form-group">
                        <label>Select Filter Type</label>
                        <select id="filterType" class="form-control" ng-model="filterType" title="To Load Data Based On Filter">
                            <option value="" style="display:none;">Select Filter Type</option>
                            <option value="1">Product Wise</option>
                            <option value="2">Purchase (GRN No)</option>
                            <option value="4">Transfer In</option>
                            <option value="3">Opening Stock</option>
                        </select>
                    </div>
                    <div class="col-md-6 override_margin form-group" ng-show="filterType=='2'">
                        <label>Enter GRN No</label>
                        <input type="text"
                               id="grnNo"
                               class="form-control"
                               ng-model="purchase.values"
                               title="Enter GRN No"
                               placeholder="Enter GRN No"
                               ng-enter="checkProduct()" />
                    </div>
                    <div class="col-md-6 override_margin form-group" ng-show="filterType=='3'">
                        <label>Enter Invoice No</label>
                        <input type="text"
                               id="invoiceNo"
                               class="form-control"
                               ng-model="invoiceNo"
                               title="Enter Invoice No"
                               placeholder="Enter Invoice No"
                               ng-enter="checkProduct()" />
                    </div>
                    <div class="col-md-6 override_margin form-group" ng-show="filterType=='4'">
                        <label>Enter Transfer No</label>
                        <input type="text"
                               id="transferNo"
                               class="form-control"
                               ng-model="transferNo"
                               title="Enter Transfer No"
                               placeholder="Enter Transfer No"
                               ng-enter="checkProduct()" />
                    </div>
                    <div class="col-md-6 override_margin form-group sell-product" ng-show="filterType=='1'">
                        <label>Enter Product Name</label>
                        <input type="text"
                               id="productName"
                               class="form-control"
                               ng-model="product"
                               title="Enter Product Name"
                               placeholder="Enter Product Name"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               required
                               uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                               typeahead-template-url="itemTpl.html"
                               typeahead-on-select="onSelect(product)"
                               ng-enter="checkProduct()" />
                        <script type="text/ng-template" id="itemTpl.html">
                            <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H'">
                                <span class='schedule'>H </span><span class="gap"> </span>
                                <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                            </a>
                            <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H1'">
                                <span class='schedule orange'>H1 </span><span class="gap"> </span>
                                <span ng-bind-template="{{match.model.product.code}} {{match.model.product.name}} ({{match.model.stock}})"></span>
                            </a>
                            <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'X'">
                                <span class='schedule pink'>X </span><span class="gap"> </span>
                                <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                            </a>
                            <a tabindex="-1" ng-if="match.model.product.schedule != 'H' && match.model.product.schedule != 'H1' && match.model.product.schedule != 'X'">
                                <span class=''>&nbsp;&nbsp;&nbsp;&nbsp;<span class="gap"></span></span>
                                <span ng-bind-template="{{match.model.product.code}}  {{match.model.product.name}} ({{match.model.stock}})"></span>
                            </a>
                        </script>
                    </div>
                    <div class="col-md-2 override_margin form-group">
                        <button title="To Load Available Stock Data" id="loadData" class="btn btn-style form-control margin-top-25" ng-click="loadData()">
                            Load
                        </button>
                    </div>
                </div>

                <div class="col-md-7 override_margin">
                    @if (!User.HasPermission(UserAccess.Admin))
                    {
                        <div class="col-md-6 override_margin">
                            <div class="col-md-7 override_margin form-group">
                                <label>Select Barcode Profile</label>
                                <select id="profileType" class="form-control" ng-model="barcodeProfile" title="To Select Barcode Profile For Generating Barcode">
                                    <option value="" style="display:none;">Select Barcode Profile</option>
                                    <option ng-repeat="profile in barcodeProfileList track by $index" value="{{profile.id}}">{{profile.profileName}}</option>
                                </select>
                            </div>
                            <div class="col-md-5 override_margin">
                                <button title="To Generate Barcode For Loaded Data" id="generateBarcode" class="btn btn-style form-control margin-top-25" ng-click="generateBarcode()">
                                    Generate Barcode
                                </button>
                            </div>
                        </div>
                    }
                    <div class="col-md-6 override_margin">
                        <div class="col-md-8 override_margin form-group">
                            <label>Select Barcode PRN Design</label>
                            <select id="prnDesign" class="form-control" ng-model="prnDesign" title="To Select Barcode PRN Design For Printing Barcode Stickers">
                                <option value="" style="display:none;">Select Barcode PRN Design</option>
                                <option ng-repeat="prn in prnDesignList track by $index" value="{{prn.id}}">{{prn.prnName}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 override_margin">
                            <button title="To Print Barcode Stickers" id="print" class="btn btn-small btn-style form-control margin-top-25" ng-click="printStickers()">
                                Print
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 pull-right">
                    <button title="Clear" class="btn btn-style btn-cancel form-control margin-top-25" ng-click="clear()">Clear</button>
                </div>
            </div>
            @if (User.HasPermission(UserAccess.Admin))
            {
                <div class="row margin">
                    <div class="col-md-6 override_margin">
                        <div class="col-md-5 override_margin form-group">
                            <label>Select Barcode Profile</label>
                            <select id="profileType" class="form-control" ng-model="barcodeProfile" title="To Select Barcode Profile For Generating Barcode">
                                <option value="" style="display:none;">Select Barcode Profile</option>
                                <option ng-repeat="profile in barcodeProfileList track by $index" value="{{profile.id}}">{{profile.profileName}}</option>
                            </select>
                        </div>
                        <div class="col-md-3 override_margin">
                            <button title="To Generate Barcode For Loaded Data" id="generateBarcode" class="btn btn-style form-control margin-top-25" ng-click="generateBarcode()">
                                Generate Barcode
                            </button>
                        </div>
                        <div class="col-md-3 override_margin">
                            @if (User.HasPermission(UserAccess.Admin))
                            {
                                <button title="To Overrite Barcode For Already Generated Barcode" id="regenerateBarcode" class="btn btn-style form-control margin-top-25" ng-click="reGenerateBarcode()">
                                    ReGenerate Barcode
                                </button>
                            }
                        </div>
                    </div>
                </div>
            }
            <div class="row" id="table-wrapper">
                <div class="col-md-12 override_margin" id="table-scroll">
                    <table class="table table-bordered override_margin">
                        <thead>
                            <tr>
                                <th class="col-md-1 text-center">
                                    <div class="col-md-6 override_margin">
                                    </div>
                                    <div class="col-md-6 override_margin">
                                        <span>S. No</span>
                                    </div>
                                </th>
                                <th class="col-md-1 text-center">Code</th>
                                <th class="col-md-3 text-center">Product</th>
                                <th class="col-md-1 text-center">Batch</th>
                                <th class="col-md-1 text-center">Expiry</th>
                                <th class="col-md-1 text-center">Rate</th>
                                <th class="col-md-1 text-center">MRP</th>
                                <th class="col-md-1 text-center">Stock</th>
                                <th class="col-md-2 text-center">Barcode</th>
                                <th class="col-md-1 text-center">No.of Rows</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in list track by $index">
                                <td class="col-md-1 override_margin1">
                                    <div class="col-md-6 override_margin">
                                        <span class="glyphicon glyphicon-remove cross-icon pull-left" style="cursor: pointer;" title="To delete this row" ng-click="removeItem($index)"></span>
                                    </div>
                                    <div class="col-md-6 override_margin">
                                        <span class="pull-right">{{$index + 1}}</span>
                                    </div>
                                </td>
                                <td class="col-md-1 override_margin1">
                                    {{item.product.code}}
                                </td>
                                <td class="col-md-3 override_margin1">
                                    {{item.product.name}}
                                </td>
                                <td class="col-md-1 override_margin1">
                                    {{item.batchNo}}
                                </td>
                                <td class="col-md-1 override_margin1">
                                    {{item.expireDate | date:'MM/yy'}}
                                </td>
                                <td class="col-md-1 override_margin1">
                                    {{item.sellingPrice | number:2}}
                                </td>
                                <td class="col-md-1 override_margin1">
                                    {{item.mrp | number:2}}
                                </td>
                                <td class="col-md-1 override_margin1">
                                    {{item.stock}}
                                </td>
                                <td class="col-md-2 override_margin1">
                                    {{item.purchaseBarcode}}
                                </td>
                                <td class="col-md-1 override_margin">
                                    <input type="text" id="quantity{{$index}}" numbers-only valid-number maxlength="3" ng-enter="setFocus((($index+1)==list.length ? 'print' : 'quantity'+($index+1)))" ng-model="item.requiredQty" ng-change="validateQty(item)" class="input-box-style" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_showConfirmMsg");
    }
</div>

<style>
    .input-box-style {
        padding-left: 5px;
    }
    .override_margin1 {
        padding: 4px 5px !important;
        margin: 0px !important;
    }

    #table-wrapper {
        position: relative;
    }
    #table-scroll {
        height: 508px;
        overflow: auto;
        margin-top: 20px;
    }
    #table-wrapper table {
        width: 100%;
    }
    #table-wrapper table * {
        /*background: yellow;
        color: black;*/
    }
    #table-wrapper table thead th .text {
        position: absolute;
        top: -20px;
        z-index: 2;
        height: 20px;
        width: 35%;
        border: 1px solid red;
    }

    .margin-top-25 {
        margin-top: 25px;
    }
    .margin {
        margin: 4px 0px 4px 5px;
    }
    .gap {
        margin-left: 5px;
    }
    .sell-product {
        position: relative;
    }
    .sell-product .schedule {
        background-color: #82f7c5;
        width: 15px;
        text-align: center;
        padding: 3px;
        font-size: 11px;
        font-weight: 600;
        line-height: 11px;
        display: inline-block;
        left: 4px;
    }
    .sell-product a {
        cursor: pointer;
        color: #000;
        display: block;
        padding: 8px 30px 8px 24px;
        position: relative;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        padding-left: 10px !important;
    }
    .sell-product a:hover {
        background-image: url(../images/dropdown-right.png);
        background-repeat: no-repeat;
        background-position: right 6px top 50%;
        background-color: #28465a;
        color: #fff;
    }
    .sell-product .product-count {
        position: absolute;
        right: 30px;
        text-align: right;
    }
    .sell-product .orange {
        background-color: #fcdf9a;
        color: #000;
        padding-left: 2px;
    }
    .sell-product .pink {
        background-color: #fabce2;
        color: #000;
    }
    .sell-product a.active {
        background-color: #28465a;
        color: #fff;
        position: relative;
    }
    .sell-product a.active::after {
        content: "";
        background-image: url(../images/dropdown-right.png);
        background-repeat: no-repeat;
        width: 8px;
        height: 11px;
        right: 6px;
        top: 50%;
        margin-top: -5.5px;
        position: absolute;
    }
</style>

@section scripts
{

    <script asp-append-version="true" src="/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/AppScript/Barcode/barcodeAppScript.js"></script>
    <script asp-append-version="true" src="~/AppScript/Barcode/barcodeGenerationCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockservice.js"></script>
    <script asp-append-version="true" src="~/AppScript/VendorPurchase/vendorPurchaseService.js"></script>
    <script asp-append-version="true" src="~/AppScript/stockTrnasfer/stockTransferService.js"></script>

    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/showConfirmMsgCtrl.js"></script>
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />

}
