@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Barcode PRN Design";
    Layout = "_Layout";
}
@await Html.PartialAsync("~/Views/ProductStock/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="barcodePRNDesignCtrl" ng-cloak>
    <div class="row">
        <h4 class="margin">Barcode PRN Field Mapping</h4>
    </div>
    <div class="panel panel-default">
        <div class="panel-body override_margin">
            <div class="row margin-top-10">
                <div class="col-md-2 margin-top-10">
                    <label>Barcode PRN Design Name</label>
                </div>
                <div class="col-md-3 input-group override_margin">
                    <input 
                           type="text" 
                           title="Enter Barcode PRN Design Name" 
                           ng-model="prnDesign.prnName" 
                           ng-enter="setFocus('selectBarcodePRNDesignFile')" 
                           placeholder="Enter Barcode PRN Design Name" 
                           class="form-control" 
                           id="barcodePRNDesignName" 
                           typeahead-focus-on-select="false"
                           typeahead-min-length="1"
                           required
                           typeahead-on-select="onSelect(prnDesign.prnName)"
                           uib-typeahead="prnDesign as prnDesign.prnName for prnDesign in getPrnDesignList($viewValue)"/>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-2 padding-right-0 margin-top-10">
                    <label>Select Barcode PRN Design File</label>
                </div>
                <div class="col-md-3 override_margin">
                    <input type="file" title="Select Barcode PRN Design File" onchange="pressed()" ng-enter="browseFile()" class="col-md-1 override_margin margin-top-8" id="selectBarcodePRNDesignFile" />
                    <label class="margin-top-11" id="lblPRNFile">Please Browse PRN File</label>                    
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-8 override_margin">
                    <table class="table table-bordered override_margin">
                        <thead>
                            <tr>
                                <th class="text-center">S. No</th>
                                <th class="text-center">Barcode Field</th>
                                <th class="text-center">PRN Field</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in prnDesign.prnFieldJson track by $index">
                                <td class="override_margin1">{{data.seqId}}</td>
                                <td class="override_margin1">
                                    {{data.field}} 
                                    <label ng-if="data.isMandatory" class="required"></label>
                                </td>
                                <td class="col-md-3 override_margin">
                                    <input type="text" maxlength="30" ng-enter="setFocus((($index+1)==prnDesign.prnFieldJson.length ? 'save' : 'prnField'+($index+1)))" id="prnField{{$index}}" ng-model="data.prnField" class="input-box-style" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row margin">
                <div class="col-md-8">
                    <div class="col-md-2 pull-right override_margin">
                        <button title="To {{mode=='NEW' ? 'Save' : 'Update'}} PRN Design" id="save" class="btn btn-small btn-style form-control" ng-click="savePRNDesign()">
                            {{mode=='NEW' ? 'Save' : 'Update'}}
                        </button>
                    </div>
                    <div class="col-md-2 pull-right override_margin">
                        <button title="Clear" class="btn btn-style btn-cancel form-control" ng-click="setData()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        await Html.RenderPartialAsync("_showConfirmMsg");
    }
</div>

<style>
    .input-box-style {
        width: 100%;
        padding-left: 5px;
    }
    .override_margin1 {
        padding: 4px 5px !important;
        margin: 0px !important;
    }
    .margin-top-10 {
        margin-top: 8px;
    }

    .margin-top-8 {
        margin-top: 5px !important;
    }

    .margin-top-11 {
        margin-top: 8px;
    }

    .margin {
        margin: 10px 0px 10px 5px;
    }

    .padding-right-0 {
        padding-right: 0px;
    }

    input[type=file] {
        width: 30%;
        color: transparent;
    }
</style>

@section scripts
{

    <script asp-append-version="true" src="/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/AppScript/Barcode/barcodeAppScript.js"></script>
    <script asp-append-version="true" src="~/AppScript/Barcode/barcodePRNDesignCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockservice.js"></script>

    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/showConfirmMsgCtrl.js"></script>
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />

}
