@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@{
    ViewBag.Title = "Inventory Setting";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/ProductStock/Menu.cshtml")
@if (!User.HasPermission(UserAccess.Settings))
{
    @await Html.PartialAsync("~/Views/Shared/_SettingsRights.cshtml");
}
<div class="row" ng-app="hcue" ng-controller="updateInventorySettingCtrl" ng-cloak>
    <div class="panel panel-default">
        <div class="panel-body" ng-form="InventorySettingForm">
            <div class='row'>
                <div class='col-sm-6'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12 inventorySearch">
                            <div class="col-md-12 override_margin">No. of days Stock Holding in Quantity</div>
                            <div class='input-group col-md-5 override_margin' style="width:300px;">
                                <input type="text" placeholder="Enter No. of days" name="noOfDays" id="noOfDays" ng-model="inventorySetting.noOfDays" class="col-md-12 form-control" style="height:38px;" min="0" valid-number numbers-only maxlength="3" />
                                @*<span class="input-group-btn" style="margin-top:0px;margin-bottom:10px;">
                                    <button title="Save" class="btnSave btn-style pull-left" ng-click="inventorySettingUpdate()">Submit</button>
                                </span>*@
                            </div>
                            <div class='input-group-btn col-sm-2' style="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class='row'>
                    <div class='col-sm-6'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 inventorySearch">
                                <div class="col-md-12 override_margin">Set No. of Months when product should show-up in Dashboard/Report</div>
                                <div class='input-group col-md-5 override_margin' style="width:300px;">
                                    <input type="number" placeholder="Enter No. of Months" name="noOfMonth" id="noOfMonth" ng-model="inventorySetting.noOfMonth" class="col-md-12 form-control" style="height:38px;" />
                                    <span class="input-group-btn" style="margin-top:0px;margin-bottom:10px;">
                                        <button title="Save" class="btnSave btn-style pull-left" ng-click="inventorySettingUpdate()">Submit</button>
                                    </span>
                                </div>
                                <div class='input-group-btn col-sm-2' style="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="row">
            <div class='col-sm-6'>
                <div class='form-group'>
                    <div class="input-group col-sm-12">
                        <div class="col-md-12 override_margin">Enable Physical Stock Verification Popup</div>
                        <div class="row col-md-10 sell-group-decor5 radio">
                            <div class="col-md-2 override_margin">
                                <input type="radio" value=1 name="physicalStockPopup" ng-model="physicalStockPopup.popupEnabled" id="txtphysicalStockPopup" />
                                <label for="txtphysicalStockPopup">Yes</label>
                            </div>
                            <div class="col-md-2 override_margin">
                                <input type="radio" value=0 name="physicalStockPopup" ng-model="physicalStockPopup.popupEnabled" id="txtNotphysicalStockPopup" />
                                <label for="txtNotphysicalStockPopup">No</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-left" ng-show="physicalStockPopup.popupEnabled==1">
            <div class="col-sm-12">
                <div class='col-sm-3 override_margin'>
                    <div class='col-sm-6 override_margin'>
                        <label class="required">Popup Start Date</label>
                        <div class='form-group'>
                            <div class="input-group">
                                <input type="text" class="form-control" id="startDate" uib-datepicker-popup="{{format}}" placeholder="Start Date" ng-model="startDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" number close-text="Close" alt-input-formats="altInputFormats" my-date maxlength="10" readonly />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-6 override_margin'>
                        <label class="required">Popup End Date</label>
                        <div class='form-group'>
                            <div class="input-group">
                                <input type="text" class="form-control" id="endDate" uib-datepicker-popup="{{format}}" placeholder="End Date" ng-model="endDate" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" number close-text="Close" alt-input-formats="altInputFormats" my-date maxlength="10" readonly />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label class="required">Popup Start Time</label>
                    <div class='form-group override_margin'>
                        <div class="input-group override_margin">
                            <div class="col-sm-9 override_margin">
                                <div class="col-sm-6 override_margin">
                                    <select chosen
                                            id="txtStartHour"
                                            title="Hour"
                                            option="hourList"
                                            data-placeholder="Hr"
                                            ng-model="physicalStockPopup.startHour"
                                            ng-options="hour.time for hour in hourList track by hour.time"
                                            class="form-control"
                                            name="txtStartHour"
                                            required>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-sm-6 override_margin">
                                    <select chosen
                                            id="txtStartMinute"
                                            title="Minute"
                                            option="minutesList"
                                            data-placeholder="Ms"
                                            ng-model="physicalStockPopup.startMinute"
                                            ng-options="minute.time for minute in minutesList track by minute.time"
                                            class="form-control"
                                            name="txtStartMinute"
                                            required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 override_margin">
                                <select class="form-control meridian-style" id="txtStartMeridian" name="txtStartMeridian" ng-model="physicalStockPopup.startMeridian">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 override_margin">
                    <label class="required">Popup End Time</label>
                    <div class='form-group override_margin'>
                        <div class="input-group override_margin">
                            <div class="col-sm-9 override_margin">
                                <div class="col-sm-6 override_margin">
                                    <select chosen
                                            id="txtEndHour"
                                            title="Hour"
                                            option="hourList"
                                            data-placeholder="Hr"
                                            ng-model="physicalStockPopup.endHour"
                                            ng-options="hour.time for hour in hourList track by hour.time"
                                            class="form-control"
                                            name="txtEndHour"
                                            required>
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-sm-6 override_margin">
                                    <select chosen
                                            id="txtEndMinute"
                                            title="Minute"
                                            option="minutesList"
                                            data-placeholder="Ms"
                                            ng-model="physicalStockPopup.endMinute"
                                            ng-options="minute.time for minute in minutesList track by minute.time"
                                            class="form-control"
                                            name="txtEndMinute"
                                            required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3 override_margin">
                                <select class="form-control meridian-style" id="txtEndMeridian" name="txtEndMeridian" ng-model="physicalStockPopup.endMeridian">
                                    <option value="AM">AM</option>
                                    <option value="PM">PM</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 override_margin">
                    <label>Next Popup Interval (in Minutes)</label>
                    <div class='form-group'>
                        <div class="input-group">
                            <input class="form-control margin-top-3" type="text" id="txtPopupInterval" name="txtPopupInterval" title="Enter next popup interval in minutes" placeholder="Interval" numbers-only ng-model="physicalStockPopup.popupInterval" maxlength="3" />
                            <span>{{NoofPopupCount()}} popup per day</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class='row'>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <div class="input-group col-sm-12">
                        <div class='input-group col-md-12 override_margin'>
                            <span class="input-group-btn" style="margin-top:0px;margin-bottom:10px;">
                                <button title="To save settings" id="btnPhysicalStockPopup" class="btnSave btn-style pull-right" ng-click="btnPhysicalStockPopup()">Save</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .margin-left {
        margin-left: 15px !important;
    }
    .meridian-style {
        height: 35px !important;
        width:70px!important;
    }
    .margin-top-3{
        margin-top:3px;
    }
</style>
@section scripts
{

    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/inventorySettingsAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockservice.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/updateInventorySettingCtrl.js"></script>

    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-export.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}
