@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Inventory";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/ProductStock/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="productListCtrl" ng-cloak>

    <div class="col-md-12 sell-decor1">
        <div class="panel panel-default brRadius">
            <div class="panel-body override_margin sell-decor10">
                <div class='row sell-decor1'>
                    <div class='col-sm-4 override_margin'>
                        <div class='form-group override_margin'>
                            <div class="input-group ingrp override_margin">
                                <div class="col-sm-4 override_margin">
                                    <div class='col-sm-12 override_margin'>
                                        <div class="form-group">
                                            <label>Select Anyone</label>
                                            <div class="input-group col-md-12 override_margin inventorySearch">
                                                <select id="inventory" name="inventory" title="Product Stock" ng-model="search.select" ng-change="changeoptions()" class="form-control" required style="height:44px;">
                                                    <option value="">Please Select</option>
                                                    <option value="product">Product Name</option>
                                                    <option value="generic">Generic Name</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>                              
                                <div class='col-sm-4 override_margin inventorySearch'>
                                    <div class='col-sm-12 override_margin' ng-if="productCondition==true">                                       
                                        <div class='form-group'>
                                            <label>Enter Product</label>
                                            <div class="input-group col-md-12 override_margin">
                                                <input title="Product Name" type="text" placeholder="Product" id="drugName" name="drugName" class="search-query form-control" ng-enter="salesSearch()" ng-model="search.drugName" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)" typeahead-on-select="onProductSelect($item)" style="height:44px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-12 override_margin' ng-if="genericCondition==true">
                                        <div class='form-group'>
                                            <label>Enter Generic</label>
                                            <div class="input-group col-md-12 override_margin">                                               
                                                <input title="Generic Name" type="text" typeahead-focus-on-select="false" typeahead-min-length="0" placeholder="Generic Name" id="genericName" name="genericName" ng-model="search.genName" uib-typeahead="product as product.genericName for product in getGeneric($viewValue)" class="search-query form-control" style="height:44px;">

                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                
                                <div class='input-group-btn col-sm-2 override_margin'>
                                    <span class="input-group-btn search">
                                        <button class="btn1 btn-style pull-left" style="margin-left:14px; margin-top:27px; padding: 6px 12px;" type="button" ng-click="productStockSearch(null)">
                                            Search
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-8 override_margin'>

                        <div class='col-sm-12 override_margin'>
                            <strong> Search by alphabet</strong>
                        </div>
                        <div class='col-sm-12 override_margin'>
                            <div class="search-char col-sm-12 override_margin">
                                <a href="" ng-click="productStockSearch('A')">A</a>
                                <a href="" ng-click="productStockSearch('B')">B</a>
                                <a href="" ng-click="productStockSearch('C')">C</a>
                                <a href="" ng-click="productStockSearch('D')">D</a>
                                <a href="" ng-click="productStockSearch('E')">E</a>
                                <a href="" ng-click="productStockSearch('F')">F</a>
                                <a href="" ng-click="productStockSearch('G')">G</a>
                                <a href="" ng-click="productStockSearch('H')">H</a>
                                <a href="" ng-click="productStockSearch('I')">I</a>
                                <a href="" ng-click="productStockSearch('J')">J</a>
                                <a href="" ng-click="productStockSearch('K')">K</a>
                                <a href="" ng-click="productStockSearch('L')">L</a>
                                <a href="" ng-click="productStockSearch('M')">M</a>
                                <a href="" ng-click="productStockSearch('N')">N</a>
                                <a href="" ng-click="productStockSearch('O')">O</a>
                                <a href="" ng-click="productStockSearch('P')">P</a>
                                <a href="" ng-click="productStockSearch('Q')">Q</a>
                                <a href="" ng-click="productStockSearch('R')">R</a>
                                <a href="" ng-click="productStockSearch('S')">S</a>
                                <a href="" ng-click="productStockSearch('T')">T</a>
                                <a href="" ng-click="productStockSearch('U')">U</a>
                                <a href="" ng-click="productStockSearch('V')">V</a>
                                <a href="" ng-click="productStockSearch('W')">W</a>
                                <a href="" ng-click="productStockSearch('X')">X</a>
                                <a href="" ng-click="productStockSearch('Y')">Y</a>
                                <a href="" ng-click="productStockSearch('Z')">Z</a>
                            </div>
                        </div>
                    </div>
                </div>
                @*@{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }*@
            </div>
        </div>
    </div>

    <div class='row'>

        @*<div class='col-sm-6'>
                <span class="input-group-addon1 front-addon1" ng-if="availableProductsCount != 0">
                    <strong>Available Products - {{availableProductsCount}} / {{list.length}}</strong>
                </span>
                <span class="input-group-addon1 override_margin front-addon1" style="margin-left:50px" ng-if="list.length != 0">
                    <strong> InActive Products - {{InActiveCount}}</strong>
                </span>
                &nbsp;
            </div>*@

        <div class="col-md-12 input-group inventoryrdb">
            <div class="sell-decor10">
                
                <label ng-click="stockSorting('All');Myclass='productRr'"  ng-class="{active : activeMenu === 'All'}">All ( {{count}} )</label>
            </div>
           
            <div class="sell-decor10">
               
                <label ng-click="stockSorting('Available');Myclass='productRr'" ng-class="{active : activeMenu === 'Available'}">Available</label>
             
                <label ng-click="stockSorting('Expiry');Myclass='productRr'" ng-class="{active : activeMenu === 'Expiry'}">Expiry </label>  <b>( {{available}} )</b>
            </div>
            <div class="sell-decor10">
              
                <label ng-click="stockSorting('Zero');Myclass='productZ'" ng-class="{active : activeMenu === 'Zero'}">Zero Stock <span ng-hide="zeroQty==''" ng-bind-template="( {{zeroQty}} )"></span></label>
            </div>
            <div class="sell-decor10">

                <label ng-click="stockSorting('Inactive');Myclass='productRr'" ng-class="{active : activeMenu === 'Inactive'}">Inactive Stock<span ng-hide="inactive==''" ng-bind-template="( {{inactive}} )"></span></label>
            </div>
            <div class="sell-decor10">           
                <label ng-click="reorderSorting('Reorder');Myclass='product'" ng-class="{active : activeMenu === 'Reorder'}">Reorder <span ng-hide="reOrder==''" ng-bind-template="( {{reOrder}} )"></span></label>
            </div>
            

        </div>


    </div>

    <div class="panel panel-default inventoryList">
        <div class="pull-left sell-decor4 sell-decor10" ng-if="list.length == 0">
            No Records found
        </div>
        <div class="panel-body" ng-if="list.length > 0">
            <div class='row'>

                <div class="row tblHeader">
                    <div class="col-md-12 override_margin">
                        <div class="plusbtn override_margin"></div>
                        <div class="col-md-12 ">
                            <span class="span code">Code</span>                 
                            <span class="span" ng-class="Myclass">Product</span>
                            <span class="span batch">MFR</span>
                            <span class="span" ng-class="Myclass">Vendor</span>
                            <span class="span batch" ng-hide="ReorderScope==2">Batch</span>
                            <span class="span code" ng-hide="ReorderScope==2">Expiry</span>
                            <span class="span sqty text-right">Qty</span>
                            <span class="span unitCost text-right">Cost Price</span>
                            <span class="span batch" ng-show="ReorderScope==1">Reorder</span>
                            <span class="span rack">Rack</span>
                            <span class="span rack">Box</span>
                            <span class="span status" ng-show="allItemScope==1">Status</span>
                        </div>
                    </div>

                </div>

                <div ng-repeat="item in list">
                    <div class="chip-style override_margin" ng-repeat="productStock in item.product.productStock" ng-if="item.product.productStock.length == 1">
                        <div class="{{productStock.rowHighlight}}">
                            <div class="plusbtn override_margin">&nbsp;</div>
                            <div class="col-md-12">
                                @*<span class="span code">u{{item.product.code}}</span>*@
                                <span class="span code" title="{{item.product.code}}">{{item.product.code | limitTo:5}}{{item.product.code.length > 5 ? '...' : ''}}</span>
                                <span class="span"  ng-class="Myclass">{{item.product.name}}</span>
                                <span class="span batch" title="{{item.product.manufacturer}}">{{item.product.manufacturer | limitTo:4}}{{item.product.manufacturer.length > 4 ? '...' : ''}}</span>

                                <div ng-repeat="productStock in item.product.productStock" ng-if="item.product.productStock.length == 1">

                                    <span class="span"  ng-class="Myclass">{{item.vendor.name | uppercase}}</span>
                                    <span class="span batch" ng-hide="ReorderScope==2"> {{productStock.batchNo}}</span>
                                    <span class="span code" ng-hide="ReorderScope==2">{{productStock.expireDate | date:'MM/yy'}}</span>
                                    <span class="span sqty text-right"> {{productStock.stock}}</span>
                                </div>
                            </div>
                            <div class="override_margin">
                                <span class="span unitCost text-right" style="word-break:break-all;margin-top: 7px;">{{productStock.purchasePrice | number:2}}</span>
                                <span class="span batch" ng-class="item.inventoryReOrder.status==1 ? 'reOrder' : ''" ng-show="ReorderScope==1">
                                    <input type="text" placeholder="" class="form-control override_margin" ng-model="item.inventoryReOrder.reOrder" style="width:95%" />
                                </span>
                                <span class="span rack">
                                 <input type="text" placeholder="" class="form-control override_margin" ng-model="item.product.rackNo" style="width:95%"  ng-disabled="ReorderScope!=1 && allItemScope!=1" maxlength="5"/>
                                </span>
                                <span class="span rack">
                                    <input type="text" placeholder="" class="form-control override_margin" ng-model="item.product.boxNo" style="width:95%" ng-disabled="ReorderScope!=1 && allItemScope!=1" maxlength="5"/>
                                </span>
                                <span class="span batch" ng-show="allItemScope==1">
                                    <select data-ng-model="item.product.status" class="form-control override_margin col-md-6" style="width:70%" data-ng-options="v as k for (k, v) in options" ng-disabled="ReorderScope==1"></select>
                            @if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                            {
                                <span class="glyphicon glyphicon-floppy-save col-md-3" style="cursor: pointer; padding-left:4px; margin:7px 2px;" ng-click="updateProduct(item)"> </span>
                            }
                                </span>
                            </div>
                        </div>
                    </div>                   
                 

                    <div class="chip-style override_margin" ng-if="item.product.productStock.length != 1">
                        <div class="override_margin">
                            <div class="plusbtn override_margin"><button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}"
                                                                          ng-click="toggleProductDetail($event)"
                                                                          ng-if="item.product.productStock.length >1">+</button></div>
                            <div class="col-md-12">                                
                                <span class="span code" title="{{item.product.code}}" onmou>{{item.product.code | limitTo:5}}{{item.product.code.length > 5 ? '...' : ''}}</span>
                                <span class="span"  ng-class="Myclass">{{item.product.name}}</span>
                                <span class="span batch" title="{{item.product.manufacturer}}"> {{item.product.manufacturer | limitTo:4}} {{item.product.manufacturer.length > 4 ? '...' : ''}}</span>

                                <div ng-if="item.product.productStock.length != 1">
                                    <span class="span" ng-class="Myclass">&nbsp;</span>
                                    <span class="span batch" ng-hide="ReorderScope==2"></span>
                                    <span class="span code" ng-hide="ReorderScope==2">&nbsp;</span>
                                    <span class="span sqty text-right">{{item.product.stock}}</span>
                                </div>
                            </div>


                            <div class="override_margin">
                                <span class="span unitCost text-right" style="word-break:break-all;margin-top: 7px;">{{item.product.totalpurchaseprice | number:2}}</span>
                                <span class="span batch" ng-class="item.inventoryReOrder.status==1 ? 'reOrder' : ''" ng-show="ReorderScope==1">
                                    <input type="text" placeholder="" class="form-control override_margin" ng-model="item.inventoryReOrder.reOrder" style="width:95%" />
                                </span>
                                <span class="span rack">
                                    <input type="text" placeholder="" maxlength="5" class="form-control override_margin" ng-model="item.product.rackNo" style="width:95%" ng-disabled="ReorderScope!=1 && allItemScope!=1"/>
                                </span>
                                <span class="span rack">
                                    <input type="text" placeholder="" maxlength="5" class="form-control override_margin" ng-model="item.product.boxNo" style="width:95%" ng-disabled="ReorderScope!=1 && allItemScope!=1"/>
                                </span>
                                <span class="span batch" ng-show="allItemScope==1">
                                    <select data-ng-model="item.product.status" class="form-control override_margin col-md-6" style="width:70%" data-ng-options="v as k for (k, v) in options" ng-disabled="ReorderScope==1"></select>
                                    
                                @if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                                {
                                    <span class="glyphicon glyphicon-floppy-save col-md-3" style="cursor: pointer; padding-left:4px; margin:7px 2px;" ng-click="updateProduct(item)"> </span>
                                }
                                </span>

                            </div>
                        </div>

                    </div>


                    <div class="chips-wrapper override_margin" style="overflow:hidden; display: none;text-align:left;" id="chip-wrapper{{$index}}">
                        <div class="sell-group-decor8 child-wrapper" style="border-bottom:1px solid #DEECEB;float:left;width: 100%;" 
                             ng-repeat="productStock in item.product.productStock" ng-if="item.product.productStock.length > 1">
                            <div class="{{productStock.rowHighlight}}">
                                <div class="plusbtn override_margin">&nbsp;</div>
                                <div class="col-md-12">
                                    <span class="span code"></span>
                                    @*<span>{{item.vendor.name}}</span>*@
                                    <span class="span"  ng-class="Myclass"></span>
                                    <span class="span batch"></span>
                                    <span class="span"  ng-class="Myclass">{{productStock.vendor.name | uppercase}}</span>
                                    <span class="span batch" ng-hide="ReorderScope==2"> {{productStock.batchNo}}</span>
                                    <span class="span code" ng-hide="ReorderScope==2">{{productStock.expireDate | date:'MM/yy'}}</span>
                                    <span class="span sqty text-right">{{productStock.stock}}</span>

                                </div>

                                <div class="override_margin">
                                    <span class="span unitCost text-right" style="word-break:break-all;margin-top: 7px;">{{productStock.purchasePrice | number:2}}</span>
                                    <span class="span batch"></span>
                                    <span class="span rack"></span>
                                    <span class="span rack"></span>
                                    <span class="span batch" style="float:right;margin-right: 7px;" ng-show="allItemScope==1">
                                        <select data-ng-model="productStock.status" class="form-control override_margin col-md-7" style="width:70%" data-ng-options="v as k for (k, v) in options" ng-disabled="ReorderScope==1"></select>
                                        <span class="glyphicon glyphicon-floppy-save" style="cursor: pointer; padding-left:4px; margin: 0px;" ng-click="updateSingleProductStock(productStock)"> </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>

    </div>

</div>
<style>
    .search-char a {
        margin-right: 4px;
        width: 28px;
        border: 2px solid #E0E0E0;
        background: #fff;
        font-weight: bold;
        color: #222;
        font-size: 16px;
        font-weight: bold;
    }

        .search-char a:hover {
            color: #fff;
            background: #40AE9F;
            border: 2px solid #40AE9F;
        }

    .rowHighlight {
        background: #FEDDDC !important;
        float: left;
        width: 100%;
    }

    .inventoryList, .inventoryList div.chip-style, .inventoryList .sell-group-decor9, .inventoryList .form-control, .chips-wrapper span {
        font-weight: bold;
        color: #3E3936 !important;
    }

    .tblHeader, .tblHeader div {
        background-color: #D6D6D6;
        color: #333 !important;
        font-size: 16px;
    }

        .tblHeader span {
            background-color: #D6D6D6;
            color: #333 !important;
            font-size: 16px;
            display: block;
            float: left;
            border: 0px solid #fff;
        }

    .span {
        display: block;
        float: left;
        border: 1px solid #fff;
    }

    .rowHighlight .span {
        display: block;
        float: left;
        border: 1px solid #FEDDDC;
    }

    .code {
        width: 6%;
        font-size:13px;
    }
    .sqty {
        width: 7%;
        font-size:13px;
    }

    .product {
        width: 12%;
        font-size:13px;
    }


    .productR {
        width: 18%;
        font-size:13px;
    }
    .productRr{
        width:16%;
        font-size:13px;
    }

     .productZ {
        width: 22%;
        font-size:13px;
    }


    .batch {
        width: 8%;
        font-size:13px;
    }

    .status {
        width: 7%;
        font-size:13px;
    }
        
    .rack {
        width: 5%;
        font-size:13px;
    }

    .sell-group-decor8 {
        padding: 0px 0px 0px 0px !important;
    }

    .brRadius {
        border-radius: 4px;
    }

    .angucomplete-holder .form-control {
        height: 44px;
    }

    .search .btn1 {
        height: 44px;
    }

    .inventoryList div.chip-style {
        border-bottom: 1px solid #EBEAEA !important;
        padding: 5px 0px;
        border: 0px;
    }

    .sell-group-decor9 {
        padding: 5px 1px !important;
    }

    .col-md-8 {
        width: 67.666667%;
    }

    .col-md-4 {
        width: 32.33333333333333%;
    }

    .chip-btn {
        margin-left: 0px;
        margin-top: 6px;
    }

    .plusbtn {
        width: 25px;
        height: 20px;
        float: left;
    }

    .chips-wrapper span {
        margin-right: 0px;
    }

    .chip-style, .chips-wrapper .child-wrapper {
        line-height: 39px;
    }

    .unitCost {
        line-height: 23px;
        font-size: 13px;
        width: 12%;
        margin-right:20px;
    }

    .inventoryrdb label.active {
        font-size: 14px;
        cursor: pointer;
        background: #039394;
        color: #fff;
        padding: 5px;
        border-radius: 4px;
    }
</style>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

<script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    
@*<script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>*@

    <script asp-append-version="true" src="~/appscript/productstock/productstockappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pageServiceInventory.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productstockservice.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productlistctrl.js"></script>

    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-export.js"></script>
}
