﻿@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
<ul class="nav nav-tabs override_margin">
    <li class="@(ViewBag.Title == "Inventory" ? "active" : "")">
        <a asp-action="List" asp-controller="ProductStock">
            INVENTORY
        </a>
    </li>
@if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
{
    <li class="@(ViewBag.Title == "Update Inventory" ? "active" : "")">
        <a asp-action="UpdateInventory" asp-controller="ProductStock">
            UPDATE INVENTORY
        </a>
    </li>
    @*@if (ViewBag.Config.AppConfig.IsSqlServer)
    {
        <li>
            <a href="/ExpireProductReport/list">EXPIRE PRODUCT REPORT</a>
        </li>
    }*@
    @if (User.HasPermission(UserAccess.Settings))
    {
        <li class="@(ViewBag.Title == "Inventory Setting" ? "active" : "")">
            <a asp-action="InventorySetting" asp-controller="ProductStock">
                INVENTORY SETTING
            </a>
        </li>
    }
    <li class="@(ViewBag.Title == "ProductMaster" ? "active" : "")">
        <a asp-action="ProductMaster" asp-controller="ProductStock">
            PRODUCT MASTER
        </a>
    </li>
    <li class="@(ViewBag.Title == "Self Consumption" ? "active" : "")">
        <a asp-action="SelfConsumption" asp-controller="ProductStock">
            SELF CONSUMPTION
        </a>
    </li>

    <a href="/Sales/Download" class="blink_me" title="new sales screen" style="color:#28465a;font-size:15px;float:right;margin-right:25px;text-decoration:none;" formmethod="get" formaction="Download" formtarget="_blank">* HSN Code Reference</a>
}

    @if (ViewBag.IsBarcodeEnabled == true)
    {
    <li class="dropdown @(ViewBag.Title == "Barcode Profile"
                || ViewBag.Title == "Barcode PRN Design"
                || ViewBag.Title == "Barcode Generation & Printing"
                ? "active" : "")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Barcode&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li class="@(ViewBag.Title == "Barcode Profile" ? "active" : "")">
                <a asp-action="BarcodeProfile" asp-controller="ProductStock">Barcode Profile</a>
            </li>
            <li class="@(ViewBag.Title == "Barcode PRN Design" ? "active" : "")">
                <a asp-action="BarcodePRNDesign" asp-controller="ProductStock">Barcode PRN Design</a>
            </li>
            <li class="@(ViewBag.Title == "Barcode Generation & Printing" ? "active" : "")">
                <a asp-action="BarcodeGeneration" asp-controller="ProductStock">Barcode Generation & Printing</a>
            </li>
        </ul>
    </li>
    }

</ul>
