@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "ProductMaster";
    Layout = "_Layout";
}
@await Html.PartialAsync("~/Views/ProductStock/Menu.cshtml")
@*ng-init="init()"*@
<div class="row" ng-app="hcue" ng-controller="ProductMasterCtrl" ng-cloak>



    <div>
        <div id="EditProduct" class="panel panel-default" ng-show="showPanel1">
            <div ng-form="productForm">
                <div class="panel-heading">Edit Drug</div>
                <div class="panel-body productform">
                    <div class='row'>
                        <div class='col-sm-12 override_margin'>

                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label class="required">Drug Name</label>
                                    <div class="input-group override_margin col-sm-12">
                                        <input title="Name of drug" id="productName" required name="productName" type="text" placeholder="Name of drug" class="search-query form-control" ng-model="productsItem.name" ng-keyup="keyEnter($event,'genericName')">
                                        <span class="error" ng-show="productForm.productName.$dirty && productForm.productName.$error.required">Required!</span>
                                    </div>
                                </div>
                            </div><div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label class="required">Generic Name</label>
                                    <div class="input-group override_margin col-sm-12">
                                        <input title="Generic Name" type="text" typeahead-focus-on-select="false" typeahead-min-length="0" placeholder="Generic Name" id="genericName" name="genericName" required ng-model="productsItem.genericName" uib-typeahead="product as product.genericName for product in getGeneric($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'manufacturer')">
                                        <span class="error" ng-show="productForm.genericName.$dirty && productForm.genericName.$error.required">Required!</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label class="required">Manufacturer</label>
                                    <div class="input-group override_margin col-sm-12">
                                        <input title="Manufacturer" type="text" placeholder="Manufacturer" id="manufacturer" name="manufacturer" required ng-model="productsItem.manufacturer" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.manufacturer for product in getManufacturer($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'scheduledCategory')">
                                        <span class="error" ng-show="productForm.manufacturer.$dirty && productForm.manufacturer.$error.required">Required!</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label>Scheduled Category</label>
                                    <div class="input-group override_margin col-sm-12">
                                        <input title="Scheduled Category" type="text" placeholder="Scheduled Category" id="scheduledCategory" name="scheduledCategory" ng-model="productsItem.schedule" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.schedule for product in getSchedule($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'type')">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class='row'>
                        <div class='col-sm-12 override_margin'>

                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label>Type</label>
                                    <div class="input-group override_margin col-sm-12">
                                        <input title="Type" type="text" placeholder="Type" id="type" name="type" ng-model="productsItem.type" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.type for product in getType($viewValue)" uibTypeaheadHighlight:query class="search-query form-control" typeahead-show-hint="true" ng-keyup="keyEnter($event,'category')">
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label>Category</label>
                                    <div class="input-group override_margin col-sm-12">
                                        <input title="Category" type="text" placeholder="Category" id="category" name="category" ng-model="productsItem.category" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.category for product in getCategory($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'kindName')">
                                    </div>
                                </div>
                            </div>

                            @*<div class='col-sm-3 override_margin'>
                                    <div class='form-group'>
                                        <label>Category</label>
                                        <div class="input-group override_margin col-sm-12">

                                            <input type="text" id="category" name="category" class="form-control" ng-model="productsItem.category" data-min-length="0"
                                                   data-html="1" data-auto-select="true" bs-options="cat as cat.value for cat in categoryNames"
                                                   placeholder="Category" bs-typeahead ng-keyup="keyEnter($event,'kindName')">

                                        </div>
                                    </div>
                                </div>*@

                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label>Kind</label>
                                    <div class="input-group override_margin col-sm-12">

                                        <input type="text" id="kindName" name="kindName" class="form-control" ng-model="productsItem.kindName" data-min-length="0"
                                               data-html="1" data-auto-select="true" bs-options="icon as icon.label for icon in kindNames"
                                               placeholder="kind Name" bs-typeahead ng-keyup="keyEnter($event,'commodityCode')">
                                        @*<input title="Kind" type="text" placeholder="Kind" id="kind" name="kind" ng-model="productsItem.kind" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')">*@
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label>Commodity Code</label>
                                    <div class="input-group override_margin col-sm-12">
                                        <input title="Commodity Code" type="text" placeholder="Commodity Code" id="commodityCode" name="commodityCode" ng-model="productsItem.commodityCode" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.commodityCode for product in getCommodity($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'updateProduct')">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-sm-12 override_margin'>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label>Packaging</label>
                                    <div class="input-group override_margin col-sm-12">
                                        @if (User.GSTEnabled() == "False")
                                        {
                                            <input title="Packaging" type="text" placeholder="Packaging" id="packaging" name="packaging" ng-model="productsItem.packageSize" class="search-query form-control" ng-keyup="keyEnter($event,'vat')" valid-number>
                                        }
                                        else
                                        {
                                            <input title="Packaging" type="text" placeholder="Packaging" id="packaging" name="packaging" ng-model="productsItem.packageSize" class="search-query form-control" ng-keyup="keyEnter($event,'price')" required valid-number>
                                        }
                                    </div>
                                </div>
                            </div>
                            @if (User.GSTEnabled() == "False")
                            {
                                <div class='col-sm-3 override_margin'>
                                    <div class='form-group'>
                                        <label>Vat%</label>
                                        <div class="input-group override_margin col-sm-12">
                                            <input title="Vat" type="text" placeholder="Vat" id="vat" name="vat" ng-model="productsItem.vat" class="search-query form-control" ng-keyup="keyEnter($event,'price')" maxlength="5" valid-number>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label>Price</label>
                                    <div class="input-group override_margin col-sm-12">
                                        <input title="Price" type="text" placeholder="Price" id="price" name="price" ng-model="productsItem.price" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')" valid-number>
                                        <span class="error" ng-show="productForm.packaging.$dirty && productForm.packaging.$error.required">Required!</span>
                                      </div>
                                </div>
                            </div>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label>Status</label>
                                    <div class="input-group col-md-12 override_margin">
                                        <select chosen class="search-query form-control" ng-model="productsItem.status" ng-options="category.CategoryID as category.Name for category in categories"></select>

                                        @*<select id="status" name="status" chosen title="Status" placeholder="Status" ng-model="productsItem.status" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')">
                                                <option value="1">Active</option>
                                                <option value="2">InActive</option>
                                            </select>*@
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>




                    <div class='row'>
                        <div class='col-sm-12 override_margin'>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>

                                </div>
                            </div>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>

                                </div>
                            </div>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>

                                </div>
                            </div>

                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <label></label>
                                    <div class="col-md-12 override_margin">
                                        <button title="Update Product" id="updateProduct" class="btn btn-style pull-left" ng-disabled="!productForm.$valid" my-enter="updateProduct()" ng-click="updateProduct()">Update Drug</button> &nbsp; &nbsp; &nbsp;
                                        <button title="Cancel" class="btn btn-style btn-cancel pull-left" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3 '>
                    <div class='form-group productSearch'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <img src="~/assets/images/drug.png" />
                            </span>
                            <input title="Product Name" type="text" id="productName" name="productName" placeholder="Drug Name" class="search-query form-control" 
                                   uib-typeahead="product as product.name for product in getProducts($viewValue)" 
                                    typeahead-on-select="onProductSelect($item)"
                                    ng-model="search.drugName" ng-enter="productSearch(search.drugName)" />
                        </div>
                    </div>
                </div>


                <div class='col-sm-3'>
                    <div class="pull-left">
                        <button title="Search" class="btn btn-style" ng-click="productSearch(search.drugName)">Search</button>
                    </div>
                    <span>
                        @if (User.HasPermission(UserAccess.AddNewProduct))
                        {
                            <a title="Add New Product" data-ng-click="PopupAddNewProduct()" class="btn btn-style pull-right">Add New Product</a>
                        }
                    </span>
                </div>
                <div class="col-sm-6">
                   
                    <a href="~/Product/multiedit" class="btn btn-style" style="margin-left:112px;">Bulk Update</a>&nbsp;

                    @if (User.HasPermission(UserAccess.Admin) && !ViewBag.Config.AppConfig.OfflineMode)
                    {
                         <a href="~/ImportHistory/Index" class="btn btn-style">Import/Export</a>
                    }
                    <button title="Update Min & Max Reorder" id="update" class="btn btn-style pull-right" ng-click="minMaxBulkUpdate()">Update Min & Max Reorder</button>
                </div>

            </div>
        </div>
        @*<div class="panel-footer clearfix">
                <div class="pull-left" ng-if="list.length == 0">
                    No Records found
                </div>

            </div>*@
    </div>

    <!-- Vendor Search Section - End -->
    <!-- Vendor Search Result Section - start -->
    <div class='row'>
        <div class='col-sm-12 override_margin'>
            <strong>Search by alphabet</strong>
        </div>
        <div class="search-char col-sm-10 override_margin">
            <a href="" ng-click="productSearch('A')">A</a>
            <a href="" ng-click="productSearch('B')">B</a>
            <a href="" ng-click="productSearch('C')">C</a>
            <a href="" ng-click="productSearch('D')">D</a>
            <a href="" ng-click="productSearch('E')">E</a>
            <a href="" ng-click="productSearch('F')">F</a>
            <a href="" ng-click="productSearch('G')">G</a>
            <a href="" ng-click="productSearch('H')">H</a>
            <a href="" ng-click="productSearch('I')">I</a>
            <a href="" ng-click="productSearch('J')">J</a>
            <a href="" ng-click="productSearch('K')">K</a>
            <a href="" ng-click="productSearch('L')">L</a>
            <a href="" ng-click="productSearch('M')">M</a>
            <a href="" ng-click="productSearch('N')">N</a>
            <a href="" ng-click="productSearch('O')">O</a>
            <a href="" ng-click="productSearch('P')">P</a>
            <a href="" ng-click="productSearch('Q')">Q</a>
            <a href="" ng-click="productSearch('R')">R</a>
            <a href="" ng-click="productSearch('S')">S</a>
            <a href="" ng-click="productSearch('T')">T</a>
            <a href="" ng-click="productSearch('U')">U</a>
            <a href="" ng-click="productSearch('V')">V</a>
            <a href="" ng-click="productSearch('W')">W</a>
            <a href="" ng-click="productSearch('X')">X</a>
            <a href="" ng-click="productSearch('Y')">Y</a>
            <a href="" ng-click="productSearch('Z')">Z</a>
        </div>

        <div class="pull-right">
            @*<a id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></a>*@
            @*<button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>*@
        </div>
        @*<div class="panel panel-default">
                <div class="panel-body">


                    <script type="x/kendo-template" id="page-template">
                        <div class="page-template">
                            <div class="header">
                                <label id="instanceName"> Company Name </label>
                            </div>
                            <div class="footer">
                                <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                            </div>
                        </div>
                    </script>
                    <div id="grid"></div>

                    <br /><br />
                </div>
            </div>*@
        <div class="" style="float:right">
          <!-- <button ng-click="ClicktoDownload()"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Export CSV</button>-->
            @*<a style="display:none" id="ExportID" class="btn btn-primary" export export-data="Entirelist"  export-title="'Drugs'" export-keys="['name','genericName','manufacturer','type','category','packageSize','vat','price','kindName','schedule','status']" export-headers="['Drug  Name', 'Generic Name','Manufacturer','Type','Category','Packaging','VAT%','Price','Kind','Schedule','Status']"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Export CSV</a>*@

            <a style="display:none" id="ExportID" class="btn btn-primary" export export-data="Entirelist" export-title="'Drugs'" export-keys="['name', 'genericName']" export-headers="['Drug  Name', 'Generic Name']"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Export CSV</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body productlist">
            <div class='marginLR-zero table-responsive' ng-show="list.length > 0">
                <table class="table table-striped table-bordered" id="datatable1">

                    <tr>
                        <th class="text-center">Edit</th>
                        <th>Product</th>
                        <th>Generic Name</th>
                        <th>Manufacturer</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Packaging</th>
                        @if (User.GSTEnabled() == "False")
                        {
                            <th>VAT%</th>
                        }
                        <th>GST%</th>
                        <th>HSN</th>
                        <th>Price</th>
                        <th>Kind</th>
                        <th>Schedule</th>
                        <th>Status</th>
                        <th>Re Order Level</th>
                        <th>Re Order Qty</th>
                        <th>Discount</th>

                    </tr>

                    <tr ng-repeat="product in list">
                        <td colspan="9" ng-show="$parent.selectedIndex == $index">
                            <div ng-form="productForm">

                                <div class="panel-heading">Edit Product</div>
                                <div class="panel-body productform">
                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>

                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Product</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Name of drug" id="productName" required name="productName" disabled type="text" placeholder="Name of drug" class="search-query form-control" ng-model="productsItem.name" ng-keyup="keyEnter($event,'genericName')">
                                                        <span class="error" ng-show="productForm.productName.$dirty && productForm.productName.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div><div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Generic Name</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Generic Name" type="text" typeahead-focus-on-select="false" typeahead-min-length="0" placeholder="Generic Name" id="genericName" name="genericName" required ng-model="productsItem.genericName" uib-typeahead="product as product.genericName for product in getGeneric($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'manufacturer')">
                                                        <span class="error" ng-show="productForm.genericName.$dirty && productForm.genericName.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Manufacturer</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Manufacturer" type="text" placeholder="Manufacturer" id="manufacturer" name="manufacturer" required ng-model="productsItem.manufacturer" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.manufacturer for product in getManufacturer($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'scheduledCategory')">
                                                        <span class="error" ng-show="productForm.manufacturer.$dirty && productForm.manufacturer.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Scheduled Category</label>

                                                    @*<div class="input-group override_margin col-sm-12">
                                                            <input title="Scheduled Category" type="text" placeholder="Scheduled Category" id="scheduledCategory" name="scheduledCategory" ng-model="productsItem.schedule" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="schedule as schedule.label for schedule in scheduleList" class="search-query form-control" required ng-keyup="keyEnter($event,'type')">
                                                            <span class="error" ng-show="productForm.schedule.$dirty && productForm.schedule.$error.required">Required!</span>
                                                        </div>*@

                                                    <select id="scheduledCategory" name="scheduledCategory" title="Scheduled Category" 
                                                            placeholder="Scheduled Category" ng-model="productsItem.schedule" class="search-query form-control" ng-keyup="keyEnter($event,'productCode')">
                                                        <option value="H" ng-selected="productsItem.schedule == ''">H</option>
                                                        <option value="H1">H1</option>
                                                        <option value="NS" ng-selected="productsItem.schedule == 'NON-SCHEDULED'">NS</option>   
                                                        @*tfs id: 619 - Product should not save  without schedule category*@
                                                        <option value="X">X</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label >Product Code</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="code of drug" id="productCode"  name="productCode" disabled placeholder="Product Code" type="text" class="search-query form-control" ng-model="productsItem.code" ng-keyup="keyEnter($event,'Type')">                                                      
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-2 override_margin'>
                                                <div class='form-group'>
                                                    <label>Type</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Type" type="text" placeholder="Type" id="type" name="type" ng-model="productsItem.type" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.type for product in getType($viewValue)" uibTypeaheadHighlight:query class="search-query form-control" typeahead-show-hint="true" ng-keyup="keyEnter($event,'category')">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-2 override_margin'>
                                                <div class='form-group'>
                                                    <label>Category</label>
                                                    @*<div class="input-group override_margin col-sm-12">
                                                            <input title="Category" type="text" placeholder="Category" id="category" name="category" ng-model="productsItem.category" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.category for product in getCategory($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'kindName')">
                                                        </div>*@

                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Category" type="text" placeholder="Category" id="category" name="category" 
                                                               ng-model="productsItem.category" typeahead-focus-on-select="false" typeahead-min-length="0" 
                                                               uib-typeahead="catogory as catogory.label for catogory in catogoryList" 
                                                               class="search-query form-control" ng-keyup="keyEnter($event,'subcategory')">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class='col-sm-2 override_margin'>
                                                <div class='form-group'>
                                                    <label>Sub Category</label> 
                                                    @*<div class="input-group override_margin col-sm-12">
                    <input title="Category" type="text" placeholder="Category" id="category" name="category" ng-model="productsItem.category" 
                                                        typeahead-focus-on-select="false" typeahead-min-length="0" 
                                                        uib-typeahead="product as product.category for product in getCategory($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'kindName')">
                </div>*@
                                                    @*<input title="SubCategory" type="text" placeholder="SubCategory" id="subcategory" name="subcategory"
                                                           ng-model="productsItem.subcategory" class="search-query form-control"
                                                           typeahead-focus-on-select="false" typeahead-min-length="0"
                                                           uib-typeahead="product as product.displayText for product in getSubCategory()"
                                                           ng-keyup="keyEnter($event,'kindName')">*@

                                                    <div class="input-group override_margin col-sm-12"> 
                                                        <select ng-model="productsItem.subcategory" ng-change="getSubCategory()"  class="search-query form-control"> 
                                                            <option ng-repeat="subcat in subcatogoryList" value="{{subcat.domainValue}}">{{subcat.displayText}}
                                                            </option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Kind</label>
                                                    <div class="input-group override_margin col-sm-12">

                                                        @*<input type="text" id="kindName" name="kindName" class="form-control" ng-model="productsItem.kindName" data-min-length="0"
                                                               data-html="1" data-auto-select="true" bs-options="icon as icon.label for icon in kindNames"
                                                               placeholder="kind Name" bs-typeahead ng-keyup="keyEnter($event,'updateProduct')">*@
                                                        <select name="kindName" id="kindName" class="form-control" ng-model="productsItem.kindName">
                                                            <option value="" style="display:none;" disabled>Select Kind Name</option>
                                                            <option ng-selected="productsItem.kindName == x.domainValue" ng-repeat="x in kindNameOptions" value="{{x.displayText}}">{{x.displayText}}</option>
                                                        </select>
                                                        @*<input title="Kind" type="text" placeholder="Kind" id="kind" name="kind" ng-model="productsItem.kind" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')">*@
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Commodity Code</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Commodity Code" type="text" placeholder="Commodity Code" id="commodityCode" name="commodityCode" ng-model="productsItem.commodityCode" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="commodityCode as commodityCode.label for commodityCode in commodityCodeList" class="search-query form-control" required ng-keyup="keyEnter($event,'updateProduct')">
                                                        <span class="error" ng-show="productForm.commodityCode.$dirty && productForm.commodityCode.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div>*@

                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Packaging</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        @if (User.GSTEnabled() == "False")
                                                        {
                                                            <input title="Packaging" type="text" placeholder="Packaging" id="packaging" name="packaging" ng-model="productsItem.packageSize" class="search-query form-control" ng-keyup="keyEnter($event,'vat')" valid-number>
                                                            <span class="error" ng-show="productForm.packaging.$dirty && productForm.packaging.$error.required">Required!</span>

                                                        }
                                                        else
                                                        {
                                                            <input title="Packaging" type="text" placeholder="Packaging" id="packaging" name="packaging" required ng-model="productsItem.packageSize" class="search-query form-control" ng-keyup="keyEnter($event,'price')" valid-number>
                                                            <span class="error" ng-show="productForm.packaging.$dirty && productForm.packaging.$error.required">Required!</span>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                            @if (User.GSTEnabled() == "False")
                                            {
                                                <div class='col-sm-3 override_margin'>
                                                    <div class='form-group'>
                                                        <label class="required">Vat%</label>
                                                        <div class="input-group override_margin col-sm-12">
                                                            <input title="Vat" type="text" placeholder="Vat" id="vat" name="vat" ng-model="productsItem.vat" class="search-query form-control" ng-keyup="keyEnter($event,'price')" maxlength="5" ng-change="changeVat(productsItem.vat)" required valid-number>
                                                            <span class="error" ng-show="vatErrorMessage">Enter Valid Vat</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Price</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Price" type="text" placeholder="Price" id="price" name="price" ng-model="productsItem.price" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')" valid-number>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Status</label>
                                                    <div class="input-group col-md-12 override_margin">
                                                        <select chosen class="search-query form-control" ng-model="productsItem.status" ng-options="category.CategoryID as category.Name for category in categories"></select>

                                                        @*<select id="status" name="status" chosen title="Status" placeholder="Status" ng-model="productsItem.status" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')">
                                                                <option value="1">Active</option>
                                                                <option value="2">InActive</option>
                                                            </select>*@
                                                    </div>

                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Re Order Level</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="ReOrderLevel" type="text" placeholder="Re Order Level" id="reOrderLevel" name="reOrderLevel" ng-model="productsItem.reOrderLevel" maxlength="7" class="search-query form-control" ng-keyup="keyEnter($event,'reOrderQty')" valid-number>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Re Order Qty</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="ReOrderQty" type="text" placeholder="Re Order Qty" id="reOrderQty" name="reOrderQty" ng-model="productsItem.reOrderQty" maxlength="7" class="search-query form-control" ng-keyup="keyEnter($event,'discount')" valid-number>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Discount %</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Discount" type="text" placeholder="%" id="discount" name="discount" ng-model="productsItem.discount" class="search-query form-control" min="0" max="100" maxlength="5" valid-number>
                                                        <span class="error" ng-show="productsItem.discount > 100">Must be less than or equal to 100% </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>HSN Code</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="HSN Code" type="text" placeholder="HSN Code" id="hsnCode" name="hsnCode" ng-model="productsItem.hsnCode" class="search-query form-control" ng-keyup="keyEnter($event,'igst')" maxlength="10" alpha-numeric />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class=''>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>IGST %</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="IGST" type="text" placeholder="IGST" id="igst" name="igst" ng-model="productsItem.igst" class="search-query form-control" ng-enter="focusNextField('cgst')" maxlength="5" valid-number readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=' '>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>CGST %</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="CGST" type="text" placeholder="CGST" id="cgst" name="cgst" ng-model="productsItem.cgst" class="search-query form-control" ng-enter="focusNextField('sgst')" maxlength="5" valid-number readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=' '>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>SGST %</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="SGST" type="text" placeholder="SGST" id="sgst" name="sgst" ng-model="productsItem.sgst" class="search-query form-control" ng-enter="focusNextField('gstTotal')" maxlength="5" valid-number readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=' '>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label  class="required">GST Total %</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <select id="gstTotal" name="gstTotal" class="form-control" title="GST Total"
                                                                required ng-model="productsItem.gstTotal" 
                                                                  data-ng-change="changeGSTTotal()"
                                                                previousid="hsnCode" ng-enter="focusNextField('isHidden')"
                                                                check-percent>
                                                            <option ng-repeat="tax in taxValuesList" value="{{tax.tax}}" ng-selected="productsItem.gstTotal=={{tax.tax}}">{{tax.tax}}</option>
                                                        </select>

                                                        @*<input title="GST Total" type="text" placeholder="GST Total" id="gstTotal" name="gstTotal" ng-model="productsItem.gstTotal" class="search-query form-control" ng-enter="focusNextField('isHidden')" required maxlength="5" ng-change="changeGSTTotal()" valid-number>*@
                                                        <span class="error" ng-show="gstTotalErrorMessage">Enter Valid GST Total</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label></label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <label>
                                                            <input type="checkbox" title="Hidden" id="hidden" name="hidden" ng-model="productsItem.isHidden" class="ng-pristine ng-untouched ng-valid">
                                                            Hidden
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>

                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>

                                                </div>
                                            </div>


                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label></label>
                                                    <div class="col-md-12 override_margin">
                                                        <button title="Update Product" id="updateProduct" class="btn btn-style pull-left col-md-5" ng-disabled="!productForm.$valid||vatErrorMessage || (productsItem.discount > 100) || (productsItem.packageSize == null || productsItem.packageSize == undefined) " my-enter="updateProduct()" ng-click="productForm.$valid && updateProduct()">Update</button> &nbsp; &nbsp; &nbsp;
                                                        <button title="Cancel" class="btn btn-style btn-cancel pull-left col-md-5" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                        <td ng-hide="$parent.selectedIndex == $index" class="text-center"><span style="cursor: pointer;" title="Edit" ng-click="editProducts(product,$parent.selectedIndex=$index)" class="btn  btn-style text-center">Edit</span></td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.name}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" class="col-sm-1">{{product.genericName}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.manufacturer}}</td>                     
                        <td ng-hide="$parent.selectedIndex == $index">{{product.type}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.category}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.packageSize}}</td>
                        @if (User.GSTEnabled() == "False")
                        {
                            <td ng-hide="$parent.selectedIndex == $index">{{product.vat}}</td>
                        }                        
                        <td ng-hide="$parent.selectedIndex == $index">{{product.gstTotal}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.hsnCode}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.price}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.kindName}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.schedule}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.status}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.reOrderLevel}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.reOrderQty}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.discount}}</td>

                    </tr>

                </table>
            </div>

            <div ng-show="list==0">
                <label>No Records Found</label>
            </div>
            &nbsp;
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>
    </div>

    @{
        await Html.RenderPartialAsync("_MinMaxReorderUpdate");
    }
    @{
        await Html.RenderPartialAsync("~/Views/VendorPurchase/_CreateProduct.cshtml");
    }
</div>

<style>
    .loadingoverlay {
        z-index: 10000;

    }
</style>

@section scripts
{
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
<script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    <script asp-append-version="true" src="~/appscript/product/productlistappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/ProductMasterCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesService.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/minMaxReorderCtrl.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-strap.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-strap.tpl.js"></script>
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>

<link asp-append-version="true" href="~/assets/css/developer.css" rel="stylesheet" />
<script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/assets/js/angular-export.js"></script>
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    @*<script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
        <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>

        <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.common-material.min.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

        <script>

                $("#btnPdfExport").kendoButton(
                {
                    click: function () {
                        $("#grid").data("kendoGrid").saveAsPDF();
                    }
                });


                $("#btnXLSExport").kendoButton(
                {
                    click: function () {
                        $("#instanceName").text("Qbitz Tech");
                        $("#grid").data("kendoGrid").saveAsExcel();
                    }
                });


        </script>*@

}
