@{
    ViewBag.Title = "Inventory";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/ProductStock/Menu.cshtml")

<div class="row panelBorder override_margin" ng-app="hcue" ng-controller="productStockSearchCtrl" ng-cloak>
    <div class="col-md-12 sell-decor1">
    <div class="panel panel-default brRadius">
        <div class="panel-body">
            <div class='row sell-decor1'>
                <div class='col-sm-4 sell-decor1 override_margin'>
                    <div class='form-group override_margin'>
                        <div class="input-group override_margin">
                            <div class='col-sm-12 override_margin'>
                                <strong>Product Name</strong>
                            </div>
                            <div class='input-group col-sm-8 override_margin' style="padding-left: 0px;">

                                <angucomplete id="productName"
                                              placeholder="Enter product name"
                                              pause="400"
                                              selectedobject="selectedProduct"
                                              url="/ProductStockData/InStockProductList?productName="
                                              titleField="product.name"
                                              inputclass="search-query form-control"
                                              event="productSelected" />
                            </div>
                            <div class='input-group-btn col-sm-2 override_margin'>
                                <span class="input-group-btn search">
                                    <button class="btn1 btn-style pull-left" style="margin-left:4px;padding: 6px 12px;" type="button" ng-click="productStockSearch(null)">
                                        Search
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-8 override_margin'>
                   
                    <div class='col-sm-12 override_margin'>
                        <strong> Search by alphabet</strong>
                    </div>
                    <div class='col-sm-12 override_margin'>
                        <div class="search-char col-sm-12 override_margin">
                            <a href="" ng-click="productStockSearch('A')">A</a>
                            <a href="" ng-click="productStockSearch('B')">B</a>
                            <a href="" ng-click="productStockSearch('C')">C</a>
                            <a href="" ng-click="productStockSearch('D')">D</a>
                            <a href="" ng-click="productStockSearch('E')">E</a>
                            <a href="" ng-click="productStockSearch('F')">F</a>
                            <a href="" ng-click="productStockSearch('G')">G</a>
                            <a href="" ng-click="productStockSearch('H')">H</a>
                            <a href="" ng-click="productStockSearch('I')">I</a>
                            <a href="" ng-click="productStockSearch('J')">J</a>
                            <a href="" ng-click="productStockSearch('K')">K</a>
                            <a href="" ng-click="productStockSearch('L')">L</a>
                            <a href="" ng-click="productStockSearch('M')">M</a>
                            <a href="" ng-click="productStockSearch('N')">N</a>
                            <a href="" ng-click="productStockSearch('O')">O</a>
                            <a href="" ng-click="productStockSearch('P')">P</a>
                            <a href="" ng-click="productStockSearch('Q')">Q</a>
                            <a href="" ng-click="productStockSearch('R')">R</a>
                            <a href="" ng-click="productStockSearch('S')">S</a>
                            <a href="" ng-click="productStockSearch('T')">T</a>
                            <a href="" ng-click="productStockSearch('U')">U</a>
                            <a href="" ng-click="productStockSearch('V')">V</a>
                            <a href="" ng-click="productStockSearch('W')">W</a>
                            <a href="" ng-click="productStockSearch('X')">X</a>
                            <a href="" ng-click="productStockSearch('Y')">Y</a>
                            <a href="" ng-click="productStockSearch('Z')">Z</a>
                        </div>
                    </div>
                </div>                
            </div>
                @*@{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }*@
            </div>
    </div>
    </div>
    <div class='col-sm-4 override_margin'>

        <div class='form-group override_margin'>
            @*<span class="input-group-addon1 front-addon1" ng-if="availableProductsCount != 0">
                    <strong>Available Products - {{availableProductsCount}} / {{list.length}}</strong>
                </span>*@
            <span class="input-group-addon1 override_margin fr  ont-addon1" style="margin-left:50px" ng-if="list.length != 0">
                <strong> InActive Products - {{InActiveCount}}</strong>
            </span>

        </div>



    </div>
    @*Starts div*@
    <div class="" style="float:right">
       
        <a class="btn btn-primary" export export-data="list" export-title="'Inventory'" export-keys="['code','name','manufacturer','productStock.vendor.name','batchNo','expireDate','stock','unitCost','reOrderQuantity','rackNo','status']" export-headers="['Code', 'Product Name','Manufacturer','Vendor','Batch No','Expire Date','Stock','Unit Cost','Re-Order Qty','Rack No','Status']"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Export CSV</a>      
    </div>
        <div class="panel panel-default inventoryList">
            
                    <div class="panel-body">
                        <div class='row'>
                            <div class="pull-left" ng-if="list.length == 0">
                                No Records found
                            </div>
                            <div class="row tblHeader">
                                <div class="col-md-12 small" style="font-weight:bold; margin: 10px 0px 26px;">
                                    <div class="col-md-3 override_margin">
                                        <span class="col-md-2 col-md-offset-1" style="padding:0px;">Code</span>
                                        <span class="col-md-8">Product</span>
                                    </div>
                                    <div class="col-md-3 override_margin">
                                        <span class="col-md-6 override_margin">Manufacturer</span>
                                        <span class="col-md-6 override_margin">Vendor</span>
                                    </div>
                                    <div class="col-md-3 override_margin">
                                        <span class="col-md-5 override_margin">Batch</span>
                                        <span class="col-md-5 override_margin">Expiry</span>
                                        <span class="col-md-2 override_margin pull-right">Qty</span>
                                    </div>
                                    <div class="col-md-3 override_margin">
                                        <span class="col-md-3 override_margin"><span class="pull-right">Unit Cost <span style="font-size:11px">(Exc.Vat)</span></span></span>
                                        <span class="col-md-3 ">Reorder Qty</span>
                                        <span class="col-md-3">Rack No</span>
                                        <span class="col-md-3">Status</span>
                                    </div>

                                </div>
                            </div>
                            <div ng-repeat="item in list">
                                <div class="chip-style sell-group-decor8" ng-repeat="productStock in item.productStock"  ng-if="item.productStock.length == 1">
                                    <div class="{{productStock.rowHighlight}}">
                                    <div class="col-md-3 sell-group-decor9">
                                        <div style="width: 40px;" class="col-md-1 sell-decor11">
                                            <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)" ng-if="item.productStock.length >1">+</button>
                                        </div>

                                        <span class="col-md-2 sell-decor11"> {{item.code}}</span>
                                        <span class="col-md-8 sell-decor11">{{item.name}}</span>
                                    </div>

                                    <div class="col-md-9 sell-group-decor9">
                                        <div class="col-md-2 sell-decor11"><span class="sell-decor11"> {{item.manufacturer}}</span></div>

                                        <div class="col-md-7">
                                            <div ng-repeat="productStock in item.productStock" ng-if="item.productStock.length == 1">
                                                <div class="{{productStock.rowHighlight}}">
                                                    <span class="col-md-3 sell-decor11">{{productStock.vendor.name}}</span>
                                                    <span class="col-md-3 sell-decor11"> {{productStock.batchNo}}</span>
                                                    <span class="col-md-3 sell-decor11">{{productStock.expireDate | date:'MM/yy'}}</span>
                                                    <span class="col-md-2 sell-decor11"> {{productStock.stock}}</span>
                                                    <span class="col-md-1 sell-decor11">{{salesItem.productStock.sellingPrice | number:2}}</span>
                                                </div>                                               
                                            </div>                                           
                                        </div>
                                        <div class="col-md-3 override_margin">
                                            <span class="col-md-4 override_margin">
                                                <input type="text" placeholder="" class="form-control override_margin" ng-model="item.inventoryReOrder.reOrder" style="width:95%" />
                                            </span>
                                            <span class="col-md-3 override_margin">
                                                <input type="text" placeholder="" class="form-control override_margin" ng-model="item.rackNo" style="width:95%" />
                                            </span>
                                            <span class="col-md-4 override_margin">
                                                <select data-ng-model="item.status" class="form-control override_margin col-md-6" style="width:70%" data-ng-options="v as k for (k, v) in options"></select><span class="glyphicon glyphicon-floppy-save col-md-3" style="cursor: pointer; padding-left:4px; margin:7px 2px;" ng-click="updateProduct(item)"> </span>
                                            </span>

                                        </div>

                                    </div>
                                    </div>
                                </div>
                                <div class="chip-style sell-group-decor8" ng-if="item.productStock.length != 1">
                                    <div class="col-md-3 sell-group-decor9">
                                        <div style="width: 40px;" class="col-md-1 sell-decor11">
                                            <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)" ng-if="item.productStock.length >1">+</button>
                                        </div>
                                        <span class="col-md-2 sell-decor11"> {{item.code}}</span>
                                        <span class="col-md-8 sell-decor11">{{item.name}}</span>
                                    </div>

                                    <div class="col-md-9 sell-group-decor9">
                                        <div class="col-md-2 sell-decor11"><span class="sell-decor11"> {{item.manufacturer}}</span></div>

                                        <div class="col-md-7">                                           
                                            <div ng-if="item.productStock.length != 1">
                                                <span class="col-md-3 sell-decor11"></span>
                                                <span class="col-md-3 sell-decor11"></span>
                                                <span class="col-md-3 sell-decor11"></span>
                                                <span class="col-md-2 sell-decor11">{{item.stock}}</span>
                                                <span class="col-md-1 sell-decor11"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 override_margin">
                                            <span class="col-md-4 override_margin">
                                                <input type="text" placeholder="" class="form-control override_margin" ng-model="item.inventoryReOrder.reOrder" style="width:95%" />
                                            </span>
                                            <span class="col-md-3 override_margin">
                                                <input type="text" placeholder="" maxlength="4" class="form-control override_margin" ng-model="item.rackNo" style="width:95%" />
                                            </span>
                                            <span class="col-md-4 override_margin">
                                                <select data-ng-model="item.status" class="form-control override_margin col-md-6" style="width:70%" data-ng-options="v as k for (k, v) in options"></select><span class="glyphicon glyphicon-floppy-save col-md-3" style="cursor: pointer; padding-left:4px; margin:7px 2px;" ng-click="updateProduct(item)"> </span>
                                            </span>

                                        </div>

                                    </div>
                                </div>


                                <div class="chips-wrapper override_margin" style="overflow:hidden; display: none;text-align:left;" id="chip-wrapper{{$index}}">
                                    <div class="sell-group-decor8 " style="border-bottom:1px solid #DEECEB;float:left;width: 100%;" ng-repeat="productStock in item.productStock" ng-if="item.productStock.length > 1">
                                        <div class="{{productStock.rowHighlight}}">
                                            <div class="col-md-3 sell-group-decor9">
                                                <span class="col-md-2 override_margin"></span>
                                                <span class="col-md-8 override_margin"></span>

                                            </div>
                                            <div class="col-md-3 sell-group-decor9">
                                                <span class="col-md-6 override_margin"></span>
                                                <span class="col-md-6 override_margin"> {{productStock.vendor.name}}</span>

                                            </div>
                                            <div class="col-md-3 sell-group-decor9">
                                                <span class="col-md-5 override_margin">{{productStock.batchNo}}</span>
                                                <span class="col-md-5 override_margin"> {{productStock.expireDate | date:'MM/yy'}}</span>
                                                <span class="col-md-2 override_margin">{{productStock.stock}}</span>
                                            </div>
                                            <div class="col-md-3 sell-group-decor9 override_margin">

                                                <span class="col-md-8 override_margin">{{salesItem.productStock.sellingPrice | number:2}}</span>
                                                <span class="col-md-4 override_margin" style="padding-left:10px !important">
                                                    <select data-ng-model="productStock.status" data-ng-options="v as k for (k, v) in options"></select>
                                                    <span class="glyphicon glyphicon-floppy-save" style="cursor: pointer; padding-left:4px; margin: 0px;" ng-click="updateSingleProductStock(productStock)"> </span>
                                                </span>

                                            </div>

                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                        @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
                    </div>
               
        </div>
   
    @*Ends div*@




</div>
<style>
    .search-char a{
        margin-right: 4px;
        width: 28px;
        border: 2px solid #E0E0E0;
        background:#fff;
        font-weight: bold;
        color:#222;
        font-size:16px;
        font-weight:bold;

    }
    .search-char a:hover
    {
        color:#fff;
        background:#40AE9F;
    }
    .rowHighlight
    {
        background:#FEDDDC !important;
        float: left;
        width: 100%;
    }
    .inventoryList,.inventoryList div.chip-style,.inventoryList .sell-group-decor9,.inventoryList .form-control
    {
        font-weight:bold;
        color:#3E3936 !important;
    }
    .tblHeader,.tblHeader div,.tblHeader span
    {
        background-color:#D6D6D6;
        color:#333 !important;
        font-size: 16px;
    }
   .sell-group-decor8 {
    padding: 0px 0px 0px 0px !important;   
}
   .brRadius
   {
        border-radius: 4px;
   }
   .angucomplete-holder .form-control
   {
       height: 44px;
   }
   .search .btn1
   {
       height: 44px;
   }

   .inventoryList div.chip-style {
       border-bottom: 1px solid #EBEAEA !important;
       padding:5px 0px;
        border:0px;
   }
   .sell-group-decor9
   {
       padding:5px 1px !important;
   }


</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
<script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockservice.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStocksearchctrl.js"></script>

    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-export.js"></script>
}
