@{
    ViewBag.Title = "Self Consumption";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/ProductStock/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="selfConsumptionCtrl" ng-cloak>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row tblHeader" style="overflow-wrap:break-word;">
                <div class="col-md-12">
                    <div class="col-md-2"><label class="required" style="font-size:medium;">Product Name</label></div>
                    <div class="col-md-1"><label style="font-size:medium;">Batch</label></div>
                    <div class="col-md-1"><label style="font-size:medium;">Qty</label></div>
                    <div class="col-md-1"><label style="font-size:medium;">Expiry</label></div>
                    @*<div class="col-md-1"><label style="font-size:medium;">VAT %</label></div>*@
                    <div class="col-md-1"><label style="font-size:medium;">GST %</label></div>
                    <div class="col-md-1"><label style="font-size:medium;">Units/Strip</label></div>                    
                    <div class="col-md-1"><label style="font-size:medium;">Price/Strip</label></div>
                    <div class="col-md-1" ng-show="enableSelling"><label style="font-size:medium;">Selling/Strip</label></div>
                    <div class="col-md-1"><label style="font-size:medium;">MRP/Strip</label></div>
                    <div class="col-md-2"><label class="required" style="font-size:medium;padding-left:0px;">Consumption</label></div>
                </div>

              
            </div>
            <div ng-form="selfConsumption">
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group col-sm-12 trimLR override_margin sell-product txtUpper">
                                    <input type="text" class="form-control" id="productName1" name="productName1" typeahead-focus-on-select="false"
                                           typeahead-no-results="noResults" typeahead-min-length="1" placeholder="Product"
                                           uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                                           typeahead-on-select="onProductSelect1()"
                                           typeahead-template-url="itemTpl.html"
                                           ng-model="selectedProduct" required autofocus focus-box nextid="consumption"
                                           ng-readonly="DisableProduct"/>
                                    <script type="text/ng-template" id="itemTpl.html">
                                        <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H'">
                                            <span class='schedule'>H </span><span class="gap"> </span>
                                            <span ng-bind-template="{{match.model.product.name}}"></span>
                                        </a>
                                        <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'H1'">
                                            <span class='schedule orange'>H1 </span><span class="gap"> </span>
                                            <span ng-bind-template="{{match.model.product.name}}"></span>
                                        </a>
                                        <a tabindex="-1" class="" ng-if="match.model.product.schedule == 'X'">
                                            <span class='schedule pink'>X </span><span class="gap"> </span>
                                            <span ng-bind-template="{{match.model.product.name}}"></span>
                                        </a>
                                        <a tabindex="-1" ng-if="match.model.product.schedule != 'H' && match.model.product.schedule != 'H1' && match.model.product.schedule != 'X'">
                                            <span class=''>&nbsp;&nbsp;&nbsp;&nbsp;<span class="gap"></span></span>
                                            <span ng-bind-template="{{match.model.product.name}}"></span>
                                        </a>
                                    </script>

                                    @*<script type="text/ng-template" id="itemTpl.html">

                                        <a tabindex="-1" class="Hcolor" ng-if="match.model.product.schedule == 'H'">
                                            <span ng-bind-template="{{match.model.product.name}}"></span>
                                        </a>
                                        <a tabindex="-1" class="H1color" ng-if="match.model.product.schedule == 'H1'">
                                            <span ng-bind-template="{{match.model.product.name}}"></span>
                                        </a>

                                        <a tabindex="-1" class="Xcolor" ng-if="match.model.product.schedule == 'X'">
                                            <span ng-bind-template="{{match.model.product.name}}"></span>
                                        </a>
                                        <a tabindex="-1" ng-if="match.model.product.schedule != 'H' && match.model.product.schedule != 'H1' && match.model.product.schedule != 'X'">
                                            <span ng-bind-template="{{match.model.product.name}}"></span>
                                        </a>

                                    </script>*@
                                </div>
                                <span class="error" style="margin-left:0px;" ng-show="selfConsumption.productName1.$dirty && selfConsumption.productName1.$error.required">Required</span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <div class="col-sm-12 input-group trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control" id="batchNo" name="batchNo" ng-model="consumption.productStock.batchNo" placeholder="BATCH" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <div class="col-sm-12 input-group trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control" id="qty" name="qty" ng-model="consumption.productStock.stock" placeholder="QTY" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <div class="col-sm-12 input-group trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control {{highlight}}" ng-model="consumption.productStock.expireDate" id="expDate" name="expDate"
                                           uib-datepicker-popup="MM/yy" placeholder="MM/YY" disabled />
 
                                </div>
                                <span class="error" style="margin-left:0 !important" ng-if="highlight == 'Expiry'">{{consumption.productStock.expireDate | date:'MMM yy'}}  {{highlight}}</span>
                            </div>
                        </div>

                        @*<div class="col-md-1">
                            <div class="form-group">
                                <div class="col-sm-12 input-group trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control" id="vat" name="vat" ng-model="consumption.productStock.vat" placeholder="0" disabled />
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-1">
                            <div class="form-group">
                                <div class="col-sm-12 input-group trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control" id="gstTotal" name="gstTotal" ng-model="consumption.productStock.gstTotal" placeholder="0" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <div class="col-sm-12 input-group trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control" id="packSize" name="packSize" ng-model="consumption.productStock.packageSize" placeholder="0" disabled />
                                </div>
                            </div>
                        </div>                       
                        <div class="col-md-1">
                            <div class="form-group">
                                <div class="col-sm-12 input-group trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control" id="purchasePrice" name="purchasePrice" ng-model="consumption.productStock.packagePurchasePrice" placeholder="0.00" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <div class="col-sm-12 input-group trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control" id="sellingPrice" name="sellingPrice" ng-model="consumption.productStock.packageSellingPrice" placeholder="0.00" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" ng-show="enableSelling">
                            <div class="form-group">
                                <div class="col-sm-12 input-group trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control" id="mrp" name="mrp" ng-model="consumption.productStock.packageMRP" placeholder="0.00" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <div class="col-sm-12 input-group trimLR override_margin cal_adjusted">
                                    <input type="text" class="form-control" id="consumption" name="consumption" ng-model="consumption.consumption" placeholder="Qty" required ng-enter="submit()" 
                                           valid-number numbers-only ng-change="checkQty(consumption.consumption)" previousid="productName1" focus-box ng-click="checkAllfields(2)"/>
                                </div>
                                <span class="error" style="margin-left:0px;" ng-show="selfConsumption.consumption.$dirty && selfConsumption.consumption.$error.required">Required</span>
                                <span class="error" ng-show="selfConsumption.consumption.$error.checkQtyError" style="min-width:265px; margin:0px;">Consumption Qty must not be greater than Qty</span>
                            </div>
                        </div>

                        
                    </div>

                    <div class="col-md-12">
                        <div>
                            <div class="col-md-4">
                                <label class="" style="font-size:medium;">Note </label>
                                <textarea id="commentText" class="form-control" ng-model="consumption.consumptionNotes"></textarea>
                            </div>
                            <div class="col-md-3 pull-right" style="margin-top: 52px;width: 162px;">
                                <div>
                                    <button type="button"
                                            id="addButton"
                                            class="col-md-1 chip-btn"
                                            value="Add"
                                            title="Add"
                                            style="cursor:pointer"
                                            ng-click="addProducts()"
                                            ng-disabled="consumption.productStock.batchNo == null || !selfConsumption.$valid || consumption.consumption == '' || consumption.consumption == 0">
                                        +
                                    </button>
                                </div>

                                <div><button type="button" id="clearButton" class="secondary-button" value="Clear" title="Clear" style="margin-left:15px;" ng-click="clear()">Clear</button></div>
                            </div>
                        </div>
                        

                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="inventer-table" ng-show="productStockList.length > 0">
        <table ng-show="productStockList.length > 0">
            <thead>
                <th width="4%" align="center">S.No</th>
                <th width="15%">Product</th>
                <th width="10%">Batch</th>
                <th width="8%" class="text-center">Quantity</th>
                <th width="8%" class="text-center">Expiry</th>
                @*<th width="6%" class="text-center">VAT %</th>*@
                <th width="6%" class="text-center">GST %</th>
                <th width="8%" class="text-center">Units/Strip</th>
                <th width="8%" class="text-center">Price/Strip</th>
                <th width="8%" class="text-center" ng-show="enableSelling">Selling/Strip</th>
                <th width="8%" class="text-center">MRP/Strip</th>
                <th width="10%" class="text-center">Consumption Qty</th>
                <th width="2%" class="text-center"></th>
                <th width="2%" class="text-center"></th>
            </thead>
            <tbody ng-repeat="stock in productStockList track by $index">
                
                <tr>
                    <td class="text-center"><span>{{$index+1}}</span></td>
                    <td><span>{{stock.productStock.product.name}}</span></td>
                    <td>{{stock.productStock.batchNo}}</td>
                    <td class="text-center">{{stock.productStock.stock}}</td>
                    <td class="text-center"><span>{{stock.productStock.expireDate | date:'MM/yy'}}</span></td>
                    @*<td class="text-center"><span>{{stock.productStock.vat}}</span></td>*@
                    <td class="text-center"><span>{{stock.productStock.gstTotal}}</span></td>
                    <td class="text-center"><span>{{stock.productStock.packageSize}}</span></td>
 
                    <td class="text-center"><span>{{stock.productStock.packagePurchasePrice | number:2}}</span></td>
                   
                    <td class="text-center"><span>{{stock.productStock.packageSellingPrice | number:2}}</span></td>
                    <td class="text-center" ng-show="enableSelling"><span>{{stock.productStock.packageMRP | number:2}}</span></td>
                    <td class="text-center"><span ng-show="!stock.isEdit">{{stock.consumption}}</span>  
                    <div class="form-group" ng-show="stock.isEdit">
                            <div class="col-sm-12 input-group trimLR override_margin cal_adjusted" ng-form="editConsumption">
                                <input onselect="this.select();" type="text" class="form-control" id="consumption1-{{$index}}" name="consumption1" ng-model="stock.consumption" required
                                       valid-number numbers-only ng-change="checkEditQty(stock.consumption, $index)" ng-enter="checkquantity(stock, $index)" />
                                <span class="error" style="margin-left:0px;" ng-show="editConsumption.consumption1.$error.required">Required</span>
                                <span class="error" ng-show="stock.consumption > stock.productStock.tempQty" style="min-width:35px; margin:0px;">Consumption Qty must not be greater than Qty</span>
                            </div>
                        </div></td>
                    <td class="text-center" ><i ng-show="!stock.isEdit"  style="cursor: pointer;" ng-click="editStock(stock, $index)" class="glyphicon glyphicon-edit cross-icon"></i>
                        <span class="col-md-1 glyphicon glyphicon-floppy-disk cross-icon"
                              style="cursor: pointer;margin-left:15px;"
                              title="SaveStock"
                              ng-show="stock.isEdit && stock.consumption <= stock.productStock.tempQty &&stock.consumption !=0 "
                              ng-click="saveStock(stock, $index)"></span>
                            </td>

                    <td class="text-center"><i class="glyphicon glyphicon-remove cross-icon" style="cursor: pointer;" title="Delete" ng-click="removeStock(stock, $index)"></i></td>
                </tr>
                <tr>
                    <td ng-hide="stock.consumptionNotes==''">Notes:</td>
                    <td colspan="11">   
                        <span >{{stock.consumptionNotes}}</span>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix" ng-show="productStockList.length > 0">
            <button type="button" id="saveStock" title="save" class="btn btn-style pull-right" style="margin-top:10px;" ng-click="save()" ng-disabled="productStockList.length <= 0 || isEdit != 0">Save</button>
        </div>
    </div>
    @*<div class="panel panel-default" ng-show="productStockList.length > 0">
        <div style="margin-top:5px;">
            <div class="row tblHeader col-md-12">
                <div class="col-md-1"><label style="font-size:medium;">S.No</label></div>
                <div class="col-md-2"><label style="font-size:medium;">Product</label></div>
                <div class="col-md-1"><label style="font-size:medium;">Batch</label></div>
                <div class="col-md-1"><label style="font-size:medium;">Quantity</label></div>
                <div class="col-md-1"><label style="font-size:medium;">Expiry</label></div>
                <div class="col-md-1"><label style="font-size:medium;">VAT %</label></div>
                <div class="col-md-1"><label style="font-size:medium;">Units/Strip</label></div>                
                <div class="col-md-1"><label style="font-size:medium;">Price/Strip</label></div>
                <div class="col-md-1"><label style="font-size:medium;">MRP/Strip</label></div>
                <div class="col-md-2"><label style="font-size:medium;">Consumption Qty</label></div>
            </div>
            <div class="row col-md-12" style="margin-top:5px;" ng-repeat="stock in productStockList track by $index">
                <div class="row">
                    <div class="col-md-1"><span>{{$index+1}}</span></div>
                    <div class="col-md-2" style="overflow:hidden;text-overflow:clip;white-space:nowrap;" title="{{stock.productStock.product.name}}"><span>{{stock.productStock.product.name}}</span></div>
                    <div class="col-md-1"><span>{{stock.productStock.batchNo}}</span></div>
                    <div class="col-md-1" style="text-align:right;"><span>{{stock.productStock.stock}}</span></div>
                    <div class="col-md-1"><span>{{stock.productStock.expireDate | date:'MM/yy'}}</span></div>
                    <div class="col-md-1" style="text-align:right;"><span>{{stock.productStock.vat}}</span></div>
                    <div class="col-md-1" style="text-align:right;"><span>{{stock.productStock.packageSize}}</span></div>
                    <div class="col-md-1" style="text-align:right;"><span>{{stock.productStock.packagePurchasePrice | number:2}}</span></div>
                    <div class="col-md-1" style="text-align:right;"><span>{{stock.productStock.packageSellingPrice | number:2}}</span></div>
                    <div class="col-md-1" style="text-align:right;">
                        <span ng-show="!stock.isEdit">{{stock.consumption}}</span>
                        <div class="form-group" ng-show="stock.isEdit">
                            <div class="col-sm-12 input-group trimLR override_margin cal_adjusted" ng-form="editConsumption">
                                <input type="text" class="form-control" id="consumption1-{{$index}}" name="consumption1" ng-model="stock.consumption" required
                                       valid-number numbers-only ng-change="checkEditQty(stock.consumption, $index)" ng-enter="checkquantity(stock, $index)" />
                                <span class="error" style="margin-left:0px;" ng-show="editConsumption.consumption1.$error.required">Required</span>
                                <span class="error" ng-show="stock.consumption > stock.productStock.tempQty" style="min-width:35px; margin:0px;">Consumption Qty must not be greater than Qty</span>
                            </div>
                        </div>
                    </div>
               
                   
                </div>
                <div class="row">
                    <div class="row col-md-12" >
                    <div class="col-md-6" ng-hide="stock.consumptionNotes==''"><span>  Note :- {{stock.consumptionNotes}}</span></div>
                        <div class="col-md-6">
                            <span class="col-md-1 glyphicon glyphicon-edit cross-icon" style="cursor: pointer;margin-left:15px;" title="Edit" ng-show="!stock.isEdit" ng-click="editStock(stock, $index)"></span>&nbsp;
                            <span class="col-md-1 glyphicon glyphicon-floppy-disk cross-icon"
                                  style="cursor: pointer;margin-left:15px;"
                                  title="SaveStock"
                                  ng-show="stock.isEdit && stock.consumption <= stock.productStock.tempQty &&stock.consumption !=0 "
                                  ng-click="saveStock(stock, $index)">
                            </span>&nbsp;
                            <span class="col-md-1 glyphicon glyphicon-remove cross-icon" style="cursor: pointer;" title="Delete" ng-click="removeStock(stock, $index)"></span>&nbsp;
                        </div>
                </div>
                </div>
             
            </div>
       
        </div>
        &nbsp;
        <div class="col-md-12">
            <div class="col-sm-8">     </div>
            <div class="col-md-3" style="margin-bottom:5px;"><button type="button" id="saveStock" title="save" class="btn btn-style pull-right" style="margin-top:10px;" ng-click="save()" ng-disabled="productStockList.length <= 0 || isEdit != 0">Save</button> </div>
        </div>
    </div>*@

    @{
        await Html.RenderPartialAsync("_SalesBatchDetails");
    }
    @*<script type="text/javascript" charset="utf-8" async defer>
            $('.overlayClick').on('click', function () {
                var post_id = $(this).attr('data-post-id');
                $('#form_post_id').val(post_id);
                $('.form-popup').fadeIn();
                return false;
            });

            $('.popup-close').on('click', function () {
                $(this).closest('.popup-overlay').fadeOut();
                return false;
            });
        </script>*@
</div>

<style>
    .Hcolor {
        background-color: #82f7c5;
    }

    .H1color {
        background-color: #fcdf9a;
    }

    .Xcolor {
        background-color: #fabce2;
    }
</style>



@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/selfConsumptionappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productStockservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productService.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/selfConsumptionCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesService.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productBatchSearchCtrl.js"></script>
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-export.js"></script>

    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}
