@{
    ViewBag.Title = "Update Inventory";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/ProductStock/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="updateInventoryCtrl" ng-cloak>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-6'>
                    <div class='form-group'>
                        <div class="input-group">
                            <div class='input-group col-sm-8' style="padding-left: 0px;">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/drug.png" />
                                </span>
                                <angucomplete id="productName"
                                              placeholder="Search by Product"
                                              pause="400"
                                              selectedobject="selectedProduct"
                                              url="/ProductStockData/InStockProductList?productName="
                                              titleField="product.name"
                                              inputclass="search-query form-control"
                                              event="productSelected" />
                            </div>
                            <div class='input-group-btn col-sm-2' style="left:-30px">
                                <span class="input-group-btn">
                                    <button class="btn" type="button" ng-click="productStockSearch(null)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>





    <div class="panel panel-default">
        <div class="panel-heading">Search Result</div>
        <div class="panel-body">
            <div class='row'>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center"><span class="glyphicon glyphicon-minus-sign"></span></th>
                            <th>Product Name</th>
                            <th>Batch No</th>
                            <th>Expire Date</th>
                            <th>Vat</th>
                            <th>Stock</th>
                            <th>Update Stock</th>
                            <th>Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in list" ng-form="editInventory">
                            <td class="text-center">
                                <span style="cursor: pointer;" title="Update Stock" ng-hide="editInventory.stock.$dirty && editInventory.stock.$error.required" class="edit-done-btn" ng-click="updateStock(item)"><img src="~/assets/images/done.png" width="25px" /></span>
                            </td>
                            <td>{{item.product.name}}</td>
                            <td>{{item.batchNo}}</td>
                            <td>{{item.expireDate | date:'dd/MM/yyyy' }}</td>
                            <td>{{item.vat}}</td>
                            <td>{{item.stock}}</td>
                            <td>
                                <input type="text" id="stock" style="width:100px" name="stock" placeholder="Stock" required ng-model="item.actualStock" valid-number>
                                <span class="error" ng-show="editInventory.stock.$dirty && editInventory.stock.$error.required">Required</span>
                            </td>
                            <td>{{item.actualStock - item.stock}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/productStock/productStockappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockservice.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/updateinventoryctrl.js"></script>

    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
}
