﻿<!-- The actual modal template, just a bit o bootstrap -->
<script type="text/ng-template" id="createCustomer">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content override_margin">
                <div class="modal-body override_margin">
                    <ng-form id="patient" name="patient">
                        <div class="panel panel-default override_margin">
                            <div class="panel-heading panel-noborder">
                                {{mode}} Customer
                                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="panel-body override_margin">
                                <div class='row'>

                                    <div class='col-md-8'>
                                        <div class='form-group'>
                                            <div class="input-group "> @*sell-group-decor4*@
                                                <label class="required">Name</label>
                                                <input title="Patient Name" type="text" placeholder="Customer full name" id="patientName" name="patientName" required ng-model="savePatient.name" ng-enter="focusNextField('shortName')" class="search-query form-control">
                                                <span class="error" ng-show="patient.patientName.$dirty && patient.patientName.$error.required">
                                                    Required!
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class='col-md-4'>
                                        <div class='form-group'>
                                            <label >Short Name</label>
                             <input title="Short Name" type="text" id="shortName"  name="shortName" class="search-query form-control" ng-model="savePatient.shortName" maxlength="5" ng-disabled="mode=='Edit' &&  idShortNameValid" ng-enter="focusNextField('dob')" ng-keyup ="checkAllPurchasefields(2)" ng-click ="checkAllPurchasefields(2)" />
                                            @*<span class="error" ng-show="patient.shortName.$dirty && patient.shortName.$error.required">
                                                Required!
                                            </span>*@
                                        </div>
                                    </div>

                                </div>
                                <div class='row'>
                                    <div class='col-md-6'>
                                        <label class="col-md-12 override_margin">Date of Birth</label>
                                        <div class='form-group'>
                                            <div class="input-group">
                                                <input type="text"
                                                       id="dob"
                                                       name="dob"
                                                       class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       placeholder="DD/MM/YYYY"
                                                       ng-model="savePatient.dob"
                                                       is-open="popup1.opened"
                                                       datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)"
                                                       close-text="Close"
                                                       alt-input-formats="altInputFormats"
                                                       my-date readonly max-date="maxDate"
                                                       ng-keyup="checkAllPurchasefields(2)" 
                                                       ng-click="checkAllPurchasefields(2)"
                                                       ng-enter="focusNextField('phone')" />
                                                <span class="input-group-btn wrapper-date">
                                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <span class="error" ng-show="patient.dob.$dirty && patient.dob.$error.required">
                                                Required!
                                            </span>
                                        </div>
                                    </div>
                                    <div class='col-md-6'>
                                        <label class="col-md-12">Gender</label>
                                        <div class="col-md-6 input-group">
                                            <input title="Male" type="radio" value="M" name="paymentType" ng-model="savePatient.gender" ng-keyup="checkAllPurchasefields(3)" ng-click="checkAllPurchasefields(3)" />
                                            <label>Male</label>
                                        </div>
                                        <div class="col-md-6 input-group override_margin">
                                            <input title="Female" type="radio" value="F" name="paymentType" ng-model="savePatient.gender" />
                                            <label>Female</label>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col-md-6'>
                                        <div class='form-group'>
                                            <label class="required">Mobile</label>
                                            <input title="Phone Number" placeholder="" id="phone" name="phone" required class="form-control"
                                                   ng-keyup="checkAllPurchasefields(4)" ng-enter="focusNextField('idNumer')" ng-click="checkAllPurchasefields(4)" ng-model="savePatient.mobile" maxlength="15" ng-disabled="mode=='Edit'" valid-Number>
                                            <span class="error" ng-show="patient.phone.$dirty && patient.phone.$error.required">
                                                Required!
                                            </span>
                                        </div>
                                    </div>
                                    <div class='col-md-6'>
                                        <div class='form-group'>
                                            <label>ID Number</label>
                                            <input title="ID Number" no-special-char id="idNumer" name="idNumer" class="search-query form-control"
                                                   ng-keyup="checkAllPurchasefields(5)" ng-enter="focusNextField('address')" ng-click="checkAllPurchasefields(5)" ng-model="savePatient.empID" ng-change="idNumberChange()" maxlength="15" ng-disabled="mode=='Edit' &&  idValid" />
                                            @*Newly Added Gavaskar 23/10/2016 Start*@
                                            <div>
                                                <span class="error" ng-show="IDNumberError==true">ID Number Already Exists</span>
                                            </div>
                                            @*Newly Added Gavaskar 23/10/2016 End*@
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class='col-md-12'>
                                        <div class='form-group'>
                                            <div class="input-group sell-group-decor4">
                                                <label>Address</label>
                                                <input title="Address" class="form-control sell-decor9" id="address" ng-keyup="checkAllPurchasefields(6)"
                                                     ng-click="checkAllPurchasefields(6)" ng-enter="focusNextField('city')"  name="Address" size="33" type="text" placeholder="Street Name" ng-model="savePatient.address" />
                                                <input title="City" class="form-control sell-decor9" id="city" name="city" ng-keyup="checkAllPurchasefields(7)"
                                                    ng-click="checkAllPurchasefields(7)" ng-enter="focusNextField('pincode')"   size="33" type="text" placeholder="City" ng-model="savePatient.city" />
                                                <input title="Pincode" class="form-control sell-decor9" id="pincode" name="pincode" ng-keyup="checkAllPurchasefields(8)"
                                                     ng-click="checkAllPurchasefields(8)"  ng-enter="focusNextField('emailId')" size="33" type="text" placeholder="Pincode" ng-model="savePatient.pincode" valid-number maxlength="8" no-special-char />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class='col-md-12'>
                                        <div class='form-group'>
                                            <div class="input-group sell-group-decor4">
                                                <label>Email</label>
                                                <input title="Email Id" type="email" class="form-control email" id="emailId" name="email" ng-keyup="checkAllPurchasefields(9)"
                                                   ng-click="checkAllPurchasefields(9)" ng-enter="focusNextField('Discount')"   ng-model="savePatient.email" size="30" placeholder="Email ID" />
                                                @*<span class="error" ng-show="patient.email.$dirty && patient.email.$invalid">
                                                        <span ng-show="patient.email.$error.email">Invalid email address.</span>
                                                    </span>*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class='col-md-8'>
                                        <label class="col-md-12">Customer Cash / Credit </label>
                                        <div class="col-md-6 input-group">
                                            <input title="Cash" type="radio" value="Cash" name="customerPaymentType" ng-model="savePatient.customerPaymentType" 
                                                   /> @*ng-keyup="checkAllPurchasefields(3)" ng-click="checkAllPurchasefields(3)"*@ 
                                            <label>Cash</label>
                                        </div>
                                        <div class="col-md-6 input-group override_margin">
                                            <input title="Credit" type="radio" value="Credit" name="customerPaymentType" ng-model="savePatient.customerPaymentType" />
                                            <label>Credit</label>
                                        </div>
                                    </div>

                                    <div class='col-md-4'>
                                        <div class='form-group'>
                                            <div class="input-group sell-group-decor4">
                                                <label>Discount %</label>
                                                <input max="2" maxlength="2" title="Discount" ng-change="customerDiscount(savePatient.discount)"
                                                       ng-keyup="checkAllPurchasefields(10)" ng-enter="focusNextField('saveCustomer')" ng-click="checkAllPurchasefields(10)"
                                                       class="form-control email" id="Discount" name="Discount" ng-model="savePatient.discount"
                                                       size="2" placeholder="Discount" valid-number data-ng-class="(savePatient.discount>100) ||
                                                       (savePatient.discount == '.')? 'highlight' :''" />
                                                <span data-ng-if="savePatient.discount>100 || (savePatient.discount == '.')" class="highlight">Must be less than 100% and valid number</span>
                                                @*<span class="error" ng-show="patient.email.$dirty && patient.email.$invalid">
                                                        <span ng-show="patient.email.$error.email">Invalid email address.</span>
                                                    </span>*@
                                            </div>
                                        </div>
                                    </div>

                                   
                                </div>

                            </div>
                            <div class="panel-footer clearfix">
                                <button title="Create" class="btn btn-style pull-right" id="saveCustomer" name="saveCustomer" ng-disabled="!patient.$valid || savePatient.discount>100 || (savePatient.discount == '.')" ng-click="create()">
                                    <span class="pull-left">Save</span>
                                </button>
                                <button type="button" class="btn btn-style btn-cancel pull-right sell-decor10" ng-click="close('No')" data-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>
