@{
    ViewBag.Title = "Customer History";
    ViewBag.Menu = "Profile";
    ViewBag.SubMenu = "Customer History";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Vendor/Menu.cshtml")
</div>

<div class="row" data-ng-app="hcue" data-ng-controller="patientListCtrl" data-ng-cloak>
    <div class="panel panel-default panel-heading">
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input title="Customer Name" type="text" placeholder="Customer Name" class="search-query form-control" ng-enter="salesSearch()" data-ng-model="search.name" autofocus>
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" data-ng-click="salesSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                            </span>
                            <input title="Phone Number" type="text" placeholder="Mobile" class="search-query form-control" ng-enter="salesSearch()" data-ng-model="search.mobile">
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" data-ng-click="salesSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input title="Email Id" class="form-control required email" id="email" name="email" size="30" type="text" placeholder="Email ID" ng-enter="salesSearch()" data-ng-model="search.email" />
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" data-ng-click="salesSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <div class="input-group">
                            <select id="ddlStatus" class="form-control" data-ng-model="status" title="Customer Status">
                                <option value="" disabled="disabled" selected>--Select Status--</option>
                                <option value="1">Active</option>
                                <option value="2">In Active</option>
                                <option value="3">Hide</option>
                            </select>
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" data-ng-click="salesSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <div class="input-group">
                            <button title="Search" class="btn btn-style" data-ng-click="clearSearch()">Clear</button>&nbsp;&nbsp;
                            <button title="Search" class="btn btn-style" data-ng-click="salesSearch()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer clearfix">
            @*<div class="pull-left" data-ng-if="list.length == 0">
                    No Records found
                </div>*@
            <div class="pull-right">
                <button title="Add New" type="button" data-ng-click="popupAddNew()" class="btn btn-style">Add New</button>
                @*<button title="Search" class="btn btn-style" data-ng-click="salesSearch()">Search</button>*@
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Search Results</div>
        <div class="panel-body">
            <div class='row'>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Customer Name</th>
                            <th>Short Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>Payment Type</th>
                            <th>GSTIN No</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="sales in list track by $index">
                            <td>
                                <a data-ng-show="sales.salesCount > 0" data-ng-href="/patientHistory/patientInformation?id={{sales.patientId}}&name={{sales.name}}&mobile={{sales.mobile}}" class="btn  btn-style text-center" title="History">History</a>
                                <span class="glyphicon glyphicon-pencil pull-right" style="cursor: pointer;" data-ng-click="editCustomer(sales)"></span>
                            </td>
                            <td>{{sales.name}}</td>
                            <td>{{sales.patient.shortName}}</td>
                            <td>{{sales.mobile}}</td>
                            <td><span data-ng-if="sales.email != 'N/A'">{{sales.email}}</span></td>
                            <td>{{sales.gender}}</td>
                            <td>{{ (sales.dob == '0001-01-01T00:00:00'? '' : sales.dob) | date:'dd/MM/yyyy'}} </td>
                            <td>{{sales.patient.customerPaymentType}}</td>
                            <td>{{sales.patient.gsTin}}</td>
                            <td>{{(sales.patient.status==1) ? 'Active' : (sales.patient.status==2) ? 'InActive' : 'Hide'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>
    </div>



    @*@{
            await Html.RenderPartialAsync("createCustomer.cshtml");
        }*@

    @{
        await Html.RenderPartialAsync("~/Views/Sales/_SalesCreateCustomer.cshtml");

    }


</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    @*<script asp-append-version="true" src="~/assets/js/angular-route.js"></script>*@
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/patienthistory/patientHistoryAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="/appscript/patient/patientCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/patienthistory/patientListCtrl.js"></script>
}
