@{
    ViewBag.Title = "Customer History Information";
    ViewBag.Menu = "Profile";
    ViewBag.SubMenu = "Customer History";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Vendor/Menu.cshtml")
</div>

<div class="row" ng-app="hcue" ng-controller="patientInformationCtrl" ng-cloak>

 

    <div ng-init="init('@ViewBag.PatientId','@ViewBag.Name','@ViewBag.Mobile')"></div>
    <div class="panel panel-default">
        <div class="panel-body purchase-history-body">
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <p class="form-control-static font-bold">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            <strong>{{customer.name}}</strong>
                        </p>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <p class="form-control-static"><span class="glyphicon glyphicon-phone"></span>&nbsp;<strong>{{customer.mobile}}</strong></p>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <p class="form-control-static">
                            <span class="glyphicon glyphicon-user blue" ng-if="customer.gender == 'M'"></span>
                            <span class="glyphicon glyphicon-user pink" ng-if="customer.gender == 'F'"></span>&nbsp;
                            <strong>{{customer.gender}}</strong>
                            <button title="+" class="pull-right pat-info-btn" ng-click="togglePatientDetail()">+</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class='row alterRow alter-row-collapse' style="padding-top:15px">
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <p class="form-control-static">
                            <span class="glyphicon glyphicon-envelope"></span>&nbsp;<strong>{{customer.email}}</strong>
                        </p>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <p class="form-control-static"><span style="font-weight:bold;">#&nbsp;</span><strong>{{ (customer.dob == '0001-01-01T00:00:00'? '' : customer.dob) | date:'MM/dd/yyyy'}}</strong></p>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='form-group'>
                        <p class="form-control-static"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;<strong>{{customer.address}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        @*<div class="panel-heading">Customer Search</div>*@
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <img src="~/assets/images/number.png" />
                            </span>
                            <input title="Invoice Number" type="text" placeholder="Invoice No" class="search-query form-control" ng-enter="salesSearch()" ng-model="sales.invoiceNo">
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" ng-click="salesSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Invoice Date" ng-model="sales.invoiceDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" ng-click="salesSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer clearfix">
            @*<div class="pull-left" ng-if="list.length == 0">
                    No Records found
                </div>*@
            <div class="pull-right">
                <button title="Search" class="btn btn-style" ng-click="salesSearch()">Search</button>
            </div>
        </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-heading">History Results</div>
        <div class="panel-body">
            <div class='row'>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Invoice No</th>
                            <th>Invoice Date</th>
                            <th>Payment Type</th>
                            <th>Delivery Type</th>
                            <th>Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sales in list">
                            <td>
                                <a ng-href="/Invoice/SalesInvoice?id={{sales.id}}" target="_blank" class="btn  btn-style text-center" title="Invoice">Invoice</a>
                            </td>
                            <td>{{sales.invoiceSeries}} {{sales.invoiceNo}}</td>
                            <td>{{sales.invoiceDate | date:'MM/dd/yyyy' }}</td>
                            <td>{{sales.paymentType}}</td>
                            <td>{{sales.deliveryType}}</td>
                            <td>{{sales.netAmount | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/appscriptdatepicker.js"></script>

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/patienthistory/patientinformationctrl.js"></script>
}


