@{
    ViewBag.Title = "Customer Bulk SMS";
    ViewBag.Menu = "Profile";
    ViewBag.SubMenu = "Customer Bulk SMS";
}
@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
<div class="row">
    @await Html.PartialAsync("~/Views/Vendor/Menu.cshtml")
</div>

<div class="row" ng-app="hcue" ng-controller="patientListBulkSmsCtrl" ng-cloak>
    <ng-form id="frmCustomerSms" name="frmCustomerSms">
        <div class="panel panel-default panel-heading">
            <div class="panel-body">
                <div class="row">
                    <div class='col-sm-2 pull-left sell-group-decor5' style="margin-right:0px !important"><label>Customer Name</label></div>
                    <div class='form-group'>
                        <div class="col-md-9 input-group">
                            <input title="Customer Name" type="text" placeholder="Customer Name" class="search-query form-control" ng-change="salesSearch()" ng-model="search.name">
                            @*<span class="input-group-btn">
                                    <button title="Search" class="btn" type="button" ng-click="salesSearch()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>*@
                        </div>
                    </div>

                </div>
                <br />

                <div class="row">
                    <div class='col-sm-2 pull-left sell-group-decor5' style="margin-right:0px !important"><label class="required">Content</label></div>
                    <div class="col-md-9 input-group" ng-class="{ 'has-error' : frmCustomerSms.smsContent.$invalid  && (frmCustomerSms.smsContent.$dirty || submitted)}">
                        <textarea title="smsContent" name="smsContent" id="smsContent" required placeholder="SMS Content" class="search-query form-control"   ng-model="sales.smsContent"></textarea> @*maxlength="120"*@
                    </div>
                    <div>
                        <p ng-show="frmCustomerSms.smsContent.$error.required  && (frmCustomerSms.smsContent.$dirty || submitted)" class="help-block"></p>
                    </div>
                </div>
               <br />
                @*<div class="row">
            <div class='col-sm-2 pull-left sell-group-decor5' style="margin-right:0px !important"><label>Display Content</label></div>
            <div class="col-md-9 input-group">
                <textarea title="smsDisplay" name="smsDisplay" id="smsDisplay" placeholder="@User.InstanceName().   Phone :  @User.InstancePhone()" class="search-query form-control" readonly="readonly" no-special-char ng-model="sales.smsDisplay"></textarea>
            </div>
        </div>*@

            </div>

            <div class="panel-footer clearfix">
                @*<div class="pull-left" ng-if="list.length == 0">
                        No Records found
                    </div>*@
                <div class="pull-right">
                    <button title="Send SMS" ng-click="sendSms()" ng-disabled="frmCustomerSms.$invalid || (PatientArray.length == 0)|| showSms == false" class="btn btn-style">Send SMS</button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Search Results</div>
            <div class="panel-body">
                <div class='row'>
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                        <thead>
                            <tr>
                                <th>Action &nbsp;&nbsp;<input id="selectedSmsAll" name="selectedSmsAll" type="checkbox" ng-click="selectAll()" ng-model="isAllSelected" /></th>
                                <th>Customer Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>DOB</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sales in list track by $index">
                                <td>
                                    <input id="selectedSms" name="selectedSms" type="checkbox" ng-model="sales.isChecked" ng-change="addPatientId(sales.isChecked, $index, sales)" />
                                </td>
                                <td>{{sales.name}}</td>
                                <td>{{sales.mobile}}</td>
                                <td><span ng-if="sales.email != 'N/A'">{{sales.email}}</span></td>
                                <td>{{sales.gender}}</td>
                                <td>{{sales.dob | date:'dd/MM/yyyy'}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
            </div>
        </div>
    </ng-form>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appscriptlist.js"></script>*@
    <script asp-append-version="true" src="~/appscript/appScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/patienthistory/patientListBulkSmsCtrl.js"></script>
}
