
@{
    ViewBag.Title = "Sales Cancel List";
    ViewBag.Menu = "Sell Cancel List";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="salesReturnListCtrl" ng-cloak>
    <div class="panel panel-default panelBorder override_margin">
        <div class="panel-body">
            <div class='row override_margin'>
                <div class="col-md-12 override_margin txtUpper">
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <label>Select Anyone</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="form-control">
                                    <option value="">All</option>
                                    <option value="cancelNo">Cancel No.</option>
                                    <option value="invoiceNo">Invoice No.</option>
                                    <option value="returnDate">Cancelled Date</option>
                                    <option value="customerName">Customer Name</option>
                                    <option value="customerEmail">EmailID</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3 override_margin' ng-show="CustomerCondition">
                        <div class='form-group override_margin'>
                            <label>Enter Name</label>
                            <input type="text" ng-model="name"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Customer name"
                                   id="customerName" name="customerName"
                                   title="Customer name"
                                   typeahead-on-select="onPatientSelect($item,$event)"
                                   typeahead-editable="false"
                                   ng-change="changeCustomerName()"
                                   ng-keyup="keyEnter($event,'Search')"
                                   ng-enter="onPatientSelect($item,$event)"
                                   uib-typeahead="ps as ps.name for ps in getPatient($viewValue)"
                                   class="form-control form-control-small"
                                   typeahead-template-url="itemTpls1.html" />
                            <script type="text/ng-template" id="itemTpls1.html">

                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">
                                    <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">
                                    <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>



                        </div>
                        @*<div class="input-group col-md-12 override_margin">
                                <input title="Customer Name" type="text" placeholder="Customer Name" class="search-query form-control" ng-enter="salesReturnSearch()" ng-model="search.sales.name" autofocus>
                            </div>*@

                    </div>
                    <div class='col-sm-2 override_margin' ng-show="cancelnumberCondition">
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label>From </label>
                                <input title="Cancel Number" type="text" placeholder="From Cancel No" class="search-query form-control" ng-enter="Enterkey('toValue')" ng-model="search.fromCancelNo">
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2 override_margin' ng-show="cancelnumberCondition">
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label>To</label>
                                <input title="Cancel Number" id="toValue" type="text" placeholder="To Cancel No" class="search-query form-control" ng-enter="Enterkey('Search')" ng-model="search.toCancelNo">
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-show="invoicenumberCondition">
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label>Enter Values</label>
                                <input title="Invoice Number" type="text" placeholder="Invoice No" class="search-query form-control" ng-enter="salesReturnSearch()" ng-model="search.sales.invoiceNo">
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-show="CustomerMailCondition">
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label>Enter MailID</label>
                                <input title="Email Id" class="form-control required email" id="email" name="email" size="30" type="text" placeholder="Email ID" ng-enter="salesReturnSearch()" ng-model="search.sales.email" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 override_margin" ng-show="dateCondition">
                        <div class='form-group'>
                            <label>Select From Date</label>
                            <div class="input-group col-md-12 override_margin">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" required placeholder="Select Date" ng-model="search.FromReturnDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 override_margin" ng-show="dateCondition">
                        <div class='form-group'>
                            <label>Select To Date</label>
                            <div class="input-group col-md-12 override_margin">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" required placeholder="Select Date" ng-model="search.ToReturnDate" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label></label>
                                <div class="override_margin">

                                    <button title="Search" id="Search" class="btn btn-style" ng-click="salesReturnSearch()">Search</button>
                                    <button title="Cancel" style="margin-right:20px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <div class="row tblHeader">
                        <div class="col-md-12 override_margin">

                            <div class="col-md-2">
                                <span class="col-md-12 col-md-offset-1" style="padding:0px;">Name</span>
                            </div>
                            <div class="col-md-10">
                                <div class="col-md-2">Invoice No</div>
                                <div class="col-md-1">Cancel No</div>
                                <div class="col-md-2">Cancelled Date</div>
                                <div class="col-md-2">Mobile</div>
                                <div class="col-md-3">Email</div>
                                <div class="col-md-2">Cancelled By</div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>

                        <div class="pull-left" ng-if="list.length == 0">
                            No Records found
                        </div>
                        <div ng-repeat="salesReturn in list" ng-hide="salesReturn.Status==false">
                            <div class="chip-style">
                                <div class="col-sm-12 override_margin">

                                    <div class="col-md-2 sell-group-decor9">
                                        <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                        &nbsp; <strong class="orange-text"> {{salesReturn.sales.name}}</strong>
                                    </div>
                                    <div class="col-md-10">
                                        <div></div>
                                        <div class="col-md-2">
                                            <span>{{salesReturn.sales.prefix+ salesReturn.sales.invoiceSeries}} </span><span>{{salesReturn.sales.invoiceNo}}</span>
                                        </div>
                                        <div class="col-md-1">
                                            <span># {{salesReturn.prefix+salesReturn.returnNo}}</span>
                                        </div>
                                        <div class="col-md-2">
                                            <span><i class="fa fa-calendar" title="Invoice Date"></i> {{salesReturn.updatedAt | date:'dd/MM/yyyy' }}</span>
                                        </div>
                                        <div class="col-md-2 override_margin">
                                            <span ng-if="salesReturn.sales.mobile!=null"><i class="fa fa-mobile" title="Mobile"></i> {{salesReturn.sales.mobile}}</span>
                                        </div>
                                        <div class="col-md-3 override_margin" style="word-break: break-all !important;    padding-right: 5px !important;">
                                            <span ng-if="salesReturn.sales.email != 'N/A'"><i ng-if="salesReturn.sales.email != null" class="fa fa-envelope-o" title="Email"></i> {{salesReturn.sales.email}}</span>
                                        </div>
                                        <div class="col-md-2 override_margin">
                                            <span ng-if="salesReturn.hQueUser.name != 'N/A'"><i ng-if="salesReturn.hQueUser.name != null" title="Cancelled"></i> {{salesReturn.hQueUser.name}}</span>
                                        </div>
                                        @*<div class="col-md-2">
                                                @*<div class="col-md-2 override_margin">
                                                    <span class="glyphicon glyphicon-print" style="cursor: pointer; padding:4px; margin: 2px;" ng-click="printReturnList(salesReturn)"></span>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>

                            <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <table class="table override_margin sell-group-decor10">
                                    <thead class="chips-header">
                                        <tr>
                                            <th>Product</th>
                                            <th>Batch</th>
                                            <th>Expiry</th>
                                            <th ng-show="salesReturn.taxRefNo != 1">VAT (%)</th>
                                            <th ng-show="salesReturn.taxRefNo == 1 && isComposite == false">GST (%)</th>
                                            <th ng-show="enableSelling">Selling</th>
                                            <th>MRP</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left" ng-repeat="salesReturnItem in salesReturn.salesReturnItem">
                                            <td class="txtUpper">{{salesReturnItem.productStock.product.name}}</td>
                                            <td>{{salesReturnItem.productStock.batchNo}}</td>
                                            <td>{{salesReturnItem.productStock.expireDate | date:'MM/yy'}}</td>
                                            <td ng-show="salesReturn.taxRefNo != 1">{{salesReturnItem.productStock.vat}}</td>
                                            <td ng-show="salesReturn.taxRefNo == 1 && isComposite == false">{{salesReturnItem.productStock.gstTotal}}</td>
                                            <td>{{salesReturnItem.mrpSellingPrice>0?salesReturnItem.mrpSellingPrice:salesReturnItem.productStock.sellingPrice}}</td>
                                            <td ng-show="enableSelling">{{salesReturnItem.mrp>0?salesReturnItem.mrp:salesReturnItem.productStock.mrp}}</td>
                                            <td>{{salesReturnItem.quantity}}</td>
                                            @*<td>{{salesReturn.salesItem.sellingPrice>0?(salesReturn.salesItem.sellingPrice * salesReturnItem.quantity): (salesReturnItem.productStock.sellingPrice * salesReturnItem.quantity)}}</td>*@

                                            @*<td>{{salesReturn.sales.discount>0?salesReturn.salesItem.sellingPrice>0?(salesReturn.salesItem.sellingPrice * salesReturnItem.quantity): (salesReturnItem.productStock.sellingPrice * salesReturnItem.quantity)-(salesReturnItem.productStock.sellingPrice * salesReturnItem.quantity)/salesReturn.sales.discount:salesReturn.salesItem.sellingPrice>0?(salesReturn.salesItem.sellingPrice * salesReturnItem.quantity): (salesReturnItem.productStock.sellingPrice * salesReturnItem.quantity) | number:2}}

                                                </td>*@
                                            @*<td ng-if="!salesReturnItem.mrpSellingPrice>0 || !salesReturn.sales.discount>0">
                                                {{salesReturnItem.mrpSellingPrice>0?((salesReturnItem.mrpSellingPrice - salesReturnItem.discountAmtPerQty)*salesReturnItem.quantity):((salesReturnItem.total - salesReturnItem.discountAmtPerQty)-(salesReturnItem.total*(salesReturn.sales.discount/100))) | round | number:2}}
                                            </td>
                                            <td ng-if="salesReturnItem.mrpSellingPrice>0 && salesReturn.sales.discount>0">
                                                {{(((salesReturnItem.mrpSellingPrice - salesReturnItem.discountAmtPerQty)*salesReturnItem.quantity)-(((salesReturnItem.mrpSellingPrice - salesReturnItem.discountAmtPerQty)*salesReturnItem.quantity)*(salesReturn.sales.discount/100))) | round | number:2}}
                                            </td>*@

                                            <td>
                                                {{(salesReturnItem.mrpSellingPrice>0 ? (salesReturnItem.mrpSellingPrice * salesReturnItem.quantity) : salesReturnItem.total) | number:2}}
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="9" align="left"><b>Cancelled Time : </b>  {{salesReturn.updatedAt | date:'dd/MM/yyyy HH:mm'}}</td>
                                        </tr>
                                        @*<tr class="text-left">*@
                                    </tbody>
                                </table>



                                <div class="col-md-12 override_margin" ng-show="sales.salesReturnItem.length>0">
                                    <div class="col-md-12 override_margin" ng-repeat="salesReturnItem in sales.salesReturnItem">

                                        <div class="row override_margin" style="background-color:#F9CAED; color:#17875e">
                                            <div class="col-md-6 override_margin"> <label class="pull-left" style="color:#B01D8B">Sales Return </label></div>
                                            <div class="col-md-6 override_margin"> <label class="pull-right" style="color:#B01D8B"> </label></div>
                                        </div>
                                        <table class="table sell-group-decor10" style="background-color:#F9CAED">
                                            <thead style="background-color:#F9CAED; color:#000000">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Batch</th>
                                                    <th>Expiry</th>
                                                    <th ng-show="salesReturn.taxRefNo != 1">VAT (%)</th>
                                                    <th ng-show="salesReturn.taxRefNo == 1 && isComposite == false">GST (%)</th>
                                                    <th>Discount</th>
                                                    <th>Quantity</th>
                                                    <th>MRP</th>
                                                    <th>Price</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-left">
                                                    <td>{{salesReturnItem.productStock.product.name}}</td>
                                                    <td>{{salesReturnItem.productStock.batchNo}}</td>
                                                    <td>{{salesReturnItem.productStock.expireDate | date:'MM/yy' }}</td>
                                                    <td ng-show="salesReturn.taxRefNo != 1">{{salesReturnItem.productStock.vat}}</td>
                                                    <td ng-show="salesReturn.taxRefNo == 1 && isComposite == false">{{salesReturnItem.productStock.gstTotal}}</td>
                                                    <td>{{salesReturnItem.discount}}</td>
                                                    <td>{{salesReturnItem.quantity}}</td>

                                                    <td>{{salesReturnItem.sellingPrice>0? salesReturnItem.sellingPrice :salesReturnItem.productStock.sellingPrice | number:2}}</td>
                                                    <td>{{salesReturnItem.sellingPrice>0? salesReturnItem.sellingPrice*salesReturnItem.quantity : salesReturnItem.productStock.sellingPrice*salesReturnItem.quantity  | number:2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">@{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }</div>

            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    @*<script asp-append-version="true" src="~/appscript/appscriptlist.js"></script>*@
    <script asp-append-version="true" src="~/appscript/sales/salesReturnListAppScript.js"></script>
    <script asp-append-version="true" src="~/AppScript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesreturnlistctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
<script asp-append-version="true" src="~/appscript/product/productService.js"></script>
}