@{
    ViewBag.Title = "Sell List";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="editReturnOnlyCtrl" ng-cloak>
    <shortcut></shortcut>
    <ng-form id="salesReturnItems" name="salesReturnItems">
        <div ng-init="init('@ViewBag.ReturnId')"></div>

        <div class="panel panel-default">
            <div class="panel-heading">RETURN EDIT</div>
            <div class="panel-body purchase-history-body">
                <div class="row" style="background-color:gray; padding:4px; font-weight:bold">
                    <div class="col-md-12 override_margin">
                        <div class="col-md-2"> Patient Name</div>
                        <div class="col-md-2">Mobile No</div>
                        <div class="col-md-2">Return No</div>
                        <div class="col-md-2">Return Date</div>
                        <div class="col-md-2">Total</div>
                        <div class="col-md-2">Discount</div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                            <strong><span class="txtCaps">{{salesReturn.patient.name}}</span></strong>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                            <strong>{{salesReturn.patient.mobile}}</strong>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                            <strong>{{salesReturn.prefix + salesReturn.invoiceSeries + salesReturn.returnNo}}</strong>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                            <strong>{{salesReturn.returnDate | date:'dd/MM/yyyy'}} {{salesReturn.createdAt | date:'hh:mm a'}}</strong>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                            <p class="form-control-static">
                                <span><strong>{{Math.round(salesReturnTotal) | number:2}}</strong></span>
                            </p>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                            <div class='form-group' style="margin:5px 0px;">
                                <strong>
                                    <span><i class="fa fa-inr" title="Discount"></i> {{returnDiscountAmt | number:2}}</span>
                                </strong>
                            </div>
                        </div>

                </div>
                <div class='row alterRow alter-row-collapse' style="padding-top:15px">
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <p class="form-control-static">
                                <span class="glyphicon glyphicon-envelope"></span>&nbsp;<strong>{{salesReturn.patient.email}}</strong>
                            </p>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <p class="form-control-static">@*<span style="font-weight:bold;">#&nbsp;</span>*@<img src="~/assets/images/age.png" />&nbsp;<strong>{{salesReturn.patient.age}}</strong></p>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <p class="form-control-static"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;<strong>{{salesReturn.patient.address}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="col-sm-9" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top override_margin">
                    <div class='row sell-group-decor10'>
                        <div class="chip-style">
                            <div class='row' style="background-color:gray; padding:0px; font-weight:bold">
                                <div class="col-sm-12 override_margin">


                                    <div ng-if="returnType == 'return'">
                                        <div class='col-md-5'>
                                            <label class="col-md-12">Product Name</label>
                                        </div>
                                        @*<div class='col-md-1'>
                                            <label style="float:right;" class="">Quantity</label>
                                        </div>*@
                                        <div class='col-md-1'>
                                            <label class="pull-right">Quantity</label>
                                        </div>
                                        <div class='col-md-1'>
                                            <label class="" style="float:left">Disc(%)</label>
                                        </div>
                                        <div class='col-md-1'>
                                            <label class="" style="float:left;" ng-hide="enableSelling">MRP</label>

                                            <label ng-show="enableSelling" class="" style="float:left;">Selling Price</label>
                                        </div>
                                        @*<div class='col-md-1'>
                                            <label class="" style="float:left;">Price</label>
                                        </div>*@
                                        <div class='col-md-2' style="text-align:center;">
                                            <label>Amount</label>
                                        </div>
                                    </div>

                                    <div ng-if="returnType == 'sales'">
                                        <div class='col-md-4'>
                                            <label class="col-md-12">Product Name</label>
                                        </div>
                                        <div class='col-md-1'>
                                            <label style="float:right;" class="">Quantity</label>
                                        </div>

                                        <div class='col-md-1'>
                                            <label class="" style="float:left;">Price</label>
                                        </div>
                                        <div class='col-md-1'>
                                            <label class="" style="float:left">Bill Dis(%)</label>
                                        </div>
                                        <div class='col-md-1'>
                                            <label class="" style="float:left">Item Dis(%)</label>
                                        </div>
                                        <div class='col-md-1'>
                                            <label class="" style="float:left">Total Dis(%)</label>
                                        </div>
                                        <div class='col-md-1'>
                                            <label class="pull-right">Return Qty</label>
                                        </div>

                                        <div class='col-md-1'>
                                            <label class="pull-right">Return Price</label>
                                        </div>
                                    </div>


                                    <div class="col-md-1 pull-right">Action</div>

                                </div>
                            </div>

                            <div ng-if="returnType == 'return'">
                                <div ng-repeat="salesReturnItem in salesReturn.salesReturnItem">
                                    <div>
                                        <div class="chip-style">
                                            <div class="col-sm-12 override_margin">


                                                <div class="col-md-5 sell-group-decor9">
                                                    <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                                    <span><strong class="orange-text return-product-name txtUpper">{{salesReturnItem.productStock.product.name}}</strong></span>
                                                </div>

                                                @*<div class="col-md-1 sell-group-decor9">
                                                    <span><i class="fa fa-cart-plus" title="Quantity"></i> {{salesReturnItem.quantity}}</span>
                                                    &nbsp;  &nbsp;
                                                </div>*@

                                                <div class="col-md-1 sell-group-decor9" style="text-align:center;">
                                                    <span ng-show="!salesReturnItem.isEdit">{{salesReturnItem.quantity}}</span>
                                                    <span style="float:right;" ng-show="salesReturnItem.isEdit">
                                                        <input class="return-chip-qty" type="text" id="returnQuantity" style="margin-right:0;width:75px;" placeholder="Return Qty" name="returnQuantity" ng-change="updateAction(salesReturnItem)" ng-model="salesReturnItem.quantity" valid-number numbers-only maxlength="7" />
                                                    </span>

                                                </div>

                                                <div class="col-md-1 sell-group-decor9" style="text-align:center">
                                                    <span ng-show="!salesReturnItem.isEdit"><i title="Discount"></i> {{salesReturnItem.discount  |number:2}}</span>
                                                    <span ng-show="salesReturnItem.isEdit"><input class="return-chip-qty" type="text" id="discount" style="margin-right:0;width:75px;" placeholder="Edit Discount" name="discount" ng-model="salesReturnItem.discount" valid-number ng-change="updateAction(salesReturnItem)" maxlength="7" /></span>
                                                    <span class="error" ng-show="salesReturnItem.discount > 100" style="margin-left:0px;">Discount must be less than 100</span>
                                                </div>

                                                <div class="col-md-1 sell-group-decor9" style="text-align:center">
                                                    <span ng-show="!salesReturnItem.isEdit"><i title="MRP"></i>{{salesReturnItem.mrpSellingPrice>0?salesReturnItem.mrpSellingPrice:salesReturnItem.productStock.sellingPrice}}</span>
                                                    <span ng-show="salesReturnItem.isEdit"><input class="return-chip-qty" type="text" id="MRP" style="margin-right:0;width:75px;" placeholder="Edit MRP" name="MRP" ng-model="salesReturnItem.mrpSellingPrice" valid-number ng-change="updateAction(salesReturnItem)" maxlength="9" /></span>
                                                    <span class="error" style="margin-left:0px;" ng-show="salesReturnItem.mrpSellingPrice < salesReturnItem.productStock.purchasePrice">Selling Price must be greater than Purchase price - Rs.{{salesReturnItem.productStock.purchasePrice | number:2}}</span>
                                                </div>

                                                @*<div class="col-md-1 sell-group-decor9" style="text-align:center">
                                                    <span ng-if="!salesReturnItem.sellingPrice>0 || !salesReturnItem.discount>0"><i class="fa fa-inr" title="Price"></i> {{salesReturnItem.mrpSellingPrice>0?((salesReturnItem.mrpSellingPrice * salesReturnItem.quantity) - salesReturnItem.discountAmount):((salesReturnItem.productStock.sellingPrice * salesReturnItem.quantity) - salesReturnItem.discountAmount) | number:2}}</span>

                                                    <span ng-if="salesReturnItem.sellingPrice>0 && salesReturnItem.discount>0"><i class="fa fa-inr" title="Price"></i> {{(salesReturnItem.mrpSellingPrice * salesReturnItem.quantity)-(((salesReturnItem.sellingPrice * salesReturnItem.quantity)*salesReturn.discount/100) + salesReturnItem.discountAmount) | number:2}}</span>

                                                </div>*@

                                                <div class='col-md-2 sell-group-decor9' style="text-align:center">
                                                    <span ng-if="!salesReturnItem.mrpSellingPrice>0 || !(salesReturnItem.discount | float)>0">
                                                        <span>
                                                            <i class="fa fa-inr" title="Return Price"></i>
                                                            {{salesReturnItem.mrpSellingPrice>0?((salesReturnItem.mrpSellingPrice) * salesReturnItem.quantity):((salesReturnItem.productStock.sellingPrice * salesReturnItem.quantity) - ( salesReturnItem.productStock.sellingPrice * salesReturnItem.quantity * salesReturnItem.discount / 100)) | number:2 }}
                                                        </span>
                                                    </span>

                                                    <span ng-if="salesReturnItem.mrpSellingPrice>0 && (salesReturnItem.discount | float)>0">

                                                        <span>
                                                            <i class="fa fa-inr" title="Price"></i>
                                                            {{(salesReturnItem.mrpSellingPrice * salesReturnItem.quantity) - (salesReturnItem.mrpSellingPrice * salesReturnItem.quantity * salesReturnItem.discount / 100) | number:2}}
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="col-md-1 sell-group-decor9 pull-right">
                                                    <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;margin-left: auto !important;" title="Delete" ng-click="removeSalesReturnItem(salesReturnItem)"></span>&nbsp;
                                                    <span class="col-md-1 glyphicon glyphicon-edit cross-icon pull-right" style="cursor: pointer;margin-left: auto !important;" title="Edit" ng-click="editSalesReturnItem(salesReturnItem)" ng-show="!salesReturnItem.isEdit"></span>&nbsp;
                                                    <span class="col-md-1 glyphicon glyphicon-floppy-save cross-icon pull-right" style="cursor: pointer;margin-left: 0 !important;" title="Save" ng-click="saveSalesReturnItem(salesReturnItem)" ng-show="salesReturnItem.isEdit && salesReturnItem.discount <= 100 && salesReturnItem.mrpSellingPrice >= salesReturnItem.productStock.purchasePrice"> </span>&nbsp;
                                                </div>

                                            </div>

                                        </div>
                                        <div class="chips-wrapper" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Batch No</th>
                                                        <th>Expired Date</th>
                                                        <th>Discount Amt</th>
                                                        <th ng-hide="salesReturn.taxRefNo == 1">VAT</th>
                                                        <th ng-show="salesReturn.taxRefNo == 1">GST</th>
                                                        <th>Barcode</th>
                                                        <th ng-show="enableSelling">Selling</th>
                                                        <th>MRP</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr class="text-left">

                                                        <td>{{salesReturnItem.productStock.batchNo}}</td>
                                                        <td>{{salesReturnItem.productStock.expireDate | date:'MM/yy'}}</td>
                                                        <td>{{salesReturnItem.discountAmount  |number:2}}</td>
                                                        <td ng-hide="salesReturn.taxRefNo == 1">{{salesReturnItem.productStock.vat}}</td>
                                                        <td ng-show="salesReturn.taxRefNo == 1">{{salesReturnItem.productStock.gstTotal}}</td>
                                                        <td>{{salesReturnItem.productStock.purchaseBarcode}}</td>
                                                        <td>{{salesReturnItem.mrpSellingPrice>0?salesReturnItem.mrpSellingPrice:salesReturnItem.productStock.sellingPrice}}</td>
                                                        <td ng-show="enableSelling">{{salesReturnItem.mrp>0?salesReturnItem.mrp:salesReturnItem.productStock.mrp}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div ng-if="returnType == 'sales'">


                                <div ng-repeat="salesReturnItem in salesReturn.salesReturnItem">
                                    <div>
                                        <div class="chip-style">
                                            <div class="col-sm-12 override_margin">


                                                <div class="col-md-4 sell-group-decor9">
                                                    <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                                    <span><strong class="orange-text return-product-name txtUpper">{{salesReturnItem.productStock.product.name}}</strong></span>
                                                </div>

                                                <div class="col-md-1 sell-group-decor9">
                                                    <span><i class="fa fa-cart-plus" title="Quantity"></i> {{salesReturnItem.purchaseQuantity}}</span>
                                                    <span ng-if="salesReturnItem.returnedQuantity > 0" style="color:red">&nbsp; - &nbsp;({{salesReturnItem.returnedQuantity}})</span>  &nbsp;  &nbsp;
                                                </div>


                                                <div class="col-md-1 sell-group-decor9" style="text-align:center">
                                                    @*<span  ng-if="!salesReturnItem.sellingPrice>0 || !salesDiscount>0"><i class="fa fa-inr" title="Price"></i> {{salesReturnItem.sellingPrice>0?((salesReturnItem.sellingPrice * salesReturnItem.purchaseQuantity) - salesReturnItem.discountAmount):((salesReturnItem.productStock.sellingPrice * salesReturnItem.purchaseQuantity) - salesReturnItem.discountAmount) | number:2}}</span>*@

                                                    <span>
                                                        <i class="fa fa-inr" title="Price"></i>
                                                        {{(salesReturnItem.mrpSellingPrice * salesReturnItem.purchaseQuantity) | number:2}}
                                                    </span>
                                                    @*{{(salesReturnItem.sellingPrice * salesReturnItem.purchaseQuantity)-(((salesReturnItem.sellingPrice * salesReturnItem.purchaseQuantity)*salesReturn.discount/100) + salesReturnItem.discountAmount) | number:2}}</span>*@

                                                </div>

                                                <div class="col-md-1 sell-group-decor9" style="text-align:center">
                                                    <span><i class="fa" title="Quantity"></i> {{salesReturn.discount}}% </span>
                                                </div>

                                                <div class="col-md-1 sell-group-decor9" style="text-align:center">
                                                    <!-- Added by arun for return charges-->

                                                    <span style="" ng-show="salesReturnItem.isEdit == true">
                                                        <input class="return-chip-disct" type="text" id="returndisct" style="margin-right:0;width: 60px;" placeholder="Return Discount"
                                                               name="returndisct" ng-change="updateAction(salesReturnItem)"
                                                               ng-model="salesReturnItem.discount" maxlength="5" valid-number />
                                                    </span>
                                                    <span ng-show="salesReturnItem.isEdit == false">
                                                        {{salesReturnItem.discount == undefined ? 0 : salesReturnItem.discount}}
                                                    </span>

                                                    <span class="return-qty-error" style="margin-right:0;"
                                                          ng-if="salesReturnItem.originaldiscount > salesReturnItem.discount" 
                                                          ng-message="required">Return discount {{salesReturnItem.discount}} cannot be lesser than sales discount {{salesReturnItem.originaldiscount+salesReturn.discount}}</span>
                                                    <span class="error" ng-show="salesReturnItem.returndisct > 100" style="margin-left:0px;">Discount must be less than 100</span>
                                                </div>
                                                <div class="col-md-1 sell-group-decor9" style="text-align:center">
                                                    <span><i class="fa" title="Quantity"></i> {{(salesReturnItem.returndisct)}}% </span>

                                                </div>


                                                <div class="col-md-1 sell-group-decor9">
                                                    <span style="float:right;" ng-show="salesReturnItem.isEdit == true">
                                                        <input class="return-chip-qty" type="text" id="returnQuantity" style="margin-right:0;width: 70px;"
                                                               placeholder="Return Qty" name="returnQuantity"
                                                               ng-change="updateAction(salesReturnItem)"
                                                               ng-model="salesReturnItem.quantity" valid-number numbers-only ng-disabled="salesReturnItem.disabled == 'yes'" />
                                                    </span>
                                                    <span ng-show="salesReturnItem.isEdit == false">
                                                        {{salesReturnItem.quantity}}

                                                    </span>
                                                    <span ng-show="salesReturnItem.quantity > salesReturnItem.purchaseQuantity" class="return-qty-error" style="margin-right:0;"
                                                          ng-if="salesReturnItem.quantity > salesReturnItem.purchaseQuantity - salesReturnItem.returnedQuantity"
                                                          ng-init="disableSave(salesReturn.salesReturnItem)" ng-message="required">Quantity is exceeded</span>

                                                </div>

                                                <div class='col-md-1 sell-group-decor9' style="text-align:center">

                                                    <span ng-if="salesReturnItem.mrpSellingPrice>0">

                                                        <span ng-if="salesReturnItem.purchaseQuantity >= salesReturnItem.quantity" ng-init="disableSave(salesReturn.salesReturnItem)">
                                                            <i class="fa fa-inr" title="Return Price"></i>
                                                            <span>
                                                                {{salesReturnItem.mrpSellingPrice>0?(salesReturnItem.mrpSellingPrice * salesReturnItem.quantity) -(salesReturnItem.mrpSellingPrice * salesReturnItem.quantity)  *  (salesReturnItem.returndisct == undefined ? 0 : salesReturnItem.returndisct/ 100)   : 0 |number:2 }}
                                                                @*-((salesReturnItem.sellingPrice * salesReturnItem.quantity) * (salesReturnItem.returndisct == undefined ? 0 : salesReturnItem.returndisct/ 100)  )):(((salesReturnItem.productStock.sellingPrice) * salesReturnItem.quantity)) -((salesReturnItem.sellingPrice * salesReturnItem.quantity) * (salesReturnItem.returndisct == undefined ? 0 : salesReturnItem.returndisct/ 100)  ) |number:2 }}*@
                                                            </span>

                                                        </span>
                                                    </span>
                                                </div>                                             
                                                <div class="col-md-2 sell-group-decor9 pull-right">
                                                    <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;" title="Delete" ng-click="removeSalesReturnItem(salesReturnItem)"></span>&nbsp;
                                                    <span class="col-md-1 glyphicon glyphicon-edit cross-icon pull-right" style="cursor: pointer;" title="Edit" ng-click="editSalesReturnItem(salesReturnItem)" ng-show="!salesReturnItem.isEdit"></span>&nbsp;
                                                    <span class="col-md-1 glyphicon glyphicon-floppy-save cross-icon pull-right" style="cursor: pointer;" title="Save" ng-click="saveSalesReturnItem(salesReturnItem)" ng-show="salesReturnItem.isEdit && salesReturnItem.discount <= 100 && salesReturnItem.mrpSellingPrice >= salesReturnItem.productStock.purchasePrice && salesReturnItem.purchaseQuantity >= salesReturnItem.quantity && salesReturnItem.mrpSellingPrice <= salesReturnItem.soldPrice"> </span>&nbsp;
                                                </div>

                                            </div>

                                        </div>
                                        <div class="chips-wrapper" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Batch No</th>
                                                        <th>Expired Date</th>
                                                        <th>Discount Amt</th>
                                                        <th ng-hide="salesReturn.taxRefNo==1">VAT</th>
                                                        <th ng-show="salesReturn.taxRefNo==1">GST</th>
                                                        <th>Barcode</th>
                                                        <th ng-show="enableSelling">Selling</th>
                                                        <th>MRP</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-left">

                                                        <td>{{salesReturnItem.productStock.batchNo}}</td>
                                                        <td>{{salesReturnItem.productStock.expireDate | date:'MM/yy'}}</td>
                                                        <td>{{salesReturnItem.discountAmount  |number:2}}</td>
                                                        <td ng-hide="salesReturn.taxRefNo==1">{{salesReturnItem.productStock.vat}}</td>
                                                        <td ng-show="salesReturn.taxRefNo==1">{{salesReturnItem.productStock.gstTotal}}</td>
                                                        <td>{{salesReturnItem.productStock.purchaseBarcode}}</td>
                                                        <td>{{salesReturnItem.mrpSellingPrice>0?salesReturnItem.mrpSellingPrice:salesReturnItem.productStock.sellingPrice}}</td>
                                                        <td ng-show="enableSelling">{{salesReturnItem.mrp>0?salesReturnItem.mrp:salesReturnItem.productStock.mrp}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding-right:0;">
            <div class="panel">
                <div class="panel-body orange-border-top">
                    <div class='row'>
                        <div class='col-sm-12' style="padding:0;">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered ">
                                <tbody>
                                    <tr><td><strong>Returned Amount</strong></td><td><strong>{{Math.round(previousReturnedAmt) | number:2}}</strong></td></tr>
                                </tbody>
                                <tr>
                                    <td><strong>Return Charges</strong> </td>
                                    <td>
                                        <input class="return-chip-qty" type="text" id="returncharge" style="margin-right:0;" placeholder="Return Charges" ng-change="calculateTotalReturn()" name="returncharge" ng-model="salesReturn.returnCharges" valid-number />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class='col-sm-12' style="padding:0;">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " style="height:40px;">
                                <tbody>
                                    <tr class="round-off-section">
                                        <td colspan="7" style="padding-bottom:10px;">
                                            RoundOff : <span>{{roundOff | number:2}}</span>                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class='col-sm-12' style="padding:0;">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " style="height:40px;">
                                <tbody>
                                    <tr class="round-off-section">
                                        <td colspan="7" style="padding-bottom:10px;">
                                            Return Amount : <span>{{returnTotal | round | number:2}}</span>
                                            @*<span ng-show="showRoundedValue">{{ returnTotal | round | number:2}}</span>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
 
    <div class="panel panel-default">
        <div class="panel-footer clearfix">
            <div class="pull-left">
                <button title="Cancel" id="RtnSaleCancel" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel[<span class="fkey">CTRL+C</span>]</button>
            </div>
            <input type="hidden" id="saveType" value='@ViewBag.CompleteSaleType' />
     
            @if (ViewBag.CompleteSaleType == "2")
            {
                <div class="pull-right">
                    <button id="RtnSale" title="Return" ng-disabled="(editCount > 0) || (returnTotal<0)" class="btn btn-style" ng-click="save()">
                        Update Return[<span class="fkey">END</span>]
                    </button>
                </div>
            }
            else
            {
                <div class="pull-right">
                    <button id="RtnSale" title="Return" ng-disabled="(editCount > 0)||(returnTotal < 0)" class="btn btn-style" ng-click="save()">
                        Update Return[<span class="fkey">ESC</span>]
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
    {
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscript.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/shortcutHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/editReturnOnlyCtrl.js"></script>
}
