@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Sales Return";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="salesReturnCtrl" ng-cloak>
    <shortcut></shortcut>
    <ng-form id="salesReturnItems" name="salesReturnItems">
        <div ng-init="init('@ViewBag.Id')"></div>

        <div class="panel panel-default">
            <div class="panel-heading">SELL RETURN</div>
            <div class="panel-body purchase-history-body">
                <div class="row" style="background-color:gray; padding:4px; font-weight:bold">
                    <div class="col-md-12 override_margin">
                        <div class="col-md-2"> Patient Name</div>
                        <div class="col-md-2">Mobile No</div>
                        <div class="col-md-2">Bill No</div>
                        <div class="col-md-2">Bill Date</div>
                        <div class="col-md-2">Total</div>
                        <div class="col-md-2">Discount</div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                            <strong><span class="txtCaps">{{salesReturn.patientName}}</span></strong>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                           <strong>{{salesReturn.patientMobile}}</strong>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                            <strong>{{salesReturn.sales.prefix+salesReturn.sales.invoiceSeries}}</strong> <strong>{{salesReturn.sales.invoiceNo}}</strong>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                           <strong>{{salesReturn.sales.invoiceDate | date:'dd/MM/yyyy'}} </strong> <strong>{{salesReturn.sales.createdAt | date : 'hh:mm a'}}</strong>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                            <p class="form-control-static">
                                <span><strong>{{salesTotal | number:2}}</strong></span>
                            </p>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group' style="margin:5px 0px;">
                            <strong>
                                <span ng-if="salesDiscount>0"><i class="fa fa-inr" title="Quantity"></i> {{salesDiscount | number:2}}</span>
                            </strong>
                        </div>
                    </div>

                </div>
                <div class='row alterRow alter-row-collapse' style="padding-top:15px">
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <p class="form-control-static">
                                <span class="glyphicon glyphicon-envelope"></span>&nbsp;<strong>{{salesReturn.patientEmail}}</strong>
                            </p>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <p class="form-control-static">@*<span style="font-weight:bold;">#&nbsp;</span>*@<img src="~/assets/images/age.png" />&nbsp;<strong>{{salesReturn.patientAge}}</strong></p>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <p class="form-control-static"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;<strong>{{salesReturn.patientAddress}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top override_margin">
                    <div class='row sell-group-decor10'>
                        <div class="chip-style">
                            <div class='row' style="background-color:gray; padding:0px; font-weight:bold">
                                <div class="col-sm-12 override_margin">
                                   

                                    <div class='col-md-4'>
                                        <label class="col-md-12">Product Name</label>
                                    </div>
                                    <div class='col-md-1'>
                                        <label  style="float:right;" class="">Quantity</label>
                                    </div>
                                    <div class='col-md-1'>
                                        <label class="" style="float:left;">Price</label>
                                    </div>
                                    <div class='col-md-1'>
                                        <label class="" style="float:left">Bill Dis(%)</label>
                                    </div>
                                    <div class='col-md-1'>
                                        <label class="" style="float:left">Item Dis(%)</label>
                                    </div>
                                    <div class='col-md-1'>
                                        <label class="" style="float:left">Total Dis(%)</label>
                                    </div>
                                    <div class='col-md-1'>
                                        <label class="pull-right">Return Qty</label>
                                    </div>
                                    
                                    <div class='col-md-1'>
                                        <label class="pull-right">Return Price</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="salesReturnItem in salesReturn.salesReturnItem">
                            <div class="chip-style">
                                <div class="col-sm-12 override_margin">
                                   

                                    <div class="col-md-4 sell-group-decor9">
                                        <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                        <span><strong class="orange-text return-product-name txtUpper">{{salesReturnItem.productStock.product.name}}</strong></span>
                                    </div>

                                    <div class="col-md-1 sell-group-decor9">
                                        <span><i class="fa fa-cart-plus" title="Quantity"></i> {{salesReturnItem.purchaseQuantity}}</span>
                                        <span ng-if="salesReturnItem.returnedQuantity > 0" style="color:red">&nbsp; - &nbsp;({{salesReturnItem.returnedQuantity}})</span>  &nbsp;  &nbsp;
                                    </div>


                                    <div class="col-md-1 sell-group-decor9" style="text-align:center">
                                        @*<span  ng-if="!salesReturnItem.sellingPrice>0 || !salesDiscount>0"><i class="fa fa-inr" title="Price"></i> {{salesReturnItem.sellingPrice>0?((salesReturnItem.sellingPrice * salesReturnItem.purchaseQuantity) - salesReturnItem.discountAmount):((salesReturnItem.productStock.sellingPrice * salesReturnItem.purchaseQuantity) - salesReturnItem.discountAmount) | number:2}}</span>*@

                                        <span ng-if="salesReturnItem.sellingPrice>0">
                                        <i class="fa fa-inr" title="Price"></i>
                                        {{(salesReturnItem.sellingPrice * salesReturnItem.purchaseQuantity) | number:2}}</span>
                                         @*{{(salesReturnItem.sellingPrice * salesReturnItem.purchaseQuantity)-(((salesReturnItem.sellingPrice * salesReturnItem.purchaseQuantity)*salesReturn.discount/100) + salesReturnItem.discountAmount) | number:2}}</span>*@
                                      

                                    </div>
                                    <div class="col-md-1 sell-group-decor9" style="text-align:center">
                                        <span><i class="fa" title="Quantity"></i> {{salesReturn.discount }}% </span>
                                    </div>
                                    <div class="col-md-1 sell-group-decor9" style="text-align:center">
                                        <!-- Added by arun for return charges-->
                                        
                                            <span style="">
                                                <input class="return-chip-disct" type="text" id="returndisct" style="margin-right:0;width: 60px;" placeholder="Return Discount"
                                                       name="returndisct" ng-change="editItem(salesReturn.salesReturnItem,salesReturnItem.returndisct)"
                                                       ng-model="salesReturnItem.orgDiscount" maxlength="5" valid-number ng-disabled="salesReturnItem.disabled == 'yes'" />
                                            </span>                                     
                                        <span class="return-qty-error" style="margin-right:0;"
                                              ng-if="salesReturnItem.returndisct>100"  ng-init="disableSave(salesReturn.salesReturnItem)"
                                             ng-message="required">Total Discount not more than 100%</span>

                                        <span class="return-qty-error" style="margin-right:0;"
                                              ng-if="(salesReturnItem.originaldiscount > salesReturnItem.orgDiscount)" ng-init="disableSave(salesReturn.salesReturnItem)"
                                              ng-message="required">Item Discount not less than {{salesReturnItem.originaldiscount | number:2}}</span>
                                     
                                    </div>
                                    <div class="col-md-1 sell-group-decor9" style="text-align:center">
                                        <span><i class="fa" title="Quantity"></i> {{salesReturnItem.returndisct | number:2}}% </span>

                                    </div>


                                    <div class="col-md-1 sell-group-decor9">
                                        <span style="float:right;">


                                            <input class="return-chip-qty" type="text" id="returnQuantity" style="margin-right:0;width: 70px;" 
                                                   placeholder="Return Qty" name="returnQuantity" 
                                                   ng-change="editItem(salesReturn.salesReturnItem,salesReturn.discount)" 
                                                   ng-model="salesReturnItem.quantity" valid-number numbers-only ng-disabled="salesReturnItem.disabled == 'yes'" />

                                            <span class="return-qty-error"  style="margin-right:0;"
                                                   ng-if="salesReturnItem.quantity > salesReturnItem.purchaseQuantity - salesReturnItem.returnedQuantity"
                                                   ng-init="disableSave(salesReturn.salesReturnItem)" ng-message="required">Quantity is exceeded</span>
                                        </span>
                                    </div>
                                   
                                    <div class='col-md-1 sell-group-decor9' style="text-align:center">

                                        <span ng-if="salesReturnItem.sellingPrice>0"  >
                                          
                                            <span ng-if="salesReturnItem.purchaseQuantity >= salesReturnItem.quantity" ng-init="disableSave(salesReturn.salesReturnItem)">
                                                <i class="fa fa-inr" title="Return Price"></i>
                                                <span>
                                                    {{salesReturnItem.sellingPrice>0?(((salesReturnItem.sellingPrice) * salesReturnItem.quantity)-((salesReturnItem.sellingPrice * salesReturnItem.quantity) * (salesReturnItem.returndisct == undefined ? 0 : salesReturnItem.returndisct/ 100)  )):(((salesReturnItem.productStock.sellingPrice) * salesReturnItem.quantity)) -((salesReturnItem.sellingPrice * salesReturnItem.quantity) * (salesReturnItem.returndisct == undefined ? 0 : salesReturnItem.returndisct/ 100)  ) |number:2 }}
                                                    </span>
                                                   
                                                </span>
                                        </span>

                                        @*<span ng-if="salesReturnItem.sellingPrice>0 && salesDiscount>0"  >
                                           
                                            <span ng-if="salesReturnItem.purchaseQuantity >= salesReturnItem.quantity" ng-init="disableSave(salesReturn.salesReturnItem)">
                                                <i class="fa fa-inr" title="Price"></i>
                                                <span ng-show="salesReturnItem.showprice == false">
                                                    {{((((salesReturnItem.sellingPrice - salesReturnItem.discountAmountPerQty) * salesReturnItem.purchaseQuantity)-((salesReturnItem.sellingPrice * salesReturnItem.purchaseQuantity)*salesReturn.discount/100))/salesReturnItem.purchaseQuantity)* salesReturnItem.quantity | number:2}}
                                                </span>
                                                </span>
                                            <span ng-show="salesReturnItem.showprice == true">
                                                <label>{{salesReturnItem.returnsellprice |number:2 }}</label>
                                            </span>
                                        </span>*@
                                    </div>
                                     
                                </div>



                            </div>
                            <div class="chips-wrapper" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Batch No</th>
                                            <th>Expired Date</th>
                                            <th ng-hide="salesReturn.taxRefNo == 1">VAT</th>
                                            <th ng-show="salesReturn.taxRefNo == 1 && isComposite==false">Gst Total</th>
                                            <th>Barcode</th>
                                            <th ng-show="enableSelling">Selling</th>
                                            <th>MRP</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left">
                                            <td>{{salesReturnItem.productStock.batchNo}}</td>
                                            <td>{{salesReturnItem.productStock.expireDate | date:'MM/yy'}}</td>
                                            <td ng-hide="salesReturn.taxRefNo == 1">{{salesReturnItem.productStock.vat}}</td>
                                            <td ng-show="salesReturn.taxRefNo == 1 && isComposite==false">{{salesReturnItem.productStock.gstTotal}}</td>
                                            <td>{{salesReturnItem.productStock.purchaseBarcode}}</td>
                                            <td>{{salesReturnItem.sellingPrice>0?salesReturnItem.sellingPrice:salesReturnItem.productStock.sellingPrice}}</td>
                                            <td ng-show="enableSelling">{{salesReturnItem.mrp>0?salesReturnItem.mrp:salesReturnItem.productStock.mrp}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding-right:0;">
            <div class="panel">
                <div class="panel-body orange-border-top">
                    <div class='row'>
                        <div class='col-sm-12' style="padding:0;">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered ">
                                <tbody>
                                    <tr><td><strong>Sales Amount</strong></td><td><strong>{{salesReturn.purchasedTotal | number:2}}</strong></td></tr>
                                    @*<tr><td><strong>Discount Value</strong></td><td><strong><span ng-if="salesReturn.discount>0"> {{(salesReturn.purchasedTotal / salesReturn.discount)/100 | number:2}}</span></strong></td></tr>*@
                                    @if (User.AccountId() == "976bfbd1-fe57-45d5-a99f-4e01eed868ae" || User.AccountId() == "63ED272D-1122-4E04-AFE8-C5A0F13B4F0E" || User.AccountId() == "c503ca6e-f418-4807-a847-b6886378cf0b" || User.AccountId() == "2d5abd54-89a9-4b31-aa76-8ec70b9125dd")
                                    {
                                        <tr>
                                            <td><strong>Return Charges</strong> </td>
                                            <td>
                                                <input class="return-chip-qty" type="text" id="returncharge" style="margin-right:0;" placeholder="Return Charges" ng-change="editItem(salesReturn.salesReturnItem,salesReturn.discount)" name="returncharge" ng-model="salesReturn.returnCharges" valid-number maxlength="5" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class='col-sm-12' style="padding:0;">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " style="height:40px;">
                                <tbody>
                                    <tr class="round-off-section">
                                        <td colspan="7" style="padding-bottom:10px;">
                                            Return Amount : <span ng-show="!showRoundedValue">{{ returnTotal | number:2}}</span>
                                            <span ng-show="showRoundedValue">{{ returnTotal | round | number:2}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
    <div class="panel panel-default">
        <div class="panel-footer clearfix">
            <div class="pull-left">
                <button title="Cancel" id="RtnSaleCancel" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel[<span class="fkey">CTRL+C</span>]</button>
            </div>
            <input type="hidden" id="saveType" value='@ViewBag.CompleteSaleType' />
@if (ViewBag.CompleteSaleType == "2")
{
    <div class="pull-right">                
        <button id="RtnSale" title="Return" ng-disabled="(returnTotal <= 0)" class="btn btn-style" ng-click="save()">Return[<span class="fkey">END</span>]                
        </button>
    </div>
}
else
{
    <div class="pull-right">
        <button id="RtnSale" title="Return" ng-disabled="(returnTotal <= 0)" class="btn btn-style" ng-click="save()">
            Return[<span class="fkey">ESC</span>]
        </button>
    </div>
}
        </div>
    </div>
</div>

@section scripts
    {
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscript.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/shortcutHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesreturnctrl.js"></script>
}
