@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@{
    ViewBag.Title = "Sales Return List";
    ViewBag.Menu = "Sell Return List";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="salesReturnListCtrl" ng-cloak>
    <div class="panel panel-default panelBorder override_margin">
        <div class="panel-body">
            <div class='row override_margin'>
                <div class="col-md-12 override_margin txtUpper">
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <label>Select Anyone</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="form-control">
                                    <option value="">All</option>
                                    <option value="returnNo">Return No.</option>
                                    <option value="invoiceNo">Invoice No.</option>
                                    <option value="returnDate">Return Date</option>
                                    <option value="customerName">Customer Name</option>
                                    <option value="customerMobile">Customer Mobile</option>
                                    <option value="customerEmail">EmailID</option>
                                    <option value="product">ProductName</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2 override_margin' ng-show="CustomerCondition">
                        <div class='form-group override_margin'>
                            <label>Enter Name</label>
                            <input type="text" ng-model="name"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Customer name"
                                   id="customerName" name="customerName"
                                   title="Customer name"
                                   typeahead-on-select="onPatientSelect($item,$event)"
                                   ng-enter="onPatientSelect($item,$event)"
                                   ng-keyup="keyEnter($event,'Search')"
                                   typeahead-editable="false"
                                   ng-change="changeCustomerName()"
                                   uib-typeahead="ps as ps.name for ps in getPatient($viewValue)"
                                   class="form-control form-control-small"
                                   typeahead-template-url="itemTpls1.html" />
                            <script type="text/ng-template" id="itemTpls1.html">

                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">
                                    <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">
                                    <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>



                        </div>
                    </div>       
                    
                    <div class='col-sm-2 override_margin' ng-show="returnnumberCondition">
                        <div class='form-group'>
                            <label>Select Invoice Type</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="InvoiceType" name="InvoiceType" title="Invoice Type" placeholder="Select anyone" ng-model="search.select1" class="form-control" required>

                                    <option value="Default">Default Series</option>
                                    <option value="Custom">Custom Series</option>
                                    <option value="Manual">Manual Series</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                    
                    <div class='col-sm-2 override_margin' ng-show="returnnumberCondition && search.select1 == 'Custom'">
                        <div class='form-group'>
                            <label>Select Custom Series</label>
                            <div class="input-group col-md-12 override_margin">

                                <select ng-model="search.selectedSeries" class="form-control" id="ddlSelect" ng-init="search.selectedSeries='All'" required>
                                    <option value="All" selected="selected">All</option>
                                    <option ng-repeat="item in InvoiceSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>            

                    <div class='col-sm-2 override_margin' ng-show="returnnumberCondition">
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label>Return No </label>
                                <input title="Return Number" id="fromValue" type="text" placeholder="Enter Return No" class="search-query form-control" ng-enter="salesReturnSearch()" alpha-numeric ng-model="search.fromReturnNo">
                            </div>
                        </div>
                    </div>

                    @*<div class='col-sm-2 override_margin' ng-show="returnnumberCondition">
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label>To</label>
                                <input title="Return Number" id="toValue" type="text" placeholder="To Return No" class="search-query form-control" alpha-numeric ng-enter="Enterkey('Search')" ng-model="search.toReturnNo">
                            </div>
                        </div>
                    </div>*@
                    <div class='col-sm-2 override_margin' ng-show="invoicenumberCondition">
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label>Enter Values</label>
                                <input title="Invoice Number" id="invoiceNo" type="text" placeholder="Invoice No" class="search-query form-control" ng-enter="salesReturnSearch()" ng-model="search.sales.invoiceNo">
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-show="CustomerMailCondition">
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label>Enter MailID</label>
                                <input title="Email Id" class="form-control required email" id="email" name="email" size="30" type="text" placeholder="Email ID" ng-enter="salesReturnSearch()" ng-model="search.sales.email" />
                            </div>
                        </div>
                    </div>


                    <div class='col-sm-2 override_margin' ng-show="CustomerMobileCondition">
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label>Enter Mobile No</label>
                                <input title="Mobile Number" class="form-control required email" id="txtMobile" name="Mobile" size="30" type="text" placeholder="Mobile" ng-enter="salesReturnSearch()" ng-model="search.sales.mobile" />
                            </div>
                        </div>
                    </div>

                

                    <div class='col-md-2 override_margin' ng-show="productCondition">
                        <div class='form-group'>
                            <label>Enter Product Name</label>
                            <div class="input-group col-md-12 override_margin">
                                <input title="Product Name" type="text" placeholder="Product" id="drugName" name="drugName" class="search-query form-control" ng-enter="salesReturnSearch()" ng-model="search.drugName" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)">
                            </div>
                        </div>
                    </div>



                    <div class="col-md-2 override_margin" ng-show="dateCondition">
                        <div class='form-group'>
                            <label>Select From Date</label>
                            <div class="input-group col-md-12 override_margin">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" required placeholder="Select Date" ng-model="search.FromReturnDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 override_margin" ng-show="dateCondition">
                        <div class='form-group'>
                            <label>Select To Date</label>
                            <div class="input-group col-md-12 override_margin">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" required placeholder="Select Date" ng-model="search.ToReturnDate" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group override_margin'>
                            <div class="input-group col-md-12 override_margin">
                                <label></label>
                                <div class="override_margin">
                                    <label></label>
                                    <button title="Search" id="Search" class="btn btn-style" ng-click="salesReturnSearch()">Search</button>
                                    <button title="Cancel" style="margin-right:20px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <div class="row tblHeader">
                        <div class="col-md-12 override_margin">

                            <div class="col-md-2">
                                <span class="col-md-12 col-md-offset-1" style="padding:0px;">Name</span>
                            </div>
                            <div class="col-md-10">
                                <div class="col-md-2">Invoice No</div>
                                <div class="col-md-1">Return No</div>
                                <div class="col-md-2">Returned Date</div>
                                @*<div class="col-md-2">Mobile</div>*@
                                <div class="col-md-2">Return Charges</div>
                                <div class="col-md-1">Price</div>
                                <div class="col-md-2">Returned By</div>
                                <div class="col-md-1" style="text-align:center;">Action</div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="pull-left" ng-if="list.length == 0">
                            No Records found
                        </div>
                        <div ng-repeat="salesReturn in list" ng-hide="salesReturn.Status==true">
                            <div class="chip-style">
                                <div class="col-sm-12 override_margin">

                                    <div class="col-md-2 sell-group-decor9">
                                        <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event, salesReturn)">+</button>
                                        &nbsp; <strong class="orange-text"> {{salesReturn.sales.name?salesReturn.sales.name:salesReturn.patient.name}}</strong>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-2">
                                            <span>{{salesReturn.sales.prefix+salesReturn.sales.invoiceSeries}} </span><span>{{salesReturn.sales.invoiceNo}}</span>
                                        </div>
                                        <div class="col-md-1">
                                            @*<span># {{salesReturn.prefix+ salesReturn.returnNo}}</span>*@
                                            <span># {{salesReturn.prefix+salesReturn.invoiceSeries + salesReturn.returnNo}}</span>
                                        </div>
                                        <div class="col-md-2">
                                            <span><i class="fa fa-calendar" title="Invoice Date"></i> {{salesReturn.returnDate | date:'dd/MM/yyyy' }}</span> @*updatedAt*@
                                        </div>
                                        @*<div class="col-md-2 override_margin">
                    <span ng-if="salesReturn.sales.mobile!=null"><i class="fa fa-mobile" title="Mobile"></i> {{salesReturn.sales.mobile}}</span>
                </div>*@
                                        @*<div class="col-md-2 override_margin" style="word-break: break-all !important;    padding-right: 5px !important;">
                    <span ng-if="salesReturn.sales.email != 'N/A'"><i ng-if="salesReturn.sales.email != null" class="fa fa-envelope-o" title="Email"></i> {{salesReturn.sales.email}} </span>
                </div>*@
                                        <div class="col-md-2 override_margin" style="word-break: break-all !important;    padding-right: 5px !important;">
                                            <span>{{salesReturn.returnCharges}} </span>
                                        </div>
                                        @*<div class="col-md-1">{{ getTotal(salesReturn)| round | number:2}}</div>*@
                                        <div class="col-md-1">{{ salesReturn.netAmount | number:2}}</div>
                                        <div class="col-md-2 override_margin">
                                            <span ng-if="salesReturn.hQueUser.name != 'N/A'"><i ng-if="salesReturn.hQueUser.name != null" title="Cancelled"></i> {{salesReturn.hQueUser.name}}</span>
                                        </div>

                                        <div class="col-md-2">

                                            @*<div class="col-md-4 override_margin">
                                                <span class="glyphicon glyphicon-edit" ng-show="salesReturn.activeItemsCount > 0 && salesReturn.voucher.amount == salesReturn.voucher.originalAmount && salesReturn.debitAmt == 0" title="Edit" style="cursor: pointer; padding:4px;" ng-click="editReturn(salesReturn)"></span>
                                            </div>*@

                                            <div class="col-md-4 override_margin">
                                                <span class="glyphicon glyphicon-print" ng-show="salesReturn.activeItemsCount > 0 && salesReturn.sumQuantity > 0 " style="cursor: pointer; padding:4px; margin-left: 10px;" ng-click="printReturnList(salesReturn)"></span>
                                            </div>
                                            <div class="col-md-4 override_margin">
                                                <span class="glyphicon glyphicon-fullscreen" ng-show="salesReturn.activeItemsCount > 0 && salesReturn.sumQuantity > 0" style="cursor:pointer; padding:4px; margin-left:10px;" ng-click="viewBill(salesReturn)"></span>
                                                @*<span class="glyphicon glyphicon-fullscreen" ng-show="salesReturn.activeItemsCount > 0 && salesReturn.sumQuantity > 0" style="padding:4px; margin-left:10px;"></span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <table class="table override_margin sell-group-decor10">
                                    <thead class="chips-header">
                                        <tr>
                                            <th>Product</th>
                                            <th>Batch</th>
                                            <th>Expiry</th>
                                            <th ng-show="salesReturn.taxRefNo != 1">VAT (%)</th>
                                            <th ng-show="salesReturn.taxRefNo == 1 && isComposite == false">GST (%)</th>
                                            <th>Discount</th>
                                            <th ng-show="enableSelling">Selling</th>
                                            <th>MRP</th>
                                            <th class="text-center">Return Quantity</th>
                                            <th>Return Price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left" ng-repeat="salesReturnItem in salesReturn.salesReturnItem" ng-class="{isDeleted : salesReturnItem.isDeleted == true}">
                                            <td class="txtUpper">{{salesReturnItem.productStock.product.name}}</td>
                                            <td>{{salesReturnItem.productStock.batchNo}}</td>
                                            <td>{{salesReturnItem.productStock.expireDate | date:'MM/yy'}}</td>
                                            <td ng-show="salesReturn.taxRefNo != 1">{{salesReturnItem.productStock.vat}}</td>
                                            <td ng-show="salesReturn.taxRefNo == 1 && isComposite == false">{{salesReturnItem.productStock.gstTotal}}</td>
                                            <td>{{salesReturnItem.discount}}</td>
                                            <td>{{salesReturnItem.mrpSellingPrice>0?salesReturnItem.mrpSellingPrice:salesReturnItem.productStock.sellingPrice | number:2}}</td>
                                            <td ng-show="enableSelling">{{salesReturnItem.mrp>0?salesReturnItem.mrp:salesReturnItem.productStock.mrp | number:2}}</td>
                                            <td class="text-center">{{salesReturnItem.quantity}}</td>

                                           
                                            <td > @*ng-if="!salesReturnItem.mrpSellingPrice>0 || !salesReturn.sales.discount>0"*@
                                                @*{{salesReturnItem.mrpSellingPrice>0?(((salesReturnItem.mrpSellingPrice - (salesReturnItem.discountAmtPerQty || 0))*salesReturnItem.quantity) - (salesReturnItem.total*((salesReturn.sales.discount || 0)/100))): ((salesReturnItem.total - (salesReturnItem.discountAmtPerQty || 0))-(salesReturnItem.total*((salesReturn.sales.discount || 0)/100))) | number:2}}*@

                                                {{(salesReturnItem.mrpSellingPrice>0?(salesReturnItem.mrpSellingPrice * salesReturnItem.quantity): salesReturnItem.total) | number:2}}

                                            </td>
                                            @*<td ng-if="salesReturnItem.mrpSellingPrice>0">
                                              
                                            {{ salesReturnItem.finalPrice | round | number:2}}

                                            </td>*@
                                            <td ng-show="salesReturnItem.isDeleted == true">Deleted</td>
                                        </tr>
                                        <tr>
                                            <td colspan="9" align="left"><b>Returned Time :</b> {{salesReturn.updatedAt | date:'dd/MM/yyyy HH:mm'}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-md-12 override_margin" ng-show="salesReturn.salesReturnItemAudit.length>0">
                                    <div class="col-md-12 override_margin" ng-repeat="audit1 in salesReturn.salesReturnItemAudit" ng-class="{'Edit' : audit1.action != 'D','Delete':audit1.action=='D'}">
                                        <div class="col-md-6 override_margin">
                                            <label class="pull-left" style="color:#17875e" ng-if="audit1.action != 'D'">Data Edited on {{audit1.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</label>
                                            <label class="pull-left" style="color:#6c9056" ng-if="audit1.action == 'D'">Data Deleted on {{audit1.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</label>
                                        </div>
                                        <div class="col-md-6 override_margin">
                                            <label class="pull-right" style="color:#17875e" ng-if="audit1.action != 'D'">Edited by {{audit1.updatedUser}}</label>
                                            <label class="pull-right" style="color:#6c9056" ng-if="audit1.action == 'D'">Deleted by {{audit1.updatedUser}}</label>

                                        </div>

                                        <table class="table override_margin sell-group-decor10">
                                            <thead class="chips-header" ng-class="{'Edit' : audit1.action != 'D','Delete':audit1.action=='D'}">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Batch</th>
                                                    <th>Expiry</th>
                                                    <th ng-show="salesReturn.taxRefNo != 1">VAT (%)</th>
                                                    <th ng-show="salesReturn.taxRefNo == 1 && isComposite == false">GST (%)</th>
                                                    <th>Discount</th>
                                                    <th ng-show="enableSelling">Selling</th>
                                                    <th>MRP</th>
                                                    <th class="text-center">Return Quantity</th>
                                                    <th>Return Price</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr class="text-left">
                                                    <td class="txtUpper">{{audit1.productStock.product.name}}</td>
                                                    <td>{{audit1.productStock.batchNo}}</td>
                                                    <td>{{audit1.productStock.expireDate | date:'MM/yy'}}</td>
                                                    <td ng-show="salesReturn.taxRefNo != 1">{{audit1.productStock.vat}}</td>
                                                    <td ng-show="salesReturn.taxRefNo == 1 && isComposite == false">{{audit1.productStock.gstTotal}}</td>
                                                    <td>{{audit1.discount}}</td>
                                                    <td>{{audit1.mrpSellingPrice>0?audit1.mrpSellingPrice:audit1.productStock.sellingPrice | number:2}}</td>
                                                    <td ng-show="enableSelling">{{audit1.mrp>0?audit1.mrp:audit1.productStock.mrp | number:2}}</td>
                                                    <td class="text-center">{{audit1.quantity}}</td>



                                                    <td ng-if="!audit1.mrpSellingPrice>0 || !audit1.sales.discount>0">
                                                        {{audit1.mrpSellingPrice>0?((audit1.mrpSellingPrice - audit1.discountAmtPerQty)*audit1.quantity):((audit1.total - audit1.discountAmtPerQty)-(audit1.total*(salesReturn.sales.discount/100))) | round | number:2}}
                                                    </td>
                                                    <td ng-if="audit1.mrpSellingPrice>0 && audit1.sales.discount>0">
                                                        {{(((audit1.mrpSellingPrice - audit1.discountAmtPerQty)*audit1.quantity)-(((audit1.mrpSellingPrice - audit1.discountAmtPerQty)*audit1.quantity)*(salesReturn.sales.discount/100))) | round | number:2}}
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">@{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }</div>

            </div>
        </div>
    </div>

</div>

<style>
    .isDeleted {
        background-color: #f9caed;
    }
</style>

<style>
    .Insert {
        background-color: #a3dff1 !important;
    }

    .Edit {
        background-color: #B2E9DE !important;
    }

    .Delete {
        background-color: #efa74f !important;
    }
</style>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appscriptlist.js"></script>*@

    <script asp-append-version="true" src="~/appscript/sales/salesReturnListAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesreturnlistctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/printingHelper.js"></script>

    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
<script asp-append-version="true" src="~/appscript/product/productservice.js"></script>

}