
@{
    ViewBag.Title = "NewSell List";
    ViewBag.Menu = "NewSell Return List";
    Layout = "_LayoutSale";
}

@*<!DOCTYPE html>*@

@*<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Sale Return</title>
        <link asp-append-version="true" href="css/bootstrap.css" type="text/css" rel="stylesheet">
        <link asp-append-version="true" href="css/custom.css" type="text/css" rel="stylesheet">
        <script asp-append-version="true" src="js/jquery.js"></script>
        <link asp-append-version="true" rel="stylesheet" type="text/css" href="css/slick.css">
    </head>*@

@*<body ng-cloak>*@


    <div class="panelBorder" ng-app="hcue" ng-controller="newsalesReturnListCtrl">
        <!-- header start -->
        <!-- header end -->
        <section class="header-form clearfix">
            <div class="form-dada fL mr-10">
                <label>Customer Name</label>
                <input type="text" ng-model="name"
                       typeahead-focus-on-select="false"
                       typeahead-min-length="1"
                       placeholder="Customer name"
                       id="customerName" name="customerName"
                       title="Customer name"
                       typeahead-on-select="onPatientSelect($item,$event)"
                       ng-enter="onPatientSelect($item,$event)"
                       ng-keyup="keyEnter($event,'SalesRtnSrchbtn')"
                       typeahead-editable="false"
                       ng-change="changeCustomerName()"
                       uib-typeahead="ps as ps.name for ps in getPatient($viewValue)"
                       class=""
                       typeahead-template-url="itemTpls1.html" />
                <script type="text/ng-template" id="itemTpls1.html">

                    <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">
                        <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})  {{match.model.address}}"></span>
                    </a>
                    <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">
                        <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                    </a>

                    <div style="color:#fbaf67"></div>

                </script>
            </div>
            <div class="form-dada fL mr-10">
                <label>Return Number</label>
                <input type="text" name="" id="srchRtnno" ng-enter="salesReturnSearch()" ng-model="search.returnNo" value="" class="width-115" placeholder="Return No">
            </div>
            <div class="form-dada fL mr-10">
                <label>Invoice Number</label>
                <input type="text" name="" ng-model="search.sales.invoiceNo" ng-enter="salesReturnSearch()" value="" class="width-150" placeholder="Invoice No">
            </div>
            <div class="form-dada fL mr-10">
                <label>Email ID</label>
                <input type="text" name="" value="" class="width-150" ng-model="search.sales.email" ng-enter="salesReturnSearch()" placeholder="Email ID">
            </div>
            <button type="submit" id="SalesRtnSrchbtn" class="green-button mr-10" ng-click="salesReturnSearch()">SEARCH</button>
            <button type="submit" class="darkgray-button " ng-click="clearSearch()">RESET</button>
        </section>
        @*   salesReturn in list*@
        <div class="container-fluid sell-sub-pages sell-return" ng-show="list.length > 0">
            <div class="row">
                <div class="col-md-3 pr-0">
                    <h6>Last 10 Sales Details Displayed</h6>
                    <div class="left-side-section">
                        <div class="table-header-section">
                            <table>
                                <thead>
                                    <tr>
                                        <th width="28%">Bill No</th>
                                        <th width="35%">Cancelled Date</th>
                                        <th width="37%">Customer Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="listdata" class="table-body-section">
                            <table>
                                <tbody id="productbatchList" popup-focus="focusInputsalereturnlist" tabindex="0" ng-keydown="keyPressGDmain($event)">
                                    <tr ng-repeat="salesReturn in list" ng-class="{active: ($index+1) === isSelectedItemMain}" ng-click="buildselectedSales(salesReturn,$index)">
                                        <td width="28%"> <span ng-bind="salesReturn.sales.invoiceSeries"></span> <span ng-bind="salesReturn.sales.invoiceNo"></span></td>
                                        <td width="35%"><span ng-bind="salesReturn.returnDate | date:'dd/MM/yyyy'"></span></td>
                                        <td width="37%" class="right-arrow"><span ng-bind="salesReturn.sales.name"></span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">@{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }</div>
                </div>
                <div class="col-md-9">
                    <div class="right-side-section">
                        <div class="right-side-details">
                            <table>
                                <thead>
                                    <tr>
                                        <th width="25%">Customer Name</th>
                                        <th width="15%">Mobile</th>
                                        <th width="15%">Cancel Number</th>
                                        <th width="20%">Email</th>
                                        <th width="25%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="25%">{{selectedSale.sales.name}}</td>
                                        <td width="25%">{{selectedSale.sales.mobile}}</td>
                                        <td width="15%">{{selectedSale.returnNo}}</td>
                                        <td width="20%">{{salesReturn.sales.email == undefined || salesReturn.sales.email == '' ? '-' : salesReturn.sales.email}}</td>
                                        <td width="25%"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="right-table-header" ng-show="selectedSale.salesReturnItem.length > 0">
                            <table>
                                <thead>
                                    <tr>
                                        <th width="6%" class="text-center">S. No</th>
                                        <th width="20%">Product</th>
                                        <th width="10%">Batch No</th>
                                        <th width="12%" class="text-center">Expiry Date</th>
                                        <th width="6%" class="text-center">VAT%</th>
                                        <th width="12%" class="text-center">Product Discount</th>
                                        <th width="16%" class="text-center">Return Quantity</th>
                                        <th width="6%" class="text-center">MRP</th>
                                        <th width="12%" class="text-right">Price</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="right-table-body" ng-show="selectedSale.salesReturnItem.length > 0">
                            <table>
                                <thead>
                                <tbody>
                                    <tr ng-repeat="salesReturnItem in selectedSale.salesReturnItem">

                                        <td width="6%" class="text-center">{{$index + 1}}</td>
                                        <td width="20%">{{salesReturnItem.productStock.name}}</td>
                                        <td width="10%">{{salesReturnItem.productStock.batchNo}}</td>
                                        <td width="12%" class="text-center">{{salesReturnItem.productStock.expireDate | date:'dd/MM/yyyy'}}</td>
                                        <td width="6%" class="text-center">{{salesReturnItem.productStock.vat}}</td>
                                        <td width="12%" class="text-center">{{salesReturnItem.productStock.product.discount}}</td>
                                        <td width="16%" class="text-center">{{salesReturnItem.quantity}}</td>
                                        <td width="6%" class="text-center">{{salesReturnItem.mrpSellingPrice>0?salesReturnItem.mrpSellingPrice:salesReturnItem.productStock.sellingPrice | number:2}}</td>

                                        <td width="12%" class="text-right" ng-if="!salesReturnItem.mrpSellingPrice>0 || !salesReturn.sales.discount>0">
                                            {{salesReturnItem.mrpSellingPrice>0?((salesReturnItem.mrpSellingPrice - salesReturnItem.discountAmtPerQty)*salesReturnItem.quantity):((salesReturnItem.total - salesReturnItem.discountAmtPerQty)-(salesReturnItem.total*(salesReturn.sales.discount/100))) | round | number:2}}
                                        </td>
                                        <td width="12%" class="text-right" ng-if="salesReturnItem.mrpSellingPrice>0 && salesReturn.sales.discount>0">
                                            {{(((salesReturnItem.mrpSellingPrice - salesReturnItem.discountAmtPerQty)*salesReturnItem.quantity)-(((salesReturnItem.mrpSellingPrice - salesReturnItem.discountAmtPerQty)*salesReturnItem.quantity)*(salesReturn.sales.discount/100))) | round | number:2}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @* empty state *@
                        <div class="text-center mar-top-100" style="" ng-show="selectedSale.salesReturnItem.length == 0">
                            <img src="/assets/images/nodata.png">
                            <div class="msg">
                                <p class="goback-text">No product found</p>
                                <p class="goback-text-line2">Try using a different criteria to view better results.</p>

                            </div>
                        </div>
                        @* END EMPTY STATE *@
                    </div>
                    <div class="right-side-footer clearfix">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-right">Discount</th>
                                    <th class="text-right">Total amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td class="text-right"><span ng-bind="selectedSale.discount"></span></td>
                                    <td class="text-right">{{amt}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <!--              <button type="submit" class="line-button mr-10 mt-15 fR">CANCEL BILL [Ctrl+c]</button>
                        <button type="submit" class="line-button mr-10 mt-15 fR">RETURN [Alt+R]</button>
                        <button type="submit" class="line-button mr-10 mt-15 fR">EDIT [Alt+E]</button> -->
                        @*<button type="submit" class="line-button mr-10 mt-15 fR" ng-click="printBill(selectedSale)">PRINT [Alt+P]</button>*@
                    </div>

                </div>
            </div>
        </div>

        <div class="right-table-body" ng-show="list.length == 0">
            <div class="text-center mar-top-25" style="">
                <img src="/assets/images/nodata.png">
                <div class="msg">
                    <p class="goback-text">No search results found</p>
                    <p class="goback-text-line2">Try using a different criteria to view better results.</p>

                </div>
            </div>
        </div>

    </div>


@*</body>*@
@section scripts
{
    <link asp-append-version="true" href="~/assets/css/common.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/custom.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/sell.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/slick.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderappscriptlist.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesReturnListAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/newsalesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerServcieforsales.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/newsalesreturnlistctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}
