@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Purchase Report";
    ViewBag.Menu = "Reports";
    Layout = "_LayoutWOTSideBar";
}

<div ng-app="hcue" ng-controller="BranchWisePurchaseReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <div class="row" ng-show="gridLevelName == 'grid'">
                <h5 class="pull-left sales-head-title">Purchase Report</h5>

                <div class="margin-top-2">
                    @if (User.HasPermission(UserAccess.Admin) && !ViewBag.Config.AppConfig.OfflineMode)
                    {
                    <div class="col-sm-3">
                        <div class='form-group margin-left-15'>
                            @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                        </div>
                    </div>
                    }

                    <div class="pull-left form-group">
                        <button title="Today" id="Today" ng-click="filter('TODAY')" class="btn btn-style-report">Today</button>
                        <button title="Week" id="Week" ng-click="filter('Week')" class="btn btn-style-report">Week</button>
                        <button title="Month" id="Month" ng-click="filter('Month')" class="btn btn-style-report">Month</button>
                    </div>

                    <div class='col-sm-2 override_margin margin-left-2'>
                        <div class=''>
                            <div class='form-group'>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="fromDate" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="checkFromDate()" ng-keyup="checkFromDate()" ng-keypress="checkDateChar($event)" close-text="Close" alt-input-formats="altInputFormats" my-date maxlength="10" />
                                    <span class="input-group-btn wrapper-date">
                                        <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <span class="error" ng-show="!validFromDate">Invalid Date</span>
                            <span class="error" style="margin-left:0px;" ng-show="validFromDate && inValidMinFromDate">From Date Should be greater than or equal to 01/07/2017</span>
                        </div>
                    </div>
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <div class="input-group">
                                <input type="text" class="form-control" id="toDate" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" ng-change="checkToDate()" ng-keyup="checkToDate()" ng-keypress="checkDateChar($event)" my-date maxlength="10" />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <span class="error" style="margin-left:0px;" ng-show="validToDate && !validDate">To Date must be greater than From Date</span>
                        <span class="error" ng-show="!validToDate">Invalid Date</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <h5 class="pull-left sales-head-title" ng-show="gridLevelName != 'grid'">{{treeViewHeader}}{{fileTitle}}</h5>
                <div ng-show="gridLevelName == 'grid'">
                    <div class='col-sm-2 override_margin margin-left-10'>
                        <div class='form-group'>
                            <label>Select Anyone</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="selectanyone" name="selectanyone" title="Select Anyone" placeholder="Select anyone" ng-model="search.select" class="form-control" ng-change="resetFilters()">
                                    <option value="">Select Anyone</option>
                                    <option value="billNo">GRN No</option>
                                    <option value="vendorName">Vendor Name</option>
                                    <option value="gstTotal">GST %</option>
                                    @*<option value="profitOnCost">Profit On Cost %</option>*@
                                    <option value="profitOnMrp">Margin %</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-show="search.select=='gstTotal' || search.select=='profitOnCost' || search.select=='profitOnMrp'">
                        <div class='form-group'>
                            <label>Select Condition</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="selectcondition" name="selectcondition" title="Select Anyone" placeholder="Select anyone" ng-model="search.select2" class="form-control">
                                    <option value="equal">=</option>
                                    <option value="greater">></option>
                                    <option value="less"><</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-show="search.select=='billNo'">
                        <div class='form-group'>
                            <label>Select Invoice Type</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="InvoiceType" name="InvoiceType" title="Invoice Type" placeholder="Select anyone" ng-model="InvoiceSeriesType" class="form-control" ng-change="changeSeriesType()">
                                    <option value="">All</option>
                                    <option value="Default">Default</option>
                                    <option value="Custom">Custom</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-show="search.select=='billNo' && InvoiceSeriesType=='Custom'">
                        <div class='form-group'>
                            <label>Select Custom Series</label>
                            <div class="input-group col-md-12 override_margin">
                                <select ng-model="search.select1" class="form-control" id="ddlSelect">
                                    <option ng-repeat="item in InvoiceSeriesItems" value="{{item.customSeriesName}}">{{item.customSeriesName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-show="search.select=='billNo'">
                        <div class='form-group'>
                            <label>Enter Values</label>
                            <input title="Values" class="form-control"
                                   id="Values" name="Values" maxlength="10" type="text" placeholder="Enter Value" ng-model="search.values" />
                        </div>
                    </div>

                    <div class='col-md-2 override_margin txtUpper' ng-show="search.select=='vendorName'">
                        <div class='form-group'>
                            <label>Vendor Name</label>
                            <input type="text" ng-model="search.values"
                                   typeahead-focus-on-select="false"
                                   typeahead-min-length="1"
                                   placeholder="Vendor name"
                                   id="vendorName"
                                   name="vendorName"
                                   title="Vendor name"
                                   uib-typeahead="ps as ps.name for ps in getVendors($viewValue)"
                                   class="form-control form-control-small"
                                   typeahead-template-url="itemTpls.html" />

                            <script type="text/ng-template" id="itemTpls.html">

                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile!='0'">
                                    <span ng-bind-template="{{match.model.name}}  ({{match.model.mobile}})"></span>
                                </a>
                                <a tabindex="-1" style="text-decoration:none" ng-if="match.model.mobile=='0'">
                                    <span ng-bind-template="{{match.model.name}}  {{match.model.address}}"></span>
                                </a>

                                <div style="color:#fbaf67"></div>

                            </script>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin' ng-show="search.select=='gstTotal' || search.select=='profitOnCost' || search.select=='profitOnMrp'">
                        <div class='form-group'>
                            <label>Enter Values</label>
                            <input title="Values" class="form-control"
                                   id="Values" name="Values" maxlength="10" valid-number type="text" placeholder="Enter Value" ng-model="search.values" />
                        </div>
                    </div>
                </div>
                <div class="{{myclass}}">
                    <div class="col-sm-1 pull-right text-right override_margin">
                        <button ng-disabled="gridLevelName=='grid' && data.length==0 || gridLevelName=='grid1' && data1.length==0 || gridLevelName=='grid2' && data2.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                        <button ng-disabled="gridLevelName=='grid' && data.length==0 || gridLevelName=='grid1' && data1.length==0 || gridLevelName=='grid2' && data2.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                    </div>
                    <div class='col-sm-2 pull-right override_margin width-140' ng-show="gridLevelName == 'grid'">
                        <button title="Search" class="btn btn-style" 
                                ng-disabled="!validToDate || !validFromDate || !validDate || inValidMinFromDate || from == '' || to == '' || from == undefined || from == null || to == undefined || to == null"
                                ng-click="purchaseBookReport()">Search</button>
                        <button title="Cancel" style="margin-left:3px;" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                    </div>
                    <div class='col-sm-1 pull-right override_margin' ng-show="gridLevelName != 'grid'">
                        <button title="Back" style="margin-left:3px;" class="btn btn-style btn-cancel" ng-click="closeDetailReport()">Back</button>
                    </div>
                </div>
            </div>
        </div>        

        <div class="panel panel-default override_margin">
            <div class="panel-body">
                <script type="x/kendo-template" id="page-template">
                    <div class="page-template">
                        <div class="header">
                            <label id="instanceName"> Company Name </label>
                        </div>
                        <div class="footer">
                            <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                        </div>
                    </div>
                </script>
                <div class="row report-tables">
                    <div id="grid" ng-show="gridLevelName == 'grid'"></div>
                    <div id="grid1" ng-show="gridLevelName == 'grid1'"></div>
                    <div id="grid2" ng-show="gridLevelName == 'grid2'"></div>

                    <div ng-show="gridLevelName == 'grid2'">
                        <h5 class="pull-left sales-head-title">Returns </h5>
                        <br />
                        <div id="grid3" class="margin-top-10"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .margin-top-25 {
        margin-top: 25px;
    }
    .margin-top-10 {
        margin-top: 10px;
    }
    .margin-left-10 {
        margin-left: 10px !important;
    }
    .margin-top-2 {
        margin-top: 2px;
    }
    .btn-style-report {
        height: 35px;
    }
    .margin-left-2 {
        margin-left: 2px !important;
    }
    .margin-left-15 {
        margin-left: 15px !important;
    }
    .form-group {
        margin-bottom: 10px !important;
    }
    .width-140 {
        width: 140px !important;
    }
    #grid2 .k-grid-content {
        height: 205px;
    }
    #grid3 .k-grid-content {
        height: 147px;
    }
    #grid1 .k-grid-content {
        height: 467px;
    }
    #grid .k-grid-content {
        height: 385px;
    }
</style>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>   
    
    <script asp-append-version="true" src="~/assets/js/bootstrap-select.js"></script>
    <link asp-append-version="true" href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/reports.css" rel="stylesheet" /> 

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/AppScript/appMultiLevelReportScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

    <script asp-append-version="true" src="~/appscript/reports/buy/BranchWisePurchaseReportCtrl.js"></script>
    <script asp-append-version="true" src="~/AppScript/patient/patientService.js"></script>
    <script asp-append-version="true" src="~/AppScript/Reports/buy/buyReportService.js"></script>
    <script asp-append-version="true" src="~/AppScript/VendorPurchase/vendorPurchaseService.js"></script>
    <script asp-append-version="true" src="~/AppScript/VendorOrder/vendorOrderService.js"></script>
    <script asp-append-version="true" src="~/assets/js/multiselect.js"></script>

    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
}


