
@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount


@{
    ViewBag.Title = "Supplier Dc Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="buyReportDCCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <div class="row">
                <div class="pull-left">
                    <input type="button" id="Today" ng-click="filter('Today')" class="btn btn-style" value="Today" />
                    <input type="button" id="Week" ng-click="filter('Week')" class="btn btn-style" value="Week" />
                    <input type="button" id="Month" ng-click="filter('Month')" class="btn btn-style" value="Month" />
                </div>

                @if (User.HasPermission(UserAccess.Admin))
                {

                    <div class="col-sm-2">
                        @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                    </div>
                }
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-dat e="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>

                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <button title="Search" class="btn btn-style" ng-click="buyReport()">Search</button>
                </div>
            </div>
            <div class="row">
                <div class="pull-right">
                    <button type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data" ng-hide="check > 60"
                            csv-header="['Dc Date','DcNo','Supplier','Branch','Product','No. of Strips','Free Strips','Purchase Rate (excluding vat/gst)','Selling Price(MRP)','P.Discount %','VAT/GST %','CST/IGST %','VAT/GST Amount','Final Value','Status']"
                            csv-column-order="order"
                            filename="{{fileNameNew}}.csv" onclick="setFileName()">

                        <img src="~/assets/images/csv.png" />

                    </button>
                    <button ng-disabled="data.length==0" ng-hide="check > 60" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>

                </div>
                <br />
                <div style="text-align: center;"><span class="reportHeader"><b>PURCHASE DC DETAILS</b></span></div>

            </div>
        </div>

    </div>

    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>
            </div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    <script asp-append-version="true" src="~/appscript/appNewReportScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

    <script asp-append-version="true" src="~/appscript/reports/buy/buyreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/buy/buyReportDCCtrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />


    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
    <style>
        .csv {
            height: 32px;
            width: 45px;
            display: inline-block;
            overflow: hidden;
            text-indent: -32px;
            position: relative;
        }
    </style>
}
