
@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount


@{
    ViewBag.Title = "Purchase Modified Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="buyModifiedReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <div class='row override_margin'>

                @if (User.HasPermission(UserAccess.Admin))
                {
                    <div class="col-sm-2">
                        <label>Select Branch Type</label>
                        @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                    </div>
                }

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select Anyone</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="form-control" required>
                                @*<option value="">Please Select</option>*@
                                <option value="createddate">GRN Date</option>
                                <option value="invoiceNo">Invoice No</option>
                                <option value="batchNo">Batch No</option>
                                <option value="grnNo">GRN No</option>
                                <option value="vendorName">Vendor Name</option>
                                <option value="billDate">Invoice Date</option>
                                <option value="product">Product Name</option>
                                <option value="expiry">Expiry Date</option>
                                @*<option value="email">Email</option>
                                    <option value="mobile">Mobile</option>*@
                                <option value="modifiedDate">Date</option>
                                <option value="modifiedUser">Modified By</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin' ng-if="salesCondition==true">
                    <div class='form-group'>
                        <label>Select condition</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select1" class="form-control" required>
                                <option value="">Please Select</option>
                                <option value="equal">=</option>
                                <option value="greater">></option>
                                <option value="less"><</option>
                            </select>
                        </div>
                    </div>
                </div>



                <div class="col-md-2 override_margin" ng-if="dateCondition==true">
                    <div class='form-group'>
                        <label>Select From Date</label>
                        <div class="input-group col-md-12 override_margin">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Select Date" ng-model="search.values" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 override_margin" ng-if="dateCondition==true">
                    <div class='form-group'>
                        <label>Select To Date</label>
                        <div class="input-group col-md-12 override_margin">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Select Date" ng-model="search.selectValue" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin' ng-if="dateCondition==false && productCondition==false">
                    <div class='form-group'>
                        <label>Enter Values</label>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Values" class="form-control required email" id="Values" name="Values" size="30" type="text" placeholder="Enter Value" ng-enter="buyModifiedReport()" ng-model="search.values" />

                        </div>
                    </div>
                </div>

                <div class='col-md-2 override_margin' ng-if="productCondition==true">
                    <div class='form-group'>
                        <label>Enter Product Name</label>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Product Name" type="text" placeholder="Product" id="drugName" name="drugName" class="search-query form-control" ng-enter="buyModifiedReport()" ng-model="search.drugName" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)">
                        </div>
                    </div>
                </div>


                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>

                        <label>&nbsp;</label>
                        <div class="input-group col-md-12 override_margin">
                            <button title="Search" class="btn btn-style" ng-click="buyModifiedReport()">Search</button>
                            <button title="Cancel" class="btn btn-style btn-cancel" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            @*<div class="report-tables">
                    <div id="grid"></div>
                </div>*@
            <div class="panel panel-default rptMargin">
                @*ng-hide="purchaseModifiedList==true"*@
                <div class="panel-body rptMargin">
                    <div class="col-sm-10">
                        <div class="rptHeader">PURCHASE MODIFIED/DELETED REPORT</div>
                    </div>
                   
                    <div class="pull-right" style="padding:7px;">
                        <button type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data"ng-hide="check > 60"
                                csv-header="['Branch', 'Date', 'Time', 'By', 'Status', 'GRN Date', 'Invoice Date', 'Invoice No', 'GRN No', 'Vendor Name', 'Product Name', 'Batch No', 'VAT/GST %', 'CST %', 'Expiry Date', 'Units/Strip', 'No.Strips', 'Free Strips', 'Price/Strip', 'MRP/Strip', 'Total Units', 'Price/Unit', 'MRP/Unit']"
                                csv-column-order="order"
                                filename="{{fileNameNew}}.csv" onclick="setFileName()">

                            <img src="~/assets/images/csv.png" />

                        </button>
                        <button ng-disabled="data.length==0"ng-hide="check > 60" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                        <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                       
                    </div>
                </div>
                <div class="report-tables">
                    <div id="grid" class='rptKendo'></div>
                </div>
            </div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .k-grid-header .k-header {
        overflow: visible;
        white-space: normal;
    }
    .csv {        
        height: 32px;
        width: 45px;        
        display: inline-block;
        overflow: hidden;
        text-indent: -32px;
        position: relative;                 
    }
</style>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<script asp-append-version="true" src="~/appscript/appNewReportScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

    <script asp-append-version="true" src="~/appscript/reports/buy/buyreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/buy/buyModifiedReportCtrl.js"></script>

    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />


    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />


}
