@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

@{
    ViewBag.Title = "Purchase Wise Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="buyProductwiseReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin">
        <div class="panel-body">

            <form name="purchasewise">


                <div class="col-lg-12" style="height:60px;">
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <label>Select Anyone</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" autofocus ng-model="search.select" ng-change="changefilters()" class="form-control" required>
                                    <option value="" disabled>Please Select</option>
                                    <option value="Productname">Product Name</option>
                                    <option value="Vendorname">Vendor Name</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 input-group sell-group-decor txtCaps">

                        <input style="margin-top:23px;" ng-if="nameCondition==true" type="text" ng-model="Option.Product"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Enter Productname"
                               id="drugName" required
                               name="drugName"
                               autofocus
                               title="Product Name"
                               typeahead-on-select="onProductSelect($item)"
                               typeahead-editable="false"
                               uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                               class="form-control form-control-small " />



                        <input style="margin-top:23px;" ng-if="nameCondition==false" type="text" ng-model="Option.Vendor"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Enter Vendorname"
                               id="customerName" required
                               name="customerName"
                               title="Customer name"
                               typeahead-on-select="onVendorSelect($item)"
                               typeahead-editable="false"
                               uib-typeahead="option as option.name for option in vendorList | filter:$viewValue | limitTo:8"
                               class="form-control form-control-small" />

                    </div>

                    @if (User.HasPermission(UserAccess.Admin))
                    {
                        <div class="col-sm-2" style="margin-top:27px;">
                            @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                        </div>
                    }
                    <div class='col-sm-1'>
                        <div class='form-group'>
                            <label></label>
                            <div class="input-group col-md-13 override_margin" style="margin-top:2px !important;">
                                <select class="form-control" name="" title="GRN/Invoice Date" placeholder="Select anyone" ng-model="IsInvoiceDate">
                                    <option value="false">GRNDate</option>
                                    <option value="true">Invoice Date</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group" style="margin-top:27px;">
                                <input type="text" class="form-control" required uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group" style="margin-top:27px;">
                                <input type="text" class="form-control" required uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-dat e="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    @*<div class="pull-left">
                            <label class="checkbox-inline" style="margin-top:27px;">
                                <span class="span-isInvoiceWise">Invoice Date &nbsp;&nbsp;<input class="check-isInvoiceWise" type="checkbox" ng-model="IsInvoiceDate" name=""></span>
                            </label>
                        </div>*@
                    <div class="pull-left">
                        <button style="margin-top:27px;" title="Search" ng-disabled="purchasewise.$invalid" class="btn btn-style" ng-click="buyReport()">Search</button>
                    </div>
                    <div class="pull-left">
                        <button title="Cancel" style="margin-left:3px;margin-top:27px;" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                    </div>
                </div>
            </form>
            <br />
            <div class="col-lg-12">
                <div style="margin-left:35%;">
                    <span class="reportHeader" ng-if="nameCondition==true"><b>PURCHASE PRODUCTWISE DETAILS</b></span>
                    <span class="reportHeader" ng-if="nameCondition==false"><b>PURCHASE VENDORWISE DETAILS</b></span>
                </div>
                <div class="pull-right">
                    <button type="submit" title="Export to CSV1" ng-disabled="data.length==0" ng-csv="data" ng-hide="nameCondition==false || check >60"
                            csv-header="['Branch', 'Product', 'Invoice Date', 'Invoice No', 'Supplier', 'Qty', 'Free Qty', 'Purchase Rate (excluding vat)', 'Selling Price(MRP)', 'P.Discount %', 'Sch.Disc %','Markup %', 'VAT/GST %', 'CST %', 'Free Qty Tax Amount', 'Total VAT/GST Amount', 'Final Value']"
                            csv-column-order="order"
                            filename="{{fileNameNewProd}}.csv" onclick="setFileNameProd()">

                        <img src="~/assets/images/csv.png" />

                    </button>
                    <button type="submit" title="Export to CSV2" ng-disabled="data.length==0" ng-csv="data" ng-hide="nameCondition==true || check >60"
                            csv-header="['Branch', 'Supplier', 'Product', 'Invoice Date', 'Invoice No', 'Qty', 'Free Qty', 'Purchase Rate (excluding vat/gst)', 'Selling Price(MRP)', 'P.Discount', 'VAT %', 'CST %', 'VAT/GST Amount', 'Final Value']"
                            csv-column-order="order"
                            filename="{{fileNameNewVendor}}.csv" onclick="setFileNameVendor()">

                        <img src="~/assets/images/csv.png" />

                    </button>
                    <button ng-disabled="data.length==0" class="btn btn-style" ng-hide="check > 60" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF">
                        <i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i>
                    </button>

                </div>
            </div>
            <br />

        </div>

    </div>

    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>
            </div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>



        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    <script asp-append-version="true" src="~/appscript/appNewReportScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

    <script asp-append-version="true" src="~/appscript/reports/buy/buyreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/buy/buyProductWiseReport.js"></script>
    <script asp-append-version="true" src="~/appScript/vendor/vendorService.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productstockservice.js"></script>
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />


    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
    <style>
        .csv {
            height: 32px;
            width: 45px;
            display: inline-block;
            overflow: hidden;
            text-indent: -32px;
            position: relative;
        }

        .form-control {
            padding: 0px;
        }
    </style>
}