@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Purchase Return and Expiry Status Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="buyReturnStatusCtrl" ng-init="init()" ng-cloak>

    <div class="panel panel-default panelBorder override_margin">
        <div class="panel-body pnlmargin">
            <div class='row override_margin'>
                @if (User.HasPermission(UserAccess.Admin))
                {

                    <div class="col-sm-2">
                        @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                    </div>
                }
                <div class='col-sm-2 override_margin'>

                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <select chosen
                                    title="Vendor Name"
                                    option="vendorList"
                                    data-placeholder="Select Vendor Name"
                                    ng-model="search.vendorPurchase.vendor"
                                    ng-options="option.name for option in vendorList track by option.id"
                                    class="search-query form-control"
                                    autofocus>
                                <option value=""></option>
                            </select>
                            @*<span class="input-group-btn">
                                    <button title="Search" class="btn" type="button" ng-click="vendorPurchaseReturnSearch()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>*@
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>

                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <select id="paymentStatus" name="paymentStatus" title="Status" ng-model="search.paymentStatus"
                                    class="form-control">
                                <option value="All">All</option>
                                <option value="None">None</option>
                                <option value="Received">Received</option>
                                <option value="Pending">Pending</option>
                                <option value="Partial ">Partial</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Invoice Number" type="text" placeholder="Invoice No" class="search-query form-control" ng-enter="vendorPurchaseReturnSearch()" ng-model="search.invoiceNo">

                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>

                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin txtUpper">
                            <input title="Product Name" type="text" placeholder="Product" id="drugName" name="drugName" class="search-query form-control"
                                   ng-enter="vendorPurchaseReturnSearch()" ng-model="search.drugName" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)">
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <input title="GR.No" type="text" id="GR.No" name="GR.No" placeholder="GR.No" class="search-query form-control" ng-enter="vendorPurchaseReturnSearch()" ng-model="search.vendorPurchase.GoodsRcvNo">

                        </div>
                    </div>
                </div>

                @*<div class='col-sm-2 override_margin'>

                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <input title="Return.No" type="text" id="Return.No" name="Return.No" placeholder="Return.No" class="search-query form-control" ng-enter="vendorPurchaseReturnSearch()" ng-model="search.vendorPurchase.returnNo">

                            </div>
                        </div>
                    </div>*@

            </div>

            @*<div class='row override_margin'>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Batch Number" type="text" id="Batch.No" name="BatchNumber" placeholder="Batch Number" class="search-query form-control"
                                   ng-enter="vendorPurchaseReturnSearch()" ng-model="search.BatchNo">
                        </div>
                    </div>
                </div>*@

            @*<div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Mobile Number" type="text" id="Mobile.No" name="MobileNumber" placeholder="Mobile Number" class="search-query form-control"
                                   ng-enter="vendorPurchaseReturnSearch()" ng-model="search.vendorPurchase.vendor.Mobile">
                        </div>
                    </div>
                </div>*@

            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <div class="input-group col-md-12 override_margin">
                        <input title="Return.No" type="text" id="Return.No" name="Return.No" placeholder="Return.No"
                               class="search-query form-control" ng-enter="vendorPurchaseReturnSearch()" ng-model="search.vendorPurchase.returnNo">
                    </div>
                </div>
            </div>
            <div class='col-sm-2'>
                <div class='form-group'>
                    <div class="input-group col-md-12 override_margin">
                        <select class="form-control" name="" title="GRN/Invoice Date" placeholder="Select anyone" ng-model="IsReturnDate">
                            <option value="" selected ng-disabled="IsReturnDate==undefined || 'Select Date'">Select Date</option>
                            <option value="true">Return Date</option>
                            @*<option value="true">GRN Date</option>*@
                        </select>
                    </div>
                </div>
            </div>
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <div class="input-group col-md-12 override_margin">
                        <input type="text" title="Returned From Date" id="retFromDate" name="retFromDate" class="form-control"
                               uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="fromDate" is-open="popupfromdate.opened"
                               max-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                               close-text="Close"
                               alt-input-formats="altInputFormats" my-date />
                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="openfromdate()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <div class="input-group col-md-12 override_margin">
                        <input type="text" title="Returned To Date" id="retToDate" name="retToDate" class="form-control"
                               uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="toDate" is-open="popuptoDate.opened"
                               max-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                               close-text="Close" alt-input-formats="altInputFormats" my-date />
                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="opentoDate()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>

                </div>
            </div>
            <div>
                <button title="Search" class="btn btn-style" ng-click="vendorPurchaseReturnSearch()">Search</button>
                <button title="Cancel" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
            </div>
            @*<div class='col-sm-2 override_margin'>

                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">sssssss

                            <input type="text" title="Purchase Date" id="purchaseDate" name="purchaseDate" class="form-control"
                                   uib-datepicker-popup="{{format}}" placeholder="Returned Date" ng-model="search.invoiceDate" is-open="popup1.opened"
                                   max-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>*@

        </div>
        <div align="center" class="row">
            <span class="reportHeader"><b>PURCHASE RETURN AND EXPIRY STATUS</b></span>
            <div class="pull-right">
                <button ng-disabled="list.length==0 || list=='[object Object]'" ng-hide="check>60"class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                <button ng-disabled="list.length==0 || list=='[object Object]'" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
              
            </div>
        </div>


    </div>


</div>
<div class="panel panel-default override_margin">
    <div class="panel-body">
        <script type="x/kendo-template" id="page-template">
            <div class="page-template">
                <div class="header">
                    <label id="instanceName"> Company Name </label>
                </div>
                <div class="footer">
                    <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                </div>
            </div>
        </script>
        <div class="report-tables">
            <div id="grid"></div>
        </div>
        <div ng-show="list.length >0 || list > '[object Object]'" class="row">
            <div class="col-lg-4 text-right" style="padding-right: 0px;">
                <span><b>Note: </b></span>
            </div>
            <div class="col-lg-6 text-left">
                <span>Download on Excel available only for data less than 2 months</span>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyListAppScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/vendororder/vendororderappscriptlist.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchasereturnlistctrl.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/buy/buyreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/buy/buyReturnStatusCtrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>


    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
    <style>
        .csv {
            height: 32px;
            width: 45px;
            display: inline-block;
            overflow: hidden;
            text-indent: -32px;
            position: relative;
        }
    </style>

}
