@{
    ViewBag.Title = "Vendor Order List";
    ViewBag.Menu = "Profile";
}

@*<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>*@

<div ng-app="hcue" ng-controller="vendorListCtrl" ng-init="init('@ViewBag.vendorId')" ng-cloak>
    <div class="panel panel-default override_margin">
        <p style="text-align:center;font-size:18px">

            <b>Vendor Purchas Details</b>
        </p>
        <a href="../Vendor/list"class="back-button" ng-href="../Vendor/list" >back</a>
           
       
    </div>
  
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>
            </div>
          
           
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

<script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
       
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/buy/buyreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/buy/vendorlistctrl.js"></script>

<link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/css/style.css" />
    <style>
        .panel.panel-default{
    position:relative;
}
.back-button {
    position: absolute;
    right: 15px;
    top: 50%;
    background-color: #28465a;
    color: #fff;
    border: none;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 14px;
    border-radius: 4px;
    margin-top: -12px;
    text-decoration:none;
    text-transform:capitalize;
}
    .back-button:hover{
        color:#fff;
    }
    </style>
<script>
        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });

        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });

</script>
}
