@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Non-moving Stock Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="nonMovingStockReportCtrl" ng-init="init()" ng-cloak>


    <div class="panel panel-default override_margin top-form">
        <div class="panel-body">
            <div class='row'>
               
                @if (User.HasPermission(UserAccess.Admin))
                {
                    <div class="col-sm-2 override_margin">
                        @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                    </div>
                }

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" id="fromDate" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" id="toDate" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-dat e="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <div class="input-group">
                            @*<span class="">
                                    <input type="text" class="form-control" placeholder="Enter Month" style="width:60px;" ng-model="stockMonth" valid-number />
                                </span>*@
                            <span class="">
                                <button title="Search" class="btn btn-small btn-style" type="button" ng-click="stockReport()">
                                    Search
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-3">
                        <input type="text" data-ng-model="searchname" data-ng-change="searchName(searchname)" placeholder="Search Product Name" class="form-control" style="width: 70%;" />
                    </div>*@
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="center-div">
                    <span class="reportHeader"><b>NON MOVING STOCK</b></span>
                    <span class="pull-right mb-5">
                        @*@if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                            { <spa>
                                <a title="Save" ng-click="SaveMovingStock()" ng-model="saveMoving" class="btn btn-style" style="padding: 9px 12px;" ng-show="isreturn==true">Bulk Return</a>
                            </span>
                            }*@

                        <button type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data" ng-hide="check > 60"
                                csv-header="['Product','Batch','Expiry','Last Sale Date','Purchase Invoice Date','Age','Vendor','Category','Schedule','Type','Qty','VAT/GST %','Cost Price','MRP']"
                                csv-column-order="order"
                                filename="{{fileNameNew}}.csv" onclick="setFileName()">

                            <img src="~/assets/images/csv.png" />

                        </button>
                        <button class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                        <button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        </div>


        <script type="text/ng-template" id="selectVendors">
            <div class="popup-overlay form-popup">
                <div class="middlealign">
                    <div>
                        <div class="popup-wrap reminder-popup alternate" style="max-width:70%">
                            <div class="popup-close" ng-click="close('No')" data-dismiss="modal"><i class="fa fa-times"></i></div>
                            <h3>Non Moving Product Vendor</h3>
                            <ng-form id="frmTempStock" name="frmTempStock">
                                <div class="reminder-popup-wrap">
                                    <div class="row popup-row">
                                        <div class="col-md-12 reminder-popup-left">
                                            <div class="col-md-12 input-group sell-group-decor txtCaps row tblHeader">
                                                <div class="col-md-4">Product Name</div>
                                                <div class="col-md-4">Vendor Name</div>
                                                <div class="col-md-2">Expiry</div>
                                                <div class="col-md-2">Stock</div>
                                            </div>

                                            <div class="col-md-12 input-group sell-group-decor txtCaps chip-style override_margin" ng-repeat="stock in productStocks">
                                                <div class="col-md-4" ng-bind="stock.name"></div>
                                                <div class="input-group col-sm-4 trimLR override_margin" ng-class="{ 'has-error' : frmTempStock.vendor.$invalid  && (frmTempStock.vendor.$dirty || submitted)}">
                                                    <select id="vendor"
                                                            name="vendor"
                                                            chosen
                                                            title="Vendor Name"
                                                            option="vendorList"
                                                            data-placeholder="Select Vendor Name"
                                                            data-ng-model="stock.vendorid"
                                                            ng-options="item.id as item.name for item in vendorList"
                                                            class="form-control"
                                                            required>
                                                        <option ng-selected="selectedItem == productStocks.selectedVendor.id" value="{{productStocks.selectedVendor.id}}">{{productStocks.selectedVendor.name}} ></option>
                                                    </select>
                                                    <p ng-show="frmTempStock.vendor.$error.required  && (frmTempStock.vendor.$dirty || submitted)" class="help-block">Select vendor name</p>
                                                </div>
                                                <div class="col-md-2" ng-bind="stock.expireDate | date:'MM/yy'"></div>
                                                <div class="col-md-2" ng-bind="stock.stock"></div>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="clearfix">
                                        <button class="btn primary-button pull-right" ng-disabled="frmTempStock.$invalid" ng-click="vendorUpdate()">save</button>
                                        <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                    </div>
                </div>
            </div>
        </script>

    </div>


    <div class="panel panel-default override_margin single-report" ng-hide="data.length == 0">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>
            </div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    <script asp-append-version="true" src="~/appScript/reports/nonmovingstock/nonMovingAppscript.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    @*<script asp-append-version="true" src="~/appscript/appnonmovingstockreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/nonmovingstock/nonmovingstockreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/nonmovingstock/nonmovingstockreportctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/nonmovingstock/selectNonMovingVendorsCtrl.js"></script>

    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Elixir Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


    </script>

}


