@{
    ViewBag.Title = "Bulk Return";
    ViewBag.Menu = "Bulk Return Index";
}

@await Html.PartialAsync("~/Views/VendorPurchase/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="vendorPurchaseBulkExpireReturnCtrl" ng-cloak>
    <ng-form id="vendorPurchaseReturnItems" name="vendorPurchaseReturnItems">
        <div ng-init="init()"></div>
        <div class="bulkReturn" ng-repeat="vendor in vendorPurchaseReturn1">
          
      
         <div class="panel panel-default panelBorder">

            <div class="panel-body purchase-history-body">
                
                <div class='row override_margin'>
                    <div class='col-sm-12'>
                        <label class="col-md-1 lblvendor">Vendor: </label>
                        <div class='col-md-9 lblvendor txtCaps' style="padding: 0px;padding-bottom: 10px;">                           
                                <strong>{{vendor.name}}</strong>                           
                        </div>
                        <div><label class="col-md-1 lblvendor pull-right">Expired Moving Stock </label></div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-sm-9" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top">
                    <div class='row'>
                        <div class="chip-style">
                            <div class='row' style="background-color:gray; padding:0px; font-weight:bold">
                                <div class="col-sm-12 override_margin">
                                    <div class='col-md-4'>
                                        <label class="col-md-12">Product Name</label>
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="pull-right">Quantity</label>
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="pull-right">Price</label>
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="pull-right">Return Qty</label>
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="pull-right">Return Price</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="vendorPurchaseReturnItem in vendor.vendorPurchaseReturnItem">
                            
                            <div class="chip-style">

                                <div class="col-md-12 override_margin">

                                    <div class="col-md-5 sell-group-decor9">
                                        <button title="+" class="chip-btn col-md-2 override_margin" id="{{$parent.$index}}chip-btn{{$index}}" data="{{$parent.$index}}chip-wrapper{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                        <span><strong class="col-md-10">{{vendorPurchaseReturnItem.productStock.product.name}}</strong> </span>
                                    </div>

                                    <div class="col-md-4 sell-group-decor9">
                                        <div class='col-md-7'>
                                            <span style="font-size:medium">{{vendorPurchaseReturnItem.productStock.stock}} <span style="font-size:small">/ {{(vendorPurchaseReturnItem.purchaseQuantity > 0) ? vendorPurchaseReturnItem.purchaseQuantity : (vendorPurchaseReturnItem.productStock.stock + vendorPurchaseReturnItem.returnedQuantity)}}</span></span>
                                            <span ng-if="vendorPurchaseReturnItem.returnedQuantity > 0" style="color:red">&nbsp; - &nbsp;({{vendorPurchaseReturnItem.returnedQuantity}}) </span>
                                        </div>
                                        <div class='col-md-5'>
                                            <i class="fa fa-inr" title="Price/Unit"></i> @*{{vendorPurchaseReturnItem.returnPurchasePrice}} /unit*@
                                            @*{{vendorPurchaseReturnItem.returnPurchasePrice * vendorPurchaseReturnItem.purchaseQuantity | number:2}}*@
                                            {{vendorPurchaseReturnItem.productStock.total | number:2}}
                                        </div>
                                    </div>
                                    <div class="col-md-3 sell-group-decor9">

                                        <div class='col-md-6 sell-group-decor9'>
                                            <input class="return-chip-qty" type="text" id="returnQuantity" placeholder="Return Qty" name="returnQuantity" ng-change="editItem(vendor)" ng-model="vendorPurchaseReturnItem.quantity" valid-number numbers-only />
                                            <span class="error" ng-if="vendorPurchaseReturnItem.quantity > vendorPurchaseReturnItem.productStock.stock" ng-init="disableSave(vendorPurchaseReturnItem)" ng-message="required" style="min-width:200px; margin:0px;">Return quantity is exceeded</span>
                                        </div>
                                        <div class='col-md-6 sell-group-decor9'>
                                            <span ng-if="(vendorPurchaseReturnItem.purchaseQuantity > 0) ? vendorPurchaseReturnItem.purchaseQuantity : (vendorPurchaseReturnItem.productStock.stock + vendorPurchaseReturnItem.returnedQuantity) >= vendorPurchaseReturnItem.quantity" class="pull-right"><i class="fa fa-inr" title="Return Price"></i>{{(vendorPurchaseReturnItem.returnPurchasePrice * vendorPurchaseReturnItem.quantity | number:2)}}</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="chips-wrapper" style="overflow: hidden; display: none;" id="{{$parent.$index}}chip-wrapper{{$index}}">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Batch No</th>
                                                <th>Expired Date</th>
                                                <th>Barcode</th>
                                                @*<th ng-show="vendorPurchaseReturn.gstEnabled == true">GST</th>
                                                <th ng-hide="vendorPurchaseReturn.gstEnabled == true">VAT</th>*@
                                                <th>VAT/GST</th>
                                                <th>MRP/Unit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-left">
                                                <td>{{vendorPurchaseReturnItem.productStock.batchNo}}</td>
                                                <td>{{vendorPurchaseReturnItem.productStock.expireDate | date:'dd/MM/yyyy'}}</td>
                                                <td>{{vendorPurchaseReturnItem.productStock.purchaseBarcode}}</td>
                                                <td ng-show="vendorPurchaseReturn.gstEnabled == true && vendorPurchaseReturnItem.productStock.gstTotal > 0">{{vendorPurchaseReturnItem.productStock.gstTotal}}</td>
                                                <td ng-hide="vendorPurchaseReturn.gstEnabled == true && vendorPurchaseReturnItem.productStock.gstTotal > 0">{{vendorPurchaseReturnItem.productStock.vat}}</td>
                                                <td>{{vendorPurchaseReturnItem.productStock.sellingPrice}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="padding-right:0;">
            <div class="panel override_margin">
                <div class="panel-body orange-border-top override_margin">
                    <div class='row override_margin '>
                        <div class='col-sm-12' style="padding:0;">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered ">
                                <tbody>
                                    <tr><td><strong>Purchased Total</strong></td><td><strong>{{vendor.purchasedTotal | number:2}}</strong></td></tr>
                                    <tr><td><strong>Reason for Return</strong></td><td><input title="Reason for Return" type="text" placeholder="Enter Reason" class="search-query form-control" ng-model="vendor.reason"></td></tr>                                   
                                </tbody>
                            </table>
                        </div>
                        <div class='col-sm-12' style="padding:0;">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " style="height:40px;">
                                <tbody>
                                    <tr class="round-off-section"><td colspan="7" style="padding-bottom:10px;">Return Amount : <span>{{ vendor.returnTotal | number:2}}</span></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="panel panel-default footer">
            <div class="panel-footer clearfix">
                @*<div class="pull-left">
                    <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                </div>*@
                <div class="pull-right">
                    <button title="Return" ng-disabled="(vendor.returnTotal == 0)" class="btn btn-style" ng-click="saveExpire(vendor)">Return</button>
                </div>
            </div>
        </div>

        </div>
    
    </ng-form>
   
</div>


@section scripts
{
<script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
<script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
<script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

<script asp-append-version="true" src="~/appscript/appscript.js"></script>
<script asp-append-version="true" src="~/appscript/model.js"></script>
<script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>

<script asp-append-version="true" src="~/appscript/vendorpurchase/vendorPurchaseBulkExpireReturnCtrl.js"></script>
    
   
}