@using Utilities.Helpers
@model HQue.Contract.Infrastructure.UserAccount.HQueUser
@{
    ViewBag.Title = "Buy List";
    Layout = "_Layout";
}
@*test*@
@await Html.PartialAsync("~/Views/VendorPurchase/Menu.cshtml")

<div class="row" data-ng-app="hcue" data-ng-controller="vendorPurchaseReturnCtrl" data-ng-cloak>
    <ng-form id="vendorPurchaseReturnItems" name="vendorPurchaseReturnItems">
        <div data-ng-init="init('@ViewBag.Id')"></div>

        <div class="panel panel-default panelBorder">

            <div class="panel-body purchase-history-body">
                <div class='row override_margin'>
                    <div class='col-sm-3'>
                        <label class="col-md-12">Vendor Name</label>
                        <div class='form-group'>
                            <p class="form-control font-bold">
                                <strong>{{vendorPurchaseReturn.vendorName}}</strong>
                            </p> 
                        </div>
                    </div>
                    <input type="hidden" id="GSTEnabled" name="GSTEnabled" value="@User.GSTEnabled()" />
                    <div class='col-sm-2'>
                        <label class="col-md-12">Invoice No.</label>
                        <div class='form-group'>
                            <p class="form-control"><strong>{{vendorPurchaseReturn.invoiceNo}}</strong></p>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <label class="col-md-12">Invoice Date</label>
                        <div class='form-group'>
                            <p class="form-control input-group">
                                <strong>{{vendorPurchaseReturn.invoiceDate | date:'dd/MM/yyyy'}}</strong>&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar" style="float: right;"></span>
                            </p>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <label class="col-md-12">GR No.</label>
                        <div class='form-group'>

                            <p class="form-control"><strong>{{vendorPurchaseReturn.goodsRcvNoTemp}}</strong></p>

                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <label class="col-md-12">GRN Date</label>
                        <div class='form-group'>
                            <p class="form-control input-group">
                                <strong>{{vendorPurchaseReturn.createdAt | date:'dd/MM/yyyy'}}</strong>&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar" style="float: right;"></span>
                               
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top">
                    <div class='row'>
                        <div class="chip-style">
                            <div class='row' style="background-color:gray; padding:0px; font-weight:bold">
                                <div class="col-sm-12 override_margin">
                                    <div class='col-md-4'>
                                        <label class="col-md-12">Product Name</label>
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="pull-right">No.Of Strips</label>
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="pull-right">Price</label>
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="pull-right">Return Strips</label>
                                    </div>
                                    <div class='col-md-2'>
                                        <label class="pull-right">Return Price</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-ng-repeat="vendorPurchaseReturnItem in vendorPurchaseReturn.vendorPurchaseReturnItem">
                            <div class="chip-style">

                                <div class="col-md-12 override_margin">

                                    <div class="col-md-5 sell-group-decor9">
                                        <button title="+" class="chip-btn col-md-2 override_margin" id="chip-btn{{$index}}" data="{{$index}}" data-ng-click="toggleProductDetail($event)">+</button>
                                        <span><strong class="col-md-10">{{vendorPurchaseReturnItem.productStock.product.name}}</strong> </span>
                                    </div>

                                    <div class="col-md-4 sell-group-decor9">
                                        <div class='col-md-7'>
                                            <span style="font-size:medium">{{vendorPurchaseReturnItem.productStock.noOfStrips}} <span style="font-size:small">/ {{vendorPurchaseReturnItem.packageQuantity}}</span></span>
                                            <span data-ng-if="vendorPurchaseReturnItem.productStock.returnedStrips > 0" style="color:red">&nbsp; - &nbsp;({{vendorPurchaseReturnItem.productStock.returnedStrips}}) </span>
                                        </div>
                                        <div class='col-md-5'>
                                            <i class="fa fa-inr" title="Price/Unit"></i> @*{{vendorPurchaseReturnItem.returnPurchasePrice}} /unit*@
                                            @*{{vendorPurchaseReturnItem.returnPurchasePrice * vendorPurchaseReturnItem.purchaseQuantity | number:2}}*@
                                            @*{{vendorPurchaseReturnItem.productStock.total | number:2}}*@
                                            {{vendorPurchaseReturnItem.pricewithvat | number:2}}
                                        </div>
                                    </div>
                                    <div class="col-md-3 sell-group-decor9">

                                        <div class='col-md-6 sell-group-decor9'>
                                            <input class="return-chip-qty" type="text" id="returnQuantity" placeholder="Return strips" name="returnQuantity" data-ng-change="editItem($index,vendorPurchaseReturnItem.returningStrips,vendorPurchaseReturnItem.productStock.noOfStrips)" data-ng-model="vendorPurchaseReturnItem.returningStrips" valid-number numbers-only />
                                            <span class="error" data-ng-if="vendorPurchaseReturnItem.returningStrips > vendorPurchaseReturnItem.productStock.noOfStrips" data-ng-init="disableSave(vendorPurchaseReturn.vendorPurchaseReturnItem)" data-ng-message="required" style="min-width:200px; margin:0px;">Return Strips is exceeded</span>
                                        </div>
                                        <div class='col-md-6 sell-group-decor9'>


                                            <span data-ng-if="vendorPurchaseReturnItem.quantity > vendorPurchaseReturnItem.productStock.stock" class="pull-right">
                                                <i class="fa fa-inr" title="Return Price"></i>0.00
                                            </span>


                                            <span data-ng-if="vendorPurchaseReturnItem.quantity <= vendorPurchaseReturnItem.productStock.stock" class="pull-right">
                                                <i class="fa fa-inr" title="Return Price"></i>{{(vendorPurchaseReturnItem.returnPurchasePrice * vendorPurchaseReturnItem.quantity | number:2)}}
                                            </span>



                                            @*<span data-ng-if="vendorPurchaseReturnItem.purchaseQuantity >= vendorPurchaseReturnItem.quantity" class="pull-right">
                                                    <i class="fa fa-inr" title="Return Price"></i>{{(vendorPurchaseReturnItem.returnPurchasePrice * vendorPurchaseReturnItem.quantity | number:2)}}
                                                </span>*@





                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="chips-wrapper" style="overflow: hidden; display: none;margin:0px;" id="chip-wrapper{{$index}}">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Batch No</th>
                                            <th>Expired Date</th>
                                            <th>Barcode</th>
                                            <th>{{vendorPurchaseReturn.taxRefNo ? "GST":"VAT"}}</th>
                                            <th ng-show="enableSelling">Selling/Unit</th>
                                            <th>MRP/Unit</th>
                                            <th>Discount(%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left">
                                            <td>{{vendorPurchaseReturnItem.productStock.batchNo}}</td>
                                            <td>{{vendorPurchaseReturnItem.productStock.expireDate | date:'MM/yy'}}</td>
                                            <td>{{vendorPurchaseReturnItem.productStock.purchaseBarcode}}</td>
                                            <td>{{vendorPurchaseReturn.taxRefNo ? vendorPurchaseReturnItem.productStock.gstTotal :vendorPurchaseReturnItem.productStock.vat}}</td>
                                            <td>{{vendorPurchaseReturnItem.productStock.sellingPrice}}</td>
                                            <td ng-show="enableSelling">{{vendorPurchaseReturnItem.productStock.mrp}}</td>
                                            <td>{{vendorPurchaseReturnItem.discount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="padding-right:0;">
            <div class="panel override_margin">
                <div class="panel-body orange-border-top override_margin">
                    <div class='row override_margin '>
                        <div class='col-sm-12' style="padding:0;">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered ">
                                <tbody>
                                    <tr><td><strong>Purchased Total</strong></td><td><strong>{{vendorPurchaseReturn.purchasedTotal | number:2}}</strong></td></tr>
                                    <tr><td><strong>Reason for Return</strong></td><td><input title="Reason for Return" type="text" placeholder="Enter Reason" class="search-query form-control" data-ng-model="vendorPurchaseReturn.reason"></td></tr>
                                    @*<tr><td><strong>Discount %</strong></td><td><strong>{{vendorPurchaseReturn.discount}}</strong></td></tr>*@
                                    @*<tr><td><strong>Serve Charge %</strong></td><td><strong></strong></td></tr>*@
                                </tbody>
                            </table>
                        </div>
                        <div class='col-sm-12' style="padding:0;">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " style="height:40px;">
                                <tbody>
                                    <tr class="round-off-section"><td colspan="7" style="padding-bottom:10px;">Return Amount : <span>{{ returnTotal | number:2}}</span></td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
    <div class="panel panel-default">
        <div class="panel-footer clearfix">
            <div class="pull-left">
                <button title="Cancel" class="btn btn-style btn-cancel" data-ng-click="cancel()">Cancel</button>
            </div>
            <div class="pull-right">
                <button title="Return" data-ng-disabled="(returnTotal == 0)" class="btn btn-style" data-ng-click="save()">Return</button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchasereturnctrl.js"></script>
}


