@using Utilities.Helpers
@model HQue.Contract.Infrastructure.UserAccount.HQueUser

@{
    ViewBag.Title = "Buy Return List";
    ViewBag.Menu = "Buy";
}

@await Html.PartialAsync("~/Views/VendorPurchase/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="vendorPurchaseReturnListCtrl" ng-cloak>
    <div class="panel panel-default panelBorder override_margin">

        <div class="panel-body pnlmargin">
            <div class='row override_margin'>
                <div class='col-sm-2 override_margin'>
                    <label class="col-md-12 override_margin">Vendor Name</label>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <select chosen
                                    title="Vendor Name"
                                    option="vendorList"
                                    data-placeholder="Select Vendor Name"
                                    ng-model="search.vendorPurchase.vendor"
                                    ng-options="option.name for option in vendorList track by option.id"
                                    class="search-query form-control" id="VendorName">
                                <option value=""></option>
                            </select>
                            @*<span class="input-group-btn">
                                    <button title="Search" class="btn" type="button" ng-click="vendorPurchaseReturnSearch()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>*@
                        </div>
                    </div>
                </div>



                <div class='col-sm-2 override_margin'>
                    <label class="col-md-12 override_margin">Invoice Number</label>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Invoice Number" type="text" placeholder="Invoice No" class="search-query form-control" ng-enter="vendorPurchaseReturnSearch()" ng-model="search.invoiceNo">

                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <label class="col-md-12 override_margin">Product</label>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin txtUpper">
                            <input title="Product Name" type="text" placeholder="Product" id="drugName" name="drugName" class="search-query form-control" ng-enter="vendorPurchaseReturnSearch()" ng-model="search.drugName" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)">
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <label class="col-md-12 override_margin">GR.No</label>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <input title="GR.No" type="text" id="GR.No" name="GR.No" placeholder="GR.No" class="search-query form-control" ng-enter="vendorPurchaseReturnSearch()" ng-model="search.vendorPurchase.GoodsRcvNo">

                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <label class="col-md-12 override_margin">Returned Date</label>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">

                            <input type="text" title="Purchase Date" id="purchaseDate" name="purchaseDate" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Returned Date" ng-model="search.invoiceDate" is-open="popup1.opened" max-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <label class="col-md-12 override_margin">Batch</label>
                    <div class='form-group'>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Batch Number" type="text" placeholder="Batch Number" class="search-query form-control" ng-enter="vendorPurchaseReturnSearch()" ng-model="search.batchNo">

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="panel-footer clearfix">
            @*<div class="pull-left" ng-if="list.length == 0">
                    No Records found
                </div>*@
            <div class="pull-left">
                <button title="Search" style="margin-left: 845px;" class="btn btn-style" ng-click="PurchaseReturnPopup()">New Return</button>
            </div>
            <div class="pull-right">
                <button title="Cancel" style="margin-right:20px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                <button title="Search" class="btn btn-style" ng-click="vendorPurchaseReturnSearch()">Search</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <div class='row tblHeader'>

                        <div class="col-md-12 override_margin ">
                            <div class="col-md-3">
                                <span class="col-md-6 override_margin">Return No</span>
                                <span class="col-md-6 override_margin">Return Date</span>
                            </div>
                            <div class="col-md-5">
                                <span class="col-md-3" style="padding:0px;">Invoice/GR</span>
                                <span class="col-md-2" style="padding:0px;">Invoice Date</span>
                                <span class="col-md-4 override_margin">Vendor </span>
                                <span class="col-md-3 override_margin txtCenter" style="padding-left:20px!important;">Mobile</span>
                                @*Commented by Settu and requested by Sundar<span class="col-md-3 override_margin">Email</span>*@
                            </div>
                            <div class="col-md-4">
                                <span class="col-md-4 override_margin">Reason</span>
                                <span class="col-md-2 override_margin" style="margin-right: 10px !important;">Payment Status </span>
                                <span class="col-md-2 override_margin" style="padding-left:30px!important;">Payment Remarks</span>
                            </div>
                        </div>

                    </div>
                    <div class='row'>
                        <div class="pull-left" ng-if="list.length == 0">
                            No Records found
                        </div>

                        <div ng-repeat="vendorPurchaseReturn in list">
                            <div class="chip-style returnlist no-pad">
                                <div class="col-sm-12 override_margin">
                                    <div class="col-md-3 sell-group-decor9" style="line-height: 26px;">
                                        <div class="col-md-7">
                                            <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                            <div class="col-md-2 vendor-name-fs">{{vendorPurchaseReturn.returnNo}}</div>
                                        </div>
                                        <div class="col-md-2 sell-group-decor9 vendor-name-fs"> {{vendorPurchaseReturn.returnDate | date:'dd/MM/yyyy' }}</div>
                                    </div>
                                    <div class="col-md-5 override_margin">
                                        <div class="col-md-3 vendor-name-fs sell-group-decor9">
                                        <span ng-show="vendorPurchaseReturn.vendorPurchase.invoiceNo!=''">                                              
                                                {{vendorPurchaseReturn.vendorPurchase.invoiceNo}} / {{vendorPurchaseReturn.vendorPurchase.billSeries + vendorPurchaseReturn.vendorPurchase.goodsRcvNo}}
                                            </span>
                                            <span ng-show="vendorPurchaseReturn.vendorPurchase.invoiceNo==''"></span></div>

                                        <div class="col-md-2 vendor-name-fs sell-group-decor9">&nbsp;{{vendorPurchaseReturn.vendorPurchase.invoiceDate | date:'dd/MM/yyyy'}}</div>
                                        <div class="col-md-4 vendor-name-fs">{{vendorPurchaseReturn.vendorPurchase.vendor.name}}</div>
                                        
                                        <div class="col-md-3 sell-group-decor9 txtCenter" style="padding-left:10px!important;"> {{vendorPurchaseReturn.vendorPurchase.vendor.mobile}}</div>
                                        
                                    </div>

                                    <div class="input-group col-md-4 override_margin">
                                        <div class="col-md-4 sell-group-decor9">{{vendorPurchaseReturn.reason}}</div>
                                        <div class="col-md-3 override_margin">
                                            <span class="sell-decor11 override_margin vendor-name-fs" ng-hide="vendorPurchaseReturn.isEdit">{{vendorPurchaseReturn.paymentStatus}}</span>
                                            <select id="paymentStatus" name="paymentStatus" title="Status" ng-model="vendorPurchaseReturn.paymentStatus" ng-show="vendorPurchaseReturn.isEdit" class="form-control" style="margin-left:0px;margin-top:4px;height:37px;">
                                                <option value="">None</option>
                                                <option value="Received">Received</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Partial ">Partial</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 override_margin">
                                            <span class="sell-decor11 override_margin vendor-name-fs" ng-hide="vendorPurchaseReturn.isEdit">{{vendorPurchaseReturn.paymentRemarks}}</span>
                                            <textarea class="sell-decor12 override_margin form-control" ng-show="vendorPurchaseReturn.isEdit" type="text" id="paymentRemarks" name="paymentRemarks" placeholder="Remarks" ng-model="vendorPurchaseReturn.paymentRemarks" style="margin-left:0px;height:60px;" maxlength="200" drugname-Special-Char></textarea>
                                        </div>
                                        <div class="col-md-1 override_margin">
                                            <span class="glyphicon glyphicon-edit" ng-hide="vendorPurchaseReturn.isEdit" style="cursor: pointer; padding:4px; margin-left: -5px;" ng-click="editVendorPurchaseReturn(vendorPurchaseReturn)"></span>
                                            <span class="glyphicon glyphicon-floppy-save" ng-show="vendorPurchaseReturn.isEdit" style="cursor: pointer; padding:4px; margin-left: -5px;" ng-click="updateVendorPurchaseReturn(vendorPurchaseReturn)"></span>
                                            <span class="glyphicon glyphicon-print" title="Print Purchase Return" style="cursor: pointer; padding:4px; margin: 0px;" ng-click="printBill(vendorPurchaseReturn)"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <table class="table sell-group-decor10">
                                    <thead class="chips-header">
                                        <tr class="bat-th-pad">
                                            <th>Product</th>
                                            <th>Batch</th>
                                            <th>Expiry</th>
                                            @*@if (User.GSTEnabled() == "False")
                                            {*@
                                                <th ng-show="vendorPurchaseReturn.taxRefNo == 0">VAT%</th>
                                                <th ng-show="vendorPurchaseReturn.taxRefNo == 0">CST%</th>
                                            @*}*@
                                            <th ng-show="vendorPurchaseReturn.taxRefNo == 1">GST%</th>
                                            <th>Units/ Strip</th>
                                            <th>No.Strips</th>
                                            <th>Free Qty</th>
                                            <th ng-show="enableSelling">Selling/ Strip</th>
                                            <th>MRP/ Strip</th>
                                            <th ng-show="enableSelling">Selling/ Unit</th>
                                            <th>MRP/ Unit</th>
                                            <th>Purchase Qty</th>
                                            <th>Discount</th>
                                            <th>Price/ Unit</th>
                                            <th>Return Qty</th>
                                            <th>Return Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left" ng-repeat="vendorPurchaseReturnItem in vendorPurchaseReturn.vendorPurchaseReturnItem">
                                            <td class="txtUpper">{{vendorPurchaseReturnItem.productStock.product.name}}</td>
                                            <td>{{vendorPurchaseReturnItem.productStock.batchNo}}</td>
                                            <td>{{vendorPurchaseReturnItem.productStock.expireDate | date:'MM/yy' }}</td>
                                            @*@if (User.GSTEnabled() == "False")
                                            {*@
                                                <td align="center" ng-show="vendorPurchaseReturn.taxRefNo == 0">{{vendorPurchaseReturnItem.productStock.vat}}</td>
                                                <td align="center" ng-show="vendorPurchaseReturn.taxRefNo == 0">
                                                    {{(vendorPurchaseReturnItem.productStock.cst==0)?'-':vendorPurchaseReturnItem.productStock.cst}}
                                                </td>
                                            @*}*@
                                           
                                            <td ng-show="vendorPurchaseReturn.taxRefNo == 1">{{vendorPurchaseReturnItem.gstTotal}}</td>
                                            <td align="center">
                                                {{(vendorPurchaseReturnItem.vendorPurchaseItem.packageSize==0)?vendorPurchaseReturnItem.productStock.packageSize:vendorPurchaseReturnItem.vendorPurchaseItem.packageSize}}
                                            </td>
                                            <td align="center">{{(vendorPurchaseReturnItem.vendorPurchaseItem.packageQty==0)?'-':vendorPurchaseReturnItem.vendorPurchaseItem.packageQty}}
                                            </td>
                                            <td align="center">{{(vendorPurchaseReturnItem.vendorPurchaseItem.freeQty==0)?'-':vendorPurchaseReturnItem.vendorPurchaseItem.freeQty}}</td>
                                            <td align="center">
                                                {{(vendorPurchaseReturnItem.vendorPurchaseItem.packageSellingPrice==0)? (vendorPurchaseReturnItem.productStock.sellingPrice * vendorPurchaseReturnItem.productStock.packageSize) : vendorPurchaseReturnItem.vendorPurchaseItem.packageSellingPrice | number:2}}
                                            </td>
                                            <td align="center" ng-show="enableSelling">
                                            {{(vendorPurchaseReturnItem.vendorPurchaseItem.packageMRP==0)?(vendorPurchaseReturnItem.productStock.mrp * vendorPurchaseReturnItem.productStock.packageSize):vendorPurchaseReturnItem.vendorPurchaseItem.packageMRP | number:2}}
                                            </td>
                                            <td align="center">{{vendorPurchaseReturnItem.productStock.sellingPrice}}</td>
                                            <td align="center" ng-show="enableSelling">{{vendorPurchaseReturnItem.productStock.mrp}}</td>
                                            <td align="center">                                            {{(vendorPurchaseReturnItem.vendorPurchaseItem.quantity==0)?'-':vendorPurchaseReturnItem.vendorPurchaseItem.quantity}}
                                            </td>
                                            <td align="center">{{(vendorPurchaseReturnItem.vendorPurchaseItem.discount==0)?'-':vendorPurchaseReturnItem.vendorPurchaseItem.discount}}
                                            </td>
                                            <td>
                                                @*<span class="sell-decor14">{{(vendorPurchaseReturnItem.vendorPurchaseItem.purchasePrice==0)?vendorPurchaseReturnItem.productStock.purchasePrice: vendorPurchaseReturnItem.vendorPurchaseItem.purchasePrice | number:2}}
                                                </span>*@  @*Commented by Gavaskar 18-09-2017*@
                                                <span class="sell-decor14">
                                                    {{(vendorPurchaseReturnItem.vendorPurchaseItem.purchasePrice==0)?vendorPurchaseReturnItem.returnPurchasePrice: vendorPurchaseReturnItem.vendorPurchaseItem.purchasePrice | number:2}} @*Modified by Gavaskar 18-09-2017*@
                                                </span>
                                            </td>
                                            <td align="center">{{vendorPurchaseReturnItem.quantity}}</td>
                                            <td>  @*ng-if="vendorPurchaseReturnItem.returnedTotal==0"*@
                                                <span class="pull-right">
                                                    {{((vendorPurchaseReturnItem.vendorPurchaseItem.purchasePrice==0)?vendorPurchaseReturnItem.returnPurchasePrice: vendorPurchaseReturnItem.vendorPurchaseItem.purchasePrice) * vendorPurchaseReturnItem.quantity | number:2}}
                                                </span>
                                            </td>
                                            @*<td ng-if="vendorPurchaseReturnItem.returnedTotal>0 && vendorPurchaseReturnItem.gstAmount!=null">
                                                <span class="pull-right">
                                                    {{vendorPurchaseReturnItem.returnedTotal | number:2}} @*gst Amount added by Gavaskar 
                                                </span>
                                            </td>*@
                                            @*<td ng-if="vendorPurchaseReturnItem.returnedTotal>0">
                                                <span class="pull-right">
                                                    {{vendorPurchaseReturnItem.returnedTotal + vendorPurchaseReturnItem.gstAmount| number:2}} @*gst Amount added by Gavaskar 
                                                </span>
                                            </td>*@
                                            <td ng-show="vendorPurchaseReturnItem.isDeleted==true">Deleted</td>
                                            @*vendorPurchaseReturnItem.vendorPurchaseItem.purchasePrice * vendorPurchaseReturnItem.quantity*@
                                        </tr>
                                        @*<tr class="text-left">*@
                                    </tbody>
                                </table>
                            </div>

                            @*Deleted History List Start*@

                           

                            @*Deleted History List End*@

                        </div>
                    </div>
                </div>
            </div>
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>
    </div>
    @*Purchase Return*@
    <div class="popup-overlay form-popup in" aria-hidden="false" style="display: block;" ng-show="EnablepurchaseReturn">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate prpopwidth" style="max-width:1400px !important; margin-bottom:100px;">
                    <div class="popup-close" ng-click="close()"><i class="fa fa-times"></i></div>
                    <h3>Purchase Return</h3>
                    <ng-form>
                        <div class="" style="padding: 15px 15px;">
                            <div class="row  ">
                                <div class="row panel panel-default override_margin">
                                    <div class="row">
                                        <div class="col-md-2 input-group sell-group-decor txtUpper">
                                            <label class="required">Select Vendor</label>
                                            <select chosen class="form-control" popup-focus="focusInputVendorName"
                                                    title="Vendor Name" id="venName" data-placeholder="Select Vendor Name"
                                                    option="popVendorList"
                                                    ng-model="vendorNameModel"
                                                    ng-options="option as option.name for option in popVendorList track by option.id"
                                                    ng-change="OnselectedVendor(vendorNameModel)" ng-enter="focusToReason()">
                                                <option value=""></option>
                                            </select>  @*class="form-data span" popup-focus="focusInputVendorName" focus-me="shouldBeOpen1" class="form-dataspan" ng-disabled="true" selected="selected"  *@
                                        </div>
                                        <div class="col-md-2 input-group sell-group-decor">
                                            <label class="required">Reason</label>
                                            <select class="form-control" ng-model="reason" id="reasonId" ng-change="changeReason()"
                                                    ng-enter="focusToProd()" popup-focus="focusReason">
                                                <option value="Non Moving Return" selected>Non Moving Return</option>
                                                <option value="Expiry Return">Expiry Return</option>
                                                <option value="Damage Return">Damage Return</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                    <span class="error" ng-show="isValidVendor">Select Vendor</span>
                                    <div class="row">
                                        <div class="col-md-3 input-group purchase-product sell-group-decor txtUpper">
                                            <label class="required">Product</label>
                                            <input title="Product Name" type="text"
                                                   placeholder="Enter Product Name"
                                                   id="drugName1"
                                                   name="drugName1"
                                                   class="search-query form-control"
                                                   ng-model="selectedProduct"
                                                   ng-enter="focusQuantity()"
                                                   ng-keyup="CheckName()"
                                                   typeahead-on-select="OnProductSelect($item)"
                                                   typeahead-focus-on-select="false" typeahead-template-url="itemTpl.html"
                                                   uib-typeahead="product as product.name for product in getreturnProducts($viewValue)" />



                                            <script type="text/ng-template" id="itemTpl.html">
                                                
                                                <a tabindex="-1" class="productddl">
                                                    <span class='global local'>L </span><span class="gap"> </span>
                                                    <span ng-bind-template="{{match.model.productStock.name}}"></span>
                                                    <span ng-bind-template="( {{match.model.productStock.stock}} )" style="float:right;"></span>
                                                </a>
                                            </script>
                                        </div>
                                        <div class="col-md-2 input-group sell-group-decor">
                                            <label class="required">Quantity</label>
                                            <input id="productqtyId" type="text" name="productquantities" ng-model="addselectedproduct.productquantity" placeholder="Return Quantity" class="form-control form-control-small" valid-number required ng-enter="focusAddProduct()" numbers-only ng-keyup="IsvalidProductQty()" maxlength="7">
                                            <span ng-show="isValidQty" class="error">available stock : {{selectedBatchTotStock}}</span>
                                        </div>
                                        <div class="col-md-2 input-group sell-group-decor">
                                            <label class="required">Batch</label>
                                            <select chosen id="batchId" ng-key-enter="focusBatchNumber()" popup-focus="fsbatchNumber"
                                                    title="Batch Number"
                                                    option="batchListNew"
                                                    data-placeholder="No results match"
                                                    ng-model="selectedBatch"
                                                    ng-options="item.productStock.batchNo + '   ('+ item.productStock.totalStock + ')'
                                                for item in batchListNew track by item.productStock.id"
                                                    class="form-control override_margin small" name="batchId" required
                                                    ng-change="batchSelected(selectedBatch)">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-md-1 input-group sell-group-decor">
                                            <label>Expiry</label>
                                            <input class="preTag" type="text" ng-model="expiryDate | date : 'MM/yy' " ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1 input-group sell-group-decor">
                                            <label>Cost Price</label>
                                            <input class="preTag" type="text" ng-model="addselectedproduct.purchasePrice" ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1 input-group sell-group-decor">
                                            <label>Amount </label>
                                            <input class="preTag" type="text" ng-model="addselectedproduct.amount" ng-disabled="true"  />
                                        </div>
                                        <div class="col-md-2 input-group sell-group-decor">
                                            <div class="clearfix">
                                                <button id="BtnaddProduct" class="btn btn-style" style="margin: 25px 4px 0 10px;" ng-click="addProduct()" ng-disabled="isValidQty || isValidQuantity || returnStatus">ADD</button>
                                                <button class="btn btn-style btn-cancel" style="margin: 25px 4px 0 7px;" ng-click="clearProductInfo()">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* new table *@

                                <div class="panel panel-default" ng-if="getaddedproduct.length != 0">
                                    <div class="byorder-list byorder-listt" style="max-height: 180px;overflow-y: scroll;">
                                        @*<div>
                                                <span ng-show="isQtyExceeds" class="error">Enter valid Qty</span>
                                            </div>*@
                                        <table style="width: 100%;">
                                            <thead style="background-color: #ccc; ">
                                                <tr>
                                                    <th style="width: 40px;">S.No</th>
                                                    <th style="width: 199px;">Product Name</th>
                                                    <th class="numRight" style="width: 10px;padding-right: 30px;">Quantity</th>
                                                    <th style="width: 74px;">Batch No</th>
                                                    <th style="width: 74px;">Expiry</th>
                                                    @if (User.GSTEnabled() == "False")
                                                    {
                                                        <th class="numRight" style="width: 74px;">VAT</th>
                                                    }
                                                    <th class="numRight" style="width: 74px;">GST</th>
                                                    <th class="numRight" style="width: 74px;">Price</th>
                                                    <th class="numRight" style="width: 75px;">Amount</th>
                                                    <th class="numRight" style="width: 111px;padding-right:10px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="ReturnProduct in getaddedproduct">
                                                    <td style="width: 40px;">{{$index+1}}</td>
                                                    <td style="width: 199px;">{{ReturnProduct.Name | uppercase}}</td>
                                                    <td class="numRight" style="width: 10px;padding-right: 30px !important;" ng-show="ReturnProduct.editprodItem==false">
                                                        <span>{{ReturnProduct.quantity}}</span>
                                                    </td>
                                                    <td style="width: 74px;" class="text-center" ng-show="ReturnProduct.editprodItem">


                                                        <input style="width:55px;margin-left:10px;" class="myStyle ng-touched" type="text" ng-model="ReturnProduct.quantity"
                                                               ng-enter="saveProductItem(ReturnProduct,$index)" maxlength="4" ng-valid ng-valid-number numbers-only />

                                                        <span style="margin-left:0px;" ng-show="(ReturnProduct.stock < ReturnProduct.quantity) || (ReturnProduct.quantity == 0)" class="error">Available Qty  {{ReturnProduct.stock}}</span>


                                                    </td>
                                                    <td style="width: 74px;">{{ReturnProduct.batchNo}}</td>
                                                    <td style="width: 74px;">{{ReturnProduct.expireDate}}</td>
                                                    @if (User.GSTEnabled() == "False")
                                                    {
                                                        <td class="numRight" style="width: 74px;">{{ReturnProduct.pricewithvat}}</td>
                                                    }
                                                    <td class="numRight" style="width: 74px;">{{(vendorNameModel.locationType == 1 || vendorNameModel.locationType == 2) ? ReturnProduct.gstTotal : 0}}</td>
                                                    <td class="numRight" style="width: 74px;">{{ReturnProduct.purchasePrice | number:2}}</td>
                                                    <td class="numRight" style="width: 75px;">
                                                        <span class="">{{ (ReturnProduct.quantity * ReturnProduct.purchasePrice) | number:2 }}</span>
                                                    </td>
                                                    <td class="numRight1" style="float: right;padding-right:10px;">
                                                        <i class="col-md-1 glyphicon glyphicon-edit cross-icon pull-right" style="cursor: pointer;" title="Edit" ng-click="editProductItem(ReturnProduct,$index)" ng-show="ReturnProduct.editprodItem==false && ReturnProduct.quantity>0"></i>



                                                        <i class="col-md-1 glyphicon glyphicon-floppy-save cross-icon pull-right" style="cursor: pointer;" title="Save" ng-click="saveProductItem(ReturnProduct,$index)"
                                                           ng-show="ReturnProduct.editprodItem && ReturnProduct.stock >= ReturnProduct.quantity"></i>




                                                        <i class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;" title="Delete" ng-click="removeProductItem(ReturnProduct,$index)" ng-hide="(ReturnProduct.stock < ReturnProduct.quantity)"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br />
                                    <span style="color:#3DB29F;" ng-if="getaddedproduct.length != 0">
                                        <b style="font-size:17px;">Total Return:{{retTotal | number:2}}</b>
                                    </span>
                                </div>

                                @* new table *@
                            </div>
                            <div class="clearfix">
                                <button id="Return" title="Return" data-ng-disabled="(retTotal == 0) || returnStatus || (getaddedproduct.length==0)" data-ng-click="save()" class="btn primary-button pull-right">Return</button>
                                <button id="popupId" class="secondary-button pull-right" ng-click="close()">Cancel</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    @*<link asp-append-version="true" rel="stylesheet" href="/assets/js/jquery-confirm-3.0.3.min.css">*@
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    @*<script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>*@
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyListAppScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/vendororder/vendororderappscriptlist.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchasereturnlistctrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
    <link asp-append-version="true" href="/assets/css/reminder-extended.css" rel="stylesheet">

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <link asp-append-version="true" href="/assets/css/reminder-extended.css" rel="stylesheet">
}
<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .pop-width-1015px {
        max-width: 1015px !important;
    }

    .mar-14 {
        margin: 14px 0;
    }

    .reminder-popup-wrappers {
        padding: 10px 30px;
    }

    .border-1px-ccc th {
        border-right: 1px solid #757575;
    }

    .tbody-innerscroll {
        overflow-y: auto;
        height: 130px;
        display: block;
        overflow-x: hidden;
    }

    .brder-none th {
        border: none;
    }

    .brder-none td {
        border: none;
    }

    .btn-clear-align {
        margin: 7px 0 0 8px;
        top: -6px;
        position: absolute;
    }

    .font-size-13 td {
        font-size: 13px;
    }

    .mar-top-12 {
        margin-top: 12px !important;
    }

    .headre-orange-txt {
        color: #f58220;
        font-family: 'GT Medium',arial,sans-serif;
        font-size: 24px;
        line-height: 24px;
        margin: 10px 10px;
        text-align: center;
        padding: 6px 3px !important;
    }

    .pre-pur-details-tbl th {
        width: 11%;
    }

    .pre-pur-details-tbl td {
        width: 11%;
    }

    .popup-overlay {
        background-color: rgba(0, 0, 0, 0.7) !important;
    }

    .cross-icon {
        float: left !important;
        margin-left: 0px !important;
    }

    .myStyle {
        background-color: #fcdf9a;
    }

    .preTag {
        width: 80px !important;
        height: 35px !important;        
    }

    .form-data span {
        color: #ff2626 !important;
    }
</style>