﻿<!DOCTYPE html>
<html lang="en"><head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Daily Management Reports</title>
      <style type="text/css">
         html,  body {
         margin: 0;
         padding: 0;
         height: 100% !important;
         width: 100% !important;
         }
         * {
         -ms-text-size-adjust: 100%;
         -webkit-text-size-adjust: 100%;
         }
         .ExternalClass {
         width: 100%;
         }
         table {
         border-spacing: 0 !important;
         border-collapse: collapse;
         margin: 0 auto;
         }
         .ExternalClass,  .ExternalClass * {
         line-height: 100%;
         }
         img {
         -ms-interpolation-mode: bicubic;
         -webkit-interpolation-mode: bicubic;
         -moz-interpolation-mode: bicubic;
         border: 0 !important;
         outline: none !important;
         text-decoration: none !important;
         }
         /* What it does: Apple Mail doesn't support max-width, so a media query constrains the email container width. */
         @media only screen and (max-device-width: 800px) {
         .email-container {
         width: 640px !important;
         }
         }
         /* What it does: Apple Mail doesn't support max-width, so a media query constrains the email container width. */
         @media only screen and (max-device-width: 800px) {
         .email-container {
         width: 100% !important;
         max-width: none !important;
         }
         }
      </style>
   </head>
   <body style="background: #ffffff;font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;margin:0px !important;" > <!--ng-app="app" ng-cloak-->
      <div style="margin:0;padding: 0 0 2% 0; background: #f3f3f4 repeat 0 0 #48b09e; width: 100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif">
         <table border="0" width="100%" style="border-collapse:collapse;">
            <tbody>
               <tr>
                  <td>
                     <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="max-width:800px; margin:auto;" class="email-container">
                        <tbody>
                           <tr>
                              <td>
                                 <!-- Logo + Links : BEGIN -->
                                 <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                       <tr>
                                          <td valign="top" style="padding:20px 3%; text-align:left;" width="150">
                                          </td>
                                          <td valign="middle" style="padding: 10px 0%;text-align:right;line-height:1.1;font-size: 13px;color:#000000;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;">
                                             {{PHARMACY_DATE}}
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <!-- Logo + Links : END --> 
                                 <!-- Main Email Body : BEGIN -->
                                 <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#fafafa" style="border: 1px solid #e6e6e6;">
                                    <tbody>
                                       <tr>
                                          <td>
                                             <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="" align="center" style="background: #2E3C54;
                                                border: 1px solid #2e3c54;">
                                                <tbody>
                                                   <tr>
                                                      <td valign="middle" style="padding: 20px 3% 20px 4%;text-align: left;line-height:1.1;color: #fff;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 16px;border: 1px solid #2e3c54;border-collapse: collapse;">
                                                          <span style="color: #63c29d;
                                                         font-size: 16px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;"> hCue Pharmacy Daily Report
                                                         </span>

                                                      </td>
                                                      <td valign="top" style="padding:20px 3%;text-align:left;border: 1px solid #2e3c54;border-collapse: collapse;" width="150">
                                                         <img src="https://s3.amazonaws.com/hcuetemplates/testing/Images/headerlogo.png" alt="alt text" border="0" align="right">
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr style="">
                                          <td style="padding: 2% 4%;">
                                             <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                   <tr>
                                                      <td align="left" valign="top" style="font-size: 14px;color:#000000;">
                                                         <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                            font-size: 14px;
                                                            color: #000000; ">
                                                             Hi All<b style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                               font-size: 14px;
                                                               color: #000000;"> ,</b>
                                                         </p>
                                                         <p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                            font-size: 14px;
                                                            color: #000000;">Please find the hCue Application details on {{YESTERDAY_DATE}}.
                                                         </p>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td style="font-weight: bold;padding: 0% 2%;">
                                             <span style="margin: 0px 5px;
                                                padding:  5px;
                                                font-size: 14px;
                                                font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                font-weight: 600;
                                                color: #000000;">Total Pharmacy Count</span>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td style="padding: 0% 4%;">
                                             <table style="margin: 5px 0px 15px 0px;
                                                padding: 5px;
                                                border-collapse: collapse !important;
                                                width: 100%;
                                                background-color: #fff;">
                                                <tbody>
                                                   <tr style="text-align: center;color: #ffffff;background: #fbad80;">
                                                       <td style="text-align: center;
                                                           padding: 5px;
                                                           line-height: 15px;
                                                           font-size: 14px;
                                                           font-family: 'Trebuchet MS' ;
                                                           color: #ffffff;">
                                                           Edge
                                                       </td>
                                                      <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">Paid</td>
                                                         <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">Trial</td>
                                                   </tr>
                                                   <tr style="">
                                                      <td style="padding: 5px;
                                                         line-height: 20px;
                                                         font-size: 13px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                         color: #000000;
                                                         border-bottom: 1px solid #f2f2f2!important;
                                                         text-align: center;">{{Edge}}</td>
                                                     
                                                       <td style="padding: 5px;
                                                         line-height: 20px;
                                                         font-size: 13px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                         color: #000000;
                                                         border-bottom: 1px solid #f2f2f2!important;
                                                         text-align: center;">{{Paid}}</td>
                                                          <td style="padding: 5px;
                                                         line-height: 20px;
                                                         font-size: 13px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                         color: #000000;
                                                         border-bottom: 1px solid #f2f2f2!important;
                                                         text-align: center;">{{Trial}}</td>
                                                        </tr>
                                                                                                      
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td style="font-weight: bold;padding: 0% 2%;">
                                             <span style="margin: 0px 5px;
                                                padding:  5px;
                                                font-size: 14px;
                                                font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                font-weight: 600;
                                                color: #000000;">Pharmacy User Details</span>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td style="padding: 0% 4%;">
                                             <table style="margin: 5px 0px 15px 0px;
                                                padding: 5px;
                                                border-collapse: collapse !important;
                                                width: 100%;
                                                background-color: #fff;">
                                                <tbody>
                                                   <tr style="text-align: center;color: #ffffff;background: #fbad80;">
                                                       <td style="text-align: center;
                                                           padding: 5px;
                                                           line-height: 15px;
                                                           font-size: 14px;
                                                           font-family: 'Trebuchet MS' ;
                                                           color: #ffffff;">
                                                           Total Users
                                                       </td>
                                                       <td style="text-align: center;
                                                           padding: 5px;
                                                           line-height: 15px;
                                                           font-size: 14px;
                                                           font-family: 'Trebuchet MS' ;
                                                           color: #ffffff;">
                                                           Web Users
                                                       </td>
                                                      <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">Offline Users</td>
                                                         <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">Pharma Lite Users</td>
                                                   </tr>
                                                   <tr style="">
                                                       <td style="padding: 5px;
                                                         line-height: 20px;
                                                         font-size: 13px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                         color: #000000;
                                                         border-bottom: 1px solid #f2f2f2!important;
                                                         text-align: center;">
                                                           {{TotalUser}}
                                                       </td>                                                  
                                                      <td style="padding: 5px;
                                                         line-height: 20px;
                                                         font-size: 13px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                         color: #000000;
                                                         border-bottom: 1px solid #f2f2f2!important;
                                                         text-align: center;">{{Web}}</td>
                                                     
                                                       <td style="padding: 5px;
                                                         line-height: 20px;
                                                         font-size: 13px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                         color: #000000;
                                                         border-bottom: 1px solid #f2f2f2!important;
                                                         text-align: center;">{{Offline}}</td>
                                                          <td style="padding: 5px;
                                                         line-height: 20px;
                                                         font-size: 13px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                         color: #000000;
                                                         border-bottom: 1px solid #f2f2f2!important;
                                                         text-align: center;">{{PharmaLite}}</td>
                                                        </tr>
                                                                                                      
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                        <tr>
									<td style="padding:1% 4% 2% 4%;border-top:none">
									<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin:0">
									<tbody>
									<tr>
									<td style="text-align:center;padding-right:10px;width:50%;background-color:white">
									<div style="border:1px solid #d9d9d9;padding-bottom:10px">
									<p style="background:#fbad80;padding:10px 5px;border-top:1px solid #fbad80;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;color:#ffffff;margin-top:0">Total Patient Leads
									</p>
									 
									<table style="width:100%;border-collapse:collapse">
									<tbody>
									<tr >
									<td style="width:50%;color:#f36f21;padding:5px;line-height:20px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;text-align:center" align="center">{{PatientOver}}</td>
									<td style="width:50%;color:#f36f21;padding:5px;line-height:20px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;text-align:center" align="center">{{PatientYes}}</td>
									<td style="width:50%;color:#f36f21;padding:5px;line-height:20px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;text-align:center" align="center">{{PatientAcc}}</td>
									<td style="width:50%;color:#f36f21;padding:5px;line-height:20px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;text-align:center" align="center">{{PatientMiss}}</td>
									</tr>
									<tr >
									<td style="width:50%;padding:0px 5px 0px 15px;line-height:20px;color:#000000;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px;line-height:16px;text-align:center;white-space:nowrap" align="center">Overall</td>
									<td style="text-align:center;width:50%;padding:0px 5px 0px 5px;line-height:20px;color:#000000;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px" align="center">Yesterday  </td>
									<td style="text-align:center;width:50%;padding:0px 5px 0px 5px;line-height:20px;color:#000000;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px" align="center">Accepted  </td>
									<td style="text-align:center;width:50%;padding:0px 5px 0px 5px;line-height:20px;color:#000000;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px" align="center">Missed  </td>
									</tr>
									</tbody>
									</table>
									</div>
									</td>
									<td style="text-align:center;width:50%;background-color:white">
									<div style="border:1px solid #d9d9d9;padding-bottom:10px">
									<p style="background:#fbad80;padding:10px 5px;border-top:1px solid #fbad80;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;color:#ffffff;margin-top:0">Total Doctor Leads
									</p>
									<table style="width:100%;border-collapse:collapse">
									<tbody>
									<tr style="padding-left:20px">
									<td style="width:50%;color:#f36f21;padding:5px;line-height:20px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;text-align:center" align="center">{{DoctorOver}}</td>
									<td style="width:50%;color:#f36f21;padding:5px;line-height:20px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;text-align:center" align="center">{{DoctorYes}}</td>
									<td style="width:50%;color:#f36f21;padding:5px;line-height:20px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;text-align:center" align="center">{{DoctorAcc}}</td>
									<td style="width:50%;color:#f36f21;padding:5px;line-height:20px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;text-align:center" align="center">{{DoctorMiss}}</td>

									</tr>
									<tr style="padding-left:20px">
									<td style="width:30%;padding:0px 5px 0px 15px;line-height:20px;color:#000000;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px;line-height:16px;text-align:center;white-space:nowrap" align="center">Overall </td>
									<td style="text-align:center;width:50%;padding:0px 5px 0px 5px;line-height:20px;color:#000000;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px" align="center">Yesterday</td>
									<td style="text-align:center;width:50%;padding:0px 5px 0px 5px;line-height:20px;color:#000000;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px" align="center">Accepted  </td>
									<td style="text-align:center;width:50%;padding:0px 5px 0px 5px;line-height:20px;color:#000000;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:13px" align="center">Missed  </td>
									</tr></tbody></table></div></td></tr></tbody></table></td>
</tr>

                                       <tr>
                                          <td style="font-weight: bold;padding: 0% 2%;">
                                             <span style="margin: 0px 5px;
                                                padding:  5px;
                                                font-size: 14px;
                                                font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                font-weight: 600;
                                                color: #000000;">Sales, Purchase</span><span style="padding: 5px 15px;
                                                font-size: 14px;
                                                font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                float: right;
                                                color: #c5baba;
                                                font-weight: normal;">Amount in INR</span>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td style="padding: 0% 4%;">
                                              <div class="col-sm-12 graph-area" > <!--ng-controller="dashboardGrossMargin"-->

                                                  <table style="margin: 5px 0px 15px 0px;
                                                padding: 5px;
                                                border-collapse: collapse !important;
                                                width: 100%;
                                                background-color: #fff;">
                                                      <tbody>
                                                          <!--<tr style="text-align: center;color: #000000;background: #fbad80;">
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;" colspan="1">
                                                                  
                                                              </td>
                                                               <td style="text-align: right;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;" colspan="2">
                                                                  Total Sales
                                                              </td>
                                                             
                                                               <td style="text-align: right;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;" colspan="2">
                                                                  Total Purchase
                                                              </td>
                                                          </tr>-->

                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <!--<td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>-->
                                                              <td colspan="3" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Current users
                                                              </td>
                                                              
                                                              <!--<td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>-->
                                                              <td colspan="2" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Sales
                                                              </td>
                                                              <td colspan="2" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Purchase
                                                              </td>


                                                          </tr>
                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                 Count
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                   Amount
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Count
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                   Amount
                                                              </td>
                                                          </tr>

                                                          <tr style="text-align: center;
                                                        font-weight: 600;">
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 20px;
                                                         font-size: 13px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                         color: #f36f21;
                                                         border-bottom: 1px solid #d9d9d9 !important;">
                                                                  Total
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <!--Manivannan Added new Column Used Count-->
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_USED_CNT}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                             
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_SALES_CNT}}
                                                              </td>
                                                             
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_SALES}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_PURCHASE_CNT}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_PURCHASE}}
                                                              </td>
                                                          </tr>
                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">
                                                           
                                                              <td colspan="8" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                 Live Details
                                                              </td>
                                                           </tr>
                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">

                                                              <td  style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  S.No
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                 Branch
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                 City
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                 Area
                                                              </td>
                                                              <td colspan="4" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                              </td>
                                                          </tr>
                                                          {{PharmaLiveList}}

                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td colspan="3" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Current users
                                                              </td>
                                                              <td colspan="2" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Sales
                                                              </td>
                                                              <td colspan="2" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Purchase
                                                              </td>


                                                          </tr>
                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Count
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Amount
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Count
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Amount
                                                              </td>
                                                          </tr>

                                                          <tr style="text-align: center;
                                                        font-weight: 600;">
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 20px;
                                                         font-size: 13px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                         color: #f36f21;
                                                         border-bottom: 1px solid #d9d9d9 !important;">
                                                                  Total
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <!--Manivannan Added new Column Used Count-->
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_TUSED_CNT}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_TSALES_CNT}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_TSALES}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_TPURCHASE_CNT}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_TPURCHASE}}
                                                              </td>
                                                          </tr>

                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">

                                                              <td colspan="8" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                 Trial Details
                                                              </td>
                                                          </tr>
                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">

                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  S.No
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Branch
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  City
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Area
                                                              </td>
                                                              <td colspan="4" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                          </tr>
                                                          {{PharmaTrialList}}

                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td colspan="3" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Current users
                                                              </td>
                                                              <td colspan="2" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Sales
                                                              </td>
                                                              <td colspan="2" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Purchase
                                                              </td>


                                                          </tr>
                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Count
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Amount
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Count
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Amount
                                                              </td>
                                                          </tr>

                                                          <tr style="text-align: center;
                                                        font-weight: 600;">
                                                              <td style="text-align: center;
                                                         padding: 5px;
                                                         line-height: 20px;
                                                         font-size: 13px;
                                                         font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
                                                         color: #f36f21;
                                                         border-bottom: 1px solid #d9d9d9 !important;">
                                                                  Total
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <!--Manivannan Added new Column Used Count-->
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_EUSED_CNT}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_ESALES_CNT}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_ESALES}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_EPURCHASE_CNT}}
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                           line-height: 20px;
                                                           font-size: 13px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica, sans-serif;
                                                           color: #f36f21;
                                                           border-bottom: 1px solid #d9d9d9 !important;">
                                                                  {{TOTAL_EPURCHASE}}
                                                              </td>
                                                          </tr>

                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">

                                                              <td colspan="8" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Edge Details
                                                              </td>
                                                          </tr>
                                                          <tr style="text-align: center;color: #000000;background: #fbad80;">

                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  S.No
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Branch
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  City
                                                              </td>
                                                              <td style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;">
                                                                  Area
                                                              </td>
                                                              <td colspan="4" style="text-align: center;padding: 5px;
                                                         line-height: 15px;
                                                         font-size: 14px;
                                                         font-family: 'Trebuchet MS';
                                                         color: #ffffff;"></td>
                                                          </tr>
                                                          {{PharmaEdgeList}}
                                                          
                                                      </tbody>
                                                  </table>

                                              </div>
                                            </td>
                                       </tr>

                                       <tr>
                                          <td style="padding: 0% 4%;">
                                              <div class="col-sm-12 graph-area" > <!--ng-controller="dashboardGrossMargin"-->

                                                  <table style="margin: 5px 0px 15px 0px;
                                                padding: 5px;
                                                border-collapse: collapse !important;
                                                width: 100%;
                                                background-color: #fff;">
                                                      <tbody>
                                                          
														
                                                          
                                                      </tbody>
                                                  </table>

                                              </div>
                                            </td>
                                       </tr>
                                       
                                       
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                          
                        </tbody>
                     </table>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
     
</body>
</html>


