﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <title>Login Details</title>
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100% !important;
            width: 100% !important;
        }

        body {
            background-color: #ffffff;
        }

        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        table {
            border-spacing: 0 !important;
            border-collapse: collapse;
            margin: 0 auto;
        }

        .ExternalClass,
        .ExternalClass * {
            line-height: 100%;
        }

        img {
            -ms-interpolation-mode: bicubic;
            -webkit-interpolation-mode: bicubic;
            -moz-interpolation-mode: bicubic;
            border: 0 !important;
            outline: none !important;
            text-decoration: none !important;
        }

        .yshortcuts a {
            border-bottom: none !important;
        }

        .mobile-link--footer a {
            color: #666666 !important;
        }
        /* What it does: Apple Mail doesn't support max-width, so a media query constrains the email container width. */

        @media only screen and (max-device-width: 600px) {
            .email-container {
                width: 640px !important;
            }
        }
        /* What it does: Apple Mail doesn't support max-width, so a media query constrains the email container width. */

        @media only screen and (max-device-width: 600px) {
            .email-container {
                width: 100% !important;
                max-width: none !important;
            }

            .notes,
            .send-to {
                display: none !important;
            }

            .dr-degree {
                display: block;
                font-size: 12px;
            }
        }
    </style>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <div style="margin:0;padding:2%;background-color: #fff;width: 96%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;height: 100%;background: url(http://dowxwb5wphdif.cloudfront.net/testing/Images/bg_pattern1.png) repeat 0 0 #254154;">
        <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" style="border-collapse:collapse;">
            <tbody>
                <tr>
                    <td>
                        <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="max-width:600px;
                               margin: 0px auto;
                               " class="email-container">
                            <tbody>
                                <tr>
                                    <td>
                                        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="100%" cellpadding="0" border="0" align="center" style="background: url(http://dowxwb5wphdif.cloudfront.net/testing/Images/bg_pattern1.png) repeat 0 0 #254154;">
                                            <tbody>
                                                <tr style="">
                                                    <td valign="top" align="center" style="padding: 3% 0% 0%;line-height: 1.5;">
                                                        <img src="https://s3.amazonaws.com/hcuetemplates/testing/Images/headerlogo.png" alt="alt text" border="0" align="right">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" align="left" style="padding: 2% 2% 2% 0%;line-height: 1.5;">
                                                        <p style="font-family: 'Open Sans', sans-serif;font-size: 22px;font-weight: normal;color: #fff;margin: 0;">Hi {{UserName}},</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="border: 2px solid #48bb50;
                                    border-bottom: none;
                                    ">
                                    <td>
                                        <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#f9f9f9" style="border: 1px solid #f9f9f9;
                                               ">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:1% 4%;font-family: 'Open Sans', sans-serif;font-size: 13px;line-height: 22px;color:#585858;text-align: center;">
                                                        <p style="margin: 8px 0;">
                                                        <strong style="padding: 5px 0;color: #28465a;font-size: 16px;font-weight: normal;font-family: 'Trebuchet MS' , Arial, Helvetica;">Greetings from hCue!!</strong></p>
                                                        <hr style="width: 70px !important;
                                                            background: #48bb50 !important;
                                                            margin: 5px auto !important;
                                                            background-color: #48bb50 !important;
                                                            color: #48bb50 !important;
                                                            height: 2px !important;
                                                            border-top-width: 0px !important;
                                                            border-bottom-width: 0px !important;
                                                            border-left-width: 0px !important;
                                                            border-right-width: 0px !important;
                                                            ">
                                                        <p></p>
                                                        <p style="text-align: left;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica;
                                                           ">Your account is now active. <br>Your hCue Pharma Login ID is <span style="color: #f36f21;text-decoration: none;white-space: nowrap;">
                                                            {{UserId}}</span> and Password Reset url is
                                                            <span style="color: #f36f21;text-decoration: none;white-space: nowrap;">{{ResetLink}}</span>.
                                                        </p>
                                                        <p style="font-size: 13px;
                                                           text-align: left;
                                                           ">Pharma Login: <a target="_blank" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;text-align: left;font-size: 14px;margin-bottom: 0px !important;color: #0062bd !important;margin-top: 10px !important;line-height: 20px;" href="https://hcuepharma.com">https://hcuepharma.com/ </a></p>
                                                        <p style="font-size: 13px;
                                                           text-align: left;
                                                           ">
                                                            View Product demo videos at:
                                                            <br> <a target="_blank" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;text-align: left;font-size: 14px;margin-bottom: 0px !important;color: #0062bd !important;margin-top: 10px !important;line-height: 20px;" href="https://www.myhcue.com/medical-shop-software-demo-videos">https://www.myhcue.com/medical-shop-software-demo-videos</a>
                                                        </p>
                                                        <p style="font-size: 13px;
                                                           text-align: left;
                                                           ">Download the hCue Pharmacy Lite app for free at playstore <a target="_blank" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;text-align: left;font-size: 14px;margin-bottom: 0px !important;color: #0062bd !important;margin-top: 10px !important;line-height: 20px;" href="https://goo.gl/TGuqbf">https://goo.gl/TGuqbf</a> to manage your appointments on the go and visit<a target="_blank" style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;text-align: left;font-size: 14px;margin-bottom: 0px !important;color: #0062bd !important;margin-top: 10px !important;line-height: 20px;" href="https://www.myhcue.com/">https://www.myhcue.com</a>to know more.</p>
                                                      
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="background-color: #f9f9f9;
                                    border-bottom: 6px solid #48bb50;
                                    border: 2px solid #48bb50;
                                    border-top: none;
                                    ">
                                    <td style="padding: 0%;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #d9d9d9;border-bottom: none;border-right: none;border-left: none;">
                                            <tbody>
                                                <tr>                                                   
                                                    <td valign="top" align="center" style="padding: 10px; font-family: 'Open Sans', sans-serif; font-size: 13px; line-height: 1.3; color: #333333; border-bottom: 1px solid #d9d9d9;">
                                                        <p style="margin: 5px 0 10px;
                                                           font-family: 'Trebuchet MS' , Arial, Helvetica;
                                                           ">For additional details visit</p>
                                                        <!-- <a href="https://www.myhcue.com/" target="_blank" style="
                                                        color: #f36f21;
                                                        text-decoration: none;
                                                        font-family: 'Trebuchet MS', Arial, Helvetica;
                                                        ">www.myhcue.com</a> -->
                                                        <a href="https://www.facebook.com/hCueApps" target="_blank">
                                                            <img src="http://d1ug96gt405xfr.cloudfront.net/hCuePlusMail/Images/facebook1.png" style="margin: 3px;">
                                                        </a>
                                                        <a href="https://twitter.com/hCueofficial" target="_blank">
                                                            <img src="http://d1ug96gt405xfr.cloudfront.net/hCuePlusMail/Images/twitter1.png" style="margin: 3px;">
                                                        </a>
                                                        <a href="https://www.linkedin.com/company/elixir-lab" target="_blank">
                                                            <img src="http://d1ug96gt405xfr.cloudfront.net/hCuePlusMail/Images/linkedin1.png" style="margin: 3px;">
                                                        </a>
                                                        <a href="https://plus.google.com/u/0/117714400779759885378" target="_blank">
                                                            <img src="http://d1ug96gt405xfr.cloudfront.net/hCuePlusMail/Images/gogle-plus.png" style="margin: 3px;">
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Main Email Body : END -->
                    </td>
                </tr>
                <!-- Footer : BEGIN -->
                <tr>
                    <td align="center" valign="top" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <img src="http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/couponshadow.png" height="20" width="600" class="mcnImage" style="display: block;max-width: 560px;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;vertical-align: bottom;">
                    </td>
                </tr>
                <!-- Footer : END -->
            </tbody>
        </table>
        </td>
        </tr>
        </tbody>
        </table>
    </div>
</body>
</html>