﻿
@{
    Layout = "~/Views/Shared/_customLayout.cshtml";
}



<div class="container-fluid" ng-cloak>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="text-center" style="padding: 15px;">
                <label style="font-size: 25px;">ALL PHARMA DETAILS</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div style="padding-top:15px;padding-bottom:15px;">
                <div class='row'>
                    <div class="col-sm-2">
                        <input type="button" id="Today" ng-click="Datetype('TODAY')" class="btn btn-style" value="Today" title="Today" />
                        <input type="button" id="Week" ng-click="Datetype('Week')" class="btn btn-style" value="Week" title="This Week" />
                        <input type="button" id="Month" ng-click="Datetype('Month')" class="btn btn-style" value="Month" title="This Month" />
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <div class="input-group col-md-12">
                                    <select title="Subscription Type" placeholder="Select anyone" ng-model="registerType" class="search-query form-control">
                                        <option value="0">All</option>
                                        <option value="2">Live</option>
                                        <option value="3">Test</option>
                                        <option value="4">Trial</option>
                                    </select>
                                </div>
                            </div>



                        </div>
                        <div class="col-lg-4 col-md-4">
                            <button title="Search" class="btn btn-style" ng-click="getDataBasedOnData()">Search</button>
                            <button title="Search" class="btn btn-style" style="float:right;">
                                <a href="/User/LogOut">LogOut</a>
                            </button>
                        </div>

                        <div class="col-sm-4 col-lg-4">

                            <a id="btnXLSExport" title="Export to Excel" data-role="button" class="k-button" role="button" aria-disabled="false" tabindex="0">
                                <i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>



                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center"><label>{{errormessage}}</label></div>
                </div>
            </div>
          
        </div>


        <div id="grid">

        </div>
      
    </div>
</div>