@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Menu = "Dashboard";
    Layout = "_Layout";
}

<div class='' ng-app="app" ng-cloak ng-controller="dashboardCtrl" ng-init="init('@ViewBag.InstanceId')">
    @*<div class="full col-sm-9 ">*@
    <div class="row clearfix">
        <div class="col-sm-2">
            <h4>Dashboard</h4>
        </div>
        @if (User.HasMultiInstanceAccess())
            {
            <div class="col-sm-3 pull-right" id="branchDiv">
                <select class="branch-dropdown" ng-model="instance" ng-change="loadDashBoardData()">
                    <option value="">All branches</option>
                    <option ng-repeat="dataItem in instanceData" ng-selected="dataItem.id=='@ViewBag.InstanceId'" value="{{dataItem.id}}">{{dataItem.name}}</option>
                </select>
            </div>
        }
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="graph-container">
                <h5>
                    Total Sales

                </h5>
                <div class="col-sm-12 graph-area" id="salesDiv">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="" style="padding-left:25px;">Time</th>
                                <th class="text-center">Sales</th>
                                <th class="text-center">Return</th>
                                <th class="text-center">Net</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataItem in salesData" ng-hide="dataItem.name == 'Average2' || dataItem.name == 'Financial Year' ">
                                <td class="txtUpper">{{dataItem.name}}</td>
                                <td align="right">{{dataItem.salesGrossAmount | INR}}</td>
                                <td align="right">{{dataItem.salesReturnAmount | INR}}</td>
                                <td align="right"><b>{{dataItem.salesNetAmount | INR}}</b></td>
                            </tr>

                            <tr ng-repeat="dataItem in salesData" ng-show="$last">
                                <td class="txtUpper">{{dataItem.name}}</td>
                                <td align="right">{{dataItem.salesGrossAmount | INR }}</td>
                                <td align="right">{{dataItem.salesReturnAmount |INR }}</td>
                                <td align="right"><b>{{dataItem.salesNetAmount | INR }}</b></td>
                            </tr>

                            <tr ng-repeat="dataItem in salesData" ng-show="$last">
                                <td align="left" colspan="2">AVERAGE SALES PER DAY</td>
                                <td align="right" colspan="2">
                                    <b>{{dataItem.averageSales  | INR }}</b>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="graph-container">
                <h5>
                    Total Purchase

                </h5>
                <div class="col-sm-12 graph-area" id="purchaseDiv">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="" style="padding-left:25px;">Time</th>
                                <th class="text-center">Purchase</th>
                                <th class="text-center">Return</th>
                                <th class="text-center">Net</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataItem in purchaseData" ng-hide="dataItem.name == 'Average1' || dataItem.name == 'Financial Year' ">
                                <td class="txtUpper">{{dataItem.name}}</td>
                                <td align="right">{{dataItem.purchaseGrossAmount |  INR}}</td>
                                <td align="right">{{dataItem.purchaseReturnAmount | INR}}</td>
                                <td align="right"><b>{{dataItem.purchaseNetAmount | INR}}</b></td>




                            </tr>

                            <tr ng-repeat="dataItem in purchaseData" ng-show="$last">
                                <td class="txtUpper">{{dataItem.name}}</td>
                                <td align="right">{{dataItem.purchaseGrossAmount | INR}}</td>
                                <td align="right">{{dataItem.purchaseReturnAmount | INR}}</td>
                                <td align="right"><b>{{dataItem.purchaseNetAmount | INR}}</b></td>


                            </tr>

                            <tr ng-repeat="dataItem in purchaseData" ng-show="$last">
                                <td align="left" colspan="2">AVERAGE PURCHASE PER DAY</td>

                                <td align="right" colspan="2">
                                    <b>{{dataItem.averagePurchase  | INR}}</b>
                                </td>



                            </tr>

                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="clearfix">&nbsp;</div>

    <div class="row">
        <div class="col-sm-6">
            <div class="graph-container">
                <h5>
                    Low Stock
                    @*<select class="dashboard-dropdown">
                            <option>sfasf</option>
                            <option>sfasf</option>
                        </select>*@
                </h5>
                <div class="col-sm-12 graph-area" id="lowStockDiv">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="" style="padding-left:25px;">Product Name</th>
                                <th class="text-center">Avg Sold</th>
                                <th class="text-center">Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataItem in lowStockData">
                                <td class="txtUpper" style="padding-left:25px;">{{dataItem.name}}</td>
                                <td class="text-right">{{dataItem.avgSold | number : 0 }}</td>
                                <td class="text-right">{{dataItem.stock | number : 0 }}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="graph-container">
                <h5>Trending Sales</h5>
                <div class="col-sm-12 graph-area" id="trendingSalesDiv">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="" style="padding-left:25px;">Product Name</th>
                                <th class="text-center">Sold</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataItem in trendingSalesData">
                                <td class="txtUpper" style="padding-left:25px;">{{dataItem.name}}</td>
                                <td class="text-right">{{dataItem.stock | number : 0}}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>

    <div class="row dashboard-page">
        <div class="col-sm-6">
            <div class="graph-container" style="height: 306px;">
                <h5>
                    Leads

                </h5>
                <div class="col-sm-12 graph-area" id="leadsDiv">
                    <canvas id="leads" class="chart chart-bar" chart-data="data" chart-labels="labels" ng-if="isData">
                        chart-series="series"
                    </canvas>
                    <div ng-if="!isData">
                        <div class="no-reports-section">
                            <img src="/assets/images/no-data.png" alt="">
                            No leads available
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="graph-container" style="height: 306px;">
                <h5>
                    Current Stock
                </h5>
                <div class="col-sm-12 graph-area" id="currentStockDiv">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="" style="padding-left:25px;">Particulars</th>
                                <th class="text-center">Cost Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataItem in currentStockData">
                                <td class="txtUpper">{{dataItem.name}}</td>
                                <td align="right">{{dataItem.currentStockAmount | INR }}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>
        <div class="col-sm-6">
            <div class="graph-container">
                <h5>
                    About To Expiry Products

                </h5>
                <div class="col-sm-12 graph-area" id="aboutToExpireDiv">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="" style="padding-left:25px;">Product Name</th>
                                <th class="" style="padding-left:25px;">Quantity</th>
                                <th class="text-center">Expiry Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataItem in aboutToExpireData">
                                <td class="txtUpper" style="padding-left:25px;">{{dataItem.name}}</td>
                                <td style="padding-left:25px;" class="text-right">{{dataItem.stock}}</td>
                                <td class="text-center">{{dataItem.expireDate | date:'MMM yyyy'}}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>

    <div class="offerConainer">
        <script type="text/ng-template" id="myModalContent.html">


            <div id="releaseModal" class="modal fade offerConainer">
                <div class="modal-dialog">
                    <div class="modal-content1">
                        <div class="middlealign">
                            <div class="">
                                <div>
                                    <div class="release-bell">
                                        <span>8</span>
                                        <img src="/assets/images/release-bell.png" alt="release count">
                                    </div>
                                </div>
                                <div class="notes-list">
                                    <a href="javascript:;" id="close_releaseNotes" class="release-close" ng-click="cancel(doNotShowChk)">
                                        <img src="/assets/images/release-close.png" alt="">
                                    </a>
                                    <div class="header">
                                        <a href="#">
                                            <img src="/assets/images/relase-logo.png" alt="">
                                        </a>
                                        <h1>PHARMACY UPDATE <b>VERSION 38</b></h1>
                                        <span>Release Date: 26/05/2017</span>
                                    </div>
                                    <div class="list-item-wrap">

                                        <div class="list-item">
                                            <span>1</span>
                                            <div class="row">
                                                <div class="notes-item clearfix">
                                                    <div class="col-md-3">
                                                        <h2>Sell </h2>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <ol>
                                                            <li>
                                                                Sell >> Settings >> Sales Settings >> Customer name mandatory (Changed from customer/doctor mandatory to customer mandatory).
                                                                Now doctor name mandatory removed from settings.User can set only customer name as mandatory for schedule/not required/all sales.
                                                            </li>
                                                            <li>
                                                                Sell >> Sales history >> Delivery status(Pending/Received).
                                                                Now user can mark a bill as delivery in sales and track the delivery status (pending/received) in sales history.
                                                            </li>
                                                            <li>Sell >> Sell >> Return.Now user can make a return along with sale bill from sales screen(Return details added in all default profiles except laser a5 and return amount fields added in custom template,Return details included in email and sms also)</li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="list-item">
                                            <span>2</span>
                                            <div class="row">
                                                <div class="notes-item clearfix">
                                                    <div class="col-md-3">
                                                        <h2>Inventory</h2>
                                                    </div>
                                                    <div class="col-md-9">

                                                        <ol>
                                                            <li>
                                                                Inventory >> Inventory >> All >> Box & Purchase >> Purchase >> Box
                                                                Now user can add box number also for all products in Inventory/Purchase screens.
                                                            </li>
                                                            <li>
                                                                Inventory >> Product master >> Edit >> Hidden
                                                                Now user can hide the product from product master for purchase related screens.(i.e., hidden products will                     not display in purchase/dc/temp stock/missed order).
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-item">
                                            <span>3</span>
                                            <div class="row">
                                                <div class="notes-item clearfix">
                                                    <div class="col-md-3">
                                                        <h2>Reports</h2>
                                                    </div>
                                                    <div class="col-md-9">

                                                        <ol>
                                                            <li>
                                                                Reports >> Stock >> Stock >> Filter:Manufacturer
                                                                Now user can search product stock by manufacturer in stock report.
                                                            </li>
                                                            <li>Reports >> Sales >> Sales invoice wise Discount column added in sales invoice wise report</li>
                                                            <li>Reports >> Sales >> Non sale customers Now user can track the non regular customers by selecting period</li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="list-item">
                                                <span>4</span>
                                                <div class="row">
                                                    <div class="notes-item clearfix">
                                                        <div class="col-md-3">
                                                            <h2>General</h2>
                                                        </div>
                                                        <div class="col-md-9">

                                                            <ol>
                                                                <li>Return details added in all default profiles except laser a5(Qms print) and return amount fields added in custom template(Internal release).</li>
                                                                <li>A hidden setting added in transfer settings for admin purpose.Normally in transfer screen stock available products only load.If the setting is enabled it will load all product including zero stocks also (Internal Release).</li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@

                                    </div>
                                </div>
                                <div class="release-footer clearfix">
                                    <div class="release-checkbox">
                                        <input type="checkbox" name="custom_checkbox11" id="custom_checkbox11" ng-model="doNotShowChk" value="custom_checkbox11">
                                        <label for="custom_checkbox11">Don’t show this again</label>
                                    </div>
                                    @*<p class="text-right">Note: Clear google chrome history to update NEW FEATURES </p>*@
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </script>
    </div>




    <script type="text/ng-template" id="myFinYearContent.html">


        <div class="modal fade" >
            <div class="modal-dialog">
                <div class="modal-content" style="width:500px">
                    <div class="modal-header">
                        @*<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                        <h4 class="modal-title" style="text-align:center">FINANCIAL YEAR RESET</h4>
                    </div>
                    <div class="modal-body">

                        <div class="">
                            <div class="panel-body">
                                <div class='row'>

                                    <div class='col-sm-6'>
                                        <div class='form-group'>
                                            <div class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="finYearfrom" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date disabled />
                                                <span class="input-group-btn wrapper-date">
                                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-6'>
                                        <div class='form-group'>
                                            <div class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="finYearto" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date disabled />
                                                <span class="input-group-btn wrapper-date">
                                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>


                            <div class="panel-body">
                                <div class='col-sm-12'>
                                    <div class='form-group'>
                                        <div class="input-group">

                                            <input title="title" type="radio" value="0" ng-model="isBillNumberReset" name="resetstatus" id="noResetID" />
                                            <label for="noResetID">Do you like to continue with your existing "Bill Series" from {{finYearfrom | date:'dd-MMM-yyyy'}}?</label>

                                        </div>
                                        <span>(Invoice ,GRN ,Return ,Cancellation numbers etc. will continue with existing series)</span><br /><br />
                                        <h4 class="modal-title" style="text-align:center">(OR)</h4>
                                    </div>
                                </div>
                                <div class='col-sm-12'>
                                    <div class='form-group'>
                                        <div class="input-group">
                                            <input title="title" type="radio" value="1" ng-model="isBillNumberReset" name="resetstatus" id="ResetId" />
                                            <label for="ResetId">Do you want to Reset your Billing series to 1 from {{finYearfrom | date:'dd-MMM-yyyy'}} ?</label>

                                        </div>
                                        <span>(Invoice ,GRN ,Return ,Cancellation numbers etc. will start from 1.)</span>
                                    </div>
                                </div>
                                <div class='col-sm-12'>
                                    <label>Admin Email Id:</label>
                                    <input type="text" id="mailid" title="mailid"   ng-model="EmailId" name="mailid"/>

                                </div>
                                    <div class='col-sm-12'>
                                        <label>Password:</label>
                                        <input type="password" id="password" title="password" ng-model="passWord" name="password" />
                                    </div>

                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-style" ng-disabled="finYearfrom=='' || finYearto=='' || resetStatus=='' " ng-click="saveFinalcialyearStatus()">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </script>


    <style>
        .offerConainer .modal-dialog {
            width: 800px !important;
        }

        .modal-backdrop.fade.in {
            opacity: 1 !important;
        }

        .modal-backdrop {
            background-color: rgba(22, 54, 75, 0.85);
        }

        .offermodal {
            width: 900px;
            margin-left: -450px;
        }

        .fade.offermodal {
            background-color: transparent !important;
        }

        .branch-dropdown {
            border-radius: 4px;
            border: 1px solid #CCC;
            font-size: 14px;
            line-height: 14px;
            padding: 4px;
            width: 100%;
            border-radius: 4px;
        }

        .graph-container .loadingoverlay {
            background-size: 50px !important;
        }

        .graph-container h5 {
            position: relative;
        }

        .dashboard-dropdown {
            border-radius: 4px;
            position: absolute;
            right: 20px;
            border: 1px solid #fff;
            padding: 4px;
            top: 50%;
            margin-top: -14px;
            font-size: 14px;
            line-height: 14px;
        }

        .no-reports-section {
            color: #dcdcdc;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            padding: 40px 0;
        }

            .no-reports-section img {
                display: block;
                margin: 0 auto;
                margin-bottom: 8px;
            }

        .dashboard-page .col-sm-5 {
            margin-bottom: 15px;
        }


        /*new release*/
        .release-table {
            height: 400px;
            overflow-y: scroll;
        }

        .new-release-popup {
            max-width: 725px;
        }

        .new-release-popupwrap {
            margin: 0 20px auto;
            padding: 20px 0;
        }

            .new-release-popupwrap strong {
                color: #000;
                display: block;
                margin-bottom: 10px;
                letter-spacing: 1px;
                text-align: center;
            }

        .release-table table, .release-table th, .release-table td {
            border: 1px solid #ededed;
            border-collapse: collapse;
        }

        .release-table th, .release-table td {
            padding: 5px;
        }

        .release-table table {
            width: 100%;
        }

        .release-table .release-details {
            padding-left: 15px;
        }

            .release-table .release-details li {
                color: #444;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 5px;
                list-style: none;
            }

        .release-list:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

        .release-list b {
            color: #ff5101;
        }

        .release-list {
            border-bottom: 1px solid #ededed;
            margin-bottom: 5px;
        }

        .release-table th {
            color: #000;
            background-color: #effefc;
        }

        .popup-wrap h3 {
            text-align: center;
            background: #039394;
            color: #fff;
            margin-top: 0px !important;
            padding: 10px;
        }

        .modal {
            overflow-y: hidden !important;
        }

        .popup-close i {
            margin-top: 12px;
        }

        .release-footer {
            margin: 0 20px 15px;
        }
    </style>
    @section scripts{

        <script>
            // matchHeight
            $(document).ready(function () {
                //$('.dashboard-page .col-sm-5').matchHeight();
            });
        </script>


        <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
        <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
        <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
        <script asp-append-version="true" src="~/lib/chart.js/chart.js"></script>
        <script asp-append-version="true" src="~/lib/angular-chart.js/angular-chart.js"></script>

        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

        <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

        <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
        <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>



        <script asp-append-version="true" src="~/appscript/dashboard/dashboardappscript.js"></script>

        <script asp-append-version="true" src="~/appScript/dashboard/dashboardService.js"></script>
        <script asp-append-version="true" src="~/appScript/accounts/payment/paymentService.js"></script>

        <script asp-append-version="true" src="~/appscript/model.js"></script>
        <script asp-append-version="true" src="~/appscript/dashboard/dashboardctrl.js"></script>


        @*<script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
            <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
            <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
            <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />*@


    }
