@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Menu = "Dashboard";
    Layout = "_LayoutBlank";
}

<div class='' ng-app="app" ng-cloak ng-controller="dashboard1" ng-init="init('')">
   
 
 
    
    <div id="myFinYearContent.html">


        <div >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                        <h4 class="modal-title" style="text-align:center">FINANCIAL YEAR RESET</h4>
                    </div>
                    <div class="modal-body">

                        <div class="">
                            <div class="panel-body">
                                <div class='row'>

                                    <div class='col-sm-6'>
                                        <div class='form-group'>
                                            <div class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="finYearfrom" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date disabled/>
                                                <span class="input-group-btn wrapper-date">
                                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-sm-6'>
                                        <div class='form-group'>
                                            <div class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="finYearto" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date disabled/>
                                                <span class="input-group-btn wrapper-date">
                                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>


                            <div class="panel-body">
                                <div class='col-sm-12'>
                                    <div class='form-group'>
                                        <div class="input-group">

                                            <input title="title" type="radio" value="0" ng-model="isBillNumberReset" name="resetstatus" id="noResetID" />
                                            <label for="noResetID">Do you like to continue ?</label>

                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-12'>
                                    <div class='form-group'>
                                        <div class="input-group">
                                            <input title="title" type="radio" value="1" ng-model="isBillNumberReset" name="resetstatus" id="ResetId" />
                                            <label for="ResetId">Do you want to Reset ?</label>

                                        </div>
                                        <span>(Invoice number,GRN number ,Return Number,Cancellation number etc..)</span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                     
                        <button class="btn btn-style" ng-disabled="isBillNumberReset=='undefined' || isBillNumberReset==null " ng-click="saveFinalcialyearStatus()">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

 </div> 
    <style>
        .modal-backdrop.fade.in {
            opacity: 1 !important;
        }

        .modal-backdrop {
            background-color:#000;
            

        }

        .offermodal {
            width: 900px;
            margin-left: -450px;
            position:absolute;

        }

        .fade.offermodal {
            background-color: transparent !important;
            
        }

        .branch-dropdown {
            border-radius: 4px;
            border: 1px solid #CCC;
            font-size: 14px;
            line-height: 14px;
            padding: 4px;
            width: 100%;
            border-radius: 4px;
        }

        .graph-container .loadingoverlay {
            background-size: 50px !important;
        }

        .graph-container h5 {
            position: relative;
        }

      

        .no-reports-section {
            color: #dcdcdc;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            padding: 40px 0;
        }

            .no-reports-section img {
                display: block;
                margin: 0 auto;
                margin-bottom: 8px;
            }

        .dashboard-page .col-sm-5 {
            margin-bottom: 15px;
        }


        /*new release*/
        .release-table {
            height: 400px;
            overflow-y: scroll;
        }

        .new-release-popup {
            max-width: 725px;
        }

        .new-release-popupwrap {
            margin: 0 20px auto;
            padding: 20px 0;
        }

            .new-release-popupwrap strong {
                color: #000;
                display: block;
                margin-bottom: 10px;
                letter-spacing: 1px;
                text-align: center;
            }

        .release-table table, .release-table th, .release-table td {
            border: 1px solid #ededed;
            border-collapse: collapse;
        }

        .release-table th, .release-table td {
            padding: 5px;
        }

        .release-table table {
            width: 100%;
        }

        .release-table .release-details {
            padding-left: 15px;
        }

            .release-table .release-details li {
                color: #444;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 5px;
                list-style: none;
            }

        .release-list:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

        .release-list b {
            color: #ff5101;
        }

        .release-list {
            border-bottom: 1px solid #ededed;
            margin-bottom: 5px;
        }

        .release-table th {
            color: #000;
            background-color: #effefc;
        }

        .popup-wrap h3 {
            text-align: center;
            background: #039394;
            color: #fff;
            margin-top: 0px !important;
            padding: 10px;
        }

        .modal {
            overflow-y: hidden !important;
             z-index:9999;
        }

        .popup-close i {
            margin-top: 12px;
        }
    </style>
    @section scripts{

        <script>
            // matchHeight
            $(document).ready(function () {
                //$('.dashboard-page .col-sm-5').matchHeight();
            });
        </script>


        <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
        <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
        <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
        <script asp-append-version="true" src="~/lib/chart.js/chart.js"></script>
        <script asp-append-version="true" src="~/lib/angular-chart.js/angular-chart.js"></script>

        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

        <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

        <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
        <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>



        <script asp-append-version="true" src="~/appscript/dashboard/dashboardappscript.js"></script>



        <script asp-append-version="true" src="~/appscript/model.js"></script>
        <script asp-append-version="true" src="~/appscript/dashboard/dashboard1.js"></script>
        <script asp-append-version="true" src="~/appscript/dashboard/dashboardservice.js"></script>
        <script asp-append-version="true" src="~/appscript/accounts/payment/paymentservice.js"></script>

 


    }
