@{
    ViewBag.Title = "Pharmacy List";
}

<div class="row" ng-app="hcue" ng-controller="distributorCtrl" ng-cloak>
    @*<div class="panel panel-default">
        <div class="panel-heading">Branch Search</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-list-alt"></span>
                            </span>
                            <input title="Pharmacy Name" type="text" placeholder="Branch Name" class="search-query form-control" ng-enter="pharmacySearch()" ng-model="search.name" autofocus>
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" ng-click="pharmacySearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                            <input title="Mobile Number" type="text" placeholder="Mobile" class="search-query form-control" ng-enter="pharmacySearch()" ng-model="search.phone">
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" ng-click="pharmacySearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer clearfix">
            <div class="pull-left" ng-if="list.length == 0">
                No Records found
            </div>
            <div class="pull-right">
                <button title="Search" class="btn btn-style pull-right" ng-click="pharmacySearch()">Search</button>
            </div>
        </div>
    </div>*@

    <div class="panel panel-default">
        @*<div class="panel-heading">Sales List</div>*@
        <div class="panel-body">
            <div class='row  marginLR-zero'>
                @*{{list}}*@
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>Branch Name</th>
                            <th>Mobile</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pharmacy in list" ng-click="pharmacySelect(pharmacy)" style="cursor: pointer">
                            <td>{{pharmacy.name }}</td>
                            <td>{{pharmacy.phone}}</td>
                            <td>{{pharmacy.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscriptlist.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/distributor/distributorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/distributor/distributorctrl.js"></script>
}