@{
    ViewBag.Title = "Low Product Stock Report";
    ViewBag.Menu = "Reports";
}

<div ng-app="hcue" ng-controller="lowProductStockReportCtrl" ng-cloak>

    <span ng-init="init('@ViewBag.id')" style="display:none;"></span>

    <div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-pagination class="grid"></div>
    <br /><br />
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
<script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@
    <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/distributor/distributorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/distributor/distributorlowstocklistctrl.js"></script>
}