@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Expiry Product Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="expireProductReportCtrl" ng-init="init()" ng-cloak>

    @*@if (User.HasPermission(UserAccess.Admin))
        {*@
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>From Date</label>
                        <div class="input-group override_margin col-sm-12">
                            <input type="text"
                                   title="From date"
                                   id="fromDate1"
                                   name="fromDate"
                                   required class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   placeholder="DD/MM/YYYY"
                                   ng-model="fromDate"
                                   is-open="popup1.opened"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   ng-required="true"
                                   close-text="Close"
                                   alt-input-formats="altInputFormats"
                                   d my-date nextid="toDate" focus-box ng-keyup="checkFromDate()" ng-change="checkFromDate()" autofocus />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>To Date</label>
                        <div class="input-group override_margin col-sm-12">
                            <input type="text"
                                   title="To date"
                                   id="toDate1"
                                   name="toDate"
                                   required class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   placeholder="DD/MM/YYYY"
                                   ng-model="toDate"
                                   is-open="popup2.opened"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   ng-required="true"
                                   close-text="Close"
                                   alt-input-formats="altInputFormats"
                                   d my-date ng-keyup="checkToDate()" ng-change="checkToDate()"
                                   previousid="fromDate"
                                   nextid="drugName" focus-box autofocus/>
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                    <span class="error" ng-show="!validToDate">Enter correct format date</span>
                </div>

                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label>From Branch</label>
                        <div class="input-group">
                            @*<span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>*@
                            @*<select chosen
                                        title="Branch Name"
                                        option="instanceList"
                                        data-placeholder="Select Branch"
                                        ng-model="selectedInstance"
                                        ng-options="option.name for option in instanceList track by option.id"
                                        class="form-control small"
                                        style="width:160px"
                                        autofocus>
                                    <option value=""></option>
                                </select>*@

                            @if (User.HasPermission(UserAccess.Admin))
                            {

                                <div class="col-sm-2" style="display:table;padding-left:0;">
                                    <div  style="width:190px;">
                                    @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                                        </div>
                                    <span class="input-group-btn">
                                        <button title="Search" class="btn" type="button" ng-click="expireProductReport()">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>

                            }
                            
                        </div>

                        @*<div class="input-group">
                                    <input type="text" data-ng-model="searchname" data-ng-change="searchName(searchname)" placeholder="Search Name" class="form-control" />
                            </div>*@
                    </div>
                </div>



                <div class="col-sm-3">
                    <div class='form-group'>
                        <label></label>
                        <div class="input-group">
                            <input type="text" data-ng-model="searchname" data-ng-change="searchName(searchname)" placeholder="Search Product Name" class="form-control" style="width: 70%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <br />

                <div class="pull-right">
                    @*@if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                        { <span>
                             <a title="Save" ng-click="SaveMovingStock()" ng-model="saveMoving" class="btn btn-style" ng-hide="isExpiry==false" style="padding: 9px 12px;">Bulk Return</a>
                         </span>
                        }*@
                    <button type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data"ng-hide="check > 60"
                            csv-header="['Product', 'Vendor', 'Expiry', 'Stock']"
                            csv-column-order="order"
                            filename="{{fileNameNew}}.csv" onclick="setFileName()">

                        <img src="~/assets/images/csv.png" />

                    </button>
                    <button ng-disabled="gridLength.length==0" ng-hide="check > 60"class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="gridLength.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>
                <div><center><span class="reportHeader"><b>EXPIRY PRODUCTS</b></span></center></div>
                <br />
            </div>
        </div>

    </div>

    </div>
    @*}*@


    <div class="panel panel-default override_margin">
        <div class="panel-body">
            
            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div id="grid"></div>
            @*<div kendo-grid="grid" options="mainGridOptions"></div>*@
            <div ng-show="gridLength.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
            <br /><br />
        </div>
    </div>

    <script type="text/ng-template" id="selectVendors">
        <div class="popup-overlay form-popup">
            <div class="middlealign">
                <div>
                    <div class="popup-wrap reminder-popup alternate" style="max-width:70%">
                        <div class="popup-close" ng-click="close('No')" data-dismiss="modal"><i class="fa fa-times"></i></div>
                        <h3>Expire Product Vendor</h3>
                        <ng-form id="frmTempStock" name="frmTempStock">
                            <div class="reminder-popup-wrap">
                                <div class="row popup-row">
                                    <div class="col-md-12 reminder-popup-left">
                                        <div class="col-md-12 input-group sell-group-decor txtCaps row tblHeader">
                                            <div class="col-md-4">Product Name</div>
                                            <div class="col-md-4">Vendor Name</div>
                                            <div class="col-md-2">Expiry</div>
                                            <div class="col-md-2">Stock</div>
                                        </div>


                                        <div class="col-md-12 input-group sell-group-decor txtCaps chip-style override_margin" ng-repeat="stock in productStocks">
                                            <div class="col-md-4" ng-bind="stock.name"></div>
                                            <div class="input-group col-sm-4 trimLR override_margin" ng-class="{ 'has-error' : frmTempStock.vendor.$invalid  && (frmTempStock.vendor.$dirty || submitted)}">
                                                <select id="vendor"
                                                        name="vendor"
                                                        chosen
                                                        title="Vendor Name"
                                                        option="vendorList"
                                                        data-placeholder="Select Vendor Name"
                                                        data-ng-model="stock.vendorid"
                                                        @*ng-options="option.name for option in vendorList track by option.id"*@
                                                        ng-options="item.id as item.name for item in vendorList"
                                                        class="form-control"
                                                        required>
                                                    <option ng-selected="selectedItem == productStocks.selectedVendor.id" value="{{productStocks.selectedVendor.id}}">{{productStocks.selectedVendor.name}} ></option>
                                                </select>
                                                <p ng-show="frmTempStock.vendor.$error.required  && (frmTempStock.vendor.$dirty || submitted)" class="help-block">Select vendor name</p>
                                            </div>
                                            <div class="col-md-2" ng-bind="stock.expireDate | date:'MM/yy'"></div>
                                            <div class="col-md-2" ng-bind="stock.stock"></div>
                                        </div>

                                    </div>


                                </div>
                                <div class="clearfix">
                                    <button class="btn primary-button pull-right" ng-disabled="frmTempStock.$invalid" ng-click="vendorUpdate()">save</button> 
                                    <button class="secondary-button pull-right" ng-click="close('No')"  data-dismiss="modal" >Cancel</button>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>

@*@{
        await Html.RenderPartialAsync("_ExpireProductVendor");
    }*@


@section scripts
{
   
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<script asp-append-version="true" src="~/appScript/reports/expireproduct/expireReportAppscript.js"></script>
    @*<script asp-append-version="true" src="~/appScript/reports/expireproduct/expireappscript.js"></script>*@
    @*<script asp-append-version="true" src="~/appScript/appReportScript.js"></script>*@
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />



    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
<script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
<script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/expireproduct/expireproductreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/expireproduct/expireproductreportctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/expireproduct/selectVendorsCtrl.js"></script>



    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>




    <script>

            $("#btnPdfExport").kendoButton(
            {
                click: function () {
                    $("#grid").data("kendoGrid").saveAsPDF();
                }
            });


            $("#btnXLSExport").kendoButton(
            {
                click: function () {
                    $("#instanceName").text("Qbitz Tech");
                    $("#grid").data("kendoGrid").saveAsExcel();
                }
            });


    </script>
}
