@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Financial Year";
    ViewBag.Menu = "Accounts";
}

@await Html.PartialAsync("~/Views/Payment/Menu.cshtml")
@if (!User.HasPermission(UserAccess.Settings))
{
    @await Html.PartialAsync("~/Views/Shared/_SettingsRights.cshtml");
}
<div class="row panelBorder paymentList" ng-app="hcue" ng-controller="finalcialYearctrl" ng-cloak>
 


    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row'>
                <h4>Financial Year</h4>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-disabled="isFinYeaarAvail"  uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="finYearfrom" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()" ng-disabled="isFinYeaarAvail" >
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-disabled="isFinYeaarAvail"  uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="finYearto" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()" ng-disabled="isFinYeaarAvail" >
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>


                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                          <button class="btn btn-style" ng-disabled="isFinYeaarAvail"  ng-click="saveFinYear(finYearfrom,finYearto)">Save</button>
                             
                        </div>
                    </div>
                </div>

            </div>
        </div>
         
    </div>
</div>
 
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/financialYearCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}