@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "History";
    ViewBag.Menu = "Accounts";
}

@await Html.PartialAsync("~/Views/Payment/Menu.cshtml")

<div class="row panelBorder paymentList" ng-app="hcue" ng-controller="paymentSearchCtrl" ng-init="init(true)" ng-cloak>
    <div class="panel panel-default" style="margin-top: 15px;border-radius: 4px;">
        <div class="panel-body" style="padding: 7px 10px 12px;">
            <div class='row'>
                <div class='col-sm-12 override_margin'>
                    <div class='form-group col-sm-12 override_margin'>
                        <div class="input-group col-sm-2 pull-left sell-group-decor override_margin">
                            <label>Vendor Name</label>
                            <select chosen
                                    title="Vendor Name"
                                    option="vendorList"
                                    data-placeholder="Select Vendor"
                                    ng-model="selectedVendor"
                                    ng-disabled="search.select != null"
                                    ng-options="option.name for option in vendorList track by option.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                          <div class="col-sm-2 input-group sell-group-decor">
                            <label>Select </label>
                            <select class="form-control" ng-change="setOptions()" ng-model="search.select" ng-disabled="selectedVendor != null">
                                <option value="" disabled selected style="display:none">---Select---</option>
                                <option value="mobile">Mobile</option> 
                            </select>
                        </div>
                        <div class="col-sm-2 input-group sell-group-decor" ng-show="mobileInput" >
                            <label>Enter Mobile No</label>
                            <input ng-disabled="selectedVendor != null || search.select == null"placeholder="Enter Mobile No" id="searchPatientMobile" maxlength="15" type="text" class="search-query form-control" ng-keyup="keyEnter($event,'drugName')" ng-model="search.mobile" ng-change="cashCreditType()" ng-enter="search()" valid-number>
                        </div>
                       
                        <div class='col-sm-2 input-group sell-group-decor'>
                            <label class='col-sm-12'>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <button title="Search" class="btn btn-style" type="button" ng-click="vendorSearchHistory()">
                                SEARCH
                            </button>

                            <button style="margin-left:10px;" title="Search" class="btn btn-style btn-cancel" type="button" ng-click="clearSearch()">
                                CLEAR
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <span class="col-sm-12  override_margin pull-left">
            <span class="col-sm-4  override_margin">
                <strong><span style="color:#6E6E6E">Vendor Name:</span><span class="txtUpper">{{selectedVendorName}}</span> </strong>
            </span>
            <span class="col-sm-8">
                <span title="Invoice Date" class="col-sm-4">
                    <strong>
                        <span style="color:#6E6E6E">
                            Mobile No:
                        </span> {{selectedVendorMobile}}
                    </strong>
                </span>
                @*<span title="Invoice Date" class="col-sm-4"><strong><span style="color:#6E6E6E">Total Due:
            </span> {{(creditAmount - debitAmount | number:2)}}</strong>
                   
            </span>*@
            </span>
        </span>
        </div>
        <div class="panel panel-default">
            <div>
                    <div class="panel-body panalign">
                        <div class='row'>
                            <div class="row tblHeader">
                                <span class="col-sm-12 pull-left txtcolor">
                                    <span class="col-sm-1 pull-left">
                                        <strong class="orange-text" title="Invoice No"></strong>
                                    </span>
                                    <span class="col-sm-2 pull-left">
                                        <strong title="Invoice No">Invoice No</strong>
                                    </span>
                                    <span class="col-sm-9 pull-left">
                                        <span title="GRNo" class="col-sm-2" style="text-align:center;"><strong>GR No.</strong></span>
                                        <span title="Invoice Date" class="col-sm-2" style="text-align:center;"><strong>Invoice Date</strong></span>
                                        <span title="Paid" class="col-sm-2" style="text-align:right;"><strong>Invoice Amount</strong></span>
                                        <span title="Paid" class="col-sm-2" style="text-align:right;"><strong>Balance Amount</strong></span>
                                        
                                      
                                    </span>
                                </span>
                            </div>
                            <div class="pull-left" ng-if="listHistory.length <= 0">
                                No Records found

                            </div>
                            <div ng-repeat="payment in listHistory">
                                <div class="chip-style">
                                    <span class="col-sm-12 pull-left">
                                        <span class="col-sm-1 pull-left">
                                            <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                        </span>
                                        <span class="col-sm-2 pull-left">
                                            <strong class="orange-text" title="Invoice No">{{payment.vendorPurchase.invoiceNo}}</strong>
                                        </span>
                                        <span class="col-sm-9 pull-left">
                                            <span title="Paid" class="col-sm-2" style="text-align:center;">{{payment.vendorPurchase.billSeries + payment.vendorPurchase.goodsRcvNo}}</span>
                                            <span title="Invoice Date" class="col-sm-2" style="text-align:center;"> {{payment.vendorPurchase.invoiceDate | date:'dd/MM/yy' }}</span>
                                            <span title="Total" class="col-sm-2" style="text-align:right;">{{payment.credit | number:2}}</span>
                                            <span title="Balance" class="col-sm-2" style="text-align:right;">{{payment.credit-payment.debit |round | number:2}}</span>  
                                            <span class="col-sm-2"></span>
                                           
                                            <span title="Total" class="col-sm-1">
                                            
                                            </span>
                                        </span>

                                    </span>
                                </div>

                                <div class="chips-wrapper" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                    <table class="table payment-tbl">
                                        <thead>
                                            <tr>
                                                <th>Payment Date</th>
                                                <th style="text-align:right;">Amount Paid</th>
                                                <th>Payment Type</th>
                                                <th>Payment Mode</th>
                                                <th>Bank Name</th>
                                                <th>Cheque No</th>
                                                <th style="text-align:center;">Cheque Date</th>
                                                <th>Remarks</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="paymentList in payment.paymentList">
                                                <td >{{paymentList.transactionDate | date:'dd-MM-yy'}}</td>
                                                <td style="text-align:right;">
                                                    <span ng-hide="paymentList.IsEdit">{{paymentList.debit | number:2}}</span>

                                                    <input class="sell-decor12 txtCredit" align="right" ng-show="paymentList.IsEdit" type="text" id="Amount" name="Amount" placeholder="Amount" maxlength="30" style="margin-left:2px; min-width:120px;text-align:right;" ng-model="paymentList.debit" ng-change="checkNetAmount(payment.paymentList,payment.credit)"valid-number>
                                                </td>
                                                <td>{{paymentList.paymentType}}</td>
                                                <td>{{paymentList.paymentMode}}</td>
                                                <td>{{paymentList.bankName}}</td>
                                                <td>{{paymentList.chequeNo}}</td>
                                                <td style="text-align:center;">{{paymentList.chequeDate | date: 'dd-MM-yy'}}</td>
                                                <td>{{paymentList.remarks}}</td>
                                                @if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                                                {
                                                    <td  class="text-center">
                                                    <button class="btn btn-style" style="background-color:#F57105" ng-hide="paymentList.IsEdit || paymentList.paymentType =='Return' 
                                                            || selectedVendor.status == 4 || selectedVendor.status == 2" type="button" ng-click="editSales(paymentList)">Edit</button>

                                                        <button class="btn btn-style" style="background-color:#F57105" ng-show="paymentList.IsEdit" type="button" ng-click="savePaymentHistory(paymentList)" ng-disabled="(getTotal>payment.credit) || (paymentList.debit < 1)">Save</button>
                                                        <button title="Search" style="background-color:#F57105" class="btn btn-style" type="button" 
                                                                ng-click="deletePaymentHistory(paymentList,$parent.$index,$index)" 
                                                                ng-hide="paymentList.paymentType =='Return' || selectedVendor.status == 4 || selectedVendor.status == 2">
                                                            Delete
                                                        </button>
                                                </td>
                                           
                                              
                                            }
</tr>                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>

    </div>
    </div>
<style>

.chosen-container
{
    width:100% !important;
}
.txtCredit
{
   padding: 6px 12px !important;
   border: 1px solid #ccc;
   border-radius: 2px !important;
}

</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentsearchctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}
