@{
    ViewBag.Title = "Payment";
    ViewBag.Menu = "Accounts";
}
@await Html.PartialAsync("~/Views/Payment/Menu.cshtml")
<div class="row panelBorder paymentList" ng-app="hcue" ng-controller="paymentSearchCtrl" ng-init="init(false)" ng-cloak>
    <div class="panel panel-default" style="margin-top: 15px;border-radius: 4px;">
        <div class="panel-body" style="padding: 7px 10px 12px;">
            <div class='row'>
                <div class='col-sm-12 override_margin'>
                    <div class='form-group col-sm-12 override_margin'>
                        <div class="input-group col-sm-2 pull-left sell-group-decor override_margin">
                            <label>Vendor Name</label>
                            <select chosen
                                    id="vendorname"
                                    name="vendorname"
                                    title="Vendor Name"
                                    option="vendorList"
                                    data-placeholder="Select Vendor"
                                    ng-model="selectedVendor"
                                    ng-options="option.name for option in vendorList track by option.id"
                                    class="form-control" ng-change="clearOptions()">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-sm-2 input-group sell-group-decor">
                            <label>Select Anyone</label>
                            <select class="form-control" ng-change="setOptions()" ng-model="search.select">
                                <option value="" disabled selected style="display:none">---Select---</option>
                                <option value="mobile">Mobile</option>
                                <option value="credit">Credit Date</option>
                            </select>
                        </div>
                        <div class="col-sm-2 input-group sell-group-decor" ng-show="mobileInput">
                            <label>Enter Value</label>
                            <input placeholder="Enter Mobile No" id="searchPatientMobile" maxlength="15" type="text" class="search-query form-control" ng-keyup="keyEnter($event,'drugName')" ng-model="search.mobile" ng-change="cashCreditType()" ng-enter="search()" valid-number>
                        </div>
                        <div class="col-sm-2 input-group sell-group-decor" ng-show="!mobileInput">
                            <label>Select Condition</label>
                            <select class="form-control" ng-model="search.select1">
                                <option value="" disabled selected style="display:none">Select</option>
                                <option value="equal"> = </option>
                                <option value="greater"> > </option>
                                <option value="less"> < </option>
                            </select>
                        </div>
                        <div class="col-sm-2 input-group sell-group-decor" ng-show="!mobileInput">
                            <label>Select Date</label>
                            <div class="input-group override_margin">
                                <input id="creditDate" class="form-control" name="creditDate" type="text" placeholder="Credit Date" ng-model="search.creditDate" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" max-date="maxDate" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class='col-sm-2 input-group sell-group-decor'>
                            <label class='col-sm-12'>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <button title="Search" class="btn btn-style" type="button" ng-click="vendorSearch()" ng-disabled="selectedVendor == null && selectedVendor == undefined && search.select != 'mobile'">
                                SEARCH
                            </button>
                            <button style="margin-left:10px;" title="Search" class="btn btn-style btn-cancel" type="button" ng-click="clearSearch()">
                                CLEAR
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-form="amountPaid" class="col-sm-12 override_margin">
                    <div class="col-sm-2 input-group sell-group-decor txtCaps">
                        <label>Amount Paid</label>
                        <input placeholder="Enter Amount" id="enterAmount" maxlength="50" type="text" class="form-control" ng-enter="focusNextField('paymentType')" ng-model="paymentData.amount" ng-change="amountReceived(paymentData.amount)" valid-number required>
                        <span class="highlight">{{totalAlert}}</span>
                    </div>
                    <div class="col-sm-2 input-group sell-group-decor">
                        <label>Payment Type</label>
                        <select id="paymentType" name="paymentType" title="Payment Type" placeholder="Payment Select" ng-model="paymentData.paymentType" ng-change="getChequeDetails(paymentData.paymentType)" class="form-control" ng-enter="focusNextField('bankName')" ng-keyup="checkAllPaymentfields(1)" ng-click="checkAllPaymentfields(1)" required>
                            <option value="" disabled selected style="display:none">Please Select</option>
                            <option value="cheque">Cheque</option>
                            <option value="cash">Cash</option>
                        </select>
                        <span class="error" ng-show="paymentAlert">Required</span>
                    </div>
                    <div ng-show="showCheque">
                        <div class="col-sm-2 input-group sell-group-decor">
                            <label>Bank Name</label>
                            <input placeholder="Bank Name" id="bankName" type="text" class="search-query form-control" ng-enter="focusNextField('bankBranchName')" ng-model="paymentData.bankName" name="bankName" maxlength="40" ng-keyup="checkAllPaymentfields(2)" ng-click="checkAllPaymentfields(2)" />
                        </div>
                        <div class="col-sm-2 input-group sell-group-decor">
                            <label>Branch Name</label>
                            <input placeholder="Branch Name" id="bankBranchName" type="text" class="search-query form-control" ng-enter="focusNextField('ifscCode')" ng-model="paymentData.bankBranchName" name="bankBranchName" maxlength="40" ng-keyup="checkAllPaymentfields(3)" ng-click="checkAllPaymentfields(3)" />
                        </div>
                        <div class="col-sm-2 input-group sell-group-decor">
                            <label>IFSC Code</label>
                            <input placeholder="IFSC Code" id="ifscCode" type="text" class="search-query form-control" ng-enter="focusNextField('chequeNo')" ng-model="paymentData.ifscCode" name="ifscCode" maxlength="20" ng-keyup="checkAllPaymentfields(4)" ng-click="checkAllPaymentfields(4)" />
                        </div>
                        <div class="col-sm-2 input-group sell-group-decor">
                            <label>Cheque Number</label>
                            <input placeholder="Cheque Number" id="chequeNo" type="text" class="search-query form-control" ng-enter="focusNextField('chequeDate')" ng-model="paymentData.chequeNo" name="chequenumber" ng-keyup="checkAllPaymentfields(5)" ng-click="checkAllPaymentfields(5)" numbers-only valid-number required ng-minlength="6" maxlength="10" />
                            <span ng-show="amountPaid.chequenumber.$error.minlength && showCheque" class="error">Should be minimum 6 character</span>
                        </div>
                        <div class="input-group col-sm-2 sell-group-decor">
                            <div class="form-group">
                                <label>Cheque Date</label>
                                <div class="input-group override_margin">
                                    <input id="chequeDate" class="form-control" name="chequeDate" type="text" placeholder="Cheque Date" ng-model="paymentData.chequeDate" uib-datepicker-popup="{{format}}" is-open="popup4.opened" datepicker-options="dateOptions" max-date="maxDate" date-disabled="disabled(date, mode)" close-text="Close" ng-keyup="checkAllPaymentfields(6)" ng-click="checkAllPaymentfields(6)" alt-input-formats="altInputFormats" ng-enter="focusNextField('remarks')" required my-date />
                                    <span class="input-group-btn wrapper-date">
                                        <button type="button" class="btn btn-default btn1" ng-click="open4()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                                <span class="error" ng-show="amountPaid.chequeDate.$dirty &&payInValid">Cheque date must not be greater than 6 months</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 input-group sell-group-decor">
                        <label>Remarks</label>
                        <input placeholder="Enter Remarks" id="remarks" name="remarks" maxlength="15" type="text" class="search-query form-control" ng-model="paymentData.remarks" ng-enter="focusNextField('paynow')" ng-keyup="checkAllPaymentfields(7)" ng-click="checkAllPaymentfields(7)">
                    </div>
                    <div class='col-sm-1 input-group sell-group-decor'>
                        <label class='col-md-12'>&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <button title="Search" style="background-color:#F57105" class="btn btn-style" type="button" ng-disabled="isPayValid() || (paymentData.amount > (creditAmount-debitAmount)) || isTallyPaymentAmount() || selectall == true" ng-click="savePayments(list,paymentData.remarks,paymentData.paymentType,paymentData)" id="paynow" name="paynow">
                            PayNow
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <span class="col-sm-12  override_margin pull-left">
            <span class="col-sm-4  override_margin">
                <strong><span style="color:#6E6E6E">Vendor Name:</span><span class="txtUpper">{{selectedVendorName}}</span> </strong>
            </span>
            <span class="col-sm-8">
                <span title="Invoice Date" class="col-sm-4">
                    <strong>
                        <span style="color:#6E6E6E">
                            Mobile No:
                        </span> {{selectedVendorMobile}}
                    </strong>
                </span>
                <span title="Invoice Date" class="col-sm-4">
                    <strong>
                        <span style="color:#6E6E6E">
                            Total Due:
                        </span> {{(creditAmount - debitAmount | number:2)}}
                    </strong>
                </span>
            </span>
        </span>
    </div>
    <div class="panel panel-default">
        <div>
            <div class="panel-body panalign">
                <div class='row'>
                    <div class="row tblHeader">
                        <span class="col-sm-12 pull-left txtcolor">
                            <span class="col-sm-1 pull-left">
                                <strong class="orange-text" title="Invoice No"></strong>
                            </span>
                            <span class="col-sm-1 pull-left">
                                <strong title="Invoice No">Invoice No</strong>
                            </span>
                            <span class="col-sm-10 pull-left">
                                <span title="GR No." class="col-sm-1"><strong>GR No.</strong></span>
                                <span title="Invoice Date" class="col-sm-1"><strong>Invoice Date</strong></span>
                                <span title="Credit Days" class="col-sm-1"><strong>Credit Date</strong></span>
                                <span title="Balance" class="col-sm-1"><strong>Payment Mode</strong> </span>
                                <span title="Total" class="col-sm-2" align="right"><strong>Invoice Amount</strong></span>
                                <span title="Paid" class="col-sm-2" align="right"><strong>Total Amount Paid + Return</strong></span>
                                <span title="Balance" class="col-sm-2" align="right"><strong>Balance Due</strong> </span>
                                <span title="Balance" class="col-sm-1"><strong>Payment</strong> </span>
                                <span title="Hold" class="col-sm-1">
                                    <strong>Hold</strong>
                                    <input type="checkbox" ng-model="selectall" ng-disabled="paymentData.amount == undefined" ng-change="changeStatus(selectall)">
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="pull-left" ng-if="list.length == 0">
                        No Records found
                    </div>
                    <div ng-repeat="payment in list">
                        <div class="chip-style">
                            <span class="col-sm-12 pull-left">
                                <span class="col-sm-1 pull-left">
                                    <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                </span>
                                <span class="col-sm-1 pull-left">
                                    <strong class="orange-text" title="Invoice No">{{payment.vendorPurchase.invoiceNo}}</strong>
                                </span>
                                <span class="col-sm-10 pull-left">
                                    <strong class="col-sm-1" title="Good Rcv No">{{payment.vendorPurchase.billSeries + payment.vendorPurchase.goodsRcvNo}}</strong>
                                    <span title="Invoice Date" class="col-sm-1"> {{payment.vendorPurchase.invoiceDate | date:'dd/MM/yy' }}</span>
                                    <span title="Credit Days" class="col-sm-1" ng-class="{highlightDate: payment.creditExpireDate < checkDate}">{{payment.creditExpireDate | date:'dd/MM/yy'}}</span>
                                    <span title="Payment Type" class="col-sm-1">{{payment.vendorPurchase.paymentType}}</span>
                                    <span title="Total" class="col-sm-2" align="right">{{payment.credit | number:2}}</span>
                                    <span title="Paid" class="col-sm-2" align="right"> {{payment.debit | number:2}}</span>
                                    <span title="Balance" class="col-sm-2" align="right">{{payment.credit - payment.debit |round | number:2}}</span>
                                    <span class="col-sm-1">
                                        <input id="amount" name="amount" type="text" placeholder="Amount" ng-model="payment.paymentAmount  | number:2" valid-number style="width:100%;" ng-disabled="true" />
                                    </span>
                                    <span title="Total" class="col-sm-1">
                                        <input id="hold" name="hold" type="checkbox" ng-model="payment.hold" ng-disabled="paymentData.amount == undefined" ng-change="amountReceived(paymentData.amount)" ng-click="keyUp($event,'paymentType','hold')">
                                    </span>
                                </span>
                            </span>
                        </div>
                        <div class="chips-wrapper" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                            <table class="table">
                                <thead>
                                    <tr class="col-md-12 row">
                                        <th class="col-md-1">Payment Date</th>
                                        <th class="col-md-1" style="text-align:right;">Amount</th>
                                        <th class="col-md-2" style="text-align:center;">Payment Type</th>
                                        <th class="col-md-1">Mode of Payment</th>
                                        <th class="col-md-3">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12 row" ng-repeat="paymentList in payment.paymentList">
                                        <td class="col-md-1">{{paymentList.transactionDate | date:'dd/MM/yy'}}</td>
                                        <td class="col-md-1" style="text-align:right;">{{paymentList.debit | number:2}}</td>
                                        <td class="col-md-2">{{paymentList.paymentType}}</td>
                                        <th class="col-md-1">{{paymentList.paymentMode}}</th>
                                        <td class="col-md-3" style="text-align:left;">{{paymentList.remarks}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .chosen-container {
        width: 100% !important;
    }

    .highlightDate {
        color: red;
    }
</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/payment/paymentsearchctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
} 
