﻿@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
<ul class="nav nav-tabs override_margin">
@if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
{
    <li class="@(ViewBag.Title == "Expense List"
    || ViewBag.Title == "Expense Heads" || ViewBag.Title == "Expense" || ViewBag.Title == "TILL" ? "active" : "")">
        <a asp-action="Index" asp-controller="PettyCashDtl">
           Cash Management
        </a>
    </li>
    <li class="@(ViewBag.Title == "Customer Receipts" ? "active" : "")">
        <a asp-action="Index" asp-controller="CustomerReceipt">
            Customer Receipts
        </a>
    </li>

    <li class="@(ViewBag.Title == "Cheque" ? "active" : "")">
        <a asp-action="Cheque" asp-controller="CustomerReceipt">
            Cheque
        </a>
    </li>


    <li class="@(ViewBag.Title == "Payment" ? "active" : "")">
        <a asp-action="Index" asp-controller="Payment">
            Vendor Payments
        </a>
    </li>
}
    <li class="@(ViewBag.Title == "History" ? "active" : "")">
        <a asp-action="History" asp-controller="Payment">
            Vendor Payment History
        </a>
    </li>
    @if (User.HasPermission(UserAccess.Settings))
    {
        <li class="@(ViewBag.Title == "Financial Year" ? "active" : "")">
            <a asp-action="FinancialYear" asp-controller="Payment">
                Financial Year Settings
            </a>
        </li>
    }

@*@if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
{
    <li class="@(ViewBag.Title == "Settings" ? "active" : "")">
        <a asp-action="Index" asp-controller="PettyCashSettings">
            Settings
        </a>
    </li>
}*@
</ul>
