@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Payment Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>


<div ng-app="hcue" ng-controller="paymentReportCtrl" ng-cloak ng-init="init()">
    @*<div class="panel panel-default">
            <div class="panel-body">
                <div class="pull-left">
                    <input type="button" id="Today" ng-click="filter('Today')" class="btn btn-style" value="Today" />
                    <input type="button" id="Week" ng-click="filter('Week')" class="btn btn-style" value="Week" />
                    <input type="button" id="Month" ng-click="filter('Month')" class="btn btn-style" value="Month" />
                </div>

                <div class="pull-left">
                    <button title="Search" class="btn btn-style" ng-click="paymentReport()">Search</button>
                </div>
            </div>
        </div>*@
    @if (User.HasPermission(UserAccess.Admin))
            {

        <div class="col-sm-2">
            @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
        </div>
        <div class="pull-left">
            <button title="Search" class="btn btn-style" ng-click="paymentReport()">Search</button>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="report-tables">
                <div id="grid"></div>
            </div>
             

                </div>
            </div>
        </div>

        @section scripts
{
            <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>


            <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
            <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
            <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
            <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
            <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
            <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
            <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>
            <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
            <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
            @*<script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
            @*<script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@
            <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
            <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
            <script asp-append-version="true" src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
            <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
            <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

            <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
            <script asp-append-version="true" src="~/appscript/model.js"></script>
            <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
            <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

            <script asp-append-version="true" src="~/appscript/accounts/payment/paymentservice.js"></script>
            <script asp-append-version="true" src="~/appscript/reports/payment/paymentreportctrl.js"></script>
           <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
            <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
            <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
        }


