@{
    ViewBag.Title = "Import History";
    ViewBag.Menu = "ImportHistory";
}

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" id="importtype" name="importtype" value="productstock" />
 
        <div class="panel panel-default">
            <div class="panel-heading">Import Historical Data</div>
            <div class="panel-body">
                <div style="padding:6px 15px;"><b>Do you want to import product stock data?</b></div>
                <div style="margin: 0px 10px;padding:6px 15px;background-color:lightgray;max-width:650px;min-height:70px;font-size:12px;">
                    <b>Note:</b> Before importing data, download template and prepare data from your existing system or input manually.
                    <div class="btn btn-style" style="width:120px;float:right;background-color:#F57105;opacity:.65;margin-top:10px;">
                        <a asp-action="StockDownload" asp-controller="ImportHistory" class="pink-border">Data Template</a>
                    </div>
                </div>
                <br />
                <div class='row'>
                    <div class='col-md-12'>
                        <div class='form-group'>
                            <div class="input-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                    <span class="fileupload-preview" style="color: black"></span>
                                    <span class="btn btn-style btn-file">
                                        <span class="fileupload-new">Select file</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="file" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                    </span>
                                    <button type="submit" class="btn btn-style">Import</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.Success == true && ViewBag.ImportType == "productstock")
            {
            <p style="color:forestgreen;font:bold;padding:0px 15px;">Product Stock Imported Successfully</p>
            }
                @if (ViewBag.Success == false && ViewBag.ImportType == "productstock")
            {
            <p style="color:red;font:bold;padding:0px 15px;">@ViewBag.Message</p>
            }

            </div>
        </div>
</form>

@if (!ViewBag.Config.AppConfig.OfflineMode)
{
    <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" id="importtype" name="importtype" value="productmaster" />
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="padding:6px 15px;"><b>Do you want to import product master data?</b></div>
                <div style="margin: 0px 10px;padding:6px 15px;background-color:lightgray;max-width:650px;min-height:70px;font-size:12px;">
                    <b>Note:</b> Before importing data, download template and prepare data from your existing system or input manually.
                    <div class="btn btn-style" style="width:120px;float:right;background-color:#F57105;opacity:.65;margin-top:10px;">
                        <a asp-action="ProductDownload" asp-controller="ImportHistory" class="pink-border">Data Template</a>
                    </div>
                </div>
                <br />
                <div class='row'>
                    <div class='col-md-12'>
                        <div class='form-group'>
                            <div class="input-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                    <span class="fileupload-preview" style="color: black"></span>
                                    <span class="btn btn-style btn-file">
                                        <span class="fileupload-new">Select file</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="file" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                    </span>
                                    <button type="submit" class="btn btn-style">Import</button>
                                    <button type="button" class="btn btn-style" style="margin-left:400px;" onclick="location.href='@Url.Action("ExportProductMaster", "Product")'">
                                        Export
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.Success == true && ViewBag.ImportType == "productmaster")
                {
                    <p style="color:forestgreen;font:bold;padding:0px 15px;">Product Master Imported Successfully</p>
                }
                @if (ViewBag.Success == false && ViewBag.ImportType == "productmaster")
                {
                    <p style="color:red;font:bold;padding:0px 15px;">@ViewBag.Message</p>
                }

            </div>
        </div>
    </form>
}

@*<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" id="importtype" name="importtype" value="vendor" />
    <div class="panel panel-default">
        <div class="panel-body">
            <div style="padding:6px 15px;"><b>Do you want to import vendor data?</b></div>
            <div style="margin: 0px 10px;padding:6px 15px;background-color:lightgray;max-width:650px;min-height:70px;font-size:12px;">
                <b>Note:</b> Before importing data, download template and prepare data from your existing system or input manually.
                <div class="btn btn-style" style="width:120px;float:right;background-color:#F57105;opacity:.65;margin-top:10px;">
                    <a asp-action="VendorDownload" asp-controller="ImportHistory" class="pink-border">Data Template</a>
                </div>
            </div>
            <br />
            <div class='row'>
                <div class='col-md-12'>
                    <div class='form-group'>
                        <div class="input-group">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                <span class="fileupload-preview" style="color: black"></span>
                                <span class="btn btn-style btn-file">
                                    <span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="file" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                </span>
                                <button type="submit" class="btn btn-style">Import</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.Success == true && ViewBag.ImportType == "vendor")
            {
                <p style="color:forestgreen;font:bold;padding:0px 15px;">Vendor Data Imported Successfully</p>
            }
            @if (ViewBag.Success == false && ViewBag.ImportType == "vendor")
            {
                <p style="color:red;font:bold;padding:0px 15px;">@ViewBag.Message</p>
            }

        </div>
    </div>
</form>
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" id="importtype" name="importtype" value="purchases" />
    <div class="panel panel-default">
  
        <div class="panel-body">
            <div style="padding:6px 15px;"><b>Do you want to import historical purchases data?</b></div>
            <div style="margin: 0px 10px;padding:6px 15px;background-color:lightgray;max-width:650px;min-height:70px;font-size:12px;">
                <b>Note:</b> Before importing historical purchases data, download template and prepare data from your existing system.
                <div class="btn btn-style" style="width:120px;float:right;background-color:#F57105;opacity:.65;margin-top:10px;">
                    <a asp-action="PurchaseDownload" asp-controller="ImportHistory" class="pink-border">Data Template</a>
                </div>
            </div>
            <br />
            <div class='row'>
                <div class='col-md-12'>
                    <div class='form-group'>
                        <div class="input-group">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                <span class="fileupload-preview" style="color: black"></span>
                                <span class="btn btn-style btn-file">
                                    <span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="file" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                </span>
                                <button type="submit" class="btn btn-style">Import</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @if (ViewBag.Success == true && ViewBag.ImportType == "purchases")
            {
            <p style="color:forestgreen;font:bold;padding:0px 15px;">Historical purchases Imported Successfully</p>
            }
            @if (ViewBag.Success == false && ViewBag.ImportType == "purchases")
            {
            <p style="color:red;font:bold;padding:0px 15px;">@ViewBag.Message</p>
            }

        </div>
    </div>
</form>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" id="importtype" name="importtype" value="sales" />
    <div class="panel panel-default">
        <div class="panel-body">
            <div style="padding:6px 15px;"><b>Do you want to import historical sales data?</b></div>
            <div style="margin: 0px 10px;padding:6px 15px;background-color:lightgray;max-width:650px;min-height:70px;font-size:12px;">
                <b>Note:</b> Before importing historical sales data, download template and prepare data from your existing system.
                <div class="btn btn-style" style="width:120px;float:right;background-color:#F57105;opacity:.65;margin-top:10px;">
                    <a asp-action="SalesDownload" asp-controller="ImportHistory" class="pink-border">Data Template</a>
                </div>
            </div>
            <br />
            <div class='row'>
                <div class='col-md-12'>
                    <div class='form-group'>
                        <div class="input-group">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                <span class="fileupload-preview" style="color: black"></span>
                                <span class="btn btn-style btn-file">
                                    <span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="file" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                </span>
                                <button type="submit" class="btn btn-style">Import</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.Success == true && ViewBag.ImportType == "sales")
            {
                <p style="color:forestgreen;font:bold;padding:0px 15px;">Historical sales Imported Successfully</p>
            }
            @if (ViewBag.Success == false && ViewBag.ImportType == "sales")
            {
                <p style="color:red;font:bold;padding:0px 15px;">@ViewBag.Message</p>
            }

        </div>
    </div>
</form>*@




@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appScript/ETL/appScript.js"></script>
    <script asp-append-version="true" src="~/appScript/ETL/importCtrl.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>
}