@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "SupplierWisePurchaseReturn";
    ViewBag.Menu = "Reports";
}

<div class="row rptTitle">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div class="row" ng-app="hcue" ng-controller="supplierWisePurchaseReturnCtrl" ng-init="init()" ng-cloak>

    <ng-form novalidate id="vendorPurchaseItems" name="vendorPurchaseItems">

        <div class="panel panel-default  override_margin">
            <div class="panel-body override_margin">
                <div class="row">
                    <div class='col-md-12 override_margin'>
                        <div class='row override_margin'>
                        @if (User.HasPermission(UserAccess.Admin))
                        {
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group override_margin'>
                                    <label>Select Branch</label>
                                   
                                        <div class="input-group col-md-12 override_margin">
                                            @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                                        </div>
                                   
                                </div>                                
                            </div>
                        }
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group override_margin'>
                                    <label>Select Filter</label>
                                    <div class="input-group col-md-12 override_margin">
                                        <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select Filter" ng-model="search.select" ng-change="changefilters()" class="form-control" required>
                                            <option value="">Please Select</option>
                                            <option value="supplier">Supplier</option>
                                            <option value="mobile">Mobile</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                             
                            <div class='col-sm-2 override_margin' ng-if="selectMobile==true">
                                <div class='form-group'>
                                    <label>Enter Mobile</label>                                   
                                    <input type="number" ng-model="search.mobile"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Enter Mobile"
                                           id="mobile" required
                                           name="Mobile"
                                           title="Mobile"
                                           ng-enter="supplierDetailsReport()" 
                                           typeahead-on-select="onSupplierSelect($item)"
                                           typeahead-editable="false"
                                           uib-typeahead="ps as ps.mobile for ps in getSupplierMobile($viewValue)"
                                           class="form-control form-control-small"
                                           typeahead-template-url="itemTpls1.html" numbers-only autofocus />

                                    <script type="text/ng-template" id="itemTpls1.html">
                                        <a tabindex="-1" style="text-decoration:none">
                                            <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                                        </a>
                                        <div style="color:#fbaf67"></div>
                                    </script>
                                </div>
                            </div>

                            <div class='col-md-2 override_margin' ng-if="selectSupplier==true">
                                <div class='form-group override_margin'>
                                    <label>Select Supplier</label>

                                    <input type="text" ng-model="search.supplier"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Enter Supplier"
                                           id="supplierName" required
                                           name="supplierName"
                                           title="Supplier name"
                                           ng-enter="supplierDetailsReport()" 
                                           typeahead-on-select="onSupplierSelect($item)"
                                           typeahead-editable="false"
                                           uib-typeahead="ps as ps.name for ps in getSupplierName($viewValue)"
                                           class="form-control form-control-small"
                                           typeahead-template-url="itemTpls.html" autofocus/>

                                    <script type="text/ng-template" id="itemTpls.html">

                                        <a tabindex="-1" style="text-decoration:none">
                                            <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                                        </a>
                                        <div style="color:#fbaf67"></div>

                                    </script>
                                </div>
                            </div>

                            <div class='col-sm-2'>
                                <div class='form-group'>
                                    <label>Select GRN/Invoice Date</label>
                                    <div class="input-group col-md-12 override_margin">
                                        <select class="form-control" name="" title="GRN/Invoice Date" placeholder="Select anyone" ng-model="IsReturnDate">                                     
                                            <option value="true">Return Date</option>
                                            <option value="false">GRN Date</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="chkDate==true">
                                <div class='col-sm-2 override_margin'>
                                    <div class='form-group'>
                                        <label>From Date</label>
                                        <div class="input-group override_margin col-sm-12">
                                            <input type="text"
                                                   title="From date"
                                                   id="fromDate"
                                                   name="fromDate"
                                                   required class="form-control"
                                                   uib-datepicker-popup="{{format}}"
                                                   placeholder="DD/MM/YYYY"
                                                   ng-model="fromDate"
                                                   is-open="popup1.opened"
                                                   datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   alt-input-formats="altInputFormats"
                                                   d my-date nextid="toDate" focus-box ng-keyup="checkFromDate()" ng-change="checkFromDate()" />
                                            <span class="input-group-btn wrapper-date">
                                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                                </div>
                                <div class='col-sm-2 override_margin'>
                                    <div class='form-group'>
                                        <label>To Date</label>
                                        <div class="input-group override_margin col-sm-12">
                                            <input type="text"
                                                   title="To date"
                                                   id="toDate"
                                                   name="toDate"
                                                   required class="form-control"
                                                   uib-datepicker-popup="{{format}}"
                                                   placeholder="DD/MM/YYYY"
                                                   ng-model="toDate"
                                                   is-open="popup2.opened"
                                                   datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   alt-input-formats="altInputFormats"
                                                   d my-date ng-keyup="checkToDate()" ng-change="checkToDate()" />
                                            <span class="input-group-btn wrapper-date">
                                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                                    <span class="error" ng-show="!validToDate">Enter correct format date</span>
                                </div>
                            </div>
                            <div class='override_margin'>
                                <div class='form-group' style="margin-top:25px;">
                                    <div class="input-group override_margin col-sm-12">
                                        <button title="Search" name="search" id="search" class="btn btn-style" ng-click="supplierDetailsReport()" ng-disabled="!(search.mobile || search.supplier) || !validDate || !validFromDate || !validToDate" ng-enter="supplierDetailsReport()">Search</button>
                                        <button title="Cancel" class="btn btn-style btn-cancel" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-form>
   
    <script type="text/x-kendo-template" id="page-template">
        <div class="page-template">
            <div class="header">
                <label id="instanceName">  </label>

            </div>
            <div class="footer">
                <div style="float: right">Page #: pageNum # of #: totalPages #</div>
            </div>
        </div>
    </script>
    <div class="panel panel-default rptMargin" ng-hide="supplierList==true">
        <div class="panel-body rptMargin">
            <div class="col-sm-10">
                <div class="rptHeader">Supplier Purchase Return Report</div>
            </div>
            <div class="pull-right" style="padding:7px;">
                <button type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data"ng-hide="check > 60"
                        csv-header="['Branch', 'Return No', 'Return Date', 'Invoice No', 'GRN', 'Invoice Date', 'Name', 'Qty', 'Cost Price', 'VAT/GST', 'Vat/GST Amount', 'Reason', 'Final Value']"
                        csv-column-order="order"
                        filename="{{fileNameNew}}.csv" onclick="setFileName()">

                    <img src="~/assets/images/csv.png" />

                </button>
                <button ng-disabled="data.length==0" ng-hide="check > 60"class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                @*<input type="image" ng-disabled="data.length==0" class="csv" src="~/assets/images/csv2.png" id="btnCSVExport" title="Export to CSV" />*@
            </div>
         </div>
        @*<div class="cName"> Name: {{search.supplier}}</div>*@
        <div id="grid" class='rptKendo' ng-hide="supplierList==true"></div>

    </div>
    <div ng-show="data.length > 0" class="row">
        <div class="col-lg-4 text-right" style="padding-right: 0px;">
            <span><b>Note: </b></span>
        </div>
        <div class="col-lg-6 text-left">
            <span>Download on Excel available only for data less than 2 months</span>
        </div>
    </div>
</div>
<style>
    .inActivecolor {
        background-color: #82f7c5;
    }
    .Activecolor {
        background-color: #fcdf9a;
    }
    #branch {
        width: 170px !important;
    }
    .csv {
        height: 32px;
        width: 45px;
        display: inline-block;
        overflow: hidden;
        text-indent: -32px;
        position: relative;
    }
</style>


        @section scripts
{
            <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
            <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
            <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
            <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
            <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

            <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
            <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
            <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

            <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
            <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
            <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
            <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
@*<script asp-append-version="true" src="~/AppScript/Accounts/CustomerReceipt/customerReceiptAppScript.js"></script>*@
            <script asp-append-version="true" src="~/AppScript/Accounts/CustomerReceipt/customerReportReceiptAppScript.js"></script>

            <script asp-append-version="true" src="~/appscript/model.js"></script>
                        <script asp-append-version="true" src="~/appscript/reports/supplierreport/supplierreportservice.js"></script>
            <script asp-append-version="true" src="~/appscript/reports/supplierreport/supplierWisePurchaseReturnCtrl.js"></script>
            <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
            <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

            <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
            <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
            <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

            <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
            <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
            <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

        }


