@{
    ViewBag.Title = "Import Stock";
    ViewBag.Menu = "ImportStock";
    int missedItemsCount = 0;
    List<int> missedItems = new List<int>();
    if (ViewBag.missedItemsCount != null) {
        missedItemsCount = ViewBag.missedItemsCount;
        missedItems = ViewBag.missedItems;
    }
    //string missedItems = Context.Request.Query["missedItems"];

}

<form action="" method="post" enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading">Import Stock</div>
        <div class="panel-body">
            @if (ViewBag.Success == true)
            {
                if (missedItemsCount == 0)
                {
                    <p style="color:forestgreen;font:bold">Stock Imported Successfully</p>
                }
                else
                {
                    <p style="color:orangered;font:bold">The product stocks item(s) are not uploaded because of data error (MRP is less than Cost of the product). The errors are in line nos:</p>
                    <ul style="color:orangered;font:bold">
                        @foreach (var item in missedItems)
                        {
                        <li>@item</li>
                        }
                    </ul>

                }
            }
            
            else
            {
                <p style="color:red;font:bold">@ViewBag.Message</p>
            }
            <div class='row'>
                <div class='col-sm-10 col-xs-10 col-lg-4'>
                    <div class='form-group'>
                        <div class="input-group">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                <span class="fileupload-preview" style="color: black"></span>
                                <span class="btn btn-style btn-file">
                                    <span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="file" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                </span>
                                <button type="submit" class="btn btn-style">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a asp-action="Download" asp-controller="ImportStock" class="list-group-item pink-border">Template</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appScript/ETL/appScript.js"></script>
    <script asp-append-version="true" src="~/appScript/ETL/importCtrl.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>
}