﻿@using Utilities.Helpers
@model HQue.Contract.Infrastructure.UserAccount.HQueUser
@{
    Layout = null;
}

<div class="panel panel-default panelBorder override_margin">
    <div class='row override_margin'>
        <div class='col-sm-2 override_margin'>
            <div class='form-group'>
                <label>Transfer From Date</label>
                <div class="input-group override_margin col-sm-12">
                    <input title="transferDate" id="transferDate" name="transferDate" type="text" placeholder="DD/MM/YYYY" class="form-control" ng-model="search.transferDate" uib-datepicker-popup="{{format}}" ng-enter="focusNextField('transferToDate')" is-open="popup1.opened" ng-keyup="checkFromDate()" ng-change="checkFromDate()" my-date/>
                    <span class="input-group-btn wrapper-date">
                        <button type="button" class="btn btn-default btn1" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
                <span class="error" ng-show="!validFromDate">Enter correct format date</span>
            </div>
        </div>
        <div class='col-sm-2 override_margin'>
            <div class='form-group'>
                <label>Transfer To Date</label>
                <div class="input-group override_margin col-sm-12">
                    <input title="transferToDate" id="transferToDate" name="transferToDate" type="text" placeholder="DD/MM/YYYY" class="form-control" ng-model="search.transferToDate" uib-datepicker-popup="{{format}}" ng-enter="focusNextField('transferNo')" is-open="popup2.opened" ng-keyup="checkToDate()" ng-change="checkToDate()" my-date />
                    <span class="input-group-btn wrapper-date">
                        <button type="button" class="btn btn-default btn1" ng-click="open2()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
                <span class="error ng-hide" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                <span class="error" ng-show="!validToDate">Enter correct format date</span>
            </div>
        </div>
        <div class='col-sm-2 override_margin'>
            <div class='form-group'>
                <label>Transfer No.</label>
                <div class="input-group override_margin col-sm-12">
                    <input title="TransferNo" id="transferNo" name="transferNo" type="text" ng-enter="focusNextField('branch')" placeholder="Transfer No." class="form-control" ng-model="search.transferNo" />
                </div>
            </div>
        </div>
        <div class='col-sm-2 override_margin'>
            <div class='form-group'>
                <label>From Branch</label>
                <div class="input-group override_margin col-sm-12">
                    <select chosen
                            id="branch"
                            name="branch"
                            title="Branch"
                            option="filterBranchList"
                            data-placeholder="Select branch"
                            ng-model="selectedBranch"
                            ng-options="option.area for option in filterBranchList track by option.id"
                            class="form-control small"
                            ng-enter="focusNextField('searchTransfer')"
                            style="width: 160px">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class='col-sm-2 override_margin'>
            <button title="Search" id="searchTransfer" name="searchTransfer" class="btn btn-style" style="margin-top: 26px;" ng-click="transferSearch()" 
                    ng-disabled="!validDate || !validFromDate || !validToDate">
            Search</button>
            <button title="Cancel" style="margin-top: 26px;" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="col-sm-12" style="padding:0;">
        <div class="panel">
            <div class="panel-body orange-border-top list-wrapper">
                <div class="row" ng-if="list.length == 0">
                    <div class="pull-left">
                        No Records found
                    </div>
                </div>
                <input type="hidden" id="GSTEnabled" name="GSTEnabled" value="@User.GSTEnabled()" />
                <div class="row">
                    <div class="row tblHeader">
                        <div class="col-md-12 override_margin">
                            <div class="col-md-3 override_margin">
                                <span class="col-md-5 col-md-offset-1" style="padding: 0px;">Transfer Date</span>
                                <span class="col-md-6">Transfer No.</span>
                            </div>
                            <div class="col-md-6 override_margin">
                                <span class="col-md-5 override_margin">Transfer from</span>
                                <span class="col-md-5 override_margin">Transfer to</span>
                                <span class="col-md-2 override_margin">Transfer by</span>
                            </div>
                            <div class="col-md-1 override_margin">
                                <span class="col-md-12 override_margin">Net value</span>
                            </div>
                            <div class="col-md-1 override_margin">
                                <span class="col-md-12"><span ng-if="!forAccept">Status</span></span>
                            </div>
                            <div class="col-md-1 override_margin">
                                    <span class="col-md-12"></span>
                            </div>

                        </div>
                    </div>
                    <div ng-repeat="stockTransfer in list">
                        <div class="chip-style">
                            <div class="col-md-3 sell-group-decor9" style="padding-top:5px !important;line-height: 26px;">
                                <button type="button" title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                <span class="col-md-4">{{stockTransfer.transferDate | date:'dd/MM/yyyy'}}</span>
                                <span class="col-md-6" style="padding-left:28px;text-align:center;">{{stockTransfer.transferNo}}</span>
                            </div>
                            <div class="col-md-6 sell-group-decor9" style="padding-top:5px !important;line-height: 26px;">
                                <span class="col-md-5 override_margin">{{stockTransfer.instance.area}}</span>
                                <span class="col-md-5 override_margin">{{stockTransfer.toInstance.area}}</span>
                                <span class="col-md-2 override_margin">{{stockTransfer.hQueUser.name}}</span>
                            </div>
                            <div class="col-md-1 sell-group-decor9" style="padding-top:5px !important;line-height: 26px;">
                                <span class="col-md-5 override_margin">{{getStockTransferNetValue(stockTransfer)  | number: 2}}</span>
                            </div>                            
                            <div ng-if="forAccept" class="col-md-2 sell-group-decor9" style="padding-top:5px !important;line-height: 26px;">
                                <button  ng-disabled="disableAccept || (stockTransfer.transferItemCount > 0 && stockTransfer.transferItemCount != stockTransfer.stockTransferItems.length)" class="btn btn-style" title="Accept" id="Accept" ng-click="accept(stockTransfer.id, stockTransfer.stockTransferItems, stockTransfer.toInstanceId)">Accept</button>
                                <button  ng-disabled="disableRejct || (stockTransfer.transferItemCount > 0 && stockTransfer.transferItemCount != stockTransfer.stockTransferItems.length)" class="green-line-btn" title="Reject" id="Reject"ng-click="reject(stockTransfer.id, stockTransfer.stockTransferItems, stockTransfer.toInstanceId)">Reject</button>
                            </div>
                            <div ng-if="!forAccept" class="col-md-1 sell-group-decor9" style="padding-top:5px !important;line-height: 26px;">
                                <span class="col-md-6">{{stockTransfer.transferStatus == 1 ? "Pending" : stockTransfer.transferStatus == 2 ? "Rejected" : "Accepted"}}</span>
                            </div>
                            <div ng-hide="forAccept" class="col-md-1 sell-group-decor9" style="padding-top:5px !important;line-height: 26px;">
                                <span class="glyphicon glyphicon-print" style="cursor: pointer; padding:4px; margin: 1px;" ng-click="printBill(stockTransfer,transferSettings)" ></span>
                            </div>

                        </div>
                        <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                            <table class="table override_margin">
                                <thead class="chips-header">
                                    <tr>
                                        <th style="width:5%">S. No.</th>
                                        <th>Product</th>
                                        <th ng-show="!transferSettings">Strip</th>
                                        <th>No of Strips</th>
                                        <th  ng-show="!transferSettings">Units / Strip</th>
                                        <th>Batch No.</th>
                                        <th>Expiry Date</th>
                                        <th>Price/{{(transferSettings == true ? "Unit" : "Strip") }}</th>
                                        <th>{{enableSelling ? 'Selling' : 'MRP'}}/{{(transferSettings == true ? "Unit" : "Strip") }}</th>
                                        <th ng-show="enableSelling">MRP/{{(transferSettings == true ? "Unit" : "Strip") }}</th>
                                        @*@if (User.GSTEnabled() == "False")
                                        {*@
                                        <th ng-show="stockTransfer.taxRefNo == 0">Vat%</th>
                                        @*}*@
                                        <th ng-show="stockTransfer.taxRefNo == 1">GST%</th>
                                        <th>Tax Value</th>
                                        <th>Total Tax Amount</th>
                                        <th>Net Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="table-decor">
                                    
                                    <tr ng-repeat="stockTransferItem in stockTransfer.stockTransferItems">
                                        <td align="left" style="width:5%">{{$index+1}}</td>
                                        <td align="left" class="txtUpper" style="width:145px;white-space:nowrap;">{{stockTransferItem.productStock.product.name}}</td>
                                        <td ng-show="!transferSettings">{{stockTransferItem.noofStrip}}</td>
                                        @*<td ng-show="!transferSettings">{{(stockTransferItem.productStock.packageSize > 0 ? (stockTransferItem.quantity / stockTransferItem.productStock.packageSize) : 0)}}</td>*@
                                        <td ng-show="!transferSettings">{{stockTransferItem.quantity1}}@*{{(transferSettings == true ? stockTransferItem.quantity : (stockTransferItem.quantity / stockTransferItem.productStock.packageSize))}}*@</td>
                                        <td ng-show="transferSettings" >{{stockTransferItem.quantity1}}</td>
                                        <td ng-show="!transferSettings">{{stockTransferItem.packageSize}}</td>
                                        @*<td  ng-show="!transferSettings">
                                            <input  ng-disabled="!forAccept" type="text" class="form-control form-control-small" ng-model="stockTransferItem.packageSize" name="packageSize"  maxlength="4" numbers-only ng-change="CalculateQty(stockTransferItem)"/>
                                        </td>*@
                                        <td>
                                            <input ng-disabled="chkDisableBatch(stockTransferItem.productStockId)" type="text" class="form-control form-control-small" ng-model="stockTransferItem.productStock.batchNo" name="batchNo" />
                                        </td>
                                        <td>{{stockTransferItem.productStock.expireDate | date:'MM/yy'}}</td>
                                        <td>{{(transferSettings ? (stockTransferItem.productStockId != "" ? stockTransferItem.productStock.purchasePrice : (stockTransferItem.productStock.purchasePrice / stockTransferItem.productStock.packageSize)) : (stockTransferItem.productStockId != "" ? (stockTransferItem.productStock.purchasePrice  *  stockTransferItem.productStock.packageSize) : stockTransferItem.productStock.purchasePrice)) | number: 2}}</td>
                                        <td>{{(transferSettings ? (stockTransferItem.productStockId != "" ? stockTransferItem.productStock.sellingPrice : (stockTransferItem.productStock.sellingPrice / stockTransferItem.productStock.packageSize)) : (stockTransferItem.productStockId != "" ? (stockTransferItem.productStock.sellingPrice  *  stockTransferItem.productStock.packageSize) : stockTransferItem.productStock.sellingPrice)) | number: 2}}</td>
                                        <td ng-show="enableSelling">{{(transferSettings ? (stockTransferItem.productStockId != "" ? stockTransferItem.productStock.mrp : (stockTransferItem.productStock.mrp / stockTransferItem.productStock.packageSize)) : (stockTransferItem.productStockId != "" ? (stockTransferItem.productStock.mrp  *  stockTransferItem.productStock.packageSize) : stockTransferItem.productStock.mrp)) | number: 2}}</td>
                                       
                                        @*@if (User.GSTEnabled() == "False")
                                        {*@
                                            <td ng-show="stockTransfer.taxRefNo == 0">{{stockTransferItem.productStock.vat}}</td>
                                        @*}*@
                                       
                                        <td ng-show="stockTransfer.taxRefNo == 1">{{stockTransferItem.productStock.gstTotal}}</td>
                                        <td>{{(transferSettings ? (stockTransferItem.productStockId != "" ? getProductStock(stockTransferItem).taxValue() : (getProductStock(stockTransferItem).taxValue() / stockTransferItem.productStock.packageSize)) : (stockTransferItem.productStockId != "" ? (getProductStock(stockTransferItem).taxValue()  *  stockTransferItem.productStock.packageSize) : getProductStock(stockTransferItem).taxValue()))  | number: 2}}</td>
                                        <td>{{(transferSettings ? (stockTransferItem.productStockId != "" ? getProductStock(stockTransferItem).totalVatValue() :(getProductStock(stockTransferItem).totalVatValue() / stockTransferItem.productStock.packageSize ) ) : (stockTransferItem.productStockId != "" ? (getProductStock(stockTransferItem).totalVatValue() * (stockTransferItem.quantity / stockTransferItem.productStock.packageSize) ): ((getProductStock(stockTransferItem).totalVatValue() / stockTransferItem.productStock.packageSize) * (stockTransferItem.quantity / stockTransferItem.productStock.packageSize) )  )) | number: 2}}</td>
                                        <td>{{ (transferSettings ? (stockTransferItem.productStockId != "" ? getProductStock(stockTransferItem).netValue() :(getProductStock(stockTransferItem).netValue() / stockTransferItem.productStock.packageSize ) ) : (stockTransferItem.productStockId != "" ? (getProductStock(stockTransferItem).netValue() * (stockTransferItem.quantity / stockTransferItem.productStock.packageSize) ): ((getProductStock(stockTransferItem).netValue() / stockTransferItem.productStock.packageSize) * (stockTransferItem.quantity / stockTransferItem.productStock.packageSize) )  )) | number: 2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="stockTransfer.comments != undefined" class="chips-header row">
                                <div class="pull-left" style="padding:5px">
                                    Comment : {{stockTransfer.comments}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }

