﻿@using Utilities.Helpers
@model HQue.Contract.Infrastructure.UserAccount.HQueUser
<script type="text/ng-template" id="productBatchDetails">
    <div class="popup-overlay form-popup large-Modal">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:1200px;border-color:#3DB29F;" modal="shouldBeOpen">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3 style="background-color:#28465a;">Select Batch - &nbsp; &uarr; or &darr; </h3>
                    <ng-form id="productDetails" name="productDetails">
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row form-data">
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin sell-group-decor12">
                                        <input type="text" focus-me="shouldBeOpen" ng-keydown="keyPress($event)" style="text-align:center;border:none" readonly ng-model="selectedProductName" />
                                        <table rules="cols" class="col-md-12" id="detail" style="font-size:small;">
                                            <thead>
                                                <tr style="background-color:#e6e2e2;">
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">{{(TransferQtyType == true? 'Avail.Qty' : 'Avail.Strip')}}</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Batch</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Expiry</label>
                                                    </th>
                                                    @if (User.GSTEnabled() == "False")
                                                    {
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">VAT%</label>
                                                        </th>
                                                    }
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">GST%</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Each Cost</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Each {{enableSelling ? 'Selling' : 'MRP'}}</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper" ng-show="enableSelling">
                                                        <label style="font-size:small;" align="center">Each MRP</label>
                                                    </th>                                                    
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">{{enableSelling ? 'Selling' : 'MRP'}}</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper" ng-show="enableSelling">
                                                        <label style="font-size:small;" align="center">MRP</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Units/Strip (PACKING)</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Profit % On {{enableSelling ? 'Selling' : 'MRP'}}</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Rack No.</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Generic</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Category</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Age(Days)</label>
                                                    </th>
                                                    <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                        <label style="font-size:small;" align="center">Supplier</label>
                                                    </th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody tabindex="0" ng-keydown="keyPress($event,$index)">
                                                <tr ng-repeat="list1 in batchList1" ng-click="selectRow(($index+1),list1.packageSize,$index)" ng-class="{highlight1: ($index+1) === isSelectedItem}">
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="right">
                                                        {{(TransferQtyType == true? list1.availableQty :  (availStrip(list1.totalStock,list1.packageSize) | number : 0) )}}
                                                    </td>
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="left">
                                                        {{list1.batchNo}}
                                                    </td>
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="left">
                                                        {{list1.expireDate | date:'MM/yy' }}
                                                    </td>
                                                    @if (User.GSTEnabled() == "False")
                                                    {
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="right">
                                                            {{list1.vat}}
                                                        </td>
                                                    }
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="left">
                                                        {{list1.gstTotal}}
                                                    </td>
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{list1.purchasePrice | number:2 }}
                                                    </td>
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{list1.sellingPrice | number:2 }}
                                                    </td>
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right" ng-show="enableSelling">
                                                        {{list1.mrp | number:2 }}
                                                    </td>                                                    
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{list1.sellingPrice * list1.packageSize  | number:2}}
                                                    </td>
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right" ng-show="enableSelling">
                                                        {{list1.mrp * list1.packageSize  | number:2}}
                                                    </td>
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="right">

                                                        <input type="text" class="form-control" required placeholder="Packing" ng-disabled="isDisabled == true" id="packageSize" ng-model="list1.packageSize" 
                                                                 valid-number maxlength="9" ng-change="checkSelectRow(($index+1),list1.packageSize,$index)" />
                                                    </td>
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="right">
                                                        {{((list1.sellingPrice-list1.purchasePrice) * 100)/ list1.sellingPrice | number:2 }}
                                                    </td>
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="left">
                                                        {{list1.product.rackNo}}
                                                    </td>
                                                    <td title="{{list1.product.genericName}}" class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                            {{list1.product.genericName| limitTo:20}}{{(list1.product.genericName.length > 30? '...': '') }}
                                                    </td>
                                                    <td title="{{list1.product.category}}"  class="col-md-1 input-group trimLR sell-group-decor txtUpper" align="left">
                                                        {{list1.product.category| limitTo:20}}{{(list1.product.category.length > 30? '...': '') }}
                                                    </td>
                                                    <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="left">
                                                        {{list1.age}}
                                                    </td>
                                                    <td title="{{list1.vendor.name}}" class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center" align="left">
                                                        {{list1.vendor.name | limitTo:15}}{{(list1.vendor.name.length > 20? '...': '') }}
                                                    </td>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <button class="btn primary-button pull-right" ng-disabled="isSelectedItem==null" ng-hide="packValue == '' || packValue == undefined && ((selectedIndex+1) === isSelectedItem)" ng-click="addDetail((isSelectedItem - 1),selectedIndex)">Add</button>
                                <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .highlight1 {
        background-color: #28465a;
        color: white;
    }

    #detail tbody tr td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>







