﻿@{
    Layout = null;
}

<div class="panel panel-default override_margin">
    <div class="col-sm-12" style="padding:0;">
        <div class="panel">
            <div class="panel-body orange-border-top list-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <label style="color:#28465a;font-size:18px;">Batch PopUp</label>
                        <div class="row sell-group-decor5 radio">
                            <div class="input-group override_margin" style="float:left;">
                                <input title="BatchType" type="radio" value="1" ng-model="transferSettings.productBatchDisplayType" name="batchType" id="batchType" />
                                <label for="batchType">Enable</label>
                            </div>
                            <div class="input-group override_margin" style="float:left;">
                                <input title="ProductType" type="radio" value="2" name="productType" ng-model="transferSettings.productBatchDisplayType" id="productType" />
                                <label for="productType">Disable</label>
                            </div>
                        </div>
                        <label style="color:#28465a;font-size:18px;">Transfer Qty Based On</label>

                        <div class="common-radio-button">

                            <div class="row sell-group-decor5 radio">
                                <div style="float:left;">
                                    <input type="radio" id="qtyType-Strip" name="qtyType-Strip" ng-model="transferQtyType" value="0">
                                    <label for="qtyType-Strip">Strip</label>
                                </div>
                                <div style="float:left;">
                                    <input type="radio" id="qtyType-Unit" name="qtyType-Strip" ng-model="transferQtyType" value="1">
                                    <label for="qtyType-Unit">Unit</label>
                                </div>
                            </div>
                            @*<div class="col-md-12 override_margin ">

                                        <button title="Save Batch List Type" id="SaveBatchType"  class="btn btn-style pull-left" ng-click="saveSettings()">Save Type</button>
                                </div>*@
                        </div>
                        <br />
                        <!-- Added by arun for expiry date for product-->
                        <label style="color:#28465a;font-size:18px;">Show only Expired Products</label>

                        <div class="common-radio-button">

                            <div class="row sell-group-decor5 radio">
                                <div style="float:left;">
                                    <input type="radio" id="Expdate-yes" name="Expdate-yes" ng-model="ShowExpDateQty" value="1">
                                    <label for="Expdate-yes">Yes</label>
                                </div>
                                <div style="float:left;">
                                    <input type="radio" id="Expdate-no" name="Expdate-no" ng-model="ShowExpDateQty" value="0">
                                    <label for="Expdate-no">No</label>
                                </div>
                            </div>
                            <div class="col-md-12 override_margin ">
                                @*ng-disabled="transferSettings.productBatchDisplayType == null"*@
                                <button title="Save Batch List Type" id="SaveBatchType" class="btn btn-style pull-left" ng-click="saveSettings()">Save Type</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

