﻿<script type="text/ng-template" id="showIndentTransfer">

    <div class="popup-overlay form-popup" style="background-color: rgba(0, 0, 0, 0.7);">

        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:1500px;">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Indent Items</h3>
                    <ng-form id="showIndentTransfer" name="showIndentTransfer">
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row">
                               
                                <div>
                                    <!--<h5><b>PO Items</b></h5>-->
                                    <div class="dc-popup-list">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Expiry Date</th>
                                                    <th class="text-center">Branch</th>
                                                    <th class="text-center">OrderId</th>
                                                    <th class="text-center">VAT %</th>
                                                    <th class="text-center">GST%</th>
                                                    <th class="text-center">Units/Strip</th>
                                                    <th class="text-center">{{(TransferQtyType == true? "No.of Qty" : "No.of Strip") }}</th>
                                                    <th class="text-right">Price/{{(TransferQtyType == true? "Unit" : "Strip") }}</th>
                                                    <th class="text-right">MRP/{{(TransferQtyType == true? "Unit" : "Strip") }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               <tr ng-repeat="poItem in poVendorPurchaseItem">
                                                    <td><label><input type="checkbox" focus-me="shouldBeOpen" id="cbx{{$index+1}}" name="cbx{{$index+1}}" ng-model="poItem.isSelected" value="{{poItem.isSelected}}" ng-click="addCount(poItem.isSelected)" ng-keydown="poKeyPressDown($event)" />{{poItem.productName}}</label></td>
                                                    <td>{{poItem.productStock.expireDate | date:'dd/MM/yyyy'}}</td>
                                                   <td align="center">{{poItem.product.instance.name}}</td>
                                                    <td align="center">{{poItem.vendorOrder.orderId}}</td>
                                                    <td align="center">{{poItem.product.vat}}</td>
                                                   <td align="center">{{poItem.product.gstTotal}}</td>
                                                    <td align="center">{{poItem.packageSize}}</td>
                                                    <td align="center">{{(TransferQtyType == true? poItem.quantity : poItem.packageQty) }}</td>
                                                    <td align="right">{{poItem.packageSellingPrice | number:2}}</td>
                                                    <td align="right">{{poItem.sellingPrice | number:2}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button id="btnSubmit" name="btnSubmit" class="btn primary-button pull-right" ng-disabled="count <= 0" ng-click="addItems()">Add</button>
                                <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>

    </div>

</script>




<script type="text/ng-template" id="/itemTpl.html">

    <a tabindex="-1" class="inActivecolor" ng-if="match.model.totalstock < 0">
        <span ng-bind-template="{{match.model.name}}"></span>
    </a>
    <a tabindex="-1" class="Activecolor" ng-if="match.model.totalstock >= 0">
        <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .dc-popup-list label {
        font-size: 14px;
        line-height: 14px;
        padding: 0;
        margin: 0;
    }

        .dc-popup-list label input {
            margin: 0;
            margin-right: 5px;
        }

    .dc-popup-list table {
        width: 100%;
    }

    .dc-popup-list {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
        height: 150px;
        overflow-y: scroll;
    }

        .dc-popup-list th {
            background-color: #d7d7d7;
            font-weight: 700;
            padding: 10px;
        }

        .dc-popup-list td {
            padding: 10px;
        }

        .dc-popup-list tbody tr {
            border-bottom: 1px solid #f3f3f3;
        }

    .reminder-popup-wrap {
        padding: 10px;
    }
</style>
