@using Utilities.Helpers
@model HQue.Contract.Infrastructure.UserAccount.HQueUser
    @{
    ViewBag.Menu = "Transfer";
    ViewBag.Title = "Indent Transfer List";
    Layout = "_Layout";
}

@{ await Html.RenderPartialAsync("~/Views/StockTransfer/Menu.cshtml"); }

<div class="row" ng-app="hcue" ng-controller="stockTransferIndentCtrl" ng-cloak>
    @Html.Hidden("loggedInInstanceId", User.InstanceId())

    <div class="panel panel-default panelBorder override_margin">
        <div class='row override_margin'>
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <label>Order From Date</label>
                    <div class="input-group override_margin col-sm-12">
                        <input title="Order From Date" id="orderFromDate" name="orderFromDate" type="text" placeholder="DD/MM/YYYY" class="form-control" ng-model="search.fromDate" uib-datepicker-popup="{{format}}" ng-enter="focusNextField('orderToDate')" is-open="popup1.opened" ng-keyup="checkFromDate()" ng-change="checkFromDate()" my-date />
                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                </div>
            </div>
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <label>Order To Date</label>
                    <div class="input-group override_margin col-sm-12">
                        <input title="Order To Date" id="orderToDate" name="orderToDate" type="text" placeholder="DD/MM/YYYY" class="form-control" ng-model="search.toDate" uib-datepicker-popup="{{format}}" ng-enter="focusNextField('orderToDate')" is-open="popup2.opened" ng-keyup="checkToDate()" ng-change="checkToDate()" my-date />
                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <span class="error ng-hide" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                    <span class="error" ng-show="!validToDate">Enter correct format date</span>
                </div>
            </div>
            @*<div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <label class="required">To Branch</label>
                    <div class="input-group override_margin col-sm-12">
                        <select id="toBranch"
                                name="toBranch"
                                chosen
                                title="To branch"
                                data-placeholder="Select a branch"
                                ng-model="search.toInstance"
                                ng-options="option.name for option in toBranchs track by option.id"
                                class="form-control"                                
                                search-enabled="true"></select>
                    </div>
                </div>
            </div>*@
            
            <div class='col-sm-2 override_margin'>
                <button title="Search" id="orderSearch" name="orderSearch" class="btn btn-style" style="margin-top: 26px;" ng-click="loadActiveIndentList()"
                        ng-disabled="!validDate || !validFromDate || !validToDate">
                    Search
                </button>
                <button title="Cancel" style="margin-top: 26px;" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
            </div>
        </div>
    </div>

    <!-- Filter End-->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" ng-if="list.length == 0">
                <div class="pull-left">
                    No Records found
                </div>
            </div>
            <div class="row tblHeader">
                <div class="col-md-3">
                    <div class="col-md-5 override_margin">
                        <span class="col-md-12">Order Id</span>
                    </div>
                    <div class="col-md-7 override_margin">
                        <span class="col-md-12">Order Date</span>
                    </div>
                </div>
                <div class="col-md-3 override_margin">
                    <span class="col-md-12">Branch Name</span>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3 override_margin">
                        No.of Products
                    </div>
                    <div class="col-md-3 override_margin">
                        Transferred
                    </div>
                    <div class="col-md-2 override_margin">
                        Partial
                    </div>
                    <div class="col-md-2 override_margin">
                        Pending
                    </div>
                </div>
            </div>
            <div ng-repeat="order in list">
                <div class="row chip-style">
                    <div class="col-md-3">
                        <div class="col-md-5 margin-top-5 override_margin">
                            <button type="button" title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                            <span class="col-md-12">{{order.orderId}}</span>
                        </div>
                        <div class="col-md-7 margin-top-5">
                            {{order.orderDate | date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="col-md-3 margin-top-5">
                        {{order.instance.name}}
                    </div>
                    <div class="col-md-5 text-center margin-top-5">
                        <div class="col-md-3">
                            {{order.vendorOrderItem.length}}
                        </div>
                        <div class="col-md-3" >
                            {{getTransferredCount(order)}}
                        </div>
                        <div class="col-md-3">
                            {{order.partialCount}}
                        </div>
                        <div class="col-md-3">
                            {{order.pendingCount}}
                        </div>
                    </div>
                    <div class="pull-right margin-5">
                        <button class="btn btn-style" title="Transfer" ng-click="btnTransfer(order)">Transfer</button>
                    </div>
                </div>

                <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                    <table class="table">
                        <thead class="chips-header">
                            <tr>
                                <th class="text-left">S.no</th>
                                <th>Product</th>
                                <th>Units/Strip</th>
                                <th>No.of Strips</th>
                                <th>Free Qty</th>
                                <th>Requested Qty</th>
                                <th>Transferred Qty</th>
                                <th>Pending Qty</th>
                                <th>Available Qty</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-decor">
                            <tr ng-repeat="item in order.vendorOrderItem">
                                <td class="text-left">{{$index+1}}</td>
                                <td class="text-left">{{item.productStock.product.name}}</td>
                                <td class="text-left">{{item.packageQty}}</td>
                                <td class="text-left">{{item.packageSize}}</td>
                                <td class="text-left">{{item.freeQty}}</td>
                                <td class="text-left">{{item.quantity}}</td>
                                <td class="text-left">{{item.receivedQty}}</td>
                                <td class="text-left">{{item.quantity-item.receivedQty}}</td>
                                <td class="text-left">{{item.productStock.stock}}</td>
                                <td class="text-left">
                                    {{item.receivedQty == 0 ? 'Pending' : (item.quantity == item.receivedQty ? 'Transferred' : 'Partial') }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .margin-5 {
        margin: 5px;
    }
    .margin-top-5 {
        margin-top: 5px;
    }
</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/appscript/appScriptDatePicker.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appScript/stockTrnasfer/stockTransferService.js"></script>
    <script asp-append-version="true" src="~/appscript/stockTrnasfer/stockTransferIndentCtrl.js"></script>
}
