@using Utilities.Helpers
@model HQue.Contract.Infrastructure.UserAccount.HQueUser
@{
    ViewBag.Menu = "Transfer";
    ViewBag.Title = "Transfer";
    Layout = "_Layout";
}

@{ await Html.RenderPartialAsync("~/Views/StockTransfer/Menu.cshtml"); }
<div ng-app="hcue" ng-controller="stockTransferCreateCtrl" ng-cloak>
    @Html.Hidden("loggedInInstanceId", User.InstanceId())
    <ng-form role="form" id="stockTransfer" name="stockTransfer" autocomplete="off">
        <div class="panel panel-default panelBorder override_margin">
            <div class='row override_margin'>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label class="required">From Branch</label>
                        <div class="input-group override_margin col-sm-12">
                            <select id="fromBranch"
                                    ng-change="getToInstance(model.fromInstance.id)"
                                    name="fromBranch"
                                    chosen
                                    autofocus
                                    title="From branch"
                                    data-placeholder="Select a branch"
                                    ng-model="model.fromInstance"
                                    ng-options="option.name for option in fromBranchs track by option.id"
                                    class="form-control"
                                    search-enabled="true"></select>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label class="required">To Branch</label>
                        <div class="input-group override_margin col-sm-12">
                            <select id="toBranch"
                                    name="toBranch"
                                    chosen
                                    title="To branch"
                                    data-placeholder="Select a branch"
                                    ng-model="model.toInstance"
                                    ng-options="option.name for option in toBranchs track by option.id"
                                    class="form-control"
                                    ng-disabled="autoIndentTransfer && fromVendorPurchaseTransfer == false"
                                    search-enabled="true">
                                <option value="">Select a branch</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Transfer No.</label>
                        <div class="input-group override_margin col-sm-12">
                            <input title="TransferNo" id="transferNo" name="transferNo" ng-Model="model.transferNo" type="text" disabled class="form-control" />
                        </div>
                    </div>
                </div>
                @if (User.AccountId() == "c503ca6e-f418-4807-a847-b6886378cf0b" || User.AccountId() == "74953f95-b9fc-43bf-bad0-49644bcbcc45" || User.InstanceId() == "d9e1f62d-e4f3-4dc1-95d2-0ecfbb62d1b6" || User.AccountId()=="63ED272D-1122-4E04-AFE8-C5A0F13B4F0E")
                {
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <label>&nbsp;</label>
                            <div ng-show="model.fromInstance.isHeadOffice == true && !autoIndentTransfer">
                                <button ng-disabled="disableIT" title="Indent Transfer" class="btn btn-grey form-control" ng-click="showIndentTransfer(model.toInstance.id)">Indent Transfer</button>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-sm-3 override_margin pull-right" ng-show="autoIndentTransfer && fromVendorPurchaseTransfer == false" style="margin-top:20px !important;">
                    <div class='col-sm-5 override_margin'>
                        <strong>Order Id : </strong>{{indentStockTransfer.orderId}}
                    </div>
                    <div class='col-sm-7 override_margin'>
                        <strong>Order Date : </strong>{{indentStockTransfer.orderDate | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="col-sm-4 override_margin pull-right" ng-show="autoIndentTransfer && fromVendorPurchaseTransfer" style="margin-top:20px !important;">
                    <div class='col-sm-5 override_margin'>
                        <strong>GRN No : </strong>{{indentStockTransfer.orderId}}
                    </div>
                    <div class='col-sm-7 override_margin'>
                        <strong>Invoice Date : </strong>{{indentStockTransfer.orderDate | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
            </div>
            <ng-form role="form" id="transferProduct" name="transferProduct" autocomplete="off">
                <div class="panel panel-default override_margin">
                    <div class="panel-body override_margin">
                        <div class='row'>
                            <div class='col-sm-3 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 purchase-product trimLR override_margin">
                                        <label class="required">Product Name</label>
                                        <input type="text" ng-model="productToAdd.selectedProduct"
                                               typeahead-focus-on-select="false"
                                               typeahead-min-length=""
                                               placeholder="Product"
                                               ng-disabled="((productToAdd.isNew == true || disableNT)? 'disabled':'') || autoIndentTransfer"
                                               id="drugName"
                                               name="drugName"
                                               title="Product Name"
                                               typeahead-on-select="onProductSelect('')"
                                               typeahead-editable="false" typeahead-template-url="itemTpl.html"
                                               uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                                               class="form-control form-control-small"  ng-enter="getProduct()"/>
                                        <div role="alert" ng-if="productToAdd.selectedProduct == null && transferProduct.drugName.$dirty">
                                            <span class="error override_margin">required</span>
                                        </div>
                                        <span class="error override_margin" ng-show="showFullQtyError">Total quantity already selected</span>
                                        <span class="highlight" style="margin-left:0px">{{eancodeAlert}}</span>

                                        <script type="text/ng-template" id="itemTpl.html">

                                            <a tabindex="-1" class="productddl">
                                                <span class='global local'>L </span><span class="gap"> </span>
                                                <span ng-bind-template="{{match.model.name}}"></span>
                                            </a>
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-1 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label class="required">{{(transferSettings == true? 'Quantity' : 'Strip') }}</label>
                                        <input type="text" class="form-control form-control-small" autocomplete="off" numbers-only ng-model="TransferQty" ng-change="asignQty()" name="quantity" id="quantity" maxlength="10" ng-keydown="focusNextField($event,'batchNo')" valid-number placeholder="0" />
                                    </div>
                                </div>
                                <div role="alert" ng-if="(validateQuantity() != '') && transferProduct.quantity.$dirty">
                                    <span class="error override_margin">{{validateQuantity()}}</span>
                                </div>
                            </div>
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label class="required">Batch No.</label>
                                        <select id="batchNo"
                                                name="batchNo"
                                                ng-change="batchSelected(productToAdd.batch, productToAdd)"
                                                chosen
                                                title="Batch No"
                                                data-placeholder="Select a batch"
                                                ng-model="productToAdd.batch"
                                                ng-options="option.batchNo +'['+ (transferSettings == true ? option.availableQty : ( availStrip(option.availableQty,option.packageSize)  | number : 0)) +']' for option in batchs track by option.id"
                                                class="form-control"
                                                ng-disabled="((productToAdd.isNew == true ||  disableNT )? 'disabled':'') || autoIndentTransfer"
                                                ng-keydown="batchNoKeyDown($event)"
                                                search-enabled="true"></select>
                                    </div>
                                    <div role="alert" ng-if="(productToAdd.batch == null) && transferProduct.batchNo.$dirty && productToAdd.isNew !== true">
                                        <span class="error override_margin">required</span>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-1 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label>Expire Date</label>
                                        <input type="text" disabled class="form-control form-control-small" value="{{productToAdd.expireDate | date:'MM/yy'}}" name="expireDate" />
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-1 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label>Price/{{(transferSettings == true? 'Unit' : 'Strip') }}</label>
                                        <input type="text" id="unitPrice" ng-disabled="productToAdd.isNew != true || autoIndentTransfer" ng-keyup="focusNextField($event,'mrpUnit')" ng-change="focusNextField($event,'mrpUnit')" class="form-control form-control-small" ng-model="productToAdd.purchasePrice" decimal-Places step="0.01" name="unitPrice">
                                    </div>
                                </div>
                                <div role="alert" ng-if="(validateUnitPrice() != '') && transferProduct.unitPrice.$dirty">
                                    <span class="error override_margin">{{validateUnitPrice()}}</span>
                                </div>
                            </div>
                            <div class='col-sm-1 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label>{{enableSelling ? 'Selling' : 'MRP'}}/{{(transferSettings == true? 'Unit':'Strip')}}</label>
                                        <input type="text" id="mrpUnit" ng-disabled="productToAdd.isNew != true || autoIndentTransfer" ng-keyup="focusNextField($event,'')" ng-change="focusNextField($event,'')" class="form-control form-control-small" ng-model="productToAdd.sellingPrice" decimal-Places step="0.01" name="sellingPrice" />
                                    </div>
                                </div>
                                <div role="alert" ng-if="productToAdd.purchasePrice > productToAdd.sellingPrice">
                                    <span class="error override_margin">{{validateUnitPrice()}}</span>
                                </div>
                            </div>
                            <div class='col-sm-1 override_margin' ng-show="enableSelling">
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label>MRP/{{(transferSettings == true? 'Unit':'Strip')}}</label>
                                        <input type="text" id="sellingMrpUnit" ng-disabled="productToAdd.isNew != true || autoIndentTransfer" ng-keyup="focusNextField($event,'')" ng-change="focusNextField($event,'')" class="form-control form-control-small" ng-model="productToAdd.mrp" decimal-Places step="0.01" name="mrp" />
                                    </div>
                                </div>
                                <div role="alert" ng-if="enableSelling==true && productToAdd.mrp<productToAdd.sellingPrice">
                                    <span class="error override_margin">MRP must be greater than or equal to selling price</span>
                                </div>
                            </div>
                            <input type="hidden" id="GSTEnabled" name="GSTEnabled" value="@User.GSTEnabled()" />
                            @if (User.GSTEnabled() == "False")
                            {
                                <div class='col-sm-1 override_margin'>
                                    <div class='form-group'>
                                        <div class="input-group col-sm-12 trimLR override_margin">
                                            <label>Vat %</label>
                                            <input type="text" disabled class="form-control form-control-small" ng-model="productToAdd.vat" name="vat" />
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class='col-sm-1 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label>GST %</label>
                                        <input type="text" disabled class="form-control form-control-small" ng-model="productToAdd.gstTotal" name="gst" 
                                                ng-if="taxValuesList.length<=0" />
                                    
                                    <select id="gstTotal" name="gstTotal" class="form-control" title="GST Total" 
                                            data-ng-model="productToAdd.gstTotal"
                                            ng-disabled="(taxValuesList | filter: { tax: productToAdd.gstTotal } : true).length != 0 && productToAdd.gstTotal != 0 ||(taxValuesList | filter: { tax: productToAdd.gstTotal } : true).length == 0" 
                                           
                                           
                                             
                                          
                                            ng-if="taxValuesList.length>0">
                                        <option ng-repeat="tax in taxValuesList" value="{{tax.tax}}" ng-selected="productToAdd.gstTotal=={{tax.tax}}">{{tax.tax}}</option>
                                       
                                    </select>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-8 override_margin'>
                                @*<div class='col-sm-2 override_margin'>
                                        <div class='form-group'>
                                            <div class="input-group col-sm-12 trimLR override_margin">
                                                <label>Gross Value</label>
                                                <input type="text" disabled class="form-control form-control-small" value="{{productToAdd.grossValue() | number: 2 }}" name="sellingPrice" />
                                            </div>
                                        </div>
                                    </div>*@
                                <div class='col-sm-1 override_margin' ng-show="model.fromInstance.gsTinNo != model.toInstance.gsTinNo">
                                    <div class='form-group'>
                                        <div class="input-group col-sm-12 trimLR override_margin">
                                            <label>IGST %</label>
                                            <input type="text" disabled class="form-control form-control-small" ng-model="productToAdd.igst" name="igst" />
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-1 override_margin' ng-show="model.fromInstance.gsTinNo == model.toInstance.gsTinNo">
                                    <div class='form-group'>
                                        <div class="input-group col-sm-12 trimLR override_margin">
                                            <label>CGST %</label>
                                            <input type="text" disabled class="form-control form-control-small" ng-model="productToAdd.cgst" name="cgst" />
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-1 override_margin' ng-show="model.fromInstance.gsTinNo == model.toInstance.gsTinNo">
                                    <div class='form-group'>
                                        <div class="input-group col-sm-12 trimLR override_margin">
                                            <label>SGST %</label>
                                            <input type="text" disabled class="form-control form-control-small" ng-model="productToAdd.sgst" name="sgst" />
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-1 override_margin'>
                                    <div class='form-group'>
                                        <div class="input-group col-sm-12 trimLR override_margin">
                                            <label>Tax Value</label>
                                            <input type="text" disabled class="form-control form-control-small" value="{{productToAdd.taxValue() | number: 2}}" name="cst" />
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-2 override_margin'>
                                    <div class='form-group'>
                                        <div class="input-group col-sm-12 trimLR override_margin">
                                            <label>Total Tax Amount</label>
                                            <input type="text" disabled class="form-control form-control-small" value="{{productToAdd.totalVatValue() | number: 2}}" />
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-2 override_margin'>
                                    <div class='form-group'>
                                        <div class="input-group col-sm-12 trimLR override_margin">
                                            <label>Net Amount</label>
                                            <input type="text" disabled class="form-control form-control-small" value="{{productToAdd.netValue() | number: 2}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-4 override_margin'>
                                <div class='col-sm-4 override_margin pull-right'>
                                    <div class='form-group'>
                                        <label>&nbsp;</label>
                                        <button title="Add Stock" id="addStock" class="btn btn-small btn-style form-control" ng-disabled="productToAdd.selectedProduct == null || validateQuantity() !== '' || validateUnitPrice() !== '' || (productToAdd.batch == null && productToAdd.isNew == false)||(taxValuesList | filter: { tax: productToAdd.gstTotal } : true).length == 0" ng-click="addProduct()">Add Product</button>
                                    </div>
                                </div>
                                <div class='col-sm-3 override_margin pull-right'>
                                    <div class='form-group'>
                                        <label>&nbsp;</label>
                                        <button title="Reset" class="btn btn-grey form-control" ng-click="reset()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-form>
            <div class="panel panel-default override_margin">
                <div class="row">
                    <div class="table-decor">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="table-header-decor">Product</th>
                                    <th class="table-header-decor">{{(transferSettings == true? 'Quantity' : 'Strip') }}</th>
                                    <th class="table-header-decor">Batch No.</th>
                                    <th class="table-header-decor">Expire Date</th>
                                    <th class="text-right table-header-decor">Price/{{(transferSettings == true? 'Unit' : 'Strip') }}</th>
                                    <th class="text-right table-header-decor">{{enableSelling ? 'Selling' : 'MRP'}}/{{(transferSettings == true? 'Unit' : 'Strip') }}</th>
                                    <th class="text-right table-header-decor" ng-show="enableSelling">MRP/{{(transferSettings == true? 'Unit' : 'Strip') }}</th>
                                    @if (User.GSTEnabled() == "False")
                                    {
                                        <th class="text-center table-header-decor">Vat%</th>
                                    }
                                    <th class="text-center table-header-decor">GST%</th>
                                    <th class="text-center table-header-decor">Tax Value</th>
                                    <th class="text-right table-header-decor">Total Tax Amount</th>
                                    <th class="text-right table-header-decor">Net Amount</th>
                                    <th class="table-header-decor"><span class="glyphicon glyphicon-minus-sign"></span></th>
                                </tr>
                            </thead>
                            <tbody class="table-decor">
                                <tr ng-repeat="productStock in addedTransfer">
                                    <td class="text-left no-border-bg">{{(productStock.selectedProduct.product == undefined? productStock.selectedProduct.name : productStock.selectedProduct.product.name)}}</td>
                                    <td class="text-center text-left no-border-bg">{{(transferSettings == true ? productStock.quantity : (model.fromInstance.isHeadOffice == true && disableIT == false? productStock.packageQty : (productStock.quantity/productStock.selectedProduct.packageSize)))}}</td>
                                    <td class="text-center text-left no-border-bg">{{productStock.batchNo}}</td>
                                    <td class="text-center no-border-bg" align="center">{{(productStock.expireDate == '0001-01-01T00:00:00'? '-' : (productStock.expireDate | date:'MM/yy'))}}</td>
                                    <td class="text-right no-border-bg" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">{{productStock.purchasePrice  | number: 2}}</td>
                                    <td class="text-right no-border-bg">{{productStock.sellingPrice  | number: 2}}</td>
                                    <td class="text-right no-border-bg" ng-show="enableSelling">{{productStock.mrp | number: 2}}</td>
                                    @if (User.GSTEnabled() == "False")
                                    {
                                        <td class="text-center no-border-bg">{{productStock.vat}}</td>
                                    }
                                    <td class="text-center no-border-bg">{{productStock.gstTotal}}</td>
                                    <td class="text-center no-border-bg">{{productStock.taxValue() | number: 2}}</td>
                                    <td class="text-right no-border-bg">{{productStock.totalVatValue() | number: 2}}</td>
                                    <td class="text-right no-border-bg">{{productStock.netValue() | number: 2}}</td>
                                    <td class="text-left no-border-bg">
                                        <span class="glyphicon glyphicon-minus-sign" style="cursor:pointer" title="Delete" ng-click="delete(productStock)"></span>
                                        @*!productStock.isNew*@
                                        <span ng-show="model.fromInstance.isHeadOffice == true && disableIT == false || autoIndentTransfer" style="cursor: pointer;" title="Edit" ng-click="editPurchase(productStock,$index)" class="edit-done-btn"><img src="~/assets/images/edit-patient.png" style="width: 19px;margin-top:-9px" /></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panelBorder override_margin panel-bottom">
                <div class="panel-body override_margin">
                    <div class='row'>
                        <div class='col-md-8 override_margin form-group'>
                            <div class="input-group col-sm-10 trimLR override_margin">
                                <label>Comments</label><br />
                                <textarea title="comments" id="comments" name="comments" rows="5" cols="30" ng-model="model.comments"></textarea>
                            </div>
                        </div>
                        <div class='col-md-4 override_margin form-group'>
                            <div class="input-group col-sm-10 trimLR override_margin">
                                <label>Net value : </label><label>{{getNetValue() | number: 2}}</label>
                            </div>
                        </div>
                    </div>
                    @*<div class='row override_margin'>
                            <div class='col-sm-12 form-group'>
                                <div class="input-group  trimLR override_margin">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                        <span class="fileupload-preview" style="color: black"></span>
                                        <span class="btn btn-style btn-file">
                                            <span class="fileupload-new">Attach file</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input type="file" name="file" accept="image/*" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-footer clearfix">
                    <div class="row">
                        <div class="col-md-6 override_margin">
                        </div>
                        <div class="col-md-6 override_margin">
                            <button title="Transfer"
                                    id="transfer"
                                    class="btn btn-style pull-right"
                                    ng-disabled="model.fromInstance == null || model.toInstance == null || addedTransfer.length == 0 || btnclicked"
                                    ng-click="transfer()">
                                Transfer
                            </button>
                            <button title="Cancel" class="btn btn-style btn-cancel pull-right" style="margin-right: 4px;" ng-click="reset(true)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
    @{
        await Html.RenderPartialAsync("_ShowIndentTransfer");
    }
    @{
        await Html.RenderPartialAsync("_productBatchDetails");
    }
    @{
        await Html.RenderPartialAsync("_validateStockPopup");
    }
</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/stockTrnasfer/stockTransferAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appScript/productStock/productStockService.js"></script>
    <script asp-append-version="true" src="~/appScript/stockTrnasfer/stockTransferService.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/stockTrnasfer/stockTransferCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/VendorPurchase/vendorPurchaseService.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesService.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/stockTrnasfer/productBatchSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appScript/stockTrnasfer/showITItemsCtrl.js"></script>
    <script asp-append-version="true" src="~/AppScript/productStock/validateStockCtrl.js"></script>
}