@{
    ViewBag.Menu = "Transfer";
    ViewBag.Title = "Transfer List";
    Layout = "_Layout";
}

@{ await Html.RenderPartialAsync("~/Views/StockTransfer/Menu.cshtml"); }

<div ng-app="hcue" ng-controller="stockTransferSearchCtrl" ng-cloak ng-init="init(false)">
    @{ await Html.RenderPartialAsync("~/views/StockTransfer/_AcceptList.cshtml"); }
</div>
<br/>
<br />
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
<script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
<script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
<script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

<script asp-append-version="true" src="~/appscript/appScriptDatePicker.js"></script>
<script asp-append-version="true" src="~/appscript/model.js"></script>
<script asp-append-version="true" src="~/appScript/stockTrnasfer/stockTransferService.js"></script>

<script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
<script asp-append-version="true" src="~/appscript/ExternalService/printingHelper.js"></script>
<script asp-append-version="true" src="~/appscript/stockTrnasfer/stockTransferSearchCtrl.js"></script>

<script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
<script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
<link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
<link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}