﻿@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
<ul class="nav nav-tabs override_margin">
    <li class="@(ViewBag.Title == "Transfer" ? "active" : "")">
        <a asp-action="Index" asp-controller="StockTransfer">
            Transfer
        </a>
    </li>
    <li class="@(ViewBag.Title == "Transfer List" ? "active" : "")">
        <a asp-action="List" asp-controller="StockTransfer">
            List
        </a>
    </li>

    <li class="@(ViewBag.Title == "Transfer Accept" ? "active" : "")">
        <a asp-action="Accept" asp-controller="StockTransfer">
            Accept
        </a>
    </li>
    <li class="@(ViewBag.Title == "Indent Transfer List" ? "active" : "")">
        <a asp-action="ActiveIndentList" asp-controller="StockTransfer">
            Active Indent List
        </a>
    </li>
    @if (User.HasPermission(UserAccess.Settings))
    {
        <li class="@(ViewBag.Title == "Transfer Settings" ? "active" : "")">
            <a asp-action="TransferSettings" asp-controller="StockTransfer">
                Transfer Settings
            </a>
        </li>
    }
</ul>