﻿@{
    Layout = null;
}

<form role="form" [ngFormModel]="transferProduct" autocomplete="off">
    <div class="panel panel-default override_margin">
        <div class="panel-body override_margin">
            <div class='row'>
                <div class='col-sm-4 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12 trimLR override_margin">
                            <label class="required">Product Name</label>
                            <input [(ngModel)]="asyncSelected"
                                   [typeahead]="dataSource"
                                   (typeaheadLoading)="changeTypeaheadLoading($event)"
                                   (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                                   (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                   [typeaheadOptionsLimit]="7"
                                   [typeaheadOptionField]="typeaheadOptionField"
                                   placeholder="Product"
                                   class="form-control"
                                   name="selectedProduct"
                                   [ngFormControl]="selectedProductCtl"
                                   id="productCtl" />
                            <div *ngIf="typeaheadLoading===true">
                                <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
                            </div>
                            <div *ngIf="typeaheadNoResults===true" class="" style="">
                                <i class="glyphicon glyphicon-remove"></i> No Results Found
                            </div>
                            <div role="alert" [hidden]="selectedProductCtl.valid || selectedProductCtl.pristine">
                                <span class="error override_margin">required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-1 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12 trimLR override_margin">
                            <label class="required">Quantity</label>
                            <input type="text" class="form-control form-control-small" [ngFormControl]="quantityCtl" [(ngModel)]="model.quantity" name="quantity" id="quantity" (keydown)="qtyKeyDown($event.keyCode)">
                        </div>
                    </div>
                    <div role="alert" [hidden]="(quantityCtl.valid || quantityCtl.pristine || (!quantityCtl.hasError('required')))">
                        <span class="error override_margin">required</span>
                    </div>
                    <div role="alert" [hidden]="quantityCtl.valid || quantityCtl.pristine || (!quantityCtl.hasError('qtyError'))">
                        <span class="error override_margin">{{quantityCtl.getError('qtyError')}}</span>
                    </div>
                </div>
                <div class='col-sm-1 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12 trimLR override_margin">
                            <label class="required">Batch No.</label>
                            <select class="form-control form-control-small" [ngFormControl]="batchNoCtl" [(ngModel)]="model.id" name="batchNo" id="batchNo" (change)="batchSelected($event.target.value)" (keydown)="batchNoKeyDown($event.keyCode)">
                                <option *ngFor="let batch of batchs" value={{batch.id}}>
                                    {{batch.batchNo}} [{{getAvailableStock(batch)}}]
                                </option>
                            </select>
                        </div>
                        <div role="alert" [hidden]="batchNoCtl.valid || batchNoCtl.pristine">
                            <span class="error override_margin">required</span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-1 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12 trimLR override_margin">
                            <label>Expire Date</label>
                            <input type="text" disabled class="form-control form-control-small" [ngModel]="model.expireDate | date:'MM/yy'"  name="expireDate" />
                        </div>
                    </div>
                </div>
                <div class='col-sm-1 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12 trimLR override_margin">
                            <label>Unit Price</label>
                            <input type="text" disabled class="form-control form-control-small" [(ngModel)]="model.purchasePrice" name="noOfStrips">
                        </div>
                    </div>
                </div>
                <div class='col-sm-1 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12 trimLR override_margin">
                            <label>MRP/Unit</label>
                            <input type="text" disabled class="form-control form-control-small" [(ngModel)]="model.sellingPrice" name="sellingPrice" />
                        </div>
                    </div>
                </div>
                <div class='col-sm-1 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12 trimLR override_margin">
                            <label>Vat %</label>
                            <input type="text" disabled class="form-control form-control-small" [(ngModel)]="model.vat" name="vat" />
                        </div>
                    </div>
                </div>
                <div class='col-sm-1 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12 trimLR override_margin">
                            <label>Tax Value</label>
                            <input type="text" disabled class="form-control form-control-small" value="{{model.taxValue() | number:'.2'}}" name="cst" />
                        </div>
                    </div>
                </div>
                <div class='col-sm-1 override_margin'>
                    <div class='form-group'>
                        <div class="input-group col-sm-12 trimLR override_margin">
                            <label>Gross Value</label>
                            <input type="text" disabled class="form-control form-control-small" value="{{model.grossValue() | number:'.2'}}"  name="sellingPrice" />
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-8 override_margin'>
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 trimLR override_margin">
                                <label>Total Vat Amount</label>
                                <input type="text" disabled class="form-control form-control-small" value="{{model.totalVatValue() | number:'.2'}}" />
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 trimLR override_margin">
                                <label>Net Amount</label>
                                <input type="text" disabled class="form-control form-control-small" value="{{model.netValue() | number:'.2'}}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4 override_margin'>
                    <div class='col-sm-4 override_margin pull-right'>
                        <div class='form-group'>
                            <label>&nbsp;</label>
                            <button title="Add Stock" id="addStock" class="btn btn-small btn-style form-control" [ngClass]="{disabled: !transferProduct.valid}" (click)="addProduct()">Add Product</button>
                        </div>
                    </div>
                    <div class='col-sm-3 override_margin pull-right'>
                        <div class='form-group'>
                            <label>&nbsp;</label>
                            <button title="Reset" class="btn btn-grey form-control" (click)="reset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<product-list-item [addedTransfer]="addedTransfer">Loading....</product-list-item>