﻿@{
    Layout = null;
}
<form role="form" [ngFormModel]="stockTransfer" autocomplete="off">
    <div class="panel panel-default panelBorder override_margin">
        <div class='row override_margin'>
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <label class="required">From Branch</label>
                    <div class="input-group override_margin col-sm-12">
                        <select class="form-control" [ngFormControl]="fromBranchCtl" [(ngModel)]="model.fromInstanceId" name="fromBranch" id="fromBranch" (change)="getToInstance($event.target.value)">
                            <option *ngFor="let branch of fromBranchs" value={{branch.id}}>
                                {{branch.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <label class="required">To Branch</label>
                    <div class="input-group override_margin col-sm-12">
                        <select class="form-control" [ngFormControl]="toBranchCtl" [(ngModel)]="model.toInstanceId" name="toBranch">
                            <option *ngFor="let branch of toBranchs" value={{branch.id}}>
                                {{branch.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <label>Transfer No.</label>
                    <div class="input-group override_margin col-sm-12">
                        <input title="TransferNo" id="transferNo" name="transferNo" [ngModel]="model.transferNo" type="text" disabled min="0" max="100" placeholder="0" maxlength="6" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <product (productsUpdated)="productUpdated($event)" [fromInstanceId]="model.fromInstanceId">Loading...</product>

    <div class="panel panel-default panelBorder override_margin panel-bottom">
        <div class="panel-body override_margin">
            <div class='row'>
                <div class='col-md-8 override_margin form-group'>
                    <div class="input-group col-sm-10 trimLR override_margin">
                        <label>Comments</label><br />
                        <textarea title="comments" id="comments" name="comments" rows="5" cols="30" [(ngModel)]="model.comments"></textarea>
                    </div>
                </div>
                <div class='col-md-4 override_margin form-group'>
                    <div class="input-group col-sm-10 trimLR override_margin">
                        <label>Net value : </label><label>{{getNetValue() | number:'.2-3'}}</label>
                    </div>
                </div>
            </div>
            <div class='row override_margin'>
                <div class='col-sm-12 form-group'>
                    <div class="input-group  trimLR override_margin">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                            <span class="fileupload-preview" style="color: black"></span>
                            <span class="btn btn-style btn-file">
                                <span class="fileupload-new">Attach file</span>
                                <span class="fileupload-exists">Change</span>
                                <input type="file" name="file" accept="image/*" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-footer clearfix">
            <div class="row">
                <div class="col-md-6 override_margin">
                </div>

                <div class="col-md-6 override_margin">
                    <button title="Add Stock" class="btn btn-style pull-right" [ngClass]="{disabled: !isFormValid()}" (click)="transfer()">Transfer</button>
                    <button title="Cancel" class="btn btn-style btn-cancel pull-right" style="margin-right:4px;" (click)="reset()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>