﻿@{
    Layout = null;
}

<div class="panel panel-default override_margin">
    <div class="row">
        <div class="table-decor">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
                <thead>
                    <tr>
                        <th class="table-header-decor">Product</th>
                        <th class="table-header-decor">Quantity</th>
                        <th class="table-header-decor">Batch No.</th>
                        <th class="table-header-decor">Expire Date</th>
                        <th class="table-header-decor">Unit price</th>
                        <th class="table-header-decor">MRP</th>
                        <th class="table-header-decor">Vat%</th>
                        <th class="table-header-decor">Tax Value</th>
                        <th class="table-header-decor">Gross Value</th>
                        <th class="table-header-decor">Total Vat Amount</th>
                        <th class="table-header-decor">Net Amount</th>
                        <th class="table-header-decor"><span class="glyphicon glyphicon-minus-sign"></span></th>
                    </tr>
                </thead>
                <tbody class="table-decor">
                    <tr *ngFor="let productStock of addedTransfer">
                        <td class="text-left no-border-bg">{{productStock.product.name}}</td>
                        <td class="text-left no-border-bg">{{productStock.quantity}}</td>
                        <td class="text-left no-border-bg">{{productStock.batchNo}}</td>
                        <td class="text-left no-border-bg">{{productStock.expireDate | date:'MM/yy'}}</td>
                        <td class="text-left no-border-bg">{{productStock.purchasePrice}}</td>
                        <td class="text-left no-border-bg">{{productStock.sellingPrice}}</td>
                        <td class="text-left no-border-bg">{{productStock.vat}}</td>
                        <td class="text-left no-border-bg">{{productStock.taxValue() | number:'.2'}}</td>
                        <td class="text-left no-border-bg">{{productStock.grossValue() | number:'.2'}}</td>
                        <td class="text-left no-border-bg">{{productStock.totalVatValue() | number:'.2'}}</td>
                        <td class="text-left no-border-bg">{{productStock.netValue() | number:'.2'}}</td>
                        <td class="text-left no-border-bg" (click)="delete(productStock.id)"><span class="glyphicon glyphicon-minus-sign"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


