@{
    ViewBag.Menu = "Edit";
    ViewBag.Title = "Eidt - Transfer";
}

<ul class="nav nav-tabs override_margin">
    <li class="active">
        <a asp-action="Index" asp-controller="StockTransfer">
            Transfer
        </a>
    </li>
    <li>
        <a href="~/StockTransfer/List">
            List
        </a>
    </li>
    <li>
        <a href="~/StockTransfer/Accept">
            Accept
        </a>
    </li>
    <li>
        <a href="~/StockTransfer/TransferSettings">
            Transfer Settings
        </a>
    </li>
</ul>
@*@Html.Hidden("loggedInInstanceId", User.Identity.InstanceId())*@
<div ng-app="hcue" ng-controller="stockTransferUpdateCtrl" ng-cloak ng-init="init('@ViewBag.Id')">
    <ng-form role="form" id="stockTransfer" name="stockTransfer" autocomplete="off">
        <div class="panel panel-default panelBorder override_margin">
            <div class='row override_margin'>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label class="required">From Branch</label>
                        <div class="input-group override_margin col-sm-12">
                            <select id="fromBranch"
                                    ng-change="getToInstance(model.fromInstance.id)"
                                    name="fromBranch"
                                    chosen
                                    autofocus
                                    title="From branch"
                                    data-placeholder="Select a branch"
                                    ng-model="model.fromInstance"
                                    ng-options="option.name for option in fromBranchs track by option.id"
                                    class="form-control"
                                    search-enabled="true"></select>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label class="required">To Branch</label>
                        <div class="input-group override_margin col-sm-12">
                            <select id="toBranch"
                                    name="toBranch"
                                    chosen
                                    title="To branch"
                                    data-placeholder="Select a branch"
                                    ng-model="model.toInstance"
                                    ng-options="option.name for option in toBranchs track by option.id"
                                    class="form-control"
                                    search-enabled="true"></select>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Transfer No.</label>
                        <div class="input-group override_margin col-sm-12">
                            <input title="TransferNo" id="transferNo" name="transferNo" ng-Model="model.transferNo" type="text" disabled class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="model.fromInstance.isHeadOffice == true">
                <button title="Indent Transfer" class="btn btn-grey form-control" ng-click="showIndentTransfer()">Indent Transfer</button>
            </div>
        </div>

        <ng-form role="form" id="transferProduct" name="transferProduct" autocomplete="off">
            <div class="panel panel-default override_margin">
                <div class="panel-body override_margin">
                    <div class='row'>
                        <div class='col-sm-4 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <label class="required">Product Name</label>
                                    <input type="text" ng-model="productToAdd.selectedProduct"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Product"
                                           ng-disabled="(productToAdd.isNew == false? 'disabled':'') "
                                           id="drugName"
                                           name="drugName"
                                           title="Product Name"
                                           typeahead-on-select="onProductSelect('')"
                                           typeahead-editable="false"
                                           uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                                           class="form-control form-control-small " />
                                    <div role="alert" ng-if="productToAdd.selectedProduct == null && transferProduct.drugName.$dirty">
                                        <span class="error override_margin">required</span>
                                    </div>
                                    <span class="error override_margin" ng-show="showFullQtyError">Total quantity already selected</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-1 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <label class="required">Quantity</label>
                                    <input type="text" class="form-control form-control-small" autocomplete="off" numbers-only ng-model="productToAdd.quantity" name="quantity" id="quantity" maxlength="10" ng-keydown="focusNextField($event,'batchNo')" valid-number placeholder="0" />
                                </div>
                            </div>
                            <div role="alert" ng-if="(validateQuantity() != '') && transferProduct.quantity.$dirty">
                                <span class="error override_margin">{{validateQuantity()}}</span>
                            </div>
                        </div>
                        <div class='col-sm-2 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <label class="required">Batch No.</label>
                                    <select id="batchNo"
                                            name="batchNo"
                                            ng-change="batchSelected(productToAdd.batch)"
                                            chosen
                                            title="Batch No"
                                            data-placeholder="Select a batch"
                                            ng-model="productToAdd.batch"
                                            ng-options="option.batchNo +'['+ option.availableQty +']' for option in batchs track by option.id"
                                            class="form-control"
                                            ng-disabled="(productToAdd.isNew == false? 'disabled':'') "
                                            ng-keydown="batchNoKeyDown($event)"
                                            search-enabled="true"></select>
                                </div>
                                <div role="alert" ng-if="(productToAdd.batch == null) && transferProduct.batchNo.$dirty">
                                    <span class="error override_margin">required</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-1 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <label>Expire Date</label>
                                    <input type="text" disabled class="form-control form-control-small" value="{{productToAdd.expireDate | date:'MM/yy'}}" name="expireDate" />
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-1 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <label>Unit Price</label>
                                    <input type="text" id="uPrice" ng-class="(productToAdd.isNew == true? 'disabled':'') " ng-change="focusNextField($event,'mrpUnit')" class="form-control form-control-small" ng-model="productToAdd.purchasePrice" name="noOfStrips">
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-1 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <label>MRP/Unit</label>
                                    <input type="text" id="mrpUnit" ng-class="(productToAdd.isNew == true? 'disabled':'') " ng-change="focusNextField($event,'')" class="form-control form-control-small" ng-model="productToAdd.sellingPrice" name="sellingPrice" />
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-1 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <label>Vat %</label>
                                    <input type="text" disabled class="form-control form-control-small" ng-model="productToAdd.vat" name="vat" />
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-1 override_margin'>
                            <div class='form-group'>
                                <div class="input-group col-sm-12 trimLR override_margin">
                                    <label>Tax Value</label>
                                    <input type="text" disabled class="form-control form-control-small" value="{{productToAdd.taxValue() | number: 2}}" name="cst" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class='row'>
                        <div class='col-sm-8 override_margin'>
                            @*<div class='col-sm-2 override_margin'>
                                    <div class='form-group'>
                                        <div class="input-group col-sm-12 trimLR override_margin">
                                            <label>Gross Value</label>
                                            <input type="text" disabled class="form-control form-control-small" value="{{productToAdd.grossValue() | number: 2 }}" name="sellingPrice" />
                                        </div>
                                    </div>
                                </div>*@
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label>Total Vat Amount</label>
                                        <input type="text" disabled class="form-control form-control-small" value="{{productToAdd.totalVatValue() | number: 2}}" />
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group'>
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <label>Net Amount</label>
                                        <input type="text" disabled class="form-control form-control-small" value="{{productToAdd.netValue() | number: 2}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4 override_margin'>
                            <div class='col-sm-4 override_margin pull-right'>
                                <div class='form-group'>
                                    <label>&nbsp;</label>
                                    <button title="Add Stock" id="addStock" class="btn btn-small btn-style form-control" ng-disabled="productToAdd.selectedProduct == null || validateQuantity() != '' || productToAdd.batch == null" ng-click="addProduct()">Add Product</button>
                                </div>
                            </div>
                            <div class='col-sm-3 override_margin pull-right'>
                                <div class='form-group'>
                                    <label>&nbsp;</label>
                                    <button title="Reset" class="btn btn-grey form-control" ng-click="reset()">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-form>
        <div class="panel panel-default override_margin">
            <div class="row">
                <div class="table-decor">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="table-header-decor">Product</th>
                                <th class="table-header-decor">Quantity</th>
                                <th class="table-header-decor">Batch No.</th>
                                <th class="table-header-decor">Expire Date</th>
                                <th class="table-header-decor">Unit price</th>
                                <th class="table-header-decor">MRP</th>
                                <th class="table-header-decor">Vat%</th>
                                <th class="table-header-decor">Tax Value</th>
                                <th class="table-header-decor">Total Vat Amount</th>
                                <th class="table-header-decor">Net Amount</th>
                                <th class="table-header-decor"><span class="glyphicon glyphicon-minus-sign"></span></th>
                            </tr>
                        </thead>
                        <tbody class="table-decor">
                            <tr ng-repeat="productStock in addedTransfer">
                                <td class="text-left no-border-bg">{{(productStock.selectedProduct.product == undefined? productStock.selectedProduct.name : productStock.selectedProduct.product.name)}}</td>
                                <td class="text-left no-border-bg">{{productStock.quantity}}</td>
                                <td class="text-left no-border-bg">{{productStock.batchNo}}</td>
                                <td class="text-left no-border-bg">{{(productStock.expireDate == '0001-01-01T00:00:00'? '-' : (productStock.expireDate | date:'MM/yy'))}}</td>
                                <td class="text-left no-border-bg">{{productStock.purchasePrice}}</td>
                                <td class="text-left no-border-bg">{{productStock.sellingPrice}}</td>
                                <td class="text-left no-border-bg">{{productStock.vat}}</td>
                                <td class="text-left no-border-bg">{{productStock.taxValue() | number: 2}}</td>
                                <td class="text-left no-border-bg">{{productStock.totalVatValue() | number: 2}}</td>
                                <td class="text-left no-border-bg">{{productStock.netValue() | number: 2}}</td>
                                <td class="text-left no-border-bg">
                                    <span class="glyphicon glyphicon-minus-sign" style="cursor:pointer" title="Delete" ng-click="delete(productStock)"></span>
                                    <span ng-hide="vendorPurchaseItem.isEdit" style="cursor: pointer;" title="Edit" ng-click="editPurchase(productStock,$index)" class="edit-done-btn"><img src="~/assets/images/edit-patient.png" style="width: 19px;margin-top:-9px" /></span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default panelBorder override_margin panel-bottom">
            <div class="panel-body override_margin">
                <div class='row'>
                    <div class='col-md-8 override_margin form-group'>
                        <div class="input-group col-sm-10 trimLR override_margin">
                            <label>Comments</label><br />
                            <textarea title="comments" id="comments" name="comments" rows="5" cols="30" ng-model="model.comments"></textarea>
                        </div>
                    </div>
                    <div class='col-md-4 override_margin form-group'>
                        <div class="input-group col-sm-10 trimLR override_margin">
                            <label>Net value : </label><label>{{getNetValue() | number: 2}}</label>
                        </div>
                    </div>
                </div>
                @*<div class='row override_margin'>
                        <div class='col-sm-12 form-group'>
                            <div class="input-group  trimLR override_margin">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                    <span class="fileupload-preview" style="color: black"></span>
                                    <span class="btn btn-style btn-file">
                                        <span class="fileupload-new">Attach file</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="file" accept="image/*" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-footer clearfix">
                <div class="row">
                    <div class="col-md-6 override_margin">
                    </div>

                    <div class="col-md-6 override_margin">
                        <button title="Transfer" id="transfer" class="btn btn-style pull-right" ng-disabled="model.fromInstance == null || model.toInstance == null || addedTransfer.length == 0 || btnclicked " ng-click="transfer()">Transfer</button>
                        <button title="Cancel" class="btn btn-style btn-cancel pull-right" style="margin-right: 4px;" (click)="reset()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>

    @{
        await Html.RenderPartialAsync("_ShowIndentTransfer");
    }
    @{
        await Html.RenderPartialAsync("_productBatchDetails");
    }
</div>



@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/stockTrnasfer/stockTransferAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appScript/productStock/productStockService.js"></script>
    <script asp-append-version="true" src="~/appScript/stockTrnasfer/stockTransferService.js"></script>

    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/stockTrnasfer/stockTransferUpdateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/stockTrnasfer/productBatchSearchCtrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appScript/stockTrnasfer/showITItemsCtrl.js"></script>
}