﻿<script type="text/ng-template" id="smsConfigurationAlert">
    <div class="popup-overlay form-popup" data-ng-cloak>
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:800px;">
                    <div class="popup-close" data-ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>{{branch1.instanceName}} - Sms Configuration</h3>
                    <ng-form id="sms" name="sms">
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row form-data">
                                <div class="col-md-12 override_margin">
                                    <div class="col-md-4">Available Sms: {{availableSms}}</div>
                                    <div class="col-md-4">Used Sms: {{usedSms}}</div>
                                    <div class="col-md-4">Balance Sms: {{balanceSms}}</div>
                                </div>
                                <br />        <br />
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin">
                                        <div>
                                            <div class="col-md-12 override_margin">
                                                <div class='form-group'>
                                                    <label class="required col-md-2">Additional Sms Count</label>
                                                    <div class="input-group col-md-4 override_margin">
                                                        <input title="SmsCount" id="smsCount" name="smsCount" type="text" ng-model="smsConfiguration.smsCount" numbers-only required focus-me="shouldBeOpen" maxlength="10" />
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="pull-right">
                                                            <button class="btn btn-style pull-right" style="padding: 3px 14px; margin-right: 10px;" id="save" name="save" title="Save" ng-disabled="smsConfiguration.smsCount < 0 || smsConfiguration.smsCount == null || smsConfiguration.smsCount == ''" ng-click="save()">Save</button>
                                                            <button class="secondary-button" id="clear" name="clear" title="Clear" ng-click="clear()">Clear</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 override_margin">
                                                <div class='form-group'>
                                                    <label class="required col-md-12" style="float:left;">Remarks </label>
                                                    <div class="input-group col-md-8 override_margin">
                                                        <textarea type="text" title="Remarks" id="remark" required minlength="10" name="remark" ng-model="smsConfiguration.remarks" maxlength="500" />
                                                    </div>
                                                </div>
                                            </div>
                                            

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default override_margin" data-ng-show="list.length > 0">
                                    <div class="panel-body override_margin">
                                        <div>
                                            <div class="row tblHeader">
                                                <div class="col-md-2">Date</div>
                                                <div class="col-md-3">Sms Count</div>
                                                <div class="col-md-5">Remarks</div>
                                                <div class="col-md-2">Action</div>
                                            </div>
                                            <div ng-repeat="item in list">
                                                <div class="col-md-2">{{item.date | date:'dd/MM/yyyy' }}</div>
                                                <div class="col-md-3">{{item.smsCount}}</div>
                                                <div class="col-md-5">{{item.remarks}}</div>
                                                <div class="col-md-2">
                                                    <span class="glyphicon glyphicon-edit" title="Edit" id="editSms" style="cursor: pointer; padding:4px; margin: 2px;color:red;" data-ng-click="editSmsCount(item)"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="clearfix">
                                <button class="secondary-button pull-right" id="closeSms" data-ng-click="close('No')" data-dismiss="modal">Close [<span>CTRL+C</span>]</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>