@{
    ViewBag.Title = "Branch List";
    ViewBag.Menu = "Tool";
}
@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@await Html.PartialAsync("~/Views/Tool/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="branchListCtrl" ng-cloak>
    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <div class='row override_margin branch-list'>
                
                <div class='col-sm-2 w-14'>
                    <div class='form-group'>
                        <label>Select Account </label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="account"
                                    name="account"
                                    chosen
                                    title="Account Name"
                                    option="accountList"
                                    data-placeholder="Select account"                                    
                                    ng-model="selectedAccount"
                                    ng-change="getBranchListByAccount()"
                                    ng-options="account.name for account in accountList track by account.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 w-14'>
                    <div class='form-group'>
                        <label>Select Branch</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="branch"
                                    name="branch"
                                    chosen
                                    title="Branch Name"
                                    option="branchList"
                                    data-placeholder="Select branch"
                                    ng-model="selectedBranch"
                                    ng-change="getBranchList()"
                                    ng-options="branch.name for branch in branchList track by branch.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 w-14'>
                    <div class='form-group'>
                        <label>Select Area</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="area"
                                    name="area"
                                    chosen
                                    title="Area Name"
                                    option="areaList"
                                    data-placeholder="Select area"
                                    ng-model="selectedBranch"
                                    ng-change="getBranchList()"
                                    ng-options="branch.area for branch in branchList track by branch.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 w-14'>
                    <div class='form-group'>
                        <label>Select Phone</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="phone"
                                    name="phone"
                                    chosen
                                    title="Phone No"
                                    option="phoneList"
                                    data-placeholder="Select phone"
                                    ng-model="selectedBranch"
                                    ng-change="getBranchList()"
                                    ng-options="branch.phone for branch in branchList track by branch.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 w-14'>
                    <div class='form-group'>
                        <label>Select UserId</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="userid"
                                    name="userid"
                                    chosen
                                    title="User Id"
                                    option="userList"
                                    data-placeholder="Select UserId"
                                    ng-model="selectedBranch"
                                    ng-change="getBranchUserIdList()"
                                    ng-options="branch.updatedBy for branch in list track by branch.instanceId"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 w-14'>
                    <div class='form-group'>
                        <label>Offline Status</label>
                        <div class="input-group col-md-12 override_margin">
                            <select 
                                    id="offline" 
                                    name="offline" 
                                    title="Offline Status" 
                                    ng-model="offline" 
                                    ng-change="changeOptions()" 
                                    class="form-control">
                                <option value="">All</option>
                                <option value=true>Installed</option>
                                <option value=false>Not Installed</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 w-14'>
                    <div class='form-group'>
                        <label>Online Status</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="online"
                                    name="online"
                                    title="Online Status"
                                    ng-model="online"
                                    ng-change="changeOptions()"
                                    class="form-control">
                                <option value="">All</option>
                                <option value=true>Blocked</option>
                                <option value=false>Unblocked</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row  marginLR-zero'>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered br-list-tbl" id="datatable">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>Branch</th>
                            <th>Area</th>
                            <th>Phone</th>                
                            <th>Version</th>            
                            <th>Last Updated By</th>
                            <th>Updated At</th>
                            <th>Offline Status</th>
                            <th>Online Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="branch in list">
                        <tr class="chip-style">
                            <td>                                
                                @*<a class="col-md-2 chip-btn" ng-href="/tool/settings?aid={{branch.accountId}}" title="Return">+</a> &nbsp;*@ {{branch.accountName}}
                            @*<button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event,branch)">+</button> &nbsp;
{{branch.accountName}}*@</td>
                            <td>{{branch.instanceName}}</td>
                            <td>{{branch.area}}</td>
                            <td>{{branch.phone}}</td>      
                            <td>{{branch.offlineVersionNo==null ? "-" : branch.offlineVersionNo}}</td>                            
                            <td>{{branch.updatedBy}}</td>
                            <td>{{branch.updatedAt | date:'dd-MM-yyyy h:mma'}}</td>
                            <td>{{branch.isOfflineInstalled ? 'Installed' : 'Not Installed'}}</td>   
                            <td>{{branch.offlineStatus ? 'Blocked' : 'Unblocked'}}</td>     
                            <td><a ng-click="updatenable(branch,$index)" style="cursor: pointer;" class="btn  btn-style text-center" title="Update">Update</a></td>          
                                                     
                        </tr>
                        <tr>
                            <td ng-if="!branch.offlineStatus && selectedIndex == $index" colspan="10">
                                <span style="cursor: pointer;width:70px;" title="To block online" class="btn  btn-style text-center override_margin" ng-click="updateOfflineStatus(branch,true)">Block</span>
                                <span style="cursor: pointer;width:70px;" title="To block online" class="btn  btn-style text-center override_margin" ng-click="updateOfflineVersionNo(branch,true)">Upgrade</span>
                                @if (User.IsAdmin())
                                {
                                    <span style="cursor: pointer;width:145px;" title="To block online" class="btn  btn-style text-center override_margin" ng-click="showSmsPopup(branch)">Sms Configuration</span>
                                }
                                <span style="cursor: pointer;width:70px;" title="To block online" class="btn  btn-style text-center override_margin" ng-show="disSync"  ng-click="updateSync(branch,$index,true)">Sync</span>
                                <span style="cursor: pointer;width:70px;" title="To block online" class="btn  btn-style text-center override_margin" ng-show="showSync == true" ng-click="updateSync(branch,$index,false)">UnSync</span>
                                <span style="cursor: pointer;width:70px;" title="To block online" class="btn  btn-style text-center override_margin" ng-show="disLoyalty"  ng-click="updateLoyality(branch,$index,true)">Loyality</span>
                                <span style="cursor: pointer;width:70px;" title="To block online" class="btn  btn-style text-center override_margin" ng-show="showLoyal == true" ng-click="updateLoyality(branch,$index,false)">Disable Loyality</span>
                            </td>
                            <td ng-if="branch.offlineStatus && selectedIndex == $index" colspan="10">
                                <span style="cursor: pointer;width:70px;" title="To unblock online" class="btn  btn-style text-center override_margin" ng-click="updateOfflineStatus(branch,false)">UnBlock</span>
                                <span style="cursor: pointer;width:70px;" title="To unblock online" class="btn  btn-style text-center override_margin" ng-click="updateOfflineVersionNo(branch,true)">Upgrade</span>
                                @if (User.IsAdmin())
                                {
                                    <span style="cursor: pointer;width:145px;" title="To block online" class="btn  btn-style text-center override_margin" ng-click="showSmsPopup(branch)">Sms Configuration</span>
                                }
                            </td> 
                        </tr>
                        <tr class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                            <td colspan="9">
                            <div>
                                1.Hcue Product Master 
                                <div class="row override_margin">
                                <input type="checkbox" title="selectType" id="selectType" name="selectType" value="{{type1.status}}" ng-click="selectType()" ng-model="type1.status" />
                                 <span>{{type1.name}}</span>
                                </div>
                                </div>
                            </td>

                            

                        </tr>
                    </tbody>

                </table>
            </div>
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
            @{
                await Html.RenderPartialAsync("_SmsConfigurationAlert");
            }
        </div>        
    </div>


</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>  
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>    
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    @*<script asp-append-version="true" src="~/appscript/settings/settingsAppScript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>  
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script> 
    <script asp-append-version="true" src="~/appscript/settings/toolService.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/smsConfigurationCtrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" /> 
    <link asp-append-version="true" href="~/assets/css/style.css" rel="stylesheet" />
}