@{
    ViewBag.Title = "Updates and FAQ";
    ViewBag.Menu = "Tools";   
}

<div class="row panelBorder override_margin" ng-app="hcue" ng-controller="toolCtrl" ng-cloak>

    <div class="col-md-12 sell-decor1" style="margin-top:10px !important;">
        <div class="panel panel-default inputbdr">
            FAQ
        </div>

    </div>
</div>


@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscript.js"></script>
    @*<script asp-append-version="true" src="~/assets/js/jquery.maskedinput.min.js"></script>*@
<script asp-append-version="true" src="~/assets/js/file-upload.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/toolservice.js"></script> 
    <script asp-append-version="true" src="~/appscript/settings/toolctrl.js"></script>
}
