@{
    ViewBag.Title = "Tools";
    ViewBag.Menu = "Tools";   
}

<div class="row panelBorder override_margin" ng-app="hcue" ng-controller="toolCtrl" ng-cloak>

    <div class="col-md-12 sell-decor1" style="margin-top:10px !important;">
        <div class="panel panel-default inputbdr">
            <div ng-form="toolsForm">
                <div class="row">                    
                    <div class="col-md-6">
                        <div class='col-sm-4 override_margin'>
                            <div class='form-group'>
                                <label class="required">Title</label>
                                <div class="input-group override_margin col-sm-12">
                                    <input title="Title" id="toolName" required name="toolName" type="text" placeholder="Title" class="search-query form-control" ng-model="tool.toolName">
                                    <span class="error" ng-show="toolsForm.toolName.$dirty && toolsForm.toolName.$error.required">Required!</span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-4 override_margin'>
                            <div class='form-group'>
                                <label class="">Description</label>
                                <div class="input-group override_margin col-sm-12">
                                    <input title="Description" id="description" name="description" type="text" placeholder="Description" class="search-query form-control" ng-model="tool.description">
                                 </div>
                            </div>
                        </div>
                        <div class='col-sm-4 override_margin'>
                            <div class='form-group'>
                                <label class="">&nbsp;</label>
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none;">×</a>
                                <span class="fileupload-preview" style="color: black"></span>
                                <span class="btn btn-style btn-file">
                                    <span class="fileupload-new">Attach file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectFileforUpload(this.files)" required />
                                </span>
                            </div>
                            </div>
                        </div>
                     </div>
                    <div class='col-sm-6 override_margin'>
                        <div class='form-group'>
                            <label>&nbsp;</label>
                            <div class="col-md-12 override_margin">
                                <button title="Save" id="addBtn" class="btn btn-style pull-left" ng-disabled="toolsForm.$invalid" ng-click="toolCreate()">Save</button> &nbsp; &nbsp; &nbsp;
                            </div>
                        </div>
                    </div>   

                </div>                
            </div>
        </div>

    </div>


    <div class="panel panel-default">
        <div class="panel-body productlist">
            <div class='marginLR-zero table-responsive'>
                <table class="table table-striped table-bordered" id="datatable1">

                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Active</th>                       
                    </tr>

                    <tr ng-repeat="listData in list | orderBy:sortingOrder:reverse">
                        
                        <td>{{listData.toolName}}</td>
                        <td >{{listData.description}}</td>
                        <td><img src="~/uploads/tool/{{listData.image}}" width="50" /></td>                        
                        <td>
                            @*<input type="checkbox" name="status" value="{{listData.status}}" />*@
                        <input id="status" name="status" type="checkbox" ng-model="listData.status" ng-change="changeStatus($index, list)">
                    </td>
                        <!--ng-change="ChangeStatus(listData.status)" -->               
                    </tr>              
                </table>
            </div>
            @*&nbsp;
                @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }*@
        </div>
    </div>




</div>


@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscript.js"></script>
    @*<script asp-append-version="true" src="~/assets/js/jquery.maskedinput.min.js"></script>*@
<script asp-append-version="true" src="~/assets/js/file-upload.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/toolservice.js"></script> 
    <script asp-append-version="true" src="~/appscript/settings/toolctrl.js"></script>
}
