@{
    ViewBag.Title = "Issues/Requirements List";
    ViewBag.Menu = "Tool";
}

@await Html.PartialAsync("~/Views/Tool/Menu.cshtml")

    <div class="row" ng-app="hcue" ng-controller="issueListCtrl" ng-init="init('@ViewBag.Id')" ng-cloak>       
        <div class="panel panel-default sell-group-decor7">
            <div class="panel-body override_margin">
                <div class='row override_margin'>
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <label>Select type</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="type" name="type" title="Please select type" ng-model="search.select" ng-change="changeOptions()" class="form-control" required>
                                    <option value="">Select type</option>
                                    <option value="issue">Issue</option>
                                    <option value="requirement">Requirement</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <label>Select status</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="statusType" name="statusType" title="Please select status" ng-model="search.statusType" ng-change="changeStatusType()" class="form-control" required>
                                    <option value="">Select status</option>
                                    <option value="new">New</option>
                                    <option value="assigned">Assigned</option>
                                    <option value="resolved">Resolved</option>
                                    <option value="closed">Closed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class='row  marginLR-zero'>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                            <thead>
                                <tr>
                                    <th>{{isIssueType(1)}} Id</th>
                                    <th>Gathered By</th>
                                    <th>Filed Date</th>
                                    <th>{{isIssueType(2)}} Description</th>
                                    <th>Status</th>
                                    <th>Developer</th>
                                    <th>Remarks</th>
                                    <th>Updated Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="req in list">
                                <tr>
                                    <td>{{req.requirementNo}}</td>
                                    <td>{{req.gatheredBy}}</td>
                                    <td>{{getDate(req.createdAt)}}</td>
                                    <td>{{req.description}}</td>
                                    <td>
                                        <select title="To set current status" name="status" id="status" ng-model="req.status" class="form-control" required style="height:44px;width:110px;">
                                            <option value="New">New</option>
                                            <option value="Assigned">Assigned</option>
                                            <option value="Resolved">Resolved</option>
                                            <option value="Closed">Closed</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="search-query form-control" title="To enter developer name" type="text" id="solvedBy" style="height:44px;width:110px;" name="solvedBy" ng-model="req.solvedBy" />
                                    </td>
                                    <td>
                                        <textarea title="To enter additional information" name="remarks" id="remarks" ng-model="req.remarks" class="search-query form-control" placeholder="Enter remarks" no-special-char maxlength="500" style="height:80px;width:170px;"></textarea>
                                    </td>
                                    <td>{{getDate(req.solvedDate)}}</td>
                                    <td>
                                        <span style="cursor: pointer;width:65px;" title="To save changed status" class="btn  btn-style text-center" ng-click="updateStatus(req)">Update</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
                </div>
            </div>

        </div>

@section scripts
{


    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>  
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/settingsAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>    
    <script asp-append-version="true" src="~/appscript/settings/toolService.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/issueListCtrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}
