@{
    ViewBag.Title = "Live Report";
    ViewBag.Menu = "Tool";
}

@await Html.PartialAsync("~/Views/Tool/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="listReportCtrl" ng-init="init()">
    <label style="font-size:18px;"><b>Instance Wise Sales Summary Report</b></label>
    <div class="row">      
        
        <div class='col-sm-2 width-170'>    
            <label>Select Sales Date</label>       
                <div class="input-group">
                    <input type="text" class="form-control h-30" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                    <span class="input-group-btn wrapper-date">
                        <button type="button" class="btn btn-default btn1 h-30" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>          
        </div>
       <br />     
     @*<button ng-click="salesReport()">Export Sales Report</button>*@
        <button type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data" csv-header="['GroupName','PharmaName', 'City','Area','SalesNet','PurchaseNet','TotalSales','TotalPurchase']"
                csv-column-order="order" filename="SalesReport.csv" ng-click="salesReport()">

            <img src="~/assets/images/csv.png" />

        </button>
     
        @*<button class="btn btn-style" id="btnXLSExport"  title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>*@
    </div><br>
    <label style="font-size:18px;"><b>Offline Version Report</b></label>
   
       
        <button type="submit" title="Export to CSV" ng-disabled="data1.length==0" ng-csv="data1" csv-header="['Area', 'OfflineVersionNo', 'Name', 'Id', 'AccountId', 'RegistrationDate', 'Phone','Mobile','DrugLicenseNo','TinNo','ContactName','ContactMobile','ContactEmail','SecondaryName','SecondaryMobile','SecondaryEmail','ContactDesignation','Address','City','State','Pincode','Landmark','Status','DrugLicenseExpDate','BuildingName','StreetName','Country','OfflineStatus','IsOfflineInstalled','isHeadOffice','GsTinNo']"
                csv-column-order="['area' ,
          'offlineVersionNo',
        'name',
        'id', 'accountId', 'registrationDate', 'phone', 'mobile', 'drugLicenseNo', 'tinNo', 'contactName', 'contactMobile', 'contactEmail', 'secondaryName', 'secondaryMobile', 'secondaryEmail', 'contactDesignation', 'address', 'city', 'state', 'pincode', 'landmark', 'status', 'drugLicenseExpDate', 'buildingName', 'streetName', 'country', 'offlineStatus', 'isOfflineInstalled', 'isHeadOffice','gsTinNo']" filename="OfflineReport.csv" ng-click="offlineReport()">

            <img src="~/assets/images/csv.png" />

        </button>
    
    </div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>  
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    @*<script asp-append-version="true" src="~/appscript/settings/settingsAppScript.js"></script>*@
<script asp-append-version="true" src="~/appscript/settings/settingsReportAppScript .js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>  
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script> 
    <script asp-append-version="true" src="~/appscript/settings/toolService.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/listReportCtrl.js"></script>
<script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
<link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

}