﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<ul class="nav nav-tabs override_margin">
    @if (!User.IsAdmin())
    {
        <li class="@(ViewBag.Title == "Negative Stock Products" ? "active" : "")">
            <a asp-action="NegativeStock" asp-controller="Tool">
                Negative Stock Products
            </a>
        </li>
        <li class="@(ViewBag.Title == "Issues/Requirements List" ? "active" : "")">
            <a asp-action="IssueList" asp-controller="Tool">
                Issues/Requirements List
            </a>
        </li>
    }
    <li class="@(ViewBag.Title == "Branch List" ? "active" : "")">
        <a asp-action="BranchList" asp-controller="Tool">
            Branch List
        </a>
    </li>
    <li class="@(ViewBag.Title == "Live Report" ? "active" : "")">
        <a asp-action="LiveList" asp-controller="Tool">
            Live Report List
        </a>
    </li>
   
</ul>