@{
    ViewBag.Title = "Settings";
    ViewBag.Menu = "Tool";
}


<div class="row panelBorder" ng-app="hcue" ng-controller="settingsCtrl" ng-init="init('@ViewBag.AccountId')" ng-cloak>


    <div class="panel panel-default " style="padding: 0 0 15px;" ng-if="showBranchList==true">
        <div class="panel-body override_margin">
            <div class="row panel-heading">
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select account</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="account"
                                    name="account"
                                    chosen
                                    title="Account Name"
                                    data-placeholder="Select account"
                                    ng-model="selectedAccount"
                                    ng-change="getInstanceSettingsList(selectedAccount.id)"
                                    ng-options="account.name for account in accountList track by account.id"
                                    class="form-control">
                                <option value="" selected disabled>--please select--</option>
                                @*option="accountList"*@
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2'>
                    <div class='form-group'>
                        <label>&nbsp;</label>
                        <div class="input-group col-md-12 override_margin" style="margin-top: 3px !important;">
                            <button type="button" id="Reset" class="orange-line-btn" ng-click="reset()">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel-heading">Branch List</div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class='row  marginLR-zero'>
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Branch</th>
                                <th>Area</th>
                                <th>Product Master Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="branch in list">
                            <tr class="chip-style">
                                <td>{{branch.accountName}}</td>
                                <td>{{branch.name}}</td>
                                <td>{{branch.area}}</td>
                                <td>{{branch.isChecked==true?'Inactive':'Active'}}</td>
                                <td>

                                    <a class="col-md-12 btn  btn-style text-center override_margin" style="color:#fff" ng-href="/tool/settings/#/?aid={{branch.accountId}}&instanceId={{branch.instanceId}}" title="Edit">Edit</a>

                                </td>
                            </tr>
                            <tr class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <td colspan="9">
                                    <div>
                                        1.Hcue Product Master
                                        <div class="row override_margin">
                                            <input type="checkbox" title="selectType" id="selectType" name="selectType" value="{{type1.status}}" ng-click="selectType()" ng-model="type1.status" />
                                            <span>{{type1.name}}</span>
                                        </div>
                                    </div>
                                </td>



                            </tr>
                        </tbody>

                    </table>
                </div>
                @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
            </div>
        </div>

    </div>
    <div class="panel panel-default" style="padding: 0 0 15px;" ng-show="showBranchList==false">

        <div class="panel panel-default sell-group-decor7">
            <div class="panel-body override_margin">
                <div class="row panel-heading">
                    <span>Account Name: </span> <label>{{accountName}}</label>

                </div>
            </div>
        </div>

        <button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="ShowHide()" style="margin-right: 5px;">+</button><span>hcue Global Product Master disable setting</span>
        <br />
        @*<div class="panel-heading panelBorder">Hcue Product Master</div>*@
        <div class="panel-body" ng-hide="IsHidden">
            <div class="row" style="margin-bottom: 5px; background: #ededed; padding: 10px 0">

                <div class="col-sm-3">
                    <input id="selectedAll" name="selectedAll" type="checkbox" ng-click="selectAll()" ng-model="isAllSelected" /> Select All Branch

                </div>

            </div>
            <div class="col-sm-12">
                <div ng-repeat="branch in list">
                    <div>
                        <div class="row override_margin">
                            <input id="selectedBranch" name="selectedBranch" type="checkbox" ng-model="branch.isChecked" ng-change="addInstance(branch.isChecked, $index, branch)" />
                            @*<input type="checkbox" title="Branch Name" id="selectType" name="selectType" value="{{branch.instanceId}}" ng-model="branch.selected" ng-change="optionToggled()" />*@
                            <span><strong>{{branch.name}}</strong> - {{branch.area}}</span>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="row">
                <div class="col-md-3 pull-left">
                    <span class="col-md-6 "><button type="button" title="Update" class="btn btn-small btn-style form-control" ng-click="updateHcueProductMasterSettings()">Update</button></span>
                    <span class="col-md-6"><a href="/Tool/Settings" class="btn btn-small btn-style form-control">Back</a></span>

                </div>
            </div>
        </div>
        <br />

        @*<button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="ShowHide1()" style="margin-right: 5px;">+</button><span>List by Purchase Lowest Price in Purchase Screen</span>
            <br />

            <div class="panel-body" ng-hide="IsHidden1">
                <div class="row" style="margin-bottom: 5px; background: #ededed; padding: 10px 0">

                    <div class="col-sm-3">
                        <input id="selectedAll" name="selectedAll" type="checkbox" ng-click="selectAll1()" ng-model="isAllSelected1" /> Select All Branch

                    </div>

                </div>
                <div class="col-sm-12">
                    <div ng-repeat="branch in list">
                        <div>
                            <div class="row override_margin">
                                <input id="selectedBranch" name="selectedBranch" type="checkbox" ng-model="branch.isChecked" ng-change="addInstance(branch.isChecked, $index, branch)" />

                                <span>{{branch.name}} </span>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <div class="col-md-3 pull-left">
                        <span class="col-md-6 "><button type="button" title="Update" class="btn btn-small btn-style form-control" ng-click="updateHcuePurchasePriceSettings()">Update</button></span>
                        <span class="col-md-6"><a href="/Tool/Settings" class="btn btn-small btn-style form-control">Back</a></span>

                    </div>
                </div>
            </div>*@
        <br />

        <button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="ShowHide2()" style="margin-right: 5px;">+</button><span>Sales - Purchase Price billing enable setting</span>
        <br />
        <div class="panel-body" ng-hide="IsHidden2">           
            @*<div class="row" style="margin-bottom: 5px; background: #ededed; padding: 10px 0">

                <div class="col-sm-3">                   
                    <select ng-model="SalesPrice">
                        <option value="" disabled>--Select Sales Price--</option>
                        <option value="1">MRP Price</option>
                        <option value="2">Selling Price</option>
                        <option value="3">Purchase Price</option>
                                          </select>
                </div>

            </div>*@
          
            <input ng-model="SalesPrice" type="checkbox" name="SalesPrice">Purchase Price
            <div class="row">
                <div class="col-md-3 pull-left">
                    <span class="col-md-6 "><button type="button" title="Update" class="btn btn-small btn-style form-control" ng-click="updateSalesPriceSettings()">Update</button></span>
                    <span class="col-md-6"><a href="/Tool/Settings" class="btn btn-small btn-style form-control">Back</a></span>

                </div>
            </div>
            </div>

        <br />
        <br />

        <button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="salebillSetting()" style="margin-right: 5px;">+</button><span>Sale Bill  CSV Setting</span>
        <br />
        <div class="panel-body" ng-hide="showsalebillcsvSetting">
          
                
            <input id ="SalesBillcsv"  ng-model="SalesBillcsv" type="checkbox"ng-click="selectSalesBillcsv()" >Sale Bill Export to CSV
            <div class="row">
                <div class="col-md-3 pull-left">
                    <span class="col-md-6 "><button type="button" title="Update" class="btn btn-small btn-style form-control" ng-click="updateSaleBillcsv()">Update</button></span>
                    <span class="col-md-6"><a href="/Tool/Settings" class="btn btn-small btn-style form-control">Back</a></span>

                </div>
            </div>
        </div>
        <br /><br />

        </div>
    </div>

    @section scripts
{
        <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
        <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
        <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
        <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

        <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
        <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

        <script asp-append-version="true" src="~/appscript/settings/settingsAppScript.js"></script>
        <script asp-append-version="true" src="~/appscript/model.js"></script>
        <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
        <script asp-append-version="true" src="~/appscript/settings/toolService.js"></script>
        <script asp-append-version="true" src="~/appscript/settings/settingsCtrl.js"></script>

        <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
        <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
        <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
        <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
    }
