@{
    ViewBag.Title = "Stock Ledger Edit";
    ViewBag.Menu = "DataCorrection";
}
@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@*@await Html.PartialAsync("~/Views/Tool/Menu.cshtml")*@

<div class="row panelBorder" ng-app="hcue" ng-controller="stockLedgerEditCtrl" ng-cloak>
    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <div class='row override_margin'>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select Account</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="account"
                                    name="account"
                                    chosen
                                    title="Account Name"
                                    option="accountList"
                                    data-placeholder="Select account"
                                    ng-model="selectedAccount"
                                    ng-change="getBranchListByAccount()"
                                    ng-options="account.name for account in accountList track by account.id"
                                    class="form-control" autofocus>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select Branch</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="branch"
                                    name="branch"
                                    chosen
                                    title="Branch Name"
                                    option="branchList"
                                    data-placeholder="Select branch"
                                    ng-model="selectedBranch"
                                    ng-change="getBranchList()"
                                    ng-options="branch.name for branch in branchList track by branch.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Enter Product</label>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Product Name" type="text" placeholder="Product" id="drugName" name="drugName" class="search-query form-control" ng-enter="salesSearch()" ng-model="drugName" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)" typeahead-on-select="onProductSelect($item)"> @*search.drugName*@
                        </div>
                    </div>
                </div>
                <div class='input-group-btn col-sm-2 override_margin'>
                    <span class="input-group-btn search">
                        <button class="btn1 btn-style pull-left" style="margin-left:45px; margin-top:25px; padding: 6px 12px;" type="button"  ng-click="stockLedgerEditList(null)" title="Product Search"> Search </button>
                    </span>
                </div>
                <div class='input-group-btn col-sm-2 override_margin'>
                    <button title="OfflineToOnlineNegativeStock" class="btn btn-style" style="margin-left:110px; margin-top:25px; padding: 6px 12px;" ng-click="updateNegativeStockOfflineToOnline()" ng-disabled="negativeStockList == 0 ">Negative Stock</button>
                </div>
                <div class='input-group-btn col-sm-2 override_margin'>
                        <button title="Update" class="btn btn-style" style="margin-left:230px; margin-top:25px; padding: 6px 12px;" ng-show="stockLedgerList.length>0" ng-disabled="dataCorrectionArray.length == 0 || (isDisabled) " id="dataCorrectionUpdate" name="dataCorrectionUpdate" ng-click="updateAllProduct(stockLedgerList)">Update</button>
                </div>
                @if (!ViewBag.Config.AppConfig.OfflineMode || User.OfflineStatus() != "True")
                {
                    <div class='input-group-btn col-sm-2 override_margin'>
                        <button title="OfflineToOnlineStock" class="btn btn-style" style="margin-left:293px; margin-top:25px; padding: 6px 12px;" ng-click="updateProductStockOfflineToOnline()" disabled>Offline To Online Stock </button>
                    </div>
                }
                else
                {
                    <div class='input-group-btn col-sm-2 override_margin'>
                        <button title="OfflineToOnlineStock" class="btn btn-style" style="margin-left:293px; margin-top:25px; padding: 6px 12px;" ng-click="updateProductStockOfflineToOnline()" ng-disabled="negativeStockList != 0 ">Offline To Online Stock </button>
                    </div>
                }
               
                <div class='input-group-btn col-sm-2 override_margin'>
                    <button title="Update" class="btn btn-style pull-left" style="margin-left:470px; margin-top:25px; padding: 6px 12px;" ng-click="cancel()">Reset</button>
                </div>
            </div>
        </div>
        @*<div class='row'>
                <div class='form-group'>
                    <div class="pull-right">
                        <button title="Search" class="btn btn-style" ng-disabled="!isUpdate" ng-click="updateAllProduct(list)">Update</button>
                    </div>
                </div>
            </div>*@
    </div>

    <div class="panel panel-default" ng-show="stockLedgerList.length!=0">
        <div class="panel-body">
            <div class='row  marginLR-zero'>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>Action &nbsp;&nbsp;<input id="selectedDataCorrectionAll" name="selectedDataCorrectionAll" type="checkbox" ng-click="selectAll()" ng-model="isAllSelected" /></th>
                            <th></th>
                            <th>Product Name</th>
                            <th>Import</th>
                            <th>Opening Stock</th>
                            <th>Purchase</th>
                            <th>Sales Return</th>
                            <th>Adjust In</th>
                            <th>Trnasfer In</th>
                            <th>Dc</th>
                            <th>Temp</th>
                            <th>Total In</th>
                            <th>Sales</th>
                            <th>Purchase Ret</th>
                            <th>Adjust Out</th>
                            <th>Transfer Out</th>
                            <th>Self Consumption</th>
                            <th>Total Out</th>
                            <th>Current Stock</th>
                            <th>Difference</th>
                            @*<th>Closing Stock</th>*@
                        </tr>
                    </thead>
                    <tbody ng-repeat="stockLedger in stockLedgerList">
                        <tr class="chip-style">
                            <td>
                                <input id="selectedDataCorrection" name="selectedDataCorrection" type="checkbox" ng-model="stockLedger.isChecked" ng-change="addPatientId(stockLedger.isChecked, $index, stockLedger)" />
                            </td>
                            <td>
                                <button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event,stockLedger)">+</button>
                            </td>
                            <td>{{stockLedger.productName}}</td>
                            <td>{{stockLedger.importQty}}</td>
                            <td>{{stockLedger.openingStock}}</td>
                            <td>{{stockLedger.purchaseQty }}</td> @*- stockLedger.purchaseDelQty*@
                            <td>{{stockLedger.saleReturnQty}}</td>
                            <td>{{stockLedger.adjustedStockIn}}</td>
                            <td>{{stockLedger.transferInAccQty}}</td>
                            <td>{{stockLedger.dcQty}}</td>
                            <td>{{stockLedger.tempQty}}</td>
                            <td style="background-color: #00FFE1;font-weight: bold">{{stockLedger.finalIn}}</td>
                            <td>{{stockLedger.saleQty}}</td>
                            <td>{{stockLedger.returnQty}}</td>
                            <td>{{stockLedger.adjustedStockOut}}</td>
                            <td>{{stockLedger.transferOutQty}}</td>
                            <td>{{stockLedger.consumptionQty}}</td>
                            <td style="background-color: #00FFE1;font-weight: bold">{{stockLedger.finalOut}}</td>
                            <td style="background-color: Green;font-weight: bold">{{stockLedger.currentStock}}</td>
                            <td style="background-color: Red;font-weight: bold">{{stockLedger.diffQty}}</td>
                            @*<td ng-hide="$parent.selectedIndex == $index" class="changeable" ng-change="validateEditClosingStock(stockLedger)"  contenteditable ng-model="stockLedger.closingStock">{{stockLedger.closingStock}}</td>*@

                            @*<td>{{stockLedger.TransferInNotAccQty}}</td>*@

                        </tr>

                        <tr class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                            <td colspan="19">
                                <div class='col-sm-12'>
                                    <div class='form-group'>
                                        <table style="width:90%">
                                            <thead>
                                                <tr>
                                                    <th>Product Name</th>
                                                    <th>Batch No</th>
                                                    <th>Expiry Date</th>
                                                    <th>Stock</th>
                                                    <th>Update Stock</th>
                                                    <th>Change</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr class="text-left" ng-repeat="stockLedgerEditItem in stockLedger.stockLedgerUpdateHistoryItem">
                                                    <td>{{stockLedgerEditItem.productName}}</td>
                                                    <td>{{stockLedgerEditItem.batchNo}}</td>
                                                    <td>{{stockLedgerEditItem.expireDate | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{stockLedgerEditItem.currentStock}}</td>
                                                    @if ((User.UserId() == "sundar@mokksha.in") || (User.UserId() == "sundar@myhcue.com"))
                                                    {
                                                        <td>
                                                            <input onfocus="this.select();" type="text" id="stock" style="width:150px" name="stock" placeholder="Stock" required ng-model="stockLedgerEditItem.actualStock" maxlength="10" numberOnlyInput  />
                                                            @*<span class="error" ng-show="editInventory.stock.$dirty && editInventory.stock.$error.required ">Required</span>*@

                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <input onfocus="this.select();" type="text" id="stock" style="width:150px" name="stock" placeholder="Stock" required ng-model="stockLedgerEditItem.actualStock" maxlength="10" numberOnlyInput disabled />
                                                        </td>
                                                    }
                                                    <td>{{stockLedgerEditItem.actualStock - stockLedgerEditItem.currentStock}}</td>
                                                    <td>
                                                        <select id="TransactionType" name="TransactionType" title="Transaction Type" placeholder="Select anyone" ng-model="stockLedgerEditItem.transactionType" style="width:150px" ng-disabled="stockLedgerEditItem.actualStock >= 0" class="form-control">
                                                            <option value="OpeningStock">OpeningStock</option>
                                                            <option value="StockAdjustment">StockAdjustment</option>
                                                            @*<option value="TempStock">TempStock</option>*@
                                                        </select>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        @*<tr class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <td colspan="9">
                                <div>
                                    1.Hcue Product Master
                                    <div class="row override_margin">
                                    <input type="checkbox" title="selectType" id="selectType" name="selectType" value="{{type1.status}}" ng-click="selectType()" ng-model="type1.status" />
                                     <span>{{type1.name}}</span>
                                    </div>
                                    </div>
                                </td>



                            </tr>*@
                    </tbody>

                </table>
            </div>
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>
    </div>


</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/toolService.js"></script>
    <script asp-append-version="true" src="~/appscript/productStock/productStockservice.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/stockLedgerEditCtrl.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/style.css" rel="stylesheet" />

}