﻿<script type="text/ng-template" id="AddDC">
    <div class="popup-overlay form-popup" data-ng-cloak>
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:1370px;">
                    <div class="popup-close" data-ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Add New DC Product</h3>
                    <ng-form id="addDc" name="addDc">
                        <div class="reminder-popup-wrap">
                            <div class="row popup-row form-data">
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin">
                                        <div class='row override_margin'>
                                            <div class="col-md-4 override_margin">
                                                <div class='col-sm-8 override_margin'>
                                                    <div class='form-group'>
                                                        <label class="required">Vendor Name</label>
                                                        <div class="input-group col-sm-12 trimLR override_margin">
                                                            <select id="vendorDc"
                                                                    name="vendorDc"
                                                                    chosen
                                                                    title="Vendor Name"
                                                                    option="vendorList"
                                                                    data-placeholder="Select Vendor Name"
                                                                    data-ng-change="updateUI()"
                                                                    data-ng-model="vendorPurchase.selectedVendor"
                                                                    data-ng-options="option.name for option in vendorList track by option.id"
                                                                    class="form-control"
                                                                    style="color:black;"
                                                                    data-ng-disabled="EditMode"
                                                                    required
                                                                    focus-me="shouldBeOpen">
                                                                <option value=""></option>
                                                            </select>
                                                        </div>
                                                        <span class="error" ng-show="addDc.vendorDc.$dirty && addDc.vendorDc.$error.required">Select vendor name</span>
                                                    </div>
                                                </div>
                                                <div class='col-sm-4 override_margin'>
                                                    <div class='form-group'>
                                                        <label class="required">DC Date</label>
                                                        <div class="input-group override_margin">

                                                            <input type="text"
                                                                   title="DC date"
                                                                   id="DcDate"
                                                                   name="DcDate"
                                                                   required
                                                                   class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   placeholder="Dc Date"
                                                                   data-ng-model="dcVendorPurchaseItem.dcDate"
                                                                   data-ng-change="validateDcDate()"
                                                                   is-open="popup1.opened"
                                                                   max-date="minDate"
                                                                   datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)"
                                                                   data-ng-required="true"
                                                                   close-text="Close"
                                                                   alt-input-formats="altInputFormats"
                                                                   my-date
                                                                   data-ng-click="checkAllPurchasefields(3)"
                                                                   focus-box1
                                                                   nextid="DcNo"
                                                                   data-ng-disabled="EditMode" />
                                                            <span class="input-group-btn wrapper-date">
                                                                <button type="button" class="btn btn-default btn1" data-ng-click="open1()">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                        <span class="error" data-ng-show="addDc.DcDate.$dirty && addDc.DcDate.$error.required" style="color:red;">Required</span>
                                                        <span class="error" data-ng-show="addDc.DcDate.$error.InValidDcDate" style="min-width:300px;color:red;margin-left: 0px;">DC date can not be greater than today</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3 override_margin">
                                                <div class='override_margin col-sm-4'>
                                                    <div class='form-group'>
                                                        <label class="required">DC No</label>
                                                        <div class="input-group override_margin">

                                                            <input type="text"
                                                                   title="DC No"
                                                                   id="DcNo"
                                                                   name="DcNo"
                                                                   required
                                                                   class="form-control"
                                                                   placeholder="Dc No"
                                                                   data-ng-model="dcVendorPurchaseItem.dcNo"
                                                                   data-ng-required="true"
                                                                   data-ng-click="checkAllPurchasefields(4)"
                                                                   focus-box1
                                                                   nextid="drugName1"
                                                                   maxlength="20" style="text-transform:uppercase" />
                                                        </div>
                                                        <span class="error" data-ng-show="addDc.DcNo.$dirty && addDc.DcNo.$error.required" style="color:red;">Required</span>
                                                    </div>
                                                </div>

                                                <div class='col-sm-8 override_margin'>
                                                    <div class='form-group'>
                                                        <div class="input-group col-sm-12 trimLR override_margin">
                                                            <div class="input-group purchase-product col-sm-12 trimLR override_margin txtUpper">
                                                                <label class="required">Product</label>
                                                                <input type="text"
                                                                       data-ng-model="selectedProduct1"
                                                                       typeahead-focus-on-select="false"
                                                                       typeahead-no-results="noResults"
                                                                       typeahead-min-length="1"
                                                                       placeholder="Product"
                                                                       id="drugName1"
                                                                       required
                                                                       name="drugName1"
                                                                       uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                                                       class="form-control form-control-small"
                                                                       focus-box1
                                                                       nextid="batchNoDc"
                                                                       data-ng-disabled="EditMode"
                                                                       typeahead-on-select="onProductSelect($event,selectedProduct1)"
                                                                       typeahead-template-url="/itemTp5.html"
                                                                       data-ng-click="checkAllPurchasefields(5)" />
                                                            </div>
                                                        </div>
                                                        <span class="error" data-ng-show="addDc.drugName1.$dirty && addDc.drugName1.$error.required" style="color:red;">Required</span>
                                                        <div data-ng-if="noResults">
                                                            <div data-ng-if="selectedProduct1!=null && selectedProduct1.length>3">
                                                                <span class="error"> No Results Found! Please Add new Product</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-5 override_margin">

                                                <div class='override_margin' data-ng-class="GSTEnabled ? 'col-sm-3':'col-sm-2'">
                                                    <div class='form-group'>
                                                        <div class="input-group col-sm-12 trimLR override_margin">
                                                            <label class="required">Batch</label>
                                                            <input title="Batch Number"
                                                                   id="batchNoDc"
                                                                   name="batchNoDc"
                                                                   required
                                                                   type="text"
                                                                   placeholder="Batch No"
                                                                   maxlength="10"
                                                                   class="form-control"
                                                                   data-ng-model="dcVendorPurchaseItem.productStock.batchNo"
                                                                   data-ng-click="checkAllPurchasefields(6)"
                                                                   focus-box1
                                                                   data-ng-disabled="EditMode"
                                                                   nextid="expDateDc" />
                                                        </div>
                                                        <span class="error" data-ng-show="addDc.batchNoDc.$dirty && addDc.batchNoDc.$error.required" style="color:red;">Required</span>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3 override_margin'>
                                                    <div class='form-group'>
                                                        <label class="required">Expiry</label>
                                                        <div class="input-group trimLR override_margin cal_adjusted">
                                                            <input type="text"
                                                                   class="form-control {{highlight}}"
                                                                   data-ng-disabled="EditMode"
                                                                   id="expDateDc"
                                                                   name="expDateDc"
                                                                   required
                                                                   uib-datepicker-popup="MM/yy"
                                                                   placeholder="MM/YY"
                                                                   ng-model="dcVendorPurchaseItem.productStock.expireDate"
                                                                   is-open="popup2.opened"
                                                                   min-date="minDate"
                                                                   max-date="maxDate"
                                                                   datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)"
                                                                   close-text="Close"
                                                                   alt-input-formats="altInputFormats"
                                                                   my-date
                                                                   data-ng-change="dayDiff(dcVendorPurchaseItem.productStock.expireDate)"
                                                                   data-ng-click="checkAllPurchasefields(7)"
                                                                   nextid="packageSizeDc"
                                                                   focus-box1
                                                                   data-ng-keyup="keyUp($event)" />



                                                            <span class="input-group-btn wrapper-date">
                                                                <button type="button" class="btn btn-default btn1" data-ng-click="open2()">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                        <span class="error" style="margin-left:10px;color:red;" data-ng-show="addDc.expDateDc.$dirty && addDc.expDateDc.$error.InValidexpDateDc">Expire Date must be more than 30 days.</span>
                                                        <span class="error" data-ng-show="addDc.expDateDc.$dirty && addDc.expDateDc.$error.required" style="color:red;">Required</span>
                                                    </div>
                                                </div>

                                                <div class='col-sm-2 override_margin'>
                                                    <div class='form-group'>
                                                        <div class="input-group col-sm-12 trimLR override_margin">
                                                            <label class="required">Units/Strip</label>
                                                            <input id="packageSizeDc"
                                                                   title="Units/Strip"
                                                                   name="packageSizeDc"
                                                                   required
                                                                   type="text"
                                                                   placeholder="0"
                                                                   maxlength="4"
                                                                   class="form-control"
                                                                   data-ng-disabled="EditMode"
                                                                   focus-box1
                                                                   nextid="packageQuantityDc"
                                                                   numbers-only
                                                                   valid-number
                                                                   data-ng-model="dcVendorPurchaseItem.packageSize"
                                                                   data-ng-click="checkAllPurchasefields(8)"
                                                                   data-ng-change="checkPackageSize(dcVendorPurchaseItem.packageSize)" />
                                                        </div>
                                                        <span class="error" data-ng-show="addDc.packageSizeDc.$dirty && addDc.packageSizeDc.$error.required" style="color:red;">Required</span>
                                                        <span class="error" data-ng-show="addDc.packageSizeDc.$error.checkPackageSizeErrorDc" style="min-width:300px; margin:0px; color:red;">Should be greater than 0.</span>
                                                    </div>
                                                </div>

                                                <div class='col-sm-2 override_margin'>
                                                    <div class='form-group'>
                                                        <div class="input-group col-sm-12 trimLR override_margin">
                                                            <label class="required">No.of Strips</label>
                                                            <input title="No of Strips"
                                                                   id="packageQuantityDc"
                                                                   name="packageQuantityDc"
                                                                   required
                                                                   type="text"
                                                                   min="0"
                                                                   placeholder="0"
                                                                   maxlength="10"
                                                                   class="form-control"
                                                                   data-ng-model="dcVendorPurchaseItem.packageQty"
                                                                   focus-box1
                                                                   valid-number
                                                                   nextid="freeQtyDc"
                                                                   data-ng-click="checkAllPurchasefields(9)"
                                                                   data-ng-change="validateFreeQty()" />
                                                        </div>
                                                        <span class="error" data-ng-show="addDc.packageQuantityDc.$dirty && addDc.packageQuantityDc.$error.required" style="color:red;">Required</span>
                                                        <span class="error" data-ng-show="addDc.packageQuantityDc.$error.InValidPackQtyDc" style="min-width:300px; margin:0px; color:red;">Enter value greater than {{(dcVendorPurchaseItem.productStock.stock - oldDcVendorPurchaseItem.quantity)/($scope.oldDcVendorPurchaseItem.quantity - dcVendorPurchaseItem.packageSize) | number :0}}</span>
                                                        <span class="error" data-ng-show="addDc.packageQuantityDc.$error.InValidRoundQty" style="min-width:300px; margin:0px;">Decimal values are not allowed</span>
                                                    </div>
                                                </div>

                                                <div class='col-sm-2 override_margin'>
                                                    <div class='form-group'>
                                                        <div class="input-group col-sm-12 trimLR override_margin">
                                                            <label>Free Strips</label>
                                                            <input title="FreeQty"
                                                                   id="freeQtyDc"
                                                                   name="freeQtyDc"
                                                                   type="text"
                                                                   min="0"
                                                                   placeholder="0"
                                                                   maxlength="12"
                                                                   numbers-only
                                                                   class="form-control"
                                                                   data-ng-disabled="EditMode"
                                                                   focus-box1
                                                                   nextid="dcgstTotal"
                                                                   data-ng-model="dcVendorPurchaseItem.freeQty"
                                                                   data-ng-change="validateFreeQty()"
                                                                   data-ng-click="checkAllPurchasefields(10)" />
                                                        </div>
                                                        <span class="error" data-ng-show="addDc.freeQtyDc.$error.InValidfreeQtyDc" style="min-width:300px; margin:0px; color:red;">Invalid free quantity</span>
                                                        <span class="error" data-ng-show="addDc.freeQtyDc.$error.InValidRoundQty" style="min-width:300px; margin:0px;">Decimal values are not allowed</span>
                                                        <span class="error" data-ng-show="addDc.freeQtyDc.$error.InvalidSumQty" style="min-width:150px; margin:0px;">Decimal value must be equal to {{(1 - (dcVendorPurchaseItem.packageQty % 1)) | number : 2}}</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class='row override_margin'>
                                            <div class="col-md-12 override_margin">
                                                <div class="col-md-2 override_margin" data-ng-if="!GSTEnabled">

                                                    <div class='col-sm-6 override_margin' data-ng-if="!GSTEnabled">
                                                        <div class='form-group '>
                                                            <div class="input-group col-sm-12 trimLR override_margin">
                                                                <label class="required">VAT %</label>
                                                                <input title="VAT in %"
                                                                       id="vatDc"
                                                                       name="vatDc"
                                                                       type="text"
                                                                       min="0"
                                                                       max="100"
                                                                       placeholder="0"
                                                                       class="form-control"
                                                                       maxlength="5"
                                                                       data-ng-change="checkMrp(dcVendorPurchaseItem.packagePurchasePrice,dcVendorPurchaseItem.packageSellingPrice,dcVendorPurchaseItem.productStock.vAT)"
                                                                       data-ng-model="dcVendorPurchaseItem.productStock.vAT"
                                                                       data-ng-disabled="EditMode"
                                                                       valid-number
                                                                       required
                                                                       focus-box1
                                                                       nextid="cSTDc"
                                                                       data-ng-click="checkAllPurchasefields(12)" />
                                                            </div>
                                                            <span class="error" data-ng-show="addDc.vatDc.$dirty && addDc.vatDc.$error.required" style="color:red;">Required</span>
                                                        </div>
                                                    </div>

                                                    <div class='col-sm-6 override_margin' data-ng-if="!GSTEnabled">
                                                        <div class='form-group'>
                                                            <div class="input-group col-sm-12 trimLR">
                                                                <label>CST %</label>
                                                                <input title="CST"
                                                                       id="cSTDc"
                                                                       name="cSTDc"
                                                                       type="number"
                                                                       disabled
                                                                       min="0"
                                                                       max="100"
                                                                       placeholder="0"
                                                                       maxlength="6"
                                                                       class="form-control"
                                                                       data-ng-click="checkAllPurchasefields(13)"
                                                                       focus-box1
                                                                       nextid="dcgstTotal"
                                                                       data-ng-model="dcVendorPurchaseItem.productStock.cST">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2 override_margin">

                                                    <div class='col-sm-6 override_margin'>
                                                        <div class='form-group'>
                                                            <div class="input-group col-sm-12 trimLR short-input">
                                                                <label class="required">GST Total%</label>
                                                                <input title="GST Total"
                                                                       id="dcgstTotal"
                                                                       name="gstTotal"
                                                                       type="text"
                                                                       valid-number
                                                                       placeholder="0"
                                                                       data-ng-required="!(vendorPurchase.selectedVendor.locationType != 0 && vendorPurchase.selectedVendor.locationType != 1 && vendorPurchase.selectedVendor.locationType != 2)"
                                                                       class="form-control"
                                                                       data-ng-model="dcVendorPurchaseItem.productStock.gstTotal"
                                                                       data-ng-disabled="vendorPurchase.selectedVendor.locationType != 0 && vendorPurchase.selectedVendor.locationType != 1 && vendorPurchase.selectedVendor.locationType != 2"
                                                                       check-percent
                                                                       focus-box1
                                                                       nextid="purchasePriceDc"
                                                                       data-ng-change="changeGST(dcVendorPurchaseItem.productStock.gstTotal)"
                                                                       data-ng-click="checkAllPurchasefields(14)"
                                                                       ng-if="taxValuesList.length<=0" />

                                                                <select id="dcgstTotal" name="gstTotal" class="form-control" title="GST Total" ng-if="taxValuesList.length>0" data-ng-required="!(vendorPurchase.selectedVendor.locationType != 0 && vendorPurchase.selectedVendor.locationType != 1 && vendorPurchase.selectedVendor.locationType != 2)"
                                                                        data-ng-model="dcVendorPurchaseItem.productStock.gstTotal"
                                                                        data-ng-disabled="vendorPurchase.selectedVendor.locationType != 0 && vendorPurchase.selectedVendor.locationType != 1 && vendorPurchase.selectedVendor.locationType != 2"
                                                                        check-percent
                                                                        data-ng-change="changeGST(dcVendorPurchaseItem.productStock.gstTotal)" data-ng-keydown="keyEnter($event,'purchasePriceDc','dcgstTotal')">
                                                                    <option ng-repeat="tax in taxValuesList" value="{{tax.tax}}" ng-selected="dcVendorPurchaseItem.productStock.gstTotal=={{tax.tax}}">{{tax.tax}}</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class='col-sm-6 override_margin'>
                                                        <div class='form-group'>
                                                            <div class="input-group col-sm-12 trimLR">
                                                                <label class="required">Price/Strip</label>
                                                                <input title="Price/Strip"
                                                                       id="purchasePriceDc"
                                                                       name="purchasePriceDc"
                                                                       required
                                                                       type="text"
                                                                       valid-number
                                                                       min="0"
                                                                       placeholder="0"
                                                                       maxlength="10"
                                                                       class="form-control"
                                                                       data-ng-disabled="EditMode"
                                                                       data-ng-change="checkMrp(dcVendorPurchaseItem.packagePurchasePrice,dcVendorPurchaseItem.packageSellingPrice,dcVendorPurchaseItem.productStock.gstTotal)" @*vAT*@
                                                                       focus-box1
                                                                       nextid="sellingPriceDc"
                                                                       data-ng-model="dcVendorPurchaseItem.packagePurchasePrice"
                                                                       data-ng-click="checkAllPurchasefields(15)" />
                                                            </div>
                                                            <span class="error" data-ng-show="addDc.purchasePriceDc.$dirty && addDc.purchasePriceDc.$error.required" style="color:red;">Required</span>
                                                        </div>
                                                    </div>


                                                    @*<div class='col-sm-3 override_margin'>
                                                            <div class='form-group'>
                                                                <div class="input-group col-sm-12 trimLR short-input">
                                                                    <label>IGST %</label>
                                                                    <input title="IGST"
                                                                           id="dcigst"
                                                                           name="igst"
                                                                           type="text"
                                                                           valid-number
                                                                           placeholder="0"
                                                                           maxlength="5"
                                                                           class="form-control"
                                                                           data-ng-model="dcVendorPurchaseItem.productStock.igst"
                                                                           data-ng-disabled="true"
                                                                           data-ng-keydown="keyEnter($event,'','dcigst')" />


                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='col-sm-3 override_margin'>
                                                            <div class='form-group'>
                                                                <div class="input-group col-sm-12 trimLR short-input">
                                                                    <label>CGST %</label>
                                                                    <input title="CGST"
                                                                           id="dccgst"
                                                                           name="cgst"
                                                                           type="text"
                                                                           valid-number
                                                                           placeholder="0"
                                                                           maxlength="5"
                                                                           class="form-control"
                                                                           data-ng-model="dcVendorPurchaseItem.productStock.cgst"
                                                                           data-ng-disabled="true"
                                                                           data-ng-keydown="keyEnter($event,'dcsgst','dccgst')" />

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='col-sm-3 override_margin'>
                                                            <div class='form-group'>
                                                                <div class="input-group col-sm-12 trimLR short-input">
                                                                    <label>SGST / UTGST %</label>
                                                                    <input title="SGST"
                                                                           id="dcsgst"
                                                                           name="sgst"
                                                                           type="text"
                                                                           valid-number
                                                                           placeholder="0"
                                                                           maxlength="5"
                                                                           class="form-control"
                                                                           data-ng-model="dcVendorPurchaseItem.productStock.sgst"
                                                                           data-ng-disabled="true"
                                                                           data-ng-keydown="keyEnter($event,'hsnCodeDc','dcsgst')" />


                                                                </div>
                                                            </div>
                                                        </div>*@


                                                </div>

                                                <div class="col-md-3 override_margin">

                                                    <div class="col-sm-4 override_margin">
                                                        <div class='col-sm-12 override_margin'>
                                                            <div class='form-group'>
                                                                <div class="input-group col-sm-12 trimLR override_margin">
                                                                    <label class="required">{{enableSelling ? 'Selling/Strip' : 'MRP/Strip'}}</label>
                                                                    <input title="{{enableSelling ? 'Selling/Strip' : 'MRP/Strip'}}"
                                                                           id="sellingPriceDc"
                                                                           name="sellingPriceDc"
                                                                           required
                                                                           type="text"
                                                                           valid-number
                                                                           placeholder="0.00"
                                                                           maxlength="6"
                                                                           class="form-control"
                                                                           data-ng-disabled="EditMode"
                                                                           focus-box1
                                                                           nextid="{{enableSelling ? 'mrpDC' : 'discountDc'}}"
                                                                           data-ng-change="checkMrp(dcVendorPurchaseItem.packagePurchasePrice,dcVendorPurchaseItem.packageSellingPrice,dcVendorPurchaseItem.productStock.gstTotal)" @*vAT*@
                                                                           data-ng-model="dcVendorPurchaseItem.packageSellingPrice"
                                                                           data-ng-click="checkAllPurchasefields(16)" />
                                                                </div>
                                                                <span class="error" data-ng-show="addDc.sellingPriceDc.$dirty && addDc.sellingPriceDc.$error.required" style="color:red;">Required</span>
                                                                <span class="error" data-ng-show="addDc.sellingPriceDc.$dirty && addDc.sellingPriceDc.$error.checkMrpError" style="min-width:100px; margin:0px;color:red;">{{enableSelling ? 'Selling' : 'MRP'}} price must be greater than Cost Price + GST</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class='col-sm-4 override_margin' data-ng-show="enableSelling">
                                                        <div class='form-group'>
                                                            <div class="input-group col-sm-12 trimLR override_margin">
                                                                <label class="required">MRP/Strip</label>
                                                                <input title="MRP/Strip"
                                                                       id="mrpDC"
                                                                       name="mrpDC"
                                                                       required
                                                                       type="text"
                                                                       valid-number
                                                                       placeholder="0.00"
                                                                       maxlength="6"
                                                                       class="form-control"
                                                                       data-ng-disabled="EditMode"
                                                                       focus-box1
                                                                       nextid="discountDc"
                                                                       data-ng-change="checkSellingMrp(dcVendorPurchaseItem.packageSellingPrice,dcVendorPurchaseItem.packageMRP)"
                                                                       data-ng-model="dcVendorPurchaseItem.packageMRP"
                                                                       data-ng-click="checkAllPurchasefields(17)" />
                                                            </div>
                                                            <span class="error" data-ng-show="addDc.mrpDC.$dirty && addDc.mrpDC.$error.required" style="color:red;">Required</span>
                                                            <span class="error" data-ng-show="addDc.mrpDC.$dirty && addDc.mrpDC.$error.checkMrpError" style="min-width:100px; margin:0px;color:red;">MRP must be greater than or equal to selling price</span>
                                                        </div>
                                                    </div>

                                                    <div class='col-sm-4 override_margin'>
                                                        <div class='form-group'>
                                                            <div class="input-group col-sm-12 trimLR">
                                                                <label>Disc %</label>
                                                                <input title="Discount"
                                                                       id="discountDc"
                                                                       name="discountDc"
                                                                       type="text"
                                                                       valid-number
                                                                       min="0"
                                                                       max="100"
                                                                       placeholder="0"
                                                                       maxlength="5"
                                                                       class="form-control"
                                                                       data-ng-disabled="EditMode"
                                                                       decimal-Places step="0.01"
                                                                       data-ng-model="dcVendorPurchaseItem.discount"
                                                                       data-ng-click="checkAllPurchasefields(18)"
                                                                       data-ng-keydown="keyEnter($event,'hsnCodeDc','discountDc')" />
                                                            </div>
                                                            <span class="error" style="margin-left:0px;" ng-show="dcVendorPurchaseItem.discount >= 100">Discount value must be less than 100</span>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-4 override_margin">
                                                    <div class='col-sm-4 override_margin'>
                                                        <div class='form-group '>
                                                            <div class="input-group col-sm-12 trimLR override_margin">
                                                                <label>HSN Code</label>
                                                                <input title="HSN Code"
                                                                       id="hsnCodeDc"
                                                                       name="hsnCodeDc"
                                                                       type="text"
                                                                       min="0"
                                                                       max="100"
                                                                       placeholder="0"
                                                                       class="form-control"
                                                                       maxlength="10"
                                                                       data-ng-model="dcVendorPurchaseItem.productStock.hsnCode"
                                                                       data-ng-disabled="EditMode"
                                                                       alpha-numeric
                                                                       data-ng-keydown="keyEnter($event,'RacknoDc','hsnCodeDc')"
                                                                       data-ng-click="checkAllPurchasefields(19)" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class='col-sm-4 override_margin'>
                                                        <div class='form-group '>
                                                            <div class="input-group col-sm-12 trimLR override_margin">
                                                                <label>Rack No</label>
                                                                <input title="Rack No"
                                                                       id="RacknoDc"
                                                                       name="RacknoDc"
                                                                       type="text"
                                                                       placeholder="Rack No"
                                                                       ng-click="checkAllPurchasefields(20)"
                                                                       class="form-control"
                                                                       maxlength="5"
                                                                       ng-model="dcVendorPurchaseItem.productStock.product.rackNo"
                                                                       data-ng-keydown="keyEnter($event,'boxNoDc','RacknoDc')" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class='col-sm-4 override_margin'>
                                                        <div class='form-group '>
                                                            <div class="input-group col-sm-12 trimLR override_margin">
                                                                <label>Box No</label>
                                                                <input title="Box No"
                                                                       id="boxNoDc"
                                                                       name="boxNoDc"
                                                                       type="text"
                                                                       placeholder="Box No"
                                                                       ng-click="checkAllPurchasefields(21)"
                                                                       class="form-control"
                                                                       maxlength="5"
                                                                       ng-model="dcVendorPurchaseItem.productStock.product.boxNo"
                                                                       data-ng-keydown="keyEnter($event,'addStockDc','boxNoDc')" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 override_margin pull-right">
                                                    <div class='col-sm-6 override_margin col-sm-offset-4'>
                                                        <div class='form-group'>
                                                            <label>&nbsp;</label>
                                                            <button title="Save Stock"
                                                                    id="addStockDc"
                                                                    class="btn btn-small btn-style form-control"
                                                                    data-ng-disabled="(!addDc.$valid || vendorPurchase.selectedVendor.id == null || selectedProduct1.id == null || dcVendorPurchaseItem.discount >= 100)"
                                                                    data-ng-click="addStock()">
                                                                {{EditMode?"Update":"Save"}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class='col-sm-6 override_margin'>
                                                        <div class='form-group'>
                                                            <label>&nbsp;</label>
                                                            <button title="Reset"
                                                                    class="btn btn-grey form-control"
                                                                    data-ng-click="cancelUpdate1()">
                                                                {{EditMode?"Cancel":"Reset"}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default override_margin" data-ng-show="dcVendorPurchaseItem.dcList.length > 0">
                                    <div class="panel text-center">
                                        <div class="row tblHeader">
                                            <div class="col-md-3 override_margin">
                                                <div class="col-md-3">DC DATE</div>
                                                <div class="col-md-2">DC NO</div>
                                                <div class="col-md-7">PRODUCT</div>
                                            </div>
                                            <div class="{{enableSelling ? 'col-md-3' : 'col-md-4'}} override_margin">
                                                <div class="col-md-3">BATCH</div>
                                                <div class="col-md-3">EXPIRY</div>
                                                <div class="col-md-3">NO.OF STRIPS</div>
                                                <div class="col-md-3">PRICE/ STRIP</div>
                                            </div>
                                            <div class="col-md-1 override_margin" data-ng-show="enableSelling">
                                                <div class="col-md-12" style="text-align:center;">Selling/ STRIP</div>
                                            </div>
                                            <div class="col-md-3 override_margin">
                                                <div class="col-md-3">MRP/ STRIP</div>
                                                <div class="col-md-3">FREE STRIPS</div>
                                                <div class="col-md-2">RACK NO</div>
                                                <div class="col-md-2">BOX NO</div>
                                                <div class="col-md-2">DISC%</div>
                                            </div>
                                        </div>
                                        <div style="max-height:300px;overflow:scroll;">
                                            <div class="row" data-ng-repeat="item1 in dcVendorPurchaseItem.dcList track by $index">
                                                <div class="col-md-3 override_margin">
                                                    <div class="col-md-3 override_margin">{{item1.dcDate | date:'dd/MM/yyyy'}}</div>
                                                    <div class="col-md-2 override_margin" style="word-wrap: break-word;">{{item1.dcNo}}</div>
                                                    <div class="col-md-7 override_margin">{{item1.productStock.product.name}}</div>
                                                </div>
                                                <div class="{{enableSelling ? 'col-md-3' : 'col-md-4'}} override_margin">
                                                    <div class="col-md-3 override_margin">{{item1.productStock.batchNo}}</div>
                                                    <div class="col-md-3 override_margin">{{item1.productStock.expireDate | date:'MM/yy'}}</div>
                                                    <div class="col-md-3 override_margin">{{item1.packageQty}}</div>
                                                    <div class="col-md-3 override_margin">{{item1.packagePurchasePrice | number:2}}</div>
                                                    @*<div class="col-md-3 override_margin">{{item1.packageSellingPrice | number:2}}</div>*@
                                                </div>
                                                <div class="col-md-1 override_margin" data-ng-show="enableSelling">
                                                    <div class="col-md-12 override_margin">@*{{item1.packageMRP | number:2}}*@{{item1.packageSellingPrice | number:2}}</div>
                                                </div>
                                                <div class="col-md-3 override_margin">
                                                    <div class="col-md-3 override_margin">
                                                        {{item1.packageMRP | number:2}}
                                                    </div>
                                                    <div class="col-md-3 override_margin">{{item1.freeQty}}</div>
                                                    <div class="col-md-2 override_margin">{{item1.productStock.product.rackNo}}</div>
                                                    <div class="col-md-2 override_margin">{{item1.productStock.product.boxNo}}</div>
                                                    <div class="col-md-2 override_margin">{{item1.discount}}</div>
                                                </div>
                                                <div class="col-md-1 override_margin">
                                                    <span class="glyphicon glyphicon-edit" title="Edit Stock" id="editStockDc" style="cursor: pointer; padding:4px; margin: 2px;color:red;" data-ng-click="editStock(item1)"></span>
                                                    <span class="glyphicon glyphicon-minus-sign" title="Delete Stock" data-ng-show="item1.productStock.stock == (item1.quantity+(item1.packageSize*item1.freeQty)) && !item1.isPurchased" id="deleteStockDc" style="cursor:pointer;left:10px;color:red;" data-ng-click="removeStock(item1)"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button class="secondary-button pull-right" id="closeDC" data-ng-click="close('No')" data-dismiss="modal">Close [<span>CTRL+C</span>]</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>


<style>
    .form-data label {
        font-size: 14px !important;
    }

    .productddl span {
        color: #333 !important;
    }

        .form-data .productddl:hover span, .productddl span:hover {
            color: #fff !important;
        }

    .reminder-popup-wrap {
        padding: 10px 10px !important;
    }
</style>

<script type="text/ng-template" id="/itemTp5.html">

    <a tabindex="-1" class="productddl" data-ng-if="match.model.accountId==null">
        <span class='global'>G </span><span class="gap"> </span>
        <span data-ng-bind-template="{{match.model.name}}"></span>
    </a>
    <a tabindex="-1" class="productddl" data-ng-if="match.model.accountId!=null">
        <span class='global local'>L </span><span class="gap"> </span>
        <span data-ng-bind-template="{{match.model.name}}"></span><span data-ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>



