﻿<script type="text/ng-template" id="createProduct">
    <div class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static" style="z-index:9999;">
        <div class="modal-dialog" style="width:700px !important;">
            <div class="modal-content override_margin">
                <div class="modal-body override_margin">
                    <ng-form id="productForm" name="productForm">
                        <div class="panel panel-default override_margin">
                            <div class="panel-heading panel-noborder">
                                New Product
                                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="panel-body override_margin">
                                <div class='row'>
                                    <div class='col-md-6'>
                                        <div class='form-group'>
                                            <div class="input-group sell-group-decor4">
                                                <label class="required">Name Of Product</label>
                                                <input title="Name of Product" type="text" drugname-special-char placeholder="Name Of Product" id="productName" name="productName" required ng-model="products.name" class="search-query form-control" maxlength="50" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProduct($viewValue)" typeahead-on-select="onPatientSelect($item,$event,'genericName')" ng-enter="focusNextField('txtgenericName')" popup-focus="focusInput" />
                                                <span class="error" ng-show="productForm.productName.$dirty && productForm.productName.$error.required">Required</span>
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label class="required">Generic Name</label>
                                                <input title="Generic Name" type="text" typeahead-focus-on-select="false" typeahead-min-length="0" placeholder="Generic Name" id="txtgenericName" name="genericName" required ng-model="products.genericName" ng-keyup="checkAllProductfields(2)" ng-click="checkAllProductfields(2)" uib-typeahead="product as product.genericName for product in getGeneric($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('manufacturer_01')" ng-enter="focusNextField('manufacturer_01')" />
                                                <span class="error" ng-show="productForm.genericName.$dirty && productForm.genericName.$error.required">Required</span>
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label class="required">Manufacturer</label>
                                                <input title="Manufacturer" type="text" placeholder="Manufacturer" id="manufacturer_01" name="manufacturer_01" required ng-model="products.manufacturer" ng-keyup="checkAllProductfields(3)" ng-click="checkAllProductfields(3)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.manufacturer for product in getManufacturer($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('scheduledCategory_01')" ng-enter="focusNextField('scheduledCategory_01')" />
                                                <span class="error" ng-show="productForm.manufacturer.$dirty && productForm.manufacturer.$error.required">Required</span>
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label class="required">Scheduled Category</label>
                                                <select id="scheduledCategory_01" name="scheduledCategory_01" title="Scheduled Category" 
                                                        placeholder="Scheduled Category" ng-model="products.schedule" class="search-query form-control" 
                                                        ng-keyup="checkAllProductfields(4)" ng-click="checkAllProductfields(4)"
                                                         typeahead-on-select="focusNextField('type_01')" ng-enter="focusNextField('type_01')">
                                                    <option value="H" ng-selected="products.schedule == undefined">H</option>
                                                    <option value="H1">H1</option>
                                                    <option value="NS">NS</option>
                                                    <option value="X">X</option>
                                                </select>
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label>Type</label>
                                                <input title="Type" type="text" placeholder="Type" id="type_01" name="type_01" ng-model="products.type" ng-keyup="checkAllProductfields(5)" ng-click="checkAllProductfields(5)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.type for product in getType($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('category_01')" ng-enter="focusNextField('category_01')" />
                                            </div>
                                            <div class="input-group sell-group-decor4">
                                                <label>Category</label>
                                                <input title="Category" type="text" placeholder="Category" id="category_01" name="category" 
                                                       ng-model="products.category" ng-keyup="checkAllProductfields(6)" ng-click="checkAllProductfields(6)" 
                                                       typeahead-focus-on-select="false" typeahead-min-length="0" 
                                                       uib-typeahead="product as product.category for product in getCategory($viewValue)" 
                                                       class="search-query form-control" typeahead-on-select="focusNextField('txthsn')" 
                                                       ng-enter="focusNextField('subcategory')" />
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label>Sub Category</label> 
                                                @*<input title="SubCategory" type="text" placeholder="SubCategory" id="subcategory" name="subcategory"
                                                       ng-model="products.subcategory" ng-keyup="checkAllProductfields(7)" ng-click="checkAllProductfields(7)"
                                                         typeahead-focus-on-select="false" typeahead-min-length="0" 
                                                       uib-typeahead="product as product.displayText for product in getSubCategory()" 
                                                       class="search-query form-control" ng-enter="focusNextField('txthsn')" />*@

                                                <select id="subcategory" ng-model="products.subcategory" class="search-query form-control"  ng-change="getSubCategory1(products.subcategory)" 
                                                    ng-enter="focusNextField('txthsn')">
                                                    <option value="">select</option>
                                                    <option ng-repeat="subcat in subcatogoryList" value="{{subcat.domainValue}}">
                                                        {{subcat.displayText}}
                                                    </option>
                                                </select>
                                            </div>



                                            @*<div class="input-group sell-group-decor4">
                                                <label>Commodity Code</label>
                                                <input title="Commodity Code"
                                                       type="text"
                                                       placeholder="Commodity Code"
                                                       id="commodityCode"
                                                       name="commodityCode"
                                                       ng-model="products.commodityCode"
                                                       ng-keyup="checkAllProductfields(7)"
                                                       ng-click="checkAllProductfields(7)"
                                                       typeahead-focus-on-select="false"
                                                       typeahead-min-length="0"
                                                       uib-typeahead="product as product.commodityCode for product in getCommodity($viewValue)"
                                                       class="search-query form-control"
                                                       ng-keydown="keyEnter($event,'','commodityCode')"
                                                       numbers-only
                                                       valid-number
                                                       maxlength="10" />
                                             
                                            </div>*@
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group sell-group-decor4" data-ng-if="!GSTEnabled">
                                                <label>Vat %</label>
                                                <input title="Vat" type="text" placeholder="Vat" id="txtVat" name="Vat" ng-model="products.vAT" 
                                                       ng-keyup="checkAllProductfields(8)" ng-click="checkAllProductfields(8)" class="search-query form-control" ng-enter="focusNextField('hsn')" maxlength="5" ng-change="changeVat(products.vAT)" valid-number />
                                                <span class="error" ng-show="vatErrorMessage">Enter Valid Vat</span>
                                            </div>


                                            <div class="input-group sell-group-decor4">
                                                <label>HSN Code</label>
                                                <input title="HSN Code" type="text" placeholder="HSN Code" id="txthsn" name="hsn" ng-model="products.hsnCode" ng-keyup="checkAllProductfields(9)" alpha-numeric ng-click="checkAllProductfields(9)" class="search-query form-control" maxlength="10" ng-keydown="keyEnter($event,'txtgstTotal_01','txthsn')" />

                                              
                                            </div>

                                            <div class="input-group sell-group-decor4">

                                                <label class="required">GST Total %</label>

                                                <input title="GST Total" type="text" placeholder="0.00" id="txtgstTotal_01" name="txtgstTotal_01"  ng-if="taxValuesList.length<=0"  ng-model="products.gstTotal"  class="search-query form-control" maxlength="5" required valid-number  ng-keypress="keyEnter($event,'txtPackageSize','txtgstTotal_01')"  ng-change="changeGST('txtgstTotal_01')" check-percent  />
                                                                                             
                                                <select id="txtgstTotal_01" name="txtgstTotal_01" class="search-query form-control" title="GST Total" ng-if="taxValuesList.length>0"
                                                        required ng-model="products.gstTotal" 
                                                        ng-keypress="keyEnter($event,'txtPackageSize','txtgstTotal_01')"  ng-change="changeGST('txtgstTotal_01')" check-percent>
                                                    <option ng-repeat="tax in taxValuesList" value="{{tax.tax}}" ng-selected="products.gstTotal=={{tax.tax}}">{{tax.tax}}</option>
                                                </select>

                                                <span class="error" ng-show="gstTotalErrorMessage">Enter Valid GST Total</span>
                                            </div>


                                            <div class="input-group sell-group-decor4">
                                                <label>CGST %</label>
                                                <input title="CGST" type="text" placeholder="0.00" id="txtcgst" name="cgst" ng-model="products.cgst" ng-keyup="checkAllProductfields(11)" ng-click="checkAllProductfields(11)" class="search-query form-control" maxlength="5"  valid-number ng-keydown="keyEnter($event,'txtsgst','txtcgst')" data-ng-disabled="true" />
                                              
                                                <span class="error" ng-show="cgstErrorMessage">Enter Valid CGST</span>
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label>SGST %</label>
                                                <input title="SGST" type="text" placeholder="0.00" id="txtsgst" name="sgst" ng-model="products.sgst" ng-keyup="checkAllProductfields(12)" ng-click="checkAllProductfields(12)" class="search-query form-control" maxlength="5" valid-number ng-keydown="keyEnter($event,'txtPackageSize','txtsgst')" data-ng-disabled="true" />

                                              
                                                <span class="error" ng-show="sgstErrorMessage">Enter Valid SGST</span>
                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <label>IGST %</label>
                                                <input title="IGST" type="text" placeholder="0.00" id="txtigst" name="igst" ng-model="products.igst" ng-keyup="checkAllProductfields(10)" ng-click="checkAllProductfields(10)" class="search-query form-control" maxlength="5" ng-change="changeGST('txtigst')" valid-number ng-keypress="keyEnter($event,'txtPackageSize','txtigst')" ng-keydown="checkPercentage($event,products.igst)" data-ng-disabled="true" />
                                            
                                                <span class="error" ng-show="igstErrorMessage">Enter Valid IGST</span>
                                            </div>





                                            <div class="input-group sell-group-decor4">
                                                <label class="required">Units/Strip</label>
                                                <input title="Units/Strip"
                                                       type="text"
                                                       placeholder="Units/Strip"
                                                       id="txtPackageSize"
                                                       name="Units/Strip"
                                                       ng-model="products.packageSize"
                                                       ng-keyup="checkAllProductfields(14)"
                                                       ng-click="checkAllProductfields(14)"
                                                       class="search-query form-control"
                                                       numbers-only
                                                       valid-number
                                                       maxlength="4"
                                                       required
                                                       ng-keypress="keyEnter($event,'btnProductSave','txtPackageSize')"
                                                       ng-keydown="keyEnter($event,'btnProductSave','txtPackageSize')" />

                                           

                                            </div>

                                            <div class="input-group sell-group-decor4">
                                                <div style="margin-top:25px;">
                                                    <button title="Create" class="btn btn-style pull-right" id="btnProductSave" name="btnSave" ng-disabled="!productForm.$valid || vatErrorMessage" ng-click="productsCreate()">
                                                        <span class="pull-left">Save</span>
                                                    </button>
                                                    <button type="button" id="createProductCancel" class="btn btn-style btn-cancel pull-right sell-decor10" ng-click="close('No')" data-dismiss="modal">Cancel [<span>CTRL+C</span>] </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer clearfix">
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>




@*<script type="text/ng-template" id="createProduct">
        <div class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog" style="width:700px !important;">
                <div class="">
                    <div class="sell-temporary-stock">
                        <ng-form id="productForm" name="productForm">
                            <div class="sell-new-product">
                                <h2>New product</h2>
                                <a class="close-btn-style" style="position: absolute;right: 10px;top: 13px;" aria-hidden="true" data-dismiss="modal" ng-click="close('Cancel')">×</a>
                                <div class="new-product-enter">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Name of Drug <span class="error">*</span></td>
                                                <td>
                                                    <div class="pop-form">
                                                        <input title="Name of drug" type="text" drugname-special-char placeholder="Name Of Drug" id="productName" name="productName" required ng-model="products.name" class="search-query form-control" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProduct($viewValue)" typeahead-on-select="onPatientSelect($item,$event,'genericName')" ng-enter="focusNextField('genericName')" popup-focus="focusInput" />

                                                        <span class="error" ng-show="productForm.productName.$dirty && productForm.productName.$error.required">Required</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Generic Name <span class="error">*</span></td>
                                                <td>
                                                    <div class="pop-form">
                                                        <input title="Generic Name" type="text" typeahead-focus-on-select="false" typeahead-min-length="0" placeholder="Generic Name" id="genericName" name="genericName" required ng-model="products.genericName" ng-keyup="checkAllProductfields(2)" ng-click="checkAllProductfields(2)" uib-typeahead="product as product.genericName for product in getGeneric($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('manufacturer')" ng-enter="focusNextField('manufacturer')" />
                                                        <span class="error" ng-show="productForm.genericName.$dirty && productForm.genericName.$error.required">Required</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Manufacturer<span class="error">*</span></td>
                                                <td>
                                                    <div class="pop-form">
                                                        <input title="Manufacturer" type="text" placeholder="Manufacturer" id="manufacturer" name="manufacturer" required ng-model="products.manufacturer" ng-keyup="checkAllProductfields(3)" ng-click="checkAllProductfields(3)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.manufacturer for product in getManufacturer($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('scheduledCategory')" ng-enter="focusNextField('scheduledCategory')" />
                                                        <span class="error" ng-show="productForm.manufacturer.$dirty && productForm.manufacturer.$error.required">Required</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Scheduled Category</td>
                                                <td>
                                                    <div class="pop-form">
                                                        <input title="Scheduled Category" type="text" placeholder="Scheduled Category" id="scheduledCategory" name="scheduledCategory" ng-model="products.schedule" ng-keyup="checkAllProductfields(4)" ng-click="checkAllProductfields(4)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.schedule for product in getSchedule($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('type')" ng-enter="focusNextField('type')" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Type</td>
                                                <td>
                                                    <div class="pop-form">
                                                        <input title="Type" type="text" placeholder="Type" id="type" name="type" ng-model="products.type" ng-keyup="checkAllProductfields(5)" ng-click="checkAllProductfields(5)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.type for product in getType($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('category')" ng-enter="focusNextField('category')" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Category</td>
                                                <td>
                                                    <div class="pop-form">
                                                        <input title="Category" type="text" placeholder="Category" id="category" name="category" ng-model="products.category" ng-keyup="checkAllProductfields(6)" ng-click="checkAllProductfields(6)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.category for product in getCategory($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('commodityCode')" ng-enter="focusNextField('commodityCode')" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Commodity Code</td>
                                                <td>
                                                    <div class="pop-form">
                                                        <input title="Commodity Code" type="text" placeholder="Commodity Code" id="commodityCode" name="commodityCode" ng-model="products.commodityCode" ng-keyup="checkAllProductfields(7)" ng-click="checkAllProductfields(7)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.commodityCode for product in getCommodity($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('txtVat')" ng-enter="focusNextField('txtVat')" numbers-only valid-number maxlength="10" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Vat %</td>
                                                <td>
                                                    <div class="pop-form">
                                                        <input title="Vat" type="text" placeholder="Vat" id="txtVat" name="Vat" ng-model="products.vAT" ng-keyup="checkAllProductfields(8)" ng-click="checkAllProductfields(8)" class="search-query form-control" ng-enter="focusNextField('txtPackageSize')" maxlength="4" ng-change="changeVat(products.vAT)" valid-number />

                                                        <span class="error" ng-show="vatErrorMessage">Enter Valid Vat</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Units/Strip</td>
                                                <td>
                                                    <div class="pop-form">
                                                        <input title="Units/Strip"
                                                               type="text"
                                                               placeholder="Units/Strip"
                                                               id="txtPackageSize"
                                                               name="Units/Strip"
                                                               ng-model="products.packageSize"
                                                               ng-keyup="checkAllProductfields(9)"
                                                               ng-click="checkAllProductfields(9)"
                                                               class="search-query form-control"
                                                               ng-enter="focusNextField('btnProductSave')"
                                                               numbers-only
                                                               valid-number
                                                               maxlength="4" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="clearfix">
                                        <button type="submit" id="btnProductSave" ng-disabled="!productForm.$valid" ng-click="productsCreate()" class="green-button mr-15 pl-20 pr-20 fR">ADD</button>
                                        <button ng-click="close('No')" data-dismiss="modal" class="darkgray-button mr-10  fR">CANCEL</button>
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
        </div>
    </script>*@






