﻿<script type="text/ng-template" id="DraftListTemplate">
    <div class="modal fade">
        <div class="modal-dialog" style="width:700px !important;">
            <div class="modal-content override_margin">
                <div class="modal-body override_margin">
                    <ng-form id="editRound" name="editRound">
                        <div class="panel panel-default override_margin">
                            <div class="panel-heading panel-noborder">
                                Loaded Draft's
                                <button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="panel-body override_margin">
                                <div class="row" style="padding:10px;border:1px solid #F3F3F3;" ng-hide="vendorPurchaseArray.length == 0"> 
                                    <div class="col-lg-3 text-center">S.No</div>
                                    <div class="col-lg-3 text-center">Draft Name</div>
                                    <div class="col-lg-3 text-center">AddedOn</div>
                                    <div class="col-lg-3 text-center"></div>
                                </div>
                                <div class="row" ng-repeat="item in vendorPurchaseArray track by $index" style="padding:10px;">
                                    <div class="col-lg-3 text-center" style="margin-top:8px;">{{$index+1}}</div>
                                    <div class="col-lg-3 text-center" style="margin-top:8px;">{{item.draftName}}</div>
                                    <div class="col-lg-3 text-center" style="margin-top:8px;">{{item.draftAddedOn | date:'dd/MM/yyyy HH:mm:ss'}}</div>
                                    <div class="col-lg-3 text-center">
                                        <button title="Select Draft" class="btn btn-style btn-cancel pull-left" style="background-color:#F57105;width:45%;" ng-click="selectedDraft(item)">Select</button>

                                        <button title="Delete Draft" class="btn btn-style btn-cancel pull-right" style="margin-left:4px; width:45%;background-color:#F57105;" ng-click="deleteDraft(item,$index)">Delete</button>
                                    </div>
                                </div>
                                <div class="row" ng-show="vendorPurchaseArray.length == 0"><div class="col-lg-12 text-center"><label>No Draft's Found</label></div></div>
                            </div>
                            <div class="panel-footer clearfix">
                                <button type="button" class="btn btn-style btn-cancel pull-right sell-decor10" ng-click="closeModal()" data-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>