﻿<script type="text/ng-template" id="productReturn">
    <div class="popup-overlay form-popup" data-ng-cloak>
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate prpopwidth" style="max-width:1400px !important; margin-bottom:100px;">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Product Purchase Return</h3>
                    <ng-form id="productReturn" name="productReturn">
                        <div class="" style="padding: 15px 15px;">
                            <div class="row  ">
                                <div class="row panel panel-default override_margin">
                                    <div class="row">
                                        <div class="col-md-2 input-group sell-group-decor txtUpper" style="display:none;">
                                            <label class="required">Select Vendor</label>
                                            <select chosen class="form-control" popup-focus="focusInputVendorName"
                                                    title="Vendor Name" id="venName" data-placeholder="Select Vendor Name"
                                                    option="popVendorList"
                                                    ng-model="vendorNameModel"
                                                    ng-options="option as option.name for option in popVendorList track by option.id"
                                                    ng-change="OnselectedVendor(vendorNameModel)" ng-enter="focusToReason()">
                                                <option value=""></option>
                                            </select>  
                                        </div>
                                      
                                        <div class="col-md-2 input-group purchase-product sell-group-decor txtUpper">
                                            <label class="required">Product</label>
                                            <input title="Product Name" type="text"
                                                   placeholder="Enter Product Name"
                                                   id="drugName1"
                                                   name="drugName1"
                                                   typeahead-no-results="noResults"
                                                   typeahead-min-length="1"
                                                   class="search-query form-control"
                                                   ng-model="selectedProduct"
                                                   ng-enter="focusQuantity()"
                                                   ng-keyup="CheckName()"
                                                   popup-focus="focusProductName"
                                                   typeahead-on-select="OnProductSelect($item)"
                                                   typeahead-focus-on-select="false" typeahead-template-url="itemTpl1.html"
                                                   uib-typeahead="product as product.name for product in getreturnProducts($viewValue)" />
                                        </div>
                                        @*<div class="col-md-1 input-group sell-group-decor">
                                            <label class="required">Quantity</label>
                                            <input id="productqtyId" type="text" name="productquantities" ng-model="addselectedproduct.productquantity" placeholder="Return Qty" class="form-control form-control-small" valid-number required ng-enter="focusAddProduct()" numbers-only ng-keyup="IsvalidProductQty()" maxlength="7">
                                            <span ng-show="isValidQty" class="error">available stock : {{selectedBatchTotStock}}</span>
                                        </div>*@
                                        <div class="col-md-2 input-group sell-group-decor">
                                            <label class="required">Batch</label>
                                            <select chosen id="batchId" ng-key-enter="focusBatchNumber()" popup-focus="fsbatchNumber"
                                                    title="Batch Number"
                                                    option="batchListNew"
                                                    data-placeholder="No results match"
                                                    ng-model="selectedBatch"
                                                    ng-options="item.productStock.batchNo + '   ('+ ( availStrip(item.productStock.totalStock,item.productStock.packageSize)  | number : 0) + ')'
                                                for item in batchListNew track by item.productStock.id"
                                                    class="form-control override_margin small" name="batchId" required
                                                    ng-change="batchSelected(selectedBatch)">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class='col-md-1 input-group sell-group-decor'>
                                            <div class='form-group'>
                                                <label >Expiry</label>
                                                <div class="input-group trimLR override_margin cal_adjusted">
                                                    <input onfocus="this.select();" type="text"
                                                           class="form-control {{highlight}}"
                                                           id="expDate"
                                                           name="expDate"
                                                           required
                                                           title="Expiry Date"
                                                           uib-datepicker-popup="MM/yy"
                                                           placeholder="MM/YY"
                                                           ng-model="addselectedproduct.productStock.expireDate"
                                                           is-open="popup2.opened"
                                                           min-date="minDate"
                                                           max-date="maxDate"
                                                           datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)"
                                                           close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           my-date
                                                           ng-change="dayDiff(addselectedproduct.productStock.expireDate)"
                                                           ng-disabled="true"
                                                           focus-box
                                                           nextid="Rackno" />
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-1 input-group sell-group-decor'>
                                            <div class='form-group'>
                                                <label >Units/Strip</label>
                                                <input onfocus="this.select();" id="packageSize"
                                                       title="Units/Strip"
                                                       name="packageSize"
                                                       required
                                                       type="text"
                                                       placeholder="0"
                                                       maxlength="4"
                                                       class="form-control"
                                                       ng-disabled="true"
                                                       focus-box
                                                       nextid="packageQuantity"
                                                       numbers-only
                                                       valid-number
                                                       ng-model="addselectedproduct.productStock.packageSize"
                                                       ng-change="checkPackageSize(addselectedproduct.productStock.packageSize)" />
                                            </div>
                                        </div>
                                        <div class='col-md-1 input-group sell-group-decor'>
                                            <div class='form-group'>
                                                    <label >No. of Strips</label>
                                                    <input onfocus="this.select();" title="No of Strips"
                                                           id="productqtyId"
                                                           name="productquantities"
                                                           required
                                                           type="text"
                                                           min="0"
                                                           placeholder="0"
                                                           maxlength="7"
                                                           class="form-control"
                                                           ng-model="addselectedproduct.productquantity"
                                                           nextid="purchasePrice"
                                                           valid-number 
                                                           ng-enter="focusAddProduct()" 
                                                           numbers-only ng-keyup="IsvalidProductQty()" 
                                                           @*ng-change="validateFreeQty()"*@
                                                            />
                                                <span class="error" ng-show="isValidQty==true" style="margin-left: 0px;">No.of strips is greater than of available strips.</span>
                                            </div>
                                        </div>
                                        <div class='col-md-1 input-group sell-group-decor'>
                                            <div class='form-group'>
                                                    <label >Price/Strip</label>
                                                    <input onfocus="this.select();" title="Price/Strip"
                                                           id="purchasePrice"
                                                           name="purchasePrice"
                                                           type="text"
                                                           valid-number
                                                           required
                                                           placeholder="0"
                                                           maxlength="10"
                                                           class="form-control"
                                                           focus-box
                                                           nextid="sellingPrice"
                                                           ng-model="addselectedproduct.packagePurchasePrice" ng-disabled="true"
                                                            />
                                            </div>
                                        </div>
                                        <div class='col-md-1 input-group sell-group-decor'>
                                            <div class='form-group'>
                                                    <label >{{enableSelling ? 'Selling/Strip' : 'MRP/Strip'}}</label>
                                                    <input onfocus="this.select();" title="{{enableSelling ? 'Selling/Strip' : 'MRP/Strip'}}"
                                                           id="sellingPrice"
                                                           name="sellingPrice"
                                                           required
                                                           type="text"
                                                           valid-number
                                                           placeholder="0.00"
                                                           maxlength="10"
                                                           class="form-control"
                                                           focus-box
                                                           ng-model="addselectedproduct.packageSellingPrice" ng-disabled="true"
                                                            />
                                            </div>
                                        </div>
                                        <div class="col-md-1 input-group sell-group-decor">
                                            <label>GST % </label>
                                            @*<input class="form-control form-control-small" type="text" ng-model="addselectedproduct.productStock.gstTotal" ng-disabled="true"  />*@
                                            <select id="gstTotal1" name="gstTotal1" class="form-control" title="GST Total"
                                                    required ng-model="addselectedproduct.productStock.gstTotal" ng-disabled="true"
                                                    >
                                                <option ng-repeat="tax in taxValuesList" value="{{tax.tax}}" ng-selected="addselectedproduct.productStock.gstTotal=={{tax.tax}}">{{tax.tax}}</option>
                                            </select>
                                            <span class="error" style="margin-left:0px;" ng-show="((taxValuesList | filter: { tax: addselectedproduct.productStock.gstTotal } : true).length==0)">Invalid GST {{addselectedproduct.productStock.gstTotal}}% Please update in Inventory Data Update</span>
                                        </div>
                                        <div class="col-md-1 input-group sell-group-decor" style="display:none;">
                                            <label>Cost Price</label>
                                            <input class="form-control form-control-small" type="text" ng-model="addselectedproduct.purchasePrice" ng-disabled="true" />
                                        </div>   
                                        <div class='col-md-1 input-group sell-group-decor'>
                                            <div class='form-group'>
                                                <label>Discount %</label>
                                                <input onfocus="this.select();" title="Discount"
                                                       id="discount"
                                                       name="discount"
                                                       type="text"
                                                       min="0"
                                                       valid-number
                                                       max="100"
                                                       placeholder="0"
                                                       maxlength="5"
                                                       class="form-control"
                                                       ng-keydown="keyEnter($event,'hsnCode','discount')"
                                                       ng-model="addselectedproduct.discount"
                                                       numberfilter />
                                            </div>
                                            <span style="margin-left:0px;" class="error" ng-show="addselectedproduct.discount > 99.99">Should be Lessthan 100</span>
                                        </div>
                                        <div class="col-md-1 input-group sell-group-decor">
                                            <label>Amount </label>
                                            <input class="form-control form-control-small" type="text" ng-model="addselectedproduct.amount" ng-disabled="true" />
                                        </div>  @*class="preTag"*@

                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-md-2 input-group sell-group-decor">
                                            <label class="required">Reason</label>
                                            <select class="form-control" ng-model="reason" id="reasonId" ng-change="changeReason()"
                                                    ng-enter="focusToProd()" popup-focus="focusReason">
                                                <option value="Non Moving Return" selected>Non Moving Return</option>
                                                <option value="Expiry Return">Expiry Return</option>
                                                <option value="Damage Return">Damage Return</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                        @*<span class="error" ng-show="isValidVendor">Select Vendor</span>*@
                                        <div class="row clearfix">
                                            <div class="pull-right" style="margin-bottom: 5px;margin-right: 5px;">
                                                <button id="BtnaddProduct" class="btn btn-style" ng-click="addProduct()" ng-disabled="isValidQty || isValidQuantity || returnStatus || ((taxValuesList | filter: { tax: addselectedproduct.productStock.gstTotal } : true).length==0)">ADD</button>
                                                <button class="btn btn-style btn-cancel" ng-click="clearProductInfo()">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                              

                                <div class="panel panel-default" ng-if="getaddedproduct.length != 0">
                                    <div class="byorder-list byorder-listt" style="max-height: 180px;overflow-y: scroll;">
                                      
                                        <table style="width: 100%;">
                                            <thead style="background-color: #ccc; ">
                                                <tr>
                                                    <th style="width: 40px;">S.No</th>
                                                    <th style="width: 199px;">Product Name</th>
                                                    <th class="text-center" style="width: 10px;padding-right: 30px;">No. of Strips</th>
                                                    <th style="width: 74px;">Batch No</th>
                                                    <th style="width: 74px;">Expiry</th>
                                                    <th class="numRight" style="width: 30px;">GST %</th>
                                                    <th class="numRight" style="width: 30px;">Discount %</th>
                                                    <th class="numRight" style="width: 74px;">Price</th>
                                                    <th class="numRight" style="width: 75px;">Tax(Rs.)</th>
                                                    <th class="numRight" style="width: 75px;">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="ReturnProduct in getaddedproduct">
                                                    <td style="width: 40px;">{{$index+1}}</td>
                                                    <td style="width: 199px;">{{ReturnProduct.name | uppercase}}</td>
                                                    <td class="text-center"  style="width: 10px;padding-right: 30px !important;" > @*ng-show="ReturnProduct.editprodItem==false"*@
                                                    <span>{{ReturnProduct.orderedQty}}</span>
                                                   
                                                    </td>
                                                    <td style="width: 74px;" class="text-center" ng-show="ReturnProduct.editprodItem">
                                                        <input style="width:55px;margin-left:10px;" class="myStyle ng-touched" type="text" ng-model="ReturnProduct.orderedQty"
                                                               ng-enter="saveProductItem(ReturnProduct,$index)" maxlength="4" ng-valid ng-valid-number numbers-only />

                                                        <span style="margin-left:0px;" ng-show="(ReturnProduct.stock < ReturnProduct.orderedQty) || (ReturnProduct.orderedQty == 0)" class="error">Available Qty  {{ReturnProduct.stock}}</span>

                                                    </td>
                                                    <td style="width: 74px;">{{ReturnProduct.batchNo}}</td>
                                                    <td style="width: 74px;">{{ReturnProduct.expireDate}}</td>
                                                    <td class="numRight" style="width: 30px;">{{ReturnProduct.gstTotal}}</td>
                                                    <td class="numRight" style="width: 30px;">{{ReturnProduct.discount}}</td>
                                                    <td class="numRight" style="width: 74px;">{{ReturnProduct.packagePurchasePrice | number:2}}</td>
                                                    <td class="numRight" style="width: 74px;">{{ReturnProduct.tax | number:2}}</td>
                                                    <td class="numRight" style="width: 75px;">
                                                        @*<span class="">{{ ((ReturnProduct.orderedQty * ReturnProduct.packagePurchasePrice) - discountVal) | number:2 }}</span>*@
                                                        <span class="">{{ ((ReturnProduct.orderedQty * ReturnProduct.packagePurchasePrice)) | number:2 }}</span>
                                                    </td>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    
                                </div>

                                @* new table *@
                            </div>
                            <div class="clearfix">
                                @*<div class="pull-left">
                                    <span style="color:#3DB29F;" ng-if="getaddedproduct.length != 0">
                                        <b style="font-size:17px;">Total Return:{{retTotal | number:2}}</b>
                                    </span>
                                </div>*@
                                <button id="Return" title="Return Items"  data-ng-click="addReturnToPurchase()" class="btn primary-button pull-right">Return Items</button>
                                <button id="popupId" class="secondary-button pull-right" ng-click="close()">Cancel</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>


<style>
    .form-data label {
        font-size: 14px !important;
    }
</style>

<script type="text/ng-template" id="itemTpl1.html">
        <a tabindex="-1" class="productddl" ng-if="match.model.accountId==null">
            <span class='global local'>L </span><span class="gap"> </span>
            <span ng-bind-template="{{match.model.productStock.name}}"></span>
         
        </a>
        <a tabindex="-1" class="productddl" ng-if="match.model.accountId!=null">
            <span class='global local'>L </span><span class="gap"> </span>
            <span ng-bind-template="{{match.model.productStock.name}}"></span>
        </a>
    </script>



