﻿
<script type="text/ng-template" id="saveDraftTemplate">
    <div class="modal fade">
        <div class="modal-dialog" style="width:700px !important;">
            <div class="modal-content override_margin">
                <div class="modal-body override_margin">
                    <ng-form id="editRound" name="editRound">
                        <div class="panel panel-default override_margin">
                            <div class="panel-heading panel-noborder">
                                Save Draft
                                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="panel-body override_margin">
                                <div class="row">
                                    <div class="col-lg-12 text-center" style="padding:10px;">
                                        <input class="form-control" id="draftName" type="text" ng-model="draftName" style="width:50%;margin-left:25%;" />
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer clearfix">
                                <button type="button" class="btn btn-style btn-cancel pull-right sell-decor10" ng-click="close('Cancel')" data-dismiss="modal">Cancel</button>

                                <button type="button" class="btn btn-style btn-cancel pull-right sell-decor10" ng-disabled="draftName == ''||draftName == undefined" ng-click="saveDraft()">Save</button>

                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>