﻿<script type="text/ng-template" id="showDC">

    <div class="popup-overlay form-popup" style="background-color: rgba(0, 0, 0, 0.7);">

        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:1500px;">
                    <div class="popup-close" data-ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Select {{(dcVendorPurchaseItem.length > 0? 'DC' : '' )}}  {{((dcVendorPurchaseItem.length > 0 && poVendorPurchaseItem.length > 0) ? ' & ' : '' )}} {{(poVendorPurchaseItem.length > 0? 'PO' : '' )}} Items</h3>
                    <ng-form id="showDC" name="showDC">
                        <div class="reminder-popup-wrap dc-pop">
                            <div class="row popup-row">
                                <div data-ng-show="dcVendorPurchaseItem.length > 0">
                                    <h5><b>Delivery Challan Items</b></h5>
                                    <div class="sel-div">
                                        <select style="min-width:200px;" id="dcNo" name="dcNo"
                                                ng-model="selectedDcNo" class="form-control"
                                                ng-options="dcItem.dcNo for dcItem in dcVendorPurchaseItem | unique: 'dcNo'"
                                                ng-change="checkSelectedDcItem()">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                    <div class="dc-popup-list" style="max-height:210px !important">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th><input id="selectedAll" name="selectedAll" type="checkbox" ng-click="selectAll()" ng-model="isAllSelected" /> Select All</th>
                                                    <th>Product</th>
                                                    <th>Date</th>
                                                    <th>Dc No.</th>
                                                    <th>Batch No.</th>
                                                    <th>Expiry</th>
                                                    <th class="text-center">IGST %</th>
                                                    <th class="text-center">CGST %</th>
                                                    <th class="text-center">SGST %</th>
                                                    <th class="text-center" data-ng-show="!GSTEnabled">VAT %</th>
                                                    <th class="text-center" data-ng-show="GSTEnabled">GST %</th>
                                                    <th class="text-center">Units/Strip</th>
                                                    <th class="text-center">No.of Strips</th>
                                                    <th class="text-right">Price/Strip</th>
                                                    <th class="text-right" data-ng-show="enableSelling">Selling/Strip</th>
                                                    <th class="text-right">MRP/Strip</th>
                                                    <th class="text-center">Free Strips</th>
                                                    <th class="text-center">Disc %</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="dcItem in dcVendorPurchaseItem | filter: {dcNo : dcNoFilter}">
                                                    <td><label><input type="checkbox" focus-me="shouldBeOpen" id="cbx{{$index+1}}" name="cbx{{$index+1}}" data-ng-model="dcItem.isSelected" value="{{dcItem.isSelected}}" data-ng-click="addCount()" data-ng-keydown="keyPressDown($event)" /></label></td>
                                                    <td>{{dcItem.productStock.product.name}}</td>
                                                    <td>{{dcItem.dcDate | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{dcItem.dcNo}}</td>
                                                    <td>{{dcItem.productStock.batchNo}}</td>
                                                    <td>{{dcItem.productStock.expireDate | date:'MM/yy'}}</td>
                                                    <td align="center">{{dcItem.productStock.igst}}</td>
                                                    <td align="center">{{dcItem.productStock.cgst}}</td>
                                                    <td align="center">{{dcItem.productStock.sgst}}</td>
                                                    @*<td align="center">{{dcItem.productStock.vAT}}</td>*@
                                                    <td align="center">{{dcItem.productStock.gstTotal}}</td>
                                                    <td align="center">{{dcItem.packageSize}}</td>
                                                    <td align="center">{{dcItem.packageQty}}</td>
                                                    <td align="right">{{dcItem.packagePurchasePrice | number:2}}</td>
                                                    <td align="right">{{dcItem.packageSellingPrice | number:2}}</td>
                                                    <td align="right" data-ng-show="enableSelling">{{dcItem.packageMRP | number:2}}</td>
                                                    <td align="center">{{dcItem.freeQty}}</td>
                                                    <td align="center">{{dcItem.discount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div data-ng-show="poVendorPurchaseItem.length > 0">
                                    <h5><b style="text-align:center;">Purchase Order Items</b></h5>
                                    <div class="dc-popup-list" style="max-height:210px !important;">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th class="text-center">OrderId</th>
                                                    <th>Date</th>
                                                    <th class="text-center" data-ng-show="!GSTEnabled">VAT %</th>
                                                    <th class="text-center" data-ng-show="GSTEnabled">GST %</th>
                                                    <th class="text-center">Units/Strip</th>
                                                    <th class="text-center">No.of Strips</th>
                                                    <th class="text-center">Free Quantity</th>
                                                    <th class="text-right">Price/Strip</th>
                                                    <th class="text-right">MRP/Strip</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="poItem in poVendorPurchaseItem track by $index">
                                                    <td>
                                                        <label>
                                                            <input type="checkbox" focus-me="shouldBeOpen" id="cbx{{$index+1}}" name="cbx{{$index+1}}" data-ng-model="poItem.isSelected"
                                                                   value="{{poItem.isSelected}}" data-ng-click="addCountPo(poItem.isSelected)" data-ng-keydown="poKeyPressDown($event)" />{{poItem.productName}}
                                                        </label>
                                                    </td>
                                                    <td align="center">{{poItem.vendorOrder.orderId}}</td>
                                                    <td>{{poItem.createdAt | date:'dd/MM/yyyy'}}</td>
                                                    <td align="center" data-ng-show="!GSTEnabled">{{poItem.product.vat}}</td>
                                                    <td align="center" data-ng-show="GSTEnabled">{{poItem.productStock.gstTotal}}</td>
                                                    <td align="center">{{poItem.packageSize}}</td>
                                                    <td align="center">{{poItem.packageQty}}</td>
                                                    <td align="center">{{poItem.freeQty}}</td>
                                                    <td align="right">{{poItem.purchasePrice | number:2}}</td>
                                                    <td align="right">{{poItem.packageSellingPrice | number:2}}</td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                @*<button id="btnSubmit" name="btnSubmit" class="btn primary-button pull-right" data-ng-disabled="count <= 0" data-ng-click="addItems()">Add</button>*@
                                <button id="btnSubmit" name="btnSubmit" class="btn primary-button pull-right" ng-disabled="(count <= 0 && dcCount <= 0)" ng-click="addItems()">
                                    Add
                                </button>
                                <button class="secondary-button pull-right" data-ng-click="close('No')" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>

</script>




<script type="text/ng-template" id="/itemTpl.html">

    <a tabindex="-1" class="inActivecolor" data-ng-if="match.model.totalstock < 0">
        <span data-ng-bind-template="{{match.model.name}}"></span>
    </a>
    <a tabindex="-1" class="Activecolor" data-ng-if="match.model.totalstock >= 0">
        <span data-ng-bind-template="{{match.model.name}}"></span><span data-ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .dc-popup-list label {
        font-size: 14px;
        line-height: 14px;
        padding: 0;
        margin: 0;
    }

        .dc-popup-list label input {
            margin: 0;
            margin-right: 5px;
        }

    .dc-popup-list table {
        width: 100%;
    }

    .dc-popup-list {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
        max-height: 100px;
        overflow-y: scroll;
    }

        .dc-popup-list th {
            background-color: #d7d7d7;
            font-weight: 700;
            padding: 10px;
        }

        .dc-popup-list td {
            padding: 5px 10px;
        }

        .dc-popup-list tbody tr {
            border-bottom: 1px solid #f3f3f3;
        }

    .reminder-popup-wrap {
        padding: 10px;
    }
</style>
