@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "CancelList";
    ViewBag.Menu = "Buy";
}
@await Html.PartialAsync("~/Views/VendorPurchase/Menu.cshtml")
<div class="row" ng-app="hcue" ng-controller="vendorPurchaseSearchCtrl" ng-cloak >
    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <div class='row override_margin'>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>From Date</label>
                        <div class="input-group col-md-12 override_margin">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
                                   placeholder="Select Date" ng-model="search.fromDate" is-open="popup3.opened" min-date="minDate" max-date="maxDate" 
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" 
                                   close-text="Close" alt-input-formats="altInputFormats" my-date   ng-keyup="keyEnter($event,'Todate')" />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open3()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                    <div class='col-sm-2 override_margin'>
                        <label>To Date</label>
                        <div class='form-group'>
                            <div class="input-group col-md-12 override_margin">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
                                       placeholder="Select Date" ng-model="search.toDate" is-open="popup4.opened" min-date="minDate" max-date="maxDate" 
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" 
                                       alt-input-formats="altInputFormats" my-date id="Todate" ng-keyup="keyEnter($event,'vendor')" />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open4()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select Anyone</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="vendor" name="vendor" title="Vendor Name" 
                                    placeholder="Select anyone" ng-model="search.select"  ng-change="changefilters()" class="form-control" required>
                                <option value="">Please Select</option>
                                <option value="batchNo">Batch</option>
                                <option value="invoiceNo">Invoice No</option>
                                <option value="grNo">GR No.</option>
                                <option value="vendorName">Vendor Name</option>
                                @*<option value="billDate">Invoice Date</option>*@ //Commented by arun as confirmed by punithavel 0n 21.03.2017
                                <option value="product">Product Name</option>
                                @*<option value="expiry">Expiry Date</option>*@
                                @*<option value="email">Email</option>*@
                                <option value="mobile">Vendor Mobile</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin' ng-if="salesCondition==true">
                    <div class='form-group'>
                        <label>Select condition</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select1" class="form-control" required>
                                <option value="">Please Select</option>
                                <option value="equal">=</option>
                                <option value="greater">></option>
                                <option value="less"><</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 override_margin" ng-if="dateCondition==true">
                    <div class='form-group'>
                        <label>Select From Date</label>
                        <div class="input-group col-md-12 override_margin">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Select Date" 
                                   ng-model="search.values" is-open="popup1.opened" min-date="minDate" max-date="maxDate"
                                    datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" 
                                   close-text="Close" alt-input-formats="altInputFormats" my-date ng-keyup="keyEnter($event,'ToDate')" />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 override_margin" ng-if="dateCondition==true">
                    <div class='form-group'>
                        <label>Select To Date</label>
                        <div class="input-group col-md-12 override_margin">
                            <input type="text" id="ToDate" class="form-control" uib-datepicker-popup="{{format}}" 
                                   placeholder="Select Date" ng-model="search.selectValue" is-open="popup2.opened" min-date="minDate" max-date="maxDate" 
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" 
                                   alt-input-formats="altInputFormats" my-date ng-keyup="keyEnter($event,'Search')" />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin' ng-if="dateCondition==false && productCondition==false && vendorname == false">
                    <div class='form-group'>
                        <label>Enter Values</label>
                        <div class="input-group col-md-12 override_margin">
                            @*<input type="text" class="form-control {{highlight}}" id="expDate" name="expDate" ng-keyup="keyEnter($event,'vat')" required uib-datepicker-popup="dd/MM/yyyy" placeholder="Expiry Date" ng-model="search.values" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date ng-change="dayDiff(search.values)" />*@
                            <input title="Values"  ng-disabled="disable == true" class="form-control required email" id="Values"
                                    name="Values" type="text" placeholder="Enter Value" ng-enter="salesSearch()" 
                                   ng-model="search.values" aw-limit-length ="15" ng-keyup="keyEnter($event,'Search')" />
                        </div>
                        @*<span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>*@
                    </div>
                </div>
                <div class='col-sm-2 override_margin' ng-if="vendorname == true">
                    <div class='form-group'>
                        <label>Enter VendorName</label>
                        <div class="input-group col-md-12 override_margin">
                            @*<input type="text" class="form-control {{highlight}}" id="expDate" name="expDate" ng-keyup="keyEnter($event,'vat')" required uib-datepicker-popup="dd/MM/yyyy" placeholder="Expiry Date" ng-model="search.values" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date ng-change="dayDiff(search.values)" />*@
                                    <div class="input-group col-sm-12 trimLR override_margin">
                                        <select id="vendor"
                                                name="vendor"
                                                chosen
                                                title="Vendor Name"
                                                option="vendorList"
                                                data-placeholder="Select Vendor Name"
                                                ng-change="updateUI(vendorPurchase.selectedVendor)"
                                                ng-disabled="dcItemEdit"
                                                 ng-model="vendorPurchase.selectedVendor"
                                                ng-options="option.name for option in vendorList"
                                                class="form-control"
                                                required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                        </div>
                        @*<span class="input-group-btn wrapper-date">
                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>*@
                    </div>
                <div class='col-md-2 override_margin' ng-if="productCondition==true">
                    <div class='form-group'>
                        <label>Enter Product Name</label>
                        <div class="input-group col-md-12 override_margin">
                            <input title="Product Name" type="text" placeholder="Product"
                                    id="drugName" name="drugName" class="search-query form-control" 
                                   ng-enter="salesSearch()" ng-model="search.drugName" typeahead-focus-on-select="false" 
                                     typeahead-on-select="onProductSelect()"
                                   typeahead-min-length="1" ng-keyup="keyEnter($event,'Search')" uib-typeahead="product as product.name for product in getProducts($viewValue)">
                        </div>
                    </div>
                </div>
                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>&nbsp;</label>
                        <div class="input-group col-md-12 override_margin">
                            <button title="Search" id="Search" class="btn btn-style" ng-disabled="search.select != '' && search.values == ''" ng-click="purchaseSearch()">Search</button>
                            <button title="Cancel" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" >
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <div align="right">
                        @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
                    </div>
                    <div class="row tblHeader">
                        <div class="col-md-12 override_margin" >
                            <div class="col-md-1"> GRN No.</div>
                                <div class="col-md-3">Vendor</div>
                                <div class="col-md-2">Cancel Date</div>
                                <div class="col-md-2"> Invoice No.</div>
                                <div class="col-md-1">Inv. date</div>
                                <div class="col-md-2">Mobile</div>
                                <div class="col-md-1"><span class="pull-right">Total</span></div>
                        </div>
                    </div>
                    <div class='row' >
                        <div class="pull-left" ng-if="list.length == 0">
                            No Records found
                        </div>
                        <div ng-repeat="vendorPurchase in list" >
                            <div class="chip-style">
                                <div class="col-md-12 override_margin" style="padding-top:5px !important;">
                                    <div class="col-md-1 sell-group-decor9" style="line-height: 26px;">
                                        <button title="+" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                        <span>&nbsp;{{vendorPurchase.billSeries + vendorPurchase.goodsRcvNo}}</span>
                                    </div>
                                            <div class="col-md-3">{{vendorPurchase.vendor.name}}</div>
                                            <div class="col-md-2">{{vendorPurchase.updatedAt | date:'dd/MM/yy'}}</div>
                                            <div class="col-md-2">{{vendorPurchase.invoiceNo}}</div>
                                                <div class="col-md-1">{{vendorPurchase.invoiceDate | date:'dd/MM/yy' }}</div>
                                                <div class="col-md-2">{{vendorPurchase.vendor.mobile}}</div>
                                    @* netValue added by nandhini *@
                                                <div class="col-md-1"><span class="pull-right" style="margin-right:6px;">{{currency(vendorPurchase.netValue) | singleDecimal | number:2}}</span></div>
                                            </div>
                            <div class="chips-wrapper override_margin col-lg-12 col-md-12" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <div class="col-md-12 override_margin">
                                    <table class="table sell-group-decor10">
                                        <thead class="chips-header">
                                            <tr>
                                               
                                                <th>S.no</th>
                                                <th>Product</th>
                                                <th>P.Date</th>
                                                <th>Batch</th>
                                                @*@if (User.GSTEnabled() == "False")
                                                {*@
                                                    <th ng-show="vendorPurchase.taxRefNo == 0">VAT%</th>
                                                    <th ng-show="vendorPurchase.taxRefNo == 0">CST%</th>
                                                @*}*@
                                                <th ng-show="vendorPurchase.taxRefNo == 1">GST%</th>
                                                <th>Expiry</th>
                                                <th>Units/ Strip</th>
                                                <th>No.Strips</th>
                                                <th>Free Strips</th>
                                                <th>Price/ Strip</th>
                                                <th ng-show="enableSelling">Selling/ Strip</th>
                                                <th>MRP/ Strip</th>
                                                <th>Total Units</th>
                                                <th>Price/ Unit</th>
                                                <th ng-show="enableSelling">Selling/ Unit</th>
                                                <th>MRP/ Unit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-left" ng-repeat="vendorPurchaseItem in vendorPurchase.vendorPurchaseItem">
                                                <td>{{$index+1}}</td>
                                                <td class="txtUpper">{{vendorPurchaseItem.productStock.product.name}}</td>
                                                <td>{{vendorPurchaseItem.createdAt  | date:'dd/MM/yy' }}</td>
                                                <td>{{vendorPurchaseItem.productStock.batchNo}}</td>
                                                @*@if (User.GSTEnabled() == "False")
                                                {*@
                                                    <td ng-show="vendorPurchase.taxRefNo == 0" ng-bind-template="{{vendorPurchaseItem.productStock.vat}} "></td>
                                                    <td ng-show="vendorPurchase.taxRefNo == 0">{{vendorPurchaseItem.productStock.cst}}</td>
                                                @*}*@
                                                <td ng-show="vendorPurchase.taxRefNo == 1">{{vendorPurchaseItem.productStock.gstTotal}}</td>
                                                <td>{{vendorPurchaseItem.productStock.expireDate | date:'MM/yy' }}</td>
                                                <td>{{vendorPurchaseItem.packageSize}}</td>
                                                <td>{{vendorPurchaseItem.packageQty-vendorPurchaseItem.freeQty}}</td>
                                                <td>{{vendorPurchaseItem.freeQty}}</td>
                                                <td>{{currency(vendorPurchaseItem.purchasePrice * vendorPurchaseItem.packageSize)}}</td>
                                                <td>{{vendorPurchaseItem.packageSellingPrice | number:2}}</td>
                                                <td ng-show="enableSelling">{{vendorPurchaseItem.packageMRP | number:2}}</td>
                                                <td>{{vendorPurchaseItem.quantity}}</td>
                                                <td>{{vendorPurchaseItem.purchasePrice | number:2}}</td>
                                                <td>{{vendorPurchaseItem.productStock.sellingPrice | number:2}}</td>
                                                <td ng-show="enableSelling">{{vendorPurchaseItem.productStock.mrp | number:2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12 override_margin" ng-show="vendorPurchase.vendorPurchaseItemAudits.length>0">
                                    <div class="col-md-12 override_margin" ng-repeat="vendorPurchaseItemAudit in vendorPurchase.vendorPurchaseItemAudits">
                                        <div class="row override_margin" style="background-color:#B2E9DE; color:#17875e">
                                            <div class="col-md-6 override_margin" ng-show="vendorPurchaseItemAudit.action=='I'"> <label class="pull-left" style="color:#ff6a00">Data added on {{vendorPurchaseItemAudit.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</label></div>
                                            <div class="col-md-6 override_margin" ng-show="vendorPurchaseItemAudit.action=='I'"> <label class="pull-right" style="color:#ff6a00">Added by {{vendorPurchaseItemAudit.updatedByUser}}</label></div>
                                            <div class="col-md-6 override_margin" ng-hide="vendorPurchaseItemAudit.action=='I'"> <label class="pull-left">Data as on {{vendorPurchaseItemAudit.createdAt | date:'dd/MM/yyyy hh:mm:ss'}}</label></div>
                                            <div class="col-md-6 override_margin" ng-hide="vendorPurchaseItemAudit.action=='I'"> <label class="pull-right">Edited by {{vendorPurchaseItemAudit.updatedByUser}}</label></div>
                                        </div>
                                        <table class="table sell-group-decor10" style="background-color:#B2E9DE">
                                            <thead style="background-color:#B2E9DE; color:#000000">
                                                <tr>
                                                    <th>Drug Name</th>
                                                    <th>Batch No</th>
                                                    @*@if (User.GSTEnabled() == "False")
                                                    {*@
                                                        <th ng-show="vendorPurchase.taxRefNo == 0">VAT%</th>
                                                        <th ng-show="vendorPurchase.taxRefNo == 0">CST%</th>
                                                    @*}*@
                                                    <th ng-show="vendorPurchase.taxRefNo == 1">GST%</th>
                                                    <th>Expiry Date</th>
                                                    <th>Units/ Strip</th>
                                                    <th>No.Strips</th>
                                                    <th>Free Strips</th>
                                                    <th>Price/ Strip</th>
                                                    <th ng-show="enableSelling">Selling/ Strip</th>
                                                    <th>MRP/ Strip</th>
                                                    <th style="border-left:1px solid #fff;">Total Units</th>
                                                    <th>Price/ Unit</th>
                                                    <th ng-show="enableSelling">Selling/ Unit</th>
                                                    <th>MRP/ Unit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-left">
                                                    <td>{{vendorPurchaseItemAudit.productStock.product.name}}</td>
                                                    <td>{{vendorPurchaseItemAudit.productStock.batchNo}}</td>
                                                    @*@if (User.GSTEnabled() == "False")
                                                    {*@
                                                        <td ng-show="vendorPurchase.taxRefNo == 0">{{vendorPurchaseItemAudit.productStock.vat}}</td>
                                                        <td ng-show="vendorPurchase.taxRefNo == 0">{{vendorPurchaseItemAudit.productStock.cst}}</td>
                                                    @*}*@
                                                    <td ng-show="vendorPurchase.taxRefNo == 1">{{vendorPurchaseItemAudit.productStock.gstTotal}}</td>
                                                    <td>{{vendorPurchaseItemAudit.productStock.expireDate | date:'MM/yy' }}</td>
                                                    <td>{{vendorPurchaseItemAudit.packageSize}}</td>
                                                    <td>{{vendorPurchaseItemAudit.packageQty-vendorPurchaseItemAudit.freeQty}}</td>
                                                    <td>{{vendorPurchaseItemAudit.freeQty}}</td>
                                                    <td>{{currency(vendorPurchaseItemAudit.packagePriceAfterTax)}}</td>
                                                    <td>{{vendorPurchaseItemAudit.packageSellingPrice | number:2}}</td>
                                                    <td ng-show="enableSelling">{{vendorPurchaseItemAudit.packageMRP | number:2}}</td>
                                                    <td style="border-left:1px solid #fff;">{{vendorPurchaseItemAudit.quantity}}</td>
                                                    <td>{{vendorPurchaseItemAudit.purchasePrice | number:2}}</td>
                                                    <td>{{vendorPurchaseItemAudit.productStock.sellingPrice | number:2}}</td>
                                                    <td ng-show="enableSelling">{{vendorPurchaseItemAudit.productStock.mrp | number:2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12 override_margin pull-left" style="border-top: 1px solid #EBEAEA;">
                                    <div class="pull-left col-md-9 override_margin" style="text-align:left;padding:5px !important;">
                                        <div class="col-md-8 override_margin"><label>Comments : </label> {{vendorPurchase.comments}}</div>
                                        <div class="col-md-4 override_margin">
                                            <div class="col-md-12 override_margin"><label>Payment Type : </label> {{vendorPurchase.paymentType}} </div>
                                            </div>
                                        <div class="col-md-8 override_margin"><label>Created At : </label> {{vendorPurchase.createdAt  | date:'dd/MM/yy hh:mm' }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyListAppScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/vendororder/vendororderappscriptlist.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorPurchaseCancelCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}
