@{
    ViewBag.Title = "Purchase";
    ViewBag.Menu = "Buy";
}

@await Html.PartialAsync("~/Views/VendorPurchase/Menu.cshtml")

<div class="row" ng-app="hcue" ng-controller="vendorPurchaseCreateCtrl" ng-cloak>
    <!-- Point of Sales Section - start -->
    <ng-form id="vendorPurchaseItems" name="vendorPurchaseItems">
        <div ng-init="init('@ViewBag.Id')"></div>

        <div class="panel panel-default">
            <div class="panel-heading">Inward Stock Entry</div>
            <div class="panel-body">
                <div class='row' ng-form="buyForm">
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 trimLR">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <select 
                                        id="vendor"
                                        name="vendor"
                                        chosen
                                        title="Vendor Name"
                                        option="vendorList"
                                        data-placeholder="Select Vendor Name"
                                        ng-model="selectedVendor"
                                        ng-options="option.name for option in vendorList track by option.id"
                                        class="form-control"
                                        required>
                                    <option value=""></option>
                                </select>
                            </div>
                            <span class="error" ng-show="buyForm.vendor.$dirty && buyForm.vendor.$error.required">Select vendor name</span>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                </span>
                                <input title="Invoice Number" id="invoiceNo" name="invoiceNo" type="text" required placeholder="Invoice No" maxlength="10" class="form-control" ng-model="vendorPurchase.invoiceNo">
                                <span class="error" ng-show="buyForm.invoiceNo.$dirty && buyForm.invoiceNo.$error.required">Required</span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <div class="input-group">
                                <input type="text" title="Invoice date" id="invoiceDate" name="invoiceDate" required class="form-control" uib-datepicker-popup="{{format}}" placeholder="Registration Date" ng-model="vendorPurchase.invoiceDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                                <span class="error" ng-show="buyForm.invoiceDate.$dirty && buyForm.invoiceDate.$error.required">Required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-5'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 trimLR">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/drug.png" />
                                </span>
                                <input type="text" ng-model="selectedProduct" typeahead-focus-on-select="false" typeahead-min-length="3" placeholder="Product" id="drugName" required name="drugName" typeahead-on-select="onProductSelect()" uib-typeahead="product as product.name for product in getProducts($viewValue)" class="form-control form-control-small"/>
                            </div>
                            <span class="error" ng-show="vendorPurchaseItems.drugName.$dirty && vendorPurchaseItems.drugName.$error.required">Required</span>
                        </div>
                    </div>

                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 trimLR">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/batchNumber.png" />
                                </span>
                                <input title="Batch Number" id="batchNo" name="batchNo" required type="text" placeholder="Batch No" maxlength="10" class="form-control" ng-model="vendorPurchaseItem.productStock.batchNo">
                            </div>
                            <span class="error" ng-show="vendorPurchaseItems.batchNo.$dirty && vendorPurchaseItems.batchNo.$error.required">Required</span>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class='form-group '>
                            <div class="input-group col-sm-11 trimLR">
                                <input type="text" class="form-control" id="expDate" name="expDate" required uib-datepicker-popup="{{format}}" placeholder="Expiry Date" ng-model="vendorPurchaseItem.productStock.expireDate" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="error" ng-show="vendorPurchaseItems.expDate.$dirty && vendorPurchaseItems.expDate.$error.required">Required</span>
                        </div>
                    </div>

                    <div class='col-sm-2'>
                        <div class='form-group '>
                            <div class="input-group col-sm-10 trimLR">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/percent.png" />
                                </span>
                                <input title="VAT in %" id="vat" name="vat" required type="text" placeholder="VAT %" class="form-control" maxlength="6" ng-model="vendorPurchaseItem.productStock.vat" valid-number>
                            </div>
                            <span class="error" ng-show="vendorPurchaseItems.vat.$dirty && vendorPurchaseItems.vat.$error.required">Required</span>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 trimLR">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/number.png" />
                                </span>
                                <input id="packageSize" title="Units/Strip" name="packageSize" required type="text" placeholder="Units/Strip" maxlength="4" class="form-control" ng-model="vendorPurchaseItem.packageSize" valid-number>
                            </div>
                            <span class="error" ng-show="vendorPurchaseItems.packageSize.$dirty && vendorPurchaseItems.packageSize.$error.required">Required</span>
                        </div>
                    </div>

                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 trimLR">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/quantity.png" />
                                </span>
                                <input title="No of Strips" id="packageQuantity" name="packageQuantity" required type="text" placeholder="No of Strips" maxlength="4" class="form-control" ng-model="vendorPurchaseItem.packageQty" valid-number>
                            </div>
                            <span class="error" ng-show="vendorPurchaseItems.packageQuantity.$dirty && vendorPurchaseItems.packageQuantity.$error.required">Required</span>
                        </div>
                    </div>

                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 trimLR">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-tag"></span>
                                </span>
                                <input title="Price/Strip" id="purchasePrice" name="purchasePrice" required type="text" placeholder="Price/Strip" maxlength="6" class="form-control" ng-model="vendorPurchaseItem.packagePurchasePrice" valid-number>
                            </div>
                            <span class="error" ng-show="vendorPurchaseItems.purchasePrice.$dirty && vendorPurchaseItems.purchasePrice.$error.required">Required</span>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 trimLR">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-tag"></span>
                                </span>
                                <input title="MRP/Strip" id="sellingPrice" name="sellingPrice" required type="text" placeholder="MRP/Strip" maxlength="6" class="form-control" ng-model="vendorPurchaseItem.packageSellingPrice" valid-number>
                            </div>
                            <span class="error" ng-show="vendorPurchaseItems.sellingPrice.$dirty && vendorPurchaseItems.sellingPrice.$error.required">Required</span>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12 trimLR">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/barcode.png" />
                                </span>
                                <input title="Barcode" id="barCode" name="barCode" type="text" placeholder="Barcode [Optional]" maxlength="12" class="form-control" ng-model="vendorPurchaseItem.productStock.purchaseBarcode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-1 col-md-offset-10 pull-right'>
                        <div class='form-group'>
                            <button title="Add Stock" class="btn btn-small btn-style form-control" ng-disabled="(!vendorPurchaseItems.$valid || selectedVendor.id == null)" ng-click="addStock()">Add</button>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center"><span class="glyphicon glyphicon-minus-sign"></span></th>
                                <th class="text-center">Product Name</th>
                                <th class="text-center">Batch No</th>
                                <th class="text-center">Expiry Date</th>
                                <th class="text-center">VAT</th>
                                <th class="text-center">Units/Strip</th>
                                <th class="text-center">No. Strips</th>
                                <th class="text-center">Price/Strip</th>
                                <th class="text-center">MRP/Strip</th>
                                <th>VAT (Rs.)</th>
                                <th class="text-center">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="vendorPurchaseItem in vendorPurchase.vendorPurchaseItem" ng-form="editPurchaseItems">
                                <td class="text-center">
                                    @*<a href="" class="btn btn-style text-center" style="cursor:pointer" title="Delete" ng-click="removeStock(vendorPurchaseItem)">Delete</a>*@
                                    <span class="glyphicon glyphicon-minus-sign" style="cursor:pointer" title="Delete" ng-click="removeStock(vendorPurchaseItem)"></span>
                                    <span ng-hide="vendorPurchaseItem.isEdit" style="cursor: pointer;" title="Edit" ng-click="editPurchase(vendorPurchaseItem)" class="edit-done-btn"><img src="~/assets/images/edit-patient.png" style="width: 19px;margin-top:-9px" /></span>
                                    <span ng-show="vendorPurchaseItem.isEdit" style="cursor: pointer;" title="Done" ng-click="doneEditPurchase(vendorPurchaseItem, editPurchaseItems.$invalid)" class="edit-done-btn"><img src="~/assets/images/done.png" style="width: 19px;margin-top:-9px" /></span>
                                </td>
                                <td class="text-center">
                                    <span>{{vendorPurchaseItem.productStock.product.name}}</span>
                                </td>
                                <td class="text-center">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.productStock.batchNo}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" id="batchNumber" name="batchNumber" style="width:90px" type="text" placeholder="Batch No" required ng-model="vendorPurchaseItem.productStock.batchNo">
                                    <span class="error" ng-show="editPurchaseItems.batchNumber.$dirty && editPurchaseItems.batchNumber.$error.required">Required</span>
                                </td>
                                <td class="text-center">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.productStock.expireDate | date:'MM/dd/yyyy'}}</span>
                                    <span ng-if="vendorPurchaseItem.isEdit == true">
                                        <input ng-show="vendorPurchaseItem.isEdit" type="text" class="form-control expire-date" id="expire" name="expire" required uib-datepicker-popup="{{format}}" placeholder="Expiry Date" ng-model="vendorPurchaseItem.productStock.expireDate" is-open="vendorPurchaseItem.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                        <span class="input-group-btn wrapper-date" style="width:0px">
                                            <button type="button" class="btn btn-default btn1" ng-click="open3(vendorPurchaseItem)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        <span class="error" ng-show="editPurchaseItems.expire.$dirty && editPurchaseItems.expire.$error.required">Required</span>
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.productStock.vat}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" type="text" id="vatEdit" style="width:40px" name="vatEdit" placeholder="VAT" required maxlength="6" ng-model="vendorPurchaseItem.productStock.vat" valid-number>
                                    <span class="error" ng-show="editPurchaseItems.vatEdit.$dirty && editPurchaseItems.vatEdit.$error.required">Required</span>
                                </td>
                                <td class="text-center">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.packageSize}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" name="unitsStrip" id="unitsStrip" style="width:75px" type="text" required placeholder="Units/Strip" ng-model="vendorPurchaseItem.packageSize" valid-number>
                                    <span class="error" ng-show="editPurchaseItems.unitsStrip.$dirty && editPurchaseItems.unitsStrip.$error.required">Required</span>
                                </td>
                                <td class="text-center">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.packageQty}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" type="text" id="pkgQty" name="pkgQty" style="width:65px" required placeholder="Qty" ng-model="vendorPurchaseItem.packageQty" valid-number>
                                    <span class="error" ng-show="editPurchaseItems.pkgQty.$dirty && editPurchaseItems.pkgQty.$error.required">Required</span>
                                </td>
                                <td class="text-center">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.packagePurchasePrice}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" type="text" id="pakgPrice" name="pakgPrice" style="width:75px" required placeholder="Price/Strip" ng-model="vendorPurchaseItem.packagePurchasePrice" valid-number>
                                    <span class="error" ng-show="editPurchaseItems.pakgPrice.$dirty && editPurchaseItems.pakgPrice.$error.required">Required</span>
                                </td>
                                <td class="text-center">
                                    <span ng-hide="vendorPurchaseItem.isEdit">{{vendorPurchaseItem.packageSellingPrice}}</span>
                                    <input ng-show="vendorPurchaseItem.isEdit" type="text" id="pkgSell" name="pkgSell" style="width:75px" required placeholder="MRP/Strip" ng-model="vendorPurchaseItem.packageSellingPrice" valid-number>
                                    <span class="error" ng-show="editPurchaseItems.pkgSell.$dirty && editPurchaseItems.pkgSell.$error.required">Required</span>
                                </td>
                                <td class="text-center">{{(vendorPurchaseItem.packagePurchasePrice * vendorPurchaseItem.packageQty) * (vendorPurchaseItem.productStock.vat / 100)}}</td>
                                <td class="text-center" style="width:50px">{{vendorPurchaseItem.packagePurchasePrice * vendorPurchaseItem.packageQty}}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Check-In Details</div>
            <div class="panel-body">
                <div class='row'>
                    <div class='col-sm-6'>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered ">
                            <tbody>
                                <tr><td><strong>Total</strong> </td><td><strong>{{vendorPurchase.total | number:2}}</strong></td></tr>
                                <tr><td><strong>VAT</strong></td><td><strong>{{vendorPurchase.vat | number:2}}</strong></td></tr>
                                <tr><td><strong>Discount %</strong></td><td><input type="text" placeholder="Discount" ng-model="vendorPurchase.discount" class="qty-input" maxlength="3" valid-number></td></tr>
                                <tr><td><strong>Discounted Value</strong></td><td><strong>{{(vendorPurchase.discount / 100) * (vendorPurchase.total + vendorPurchase.vat) | number:2}}</strong></td></tr>
                                <tr><td><strong>Net Value</strong></td><td><strong>{{ (vendorPurchase.total + vendorPurchase.vat)  - ((vendorPurchase.discount / 100) * (vendorPurchase.total + vendorPurchase.vat)) | number:2}}</strong></td></tr>
                                <tr>
                                    <td><strong>Amount Paid</strong></td>
                                    <td>
                                        <input type="text" placeholder="Amount Paid" ng-model="vendorPurchase.credit" class="qty-input" valid-number>
                                        <span style="color: red" ng-if="vendorPurchase.credit > Math.ceil((vendorPurchase.total + vendorPurchase.vat) - ((vendorPurchase.discount / 100) * (vendorPurchase.total + vendorPurchase.vat)))" ng-message="required">Amount is exceeded</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class='col-sm-6'>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered no-border-bg">
                            <tbody>
                                <tr>
                                    <td class="text-left no-border-bg">
                                        <div class="form-inline rbcash">
                                            <div class="btn-cc-section">
                                                <label class="radio">
                                                    <input title="Cash" type="radio" value="Cash" name="paymentType_{{$index}}" ng-click="editCheque(vendorPurchase, false)" ng-model="vendorPurchase.paymentType" />
                                                    <span for="cash" class="dollar" title="Cash"></span> Cash &nbsp;
                                                </label>

                                                <label class="radio">
                                                    <input title="Card" type="radio" value="Card" name="paymentType_{{$index}}" ng-click="editCheque(vendorPurchase, false)" ng-model="vendorPurchase.paymentType" />
                                                    <span for="cash" class="card" title="Card"></span> Card &nbsp;
                                                </label>
                                                <label class="radio">
                                                    <input title="Cheque" type="radio" value="Cheque" ng-click="editCheque(vendorPurchase, true)" name="paymentType_{{$index}}" ng-model="vendorPurchase.paymentType" />
                                                    <span for="cheque" class="dollar cheque" title="Cheque"></span> Cheque &nbsp;
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pull-left">
                                            <div class="col-sm-5 pull-left">
                                                <input id="chequeNo" class="form-control " ng-show="vendorPurchase.isChequeEdit" name="chequeNo" type="text" placeholder="Cheque No" ng-model="vendorPurchase.chequeNo">
                                            </div>
                                            <div class="input-group col-sm-5 pull-left">
                                                <input id="chequeDate" class="form-control col-sm-5 pull-left" ng-show="vendorPurchase.isChequeEdit" name="chequeDate" type="text" placeholder="Cheque Date" ng-model="vendorPurchase.chequeDate" uib-datepicker-popup="{{format}}" is-open="popup4.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                                <span class="input-group-btn wrapper-date" ng-show="vendorPurchase.isChequeEdit">
                                                    <button type="button" class="btn btn-default btn1" ng-click="open4()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                            </tbody>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " style="height: 112px;">
                            <tbody>
                                <tr class="round-off-section"><td colspan="7"><br />Round Off : <span>{{ Math.ceil((vendorPurchase.total + vendorPurchase.vat) - ((vendorPurchase.discount / 100) * (vendorPurchase.total + vendorPurchase.vat))) }}</span></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-footer clearfix">
                <div class="pull-left">
                    <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                </div>
                <div class="pull-right">
                    <button title="Add Stock" class="btn btn-style" ng-disabled="vendorPurchase.vendorPurchaseItem == 0 || buyForm.$invalid || editItems > 0 || vendorPurchase.credit > Math.ceil(vendorPurchase.total - ((vendorPurchase.discount / 100) * vendorPurchase.total))" ng-click="save()">Update Stock</button>
                </div>
            </div>
        </div>
    
    </ng-form>
</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>

    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchasecreatectrl.js"></script>
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
}
<!-- Point of Sales Section - End -->