@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Buy List";
    ViewBag.Menu = "Buy";
}
@await Html.PartialAsync("~/Views/VendorPurchase/Menu.cshtml")
<div class="row" ng-app="hcue" ng-controller="vendorPurchaseSearchCtrl" ng-cloak>
    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <form name="PurchaseHistoryList">
                <div class='row override_margin'>
                    <div class='col-sm-2 override_margin'>
                        <div class='form-group'>
                            <label>Select Anyone</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="vendor" name="vendor" title="Filter" placeholder="Select anyone" ng-model="search.select" ng-change="changefilters()" class="form-control">
                                    <option value="">All</option>
                                    <option value="batchNo">Batch</option>
                                    <option value="invoiceNo">Invoice No</option>
                                    <option value="grNo">GR No.</option>
                                    <option value="vendorName">Vendor Name</option>
                                    <option value="billDate">Invoice Date</option>
                                    <option value="product">Product Name</option>
                                    <option value="expiry">Expiry Date</option>
                                    <option value="email">Email</option>
                                    <option value="mobile">Vendor Mobile</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2 override_margin' ng-if="salesCondition==true">
                        <div class='form-group'>
                            <label>Select condition</label>
                            <div class="input-group col-md-12 override_margin">
                                <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select anyone" ng-model="search.select1" class="form-control" required>
                                    <option value="" disabled="" selected="" style="display:none">---Please Select---</option>
                                    <option value="equal">=</option>
                                    <option value="greater">></option>
                                    <option value="less"><</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-2 override_margin ' ng-if="VendorCondition==true">
                        <div class='form-group'>
                            <label>Vendor Name</label>
                            <div class="input-group col-md-12 override_margin">
                                <input type="text" ng-model="search.name" class="form-control"
                                       typeahead-focus-on-select="false"
                                       typeahead-min-length="1"
                                       placeholder="Vendor name"
                                       id="vendorName" required
                                       name="vendorName"
                                       title="Vendor name"
                                       typeahead-on-select="onVendorSelect($item,$event)"
                                       ng-enter="onVendorSelect($item,$event)"
                                       typeahead-editable="false"
                                       ng-keyup="keyEnter($event,'Search')"
                                       uib-typeahead="ps as ps.name for ps in getVendor($viewValue)" />
                            </div>
                                
                            </div>
                    </div>
                    <div class="col-md-2 override_margin" ng-if="dateCondition==true">
                        <div class='form-group'>
                            <label>Select From Date</label>
                            <div class="input-group col-md-12 override_margin">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" required placeholder="Select Date" ng-model="search.values" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 override_margin" ng-if="dateCondition==true">
                        <div class='form-group'>
                            <label>Select To Date</label>
                            <div class="input-group col-md-12 override_margin">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" required placeholder="Select Date" ng-model="search.selectValue" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2 override_margin' ng-if="EnterCondition==true">
                        <div class='form-group'>
                            <label>Enter Values</label>
                            <div class="input-group col-md-12 override_margin">
                                <input title="Values" class="form-control required email" id="Values" name="Values" required size="30" type="text" placeholder="Enter Value" ng-enter="prePurchaseSearch()" ng-model="search.values" />
                            </div>
                        </div>
                    </div>
                    <div class='col-md-2 override_margin' ng-if="productCondition==true">
                        <div class='form-group'>
                            <label>Enter Product Name</label>
                            <div class="input-group col-md-12 override_margin">
                                <input title="Product Name" type="text" placeholder="Product" id="drugName" required name="drugName" class="search-query form-control" ng-enter="prePurchaseSearch()" ng-model="search.drugName" typeahead-focus-on-select="prePurchaseSearch()" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProducts($viewValue)">
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-4 override_margin'>
                        <div class='form-group'>
                            <label>&nbsp;</label>
                            <div class="input-group col-md-12 override_margin">
                                <button title="Search" class="btn btn-style" ng-disabled="PurchaseHistoryList.$invalid" ng-click="purchaseSearch()">Search</button>
                                <button title="Clear" style="margin-left:3px" class="btn btn-style btn-cancel" ng-click="clearSearch()">Clear</button>
                                <label ng-show="showIstenRecords" style="padding-left:15px;color:#3DB29F">Last 10 Purchase Details Displayed</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper">
                    <div align="right">
                        @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
                    </div>
                    <div class="row tblHeader">
                        <div class="col-md-12 override_margin">
                            <div class="col-md-1"> GRN No.</div>
                            <div class="col-md-1 no-pad-r"> Invoice No.</div>
                            <div class="col-md-7 no-pad-l">
                                <div class="col-md-3" style="text-align:left">Vendor</div>
                                <div class="col-md-2" style="text-align:left">Inv. date</div>
                                <div class="col-md-2">Mobile</div>
                                <div class="col-md-1">Dis%</div>
                                <div class="col-md-2" style="text-align:center">Type</div>
                                <div class="col-md-2"><span class="pull-right">Total</span></div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="pull-left" ng-if="list.length == 0">
                            No Records found
                        </div>
                        <div ng-repeat="vendorPurchase in list">
                            <div class="chip-style">
                                <div class="col-md-12 override_margin">
                                    <div class="col-md-1 sell-group-decor9" style="padding-top:5px !important;line-height: 26px;">
                                        <button title="View More" class="chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                        <span>&nbsp;{{vendorPurchase.billSeries + vendorPurchase.goodsRcvNo}}</span>
                                    </div>
                                    <div class="col-md-1 sell-group-decor9 no-pad-r" style="padding:5px 0px 0px 15px !important;line-height: 26px;">
                                        <span>&nbsp;{{vendorPurchase.invoiceNo}}</span>
                                    </div>
                                    <div class="col-md-7 override_margin no-pad-l" style="padding-top:5px !important">
                                        <div class="col-md-3" style="margin-right: 0px;text-align:left">{{vendorPurchase.vendor.name}}</div>
                                        <div class="col-md-1">{{vendorPurchase.invoiceDate | date:'dd/MM/yyyy' }}</div>
                                        <div class="col-md-3"><span class="pull-right">{{vendorPurchase.vendor.mobile}}</span></div>
                                        <div class="col-md-1"><span class="pull-left" ng-show="vendorPurchase.discount>0">{{vendorPurchase.discount | number:2}}%</span></div>
                                        <div class="col-md-2">{{vendorPurchase.paymentType}}</div>
                                        <div class="col-md-2"><span class="pull-right" style="margin-right:6px;">{{currency(vendorPurchase.netValue==0 ? vendorPurchase.roundOff: vendorPurchase.netValue) | singleDecimal | number:2}}</span></div>
                                    </div>
                                    <div class="col-md-3 override_margin">
                                        <span class="glyphicon glyphicon-print" title="Print Purchase" style="cursor: pointer; padding:4px; margin: 5px;" ng-click="printBill(vendorPurchase)" ng-hide="vendorPurchase.cancelStatus==1"></span>
                                        @*@if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineInstalled() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                                            {
                                            }*@
                                        @if (User.HasPermission(UserAccess.PurchaseEdit))
                                        {
                                            <span ng-if="!vendorPurchase.hasReturn && isOffline==false" ng-class="offlineGreyButton" class="editbtn">
                                                @*<a ng-click="paymentProcess({{vendorPurchase.id}})" ng-href="/vendorPurchase/Index?id={{vendorPurchase.id}}" class="btn  btn-style text-center" title="Edit" ng-hide="vendorPurchase.cancelStatus==1">Edit</a>*@
                                            <button ng-click="paymentProcess(vendorPurchase.id, vendorPurchase.vendor.status)" class="btn btn-style text-center" title="Edit" ng-hide="vendorPurchase.cancelStatus==1" >Edit
                                                </button>
                                            </span>
                                        }
                                        <span class="editbtn" ng-if="isOffline==false">
                                            <a class="btn btn-style text-center" ng-href="/vendorPurchaseReturn/index?id={{vendorPurchase.id}}" title="Return" ng-hide="vendorPurchase.cancelStatus==1">Return</a>
                                        </span>
                                        @if (User.HasPermission(UserAccess.PurchaseCancel))
                                        {
                                            <span class="editbtn" ng-if="isOffline==false">
                                                <a class="btn btn-style text-center" title="Cancel" ng-class="offlineGreyButton" ng-click="CancelItem(vendorPurchase.id)" ng-hide="vendorPurchase.cancelStatus==1">Cancel</a>
                                            </span>
                                        }
                                        @if (User.HasPermission(UserAccess.StockTransfer) && User.HasMultiInstance())
                                        {
                                            <span class="editbtn" ng-if="isOffline==false">
                                                <a class="btn btn-style text-center" title="Transfer" ng-class="offlineGreyButton" ng-click="TransferItem(vendorPurchase.id)" ng-hide="vendorPurchase.cancelStatus==1">Transfer</a>
                                            </span>
                                        }
                                        <div class="col-md-7 override_margin" style="padding:4px;">
                                            <button class="col-md-12 btn btn-style text-center" disabled style="background-color: orangered;font-weight: 500;margin-left: 30px !important;" title="Cancelled" ng-show="vendorPurchase.cancelStatus==1">
                                                Cancelled Bill
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <div class="col-md-12 override_margin">
                                    <table class="table sell-group-decor10">
                                        <thead class="chips-header">
                                            <tr>
                                                <th>S.no</th>
                                                <th>Product</th>
                                                <th>P.Date</th>
                                                <th>Batch</th>
                                                <th ng-show="!(vendorPurchase.taxRefNo == 1)">VAT%</th>
                                                <th ng-show="!(vendorPurchase.taxRefNo == 1)">CST%</th>
                                                <th ng-show="(vendorPurchase.taxRefNo == 1)">GST%</th>
                                                <th>Expiry</th>
                                                <th>Units/ Strip</th>
                                                <th>No.Strips</th>
                                                <th>Free Strips</th>
                                                <th>Price/ Strip</th>
                                                <th ng-show="enableSelling">Selling/ Strip</th>
                                                <th>MRP/ Strip</th>
                                                <th>Total Units</th>
                                                <th>Price/ Unit</th>
                                                <th ng-show="enableSelling">Selling/ Unit</th>
                                                <th>MRP/ Unit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-left" ng-repeat="vendorPurchaseItem in vendorPurchase.vendorPurchaseItem">
                                                <td>{{$index+1}}</td>
                                                <td class="txtUpper">{{vendorPurchaseItem.productStock.product.name}}</td>
                                                <td>{{vendorPurchaseItem.createdAt  | date:'dd/MM/yyyy' }}</td>
                                                <td>{{vendorPurchaseItem.productStock.batchNo}}</td>
                                                <td ng-show="!(vendorPurchase.taxRefNo == 1)" ng-bind-template="{{vendorPurchaseItem.productStock.vat}} "></td>
                                                <td ng-show="!(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseItem.productStock.cst}}</td>
                                                <td ng-show="(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseItem.productStock.gstTotal}}</td>
                                                <td>{{vendorPurchaseItem.productStock.expireDate | date:'MM/yy' }}</td>
                                                <td>{{vendorPurchaseItem.packageSize}}</td>
                                                <td>{{vendorPurchaseItem.packageQty-vendorPurchaseItem.freeQty}}</td>
                                                <td>{{vendorPurchaseItem.freeQty}}</td>
                                                <td>{{currency(vendorPurchaseItem.purchasePrice * vendorPurchaseItem.packageSize)}}</td>
                                                <td>{{vendorPurchaseItem.packageSellingPrice | number:2}}</td>
                                                <td ng-show="enableSelling">{{vendorPurchaseItem.packageMRP | number:2}}</td>
                                                <td>{{vendorPurchaseItem.quantity}}</td>
                                                <td>{{vendorPurchaseItem.purchasePrice | number:2}}</td>
                                                <td>{{vendorPurchaseItem.productStock.sellingPrice | number:2}}</td>
                                                <td ng-show="enableSelling">{{vendorPurchaseItem.productStock.mrp | number:2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12 override_margin" ng-show="vendorPurchase.vendorPurchaseItemAudits.length > 0">
                                    <div class="col-md-12 override_margin" ng-repeat="vendorPurchaseItemAudit in vendorPurchase.vendorPurchaseItemAudits">
                                        @*<div class="row override_margin" style="background-color:#B2E9DE; color:#17875e">*@
                                        <div class="row override_margin" style="color:#17875e;" ng-class="{'Insert' : vendorPurchaseItemAudit.action=='I', 'Edit' : vendorPurchaseItemAudit.action=='U','Delete':vendorPurchaseItemAudit.action=='D'}">
                                            <div class="col-md-6 override_margin" ng-show="vendorPurchaseItemAudit.action=='I'"> <label class="pull-left" style="color:#ff6a00">Added on {{vendorPurchaseItemAudit.createdAt | date:'dd/MM/yyyy hh:mm:ss a'}}</label></div>
                                            <div class="col-md-6 override_margin" ng-show="vendorPurchaseItemAudit.action=='I'"> <label class="pull-right" style="color:#ff6a00">Added by {{vendorPurchaseItemAudit.updatedByUser}}</label></div>
                                            <div class="col-md-6 override_margin" ng-show="vendorPurchaseItemAudit.action=='U'"> <label class="pull-left">Edited on {{vendorPurchaseItemAudit.createdAt | date:'dd/MM/yyyy hh:mm:ss a'}}</label></div>
                                            <div class="col-md-6 override_margin" ng-show="vendorPurchaseItemAudit.action=='U'"> <label class="pull-right">Edited by {{vendorPurchaseItemAudit.updatedByUser}}</label></div>
                                            <div class="col-md-6 override_margin" ng-show="vendorPurchaseItemAudit.action=='D'"> <label class="pull-left">Deleted on {{vendorPurchaseItemAudit.createdAt | date:'dd/MM/yyyy hh:mm:ss a'}}</label></div>
                                            <div class="col-md-6 override_margin" ng-show="vendorPurchaseItemAudit.action=='D'"> <label class="pull-right">Deleted by {{vendorPurchaseItemAudit.updatedByUser}}</label></div>
                                        </div>
                                        @*<table class="table sell-group-decor10" style="background-color:#B2E9DE;">*@
                                        <table class="table sell-group-decor10" ng-class="{'Insert' : vendorPurchaseItemAudit.action=='I', 'Edit' : vendorPurchaseItemAudit.action=='U','Delete':vendorPurchaseItemAudit.action=='D'}">
                                            @*<thead style="background-color:#B2E9DE; color:#000000">*@
                                            <thead style="color:#000000" ng-class="{'Insert' : vendorPurchaseItemAudit.action=='I', 'Edit' : vendorPurchaseItemAudit.action=='U','Delete':vendorPurchaseItemAudit.action=='D'}">
                                                <tr>
                                                    <th>Drug Name</th>
                                                    <th>Batch No</th>
                                                    <th ng-show="!(vendorPurchase.taxRefNo == 1)">VAT%</th>
                                                    <th ng-show="!(vendorPurchase.taxRefNo == 1)">CST%</th>
                                                    <th ng-show="(vendorPurchase.taxRefNo == 1)">GST%</th>
                                                    <th>Expiry Date</th>
                                                    <th>Units/ Strip</th>
                                                    <th>No.Strips</th>
                                                    <th>Free Strips</th>
                                                    <th>Price/ Strip</th>
                                                    <th ng-show="enableSelling">Selling/ Strip</th>
                                                    <th>MRP/ Strip</th>
                                                    <th style="border-left:1px solid #fff;">Total Units</th>
                                                    <th>Price/Unit</th>
                                                    <th ng-show="enableSelling">Selling/ Unit</th>
                                                    <th>MRP/ Unit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-left">
                                                    <td>{{vendorPurchaseItemAudit.productStock.product.name}}</td>
                                                    <td>{{vendorPurchaseItemAudit.productStock.batchNo}}</td>
                                                    <td ng-show="!(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseItemAudit.productStock.vat}}</td>
                                                    <td ng-show="!(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseItemAudit.productStock.cst}}</td>
                                                    <td ng-show="(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseItemAudit.productStock.gstTotal}}</td>
                                                    <td>{{vendorPurchaseItemAudit.productStock.expireDate | date:'MM/yy' }}</td>
                                                    <td>{{vendorPurchaseItemAudit.packageSize}}</td>
                                                    <td>{{vendorPurchaseItemAudit.packageQty-vendorPurchaseItemAudit.freeQty}}</td>
                                                    <td>{{vendorPurchaseItemAudit.freeQty}}</td>
                                                    <td>{{currency(vendorPurchaseItemAudit.purchasePrice * vendorPurchaseItemAudit.packageSize)}}</td>
                                                    <td>{{vendorPurchaseItemAudit.packageSellingPrice | number:2}}</td>
                                                    <td ng-show="enableSelling">{{vendorPurchaseItemAudit.packageMRP | number:2}}</td>
                                                    <td style="border-left:1px solid #fff;">{{vendorPurchaseItemAudit.quantity}}</td>
                                                    <td>{{vendorPurchaseItemAudit.purchasePrice | number:2}}</td>
                                                    <td>{{vendorPurchaseItemAudit.packageSellingPrice/vendorPurchaseItemAudit.packageSize | number:2}}</td>
                                                    <td ng-show="enableSelling">{{vendorPurchaseItemAudit.packageMRP/vendorPurchaseItemAudit.packageSize | number:2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12 override_margin" ng-show="vendorPurchase.vendorPurchaseReturnsHistory.length > 0">
                                    <div class="col-md-12 override_margin" ng-repeat="vendorPurchaseReturn in vendorPurchase.vendorPurchaseReturnsHistory">
                                        <div class="row override_margin" style="background-color:#F9CAED; color:#17875e">
                                            <div class="col-md-6 override_margin">
                                                <label class="pull-left" style="color:#B01D8B">Purchase Return </label>
                                            </div>
                                        </div>
                                        <table class="table sell-group-decor10" style="background-color:#F9CAED">
                                            <thead style="background-color:#F9CAED; color:#000000">
                                                <tr>
                                                    <th>Drug Name</th>
                                                    <th>Batch No</th>
                                                    <th>Expiry Date</th>
                                                    <th ng-show="!(vendorPurchase.taxRefNo == 1)">VAT%</th>
                                                    <th ng-show="!(vendorPurchase.taxRefNo == 1)">CST%</th>
                                                    <th ng-show="(vendorPurchase.taxRefNo == 1)">GST%</th>
                                                    <th>Units/ Strip</th>
                                                    <th>No.Strips</th>
                                                    <th>Free Strips</th>
                                                    <th>Discount%</th>
                                                    <th>Price/ Strip</th>
                                                    <th ng-show="enableSelling">Selling/ Strip</th>
                                                    <th>MRP/ Strip</th>
                                                    <th>Return No</th>
                                                    <th>Return Qty</th>
                                                    @*<th>Return Price</th>*@
                                                    <th ng-show="enableSelling">Selling/ Unit</th>
                                                    <th>MRP/ Unit</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-left" ng-repeat="vendorPurchaseReturnItem in vendorPurchaseReturn.vendorPurchaseReturnItem">
                                                    <td>{{vendorPurchaseReturnItem.productStock.product.name}}</td>
                                                    <td>{{vendorPurchaseReturnItem.productStock.batchNo}}</td>
                                                    <td>{{vendorPurchaseReturnItem.productStock.expireDate | date:'MM/yy' }}</td>
                                                    <td ng-show="!(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseReturnItem.productStock.vat}}</td>
                                                    <td ng-show="!(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseReturnItem.productStock.cst}}</td>
                                                    <td ng-show="(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseReturnItem.productStock.gstTotal}}</td>
                                                    <td>{{vendorPurchaseReturnItem.productStock.packageSize}}</td>
                                                    <td>{{vendorPurchaseReturnItem.quantity / vendorPurchaseReturnItem.productStock.packageSize}}</td>
                                                    <td>{{vendorPurchaseReturnItem.vendorPurchaseItem.freeQty}}</td>
                                                    <td>{{vendorPurchaseReturnItem.discount}}</td>
                                                    <td>{{currency(vendorPurchaseReturnItem.returnPurchasePrice*vendorPurchaseReturnItem.productStock.packageSize)}}</td>
                                                    <td>{{vendorPurchaseReturnItem.productStock.sellingPrice * vendorPurchaseReturnItem.productStock.packageSize | number:2}}</td>
                                                    <td ng-show="enableSelling">{{vendorPurchaseReturnItem.productStock.mrp * vendorPurchaseReturnItem.productStock.packageSize | number:2}}</td>
                                                    <td>{{vendorPurchaseReturn.returnNo}}</td>
                                                    <td>{{vendorPurchaseReturnItem.quantity}}</td>
                                                    @*<td>{{currency(vendorPurchaseReturnItem.returnedTotal)}}</td>*@
                                                    <td>{{vendorPurchaseReturnItem.productStock.sellingPrice | number:2}}</td>
                                                    <td ng-show="enableSelling">{{vendorPurchaseReturnItem.productStock.mrp | number:2}}</td>
                                                    <td ng-show="vendorPurchaseReturnItem.isDeleted==true">Deleted</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               
                                <div class="col-md-12 override_margin" ng-show="vendorPurchase.vendorPurchaseReturns.length > 0">
                                    <div class="col-md-12 override_margin" ng-repeat="vendorPurchaseReturn in vendorPurchase.vendorPurchaseReturns">
                                        <div class="row override_margin" style="background-color:#F9CAED; color:#17875e">
                                            <div class="col-md-6 override_margin">
                                                <label class="pull-left" style="color:#B01D8B">Data Returned @*{{vendorPurchaseReturn.returnDate | date:'dd/MM/yyyy'}}*@ {{vendorPurchaseReturn.createdAt |  date:'dd/MM/yyyy hh:mm:ss a'}}</label>
                                            </div>
                                            <div class="col-md-6 override_margin"> <label class="pull-right" style="color:#B01D8B">Returned by {{vendorPurchaseReturn.createdBy}}</label></div>
                                        </div>
                                        <table class="table sell-group-decor10" style="background-color:#F9CAED">
                                            <thead style="background-color:#F9CAED; color:#000000">
                                                <tr>
                                                    <th>Drug Name</th>
                                                    <th>Batch No</th>
                                                    <th>Expiry Date</th>
                                                    <th ng-show="!(vendorPurchase.taxRefNo == 1)">VAT%</th>
                                                    <th ng-show="!(vendorPurchase.taxRefNo == 1)">CST%</th>
                                                    <th ng-show="(vendorPurchase.taxRefNo == 1)">GST%</th>
                                                    <th>Units/ Strip</th>
                                                    <th>No.Strips</th>
                                                    <th>Free Strips</th>
                                                    <th>Discount</th>
                                                    <th>Price/ Strip</th>
                                                    <th ng-show="enableSelling">Selling/ Strip</th>
                                                    <th>MRP/ Strip</th>
                                                    <th>Return No</th>
                                                    <th>Return Qty</th>
                                                    @*<th>Return Price</th>*@
                                                    <th ng-show="enableSelling">Selling/ Unit</th>
                                                    <th>MRP/ Unit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-left" ng-repeat="vendorPurchaseReturnItem in vendorPurchaseReturn.vendorPurchaseReturnItem">
                                                    <td>{{vendorPurchaseReturnItem.productStock.product.name}}</td>
                                                    <td>{{vendorPurchaseReturnItem.productStock.batchNo}}</td>
                                                    <td>{{vendorPurchaseReturnItem.productStock.expireDate | date:'MM/yy' }}</td>
                                                    <td ng-show="!(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseReturnItem.productStock.vat}}</td>
                                                    <td ng-show="!(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseReturnItem.productStock.cst}}</td>
                                                    <td ng-show="(vendorPurchase.taxRefNo == 1)">{{vendorPurchaseReturnItem.productStock.gstTotal}}</td>
                                                    <td>{{vendorPurchaseReturnItem.vendorPurchaseItem.packageSize}}</td>
                                                    <td>{{vendorPurchaseReturnItem.vendorPurchaseItem.packageQty-vendorPurchaseReturnItem.vendorPurchaseItem.freeQty}}</td>
                                                    <td>{{vendorPurchaseReturnItem.vendorPurchaseItem.freeQty}}</td>
                                                    <td>{{vendorPurchaseReturnItem.vendorPurchaseItem.discount}}</td>
                                                    <td>{{currency(vendorPurchaseReturnItem.returnPurchasePrice*vendorPurchaseReturnItem.vendorPurchaseItem.packageSize)}}</td>
                                                    <td>{{vendorPurchaseReturnItem.productStock.sellingPrice * vendorPurchaseReturnItem.vendorPurchaseItem.packageSize | number:2}}</td>
                                                    <td ng-show="enableSelling">{{vendorPurchaseReturnItem.productStock.mrp * vendorPurchaseReturnItem.vendorPurchaseItem.packageSize | number:2}}</td>
                                                    <td>{{vendorPurchaseReturn.returnNo}}</td>
                                                    <td>{{vendorPurchaseReturnItem.quantity}}</td>
                                                    @*<td>{{currency(vendorPurchaseReturnItem.returnTotal)}}</td>*@
                                                    <td>{{vendorPurchaseReturnItem.productStock.sellingPrice | number:2}}</td>
                                                    <td ng-show="enableSelling">{{vendorPurchaseReturnItem.productStock.mrp | number:2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                @*<div class="col-md-12 override_margin" ng-show="vendorPurchase.deletedVendorPurchaseItem.length > 0">
                                        <div class="col-md-12 override_margin" ng-repeat="DeletedItem in vendorPurchase.deletedVendorPurchaseItem">
                                            <div class="row override_margin" style="background-color:#efa74f; color:#17875e">
                                                <div class="col-md-6 override_margin">
                                                <label class="pull-left">Deleted on {{DeletedItem.updatedAt | date:'dd/MM/yyyy hh:mm:ss a'}}</label></div>
                                                <div class="col-md-6 override_margin"> <label class="pull-right">Deleted by {{DeletedItem.updatedByUser}}</label></div>
                                            </div>
                                            <table class="table sell-group-decor10" style="background-color:#efa74f">
                                                <thead style="background-color:#efa74f; color:#000000">
                                                    <tr>
                                                        <th>Drug Name</th>
                                                        <th>Batch No</th>
                                                        <th>VAT</th>
                                                        <th>CST</th>
                                                        <th>Expiry Date</th>
                                                        <th>Units/ Strip</th>
                                                        <th>No.Strips</th>
                                                        <th>Free Strips</th>
                                                        <th>Price/ Strip</th>
                                                        <th ng-show="enableSelling">Selling/ Strip</th>
                                                        <th>MRP/ Strip</th>
                                                        <th style="border-left:1px solid #fff;">Total Units</th>
                                                        <th>Price/Unit</th>
                                                        <th ng-show="enableSelling">Selling/ Unit</th>
                                                        <th>MRP/ Unit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-left">
                                                        <td>{{DeletedItem.productStock.product.name}}</td>
                                                        <td>{{DeletedItem.productStock.batchNo}}</td>
                                                        <td>{{DeletedItem.productStock.vat}}</td>
                                                        <td>{{DeletedItem.productStock.cst}}</td>
                                                        <td>{{DeletedItem.productStock.expireDate | date:'MM/yy' }}</td>
                                                        <td>{{DeletedItem.packageSize}}</td>
                                                        <td>{{DeletedItem.packageQty-DeletedItem.freeQty}}</td>
                                                        <td>{{DeletedItem.freeQty}}</td>
                                                        <td>{{currency(DeletedItem.packagePriceAfterTax)}}</td>
                                                        <td>{{DeletedItem.packageSellingPrice | number:2}}</td>
                                                        <td ng-show="enableSelling">{{DeletedItem.packageMRP | number:2}}</td>
                                                        <td style="border-left:1px solid #fff;">{{DeletedItem.quantity}}</td>
                                                        <td>{{DeletedItem.purchasePrice | number:2}}</td>
                                                        <td>{{DeletedItem.productStock.sellingPrice | number:2}}</td>
                                                        <td ng-show="enableSelling">{{DeletedItem.productStock.mrp | number:2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>*@
                                <div class="col-md-12 override_margin pull-left" style="border-top: 1px solid #EBEAEA;">
                                    <div class="pull-left col-md-9 override_margin" style="text-align:left;padding:5px !important;">
                                        <div class="row">
                                            <div class="col-md-4 override_margin"><label>Comments : </label> {{vendorPurchase.comments}}</div>
                                            <div class="col-md-4 override_margin"><label>Payment Type : </label> {{vendorPurchase.paymentType}}
<span ng-if="vendorPurchase.paymentType=='Credit'">
    <div><label>No Of Days : </label> {{vendorPurchase.creditNoOfDays}}</div>
</span>
<div ng-if="vendorPurchase.paymentType=='Cheque'">
    <div><label>Cheque No : </label> {{vendorPurchase.chequeNo}}</div>
    <div><label>Cheque Date : </label> {{vendorPurchase.chequeDate | date:'dd/MM/yyyy' }}</div>
</div></div>
                                            @*<div class="col-md-4 override_margin"><label>Payment Type : </label> {{vendorPurchase.paymentType}} </div>*@
                                        </div> 
                                        <div class="row">
                                            <div class="col-md-4 override_margin">
                                                <label>Created Time : </label> {{vendorPurchase.createdAt | date:'dd/MM/yyyy hh:mm a'}}
                                                
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-3 pull-right" style="text-align:right;">
                                        <div class="col-md-12 sell-decor11" ng-if="vendorPurchase.fileName != null">
                                            <a ng-href="/vendorPurchase/Download?fileName={{vendorPurchase.fileName}}" target="_blank" class="text-center"><span class="fa fa-paperclip" style="cursor: pointer; padding:4px; margin: 3px;"> Attachment</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*For show confirmation msg popup window*@
    @{
        await Html.RenderPartialAsync("_showConfirmMsg");
    }
</div>
<style>
    .Insert, .Edit {
        background-color: #B2E9DE !important;
    }

    .Delete {
        background-color: #efa74f !important;
    }
    .editbtn .btn {
        padding: 3px 8px;
        font-size: 12px;
    }
</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/newBuyListAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchasesearchctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />
<script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/showConfirmMsgCtrl.js"></script>
    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
}
