﻿@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
<!--tab-list-->
<ul class="nav nav-tabs override_margin">

    <li class="@(ViewBag.Title == "Purchase" ? "active" : "")">
        <a asp-action="Index" asp-controller="VendorPurchase">
            Purchase <span>(Alt+P)</span>
        </a>
    </li>

    <li class="@(ViewBag.Title == "Buy List" ? "active" : "")">
        <a asp-action="List" asp-controller="VendorPurchase">
             History <span>(Alt+1)</span>
        </a>
    </li>
  
        <li class="@(ViewBag.Title == "Buy Return List" ? "active" : "")">
            <a asp-action="List" asp-controller="VendorPurchaseReturn">
                 Returns List <span>(Alt+2)</span>
            </a>    
        </li>
   
    <li class="@(ViewBag.Title == "CancelList" ? "active" : "")"> @*/Cance list added by POongodi on 07/03/2017*@
        <a asp-action="CancelList" asp-controller="VendorPurchase">
             Cancel List <span>(Alt+3)</span>
        </a>
    </li>
    <li class="@(ViewBag.Title == "Purchase Import" ? "active" : "")">
        <a asp-action="Index" asp-controller="ImportBuy">
             Import <span>(Alt+4)</span>
        </a>
    </li>
    @if (User.HasPermission(UserAccess.Settings))
    {
        <li class="@(ViewBag.Title == "Purchase Import Setting" ? "active" : "")">
            <a asp-action="PurchaseImportSetting" asp-controller="ImportBuy">
                Import Setting <span>(Alt+5)</span>
            </a>
        </li>

        <li class="@(ViewBag.Title == "Settings" ? "active" : "")">
            <a asp-action="Settings" asp-controller="VendorPurchase">
                Settings <span>(Alt+6)</span>
            </a>
        </li>
    }

    @*<li class="@(ViewBag.Menu == "Buy Return Index" ? "active" : "")">
    <a asp-action="returnIndex" asp-controller="VendorPurchaseReturn">
        Bulk Return
    </a>
</li>*@

</ul>
