@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@{
    ViewBag.Title = "Settings";
    ViewBag.Menu = "Buy";
}

@await Html.PartialAsync("~/Views/VendorPurchase/Menu.cshtml")
@if (!User.HasPermission(UserAccess.Settings))
{
    @await Html.PartialAsync("~/Views/Shared/_SettingsRights.cshtml");
}
<div class="row" ng-app="hcue" ng-controller="vendorPurchaseSettingsCtrl" ng-cloak>
    <div ng-hide="IsOffline && !isOnlineEnabled">
        <div class="col-md-12 sell-decor1" style="margin-top:10px !important;">
            
                <span style="cursor: pointer;" title="Purchase Settings" ng-click="showPurchaseSettings()" class="btn text-center {{purchaseSettingsTab}}">Purchase Settings</span>
                @if (User.HasPermission(UserAccess.Admin))
                {
                    <span style="cursor: pointer;" title="Tax Settings" ng-click="showTaxSettings()" class="btn text-center {{taxSettingsTab}}">Tax Settings</span>
                }
            <br />
            <br />

                <div class="row">
                    <div class="col-md-12" hidden>
                        <h3 style="color: #28465a;font-size:18px;font-weight: 500;margin: 0;margin-bottom: 10px;">Tax Type Settings</h3>

                        <div class="row sell-group-decor5 radio">
                            <div class="input-group override_margin" style="float:left;">
                                <input title="DefaultTax" type="radio" value="DefaultTax" ng-model="SaveTaxType" name="Taxtype" id="Default" ng-change="ChangeTax()" />
                                <label for="Default">Default</label>
                            </div>
                            <div class="input-group override_margin" style="float:left;">
                                <input title="CustomTax" type="radio" value="CustomTax" name="Taxtype" ng-model="SaveTaxType" id="Custom" ng-change="ChangeTax()" />
                                <label for="Custom">Custom Tax</label>
                            </div>

                            <div class="col-md-12 override_margin ">


                                <button title="Save Tax Type" id="SaveTaxtype" class="btn btn-style pull-left" ng-click="SaveTaxtypeseries()" ng-disabled="SaveTaxType=='CustomTax' && TaxSeriesItems.length == 0">Save</button>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row" ng-show="SaveTaxType=='CustomTax'"  hidden>
                    <div class="col-md-12" style="height:70px;">
                        <div class="col-md-6">
                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <label class="required">Custom Tax Type Name</label>
                                    <div class="input-group override_margin col-md-12">
                                        <input type="text" title="taxtype Name" data-ng-keypress="OnlyAlpha($event)" id="CustomTaxName" name="CustomTaxName" class="form-control" placeholder="Enter Series" ng-model="CustomTaxName" maxlength="10" style="text-transform:uppercase" />
                                    </div>
                                </div>
                            </div>

                            <div class='col-sm-4 override_margin'>
                                <div class='form-group'>
                                    <label>&nbsp;</label>
                                    <div class="col-md-12 override_margin">
                                        <button title="Add customeTaxSeries" id="addTaxSeries" class="btn btn-style pull-left" ng-click="SaveCustomTaxSeries()">Add</button> &nbsp; &nbsp; &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <br />
                    <div class="col-md-12" ng-hide="TaxSeriesItems.length == 0">
                        <div class="col-md-6">
                            <table>
                                <thead>
                                    <tr>
                                        <th>S.no</th>
                                        <th>Series Name</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="item in TaxSeriesItems">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.taxSeriesName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
               

                    <div class="panel panel-default inputbdr"  ng-show="taxSettingPanel">
                        <div class="col-md-12" style="height:70px;">
                           
                                <div class="row col-md-6">
                                    <div class='col-sm-5 override_margin'>
                                        <div class='form-group'>
                                            <label>Add New Tax %</label>
                                            <div class="input-group override_margin col-md-12">
                                                <input type="text" title="taxSeries" id="taxSeries" name="taxSeries" class="form-control" placeholder="Enter New Tax %" ng-model="taxValues.tax" style="text-transform:uppercase" maxlength="5" ng-required="true" data-ng-class="taxValues.tax>=100? 'highlight' :''" valid-number />
                                            </div>
                                            <span data-ng-if="taxValues.tax>=100" class="highlight ng-scope">Must be less than or equal 100% </span>
                                        </div>
                                      
                                    </div>
                                    <div class='col-sm-4 override_margin'>
                                        <div class='form-group'>
                                            <label>&nbsp;</label>
                                            <div class="col-md-12 override_margin">
                                                <button title="Add tax" id="addSeries" class="btn btn-style pull-left" ng-disabled="taxValues.tax=='' || taxValues.tax==null || taxValues.tax>=100" ng-click="SaveTaxSeriesList()">Add</button> &nbsp; &nbsp; &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                        </div>
                        <br />
                        <div class="col-md-12" ng-hide="taxValuesList.length == 0">
                            <div class="col-md-6">
                                <table class="billing-series" >
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Tax %</th>
                                            <th>Active Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="taxValues in taxValuesList">
                                            <td>{{$index+1}}</td>
                                            <td>{{taxValues.tax}}</td>
                                            <td>
                                                <select id="isActive" name="isActive" title="Status" data-ng-model="taxValues.isActive" data-ng-options="v as k for (k, v) in options" class="form-control" style="height: 30px; padding-top: 3px; width: 100px;" ng-disabled="taxValues.tax==0"></select>
                                            </td>
                                            <td class="col-md-2 sell-group-decor9 text-center">
                                                <span class="glyphicon glyphicon-floppy-save" style="cursor: pointer; position: absolute; top: 10px; right: 30px;" ng-click="updateTaxValuesStatus(taxValues)" ng-hide="taxValues.tax==0"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <div class="panel panel-default inputbdr" ng-hide="settingsPanel">
                    <div class="row" style="display:none">
                        <div class="col-md-12">
                            <h3 style="color: #28465a;font-size:18px;font-weight: 500;margin: 0;margin-bottom: 10px;">Product Search Settings</h3>
                            <div class="row sell-group-decor5 radio">
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="LocalSearch" type="radio" value="Local" ng-model="searchType" name="localSearch" id="localSearch" disabled />
                                    <label for="localSearch">Local</label>
                                </div>
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="GlobalSearch" type="radio" value="Global" ng-model="searchType" name="globalSearch" id="globalSearch" disabled />
                                    <label for="globalSearch">Global</label>
                                </div>

                                <div class="col-md-12 override_margin ">
                                    <button title="Save Product Search" id="SaveProductSearch" class="btn btn-style pull-left" ng-click="saveSearch()" disabled>Save</button>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color: #28465a;font-size:18px;font-weight: 500;margin: 0;margin-bottom: 10px;">Allow Decimal value in No. of Strips and Free Strips</h3>
                            <div class="row sell-group-decor5 radio">
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="AllowDecimalValue" type="radio" value="true" ng-model="isAllowDecimal" name="allowDecimalValue" id="allowDecimalValue" />
                                    <label for="allowDecimalValue">Yes</label>
                                </div>
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="DenyDecimalValue" type="radio" value="false" ng-model="isAllowDecimal" name="denyDecimalValue" id="denyDecimalValue" />
                                    <label for="denyDecimalValue">No</label>
                                </div>

                                <div class="col-md-12 override_margin">
                                    <button title="Save Decimal Settings" id="SaveDecimalSettings" class="btn btn-style pull-left" ng-click="saveDecimalSettings()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col-md-12 override_margin">
                        <div class="row">
                            <div class="col-md-12">
                                <label style="color:#28465a;font-size:18px;">Complete Purchase Keys(Esc , End)</label>
                                <div class="row sell-group-decor5 radio">
                                    <div class="input-group override_margin" style="float:left;">
                                        <input title="Completed Purchase Esc" type="radio" value="1" ng-model="completePurchaseKeyType" name="completePurchaseEsc" id="completePurchaseEsc" />
                                        <label for="completePurchaseEsc">Esc</label>
                                    </div>
                                    <div class="input-group override_margin" style="float:left;">
                                        <input title="Completed Purchase End" type="radio" value="2" name="completePurchaseEnd" ng-model="completePurchaseKeyType" id="completePurchaseEnd" />
                                        <label for="completePurchaseEnd">End</label>
                                    </div>
                                    <div class="col-md-12 override_margin ">
                                        <button title="Save Completed Purchase Keys" id="btnAutosaveCust" class="btn btn-style pull-left" ng-click="savecompletePurchaseKeyType()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color: #28465a;font-size:18px;font-weight: 500;margin: 0;margin-bottom: 10px;">Enable Selling Price</h3>
                            <div class="row sell-group-decor5 radio">
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="Enable Selling Price" type="radio" value=1 name="enableSellingPrice" ng-model="enableSelling" id="enableSellingPrice" />
                                    <label for="enableSellingPrice">Yes</label>
                                </div>
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="Disable Selling Price" type="radio" value=0 name="notEnableSellingPrice" ng-model="enableSelling" id="notEnableSellingPrice" />
                                    <label for="notEnableSellingPrice">No</label>
                                </div>

                                <div class="col-md-12 override_margin ">
                                    <button title="To save current changes" id="btnEnableSelling" class="btn btn-style pull-left" ng-click="btnSaveEnableSelling()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 override_margin">
                        <div class="row">
                            <div class="col-md-12">
                                <label style="color:#28465a;font-size:18px;">Gr.No Series Settings</label>
                                <div class="row sell-group-decor5 radio">
                                    <div class="input-group override_margin" style="float:left;">
                                        <input title="NumericSeries" type="radio" value="1" ng-model="purchaseSettings.billSeriesType" name="numericSeries" id="numericSeries" ng-change="checkBillSeriesType()" />
                                        <label for="numericSeries">Numeric Series </label>
                                    </div>
                                    <div class="input-group override_margin" style="float:left;">
                                        <input title="CustomSeries" type="radio" value="2" name="customSeries" ng-model="purchaseSettings.billSeriesType" id="customSeries" ng-change="checkBillSeriesType()" />
                                        <label for="customSeries">Custom Series</label>
                                    </div>
                                    <div class="col-md-12 override_margin ">
                                        <button title="Save Bill Series Type" id="saveBillSeriesType" class="btn btn-style pull-left" ng-click="saveBillSeriesType()">Save</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="purchaseSettings.billSeriesType == 2">
                                <label style="color:#28465a;font-size:18px;">Custom Series Name &nbsp; : &nbsp; </label>{{purchaseSettings.customSeriesName}}
                            </div>
                        </div>
                    </div>





                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color: #28465a;font-size:18px;font-weight: 500;margin: 0;margin-bottom: 10px;">Edit Purchase Invoice Date</h3>
                            <div class="row sell-group-decor5 radio">
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="InvoiceDateYes" type="radio" value="Yes" ng-model="invoiceDateEditOption" name="invoiceDateEditYes" id="invoiceDateEditYes" />
                                    <label for="invoiceDateEditYes">Yes</label>
                                </div>
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="InvoiceDateEditNo" type="radio" value="No" name="invoiceDateEditNo" ng-model="invoiceDateEditOption" id="invoiceDateEditNo" />
                                    <label for="invoiceDateEditNo">No</label>
                                </div>

                                <div class="col-md-12 override_margin ">

                                    <button title="Save Invoice Date Edit Option" id="SaveInvoiceEdit" class="btn btn-style pull-left" ng-click="saveInvoiceDateEditOption()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color: #28465a;font-size:18px;font-weight: 500;margin: 0;margin-bottom: 10px;">Display by Lowest Price</h3>
                            <div class="row sell-group-decor5 radio">
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="SortByLowestPriceYes" type="radio" value="true" ng-model="isSortByLowestPrice" name="SortByLowestPriceYes" id="SortByLowestPriceYes" />
                                    <label for="SortByLowestPriceYes">Yes</label>
                                </div>
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="SortByLowestPriceNo" type="radio" value="false" name="SortByLowestPriceNo" ng-model="isSortByLowestPrice" id="SortByLowestPriceNo" />
                                    <label for="SortByLowestPriceNo">No</label>
                                </div>

                                <div class="col-md-12 override_margin ">

                                    <button title="SaveSortByLowestPrice" id="SaveSort" class="btn btn-style pull-left" ng-click="saveSortByLowestPrice()" ng-disabled="isSortByLowestPrice==null">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color: #28465a;font-size:18px;font-weight: 500;margin: 0;margin-bottom: 10px;">Invoice Value Settings</h3>
                            <div class="row sell-group-decor5 radio">
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="InvoiceValueSettingYes" type="radio" value="true" ng-model="invoiceValueSetting" name="InvoiceValueSettingYes" id="InvoiceValueSettingYes" />
                                    <label for="InvoiceValueSettingYes">Yes</label>
                                </div>
                                <div class="input-group override_margin" style="float:left;">
                                    <input title="InvoiceValueSettingNo" type="radio" value="false" name="InvoiceValueSettingNo" ng-model="invoiceValueSetting" id="InvoiceValueSettingNo" />
                                    <label for="InvoiceValueSettingNo">No</label>
                                </div>

                                <div class="col-md-12 override_margin">

                                    <button title="SaveSortByLowestPrice" id="SaveSort" class="btn btn-style pull-left" ng-click="saveInvoiceValueSetting()" ng-disabled="invoiceValueSetting==null">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="invoiceValueSetting == 'true'">
                        <div class="col-md-12">
                            <div class="row sell-group-decor5">
                                <label style="font-size:inherit;">Enter Invoice Value Difference</label>
                                <div class="input-group override_margin">
                                    <input type="text" title="InvoiceDifference" ng-model="invoiceValueDifference" id="invoiceDifference" name="invoiceDifference" valid-number maxlength="12"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
          
        </div>
    </div>
    <div ng-show="IsOffline && !isOnlineEnabled" class="offline-message">
        <p>This option is disabled for online.</p>
        <p class="offline-only">Please use only offline for this feature.</p>
    </div>
</div>







<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }
</style>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    <script asp-append-version="true" src="~/appscript/vendorpurchase/buyappscript.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>

    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/vendororder/vendororderservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendor/vendorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchaseservice.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesService.js"></script>

    <script asp-append-version="true" src="~/appscript/productStock/productStockService.js"></script>

    <script asp-append-version="true" src="~/appscript/vendorpurchase/vendorpurchasesettingsctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>

    <script asp-append-version="true" src="~/appScript/vendorpurchase/tempPurchaseItemCtrl.js"></script>

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />


}
