@{
    ViewBag.Title = "Requirements";
    ViewBag.Menu = "Requirements";
}

<div ng-app="hcue" ng-controller="requirementCtrl" ng-cloak ng-init="getInstance()">

    <div class="col-md-12 sell-decor1" style="margin-top:10px !important;">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Requirememts / Issues
            </div>
        </div>
        <span style="cursor: pointer;" title="Add Requirements" ng-click="requirementType()" class="btn text-center {{requirementtab}}">Requirements</span>
        <span style="cursor: pointer;" title="Add Issues" ng-click="issueType()" class="btn text-center {{issuetab}}">Issues</span>
        <br />
        <br />

        <div class="panel panel-default inputbdr">
            <div ng-form="addRequirement">
                <div class="col-md-12 form-group" style="margin-top:15px;">
                    <div class="form-group row">
                        <div class="col-md-8">
                            <div class="col-md-3">
                                <label class="sell-group-decor5 override-margin">Instance Name:</label>                                
                            </div>
                            <div>
                                <span class="sell-group-decor5 override-margin">{{instanceName}}</span>
                            </div>
                        </div>
                        
                        <div class="col-md-8">
                            <div class="col-md-3">
                                <label class="sell-group-decor5 override-margin">Date:</label>
                            </div>
                            <div>
                                <span class="sell-group-decor5 override-margin">{{todayDate | date: 'dd/MM/yyyy h:mm:ss a'}}</span>
                            </div>                            
                        </div>
                        
                        <div class="col-md-8">
                            <div class="col-md-3">
                                <label class="sell-group-decor5 override-margin" ng-show="requirement.type == 1">Requirement Gathered By:</label>
                                <label class="sell-group-decor5 override-margin" ng-hide="requirement.type == 1">Issue Gathered By:</label>
                            </div>
                            <div class="col-sm-4 override-margin">
                                <input type="text" class="search-query form-control" id="name" name="name" placeholder="Name" ng-model="requirement.gatheredBy" required />
                            </div>
                        </div>

                        <div class="col-md-11" style="margin-top:10px;">
                            <div class="col-md-2">
                                <label class="sell-group-decor5 override-margin" ng-show="requirement.type == 1">Requirements:</label>
                                <label class="sell-group-decor5 override-margin" ng-hide="requirement.type == 1">Issues:</label>
                            </div>
                            <div ng-show="requirementList.length == 0">
                                <div class="col-md-7 override-margin" style="margin-left:20px;">
                                    <textarea title="Requirement" name="requirement" id="requirement" placeholder="Enter Requirement"   class="search-query form-control" maxlength="150" ng-model="requirement.description" style="height:80px;" required></textarea>
                                </div>
                                <div class="col-md-1"><button type="button" id="addButton" class="btn btn-style" value="Add" title="Add" ng-click="addRequirements(requirement)" ng-disabled="requirement.description==null">Add</button></div>
                            </div>

                            <div ng-show="requirementList.length > 0">
                                <div class="row col-md-12" style="margin-top:5px;" ng-repeat="item in requirementList">
                                    <div>
                                        <div class="col-md-2" ng-show="!$first"></div>
                                        <div class="col-sm-7 override-margin"  style="margin-left:20px;">
                                            <textarea title="Requirement" name="requirement{{$index}}" id="requirement{{$index}}"   class="search-query form-control" maxlength="150" ng-model="item.description" style="height:80px;" disabled></textarea>
                                        </div>
                                    </div>
                                    @*<div>                                        
                                        <div class="col-sm-5 override-margin">
                                            <textarea title="Requirement" name="requirement{{$index}}" id="requirement{{$index}}" no-special-char class="search-query form-control" maxlength="150" ng-model="item.description" disabled></textarea>
                                        </div>
                                    </div>*@                                    
                                    
                                </div>
                                <div style="margin-top:5px;">
                                    <div class="col-md-2"></div>
                                    <div class="col-sm-7 override-margin" style="margin-left:20px;">
                                        <textarea title="Requirement" name="requirements" id="requirements" placeholder="Enter Requirement" no-special-char class="search-query form-control" maxlength="150" ng-model="requirement.description" style="height:80px;" required></textarea>
                                    </div>
                                    <div class="col-md-1"><button type="button" id="addButton" class="btn btn-style" value="Add" title="Add" ng-click="addRequirements(requirement)" ng-disabled="requirement.description==null">Add</button></div>
                                </div>
                                
                            </div>
                            
                        </div>

                        <div class="col-md-5" style="margin-top:15px;"><button type="button" id="saveButton" class="btn btn-style pull-right" value="Save" title="Save" ng-click="saveRequirements()" ng-disabled="requirement.gatheredBy==null || (requirement.description==null && requirementList.length == 0)">Save</button></div>

                    </div>
                </div>
                
            </div>          

        </div>

    </div>
</div>


@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscript.js"></script>
    @*<script asp-append-version="true" src="~/assets/js/jquery.maskedinput.min.js"></script>*@
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/toolservice.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/requirementCtrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}
