<div ng-controller="branchListCtrl" class="tp-select">
    <div ng-show="allBranch" class="input-group">
        <select id="branch"
                name="branch"
                style="padding:2px 10px;width:160px"
                chosen
                title="Branch Name"
                option="instanceList"
                data-placeholder="Select Branch"
                ng-model="selectedInstance"
                ng-options="option.name for option in instanceList track by option.id"
                class="form-control small"
                ng-change="ddlchange(selectedInstance)"
            autofocus ng-hide="multiSelect">
            <option ng-show="(instanceList.length > 1)" value="" selected="selected">All</option>
        </select>
    </div>
    <div ng-hide="allBranch" class="input-group w-170">
        <select id="branch"
                name="branch"
                chosen
                title="Branch Name"
                option="instanceList"
                data-placeholder="Select Branch"
                ng-model="selectedInstance"
                ng-options="option.name for option in instanceList track by option.id"
                class="form-control small"
                ng-change="ddlchange(selectedInstance)"
                autofocus ng-hide="multiSelect">            
        </select>
    </div>
    @*<div class="multi-select" ng-show="multiSelect" ng-click="applyInstanceList()">
        <select
                class="selectpicker"
                multiple
                title="Select Multiple Branch"
                data-live-search="true"
                data-actions-box="true"
                ng-model="instanceModel"
                ng-change="ddlmultichange(instanceModel)">
                <option ng-repeat="instance in instanceList"
                        value="{{instance.id}}">
                    {{instance.name}}
                </option>
        </select>
    </div>*@

    <multiselect class="input-xlarge"
                 multiple="true"
                 header="Select Multi Branch"
                 ng-model="instanceModel"
                 options="c.name for c in instanceList"
                 ng-change="ddlmultichange(instanceModel)"
                 change="selected()">
    </multiselect>

</div>

@section scripts
{
    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>   



}