<!DOCTYPE html>
<html data-ng-app="hcue">
<head>
    <title>All Pharma Details</title>
    <link asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/style.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/sidebar.css" rel="stylesheet" />

</head>
<body data-ng-controller="AllPharmaController" style="overflow-y:scroll;">
    @RenderBody()

    <link asp-append-version="true" href="/assets/css/font-awesome.css" rel="stylesheet">



    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/jquery.js"></script>
    <script asp-append-version="true" src="~/assets/js/loadingoverlay.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>



    <script asp-append-version="true" src="http://kendo.cdn.telerik.com/2016.2.714/js/jszip.min.js"></script>
    <script asp-append-version="true" src="http://kendo.cdn.telerik.com/2016.2.714/js/kendo.all.min.js"></script>
    <script asp-append-version="true" src="http://kendo.cdn.telerik.com/2015.2.805/js/pako_deflate.min.js"></script>



    <script asp-append-version="true" src="~/appscript/dashboard/AllPharmaDetailsApp.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerServcie.js"></script>
    <script asp-append-version="true" src="~/appscript/dashboard/AllPharmaDetailsService.js"></script>
    <script asp-append-version="true" src="~/appscript/dashboard/AllPharmaDetailsSearch.js"></script>



    @*<script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />*@

    <link asp-append-version="true" rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.2.714/styles/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.2.714/styles/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.2.714/styles/kendo.default.mobile.min.css" />

    <script>
        $.LoadingOverlaySetup({
            image: "/loading.gif"
        });
        $("#btnXLSExport").kendoButton({
           click: function () {
               $("#grid").data("kendoGrid").saveAsExcel();
           }
       });
    </script>









 
 
</body>
</html>