﻿<script type="text/ng-template" id="myFinYearContent.html">

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content" style="width:500px">
                <div class="modal-header" style="background-color: #f2f2f2;">
                    <button type="button" ng-if="!saveMandatory" class="close" ng-click="close('No')" data-dismiss="modal" style="color:black !important;" aria-hidden="true">&times;</button>
                    <h4 style="text-align:center;font-weight:400 !important;">FINANCIAL YEAR RESET</h4>
                </div>
                <div class="modal-body">

                    <div class="">
                        <div class="panel-body">
                            <div class='row'>

                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="finYearfrom" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date disabled />
                                            <span class="input-group-btn wrapper-date">
                                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-6'>
                                    <div class='form-group'>
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="finYearto" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date disabled />
                                            <span class="input-group-btn wrapper-date">
                                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="panel-body">
                            <div class='col-sm-12'>
                                <div class='form-group'>
                                    <div class="input-group">

                                        <input title="title" type="radio" value="0" ng-model="isBillNumberReset" name="resetstatus" id="noResetID" />
                                        <label for="noResetID">Do you like to continue with your existing "Bill Series" from {{finYearfrom | date:'dd-MMM-yyyy'}}?</label>

                                    </div>
                                    <span>(Invoice ,GRN ,Return ,Cancellation numbers etc. will continue with existing series)</span><br /><br />
                                    <h4 style="text-align:center;font-weight:400;">(OR)</h4>
                                </div>
                            </div>
                            <br />
                            <div class='col-sm-12'>
                                <div class='form-group'>
                                    <div class="input-group">
                                        <input title="title" type="radio" value="1" ng-model="isBillNumberReset" name="resetstatus" id="ResetId" />
                                        <label for="ResetId">Do you want to Reset your Billing series to 1 from {{finYearfrom | date:'dd-MMM-yyyy'}} ?</label>

                                    </div>
                                    <span>(Invoice ,GRN ,Return ,Cancellation numbers etc. will start from 1.)</span>
                                </div>
                            </div>
                            <br />
                            <div class='col-sm-11'>
                                <label class="col-sm-5">Enter Admin Email Id:</label>
                                <input type="text" id="mailid01" popup-focus="true" placeholder="Enter Admin Email Id" title="Enter Admin Email Id" autocomplete="new-password" ng-model="EmailId" name="mailid01" class="col-sm-7" style="height:29px;"/>
                            </div>
                            <div class='col-sm-11' style="top:5px;">
                                <label class="col-sm-5">Enter Password:</label>
                                <input type="password" id="password01" placeholder="Enter Password" title="Enter Password" autocomplete="new-password" ng-model="password" name="password01" class="col-sm-7" style="height:29px;"/>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-style" ng-disabled="finYearfrom=='' || finYearto=='' || isBillNumberReset=='' " ng-click="saveFinalcialyearStatus()">Save</button>
                </div>
            </div>
        </div>
    </div>

</script>
<style>
    .modal-backdrop.fade.in {
        opacity: 1 !important;
    }

    .modal-backdrop {
        background-color: rgba(22, 54, 75, 0.85);
    }
</style>