@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{ 
    var contentClass = "";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>HCUE - @ViewBag.Title</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @*<link asp-append-version="true" href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link asp-append-version="true" rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.css">
        <link asp-append-version="true" href="/assets/css/font-awesome.css" rel="stylesheet" />*@
    @*<link asp-append-version="true" href="/assets/css/style.css" rel="stylesheet" />*@
    <!--[if lt IE 9]>
        <script asp-append-version="true" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @*<link asp-append-version="true" href="/assets/css/sidebar.css" rel="stylesheet">*@
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/lib/angular-toastr/dist/angular-toastr.css" />
    <link asp-append-version="true" rel="stylesheet" href="/assets/edge/css/bootstrap.min.css">

   

    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link asp-append-version="true" href="/assets/edge/css/font-awesome.min.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" href="/assets/edge/css/ng-flat-datepicker.min.css">
    <link asp-append-version="true" href="/assets/edge/css/selva.css" rel="stylesheet">
</head>
<body>




    @*<div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">*@
    <!-- sidebar -->
    @*<div class="column col-lg-2 col-md-2 col-sm-3 col-xs-2 sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="text-center">
                <a href="#" data-toggle="offcanvas" class="visible-xs text-center">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </a>
            </li>
        </ul>*@

    </div>
    <div class="main">
        @*@if (User.IsRegistrationUser())
        {
            
            await Html.RenderPartialAsync("~/Views/Shared/Navigation/_HcueRegistration.cshtml");
        }
        else
        {
            contentClass = "class=popup-wholesection";

        }*@

        <div id="content" class=popup-wholesection>
            <div class="content-section">
                <header id="header" class="clearfix">
                    <div class="pull-right header-menu">
                        <div class="header-right">
                            <div class="first-letter">
                                <span>@User.Name().Substring(0, 2)</span>
                            </div>
                            <div class="user-name">
                                <div class="header-arrow">
                                    <h3>@User.Name()</h3>
                                </div>
                                <span>@User.InstanceName()</span>
                            </div>
                        </div>
                        <div class="menu-dropdown">
                            <div class="dropdown-arrow">
                                <ul>
                                    @*<li><a href="#" title="">Add Product</a></li>
                                        <li><a href="#" title="">Stock Import</a></li>
                                        <li class="bottom-border"><a href="#" title="">Purchase Import</a></li>
                                        <li><a href="#" title="">Version - <strong>Dev 1.0.0.1</strong></a></li>
                                        <li class="bottom-border"><a href="#" title="">Contact US</a></li>*@
                                    <li><a href="#" title="">My Account Setting</a></li>
                                    <li><a href="#" title="">Change Password</a></li>
                                    <li><a asp-action="LogOut" title="Logout" asp-controller="User" title="">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    @*<a href="#" title="reminder" class="pull-right header-reminder active">
                            <div class="reminder-count">
                                <img src="/assets/edge/images/reminder-clock.png" alt="">
                                <span>99</span>
                            </div>
                        </a>*@
                </header>
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- script references -->
    @*<script asp-append-version="true" src="~/assets/js/jquery.js"></script>
        <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/assets/js/scripts.js"></script>
        <script asp-append-version="true" src="~/assets/js/loadingoverlay.min.js" type="text/javascript" charset="utf-8"></script>*@

    <script asp-append-version="true" src="/assets/edge/js/jquery-3.1.0.min.js"></script>
    <script asp-append-version="true" src="/assets/edge/js/main.js"></script>
    <script asp-append-version="true" src="/assets/edge/js/jquery.matchHeight-min.js"></script>
    <script asp-append-version="true" src="/assets/edge/js/moment.min.js"></script>
    <script asp-append-version="true" src="/assets/js/angular.js"></script>
<script asp-append-version="true" src="/assets/edge/js/ng-flat-datepicker.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.js"></script>
    @*<script asp-append-version="true" src="/assets/edge/js/app.js"></script>*@

    @RenderSection("scripts", false)
    @RenderSection("reloadwarning", false)

    @*<script asp-append-version="true" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAPgBj6XItClh1BVE_QFV51Xl_ZtPT3OIs&callback=initMap"></script>
    <script asp-append-version="true" src="~/assets/edge/js/map.js"></script>*@

    @*<script type="text/javascript">
            $.LoadingOverlaySetup({
                image: "/loading.gif"
            });
        </script>*@
</body>
</html>