@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>HCUE - @ViewBag.Title</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link asp-append-version="true" rel="icon" type="image/png" href="../assets/images/fav.png" sizes="16x16" />
    <link asp-append-version="true" href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.css">
    <link asp-append-version="true" href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link asp-append-version="true" href="/assets/css/style.css" rel="stylesheet" />
    <link asp-append-version="true" href="/assets/css/developer.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/release-notes.css" rel="stylesheet" />
    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
    <!--[if lt IE 9]>
        <script asp-append-version="true" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link asp-append-version="true" href="/assets/css/sidebar.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/lib/angular-toastr/dist/angular-toastr.css" />
</head>
<body id="mainbody">

    <!-- main right col -->
    <div id="content">
        <!-- content -->
        <div class="row" style="width:100%;">
            <a href="#" class="navbar-brand logo">
                <img src="/assets/images/logo.png" style="height:30px!important;" alt="Hcue" />
            </a>
            <a href="javascript:closeWindow();" title="Close" class="logout-icon" style="padding:2px 10px 7px 12px!important;">
                <img src="~/assets/images/page-close.png" style="height:12px!important;margin-right:2px!important;" alt="Close" />
            </a>
            @await Html.PartialAsync("~/Views/Shared/_MainMenu.cshtml")                       
        </div>
        <div class="row">
            @RenderBody()
        </div>
    </div><!--/row-->
    <!-- /main -->

    <!-- script references -->
    <script asp-append-version="true" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/scripts.js"></script>
    <script asp-append-version="true" src="~/assets/js/loadingoverlay.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/appScript/reminder/userRemiderCount.js"></script>

    @RenderSection("scripts", false)
    @RenderSection("reloadwarning", false)

    <script type="text/javascript">
        $.LoadingOverlaySetup({
            image: "/loading.gif"
        });
        function closeWindow() {
            window.close();
        }
    </script>

</body>
</html>