﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>HCUE - @ViewBag.Title</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link asp-append-version="true" href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.css">
    <link asp-append-version="true" href="/assets/css/font-awesome.css" rel="stylesheet" />
    @*<link asp-append-version="true" href="/assets/css/style.css" rel="stylesheet" />*@
    <link asp-append-version="true" href="/assets/css/developer.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/release-notes.css" rel="stylesheet" />
    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
    <!--[if lt IE 9]>
        <script asp-append-version="true" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link asp-append-version="true" href="/assets/css/sidebar.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/lib/angular-toastr/dist/angular-toastr.css" />
</head>
<body >
    <!-- top nav -->
    
    <!-- /top nav -->
    <header class="clearfix">
      
        <nav class="page-tabs">
            <ul>
                <li>
                    <a asp-action="NewIndex" asp-controller="Sales" class="@(ViewBag.Menu == "NewSell" ? "active" : "")">
                        Sell <span>(Alt+S)</span>
                    </a>
                </li>
                <li>
                    <a asp-action="NewList" asp-controller="Sales" class="@(ViewBag.Menu == "NewList" ? "active" : "")">
                        Sale History <span>(Alt+1)</span>
                    </a>
                </li>
                @if (ViewBag.Config.AppConfig.IsSqlServer)
                {
                    <li>
                        <a asp-action="NewList" asp-controller="SalesReturn" class="@(ViewBag.Menu == "NewSell Return List" ? "active" : "")">
                            Sale Return List <span>(Alt+2)</span>
                        </a>
                    </li>
                }
                @if (ViewBag.Config.AppConfig.IsSqlServer)
                {
                    <li>
                        <a asp-action="NewCancelList" asp-controller="SalesReturn" class="@(ViewBag.Menu == "NewSell Cancel List" ? "active" : "")">
                            Sale Cancel List <span>(Alt+3)</span>
                        </a>
                    </li>
                }

                <li>
                    <a asp-action="Settings" asp-controller="Sales" class="@(ViewBag.Menu == "Settings" ? "active" : "")">
                        Settings <span>(Alt+4)</span>
                    </a>
                </li>
                <li>
                    <a asp-action="PrintTemplate" asp-controller="Sales" class="@(ViewBag.Menu == "PrintTemplate" ? "active" : "")">
                        Print Template <span>(Alt+5)</span>
                    </a>
                </li>


                <a href="/Sales/Index" class="blink_me" title="sales screen" style="color:#ffffff;font-size:15px;float:right;margin-right:50px;margin-top:9px;">* Switch to Classic View [Alt+w]</a>

            </ul>
        </nav>
      
    </header>

    <div>
        @RenderBody()
    </div>


    <!-- script references -->
    <script asp-append-version="true" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/scripts.js"></script>
    <script asp-append-version="true" src="/assets/js/loadingoverlay.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/appScript/reminder/userRemiderCount.js"></script>

    @*Newly Added by Manivannan on 31-Jan-17 begins*@
    <script>

        var imageAddr = "https://hcuepharma.com/assets/images/header-bg.jpg";
        var downloadSize = 13213; //bytes

        
      
    </script>
    @*Newly Added by Manivannan on 31-Jan-17 ends*@

    @RenderSection("scripts", false)
    @RenderSection("reloadwarning", false)

    <script type="text/javascript">
        $.LoadingOverlaySetup({
            image: "/loading.gif"
        });



        $(document).on("keydown", function (e) {
            //e.preventDefault();
            //console.log(e);
            var newWindow = "True"//document.getElementById("newWindow").value;
            var shortCutKeys = "False" //document.getElementById("shortCutKeys").value;
            //var shortmenu = document.getElementById("shortmenu").value;
            var instanceType = document.getElementById("instanceType").value;


            if (shortCutKeys == "True") {
                //Alt+d
                if (e.altKey && e.which === 68) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Dashboard", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Dashboard";
                    }

                }

                //Alt+s
                if (e.altKey && e.which === 83) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Sales/NewIndex", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Sales/NewIndex";
                    }

                }

                //Alt+p
                if (e.altKey && e.which === 80) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/VendorPurchase/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/VendorPurchase/Index";
                    }

                }
                //Alt+t
                if (e.altKey && e.which === 84 && instanceType != 1) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/StockTransfer/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/StockTransfer/Index";
                    }

                }
                //Alt+l
                if (e.altKey && e.which === 76 && instanceType != 1) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Leads/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Leads/List";
                    }

                }
                //Alt+o
                if (e.altKey && e.which === 79) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/VendorOrder/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/VendorOrder/Index";
                    }

                }
                //Alt+f
                if (e.altKey && e.which === 70) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Vendor/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Vendor/Index";
                    }

                }
                //Alt+i
                if (e.altKey && e.which === 73) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/ProductStock/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/ProductStock/List";
                    }

                }
                //Alt+r
                if (e.altKey && e.which === 82) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/SalesReport/HomeDeliveryList", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/SalesReport/HomeDeliveryList";
                    }

                }
                //Alt+b
                if (e.altKey && e.which === 66) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/InstanceSetup/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/InstanceSetup/List";
                    }

                }
                //Alt+a
                if (e.altKey && e.which === 65) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Payment/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Payment/Index";
                    }

                }
                //Alt+u
                if (e.altKey && e.which === 85) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/UserManagement/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/UserManagement/Index";
                    }
                }
            }


            //console.log(shortmenu);
            //if (($("ul.nav li.active a").attr('href') == "/Sales/Index") && $("#shortmenu").val() == 2) {
            //    //alert($("ul.nav li.active a").attr('href'));
            //    //Alt+S
            //    if (e.altKey && e.which === 83) {
            //        e.preventDefault();

            //        if (newWindow == "True") {
            //            window.open("/Sales/Index", "_blank");
            //        }
            //        if (newWindow == "False") {
            //            window.location.href = "/Sales/Index";
            //        }

            //    }
            //    //Alt+1
            //    if (e.altKey && e.which === 49) {
            //        e.preventDefault();

            //        if (newWindow == "True") {
            //            window.open("/Sales/List", "_blank");
            //        }
            //        if (newWindow == "False") {
            //            window.location.href = "/Sales/List";
            //        }

            //    }
            //    //Alt+2
            //    if (e.altKey && e.which === 50) {
            //        e.preventDefault();

            //        if (newWindow == "True") {
            //            window.open("/SalesReturn/List", "_blank");
            //        }
            //        if (newWindow == "False") {
            //            window.location.href = "/SalesReturn/List";
            //        }

            //    }
            //    //Alt+3
            //    if (e.altKey && e.which === 51) {
            //        e.preventDefault();

            //        if (newWindow == "True") {
            //            window.open("/SalesReturn/CancelList", "_blank");
            //        }
            //        if (newWindow == "False") {
            //            window.location.href = "/SalesReturn/CancelList";
            //        }

            //    }
            //    //Alt+4
            //    if (e.altKey && e.which === 52) {
            //        e.preventDefault();

            //        if (newWindow == "True") {
            //            window.open("/Sales/Settings", "_blank");
            //        }
            //        if (newWindow == "False") {
            //            window.location.href = "/Sales/Settings";
            //        }
            //    }
            //    //Alt+5
            //    if (e.altKey && e.which === 53) {
            //        e.preventDefault();

            //        if (newWindow == "True") {
            //            window.open("/Sales/PrintTemplate", "_blank");
            //        }
            //        if (newWindow == "False") {
            //            window.location.href = "/Sales/PrintTemplate";
            //        }
            //    }
            //}



            //Alt+w
            if (e.altKey && e.which === 87) {
                e.preventDefault();
                if (newWindow == "True") {
                    window.open("/Sales/Index", "_blank");
                }
                if (newWindow == "False") {
                    window.location.href = "/Sales/Index";
                }
            }


            //Alt+s
            if (e.altKey && e.which === 83) {
                e.preventDefault();

                if (newWindow == "True") {
                    window.open("/Sales/NewIndex", "_blank");
                }
                if (newWindow == "False") {
                    window.location.href = "/Sales/NewIndex";
                }

            }

            //Alt+1
            if (e.altKey && e.which === 49) {
                e.preventDefault();

                if (newWindow == "True") {
                    window.open("/Sales/NewList", "_blank");
                }
                if (newWindow == "False") {
                    window.location.href = "/Sales/NewList";
                }

            }

            //Alt+2
            if (e.altKey && e.which === 50) {
                e.preventDefault();

                if (newWindow == "True") {
                    window.open("/SalesReturn/NewList", "_blank");
                }
                if (newWindow == "False") {
                    window.location.href = "/SalesReturn/NewList";
                }

            }
            //Alt+3
            if (e.altKey && e.which === 51) {
                e.preventDefault();

                if (newWindow == "True") {
                    window.open("/SalesReturn/NewCancelList", "_blank");
                }
                if (newWindow == "False") {
                    window.location.href = "/SalesReturn/NewCancelList";
                }

            }
            //Alt+4
            if (e.altKey && e.which === 52) {
                e.preventDefault();

                if (newWindow == "True") {
                    window.open("/Sales/Settings", "_blank");
                }
                if (newWindow == "False") {
                    window.location.href = "/Sales/Settings";
                }
            }
            //Alt+5
            if (e.altKey && e.which === 53) {
                e.preventDefault();

                if (newWindow == "True") {
                    window.open("/Sales/PrintTemplate", "_blank");
                }
                if (newWindow == "False") {
                    window.location.href = "/Sales/PrintTemplate";
                }
            }


        });



        function blinker() {
            $('.blink_me').fadeOut(1000);
            $('.blink_me').fadeIn(1000);
        }

        setInterval(blinker, 2000);
    </script>
</body>
</html>