﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>HCUE - @ViewBag.Title</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--Cache clearing code starts-->
    @*<meta http-equiv="cache-control" content="max-age=0" />*@
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    @*<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />*@
    <meta http-equiv="pragma" content="no-cache" />
    <link asp-append-version="true" rel="icon" type="image/png" href="../assets/images/fav.png" sizes="16x16" />
    <!--Cache clearing code Ends-->
    <link asp-append-version="true" href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.css">
    <link asp-append-version="true" href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link asp-append-version="true" href="/assets/css/style.css" rel="stylesheet" />
    <link asp-append-version="true" href="/assets/css/developer.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/release-notes.css" rel="stylesheet" />
    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
    <!--[if lt IE 9]>
        <script asp-append-version="true" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link asp-append-version="true" href="/assets/css/sidebar.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/lib/angular-toastr/dist/angular-toastr.css" />

</head>
<body>
    <div id="fullModal" class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                <div class="sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="text-center">
                            <a href="#" data-toggle="offcanvas" class="visible-xs text-center">
                                <button type="button" class="navbar-toggle">
                                    <span class="sr-only">Toggle</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </a>
                        </li>
                    </ul>
                    @if (User.IsAdmin())
                    {
                        await Html.RenderPartialAsync("~/Views/Shared/Navigation/_HQueAdmin.cshtml");
                    }
                    else if (User.IsDistributor())
                    {
                        await Html.RenderPartialAsync("~/Views/Shared/Navigation/_Distributor.cshtml");
                    }
                    else if (User.IsHQueToolUser())
                    {
                        await Html.RenderPartialAsync("~/Views/Shared/Navigation/_HQueToolsUser.cshtml");
                    }
                    else
                    {
                        await Html.RenderPartialAsync("~/Views/Shared/Navigation/_User.cshtml");
                    }

                    <input type="hidden" id="newWindow" value="@Convert.ToString(User.NewWindowType())" />
                    <input type="hidden" id="shortCutKeys" value="@Convert.ToString(User.ShortCutKeysType())" />
                    <input type="hidden" id="shortmenu" value="@(UserAccess.Sell)" />
                    <input type="hidden" id="shortmenubuy" value="@(UserAccess.Buy)" />
                    <input type="hidden" id="shortmenuprofile" value="@(UserAccess.Profile)" />
                    <input type="hidden" id="hdndepartment" value="@Convert.ToString(User.AccountId())" />
                    <input type="hidden" id="hdnGstNullAvailable" value="@Convert.ToString(User.GSTNullAvailable())" />
                    <input type="hidden" id="instanceType" value="@(User.InstanceTypeId())" />

                </div>
                <!-- /sidebar -->
                <!-- main right col -->
                <div class="rt-div">
                    <div class="column col-lg-12 col-md-12 col-sm-11 col-xs-12" id="main">
                        <!-- top nav -->
                        <div class="navbar navbar-blue navbar-static-top">
                            <div class="navbar-header">
                                <a href="/" class="navbar-brand logo">
                                    <img src="/assets/images/logo.png" alt="Hcue" />
                                </a>
                                <div class="pull-right">

                                    <div class="pull-left" style="margin:4px 70px 0px 0;font-size:13px;letter-spacing: 1px;">
                                        &nbsp;<span style="font-weight:bold;color:#F36F21;"> Support (9AM - 9PM)</span>
                                        <div style="font-size:19px;letter-spacing: 1px;"><span class="glyphicon glyphicon-phone" style="top:3px;"></span>&nbsp;&nbsp;  9543279999</div>
                                    </div>
                                    <span class="glyphicon" id="speedTest" style="font-family: 'Squada One', cursive;width: 100px;font-size: 25px;line-height: 24px;display: inline-block; color: #fff;">....</span>
                                    <span class="welcome-user">Welcome @User.Name() <br /> @User.InstanceName() </span>
                                    @*<a type="button" class="btn btn-demo" data-toggle="modal" data-target="#exampleModal" style="float:right;color: #f58220;">Wishes</a>*@
                                    @if (ViewBag.Config.AppConfig.OfflineMode)
                                    {
                                        <img src="/assets/images/offline.png" alt="offline" id="onlineImg" style="margin-right:2px;" />
                                        <img src="/assets/images/online.png" width="0" height="0" />
                                    }
                                    else
                                    {
                                        <img src="/assets/images/offline.png" width="0" height="0" />
                                        <img src="/assets/images/online.png" style="margin-right:2px;" id="onlineImg" alt="online" />
                                    }

                                    <a asp-action="LogOut" title="Logout" asp-controller="User" class="logout-icon">
                                        <img src="/assets/images/logout.png" alt="Logout" />
                                    </a>
                                    <div class="pull-right logout-submenu">
                                        <a href="#" class="setting-icon logout-icon dropdown-toggle dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                            <img src="/assets/images/settings.png" alt="Settings" />
                                        </a>
                                        <ul class="dropdown-menu">
                                            @if (User.IsHQueToolUser() && ViewBag.Config.AppConfig.OfflineMode)
                                            {
                                                <li>

                                                    <button title="Sync data from cloud server" id="syncbtn" class="btn btn-small btn-style" style="margin:8px 5px; color:#ffd800;">
                                                        @*<a class="js-open-modal" href="#" data-modal-id="popup1" style="color:#ffd800;background-color:#28465a; text-decoration:none;">Sync Online Data</a>*@
                                                        <a href="#" id="synconline" ng-title="SyncData" style="color:#ffd800;background-color:#28465a; text-decoration:none;">sync online data</a>
                                                    </button>

                                                    @*<button title="Sync data from cloud server" id="btnSyncOffline" class="btn btn-small btn-style" style="margin:8px 5px; color:#ffd800;">
                                                            sync online data

                                                        </button>*@
                                                </li>
                                            }
                                            @if (User.HasPermission(UserAccess.Admin) && ViewBag.Config.AppConfig.IsSqlServer)
                                            {
                                                <li><a asp-action="ChangePassword" title="Change Password" asp-controller="User">Change Password</a></li>

                                                @*@if ((ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                                                    {

                                                        @if (!ViewBag.Config.AppConfig.OfflineMode)
                                                        {
                                                            <li><a asp-action="Index" title="Stock Import" asp-controller="ImportHistory">Import/Export data</a></li>
                                                        }
                                                    }*@

                                                @if (User.OfflineStatus() != "True" || ViewBag.Config.AppConfig.OfflineMode == true)
                                                {
                                                    <li><a asp-action="Index" title="Stock Import" asp-controller="ImportHistory">Import/Export data</a></li>

                                                }

                                            }
                                            @if (ViewBag.Config.AppConfig.OfflineMode)
                                            {
                                                <li><a asp-action="Index" title="Sync product to online" Import" asp-controller="ImportProduct"> Sync product to online</a></li>
                                            }
                                            <li><a href="@ViewBag.Config.AppConfig.ContactUrl" target="_blank">Contact us</a></li>
                                            <li style="color: black"> VERSION: 66@*@ViewBag.Config.AppConfig.Version.Trim()*@</li>
                                            <li><a href="~/faq/index.html" target="_blank">FAQ</a></li>

                                            <li><a asp-action="Index" title="Add Requirement" asp-controller="Requirement">Add Requirement/Issue</a></li>

                                            @if ((User.Identity.Id()) == "2aefff4b-12a3-4953-8846-7264a9cd39e8")
                                            {
                                                <li><a asp-action="NegativeStock" title="Tools" asp-controller="Tool">Tools</a></li>
                                            }

                                        </ul>
                                    </div>

                                    @*Notify*@

                                    <a class="setting-icon logout-icon" title="Release Notes" href="#" id="releaseClick">
                                        <div class="reminder-count">
                                            <span id="releaseNotesCount">4</span>
                                            <img src="/assets/images/release-bell.png" style="width:19px;height:21px">

                                        </div>
                                    </a>

                                    @*End Notify*@

                                    <a class="setting-icon logout-icon" asp-action="Index" asp-controller="Reminder" title="Reminders">
                                        <div class="reminder-count">
                                            <img src="~/assets/images/reminder_icon.png" />
                                            <span id="userReminderLayoutCounter" style="display : none">9</span>
                                        </div>
                                    </a>

                                    @if (ViewBag.Config.AppConfig.OfflineMode)
                                    {
                                        <a class="setting-icon logout-icon" title="Backup data" id="syncFilesCount">
                                            <div class="reminder-count">
                                                <span id="syncFilesCnt" style="width:21px;">0</span>
                                                <img src="~/assets/images/sync.png" style="height:21px;">
                                            </div>
                                        </a>
                                    }
                                </div>
                                @*@if (ViewBag.Config.AppConfig.OfflineMode)
                                    {
                                        <div class="pull-right">
                                            <button title="Sync data from cloud server" class="btn btn-small btn-style " style="margin:8px 20px; color:#ffd800;">
                                                <a asp-action="GetOnlineData" title="Logout" asp-controller="SyncData" style="color:#ffd800; text-decoration:none;">
                                                    sync online data
                                                </a>
                                            </button>
                                        </div>
                                    }*@
                            </div>
                        </div>
                        <!-- /top nav -->
                        <div class="padding ft">
                            <div class="full col-sm-9">
                                <!-- content -->
                                <div class="row">
                                    @RenderBody()
                                </div>
                            </div><!--/row-->
                        </div><!-- /col-9 -->
                    </div><!-- /padding -->
                </div>
            </div>
            <!-- /main -->
            <!-- The Modal -->
            <div>
                <div id="releaseModal" class="myModal" style="background-color: rgba(153, 153, 153, 0.9) !important;">
                    <div class="modal-dialog" style="width: 800px !important;  height: 400px !important;   top: 18px !important;">
                        <!-- Modal content -->
                        <div class="modal-content1">

                            <div class="middlealign">
                                <div class="">
                                    <div>
                                        <div class="release-bell">
                                            <span>4</span>
                                            <img src="/assets/images/release-bell.png" alt="release count">
                                        </div>
                                    </div>
                                    <div class="notes-list">

                                        <a href="javascript:;" id="close_releaseNotes" class="release-close">
                                            <img src="/assets/images/release-close.png" alt="" id="btnClose">

                                        </a>


                                        <div class="header">
                                            <a href="#">
                                                <img src="/assets/images/logo.png" alt="">
                                            </a>
                                            <h1>PHARMACY UPDATE <b>VERSION 66</b></h1>
                                            <span>Release Date: 02/06/2018</span>
                                        </div>

                                        <div class="list-item-wrap" style="height:300px">
                                            <div class="list-item">
                                                <span>1</span>
                                                <div class="row">
                                                    <div class="notes-item clearfix">
                                                        <div class="col-md-3">
                                                            <h2>Purchase</h2>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <ol>
                                                                <li>
                                                                    <p4 style="color:#21B784;font:bold;font-family: 'GT Light',arial,sans-serif;">Purchase->Setting->Invoice Value Settings.</p4><br />
                                                                    To tally NET Value with Invoice Value.
                                                                </li>
                                                                <li>
                                                                    <p4 style="color:#21B784;font:bold;font-family: 'GT Light',arial,sans-serif;">Purchase->DC.</p4><br />
                                                                    Now Multiple Product Selection according to DC Number.
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-item">
                                                <span>2</span>
                                                <div class="row">
                                                    <div class="notes-item clearfix">
                                                        <div class="col-md-3">
                                                            <h2>Report</h2>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <ol>
                                                                <li>
                                                                    <p4 style="color:#21B784;font:bold;font-family: 'GT Light',arial,sans-serif;">Reports->Stock->Schedule Report.</p4><br />
                                                                    Now Patient & Doctor Address included in Type1 & Type4 Print.
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-item">
                                                <span>3</span>
                                                <div class="row">
                                                    <div class="notes-item clearfix">
                                                        <div class="col-md-3">
                                                            <h2>General</h2>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <ol>
                                                                <li>
                                                                    <p4 style="color:#21B784;font:bold;font-family: 'GT Light',arial,sans-serif;">Online-Sale & Purchase Block.</p4><br />
                                                                    Now User Wise Online block for Sale & Purchase page.
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="header">
                                                <h4 style="color:blue"> ** Add on Features **</h4>
                                                <h6 style="color:black">( User can contact our support team and they can purchase the licence to enable this features ) .</h6>
                                            </div>
                                            <div class="list-item">
                                                <span>4</span>
                                                <div class="row">
                                                    <div class="notes-item clearfix">
                                                        <div class="col-md-3">
                                                            <h2>Customized Features</h2>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <ol>
                                                                <li>
                                                                    <p4 style="color:#21B784;font:bold;font-family: 'GT Light',arial,sans-serif;">Sell -> Order -> Order / Estimate / Template -> Template ( Custom Licence Required ). </p4><br />

                                                                    Now user create templates ( Set of Item Combinations ) and use the template in sales to quickly handle the regular customers sales
                                                                    ( Like diabetic patients who will often purchase the same set of medicines ).
                                                                </li>
                                                                <li>
                                                                    <p4 style="color:#21B784;font:bold;font-family: 'GT Light',arial,sans-serif;">Inventory -> Barcode -> Barcode Profile / Barcode PRN Design/Barcode generation & printing ( Custom Licence Required ). </p4><br />
                                                                    Now User can create profile for barcode structure and map the PRN file and generate and print barcode for their products .The same barcodes
                                                                    can be used to select the product by scanning the barcodes.
                                                                </li>

                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="modal-backdrop fade in ng-hide"></div>*@
            </div>

        </div>
    </div>

    <!-- popup -->
    @*<div id="popup1" class="modal-box">
            <header>
                <a href="#" class="js-modal-close close">×</a>
                <h3>Sync Online Password</h3>
            </header>
            <div class="modal-body">
                <span><input type="password" id="syncpwd" name="syncpwd" value="" class="col-md-7 form-control " style="width:70%"></span>
                <span><button id="verifyPwd" class="btn-style" style="border:none;margin: 0px 5px 0px 4px !important;padding: 8px;">Sync Data</button></span>
            </div>

        </div>*@

    <div class="modal fade" id="gstNullModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document" style="height: 20% !important;width:50% !important; top: 125px;">
            <div class="modal-content" style="border-radius: 2px; border: 2px solid #b3b3b3;">
                <header style="padding: 0px 6px;"><span style="display: inline-block;"><img src="~/assets/images/brake-warning.png" style="width: 25px; margin: -5px 0px 0 5px;" /></span><h5 style="display: inline-block; margin-left: 10px; font-family: GT Medium; font-size: 17px;">Products Without GST</h5></header>
                <div class="modal-body" style="height: 75px;">
                    <div style="margin: 15px 15px; font-size: 17px; font-weight: 600;">
                        @User.GSTNullAvailable() more products to update GST % to get correct values in GST reports
                        @*Please <a href="/Product/MultiEdit?NoGST=True" id="navigateGSTBulkUpdate">Click here</a> to update the GST.*@
                    </div>
                    <div style="float: right; margin-right: 5px; padding: 0px 6px;">
                        <button id="navigateGSTBulkUpdate" class="btn btn-style sell-decor3" style="margin: 0px 5px 0px 0px !important; height: 30px; padding: 5px 11px;">Update</button>
                        <button id="cancelGSTNull" class="gray-line-btn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="firstTimeSync" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document" style="height: 20% !important;width:50% !important; top: 125px;">
            <div class="modal-content" style="border-radius: 2px; border: 2px solid #b3b3b3;">
                <header style="padding: 0px 6px;">
                    <h5 style="display: inline-block; margin-left: 10px; font-family: GT Medium; font-size: 17px;">hCue - Auto Sync Alert</h5>
                </header>
                <div class="modal-body" style="height: 75px;">
                    <div style="margin: 15px 15px; font-size: 17px; font-weight: 600;">
                        Data is downloading from online for first time use. Please wait for some time.
                    </div>
                    <div style="float: right; margin-right: 5px; padding: 0px 6px;">
                        <button id="firstTimeSyncOk" class="btn btn-style sell-decor3" style="margin: 0px 5px 0px 0px !important; height: 30px; padding: 5px 11px;">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wishes popup End-->
    <!-- script references -->
    <script asp-append-version="true" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/scripts.js"></script>
    <script asp-append-version="true" src="~/assets/js/loadingoverlay.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/appScript/reminder/userRemiderCount.js"></script>
    @*For pdf print*@
    <script asp-append-version="true" src="~/assets/plugins/pdfmake.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/vfs_fonts.js"></script>

    <div id="divFinYearPopup">
        <script asp-append-version="true" src="/assets/js/angular.js"></script>
        <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
        <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
        <script asp-append-version="true" src="~/AppScript/accountSetup/finYearPopupCtrl.js"></script>

        <div ng-controller="finYearPopupCtrl">
            @{
                await Html.RenderPartialAsync("_finYearPopup");
            }
        </div>
    </div>

    @if (ViewBag.Config.AppConfig.OfflineMode)
    {
        <div id="divPhysicalStockPopup">
            <div ng-controller="physicalStockPopupCtrl">
                @{
                    await Html.RenderPartialAsync("_PhysicalStockPopup");
                }
            </div>
        </div>

        <div id="divShowConfirmMsg">
            <div ng-controller="showConfirmMsgPopCtrl">
                @{
                    await Html.RenderPartialAsync("_showConfirmMsg");
                }
            </div>
        </div>

        <script asp-append-version="true" src="/assets/js/angular.js"></script>
        <script asp-append-version="true" src="~/appScript/physicalStockPopup/physicalStockPopupCtrl.js"></script>
        <script asp-append-version="true" src="~/appScript/physicalStockPopup/physicalStockPopupService.js"></script>
        <script asp-append-version="true" src="~/appScript/physicalStockPopup/physicalStockHistoryCtrl.js"></script>
        <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.js"></script>
        <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.css" rel="stylesheet" />
        <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
        <script asp-append-version="true" src="~/appScript/common/showConfirmMsgPopCtrl.js"></script>
        <script asp-append-version="true" src="~/appScript/common/showConfirmMsgCtrl.js"></script>
        <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
                    }

                    @*Newly Added by Manivannan on 31-Jan-17 begins*@
                    <script>

                        var imageAddr = "https://hcuepharma.com/assets/images/header-bg.jpg";
                        var downloadSize = 13213; //bytes

                        function ShowProgressMessage(msg) {
                            var oSpeedTest = document.getElementById("speedTest");
                            oSpeedTest.innerHTML = msg;
                        }

                        function InitiateSpeedDetection() {
                            ShowProgressMessage(".....");
                            window.setTimeout(MeasureConnectionSpeed, 1);
                        };

                        if (window.addEventListener) {
                            window.addEventListener('load', InitiateSpeedDetection, false);
                            window.setInterval(InitiateSpeedDetection, 5000);
                        } else if (window.attachEvent) {
                            window.attachEvent('onload', InitiateSpeedDetection);
                            window.setInterval(InitiateSpeedDetection, 5000);
                        }


                        function MeasureConnectionSpeed() {
                            var startTime, endTime;
                            var download = new Image();
                            download.onload = function () {
                                endTime = (new Date()).getTime();
                                showResults();
                            }

                            download.onerror = function (err, msg) {
                                ShowProgressMessage("");


                                var onlineImg = document.getElementById('onlineImg');
                                onlineImg.src = '/assets/images/offline.png';

                            }

                            startTime = (new Date()).getTime();
                            var cacheBuster = "?nnn=" + startTime;
                            download.src = imageAddr + cacheBuster;

                            function showResults() {
                                var duration = (endTime - startTime) / 1000;
                                var bitsLoaded = downloadSize * 8;
                                var speedBps = (bitsLoaded / duration).toFixed(2);
                                var speedKbps = (speedBps / 1024).toFixed(2);
                                var speedMbps = (speedKbps / 1024).toFixed(2);
                                if (navigator.onLine) {
                                    ShowProgressMessage(speedMbps + " Mbps");

                                    var onlineImg = document.getElementById('onlineImg');
                                    onlineImg.src = '/assets/images/online.png';

                                }
                                else {
                                    ShowProgressMessage("");

                                    var onlineImg = document.getElementById('onlineImg');
                                    onlineImg.src = '/assets/images/offline.png';
                                }
                            }
                        }
                    </script>

                    <script>
                        //function startToCheckSyncFiles() {
                        //    window.setInterval(function () {

                        //        $.get("/SyncData/CheckSyncDataExistCount", function (data, status) {
                        //            var syncFilesCnt = document.getElementById("syncFilesCnt");
                        //            syncFilesCnt.innerHTML = data;
                        //        });

                        //    }, 60000);
                        //}
                        $(document).ready(function () {
                            var syncFilesCnt = document.getElementById("syncFilesCnt");
                            $.get("/SyncData/ValidateLogtime", function (data, status) {
                                if (data > 0) {
                                    window.location.href = "/User/Login";
                                    return;
                                }
                            });
                            if (syncFilesCnt != null) {
                                //startToCheckSyncFiles();
                                $.get("/SyncData/CheckSyncDataExistCount", function (data, status) {
                                    var syncFilesCnt = document.getElementById("syncFilesCnt");
                                    syncFilesCnt.innerHTML = data;
                                    if (data > 0) {
                                        var synconline = document.getElementById("synconline");
                                        var syncbtn = document.getElementById("syncbtn");
                                        if (syncbtn != null)
                                            syncbtn.disabled = true;
                                        if (synconline != null) {
                                            synconline.href = "#";
                                            synconline.baseURI = "#";
                                        }
                                    }

                                    if (!navigator.onLine && syncFilesCnt.innerHTML != 0 && window.localStorage.getItem('showSyncAlertMsg') == 1) { // Value has been set in login.cshtml
                                        $("#divShowConfirmMsg").click();
                                        window.localStorage.setItem('showSyncAlertMsg', '0');
                                    }
                                });
                            }

                            $("#syncFilesCount").click(function () {
                                if (syncFilesCnt.innerHTML != 0) {
                                    $("#divShowConfirmMsg").click();
                                }
                            });
                        });
                    </script>

                    @*Newly Added by Manivannan on 31-Jan-17 ends*@

                    @RenderSection("scripts", false)
                    @RenderSection("reloadwarning", false)

                    <script type="text/javascript">
                        $.LoadingOverlaySetup({
                            image: "/loading.gif"
                        });

                        $(document).ready(function () {
                            $("#syncbtn").click(function () {
                                $.get("/SyncData/CheckSyncDataExistCount", function (data, status) {
                                    if (data == 0) {
                                        $.get("/SyncData/CheckProductStockInstanceId", function (data, status) {
                                            if (data != "Branch Not Found") {
                                                window.location.href = "/SyncData/GetOnlineData";
                                            }
                                            else {
                                                alert("Sync failed. Since stock not available for this branch.");
                                            }
                                        });
                                    }
                                    else {
                                        var syncbtn = document.getElementById("syncbtn");
                                        if (syncbtn != null)
                                            syncbtn.disabled = true;
                                        if (synconline != null) {
                                            synconline.href = "#";
                                            synconline.baseURI = "#";
                                        }
                                        $("#divShowConfirmMsg").click();
                                    }
                                });
                            });

                            if (document.getElementById("syncFilesCnt") != null) {
                                if (window.localStorage.getItem('checkAutoSyncData') == 1) {
                                    window.localStorage.setItem('checkAutoSyncData', '0');
                                    $.get("/SyncData/CheckFirstTimeAutoSync", function (data, status) {
                                        if (data == true) {
                                            $('#firstTimeSync').modal('show');
                                            window.location.href = "/SyncData/GetOnlineData";
                                        }
                                    });
                                }
                            }

                        });
                        $('#firstTimeSyncOk').click(function () {
                            $('#firstTimeSync').modal('hide');
                        });
                        $(document).on("keydown", function (e) {
                            //e.preventDefault();
                            //console.log(e);
                            var newWindow = document.getElementById("newWindow").value;
                            var shortCutKeys = document.getElementById("shortCutKeys").value;
                            //var shortmenu = document.getElementById("shortmenu").value;
                            var eleDept = document.getElementById("hdndepartment").value;
                            var instanceType = document.getElementById("instanceType").value;


                            if (shortCutKeys == "True") {
                                //Alt+d
                                if (e.altKey && e.which === 68) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Dashboard", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Dashboard";
                                    }

                                }

                                //Alt+s
                                if (e.altKey && e.which === 83) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Sales/Index", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Sales/Index";
                                    }

                                }

                                //Alt+p
                                if (e.altKey && e.which === 80) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/VendorPurchase/Index", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/VendorPurchase/Index";
                                    }

                                }
                                //Alt+t
                                if (e.altKey && e.which === 84 && instanceType != 1) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/StockTransfer/Index", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/StockTransfer/Index";
                                    }

                                }
                                //Alt+l
                                if (e.altKey && e.which === 76 && instanceType != 1) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Leads/List", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Leads/List";
                                    }

                                }
                                //Alt+o
                                if (e.altKey && e.which === 79) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/VendorOrder/Index", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/VendorOrder/Index";
                                    }

                                }
                                //Alt+f
                                if (e.altKey && e.which === 70) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Vendor/Index", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Vendor/Index";
                                    }

                                }
                                //Alt+i
                                if (e.altKey && e.which === 73) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/ProductStock/List", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/ProductStock/List";
                                    }

                                }
                                //Alt+r
                                if (e.altKey && e.which === 82) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/SalesReport/HomeDeliveryList", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/SalesReport/HomeDeliveryList";
                                    }

                                }
                                //Alt+b
                                if (e.altKey && e.which === 66) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/InstanceSetup/List", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/InstanceSetup/List";
                                    }

                                }
                                //Alt+a
                                if (e.altKey && e.which === 65) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Payment/Index", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Payment/Index";
                                    }

                                }
                                //Alt+u
                                if (e.altKey && e.which === 85) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/UserManagement/Index", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/UserManagement/Index";
                                    }
                                }
                            }


                            //console.log(shortmenu);
                            if (($("ul.nav li.active a").attr('href') == "/Sales/Index") && $("#shortmenu").val() == 2) {
                                //alert($("ul.nav li.active a").attr('href'));
                                //Alt+S
                                if (e.altKey && e.which === 83) {
                                    e.preventDefault();

                                    //if (newWindow == "True") {
                                    //    window.open("/Sales/Index", "_blank");
                                    //}
                                    if (newWindow == "False") {
                                        window.location.href = "/Sales/Index";
                                    }

                                }
                                //Alt+1
                                if (e.altKey && e.which === 49) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Sales/List", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Sales/List";
                                    }

                                }
                                //Alt+2
                                if (e.altKey && e.which === 50) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/SalesReturn/List", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/SalesReturn/List";
                                    }

                                }
                                //Alt+3
                                if (e.altKey && e.which === 51) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/SalesReturn/CancelList", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/SalesReturn/CancelList";
                                    }

                                }
                                //Alt+4
                                if (e.altKey && e.which === 52) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Sales/Settings", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Sales/Settings";
                                    }
                                }
                                //Alt+5
                                if (e.altKey && e.which === 53) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Sales/PrintTemplate", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Sales/PrintTemplate";
                                    }
                                }
                                //Alt+6
                                if (e.altKey && e.which === 54) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Sales/SalesOrder", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Sales/SalesOrder";
                                    }
                                }
                                //////Alt+7
                                ////if (e.altKey && e.which === 55) {
                                ////    e.preventDefault();

                                ////    if (newWindow == "True") {
                                ////        window.open("/Sales/SalesOrderHistory", "_blank");
                                ////    }
                                ////    if (newWindow == "False") {
                                ////        window.location.href = "/Sales/SalesOrderHistory";
                                ////    }
                                ////}
                                //Alt+8
                                if (e.altKey && e.which === 55 && (eleDept == "852eaefa-f670-4a6a-a0e7-db3fa252d576" || eleDept == "63ED272D-1122-4E04-AFE8-C5A0F13B4F0E" || eleDept == "c503ca6e-f418-4807-a847-b6886378cf0b")) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Sales/ListNew", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Sales/ListNew";
                                    }
                                }
                            }

                            if (($("ul.nav li.active a").attr('href') == "/VendorPurchase/Index") && $("#shortmenubuy").val() == 3) {
                                //alert($("ul.nav li.active a").attr('href'));
                                //Alt+P
                                if (e.altKey && e.which === 80) {
                                    e.preventDefault();

                                    //if (newWindow == "True") {
                                    //    window.open("/VendorPurchase/Index", "_blank");
                                    //}
                                    if (newWindow == "False") {
                                        window.location.href = "/VendorPurchase/Index";
                                    }

                                }
                                //Alt+1
                                if (e.altKey && e.which === 49) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/VendorPurchase/List", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/VendorPurchase/List";
                                    }

                                }
                                //Alt+2
                                if (e.altKey && e.which === 50) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/VendorPurchaseReturn/List", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/VendorPurchaseReturn/List";
                                    }

                                }
                                //Alt+3
                                if (e.altKey && e.which === 51) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/VendorPurchase/CancelList", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/VendorPurchase/CancelList";
                                    }

                                }
                                //Alt+4
                                if (e.altKey && e.which === 52) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/ImportBuy/Index", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/ImportBuy/Index";
                                    }
                                }
                                //Alt+5
                                if (e.altKey && e.which === 53) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/ImportBuy/PurchaseImportSetting", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/ImportBuy/PurchaseImportSetting";
                                    }
                                }
                                //Alt+6
                                if (e.altKey && e.which === 54) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/VendorPurchase/Settings", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/VendorPurchase/Settings";
                                    }
                                }
                            }

                            if (($("ul.nav li.active a").attr('href') == "/Vendor/Index") && $("#shortmenuprofile").val() == 6) {
                                //alert($("ul.nav li.active a").attr('href'));
                                //Alt+F
                                if (e.altKey && e.which === 70) {
                                    e.preventDefault();

                                    //if (newWindow == "True") {
                                    //    window.open("/Vendor/Index", "_blank");
                                    //}
                                    if (newWindow == "False") {
                                        window.location.href = "/Vendor/Index";
                                    }

                                }
                                //Alt+1
                                if (e.altKey && e.which === 49) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Vendor/List", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Vendor/List";
                                    }

                                }
                                //Alt+2
                                if (e.altKey && e.which === 50) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/PatientHistory/PatientList", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/PatientHistory/PatientList";
                                    }

                                }
                                //Alt+3
                                if (e.altKey && e.which === 51) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/PatientHistory/PatientListBulkSms", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/PatientHistory/PatientListBulkSms";
                                    }

                                }
                                //Alt+4
                                if (e.altKey && e.which === 52) {
                                    e.preventDefault();

                                    if (newWindow == "True") {
                                        window.open("/Doctor/Doctor", "_blank");
                                    }
                                    if (newWindow == "False") {
                                        window.location.href = "/Doctor/Doctor";
                                    }
                                }
                            }

                        });

                        /* Sync Password Popup*/
                        //$(function () {
                        //    $("#syncpwd").val("");
                        //    function checkValidPassword() {
                        //        if ($("#syncpwd").val() == "hcue@12345") {
                        //            $(".modal-box, .modal-overlay1").fadeOut(500, function () {
                        //                $(".modal-overlay1").remove();
                        //            });
                        //            $("#syncpwd").val("");
                        //            window.location.href = "/SyncData/GetOnlineData";
                        //        }
                        //        else {
                        //            alert("Wrong Password");
                        //        }
                        //    }

                        //    $("#verifyPwd").click(function () {
                        //        checkValidPassword();
                        //    });

                        //    $('#syncpwd').keypress(function (e) {
                        //        var key = e.which;
                        //        if (key == 13) {
                        //            checkValidPassword();
                        //        }
                        //    });

                        //    var appendthis = ("<div class='modal-overlay1 js-modal-close'></div>");

                        //    $('a[data-modal-id]').click(function (e) {
                        //        e.preventDefault();
                        //        $("body").append(appendthis);
                        //        $(".modal-overlay1").fadeTo(500, 0.7);
                        //        var modalBox = $(this).attr('data-modal-id');
                        //        $('#' + modalBox).fadeIn($(this).data());
                        //    });

                        //    $(".js-modal-close, .modal-overlay1").click(function () {
                        //        $(".modal-box, .modal-overlay1").fadeOut(500, function () {
                        //            $(".modal-overlay1").remove();
                        //        });

                        //    });

                        //    $(window).resize(function () {
                        //        $(".modal-box").css({
                        //            top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                        //            left: ($(window).width() - $(".modal-box").outerWidth()) / 2
                        //        });
                        //    });

                        //    $(window).resize();

                        //});

                    </script>

                    <script>

                        // Get the modal
                        var modal = document.getElementById('releaseModal');

                        // Get the button that opens the modal
                        var releaseClick = document.getElementById("releaseClick");

                        // When the user clicks on the button, open the modal
                        releaseClick.onclick = function () {
                            modal.style.display = "block";
                            // modal.style.display = "none";
                        }

                        var btnClose = document.getElementById("btnClose");
                        btnClose.onclick = function () {
                            modal.style.display = "none";
                        }
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }


                        $(window).on('load', function () {

                            if (document.getElementById('hdnGstNullAvailable').value != "" && document.getElementById('hdnGstNullAvailable').value != "0" && localStorage.getItem("gstNullAvailable") != 1)
                                $('#gstNullModal').modal('show');
                        });

                        $('#gstNullModal').on('hidden.bs.modal', function () {
                            localStorage.setItem("gstNullAvailable", 1);
                        });

                        $('#cancelGSTNull').click(function () {
                            localStorage.setItem("gstNullAvailable", 1);
                            $('#gstNullModal').modal('hide');
                        });

                        $('#navigateGSTBulkUpdate').click(function () {
                            localStorage.setItem("gstNullAvailable", 1);
                            location.href = "/Product/MultiEdit?NoGST=True";
                        });

                    </script>
                    @*<script>
                        $('#lg_menu').click(
                           function () { $(this).toggleClass('show-navlbl') })
                        </script>*@

                </body>
            </html>