﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>HCUE - @ViewBag.Title</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link asp-append-version="true" href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.css">
    <link asp-append-version="true" href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link asp-append-version="true" href="/assets/css/style.css" rel="stylesheet" />
    <link asp-append-version="true" href="/assets/css/developer.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/release-notes.css" rel="stylesheet" />
    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
    <!--[if lt IE 9]>
        <script asp-append-version="true" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link asp-append-version="true" href="/assets/css/sidebar.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/lib/angular-toastr/dist/angular-toastr.css" />
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                <div class="sidebar-offcanvas hide-top" id="sidebar">
                    <ul class="nav tp-title">
                        <li class="text-center">
                            <a href="#" data-toggle="offcanvas" class="visible-xs text-center">
                                <button type="button" class="navbar-toggle">
                                    <span class="sr-only">Toggle</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </a>
                        </li>
                    </ul>


                </div>
                <!-- /sidebar -->
                <!-- main right col -->
                <div class="rt-div">
                    <div class="column col-lg-12 col-md-12 col-sm-11 col-xs-12" id="main">
                        <!-- top nav -->
                        <div class="navbar navbar-blue navbar-static-top">
                            <div class="navbar-header">
                                <a href="/" class="navbar-brand logo">
                                    <img src="/assets/images/logo.png" alt="Hcue" />
                                </a>
                                <div class="pull-right">
                                    <span class="pull-left" style="margin:8px 30px 0 0;font-size:20px;">Support 9:00 am to 9:00 pm</span>
                                    <span class="pull-left" style="margin:8px 30px 0 0;font-size:24px;"><span class="glyphicon glyphicon-phone" style="top:3px;"></span> 9543279999</span>
                                    <span class="glyphicon" id="speedTest" style="font-family: 'Squada One', cursive;width: 100px;font-size: 24px;line-height: 24px;display: inline-block; color: #095f46;">....</span>
                                    <span class="welcome-user">Welcome @User.Name() <br /> @User.InstanceName() </span>

                                    @if (ViewBag.Config.AppConfig.OfflineMode)
                                {
                                <img src="/assets/images/offline.png" alt="offline" id="onlineImg" style="margin-right:2px;" />
                                <img src="/assets/images/online.png" width="0" height="0" />
                                }
                                else
                                {
                                <img src="/assets/images/offline.png" width="0" height="0" />
                                <img src="/assets/images/online.png" style="margin-right:2px;" id="onlineImg" alt="online" />
                                }

                                    <a asp-action="LogOut" title="Logout" asp-controller="User" class="logout-icon">
                                        <img src="/assets/images/logout.png" alt="Logout" />
                                    </a>
                                    @if (ViewBag.Config.AppConfig.OfflineMode)
{
                                <div class="pull-right logout-submenu">
                                    <a href="#" class="setting-icon logout-icon dropdown-toggle dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                        <img src="/assets/images/settings.png" alt="Settings" />
                                    </a>
                                    <ul class="dropdown-menu">

                                        <li>
                                            <button title="Sync data from cloud server" class="btn btn-small btn-style " style="margin:8px 5px; color:#ffd800;">
                                                <a asp-action="GetOnlineData" title="SyncData" asp-controller="SyncData" style="color:#ffd800;background-color:#039394; text-decoration:none;">sync online data</a>
                                            </button>
                                        </li>

                                    </ul>
                                </div>
}
                                </div>

                            </div>
                        </div>
                        <!-- /top nav -->
                        <div class="padding">
                            <div class="full col-sm-9">
                                <!-- content -->
                                <div class="row">
                                    @RenderBody()
                                </div>
                            </div><!--/row-->
                        </div><!-- /col-9 -->
                    </div><!-- /padding -->
                </div>
                <!-- /main -->
                </div>
            </div>
    </div>
    <!-- script references -->
    <script asp-append-version="true" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/scripts.js"></script>
    <script asp-append-version="true" src="~/assets/js/loadingoverlay.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/appScript/reminder/userRemiderCount.js"></script>

    @*Newly Added by Manivannan on 31-Jan-17 begins*@
    <script>

        var imageAddr = "https://hcuepharma.com/assets/images/header-bg.jpg";
        var downloadSize = 13213; //bytes

        function ShowProgressMessage(msg) {
            var oSpeedTest = document.getElementById("speedTest");
            oSpeedTest.innerHTML = msg;
        }

        function InitiateSpeedDetection() {
            ShowProgressMessage(".....");
            window.setTimeout(MeasureConnectionSpeed, 1);
        };

        if (window.addEventListener) {
            window.addEventListener('load', InitiateSpeedDetection, false);
            window.setInterval(InitiateSpeedDetection, 5000);
        } else if (window.attachEvent) {
            window.attachEvent('onload', InitiateSpeedDetection);
            window.setInterval(InitiateSpeedDetection, 5000);
        }
        

        function MeasureConnectionSpeed() {
            var startTime, endTime;
            var download = new Image();
            download.onload = function () {
                endTime = (new Date()).getTime();
                showResults();
            }

            download.onerror = function (err, msg) {
                ShowProgressMessage("");

             
                var onlineImg = document.getElementById('onlineImg');
                onlineImg.src = '/assets/images/offline.png';

            }

            startTime = (new Date()).getTime();
            var cacheBuster = "?nnn=" + startTime;
            download.src = imageAddr + cacheBuster;

            function showResults() {
                var duration = (endTime - startTime) / 1000;
                var bitsLoaded = downloadSize * 8;
                var speedBps = (bitsLoaded / duration).toFixed(2);
                var speedKbps = (speedBps / 1024).toFixed(2);
                var speedMbps = (speedKbps / 1024).toFixed(2);
                if (navigator.onLine)
                {
                    ShowProgressMessage(speedMbps + " Mbps");
                    
                    var onlineImg = document.getElementById('onlineImg');
                    onlineImg.src = '/assets/images/online.png';

                }
                else
                {
                    ShowProgressMessage("");
                    
                    var onlineImg = document.getElementById('onlineImg');
                    onlineImg.src = '/assets/images/offline.png';
                }
            }
        }
    </script>
    @*Newly Added by Manivannan on 31-Jan-17 ends*@

    @RenderSection("scripts", false)
    @RenderSection("reloadwarning", false)

    <script type="text/javascript">
        $.LoadingOverlaySetup({
            image: "/loading.gif"
        });
	
	$(document).on("keydown", function (e) {
            //e.preventDefault();
            //console.log(e);
            var newWindow = document.getElementById("newWindow").value;
            var shortCutKeys = document.getElementById("shortCutKeys").value;
            //var shortmenu = document.getElementById("shortmenu").value;
            var instanceType = document.getElementById("instanceType").value;
           

            if (shortCutKeys == "True")
            {
                //Alt+d
                if (e.altKey && e.which === 68) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Dashboard", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Dashboard";
                    }

                }

                //Alt+s
                if (e.altKey && e.which === 83) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Sales/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Sales/Index";
                    }

                }

                //Alt+p
                if (e.altKey && e.which === 80) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/VendorPurchase/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/VendorPurchase/Index";
                    }

                }
                //Alt+t
                if (e.altKey && e.which === 84 && instanceType != 1) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/StockTransfer/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/StockTransfer/Index";
                    }

                }
                //Alt+l
                if (e.altKey && e.which === 76 && instanceType != 1) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Leads/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Leads/List";
                    }

                }
                //Alt+o
                if (e.altKey && e.which === 79) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/VendorOrder/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/VendorOrder/Index";
                    }

                }
                //Alt+f
                if (e.altKey && e.which === 70) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Vendor/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Vendor/Index";
                    }

                }
                //Alt+i
                if (e.altKey && e.which === 73) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/ProductStock/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/ProductStock/List";
                    }

                }
                //Alt+r
                if (e.altKey && e.which === 82) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/SalesReport/HomeDeliveryList", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/SalesReport/HomeDeliveryList";
                    }

                }
                //Alt+b
                if (e.altKey && e.which === 66) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/InstanceSetup/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/InstanceSetup/List";
                    }

                }
                //Alt+a
                if (e.altKey && e.which === 65) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Payment/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Payment/Index";
                    }

                }
                //Alt+u
                if (e.altKey && e.which === 85) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/UserManagement/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/UserManagement/Index";
                    }
                }
            }
          

            //console.log(shortmenu);
            if ( ($("ul.nav li.active a").attr('href') == "/Sales/Index") && $("#shortmenu").val() == 2)
            {
                //alert($("ul.nav li.active a").attr('href'));
                //Alt+S
                if (e.altKey && e.which === 83) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Sales/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Sales/Index";
                    }

                }
                //Alt+1
                if (e.altKey && e.which === 49) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Sales/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Sales/List";
                    }

                }
                //Alt+2
                if (e.altKey && e.which === 50) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/SalesReturn/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/SalesReturn/List";
                    }

                }
                //Alt+3
                if (e.altKey && e.which === 51) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/SalesReturn/CancelList", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/SalesReturn/CancelList";
                    }
                    
                }
                //Alt+4
                if (e.altKey && e.which === 52) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Sales/Settings", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Sales/Settings";
                    }
                }
                //Alt+5
                if (e.altKey && e.which === 53) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Sales/PrintTemplate", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Sales/PrintTemplate";
                    }
                }
            }
        });
    </script>
    @*<script>
    $('#lg_menu').hover(
       function () { $(this).toggleClass('show-navlbl') })
    </script>*@
    
</body>
</html>