﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>HCUE - @ViewBag.Title</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link asp-append-version="true" rel="icon" type="image/png" href="../assets/images/fav.png" sizes="16x16" />
    <link asp-append-version="true" href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.css">
    <link asp-append-version="true" href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link asp-append-version="true" href="/assets/css/style.css" rel="stylesheet" />
    <link asp-append-version="true" href="/assets/css/developer.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/assets/css/release-notes.css" rel="stylesheet" />
    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link asp-append-version="true" href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
    <!--[if lt IE 9]>
        <script asp-append-version="true" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link asp-append-version="true" href="/assets/css/sidebar.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/lib/angular-toastr/dist/angular-toastr.css" />
    <style>
        #main, #sidebar{
            top:0;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                <div class="sidebar-offcanvas hide-top" id="sidebar">
                    <ul class="nav tp-title">
                        <li class="text-center">
                            <a href="#" data-toggle="offcanvas" class="visible-xs text-center">
                                <button type="button" class="navbar-toggle">
                                    <span class="sr-only">Toggle</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </a>
                        </li>
                    </ul>
                    @if (User.IsAdmin())
                    {
                        await Html.RenderPartialAsync("~/Views/Shared/Navigation/_HQueAdmin.cshtml");
                    }
                    else if (User.IsDistributor())
                    {
                        await Html.RenderPartialAsync("~/Views/Shared/Navigation/_Distributor.cshtml");
                    }
                    else
                    {
                        await Html.RenderPartialAsync("~/Views/Shared/Navigation/_User.cshtml");
                    }

                    <input type="hidden" id="newWindow" value="@Convert.ToString(User.NewWindowType())" />
                    <input type="hidden" id="shortCutKeys" value="@Convert.ToString(User.ShortCutKeysType())" />
                    <input type="hidden" id="shortmenu" value="@(UserAccess.Sell)" />
                    <input type="hidden" id="shortmenubuy" value="@(UserAccess.Buy)" />
                    <input type="hidden" id="shortmenuprofile" value="@(UserAccess.Profile)" />
                    <input type="hidden" id="instanceType" value="@(User.InstanceTypeId())" />

                </div>
                <!-- /sidebar -->
                <!-- main right col -->
                <div class="rt-div">
                    <div class="column col-lg-12 col-md-12 col-sm-11 col-xs-12" id="main">
                            <!-- top nav -->
                            <!-- /top nav -->
                            <div class="padding clearfix">
                                <div class="full col-sm-9">
                                    <!-- content -->
                                    <div class="row">
                                        @RenderBody()
                                    </div>
                                </div><!--/row-->
                            </div><!-- /col-9 -->
                        </div><!-- /padding -->
                    </div>
                    <!-- /main -->
                </div>
                </div>
            </div>
    <!-- script references -->
    <script asp-append-version="true" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/scripts.js"></script>
    <script asp-append-version="true" src="~/assets/js/loadingoverlay.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/appScript/reminder/userRemiderCount.js"></script>

    @*Newly Added by Manivannan on 31-Jan-17 begins*@
    @*<script>

        var imageAddr = "https://hcuepharma.com/assets/images/header-bg.jpg";
        var downloadSize = 13213; //bytes

        function ShowProgressMessage(msg) {
            var oSpeedTest = document.getElementById("speedTest");
            oSpeedTest.innerHTML = msg;
        }

        function InitiateSpeedDetection() {
            ShowProgressMessage(".....");
            window.setTimeout(MeasureConnectionSpeed, 1);
        };

        if (window.addEventListener) {
            window.addEventListener('load', InitiateSpeedDetection, false);
            window.setInterval(InitiateSpeedDetection, 5000);
        } else if (window.attachEvent) {
            window.attachEvent('onload', InitiateSpeedDetection);
            window.setInterval(InitiateSpeedDetection, 5000);
        }
        

        function MeasureConnectionSpeed() {
            var startTime, endTime;
            var download = new Image();
            download.onload = function () {
                endTime = (new Date()).getTime();
                showResults();
            }

            download.onerror = function (err, msg) {
                ShowProgressMessage("");

             
                var onlineImg = document.getElementById('onlineImg');
                onlineImg.src = '/assets/images/offline.png';

            }

            startTime = (new Date()).getTime();
            var cacheBuster = "?nnn=" + startTime;
            download.src = imageAddr + cacheBuster;

            function showResults() {
                var duration = (endTime - startTime) / 1000;
                var bitsLoaded = downloadSize * 8;
                var speedBps = (bitsLoaded / duration).toFixed(2);
                var speedKbps = (speedBps / 1024).toFixed(2);
                var speedMbps = (speedKbps / 1024).toFixed(2);
                if (navigator.onLine)
                {
                    ShowProgressMessage(speedMbps + " Mbps");
                    
                    var onlineImg = document.getElementById('onlineImg');
                    onlineImg.src = '/assets/images/online.png';

                }
                else
                {
                    ShowProgressMessage("");
                    
                    var onlineImg = document.getElementById('onlineImg');
                    onlineImg.src = '/assets/images/offline.png';
                }
            }
        }
    </script>*@
    @*Newly Added by Manivannan on 31-Jan-17 ends*@

    @RenderSection("scripts", false)
    @RenderSection("reloadwarning", false)

    <script type="text/javascript">
        $.LoadingOverlaySetup({
            image: "/loading.gif"
        });
	
        $(document).ready(function () {
            $("#btnSyncOffline").click(function () {
                $.get("/SyncData/CheckSyncDataExist", function (data, status) {
                    if (data == 'Success')
                    {
                       alert("Confirm to Sync Online Data");
                        window.location.href = "/SyncData/GetOnlineData"
                    }
                    else {
                        alert("Online Data is not possible to Sync");
                    }
                    
                });
            });
        });
	$(document).on("keydown", function (e) {
            //e.preventDefault();
            //console.log(e);
            var newWindow = document.getElementById("newWindow").value;
            var shortCutKeys = document.getElementById("shortCutKeys").value;
            //var shortmenu = document.getElementById("shortmenu").value;
            var instanceType = document.getElementById("instanceType").value;
           

            if (shortCutKeys == "True")
            {
                //Alt+d
                if (e.altKey && e.which === 68) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Dashboard", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Dashboard";
                    }

                }

                //Alt+s
                if (e.altKey && e.which === 83) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Sales/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Sales/Index";
                    }

                }

                //Alt+p
                if (e.altKey && e.which === 80) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/VendorPurchase/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/VendorPurchase/Index";
                    }

                }
                //Alt+t
                if (e.altKey && e.which === 84 && instanceType != 1) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/StockTransfer/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/StockTransfer/Index";
                    }

                }
                //Alt+l
                if (e.altKey && e.which === 76 && instanceType != 1) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Leads/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Leads/List";
                    }

                }
                //Alt+o
                if (e.altKey && e.which === 79) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/VendorOrder/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/VendorOrder/Index";
                    }

                }
                //Alt+f
                if (e.altKey && e.which === 70) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Vendor/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Vendor/Index";
                    }

                }
                //Alt+i
                if (e.altKey && e.which === 73) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/ProductStock/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/ProductStock/List";
                    }

                }
                //Alt+r
                if (e.altKey && e.which === 82) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/SalesReport/HomeDeliveryList", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/SalesReport/HomeDeliveryList";
                    }

                }
                //Alt+b
                if (e.altKey && e.which === 66) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/InstanceSetup/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/InstanceSetup/List";
                    }

                }
                //Alt+a
                if (e.altKey && e.which === 65) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Payment/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Payment/Index";
                    }

                }
                //Alt+u
                if (e.altKey && e.which === 85) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/UserManagement/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/UserManagement/Index";
                    }
                }
            }
          

            //console.log(shortmenu);
            if ( ($("ul.nav li.active a").attr('href') == "/Sales/Index") && $("#shortmenu").val() == 2)
            {
                //alert($("ul.nav li.active a").attr('href'));
                //Alt+S
                if (e.altKey && e.which === 83) {
                    e.preventDefault();

                    //if (newWindow == "True") {
                    //    window.open("/Sales/Index", "_blank");
                    //}
                    if (newWindow == "False") {
                        window.location.href = "/Sales/Index";
                    }

                }
                //Alt+1
                if (e.altKey && e.which === 49) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Sales/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Sales/List";
                    }

                }
                //Alt+2
                if (e.altKey && e.which === 50) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/SalesReturn/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/SalesReturn/List";
                    }

                }
                //Alt+3
                if (e.altKey && e.which === 51) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/SalesReturn/CancelList", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/SalesReturn/CancelList";
                    }
                    
                }
                //Alt+4
                if (e.altKey && e.which === 52) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Sales/Settings", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Sales/Settings";
                    }
                }
                //Alt+5
                if (e.altKey && e.which === 53) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Sales/PrintTemplate", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Sales/PrintTemplate";
                    }
                }
            }

            if (($("ul.nav li.active a").attr('href') == "/VendorPurchase/Index") && $("#shortmenubuy").val() == 3) {
                //alert($("ul.nav li.active a").attr('href'));
                //Alt+P
                if (e.altKey && e.which === 80) {
                    e.preventDefault();

                    //if (newWindow == "True") {
                    //    window.open("/VendorPurchase/Index", "_blank");
                    //}
                    if (newWindow == "False") {
                        window.location.href = "/VendorPurchase/Index";
                    }

                }
                //Alt+1
                if (e.altKey && e.which === 49) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/VendorPurchase/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/VendorPurchase/List";
                    }

                }
                //Alt+2
                if (e.altKey && e.which === 50) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/VendorPurchaseReturn/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/VendorPurchaseReturn/List";
                    }

                }
                //Alt+3
                if (e.altKey && e.which === 51) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/VendorPurchase/CancelList", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/VendorPurchase/CancelList";
                    }

                }
                //Alt+4
                if (e.altKey && e.which === 52) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/ImportBuy/Index", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/ImportBuy/Index";
                    }
                }
                //Alt+5
                if (e.altKey && e.which === 53) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/ImportBuy/PurchaseImportSetting", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/ImportBuy/PurchaseImportSetting";
                    }
                }
                //Alt+6
                if (e.altKey && e.which === 54) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/VendorPurchase/Settings", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/VendorPurchase/Settings";
                    }
                }
            }

            if (($("ul.nav li.active a").attr('href') == "/Vendor/Index") && $("#shortmenuprofile").val() == 6) {
                //alert($("ul.nav li.active a").attr('href'));
                //Alt+F
                if (e.altKey && e.which === 70) {
                    e.preventDefault();

                    //if (newWindow == "True") {
                    //    window.open("/Vendor/Index", "_blank");
                    //}
                    if (newWindow == "False") {
                        window.location.href = "/Vendor/Index";
                    }

                }
                //Alt+1
                if (e.altKey && e.which === 49) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Vendor/List", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Vendor/List";
                    }

                }
                //Alt+2
                if (e.altKey && e.which === 50) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/PatientHistory/PatientList", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/PatientHistory/PatientList";
                    }

                }
                //Alt+3
                if (e.altKey && e.which === 51) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/PatientHistory/PatientListBulkSms", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/PatientHistory/PatientListBulkSms";
                    }

                }
                //Alt+4
                if (e.altKey && e.which === 52) {
                    e.preventDefault();

                    if (newWindow == "True") {
                        window.open("/Doctor/Doctor", "_blank");
                    }
                    if (newWindow == "False") {
                        window.location.href = "/Doctor/Doctor";
                    }
                }
            }

        });
    </script>
    @*<script>
    $('#lg_menu').hover(
       function () { $(this).toggleClass('show-navlbl') })
    </script>*@
</body>
</html>