<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link asp-append-version="true" rel="icon" type="image/png" href="../assets/images/fav.png" sizes="16x16" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Login</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link asp-append-version="true" href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.css">
    <!-- FONT AWESOME ICONS  -->

    <link asp-append-version="true" href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link asp-append-version="true" href="/assets/css/style.css" rel="stylesheet" />
    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script asp-append-version="true" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script asp-append-version="true" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/assets/js/jquery.js"> </script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"> </script>
</head>
<body>
<div class="container-fluid loginbody">
    <header class="webapp-login header">
        <div class="container loginHeader">
            <div class="row">
                <a href="#"><img src="../assets/images/hcue-plus-loginlogo.png" alt="logo"></a>
                <div class="col-md-5 pull-right text-right">
                    <div class="internet-connection">
                       
                    <img src="/assets/images/offline.png" alt="offline" id="offlineImg" style="margin-right:2px;display:none" />
                    <img src="/assets/images/online.png"  alt="online"  id="onlineImg" style="margin-right:2px;display:none"/>
                       
                    </div>
                    <div class="support-no">
                        <span>For Support (9AM - 9PM)</span>
                        <h4>
                            <span class="glyphicon glyphicon-phone"></span>
                            &nbsp; + 91 9543279999
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
</div>
    <script>
        $(document).ready(function () {
        if (navigator.onLine) {
            $("#onlineImg").show();
        }
        else {
            $("#offlineImg").show();

            }
        });
    </script>
</body>
</html>