﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<ul class="nav nav-tabs col-lg-10 margin-left-2 border-bottom-0">
    <li class="dropdown @(
                            ViewBag.Title == "Date Wise Sales Report" ||
                            ViewBag.Title == "Item Wise Sales Report" ||
                            ViewBag.Title == "Tax Wise Sales Report" ||
                            ViewBag.Title == "Branch Wise Sales Report"

                            ? "active" : "")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li class="@(ViewBag.Title == "Date Wise Sales Report" ? "active" : "")">
                <a asp-action="DateWiseSalesReport" asp-controller="SalesReport">Date Wise Sales Report</a>
            </li>
            <li class="@(ViewBag.Title == "Item Wise Sales Report" ? "active" : "")">
                <a asp-action="ItemWiseSalesReport" asp-controller="SalesReport">Item Wise Sales Report</a>
            </li>

            @if (User.IsComposite() != "True")
            {
                <li class="@(ViewBag.Title == "Tax Wise Sales Report" ? "active" : "")">
                    <a asp-action="TaxWiseSalesReport" asp-controller="SalesReport">Tax Wise Sales Report</a>
                </li>
            }
            <li class="@(ViewBag.Title == "Branch Wise Sales Report" ? "active" : "")">
                <a asp-action="BranchWiseSalesReport" asp-controller="SalesReport">Branch Wise Sales Report</a>
            </li>
        </ul>
    </li>
    <li class="dropdown @(ViewBag.Title == "Purchase Report"
                            ? "active" : "")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Purchase&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li class="@(ViewBag.Title == "Purchase Report" ? "active" : "")">
                <a asp-action="BranchWisePurchaseReport" asp-controller="BuyReport">Purchase Report</a>
            </li>
        </ul>
    </li>
</ul>
<style>
    .margin-left-2 {
        margin-left: 2px !important;
    }

    .border-bottom-0 {
        border-bottom: 0px !important;
    }
</style>