﻿<div class="row list-paging">
    <button ng-repeat="page in pages" ng-click="paginate(page.page.pageNo)" ng-class="page.isActive ? 'pagination-button active' : 'pagination-button'">{{page.page.name}}</button>
</div>