﻿
<script type="text/ng-template" id="physicalStockPopupModal">
    <div class="modal fade override-margin" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog override-margin" style="clear: both !important;width:650px!important;">
            <div class="modal-content override-margin">
                <div class="modal-body override-margin">
                    <div class="panel panel-default override-margin">
                        <div class="panel-heading panel-noborder override-margin">
                            <label>Physical Stock Verification</label>
                            <label class="pull-right">Opened At : {{openedAtDate}}</label>
                        </div>
                        <form>
                            <div class="panel-body override-margin">
                                <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav class="grid"></div>

                                <div class="margin-btn-save">
                                    <button title="Save" id="btnSave" class="btn btn-style pull-right" ng-click="updatePhysicalStockHistory()" ng-enter="updatePhysicalStockHistory()">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="physicalStockTemplate">
    <div class="ui-grid-cell-contents">
        <input class="physical-stock-template-style" ui-grid-editor type="text" maxlength="10" numbers-only ng-model="row.entity.physicalStock" />
    </div>
</script>

<script type="text/ng-template" id="rackBoxTemplate">
    <div class="ui-grid-cell-contents">
        {{row.entity.product.rackNo == null || row.entity.product.rackNo == "" || row.entity.product.rackNo == undefined ? "-" : row.entity.product.rackNo}}/{{row.entity.product.boxNo == null || row.entity.product.boxNo == "" || row.entity.product.boxNo == undefined ? "-" : row.entity.product.boxNo}}
    </div>
</script>

<script type="text/ng-template" id="snoTemplate">
    <div class="ui-grid-cell-contents text-right">{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</div>
</script>

<style>
    .grid {
        width: 101% !important;
        min-height: 480px !important;
        margin-top: -5px !important;
        margin-left: -4px !important;
        margin-right: -5px !important;
    }

    .physical-stock-template-style {
        height: 29px !important;
        margin-left: -4px !important;
        padding-left: 5px !important;
    }

    .margin-btn-save {
        margin-top: 7px !important;
        margin-right: 15px !important;
    }
</style>
