﻿<script type="text/ng-template" id="purchaseFormulas">
    <div class="popup-overlay form-popup">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:650px;">
                    <div class="popup-close" ng-click="close('No')"><i class="fa fa-times"></i></div>
                    <h3>Purchase Formula Creation</h3>
                    <ng-form id="purchaseFormula" name="purchaseFormula">
                        <div class="reminder-popup-wrap popup-content-border" style="font-size:medium;">
                            <div class="row popup-row form-data">
                                <div class="panel-body override_margin sell-group-decor12">
                                    <div class="row col-md-12 override_margin">
                                        <div class="col-md-3 override_margin">
                                            <label style="padding-top:10px;">Formula Name</label>
                                        </div>
                                        <div class="col-md-8 override_margin" id="formulaNameDesign">
                                            <div class="form-list">
                                                <input type="text"
                                                       ng-model="model.formulaName"
                                                       typeahead-focus-on-select="false"
                                                       typeahead-min-length="1"
                                                       placeholder="Formula Name"
                                                       id="formulaName"
                                                       required
                                                       name="formulaName"
                                                       popup-focus="true"
                                                       typeahead-on-select="onSelect(model.formulaName)"
                                                       uib-typeahead="formula as formula.formulaName for formula in getFormulaList($viewValue)"
                                                       class="form-control form-control-small"
                                                       ng-enter="setFocus('operation0')"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12 override_margin" ng-repeat="list in model.formulaJSON track by $index" ng-hide="list.formulaTag=='markup' && !purchaseSettings.enableMarkup">
                                        <div class="custom-padding">
                                            Basic Amount (Level {{($index+1)-(!purchaseSettings.enableMarkup ? 1 : 0)}}) = Basic Amount
                                            <select ng-disabled="true" style="font-size: large;color: black;font-weight: bold;" class="select-height" ng-model="list.operation" id="operation{{$index}}" ng-enter="setFocus('formulaTag'+{{$index}})">
                                                <option value="+">+</option>
                                                <option value="-">-</option>
                                            </select>
                                            Basic Amount *
                                            <select class="select-height" ng-model="list.formulaTag" id="formulaTag{{$index}}" ng-enter="setFocus('operation'+{{$index+1}})" ng-change="onChange(list)">
                                                <option ng-repeat="list in formulaList track by $index" ng-hide="list.tag=='markup' && !purchaseSettings.enableMarkup" value="{{list.tag}}">{{list.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="panel-body" style="margin-left:5px;margin-right:18px;border-style:ridge" ng-show="showExample">
                                    <div class="row col-md-12 override_margin">
                                        <div class="col-md-3 override_margin">
                                            Basic Amount
                                            <input type="text" valid-number maxlength="5" ng-model="exampleFormula.basicAmount" />
                                        </div>
                                        <div class="col-md-2 override_margin" ng-hide="!purchaseSettings.enableMarkup">
                                            Markup %
                                            <input type="text" valid-number maxlength="2" ng-model="exampleFormula.markup" />
                                        </div>
                                        <div class="col-md-2 override_margin">
                                            Discount %
                                            <input type="text" valid-number maxlength="2" ng-model="exampleFormula.discount" />
                                        </div>
                                        <div class="col-md-3 override_margin">
                                            Scheme Discount %
                                            <input type="text" valid-number maxlength="2" ng-model="exampleFormula.schemediscount" />
                                        </div>
                                        <div class="col-md-2 override_margin">
                                            Tax %
                                            <input type="text" valid-number maxlength="2" ng-model="exampleFormula.tax" />
                                        </div>
                                    </div>
                                    <div class="row col-md-12 override_margin" ng-repeat="list in model.formulaJSON track by $index" ng-hide="list.formulaTag=='markup' && !purchaseSettings.enableMarkup">
                                        <div class="custom-padding">
                                            Basic Amount (Level {{($index+1)-(!purchaseSettings.enableMarkup ? 1 : 0)}}) = {{$index==0 ? getText(exampleFormula.basicAmount,0) : getNetValue(getText(exampleFormula.basicAmount,0),model.formulaJSON[$index-1])}}
                                            {{list.operation}}
                                            {{$index==0 ? getText(exampleFormula.basicAmount,0) : getNetValue(getText(exampleFormula.basicAmount,0),model.formulaJSON[$index-1])}} *
                                            {{getPerc(list.formulaTag)}}% => {{getNetValue(getText(exampleFormula.basicAmount,0),list)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12" style="padding:10px 15px 0px 15px;">
                                    <i class="fa fa-info-circle custom-padding pull-left" title="Show/Hide" aria-hidden="true" style="cursor:pointer;" ng-click="showHideFormula()"> Example Calculation</i>
                                    <button title="Save" id="saveFormula" style="margin-left:5px" class="btn btn-style pull-right" ng-click="saveFormula()">Save</button>
                                    <button title="Cancel" class="btn btn-style btn-cancel pull-right" ng-click="close('No')">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .reminder-popup-wrap .popup-row {
        border-bottom: none !important;
        margin-bottom: 0px !important; 
        padding-bottom: 0px!important; 
    }
    .custom-padding {
        padding: 5px;
    }
    .select-height {
        height:28px;
    }
    #formulaNameDesign .dropdown-menu > li > a {
        min-width: 385px;
    }
</style>