﻿<ul class="tab-list">
    <li class="@(ViewBag.Title == "Sell Report" ? "active" : "")">
        <a asp-action="HomeDeliveryList" asp-controller="SalesReport">Sales</a>
    </li>
    <li class="@(ViewBag.Title == "Sales Invoice Wise Report" ? "active" : "")">
        <a asp-action="SalesList" asp-controller="SalesReport">Sales Invoice Wise</a>
    </li>
    <li class="@(ViewBag.Title == "Sales Summary Report" ? "active" : "")">
        <a asp-action="SalesSummaryList" asp-controller="SalesReport">Sales Summary</a>
    </li>
    <li class="@(ViewBag.Title == "Sales Details Report" ? "active" : "")">
        <a asp-action="List" asp-controller="SalesReport">Sales Details</a>
    </li>
    <li class="@(ViewBag.Title == "Sales Return Report" ? "active" : "")">
        <a asp-action="ReturnList" asp-controller="SalesReport">Sales Return</a>
    </li>
    <li class="@(ViewBag.Title == "Sales User Wise" ? "active" : "")">
        <a asp-action="SalesUserList" asp-controller="SalesReport">Sales User Wise</a>
    </li>
    <li class="@(ViewBag.Title == "Drugwise Report" ? "active" : "")">
        <a asp-action="DrugWiseList" asp-controller="SalesReport">Drug Wise Sale</a>
    </li>
    <li class="@(ViewBag.Title == "Purchase Details Report" ? "active" : "")">
        <a asp-action="List" asp-controller="BuyReport">Purchase Details</a>
    </li>
    <li class="@(ViewBag.Title == "Purchase Summary Report" ? "active" : "")">
    <a asp-action="BuySummaryList" asp-controller="BuyReport">Purchase Summary</a>
</li>
    <li class="@(ViewBag.Title == "Purchase Return Report" ? "active" : "")">
        <a asp-action="ReturnList" asp-controller="BuyReport">Purchase Return</a>
    </li>
    @*<li class="@(ViewBag.Title == "Low Product Stock Report" ? "active" : "")">
        <a asp-action="List" asp-controller="LowProductStockReport">Low Product Stock Report</a>
    </li>*@
    <li class="@(ViewBag.Title == "Hierarchy Report" ? "active" : "")">
        <a asp-action="List" asp-controller="HierarchyReport">Low Product Stock</a>
    </li>
    <li class="@(ViewBag.Title == "Expire Product Report" ? "active" : "")">
        <a asp-action="List" asp-controller="ExpireProductReport">Expire Product</a>
    </li>
    <li class="@(ViewBag.Title == "Payment Report" ? "active" : "")">
        <a asp-action="PaymentReport" asp-controller="payment">Payment</a>
    </li>
    
    <li class="@(ViewBag.Title == "Leads Report" ? "active" : "")">
        <a asp-action="List" asp-controller="LeadsReport">Leads</a>
    </li>
    <li class="@(ViewBag.Title == "Stock Report" ? "active" : "")">
        <a asp-action="List" asp-controller="StockReport">Stock</a>
    </li>
    <li class="@(ViewBag.Title == "Non-moving Stock Report" ? "active" : "")">
    <a asp-action="List" asp-controller="NonMovingStockReport">Non-moving stock</a>
    </li>
    <li class="@(ViewBag.Title == "SMS User Wise" ? "active" : "")">
        <a asp-action="SmsList" asp-controller="SmsReport">SMS User Wise</a>
    </li>
    <li class="@(ViewBag.Title == "SMS Branch Wise" ? "active" : "")">
        <a asp-action="SmsBranchReport" asp-controller="SmsReport">SMS Branch Wise</a>
    </li>
    <li class="@(ViewBag.Title == "Schedule Details Report" ? "active" : "")">
    <a asp-action="List" asp-controller="ScheduleReport">Schedule</a>
</li>
</ul>
