﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<ul class="nav nav-tabs mb-5 col-lg-12">
    <li class="dropdown @(ViewBag.Title == "Sell Report"
                          || ViewBag.Title == "Sales Invoice Wise Report"
                          || ViewBag.Title == "Sales Summary Report"
                          || ViewBag.Title == "Sales Details Report"
                          || ViewBag.Title == "Sales Return Report"
                          || ViewBag.Title == "Sales User Wise"
                          || ViewBag.Title == "Drugwise Report"
                          || ViewBag.Title == "Sales Margin Details Report"                          
                          || ViewBag.Title == "Non Sale Customers"
                          || ViewBag.Title == "Consolidated Sales Report"
                          || ViewBag.Title == "Door Delivery Report"
                          || ViewBag.Title == "Consolidated Sales Return Report"
                          || ViewBag.Title == "Customer Wise Sale"
                          || ViewBag.Title == "Product Wise Sale"
                          ? "active" : "")">

        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
@if (User.AccountId() != "67067991-0e68-4779-825e-8e1d724cd68b")
{
            <li class="@(ViewBag.Title == "Sell Report" ? "active" : "")">
                <a asp-action="HomeDeliveryList" asp-controller="SalesReport">Sales Transaction Wise</a>
            </li>
}
@if (User.AccountId() != "67067991-0e68-4779-825e-8e1d724cd68b")
{
            <li class="@(ViewBag.Title == "Sales Invoice Wise Report" ? "active" : "")">
                <a asp-action="SalesList" asp-controller="SalesReport">Sales Invoice Wise</a>
            </li>
}
@if (User.AccountId() != "67067991-0e68-4779-825e-8e1d724cd68b")
{
            <li class="@(ViewBag.Title == "Sales Summary Report" ? "active" : "")">
                <a asp-action="SalesSummaryList" asp-controller="SalesReport">Sales Summary</a>
            </li>
}
@if (User.AccountId() != "67067991-0e68-4779-825e-8e1d724cd68b")
{
            <li class="@(ViewBag.Title == "Sales Details Report" ? "active" : "")">
                <a asp-action="List" asp-controller="SalesReport">Sales Details</a>
            </li>
}
            <li class="@(ViewBag.Title == "Sales Return Report" ? "active" : "")">
                <a asp-action="ReturnList" asp-controller="SalesReport">Sales Return</a>
            </li>
            <li class="@(ViewBag.Title == "Customer Wise Sale" ? "active" : "")">
                <a asp-action="CustomerWise" asp-controller="SalesReport">Customer Wise Sale</a>
            </li>
            <li class="@(ViewBag.Title == "Product Wise Sale" ? "active" : "")">
                <a asp-action="ProductWise" asp-controller="SalesReport">Product Wise Sale</a>
            </li>
@if (User.AccountId() != "67067991-0e68-4779-825e-8e1d724cd68b")
{
            <li class="@(ViewBag.Title == "Sales User Wise" ? "active" : "")">
                <a asp-action="SalesUserList" asp-controller="SalesReport">Sales User Wise</a>
            </li>
}
            <li class="@(ViewBag.Title == "Drugwise Report" ? "active" : "")">
                <a asp-action="DrugWiseList" asp-controller="SalesReport">Drug Wise Sale</a>
            </li>
            <li class="@(ViewBag.Title == "Bill Cancel" ? "active" : "")">
                <a asp-action="BillCancelList" asp-controller="SalesReport">Bill Cancellation</a>
            </li>
            <li class="@(ViewBag.Title == "Sales Margin Details Report" ? "active" : "")">
                <a asp-action="SalesMargin" asp-controller="SalesReport">Sales Margin</a>
            </li>

            @*@if (User.AccountId() == "2d5abd54-89a9-4b31-aa76-8ec70b9125dd")*@
            @*For Plus Pharmacy*@
            @*@if (User.AccountId()=!= "852eaefa-f670-4a6a-a0e7-db3fa252d576") {  }*@

            @if (User.IsComposite() != "True")
            {
            <li class="@(ViewBag.Title == "Consolidated Sales Report" ? "active" : "")">
                <a asp-action="ConsolidatedSalesReport" asp-controller="SalesReport">Consolidated Sales Report</a>
            </li>
            <li class="@(ViewBag.Title == "Consolidated Sales Return Report" ? "active" : "")">
                <a asp-action="ConsolidatedSalesReturnReport" asp-controller="SalesReport">Consolidated Sales Return Report</a>
            </li>
            }
            <li class="@(ViewBag.Title == "Sales Modify" ? "active" : "")">
                <a href="/CustomReports/RenderDevReport/?id=3e0ab8b2-a360-42f2-a390-7cc0db375209">Sales Modified detail report </a>
            </li>
            <li class="@(ViewBag.Title == "Non Sale Customers" ? "active" : "")">
                <a asp-action="NonSaleCustomers" asp-controller="SalesReport">Non Sale Customers</a>
            </li>
            <li class="@(ViewBag.Title == "Door Delivery Report" ? "active" : "")">
                <a asp-action="DoorDeliveryList" asp-controller="SalesReport">Door Delivery Report</a>
            </li>
            <li class="@(ViewBag.Title == "Doctorwise Report" ? "active" : "")">
                <a asp-action="DoctorwiseReport" asp-controller="SalesReport">Doctorwise Report</a>
            </li>
        </ul>
    </li>
    <li class="dropdown @(ViewBag.Title == "Purchase Details Report"
                            || ViewBag.Title == "Purchase Summary Report"
                            || ViewBag.Title == "Purchase Return Report"
                            || ViewBag.Title == "SupplierWisePurchaseReturn"
                            || ViewBag.Title == "Purchase Margin Details Report"
                            || ViewBag.Title == "Supplier Dc Report"
                            || ViewBag.Title == "Purchase Wise Report"
                            || ViewBag.Title == "Purchase Order Report"
                            || ViewBag.Title == "Purchase Return Summary Report"
                            || ViewBag.Title == "Purchase Return and Expiry Status Report"
                            || ViewBag.Title == "Purchase Modified Report"
                            || ViewBag.Title == "Purchase Free and Discount"
                            ? "active" : "")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Purchase &nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li class="@(ViewBag.Title == "Purchase Details Report" ? "active" : "")">
                <a asp-action="List" asp-controller="BuyReport">Purchase Details</a>
            </li>
            <li class="@(ViewBag.Title == "Purchase Margin Details Report" ? "active" : "")">
                <a asp-action="PurchaseMargin" asp-controller="BuyReport">Purchase Margin Details</a>
            </li>
            <li class="@(ViewBag.Title == "Purchase Wise Report" ? "active" : "")">
                <a asp-action="Purchasewise" asp-controller="BuyReport">Purchase Productwise Details</a>
            </li>
            <li class="@(ViewBag.Title == "Purchase Summary Report" ? "active" : "")">
                <a asp-action="BuySummaryList" asp-controller="BuyReport">Purchase Invoice Wise</a>
            </li>
            <li class="@(ViewBag.Title == "Purchase Return Report" ? "active" : "")">
                <a asp-action="ReturnList" asp-controller="BuyReport">Purchase Return</a>
            </li>
            <li class="@(ViewBag.Title == "Purchase Order Report" ? "active" : "")">
                <a asp-action="PurchaseOrder" asp-controller="BuyReport">Purchase Order</a>
            </li>
            <li class="@(ViewBag.Title == "Purchase Return Summary Report" ? "active" : "")">
                <a asp-action="BuyReturnSummary" asp-controller="BuyReport">Purchase Return Summary</a>
            </li>
            <li class="@(ViewBag.Title == "Purchase Return and Expiry Status Report" ? "active" : "")">
                <a asp-action="PurchaseReturnStatus" asp-controller="BuyReport">Purchase Return and Expiry Status</a>
            </li>
            <li class="@(ViewBag.Title == "SupplierWisePurchaseReturn" ? "active" : "")">
                <a asp-action="SupplierWisePurchaseReturn" asp-controller="SupplierReport">Supplier Wise Purchase Return</a>
            </li>
            <li class="@(ViewBag.Title == "Supplier Dc Report" ? "active" : "")">
                <a asp-action="DcList" asp-controller="BuyReport">Supplier Dc Report</a>
            </li>
            <li class="@(ViewBag.Title == "Purchase Modified Report" ? "active" : "")">
                <a asp-action="PurchaseModified" asp-controller="BuyReport">Purchase Modified/Deleted Report</a>
            </li>
            <li class="@(ViewBag.Title == "Purchase Free and Discount" ? "active" : "")">
                <a href="/CustomReports/RenderDevReport/?id=7045324a-baa2-4ea8-89c6-f1a561545b0c">Purchase Free and Discount report </a>
            </li>
        </ul>
    </li>
    <li class="dropdown @(ViewBag.Title == "Hierarchy Report"
                            || ViewBag.Title == "Expiry Product Report"
                            || ViewBag.Title == "Stock Report"
                            || ViewBag.Title == "All Branch Stock Consolidated Report"
                            || ViewBag.Title == "Non-moving Stock Report"
                            || ViewBag.Title == "Schedule Details Report"
                            || ViewBag.Title == "Stock Ledger"
                            || ViewBag.Title == "ExpiryReturn"
                            || ViewBag.Title == "Temp Stock List"
                            || ViewBag.Title == "Product Age Analyse Report"
                              || ViewBag.Title == "Self Consumption Report"
                                || ViewBag.Title == "Product List"
                                || ViewBag.Title == "Stock Transfer Report"
                                || ViewBag.Title == "Physical Stock Verification History"
                                 || ViewBag.Title == "Stock Movement Report"
                                 || ViewBag.Title == "Stock Adjustment Report"
                                 || ViewBag.Title == "Stock Value Report"
                                 || ViewBag.Title == "Inventory Data Update"
                                 || ViewBag.Title == "Stock Transfer Details"
                            ? "active" : "")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stock&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li class="@(ViewBag.Title == "Hierarchy Report" ? "active" : "")">
                <a asp-action="List" asp-controller="HierarchyReport">Low Product Stock</a>
            </li>
            <li class="@(ViewBag.Title == "Expiry Product Report" ? "active" : "")">
                <a asp-action="List" asp-controller="ExpireProductReport">Expiry Product</a>
            </li>
            <li class="@(ViewBag.Title == "Stock Report" ? "active" : "")">
                <a asp-action="List" asp-controller="StockReport">Stock</a>
            </li>
            <li class="@(ViewBag.Title == "All Branch Stock Consolidated Report" ? "active" : "")">
                <a asp-action="AllBranchConsolidated" asp-controller="StockReport">All Branch Stock Consolidated</a>
            </li>
            <li class="@(ViewBag.Title == "Non-moving Stock Report" ? "active" : "")">
                <a asp-action="List" asp-controller="NonMovingStockReport">Non-moving stock</a>
            </li>
            <li class="@(ViewBag.Title == "Schedule Details Report" ? "active" : "")">
                <a asp-action="List" asp-controller="ScheduleReport">Schedule</a>
            </li>
            <li class="@(ViewBag.Title == "Stock Ledger" ? "active" : "")">
                <a asp-action="StockLedger" asp-controller="StockReport">Stock Ledger</a>
            </li>
            <li class="@(ViewBag.Title == "ExpiryReturn" ? "active" : "")">
                <a asp-action="ExpiryReturn" asp-controller="SupplierReport">Expiry Return</a>
            </li>
            <li class="@(ViewBag.Title == "Temp Stock List" ? "active" : "")">
                <a asp-action="TempStockList" asp-controller="StockReport">Temp stock details</a>
            </li>
            <li class="@(ViewBag.Title == "Stock Adjustment Report" ? "active" : "")">
                <a asp-action="StockAdjustmentReport" asp-controller="StockReport">Stock Adjustment</a>
            </li>
            <li class="@(ViewBag.Title == "Stock Value Report" ? "active" : "")">
                <a asp-action="StockValueReport" asp-controller="StockReport">Stock Value</a>
            </li>
            <li class="@(ViewBag.Title == "Product Age Analyse Report" ? "active" : "")">
                <a asp-action="productAgeAnalyseList" asp-controller="StockReport">Product Age Analysis</a>
            </li>
            <li class="@(ViewBag.Title == "Inventory Data Update" ? "active" : "")">
                <a href="/CustomReports/RenderDevReport/?id=cc06d5d4-3c67-4cdd-82c6-d89dd770e275">Inventory Data Update Report </a>
            </li>
            <li class="@(ViewBag.Title == "Self Consumption Report" ? "active" : "")">
                <a asp-action="SelfConsumptionList" asp-controller="StockReport">Self Consumption Report</a>
            </li>
            <li class="@(ViewBag.Title == "Product List" ? "active" : "")">
                <a asp-action="ProductList" asp-controller="StockReport">Product List Report</a>
            </li>
            @*@if (User.AccountId() == "67067991-0e68-4779-825e-8e1d724cd68b") { }*@
            <li class="@(ViewBag.Title == "Stock Transfer Report" ? "active" : "")">
                <a asp-action="StockTransferReport" asp-controller="StockReport">Stock Transfer Report</a>
            </li>
            
            <li class="@(ViewBag.Title == "Stock Transfer Details" ? "active" : "")">
                <a asp-action="StockTransferDetail" asp-controller="StockReport">Stock Transfer Details</a>
            </li>
            <li class="@(ViewBag.Title == "Physical Stock Verification History" ? "active" : "")">
                <a asp-action="PhysicalStockHistory" asp-controller="StockReport">Physical Stock Verification History</a>
            </li>
            <li class="@(ViewBag.Title == "Stock Movement Report" ? "active" : "")">
                <a asp-action="StockMovementReport" asp-controller="StockReport">Stock Movement Report</a>
            </li>
        </ul>
    </li>
    <li class="dropdown @(ViewBag.Title == "Payment Report"
                            || ViewBag.Title == "Leads Report"
                            || ViewBag.Title == "SMS User Wise"
                            || ViewBag.Title == "SMS Branch Wise"
                            ? "active" : "")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Other&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li class="@(ViewBag.Title == "Payment Report" ? "active" : "")">
                <a asp-action="PaymentReport" asp-controller="payment">Payment</a>
            </li>
            <li class="@(ViewBag.Title == "Leads Report" ? "active" : "")">
                <a asp-action="List" asp-controller="LeadsReport">Leads</a>
            </li>
            <li class="@(ViewBag.Title == "SMS User Wise" ? "active" : "")">
                <a asp-action="SmsList" asp-controller="SmsReport">SMS User Wise</a>
            </li>
            <li class="@(ViewBag.Title == "SMS Branch Wise" ? "active" : "")">
                <a asp-action="SmsBranchReport" asp-controller="SmsReport">SMS Branch Wise</a>
            </li>
        </ul>
    </li>
    <li class="dropdown @(ViewBag.Title == "Supplier Payment"
                            || ViewBag.Title == "SupplierWiseBalance"
                            || ViewBag.Title == "Supplier Ledger"
                            || ViewBag.Title == "Customer Receipt"
                            || ViewBag.Title == "Payment Modification & Cancellation"
                            || ViewBag.Title == "CustomerWiseBalance"
                            || ViewBag.Title == "ControlReport"
                             || ViewBag.Title == "Till Report"
                             || ViewBag.Title == "Sales Report Tally"
                             || ViewBag.Title == "Sales Return Report Tally"
                             || ViewBag.Title == "Purchase Report Tally"
                             || ViewBag.Title == "Purchase Return Report Tally"
                             || ViewBag.Title == "Journal Report Tally"
                            ? "active" : "")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts &nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li class="@(ViewBag.Title == "Supplier Payment" ? "active" : "")">
                <a asp-action="SupplierPayment" asp-controller="SupplierReport">Vendor Payment</a>
            </li>
            <li class="@(ViewBag.Title == "SupplierWiseBalance" ? "active" : "")">
                <a asp-action="SupplierWiseBalance" asp-controller="SupplierReport">Supplier Wise Balance</a>
            </li>
            <li class="@(ViewBag.Title == "Supplier Ledger" ? "active" : "")">
                <a asp-action="SupplierLedger" asp-controller="SupplierReport">Supplier Ledger</a>
            </li>
            <li class="@(ViewBag.Title == "Customer Receipt" ? "active" : "")">
                <a asp-action="CustomerPayment" asp-controller="CustomerReport">Customer Receipt</a>
            </li>
            <li class="@(ViewBag.Title == "CustomerWiseBalance" ? "active" : "")">
                <a asp-action="Customerwisebalance" asp-controller="CustomerReport">Customer Wise Balance</a>
            </li>
            <li class="@(ViewBag.Title == "Payment Modification & Cancellation" ? "active" : "")">
                <a asp-action="PaymentReceiptCancellation" asp-controller="CustomerReport">Payment Modification & Cancellation</a>
            </li>
            <li class="@(ViewBag.Title == "ControlReport" ? "active" : "")">
                <a asp-action="ControlReport" asp-controller="GSTReport">Control Report</a>
            </li>
            <li class="@(ViewBag.Title == "Till Report" ? "active" : "")">
                <a asp-action="TillReport" asp-controller="CustomerReport">Till Report</a>
            </li>
            <li class="child-menu">
                <a href="#">Reports For Tally<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                <ul>
                    <li class="@(ViewBag.Title == "Sales Report Tally" ? "active" : "")">
                        <a asp-action="SalesReportTally" asp-controller="TallyReport" class="dl-submenu">Sales Report</a>
                    </li>
                    <li class="@(ViewBag.Title == "Sales Return Report Tally" ? "active" : "")">
                    <a asp-action="SalesReturnReportTally" asp-controller="TallyReport" class="dl-submenu">Sales Return Report</a>
                    </li>
                    <li class="@(ViewBag.Title == "Purchase Report Tally" ? "active" : "")">
                        <a asp-action="PurchaseReportTally" asp-controller="TallyReport" class="dl-submenu">Purchase Report</a>
                    </li>
                    <li class="@(ViewBag.Title == "Purchase Return Report Tally" ? "active" : "")">
                        <a asp-action="PurchaseReturnReportTally" asp-controller="TallyReport" class="dl-submenu">Purchase Return Report</a>
                    </li>
                    <li class="@(ViewBag.Title == "Journal Report Tally" ? "active" : "")">
                        <a asp-action="JournalReportTally" asp-controller="TallyReport" class="dl-submenu">Journal Report Tally</a>
                    </li>
                    @*<li><a></a></li>
                    <li><a></a></li>*@
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown @(ViewBag.Title == "Annx-01-Local Purchase"
                            ||  ViewBag.Title == "Annx-01-Local Purchase - Old"
                            || ViewBag.Title == "Annx-05-Purchase Return Vat"
                            || ViewBag.Title == "Annx-07-Purchase of Excempted"
                            || ViewBag.Title == "Annx-08-CST Purchase"
                            || ViewBag.Title == "Annx-09-Purchase-Return CST"
                            || ViewBag.Title == "Annx-15-Local Sales"
                            || ViewBag.Title == "Annx-15-Local Sales - Old"
                            || ViewBag.Title == "Annx-21-Sales"
                            || ViewBag.Title == "Annx-19-Sales Return"
                            || ViewBag.Title == "Annx-29-Stock Inventory"
                            || ViewBag.Title == "Sales Consolidate VAT"
                            ? "active" : "")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">VAT&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li class="@(ViewBag.Title == "Annx-01-Local Purchase" ? "active" : "")">
                <a asp-action="LocalPurchase" asp-controller="VatReport" asp-route-filter=1>Annx-01-Local Purchase</a>
            </li>
            <li class="@(ViewBag.Title == "Annx-01-Local Purchase - Old" ? "active" : "")">
                <a asp-action="List" asp-controller="VatReport" asp-route-filter=1>Annx-01-Local Purchase - Old</a>
            </li>
            <li class="@(ViewBag.Title == "Annx-05-Purchase Return Vat" ? "active" : "")">
                <a asp-action="ReturnList" asp-controller="VatReport">Annx-05-Purchase Return Vat</a>
            </li>
            <li class="@(ViewBag.Title == "Annx-07-Purchase of Excempted" ? "active" : "")">
                <a asp-action="List" asp-controller="VatReport" asp-route-filter=0>Annx-07-Purchase of Excempted</a>
            </li>
            <li class="@(ViewBag.Title == "Annx-08-CST Purchase" ? "active" : "")">
                <a asp-action="ListCst" asp-controller="VatReport">Annx-08-CST Purchase</a>
            </li>
            <li class="@(ViewBag.Title == "Annx-09-Purchase-Return CST" ? "active" : "")">
                <a asp-action="ReturnListCst" asp-controller="VatReport">Annx-09-Purchase-Return CST</a>
            </li>
            <li class="@(ViewBag.Title == "Annx-15-Local Sales" ? "active" : "")">
                <a asp-action="LocalSales" asp-controller="VatReport">Annx-15-Local Sales</a>
            </li>
            <li class="@(ViewBag.Title == "Annx-15-Local Sales - Old" ? "active" : "")">
                <a asp-action="LocalSalesList" asp-controller="VatReport">Annx-15-Local Sales - Old </a>
            </li>
            <li class="@(ViewBag.Title == "Annx-21-Sales" ? "active" : "")">
                <a asp-action="SalesList" asp-controller="VatReport">Annx-21-Excempted Sales</a>
            </li>
            <li class="@(ViewBag.Title == "Annx-19-Sales Return" ? "active" : "")">
                <a asp-action="SalesReturnList" asp-controller="VatReport">Annx-19-Sales Return</a>
            </li>
            <li class="@(ViewBag.Title == "Annx-29-Stock Inventory" ? "active" : "")">
                <a asp-action="StockInventoryList" asp-controller="VatReport">Annx-29-Stock Inventory</a>
            </li>
            <li class="@(ViewBag.Title == "Sales Consolidated VAT" ? "active" : "")">
                <a asp-action="SalesConsolidatedVAT" asp-controller="VatReport">Sales Consolidated VAT</a>
            </li>
        </ul>
    </li>
    <li class="dropdown @(ViewBag.Title == "GSTR 3B"
                            || ViewBag.Title == "HSN Master"
                             || ViewBag.Title == "GSTR-1 B2CS"
                              || ViewBag.Title == "GSTR-1 Sales"
                               || ViewBag.Title == "GSTR-1 Sales Return"
                            || ViewBag.Title == "GSTR-1 Purchase"
                              || ViewBag.Title == "GSTR-2 Purchase Summary"
                               || ViewBag.Title == "GSTR-2 Purchase Return"  
                               || ViewBag.Title == "GSTR-4 TaxRate Wise TurnOver"   
                               || ViewBag.Title == "Sales Consolidate GST"                            
                               || ViewBag.Title == "Sales Consolidate GST Return"
                               || ViewBag.Title == "Purchase Consolidate GST"  
                               || ViewBag.Title == "Purchase Return Consolidate GST" 

                            ? "active" : "")">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GST &nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            @if (User.IsComposite() != "True")
            {
                <li class="@(ViewBag.Title == "GSTR 3B" ? "active" : "")">
                    <a asp-action="GSTR3B" asp-controller="GSTReport" asp-route-filter=1>GSTR 3B</a>
                </li>
                <li class="@(ViewBag.Title == "HSN Master" ? "active" : "")">
                    <a asp-action="HSNReport" asp-controller="GSTReport">HSN Master</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-1 B2CS" ? "active" : "")">
                    <a asp-action="GSTR1B2CS" asp-controller="GSTReport" asp-route-filter=1>GSTR-1 Sales(B2CS)</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-1 Sales" ? "active" : "")">
                    <a asp-action="GSTR1Sales" asp-controller="GSTReport" asp-route-filter=1>GSTR-1 Sales Details</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-1 Sales Return" ? "active" : "")">
                    <a asp-action="GSTR1SalesReturn" asp-controller="GSTReport" asp-route-filter=1>GSTR-1 Sales Return</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-2 Purchase" ? "active" : "")">
                    <a asp-action="GSTR1Purchase" asp-controller="GSTReport" asp-route-filter=1>GSTR-2 Purchase Details</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-2 Purchase Summary" ? "active" : "")">
                    <a asp-action="GSTR2PurchaseSummary" asp-controller="GSTReport" asp-route-filter=1>GSTR-2 Purchase Summary</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-2 Purchase Return" ? "active" : "")">
                    <a asp-action="GSTR2PurchaseReturn" asp-controller="GSTReport" asp-route-filter=1>GSTR-2 Purchase Return</a>
                </li>
                <li class="@(ViewBag.Title == "Sales Consolidated GST" ? "active" : "")">
                    <a asp-action="SalesConsolidatedGST" asp-controller="GSTReport">Sales Consolidated GST</a>
                </li>
                <li class="@(ViewBag.Title == "Sales Consolidated GST Return" ? "active" : "")">
                    <a asp-action="SalesConsolidatedGSTReturn" asp-controller="GSTReport">Sales Consolidated GST Return</a>
                </li>
                <li class="@(ViewBag.Title == "Purchase Consolidated GST" ? "active" : "")">
                    <a asp-action="PurchaseConsolidatedGST" asp-controller="GSTReport">Purchase Consolidated GST</a>
                </li>
                <li class="@(ViewBag.Title == "Purchase Return Consolidated GST" ? "active" : "")">
                    <a asp-action="PurchaseReturnConsolidatedGST" asp-controller="GSTReport">Purchase Return Consolidated GST</a>
                </li>
            }

            @if (User.IsComposite() == "True")
            {
                <li class="@(ViewBag.Title == "HSN Master" ? "active" : "")">
                    <a asp-action="HSNReport" asp-controller="GSTReport">HSN Master</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-1 B2CS" ? "active" : "")">
                    <a asp-action="GSTR1B2CS" asp-controller="GSTReport" asp-route-filter=1>GSTR-4 Sales(B2CS)</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-1 Sales" ? "active" : "")">
                    <a asp-action="GSTR1Sales" asp-controller="GSTReport" asp-route-filter=1>GSTR-4 Sales Details</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-1 Sales Return" ? "active" : "")">
                    <a asp-action="GSTR1SalesReturn" asp-controller="GSTReport" asp-route-filter=1>GSTR-4 Sales Return</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-2 Purchase" ? "active" : "")">
                    <a asp-action="GSTR1Purchase" asp-controller="GSTReport" asp-route-filter=1>GSTR-4 Purchase Details</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-2 Purchase Summary" ? "active" : "")">
                    <a asp-action="GSTR2PurchaseSummary" asp-controller="GSTReport" asp-route-filter=1>GSTR-4 Purchase Summary</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-2 Purchase Return" ? "active" : "")">
                    <a asp-action="GSTR2PurchaseReturn" asp-controller="GSTReport" asp-route-filter=1>GSTR-4 Purchase Return</a>
                </li>
                <li class="@(ViewBag.Title == "GSTR-4 TaxRate Wise TurnOver" ? "active" : "")">
                    <a asp-action="GSTR4TaxRateWiseTurnOver" asp-controller="GSTReport" asp-route-filter=1>GSTR-4 TaxRate Wise TurnOver</a>
                </li>
            }

        </ul>
    </li>
   
    <li class="@(ViewBag.Title == "Custom Reports" ? "active" : "")">
        <a asp-action="List" asp-controller="CustomReports">
            Custom
        </a>
    </li>
    @if (User.HasPermission(UserAccess.Settings))
    {
        <li class="@(ViewBag.Title == "Settings" ? "active" : "")">
            <a asp-action="Settings" asp-controller="CustomReports">
                Settings
            </a>
        </li>
    }
    <li class="@(ViewBag.Title == "Multi Level Reports" ? "active" : "")">
        <a href="@Url.Action("DateWiseSalesReport", "SalesReport")" target="_blank">Multi Level Reports</a>
    </li>
</ul>
