﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount

<script type="text/ng-template" id="stockBranchWise">

    <div class="popup-overlay form-popup">

        <div class="middlealign">
            <div>

                <div class="popup-wrap reminder-popup alternate pop-width-1015px">
                    <div class="popup-close" ng-click="close('No')" ng-hide="backgroundTask == true"><i class="fa fa-times"></i></div>
                    <h3>Branch Wise Stock</h3>
                    <ng-form id="frmTempStock" name="frmTempStock">
                        <div class="reminder-popup-wrappers">
                            <div class="row  form-data">
                                <div class="reminder-popup-left purchase-product">
                                    <div class="col-md-2 no-pad ">
                                        <label class="mar-14">Product Name <span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-5 input-group sell-group-decor txtUpper">
                                        <input title="Product Name" type="text" placeholder="Product" id="tempDrugName" name="drugName"
                                               ng-model="tempProduct" typeahead-focus-on-select="false" typeahead-min-length="1"
                                               uib-typeahead="product as product.name for product in getProducts($viewValue)"
                                               typeahead-on-select="onTempProductSelect()"
                                               ng-keyup="keyEnter($event,'batchNo','tempDrugName',tempProduct)" product-focus="focusInput"
                                               typeahead-template-url="/itemTpl.html">
                                    </div>
                                    <div class="col-md-4 " style="margin: 8px 0;">
                                        <button ng-hide="true" class="btn primary-button pull-">Search</button>
                                        <button class="secondary-button btn btn-clear-align" style="margin: 7px 0 0 8px;
                                                top: -6px;
                                                position: absolute; " ng-click="clear()">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="row popup-row form-data" data-ng-hide="batchList.length == 0 && previouspurchases.length == 0">
                                    <div class="panel-body orange-border-top list-wrapper">
                                        <div class="row tblHeader">
                                            <div class="col-md-12 override_margin">

                                                <div class="col-md-12">
                                                    <div class="col-md-6">Branch Name</div>
                                                    <div class="col-md-4">Mobile No</div>
                                                    <div class="col-md-2">Available Qty</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='row' style="height:200px !important;overflow:auto;">
                                            <div class="pull-left" ng-if="batchList.length == 0">
                                                No Records found
                                            </div>
                                            <div ng-repeat="list in batchList">
                                                <div class="chip-style">
                                                    <div class="col-sm-12 override_margin">

                                                        <div class="col-md-6 sell-group-decor9">
                                                            <button title="+" class="chip-btn" id="chip-btnSW{{$index}}" data="{{$index}}" ng-click="toggleBranchWiseProductDetail($event)">+</button>
                                                            &nbsp; <strong class="orange-text"> {{list.instanceId}}</strong>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="col-md-2">
                                                                <span>{{list.sales.mobile}}</span>
                                                            </div>


                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="col-md-1">
                                                                <span>{{list.quantity}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapperSW{{$index}}">
                                                    <table class="table override_margin sell-group-decor10">
                                                        <thead style="">
                                                            <tr style="background-color:#e6e2e2;" class="brder-none">
                                                                <th class="col-md-1 input-group trimLR sell-group-decor txtUpper" style="width:2%;">
                                                                    <label style="font-size:small;" align="center">S.NO</label>
                                                                </th>
                                                                <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                                    <label style="font-size:small;" align="center">Batch</label>
                                                                </th>
                                                                <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                                    <label style="font-size:small;" align="center">Qty</label>
                                                                </th>
                                                                <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                                    <label style="font-size:small;" align="center">Expiry</label>
                                                                </th>
                                                                <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                                    <label style="font-size:small;" align="center">MRP</label>
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="productStock in list.lstProductStock">
                                                                <td>{{$index+1}}</td>
                                                                <td>{{productStock.batchNo}}</td>
                                                                <td>{{productStock.stock}}</td>
                                                                <td>{{productStock.expireDate | date:'MM/yy'}}</td>
                                                                <td>{{productStock.mrp| number:2}}</td>
                                                            </tr>
                                                            @*<tr>
                                                                    <td colspan="9" align="left"><b>Returned Time :</b> {{salesReturn.updatedAt | date:'dd/MM/yyyy HH:mm'}}</td>

                                                                </tr>*@
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default override_margin mar-top-12" id="chip-wrapper0" data-ng-hide="previouspurchases.length == 0">
                                        <div class="panel-body override_margin sell-group-decor12">
                                            <table class="col-md-12 hgt-145">
                                                <thead style="display:block;">
                                                    <tr class="pre-pur-details-tbl" style="background-color:#e6e2e2;">
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                Vendor Name
                                                            </label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                GR Number
                                                            </label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                GRN Date
                                                            </label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                No. of Strips
                                                            </label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                Free
                                                            </label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                Units / Strip
                                                            </label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                Batch No
                                                            </label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                Expiry
                                                            </label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                Price/Strip
                                                            </label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper" ng-show="enableSelling">
                                                            <label style="font-size:small;" align="center">
                                                                Selling/Strip
                                                            </label>
                                                        </th>
                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                MRP/Strip
                                                            </label>
                                                        </th>

                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">
                                                                Discount %
                                                            </label>
                                                        </th>
                                                        @*<th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                                <label style="font-size:small;" align="center">
                                                                    Purchase Date
                                                                </label>
                                                            </th>*@

                                                    </tr>
                                                </thead>
                                                <tbody class="tbody-innerscroll">
                                                    <tr>
                                                        <h3 class="headre-orange-txt">Previous Purchase Details - @User.InstanceName() Branch</h3>
                                                    </tr>
                                                    <tr class="text-left ng-scope font-size-13 pre-pur-details-tbl" data-ng-repeat="item in previouspurchases track by $index">
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.productStock.vendor.name}}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.buyPurchase.billSeries}}{{item.buyPurchase.goodsRcvNo}}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.createdAt | date:'dd/MM/yyyy' }}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.packageQty-item.freeQty}}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.freeQty}}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.packageSize}}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.productStock.batchNo}}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.productStock.expireDate | date:'MM/yy'}}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.packagePurchasePrice | number:2}}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.packageSellingPrice | number:2}}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center " ng-show="enableSelling">{{item.packageMRP | number:2}}</td>
                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-center ">{{item.discount | number:2}}</td>

                                                    </tr>
                                                    <tr data-ng-show="previouspurchases.length == 0">
                                                        <td>No Records</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                @* no records *@


                                <div class="right-table-body" ng-show="batchList == '' && previouspurchases == ''">
                                    <div class="text-center mar-top-25" style="">
                                        <img src="/assets/images/nodata.png">
                                        <div class="msg">
                                            <p class="goback-text">No records found</p>
                                            <p class="goback-text-line2">Try using a different criteria to view better results.</p>

                                        </div>
                                    </div>
                                </div>

                                @* no records *@

                            </div>
                            <div class="clearfix" ng-hide="true">
                                <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>

    </div>

</script>


<script type="text/ng-template" id="/itemTpl.html">

    @*<a tabindex="-1" class="productddl" ng-if="match.model.accountId==null">
            <span class='global'>G </span><span class="gap"> </span>
            <span ng-bind-template="{{match.model.name}}"></span>
        </a>*@
    <a tabindex="-1" class="productddl">
        <span class='global local'>L </span><span class="gap"> </span>
        <span ng-bind-template="{{match.model.name}}"></span><span ng-bind-template="( {{match.model.totalstock}} )" style="float:right;"></span>
    </a>
</script>

<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }

    .pop-width-1015px {
        max-width: 1015px !important;
    }

    .mar-14 {
        margin: 14px 0;
    }

    .reminder-popup-wrappers {
        padding: 10px 30px;
    }

    .border-1px-ccc th {
        border-right: 1px solid #757575;
    }

    .tbody-innerscroll {
        overflow-y: auto;
        height: 130px;
        display: block;
        overflow-x: hidden;
    }

    .brder-none th {
        border: none;
    }

    .brder-none td {
        border: none;
    }

    .btn-clear-align {
        margin: 7px 0 0 8px;
        top: -6px;
        position: absolute;
    }

    .font-size-13 td {
        font-size: 13px;
    }

    .mar-top-12 {
        margin-top: 12px !important;
    }

    .headre-orange-txt {
        color: #f58220;
        font-family: 'GT Medium',arial,sans-serif;
        font-size: 24px;
        line-height: 24px;
        margin: 10px 10px;
        text-align: center;
        padding: 6px 3px !important;
    }

    .pre-pur-details-tbl th {
        width: 10%;
    }

    .pre-pur-details-tbl td {
        width: 10%;
    }
</style>
