﻿<script type="text/ng-template" id="showConfirmMsgModal">
    <div class="popup-overlay form-popup large-Modal">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate {{params[0].data.popupWidth}}" style="max-width:600px;border-color:#3DB29F;" modal="shouldBeOpen">
                    <div class="popup-close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></div>
                    <h3 style="padding: 10px 5px !important;border-radius: 5px 5px 0px 0px;text-align:left;font-size:16px;">{{params[0].data.msgTitle}}</h3>
                    <ng-form id="showConfirmMsg" name="showConfirmMsg">
                        <div class="reminder-popup-wrap popup-content-border">
                            <div class="row form-data" style="margin: 10px;" id="showhcuealertmsg">
                                <div ng-hide="params[0].data.showExclamation">
                                    {{params[0].data.msg}}
                                    <a ng-show="params[0].data.redirectUrl!='' && params[0].data.redirectUrl!=undefined && params[0].data.redirectUrl!=null" href="{{params[0].data.redirectUrl}}">Click here to update.</a>
                                </div>
                                <div ng-show="params[0].data.showExclamation">
                                    @*<span class="glyphicon glyphicon-exclamation-sign col-md-1" style="top:2px;right:5px;"></span>
                                    <div class="col-md-11" style="top:6px;">{{params[0].data.msg}}</div>
                                    <a ng-show="params[0].data.redirectUrl!='' && params[0].data.redirectUrl!=undefined && params[0].data.redirectUrl!=null" href="{{params[0].data.redirectUrl}}">Click here to update.</a>*@
                                    <div style="text-align: center;">
                                        <div class="popup-body">
                                            <img src="../assets/images/caution-sign.png" alt="" style="height:40px;">                                         
                                            <p><br /> {{params[0].data.msg}} <br />{{params[0].data.msg1}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row panel" style="padding-bottom: 5px;padding-top: 3px;margin: 0px 10px 0px 0px !important;">
                                <button ng-show="params[0].data.showOk" id="okButton" popup-focus="focusOnOk" title="Ok" class="orange-line-btn pull-right" ng-click="close('Ok')" data-dismiss="modal">{{params[0].data.showOkButtonText != null && params[0].data.showOkButtonText != "" && params[0].data.showOkButtonText != undefined ? params[0].data.showOkButtonText : "Ok"}}</button>
                                <button ng-show="params[0].data.showYes" id="yesButton" popup-focus="focusOnYes" title="Yes" class="btn btn-style pull-right" ng-click="close('Yes')" data-dismiss="modal">Yes</button>
                                <button ng-show="params[0].data.showNo" id="noButton" popup-focus="focusOnNo" title="No" class="btn btn-style pull-right" style="margin-right: 3px;" ng-click="close('No')" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    #showConfirmMsg .reminder-popup-wrap {
        padding: 0px 2px !important;
    }
    #showhcuealertmsg .glyphicon-exclamation-sign {
        font-size: 30px;
    }
    .popup-width-500 {
        width: 500px;
    }
</style>