﻿<script type="text/ng-template" id="validateStockPopupModal">
    <div class="popup-overlay form-popup large-Modal">
        <div class="middlealign">
            <div>
                <div class="popup-wrap reminder-popup alternate" style="max-width:900px;border-color:#3DB29F;" modal="shouldBeOpen">
                    <div class="popup-close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></div>
                    <h3 style="padding: 10px 0 !important;border-radius: 5px 5px 0px 0px;">Stock Not Available</h3>
                    <ng-form id="validateStockPopup" name="validateStockPopup">
                        <div class="reminder-popup-wrap">
                            <div class="row form-data">
                                <div class="panel panel-default override_margin">
                                    <div class="panel-body override_margin sell-group-decor12">
                                        <div class="row" style="max-height: 440px;overflow-y: auto;">
                                            <table rules="cols" class="col-md-12" id="detail" style="font-size:small;">
                                                <thead>
                                                    <tr style="background-color:#e6e2e2;">

                                                        <th class="col-md-1 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">S.no</label>
                                                        </th>
                                                        <th class="col-md-5 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Product</label>
                                                        </th>
                                                        <th class="col-md-2 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Batch</label>
                                                        </th>
                                                        <th class="col-md-2 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Required Qty</label>
                                                        </th>
                                                        <th class="col-md-2 input-group trimLR sell-group-decor txtUpper">
                                                            <label style="font-size:small;" align="center">Available Qty</label>
                                                        </th>


                                                    </tr>
                                                </thead>
                                                <tbody tabindex="0">

                                                    <tr ng-repeat="ps in list">

                                                        <td class="col-md-1 input-group trimLR sell-group-decor txtUpper text-right" style="padding-right:8px !important;" align="right">
                                                            {{$index+1}}
                                                        </td>
                                                        <td class="col-md-5 input-group trimLR sell-group-decor txtUpper text-left" align="left">
                                                            {{ps.product.name}}
                                                        </td>
                                                        <td class="col-md-2 input-group trimLR sell-group-decor txtUpper text-left" align="left">
                                                            {{ps.batchNo}}
                                                        </td>
                                                        <td class="col-md-2 input-group trimLR sell-group-decor txtUpper text-right" align="right">
                                                            {{ps.soldqty}}
                                                        </td>
                                                        <td class="col-md-2 input-group trimLR sell-group-decor txtUpper text-right" align="right">
                                                            {{ps.stock}}
                                                        </td>                                                        

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row panel" style="padding-bottom: 5px;padding-top: 3px;">
                                <button class="secondary-button pull-right" ng-click="close('No')" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>

<style>
    .highlight1 {
        background-color: #28465a !important;
        color: white;
    }

    #detail tbody tr td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #validateStockPopup .reminder-popup-wrap {
        padding: 0px 2px !important;
    }
</style>