﻿@{
    ViewData["Title"] = "Permission Denied";
}

<div class="row">
    <h2 class="text-warning">Permission Denied.</h2>
    <h3 class="text-info">You don't have rights to access this feature.</h3>
</div>
