@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Schedule Details Report";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>


<div ng-app="hcue" ng-controller="scheduleReportCtrl" ng-init="init()" ng-cloak>
    <div class="panel panel-default override_margin mar-btm-5">   
        <div class="panel-body">
            <h5 class="pull-left sales-head-title">Schedule </h5>
            <div class="col-sm-2">
                <div class="input-group ng-scope">
                    @if (User.HasPermission(UserAccess.Admin))
                    {
                        <div class="col-sm-2 override_margin">
                            @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class='col-sm-2 override_margin'>
                    <div class="pull-left">
                        <input type="button" id="Today" ng-click="filter('Today')" class="btn btn-style-report" value="Today" />
                        <input type="button" id="Week" ng-click="filter('Week')" class="btn btn-style-report" value="Week" />
                        <input type="button" id="Month" ng-click="filter('Month')" class="btn btn-style-report" value="Month" />
                    </div>
                </div>
                
                <div class='col-sm-2 width-170'>
                    <div>
                        <div class="input-group ">
                            <input type="text" class="form-control h-30" id="fromDate" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="checkFromDate()" ng-keyup="checkFromDate()" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                                     <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1 h-30" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                </div>
                <div class='col-sm-2 width-170'>
                    <div class=''>
                        <div class="input-group">
                            <input type="text" class="form-control h-30" id="toDate" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-change="checkToDate()" ng-keyup="checkToDate()" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1 h-30" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                    <span class="error" ng-show="!validToDate">Enter correct format date</span>
                </div>
                <div class='col-sm-2 override_margin'>
                   
                        <div class="input-group width-200 col-md-12 override_margin">
                            <select  class="form-control h-30 " id="scheduledCategory" name="scheduledCategory" ng-model="schedule" typeahead-focus-on-select="false" typeahead-min-length="0"  ng-keyup="keyEnter
($event,'searchSchedule')"required="">    
                                <option ng-repeat="schedule in scheduleList" >{{schedule.label}}</option>
                                                   
                            </select>
                        </div>                   
                </div>

                </div>
            <div class="row">
                
                <div class='col-sm-2 override_margin'>                   
                   
                            <label>Select Invoice Type</label>
                            <div class="input-group width-200 col-md-12 override_margin">
                                <select id="InvoiceType" name="InvoiceType" title="Invoice Type" ng-change="ChangeInvoiceSeriesDropdown(InvoiceSeriesType)" ng-model="InvoiceSeriesType" class="form-control" required >
                                    <option value="">Please Select Series</option>   
                                    <option value="Total">All Series</option>   
                                    <option value="Default">Default Series</option>
                                    <option value="Custom">Custom Series</option>
                                    <option value="Manual">Manual Series</option>
                                 </select>
                            </div>                        
                </div>
                <div class='col-sm-2 override_margin' ng-if="InvoiceSeriesType=='Custom'">
                    <div class=''>
                        <label>Select Custom Series</label>
                        <div class="input-group col-md-12 override_margin">
                            <select ng-model="search.select1" class="form-control" required>
                                <option ng-repeat="item in InvoiceSeriesItems" value="{{item.seriesName}}">{{item.seriesName}}</option>

                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    
                        <label>&nbsp;</label>
                        <div class="input-group override_margin col-sm-12">
                            <input type="text"  id="fromBillNo"  name="fromBillNo" class="form-control" placeholder="From Bill No" ng-model="fromBillNo" valid-number/>
                            <span class="input-group-btn wrapper-date">
                             
                            </span>
                      
                    </div>
                </div>
                <div class='col-sm-2 override_margin'>
                    <div class='override_margin'>
                        <label>&nbsp;</label>
                        <div class="input-group override_margin col-sm-12">
                            <input type="text" id="toBillNo"  name="toBillNo" class="form-control" placeholder="To Bill No" ng-model="toBillNo" ng-enter="scheduleReport()"valid-number/>
                            <span class="input-group-btn wrapper-date">
                              
                            </span>
                        </div>
                    </div>
                </div>

                <div class="pull-left">
                    <label>&nbsp;</label><br/>
                    <button title="Search" id="searchSchedule" name="searchSchedule" class="btn btn-style" style="margin-top:3px;"  ng-disabled="(fromBillNo==null||toBillNo==null)&&(from==null||to==null||schedule==null)" ng-click="scheduleReport()">Search</button>
                    <button title="Clear" id="clearSchedule" name="clearSchedule" class="btn btn-style" style="margin-top:3px;"  ng-click="clearSearch()">Clear</button>
             
                </div>   
               

                <div class="pull-right">

                    <label id="type1">Type 1</label>&nbsp;&nbsp;<label id="type2">Type 2</label>&nbsp;&nbsp;<label id="type2">Type 3</label>&nbsp;&nbsp;<label id="type4">Type 4</label><br />
                    <button ng-disabled="data.length==0" ng-click="btnTXTExport()" class="btn btn-style k-button" id="btnTXTExport" title="Export to Txt1"><i class="fa fa-print" style="color:darkred" aria-hidden="true"></i></button>

                    <button ng-disabled="data.length==0" ng-click="btnTXTExport1()" class="btn btn-style k-button" id="btnTXTExport1" title="Export to Txt2"><i class="fa fa-print" style="color:darkred" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" ng-click="btnTXTExport2()" class="btn btn-style k-button" id="btnTXTExport2" title="Export to Txt3"><i class="fa fa-print" style="color:darkred" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" ng-click="btnTXTExport3()" class="btn btn-style k-button" id="btnTXTExport3" title="Export to Txt4"><i class="fa fa-print" style="color:darkred" aria-hidden="true"></i></button>

                    <button ng-disabled="data.length==0" ng-hide="check > 60"class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                    <button type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data"ng-hide="check > 60"
                            csv-header="['Bill No','Bill Date','Patient Name','Doctor','Product','Manufacturer','Bat
                            ch','Expiry','Qty','Signature']"
                            csv-column-order="order"
                            filename="{{fileNameNew}}.csv" onclick="setFileName()">

                        <img src="~/assets/images/csv.png" />

                    </button>
                </div>
              
            </div>
            <div ng-show="InvoiceSeriesType!=null&&fromBillNo!=null&&toBillNo!=null">
                <i class="fa fa-info-circle" aria-hidden="true"></i><span style="font-size:14px">For previous financial year please choose date range.</span>
            </div>
        </div>
       
    </div>
    
    <div class="panel panel-default">
        <div class="panel-body">
           <div ng-show="(fromBillNo==null||toBillNo==null)&&(from==null||to==null||schedule==null)">
               <p style="text-align:center;padding-top:40px"><b>Please select appropriate date or billno to search</b></p>
           </div>
            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div id="grid"></div>

            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
            <br /><br />
        </div>
    </div>
</div>

@section scripts
{
     <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>    
    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<script asp-append-version="true" src="~/appscript/appNewReportScript.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/sales/schedulereportctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <script asp-append-version="true" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>

<script>
    
        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });
        

        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


</script>


}
