﻿<script type="text/ng-template" id="NewCreateProduct">
    <div class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" style="width:700px !important;">
            <div>
                <div class="sell-temporary-stock">
                    <ng-form id="productForm" name="productForm">
                        <div class="sell-new-product">
                            <h2>New product</h2>
                            <a class="close-btn-style" style="position: absolute;right: 10px;top: 13px;" aria-hidden="true" data-dismiss="modal" ng-click="close('Cancel')">×</a>
                            <div class="new-product-enter">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Name of Drug <span class="error">*</span></td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="Name of drug" type="text" drugname-special-char placeholder="Name Of Drug" id="productName" name="productName" required ng-model="products.name" class="search-query form-control" typeahead-focus-on-select="false" typeahead-min-length="1" uib-typeahead="product as product.name for product in getProduct($viewValue)" typeahead-on-select="onPatientSelect($item,$event,'genericName')" ng-enter="focusNextField('genericName')" popup-focus="focusInput" />

                                                    <span class="error" ng-show="productForm.productName.$dirty && productForm.productName.$error.required">Required</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Generic Name <span class="error">*</span></td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="Generic Name" type="text" typeahead-focus-on-select="false" typeahead-min-length="0" placeholder="Generic Name" id="genericName" name="genericName" required ng-model="products.genericName" ng-keyup="checkAllProductfields(2)" ng-click="checkAllProductfields(2)" uib-typeahead="product as product.genericName for product in getGeneric($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('manufacturer')" ng-enter="focusNextField('manufacturer')" />
                                                    <span class="error" ng-show="productForm.genericName.$dirty && productForm.genericName.$error.required">Required</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Manufacturer<span class="error">*</span></td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="Manufacturer" type="text" placeholder="Manufacturer" id="manufacturer" name="manufacturer" required ng-model="products.manufacturer" ng-keyup="checkAllProductfields(3)" ng-click="checkAllProductfields(3)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.manufacturer for product in getManufacturer($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('scheduledCategory')" ng-enter="focusNextField('scheduledCategory')" />
                                                    <span class="error" ng-show="productForm.manufacturer.$dirty && productForm.manufacturer.$error.required">Required</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Scheduled Category</td>
                                            <td>
                                                <div class="pop-form">
                                                    @*<input title="Scheduled Category" type="text" placeholder="Scheduled Category"
                                                        id="scheduledCategory" name="scheduledCategory" ng-model="products.schedule"
                                                        ng-keyup="checkAllProductfields(4)" ng-click="checkAllProductfields(4)"
                                                        typeahead-focus-on-select="false" typeahead-min-length="0"
                                                        uib-typeahead="product as product.schedule for product in getSchedule($viewValue)"
                                                        class="search-query form-control" typeahead-on-select="focusNextField('type')"
                                                        ng-enter="focusNextField('type')" />*@

                                                    <select id="scheduledCategory" name="scheduledCategory" title="Scheduled Category"
                                                            placeholder="Scheduled Category" ng-model="products.schedule" class="search-query form-control"
                                                            ng-keyup="checkAllProductfields(4)" ng-click="checkAllProductfields(4)"
                                                            typeahead-on-select="focusNextField('type')" ng-enter="focusNextField('type')">
                                                        <option value="H" ng-selected="products.schedule == undefined">H</option>
                                                        <option value="H1">H1</option>
                                                        <option value="NS">NS</option>
                                                        <option value="X">X</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Type</td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="Type" type="text" placeholder="Type" id="type" name="type" ng-model="products.type" ng-keyup="checkAllProductfields(5)" ng-click="checkAllProductfields(5)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.type for product in getType($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('category')" ng-enter="focusNextField('category')" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Category</td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="Category" type="text" placeholder="Category" id="category" name="category" ng-model="products.category" ng-keyup="checkAllProductfields(6)" ng-click="checkAllProductfields(6)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.category for product in getCategory($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('commodityCode')" ng-enter="focusNextField('commodityCode')" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Commodity Code</td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="Commodity Code" type="text" placeholder="Commodity Code" id="commodityCode" name="commodityCode" ng-model="products.commodityCode" ng-keyup="checkAllProductfields(7)" ng-click="checkAllProductfields(7)" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.commodityCode for product in getCommodity($viewValue)" class="search-query form-control" typeahead-on-select="focusNextField('txtVat')" ng-enter="focusNextField('txthsn')" numbers-only valid-number maxlength="10" />
                                                </div>
                                            </td>
                                        </tr>

                                        @*<tr>
                                                <td>Vat %</td>
                                                <td>
                                                    <div class="pop-form">
                                                        <input title="Vat" type="text" placeholder="Vat" id="txtVat" name="Vat" ng-model="products.vAT" ng-keyup="checkAllProductfields(8)" ng-click="checkAllProductfields(8)" class="search-query form-control" ng-enter="focusNextField('txtPackageSize')" maxlength="4" ng-change="changeVat(products.vAT)" valid-number />
                                                        <span class="error" ng-show="vatErrorMessage">Enter Valid Vat</span>
                                                    </div>
                                                </td>
                                            </tr>*@


                                        <tr>
                                            <td>HSN Code</td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="HSN Code"
                                                           type="text"
                                                           placeholder="HSN Code"
                                                           id="txthsn"
                                                           name="hsn"
                                                           data-ng-model="products.hsnCode"
                                                           data-ng-keyup="checkAllProductfields(9)"
                                                           alpha-numeric
                                                           data-ng-click="checkAllProductfields(9)"
                                                           class="search-query form-control"
                                                           ng-keydown="keyEnter($event,'txtgstTotal','txthsn')"
                                                           maxlength="10" />
                                                </div>
                                            </td>
                                        </tr>



                                        <tr>
                                            <td>GST Total %<span class="error">*</span></td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="GST Total" 
                                                           type="text" 
                                                           placeholder="0.00" 
                                                           id="txtgstTotal" 
                                                           name="gstTotal" 
                                                           ng-model="products.gstTotal" 
                                                           class="search-query form-control" 
                                                           maxlength="5" 
                                                           required                                                            
                                                           ng-keypress="keyEnter($event,'txtPackageSize','txtgstTotal')" 
                                                           ng-change="changeGST('txtgstTotal')" 
                                                           check-percent />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>CGST %<span class="error">*</span></td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="CGST" 
                                                           type="text" 
                                                           placeholder="0.00" 
                                                           id="txtcgst" 
                                                           name="cgst" 
                                                           ng-model="products.cgst" 
                                                           ng-keyup="checkAllProductfields(11)" 
                                                           ng-click="checkAllProductfields(11)" 
                                                           class="search-query form-control" 
                                                           maxlength="5" 
                                                           valid-number                                                          
                                                           data-ng-disabled="true" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>SGST %<span class="error">*</span></td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="SGST" 
                                                           type="text" 
                                                           placeholder="0.00" 
                                                           id="txtsgst" 
                                                           name="sgst" 
                                                           ng-model="products.sgst" 
                                                           ng-keyup="checkAllProductfields(12)" 
                                                           ng-click="checkAllProductfields(12)" 
                                                           class="search-query form-control" 
                                                           maxlength="5" 
                                                           valid-number                                                           
                                                           data-ng-disabled="true" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>IGST % <span class="error">*</span></td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="IGST" 
                                                           type="text" 
                                                           placeholder="0.00" 
                                                           id="txtigst" 
                                                           name="igst" 
                                                           ng-model="products.igst" 
                                                           ng-keyup="checkAllProductfields(10)" 
                                                           ng-click="checkAllProductfields(10)" 
                                                           class="search-query form-control" 
                                                           maxlength="5" 
                                                           ng-change="changeGST('txtigst')" 
                                                           valid-number                                                           
                                                           ng-keydown="checkPercentage($event,products.igst)" 
                                                           data-ng-disabled="true" />
                                                </div>
                                            </td>
                                        </tr>




                                        <tr>
                                            <td>Units/Strip</td>
                                            <td>
                                                <div class="pop-form">
                                                    <input title="Units/Strip"
                                                           type="text"
                                                           placeholder="Units/Strip"
                                                           id="txtPackageSize"
                                                           name="Units/Strip"
                                                           ng-model="products.packageSize"
                                                           ng-keyup="checkAllProductfields(9)"
                                                           ng-click="checkAllProductfields(9)"
                                                           class="search-query form-control"
                                                           ng-enter="focusNextField('btnProductSave')"
                                                           numbers-only
                                                           valid-number
                                                           maxlength="4" />
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix">
                                    <button type="submit" id="btnProductSave"
                                            ng-disabled="!productForm.$valid"
                                            data-ng-class="!productForm.$valid ? 'btnDisabled' :'btnEnabled'"
                                            ng-click="productsCreate()"
                                            class="green-button mr-15 pl-20 pr-20 fR">
                                        ADD
                                    </button>
                                    <button ng-click="close('No')" data-dismiss="modal" class="darkgray-button mr-10  fR">CANCEL</button>
                                </div>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</script>
