@{
    ViewBag.Title = "Product Master List";
    Layout = "_Layout";
}


<div class="row" ng-app="hcue" ng-controller="hcueMasterListCtrl" ng-cloak>
    <div class='row' style="height:40px;">
        <div  class='col-sm-3' style="font-size:16px;font-weight:bold;border-bottom:0px solid #039394;margin-bottom:5px;padding-left:2px;">Product Master</div>
        <div class='col-sm-9' style="font-weight:bold">
            Total: <span class="badge badge-inverse">{{count.total}}</span>
            Completed: <span class="badge badge-success">{{count.completed}}</span>
            Pending: <span class="badge badge-error">{{count.pending}}</span>
            Todays Update: <span class="badge badge-info">{{count.today}}</span>
        </div>
    </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class='row'>
                    <div class='col-sm-3 '>
                        <div class='form-group productSearch'>
                            <div class="input-group">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/drug.png" />
                                </span>
                                <input title="Product Name" type="text" id="productName" name="productName" placeholder="Product Name" class="search-query form-control" ng-model="search.name" ng-enter="productSearch(search.name,0)">
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group productSearch'>
                            <div class="input-group col-md-12">
                                <select id="productMaster" name="productMaster" title="Product Master" placeholder="Product Master" ng-model="search.code" class="form-control">
                                    <option value="all">All</option>
                                    <option value="">Pending</option>
                                    <option value="completed">Completed</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class='col-sm-1'>
                        <div class='form-group'>
                            <div class="pull-left">
                                <button title="Search" class="btn btn-style" ng-click="productSearch(search.name,0)">Search</button>
                            </div>
                        </div>

                    </div>
                    <div class='col-sm-1'>
                        <div class="">
                            <button title="Search" class="btn btn-style" ng-click="clear()">Clear</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Vendor Search Section - End -->
        <!-- Vendor Search Result Section - start -->
        <div class='row'>
            <div class='col-sm-12 override_margin'>
                <strong>Search by alphabet</strong>
            </div>
            <div class="search-char col-sm-10 override_margin">
                <a href="" ng-click="productSearch('A',0)">A</a>
                <a href="" ng-click="productSearch('B',0)">B</a>
                <a href="" ng-click="productSearch('C',0)">C</a>
                <a href="" ng-click="productSearch('D',0)">D</a>
                <a href="" ng-click="productSearch('E',0)">E</a>
                <a href="" ng-click="productSearch('F',0)">F</a>
                <a href="" ng-click="productSearch('G',0)">G</a>
                <a href="" ng-click="productSearch('H',0)">H</a>
                <a href="" ng-click="productSearch('I',0)">I</a>
                <a href="" ng-click="productSearch('J',0)">J</a>
                <a href="" ng-click="productSearch('K',0)">K</a>
                <a href="" ng-click="productSearch('L',0)">L</a>
                <a href="" ng-click="productSearch('M',0)">M</a>
                <a href="" ng-click="productSearch('N',0)">N</a>
                <a href="" ng-click="productSearch('O',0)">O</a>
                <a href="" ng-click="productSearch('P',0)">P</a>
                <a href="" ng-click="productSearch('Q',0)">Q</a>
                <a href="" ng-click="productSearch('R',0)">R</a>
                <a href="" ng-click="productSearch('S',0)">S</a>
                <a href="" ng-click="productSearch('T',0)">T</a>
                <a href="" ng-click="productSearch('U',0)">U</a>
                <a href="" ng-click="productSearch('V',0)">V</a>
                <a href="" ng-click="productSearch('W',0)">W</a>
                <a href="" ng-click="productSearch('X',0)">X</a>
                <a href="" ng-click="productSearch('Y',0)">Y</a>
                <a href="" ng-click="productSearch('Z',0)">Z</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body productlist">
                <div class='marginLR-zero table-responsive'>
                    <table class="table table-striped table-bordered" id="datatable1">
                        <thead>
                            <tr ng-show="pagedItems.length>0">
                                <th class='col-sm-3'>Product</th>
                                <th class='col-sm-3'>Generic Name</th>
                                <th class='col-sm-3'>Schedule</th>
                                @*<th class="col-sm-3 text-left">Manufacture</th>*@
                            </tr>
                        </thead>

                        <tr ng-repeat="product in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                            <td colspan="13" ng-show="$parent.selectedIndex == $index">
                                <div ng-form="productForm">

                                    <div class="panel-heading">Edit Product</div>
                                    <div class="panel-body productform">
                                        <div class='row'>
                                            <div class='col-sm-12 override_margin'>

                                                <div class='col-sm-3 override_margin'>
                                                    <div class='form-group'>
                                                        <label class="required">Product</label>
                                                        <div class="input-group override_margin col-sm-12">
                                                            <input title="Name of drug" id="productName" required name="productName" type="text" placeholder="Name of drug" class="search-query form-control" ng-model="productsItem.name" ng-keyup="keyEnter($event,'genericName')" disabled>
                                                            <span class="error" ng-show="productForm.productName.$dirty && productForm.productName.$error.required">Required!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3 override_margin'>
                                                    <div class='form-group'>
                                                        <label class="required">Generic Name</label>
                                                        <div class="input-group override_margin col-sm-12">
                                                            <input title="Generic Name" type="text" typeahead-focus-on-select="false" typeahead-min-length="0" placeholder="Generic Name" id="genericName" name="genericName" required ng-model="productsItem.genericName" uib-typeahead="product as product.genericName for product in getGeneric($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'scheduledCategory')">
                                                            <span class="error" ng-show="productForm.genericName.$dirty && productForm.genericName.$error.required">Required!</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class='col-sm-3 override_margin'>
                                                    <div class='form-group'>
                                                        <label class="required">Schedule</label>

                                                        <div class="input-group override_margin col-sm-12">
                                                            <input title="Scheduled Category" type="text" placeholder="Scheduled Category" id="scheduledCategory" name="scheduledCategory" required ng-model="productsItem.schedule" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="schedule as schedule.label for schedule in scheduleList" class="search-query form-control">
                                                            <span class="error" ng-show="productForm.schedule.$dirty && productForm.schedule.$error.required">Required!</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class='row'>
                                            <div class='col-sm-12 override_margin'>
                                                <div class='col-sm-3 override_margin'>
                                                    <div class='form-group'>

                                                    </div>
                                                </div>
                                                <div class='col-sm-3 override_margin'>
                                                    <div class='form-group'>

                                                    </div>
                                                </div>
                                                <div class='col-sm-3 override_margin'>
                                                    <div class='form-group'>

                                                    </div>
                                                </div>

                                                <div class='col-sm-3 override_margin'>
                                                    <div class='form-group'>
                                                        <label></label>
                                                        <div class="col-md-12 override_margin">
                                                            <button title="Update Product" id="updateProduct" class="btn btn-style pull-left" ng-disabled="!productForm.$valid" my-enter="updateProduct()" ng-click="updateProduct()">Update</button> &nbsp; &nbsp; &nbsp;
                                                            <button title="Cancel" class="btn btn-style btn-cancel pull-left" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </td>
                            <td ng-hide="$parent.selectedIndex == $index">{{product.name}}</td>
                            <td ng-hide="$parent.selectedIndex == $index" class="col-sm-1 changeable" contenteditable ng-model="product.genericName">{{product.genericName}}</td>
                            <td ng-hide="$parent.selectedIndex == $index" class="changeable" contenteditable ng-model="product.schedule">{{product.schedule}}</td>
                            @*<td ng-hide="$parent.selectedIndex == $index" class="text-left"><span style="cursor: pointer;" title="Edit" ng-click="editProducts(product,$parent.selectedIndex=$index)" class="btn  btn-style text-left">Edit</span></td>*@
                        </tr>
                        <tr>

                            <td colspan="13" ng-show="pagedItems.length>0">
                                <div class="pagination drugPage" style="width:100%">
                                    <ul>
                                        <li ng-class="{disabled: currentPage == 0}">
                                            <a href ng-click="prevPage()">« Prev</a>
                                        </li>
                                        <li ng-repeat="n in range(pagedItems.length)"
                                            ng-class="{active: n == currentPage}"
                                            ng-click="setPage()">
                                            <a href ng-bind="n + 1">1</a>
                                        </li>
                                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                            <a href ng-click="nextPage()">Next »</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
<style>
    .drugPage li {
        display: inline-block;
        padding: 5px 10px;
        margin: 1px;
        border: 1px solid #808080;
        border-radius: 1px;
    }

        .drugPage li.active, .drugPage li.active a {
            background: #039394;
            border: 1px solid #039394;
            color: #fff;
            font-weight: bold;
        }

    .changeable:focus {
    border:1px solid green !important;
    background-color:#F2F2F2;
            }

   .table-bordered>tbody>tr>td {    
    border:0px solid #ddd !important;
    border-left:1px solid #ddd !important;
    border-right:0px solid #ddd !important;
    }

   .table-bordered>tbody
   {
       border-right:1px solid #ddd !important;
   }

   .badge {
      padding: 5px 10px 5px;
      font-size: 18.025px;
      font-weight: bold;
      white-space: nowrap;
      color: #ffffff;
      background-color: #999999;
      -webkit-border-radius: 13px;
      -moz-border-radius: 13px;
      border-radius: 13px;
      margin-right:10px;
    }
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}
</style>

@section scripts
{

    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productlistappscript.js"></script>

    <script asp-append-version="true" src="~/appscript/product/productMasterService.js"></script>

    <script asp-append-version="true" src="~/appscript/product/hcueMasterListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>

    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-strap.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-strap.tpl.js"></script>
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-export.js"></script>

   
}


