@{
    ViewBag.Title = "Add Product";
    ViewBag.Menu = "Profile";
    Layout = "_Layout";
}

<div class="row" ng-app="hcue" ng-controller="productCreateCtrl" ng-cloak>
    <!-- Vendor Create Section - start -->
    <ng-form id="productForm" name="productForm">
        <div class="panel panel-default">
            <div class="panel-heading">Add Product</div>
            <div class="panel-body">
                <div class='row'>
                    <div class='col-sm-6'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/drug.png" />
                                </span>
                                <input title="Product Name" type="text" id="productName" name="productName" placeholder="Product Name" class="search-query form-control" required ng-model="product.name">
                            </div>
                            <span class="error" ng-show="productForm.name.$dirty && productForm.name.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                    <div class='col-sm-6'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </span>
                                <input title="Manufacturer" type="text" id="manufacturer" name="manufacturer" placeholder="Manufacturer" required class="search-query form-control" ng-model="product.manufacturer">
                            </div>
                            <span class="error" ng-show="productForm.manufacturer.$dirty && productForm.manufacturer.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-left">
                        <button title="Cancel" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                    </div>
                    <div class="pull-right">
                        <button title="Create" class="btn btn-style" ng-disabled="productForm.$invalid" ng-click="productCreate()">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor Create Section - End -->
    </ng-form>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscript.js"></script>
    @*<script asp-append-version="true" src="~/assets/js/jquery.maskedinput.min.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productcreatectrl.js"></script>
}


