
@{
    ViewBag.Title = "Product List";
    Layout = "_Layout";
    ViewBag.Menu = "Profile";
}


<div class="row" ng-app="hcue" ng-controller="productSearchCtrl" ng-cloak>

    <!-- Vendor Search Section - start -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input title="Product Name" type="text" id="productName" name="productName" placeholder="Product Name" class="search-query form-control" ng-model="search.name" ng-enter="productSearch()">
                            <span class="input-group-btn">
                                <button title="Search Product" class="btn" type="button" ng-click="productSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left" ng-if="list.length == 0">
                No Records found
            </div>
            <div class="pull-right">
                <button title="Search" class="btn btn-style" ng-click="productSearch()">Search</button>
            </div>
        </div>
    </div>

    <!-- Vendor Search Section - End -->
    <!-- Vendor Search Result Section - start -->

    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row  marginLR-zero'>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Manufacturer</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="product in list">
                        <tr>
                            <td>{{product.name}}</td>
                            <td>{{product.manufacturer}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>
    </div>
    <!-- Vendor Search Result Section - End -->
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscriptlist.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productsearchctrl.js"></script>
}
