@{
    ViewBag.Title = "Product List";
    Layout = "_Layout";
    ViewBag.Menu = "Profile";
}

@*ng-init="init()"*@
<div class="row" ng-app="hcue" ng-controller="drugListCtrl" ng-cloak>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3 '>
                    <div class='form-group productSearch'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <img src="~/assets/images/drug.png" />
                            </span>
                            <input title="Product Name" type="text" id="productName" name="productName" placeholder="Drug Name" class="search-query form-control" ng-model="search.name" ng-enter="productSearch(search.name)">
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class="pull-left">
                        <button title="Search" class="btn btn-style" ng-click="productSearch(search.name)">Search</button>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="panel-footer clearfix">
                <div class="pull-left" ng-if="list.length == 0">
                    No Records found
                </div>

            </div>*@
    </div>

    <!-- Vendor Search Section - End -->
    <!-- Vendor Search Result Section - start -->
    <div class='row'>
        <div class='col-sm-12 override_margin'>
            <strong>Search by alphabet</strong>
        </div>
        <div class="search-char col-sm-10 override_margin">
            <a href="" ng-click="productSearch('A')">A</a>
            <a href="" ng-click="productSearch('B')">B</a>
            <a href="" ng-click="productSearch('C')">C</a>
            <a href="" ng-click="productSearch('D')">D</a>
            <a href="" ng-click="productSearch('E')">E</a>
            <a href="" ng-click="productSearch('F')">F</a>
            <a href="" ng-click="productSearch('G')">G</a>
            <a href="" ng-click="productSearch('H')">H</a>
            <a href="" ng-click="productSearch('I')">I</a>
            <a href="" ng-click="productSearch('J')">J</a>
            <a href="" ng-click="productSearch('K')">K</a>
            <a href="" ng-click="productSearch('L')">L</a>
            <a href="" ng-click="productSearch('M')">M</a>
            <a href="" ng-click="productSearch('N')">N</a>
            <a href="" ng-click="productSearch('O')">O</a>
            <a href="" ng-click="productSearch('P')">P</a>
            <a href="" ng-click="productSearch('Q')">Q</a>
            <a href="" ng-click="productSearch('R')">R</a>
            <a href="" ng-click="productSearch('S')">S</a>
            <a href="" ng-click="productSearch('T')">T</a>
            <a href="" ng-click="productSearch('U')">U</a>
            <a href="" ng-click="productSearch('V')">V</a>
            <a href="" ng-click="productSearch('W')">W</a>
            <a href="" ng-click="productSearch('X')">X</a>
            <a href="" ng-click="productSearch('Y')">Y</a>
            <a href="" ng-click="productSearch('Z')">Z</a>
        </div>

        <div class="pull-right">
            @*<a id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></a>*@
            @*<button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>*@
        </div>

        <div class="" style="float:right">

            <a class="btn btn-primary" export export-data="list" export-title="'Drugs'" export-keys="['name','genericName','manufacturer','type','category','packageSize','vat','price','kindName','schedule','status']" export-headers="['Drug  Name', 'Generic Name','Manufacturer','Type','Category','Packaging','VAT%','Price','Kind','Schedule','Status']"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Export CSV</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body productlist">
            <div class='marginLR-zero table-responsive'>
                <table class="table table-striped table-bordered" id="datatable1">

                    <tr>
                        <th>Product</th>
                        <th>Generic Name</th>
                        <th>Manufacturer</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Packaging</th>
                        <th>VAT%</th>
                        <th>Price</th>
                        <th>Kind</th>
                        <th>Schedule</th>
                        <th>Branch</th>
                        <th>Status</th>
                        <th class="text-center">Edit</th>
                    </tr>

                    <tr ng-repeat="product in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                        <td colspan="13" ng-show="$parent.selectedIndex == $index">
                            <div ng-form="productForm">

                                <div class="panel-heading">Edit Product</div>
                                <div class="panel-body productform">
                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>

                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Product</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Name of drug" id="productName" required name="productName" type="text" placeholder="Name of drug" class="search-query form-control" ng-model="productsItem.name" ng-keyup="keyEnter($event,'genericName')" disabled>
                                                        <span class="error" ng-show="productForm.productName.$dirty && productForm.productName.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div><div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Generic Name</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Generic Name" type="text" typeahead-focus-on-select="false" typeahead-min-length="0" placeholder="Generic Name" id="genericName" name="genericName" required ng-model="productsItem.genericName" uib-typeahead="product as product.genericName for product in getGeneric($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'manufacturer')">
                                                        <span class="error" ng-show="productForm.genericName.$dirty && productForm.genericName.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Manufacturer</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Manufacturer" type="text" placeholder="Manufacturer" id="manufacturer" name="manufacturer" required ng-model="productsItem.manufacturer" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.manufacturer for product in getManufacturer($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'scheduledCategory')">
                                                        <span class="error" ng-show="productForm.manufacturer.$dirty && productForm.manufacturer.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Scheduled Category</label>
                                                   
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Scheduled Category" type="text" placeholder="Scheduled Category" id="scheduledCategory" name="scheduledCategory" ng-model="productsItem.schedule" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="schedule as schedule.label for schedule in scheduleList" class="search-query form-control" ng-keyup="keyEnter($event,'type')">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>

                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Type</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Type" type="text" placeholder="Type" id="type" name="type" ng-model="productsItem.type" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.type for product in getType($viewValue)" uibTypeaheadHighlight:query class="search-query form-control" typeahead-show-hint="true" ng-keyup="keyEnter($event,'category')">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Category</label>
                                                   
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Category" type="text" placeholder="Category" id="category" name="category" ng-model="productsItem.category" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="catogory as catogory.label for catogory in catogoryList" class="search-query form-control" ng-keyup="keyEnter($event,'kindName')">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Kind</label>
                                                    <div class="input-group override_margin col-sm-12">

                                                        <input type="text" id="kindName" name="kindName" class="form-control" ng-model="productsItem.kindName" data-min-length="0"
                                                               data-html="1" data-auto-select="true" bs-options="icon as icon.label for icon in kindNames"
                                                               placeholder="kind Name" bs-typeahead ng-keyup="keyEnter($event,'commodityCode')">
                                                        @*<input title="Kind" type="text" placeholder="Kind" id="kind" name="kind" ng-model="productsItem.kind" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')">*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Commodity Code</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Commodity Code" type="text" placeholder="Commodity Code" id="commodityCode" name="commodityCode" ng-model="productsItem.commodityCode" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.commodityCode for product in getCommodity($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'updateProduct')">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Packaging</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Packaging" type="text" placeholder="Packaging" id="packaging" name="packaging" ng-model="productsItem.packageSize" class="search-query form-control" ng-keyup="keyEnter($event,'vat')" valid-number>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Vat%</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Vat" type="text" placeholder="Vat" id="vat" name="vat" ng-model="productsItem.vat" class="search-query form-control" ng-keyup="keyEnter($event,'price')" valid-number>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Price</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Price" type="text" placeholder="Price" id="price" name="price" ng-model="productsItem.price" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')" valid-number>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Status</label>
                                                    <div class="input-group col-md-12 override_margin">
                                                        <select chosen class="search-query form-control" ng-model="productsItem.status" ng-options="category.CategoryID as category.Name for category in categories"></select>

                                                        @*<select id="status" name="status" chosen title="Status" placeholder="Status" ng-model="productsItem.status" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')">
                                                                <option value="1">Active</option>
                                                                <option value="2">InActive</option>
                                                            </select>*@
                                                    </div>

                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>

                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>

                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>

                                                </div>
                                            </div>

                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label></label>
                                                    <div class="col-md-12 override_margin">
                                                        <button title="Update Product" id="updateProduct" class="btn btn-style pull-left" ng-disabled="!productForm.$valid" my-enter="updateProduct()" ng-click="updateProduct()">Update</button> &nbsp; &nbsp; &nbsp;
                                                        <button title="Cancel" class="btn btn-style btn-cancel pull-left" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.name}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" class="col-sm-1">{{product.genericName}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.manufacturer}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.type}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.category}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.packageSize}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.vat}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.price}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.kindName}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.schedule}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.instance.name}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.status}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" class="text-center"><span style="cursor: pointer;" title="Edit" ng-click="editProducts(product,$parent.selectedIndex=$index)" class="btn  btn-style text-center">Edit</span></td>
                    </tr>
                    <tr>

                        <td colspan="13">
                            <div class="pagination drugPage" style="width:100%">
                                <ul>
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href ng-click="prevPage()">« Prev</a>
                                    </li>
                                    <li ng-repeat="n in range(pagedItems.length)"
                                        ng-class="{active: n == currentPage}"
                                        ng-click="setPage()">
                                        <a href ng-bind="n + 1">1</a>
                                    </li>
                                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                        <a href ng-click="nextPage()">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>

                    </tr>

                </table>
            </div>
            @*&nbsp;
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }*@
        </div>
    </div>
    
</div>
<style>
    .drugPage li{
    display:inline-block;
    padding:5px 10px;
    margin:1px;
    border:1px solid #808080;
    border-radius:1px;

}

.drugPage li.active,.drugPage li.active a{
    background:#039394;
     border:1px solid #039394;
    color:#fff;
    font-weight:bold;
}

</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productlistappscript.js"></script>

    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>

    <script asp-append-version="true" src="~/appscript/product/druglistctrl.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>

    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-strap.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-strap.tpl.js"></script>
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-export.js"></script>

}
