@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@{
    ViewBag.Title = "Product Master";
    Layout = "_Layout";
}

@await Html.PartialAsync("~/Views/ProductStock/Menu.cshtml")
@if (!User.HasPermission(UserAccess.Inventory))
{
    @await Html.PartialAsync("~/Views/Shared/_SettingsRights.cshtml");
}

<div class="row" ng-app="hcue" ng-controller="multiEditCtrl" ng-cloak>
    @*<div class='row' style="height:40px;">
            <div  class='col-sm-3' style="font-size:16px;font-weight:bold;border-bottom:0px solid #039394;margin-bottom:5px;padding-left:2px;">Product Master</div>
        </div>*@
    <input type="hidden" id="NoGst" value="@ViewBag.NoGst" />
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3 '>
                    <div class='form-group productSearch'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <img src="~/assets/images/drug.png" />
                            </span>
                            <input title="Product Name" type="text" id="productName" name="productName" placeholder="Product Name" class="search-query form-control" ng-model="search.name" ng-enter="productSearch(search.name,0)">
                        </div>
                    </div>
                </div>

                <div class='col-sm-1'>
                    <div class='form-group'>
                        <div class="pull-left">
                            <button title="Search" class="btn btn-style" ng-click="productSearch(search.name,0)">Search</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- Vendor Search Section - End -->
    <!-- Vendor Search Result Section - start -->
    <div class='row'>
        <div class='col-sm-12 override_margin'>
            <strong>Search by alphabet</strong>
        </div>
        <div class="search-char col-sm-10 override_margin">
            <a href="" ng-click="productSearch('A',0)">A</a>
            <a href="" ng-click="productSearch('B',0)">B</a>
            <a href="" ng-click="productSearch('C',0)">C</a>
            <a href="" ng-click="productSearch('D',0)">D</a>
            <a href="" ng-click="productSearch('E',0)">E</a>
            <a href="" ng-click="productSearch('F',0)">F</a>
            <a href="" ng-click="productSearch('G',0)">G</a>
            <a href="" ng-click="productSearch('H',0)">H</a>
            <a href="" ng-click="productSearch('I',0)">I</a>
            <a href="" ng-click="productSearch('J',0)">J</a>
            <a href="" ng-click="productSearch('K',0)">K</a>
            <a href="" ng-click="productSearch('L',0)">L</a>
            <a href="" ng-click="productSearch('M',0)">M</a>
            <a href="" ng-click="productSearch('N',0)">N</a>
            <a href="" ng-click="productSearch('O',0)">O</a>
            <a href="" ng-click="productSearch('P',0)">P</a>
            <a href="" ng-click="productSearch('Q',0)">Q</a>
            <a href="" ng-click="productSearch('R',0)">R</a>
            <a href="" ng-click="productSearch('S',0)">S</a>
            <a href="" ng-click="productSearch('T',0)">T</a>
            <a href="" ng-click="productSearch('U',0)">U</a>
            <a href="" ng-click="productSearch('V',0)">V</a>
            <a href="" ng-click="productSearch('W',0)">W</a>
            <a href="" ng-click="productSearch('X',0)">X</a>
            <a href="" ng-click="productSearch('Y',0)">Y</a>
            <a href="" ng-click="productSearch('Z',0)">Z</a>
        </div>
        <div class='form-group'>
            <div class="pull-right">
                <button title="Search" class="btn btn-style" ng-disabled="!isUpdate" ng-click="updateAllProduct(list)">Update</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body productlist">
            <div class='marginLR-zero table-responsive'>
                <table class="table table-striped table-bordered" id="datatable1">
                    <thead>
                        <tr ng-show="list.length>0">

                            <th width="300">Product</th>
                            <th>Schedule</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>IGST%</th>
                            <th>SGST%</th>
                            <th>CGST%</th>
                            <th>GST Total%</th>
                            <th>HSN Code</th>
                        </tr>
                    </thead>

                    <tr ng-repeat="product in list">
                        <td ng-hide="$parent.selectedIndex == $index">{{product.name}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" class="col-sm-1">{{product.schedule}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" class="col-sm-1">{{product.category}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" class="col-sm-1">{{product.type}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" ng-model="product.igst" valid-Number>{{product.igst}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" ng-model="product.sgst" valid-Number>{{product.sgst}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" ng-model="product.cgst" valid-Number>{{product.cgst}}</td>
                        @*<td ng-hide="$parent.selectedIndex == $index" class="changeable" ng-change="changeGstTotal(product)" contenteditable ng-model="product.gstTotal" valid-Number>{{product.gstTotal}}</td>*@

                        <td ng-hide="$parent.selectedIndex == $index">
                            <input title="GST Total" type="text" placeholder="0.00" id="txtgstTotal_01" name="txtgstTotal_01" ng-if="taxValuesList.length<=0" ng-model="product.gstTotal" class="search-query form-control" maxlength="5" valid-number ng-change="changeGstTotal(product)" check-percent />

                            <select id="txtgstTotal_01" name="txtgstTotal_01" title="GST Total" ng-if="taxValuesList.length>0"
                                    required ng-model="product.gstTotal" class="search-query form-control"
                                    ng-change="changeGstTotal(product)" check-percent>
                                <option ng-repeat="tax in taxValuesList" value="{{tax.tax}}" ng-selected="products.gstTotal=={{tax.tax}}">{{tax.tax}}</option>
                            </select>

                        </td>

                        
                        @*<td ng-hide="$parent.selectedIndex == $index" class="changeable" ng-change="changeHsn()" alpha-numeric contenteditable ng-model="product.hsnCode">{{product.hsnCode}}</td>*@
                        <td ng-hide="$parent.selectedIndex == $index">
                            <input type="text" ng-change="changeHsn(product)" class="search-query form-control" alpha-numeric ng-model="product.hsnCode" maxlength="15" />
                        </td>
                    </tr>

                </table>
            </div>

            <div ng-show="list==0">
                <label>No Records Found</label>
            </div>
            &nbsp;
            <div class="row list-paging">
                <button ng-repeat="page in pages" ng-click="customPagination(page.page.pageNo)" ng-class="page.isActive ? 'pagination-button active' : 'pagination-button'">{{page.page.name}}</button>
            </div>
        </div>
    </div>

</div>
<style>
        .drugPage li {
            display: inline-block;
            padding: 5px 10px;
            margin: 1px;
            border: 1px solid #808080;
            border-radius: 1px;
        }

            .drugPage li.active, .drugPage li.active a {
                background: #039394;
                border: 1px solid #039394;
                color: #fff;
                font-weight: bold;
            }

        .changeable {
            border: 1px solid green !important;
            background-color: #ffffff;
        }
        .changeable:focus {
            border: 1px solid green !important;
            background-color: #ffffff;
        }

        .table-bordered > tbody > tr > td {
            border: 0px solid #ddd !important;
            border-left: 1px solid #ddd !important;
            border-right: 0px solid #ddd !important;
        }

        .table-bordered > tbody {
            border-right: 1px solid #ddd !important;
        }

        .badge {
            padding: 5px 10px 5px;
            font-size: 18.025px;
            font-weight: bold;
            white-space: nowrap;
            color: #ffffff;
            background-color: #999999;
            -webkit-border-radius: 13px;
            -moz-border-radius: 13px;
            border-radius: 13px;
            margin-right: 10px;
        }

            .badge:hover {
                color: #ffffff;
                text-decoration: none;
                cursor: pointer;
            }

        .badge-error {
            background-color: #b94a48;
        }

            .badge-error:hover {
                background-color: #953b39;
            }

        .badge-warning {
            background-color: #f89406;
        }

            .badge-warning:hover {
                background-color: #c67605;
            }

        .badge-success {
            background-color: #468847;
        }

            .badge-success:hover {
                background-color: #356635;
            }

        .badge-info {
            background-color: #3a87ad;
        }

            .badge-info:hover {
                background-color: #2d6987;
            }

        .badge-inverse {
            background-color: #333333;
        }

            .badge-inverse:hover {
                background-color: #1a1a1a;
            }

 .table-striped > tbody > tr:nth-child(2n+1) > td.changeable {
    background-color: #ede8e8;    
}
 .table-striped > tbody > tr:nth-child(2n) > td.changeable {
    background-color: #f8f8f8;    
}

        /*.table-striped > tbody > tr:nth-child(2n+1) > td span, .table-striped > tbody > tr:nth-child(2n+1) > th,.table-striped > tbody >tr >td span {

        display:block;
        padding:5px;
    }

    .table-striped > tbody > tr td,.table-striped > tbody > td span{
        padding:0px;
    }*/
</style>

@section scripts
{
<link asp-append-version="true" rel="stylesheet" href="/assets/js/jquery-confirm-3.0.3.min.css">
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
<script asp-append-version="true" src="/assets/js/jquery-confirm-2.0.3.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productlistappscript.js"></script>

    <script asp-append-version="true" src="~/appscript/product/productService.js"></script>

    <script asp-append-version="true" src="~/appscript/product/multiEditCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>

    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-strap.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-strap.tpl.js"></script>
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-export.js"></script>

}


