@{
    ViewBag.Title = "Products Listing";
    Layout = "_Layout";
}

@*ng-init="init()"*@
<div class="row" ng-app="hcue" ng-controller="updateproductlistingCtrl" ng-cloak>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row'>

                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left" ng-if="list.length == 0">
                No Records found
            </div>
            <div class="pull-right">
                <button title="Search" class="btn btn-style" ng-click="UpdateList()">Search</button>
            </div>
        </div>
    </div>
    <div class="" style="float:right">

        <a class="btn btn-primary" export export-data="list" export-title="'Drugs'" export-keys="['name','updatedAt','genericName','manufacturer','type','category','packageSize','vat','price','kindName','schedule','status']" export-headers="['Drug  Name','UpdatedAt', 'Generic Name','Manufacturer','Type','Category','Packaging','VAT%','Price','Kind','Schedule','Status']"><span class="glyphicon glyphicon-download-alt">&nbsp;</span>Export CSV</a>
    </div>  
    <div class="panel panel-default">
        <div class="panel-body productlist">
            <div class='marginLR-zero table-responsive'>
                <table class="table table-striped table-bordered" id="datatable1">

                    <tr>
                        <th>Product</th>
                        <th>Updated At</th>
                        <th>Generic Name</th>
                        <th>Manufacturer</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Packaging</th>
                        <th>VAT%</th>
                        <th>Price</th>
                        <th>Kind</th>
                        <th>Schedule</th>
                        <th>Status</th>
                        <th class="text-center">Edit</th>
                    </tr>

                    <tr ng-repeat="product in list">
                        <td colspan="12" ng-show="$parent.selectedIndex == $index">
                            <div ng-form="productForm">

                                <div class="panel-heading">Edit Product</div>
                                <div class="panel-body productform">
                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>

                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Product</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Name of drug" id="productName" required name="productName" type="text" placeholder="Name of drug" class="search-query form-control" ng-model="productsItem.name" ng-keyup="keyEnter($event,'genericName')">
                                                        <span class="error" ng-show="productForm.productName.$dirty && productForm.productName.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Updated At</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Name of drug" id="Updatedat" required name="productName" type="text" placeholder="Name of drug" class="search-query form-control" ng-model="productsItem.updatedAt" ng-keyup="keyEnter($event,'genericName')">
                                                        <span class="error" ng-show="productForm.productName.$dirty && productForm.productName.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Generic Name</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Generic Name" type="text" typeahead-focus-on-select="false" typeahead-min-length="0" placeholder="Generic Name" id="genericName" name="genericName" required ng-model="productsItem.genericName" uib-typeahead="product as product.genericName for product in getGeneric($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'manufacturer')">
                                                        <span class="error" ng-show="productForm.genericName.$dirty && productForm.genericName.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label class="required">Manufacturer</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Manufacturer" type="text" placeholder="Manufacturer" id="manufacturer" name="manufacturer" required ng-model="productsItem.manufacturer" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.manufacturer for product in getManufacturer($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'scheduledCategory')">
                                                        <span class="error" ng-show="productForm.manufacturer.$dirty && productForm.manufacturer.$error.required">Required!</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Scheduled Category</label>
                                                    @*<div class="input-group override_margin col-sm-12">
                                                            <input title="Scheduled Category" type="text" placeholder="Scheduled Category" id="scheduledCategory" name="scheduledCategory" ng-model="productsItem.schedule" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.schedule for product in getSchedule($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'type')">
                                                        </div>*@

                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Scheduled Category" type="text" placeholder="Scheduled Category" id="scheduledCategory" name="scheduledCategory" ng-model="productsItem.schedule" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="schedule as schedule.label for schedule in scheduleList" class="search-query form-control" ng-keyup="keyEnter($event,'type')">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>

                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Type</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Type" type="text" placeholder="Type" id="type" name="type" ng-model="productsItem.type" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.type for product in getType($viewValue)" uibTypeaheadHighlight:query class="search-query form-control" typeahead-show-hint="true" ng-keyup="keyEnter($event,'category')">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Category</label>
                                                    @*<div class="input-group override_margin col-sm-12">
                                                            <input title="Category" type="text" placeholder="Category" id="category" name="category" ng-model="productsItem.category" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.category for product in getCategory($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'kindName')">
                                                        </div>*@

                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Category" type="text" placeholder="Category" id="category" name="category" ng-model="productsItem.category" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="catogory as catogory.label for catogory in catogoryList" class="search-query form-control" ng-keyup="keyEnter($event,'kindName')">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Kind</label>
                                                    <div class="input-group override_margin col-sm-12">

                                                        <input type="text" id="kindName" name="kindName" class="form-control" ng-model="productsItem.kindName" data-min-length="0"
                                                               data-html="1" data-auto-select="true" bs-options="icon as icon.label for icon in kindNames"
                                                               placeholder="kind Name" bs-typeahead ng-keyup="keyEnter($event,'commodityCode')">
                                                        @*<input title="Kind" type="text" placeholder="Kind" id="kind" name="kind" ng-model="productsItem.kind" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')">*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Commodity Code</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Commodity Code" type="text" placeholder="Commodity Code" id="commodityCode" name="commodityCode" ng-model="productsItem.commodityCode" typeahead-focus-on-select="false" typeahead-min-length="0" uib-typeahead="product as product.commodityCode for product in getCommodity($viewValue)" class="search-query form-control" ng-keyup="keyEnter($event,'updateProduct')">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Packaging</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Packaging" type="text" placeholder="Packaging" id="packaging" name="packaging" ng-model="productsItem.packageSize" class="search-query form-control" ng-keyup="keyEnter($event,'vat')" valid-number>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Vat%</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Vat" type="text" placeholder="Vat" id="vat" name="vat" ng-model="productsItem.vat" class="search-query form-control" ng-keyup="keyEnter($event,'price')" valid-number>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Price</label>
                                                    <div class="input-group override_margin col-sm-12">
                                                        <input title="Price" type="text" placeholder="Price" id="price" name="price" ng-model="productsItem.price" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')" valid-number>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label>Status</label>
                                                    <div class="input-group col-md-12 override_margin">
                                                        <select chosen class="search-query form-control" ng-model="productsItem.status" ng-options="category.CategoryID as category.Name for category in categories"></select>

                                                        @*<select id="status" name="status" chosen title="Status" placeholder="Status" ng-model="productsItem.status" class="search-query form-control" ng-keyup="keyEnter($event,'commodityCode')">
                                                                <option value="1">Active</option>
                                                                <option value="2">InActive</option>
                                                            </select>*@
                                                    </div>

                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-sm-12 override_margin'>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>

                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>

                                                </div>
                                            </div>
                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>

                                                </div>
                                            </div>

                                            <div class='col-sm-3 override_margin'>
                                                <div class='form-group'>
                                                    <label></label>
                                                    <div class="col-md-12 override_margin">
                                                        <button title="Update Product" id="updateProduct" class="btn btn-style pull-left" ng-disabled="!productForm.$valid" my-enter="updateProduct()" ng-click="updateProduct()">Update</button> &nbsp; &nbsp; &nbsp;
                                                        <button title="Cancel" class="btn btn-style btn-cancel pull-left" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.name}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.updatedAt  | date:'dd-MM-yyyy'}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" class="col-sm-1">{{product.genericName}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.manufacturer}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.type}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.category}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.packageSize}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.vat}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.price}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.kindName}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.schedule}}</td>
                        <td ng-hide="$parent.selectedIndex == $index">{{product.status}}</td>
                        <td ng-hide="$parent.selectedIndex == $index" class="text-center"><span style="cursor: pointer;" title="Edit" ng-click="editProducts(product,$parent.selectedIndex=$index)" class="btn  btn-style text-center">Edit</span></td>
                    </tr>

                </table>
            </div>
            &nbsp;
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>
    </div>

</div>

@section scripts
{

    @*<script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
        <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

        <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
        <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

        <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
        <script asp-append-version="true" src="~/appscript/product/productlistingappscript.js"></script>

        <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>

        <script asp-append-version="true" src="~/appScript/product/updateProductListingctrl.js"></script>
        <script asp-append-version="true" src="~/appscript/model.js"></script>
        <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>

        <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
        <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
        <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
        <script asp-append-version="true" src="~/assets/js/angular-strap.js"></script>
        <script asp-append-version="true" src="~/assets/js/angular-strap.tpl.js"></script>
        <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
        <script asp-append-version="true" src="~/assets/js/angular-export.js"></script>

        <script asp-append-version="true" src="~/appscript/appscriptdatepicker.js"></script>*@





    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>

    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-strap.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-strap.tpl.js"></script>
    <script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-export.js"></script>

    <script asp-append-version="true" src="~/appscript/appscriptdatepicker.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    <script asp-append-version="true" src="~/appscript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productlistingappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>

    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>

    <script asp-append-version="true" src="~/appscript/product/updateproductlistingctrl.js"></script>





}
