﻿@using System.Threading.Tasks
@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    Layout = null;
}

<ng-form novalidate id="salesItems" name="salesItems" ng-init="init()">
@*<shortcut></shortcut>*@
<div class="row panelBorder override_margin">
    @await Html.PartialAsync("~/Views/Sales/_SalesCustomerSelection.cshtml")
    @await Html.PartialAsync("~/Views/Sales/_SalesDoctorSelection.cshtml")
</div>
<div class="col-md-9 override_margin">
    <div class="col-md-1 Hcolor schedulebg"><label class="txtUpper" style="font-size:10px;">Schedule- <span style="font-size:small">H</span> </label></div>
    <div class="col-md-1 H1color schedulebg"><label class="txtUpper" style="font-size:9px;">Schedule- <span style="font-size:small">H1</span> </label></div>
    <div class="col-md-1 Xcolor schedulebg"><label class="txtUpper" style="font-size:10px;">Schedule- <span style="font-size:small">X</span>  </label></div>
</div>
<div class="col-md-9 override_margin">
<div class="panel panel-default override_margin">
    <div class="panel-body orange-border-top override_margin sell-decor12">
        <div class='row override_margin'>
            <div class='col-md-4 override_margin'>
                <div class='form-group override_margin'>
                    <div class="input-group sell-group-decor3 txtUpper">
                        <label>Product [<span class="fkey">ctrl+a</span>]</label>
                        <input type="text" ng-model="selectedProduct"
                               typeahead-focus-on-select="false"
                               typeahead-min-length="1"
                               placeholder="Product"
                               id="drugName" required
                               name="drugName"
                               autofocus
                               title="Product Name"
                               typeahead-on-select="onProductSelect()"
                               typeahead-editable="false"
                               ng-keyup="CheckName()"
                               uib-typeahead="ps as ps.product.name for ps in getProducts($viewValue)"
                               class="form-control form-control-small "
                               typeahead-template-url="itemTpl.html" />
                        <script type="text/ng-template" id="itemTpl.html">

                                    <a tabindex="-1" class="Hcolor" ng-if="match.model.product.schedule == 'H'">
                                        <span ng-bind-template="{{match.model.product.name}}"></span>
                                    </a>
                                    <a tabindex="-1" class="H1color" ng-if="match.model.product.schedule == 'H1'">
                                        <span ng-bind-template="{{match.model.product.name}}"></span>
                                    </a>

                                    <a tabindex="-1" class="Xcolor" ng-if="match.model.product.schedule == 'X'">
                                        <span ng-bind-template="{{match.model.product.name}}"></span>
                                    </a>
                                    <a tabindex="-1" ng-if="match.model.product.schedule != 'H' && match.model.product.schedule != 'H1' && match.model.product.schedule != 'X'">
                                        <span ng-bind-template="{{match.model.product.name}}"></span>
                                    </a>

                                </script>
                    </div>
                    <span class="error" ng-show="salesItems.productName.$dirty && salesItems.productName.$error.required">Select drug name</span>
                </div>
            </div>
            <div class='col-md-1 override_margin'>
                <div class='form-group'>
                    <div class="input-group sell-group-decor3">

                        <label>Quantity</label>
                        <input title="Quantity" type="text" id="quantity" name="quantity" class="form-control" required placeholder="Qty" maxlength="7" ng-blur="validateQty()" ng-change="validateQty()" !ng-disabled="selectedProduct.product.name=='' || selectedProduct.product.name== undefined" ng-model="selectedBatch.quantity" ng-enter="addSales()" numbers-only valid-number />
                    </div>
                    <span class="error" ng-show="salesItems.quantity.$dirty && salesItems.quantity.$error.required">Required</span>
                    <div ng-messages="salesItems.quantity.$error" role="alert">
                        <span class="error override_margin" ng-if="selectedBatch.quantity > selectedBatch.totalQuantity && selectedBatch.editId == null" ng-message="required">Stock available is {{selectedBatch.totalQuantity}}</span>
                        <span class="error override_margin" ng-if="selectedBatch.quantity > selectedBatch.availableQty && selectedBatch.editId != null" ng-message="required">Stock available is {{selectedBatch.availableQty}}</span>
                    </div>
                    <span id="spnquantity" data-quantityId="{{selectedBatch.quantity}}" data-price="{{selectedBatch.sellingPrice}}" data-discount="{{selectedBatch.discount}}"></span>
                </div>
            </div>
            <div class='col-md-2 override_margin'>
                <div class="form-group override_margin">
                    <div class="input-group sell-group-decor col-md-12">
                        <label>Batch</label>
                        <select chosen
                                title="Batch Number"
                                option="batchList"
                                data-placeholder="Select Batch Number"
                                ng-disabled="selectedBatch.editId != null"
                                ng-model="selectedBatch"
                                ng-options="key as (item.batchNo + '   ('+ item.availableQty + ')') for (key, item) in batchList track by item.productStockId"
                                class="form-control override_margin small"
                                ng-change="batchSelected(selectedBatch)">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-1 sellDiscount override_margin" style="padding-right:1px;">
                <div class="form-group override_margin">
                    <div class="input-group sell-group-decor3">
                        <label class="lblSellDiscount">Dis % [<span class="fkey">F8</span>]</label>

                        <input type="text" title="Discount" id="discount" name="discount" class="form-control" ng-change="changediscountsale(selectedBatch.discount)" placeholder="Disc" ng-model="selectedBatch.discount" data-ng-class="selectedBatch.discount>100? 'highlight' :''" ng-keyup="keyEnter($event,'sellingPrice')" valid-number />
                        <span data-ng-if="selectedBatch.discount=='.'" class="highlight">Must be valid no. </span>
                        <span data-ng-if="selectedBatch.discount>100" class="highlight">Must be less than 100% </span>
                    </div>
                </div>
            </div>
            <div class='col-md-1 override_margin'>
                <div class="form-group override_margin">
                    <div class="input-group sell-group-decor3 expiry">
                        <label>Expiry</label>
                        <input title="Expire Date" type="text" id="expireDate" name="expireDate" class="form-control" value="{{selectedBatch.expireDate | date:'MM/yy'}}" disabled />
                        <span class="error" ng-if="highlight == 'Expiry'">{{selectedBatch.expireDate | date:'MMM yy'}}  {{highlight}}</span>
                        @*<span class="error">{{selectedBatch.expireDate | date:'MMM yy'}}{{highlight}}</span>*@
                    </div>
                </div>
            </div>
            <div class='col-md-1 override_margin' style="text-align: center;">
                <div class='form-group override_margin'>
                    <div class="input-group sell-group-decor3">
                        <label>VAT %</label>
                        <input title="vat" type="text" id="vat" name="vat" class="form-control" maxlength="4" ng-model="selectedBatch.vat" disabled />
                    </div>
                </div>
            </div>
            <div class='col-md-2 override_margin sellprice'>
                <div class='form-group override_margin'>
                    <div class="input-group sell-group-decor3">
                        <label>Price [<span class="fkey">F9</span>]</label>
                        @if (User.HasPermission(UserAccess.EditMrp) || User.HasPermission(UserAccess.Admin))
                        {
                            <input title="Selling Price" type="text" id="sellingPrice" name="sellingPrice" class="form-control" maxlength="9" ng-model="selectedBatch.sellingPrice" valid-number ng-change="validateSellingPrice(selectedBatch)" required ng-keyup="keyEnter($event,'btnSave')" />
                            //Comment Gavaskar 01-12-2016 Start
                                    @*<span class="error override_margin">{{valPurchasePrice}}</span>*@
                            //Comment Gavaskar 01-12-2016 End
                            //Added Gavaskar 01-12-2016 Start
                            <span class="error" style="margin-left:0px;" ng-if="(selectedProduct.name==''  && selectedBatch.purchasePrice=='') || (selectedBatch.purchasePrice > selectedBatch.sellingPrice)" data-ng-message="required">Price must be greater than Purchase Price</span>
                            //Added Gavaskar 01-12-2016 End
                            <span class="error" ng-show="sellingPrice.$dirty && sellingPrice.$error.required">Required</span>
                        }
                        else
                        {
                            <input title="Selling Price" type="text" id="sellingPrice" name="sellingPrice" class="form-control" maxlength="9" ng-model="selectedBatch.sellingPrice" disabled />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-4 pull-left sell-group-decor5 col-lg-4'>
                <div style="float:left;margin-right:20px;">
                    <label style="color:#3DB29F">Total Quantity : {{selectedBatch.totalQuantity}}</label>
                </div>
                <div style="float:left;">
                    <label style="color:#3DB29F">Rack Number : {{selectedBatch.rackNo}}</label>

                </div>
            </div>
            <div class='col-sm-3 pull-left'>
                <div class='form-group override_margin'>
                    <div class="input-group sell-group-decor4">
                        <label>Reminder [<span class="fkey">F10</span>]</label>
                        <div class='col-sm-12 pull-left override_margin'>
                            <div class='col-sm-10 pull-left override_margin'>
                                <select ng-model="selectedBatch.reminderFrequency" class="form-control ddlreminder" id="reminder">
                                    <option value="0" selected>None</option>
                                    <option value="16">Once</option>
                                    <option value="2">Weekly</option>
                                    <option value="4">Monthly</option>
                                    <option value="8">Yearly</option>
                                </select>
                            </div>
                            <div class="col-sm-4 pull-left override_margin input-group-btn wrapper-date">
                                &nbsp;
                            </div>
                        </div>
                        <div class='col-sm-12 pull-left override_margin'>
                            <div class='col-sm-10 pull-left override_margin'>
                                <input id="reminderDate" class="form-control col-sm-5 pull-left" name="reminderDate" type="text" placeholder="Reminder Date" ng-model="selectedBatch.reminderDate" uib-datepicker-popup="{{format}}" is-open="reminderPopup.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />

                            </div>
                            <div class="col-sm-4 pull-left override_margin input-group-btn wrapper-date" d>
                                <button type="button" class="btn btn-default btn1" ng-click="remiderOpen()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-2 col-lg-2'>
                <div>
                    <div>
                        <button type="button" id="btnSave" title="Add" class="btn btn-style" style="width:100%;" ng-disabled="!salesItems.$valid && Quantityexceeds==0" ng-click="addSales()">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-lg-2 pull-right" style="margin-top: 8px;padding:0px;">
                <div>
                    <label style="float:left;">Purchase Price:</label>
                    <label style="float:left;">{{selectedBatch.purchasePrice | number:2}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6  sell-group-decor3 override_margin" ng-if="sales.salesItem != 0">
    <div class="panel panel-default override_margin">
        <div class="panel-body orange-border-top">
            <div class='row override_margin'>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-10">
                    <label class="col-md-6 override_margin">Product</label>
                    <label class="col-md-2">Quantity</label>
                    <label class="col-md-2">Discount</label>
                    <label class="col-md-2">Price</label>
                </div>
                <div class="col-md-1">&nbsp;</div>
            </div>
            <div class='row'>
                <div ng-repeat="salesItem in sales.salesItem">
                    <div class="chip-style">
                        <span class="col-sm-12">
                                    <button type="button" title="+" class="col-md-1 chip-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                    <div class="col-md-10">
                                        <div class="col-md-7 ">
                                            <strong class="orange-text ng-binding">{{salesItem.product.name | uppercase}}</strong>
                                            <span ng-show="salesItem.availablestock >= 0" style="color:red;">[Avail.Qty : {{salesItem.availablestock}}]</span>
                                        </div>
                                        <div class="col-md-2"><span>{{salesItem.quantity}}</span></div>
                                        <div class="col-md-1"><span>{{salesItem.discount}}</span></div>
                                        <div class="col-md-2 " style="text-align:right"><span> {{salesItem.sellingPrice * salesItem.quantity | number:2}}</span></div>
                                    </div>
                                    <span class="col-md-1 glyphicon glyphicon-remove cross-icon pull-right" style="cursor: pointer;" title="Delete" ng-click="removeSales(salesItem)"></span>&nbsp;
                                    <span class="col-md-1 glyphicon glyphicon-edit cross-icon pull-right" style="cursor: pointer;" title="Edit" ng-click="editSales(salesItem)" ng-hide="salesItem.availablestock == 0"></span>&nbsp;
                                </span>

                    </div>
                    <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                        <table class="table">
                            <thead class="chips-header">
                            <tr>
                                <th>Batch No</th>
                                <th>Expired Date</th>
                                <th>VAT</th>
                                <th>Barcode</th>
                                <th>MRP</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-left">
                                <td>{{salesItem.batchNo}}</td>
                                <td>{{salesItem.expireDate | date:'MM/yy'}}</td>
                                <td>{{salesItem.vat}}</td>
                                <td>{{salesItem.purchaseBarcode}}</td>
                                <td>{{salesItem.sellingPrice}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default override_margin">
    <div class="panel-footer clearfix">
        <div class="pull-left">
            <a title="Alternates" ng-click="PopupAlternates()" class="btn btn-style btn-cancel">Alternates</a>
            <a title="Add New Product" ng-click="PopupAddNewProduct()" class="btn btn-style pull-right">Add New Product</a>
            <button type="button" class="btn btn-style" ng-click="showTempStockScreen()">Add Temporary Stock</button>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>

            <button type="button" id="saleComplete" ng-disabled="!isSaveValid() || IsSelectedInvoiceSeries" class="btn btn-style" ng-click="save()">Complete Estimate</button>
            <span style="color: #000;font-size: 10px;">[<span class="fkey">ESC</span>]</span>
        </div>
    </div>
</div>
</div>
<div class="col-md-3 override_margin">

    <div class="panel override_margin">
        <div class="panel-body orange-border-top override_margin">
            <div class='row'>
                <div class='col-md-12 sell-group-decor4'>
                    @if (User.HasPermission(UserAccess.BillDateEdit))
                    {
                        <div class="override_margin">
                            <div class='form-group'>
                                <label>Select Bill Date</label>
                                <div class="input-group col-md-12 override_margin">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Select Date" ng-model="selectedBillDate" is-open="popup2.opened" max-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                    <span class="input-group-btn wrapper-date">
                                            <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    }
                    <table cellpadding="0" cellspacing="0" border="0" class="table sell-table-decor">
                        <tbody>
                        <tr>
                            <th>Total</th>
                            <td class="text-small-gray">|</td>
                            <td class="text-right"><strong>{{setTotal1() | number:2}}</strong></td>
                        </tr>
                        <tr>
                            <th>VAT</th>
                            <td class="text-small-gray">|</td>
                            <td class="text-right"><strong>{{vat1() | number:2}}</strong></td>
                        </tr>
                        <tr>
                            <th>Discount % [<span class="fkey">F3</span>]</th>
                            <td class="text-small-gray">|</td>
                            <td class="text-right">
                                <input type="text" id="txtDiscount" data-ng-change="changeDiscount(sales.discount)" placeholder="0" min="0" max="100" data-ng-model="sales.discount" class="qty-input text-right " style="display:inline-block;" maxlength="3" data-ng-class="sales.discount>100? 'highlight' :''" valid-number ng-disabled="discountInValid" />
                                <span data-ng-if="sales.discount>100" class="highlight">Must be less than 100% </span>

                            </td>
                        </tr>
                        <tr>
                            <th>Discounted Value</th>
                            <td class="text-small-gray">|</td>
                            <td class="text-right"><strong>{{salesdiscount1() | number:2}}</strong></td>
                        </tr>
                        <tr>
                            <th>RoundOff Value</th>
                            <td class="text-small-gray">|</td>
                            <td class="text-right"><strong>{{ Math.round((tot - ((sales.discount / 100) * tot)))-(tot - ((sales.discount / 100) * tot)) | number:2}}</strong></td>
                        </tr>
                        <tr>
                            <th class="special">Net Value</th>
                            <td class="text-small-gray special">|</td>
                            <td class="text-right special"><strong>{{ Math.round(netTotal()) | number:2 }}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</ng-form>

@await Html.PartialAsync("~/Views/Sales/_SalesTempStock.cshtml");
@await Html.PartialAsync("~/Views/VendorPurchase/_CreateProduct.cshtml")

<style>
    .Hcolor {
        background-color: #82f7c5;
    }

    .H1color {
        background-color: #fcdf9a;
    }

    .Xcolor {
        background-color: #fabce2;
    }
</style>