@{
    ViewBag.Title = "Estimate";
    ViewBag.Menu = "Estimate";
}

@await Html.PartialAsync("~/Views/Sales/Menu.cshtml")

<div class="row" ng-app="hcue" ng-cloak>
    <input type="hidden" id="salesEditId" value="" />
    <div class="followup-list">
        <ul class="clearfix">
            <li>
                <a ng-href="#/estimate">
                    Estimate
                </a>
            </li>
            <li>
                <a ng-href="#/estimateList">
                    Estimate List
                </a>
            </li>
        </ul>
    </div>
    <ng-view></ng-view>
</div>
@section scripts
{

    <link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/angular-route.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>

    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>

    <script asp-append-version="true" src="~/appscript/sales/salesappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/estimate/routeScript.js"></script>
    <script asp-append-version="true" src="~/assets/js/file-upload.js"></script>

    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/cacheService.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientservice.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/salesservice.js"></script>
    <script asp-append-version="true" src="~/appscript/estimate/estimateService.js"></script>
    <script asp-append-version="true" src="~/appscript/estimate/estimateEditHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/productstock/productstockservice.js"></script>
    <script asp-append-version="true" src="~/AppScript/VendorPurchase/vendorPurchaseService.js"></script>
    <script asp-append-version="true" src="~/appscript/Accounts/CustomerReceipt/customerReceiptService.js"></script>
    <script asp-append-version="true" src="~/appscript/doctor/doctorservice.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productservice.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/printingHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/ExternalService/shortcutHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/patient/patientCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/helpers/customerHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/helpers/salesEditHelper.js"></script>
    <script asp-append-version="true" src="~/appscript/estimate/estimateCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/estimate/estimateListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/alternateProductSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/tempStockCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/missedOrderCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/sales/productDetailSearchCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/product/productCreateCtrl.js"></script>
    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

}

@section reloadwarning
{
    <script language="JavaScript">
        function confirmExit() {
            return "You have attempted to leave this page.  If you have made any changes to the fields without clicking the Save button, your changes will be lost.  Are you sure you want to exit this page?";
        }
    </script>
}

