﻿@using HQue.Contract.Infrastructure.UserAccount
@using Utilities.Helpers
@{
    Layout = null;
}

<div class="row panelBorder">
    <div class="panel panel-default">
        <div class="col-sm-12" style="padding:0;">
            <div class="panel">
                <div class="panel-body orange-border-top list-wrapper sell-group-decor8">
                    <div class='row  '>
                        <div class="row tblHeader">
                            <div class="col-md-12 small override_margin" style="font-weight:bold; margin: 10px 0px 26px;">
                                <div class="col-md-3 override_margin">
                                    <span class="col-md-3 col-md-offset-1" style="padding:0px;">Bill No.</span>
                                    <span class="col-md-7">Bill Date</span>
                                </div>
                                <div class="col-md-3 override_margin">
                                    <span class="col-md-6 override_margin">Customer</span>
                                    <span class="col-md-6 override_margin">Customer Mobile</span>
                                </div>
                                <div class="col-md-2 override_margin">
                                    <span class="col-md-5 override_margin">Doctor</span>
                                    @*<span class="col-md-5 override_margin">Doctor Mobile</span>*@
                                    <span class="col-md-2 override_margin">Disc.%</span>
                                    @*<span class="col-md-2 override_margin pull-right">Credit</span>*@
                                </div>
                                <div class="col-md-4 override_margin">
                                    <span class="col-md-3"><span class="pull-right">Price</span></span>
                                    <span class="col-md-6">&nbsp;</span>
                                </div>

                            </div>
                        </div>
                        <div ng-repeat="sales in list">
                            <div class="chip-style sell-group-decor8">
                                <div class="col-md-3 sell-group-decor9">
                                    <button class="col-md-2 chip-btn" title="+" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                    <span class="col-md-4 sell-decor11"> {{sales.invoiceNo}}</span>
                                    <span class="col-md-6 sell-decor11">{{sales.invoiceDate | date:'dd/MM/yyyy' }}</span>
                                </div>
                                <div class="col-md-3 sell-group-decor9">
                                    <strong class="col-md-6 orange-text sell-decor11 txtCaps" ng-hide="sales.IsEdit">{{sales.name}}</strong>
                                    <input class="col-md-6 sell-decor12" ng-show="sales.IsEdit" type="text" id="name" name="name" placeholder="Customer Name" maxlength="30" style="min-width:200px;" ng-model="sales.name">
                                    <span class="col-md-4 sell-decor11" ng-hide="sales.IsEdit">{{sales.mobile}}</span>
                                    <input class="col-md-4 sell-decor12" ng-show="sales.IsEdit" type="text" id="mobile" name="mobile" placeholder="Mobile No." maxlength="30" ng-model="sales.mobile" style="margin-left:2px; min-width:120px;" valid-number>
                                    <span class="col-md-2 sell-decor11" ng-if="sales.fileName != null">
                                        <a ng-href="/sales/Download?fileName={{sales.fileName}}" target="_blank" class="text-center"><img src="/assets/images/Rx.png" class="nav-image margin-top-3" title="Download" /></a>
                                    </span>
                                </div>
                                <div class="col-md-2 sell-group-decor9">
                                    <span class="col-md-5 sell-decor11 txtCaps" ng-hide="sales.IsEdit">{{sales.doctorName}}</span>
                                    <input class="col-md-5 sell-decor12" ng-show="sales.IsEdit" type="text" id="doctorName" name="doctorName" placeholder="Doctor Name" maxlength="30" style="min-width:200px;" ng-model="sales.doctorName">
                                    @*<span class="col-md-5 sell-decor11" ng-hide="sales.IsEdit">{{sales.doctorMobile}}</span>
                                        <input class="col-md-5 sell-decor12" ng-show="sales.IsEdit" type="text" id="doctorMobile" name="doctorMobile" placeholder="Doctor Mobile" maxlength="30" style="margin-left:2px; min-width:120px;" ng-model="sales.doctorMobile" valid-number>*@
                                    <span class="col-md-2 sell-decor11" ng-hide="sales.IsEdit">{{(sales.discount>0)?sales.discount +'%':''}}</span>
                                    @*<span class="col-md-2 sell-decor11" ng-hide="sales.IsEdit">{{(sales.credit>0)?sales.credit:''}}</span>*@
                                </div>
                                <div class="col-md-4 sell-group-decor9">
                                    <div class="col-md-3 sell-decor11"><span class="pull-right"><i class="fa fa-rupee" title="Total"></i> {{sales.roundOff | number:2}}</span></div>
                                    <div class="col-md-4 override_margin">
                                        <span class="glyphicon glyphicon-print" style="cursor: pointer; padding:4px; margin: 2px;" ng-click="printBill(sales)" ng-hide="sales.cancelstatus==1"></span>
                                        @if (User.HasPermission(UserAccess.EstimateEdit))
                                        {
                                            <button class="col-md-4 btn btn-style text-center" style="margin: 4px !important; font-size: 10px" title="Edit" ng-click="editBill(sales)">Edit</button>
                                        }
                                    </div>
                                    <button class="col-md-5 btn btn-style text-center" disabled style="margin:4px !important; font-size:16px;background-color:orangered" title="Cancelled" ng-show="sales.cancelstatus==1">Cancelled Bill</button>
                                </div>
                            </div>

                            <div class="chips-wrapper override_margin" style="overflow: hidden; display: none;" id="chip-wrapper{{$index}}">
                                <table class="table override_margin sell-group-decor10">
                                    <thead class="chips-header">
                                        <tr>
                                            <th>Product</th>
                                            <th>Batch</th>
                                            <th>Expiry</th>
                                            <th>VAT (%)</th>
                                            <th>Discount</th>
                                            <th>Quantity</th>
                                            <th>MRP</th>
                                            <th>Price</th>
                                            @*<th>Total : &nbsp;&nbsp;<i class="fa fa-rupee" title="Total"></i> {{sales.listTotal | number:2}}</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-left" ng-repeat="salesItem in sales.estimateItem">
                                            <td class="txtUpper">{{salesItem.productStock.product.name}}</td>
                                            <td>{{salesItem.productStock.batchNo}}</td>
                                            <td>{{salesItem.productStock.expireDate | date:'MM/yy'}}</td>
                                            <td>{{salesItem.productStock.vat}}</td>
                                            <td>{{salesItem.discount}}</td>
                                            <td>{{salesItem.quantity}}</td>
                                            <td>{{salesItem.sellingPrice>0?salesItem.sellingPrice:salesItem.productStock.sellingPrice | number:2}}</td>
                                            <td>
                                                @*{{salesItem.sellingPrice>0?(salesItem.sellingPrice * salesItem.quantity):(salesItem.productStock.sellingPrice * salesItem.quantity) | number:2}}*@
                                                {{salesItem.total | number:2}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left" ng-if="list.length == 0">
                        No Records found
                    </div>
                </div>
                @await Html.PartialAsync("~/views/shared/_pagination.cshtml") 
            </div>
        </div>
    </div>
</div>