@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Customer Ledger";
    ViewBag.Menu = "Reports";
}

<div class="row rptTitle">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div class="row" ng-app="hcue" ng-controller="customerLedgerCtrl" ng-init="init()" ng-cloak>

    <ng-form novalidate id="vendorPurchaseItems" name="vendorPurchaseItems">

        <div class="panel panel-default  override_margin">
            <div class="panel-body override_margin">
                <div class="row">
                    <div class='col-md-12 override_margin'>
                        <div class='row override_margin'>
                            <div class='col-sm-2 override_margin'>
                                <div class='form-group'>
                                    <label>Select Filter</label>
                                    <div class="input-group col-md-12 override_margin">
                                        <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select Filter" ng-model="search.select" ng-change="changefilters()" class="form-control" required>
                                            <option value="">Please Select</option>
                                            <option value="supplier">Supplier</option>
                                            <option value="mobile">Mobile</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class='col-sm-2 override_margin' ng-if="selectMobile==true">
                                <div class='form-group'>
                                    <label>Enter Mobile</label>                                   
                                    <input type="text" ng-model="search.mobile"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Enter Mobile"
                                           id="mobile" required
                                           name="Mobile"
                                           title="Mobile"
                                           ng-enter="supplierDetailsReport()" 
                                           typeahead-on-select="onSupplierSelect($item)"
                                           typeahead-editable="false"
                                           uib-typeahead="ps as ps.mobile for ps in getSupplierMobile($viewValue)"
                                           class="form-control form-control-small"
                                           typeahead-template-url="itemTpls1.html" autofocus />

                                    <script type="text/ng-template" id="itemTpls1.html">
                                        <a tabindex="-1" style="text-decoration:none">
                                            <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                                        </a>
                                        <div style="color:#fbaf67"></div>
                                    </script>
                                </div>
                            </div>

                            <div class='col-md-2 override_margin' ng-if="selectSupplier==true">
                                <div class='form-group'>
                                    <label>Select Supplier</label>

                                    <input type="text" ng-model="search.supplier"
                                           typeahead-focus-on-select="false"
                                           typeahead-min-length="1"
                                           placeholder="Enter Supplier"
                                           id="supplierName" required
                                           name="supplierName"
                                           title="Supplier name"
                                           ng-enter="supplierDetailsReport()" 
                                           typeahead-on-select="onSupplierSelect($item)"
                                           typeahead-editable="false"
                                           uib-typeahead="ps as ps.name for ps in getSupplierName($viewValue)"
                                           class="form-control form-control-small"
                                           typeahead-template-url="itemTpls.html" autofocus/>

                                    <script type="text/ng-template" id="itemTpls.html">

                                        <a tabindex="-1" style="text-decoration:none">
                                            <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                                        </a>
                                        <div style="color:#fbaf67"></div>

                                    </script>
                                </div>
                            </div>


                            <div ng-show="chkDate==true">
                                <div class='col-sm-2 override_margin'>
                                    <div class='form-group'>
                                        <label>From Date</label>
                                        <div class="input-group override_margin col-sm-12">
                                            <input type="text"
                                                   title="From date"
                                                   id="fromDate"
                                                   name="fromDate"
                                                   required class="form-control"
                                                   uib-datepicker-popup="{{format}}"
                                                   placeholder="DD/MM/YYYY"
                                                   ng-model="fromDate"
                                                   is-open="popup1.opened"
                                                   datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   alt-input-formats="altInputFormats"
                                                   d my-date nextid="toDate" focus-box ng-keyup="checkFromDate()" ng-change="checkFromDate()" />
                                            <span class="input-group-btn wrapper-date">
                                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="error" ng-show="!validFromDate">Enter correct format date</span>
                                </div>
                                <div class='col-sm-2 override_margin'>
                                    <div class='form-group'>
                                        <label>To Date</label>
                                        <div class="input-group override_margin col-sm-12">
                                            <input type="text"
                                                   title="To date"
                                                   id="toDate"
                                                   name="toDate"
                                                   required class="form-control"
                                                   uib-datepicker-popup="{{format}}"
                                                   placeholder="DD/MM/YYYY"
                                                   ng-model="toDate"
                                                   is-open="popup2.opened"
                                                   datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   alt-input-formats="altInputFormats"
                                                   d my-date ng-keyup="checkToDate()" ng-change="checkToDate()" />
                                            <span class="input-group-btn wrapper-date">
                                                <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="error" style="margin-left:0px;" ng-show="!validDate">To Date must be greater than From Date</span>
                                    <span class="error" ng-show="!validToDate">Enter correct format date</span>
                                </div>
                            </div>

                            <div class='col-sm-3 override_margin'>
                                <div class='form-group' style="margin-top:25px;">
                                    <div class="input-group override_margin col-sm-12">
                                        <button title="Search" name="search" id="search" class="btn btn-style" ng-click="supplierDetailsReport()" ng-disabled="!(search.mobile || search.supplier) || !validDate || !validFromDate || !validToDate" ng-enter="supplierDetailsReport()">Search</button>
                                        <button title="Cancel" class="btn btn-style btn-cancel" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-form>
    <div class="pull-right">
      
    </div>
    <script type="text/x-kendo-template" id="page-template">
        <div class="page-template">
            <div class="header">
                <label id="instanceName">  </label>

            </div>
            <div class="footer">
                <div style="float: right">Page #: pageNum # of #: totalPages #</div>
            </div>
        </div>
    </script>
    <div class="panel panel-default rptMargin" ng-hide="supplierList==true">
        <div class="panel-body rptMargin">
            <div class="col-sm-10">
                <div class="rptHeader">Supplier Ledger</div>
            </div>

            <div class="pull-right" style="padding:7px;">
                <a id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></a>
                <button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
            </div>
        </div>        
        <div class="report-tables">
            <div id="grid" class='rptKendo' ng-hide="supplierList==true"></div>  
        </div>
    </div>
</div>
        <style>
            .inActivecolor {
                background-color: #82f7c5;
            }

            .Activecolor {
                background-color: #fcdf9a;
            }

        </style>


        @section scripts
{
            <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
            <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
            <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
            <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
            <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

            <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
            <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
            <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

            <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
            <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
            <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
            <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

            <script asp-append-version="true" src="~/AppScript/Accounts/CustomerReceipt/customerReceiptAppScript.js"></script>
            <script asp-append-version="true" src="~/appscript/model.js"></script>

            <script asp-append-version="true" src="~/appscript/reports/customerreport/customerAccountService.js"></script>
            <script asp-append-version="true" src="~/appscript/reports/customerreport/customerLedgerCtrl.js"></script>


            <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
            <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
            <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

            <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
            <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
            <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
            <script>

                $("#btnPdfExport").kendoButton(
                {
                    click: function () {
                        $("#grid").data("kendoGrid").saveAsPDF();

                    }
                });

                $("#btnXLSExport").kendoButton(
                {
                    click: function () {
                        $("#grid").data("kendoGrid").saveAsExcel();
                    }
                });

            </script>
        }


