
@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
    

@{
    ViewBag.Title = "Payment Modification & Cancellation";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div ng-app="hcue" ng-controller="paymentReceiptCancelReportCtrl" ng-init="init()" ng-cloak> 
    <div class="panel panel-default override_margin">
        <div class="panel-body">
          
            @if (User.HasPermission(UserAccess.Admin))
            {
                <div class="col-sm-2 override_margin">
                    <label>Select Branch Type</label>
                    @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                </div>
            }

            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <label>Select From Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <label>Select To Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-dat e="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                        <span class="input-group-btn wrapper-date">
                            <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

           
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>
                    <label>Select Filter</label>
                    <div class="input-group col-md-12 override_margin">
                        <select id="vendor" name="vendor" title="Vendor Name" placeholder="Select Filter" ng-model="search.select" ng-change="changefilters()" class="form-control"  ng-enter="buyReport()" required>
                            <option value="">Please Select</option>
                            <option value="supplier">Supplier</option>
                            @*<option value="customer">Customer</option>*@
                        </select>
                    </div>
                </div>
            </div>

            <div class='col-md-2 override_margin' ng-if="selectSupplier==false">
                <div class='form-group'>
                    <label>Select Supplier</label>
                    <input type="text" ng-model="searchSupplierPayment.supplier"
                           typeahead-focus-on-select="false"
                           typeahead-min-length="1"
                           placeholder="Enter Supplier"
                           id="supplierName" required
                           name="supplierName"
                           title="Supplier name"
                           ng-enter="buyReport()"
                           typeahead-on-select="onSupplierSelect($item)"
                           typeahead-editable="false"
                           uib-typeahead="ps as ps.name for ps in getSupplierName($viewValue)"
                           class="form-control form-control-small"
                           typeahead-template-url="itemTpls.html" autofocus />  @*ng-enter="supplierDetailsReport()"*@

                    <script type="text/ng-template" id="itemTpls.html">

                        <a tabindex="-1" style="text-decoration:none">
                            <span ng-bind-template="{{match.model.name}} - ({{match.model.mobile}})"></span>
                        </a>
                        <div style="color:#fbaf67"></div>

                    </script>
                </div>
            </div>

            <div class='col-md-2 override_margin' ng-if="selectCustomer==false">
                <div class='form-group'>
                    <label>Select Customer</label>
                    <input type="text" ng-model="searchCustomerPayment.customer"
                           typeahead-focus-on-select="false"
                           typeahead-min-length="1"
                           placeholder="Enter Customer Name"
                           id="customerName" required
                           name="customerName"
                           title="Customer name"
                           typeahead-on-select="onCustomerSelect($item)"
                           typeahead-editable="false"
                           ng-enter="buyReport()"
                           uib-typeahead="psc as psc.name for psc in getCustomerName($viewValue)"
                           class="form-control form-control-small"
                           typeahead-template-url="itemTplsc.html" />  @*ng-enter="customerDetailsReport()"*@

                    <script type="text/ng-template" id="itemTplsc.html">

                        <a tabindex="-1" style="text-decoration:none">
                            <span ng-bind-template="{{match.model.customerName}} - ({{match.model.customerMobile}})"></span>
                        </a>
                        <div style="color:#fbaf67"></div>

                    </script>
                </div>
            </div>

           
            <div class='col-sm-2 override_margin'>
                <div class='form-group'>

                    <label>&nbsp;</label>
                    <div class="input-group col-md-12 override_margin">
                        <button title="Search" class="btn btn-style" ng-click="buyReport()"  >Search</button> @*ng-disabled="!(search.select.supplier || search.select.customer)"*@
                        <button title="Cancel" class="btn btn-style btn-cancel" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                    </div>

                </div>
            </div>
            @*<br />
            <div class="pull-right">
                <a id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></a>
                <button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
            </div>
            <br />
            <div><span class="reportHeader"><b>Payment/Receipt cancellation</b></span></div>*@
        </div>

    </div>

    <div class="panel panel-default override_margin" ng-hide="paymentList==true">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>

            <div class="panel-body rptMargin" ng-hide="paymentList==true">
                <div class="col-sm-10">
                    <div class="rptHeader">Payment Modification & Cancellation</div>
                </div>
                <div class="pull-right" style="padding:7px;">
                    @*<a id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></a>
                    <button class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>*@
                    <button ng-hide="dateRangeExceeds" ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                    <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
                </div>
            </div>

            <div class="report-tables">
                <div id="grid"  class='rptKendo'></div>
            </div>
            <div ng-show="data.length > 0" class="row">
                <div class="col-lg-4 text-right" style="padding-right: 0px;">
                    <span><b>Note: </b></span>
                </div>
                <div class="col-lg-6 text-left">
                    <span>Download on Excel available only for data less than 2 months</span>
                </div>
            </div>
           
        </div>
    </div>
</div>
<style>
    .radio label {    
    line-height: 19px;
}
</style>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>


    <script asp-append-version="true" src="~/appscript/appreportscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>

<script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
<script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

    <script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script>
    <script asp-append-version="true" src="~/AppScript/Reports/customerReport/paymentReceiptCancelReportCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/supplierreport/supplierreportservice.js"></script>
<script asp-append-version="true" src="~/appscript/reports/customerreport/customerAccountService.js"></script>
    <script asp-append-version="true" src="~/appScript/sales/salesService.js"></script>

    @*<script asp-append-version="true" src="~/assets/js/ui-grid/csv.js"></script>*@
    @*<script asp-append-version="true" src="~/assets/js/ui-grid/pdfmake.js"></script>*@

    <script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />


    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

    <script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


    </script>
}
