@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "Till Report";
    ViewBag.Menu = "Reports";
}

<div class="row rptTitle">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>

<div class="row" ng-app="hcue" ng-controller="tillReportCtrl" ng-init="init()" ng-cloak>

    <ng-form novalidate id="vendorPurchaseItems" name="vendorPurchaseItems">

        <div class="panel panel-default  override_margin">
            <div class="panel-body override_margin">
                <div class="row">
                    <div class='col-md-12 override_margin'>
                        <div class='row override_margin'>

                           

                                    <div class='col-sm-4 override_margin'>
                                        <div class='form-group'>
                                            <label>Date</label>
                                            <div class="input-group override_margin col-sm-12">
                                                <input type="text"
                                                       title="From date"
                                                       id="fromDate"
                                                       name="fromDate"
                                                       required class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       placeholder="DD/MM/YYYY"
                                                       ng-model="fromDate"
                                                       is-open="popup1.opened"
                                                       datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)"
                                                       ng-required="true"
                                                       close-text="Close"
                                                       alt-input-formats="altInputFormats"
                                                       d my-date nextid="go" focus-box  autofocus />
                                                <span class="input-group-btn wrapper-date">
                                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button> &nbsp;
                                                    <button title="go" name="search" id="go" class="btn btn-style" ng-click="getTillDates()" ng-enter="getTillDates()">Go</button>

                                                </span>
                                            </div>
                                        </div>

                                    </div>
                               

                           
                            <div class='col-sm-4 '>
                                <div class='form-group'>
                                    <label>Select Available Date & Time</label>
                                    <div class="input-group col-md-12 override_margin">
                                        <select id="dateavalable" name="dateavalable" title="dates available" placeholder="Select anyone"  class="form-control"
                                                 ng-options="option.transactionDate |date:'dd-MM-yyyy HH:mm:ss' for option in DateAvailables track by option.id"
                                            ng-model="selectedOption" required>
                                        </select>
                                    </div>
                                </div>
                            </div>
                          

                            

                            <div class='col-sm-3 override_margin'>
                                <div class='form-group' style="margin-top:25px;">
                                    <div class="input-group override_margin col-sm-12">
                                        <button title="Search" name="search" id="search" class="btn btn-style" ng-disabled="searchBtnActive" ng-click="pettyCashDetailsReport()"  ng-enter="pettyCashDetailsReport()">Search</button>
                                        <button title="Cancel" class="btn btn-style btn-cancel" style="margin-left:4px;" ng-click="cancel()">Cancel</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-form>

   

    <script type="text/x-kendo-template" id="page-template">
        <div class="page-template">
            <div class="header">
                <label id="instanceName">  </label>

            </div>
            <div class="footer">
                <div style="float: right">Page #: pageNum # of #: totalPages #</div>
            </div>
        </div>
    </script>
    <div class="panel panel-default rptMargin" ng-hide="customerList==true">
        <div class="panel-body rptMargin">
            <div class="rptHeader">Till Report</div>
        </div>
        <div class="pull-right" style="padding:7px;">            
            <button ng-disabled="data.length==0" ng-click="btnTXTExport()" class="btn btn-style k-button" id="btnTXTExport" title="Export to Txt"><i class="fa fa-print" style="color:darkred" aria-hidden="true"></i></button>

            <button ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
            <button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>
        </div>
        <div class="cName"> TILL SAVED DATE & TIME: {{selectedOption.transactionDate |date:'dd-MM-yyyy HH:mm:ss'}}</div>
        <div class="cName"> User Name: {{UserName}}</div>
        <div id="grid" class='rptKendo' ></div>
         <div style="float:left;padding:10px;"> Status: <span style="font-weight:bold;font-size:18px;"> {{diffTotal}} </span><span style="font-weight:bold;font-size:18px;">{{status}} </span></div>
        <div style="float:right;padding:10px;">Till Total: {{cashOnHand}} </div>
    </div>
    <br/><br />
</div>
<style>
    .inActivecolor {
        background-color: #82f7c5;
    }

    .Activecolor {
        background-color: #fcdf9a;
    }
</style>


@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
    <script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    @*<script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
        <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
        <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
        <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />*@

    <script asp-append-version="true" src="~/AppScript/Accounts/CustomerReceipt/customerReceiptAppScriptNew.js"></script>
    @*<script asp-append-version="true" src="~/appscript/appscript.js"></script>*@
    @*<script asp-append-version="true" src="~/appscript/appreportscript.js"></script>*@
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
    <script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customerreport/customerAccountService.js"></script>
<script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script>
    <script asp-append-version="true" src="~/appscript/reports/customerreport/tillReportCtrl.js"></script>


    <script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
    <script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>

    <link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />
    <script>

                $("#btnPdfExport").kendoButton(
                {
                    click: function () {
                        $("#grid").data("kendoGrid").saveAsPDF();

                    }
                });

                $("#btnXLSExport").kendoButton(
                {
                    click: function () {
                        $("#grid").data("kendoGrid").saveAsExcel();
                    }
                });

    </script>
}


