@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@{
    ViewBag.Title = "GSTR-2 Purchase Summary";
    ViewBag.Menu = "Reports";
}

<div class="row">
    @await Html.PartialAsync("~/Views/Shared/_ReportsMenu.cshtml")
</div>


<div ng-app="hcue" ng-controller="gstr2PurhaseSummaryCtrl" data-ng-init="init('@User.IsComposite()')" ng-cloak>
    <div  >
    <div class="panel panel-default override_margin">
        <div class="panel-body">
            @if (User.IsComposite() == "True")
            {
                <h5 class="pull-left sales-head-title" style="font-size:18px">GSTR-4 Purchase Summary</h5>
            }
            else
            {
                <h5 class="pull-left sales-head-title" style="font-size:18px">GSTR-2 Purchase Summary</h5>
            }

                <div class="col-md-1 no-pad">
                                <select class="form-control" ng-model="searchType" >
                                    <option value="gstin">GSTIN</option>
                                    <option value="branch">Branch</option>
                                    
                                </select>
                            </div>
                         
                <div class="col-sm-2" ng-hide="searchType=='branch'">
                    <div class="input-group">
                        <select id="gstin"
                                name="gstin"
                                style="padding:2px 10px;width:160px"
                               
                                title="GSTin Number "
                                option="gstinList"
                                data-placeholder="Select GSTin Number"
                                ng-model="selectedGstin"
                                ng-options="option.gsTinNumber for option in gstinList track by option.gsTinNumber"
                                class="form-control small h-30"
                                
                                 >
                         
                        </select>
                    </div>
                </div>
                
                <div class="col-sm-2" ng-hide="searchType!='branch'">
                    @await Html.PartialAsync("~/Views/Shared/_BranchList.cshtml")
                </div>
            
            <div class="col-sm-2" style="padding:2px 10px;width:160px">
                
                    <div class="input-group" >
                        <select class="form-control" name="" title="GRN/Invoice Date" ng-model="isInvoiceDate">
                            <option value="0">GRN Date</option>
                            <option value="1">Invoice Date</option>
                        </select>
                    </div>
                
            </div>


                    <div class='col-sm-2'>
                        <div class='form-group'>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date" ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-2' style="padding:0px">
                        <div class='form-group'>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="To Date" ng-model="to" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>  
                    </div>
                    <div class="pull-left">
                        <button title="Search" class="btn btn-style" ng-click="gstr3b()">Search</button>
                    </div>
                    <br />
                    <div class="pull-right">
                        <button type="submit" title="Export to CSV" ng-disabled="data.length==0" ng-csv="data" csv-header="['Invoice Date',
          'Invoice Number',
        'GSTIN/UIN of Supplier',
        'Name of Supplier', 'Place Of Supply', 'GST %', 'Taxable Value', 'IGST Amount', 'CGST Amount', 'SGST/UTGST Amount', 'CESS Amount', 'Total Tax + Cess', 'Invoice Value', 'Branch Name', 'Branch GSTIN']"
                                csv-column-order="['invoiceDate1',
          'invoiceNumber',
        'recipientGSTin',
        'recipientName', 'placeOfSupply', 'gstTotal', 'valueWithoutTax', 'igstAmount', 'cgstAmount', 'sgstAmount', 'cess', 'taxAmount', 'invoiceValue', 'branchName', 'branchGSTin']"
                                filename="{{fileName}}.csv" onclick="setFileName()">

                            <img src="~/assets/images/csv.png" />
                            @*<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>*@
                        </button> 
                        <button ng-disabled="data.length==0" class="btn btn-style" id="btnXLSExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="color:green" aria-hidden="true"></i></button>
                        @*<button ng-disabled="data.length==0" class="btn btn-style" id="btnPdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="color:darkred" aria-hidden="true"></i></button>*@
                    </div>


                </div>

            </div>

    <div class="panel panel-default override_margin">
        <div class="panel-body">


            <script type="x/kendo-template" id="page-template">
                <div class="page-template">
                    <div class="header">
                        <label id="instanceName"> Company Name </label>
                    </div>
                    <div class="footer">
                        <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                    </div>
                </div>
            </script>
            <div class="report-tables">
                <div id="grid"></div>
            </div>
          
            
         
        </div>
    </div>
        <h1 class="pull-left sales-head-title" style="font-size:18px">Import and Other than Registered Vendors</h1>
        <div class="panel panel-default override_margin">
        
            <div class="panel-body">
             

                <script type="x/kendo-template" id="page-template">
                    <div class="page-template">
                        <div class="header">
                            <label id="instanceName"> Company Name </label>
                        </div>
                        <div class="footer">
                            <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                        </div>
                    </div>
                </script>
                <div class="report-tables">
                    <div id="grid1"></div>
                </div>



            </div>
        </div>
    </div>
    @*For show confirmation msg popup window*@
    @{
        await Html.RenderPartialAsync("_showConfirmMsg");
    }
</div>

@section scripts
{
<script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/assets/js/angular-sanitize.min.js"></script>
<script asp-append-version="true" src="~/lib/angular-touch/angular-touch.js"></script>
<script asp-append-version="true" src="~/lib/angular-animate/angular-animate.js"></script>
<script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
<script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

<script asp-append-version="true" src="~/assets/plugins/kendo/jszip.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/kendo.all.min.js"></script>
<script asp-append-version="true" src="~/assets/plugins/kendo/pako_deflate.min.js"></script>
     
<script asp-append-version="true" src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
<script asp-append-version="true" src="~/assets/js/ng-csv.js"></script>
<link asp-append-version="true" href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />

<script asp-append-version="true" src="~/AppScript/Reports/gstReport/gstReportAppScript.js"></script>
<script asp-append-version="true" src="~/appscript/model.js"></script>

<script asp-append-version="true" src="~/AppScript/common/BranchServcie.js"></script>
<script asp-append-version="true" src="~/AppScript/common/branchListCtrl.js"></script>

 
<script asp-append-version="true" src="~/appScript/Reports/gstReport/gstreportservice.js"></script>   
<script asp-append-version="true" src="~/appScript/Reports/gstReport/gstr2PurhaseSummaryCtrl.js"></script>

<script asp-append-version="true" src="~/appscript/reports/sales/salesreportservice.js"></script> 
<link asp-append-version="true" rel="stylesheet" href="~/assets/css/kendo.common-material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.material.min.css" />
<link asp-append-version="true" rel="stylesheet" href="~/assets/plugins/kendo/kendo.default.mobile.min.css" />

<script asp-append-version="true" src="~/AppScript/common/showConfirmMsgCtrl.js"></script>
<script asp-append-version="true" src="~/appscript/angular-modal-service.js"></script>
<link asp-append-version="true" href="~/assets/css/reminder-extended.css" rel="stylesheet" />


<script>

        $("#btnPdfExport").kendoButton(
        {
            click: function () {
                $("#grid").data("kendoGrid").saveAsPDF();
            }
        });


        $("#btnXLSExport").kendoButton(
        {
            click: function () {
                $("#instanceName").text("Qbitz Tech");
                $("#grid").data("kendoGrid").saveAsExcel();
            }
        });


</script>

}
