﻿@using Utilities.Helpers

<ul class="nav hidden-xs" id="lg-menu">
    @if (User.HasInstanceId())
    {
        <li class="@(ViewBag.Menu == "Reports" ? "active" : "")">
            <a asp-action="DistributorBranchList" asp-controller="DistributorReport" class="list-group-item red-border">
                <span class="nav-img-wrapper"> <img src="/assets/images/reports.png" class="nav-image margin-top-5" /></span>
                <span class="nav-lbl">Low Stock</span>
            </a>
        </li>
    }
</ul>
<ul class="nav visible-xs" id="xs-menu">
    <li><a href="#reports" class="text-center"><img src="/assets/images/reports-icon.png" class="nav-image margin-top-3" title="Reports" /></a></li>
</ul>