﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount


<div id="sidebar">
    <a href="#" title="" class="menu-action"><img src="/assets/edge/images/menu-arrow-close.png" alt=""></a>
    <div class="left-nav">
        <ul>
            <li class="header-logo">
                <a href="#" title="" class="logo">
                    <div class="menu-list">
                        <img src="/assets/edge/images/logo-menu.png" alt="" class="lisi-img">
                        <span><img src="/assets/edge/images/logo-menu-1.png" alt=""></span>
                    </div>
                </a>
            </li>
            @*<li class="active">
                <a href="" title="">
                    <div class="menu-list">
                        <img src="/assets/edge/images/nav-img-01.png" alt="" class="lisi-img">
                        <span>Dashboard</span>
                    </div>
                </a>
            </li>*@
            @*@if (User.HasPermission(UserAccess.PharmacyInfo) && (ViewBag.Config.AppConfig.IsSqlServer))
            {
                <li>
                    <a href="/Registration/Index" title="">
                        <div class="menu-list">
                            <img src="/assets/edge/images/nav-img-09.png" alt="" class="lisi-img">
                            <span>New Registration</span>
                        </div>
                    </a>
                </li>
                }
            @if ((User.HasPermission(UserAccess.PharmacyListing) || User.HasPermission(UserAccess.PharmacyEdit) || User.HasPermission(UserAccess.CreateLicense) || User.HasPermission(UserAccess.Payment)) && (ViewBag.Config.AppConfig.IsSqlServer))
            {
                <li>
                    <a href="/Registration/List" title="">
                        <div class="menu-list">
                            <img src="/assets/edge/images/nav-img-10.png" alt="" class="lisi-img">
                            <span>Pharmacies</span>
                        </div>
                    </a>
                </li>
            }*@
            
            @*@if (User.HasPermission(UserAccess.DrugListing) || User.HasPermission(UserAccess.DrugEdit) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Title == "Drug List" ? "active" : "")">
                    <a asp-action="ProductsList" asp-controller="Product">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/groupList.png" class="nav-image margin-top-5" /></span>
                        <span class="nav-lbl">Drug List</span>
                    </a>
                </li>
                    <li>
                        <a href="drug-database.html" title="">
                            <div class="menu-list">
                                <img src="/assets/edge/images/nav-img-14.png" alt="" class="lisi-img">
                                <span>Drug Database</span>
                            </div>
                        </a>
                    </li>
                }
            <li>
                <a href="" title="">
                    <div class="menu-list">
                        <img src="/assets/edge/images/nav-img-06.png" alt="" class="lisi-img">
                        <span>Reports</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="admin-settings.html" title="">
                    <div class="menu-list">
                        <img src="/assets/edge/images/nav-img-13.png" alt="" class="lisi-img">
                        <span>Settings</span>
                    </div>
                </a>
            </li>*@
            @if (User.HasPermission(UserAccess.UserManagement) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li>
                    <a href="" title="">
                        <div class="menu-list">
                            <img src="/assets/edge/images/nav-img-07.png" alt="" class="lisi-img">
                            <span>User</span>
                        </div>
                    </a>
                </li>
                }
        </ul>
    </div>
</div>
