﻿@using Utilities.Helpers
@using System.Security.Claims;
@using HQue.Contract.Infrastructure.UserAccount

<ul class="nav hidden-xs" id="lg-menu">
    <li class="@(ViewBag.Menu == "Tools" ? "active" : "")">
        <a asp-action="Settings" asp-controller="Tool" class="list-group-item red-border">
            <span class="nav-img-wrapper glyphicon glyphicon-wrench" style="width: 2em;top: 11px !important;"></span>
            <span class="nav-lbl">Tools</span>
        </a>
    </li>
    @if ((User.UserId() == "alaguvel@pharma.com") || (User.UserId() == "daniyal@pharma.com") || (User.UserId() == "prashanth@pharma.com") || (User.UserId() == "sridhar@pharma.com") || (User.UserId() == "siva@hcue.co") || (User.UserId() == "sundar@mokksha.in") || (User.UserId() == "drvenkat@hcue.co") || (User.UserId() == "sundar@myhcue.com") || (User.UserId() == "correction@hcue.co"))
    {
        <li class="@(ViewBag.Menu == "DataCorrection" ? "active" : "")">
            <a asp-action="StockLedgerEdit" asp-controller="Tool" class="list-group-item red-border">
                <span class="nav-img-wrapper glyphicon glyphicon-wrench" style="width: 2em;top: 11px !important;"></span>
                <span class="nav-lbl">Data Correction</span>
            </a>
        </li>
    }

</ul>
