﻿<ul id="lg_menu" class="sidenav nav hidden-xs">
    @*<li class="logo-li">
        <a href="javascript:void(0)" class="logo-nav-sm"><img src="/assets/images/logo.png" alt="Hcue" /></a>
        <a href="javascript:void(0)" class="logo-nav"><img src="/assets/images/logo.png" alt="Hcue" /></a>
    </li>*@
    <li class="hide-bar">
        <div id="tog-bar">
            <span onclick="openNav()"><img src="~/assets/images/menu.png" /></span>
        </div>
    </li>
    <li class="@(ViewBag.Menu == "Account Registration" ? "active" : "")">
        <a asp-action="Index" asp-controller="AccountSetup" title="Group Registration">
            <span class="nav-img-wrapper"> <img src="~/assets/images/account-registration.png" class="nav-image margin-top-5" /></span>
            <span class="nav-lbl">Group Registration</span>
        </a>
    </li>
    <li class="@(ViewBag.Title == "Account List" ? "active" : "")">
        <a asp-action="List" asp-controller="AccountSetup" title="Group List">
            <span class="nav-img-wrapper"> <img src="~/assets/images/groupList.png" class="nav-image margin-top-5" /></span>
            <span class="nav-lbl">Group List</span>
        </a>
    </li>
    <li class="@(ViewBag.Title == "Products List" ? "active" : "")">
        <a asp-action="ProductsList" asp-controller="Product" title="Drug List">
            <span class="nav-img-wrapper"> <img src="~/assets/images/groupList.png" class="nav-image margin-top-5" /></span>
            <span class="nav-lbl">Drug List</span>
        </a>
    </li>
    <li class="@(ViewBag.Title == "Online Status" ? "active" : "")">
        <a asp-action="BranchList" asp-controller="Tool" title="Online Status">
            <span class="nav-img-wrapper"> <img src="~/assets/images/groupList.png" class="nav-image margin-top-5" /></span>
            <span class="nav-lbl">Online Status</span>
        </a>
    </li>
    <li class="@(ViewBag.Title == "Customized Features" ? "active" : "")">
        <a asp-action="CustomizedFeatures" asp-controller="AccountSetup" title="Customized Features">
            <span class="nav-img-wrapper"> <img src="~/assets/images/groupList.png" class="nav-image margin-top-5" /></span>
            <span class="nav-lbl">Customized Features</span>
        </a>
    </li>
    @*<span class="cls-btn"><a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="~/assets/images/close.png" /></a></span>*@
</ul>
<ul class="nav visible-xs" id="xs-menu">
    <li class="active">
        <a asp-action="Index" asp-controller="AccountSetup" class="text-center">
            <img src="/assets/images/POS-icon.png" class="nav-image margin-top-3" title="POS" />
        </a>
    </li>
</ul>
<script>
        function openNav() {
            //document.getElementById("lg_menu").style.width = "250px";
            //document.getElementById("tog-bar").style.marginLeft = "0px";
            var element = document.getElementById("lg_menu");
            element.classList.toggle("show-navlbl");
        }
</script>
