﻿@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
<ul id="lg_menu" class="sidenav nav hidden-xs">
    @*<li class="logo-li">
        <a href="javascript:void(0)" class="logo-nav-sm"><img src="/assets/images/logo.png" alt="hcue" /></a>
        <a href="javascript:void(0)" class="logo-nav"><img src="/assets/images/logo.png" alt="hcue" /></a>
    </li>*@
    <li class="hide-bar">
        <div id="tog-bar">
            <span onclick="openNav()"><img src="~/assets/images/menu.png" /></span>
        </div>
    </li>
    @if (Convert.ToString(User.ShortCutKeysType()) == "True")
    {
        @if (User.HasInstanceId())
        {
            if (User.HasPermission(UserAccess.Dashboard))
            {
                <li class="@(ViewBag.Title == "Dashboard" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Dashboard"  title="Dashboard">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/dashboard-icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Dashboard <span>(Alt+D)</span></span> @*class="fkey"*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Sell))
            {
                <li class="@(ViewBag.Menu == "Sell" ? "active" : ViewBag.Title == "Sell List" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Sales" class="list-group-item" title="Sell">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/sell.png" class="nav-image" /></span>
                        <span class="nav-lbl">Sell <span>(Alt+S)</span></span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Buy))
            {
                <li class="@(ViewBag.Menu == "Buy" ? "active" : "")">
                    <a asp-action="Index" asp-controller="VendorPurchase" class="list-group-item" title="Buy">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/buy.png" class="nav-image" /></span>
                        <span class="nav-lbl">Purchase <span>(Alt+P)</span></span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.StockTransfer) && ViewBag.Config.AppConfig.IsSqlServer && (User.InstanceTypeId() != 1))
            {
                <li class="@(ViewBag.Menu == "Transfer" ? "active" : "")">
                    <a asp-action="Index" asp-controller="StockTransfer" class="list-group-item " title="Transfer">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/Transfer_icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Transfer <span style="text-align:right">(Alt+T)</span></span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Leads) && ViewBag.Config.AppConfig.IsSqlServer && (User.InstanceTypeId() != 1))
            {
                <li class="@(ViewBag.Menu == "Leads" ? "active" : "")">
                    <a asp-action="List" asp-controller="Leads" class="list-group-item" title="Leads">
                        <span class="nav-img-wrapper"> <img src="/assets/images/leads.png" class="nav-image" /></span>
                        <span class="nav-lbl">Leads <span>(Alt+L)</span></span>
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Order))
            {
                <li class="@(ViewBag.Title == "Order" || ViewBag.Title == "Order List" || ViewBag.Title == "Pending Approval" || ViewBag.Title == "Missed Sales Order" || ViewBag.Title=="OrderSettings" ? "active" : "")">
                    <a asp-action="Index" asp-controller="VendorOrder" class="list-group-item" title="Order">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/order.png" class="nav-image" /></span>
                        <span class="nav-lbl">Order <span>(Alt+O)</span></span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Profile) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                if (User.HasPermission(UserAccess.VendorProfile))
                {
                    <li class="@(ViewBag.Menu == "Profile" ? "active" : "")">
                        <a asp-action="Index" asp-controller="Vendor" title="Profile">
                            <span class="nav-img-wrapper"> <img src="/assets/images/profile-icon.png" class="nav-image" /></span>
                            <span class="nav-lbl">Profile <span>(Alt+F)</span></span>

                        </a>
                    </li>
                }
                else
                {
                    <li class="@(ViewBag.Menu == "Profile" ? "active" : "")">
                        <a asp-action="List" asp-controller="Vendor" title="Profile">
                            <span class="nav-img-wrapper"> <img src="/assets/images/profile-icon.png" class="nav-image" /></span>
                            <span class="nav-lbl">Profile <span>(Alt+F)</span></span>

                        </a>
                    </li>
                }
            }
            if (User.HasPermission(UserAccess.Inventory))
            {
                <li class="@(ViewBag.Title == "Inventory" || ViewBag.Title == "Update Inventory" ? "active" : "")">
                    <a asp-action="list" asp-controller="ProductStock" title="Inventory">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/inventory-icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Inventory <span>(Alt+I)</span></span>

                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Reports) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                @if (User.AccountId() == "67067991-0e68-4779-825e-8e1d724cd68b")
                {
                    <li class="@(ViewBag.Menu == "Reports" ? "active" : "")">
                        <a asp-action="ReturnList" asp-controller="SalesReport" title="Reports">
                            <span class="nav-img-wrapper"> <img src="/assets/images/reports.png" class="nav-image" /></span>
                            <span class="nav-lbl">Reports </span>
                        </a>
                    </li>

                }
                else
                {
                    <li class="@(ViewBag.Menu == "Reports" ? "active" : "")">
                        <a asp-action="HomeDeliveryList" asp-controller="SalesReport" class="list-group-item" title="Reports">
                            <span class="nav-img-wrapper"> <img src="/assets/images/reports.png" class="nav-image" /></span>
                            <span class="nav-lbl">Reports <span>(Alt+R)</span></span>
                        </a>
                    </li>
                }
            }
            if (User.HasPermission(UserAccess.Branch) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Pharmacy" ? "active" : ViewBag.Title == "Pharmacy List" ? "active" : "")">
                    <a asp-action="List" asp-controller="InstanceSetup" class="list-group-item">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/branch.png" class="nav-image" /></span>
                        <span class="nav-lbl">Branch <span>(Alt+B)</span></span>

                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Accounts) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Accounts" ? "active" : ViewBag.Title == "List" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Payment" class="list-group-item" title="Accounts">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/petty-cash.png" class="nav-image" /></span>
                        <span class="nav-lbl">Accounts <span>(Alt+A)</span></span>
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.UserManagement) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Title == "User Management" ? "active" : "")">
                    <a asp-action="Index" asp-controller="UserManagement" class="list-group-item" title="User Management">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/user-management.png" class="nav-image" /></span>
                        <span class="nav-lbl">Users <span>(Alt+U)</span></span>
                    </a>
                </li>
            }

            @*if (User.HasPermission(UserAccess.Faq) && ViewBag.Config.AppConfig.IsSqlServer && (ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                {
                    <li class="@(ViewBag.Title == "Updates and FAQ" ? "active" : "")">
                        <a asp-action="Faq" asp-controller="Tool" class="list-group-item light-brown-border">
                            <span class="nav-img-wrapper"> <img src="~/assets/images/user-management.png" class="nav-image" /></span>
                            <span class="nav-lbl">Updates and FAQ</span>
                        </a>
                    </li>
                }*@
        }
    }
    else
    {

        @if (User.HasInstanceId())
        {
            if (User.HasPermission(UserAccess.Dashboard))
            {
                <li class="@(ViewBag.Title == "Dashboard" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Dashboard" title="Dashboard">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/dashboard-icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Dashboard</span> @*class="fkey"*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Sell))
            {
                <li class="@(ViewBag.Menu == "Sell" ? "active" : ViewBag.Title == "Sell List" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Sales" title="Sell">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/sell.png" class="nav-image" /></span>
                        <span class="nav-lbl">Sell</span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Buy))
            {
                <li class="@(ViewBag.Menu == "Buy" ? "active" : ViewBag.Title == "Buy List" ? "active" : "")">
                    <a asp-action="Index" asp-controller="VendorPurchase" title="Purchase">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/buy.png" class="nav-image" /></span>
                        <span class="nav-lbl">Purchase</span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.StockTransfer) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Transfer" ? "active" : "")">
                    <a asp-action="Index" asp-controller="StockTransfer" title="Transfer">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/Transfer_icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Transfer</span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Leads) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Leads" ? "active" : "")">
                    <a asp-action="List" asp-controller="Leads" title="Leads">
                        <span class="nav-img-wrapper"> <img src="/assets/images/leads.png" class="nav-image" /></span>
                        <span class="nav-lbl">Leads </span>
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Order))
            {
                <li class="@(ViewBag.Title == "Order" || ViewBag.Title == "Order List" || ViewBag.Title == "Pending Approval" || ViewBag.Title == "Missed Sales Order"  ? "active" : "")">
                    <a asp-action="Index" asp-controller="VendorOrder" title="Order">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/order.png" class="nav-image" /></span>
                        <span class="nav-lbl">Order </span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Profile) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                if (User.HasPermission(UserAccess.VendorProfile))
                {
                    <li class="@(ViewBag.Menu == "Profile" ? "active" : "")">
                        <a asp-action="Index" asp-controller="Vendor" title="Profile">
                            <span class="nav-img-wrapper"> <img src="/assets/images/profile-icon.png" class="nav-image" /></span>
                            <span class="nav-lbl">Profile </span>

                        </a>
                    </li>
                }
                else
                {
                    <li class="@(ViewBag.Menu == "Profile" ? "active" : "")">
                        <a asp-action="List" asp-controller="Vendor" title="Profile">
                            <span class="nav-img-wrapper"> <img src="/assets/images/profile-icon.png" class="nav-image" /></span>
                            <span class="nav-lbl">Profile </span>

                        </a>
                    </li>
                }
            }
            if (User.HasPermission(UserAccess.Inventory))
            {
                <li class="@(ViewBag.Title == "Inventory" || ViewBag.Title == "Update Inventory" ? "active" : "")">
                    <a asp-action="list" asp-controller="ProductStock" title="Inventory">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/inventory-icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Inventory </span>

                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Reports) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                @if (User.AccountId() == "67067991-0e68-4779-825e-8e1d724cd68b")
                {
                    <li class="@(ViewBag.Menu == "Reports" ? "active" : "")">
                        <a asp-action="ReturnList" asp-controller="SalesReport" title="Reports">
                            <span class="nav-img-wrapper"> <img src="/assets/images/reports.png" class="nav-image" /></span>
                            <span class="nav-lbl">Reports </span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="@(ViewBag.Menu == "Reports" ? "active" : "")">
                        <a asp-action="HomeDeliveryList" asp-controller="SalesReport" title="Reports">
                            <span class="nav-img-wrapper"> <img src="/assets/images/reports.png" class="nav-image" /></span>
                            <span class="nav-lbl">Reports </span>
                        </a>
                    </li>
                }
            }
            if (User.HasPermission(UserAccess.Branch) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Pharmacy" ? "active" : ViewBag.Title == "Pharmacy List" ? "active" : "")">
                    <a asp-action="List" asp-controller="InstanceSetup" title="Branch">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/branch.png" class="nav-image" /></span>
                        <span class="nav-lbl">Branch </span>

                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Accounts) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Accounts" ? "active" : ViewBag.Title == "List" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Payment" class="list-group-item" title="Accounts">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/petty-cash.png" class="nav-image" /></span>
                        <span class="nav-lbl">Accounts </span>
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.UserManagement) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Title == "User Management" ? "active" : "")">
                    <a asp-action="Index" asp-controller="UserManagement" title="Users">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/user-management.png" class="nav-image" /></span>
                        <span class="nav-lbl">Users </span>
                    </a>
                </li>
            }

            @*if (User.HasPermission(UserAccess.Faq) && ViewBag.Config.AppConfig.IsSqlServer && (ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                {
                    <li class="@(ViewBag.Title == "Updates and FAQ" ? "active" : "")">
                        <a asp-action="Faq" asp-controller="Tool" class="list-group-item light-brown-border">
                            <span class="nav-img-wrapper"> <img src="~/assets/images/user-management.png" class="nav-image" /></span>
                            <span class="nav-lbl">Updates and FAQ</span>
                        </a>
                    </li>
                }*@
        }
    }
    @*<span class="cls-btn"><a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="~/assets/images/close.png" /></a></span>*@
</ul>







<ul class="nav hidden-xs" id="lg-menu" style="display:none !important;">
    
    @*<li class="">
            <a href="~/uploads/New_Features.pdf" target="_blank" class="newfeatures">
                <img src="~/assets/images/NewFutures.png" class="nav-image margin-top-5" />
            </a>
        </li>*@
    @if (Convert.ToString(User.ShortCutKeysType()) == "True")
    {
        @if (User.HasInstanceId())
        {
            if (User.HasPermission(UserAccess.Dashboard))
            {
                <li class="@(ViewBag.Title == "Dashboard" ? "active" : "")" style="border-top: 1px solid rgba(218, 218, 218, 0.2);">
                    <a asp-action="Index" asp-controller="Dashboard" title="Dashboard">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/dashboard-icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Dashboard <span>(Alt+D)</span></span> @*class="fkey"*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Sell))
            {
                <li class="@(ViewBag.Menu == "Sell" ? "active" : ViewBag.Title == "Sell List" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Sales" class="list-group-item">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/sell.png" class="nav-image" /></span>
                        <span class="nav-lbl">Sell <span>(Alt+S)</span></span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Buy))
            {
                <li class="@(ViewBag.Menu == "Buy" ? "active" : "")">
                    <a asp-action="Index" asp-controller="VendorPurchase" class="list-group-item">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/buy.png" class="nav-image" /></span>
                        <span class="nav-lbl">Purchase <span>(Alt+P)</span></span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.StockTransfer) && ViewBag.Config.AppConfig.IsSqlServer && (User.InstanceTypeId() != 1))
            {
                <li class="@(ViewBag.Menu == "Transfer" ? "active" : "")">
                    <a asp-action="Index" asp-controller="StockTransfer" class="list-group-item ">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/Transfer_icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Transfer <span style="text-align:right">(Alt+T)</span></span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Leads) && ViewBag.Config.AppConfig.IsSqlServer && (User.InstanceTypeId() != 1))
            {
                <li class="@(ViewBag.Menu == "Leads" ? "active" : "")">
                    <a asp-action="List" asp-controller="Leads" class="list-group-item">
                        <span class="nav-img-wrapper"> <img src="/assets/images/leads.png" class="nav-image" /></span>
                        <span class="nav-lbl">Leads <span>(Alt+L)</span></span>
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Order))
            {
                <li class="@(ViewBag.Title == "Order" || ViewBag.Title == "Order List" || ViewBag.Title == "Pending Approval" || ViewBag.Title == "Missed Sales Order" || ViewBag.Title=="OrderSettings" ? "active" : "")">
                    <a asp-action="Index" asp-controller="VendorOrder" class="list-group-item">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/order.png" class="nav-image" /></span>
                        <span class="nav-lbl">Order <span>(Alt+O)</span></span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Profile) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                if (User.HasPermission(UserAccess.VendorProfile))
                {
                    <li class="@(ViewBag.Menu == "Profile" ? "active" : "")">
                        <a asp-action="Index" asp-controller="Vendor">
                            <span class="nav-img-wrapper"> <img src="/assets/images/profile-icon.png" class="nav-image" /></span>
                            <span class="nav-lbl">Profile <span>(Alt+F)</span></span>

                        </a>
                    </li>
                }
                else
                {
                    <li class="@(ViewBag.Menu == "Profile" ? "active" : "")">
                        <a asp-action="List" asp-controller="Vendor">
                            <span class="nav-img-wrapper"> <img src="/assets/images/profile-icon.png" class="nav-image" /></span>
                            <span class="nav-lbl">Profile <span>(Alt+F)</span></span>

                        </a>
                    </li>
                }
            }
            if (User.HasPermission(UserAccess.Inventory))
            {
                <li class="@(ViewBag.Title == "Inventory" || ViewBag.Title == "Update Inventory" ? "active" : "")">
                    <a asp-action="list" asp-controller="ProductStock">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/inventory-icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Inventory <span>(Alt+I)</span></span>

                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Reports) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                @if (User.AccountId() == "67067991-0e68-4779-825e-8e1d724cd68b")
                {
                    <li class="@(ViewBag.Menu == "Reports" ? "active" : "")">
                        <a asp-action="ReturnList" asp-controller="SalesReport">
                            <span class="nav-img-wrapper"> <img src="/assets/images/reports.png" class="nav-image" /></span>
                            <span class="nav-lbl">Reports </span>
                        </a>
                    </li>

                }
                else
                {
                    <li class="@(ViewBag.Menu == "Reports" ? "active" : "")">
                        <a asp-action="HomeDeliveryList" asp-controller="SalesReport" class="list-group-item">
                            <span class="nav-img-wrapper"> <img src="/assets/images/reports.png" class="nav-image" /></span>
                            <span class="nav-lbl">Reports <span>(Alt+R)</span></span>
                        </a>
                    </li>
                }
            }
            if (User.HasPermission(UserAccess.Branch) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Pharmacy" ? "active" : ViewBag.Title == "Pharmacy List" ? "active" : "")">
                    <a asp-action="List" asp-controller="InstanceSetup" class="list-group-item">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/branch.png" class="nav-image" /></span>
                        <span class="nav-lbl">Branch <span>(Alt+B)</span></span>

                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Accounts) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Accounts" ? "active" : ViewBag.Title == "List" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Payment" class="list-group-item">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/petty-cash.png" class="nav-image" /></span>
                        <span class="nav-lbl">Accounts <span>(Alt+A)</span></span>
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.UserManagement) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Title == "User Management" ? "active" : "")">
                    <a asp-action="Index" asp-controller="UserManagement" class="list-group-item">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/user-management.png" class="nav-image" /></span>
                        <span class="nav-lbl">Users <span>(Alt+U)</span></span>
                    </a>
                </li>
            }

            @*if (User.HasPermission(UserAccess.Faq) && ViewBag.Config.AppConfig.IsSqlServer && (ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                {
                    <li class="@(ViewBag.Title == "Updates and FAQ" ? "active" : "")">
                        <a asp-action="Faq" asp-controller="Tool" class="list-group-item light-brown-border">
                            <span class="nav-img-wrapper"> <img src="~/assets/images/user-management.png" class="nav-image" /></span>
                            <span class="nav-lbl">Updates and FAQ</span>
                        </a>
                    </li>
                }*@
        }
    }
    else
    {

        @if (User.HasInstanceId())
        {
            if (User.HasPermission(UserAccess.Dashboard))
            {
                <li class="@(ViewBag.Title == "Dashboard" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Dashboard" title="Dashboard">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/dashboard-icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Dashboard</span> @*class="fkey"*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Sell))
            {
                <li class="@(ViewBag.Menu == "Sell" ? "active" : ViewBag.Title == "Sell List" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Sales" title="Sell">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/sell.png" class="nav-image" /></span>
                        <span class="nav-lbl">Sell</span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Buy))
            {
                <li class="@(ViewBag.Menu == "Buy" ? "active" : ViewBag.Title == "Buy List" ? "active" : "")">
                    <a asp-action="Index" asp-controller="VendorPurchase" title="Buy">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/buy.png" class="nav-image" /></span>
                        <span class="nav-lbl">Purchase</span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.StockTransfer) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Transfer" ? "active" : "")">
                    <a asp-action="Index" asp-controller="StockTransfer" title="Transfer">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/Transfer_icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Transfer</span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Leads) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Leads" ? "active" : "")">
                    <a asp-action="List" asp-controller="Leads" title="Leads">
                        <span class="nav-img-wrapper"> <img src="/assets/images/leads.png" class="nav-image" /></span>
                        <span class="nav-lbl">Leads </span>
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Order))
            {
                <li class="@(ViewBag.Title == "Order" || ViewBag.Title == "Order List" || ViewBag.Title == "Pending Approval" || ViewBag.Title == "Missed Sales Order"  ? "active" : "")">
                    <a asp-action="Index" asp-controller="VendorOrder" title="Order">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/order.png" class="nav-image" /></span>
                        <span class="nav-lbl">Order </span>
                        @*<small class="gst-update">GST Update</small>*@
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Profile) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                if (User.HasPermission(UserAccess.VendorProfile))
                {
                    <li class="@(ViewBag.Menu == "Profile" ? "active" : "")">
                        <a asp-action="Index" asp-controller="Vendor" title="Profile">
                            <span class="nav-img-wrapper"> <img src="/assets/images/profile-icon.png" class="nav-image" /></span>
                            <span class="nav-lbl">Profile </span>

                        </a>
                    </li>
                }
                else
                {
                    <li class="@(ViewBag.Menu == "Profile" ? "active" : "")">
                        <a asp-action="List" asp-controller="Vendor" title="Profile">
                            <span class="nav-img-wrapper"> <img src="/assets/images/profile-icon.png" class="nav-image" /></span>
                            <span class="nav-lbl">Profile </span>

                        </a>
                    </li>
                }
            }
            if (User.HasPermission(UserAccess.Inventory))
            {
                <li class="@(ViewBag.Title == "Inventory" || ViewBag.Title == "Update Inventory" ? "active" : "")">
                    <a asp-action="list" asp-controller="ProductStock" title="Inventory">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/inventory-icon.png" class="nav-image" /></span>
                        <span class="nav-lbl">Inventory </span>

                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Reports) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                @if (User.AccountId() == "67067991-0e68-4779-825e-8e1d724cd68b")
                {
                    <li class="@(ViewBag.Menu == "Reports" ? "active" : "")">
                        <a asp-action="ReturnList" asp-controller="SalesReport" title="Reports">
                            <span class="nav-img-wrapper"> <img src="/assets/images/reports.png" class="nav-image" /></span>
                            <span class="nav-lbl">Reports </span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="@(ViewBag.Menu == "Reports" ? "active" : "")">
                        <a asp-action="HomeDeliveryList" asp-controller="SalesReport" title="Reports">
                            <span class="nav-img-wrapper"> <img src="/assets/images/reports.png" class="nav-image" /></span>
                            <span class="nav-lbl">Reports </span>
                        </a>
                    </li>
                }
            }
            if (User.HasPermission(UserAccess.Branch) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Pharmacy" ? "active" : ViewBag.Title == "Pharmacy List" ? "active" : "")">
                    <a asp-action="List" asp-controller="InstanceSetup" title="Pharmacy">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/branch.png" class="nav-image" /></span>
                        <span class="nav-lbl">Branch </span>

                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.Accounts) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Menu == "Accounts" ? "active" : ViewBag.Title == "List" ? "active" : "")">
                    <a asp-action="Index" asp-controller="Payment" class="list-group-item" title="Accounts">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/petty-cash.png" class="nav-image" /></span>
                        <span class="nav-lbl">Accounts </span>
                    </a>
                </li>
            }
            if (User.HasPermission(UserAccess.UserManagement) && ViewBag.Config.AppConfig.IsSqlServer)
            {
                <li class="@(ViewBag.Title == "User Management" ? "active" : "")">
                    <a asp-action="Index" asp-controller="UserManagement">
                        <span class="nav-img-wrapper"> <img src="~/assets/images/user-management.png" class="nav-image" /></span>
                        <span class="nav-lbl">Users </span>
                    </a>
                </li>
            }

            @*if (User.HasPermission(UserAccess.Faq) && ViewBag.Config.AppConfig.IsSqlServer && (ViewBag.Config.AppConfig.OfflineMode == false && User.OfflineStatus() != "True") || ViewBag.Config.AppConfig.OfflineMode == true)
                {
                    <li class="@(ViewBag.Title == "Updates and FAQ" ? "active" : "")">
                        <a asp-action="Faq" asp-controller="Tool" class="list-group-item light-brown-border">
                            <span class="nav-img-wrapper"> <img src="~/assets/images/user-management.png" class="nav-image" /></span>
                            <span class="nav-lbl">Updates and FAQ</span>
                        </a>
                    </li>
                }*@
        }
    }




</ul>
<ul class="nav visible-xs" id="xs-menu">
    <li><a href="#Dashboard" class="text-center"><img src="/assets/images/dashboard-icon.png" class="nav-image margin-top-3" title="Dashboard" /></a></li>
    <li class="active"><a asp-action="Index" asp-controller="Sales" class="text-center"><img src="/assets/images/POS-icon.png" class="nav-image margin-top-3" title="POS" /></a></li>
    <li><a href="#purchase" class="text-center"><img src="/assets/images/purchase-icon.png" class="nav-image margin-top-3" title="Purchase" /></a></li>
    <li><a href="#leads" class="text-center"><img src="/assets/images/leads-icon.png" class="nav-image margin-top-3" title="Leads" /></a></li>
    <li><a href="#profile" class="text-center"><img src="/assets/images/profile-icon.png" class="nav-image margin-top-3" title="Profile" /></a></li>
    <li><a href="#reports" class="text-center"><img src="/assets/images/reports-icon.png" class="nav-image margin-top-3" title="Reports" /></a></li>
    <li><a href="#settings" class="text-center"><img src="/assets/images/settings-icon.png" class="nav-image margin-top-3" title="Settings" /></a></li>
</ul>




<script>
function openNav() {
    //document.getElementById("lg_menu").style.width = "250px";
    //document.getElementById("tog-bar").style.marginLeft = "0px";
    var element = document.getElementById("lg_menu");
    element.classList.toggle("show-navlbl");
}
//function closeNav() {
//    document.getElementById("lg_menu").style.width = "65px";
//    //document.getElementById("tog-bar").style.marginLeft = "0px";
//    var element = document.getElementById("lg_menu");
//    element.classList.remove("show-navlbl");
//}
</script>

