﻿@model HQue.Contract.Infrastructure.UserAccount.HQueUser

@{
    ViewBag.Title = "Change Password";
    Layout = "_Layout";
}

<div class="row">
    <!-- Vendor Create Section - start -->
    <div class="panel panel-default">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">
            <form id="loginform" role="form" class="form-horizontal" method="POST">
                <div class='row'>
                    <div class='col-sm-12 col-xs-12 col-lg-6'>
                        <div class='form-group'>
                            <div class="input-group">
                                <span class="input-group-addon front-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input title="Password" asp-for="Password" id="txtPassword" type="password" class="form-control" name="password" placeholder="New Password" required autofocus>
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12 col-xs-12 col-lg-6'>
                        <div class='form-group'>
                            <div class="input-group">
                                <span class="input-group-addon front-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input title="Confirm Password" asp-for="ConfirmPassword" id="txtConfirmPassword" type="password" class="form-control" name="password" placeholder="Confirm Password" required>
                                <span asp-validation-for="ConfirmPassword"></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <button title="Change Password" class="btn btn-style pull-right" type="submit" style="margin-left:10px;"><span class="pull-left">CHANGE PASSWORD</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script asp-append-version="true"  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script asp-append-version="true"  type="text/javascript">
    $(function () {
        $("#btn-login").click(function () {
            var password = $("#txtPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>
