﻿@model HQue.Contract.Infrastructure.UserAccount.HQueUser

@{
    ViewBag.Title = "Forgot Password";
    Layout = "_LayoutWithOutNav";
}

<div class="wrapper">
    <div class="login-section container">
        <div class="row">
            <div class="col-xs-10 col-md-8 col-lg-8 login-rightside">
                <h2>India's 1st Integrated Digital Healthcare Platform</h2>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-1.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Easy Access</h3>
                        <span>Access your Pharmacy from anywhere and anytime.</span>
                    </div>
                </div>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-2.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Digitized communication</h3>
                        <span>Receive Prescription via Customer Mobile Application and Doctor Aplication.</span>
                    </div>
                </div>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-3.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Grow together</h3>
                        <span>Connect with Doctors and Customers.</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-md-4 col-lg-4">

                <form id="loginform" role="form" class="login-form" method="POST">
                    <div class="form-group">
                        <h1 class="logo-header text-center">Forgot Password</h1>
                    </div>
                    <span style="color: red; margin-left: 30px;margin-bottom: 7px;display:block" asp-validation-for="UserId"></span>
                    <div class="form-group">
                        <div class="user-ctrl">
                            <input title="Email Id" asp-for="UserId" type="text" class="form-control ctrl" email required placeholder="Email ID" autofocus>

                        </div>
                    </div>
                   
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 col-lg-12 col-md-12 controls">
                            <input title="Continue" id="btn-login" type="submit" class="btn btn-primary" value="Continue" style="width:49%"/>
                            <input title="Cancel" id="btn-login" onclick="location.href='@Url.Action("Login", "User")'" type="button" class="btn btn-primary" value="Cancel" style="width:49%; background-color: #777; border-color: #777;" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <footer style="position: absolute;  bottom: 0; left: 50%; margin-left: -585px;">
        <div class="container footer-section">
            <ul class="footer-copyrights">
                <li><a href="https://www.hcue.in/" target="_blank">© ALL RIGHTS RESERVED hCue.in</a></li>
                <li><a href="https://www.hcue.in/privacy" target="_blank">Privacy</a></li>
                <li><a href="https://www.hcue.in/termsandconditions" target="_blank">Terms and Conditions</a></li>
            </ul>
            <div class="social-share">
                <a href="https://www.facebook.com/myhcue/" target="_blank">
                    <img src="../assets/images/social-icon-1.png" alt="">
                </a>
                <a href="https://www.linkedin.com/company/elixir-lab" target="_blank">
                    <img src="../assets/images/social-icon-2.png" alt="">
                </a>
                <img src="../assets/images/azure_black.png" alt="" style="margin-left: 5px; width: 95px">
            </div>
        </div>
    </footer>

</div>

