@model HQue.Contract.Infrastructure.Master.Patient
@{
    ViewBag.Title = "User List";
    Layout = "_Layout";
}

@section breadcrumb
{
    <li>
        <a href="#">Home</a> <span class="divider"></span>
    </li>
}
<div class="col-md-12 col-sm-12 col-xs-12" ng-app="salesApp" ng-controller="PatientSearchCtrl">
    {{ 2 + 3 }}
    <!-- Patient Search Section - start -->
    <div class="panel panel-default" >
        <div class="panel-heading">Patient Search</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Patient Name</label>
                        <div class="input-group">
                            <input title="Patient Name" type="text" placeholder="Patient Name" class="search-query form-control" ng-model="name" autofocus>
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_firstname">Contact No</label>
                        <div class="input-group">
                            <input title="Contact Number" type="text" placeholder="Contact No" class="search-query form-control" ng-model="mobile">
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_lastname">Patient ID</label>
                        <div class="input-group">
                            <input title="Patient Id" type="text" placeholder="Patient ID" class="search-query form-control" ng-model="code">
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_lastname">Date of Birth</label>
                        <div class="input-group">
                            <input title="Date of Birth" type="text" class="form-control">
                            <span class="input-group-btn">
                                <button title="Calender" class="btn" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-6'>
                    <div class='form-group'>
                        <label for="user_email">Email</label>
                        <div class="input-group">
                            <input title="Email Id" class="form-control required email" id="user_email" name="user[email]" required="true" size="30" type="text" placeholder="Email ID" ng-model="email" />
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-6'>
                    <div class='form-group'>
                        <label for="user_email">Address</label>
                        <textarea title="Address" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left">
                No Records found
            </div>
            <div class="pull-right">
                <button title="Search" class="btn btn-primary" ng-click="patientSearch()">Search</button>
            </div>
        </div>
    </div>
    <!-- Patient Search Section - End -->
    <!-- Patient Search Result Section - start -->

    <div class="panel panel-default">
        <div class="panel-heading">Search Results</div>
        <div class="panel-body">
            <div class='row  marginLR-zero'>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Patient ID</th>
                            <th>Phone Number</th>
                            <th>DOB</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="patient in list">
                        <td>{{patient.Name}}</td>
                        <td>Male</td>
                        <td>29</td>
                        <td>Gio123</td>
                        <td>9641178520</td>
                        <td>27/09/1986</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Patient Search Result Section - End -->
    <!-- Patient Information Section - start -->

    <div class="panel panel-default">
        <div class="panel-heading">Patient Information</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Patient ID</label>
                        <p class="form-control-static">ABC 123</p>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Patient Name</label>
                        <p class="form-control-static">Giacomo</p>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Last Name</label>
                        <p class="form-control-static">Gullizzoni</p>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Date of Birth</label>
                        <p class="form-control-static">27/09/1986</p>
                    </div>
                </div>
            </div>
            <div class='row alterRow'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Age</label>
                        <p class="form-control-static">29</p>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Email ID</label>
                        <p class="form-control-static">abc@gmail.com</p>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Phone Number</label>
                        <p class="form-control-static">NA</p>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_email">Address</label>
                        <textarea title="Address" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <a title="Patient History" href="#" class="btn btn-primary">Patient History</a>
            </div>
        </div>
    </div>
    <!-- Patient Information Section - End -->
    <!-- Point of Sales Section - start -->
    <div class="panel panel-default">
        <div class="panel-heading">Point of Sales</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Invoice No</label>
                        <input title="Invoice Number" type="text" placeholder="Invoice No" class="form-control">
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_lastname">Date</label>
                        <div class="input-group">
                            <input title="Date" type="text" class="form-control" placeholder="12/09/2017">
                            <span class="input-group-btn">
                                <button title="Calender" class="btn" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">POS Name</label>
                        <input title="POS Name" type="text" placeholder="POS Name" class="form-control">
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Pharmacy Name</label>
                        <input title="Pharmacy Name" type="text" placeholder="Pharmacy Name" class="form-control">
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">TIN No</label>
                        <input title="TIN Number" type="text" placeholder="TIN No" class="form-control">
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Drug Name</label>
                        <select title="Drug Name" class="form-control">
                            <option value="one">One</option>
                            <option value="two">Two</option>
                            <option value="three">Three</option>
                            <option value="four">Four</option>
                            <option value="five">Five</option>
                        </select>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Quantity</label>
                        <input title="Quantity" type="number" placeholder="3 Qty" class="form-control">
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Batch No</label>
                        <input title="Batch Number" type="text" placeholder="Batch No" class="form-control">
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Exp Date</label>
                        <input title="Expery Date" type="text" placeholder="Exp Date" class="form-control">
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Vat %</label>
                        <input title="Vat in %" type="text" placeholder="Vat %" class="form-control">
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <label for="user_title">Price/Cost</label>
                        <input title="Price/Cost" type="text" placeholder="Price/Cost" class="form-control">
                    </div>
                </div>
                <div class='col-sm-1 pull-left'>
                    <div class='form-group'>
                        <label for="user_title">&nbsp;</label>
                        <a title="Add" href="#" class="btn btn-small btn-primary">ADD</a>
                    </div>
                </div>
            </div>

            <div class="row marginLR-zero">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered ">
                    <tbody>
                        <tr><td class="text-center"><span class="glyphicon glyphicon-minus-sign"></span></td><td>Crocin</td><td>2</td><td>12345</td><td>12/09/2018</td><td>5.5</td><td>20</td></tr>
                        <tr><td class="text-center"><span class="glyphicon glyphicon-minus-sign"></span></td><td>Shelcal</td><td>2</td><td>12346</td><td>&nbsp;</td><td>5.5</td><td>28</td></tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Total</td><td>48</td><td>&nbsp;</td></tr>

                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Discount %</td><td>2</td><td>&nbsp;</td></tr>

                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Net Value</td><td>60</td><td>&nbsp;</td></tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Round Off</td><td>60</td><td>&nbsp;</td></tr>

                        <tr>
                            <td colspan="7" class="text-right">
                                <div class="form-inline rbcash">
                                    <label class="radio">
                                        &nbsp;
                                        <input title="Cash" type="radio" value="1" name="cash" />
                                        Cash
                                    </label>
                                    <label class="radio">
                                        &nbsp;
                                        <input title="Card" type="radio" value="2" name="cash" />
                                        Card
                                    </label>
                                    <label class="radio">
                                        &nbsp;
                                        <input title="Counter" type="radio" value="2" name="cash" />
                                        Counter
                                    </label>
                                    <label class="radio">
                                        &nbsp;
                                        <input title="Home Delivery" type="radio" value="2" name="cash" />
                                        Home Delivery
                                    </label>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-right">
                                <div class="form-inline rbcash">
                                    <label class="radio">
                                        &nbsp;
                                        <input title="Print" type="checkbox" value="1" name="cash" />
                                        Print
                                    </label>
                                    <label class="radio">
                                        &nbsp;
                                        <input title="Email" type="checkbox" value="2" name="cash" />
                                        Email
                                    </label>
                                    <label class="radio">
                                        &nbsp;
                                        <input title="SMS" type="checkbox" value="2" name="cash" />
                                        SMS
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <a title="Sale" href="#" class="btn btn-primary">Sale</a>
                <a title="Cancel" href="#" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </div>
    <!-- Point of Sales Section - End -->
</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/assets/js/sales.js"></script>
}
