﻿@model HQue.Contract.Infrastructure.UserAccount.HQueUser

@{
    Layout = "_LayoutWithOutNav";
}

<div class="wrapper">
    <div class="login-section container">
        <div class="row">
            <div class="col-xs-10 col-md-8 col-lg-8 login-rightside">
                <h2>India's 1st Integrated Digital Healthcare Platform</h2>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-1.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Easy Access</h3>
                        <span>Access your Pharmacy from anywhere and anytime.</span>
                    </div>
                </div>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-2.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Digitized communication</h3>
                        <span>Receive Prescription via Customer Mobile Application and Doctor Aplication.</span>
                    </div>
                </div>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-3.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Grow together</h3>
                        <span>Connect with Doctors and Customers.</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-md-4 col-lg-4">



                <form id="loginform" role="form" name="loginform" class="login-form" method="POST">

                    <div class="form-group">
                        <h1 class="logo-header text-center">Sign in to continue</h1>
                    </div>
                    <span style="color: red; margin-left: 35px;" asp-validation-for="UserId"></span>

                    <div class="form-group">
                        <div class="user-ctrl">
                            <input title="Email Id" asp-for="UserId" type="text" class="form-control ctrl" email required placeholder="Email ID" autofocus>

                        </div>
                    </div>
                    <div class="form-group bottom-10">
                        <div class="pswd-ctrl">
                            <input title="Password" placeholder="Password" asp-for="Password" id="login-password" type="password" class="form-control ctrl" name="password" required>
                        </div>
                    </div>
                    <div class="form-group bottom-20">
                        <div class="list list-inset">
                            <span class="list list-inset error-msg ng-binding ng-hide"></span>
                        </div>
                        <center><i class="ion-loading-c" ng-show="showloading" style="font-size:40px"></i></center>
                        <input title="Login" id="btn-login" type="submit" class="btn btn-primary full-length" value="Login" style="background-color: #00c853;" />
                    </div>
                    <div class="form-group bottom-20">

                        <a title="Forgot Password" asp-action="ForgotPassword" asp-controller="User" class="txt-ctrl green-font pull-right">Forgot Password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer style="position: absolute;  bottom: 0; left: 50%; margin-left: -585px;">
        <div class="container footer-section">
            <ul class="footer-copyrights">
                <li><a href="https://www.hcue.in/" target="_blank">© ALL RIGHTS RESERVED hCue.in</a></li>
                <li><a href="https://www.hcue.in/privacy" target="_blank">Privacy</a></li>
                <li><a href="https://www.hcue.in/termsandconditions" target="_blank">Terms and Conditions</a></li>
            </ul>
            <div class="social-share">
                <a href="https://www.facebook.com/myhcue/" target="_blank">
                    <img src="../assets/images/social-icon-1.png" alt="">
                </a>
                <a href="https://www.linkedin.com/company/elixir-lab" target="_blank">
                    <img src="../assets/images/social-icon-2.png" alt="">
                </a>
                <img src="../assets/images/azure_black.png" alt="" style="margin-left: 5px; width: 95px">
            </div>
        </div>
    </footer>
    <script>
        window.localStorage.setItem('showSyncAlertMsg', '1');
        window.localStorage.setItem('checkAutoSyncData', '1');
        $(window).on('load', function () {
            localStorage.setItem('gstNullAvailable', '0');
        });
    </script>
</div>
