﻿@model HQue.Contract.Infrastructure.UserAccount.HQueUser

@{
    Layout = "_LayoutWithOutNav";
}

<div class="wrapper">
    <div class="login-section container">
        <div class="row">
            <div class="col-xs-10 col-md-8 col-lg-8 login-rightside">
                <h2>India's 1st Integrated Digital Healthcare Platform</h2>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-1.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Easy Access</h3>
                        <span>Access your Pharmacy from anywhere and anytime.</span>
                    </div>
                </div>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-2.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Digitized communication</h3>
                        <span>Receive Prescription via Customer Mobile Application and Doctor Aplication.</span>
                    </div>
                </div>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-3.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Grow together</h3>
                        <span>Connect with Doctors and Customers.</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-md-4 col-lg-4">
@if (ViewBag.Key != string.Empty)
            {
                <form id="loginform" role="form" class="login-form" method="POST">
		
                    <input type="hidden" asp-for="PasswordResetKey" value="@ViewBag.Key" />
                    <label class="logo-header text-center" style="font-size: 19px; font-weight: 500;margin: 13px 114px;">Reset Password</label><br /><br />
                    <div class="form-group bottom-10">
                        <div class="pswd-ctrl">
                            <input title="Password"  id="txtPassword"  placeholder="New Password" asp-for="Password" id="login-password" type="password" class="form-control ctrl" name="password" required>
                        </div>
                    </div>
                    <div class="form-group bottom-10">
                        <div class="pswd-ctrl">
                            <input title="Confirm Password" asp-for="ConfirmPassword" id="txtConfirmPassword" type="password" class="form-control ctrl" placeholder="Confirm Password" name="password" required>
                        </div>
                    </div>
                    <span style="color:white" asp-validation-for="ConfirmPassword"></span>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 col-lg-12 col-md-12 controls">
                            <input title="Continue" id="btn-login" type="submit" class="btn btn-primary" value="Continue" style="width:100%" />
                        </div>
                    </div>

                </form>
 }
            else
            {
                <p style="color: red">Invalid token or the token has expired.  Please click on <a title="Forgot Password" asp-action="ForgotPassword" asp-controller="User" style="color: #48b09e;">Forgot Password</a> to get a new token</p>
            }
            </div>
        </div>
    </div>

    <footer style="position: absolute;  bottom: 0; left: 50%; margin-left: -585px;">
        <div class="container footer-section">
            <ul class="footer-copyrights">
                <li><a href="https://www.hcue.in/" target="_blank">© ALL RIGHTS RESERVED hCue.in</a></li>
                <li><a href="https://www.hcue.in/privacy" target="_blank">Privacy</a></li>
                <li><a href="https://www.hcue.in/termsandconditions" target="_blank">Terms and Conditions</a></li>
            </ul>
            <div class="social-share">
                <a href="https://www.facebook.com/myhcue/" target="_blank">
                    <img src="../assets/images/social-icon-1.png" alt="">
                </a>
                <a href="https://www.linkedin.com/company/elixir-lab" target="_blank">
                    <img src="../assets/images/social-icon-2.png" alt="">
                </a>
                <img src="../assets/images/azure_black.png" alt="" style="margin-left: 5px; width: 95px">
            </div>
        </div>
    </footer>

</div>
<script asp-append-version="true"type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script asp-append-version="true"type="text/javascript">
    $(function () {
        $("#btn-login").click(function () {
            var password = $("#txtPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>
