﻿@model HQue.Contract.Infrastructure.UserAccount.HQueUser

@{
    Layout = "_LayoutWithOutNav";
}

<div class="wrapper">
    <div class="login-section container">
        <div class="row">
            <div class="col-xs-10 col-md-8 col-lg-8 login-rightside">
                <h2>India's 1st Integrated Digital Healthcare Platform</h2>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-1.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Easy Access</h3>
                        <span>Access your Pharmacy from anywhere and anytime.</span>
                    </div>
                </div>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-2.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Digitized communication</h3>
                        <span>Receive Prescription via Customer Mobile Application and Doctor Aplication.</span>
                    </div>
                </div>
                <div class="product-feature">
                    <div class="feature-icon">
                        <img src="../assets/images/login-icon-3.png" alt="">
                    </div>
                    <div class="product-details">
                        <h3>Grow together</h3>
                        <span>Connect with Doctors and Customers.</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-md-4 col-lg-4">



                    <div class="panel-body">
                        @if (ViewBag.Instance.Count > 0)
                         {
                            <div style="display: none" id="login-alert" class="alert alert-danger col-sm-12">text </div>

                            <form id="loginform" role="form" class="login-form" method="POST">
                                <div class="form-group">
                                    <h1 class="logo-header text-center">Select a Branch</h1>
                                </div>
                                <div class="form-group">
                                        <select title="Instance Id" asp-for="InstanceId" class="form-control" name="InstanceId" id="InstanceId"
                                                asp-items="ViewBag.Instance" autofocus></select>
                                </div>


                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-sm-12 col-lg-12 col-md-12 controls" style="margin-top: 30px;">
                                        <input title="Select" id="btn-login" type="submit" class="btn btn-primary full-length" value="Select" />
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <p style="color: white">There are no branches created. Please login to the online application to create a branch.</p>
                        }
                    </div>
               
            </div>
        </div>
    </div>

    <footer style="position: absolute;  bottom: 0; left: 50%; margin-left: -585px;">
        <div class="container footer-section">
            <ul class="footer-copyrights">
                <li><a href="https://www.hcue.in/" target="_blank">© ALL RIGHTS RESERVED hCue.in</a></li>
                <li><a href="https://www.hcue.in/privacy" target="_blank">Privacy</a></li>
                <li><a href="https://www.hcue.in/termsandconditions" target="_blank">Terms and Conditions</a></li>
            </ul>
            <div class="social-share">
                <a href="https://www.facebook.com/myhcue/" target="_blank">
                    <img src="../assets/images/social-icon-1.png" alt="">
                </a>
                <a href="https://www.linkedin.com/company/elixir-lab" target="_blank">
                    <img src="../assets/images/social-icon-2.png" alt="">
                </a>
                <img src="../assets/images/azure_black.png" alt="" style="margin-left: 5px; width: 95px">
            </div>
        </div>
    </footer>

</div>