@{
    ViewBag.Title = "TILL";
    ViewBag.Menu = "Accounts";
}
@*@await Html.PartialAsync("~/Views/PettyCash/Menu.cshtml")*@
@await Html.PartialAsync("~/Views/Payment/Menu.cshtml")
<div class="panel-body">
    <div class="pull-left">
        <a asp-action="Index" asp-controller="PettyCashDtl" class="green-line-btn">Expense</a>
        <a asp-action="List" asp-controller="PettyCash" class="green-line-btn">Expense List</a>
        <a asp-action="Index" asp-controller="PettyCash" class="green-line-btn">Expense Heads</a>
        <a asp-action="Index" asp-controller="PettyCashHdr" class="btn btn-style ">Till</a>
    </div>
</div>
<style>
    .form-group {
        overflow: hidden
    }
    .d-label {
        float: left; 
        margin: 8px 10px 0 0;
        width: 55px;
    }
    .mrg-bottom
    {
        margin-bottom:0px !important;
    }
</style>
<div class="row" ng-app="hcue" ng-controller="pettyCashHdrCreateCtrl" ng-cloak>
    <div class="panel panel-default" style="padding: 0 0 15px;">
        <div class="panel-heading">Enter Till Details</div>
        <div class="panel-body">
            <ng-form id="pettyCashForm" name="pettyCashForm">
                <!--Customisition-->
                <div class="row" style="margin-bottom: 5px; background: #ededed; padding: 10px 0">
                    <div class="col-sm-3">
                        
                        @*<div class="input-group" style="margin-top: 28px;">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="From Date"
                                   ng-model="from" is-open="popup1.opened" min-date="minDate" max-date="maxDate"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                                   close-text="Close" alt-input-formats="altInputFormats" my-date />
                            <span class="input-group-btn wrapper-date">
                                <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>*@
                     
                        <label>Till Start Date and Time: {{ testDate  }}</label>
                     </div>
                    <div class="col-sm-3" style="margin: 5px 0px 0px;">
                        <label>
                            Closing Balance: <span style="font-size: 16px;">{{clBalance |number:2}}</span></label>
                            @*<input type="text" title="Balance" ng-model="clBalance" placeholder="Closing Balance" disabled
                                   valid-number numbers-only class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">*@
</div>
                    @*<button type="button" id="btngo" title="go" class="btn btn-style" style="width:100px;margin-top:29px;" 
                            ng-click="goSearch()" ng-hide="true">
                        Search
                    </button>
                    <button type="button" id="btndd" title="go" class="btn btn-style" style="width:100px;margin-top:29px;"
                            ng-click="clearAll()">
                        Clear
                    </button>*@
            </div>

                   <div class="row" style="margin-bottom: 20px; background: #ededed; padding: 10px 0"  ng-hide="true">
                       <div class="col-sm-3">
                           <div class="input-group"  ng-hide="true">
                               <label> Transaction Date</label>
                               <input type="text" class="form-control" uib-datepicker-popup="{{format}}" placeholder="Select Date"
                                      ng-model="pettyCash.transactionDate" is-open="popup2.opened" min-date="min1Date" max-date="max1Date"
                                      datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                                      close-text="Close" alt-input-formats="altInputFormats" my-date />
                               <span class="input-group-btn wrapper-date">
                                   <button type="button" class="btn btn-default btn1" ng-click="open2()" style="margin-top: 23px">
                                       <i class="glyphicon glyphicon-calendar"></i>
                                   </button>
                               </span>
                               
                           </div>
                           
                        </div>
                       <div class="col-sm-3">
                           <button type="button" id="btngo" title="go" class="btn btn-style" style="width:100px;margin-top:24px;"
                                   ng-click="getTotalExpense()" ng-hide="true">
                               GO
                           </button>
                       </div>
                    </div>


                   <div class="row">
                       <div class="col-md-4" style="background: #ededed; padding: 10px;">
                           <h4 style="margin: 0 0 10px; font-size: 16px;">Till Chart</h4>
                           <div class="row">
                               <div class="col-sm-12">
                                   <div class="col-sm-6">
                                       <label>Opening Balance</label>
                                    </div>
                                   <div class="col-sm-6">
                                       <div class="form-group mrg-bottom">

                                           <input type="text" title="Balance" ng-model="clBal|number:2" disabled placeholder="Opening Balance"
                                                  valid-number numbers-only class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
                                       </div>
                                       <div style="color:green;font-size: 28px;text-align: center;text-align: center;width: 100%;display:block;">+</div>
                                   </div>
                                       
                                   </div>
                               
                               <div class="col-sm-12">

                                   <div class="col-sm-6">
                                       <label>
                                           Floating Amount
                                       </label>
                                   </div>
                                   <div class="col-sm-6">
                                       <div class="form-group mrg-bottom">

                                           <input type="text" title="Balance" ng-model="floatingAmount" placeholder="Floating Amount" ng-blur="CalculateTotalAmtandDinominate()"
                                                  valid-number max="6" id="flamt1" ng-enter="moveNext('flamt1','cusre')"  maxlength="6" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
                                       </div>
                                       <div style="color:green;font-size: 28px;text-align: center;text-align: center;width: 100%;display:block;">+</div>

                                   </div>
                                       
                                   </div>
                               <div class="col-sm-12">
                                   <div class="col-sm-6">
                                       <label>
                                           @*Current Day Total Sales*@
                                           Till Period Total Sales
                                       </label>
                                   </div>
                                   <div class="col-sm-6">
                                       <div class="form-group mrg-bottom">

                                           <input type="text" title="Balance" disabled ng-model="salesAmount" placeholder="Sales Amount" ng-blur="CalculateTotalAmt()"
                                                  valid-number id="slsamt1" ng-enter="moveNext('slsamt1','cusre')" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
                                       </div>
                                       <div style="color:green;font-size: 28px;text-align: center;text-align: center;width: 100%;display:block;">+</div>

                                   </div>
                                   
                               </div>
                              
                               <div class="col-sm-12">
                                   <div class="col-sm-6">
                                       <label>Customer Receipts</label>
                                   </div>
                                   <div class="col-sm-6">
                                       <div class="form-group mrg-bottom">

                                           <input type="text" title="CustomerReceipts" disabled ng-model="pettyCash.customerPayment" ng-blur="CalculateTotalAmt()"
                                                  valid-number placeholder="0" ng-enter="moveNext('cusre','venpay')" id="cusre" required="" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched" focus-box="" nextid="batchNo">
                                       </div>
                                       <div style="color:green;font-size: 28px;text-align: center;text-align: center;width: 100%;display:block;">-</div>

                                   </div>
                                  
                               </div>
                               <div class="col-sm-12">
                                   <div class="col-sm-6">
                                       <label>Vendor Payment</label>
                                   </div>
                                   <div class="col-sm-6">
                                       <div class="form-group mrg-bottom">

                                           <input type="text" itle="VendorPayment" disabled ng-model="vendorPayment" ng-blur="CalculateTotalAmt()"
                                                  valid-number placeholder="Vendor Payment" id="venpay" ng-enter="moveNext('venpay','rs2000')" required="" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched" focus-box="" nextid="batchNo">
                                       </div>
                                       <div style="color:green;font-size: 28px;text-align: center;text-align: center;width: 100%;display:block;">-</div>

                                   </div>
                                  
                               </div>
                               <div class="col-sm-12">
                                   <div class="col-sm-6">
                                       <label>Expenses</label>

                                   </div>
                                   <div class="col-sm-6">
                                       <div class="form-group mrg-bottom">

                                           <input type="text" title="Expenses" ng-model="expenseAmount" disabled placeholder="Expenses" required=""
                                                  valid-number numbers-only class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
                                       </div>
                                      

                                   </div>
                                  
                               </div>
                               <div style="clear:both;"></div>
                               <div class="col-sm-12">
                                   <div class="col-sm-12">
                                      
                                       <label><br /><br />Last Expense Updated Date and Time: {{ viewExpenseDate  }}</label>
                                       <br /><br />
                                   </div>
                                   
                                  
                               </div>
                              
                           </div>
                           
                           
                       </div>

                       <div class="col-md-4" style="background: #ededed; padding: 10px 10px 46px; margin-left: 10px;">
                           <h4 style="margin: 0 0 10px; font-size: 16px;">Denomination Chart</h4>


                           <label>Denomination</label>
                           <div class="row">
                               <div class="col-sm-12">
                                   <div class="col-sm-6"><label>2000 (x)</label></div>
                                   <div class="col-sm-6"><div class="form-group">

    <input type="text" title="Balance" id="rs2000" ng-enter="moveNext('rs2000','rs1000')" ng-model="pettyCash.noof2000" ng-blur="Dinominate()" ng-disabled="pettyCash.clbalance <= 0"
           valid-number numbers-only maxlength="3" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
</div></div>
                                       
                                   </div>
                               <div class="col-sm-12">
                                   <div class="col-sm-6"><label>1000 (x)</label></div>
                                   <div class="col-sm-6"><div class="form-group">

    <input type="text" title="Balance" id="rs1000" ng-enter="moveNext('rs1000','rs500')" ng-model="pettyCash.noof1000" ng-blur="Dinominate()" ng-disabled="pettyCash.clbalance <= 0"
           valid-number numbers-only maxlength="3" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
</div></div>
                                   
                               </div>
                               <div class="col-sm-12">
                                   <div class="col-sm-6"><label>500 (x)</label></div>
                                   <div class="col-sm-6"><div class="form-group">

    <input type="text" title="Balance" id="rs500" ng-enter="moveNext('rs500','rs200')" ng-model="pettyCash.noof500" ng-blur="Dinominate()" ng-disabled="pettyCash.clbalance <= 0"
           valid-number numbers-only maxlength="4" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
</div></div>
                                   
                               </div>
                               <div class="col-sm-12">
                                   <div class="col-sm-6"><label>200 (x)</label></div>
                                   <div class="col-sm-6"><div class="form-group">

    <input type="text" title="Balance" id="rs200" ng-enter="moveNext('rs200','rs100')" ng-model="pettyCash.noof200" ng-blur="Dinominate()" ng-disabled="pettyCash.clbalance <= 0"
           valid-number numbers-only maxlength="4" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
</div></div>
                                   
                               </div>
                               <div class="col-sm-12">
                                   <div class="col-sm-6"><label>100 (x)</label></div>
                                   <div class="col-sm-6"><div class="form-group">

    <input type="text" title="Balance" id="rs100" ng-enter="moveNext('rs100','rs50')" ng-model="pettyCash.noof100" ng-blur="Dinominate()" ng-disabled="pettyCash.clbalance <= 0"
           valid-number numbers-only maxlength="4" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
</div></div>
                                   
                               </div>
                               <div class="col-sm-12">
                                   <div class="col-sm-6"><label>50 (x)</label></div>
                                   <div class="col-sm-6"><div class="form-group">

    <input type="text" title="Balance" id="rs50" ng-enter="moveNext('rs50','rs20')" ng-model="pettyCash.noof50" ng-blur="Dinominate()" ng-disabled="pettyCash.clbalance <= 0"
           valid-number numbers-only maxlength="4" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
</div></div>
                                   
                               </div>
                               <div class="col-sm-12">
                                   <div class="col-sm-6"><label>20 (x)</label></div>
                                   <div class="col-sm-6"><div class="form-group">

    <input type="text" title="Balance" id="rs20" ng-enter="moveNext('rs20','rs10')" ng-model="pettyCash.noof20" ng-blur="Dinominate()" ng-disabled="pettyCash.clbalance <= 0"
           valid-number numbers-only maxlength="4" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
</div></div>
                                   
                               </div>
                               <div class="col-sm-12">
                                   <div class="col-sm-6"><label>10 (x)</label></div>
                                   <div class="col-sm-6"><div class="form-group">

    <input type="text" title="Balance" id="rs10" ng-enter="moveNext('rs10','coins')" ng-model="pettyCash.noof10" ng-blur="Dinominate()" ng-disabled="pettyCash.clbalance <= 0"
           valid-number numbers-only maxlength="4" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
</div></div>
                                   
                               </div>
                               <div class="col-sm-12">
                                     <div class="col-sm-6"><label>Coins</label></div>
                                   <div class="col-sm-6"><div class="form-group">

    <input type="text" title="Balance" id="coins" ng-enter="moveNext('coins','fnlsubmit')" ng-model="pettyCash.coins" ng-blur="Dinominate()" ng-disabled="pettyCash.clbalance <= 0"
           valid-number  maxlength="5" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
</div></div>
                                   
                               </div>

                            </div>

                                   
                                   
                                   
                                   
                                   
                                   
                                   
                                   
                               </div>



                               @*<div class="col-sm-3" style="margin: 20px 0px 0px -74px;">
                    <input type="text" title="Method" typeahead-focus-on-select="false" typeahead-no-results="noResults" typeahead-min-length="1" placeholder="Method" id="drugName" required="" name="drugName" uib-typeahead="product as product.name for product in getProducts($viewValue)" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched" focus-box="" nextid="batchNo" ng-disabled="dcItemEdit || poItemEdit" typeahead-on-select="onProductSelect($event,selectedProduct)" typeahead-template-url="itemTpl.html" ng-click="checkAllPurchasefields(4)" ng-keyup="checkAllPurchasefields(4)" ng-enter="getProduct($event)" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-5-7672">
                </div>
                <div class="col-sm-3" style="margin: 20px 0px 0px 27px;">
                    <input type="text" title="UserName" placeholder="UserName" required="" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched" focus-box="" nextid="batchNo">
                </div>*@

                           </div>

                           <div class="row" style="background: #f7f7f7; padding: 10px 0 0;">
                               <div class="col-md-4">
                                   <div class="form-group" style="text-align:right">
                                       <label>Till Total</label>
                                       <div>
                                           <input type="text" title="Subtotal" placeholder="0" disabled ng-model="pettyCash.clbalance|number:2"
                                                  valid-number style="width: 30%;display: inline;" class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched" focus-box="" nextid="batchNo">
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-4" style="margin-right:0px;">
                                   <div class="form-group" style="margin-left: 25px;text-align:right">
                                       <label style="padding-left: 0">Denomination Total</label><br/>
                                       <input type="text" title="Balance" style="width: 100px;display: inline;" disabled ng-model="dinaminationAmount|number:2" valid-number numbers-only
                                              class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
                                   </div>
                               </div>
                           </div>



                           <div class="row" style="margin-bottom: 20px; overflow: hidden">


                               @*<div class="col-sm-6" style="margin: 20px 0px 0px 27px;">
                    <h4>Others</h4>
                    <input type="text" title="Balance" ng-model="pettyCash.others"  ng-blur="Dinominate()"
                           valid-number numbers-only class="form-control form-control-small ng-pristine ng-invalid ng-invalid-required ng-touched">
                </div>*@


                           </div>
                           <div class="row">


                               <div class="col-sm-3 pull-right" ng-hide="dinaminationAmount==0">
                                   <label>Till Difference: <p style="font-size: 20px;" ng-show="(statusDiff !== 'Tallied')">{{cashOnHand |number:2}}</p> </label>
                                   <label class="{{statusDiffFlag}}" >{{statusDiff}}</label>
                               </div>
                           </div>

                           <div class="panel panel-default">
                               <div class="panel-footer clearfix">
                                   <div class="pull-left">
                                       <button title="Cancel" ng-show="(false)" class="btn btn-style btn-cancel" ng-click="cancel()">Cancel</button>
                                   </div>
                                   <div class="pull-right">
                                       <button title="Save Till" class="btn btn-style" id="fnlsubmit" ng-click="pettyCashSaveHdr()">{{mode}} Till</button>
                                   </div>
                               </div>
                           </div>
</ng-form>
        </div>
    </div>

   <style>
       .shortage-flag-color {
           margin: 3px 0 0 0px;
           color: #f00;
           font-size: 20px;
       }
       .tallied-flag-color {
           margin: 3px 0 0 0px;
           color: #12AA73;
           font-size: 20px;
       }
   </style>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
<script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
<script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>
<script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
<script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>


<script asp-append-version="true" src="~/appscript/appscriptdatepicker.js"></script>
<script asp-append-version="true" src="~/appscript/model.js"></script>
<script asp-append-version="true" src="~/appscript/accounts/pettycashservice.js"></script>
<script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/accounts/pettycashhdrcreatectrl.js"></script>
}