@{
    ViewBag.Title = "Accepted Leads";
    Layout = "_Layout";
    ViewBag.Menu = "Accepted Leads";
}

@await Html.PartialAsync("~/Views/Leads/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="acceptedLeadsSearchCtrl" ng-cloak>
    <div class="panel panel-default">
        
        <div class="pull-left" ng-if="list.length == 0">
            No Records found
        </div>
        <div class="leads-grid" ng-repeat="leads in list">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class=''>
                        <p class="form-control-static " style="margin-bottom:10px;"><img src="~/assets/images/doctor-leads.png" /> <strong>{{leads.doctorName}}</strong></p>
                    </div>
                </div>
                @*<div class='col-sm-3'>
    <div class='form-group'>
        <p class="form-control-static">
            <span class=" glyphicon glyphicon-user "></span> {{leads.doctorSpecialization}}
                        </p>
                    </div>
                </div>*@
                <div class='col-sm-3'>
                    <div class=''>
                        <p class="form-control-static " style="margin-bottom:10px;"><span class="glyphicon glyphicon-user"></span>&nbsp;<strong>{{leads.name}}</strong></p>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class=''>
                        <p class="form-control-static" style="margin-bottom:10px;">
                            <span class="glyphicon glyphicon-phone"></span> <strong>{{leads.mobile}}</strong>
                        </p>
                    </div>
                </div>
                <div class='col-sm-3'>
                    <div class=''>
                        <p class="form-control-static" style="margin-bottom:10px;">
                            <span class="glyphicon glyphicon-calendar"></span> <strong>{{leads.createdAt | date:'dd/MM/yyyy h:mma'}}</strong>
                            <button title="+"  style="background: #28465a;color: #fff;" class="pull-right pat-info-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class='row alterRow alter-row-collapse' style="overflow: hidden; display: none; padding-top:15px" id="chip-wrapper{{$index}}">
                <div class='col-sm-12'>
                    <div class='form-group'>
                        <p class="form-control-static" style="font-weight:bold;"> Drug Details</p>
                    </div>
                    <div class='form-group'>
                        @*<p class="form-control-static" ng-repeat="leadsproduct in leads.leadsProduct">
                            {{leadsproduct.name}} - {{leadsproduct.quantity}}
                        </p>*@

                        <table style="width:60%">
                            <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="leadsproduct in leads.leadsProduct">
                                    <td>{{leadsproduct.name}}</td>
                                    <td>{{leadsproduct.Totaltablets}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn  btn-style" style="margin-bottom:15px;margin-right:10px;"  ng-show="leads.localLeadStatus==''" ng-click="ConvertTosale($index,leads)">
                            <span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;&nbsp;Convert to Sale
                        </button>

                        <button type="submit" class="btn  btn-style" style="margin-bottom:15px;margin-right:10px;background-color:orangered;" disabled ng-show="leads.localLeadStatus=='CMPT'" ng-click="ConvertTosale($index,leads)">
                            <span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;&nbsp;Sale Completed
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/appscriptlist.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/leads/leadsservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/leads/acceptedleadssearchctrl.js"></script>
}
