@using System.Threading.Tasks

@{
    ViewBag.Title = "Leads List";
    Layout = "_Layout";
    ViewBag.Menu = "Leads";
}

@await Html.PartialAsync("~/Views/Leads/Menu.cshtml")

<div class="row panelBorder" ng-app="hcue" ng-controller="leadsSearchCtrl" ng-cloak>
    <div class="panel panel-default">
        @*<div class="panel-heading">LEADS LIST</div>*@
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-4'>
                    @*<a href="~/Views/Leads/List.cshtml">~/Views/Leads/List.cshtml</a>*@
                    <div class='form-group mb-0'>
                        <div class='input-group'>
                            <div class="input-group col-sm-10" style="padding-left: 0px;">
                                <angucomplete id="doctorName"
                                              placeholder="Doctor Name"
                                              pause="400"
                                              selectedobject="selectedDoctor"
                                              url="/doctor/DoctorList?doctorName="
                                              titleField="name"
                                              inputclass="search-query form-control"
                                              event="doctorSelected" />
                            </div>
                            <div class='input-group-btn col-sm-2' style="left:-30px">
                                <span class="input-group-btn">
                                    <button title="Leads Search" class="btn" type="button" ng-click="leadsSearch()">
                                        Search
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-8' ng-if="list.length != 0">
                    <div class='pull-right'>
                        <label for="user_title " class="green-line-btn">Total Leads - {{count}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row  marginLR-zero'>
                <div class="pull-left" ng-if="list.length == 0">
                    No Records found
                </div>
                <div class="leads-grid" ng-repeat="leads in list">
                    <div class='row'>
                        <div class='col-sm-3'>
                            <div class=' '>
                                <p class="form-control-static " style="margin-bottom:10px;">
                                    <span><img src="~/assets/images/doctor-leads.png" /></span> <strong>{{leads.doctorName}}</strong>
                                </p>
                            </div>
                        </div>
                        @*<div class='col-sm-3'>
                            <div class='form-group'>
                                <p class="form-control-static">
                                    <span class=" glyphicon glyphicon-user "></span> {{leads.doctorSpecialization}}
                                </p>
                            </div>
                        </div>*@
                        <div class='col-sm-3'>
                            <div class=' '>
                                <p class="form-control-static " style="margin-bottom:10px;"><span class="glyphicon glyphicon-user"></span>&nbsp;<strong>{{leads.name}}</strong></p>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class=' '>
                                <p class="form-control-static" style="margin-bottom:10px;">
                                    <span class="glyphicon glyphicon-phone"></span> <strong>{{leads.mobile}}</strong>
                                  
                                </p>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class=''>
                                <p class="form-control-static" style="margin-bottom:10px;">
                                    <span class="glyphicon glyphicon-calendar"></span> <strong>{{leads.createdAt | date:'dd/MM/yyyy h:mma'}} </strong>
                                    <button title="+" style="background: #28465a;color: #fff;" class="pull-right pat-info-btn" id="chip-btn{{$index}}" data="{{$index}}" ng-click="toggleProductDetail($event)">+</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class='row alterRow alter-row-collapse' style="overflow: hidden; display: none; padding-top:15px" id="chip-wrapper{{$index}}">
                        <div class='col-sm-12'>
                            <div class='form-group'>
                                <p class="form-control-static" style="font-weight:bold;"> Drug Details</p>
                            </div>
                            <div class='form-group'>
                                @*<p class="form-control-static" ng-repeat="leadsproduct in leads.leadsProduct">
                                    {{leadsproduct.name}} -  <b>Dosage :</b> {{leadsproduct.dosage}} * ({{leadsproduct.numberofDays}} days) - <span ng-if="leadsproduct.ba == 'True'">BF</span> <span ng-if="leadsproduct.ba == 'False'">AF</span>
                                </p>*@
                                <table style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Drug Name</th>
                                            <th>Dosage</th>
                                            <th>No.Of Days</th>
                                            <th>TotalQuantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="leadsproduct in leads.leadsProduct">
                                            <td>{{leadsproduct.name}}</td>
                                            <td>( {{leadsproduct.dosage}} ) - <span ng-if="leadsproduct.ba == 'True'">BF</span> <span ng-if="leadsproduct.ba == 'False'">AF</span></td>
                                            <td>{{leadsproduct.numberofDays}}</td>
                                            <td>{{leadsproduct.Totaltablets}}</td>
                                        </tr>
                                       
                                    </tbody>
                                    </table>
</div>
                            <div class="text-right">
                                <button type="submit" class="btn  btn-style" style="margin-bottom:15px;margin-right:10px;" ng-click="leadsStatus($index,leads.id,leads.externalId,'ACPH')">
                                    <span class="glyphicon glyphicon-thumbs-up pull-left"></span>&nbsp;&nbsp;Accept
                                </button>
                                <button type="submit" class="btn  btn-style" style="margin-bottom:15px;" ng-click="leadsStatus($index,leads.id,leads.externalId,'DEPH')">
                                    <span class="glyphicon glyphicon-thumbs-down pull-left"></span>&nbsp;&nbsp;Reject
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    <script asp-append-version="true" src="~/appscript/leads/leadsappscript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/leads/leadsservice.js"></script>
    <script asp-append-version="true" src="~/appscript/leads/leadssearchctrl.js"></script>

    <link asp-append-version="true" href="~/lib/angucomplete/angucomplete.css" rel="stylesheet" />
    <script asp-append-version="true" src="~/appscript/common/angucomplete.js"></script>
}
