﻿<ul class="nav nav-tabs override_margin">
    <li class="@(ViewBag.Menu == "Leads" ? "active" : "")">
        <a asp-action="List" asp-controller="Leads">
            Leads
        </a>
    </li>
    <li class="@(ViewBag.Menu == "Accepted Leads" ? "active" : "")">
        <a asp-action="AcceptedLeadsList" asp-controller="Leads">
            Accepted Leads
        </a>
    </li>
    <li class="@(ViewBag.Menu == "Rejected Leads" ? "active" : "")">
        <a asp-action="RejectedLeadsList" asp-controller="Leads">
            Rejected Leads
        </a>
    </li>
</ul>