@using Utilities.Helpers
@using HQue.Contract.Infrastructure.UserAccount
@model HQue.Contract.Infrastructure.Setup.Registration
@{
    ViewBag.Title = "Branch";
    ViewBag.Menu = "Registration";
    Layout = "_LayoutBDO";
}


<div class="content-area" ng-app="hcue" ng-controller="registrationCreateCtrl" ng-cloak>


    <div class="registration-page">

        <form id="register" name="register" ng-init="init('@ViewBag.instanceId', '@User.Name()')" novalidate>

            <div class="user-management-section">

                <div class="registration-section">
                    @*<h3 class="plain-heading text-uppercase">Branch Details</h3>*@

                    <div class="common-tab">
                        <ul>
                            <li class="tab-link current" data-tab="tab-1" material raised>Branch@* 1*@</li>
                            @*<a class="add-tabs disabled"><i class="fa fa-plus" aria-hidden="true"></i></a>*@
                        </ul>
                    </div>

                    <div id="tab-1" class="tab-content fade-in  current">
                        <div class="registration-details-page">
                            <div class="common-section">
                                <div class="row custom-row clearfix">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-row">
                                            <div class="form-inner-field">
                                                <label>Pharmacy Name<span>*</span></label>
                                                <input type="text" id="pharmaname" name="pharmaname" ng-model="registration.instance.name" value="" class="text-box" placeholder="Enter Pharmacy name" required ng-disabled="chkEdit">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-inner-field">
                                            <label>Registration Date<span>*</span></label>
                                            <div class="calender-icon">
                                                <input type="text" name="registrationDate" ng-model="registration.instance.registrationDate" class="text-box" placeholder="Registration Date" ng-disabled="chkEdit" ng-click="open2()" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" is-open="popup2.opened" my-date ng-change="dayDiff(registration.instance.registrationDate)" required />
                                                <span class="errorMessage" ng-show="registration.registrationDate.$dirty && registration.registrationDate.$error.required">
                                                    Registration date is Required!
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-inner-field">
                                            <label>Drug License No.<span></span></label>
                                            <input type="text" name="drugLicenseNo" ng-model="registration.instance.drugLicenseNo" value="" class="text-box" placeholder="Enter Drug License No." ng-disabled="disablefields.account">
                                            <span class="errorMessage" ng-show="registration.drugLicenseNo.$dirty && registration.drugLicenseNo.$error.required">
                                                Drug License No is Required!
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-inner-field">
                                            <label>Drug License expiry date</label>
                                            <div class="calender-icon">
                                                <input type="text" name="drugLicenseExpDate" ng-model="registration.instance.drugLicenseExpDate" class="text-box" placeholder="License expiry date" ng-disabled="disablefields.account" ng-click="open1()" allow-future="true" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="dateOptions" is-open="popup1.opened" min-date="minDate" my-date ng-change="dayDiff(registration.instance.drugLicenseExpDate)" />
                                                <span class="errorMessage" ng-show="registration.drugLicenseExpDate.$dirty && registration.drugLicenseExpDate.$error.required">
                                                    License expiry date is Required!
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-inner-field">
                                            <label>TIN No.<span></span></label>
                                            <input type="text" name="TinNo" ng-model="registration.instance.tinNo" value="" class="text-box" placeholder="Enter TIN No." ng-disabled="disablefields.instance">

                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-inner-field">
                                            <label>GSTIN No.<span></span></label>
                                            <input type="text" name="gsTinNo" maxlength="15" ng-model="registration.instance.gsTinNo" class="text-box" placeholder="Enter GSTIN No." ng-disabled="disablefields.instance" alpha-numeric />

                                        </div>
                                    </div>
                                </div>
                                <div class="row custom-row clearfix">
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-row">
                                            <div class="form-inner-field chain-pharmacy">
                                                <label>Door Delivery</label>

                                                <div class="common-radio-button">
                                                    <ul class="clearfix">
                                                        <li>
                                                            <input type="radio" id="DoorDelivery-Yes" name="isDoorDelivery" ng-model="registration.instance.DeliveryType" value="1">
                                                            <label for="DoorDelivery-Yes">Yes</label>
                                                            <div class="check"></div>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="DoorDelivery-No" name="isDoorDelivery" ng-model="registration.instance.DeliveryType" value="0">
                                                            <label for="DoorDelivery-No">No</label>
                                                            <div class="check">
                                                                <div class="inside"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2" ng-Show="@ViewBag.indentOrder == 1">
                                        <div class="form-row">
                                            <div class="form-inner-field chain-pharmacy">
                                                <label>Head Office</label>

                                                <div class="common-radio-button">
                                                    <ul class="clearfix">
                                                        <li>
                                                            <input type="radio" id="HeadOffice-Yes" name="isHeadOffice" ng-model="registration.instance.HeadOffice" value="1">
                                                            <label for="HeadOffice-Yes">Yes</label>
                                                            <div class="check"></div>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="HeadOffice-No" name="isHeadOffice" ng-model="registration.instance.HeadOffice" value="0">
                                                            <label for="HeadOffice-No">No</label>
                                                            <div class="check">
                                                                <div class="inside"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-row">
                                            <div class="form-inner-field chain-pharmacy">
                                                <label>Branch</label>

                                                <div class="common-radio-button">
                                                    <ul class="clearfix">
                                                        <li>
                                                            <input type="radio" id="UnionTerritory-Yes" name="isUnionTerritory" ng-model="registration.instance.isUnionTerritory" value="1">
                                                            <label for="UnionTerritory-Yes">Union Territory</label>
                                                            <div class="check"></div>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="UnionTerritory-No" name="isUnionTerritory" ng-model="registration.instance.isUnionTerritory" value="0">
                                                            <label for="UnionTerritory-No">State</label>
                                                            <div class="check">
                                                                <div class="inside"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="form-row">
                                            <div class="form-inner-field chain-pharmacy">
                                                <label>GST</label>

                                                <div class="common-radio-button">
                                                    <ul class="clearfix">
                                                        <li>
                                                            <input type="radio" id="gst-Yes" name="isgst" ng-model="registration.instance.gstpr" value="0" ng-change="selectGstComposite()">
                                                            <label for="gst-Yes">Genaral GST Practitioner</label>
                                                            <div class="check"></div>
                                                        </li>
                                                        <li>
                                                            <input type="radio" id="gst-No" name="isgst" ng-model="registration.instance.gstpr" value="1" ng-change="selectGstComposite()">
                                                            <label for="gst-No">Composite Tax Payer</label>
                                                            <div class="check">
                                                                <div class="inside"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-1" id="_chlEmail" ng-class="@ViewBag.indentOrder == 1" style="margin-top:30px">
                                        @*class="form-inner-field"*@
                                        <span>
                                            <input class="form-control" type="checkbox" id="chkEmail" name="chkEmail" ng-model="registration.instance.isEmail" value="" style="width:20px; height:20px;" />
                                        </span>
                                        <label class="lblChkEmail" for="chkEmail">Share your GSTIN No with your suppliers through Email</label>
                                    </div>

                                    <div class="col-md-2 col-sm-1" style="margin-top:30px">
                                        <select id="instanceType" name="instanceType" title="Instance Type" placeholder="Select anyone" ng-model="registration.instance.instanceTypeId" class="search-query form-control" ng-options="x.domainValue as x.displayText for x in selectedInstanceType" disabled>
                                            <option value="">Please Select Instance Type</option>
                                        </select>                                    
                                    </div>

                                </div>
                            </div>
                            <div class="address-section">
                                <h3 class="plain-heading text-uppercase">ADDRESS</h3>
                                <div class="common-section">
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="form-row">
                                                <div class="form-inner-field">
                                                    <label>Map Search</label>
                                                    <input type="text" name="address" id="address"
                                                           vs-google-autocomplete
                                                           ng-model="address.name"
                                                           vs-place="address.place"
                                                           vs-place-id="address.components.placeId"
                                                           vs-street-number="address.components.streetNumber"
                                                           vs-street="registration.instance.streetName"
                                                           vs-city="registration.instance.city"
                                                           vs-state="registration.instance.state"
                                                           vs-country-short="address.components.countryCode"
                                                           vs-country="registration.instance.country"
                                                           vs-post-code="registration.instance.pincode"
                                                           vs-district="address.components.district"
                                                           vs-latitude="registration.instance.lat"
                                                           vs-longitude="registration.instance.lon"
                                                           value="" class="text-box" placeholder="Enter Map Search"
                                                           ng-disabled="disablefields.instance"
                                                           callback-fn="ctrlFn()" />
                                                </div>
                                            </div>
                                            <div class="form-inner-field">
                                                <div id="myMap" style="height:285px" ng-disabled="disablefields.instance"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 address-field">





                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-row">
                                                    <div class="form-inner-field">
                                                        <label>Building Name</label>
                                                        <input type="text" id="buildingname" name="buildingName" ng-focus="mapInitialize()" ng-model="registration.instance.buildingName" value="" class="text-box" placeholder="Enter Building name" ng-disabled="disablefields.instance">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-row">
                                                    <div class="form-inner-field">
                                                        <label>Street Name</label>
                                                        <input type="text" id="streetname" name="streetName" ng-model="registration.instance.streetName" value="" class="text-box" placeholder="Enter street name" ng-disabled="disablefields.instance">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-row">
                                                    <div class="form-inner-field">
                                                        <label>Area</label>
                                                        <input type="text" id="area" name="area" ng-model="registration.instance.area" value="" class="text-box" placeholder="Enter area name" ng-disabled="disablefields.instance">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-row">
                                                    <div class="form-inner-field">
                                                        <label>Landmark</label>
                                                        <input type="text" id="landmark" name="landmark" ng-model="registration.instance.landmark" value="" class="text-box" placeholder="Enter landmark name" ng-disabled="disablefields.instance">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-row">
                                                    <div class="form-inner-field">
                                                        <label>City<span>*</span></label>
                                                        <input type="text" id="city" name="city" required ng-model="registration.instance.city" value="" class="text-box" placeholder="Enter city name" ng-disabled="disablefields.instance">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-row">
                                                    <div class="form-inner-field">
                                                        <label>State<span>*</span></label>
                                                        <input type="text" id="state" name="state" required ng-model="registration.instance.state" value="" class="text-box" placeholder="State" ng-disabled="disablefields.instance">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-row">
                                                    <div class="form-inner-field">
                                                        <label>Pincode<span>*</span></label>
                                                        <input type="text" id="pincode" name="pincode" required ng-model="registration.instance.pincode" maxlength="10" class="text-box" placeholder="Enter Pincode code" ng-disabled="disablefields.instance" numbers-only>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-row">
                                                    <div class="form-inner-field">
                                                        <label>Country<span>*</span></label>
                                                        <input type="text" id="country" name="country" required ng-model="registration.instance.country" value="" class="text-box" placeholder="Enter Country name" ng-disabled="disablefields.instance">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-row">
                                                    <div class="form-inner-field">
                                                        <label>Latitude<span>*</span></label>
                                                        <input type="text" id="latitude" name="lat" required ng-blur="mapInitialize()" ng-model="registration.instance.lat" value="" class="text-box" placeholder="Enter Latitude" ng-disabled="disablefields.instance">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-row">
                                                    <div class="form-inner-field">
                                                        <label>Longitude<span>*</span></label>
                                                        <input type="text" id="longitude" name="lon" required ng-blur="mapInitialize()" ng-model="registration.instance.lon" value="" class="text-box" placeholder="Enter Longitude" ng-disabled="disablefields.instance">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contact-section">
                                <h3 class="plain-heading text-uppercase">CONTACT INFORMATION</h3>
                                <div class="common-section ">
                                    <div class="row custom-row clearfix">

                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-row">

                                                <div class="form-inner-field" ng-class="{ 'has-error' : register.username.$invalid && (register.username.$dirty || submitted)}">
                                                    <label>Contact Name<span>*</span></label>
                                                    <input type="text" name="username" ng-model="registration.instance.contactName" value="" class="form-control" placeholder="Enter customer name" ng-required="true" ng-disabled="disablefields.instance">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-row">
                                                <div class="form-inner-field" ng-class="{ 'has-error' : register.usermobile.$invalid && (register.usermobile.$dirty || submitted)}">
                                                    <label>Mobile No.</label>
                                                    <input type="text" name="usermobile" ng-model="registration.instance.contactMobile" value="" class="form-control" placeholder="Enter mobile number" maxlength="10" ng-disabled="disablefields.instance" numbers-only />
                                                    <span class="errorMessage" ng-show="!mobileNotExists">Mobile no. already exists for another pharmacy</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-row">
                                                <div class="form-inner-field" ng-class="{ 'has-error' : register.usermobile.$invalid && (register.usermobile.$dirty || submitted)}">
                                                    <label>Land Line No.</label>
                                                    <input type="text" name="phone" ng-model="registration.instance.phone" value="" class="form-control" placeholder="Enter Land Line No." maxlength="11" ng-disabled="disablefields.instance" numbers-only />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-row">
                                                <div class="form-inner-field" ng-class="{ 'has-error' : register.userId.$invalid && (register.userId.$dirty || submitted)}">
                                                    <label>Email</label>
                                                    <input type="email" name="userId" ng-model="registration.instance.contactEmail" value="" class="form-control" placeholder="Enter email ID" ng-disabled="disablefields.instance">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-row">
                                                <div class="form-inner-field padding-right-10" ng-class="{ 'has-error' : register.designation.$invalid && (register.designation.$dirty || submitted)}">
                                                    <label>Designation</label>
                                                    <input type="text" name="designation" ng-model="registration.instance.contactDesignation" class="form-control" placeholder="Ente Designation name" ng-disabled="disablefields.instance">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix">
                                        <a href="#" title="" ng-click="showSecondaryContact()" class="pull-right button-additional">
                                            <span ng-show="!secondaryContactFlag">Show secondary contact information</span>
                                            <span ng-show="secondaryContactFlag">Hide secondary contact information</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="contact-section" ng-show="secondaryContactFlag">
                                <h3 class="plain-heading text-uppercase">SECONDARY CONTACT INFORMATION</h3>
                                <div class="common-section ">
                                    <div class="row custom-row clearfix">
                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-row">
                                                <div class="form-inner-field" ng-class="{ 'has-error' : register.secname.$invalid && (register.username.$dirty || submitted)}">
                                                    <label>Contact Name<span>*</span></label>
                                                    <input type="text" name="secname" ng-model="registration.instance.secondaryName" value="" class="form-control" placeholder="Enter customer name" ng-required="secondaryContactFlag" ng-disabled="disablefields.instance">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-3">
                                            <div class="form-row">
                                                <div class="form-inner-field" ng-class="{ 'has-error' : register.secemail.$invalid && (register.secemail.$dirty || submitted)}">
                                                    <label>Email</label>
                                                    <input type="email" name="secemail" ng-model="registration.instance.secondaryEmail" value="" class="form-control" placeholder="Enter email ID" ng-disabled="disablefields.instance">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-2 col-sm-2">
                                            <div class="form-row">
                                                <div class="form-inner-field" ng-class="{ 'has-error' : register.secmobile.$invalid && (register.usermobile.$dirty || submitted)}">
                                                    <label>Mobile No.</label>
                                                    <input type="text" name="secmobile" ng-model="registration.instance.secondaryMobile" value="" class="form-control" placeholder="Enter mobile number" maxlength="10" ng-disabled="disablefields.instance" numbers-only />
                                                    <span class="errorMessage" ng-show="!mobileNotExists">Mobile no. already exists for another pharmacy</span>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                            <div class="timing-section fade-in">
                                <h3 class="plain-heading text-uppercase">Timings</h3>
                                <div class="common-section ">
                                    <div class="row">
                                        <div class="col-md-5 col-sm-5 timing-slot">
                                            <div class="form-row">
                                                <div class="form-inner-field">
                                                    <div class="common-radio-button">
                                                        <ul class="clearfix">
                                                            <li>
                                                                <input type="radio" id="General" ng-model="timingsUI.openhours" value="1" name="timing" ng-change="select24By7()" ng-disabled="disablefields.instance">
                                                                <label for="General">General</label>
                                                                <div class="check"></div>
                                                            </li>
                                                            <li>
                                                                <input type="radio" id="24Working" ng-model="timingsUI.openhours" value="2" name="timing" ng-change="select24By7()" ng-disabled="disablefields.instance" />
                                                                <label for="24Working">24/7 Working</label>
                                                                <div class="check">
                                                                    <div class="inside"></div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row time-select">
                                                <div class="col-md-5">
                                                    <div class="form-row clearfix">
                                                        <h5>Start Time</h5>
                                                        <div class="form-inner-field start-time">
                                                            <input type="text" class="text-box" id="starttime" ng-model="timingsUI.starttime" placeholder="00 : 00" maxlength="5" ng-disabled="disablefields.instance || disablefields.timings" ng-keyup="changeStartTime(timingsUI.starttime,$event)" />
                                                        </div>
                                                        <div class="ampm-section">
                                                            <label class="ampm-switch">
                                                                <input type="checkbox"
                                                                       id="Start-Time"
                                                                       ng-model="timingsUI.startcheck"
                                                                       name="Start-Time"
                                                                       value="Start-Time"
                                                                       ng-disabled="disablefields.instance || disablefields.timings">
                                                                <div class="toggle-button"></div>
                                                            </label>
                                                        </div>
                                                        <span class="errorMessage" ng-show="startTimeError">Invalid Time</span>

                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-row clearfix">
                                                        <h5>End Time</h5>
                                                        <div class="form-inner-field start-time">
                                                            <input type="text" class="text-box" id="endtime" ng-model="timingsUI.endtime" placeholder="00 : 00" maxlength="5" ng-disabled="disablefields.instance || disablefields.timings" ng-keyup="changeEndTime(timingsUI.endtime,$event)" />
                                                        </div>
                                                        <div class="ampm-section">
                                                            <label class="ampm-switch">
                                                                <input type="checkbox" id="End-Time" ng-model="timingsUI.endcheck" name="End-Time" value="End-Time" ng-disabled="disablefields.instance || disablefields.timings">
                                                                <div class="toggle-button"></div>
                                                            </label>
                                                        </div>

                                                        <span class="errorMessage" ng-show="endTimeError">Invalid Time</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row"><div class="col-lg-12 text-center"><span style="color:red;">{{timeErrorMessage}}</span></div></div>
                                            <div class="form-row">
                                                <div class="form-inner-field padding-right-10">
                                                    <label>Select Day(s)</label>
                                                    <div class="weekDays-selector">
                                                        <input type="checkbox" id="weekday-Sun" ng-model="timingsUI.sun" class="weekday" value="true" ng-disabled="disablefields.instance || disablefields.timings" />
                                                        <label for="weekday-Sun">Sun</label>
                                                        <input type="checkbox" id="weekday-Mon" ng-model="timingsUI.mon" class="weekday" value="true" ng-disabled="disablefields.instance || disablefields.timings" />
                                                        <label for="weekday-Mon">Mon</label>
                                                        <input type="checkbox" id="weekday-Tue" ng-model="timingsUI.tue" class="weekday" value="true" ng-disabled="disablefields.instance || disablefields.timings" />
                                                        <label for="weekday-Tue">Tue</label>
                                                        <input type="checkbox" id="weekday-Wed" ng-model="timingsUI.wed" class="weekday" value="true" ng-disabled="disablefields.instance || disablefields.timings" />
                                                        <label for="weekday-Wed">Wed</label>
                                                        <input type="checkbox" id="weekday-Thu" ng-model="timingsUI.thu" class="weekday" value="true" ng-disabled="disablefields.instance || disablefields.timings" />
                                                        <label for="weekday-Thu">Thu</label>
                                                        <input type="checkbox" id="weekday-Fri" ng-model="timingsUI.fri" class="weekday" value="true" ng-disabled="disablefields.instance || disablefields.timings" />
                                                        <label for="weekday-Fri">Fri</label>
                                                        <input type="checkbox" id="weekday-Sat" ng-model="timingsUI.sat" class="weekday" value="true" ng-disabled="disablefields.instance || disablefields.timings" />
                                                        <label for="weekday-Sat">Sat</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="common-checkbox select-all-days">
                                                    <input type="checkbox" name="select-all" id="select-all" ng-click="SelectAllDays()" ng-model="timingsUI.selectAll" value="1" ng-disabled="disablefields.instance || disablefields.timings">
                                                    <label for="select-all">Select All</label>
                                                </div>
                                            </div>


                                            <button title="" class="button-primary" ng-click="TimingSubmit()" ng-disabled="disablefields.instance">Submit</button>
                                            <button title="" class="button-secondary" ng-disabled="disablefields.instance" ng-click="resetTiming()">Reset</button>
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <div class="pharmacy-timing-list">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th width="20%"></th>
                                                            <th width="5%"></th>
                                                            <th width="75%"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="font-semibold" width="20%">Sunday</td>
                                                            <td width="5%">:</td>
                                                            <td width="75%"><span ng-bind="registration.instance.timings[0].timing"></span><a href="javascript:" class="margin-left-10" ng-click="clearTiming(0)" ng-show="registration.instance.timings[0].timing!='' && registration.instance.timings[0].timing!='24/7'"><img src="../../assets/edge/images/close-img.png" alt=""></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-semibold ">Monday</td>
                                                            <td>:</td>
                                                            <td><span ng-bind="registration.instance.timings[1].timing"></span><a href="javascript:" class="margin-left-10" ng-click="clearTiming(1)" ng-show="registration.instance.timings[1].timing!='' && registration.instance.timings[1].timing!='24/7'"><img src="../../assets/edge/images/close-img.png" alt=""></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-semibold">Tuesday</td>
                                                            <td>:</td>
                                                            <td><span ng-bind="registration.instance.timings[2].timing"></span><a href="javascript:" class="margin-left-10" ng-click="clearTiming(2)" ng-show="registration.instance.timings[2].timing!='' && registration.instance.timings[2].timing!='24/7'"><img src="../../assets/edge/images/close-img.png" alt=""></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-semibold">Wednesday</td>
                                                            <td>:</td>
                                                            <td><span ng-bind="registration.instance.timings[3].timing"></span><a href="javascript:" class="margin-left-10" ng-click="clearTiming(3)" ng-show="registration.instance.timings[3].timing!='' && registration.instance.timings[3].timing!='24/7'"><img src="../../assets/edge/images/close-img.png" alt=""></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-semibold">Thursday</td>
                                                            <td>:</td>
                                                            <td><span ng-bind="registration.instance.timings[4].timing"></span><a href="javascript:" class="margin-left-10" ng-click="clearTiming(4)" ng-show="registration.instance.timings[4].timing!='' && registration.instance.timings[4].timing!='24/7'"><img src="../../assets/edge/images/close-img.png" alt=""></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-semibold">Friday</td>
                                                            <td>:</td>
                                                            <td><span ng-bind="registration.instance.timings[5].timing"></span><a href="javascript:" class="margin-left-10" ng-click="clearTiming(5)" ng-show="registration.instance.timings[5].timing!='' && registration.instance.timings[5].timing!='24/7'"><img src="../../assets/edge/images/close-img.png" alt=""></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="font-semibold">Saturday</td>
                                                            <td>:</td>
                                                            <td><span ng-bind="registration.instance.timings[6].timing"></span><a href="javascript:" class="margin-left-10" ng-click="clearTiming(6)" ng-show="registration.instance.timings[6].timing!='' && registration.instance.timings[6].timing!='24/7'"><img src="../../assets/edge/images/close-img.png" alt=""></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="upload-image-section">
                                <h3 class="plain-heading text-uppercase">UPLOAD IMAGE</h3>
                                <div class="common-section ">
                                    <div class="clearfix">
                                        <div class="upload-image">
                                            <div class="imagePreview1">
                                                <div class="middlealign">
                                                    <div>
                                                        <div class="add-text">
                                                            Add Images
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <input id="uploadFile1" accept="image/*" type="file" ng-model="registration.instance.images[0].fileName" name="image1" ng-click="uploadImages()" class="img" ng-disabled="disablefields.instance" />
                                        </div>

                                        <div class="upload-image">
                                            <div class="imagePreview2">
                                                <div class="middlealign">
                                                    <div>
                                                        Add Images
                                                    </div>
                                                </div>
                                            </div>
                                            <input id="uploadFile2" accept="image/*" type="file" ng-model="registration.instance.images[1].fileName" name="image2" ng-click="uploadImages()" class="img" ng-disabled="disablefields.instance" />
                                        </div>
                                        <div class="upload-image">
                                            <div class="imagePreview3">
                                                <div class="middlealign">
                                                    <div>
                                                        Add Images
                                                    </div>
                                                </div>
                                            </div>
                                            <input id="uploadFile3" accept="image/*" type="file" ng-model="registration.instance.images[2].fileName" name="image3" ng-click="uploadImages()" class="img" ng-disabled="disablefields.instance" />
                                        </div>
                                        <div class="upload-image">
                                            <div class="imagePreview4">
                                                <div class="middlealign">
                                                    <div>
                                                        Add Images
                                                    </div>
                                                </div>
                                            </div>
                                            <input id="uploadFile4" accept="image/*" type="file" ng-model="registration.instance.images[3].fileName" name="image4" ng-click="uploadImages()" class="img" ng-disabled="disablefields.instance" />
                                        </div>
                                        <div class="upload-image">
                                            <div class="imagePreview5">
                                                <div class="middlealign">
                                                    <div>
                                                        Add Images
                                                    </div>
                                                </div>
                                            </div>
                                            <input id="uploadFile5" accept="image/*" type="file" ng-model="registration.instance.images[4].fileName" name="image5" ng-click="uploadImages()" class="img" ng-disabled="disablefields.instance" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </form>
        <div class="clearfix">

            <button ng-click="branchCreate()" ng-disabled="register.$invalid ||enableDoneButton" ng-class="{'disabled-button':register.$invalid||enableDoneButton}" class="button-primary pull-right">Done</button>&nbsp;&nbsp;<span style="float:right;">To Reflect GST Changes Logout and Login after Saving Branch</span>
        </div>
        @*<pre>{{register | json}}</pre>*@
    </div>
</div>
<style>
    #_chlEmail span {
        float: left;
        width: 10%;
    }

    .lblChkEmail {
        float: left;
        width: 80%;
        font-weight: inherit;
    }
</style>


@section scripts
{

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script asp-append-version="true" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAPgBj6XItClh1BVE_QFV51Xl_ZtPT3OIs"></script>


    <script asp-append-version="true" src="~/appscript/registrationAppScript.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/appscript/accountSetup/registrationService.js"></script>
    <script asp-append-version="true" src="~/appscript/accountSetup/accountSetupService.js"></script>
    <script asp-append-version="true" src="~/appscript/accountSetup/branchCreateCtrl.js"></script>


}
