@{
    ViewBag.Title = "Customized Features";
}

<div class="row panelBorder" ng-app="hcue" ng-controller="customizedFeaturesCtrl" ng-cloak>
    <div class="panel panel-default sell-group-decor7">
        <div class="panel-body override_margin">
            <div class='row override_margin'>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select Account</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="account"
                                    name="account"
                                    chosen
                                    title="Account Name"
                                    option="accountList"
                                    data-placeholder="Select account"
                                    ng-model="selectedAccount"
                                    ng-change="getBranchListByAccount()"
                                    ng-options="account.name for account in accountList track by account.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select Branch</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="branch"
                                    name="branch"
                                    chosen
                                    title="Branch Name"
                                    option="branchList"
                                    data-placeholder="Select branch"
                                    ng-model="selectedBranch"
                                    ng-change="getCustomSettings()"
                                    ng-options="branch.name for branch in branchList track by branch.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class='col-sm-2 override_margin'>
                    <div class='form-group'>
                        <label>Select Phone</label>
                        <div class="input-group col-md-12 override_margin">
                            <select id="phone"
                                    name="phone"
                                    chosen
                                    title="Phone No"
                                    option="phoneList"
                                    data-placeholder="Select phone"
                                    ng-model="selectedBranch"
                                    ng-change="getCustomSettings()"
                                    ng-options="branch.phone for branch in branchList track by branch.id"
                                    class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>      
                
                <div class='col-sm-2 margin-top-25 pull-right'>
                    <button id="save" title="Save Settings" ng-click="saveSettings()" class="btn btn-style">Save Settings</button>
                </div>         

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row'>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Group Id</th>
                            <th class="text-center">Group Name</th>
                            <th class="text-center">Enable/Disable</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="feature in featureList track by $index">
                        <tr class="chip-style">
                            <td>{{feature.customSettingsGroupId}}</td>
                            <td>{{feature.customSettingsGroupName}}</td>
                            <td class="text-center">
                                <input ng-model="feature.isActive" style="cursor:pointer;height:18px;width:18px;" type="checkbox" id="chk_{{$index}}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .margin-top-25 {
        margin-top: 25px;
    }
</style>

@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/appscript/appScriptCommon.js"></script>
    <script asp-append-version="true" src="~/appscript/settings/toolService.js"></script>    
    <script asp-append-version="true" src="~/AppScript/accountSetup/customizedFeaturesCtrl.js"></script>

    <script asp-append-version="true" src="~/lib/angular-chosen-localytics/chosen.js"></script>
    <script asp-append-version="true" src="~/lib/chosen/chosen.jquery.js"></script>
    <link asp-append-version="true" href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/lib/angular-chosen-localytics/chosen-spinner.css" rel="stylesheet" />

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
}