@model HQue.Contract.Infrastructure.Setup.Account
@{
    ViewBag.Title = "Edit Group";
    ViewBag.Menu = "Account Edit";
    Layout = "_Layout";
}

<div class="row" ng-app="hcue" ng-controller="updateAccountSetupCtrl" ng-cloak>
        
    <ng-form id="editGroup" name="editGroup" ng-init="editGroup('@ViewBag.Id')">
        <div class="panel panel-default">
            <div class="panel-heading">Edit Group Information</div>
            <div class="panel-body">
                <div class='row'>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input title="Group Name" type="text" id="groupName" name="groupName" placeholder="Group Name" class="search-query form-control" required maxlength="150" ng-model="account.name" autofocus>
                            </div>
                            <span class="error" ng-show="editGroup.groupName.$dirty && editGroup.groupName.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <label>Instance Type</label>
                                </span>                                
                                <select id="instanceType" name="instanceType" title="Instance Type" placeholder="Select anyone" ng-model="account.instanceTypeId" ng-change="setInstanceCount(account.instanceTypeId)" class="search-query form-control" required ng-options="x.domainValue as x.displayText for x in selectedInstanceType" ng-disabled="true">
                                    <option value="">Please Select Instance Type</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/branch.png" />
                                </span>
                                <input title="Instance Count" type="text" maxlength="3" id="noInstance" name="noInstance" placeholder="No of branches" class="search-query form-control" required ng-model="account.instanceCount" valid-number ng-disabled="account.instanceTypeId == '1'">
                            </div>
                            <span class="error" ng-show="editGroup.noInstance.$dirty && editGroup.noInstance.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <input type="text" id="regDate" name="regDate" required class="form-control" uib-datepicker-popup="{{format}}" placeholder="Registration Date" ng-model="account.registrationDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="error" ng-show="editGroup.regDate.$dirty && editGroup.regDate.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>                    
                </div>

                <div class='row'>   
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-phone"></span>
                                </span>
                                <input title="Mobile Number" maxlength="15" type="text" id="phone" name="phone" placeholder="Mobile" class="search-query form-control" required ng-model="account.phone" valid-number>
                            </div>
                            <span class="error" ng-show="editGroup.phone.$dirty && editGroup.phone.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                                     
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <label>Register Type</label>
                                </span>
                                @*<select id="status" name="status" title="status" class="form-control" ng-model="account.registerType" ng-change="changeRegisterType()" required style="height:40px;">
                                    <option value="">Please Select</option>
                                    <option value="2">Live</option>
                                    <option value="3">Test</option>
                                    <option value="4">Trial</option>
                                </select>*@
                                <select ng-model="selectedRegisterType" ng-options="x.name for x in selectedType" value="{{x.value}}" ng-change="changeRegisterType(selectedRegisterType)" required style="height:40px; width:100px;">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group' ng-show="account.registerType==4">
                            <div class="input-group col-md-12 front-addon">                                
                                <input title="Trial Start Date" type="text" maxlength="10" id="licenseStartDate" name="licenseStartDate" placeholder="Trial Start Date" class="form-control" ng-model="account.licenseStartDate" ng-required="account.registerType==4" uib-datepicker-popup="{{format}}" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date ng-change="checkLicenseDateValid()" />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group' ng-show="account.registerType==4">
                            <div class="input-group col-md-12 front-addon">
                                <input title="Trial End Date" type="text" maxlength="10" id="licenseEndDate" name="licenseEndDate" placeholder="Trial End Date" class="form-control" required ng-model="account.licenseEndDate" ng-required="account.registerType==4" uib-datepicker-popup="{{format}}" is-open="popup3.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date ng-change="checkLicenseDateValid()" />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open3()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="error" ng-show="expiryInvalid">
                                Trial Start date should not be greater than Trial End Date!
                            </span>
                        </div>
                    </div>
                    <div class='col-sm-6'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                </span>
                                <textarea title="Address" class="form-control" id="address" name="address" rows="3" Placeholder="Address [optional]" ng-model="account.address"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">            
            <div class="pull-right">
                <button title="update" class="btn btn-style" ng-disabled="editGroup.$invalid || isProcessing" ng-click="saveGroup(account)">Save</button>
                <button title="updateCancel" class="btn btn-style pull-right" style="margin-left:30px;" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        
    </ng-form>


</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
        
    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appscript/common/angular-common.js"></script>
        
    <script asp-append-version="true" src="~/appscript/appscriptdatepicker.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>

    <script asp-append-version="true" src="~/appscript/accountsetup/accountsetupservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accountsetup/updateaccountsetupctrl.js"></script>
}
