@model HQue.Contract.Infrastructure.Setup.Account
@{
    ViewBag.Title = "Register Group";
    ViewBag.Menu = "Account Registration";
    Layout = "_Layout";
}

<div class="row" ng-app="hcue" ng-controller="accountSetupCreateCtrl" ng-cloak>

    <!-- Account Create Section - start -->
    <ng-form id="accountSetup" name="accountSetup">
        <div class="panel panel-default">
            <div class="panel-heading">Registration Information</div>
            <div class="panel-body">
                <div class='row'>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input title="Group Name" type="text" id="groupName" name="groupName" placeholder="Group Name" class="search-query form-control" required maxlength="150" ng-model="account.name" autofocus>
                            </div>
                            <span class="error" ng-show="accountSetup.groupName.$dirty && accountSetup.groupName.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                @*<select id="instanceType" name="instanceType" title="Instance Type" placeholder="Select anyone" ng-model="account.instanceTypeId" ng-change="setInstanceCount(account.instanceTypeId)" class="search-query form-control" required>
                                    <option value="">Please Select Instance Type</option>
                                    <option value="1">Only Offline</option>
                                    <option value="2">Both Online and Offline</option>
                                    <option value="3">Only Online</option>
                                </select>*@
                                <select id="instanceType" name="instanceType" title="Instance Type" placeholder="Select anyone" ng-model="account.instanceTypeId" ng-change="setInstanceCount(account.instanceTypeId)" class="search-query form-control" required ng-options="x.domainValue as x.displayText for x in selectedInstanceType">
                                    <option value="">Please Select Instance Type</option>
                                </select>
                            </div>
                            <span class="error" ng-show="accountSetup.instanceTypeId.$dirty && accountSetup.instanceTypeId.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>                    

                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <img src="~/assets/images/branch.png" />
                                </span>
                                <input title="Instance Count" type="text" maxlength="3" id="noInstance" name="noInstance" placeholder="No of branches" class="search-query form-control" required ng-model="account.instanceCount" valid-number ng-disabled="account.instanceTypeId == '1'">
                            </div>
                            <span class="error" ng-show="accountSetup.noInstance.$dirty && accountSetup.noInstance.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <input type="text" id="regDate" name="regDate" required class="form-control" uib-datepicker-popup="{{format}}" placeholder="Registration Date" ng-model="account.registrationDate" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" my-date />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open1()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="error" ng-show="accountSetup.regDate.$dirty && accountSetup.regDate.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>                    
                </div>

                <div class='row'>
                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-phone"></span>
                                </span>
                                <input title="Mobile Number" maxlength="15" type="text" id="phone" name="phone" placeholder="Mobile" class="search-query form-control" required ng-model="account.phone" valid-number>
                            </div>
                            <span class="error" ng-show="accountSetup.phone.$dirty && accountSetup.phone.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class='form-group'>
                            <div class="input-group col-md-12">
                                @*<span class="input-group-addon front-addon">
                                    <img src="~/assets/images/subs.png" />
                                </span>*@
                                <select id="registerType" name="registerType" title="Subscription Type" placeholder="Select anyone" ng-model="account.registerType" ng-change="changeRegisterType()" class="search-query form-control" required>
                                    <option value="">Please Select</option>
                                    <option value="2">Live</option>
                                    <option value="3">Test</option>
                                    <option value="4">Trial</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group' ng-show="account.registerType==4">
                            <div class="input-group col-md-12 front-addon">
                                @*<span class="input-group-addon front-addon">
                                    <img src="~/assets/images/subs.png" />
                                </span>*@
                                <input title="Trial Start Date" type="text" maxlength="10" id="licenseStartDate" name="licenseStartDate" placeholder="Trial Start Date" class="form-control" ng-model="account.licenseStartDate" ng-required="account.registerType==4" uib-datepicker-popup="{{format}}" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date ng-change="checkLicenseDateValid()" />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open2()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='form-group' ng-show="account.registerType==4">
                            <div class="input-group col-md-12 front-addon">
                                @*<span class="input-group-addon front-addon">
                                    <img src="~/assets/images/subs.png" />
                                </span>*@
                                <input title="Trial End Date" type="text" maxlength="10" id="licenseEndDate" name="licenseEndDate" placeholder="Trial End Date" class="form-control" required ng-model="account.licenseEndDate" ng-required="account.registerType==4" uib-datepicker-popup="{{format}}" is-open="popup3.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" my-date ng-change="checkLicenseDateValid()" />
                                <span class="input-group-btn wrapper-date">
                                    <button type="button" class="btn btn-default btn1" ng-click="open3()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="error" ng-show="expiryInvalid">
                                Trial Start date should not be greater than Trial End Date!
                            </span>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-map-marker"></span>
                                </span>
                                <textarea title="Address" class="form-control" id="address" name="address" rows="3" Placeholder="Address [optional]" ng-model="account.address"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-6'>
                        <h3 style="margin:0;">  After Financial year </h3>
                      
                        <div class='form-group' style="margin-top:5px;margin-bottom:0px;">
                            <div class="input-group">

                                <input title="Continue" type="radio" value="false" ng-model="isBillNumberReset" name="resetstatus" id="noResetID" required />
                                <label for="noResetID">Do you like to continue ?</label>

                            </div>
                        </div>
                       
                        <div class='form-group'>
                            <div class="input-group">
                                <input title="Reset" type="radio" value="true" ng-model="isBillNumberReset" name="resetstatus" id="ResetId"  required/>
                                <label for="ResetId">Do you want to Reset ?</label>

                            </div>
                            <span>(Invoice number,GRN number ,Return Number,Cancellation number etc..)</span>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Pharmacy Admin Information</div>
            <div class="panel-body">
                <div class='row'>
                    <div class='col-sm-4'>
                        <div class='form-group' >
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input title="Name" type="text" id="name" name="name" placeholder="Name" class="search-query form-control" required ng-model="account.user.name">
                            </div>
                            <span class="error" ng-show="accountSetup.name.$dirty && accountSetup.name.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-phone"></span>
                                </span>
                                <input title="Mobile Number" maxlength="15" type="text" id="mobile" name="mobile" placeholder="Mobile" class="search-query form-control" required ng-model="account.user.mobile" valid-number>
                            </div>
                            <span class="error" ng-show="accountSetup.mobile.$dirty && accountSetup.mobile.$error.required">
                                Required!
                            </span>
                        </div>
                    </div>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon front-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input title="Email Id" type="email" name="email" id="email" placeholder="Email" class="search-query form-control" required ng-model="account.user.userId">
                                <span class="error" ng-show="accountSetup.email.$dirty && accountSetup.email.$invalid">
                                    <span ng-show="accountSetup.email.$error.required">Email is required.</span>
                                    <span ng-show="accountSetup.email.$error.email">Invalid email address.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer clearfix">
                @*<div class="pull-left">
                        No Records found
                    </div>*@
                <div class="pull-right">
                    
                    @*<button title="Create" class="btn btn-style pull-right" ng-disabled="accountSetup.$invalid || isProcessing || expiryInvalid || isBillNumberReset==''" ng-click="accountCreate()">Create</button>*@

                    <button title="Create" class="btn btn-style pull-right" ng-click="accountCreate()">Create</button>
                </div>
            </div>
        </div>
        <!-- Account Create Section - End -->
    </ng-form>


</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>

    <!-- Date Picker -->
    @*<script asp-append-version="true" src="~/lib/angular-animate/angular-animate.min.js"></script>
        <script asp-append-version="true" src="~/lib/angular-aria/angular-aria.min.js"></script>
        <link asp-append-version="true" href="~/lib/angular-material/angular-material.min.css" rel="stylesheet" />
        <script asp-append-version="true" src="~/lib/angular-material/angular-material.min.js"></script>*@

    <script asp-append-version="true" src="~/appscript/common/ui-bootstrap-tpls-1.0.0.min.js"></script>

    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.min.js"></script>
    <script asp-append-version="true" src="~/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>

    @*<script asp-append-version="true" src="~/assets/js/jquery.maskedinput.min.js"></script>*@
    <script asp-append-version="true" src="~/appscript/appscriptdatepicker.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/accountsetup/accountsetupservice.js"></script>
    <script asp-append-version="true" src="~/appscript/accountsetup/accountsetupcreatectrl.js"></script>
}
