@{
    ViewBag.Title = "Account List";
}

<div class="row" ng-app="hcue" ng-controller="accountSetupSearchCtrl" ng-cloak>

    <!-- Patient Search Section - start -->
    <div class="panel panel-default">
        <div class="panel-heading">Group Search</div>
        <div class="panel-body">
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input title="Group Name" type="text" placeholder="Group Name" class="search-query form-control" ng-model="search.name" ng-enter="accountSearch()" autofocus>
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" ng-click="accountSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class='col-sm-3'>
                    <div class='form-group'>
                        <div class="input-group">
                            <span class="input-group-addon front-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                            <input title="Phone Number" type="text" placeholder="Mobile" class="search-query form-control" ng-model="search.phone" ng-enter="accountSearch()">
                            <span class="input-group-btn">
                                <button title="Search" class="btn" type="button" ng-click="accountSearch()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left" ng-if="list.length == 0">
                No Records found
            </div>
            <div class="pull-right">
                <button title="Search" class="btn btn-style" ng-click="accountSearch()">Search</button>
            </div>
        </div>
    </div>
    <!-- Patient Search Section - End -->
    <!-- Patient Search Result Section - start -->

    <div class="panel panel-default">
        <div class="panel-body">
            <div class='row  marginLR-zero'>
                @*{{list}}*@
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" ng-show="true">
                    <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>No of Branches</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>Registered Date</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="account in list">
                            <td>{{account.name}}</td>
                            <td>{{account.instanceCount}}</td>
                            <td>{{account.phone}}</td>
                            <td>{{account.fullAddress}}</td>
                            <td>{{account.registrationDate | date:'dd/MM/yyyy'}}</td>
                            @*<td class="text-center"><span style="cursor: pointer;" title="Edit" ng-click="editGroup(account)" class="btn  btn-style text-center">Edit</span></td>*@
                            <td class="text-center"><a ng-href="/accountSetup/EditGroup?id={{account.id}}" style="cursor: pointer;" class="btn  btn-style text-center" title="Edit">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="false"> Testing</div>
            </div>
            @{ await Html.RenderPartialAsync("~/views/shared/_pagination.cshtml"); }
        </div>
    </div>
    <!-- Patient Search Result Section - End -->


</div>
@section scripts
{
    <script asp-append-version="true" src="~/assets/js/angular.min.js"></script>
    <script asp-append-version="true" src="~/appScript/common/angular-common.js"></script>


    <script asp-append-version="true" src="~/appscript/appscriptlist.js"></script>
    <script asp-append-version="true" src="~/appscript/model.js"></script>
    <script asp-append-version="true" src="~/appscript/accountsetup/accountsetupservice.js"></script>
    <script asp-append-version="true" src="~/appscript/common/pagerservcie.js"></script>
    <script asp-append-version="true" src="~/appscript/accountsetup/accountsetupsearchctrl.js"></script>
}


